{
  "name": "people",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "people:v1",
  "baseUrl": "https://people.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "View your complete date of birth"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's GSuite directory"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "View your email addresses"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "View your phone numbers"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        }
      }
    }
  },
  "version": "v1",
  "servicePath": "",
  "title": "People API",
  "description": "Provides access to information about profiles and contacts.",
  "canonicalName": "People Service",
  "kind": "discovery#restDescription",
  "rootUrl": "https://people.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "PhoneNumber": {
      "type": "object",
      "id": "PhoneNumber",
      "description": "A person's phone number.",
      "properties": {
        "canonicalForm": {
          "readOnly": true,
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "type": "string"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "PersonMetadata": {
      "properties": {
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ]
        },
        "linkedPeopleResourceNames": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of people linked to this resource."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. True if the person resource has been deleted. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) requests that include a sync token.",
          "readOnly": true
        },
        "sources": {
          "description": "The sources of data for the person.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "previousResourceNames": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Any former resource names this person has had. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL."
        }
      },
      "id": "PersonMetadata",
      "type": "object",
      "description": "The metadata about a person."
    },
    "UserDefined": {
      "id": "UserDefined",
      "type": "object",
      "properties": {
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "key": {
          "type": "string",
          "description": "The end user specified key of the user defined data."
        }
      },
      "description": "Arbitrary user data that is populated by the end users."
    },
    "ContactGroupMetadata": {
      "type": "object",
      "description": "The metadata about a contact group.",
      "id": "ContactGroupMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the group was last updated.",
          "type": "string",
          "readOnly": true
        },
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "Person": {
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "id": "Person",
      "type": "object",
      "properties": {
        "genders": {
          "type": "array",
          "description": "The person's genders. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Gender"
          }
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "residences": {
          "type": "array",
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "items": {
            "$ref": "Residence"
          }
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Biography"
          }
        },
        "sipAddresses": {
          "type": "array",
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "relationshipStatuses": {
          "items": {
            "$ref": "RelationshipStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses."
        },
        "imClients": {
          "items": {
            "$ref": "ImClient"
          },
          "description": "The person's instant messaging clients.",
          "type": "array"
        },
        "events": {
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "clientData": {
          "description": "The person's client data.",
          "items": {
            "$ref": "ClientData"
          },
          "type": "array"
        },
        "emailAddresses": {
          "description": "The person's email addresses.",
          "items": {
            "$ref": "EmailAddress"
          },
          "type": "array"
        },
        "ageRanges": {
          "description": "Output only. The person's age ranges.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "names": {
          "description": "The person's names. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills."
        },
        "coverPhotos": {
          "readOnly": true,
          "description": "Output only. The person's cover photos.",
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "relationshipInterests": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "birthdays": {
          "items": {
            "$ref": "Birthday"
          },
          "type": "array",
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "nicknames": {
          "type": "array",
          "description": "The person's nicknames.",
          "items": {
            "$ref": "Nickname"
          }
        },
        "occupations": {
          "type": "array",
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations."
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "description": "The person's locale preferences.",
          "type": "array"
        },
        "braggingRights": {
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          }
        },
        "addresses": {
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          },
          "type": "array"
        },
        "ageRange": {
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "type": "string"
        },
        "calendarUrls": {
          "items": {
            "$ref": "CalendarUrl"
          },
          "type": "array",
          "description": "The person's calendar URLs."
        },
        "relations": {
          "description": "The person's relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "memberships": {
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "photos": {
          "type": "array",
          "description": "Output only. The person's photos.",
          "items": {
            "$ref": "Photo"
          },
          "readOnly": true
        },
        "fileAses": {
          "description": "The person's file-ases.",
          "items": {
            "$ref": "FileAs"
          },
          "type": "array"
        },
        "taglines": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "type": "array",
          "items": {
            "$ref": "Tagline"
          },
          "readOnly": true
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "The person's locations."
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`.",
          "type": "string"
        },
        "interests": {
          "type": "array",
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests."
        },
        "urls": {
          "type": "array",
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs."
        },
        "userDefined": {
          "items": {
            "$ref": "UserDefined"
          },
          "description": "The person's user defined data.",
          "type": "array"
        },
        "phoneNumbers": {
          "type": "array",
          "description": "The person's phone numbers.",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "miscKeywords": {
          "type": "array",
          "items": {
            "$ref": "MiscKeyword"
          },
          "description": "The person's miscellaneous keywords."
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "description": "Output only. Metadata about the person.",
          "readOnly": true
        },
        "externalIds": {
          "type": "array",
          "description": "The person's external IDs.",
          "items": {
            "$ref": "ExternalId"
          }
        }
      }
    },
    "ContactGroupMembership": {
      "type": "object",
      "id": "ContactGroupMembership",
      "properties": {
        "contactGroupId": {
          "description": "Output only. The contact group ID for the contact group membership.",
          "readOnly": true,
          "type": "string"
        },
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        }
      },
      "description": "A Google contact group membership."
    },
    "Locale": {
      "id": "Locale",
      "description": "A person's locale preference.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year by itself or a year and month where the day is not significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. This can represent: * A full date, with non-zero year, month and day values * A month and day value, with a zero year, e.g. an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, e.g. a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`."
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the organization office the person works at."
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "startDate": {
          "description": "The start date when the person joined the organization.",
          "$ref": "Date"
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "phoneticName": {
          "type": "string",
          "description": "The phonetic name of the organization."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        }
      },
      "id": "Organization",
      "type": "object"
    },
    "UpdateContactGroupRequest": {
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "id": "UpdateContactGroupRequest",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        }
      },
      "type": "object"
    },
    "Birthday": {
      "properties": {
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        },
        "text": {
          "type": "string",
          "description": "A free-form string representing the user's birthday."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        }
      },
      "type": "object",
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to."
    },
    "AgeRangeType": {
      "type": "object",
      "properties": {
        "ageRange": {
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's age range.",
      "id": "AgeRangeType"
    },
    "CalendarUrl": {
      "properties": {
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        },
        "url": {
          "type": "string",
          "description": "The calendar URL."
        },
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "CalendarUrl",
      "description": "A person's calendar URL.",
      "type": "object"
    },
    "Url": {
      "properties": {
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Google+ application. * `other`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "type": "string",
          "description": "The URL."
        },
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Url",
      "description": "A person's associated URLs.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Occupation": {
      "description": "A person's occupation.",
      "properties": {
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Occupation"
    },
    "Source": {
      "type": "object",
      "description": "The source of a field.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[G Suite domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[G Suite domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "description": "The source type."
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source."
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        }
      },
      "id": "Source"
    },
    "Event": {
      "description": "An event related to the person.",
      "id": "Event",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        }
      }
    },
    "ClientData": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        },
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "type": "object",
      "id": "ClientData"
    },
    "BraggingRights": {
      "properties": {
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The bragging rights; for example, `climbed mount everest`."
        }
      },
      "type": "object",
      "id": "BraggingRights",
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights."
    },
    "Biography": {
      "properties": {
        "contentType": {
          "description": "The content type of the biography.",
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ]
        },
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The short biography."
        }
      },
      "id": "Biography",
      "type": "object",
      "description": "A person's short biography."
    },
    "ImClient": {
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "type": {
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "formattedProtocol": {
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        }
      },
      "id": "ImClient",
      "description": "A person's instant messaging client.",
      "type": "object"
    },
    "BatchGetContactGroupsResponse": {
      "id": "BatchGetContactGroupsResponse",
      "description": "The response to a batch get contact groups request.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses for each requested contact group resource.",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      },
      "type": "object"
    },
    "DomainMembership": {
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's G Suite domain."
        }
      },
      "description": "A G Suite Domain membership.",
      "id": "DomainMembership"
    },
    "FieldMetadata": {
      "id": "FieldMetadata",
      "type": "object",
      "properties": {
        "verified": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person."
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "primary": {
          "description": "True if the field is the primary field; false if the field is a secondary field.",
          "type": "boolean"
        }
      },
      "description": "Metadata about a field."
    },
    "UpdateContactPhotoRequest": {
      "id": "UpdateContactPhotoRequest",
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.CONTACT and ReadSourceType.PROFILE if not set.",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          }
        },
        "photoBytes": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw photo bytes"
        },
        "personFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        }
      },
      "type": "object"
    },
    "CoverPhoto": {
      "id": "CoverPhoto",
      "type": "object",
      "properties": {
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        },
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about."
    },
    "ListDirectoryPeopleResponse": {
      "id": "ListDirectoryPeopleResponse",
      "type": "object",
      "properties": {
        "people": {
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        }
      },
      "description": "The response to a request for the authenticated user's domain directory."
    },
    "UpdateContactPhotoResponse": {
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "description": "The response for updating a contact's photo.",
      "type": "object",
      "id": "UpdateContactPhotoResponse"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "The response to a request for the authenticated user's connections.",
      "properties": {
        "totalPeople": {
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "type": "integer",
          "format": "int32"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connections": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people that the requestor is connected to."
        }
      },
      "type": "object"
    },
    "Photo": {
      "id": "Photo",
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "type": "object",
      "properties": {
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        },
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        }
      }
    },
    "MiscKeyword": {
      "description": "A person's miscellaneous keyword.",
      "type": "object",
      "id": "MiscKeyword",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "description": "The miscellaneous keyword type."
        },
        "formattedType": {
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "ModifyContactGroupMembersResponse": {
      "properties": {
        "canNotRemoveLastContactGroupResourceNames": {
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "notFoundResourceNames": {
          "description": "The contact people resource names that were not found.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ModifyContactGroupMembersResponse",
      "description": "The response to a modify contact group members request."
    },
    "Membership": {
      "properties": {
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "readOnly": true,
          "description": "Output only. The domain membership.",
          "$ref": "DomainMembership"
        },
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        }
      },
      "id": "Membership",
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "type": "object"
    },
    "FileAs": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The file-as value"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the file-as."
        }
      },
      "id": "FileAs",
      "type": "object",
      "description": "The name that should be used to sort the person in a list."
    },
    "ListOtherContactsResponse": {
      "id": "ListOtherContactsResponse",
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "otherContacts": {
          "type": "array",
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "properties": {
        "readMask": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string",
          "format": "google-fieldmask"
        },
        "copyMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
        },
        "sources": {
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string"
          },
          "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.CONTACT and ReadSourceType.PROFILE if not set.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Interest": {
      "properties": {
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        }
      },
      "description": "One of the person's interests.",
      "id": "Interest",
      "type": "object"
    },
    "SipAddress": {
      "id": "SipAddress",
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "type": "object",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        }
      }
    },
    "ModifyContactGroupMembersRequest": {
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "id": "ModifyContactGroupMembersRequest",
      "properties": {
        "resourceNamesToRemove": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`.",
          "type": "array"
        },
        "resourceNamesToAdd": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ExternalId": {
      "type": "object",
      "description": "An identifier from an external entity related to the person.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the external ID."
        },
        "value": {
          "type": "string",
          "description": "The value of the external ID."
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`",
          "type": "string"
        }
      },
      "id": "ExternalId"
    },
    "GetPeopleResponse": {
      "description": "The response to a get request for a list of people by resource name.",
      "type": "object",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name."
        }
      },
      "id": "GetPeopleResponse"
    },
    "Skill": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The skill; for example, `underwater basket weaving`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        }
      },
      "id": "Skill",
      "description": "A skill that the person has."
    },
    "Tagline": {
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The tagline.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Tagline"
    },
    "Name": {
      "id": "Name",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "properties": {
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "displayNameLastFirst": {
          "readOnly": true,
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "unstructuredName": {
          "type": "string",
          "description": "The free form name value."
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "phoneticMiddleName": {
          "type": "string",
          "description": "The middle name(s) spelled as they sound."
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        }
      }
    },
    "ContactGroupResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        }
      },
      "description": "The response for a specific contact group.",
      "id": "ContactGroupResponse"
    },
    "Location": {
      "properties": {
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "floorSection": {
          "description": "The floor section in `floor_name`.",
          "type": "string"
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        },
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "floor": {
          "type": "string",
          "description": "The floor name or number."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A person's location."
    },
    "PersonResponse": {
      "properties": {
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "person": {
          "description": "The person.",
          "$ref": "Person"
        },
        "httpStatusCode": {
          "format": "int32",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "type": "integer"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
        }
      },
      "description": "The response for a single person",
      "id": "PersonResponse",
      "type": "object"
    },
    "Relation": {
      "type": "object",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        }
      },
      "description": "A person's relation to another person.",
      "id": "Relation"
    },
    "Address": {
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "properties": {
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "countryCode": {
          "type": "string",
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address."
        },
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the address."
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Address"
    },
    "RelationshipStatus": {
      "id": "RelationshipStatus",
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "type": "object",
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        }
      }
    },
    "SearchDirectoryPeopleResponse": {
      "id": "SearchDirectoryPeopleResponse",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "properties": {
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "people": {
          "type": "array",
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Gender": {
      "description": "A person's gender.",
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized."
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        },
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "addressMeAs": {
          "type": "string",
          "description": "The type of pronouns that should be used to address the person. The value can be custom or one of these predefined values: * `male` * `female` * `other`"
        }
      },
      "type": "object",
      "id": "Gender"
    },
    "ProfileMetadata": {
      "description": "The metadata about a profile.",
      "type": "object",
      "id": "ProfileMetadata",
      "properties": {
        "userTypes": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Google+ user.",
              "The user is a G Suite user."
            ],
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          },
          "type": "array",
          "description": "Output only. The user types."
        },
        "objectType": {
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "Output only. The profile object type.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ],
          "type": "string"
        }
      }
    },
    "CreateContactGroupRequest": {
      "id": "CreateContactGroupRequest",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        }
      },
      "description": "A request to create a new contact group.",
      "type": "object"
    },
    "Residence": {
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "id": "Residence",
      "properties": {
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the residence.",
          "$ref": "FieldMetadata"
        },
        "current": {
          "type": "boolean",
          "description": "True if the residence is the person's current residence; false if the residence is a past residence."
        }
      },
      "type": "object"
    },
    "ContactGroup": {
      "properties": {
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
        },
        "memberCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups."
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The contact group type.",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ]
        },
        "memberResourceNames": {
          "readOnly": true,
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is not populated for LIST requests and can only be updated through the [ModifyContactGroupMembers](/people/api/rest/v1/contactgroups/members/modify).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "ContactGroupMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the contact group."
        },
        "formattedName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name."
        }
      },
      "type": "object",
      "description": "A contact group.",
      "id": "ContactGroup"
    },
    "RelationshipInterest": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "id": "RelationshipInterest",
      "properties": {
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        },
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object"
    },
    "EmailAddress": {
      "description": "A person's email address.",
      "id": "EmailAddress",
      "type": "object",
      "properties": {
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "displayName": {
          "description": "The display name of the email.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        }
      }
    },
    "DeleteContactPhotoResponse": {
      "description": "The response for deleteing a contact's photo.",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "type": "object",
      "id": "DeleteContactPhotoResponse"
    },
    "ListContactGroupsResponse": {
      "description": "The response to a list contact groups request.",
      "id": "ListContactGroupsResponse",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items in the list without pagination."
        },
        "contactGroups": {
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "items": {
            "$ref": "ContactGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "Nickname": {
      "properties": {
        "type": {
          "description": "The type of the nickname.",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ]
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        }
      },
      "id": "Nickname",
      "description": "A person's nickname.",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "revision": "20200923",
  "documentationLink": "https://developers.google.com/people/",
  "basePath": "",
  "version_module": true,
  "resources": {
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "resourceName"
              ],
              "description": "Provides a list of the authenticated user's contacts. The request throws a 400 error if 'personFields' is not specified.",
              "path": "v1/{+resourceName}/connections",
              "parameters": {
                "sortOrder": {
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "type": "string"
                },
                "sources": {
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT."
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.CONTACT and ReadSourceType.PROFILE if not set.",
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                  ]
                },
                "requestMask.includeField": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
                },
                "syncToken": {
                  "description": "Optional. A sync token, received from a previous `ListConnections` call. Provide this to retrieve only the resources changed since the last request. Sync requests that specify `sync_token` have an additional rate limit. When syncing, all other parameters provided to `ListConnections` must match the call that provided the sync token.",
                  "location": "query",
                  "type": "string"
                },
                "requestSyncToken": {
                  "location": "query",
                  "description": "Optional. Whether the response should include `next_sync_token`, which can be used to get all changes since the last request. For subsequent sync requests use the `sync_token` param instead. Initial sync requests that specify `request_sync_token` have an additional rate limit.",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "format": "int32"
                },
                "personFields": {
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "resourceName": {
                  "pattern": "^people/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnections` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "flatPath": "v1/people/{peopleId}/connections",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "id": "people.people.connections.list",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ]
            }
          }
        }
      },
      "methods": {
        "listDirectoryPeople": {
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "httpMethod": "GET",
          "id": "people.people.listDirectoryPeople",
          "parameters": {
            "requestSyncToken": {
              "description": "Optional. Whether the response should include `next_sync_token`, which can be used to get all changes since the last request. For subsequent sync requests use the `sync_token` param instead.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A sync token, received from a previous `ListDirectoryPeople` call. Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `ListDirectoryPeople` must match the call that provided the sync token."
            },
            "pageSize": {
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "sources": {
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "location": "query",
              "repeated": true,
              "description": "Required. Directory sources to return.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "G Suite domain shared contact.",
                "G Suite domain profile."
              ]
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "mergeSources": {
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "location": "query",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListDirectoryPeople` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDirectoryPeople` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory.",
          "path": "v1/people:listDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "v1/people:listDirectoryPeople"
        },
        "searchDirectoryPeople": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "path": "v1/people:searchDirectoryPeople",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "flatPath": "v1/people:searchDirectoryPeople",
          "id": "people.people.searchDirectoryPeople",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "type": "integer"
            },
            "mergeSources": {
              "type": "string",
              "repeated": true,
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers."
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "query": {
              "type": "string",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "G Suite domain shared contact.",
                "G Suite domain profile."
              ],
              "type": "string",
              "description": "Required. Directory sources to return.",
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDirectoryPeople` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the call that provided the page token.",
              "type": "string"
            }
          }
        },
        "deleteContactPhoto": {
          "httpMethod": "DELETE",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^people/[^/]+$"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "repeated": true,
              "location": "query",
              "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.CONTACT and ReadSourceType.PROFILE if not set.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ]
            },
            "personFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "Delete a contact's photo.",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "id": "people.people.deleteContactPhoto"
        },
        "getBatchGet": {
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request throws a 400 error if 'personFields' is not specified.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameters": {
            "sources": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.CONTACT and ReadSourceType.PROFILE if not set.",
              "type": "string"
            },
            "requestMask.includeField": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            },
            "personFields": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "resourceNames": {
              "repeated": true,
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=\u003cname1\u003e&resourceNames=\u003cname2\u003e&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by [`people.connections.list`](/people/api/rest/v1/people.connections/list). You can include up to 50 resource names in one request.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/people:batchGet",
          "id": "people.people.getBatchGet",
          "parameterOrder": [],
          "flatPath": "v1/people:batchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          }
        },
        "createContact": {
          "id": "people.people.createContact",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/people:createContact",
          "response": {
            "$ref": "Person"
          },
          "description": "Create a new contact and return the person resource for that contact. The request throws a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names",
          "parameters": {
            "personFields": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query"
            },
            "sources": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.CONTACT and ReadSourceType.PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "location": "query",
              "repeated": true
            }
          },
          "flatPath": "v1/people:createContact",
          "request": {
            "$ref": "Person"
          }
        },
        "deleteContact": {
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}:deleteContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a contact person. Any non-contact data will not be deleted.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "id": "people.people.deleteContact",
          "parameters": {
            "resourceName": {
              "location": "path",
              "type": "string",
              "pattern": "^people/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the contact to delete."
            }
          },
          "httpMethod": "DELETE"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "response": {
            "$ref": "Person"
          },
          "flatPath": "v1/people/{peopleId}",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request throws a 400 error if 'personFields' is not specified.",
          "httpMethod": "GET",
          "id": "people.people.get",
          "parameters": {
            "personFields": {
              "type": "string",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask"
            },
            "sources": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to ReadSourceType.PROFILE and ReadSourceType.CONTACT if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ]
            },
            "requestMask.includeField": {
              "location": "query",
              "type": "string",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "format": "google-fieldmask"
            },
            "resourceName": {
              "location": "path",
              "type": "string",
[...]
