{
  "canonicalName": "Recommendations AI",
  "servicePath": "",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "description": "Note that we now highly recommend new customers to use Retail API, which incorporates the GA version of the Recommendations AI funtionalities. To enable Retail API, please visit https://console.cloud.google.com/apis/library/retail.googleapis.com. The Recommendations AI service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "ownerName": "Google",
  "protocol": "rest",
  "version_module": true,
  "version": "v1beta1",
  "revision": "20210319",
  "title": "Recommendations AI (Beta)",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/recommendations-ai/docs",
  "kind": "discovery#restDescription",
  "id": "recommendationengine:v1beta1",
  "baseUrl": "https://recommendationengine.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://recommendationengine.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "catalogs": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  },
                  "description": "Updates the catalog configuration.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}",
                  "request": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The fully qualified resource name of the catalog.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Indicates which fields in the provided 'catalog' to update. If not set, will only update the catalog_item_level_config field. Currently only fields that can be updated are catalog_item_level_config.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "recommendationengine.projects.locations.catalogs.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists all the catalog configurations associated with the project.",
                  "httpMethod": "GET",
                  "id": "recommendationengine.projects.locations.catalogs.list",
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/catalogs",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListCatalogs` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The account resource name with an associated location."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs"
                }
              },
              "resources": {
                "eventStores": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.get",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations/{operationsId}"
                        },
                        "list": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "The standard list page size."
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+name}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations"
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "collect": {
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.collect",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleApiHttpBody"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:collect",
                          "path": "v1beta1/{+parent}/userEvents:collect",
                          "httpMethod": "GET",
                          "parameters": {
                            "ets": {
                              "description": "Optional. The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                              "type": "string",
                              "location": "query",
                              "format": "int64"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "description": "Required. The parent eventStore name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "location": "path",
                              "type": "string"
                            },
                            "userEvent": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. URL encoded UserEvent proto."
                            },
                            "uri": {
                              "location": "query",
                              "description": "Optional. The url including cgi-parameters but excluding the hash fragment. The URL must be truncated to 1.5K bytes to conservatively be under the 2K bytes. This is often more useful than the referer url, because many browsers only send the domain for 3rd party requests.",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Recommendations AI JavaScript pixel. Users should not call this method directly."
                        },
                        "import": {
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.import",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:import",
                          "parameters": {
                            "parent": {
                              "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            }
                          },
                          "path": "v1beta1/{+parent}/userEvents:import",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest"
                          },
                          "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata."
                        },
                        "rejoin": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "path": "v1beta1/{+parent}/userEvents:rejoin",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:rejoin",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Full resource name of user event, such as \"projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store\".",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.rejoin",
                          "description": "Triggers a user event rejoin operation with latest catalog data. Events will not be annotated with detailed catalog information if catalog item is missing at the time the user event is ingested, and these events are stored as unjoined events with a limited usage on training and serving. This API can be used to trigger a 'join' operation on specified events with latest version of catalog items. It can also be used to correct events joined with wrong catalog items.",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest"
                          }
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.list",
                          "path": "v1beta1/{+parent}/userEvents",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "Optional. Filtering expression to specify restrictions over returned events. This is a sequence of terms, where each term applies some kind of a restriction to the returned user events. Use this expression to restrict results to a specific time range, or filter events by eventType. eg: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventsMissingCatalogItems eventTime\u003c\"2012-04-23T18:25:43.511Z\" eventType=search We expect only 3 types of fields: * eventTime: this can be specified a maximum of 2 times, once with a less than operator and once with a greater than operator. The eventTime restrict should result in one contiguous valid eventTime range. * eventType: only 1 eventType restriction can be specified. * eventsMissingCatalogItems: specififying this will restrict results to events for which catalog items were not found in the catalog. The default behavior is to return only those events for which catalog items were found. Some examples of valid filters expressions: * Example 1: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\" * Example 2: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = detail-page-view * Example 3: eventsMissingCatalogItems eventType = search eventTime \u003c \"2018-04-23T18:30:43.511Z\" * Example 4: eventTime \u003e \"2012-04-23T18:25:43.511Z\" * Example 5: eventType = search * Example 6: eventsMissingCatalogItems",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. The previous ListUserEventsResponse.next_page_token.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent eventStore resource name, such as \"projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store\".",
                              "required": true
                            }
                          },
                          "description": "Gets a list of user events within a time range, with potential filtering. The method does not list unjoined user events. Unjoined user event definition: when a user event is ingested from Recommendations AI User Event APIs, the catalog item included in the user event is connected with the current catalog. If a catalog item of the ingested event is not in the current catalog, it could lead to degraded model quality. This is called an unjoined event.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents"
                        },
                        "purge": {
                          "path": "v1beta1/{+parent}/userEvents:purge",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the event_store under which the events are created. The format is \"projects/${projectId}/locations/global/catalogs/${catalogId}/eventStores/${eventStoreId}\"",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.purge",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:purge",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "write": {
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+parent}/userEvents:write",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "required": true,
                              "description": "Required. The parent eventStore resource name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:write",
                          "description": "Writes a single user event.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.write"
                        }
                      }
                    },
                    "predictionApiKeyRegistrations": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Unregister an apiKey from using for predict method.",
                          "path": "v1beta1/{+name}",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.delete",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The API key to unregister including full resource path. \"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/predictionApiKeyRegistrations/\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/predictionApiKeyRegistrations/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations/{predictionApiKeyRegistrationsId}"
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource path. \"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "httpMethod": "POST",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.create",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
                          },
                          "description": "Register an API key for use with predict method."
                        },
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. The parent placement resource name such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            },
                            "pageToken": {
                              "description": "Optional. The previous `ListPredictionApiKeyRegistration.nextPageToken`.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. Maximum number of results to return per page. If unset, the service will choose a reasonable default."
                            }
                          },
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse"
                          },
                          "httpMethod": "GET",
                          "description": "List the registered apiKeys for use with predict method.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.list"
                        }
                      }
                    },
                    "placements": {
                      "methods": {
                        "predict": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/placements/{placementsId}:predict",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.placements.predict",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictRequest"
                          },
                          "description": "Makes a recommendation prediction. If using API Key based authentication, the API Key must be registered using the PredictionApiKeyRegistry service. [Learn more](https://cloud.google.com/recommendations-ai/docs/setting-up#register-key).",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}:predict",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "Required. Full resource name of the format: {name=projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/placements/*} The id of the recommendation engine placement. This id is used to identify the set of models that will be used to make the prediction. We currently support three placements with the following IDs by default: * `shopping_cart`: Predicts items frequently bought together with one or more catalog items in the same shopping session. Commonly displayed after `add-to-cart` events, on product detail pages, or on the shopping cart page. * `home_page`: Predicts the next product that a user will most likely engage with or purchase based on the shopping or viewing history of the specified `userId` or `visitorId`. For example - Recommendations for you. * `product_detail`: Predicts the next product that a user will most likely engage with or purchase. The prediction is based on the shopping or viewing history of the specified `userId` or `visitorId` and its relevance to a specified `CatalogItem`. Typically used on product detail pages. For example - More items like this. * `recently_viewed_default`: Returns up to 75 items recently viewed by the specified `userId` or `visitorId`, most recent ones first. Returns nothing if neither of them has viewed any items yet. For example - Recently viewed. The full list of available placements can be seen at https://console.cloud.google.com/recommendation/datafeeds/default_catalog/dashboard",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/placements/[^/]+$",
                              "location": "path"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "catalogItems": {
                  "methods": {
                    "patch": {
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Indicates which fields in the provided 'item' to update. If not set, will by default update all fields.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a catalog item. Partial updating is supported. Non-existing items will be created.",
                      "path": "v1beta1/{+name}"
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "location": "path",
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogitems/some_catalog_item_id\".",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Gets a specific catalog item.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.get",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "path": "v1beta1/{+parent}/catalogItems",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The previous ListCatalogItemsResponse.next_page_token.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent catalog resource name, such as \"projects/*/locations/global/catalogs/default_catalog\".",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Optional. A filter to apply on the list results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Gets a list of catalog items."
                    },
                    "import": {
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog\" If no updateMask is specified, requires catalogItems.create permission. If updateMask is specified, requires catalogItems.update permission."
                        }
                      },
                      "path": "v1beta1/{+parent}/catalogItems:import",
                      "description": "Bulk import of multiple catalog items. Request processing may be synchronous. No partial updating supported. Non-existing items will be created. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully updated.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems:import",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.create",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "description": "Creates a catalog item.",
                      "path": "v1beta1/{+parent}/catalogItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent catalog resource name, such as \"projects/*/locations/global/catalogs/default_catalog\"."
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a catalog item.",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.delete"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.operations.get",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.operations.list",
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}/operations",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations",
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "name": "recommendationengine",
  "rootUrl": "https://recommendationengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsResponse": {
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of user events that were joined with latest catalog items."
        }
      },
      "description": "Response message for RejoinUserEvents method.",
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsResponse",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata": {
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationName": {
          "description": "The ID of the request / operation.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest": {
      "type": "object",
      "description": "Request message for Import methods.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Optional. The desired location of errors incurred during the Import."
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. Indicates which fields in the provided imported 'items' to update. If not set, will by default update all fields."
        },
        "requestId": {
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency and used for request deduplication. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse": {
      "type": "object",
      "properties": {
        "predictionApiKeyRegistrations": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
          },
          "description": "The list of registered API keys.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, pass the token to the next request's `ListPredictionApiKeysRegistrationsRequest.pageToken`."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse",
      "description": "Response message for the `ListPredictionApiKeyRegistrations`."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy": {
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy",
      "type": "object",
      "description": "Category represents catalog item category hierarchy.",
      "properties": {
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Catalog item categories. Each category should be a UTF-8 encoded string with a length limit of 2 KiB. Note that the order in the list denotes the specificity (from least to most specific)."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1PurchaseTransaction": {
      "description": "A transaction represents the entire purchase transaction.",
      "type": "object",
      "properties": {
        "revenue": {
          "type": "number",
          "format": "float",
          "description": "Required. Total revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations. This field is not required if the event type is `refund`."
        },
        "costs": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "Optional. All the costs associated with the product. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs. Total product cost such that profit = revenue - (sum(taxes) + sum(costs)) If product_cost is not set, then profit = revenue - tax - shipping - sum(CatalogItem.costs). If CatalogItem.cost is not specified for one of the items, CatalogItem.cost based profit *cannot* be calculated for this Transaction."
        },
        "id": {
          "type": "string",
          "description": "Optional. The transaction ID with a length limit of 128 bytes."
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code. This field is not required if the event type is `refund`."
        },
        "taxes": {
          "description": "Optional. All the taxes associated with the transaction.",
          "type": "object",
          "additionalProperties": {
            "format": "float",
            "type": "number"
          }
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction"
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest": {
      "type": "object",
      "description": "Request message for the ImportUserEvents request.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency for expensive long running operations. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response. Note that this field must not be set if the desired input config is catalog_inline_source."
        },
        "errorsConfig": {
          "description": "Optional. The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest"
    },
    "GoogleCloudRecommendationengineV1alphaTuningResponse": {
      "type": "object",
      "properties": {},
      "description": "Response associated with a tune operation.",
      "id": "GoogleCloudRecommendationengineV1alphaTuningResponse"
    },
    "GoogleCloudRecommendationengineV1beta1EventDetail": {
      "id": "GoogleCloudRecommendationengineV1beta1EventDetail",
      "properties": {
        "recommendationToken": {
          "description": "Optional. Recommendation token included in the recommendation prediction response. This field enables accurate attribution of recommendation model performance. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased item. If user clicks on product K in the recommendation results, pass the `PredictResponse.recommendationToken` property as a url parameter to product K's page. When recording events on product K's page, log the PredictResponse.recommendation_token to this field. Optional, but highly encouraged for user events that are the result of a recommendation prediction query.",
          "type": "string"
        },
        "pageViewId": {
          "type": "string",
          "description": "Optional. A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. This `pageViewId` will be automatically generated if using the JavaScript pixel."
        },
        "uri": {
          "description": "Optional. Complete url (window.location.href) of the user's current page. When using the JavaScript pixel, this value is filled in automatically. Maximum length 5KB.",
          "type": "string"
        },
        "experimentIds": {
          "description": "Optional. A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Recommendation Engine system, using different recommendation models).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventAttributes": {
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap",
          "description": "Optional. Extra user event features to include in the recommendation model. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc."
        },
        "referrerUri": {
          "description": "Optional. The referrer url of the current page. When using the JavaScript pixel, this value is filled in automatically.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User event details shared by all recommendation types."
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse": {
      "type": "object",
      "properties": {
        "importSummary": {
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig",
      "properties": {
        "predictItemLevel": {
          "description": "Optional. Level of the catalog at which predictions are made. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details.",
          "type": "string",
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ]
        },
        "eventItemLevel": {
          "description": "Optional. Level of the catalog at which events are uploaded. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details.",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ]
        }
      },
      "description": "Configures the catalog level that users send events to, and the level at which predictions are made."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleCloudRecommendationengineV1beta1UserEventImportSummary": {
      "properties": {
        "joinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
      "type": "object",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse": {
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse",
      "description": "Response of the ImportCatalogItemsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest": {
      "type": "object",
      "properties": {
        "predictionApiKeyRegistration": {
          "description": "Required. The prediction API key registration.",
          "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest",
      "description": "Request message for the `CreatePredictionApiKeyRegistration` method."
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult": {
      "description": "PredictionResult represents the recommendation prediction results.",
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult",
      "properties": {
        "id": {
          "description": "ID of the recommended catalog item",
          "type": "string"
        },
        "itemMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional item metadata / annotations. Possible values: * `catalogItem`: JSON representation of the catalogItem. Will be set if `returnCatalogItem` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnItemScore` is set to true in `PredictRequest.params`."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse": {
      "properties": {
        "userEventsSample": {
          "description": "A sampling of events deleted (or will be deleted) depending on the `force` property in the request. Max of 500 items will be returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          }
        },
        "purgedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events purged as a result of the operation."
        }
      },
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse"
    },
    "GoogleCloudRecommendationengineV1beta1PredictRequest": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PredictRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of results to return per page. Set this property to the number of prediction results required. If zero, the service will choose a reasonable default."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter for restricting prediction results. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to items that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1 KiB. * filterOutOfStockItems. Restricts predictions to items that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular items to be returned instead, set `strictFiltering` to false in `PredictRequest.params`."
        },
        "dryRun": {
          "description": "Optional. Use dryRun mode for this prediction query. If set to true, a dummy model will be used that returns arbitrary catalog items. Note that the dryRun mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        },
        "pageToken": {
          "description": "Optional. The previous PredictResponse.next_page_token.",
          "type": "string"
        },
        "params": {
          "description": "Optional. Additional domain specific parameters for the predictions. Allowed values: * `returnCatalogItem`: Boolean. If set to true, the associated catalogItem object will be returned in the `PredictResponse.PredictionResult.itemMetadata` object in the method response. * `returnItemScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned item will be set in the `metadata` field in the prediction response. The given 'score' indicates the probability of an item being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular items instead of empty if your filter blocks all prediction results.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels for the predict request. * Label keys can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * Non-zero label values can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * No more than 64 labels can be associated with a given request. See https://goo.gl/xmQnxf for more information on and examples of labels."
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
        }
      },
      "description": "Request message for Predict method."
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange": {
      "type": "object",
      "description": "Product price range when there are a range of prices for different variations of the same product.",
      "properties": {
        "min": {
          "description": "Required. The minimum product price.",
          "type": "number",
          "format": "float"
        },
        "max": {
          "format": "float",
          "description": "Required. The maximum product price.",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange"
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse": {
      "description": "Response message for TriggerCatalogRejoin method.",
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "description": "Number of user events that were joined with latest catalog items.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponse": {
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponse",
      "properties": {
        "recommendationToken": {
          "description": "A unique recommendation token. This should be included in the user event logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
          },
          "description": "A list of recommended items. The order represents the ranking (from the most relevant item to the least).",
          "type": "array"
        },
        "dryRun": {
          "description": "True if the dryRun property was set in the request.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Additional domain specific prediction response metadata.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's PredictRequest.page_token."
        },
        "itemsMissingInCatalog": {
          "items": {
            "type": "string"
          },
          "description": "IDs of items in the request that were missing from the catalog.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for predict method."
    },
    "GoogleCloudRecommendationengineV1beta1Image": {
      "id": "GoogleCloudRecommendationengineV1beta1Image",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. URL of the image with a length limit of 5 KiB.",
          "type": "string"
        },
        "width": {
          "description": "Optional. Width of the image in number of pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "Optional. Height of the image in number of pixels.",
          "type": "integer"
        }
      },
      "description": "Catalog item thumbnail/detail image."
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItem": {
      "description": "CatalogItem captures all metadata information of items to be recommended.",
      "type": "object",
      "properties": {
        "productMetadata": {
          "description": "Optional. Metadata specific to retail products.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem"
        },
        "languageCode": {
          "description": "Optional. Deprecated. The model automatically detects the text language. Your catalog can include text in different languages, but duplicating catalog items to provide text in multiple languages can result in degraded model performance.",
          "type": "string"
        },
        "title": {
          "description": "Required. Catalog item title. UTF-8 encoded string with a length limit of 1 KiB.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Optional. Filtering tags associated with the catalog item. Each tag should be a UTF-8 encoded string with a length limit of 1 KiB. This tag can be used for filtering recommendation results by passing the tag as part of the predict request filter.",
          "items": {
            "type": "string"
          }
        },
        "itemGroupId": {
          "description": "Optional. Variant group identifier for prediction results. UTF-8 encoded string with a length limit of 128 bytes. This field must be enabled before it can be used. [Learn more](/recommendations-ai/docs/catalog#item-group-id).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Catalog item description. UTF-8 encoded string with a length limit of 5 KiB.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Catalog item identifier. UTF-8 encoded string with a length limit of 128 bytes. This id must be unique among all catalog items within the same catalog. It should also be used when logging user events in order for the user events to be joined with the Catalog."
        },
        "categoryHierarchies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          },
          "description": "Required. Catalog item categories. This field is repeated for supporting one catalog item belonging to several parallel category hierarchies. For example, if a shoes product belongs to both [\"Shoes & Accessories\" -\u003e \"Shoes\"] and [\"Sports & Fitness\" -\u003e \"Athletic Clothing\" -\u003e \"Shoes\"], it could be represented as: \"categoryHierarchies\": [ { \"categories\": [\"Shoes & Accessories\", \"Shoes\"]}, { \"categories\": [\"Sports & Fitness\", \"Athletic Clothing\", \"Shoes\"] } ]"
        },
        "itemAttributes": {
          "description": "Optional. Highly encouraged. Extra catalog item attributes to be included in the recommendation model. For example, for retail products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the item attributes here.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItem"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. The default value is false. Override this flag to true to actually perform the purge. If the field is not set to true, a sampling of events to be deleted will be returned.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Required. The filter string to specify the events to be deleted. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: UserEvent.eventType field of type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: field of type string. Specifying this will delete all events associated with a visitor. * `userId`: field of type string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND."
        }
      },
      "description": "Request message for PurgeUserEvents method.",
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest"
    },
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest",
      "description": "Request message for CatalogRejoin method.",
      "properties": {
        "userEventRejoinScope": {
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ],
          "enumDescriptions": [
            "Rejoin catalogs with all events including both joined events and unjoined events.",
            "Only rejoin catalogs with joined events.",
            "Only rejoin catalogs with unjoined events."
          ],
          "type": "string",
          "description": "Required. The type of the catalog rejoin to define the scope and range of the user events to be rejoined with catalog items."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1BigQuerySource": {
      "id": "GoogleCloudRecommendationengineV1beta1BigQuerySource",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from."
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Optional. Intermediate Cloud Storage directory used for the import. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "projectId": {
          "type": "string",
          "description": "Optional. The project id (can be project # or id) that the BigQuery source is in. If not specified, inherits the project id from the parent request."
        },
        "dataSchema": {
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user event imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en",
          "type": "string"
        }
      },
      "type": "object",
      "description": "BigQuery source import data from."
    },
    "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListUserEvents.page_token."
        },
        "userEvents": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "description": "The user events.",
          "type": "array"
        }
      },
      "description": "Response message for ListUserEvents method.",
      "id": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse"
    },
    "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList": {
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList",
      "description": "A list of float features.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Float feature value.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMap": {
      "properties": {
        "numericalFeatures": {
          "description": "Numerical features. Some examples would be the height/weight of a product, or age of a customer. Feature names must be UTF-8 encoded strings. For example: `{ \"lengths_cm\": {\"value\":[2.3, 15.4]}, \"heights_cm\": {\"value\":[8.1, 6.4]} }`",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList"
          }
        },
        "categoricalFeatures": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList"
          },
          "description": "Categorical features that can take on one of a limited number of possible values. Some examples would be the brand/maker of a product, or country of a customer. Feature names and values must be UTF-8 encoded strings. For example: `{ \"colors\": {\"value\": [\"yellow\", \"green\"]}, \"sizes\": {\"value\":[\"S\", \"M\"]}`",
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMap",
      "description": "FeatureMap represents extra features that customers want to include in the recommendation model for catalogs/user events as categorical/numerical features.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapStringList": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList",
      "properties": {
        "value": {
          "type": "array",
          "description": "String feature value with a length limit of 128 bytes.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of string features."
    },
    "GoogleCloudRecommendationengineV1beta1ImportMetadata": {
      "id": "GoogleCloudRecommendationengineV1beta1ImportMetadata",
      "properties": {
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request.",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "operationName": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItem": {
      "description": "ProductCatalogItem captures item metadata specific to retail products.",
      "type": "object",
      "properties": {
        "images": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Image"
          },
          "description": "Optional. Product images for the catalog item.",
          "type": "array"
        },
        "costs": {
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "Optional. A map to pass the costs associated with the product. For example: {\"manufacturing\": 45.5} The profit of selling this item is computed like so: * If 'exactPrice' is provided, profit = displayPrice - sum(costs) * If 'priceRange' is provided, profit = minPrice - sum(costs)",
          "type": "object"
        },
        "priceRange": {
          "description": "Optional. The product price range.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange"
        },
        "exactPrice": {
          "description": "Optional. The exact product price.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice"
        },
        "stockState": {
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ],
          "type": "string",
          "description": "Optional. Online stock state of the catalog item. Default is `IN_STOCK`.",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ]
        },
        "availableQuantity": {
          "type": "string",
          "description": "Optional. The available quantity of the item.",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. Only required if the price is set. Currency code for price/costs. Use three-character ISO-4217 code."
        },
        "canonicalProductUri": {
          "description": "Optional. Canonical URL directly linking to the item detail page with a length limit of 5 KiB..",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem"
    },
    "GoogleCloudRecommendationengineV1beta1UserEvent": {
      "type": "object",
      "description": "UserEvent captures all metadata information recommendation engine needs to know about how end users interact with customers' website.",
      "properties": {
        "productEventDetail": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductEventDetail",
          "description": "Optional. Retail product specific user event metadata. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `category-page-view` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` * `search` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_event_detail' should be set for this unless the shopping cart is empty. This field is not allowed for the following event types: * `home-page-view`"
        },
        "eventTime": {
          "description": "Optional. Only required for ImportUserEvents method. Timestamp of user event created.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventSource": {
          "type": "string",
          "description": "Optional. This field should *not* be set when using JavaScript pixel or the Recommendations AI Tag. Defaults to `EVENT_SOURCE_UNSPECIFIED`.",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "AUTOML",
            "ECOMMERCE",
            "BATCH_UPLOAD"
          ],
          "enumDescriptions": [
            "Unspecified event source.",
            "The event is ingested via a javascript pixel or Recommendations AI Tag through automl datalayer or JS Macros.",
            "The event is ingested via Recommendations AI Tag through Enhanced Ecommerce datalayer.",
            "The event is ingested via Import user events API."
          ]
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: * `add-to-cart` Products being added to cart. * `add-to-list` Items being added to a list (shopping list, favorites etc). * `category-page-view` Special pages such as sale or promotion pages viewed. * `checkout-start` User starting a checkout process. * `detail-page-view` Products detail page viewed. * `home-page-view` Homepage viewed. * `page-visit` Generic page visits not included in the event types above. * `purchase-complete` User finishing a purchase. * `refund` Purchased items being refunded or returned. * `remove-from-cart` Products being removed from cart. * `remove-from-list` Items being removed from a list. * `search` Product search. * `shopping-cart-page-view` User viewing a shopping cart. * `impression` List of items displayed. Used by Google Tag Manager."
        },
        "userInfo": {
          "description": "Required. User information.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserInfo"
        },
        "eventDetail": {
          "description": "Optional. User event detailed information common across different recommendation types.",
          "$ref": "GoogleCloudRecommendationengineV1beta1EventDetail"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEvent"
    },
    "GoogleCloudRecommendationengineV1beta1ProductEventDetail": {
      "properties": {
        "listId": {
          "type": "string",
          "description": "Required for `add-to-list` and `remove-from-list` events. The id or name of the list that the item is being added to or removed from. Other event types should not set this field."
        },
        "searchQuery": {
          "type": "string",
          "description": "At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. The user's search query as UTF-8 encoded text with a length limit of 5 KiB."
        },
        "pageCategories": {
          "type": "array",
          "description": "Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. The categories associated with a category page. Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: categories : [\"Sales\", \"2017 Black Friday Deals\"].",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          }
        },
        "cartId": {
          "type": "string",
          "description": "Optional. The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `remove-from-cart`, `checkout-start`, `purchase-complete`, or `shopping-cart-page-view` events."
        },
        "purchaseTransaction": {
          "$ref": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
          "description": "Optional. A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Optional for `checkout-start` events. Other event types should not set this field."
        },
        "productDetails": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1ProductDetail"
          },
          "description": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_details' should be set for this unless the shopping cart is empty. * `search` (highly encouraged) In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new SEARCH event with different product_details is desired. The end user may have not finished broswing the whole page yet. This field is not allowed for the following event types: * `category-page-view` * `home-page-view`",
          "type": "array"
        }
      },
      "type": "object",
      "description": "ProductEventDetail captures user event information specific to retail products.",
      "id": "GoogleCloudRecommendationengineV1beta1ProductEventDetail"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice": {
      "type": "object",
      "properties": {
        "displayPrice": {
          "type": "number",
          "description": "Optional. Display price of the product.",
          "format": "float"
        },
[...]
