{
  "version_module": true,
  "basePath": "",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "description": "The Firebase Hosting REST API enables programmatic and customizable deployments to your Firebase-hosted sites. Use this REST API to deploy new or updated hosting configurations and content files.",
  "title": "Firebase Hosting API",
  "canonicalName": "Firebase Hosting",
  "revision": "20200914",
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "batchPath": "batch",
  "name": "firebasehosting",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "sites": {
      "resources": {
        "versions": {
          "methods": {
            "create": {
              "parameters": {
                "versionId": {
                  "location": "query",
                  "type": "string",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent to create the version for, in the format: sites/ site-name",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "sizeBytes": {
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "httpMethod": "POST",
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.versions.create",
              "description": "Creates a new version for a site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "clone": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/versions:clone",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The target site where the cloned version will reside, in the format: `sites/{site}`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.clone",
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "description": "Creates a new version on the target site using the content of the specified version.",
              "response": {
                "$ref": "Operation"
              }
            },
            "populateFiles": {
              "id": "firebasehosting.sites.versions.populateFiles",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "description": "Adds content files to a version. Each file must be under 2 GB.",
              "path": "v1beta1/{+parent}:populateFiles",
              "parameters": {
                "parent": {
                  "description": "Required. The version to add files to, in the format: sites/site-name /versions/versionID",
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified version.",
              "id": "firebasehosting.sites.versions.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "description": "Required. The name of the version to be deleted, in the format: sites/ site-name/versions/versionID",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "firebasehosting.sites.versions.list",
              "description": "Lists the versions that have been created on the specified site. Will include filtering in the future.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 versions will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter string used to return a subset of versions in the response. Currently supported fields for filtering are: name, status, and create_time. Filter processing will be implemented in accordance with go/filtering."
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The parent for which to list files, in the format: sites/site-name",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              }
            },
            "patch": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Version"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.versions.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "description": "The unique identifier for a version, in the format: sites/site-name /versions/versionID This name is provided in the response body when you call the [`CreateVersion`](../sites.versions/create) endpoint."
                }
              },
              "description": "Updates the specified metadata for a version. Note that this method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The only valid transition for a version is currently from a `CREATED` status to a `FINALIZED` status. Use [`DeleteVersion`](../sites.versions/delete) to set the status of a version to `DELETED`."
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "id": "firebasehosting.sites.versions.files.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/files",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided. This will be the encoded version of a firebase.hosting.proto.metadata.ListFilesPageToken.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent to list files for, in the format: sites/site-name /versions/versionID",
                      "type": "string"
                    },
                    "status": {
                      "description": "The type of files in the version that should be listed.",
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The page size to return. Defaults to 1000.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files"
                }
              }
            }
          }
        },
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "description": "Creates a new release which makes the content of the specified version actively display on the appropriate URL(s).",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "id": "firebasehosting.sites.channels.releases.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "type": "string",
                      "description": "Required. The site that the release belongs to, in the format: sites/ site-name",
                      "required": true
                    },
                    "versionName": {
                      "description": "The unique identifier for a version, in the format: /sites/site-name /versions/versionID The site-name in this version identifier must match the site-name in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "id": "firebasehosting.sites.channels.releases.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent for which to list files, in the format: sites/site-name",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The page size to return. Defaults to 100.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "description": "Lists the releases that have been created on the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "description": "Creates a new channel in the specified site.",
              "request": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "channelId": {
                  "location": "query",
                  "description": "Required. Immutable. A unique id within the site to identify the channel.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The site in which this channel should be created.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                }
              },
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "POST",
              "id": "firebasehosting.sites.channels.create"
            },
            "list": {
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "id": "firebasehosting.sites.channels.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 channels will be returned. The maximum value is 100; valuupdateses above 100 will be coerced to 100",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The site from which to list channels.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Lists the channels for the specified site. All sites have a default \"live\" channel.",
              "path": "v1beta1/{+parent}/channels",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels"
            },
            "get": {
              "description": "Retrieves information for the specified channel of a site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.channels.get",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully-qualified identifier for the channel.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "description": "Updates information for the specified channel of a site. This method will implicitly create a channel if it doesn't exist.",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.channels.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "The fully-qualified identifier of the Channel.",
                  "location": "path"
                }
              }
            },
            "delete": {
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "description": "Deletes a channel of a site. The `live` channel cannot be deleted.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully-qualified identifier for the site.",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "id": "firebasehosting.sites.channels.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "domains": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.domains.get",
              "description": "Gets a domain mapping on the specified site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Domain"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string"
                }
              }
            },
            "update": {
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.domains.update",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "type": "string",
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "Domain"
              },
              "request": {
                "$ref": "Domain"
              },
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "id": "firebasehosting.sites.domains.delete",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the domain association to delete.",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Deletes the existing domain mapping on the specified site."
            },
            "list": {
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "path": "v1beta1/{+parent}/domains",
              "description": "Lists the domains for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The page size to return. Defaults to 50.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token from a previous request, if provided."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.domains.list"
            },
            "create": {
              "path": "v1beta1/{+parent}/domains",
              "request": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "id": "firebasehosting.sites.domains.create",
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a domain mapping on the specified site."
            }
          }
        },
        "releases": {
          "methods": {
            "create": {
              "parameters": {
                "versionName": {
                  "location": "query",
                  "type": "string",
                  "description": "The unique identifier for a version, in the format: /sites/site-name /versions/versionID The site-name in this version identifier must match the site-name in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                },
                "parent": {
                  "description": "Required. The site that the release belongs to, in the format: sites/ site-name",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "Release"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/releases",
              "description": "Creates a new release which makes the content of the specified version actively display on the appropriate URL(s).",
              "id": "firebasehosting.sites.releases.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Release"
              }
            },
            "list": {
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent for which to list files, in the format: sites/site-name",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The page size to return. Defaults to 100.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "description": "Lists the releases that have been created on the specified site.",
              "path": "v1beta1/{+parent}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "id": "firebasehosting.sites.releases.list"
            }
          }
        }
      },
      "methods": {
        "getConfig": {
          "httpMethod": "GET",
          "id": "firebasehosting.sites.getConfig",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "description": "Gets the Hosting metadata for a specific site.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^sites/[^/]+/config$",
              "type": "string",
              "required": true,
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
            }
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "SiteConfig"
          }
        },
        "updateConfig": {
          "response": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.updateConfig",
          "parameterOrder": [
            "name"
          ],
          "description": "Sets the Hosting metadata for a specific site.",
          "path": "v1beta1/{+name}",
          "parameters": {
            "updateMask": {
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^sites/[^/]+/config$",
              "required": true,
              "type": "string",
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteConfig"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config"
        }
      }
    },
    "projects": {
      "resources": {
        "sites": {
          "resources": {
            "versions": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "description": "Updates the specified metadata for a version. Note that this method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The only valid transition for a version is currently from a `CREATED` status to a `FINALIZED` status. Use [`DeleteVersion`](../sites.versions/delete) to set the status of a version to `DELETED`.",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The unique identifier for a version, in the format: sites/site-name /versions/versionID This name is provided in the response body when you call the [`CreateVersion`](../sites.versions/create) endpoint.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  },
                  "request": {
                    "$ref": "Version"
                  }
                },
                "populateFiles": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "description": "Adds content files to a version. Each file must be under 2 GB.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "Required. The version to add files to, in the format: sites/site-name /versions/versionID",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  }
                },
                "list": {
                  "description": "Lists the versions that have been created on the specified site. Will include filtering in the future.",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/versions",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The parent for which to list files, in the format: sites/site-name",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter string used to return a subset of versions in the response. Currently supported fields for filtering are: name, status, and create_time. Filter processing will be implemented in accordance with go/filtering.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token from a previous request, if provided.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 versions will be returned. The maximum value is 100; values above 100 will be coerced to 100"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                },
                "create": {
                  "response": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+parent}/versions",
                  "description": "Creates a new version for a site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.versions.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the version for, in the format: sites/ site-name",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "string",
                      "format": "int64",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query"
                    },
                    "versionId": {
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "description": "Deletes the specified version.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the version to be deleted, in the format: sites/ site-name/versions/versionID"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firebasehosting.projects.sites.versions.delete"
                },
                "clone": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new version on the target site using the content of the specified version.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The target site where the cloned version will reside, in the format: `sites/{site}`"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "path": "v1beta1/{+parent}/versions:clone"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/files",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The page size to return. Defaults to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "status": {
                          "location": "query",
                          "type": "string",
                          "description": "The type of files in the version that should be listed.",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ]
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "description": "Required. The parent to list files for, in the format: sites/site-name /versions/versionID",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "The next_page_token from a previous request, if provided. This will be the encoded version of a firebase.hosting.proto.metadata.ListFilesPageToken.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "description": "Lists the remaining files to be uploaded for the specified version."
                    }
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "id": "firebasehosting.projects.sites.domains.list",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided."
                    },
                    "pageSize": {
                      "description": "The page size to return. Defaults to 50.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the domains for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+parent}/domains"
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the domain association to delete.",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "request": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "path": "v1beta1/{+parent}/domains",
                  "id": "firebasehosting.projects.sites.domains.create"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the domain configuration to get.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "GET",
                  "description": "Gets a domain mapping on the specified site.",
                  "response": {
                    "$ref": "Domain"
                  }
                },
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "httpMethod": "PUT",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "releases": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Release"
                  },
                  "description": "Creates a new release which makes the content of the specified version actively display on the appropriate URL(s).",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.create",
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "versionName": {
                      "location": "query",
                      "description": "The unique identifier for a version, in the format: /sites/site-name /versions/versionID The site-name in this version identifier must match the site-name in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The site that the release belongs to, in the format: sites/ site-name",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/releases"
                },
                "list": {
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token from a previous request, if provided.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent for which to list files, in the format: sites/site-name",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The page size to return. Defaults to 100.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "description": "Lists the releases that have been created on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.releases.list"
                }
              }
            },
            "channels": {
              "resources": {
                "releases": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Release"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "description": "Creates a new release which makes the content of the specified version actively display on the appropriate URL(s).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Release"
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "parameters": {
                        "versionName": {
                          "description": "The unique identifier for a version, in the format: /sites/site-name /versions/versionID The site-name in this version identifier must match the site-name in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The site that the release belongs to, in the format: sites/ site-name",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                        }
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.create"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/releases",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The page size to return. Defaults to 100.",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent for which to list files, in the format: sites/site-name"
                        },
                        "pageToken": {
                          "description": "The next_page_token from a previous request, if provided.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "description": "Lists the releases that have been created on the specified site.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.get",
                  "path": "v1beta1/{+name}",
                  "description": "Retrieves information for the specified channel of a site.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The fully-qualified identifier for the channel.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "firebasehosting.projects.sites.channels.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 channels will be returned. The maximum value is 100; valuupdateses above 100 will be coerced to 100",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The site from which to list channels.",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token from a previous request, if provided.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "description": "Lists the channels for the specified site. All sites have a default \"live\" channel.",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/channels"
                },
                "patch": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The fully-qualified identifier of the Channel."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "description": "Updates information for the specified channel of a site. This method will implicitly create a channel if it doesn't exist.",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The site in which this channel should be created.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "channelId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Immutable. A unique id within the site to identify the channel."
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "request": {
                    "$ref": "Channel"
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "httpMethod": "POST",
                  "description": "Creates a new channel in the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified identifier for the site.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "description": "Deletes a channel of a site. The `live` channel cannot be deleted.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.delete"
                }
              }
            }
          },
          "methods": {
            "getConfig": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "SiteConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "description": "Gets the Hosting metadata for a specific site.",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "id": "firebasehosting.projects.sites.getConfig"
            },
            "updateConfig": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.projects.sites.updateConfig",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SiteConfig"
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "request": {
                "$ref": "SiteConfig"
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.operations.get"
            }
          }
        }
      }
    }
  },
  "id": "firebasehosting:v1beta1",
  "servicePath": "",
  "schemas": {
    "Release": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The deploy description when the release was created. The value can be up to 512 characters."
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The configuration and content that was released."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEPLOY",
            "ROLLBACK",
            "SITE_DISABLE"
          ],
          "type": "string",
          "description": "Explains the reason for the release. Specify a value for this field only when creating a `SITE_DISABLE` type release.",
          "enumDescriptions": [
            "An unspecified type. Indicates that a version was released. This is the default value when no other `type` is explicitly specified.",
            "A version was uploaded to Firebase Hosting and released.",
            "The release points back to a previously deployed version.",
            "The release prevents the site from serving content. Firebase Hosting acts as if the site never existed."
          ]
        },
        "name": {
          "description": "Output only. The unique identifier for the release, in the format: sites/ site-name/releases/releaseID This name is provided in the response body when you call the [`CreateRelease`](sites.releases/create) endpoint.",
          "type": "string"
        },
        "releaseTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the version is set to be public.",
          "type": "string"
        },
        "releaseUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who created the release."
        }
      },
      "id": "Release",
      "description": "A `Release` is a particular [collection of configurations and files](sites.versions) that is set to be public at a particular time."
    },
    "Version": {
      "type": "object",
      "properties": {
        "fileCount": {
          "type": "string",
          "description": "Output only. The total number of files associated with the version. This value is calculated after a version is `FINALIZED`.",
          "format": "int64"
        },
        "finalizeUser": {
          "description": "Output only. Identifies the user who `FINALIZED` the version.",
          "$ref": "ActingUser"
        },
        "preview": {
          "$ref": "PreviewConfig",
          "description": "Version preview configuration for the site version. This configuration specfies whether previewing is enabled for this site version. Version previews allow you to preview your site at a custom URL before releasing it as the live version."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels used for extra metadata and/or filtering."
        },
        "config": {
          "$ref": "ServingConfig",
          "description": "The configuration for the behavior of the site. This configuration exists in the [`firebase.json`](/docs/cli/#the_firebasejson_file) file."
        },
        "name": {
          "description": "The unique identifier for a version, in the format: sites/site-name /versions/versionID This name is provided in the response body when you call the [`CreateVersion`](../sites.versions/create) endpoint.",
          "type": "string"
        },
        "finalizeTime": {
          "description": "Output only. The time at which the version was `FINALIZED`.",
          "format": "google-datetime",
          "type": "string"
        },
        "createUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who created the version."
        },
        "status": {
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The version has been created, and content is currently being added to the version.",
            "All content has been added to the version, and the version can no longer be changed.",
            "The version has been deleted.",
            "The version was not updated to `FINALIZED` within 12 hours and was automatically deleted.",
            "The version is outside the site-configured limit for the number of retained versions, so the version's content is scheduled for deletion.",
            "The version is being cloned from another version. All content is still being copied over."
          ],
          "type": "string",
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "CREATED",
            "FINALIZED",
            "DELETED",
            "ABANDONED",
            "EXPIRED",
            "CLONING"
          ],
          "description": "The deploy status of a version. For a successful deploy, call the [`CreateVersion`](sites.versions/create) endpoint to make a new version (`CREATED` status), [upload all desired files](sites.versions/populateFiles) to the version, then [update](sites.versions/patch) the version to the `FINALIZED` status. Note that if you leave the version in the `CREATED` state for more than 12 hours, the system will automatically mark the version as `ABANDONED`. You can also change the status of a version to `DELETED` by calling the [`DeleteVersion`](sites.versions/delete) endpoint."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the version was created."
        },
        "deleteTime": {
          "description": "Output only. The time at which the version was `DELETED`.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleteUser": {
          "description": "Output only. Identifies the user who `DELETED` the version.",
          "$ref": "ActingUser"
        },
        "versionBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The total stored bytesize of the version. This value is calculated after a version is `FINALIZED`."
        }
      },
      "description": "A `Version` is the collection of configuration and [static files](sites.versions.files) that determine how a site is displayed.",
      "id": "Version"
    },
    "ServingConfig": {
      "description": "The configuration for how incoming requests to a site should be routed and processed before serving content. The URL request paths are matched against the specified URL patterns in the configuration, then Hosting applies the applicable configuration according to a specific [priority order](/docs/hosting/full-config#hosting_priority_order).",
      "type": "object",
      "id": "ServingConfig",
      "properties": {
        "headers": {
          "type": "array",
          "description": "An array of objects, where each object specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers.",
          "items": {
            "$ref": "Header"
          }
        },
        "i18n": {
          "description": "Optional. Defines i18n rewrite behavior.",
          "$ref": "I18nConfig"
        },
        "appAssociation": {
          "description": "How to handle well known App Association files.",
          "enumDescriptions": [
            "The app association files will be automatically created from the apps that exist in the Firebase project.",
            "No special handling of the app association files will occur, these paths will result in a 404 unless caught with a Rewrite."
          ],
          "enum": [
            "AUTO",
            "NONE"
          ],
          "type": "string"
        },
        "rewrites": {
          "description": "An array of objects (called rewrite rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL.",
          "type": "array",
          "items": {
            "$ref": "Rewrite"
          }
        },
        "trailingSlashBehavior": {
          "enum": [
            "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "Defines how to handle a trailing slash in the URL path.",
          "type": "string",
          "enumDescriptions": [
            "No behavior is specified. Files are served at their exact location only, and trailing slashes are only added to directory indexes.",
            "Trailing slashes are _added_ to directory indexes as well as to any URL path not ending in a file extension.",
            "Trailing slashes are _removed_ from directory indexes as well as from any URL path not ending in a file extension."
          ]
        },
        "redirects": {
          "description": "An array of objects (called redirect rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path.",
          "type": "array",
          "items": {
            "$ref": "Redirect"
          }
        },
        "cleanUrls": {
          "type": "boolean",
          "description": "Defines whether to drop the file extension from uploaded files."
        }
      }
    },
    "VersionFile": {
      "id": "VersionFile",
      "type": "object",
      "properties": {
        "path": {
          "description": "The URI at which the file's content should display.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Output only. The current status of a particular file in the specified version. The value will be either `pending upload` or `uploaded`.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "EXPECTED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The file has been included in the version and is expected to be uploaded in the near future.",
            "The file has already been uploaded to Firebase Hosting."
          ]
        },
        "hash": {
          "description": "The SHA256 content hash of the file.",
          "type": "string"
        }
      },
      "description": "A static content file that is part of a version."
    },
    "DomainProvisioning": {
      "type": "object",
      "description": "The current certificate provisioning status information for a domain.",
      "properties": {
        "dnsStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified DNS status.",
            "No DNS records have been specified for this domain yet.",
            "None of the required DNS records have been detected on the domain.",
            "Some of the required DNS records were detected, but not all of them. No extra (non-required) DNS records were detected.",
            "All required DNS records were detected. No extra (non-required) DNS records were detected.",
            "The domain has at least one of the required DNS records, and it has at least one extra (non-required) DNS record."
          ],
          "description": "The DNS record match status as of the last DNS fetch.",
          "enum": [
            "DNS_STATUS_UNSPECIFIED",
            "DNS_PENDING",
            "DNS_MISSING",
            "DNS_PARTIAL_MATCH",
            "DNS_MATCH",
            "DNS_EXTRANEOUS_MATCH"
          ]
        },
        "expectedIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of IPs to which the domain is expected to resolve."
        },
        "certChallengeHttp": {
          "$ref": "CertHttpChallenge",
          "description": "The HTTP challenge for generating a certificate."
        },
        "certStatus": {
          "enum": [
            "CERT_STATUS_UNSPECIFIED",
            "CERT_PENDING",
            "CERT_MISSING",
            "CERT_PROCESSING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate provisioning status.",
            "Waiting for certificate challenge to be created.",
            "Waiting for certificate challenge to be met.",
            "Certificate challenge met; attempting to acquire/propagate certificate.",
            "Certificate obtained; propagating to the CDN.",
            "Certificate provisioned and deployed across the CDN.",
            "Certificate provisioning failed in a non-recoverable manner."
          ],
          "description": "The certificate provisioning status; updated when Firebase Hosting provisions an SSL certificate for the domain."
        },
        "certChallengeDiscoveredTxt": {
          "items": {
            "type": "string"
          },
          "description": "The TXT records (for the certificate challenge) that were found at the last DNS fetch.",
          "type": "array"
        },
        "dnsFetchTime": {
          "format": "google-datetime",
          "description": "The time at which the last DNS fetch occurred.",
          "type": "string"
        },
        "discoveredIps": {
          "type": "array",
          "description": "The IPs found at the last DNS fetch.",
          "items": {
            "type": "string"
          }
        },
        "certChallengeDns": {
          "$ref": "CertDnsChallenge",
          "description": "The DNS challenge for generating a certificate."
        }
      },
      "id": "DomainProvisioning"
    },
    "PopulateVersionFilesRequest": {
      "type": "object",
      "description": "The request to populate a Version's Files.",
      "properties": {
        "files": {
          "description": "A set of file paths to the hashes corresponding to assets that should be added to the version. Note that a file path to an empty hash will remove the path from the version. Calculate a hash by Gzipping the file then taking the SHA256 hash of the newly compressed file.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "PopulateVersionFilesRequest"
    },
    "PathFilter": {
      "description": "A representation of filter path.",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "An array of regexes to filter by.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PathFilter"
    },
    "ListReleasesResponse": {
      "properties": {
        "releases": {
          "type": "array",
          "description": "The list of hashes of files that still need to be uploaded, if any exist.",
          "items": {
            "$ref": "Release"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are additional releases remaining beyond the ones in this response, then supply this token in the next [`list`](../sites.versions.files/list) call to continue with the next set of releases."
        }
      },
      "id": "ListReleasesResponse",
      "type": "object"
    },
    "Channel": {
      "type": "object",
      "description": "A `Channel` represents a stream of releases for a site. All sites have a default `live` channel that serves content to the live Firebase-provided domains and any connected custom domains.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the channel was last updated."
        },
        "expireTime": {
          "description": "The time at which the channel will be automatically deleted. If null, the channel will not be automatically deleted. This field is present in output whether set directly or via the `ttl` field.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Text labels used for extra metadata and/or filtering."
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL at which the channel can be viewed. For the `live` channel, the content of the current release may also be visible at other URLs.",
          "type": "string"
        },
        "name": {
          "description": "The fully-qualified identifier of the Channel.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. A time-to-live for this channel. Sets `expire_time` to the provided duration past the time of the request."
        },
        "createTime": {
          "description": "Output only. The time at which the channel was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "release": {
          "description": "Output only. The current release for the channel, if any.",
          "$ref": "Release",
          "readOnly": true
        },
        "retainedReleaseCount": {
          "type": "integer",
          "description": "The number of previous releases to retain on the channel for rollback or other purposes. Must be a number between 1-100. Defaults to 10 for new channels.",
          "format": "int32"
        }
      },
      "id": "Channel"
    },
    "CertDnsChallenge": {
      "properties": {
        "domainName": {
          "description": "The domain name upon which the DNS challenge must be satisfied.",
          "type": "string"
        },
        "token": {
          "description": "The value that must be present as a TXT record on the domain name to satisfy the challenge.",
          "type": "string"
        }
      },
      "description": "Represents a DNS certificate challenge.",
      "type": "object",
      "id": "CertDnsChallenge"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "Rewrite": {
      "description": "A [`rewrite`](/docs/hosting/full-config#rewrites) object specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL.",
      "id": "Rewrite",
      "type": "object",
      "properties": {
        "glob": {
          "type": "string",
          "description": "The user-supplied [glob](/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path."
        },
        "path": {
          "type": "string",
          "description": "The URL path to rewrite the request to."
        },
        "run": {
          "$ref": "CloudRunRewrite",
          "description": "The request will be forwarded to Cloud Run."
        },
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        },
        "dynamicLinks": {
          "description": "The request will be forwarded to Firebase Dynamic Links.",
          "type": "boolean"
        },
        "function": {
          "type": "string",
          "description": "The function to proxy requests to. Must match the exported function name exactly."
        }
      }
    },
    "PreviewConfig": {
      "type": "object",
      "description": "Version preview configuration. If active and unexpired, this version will be accessible via a custom URL even if it is not the currently released version.",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "If true, preview URLs are enabled for this version."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Indicates the expiration time for previewing this version; preview URL requests received after this time will 404."
        }
      },
      "id": "PreviewConfig"
    },
[...]
