{
  "revision": "20210317",
  "protocol": "rest",
  "baseUrl": "https://healthcare.googleapis.com/",
  "ownerName": "Google",
  "title": "Cloud Healthcare API",
  "documentationLink": "https://cloud.google.com/healthcare",
  "discoveryVersion": "v1",
  "version": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://healthcare.googleapis.com/",
  "schemas": {
    "DicomConfig": {
      "type": "object",
      "properties": {
        "removeList": {
          "$ref": "TagFilterList",
          "description": "List of tags to remove. Keep all other tags."
        },
        "filterProfile": {
          "type": "string",
          "enumDescriptions": [
            "No tag filtration profile provided. Same as KEEP_ALL_PROFILE.",
            "Keep only tags required to produce valid DICOM.",
            "Remove tags based on DICOM Standard's Attribute Confidentiality Basic Profile (DICOM Standard Edition 2018e) http://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html.",
            "Keep all tags.",
            "Inspects within tag contents and replaces sensitive text. The process can be configured using the TextConfig. Applies to all tags with the following Value Representation names: AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS"
          ],
          "description": "Tag filtering profile that determines which tags to keep/remove.",
          "enum": [
            "TAG_FILTER_PROFILE_UNSPECIFIED",
            "MINIMAL_KEEP_LIST_PROFILE",
            "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE",
            "KEEP_ALL_PROFILE",
            "DEIDENTIFY_TAG_CONTENTS"
          ]
        },
        "skipIdRedaction": {
          "description": "If true, skip replacing StudyInstanceUID, SeriesInstanceUID, SOPInstanceUID, and MediaStorageSOPInstanceUID and leave them untouched. The Cloud Healthcare API regenerates these UIDs by default based on the DICOM Standard's reasoning: \"Whilst these UIDs cannot be mapped directly to an individual out of context, given access to the original images, or to a database of the original images containing the UIDs, it would be possible to recover the individual's identity.\" http://dicom.nema.org/medical/dicom/current/output/chtml/part15/sect_E.3.9.html",
          "type": "boolean"
        },
        "keepList": {
          "description": "List of tags to keep. Remove all other tags.",
          "$ref": "TagFilterList"
        }
      },
      "id": "DicomConfig",
      "description": "Specifies the parameters needed for de-identification of DICOM stores."
    },
    "StreamConfig": {
      "properties": {
        "bigqueryDestination": {
          "description": "The destination BigQuery structure that contains both the dataset location and corresponding schema config. The output is organized in one table per resource type. The server reuses the existing tables (if any) that are named after the resource types. For example, \"Patient\", \"Observation\". When there is no existing table for a given resource type, the server attempts to create one. When a table schema doesn't align with the schema config, either because of existing incompatible schema or out of band incompatible modification, the server does not stream in new data. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any resource mutation that generates more than 1 MB of BigQuery data is not streamed. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. Results are appended to the corresponding BigQuery tables. Different versions of the same resource are distinguishable by the meta.versionId and meta.lastUpdated columns. The operation (CREATE/UPDATE/DELETE) that results in the new version is recorded in the meta.tag. The tables contain all historical resource versions since streaming was enabled. For query convenience, the server also creates one view per table of the same name containing only the current resource version. The streamed data in the BigQuery dataset is not guaranteed to be completely unique. The combination of the id and meta.versionId columns should ideally identify a single unique row. But in rare cases, duplicates may exist. At query time, users may use the SQL select statement to keep only one of the duplicate rows given an id and meta.versionId pair. Alternatively, the server created view mentioned above also filters out duplicates. If a resource mutation cannot be streamed to BigQuery, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https://www.hl7.org/fhir/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store."
        }
      },
      "id": "StreamConfig",
      "description": "Contains configuration for streaming FHIR export.",
      "type": "object"
    },
    "TagFilterList": {
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: http://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example \"PatientID\", \"00100010\"."
        }
      },
      "id": "TagFilterList",
      "description": "List of tags to be filtered."
    },
    "DeidentifyDatasetRequest": {
      "description": "Redacts identifying information from the specified dataset.",
      "type": "object",
      "properties": {
        "config": {
          "description": "Deidentify configuration.",
          "$ref": "DeidentifyConfig"
        },
        "destinationDataset": {
          "type": "string",
          "description": "The name of the dataset resource to create and write the redacted data to. * The destination dataset must not exist. * The destination dataset must be in the same project and location as the source dataset. De-identifying data across multiple projects or locations is not supported."
        }
      },
      "id": "DeidentifyDatasetRequest"
    },
    "ImportDicomDataResponse": {
      "id": "ImportDicomDataResponse",
      "properties": {},
      "description": "Returns additional information in regards to a completed DICOM store import.",
      "type": "object"
    },
    "Signature": {
      "description": "User signature.",
      "id": "Signature",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata associated with the user's signature. For example, the user's name or the user's title."
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "image": {
          "description": "Optional. An image of the user's signature.",
          "$ref": "Image"
        },
        "signatureTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp of the signature.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Attribute": {
      "type": "object",
      "description": "An attribute value for a Consent or User data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values."
        },
        "attributeDefinitionId": {
          "description": "Indicates the name of an attribute defined in the consent store.",
          "type": "string"
        }
      },
      "id": "Attribute"
    },
    "ArchiveUserDataMappingResponse": {
      "id": "ArchiveUserDataMappingResponse",
      "description": "Archives the specified User data mapping.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudHealthcareV1DicomGcsDestination": {
      "id": "GoogleCloudHealthcareV1DicomGcsDestination",
      "description": "The Cloud Storage location where the server writes the output and the export configuration.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "type": "string",
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes the result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`."
        },
        "mimeType": {
          "type": "string",
          "description": "MIME types supported by DICOM spec. Each file is written in the following format: `.../{study_id}/{series_id}/{instance_id}[/{frame_number}].{extension}` The frame_number component exists only for multi-frame instances. Supported MIME types are consistent with supported formats in DICOMweb: https://cloud.google.com/healthcare/docs/dicom#retrieve_transaction. Specifically, the following are supported: - application/dicom; transfer-syntax=1.2.840.10008.1.2.1 (uncompressed DICOM) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM with embedded JPEG Baseline) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG 2000 Lossless Only) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG 2000) - application/dicom; transfer-syntax=* (DICOM with no transcoding) - application/octet-stream; transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) - application/octet-stream; transfer-syntax=* (raw PixelData in whatever format it was uploaded in) - image/jpeg; transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image/png The following extensions are used for output files: - application/dicom -\u003e .dcm - image/jpeg -\u003e .jpg - image/png -\u003e .png - application/octet-stream -\u003e no extension If unspecified, the instances are exported in the original DICOM format they were uploaded in."
        }
      }
    },
    "DicomFilterConfig": {
      "description": "Specifies the filter configuration for DICOM resources.",
      "id": "DicomFilterConfig",
      "type": "object",
      "properties": {
        "resourcePathsGcsUri": {
          "type": "string",
          "description": "The Cloud Storage location of the filter configuration file. The `gcs_uri` must be in the format `gs://bucket/path/to/object`. The filter configuration file must contain a list of resource paths separated by newline characters (\\n or \\r\\n). Each resource path must be in the format \"/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]\" The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "ReplaceWithInfoTypeConfig": {
      "description": "When using the INSPECT_AND_TRANSFORM action, each match is replaced with the name of the info_type. For example, \"My name is Jane\" becomes \"My name is [PERSON_NAME].\" The TRANSFORM action is equivalent to redacting.",
      "type": "object",
      "properties": {},
      "id": "ReplaceWithInfoTypeConfig"
    },
    "FhirFilter": {
      "id": "FhirFilter",
      "properties": {
        "resources": {
          "$ref": "Resources",
          "description": "List of resources to include in the output. If this list is empty or not specified, all resources are included in the output."
        }
      },
      "description": "Filter configuration.",
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Message": {
      "id": "Message",
      "description": "A complete HL7v2 message. See [Introduction to HL7 Standards] (https://www.hl7.org/implement/standards/index.cfm?ref=common) for details on the standard.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the Message, of the form `projects/{project_id}/datasets/{dataset_id}/hl7V2Stores/{hl7_v2_store_id}/messages/{message_id}`. Assigned by the server."
        },
        "data": {
          "type": "string",
          "description": "Raw message bytes.",
          "format": "byte"
        },
        "labels": {
          "type": "object",
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "patientIds": {
          "type": "array",
          "description": "All patient IDs listed in the PID-2, PID-3, and PID-4 segments of this message.",
          "items": {
            "$ref": "PatientId"
          }
        },
        "parsedData": {
          "$ref": "ParsedData",
          "readOnly": true,
          "description": "Output only. The parsed version of the raw message data."
        },
        "sendTime": {
          "description": "The datetime the sending application sent this message. MSH-7.",
          "format": "google-datetime",
          "type": "string"
        },
        "schematizedData": {
          "$ref": "SchematizedData",
          "description": "The parsed version of the raw message data schematized according to this store's schemas and type definitions."
        },
        "sendFacility": {
          "type": "string",
          "description": "The hospital that this message came from. MSH-4."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The datetime when the message was created. Set by the server.",
          "readOnly": true
        },
        "messageType": {
          "description": "The message type for this message. MSH-9.1.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "Result": {
      "id": "Result",
      "description": "The consent evaluation result for a single `data_id`.",
      "type": "object",
      "properties": {
        "consented": {
          "description": "Whether the resource is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          },
          "type": "object",
          "description": "The resource names of all evaluated Consents mapped to their evaluation."
        },
        "dataId": {
          "description": "The unique identifier of the evaluated resource.",
          "type": "string"
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "description": "A message representing a health dataset. A health dataset represents a collection of healthcare data pertaining to one or more patients. This may include multiple modalities of healthcare data, such as electronic medical records or medical imaging data.",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "The default timezone used by this dataset. Must be a either a valid IANA time zone name such as \"America/New_York\" or empty, which defaults to UTC. This is used for parsing times in resources, such as HL7 messages, where no explicit timezone is specified."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the dataset, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}`."
        }
      }
    },
    "GoogleCloudHealthcareV1DeidentifyDeidentifyDicomStoreSummary": {
      "properties": {},
      "description": "Contains a summary of the DeidentifyDicomStore operation.",
      "type": "object",
      "id": "GoogleCloudHealthcareV1DeidentifyDeidentifyDicomStoreSummary"
    },
    "ConsentArtifact": {
      "type": "object",
      "id": "ConsentArtifact",
      "description": "Documentation of a user's consent.",
      "properties": {
        "guardianSignature": {
          "description": "Optional. A signature from a guardian.",
          "$ref": "Signature"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Consent artifact, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. Cannot be changed after creation."
        },
        "consentContentVersion": {
          "description": "Optional. An string indicating the version of the consent information shown to the user.",
          "type": "string"
        },
        "userSignature": {
          "description": "Optional. User's signature.",
          "$ref": "Signature"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata associated with the Consent artifact. For example, the consent locale or user agent version.",
          "type": "object"
        },
        "witnessSignature": {
          "description": "Optional. A signature from a witness.",
          "$ref": "Signature"
        },
        "consentContentScreenshots": {
          "description": "Optional. Screenshots, PDFs, or other binary information documenting the user's consent.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        }
      }
    },
    "ExportResourcesResponse": {
      "type": "object",
      "id": "ExportResourcesResponse",
      "description": "Response when all resources export successfully. This structure is included in the response to describe the detailed outcome after the operation finishes successfully.",
      "properties": {}
    },
    "SchemaConfig": {
      "description": "Configuration for the FHIR BigQuery schema. Determines how the server generates the schema.",
      "properties": {
        "recursiveStructureDepth": {
          "description": "The depth for all recursive structures in the output analytics schema. For example, `concept` in the CodeSystem resource is a recursive structure; when the depth is 2, the CodeSystem table will have a column called `concept.concept` but not `concept.concept.concept`. If not specified or set to 0, the server will use the default value 2. The maximum depth allowed is 5.",
          "format": "int64",
          "type": "string"
        },
        "schemaType": {
          "type": "string",
          "enumDescriptions": [
            "No schema type specified. This type is unsupported.",
            "Analytics schema defined by the FHIR community. See https://github.com/FHIR/sql-on-fhir/blob/master/sql-on-fhir.md. BigQuery only allows a maximum of 10,000 columns per table. Due to this limitation, the server will not generate schemas for fields of type `Resource`, which can hold any resource type. The affected fields are `Parameters.parameter.resource`, `Bundle.entry.resource`, and `Bundle.entry.response.outcome`."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "ANALYTICS"
          ],
          "description": "Specifies the output schema type. Schema type is required."
        }
      },
      "type": "object",
      "id": "SchemaConfig"
    },
    "ActivateConsentRequest": {
      "description": "Activates the latest revision of the specified Consent by committing a new revision with `state` updated to `ACTIVE`. If the latest revision of the given Consent is in the `ACTIVE` state, no new revision is committed. A FAILED_PRECONDITION error occurs if the latest revision of the given consent is in the `REJECTED` or `REVOKED` state.",
      "id": "ActivateConsentRequest",
      "properties": {
        "expireTime": {
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "The time to live for this Consent from when it is marked as active.",
          "format": "google-duration",
          "type": "string"
        },
        "consentArtifact": {
          "type": "string",
          "description": "Required. The resource name of the Consent artifact that contains documentation of the user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it."
        }
      },
      "type": "object"
    },
    "SchemaPackage": {
      "id": "SchemaPackage",
      "properties": {
        "types": {
          "type": "array",
          "description": "Schema type definitions that are layered based on their VersionSources that match the incoming message. Type definitions present in higher indices override those in lower indices with the same type name if their VersionSources all match an incoming message.",
          "items": {
            "$ref": "Hl7TypesConfig"
          }
        },
        "schemas": {
          "items": {
            "$ref": "Hl7SchemaConfig"
          },
          "type": "array",
          "description": "Schema configs that are layered based on their VersionSources that match the incoming message. Schema configs present in higher indices override those in lower indices with the same message type and trigger event if their VersionSources all match an incoming message."
        },
        "schematizedParsingType": {
          "enum": [
            "SCHEMATIZED_PARSING_TYPE_UNSPECIFIED",
            "SOFT_FAIL",
            "HARD_FAIL"
          ],
          "description": "Determines how messages that fail to parse are handled.",
          "enumDescriptions": [
            "Unspecified schematized parsing type, equivalent to `SOFT_FAIL`.",
            "Messages that fail to parse are still stored and ACKed but a parser error is stored in place of the schematized data.",
            "Messages that fail to parse are rejected from ingestion/insertion and return an error code."
          ],
          "type": "string"
        },
        "ignoreMinOccurs": {
          "description": "Flag to ignore all min_occurs restrictions in the schema. This means that incoming messages can omit any group, segment, field, component, or subcomponent.",
          "type": "boolean"
        }
      },
      "description": "A schema package contains a set of schemas and type definitions.",
      "type": "object"
    },
    "ExportResourcesRequest": {
      "type": "object",
      "id": "ExportResourcesRequest",
      "properties": {
        "bigqueryDestination": {
          "description": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type.",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1FhirGcsDestination",
          "description": "The Cloud Storage output destination. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource."
        }
      },
      "description": "Request to export resources."
    },
    "TextConfig": {
      "id": "TextConfig",
      "properties": {
        "transformations": {
          "type": "array",
          "description": "The transformations to apply to the detected data.",
          "items": {
            "$ref": "InfoTypeTransformation"
          }
        }
      },
      "type": "object"
    },
    "RejectConsentRequest": {
      "id": "RejectConsentRequest",
      "type": "object",
      "properties": {
        "consentArtifact": {
          "description": "Optional. The resource name of the Consent artifact that contains documentation of the user's rejection of the draft Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it.",
          "type": "string"
        }
      },
      "description": "Rejects the latest revision of the specified Consent by committing a new revision with `state` updated to `REJECTED`. If the latest revision of the given Consent is in the `REJECTED` state, no new revision is committed."
    },
    "ProgressCounter": {
      "type": "object",
      "id": "ProgressCounter",
      "description": "ProgressCounter provides counters to describe an operation's progress.",
      "properties": {
        "success": {
          "description": "The number of units that succeeded in the operation.",
          "type": "string",
          "format": "int64"
        },
        "pending": {
          "format": "int64",
          "description": "The number of units that are pending in the operation.",
          "type": "string"
        },
        "failure": {
          "format": "int64",
          "description": "The number of units that failed in the operation.",
          "type": "string"
        }
      }
    },
    "FhirConfig": {
      "properties": {
        "fieldMetadataList": {
          "description": "Specifies FHIR paths to match and how to transform them. Any field that is not matched by a FieldMetadata is passed through to the output dataset unmodified. All extensions are removed in the output.",
          "items": {
            "$ref": "FieldMetadata"
          },
          "type": "array"
        }
      },
      "description": "Specifies how to handle de-identification of a FHIR store.",
      "type": "object",
      "id": "FhirConfig"
    },
    "ListConsentArtifactsResponse": {
      "id": "ListConsentArtifactsResponse",
      "properties": {
        "consentArtifacts": {
          "description": "The returned Consent artifacts. The maximum number of artifacts returned is determined by the value of page_size in the ListConsentArtifactsRequest.",
          "items": {
            "$ref": "ConsentArtifact"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeidentifyConfig": {
      "type": "object",
      "description": "Configures de-id options specific to different types of content. Each submessage customizes the handling of an https://tools.ietf.org/html/rfc6838 media type or subtype. Configs are applied in a nested manner at runtime.",
      "properties": {
        "fhir": {
          "description": "Configures de-id of application/FHIR content.",
          "$ref": "FhirConfig"
        },
        "image": {
          "description": "Configures de-identification of image pixels wherever they are found in the source_dataset.",
          "$ref": "ImageConfig"
        },
        "dicom": {
          "$ref": "DicomConfig",
          "description": "Configures de-id of application/DICOM content."
        },
        "text": {
          "description": "Configures de-identification of text wherever it is found in the source_dataset.",
          "$ref": "TextConfig"
        }
      },
      "id": "DeidentifyConfig"
    },
    "ParsedData": {
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "Segment"
          }
        }
      },
      "id": "ParsedData",
      "type": "object",
      "description": "The content of a HL7v2 message in a structured format."
    },
    "CreateMessageRequest": {
      "id": "CreateMessageRequest",
      "properties": {
        "message": {
          "description": "HL7v2 message.",
          "$ref": "Message"
        }
      },
      "type": "object",
      "description": "Creates a new message."
    },
    "VersionSource": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value to match with the field. For example, \"My Application Name\" or \"2.3\"."
        },
        "mshField": {
          "type": "string",
          "description": "The field to extract from the MSH segment. For example, \"3.1\" or \"18[1].1\"."
        }
      },
      "type": "object",
      "id": "VersionSource",
      "description": "Describes a selector for extracting and matching an MSH field to a value."
    },
    "Hl7V2NotificationConfig": {
      "description": "Specifies where and whether to send notifications upon changes to a data store.",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It's guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-PROJECT_NUMBER@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification cannot be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging))."
        },
        "filter": {
          "description": "Restricts notifications sent for messages matching a filter. If this is empty, all messages are matched. The following syntax is available: * A string field value can be written as text inside quotation marks, for example `\"query text\"`. The only valid relational operation for text fields is equality (`=`), where text is searched within the field, rather than having the field be equal to the text. For example, `\"Comment = great\"` returns messages with `great` in the comment field. * A number field value can be written as an integer, a decimal, or an exponential. The valid relational operators for number fields are the equality operator (`=`), along with the less than/greater than operators (`\u003c`, `\u003c=`, `\u003e`, `\u003e=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * A date field value must be written in `yyyy-mm-dd` form. Fields with date and time use the RFC3339 time format. Leading zeros are required for one-digit months and days. The valid relational operators for date fields are the equality operator (`=`) , along with the less than/greater than operators (`\u003c`, `\u003c=`, `\u003e`, `\u003e=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * Multiple field query expressions can be combined in one query by adding `AND` or `OR` operators between the expressions. If a boolean operator appears within a quoted string, it is not treated as special, it's just another part of the character string to be matched. You can prepend the `NOT` operator to an expression to negate it. The following fields and functions are available for filtering: * `message_type`, from the MSH-9.1 field. For example, `NOT message_type = \"ADT\"`. * `send_date` or `sendDate`, the YYYY-MM-DD date the message was sent in the dataset's time_zone, from the MSH-7 segment. For example, `send_date \u003c \"2017-01-02\"`. * `send_time`, the timestamp when the message was sent, using the RFC3339 time format for comparisons, from the MSH-7 segment. For example, `send_time \u003c \"2017-01-02T00:00:00-05:00\"`. * `create_time`, the timestamp when the message was created in the HL7v2 store. Use the RFC3339 time format for comparisons. For example, `create_time \u003c \"2017-01-02T00:00:00-05:00\"`. * `send_facility`, the care center that the message came from, from the MSH-4 segment. For example, `send_facility = \"ABC\"`. * `PatientId(value, type)`, which matches if the message lists a patient having an ID of the given value and type in the PID-2, PID-3, or PID-4 segments. For example, `PatientId(\"123456\", \"MRN\")`. * `labels.x`, a string value of the label with key `x` as set using the Message.labels map. For example, `labels.\"priority\"=\"high\"`. The operator `:*` can be used to assert the existence of a label. For example, `labels.\"priority\":*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Hl7V2NotificationConfig"
    },
    "UserDataMapping": {
      "type": "object",
      "properties": {
        "archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this mapping is archived."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the User data mapping, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/userDataMappings/{user_data_mapping_id}`."
        },
        "archiveTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Indicates the time when this mapping was archived.",
          "type": "string"
        },
        "resourceAttributes": {
          "items": {
            "$ref": "Attribute"
          },
          "type": "array",
          "description": "Attributes of the resource. Only explicitly set attributes are displayed here. Attribute definitions with defaults set implicitly apply to these User data mappings. Attributes listed here must be single valued, that is, exactly one value is specified for the field \"values\" in each Attribute."
        },
        "dataId": {
          "description": "Required. A unique identifier for the mapped resource.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        }
      },
      "description": "Maps a resource to the associated user and Attributes.",
      "id": "UserDataMapping"
    },
    "GoogleCloudHealthcareV1ConsentGcsDestination": {
      "description": "The Cloud Storage location for export.",
      "type": "object",
      "id": "GoogleCloudHealthcareV1ConsentGcsDestination",
      "properties": {
        "uriPrefix": {
          "description": "URI for a Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket and directory referenced in `uri_prefix`.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "ImageConfig": {
      "id": "ImageConfig",
      "description": "Specifies how to handle de-identification of image pixels.",
      "type": "object",
      "properties": {
        "textRedactionMode": {
          "enum": [
            "TEXT_REDACTION_MODE_UNSPECIFIED",
            "REDACT_ALL_TEXT",
            "REDACT_SENSITIVE_TEXT",
            "REDACT_NO_TEXT"
          ],
          "type": "string",
          "description": "Determines how to redact text from image.",
          "enumDescriptions": [
            "No text redaction specified. Same as REDACT_NO_TEXT.",
            "Redact all text.",
            "Redact sensitive text.",
            "Do not redact text."
          ]
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "SchemaSegment": {
      "properties": {
        "minOccurs": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of times this segment can be present in this group."
        },
        "type": {
          "type": "string",
          "description": "The Segment type. For example, \"PID\"."
        },
        "maxOccurs": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of times this segment can be present in this group. 0 or -1 means unbounded."
        }
      },
      "id": "SchemaSegment",
      "type": "object",
      "description": "An HL7v2 Segment."
    },
    "ImportResourcesRequest": {
      "description": "Request to import resources.",
      "type": "object",
      "id": "ImportResourcesRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1FhirGcsSource",
          "description": "Cloud Storage source data location and import configuration. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. Each Cloud Storage object should be a text file that contains the format specified in ContentStructure."
        },
        "contentStructure": {
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "BUNDLE",
            "RESOURCE",
            "BUNDLE_PRETTY",
            "RESOURCE_PRETTY"
          ],
          "description": "The content structure in the source location. If not specified, the server treats the input source files as BUNDLE.",
          "enumDescriptions": [
            "If the content structure is not specified, the default value `BUNDLE` is used.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a bundle that contains one or more resources.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a single resource.",
            "The entire file is one JSON bundle. The JSON can span multiple lines.",
            "The entire file is one JSON resource. The JSON can span multiple lines."
          ],
          "type": "string"
        }
      }
    },
    "FhirStore": {
      "description": "Represents a FHIR store.",
      "id": "FhirStore",
      "type": "object",
      "properties": {
        "labels": {
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "description": "Immutable. The FHIR specification version that this FHIR store supports natively. This field is immutable after store creation. Requests are rejected if they contain FHIR resources of a different version. Version is required for every FHIR store.",
          "enumDescriptions": [
            "Users must specify a version on store creation or an error is returned.",
            "Draft Standard for Trial Use, [Release 2](https://www.hl7.org/fhir/DSTU2)",
            "Standard for Trial Use, [Release 3](https://www.hl7.org/fhir/STU3)",
            "[Release 4](https://www.hl7.org/fhir/R4)"
          ],
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "DSTU2",
            "STU3",
            "R4"
          ]
        },
        "disableReferentialIntegrity": {
          "description": "Immutable. Whether to disable referential integrity in this FHIR store. This field is immutable after FHIR store creation. The default value is false, meaning that the API enforces referential integrity and fails the requests that result in inconsistent state in the FHIR store. When this field is set to true, the API skips referential integrity checks. Consequently, operations that rely on references, such as GetPatientEverything, do not return all the results if broken references exist.",
          "type": "boolean"
        },
        "streamConfigs": {
          "description": "A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Before adding a new config, you must add the required [`bigquery.dataEditor`](https://cloud.google.com/bigquery/docs/access-control#bigquery.dataEditor) role to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/iam/docs/service-accounts). Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination.",
          "type": "array",
          "items": {
            "$ref": "StreamConfig"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the FHIR store, of the form `projects/{project_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "enableUpdateCreate": {
          "type": "boolean",
          "description": "Whether this FHIR store has the [updateCreate capability](https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. It is strongly advised not to include or encode any sensitive data such as patient identifiers in client-specified resource IDs. Those IDs are part of the FHIR resource path recorded in Cloud audit logs and Pub/Sub notifications. Those IDs can also be contained in reference fields within other resources."
        },
        "disableResourceVersioning": {
          "description": "Immutable. Whether to disable resource versioning for this FHIR store. This field can not be changed after the creation of FHIR store. If set to false, which is the default behavior, all write operations cause historical versions to be recorded automatically. The historical versions can be fetched through the history APIs, but cannot be updated. If set to true, no historical versions are kept. The server sends errors for attempts to read the historical versions.",
          "type": "boolean"
        },
        "notificationConfig": {
          "description": "If non-empty, publish all resource modifications of this FHIR store to this destination. The Pub/Sub message attributes contain a map with a string describing the action that has triggered the notification. For example, \"action\":\"CreateResource\".",
          "$ref": "NotificationConfig"
        }
      }
    },
    "Type": {
      "type": "object",
      "id": "Type",
      "description": "A type definition for some HL7v2 type (incl. Segments and Datatypes).",
      "properties": {
        "primitive": {
          "type": "string",
          "description": "If this is a primitive type then this field is the type of the primitive For example, STRING. Leave unspecified for composite types.",
          "enum": [
            "PRIMITIVE_UNSPECIFIED",
            "STRING",
            "VARIES",
            "UNESCAPED_STRING"
          ],
          "enumDescriptions": [
            "Not a primitive.",
            "String primitive.",
            "Element that can have unschematized children.",
            "Like STRING, but all delimiters below this element are ignored."
          ]
        },
        "name": {
          "description": "The name of this type. This would be the segment or datatype name. For example, \"PID\" or \"XPN\".",
          "type": "string"
        },
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "description": "The (sub) fields this type has (if not primitive).",
          "type": "array"
        }
      }
    },
    "CheckDataAccessResponse": {
      "type": "object",
      "id": "CheckDataAccessResponse",
      "description": "Checks if a particular data_id of a User data mapping in the given consent store is consented for a given use.",
      "properties": {
        "consentDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          },
          "description": "The resource names of all evaluated Consents mapped to their evaluation."
        },
        "consented": {
          "type": "boolean",
          "description": "Whether the requested resource is consented for the given use."
        }
      }
    },
    "EvaluateUserConsentsRequest": {
      "properties": {
        "userId": {
          "description": "Required. User ID to evaluate consents for.",
          "type": "string"
        },
        "responseView": {
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `data_id` and `consented` fields are populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` Consents are evaluated even if a matching policy is found during evaluation."
          ],
          "description": "Optional. The view for EvaluateUserConsentsResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`.",
          "type": "string"
        },
        "consentList": {
          "description": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the User data mappings being evalauted, must exist in the current `consent_store`, and must have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If unspecified, all `ACTIVE` unexpired Consents in the current `consent_store` will be evaluated.",
          "$ref": "ConsentList"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. Limit on the number of User data mappings to return in a single response. If not specified, 100 is used. May not be larger than 1000.",
          "format": "int32"
        },
        "resourceAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The values of resource attributes associated with the resources being requested. If no values are specified, then all resources are queried."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Token to retrieve the next page of results, or empty to get the first page."
        },
        "requestAttributes": {
          "description": "Required. The values of request attributes associated with this access request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "EvaluateUserConsentsRequest",
      "description": "Evaluate a user's Consents for all matching User data mappings. Note: User data mappings are indexed asynchronously, causing slight delays between the time mappings are created or updated and when they are included in EvaluateUserConsents results.",
      "type": "object"
    },
    "IngestMessageResponse": {
      "description": "Acknowledges that a message has been ingested into the specified HL7v2 store.",
      "type": "object",
      "id": "IngestMessageResponse",
      "properties": {
        "hl7Ack": {
          "format": "byte",
          "type": "string",
          "description": "HL7v2 ACK message."
        },
        "message": {
          "description": "Created message resource.",
          "$ref": "Message"
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "EvaluateUserConsentsResponse": {
      "properties": {
        "results": {
          "description": "The consent evaluation result for each `data_id`.",
          "type": "array",
          "items": {
            "$ref": "Result"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list. This token is valid for 72 hours after it is created."
        }
      },
      "id": "EvaluateUserConsentsResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "counter": {
          "$ref": "ProgressCounter"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the operation was created by the API.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which execution was completed."
        },
        "logsUrl": {
          "description": "A link to audit and error logs in the log viewer. Error logs are generated only by some operations, listed at [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging).",
          "type": "string"
        },
        "apiMethodName": {
          "type": "string",
          "description": "The name of the API method that initiated the operation."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "OperationMetadata provides information about the operation execution. Returned in the long-running operation's metadata field."
    },
    "GoogleCloudHealthcareV1DicomGcsSource": {
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * '*' to match 0 or more non-separator characters * '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.dcm` imports all files with .dcm extensions in `my-directory/` and its sub-directories. * '?' to match 1 character. All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata."
        }
      },
      "id": "GoogleCloudHealthcareV1DicomGcsSource"
    },
    "GoogleCloudHealthcareV1FhirBigQueryDestination": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1FhirBigQueryDestination",
      "description": "The configuration for exporting to BigQuery.",
      "properties": {
        "schemaConfig": {
          "description": "The configuration for the exported BigQuery schema.",
          "$ref": "SchemaConfig"
        },
        "writeDisposition": {
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination tables are empty.",
            "Erase all existing data in the tables before writing the instances.",
            "Append data to the existing tables."
          ],
          "description": "Determines whether existing tables in the destination dataset are overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored.",
          "type": "string"
        },
        "force": {
          "description": "If this flag is `TRUE`, all tables are deleted from the dataset before the new exported tables are written. If the flag is not set and the destination dataset contains tables, the export call returns an error. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        },
        "datasetUri": {
          "description": "BigQuery URI to an existing dataset, up to 2000 characters long, in the format `bq://projectId.bqDatasetId`.",
          "type": "string"
        }
      }
    },
    "ImportResourcesResponse": {
      "type": "object",
      "id": "ImportResourcesResponse",
      "properties": {},
      "description": "Final response of importing resources. This structure is included in the response to describe the detailed outcome after the operation finishes successfully."
    },
    "RedactConfig": {
      "type": "object",
      "id": "RedactConfig",
      "properties": {},
      "description": "Define how to redact sensitive values. Default behaviour is erase. For example, \"My name is Jane.\" becomes \"My name is .\""
    },
    "DeidentifyFhirStoreRequest": {
      "type": "object",
      "properties": {
        "resourceFilter": {
          "$ref": "FhirFilter",
          "description": "A filter specifying the resources to include in the output. If not specified, all resources are included in the output."
        },
        "config": {
          "description": "Deidentify configuration.",
          "$ref": "DeidentifyConfig"
        },
        "destinationStore": {
          "description": "The name of the FHIR store to create and write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`. * The destination dataset must exist. * The source dataset and destination dataset must both reside in the same project. De-identifying data across multiple projects is not supported. * The destination FHIR store must exist. * The caller must have the healthcare.fhirResources.update permission to write to the destination FHIR store.",
          "type": "string"
        }
      },
      "description": "Creates a new FHIR store with sensitive information de-identified.",
      "id": "DeidentifyFhirStoreRequest"
    },
    "PatientId": {
      "type": "object",
      "description": "A patient identifier and associated type.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The patient's unique identifier."
        },
        "type": {
          "type": "string",
          "description": "ID type. For example, MRN or NHS."
        }
      },
      "id": "PatientId"
    },
    "IngestMessageRequest": {
      "description": "Ingests a message into the specified HL7v2 store.",
      "properties": {
        "message": {
          "description": "HL7v2 message to ingest.",
          "$ref": "Message"
        }
      },
      "id": "IngestMessageRequest",
      "type": "object"
    },
    "GroupOrSegment": {
      "description": "Construct representing a logical group or a segment.",
      "id": "GroupOrSegment",
      "properties": {
        "group": {
          "$ref": "SchemaGroup"
        },
        "segment": {
          "$ref": "SchemaSegment"
        }
      },
      "type": "object"
    },
    "ExportDicomDataResponse": {
      "properties": {},
      "type": "object",
      "id": "ExportDicomDataResponse",
      "description": "Returns additional information in regards to a completed DICOM store export."
    },
    "CryptoHashConfig": {
      "type": "object",
      "properties": {
        "cryptoKey": {
          "type": "string",
          "format": "byte",
          "description": "An AES 128/192/256 bit key. Causes the hash to be computed based on this key. A default key is generated for each Deidentify operation and is used wherever crypto_key is not specified."
        }
      },
      "id": "CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. Outputs a base64-encoded representation of the hashed output (for example, `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`)."
    },
    "Hl7V2Store": {
      "id": "Hl7V2Store",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object"
        },
        "parserConfig": {
          "$ref": "ParserConfig",
          "description": "The configuration for the parser. It determines how the server parses the messages."
        },
        "rejectDuplicateMessage": {
          "type": "boolean",
          "description": "Determines whether to reject duplicate messages. A duplicate message is a message with the same raw bytes as a message that has already been ingested/created in this HL7v2 store. The default value is false, meaning that the store accepts the duplicate messages and it also returns the same ACK message in the IngestMessageResponse as has been returned previously. Note that only one resource is created in the store. When this field is set to true, CreateMessage/IngestMessage requests with a duplicate message will be rejected by the store, and IngestMessageErrorDetail returns a NACK message upon rejection."
        },
        "notificationConfigs": {
          "items": {
            "$ref": "Hl7V2NotificationConfig"
          },
          "type": "array",
          "description": "A list of notification configs. Each configuration uses a filter to determine whether to publish a message (both Ingest & Create) on the corresponding notification destination. Only the message name is sent as part of the notification. Supplied by the client."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the HL7v2 store, of the form `projects/{project_id}/datasets/{dataset_id}/hl7V2Stores/{hl7v2_store_id}`."
        }
      },
      "description": "Represents an HL7v2 store.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "Hl7TypesConfig": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The version selectors that this config applies to. A message must match ALL version sources to apply.",
          "type": "array",
          "items": {
            "$ref": "VersionSource"
          }
        },
        "type": {
          "description": "The HL7v2 type definitions.",
          "items": {
            "$ref": "Type"
          },
          "type": "array"
        }
      },
      "id": "Hl7TypesConfig",
      "description": "Root config for HL7v2 datatype definitions for a specific HL7v2 version."
    },
    "Resources": {
      "description": "A list of FHIR resources.",
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "description": "List of resources IDs. For example, \"Patient/1234\".",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Resources"
    },
    "ListUserDataMappingsResponse": {
      "type": "object",
      "properties": {
        "userDataMappings": {
          "type": "array",
          "items": {
            "$ref": "UserDataMapping"
          },
          "description": "The returned User data mappings. The maximum number of User data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListUserDataMappingsResponse"
    },
    "ImportDicomDataRequest": {
      "id": "ImportDicomDataRequest",
      "type": "object",
      "description": "Imports data into the specified DICOM store. Returns an error if any of the files to import are not DICOM files. This API accepts duplicate DICOM instances by ignoring the newly-pushed instance. It does not overwrite.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1DicomGcsSource",
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location."
        }
      }
    },
    "ConsentEvaluation": {
      "id": "ConsentEvaluation",
      "type": "object",
      "description": "The detailed evaluation of a particular Consent.",
      "properties": {
        "evaluationResult": {
          "enumDescriptions": [
            "No evaluation result specified. This option is invalid.",
            "The Consent is not applicable to the requested access determination. For example, the Consent does not apply to the user for which the access determination is requested, or it has a `state` of `REVOKED`.",
            "The Consent does not have a policy that matches the `resource_attributes` of the evaluated resource.",
            "The Consent has at least one policy that matches the `resource_attributes` of the evaluated resource, but no `authorization_rule` was satisfied.",
            "The Consent has at least one policy that matches the `resource_attributes` of the evaluated resource, and at least one `authorization_rule` was satisfied."
          ],
          "enum": [
            "EVALUATION_RESULT_UNSPECIFIED",
            "NOT_APPLICABLE",
            "NO_MATCHING_POLICY",
            "NO_SATISFIED_POLICY",
            "HAS_SATISFIED_POLICY"
          ],
          "type": "string",
          "description": "The evaluation result."
        }
      }
    },
    "ListConsentRevisionsResponse": {
      "id": "ListConsentRevisionsResponse",
      "properties": {
        "consents": {
          "description": "The returned Consent revisions. The maximum number of revisions returned is determined by the value of `page_size` in the ListConsentRevisionsRequest.",
          "type": "array",
          "items": {
            "$ref": "Consent"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ParserConfig": {
      "description": "The configuration for the parser. It determines how the server parses the messages.",
      "properties": {
        "segmentTerminator": {
          "description": "Byte(s) to use as the segment terminator. If this is unset, '\\r' is used as segment terminator, matching the HL7 version 2 specification.",
          "type": "string",
          "format": "byte"
        },
        "allowNullHeader": {
          "type": "boolean",
          "description": "Determines whether messages with no header are allowed."
        },
        "schema": {
          "description": "Schemas used to parse messages in this store, if schematized parsing is desired.",
          "$ref": "SchemaPackage"
        }
      },
      "type": "object",
      "id": "ParserConfig"
    },
    "QueryAccessibleDataRequest": {
      "description": "Queries all data_ids that are consented for a given use in the given consent store and writes them to a specified destination. The returned Operation includes a progress counter for the number of User data mappings processed. Errors are logged to Cloud Logging (see [Viewing error logs in Cloud Logging] (https://cloud.google.com/healthcare/docs/how-tos/logging) and [QueryAccessibleData] for a sample log entry).",
      "id": "QueryAccessibleDataRequest",
      "type": "object",
      "properties": {
        "requestAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The values of request attributes associated with this access request.",
          "type": "object"
        },
        "resourceAttributes": {
          "description": "Optional. The values of resource attributes associated with the type of resources being requested. If no values are specified, then all resource types are included in the output.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1ConsentGcsDestination",
          "description": "The Cloud Storage destination. The Cloud Healthcare API service account must have the `roles/storage.objectAdmin` Cloud IAM role for this Cloud Storage location."
        }
      }
    },
    "GoogleCloudHealthcareV1FhirGcsDestination": {
      "properties": {
        "uriPrefix": {
          "type": "string",
          "description": "URI for a Cloud Storage directory where result files should be written, in the format of `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`."
        }
      },
      "id": "GoogleCloudHealthcareV1FhirGcsDestination",
      "description": "The configuration for exporting to Cloud Storage.",
      "type": "object"
    },
    "ListHl7V2StoresResponse": {
      "description": "Lists the HL7v2 stores in the given dataset.",
      "id": "ListHl7V2StoresResponse",
      "type": "object",
      "properties": {
        "hl7V2Stores": {
          "type": "array",
          "description": "The returned HL7v2 stores. Won't be more HL7v2 stores than the value of page_size in the request.",
          "items": {
            "$ref": "Hl7V2Store"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation"
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members` with a `role`.",
      "type": "object"
    },
    "ListConsentStoresResponse": {
      "type": "object",
      "id": "ListConsentStoresResponse",
      "properties": {
        "consentStores": {
          "type": "array",
          "description": "The returned consent stores. The maximum number of stores returned is determined by the value of page_size in the ListConsentStoresRequest.",
          "items": {
            "$ref": "ConsentStore"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "HttpBody": {
      "id": "HttpBody",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "ListDatasetsResponse": {
      "description": "Lists the available datasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          },
          "description": "The first page of datasets."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListDatasetsResponse"
    },
    "Hl7SchemaConfig": {
      "description": "Root config message for HL7v2 schema. This contains a schema structure of groups and segments, and filters that determine which messages to apply the schema structure to.",
      "properties": {
        "messageSchemaConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SchemaGroup"
          },
          "description": "Map from each HL7v2 message type and trigger event pair, such as ADT_A04, to its schema configuration root group."
        },
        "version": {
          "items": {
            "$ref": "VersionSource"
          },
          "description": "Each VersionSource is tested and only if they all match is the schema used for the message.",
          "type": "array"
        }
      },
      "id": "Hl7SchemaConfig",
      "type": "object"
    },
    "ListFhirStoresResponse": {
      "id": "ListFhirStoresResponse",
      "description": "Lists the FHIR stores in the given dataset.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        },
        "fhirStores": {
          "items": {
            "$ref": "FhirStore"
          },
          "description": "The returned FHIR stores. Won't be more FHIR stores than the value of page_size in the request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "InfoTypeTransformation": {
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "type": "object",
      "id": "InfoTypeTransformation",
      "properties": {
        "characterMaskConfig": {
          "description": "Config for character mask.",
          "$ref": "CharacterMaskConfig"
        },
        "dateShiftConfig": {
          "description": "Config for date shift.",
          "$ref": "DateShiftConfig"
        },
        "replaceWithInfoTypeConfig": {
          "$ref": "ReplaceWithInfoTypeConfig",
          "description": "Config for replace with InfoType."
        },
        "redactConfig": {
          "$ref": "RedactConfig",
          "description": "Config for text redaction."
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "InfoTypes to apply this transformation to. If this is not specified, the transformation applies to any info_type."
        },
        "cryptoHashConfig": {
          "$ref": "CryptoHashConfig",
          "description": "Config for crypto hash."
        }
      }
    },
    "DeidentifySummary": {
      "description": "Contains a summary of the Deidentify operation.",
      "properties": {},
      "type": "object",
      "id": "DeidentifySummary"
    },
    "Consent": {
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-supplied key-value pairs used to organize Consent resources. Metadata keys must: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - begin with a letter - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes Metadata values must be: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes No more than 64 metadata entries can be associated with a given consent."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the Consent. The format is an 8-character hexadecimal string. Refer to a specific revision of a Consent by appending `@{revision_id}` to the Consent's resource name.",
          "type": "string"
        },
        "policies": {
          "description": "Optional. Represents a user's consent in terms of the resources that can be accessed and under what conditions.",
          "items": {
            "$ref": "GoogleCloudHealthcareV1ConsentPolicy"
          },
          "type": "array"
        },
[...]
