{
  "baseUrl": "https://dlp.googleapis.com/",
  "title": "Cloud Data Loss Prevention (DLP) API",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://dlp.googleapis.com/",
  "id": "dlp:v2",
  "name": "dlp",
  "batchPath": "batch",
  "version": "v2",
  "version_module": true,
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "resources": {
    "locations": {
      "resources": {
        "infoTypes": {
          "methods": {
            "list": {
              "description": "Returns a list of the sensitive information types that the DLP API supports. See https://cloud.google.com/dlp/docs/infotypes-reference to learn more.",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
              },
              "path": "v2/{+parent}/infoTypes",
              "flatPath": "v2/locations/{locationsId}/infoTypes",
              "id": "dlp.locations.infoTypes.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource name. - Format:locations/[LOCATION-ID]",
                  "type": "string",
                  "pattern": "^locations/[^/]+$"
                },
                "languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "BCP-47 language code for localized infoType friendly names. If omitted, or if localized strings are not available, en-US strings will be returned."
                },
                "filter": {
                  "description": "filter to only return infoTypes supported by certain parts of the API. Defaults to supported_by=INSPECT.",
                  "type": "string",
                  "location": "query"
                },
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "infoTypes": {
      "methods": {
        "list": {
          "parameters": {
            "parent": {
              "description": "The parent resource name. - Format:locations/[LOCATION-ID]",
              "location": "query",
              "type": "string"
            },
            "locationId": {
              "type": "string",
              "description": "Deprecated. This field has no effect.",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "filter to only return infoTypes supported by certain parts of the API. Defaults to supported_by=INSPECT."
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "BCP-47 language code for localized infoType friendly names. If omitted, or if localized strings are not available, en-US strings will be returned."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "dlp.infoTypes.list",
          "response": {
            "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
          },
          "parameterOrder": [],
          "description": "Returns a list of the sensitive information types that the DLP API supports. See https://cloud.google.com/dlp/docs/infotypes-reference to learn more.",
          "flatPath": "v2/infoTypes",
          "path": "v2/infoTypes"
        }
      }
    },
    "organizations": {
      "resources": {
        "inspectTemplates": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "dlp.organizations.inspectTemplates.get",
              "description": "Gets an InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342."
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "description": "Deletes an InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "id": "dlp.organizations.inspectTemplates.delete",
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "locationId": {
                  "location": "query",
                  "type": "string",
                  "description": "Deprecated. This field has no effect."
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the template was created. - `update_time`: corresponds to time the template was last updated. - `name`: corresponds to template's name. - `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call to `ListInspectTemplates`.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
              "path": "v2/{+parent}/inspectTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.organizations.inspectTemplates.list",
              "description": "Lists InspectTemplates. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              },
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]"
                }
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "description": "Creates an InspectTemplate for re-using frequently used configuration for inspecting content, images, and storage. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "path": "v2/{+parent}/inspectTemplates",
              "id": "dlp.organizations.inspectTemplates.create",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.organizations.inspectTemplates.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "httpMethod": "PATCH",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              },
              "description": "Updates the InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more."
            }
          }
        },
        "storedInfoTypes": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
              "path": "v2/{+parent}/storedInfoTypes",
              "description": "Lists stored infoTypes. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
              },
              "id": "dlp.organizations.storedInfoTypes.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100."
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name.",
                  "type": "string",
                  "location": "query"
                },
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call to `ListStoredInfoTypes`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a stored infoType. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "httpMethod": "DELETE",
              "id": "dlp.organizations.storedInfoTypes.delete",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
              },
              "id": "dlp.organizations.storedInfoTypes.patch",
              "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "path": "v2/{+name}"
            },
            "get": {
              "id": "dlp.organizations.storedInfoTypes.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a stored infoType. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}"
            },
            "create": {
              "httpMethod": "POST",
              "id": "dlp.organizations.storedInfoTypes.create",
              "parameters": {
                "parent": {
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "path": "v2/{+parent}/storedInfoTypes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a pre-built stored infoType to be used for inspection. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
              },
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes"
            }
          }
        },
        "locations": {
          "resources": {
            "storedInfoTypes": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.organizations.locations.storedInfoTypes.get",
                  "httpMethod": "GET",
                  "description": "Gets a stored infoType. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a stored infoType. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
                  "path": "v2/{+name}",
                  "id": "dlp.organizations.locations.storedInfoTypes.delete",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/storedInfoTypes",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                  },
                  "id": "dlp.organizations.locations.storedInfoTypes.create",
                  "description": "Creates a pre-built stored infoType to be used for inspection. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
                  "httpMethod": "POST",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes"
                },
                "list": {
                  "id": "dlp.organizations.locations.storedInfoTypes.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token to continue retrieval. Comes from previous call to `ListStoredInfoTypes`.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/storedInfoTypes",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists stored infoTypes. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "id": "dlp.organizations.locations.storedInfoTypes.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                }
              }
            },
            "inspectTemplates": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from previous call to `ListInspectTemplates`."
                    },
                    "parent": {
                      "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the template was created. - `update_time`: corresponds to time the template was last updated. - `name`: corresponds to template's name. - `display_name`: corresponds to template's display name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dlp.organizations.locations.inspectTemplates.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates",
                  "path": "v2/{+parent}/inspectTemplates",
                  "description": "Lists InspectTemplates. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes an InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.organizations.locations.inspectTemplates.delete",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.organizations.locations.inspectTemplates.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                  },
                  "description": "Updates the InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  }
                },
                "create": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                  },
                  "id": "dlp.organizations.locations.inspectTemplates.create",
                  "description": "Creates an InspectTemplate for re-using frequently used configuration for inspecting content, images, and storage. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "path": "v2/{+parent}/inspectTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.organizations.locations.inspectTemplates.get",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "description": "Gets an InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$"
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "httpMethod": "GET"
                }
              }
            },
            "deidentifyTemplates": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100."
                    },
                    "locationId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field has no effect."
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                      "required": true
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the template was created. - `update_time`: corresponds to time the template was last updated. - `name`: corresponds to template's name. - `display_name`: corresponds to template's display name.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from previous call to `ListDeidentifyTemplates`."
                    }
                  },
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dlp.organizations.locations.deidentifyTemplates.list",
                  "httpMethod": "GET",
                  "description": "Lists DeidentifyTemplates. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                  }
                },
                "create": {
                  "id": "dlp.organizations.locations.deidentifyTemplates.create",
                  "description": "Creates a DeidentifyTemplate for re-using frequently used configuration for de-identifying content, images, and storage. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "id": "dlp.organizations.locations.deidentifyTemplates.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the organization and deidentify template to be read, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets a DeidentifyTemplate. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "dlp.organizations.locations.deidentifyTemplates.delete",
                  "description": "Deletes a DeidentifyTemplate. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the organization and deidentify template to be deleted, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "dlp.organizations.locations.deidentifyTemplates.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of organization and deidentify template to be updated, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342."
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                  },
                  "description": "Updates the DeidentifyTemplate. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more."
                }
              }
            }
          }
        },
        "deidentifyTemplates": {
          "methods": {
            "delete": {
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the organization and deidentify template to be deleted, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                  "type": "string"
                }
              },
              "description": "Deletes a DeidentifyTemplate. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.organizations.deidentifyTemplates.delete",
              "httpMethod": "DELETE"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dlp.organizations.deidentifyTemplates.create",
              "description": "Creates a DeidentifyTemplate for re-using frequently used configuration for de-identifying content, images, and storage. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "path": "v2/{+parent}/deidentifyTemplates",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates"
            },
            "patch": {
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of organization and deidentify template to be updated, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.organizations.deidentifyTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "description": "Updates the DeidentifyTemplate. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from previous call to `ListDeidentifyTemplates`."
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the template was created. - `update_time`: corresponds to time the template was last updated. - `name`: corresponds to template's name. - `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]"
                }
              },
              "description": "Lists DeidentifyTemplates. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates",
              "path": "v2/{+parent}/deidentifyTemplates",
              "parameterOrder": [
                "parent"
              ],
              "id": "dlp.organizations.deidentifyTemplates.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "path": "v2/{+name}",
              "description": "Gets a DeidentifyTemplate. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and deidentify template to be read, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$"
                }
              },
              "id": "dlp.organizations.deidentifyTemplates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "inspectTemplates": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates the InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "id": "dlp.projects.inspectTemplates.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "id": "dlp.projects.inspectTemplates.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              },
              "description": "Lists InspectTemplates. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from previous call to `ListInspectTemplates`."
                },
                "locationId": {
                  "description": "Deprecated. This field has no effect.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the template was created. - `update_time`: corresponds to time the template was last updated. - `name`: corresponds to template's name. - `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/inspectTemplates"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "description": "Creates an InspectTemplate for re-using frequently used configuration for inspecting content, images, and storage. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.inspectTemplates.create",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "path": "v2/{+parent}/inspectTemplates",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "description": "Gets an InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "id": "dlp.projects.inspectTemplates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342."
                }
              },
              "path": "v2/{+name}"
            },
            "delete": {
              "path": "v2/{+name}",
              "description": "Deletes an InspectTemplate. See https://cloud.google.com/dlp/docs/creating-templates to learn more.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "dlp.projects.inspectTemplates.delete"
            }
          }
        },
        "image": {
          "methods": {
            "redact": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2RedactImageRequest"
              },
              "path": "v2/{+parent}/image:redact",
              "response": {
                "$ref": "GooglePrivacyDlpV2RedactImageResponse"
              },
              "flatPath": "v2/projects/{projectsId}/image:redact",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "The parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "Redacts potentially sensitive info from an image. This method has limits on input size, processing time, and output size. See https://cloud.google.com/dlp/docs/redacting-sensitive-data-images to learn more. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
              "id": "dlp.projects.image.redact"
            }
          }
        },
        "storedInfoTypes": {
          "methods": {
            "delete": {
              "id": "dlp.projects.storedInfoTypes.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342."
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a stored infoType. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "v2/{+parent}/storedInfoTypes",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.storedInfoTypes.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes",
              "description": "Lists stored infoTypes. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token to continue retrieval. Comes from previous call to `ListStoredInfoTypes`.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]"
                },
                "locationId": {
                  "type": "string",
                  "location": "query",
                  "description": "Deprecated. This field has no effect."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "dlp.projects.storedInfoTypes.patch",
              "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/storedInfoTypes",
              "id": "dlp.projects.storedInfoTypes.create",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a pre-built stored infoType to be used for inspection. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a stored infoType. See https://cloud.google.com/dlp/docs/creating-stored-infotypes to learn more.",
              "id": "dlp.projects.storedInfoTypes.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}"
            }
          }
        },
        "content": {
          "methods": {
            "inspect": {
              "id": "dlp.projects.content.inspect",
              "flatPath": "v2/projects/{projectsId}/content:inspect",
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectContentResponse"
              },
              "path": "v2/{+parent}/content:inspect",
              "description": "Finds potentially sensitive info in content. This method has limits on input size, processing time, and output size. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. For how to guides, see https://cloud.google.com/dlp/docs/inspecting-images and https://cloud.google.com/dlp/docs/inspecting-text,",
              "request": {
                "$ref": "GooglePrivacyDlpV2InspectContentRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "reidentify": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.content.reidentify",
              "path": "v2/{+parent}/content:reidentify",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Re-identifies content that has been de-identified. See https://cloud.google.com/dlp/docs/pseudonymization#re-identification_in_free_text_code_example to learn more.",
              "flatPath": "v2/projects/{projectsId}/content:reidentify"
            },
            "deidentify": {
              "path": "v2/{+parent}/content:deidentify",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
              },
              "id": "dlp.projects.content.deidentify",
              "httpMethod": "POST",
              "description": "De-identifies potentially sensitive info from a ContentItem. This method has limits on input size and output size. See https://cloud.google.com/dlp/docs/deidentify-sensitive-data to learn more. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
              "flatPath": "v2/projects/{projectsId}/content:deidentify",
              "parameters": {
                "parent": {
                  "description": "Parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              }
            }
          }
        },
        "dlpJobs": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "id": "dlp.projects.dlpJobs.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the DlpJob resource.",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "description": "Gets the latest state of a long-running DlpJob. See https://cloud.google.com/dlp/docs/inspecting-storage and https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running DlpJob. This method indicates that the client is no longer interested in the DlpJob result. The job will be cancelled if possible. See https://cloud.google.com/dlp/docs/inspecting-storage and https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "path": "v2/{+name}",
              "id": "dlp.projects.dlpJobs.delete",
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the DlpJob resource to be deleted.",
                  "location": "path"
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "path": "v2/{+parent}/dlpJobs",
              "id": "dlp.projects.dlpJobs.create",
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
              },
              "description": "Creates a new job to inspect storage or calculate risk metrics. See https://cloud.google.com/dlp/docs/inspecting-storage and https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more. When no InfoTypes or CustomInfoTypes are specified in inspect jobs, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
              "httpMethod": "POST"
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.projects.dlpJobs.cancel",
              "description": "Starts asynchronous cancellation on a long-running DlpJob. The server makes a best effort to cancel the DlpJob, but success is not guaranteed. See https://cloud.google.com/dlp/docs/inspecting-storage and https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "request": {
                "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the DlpJob resource to be cancelled."
                }
              },
              "path": "v2/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc, end_time asc, create_time desc` Supported fields are: - `create_time`: corresponds to time the job was created. - `end_time`: corresponds to time the job ended. - `name`: corresponds to job's name. - `state`: corresponds to `state`"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect jobs: - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - `trigger_name` - The resource name of the trigger that created job. - 'end_time` - Corresponds to time the job finished. - 'start_time` - Corresponds to time the job finished. * Supported fields for risk analysis jobs: - `state` - RUNNING|CANCELED|FINISHED|FAILED - 'end_time` - Corresponds to time the job finished. - 'start_time` - Corresponds to time the job finished. * The operator must be `=` or `!=`. Examples: * inspected_storage = cloud_storage AND state = done * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = done OR state = canceled) * end_time \u003e \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "locationId": {
                  "location": "query",
                  "description": "Deprecated. This field has no effect.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "type": {
                  "enum": [
                    "DLP_JOB_TYPE_UNSPECIFIED",
                    "INSPECT_JOB",
                    "RISK_ANALYSIS_JOB"
                  ],
                  "enumDescriptions": [
                    "Unused",
                    "The job inspected Google Cloud for sensitive data.",
                    "The job executed a Risk Analysis computation."
                  ],
                  "type": "string",
                  "description": "The type of job. Defaults to `DlpJobType.INSPECT`",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/dlpJobs",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
              },
              "description": "Lists DlpJobs that match the specified filter in the request. See https://cloud.google.com/dlp/docs/inspecting-storage and https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.dlpJobs.list"
            }
          }
        },
        "jobTriggers": {
          "methods": {
            "delete": {
              "id": "dlp.projects.jobTriggers.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a job trigger. See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect jobs: - `status` - HEALTHY|PAUSED|CANCELLED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by quotation marks. Nanoseconds are ignored. - 'error_count' - Number of errors that have occurred while running. * The operator must be `=` or `!=` for status and inspected_storage. Examples: * inspected_storage = cloud_storage AND status = HEALTHY * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY) * last_run_time \u003e \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                  "location": "query"
                },
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma separated list of triggeredJob fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the JobTrigger was created. - `update_time`: corresponds to time the JobTrigger was last updated. - `last_run_time`: corresponds to the last time the JobTrigger ran. - `name`: corresponds to JobTrigger's name. - `display_name`: corresponds to JobTrigger's display name. - `status`: corresponds to JobTrigger's status."
                },
                "parent": {
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by a server.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from previous call to ListJobTriggers. `order_by` field must not change for subsequent calls."
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
              },
              "flatPath": "v2/projects/{projectsId}/jobTriggers",
              "id": "dlp.projects.jobTriggers.list",
              "description": "Lists job triggers. See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/jobTriggers",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "activate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Activate a job trigger. Causes the immediate execute of a trigger instead of waiting on the trigger event to occur.",
              "id": "dlp.projects.jobTriggers.activate",
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}:activate",
              "path": "v2/{+name}:activate",
              "request": {
                "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "description": "Required. Resource name of the trigger to activate, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              }
            },
            "create": {
              "path": "v2/{+parent}/jobTriggers",
              "id": "dlp.projects.jobTriggers.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID]",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Creates a job trigger to run DLP actions such as scanning storage for sensitive information on a set schedule. See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/jobTriggers"
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "id": "dlp.projects.jobTriggers.patch",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
              },
              "description": "Updates a job trigger. See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`."
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              }
            },
            "get": {
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "dlp.projects.jobTriggers.get",
              "httpMethod": "GET",
              "description": "Gets a job trigger. See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}"
            }
          }
        },
        "deidentifyTemplates": {
          "methods": {
            "list": {
              "id": "dlp.projects.deidentifyTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to time the template was created. - `update_time`: corresponds to time the template was last updated. - `name`: corresponds to template's name. - `display_name`: corresponds to template's display name.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Size of the page, can be limited by server. If zero server returns a page of max size 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token to continue retrieval. Comes from previous call to `ListDeidentifyTemplates`.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Parent resource name. - Format:projects/[PROJECT-ID] - Format:organizations/[ORGANIZATION-ID] - Format:projects/[PROJECT-ID]/locations/[LOCATION-ID] - Format:organizations/[ORGANIZATION-ID]/locations/[LOCATION-ID]",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Lists DeidentifyTemplates. See https://cloud.google.com/dlp/docs/creating-templates-deid to learn more.",
              "path": "v2/{+parent}/deidentifyTemplates"
            },
            "create": {
              "path": "v2/{+parent}/deidentifyTemplates",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
[...]
