{
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Cloud Data Loss Prevention (DLP) API",
  "schemas": {
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig",
      "description": "Configuration for a custom dictionary created from a data source of any size up to the maximum size defined in the [limits](https://cloud.google.com/dlp/limits) page. The artifacts of dictionary creation are stored in the specified Google Cloud Storage location. Consider using `CustomInfoType.Dictionary` for smaller dictionaries that satisfy the size requirements.",
      "properties": {
        "outputPath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Location to store dictionary artifacts in Google Cloud Storage. These files will only be accessible by project owners and the DLP API. If any of these artifacts are modified, the dictionary is considered invalid and can no longer be used."
        },
        "cloudStorageFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet",
          "description": "Set of files containing newline-delimited lists of dictionary phrases."
        },
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        }
      }
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiIdField",
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model.",
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A auxiliary field."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "hours": {
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        }
      },
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "description": "Configuration to control the number of findings returned.",
      "id": "GooglePrivacyDlpV2FindingLimits",
      "type": "object",
      "properties": {
        "maxFindingsPerRequest": {
          "format": "int32",
          "description": "Max number of findings that will be returned per request/job. When set within `InspectContentRequest`, the maximum returned is 2000 regardless if this is set higher.",
          "type": "integer"
        },
        "maxFindingsPerInfoType": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          },
          "type": "array",
          "description": "Configuration of findings limit given for specified infoTypes."
        },
        "maxFindingsPerItem": {
          "format": "int32",
          "type": "integer",
          "description": "Max number of findings that will be returned for each item scanned. When set within `InspectJobConfig`, the maximum returned is 2000 regardless if this is set higher. When set within `InspectContentRequest`, this field is ignored."
        }
      }
    },
    "GooglePrivacyDlpV2Conditions": {
      "id": "GooglePrivacyDlpV2Conditions",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "description": "A collection of conditions.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      },
      "description": "A collection of conditions."
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "type": "object",
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "description": "Result of the reidentifiability analysis. Note that these results are an estimation, not exact values.",
      "properties": {
        "kMapEstimationHistogram": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          },
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity: 2, max_anonymity: 3, frequency: 42} {min_anonymity: 5, max_anonymity: 10, frequency: 99} mean that there are no record with an estimated anonymity of 4, 5, or larger than 10."
        }
      }
    },
    "GooglePrivacyDlpV2Trigger": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Trigger",
      "description": "What event needs to occur for a new job to be started.",
      "properties": {
        "schedule": {
          "$ref": "GooglePrivacyDlpV2Schedule",
          "description": "Create a job on a repeating basis based on the elapse of time."
        },
        "manual": {
          "description": "For use with hybrid jobs. Jobs must be manually created and finished. Early access feature is in a pre-release state and might change or have limited support. For more information, see https://cloud.google.com/products#product-launch-stages.",
          "$ref": "GooglePrivacyDlpV2Manual"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest": {
      "properties": {
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "New DeidentifyTemplate value."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest",
      "type": "object",
      "description": "Request message for UpdateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2TableLocation": {
      "description": "Location of a finding within a table.",
      "properties": {
        "rowIndex": {
          "type": "string",
          "format": "int64",
          "description": "The zero-based index of the row where the finding is located. Only populated for resources that have a natural ordering, not BigQuery. In BigQuery, to identify the row a finding came from, populate BigQueryOptions.identifying_fields with your primary key column names and when you store the findings the value of those columns will be stored inside of Finding."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TableLocation"
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "description": "Request message for CreateStoredInfoType.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Required. Configuration of the storedInfoType to create."
        },
        "storedInfoTypeId": {
          "description": "The storedInfoType ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage. Example: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string"
        }
      },
      "description": "Message representing a single file or path in Cloud Storage."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "type": "array",
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values."
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "type": "object",
      "description": "Publish a message into given Pub/Sub topic when DlpJob has completed. The message contains a single field, `DlpJobName`, which is equal to the finished job's [`DlpJob.name`](https://cloud.google.com/dlp/docs/reference/rest/v2/projects.dlpJobs#DlpJob). Compatible with: Inspect, Risk",
      "id": "GooglePrivacyDlpV2PublishToPubSub",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given publishing access rights to the DLP API service account executing the long running DlpJob sending the notifications. Format is projects/{project}/topics/{topic}."
        }
      }
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "properties": {
        "fileOffset": {
          "type": "string",
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "type": "object",
      "description": "Location of a finding within a document."
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "type": "object",
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}, i.e if lower_bound = 10 and upper_bound = 20 all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "properties": {
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "lowerBound": {
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "bucketSize": {
          "format": "double",
          "type": "number",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works."
        }
      }
    },
    "GooglePrivacyDlpV2HybridContentItem": {
      "description": "An individual hybrid item to inspect. Will be stored temporarily during processing.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridContentItem",
      "properties": {
        "findingDetails": {
          "description": "Supplementary information that will be added to each finding.",
          "$ref": "GooglePrivacyDlpV2HybridFindingDetails"
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to inspect."
        }
      }
    },
    "GooglePrivacyDlpV2Schedule": {
      "id": "GooglePrivacyDlpV2Schedule",
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "description": "With this option a job is started a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Schedule for triggeredJobs."
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "properties": {
        "redactedImage": {
          "type": "string",
          "format": "byte",
          "description": "The redacted image. The type will be the same as the original image."
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was set to true, then this field will include all text, if any, that was found in the image.",
          "type": "string"
        },
        "inspectResult": {
          "description": "The findings. Populated when include_findings in the request is true.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      },
      "description": "Results of redacting an image.",
      "type": "object",
      "id": "GooglePrivacyDlpV2RedactImageResponse"
    },
    "GooglePrivacyDlpV2Container": {
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record.",
      "properties": {
        "rootPath": {
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Google Cloud Storage file `gs://bucket/folder/filename.txt`, the root is `gs://bucket`",
          "type": "string"
        },
        "updateTime": {
          "description": "Findings container modification timestamp, if applicable. For Google Cloud Storage contains last file modification timestamp. For BigQuery table contains last_modified_time property. For Datastore - not populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Container type, for example BigQuery or Google Cloud Storage.",
          "type": "string"
        },
        "fullPath": {
          "type": "string",
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Google Cloud Storage: 'gs://Bucket/folders/filename.txt'"
        },
        "projectId": {
          "type": "string",
          "description": "Project where the finding was found. Can be different from the project that owns the finding."
        },
        "version": {
          "description": "Findings container version, if available (\"generation\" for Google Cloud Storage).",
          "type": "string"
        },
        "relativePath": {
          "type": "string",
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - Google Cloud Storage file `gs://bucket/folder/filename.txt`, the relative path is `folder/filename.txt`"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Container"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "properties": {
        "maxProbability": {
          "description": "Always greater than or equal to min_probability.",
          "format": "double",
          "type": "number"
        },
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          },
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array"
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these probability bounds.",
          "format": "int64",
          "type": "string"
        },
        "minProbability": {
          "format": "double",
          "type": "number",
          "description": "Between 0 and 1."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket",
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following values: min_probability: 0.1 max_probability: 0.2 frequency: 42 means that there are 42 records for which δ is in [0.1, 0.2). An important particular case is when min_probability = max_probability = 1: then, every individual who shares this quasi-identifier combination is in the dataset."
    },
    "GooglePrivacyDlpV2Result": {
      "properties": {
        "hybridStats": {
          "description": "Statistics related to the processing of hybrid inspect. Early access feature is in a pre-release state and might change or have limited support. For more information, see https://cloud.google.com/products#product-launch-stages.",
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during inspect job.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "type": "array"
        },
        "processedBytes": {
          "type": "string",
          "description": "Total size in bytes that were processed.",
          "format": "int64"
        },
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "All result fields mentioned below are updated while the job is processing.",
      "id": "GooglePrivacyDlpV2Result"
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set.",
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "List of infoTypes this rule set is applied to."
        },
        "rules": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          },
          "type": "array",
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order."
        }
      }
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "type": "object",
      "description": "Result of the l-diversity computation.",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "type": "object",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "id": "GooglePrivacyDlpV2HybridOptions",
      "properties": {
        "requiredFindingLabelKeys": {
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "id": "GooglePrivacyDlpV2HotwordRule",
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "properties": {
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        },
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        },
        "proximity": {
          "description": "Proximity of the finding within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. Note that the finding itself will be included in the window, so that hotwords may be used to match substrings of the finding itself. For example, the certainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be adjusted upwards if the area code is known to be the local area code of a company office using the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CategoricalStatsResult",
      "description": "Result of the categorical stats computation.",
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "type": "array",
          "description": "Histogram of value frequencies in the column.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          }
        }
      }
    },
    "GooglePrivacyDlpV2PathElement": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "properties": {
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2DatastoreOptions",
          "description": "Google Cloud Datastore options."
        },
        "hybridOptions": {
          "$ref": "GooglePrivacyDlpV2HybridOptions",
          "description": "Hybrid inspection options. Early access feature is in a pre-release state and might change or have limited support. For more information, see https://cloud.google.com/products#product-launch-stages."
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "bigQueryOptions": {
          "description": "BigQuery options.",
          "$ref": "GooglePrivacyDlpV2BigQueryOptions"
        },
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options.",
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions"
        }
      },
      "id": "GooglePrivacyDlpV2StorageConfig"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "description": "Summary statistics of a custom dictionary.",
      "type": "object",
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
      "properties": {
        "approxNumPhrases": {
          "format": "int64",
          "type": "string",
          "description": "Approximate number of distinct phrases in the dictionary."
        }
      }
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "type": "object",
      "id": "GooglePrivacyDlpV2TransientCryptoKey",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated)."
        }
      },
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes."
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest",
      "properties": {
        "triggerId": {
          "description": "The trigger id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "jobTrigger": {
          "description": "Required. The JobTrigger to create.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        }
      },
      "type": "object",
      "description": "Request message for CreateJobTrigger."
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "properties": {
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2"
        },
        "customAlphabet": {
          "type": "string",
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before/after encryption/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ~`!@#$%^&*()_-+={[}]|\\:;\"'\u003c,\u003e.?/"
        },
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "commonAlphabet": {
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "description": "Common alphabets.",
          "type": "string",
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ]
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Required. The key used by the encryption algorithm."
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2Action": {
      "id": "GooglePrivacyDlpV2Action",
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "properties": {
        "publishSummaryToCscc": {
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc",
          "description": "Publish summary to Cloud Security Command Center (Alpha)."
        },
        "jobNotificationEmails": {
          "description": "Enable email notification for project owners and editors on job's completion/failure.",
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails"
        },
        "publishToStackdriver": {
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver",
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count."
        },
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        },
        "pubSub": {
          "description": "Publish a notification to a pubsub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "publishFindingsToCloudDataCatalog": {
          "description": "Publish findings to Cloud Datahub.",
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "id": "GooglePrivacyDlpV2BucketingConfig"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "properties": {
        "sensitiveAttribute": {
          "description": "Sensitive field for computing the l-value.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "quasiIds": {
          "type": "array",
          "description": "Set of quasi-identifiers indicating how equivalence classes are defined for the l-diversity computation. When multiple fields are specified, they are considered a single composite key.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "type": "object",
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "id": "GooglePrivacyDlpV2LDiversityConfig"
    },
    "GooglePrivacyDlpV2EntityId": {
      "id": "GooglePrivacyDlpV2EntityId",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      },
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "type": "object",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "properties": {
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`.",
          "type": "boolean"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        },
        "maskingCharacter": {
          "type": "string",
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits."
        },
        "numberToMask": {
          "type": "integer",
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally.",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "description": "Using raw keys is prone to security risks due to accidentally leaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. A 128/192/256 bit key.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishToStackdriver"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "imageRedactionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "description": "The configuration for specifying what content to redact from images."
        },
        "includeFindings": {
          "type": "boolean",
          "description": "Whether the response should include findings along with the redacted image."
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "type": "object",
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle."
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
      "properties": {
        "cryptoKeyName": {
          "description": "Required. The resource name of the KMS CryptoKey to use for unwrapping.",
          "type": "string"
        },
        "wrappedKey": {
          "type": "string",
          "format": "byte",
          "description": "Required. The wrapped data crypto key."
        }
      },
      "description": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128/192/256 bit key. Authorization requires the following IAM permissions when sending a request to perform a crypto transformation using a kms-wrapped crypto key: dlp.kms.encrypt",
      "type": "object"
    },
    "GooglePrivacyDlpV2TaggedField": {
      "type": "object",
      "id": "GooglePrivacyDlpV2TaggedField",
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        }
      },
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "description": "Response message for ListStoredInfoTypes.",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListStoredInfoTypes request.",
          "type": "string"
        },
        "storedInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoType"
          },
          "type": "array",
          "description": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
    },
    "GooglePrivacyDlpV2Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed. See https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to learn more.",
      "id": "GooglePrivacyDlpV2Table",
      "properties": {
        "headers": {
          "description": "Headers of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          },
          "description": "Rows of the table."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "description": "A type of transformation that will scan unstructured text and apply various `PrimitiveTransformation`s to each finding, where the transformation is applied to only values that were identified as a specific info_type.",
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "properties": {
        "transformations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          },
          "type": "array",
          "description": "Required. Transformation for each infoType. Cannot specify more than one for a given infoType."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Color": {
      "description": "Represents a color in the RGB color space.",
      "properties": {
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "red": {
          "format": "float",
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Color"
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "GooglePrivacyDlpV2RecordCondition",
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content."
        }
      },
      "description": "Configuration to suppress records whose suppression conditions evaluate to true."
    },
    "GooglePrivacyDlpV2HybridInspectStatistics": {
      "id": "GooglePrivacyDlpV2HybridInspectStatistics",
      "type": "object",
      "properties": {
        "abortedCount": {
          "description": "The number of hybrid inspection requests aborted because the job ran out of quota or was ended before they could be processed.",
          "format": "int64",
          "type": "string"
        },
        "processedCount": {
          "format": "int64",
          "description": "The number of hybrid inspection requests processed within this job.",
          "type": "string"
        },
        "pendingCount": {
          "description": "The number of hybrid requests currently being processed. Only populated when called via method `getDlpJob`. A burst of traffic may cause hybrid inspect requests to be enqueued. Processing will take place as quickly as possible, but resource limitations may impact how long a request is enqueued for.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Statistics related to processing hybrid inspect requests."
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "description": "Response message for ListDeidentifyTemplates.",
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "type": "object",
      "properties": {
        "deidentifyTemplates": {
          "type": "array",
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          }
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListDeidentifyTemplates request.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InspectDataSourceDetails": {
      "description": "The results of an inspect DataSource job.",
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectDataSourceDetails",
      "properties": {
        "result": {
          "$ref": "GooglePrivacyDlpV2Result",
          "description": "A summary of the outcome of this inspect job."
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedOptions",
          "description": "The configuration used for this job."
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "id": "GooglePrivacyDlpV2ReplaceValueConfig",
      "properties": {
        "newValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to replace it with."
        }
      },
      "type": "object",
      "description": "Replace each input value with a given `Value`."
    },
    "GooglePrivacyDlpV2Location": {
      "properties": {
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "contentLocations": {
          "type": "array",
          "description": "List of nested objects pointing to the precise location of the finding within the file or record.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          }
        },
        "container": {
          "description": "Information about the container where this finding occurred, if available.",
          "$ref": "GooglePrivacyDlpV2Container"
        }
      },
      "description": "Specifies the location of the finding.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Location"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "Content data to inspect or redact. Replaces `type` and `data`."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to learn more."
        }
      },
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "description": "A rule for transforming a value.",
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "type": "object",
      "properties": {
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "replaceConfig": {
          "description": "Replace",
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig"
        },
        "cryptoDeterministicConfig": {
          "description": "Deterministic Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig"
        },
        "fixedSizeBucketingConfig": {
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
          "description": "Fixed size bucketing"
        },
        "characterMaskConfig": {
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig",
          "description": "Mask"
        },
        "cryptoHashConfig": {
          "description": "Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        },
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
          "description": "Replace with infotype"
        },
        "dateShiftConfig": {
          "$ref": "GooglePrivacyDlpV2DateShiftConfig",
          "description": "Date Shift"
        },
        "bucketingConfig": {
          "description": "Bucketing",
          "$ref": "GooglePrivacyDlpV2BucketingConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
          "description": "Ffx-Fpe"
        },
        "redactConfig": {
          "description": "Redact",
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        }
      }
    },
    "GooglePrivacyDlpV2ListJobTriggersResponse": {
      "id": "GooglePrivacyDlpV2ListJobTriggersResponse",
      "properties": {
        "jobTriggers": {
          "items": {
            "$ref": "GooglePrivacyDlpV2JobTrigger"
          },
          "type": "array",
          "description": "List of triggeredJobs, up to page_size in ListJobTriggersRequest."
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListJobTriggers request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListJobTriggers."
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "description": "Replace each matching finding with the name of the info_type.",
      "properties": {},
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "type": "object",
      "properties": {
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "bucketValueCount": {
          "type": "string",
          "description": "Total number of distinct values in this bucket.",
          "format": "int64"
        },
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          },
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20."
        },
        "bucketSize": {
          "format": "int64",
          "type": "string",
          "description": "Total number of values in this bucket."
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "description": "Histogram of value frequencies in the column."
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "type": "object",
      "properties": {},
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https://cloud.google.com/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "id": "GooglePrivacyDlpV2SurrogateType"
    },
    "GooglePrivacyDlpV2StatisticalTable": {
      "id": "GooglePrivacyDlpV2StatisticalTable",
      "type": "object",
      "properties": {
        "quasiIds": {
          "type": "array",
          "description": "Required. Quasi-identifier columns.",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdentifierField"
          }
        },
        "relativeFrequency": {
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "table": {
          "description": "Required. Auxiliary table location.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "description": "An auxiliary table containing statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable)."
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "properties": {
        "commonCharactersToIgnore": {
          "enumDescriptions": [
            "Unused.",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-./:;\u003c=\u003e?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ],
          "description": "Common characters to not transform when masking. Useful to avoid removing punctuation.",
          "type": "string",
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ]
        },
        "charactersToSkip": {
          "type": "string",
          "description": "Characters to not transform when masking."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CharsToIgnore",
      "description": "Characters to skip when doing deidentification of a value. These will be left alone and skipped."
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "type": "object",
      "properties": {
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        },
        "redactAllText": {
          "type": "boolean",
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided."
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "description": "Configuration for determining how redaction of images should occur."
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "Required. The InspectTemplate to create."
        }
      },
      "description": "Request message for CreateInspectTemplate.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "properties": {
        "sampleMethod": {
          "enumDescriptions": [
            "",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "type": "string"
        },
        "excludedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings."
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        },
        "rowsLimitPercent": {
          "type": "integer",
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "format": "int32"
        },
        "rowsLimit": {
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "type": "string",
          "format": "int64"
        },
        "identifyingFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryOptions"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "description": "The transformation to apply to the field.",
      "id": "GooglePrivacyDlpV2FieldTransformation",
      "type": "object",
      "properties": {
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`."
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Required. Input field(s) to apply the transformation to."
        },
        "condition": {
          "$ref": "GooglePrivacyDlpV2RecordCondition",
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85."
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "type": "object",
      "properties": {
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        },
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "description": "Results of de-identifying a ContentItem."
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "type": "object",
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call."
        },
        "datasetId": {
          "type": "string",
          "description": "Dataset ID of the table."
        },
        "tableId": {
          "type": "string",
          "description": "Name of the table."
        }
      }
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "type": "object",
      "id": "GooglePrivacyDlpV2JobTrigger",
      "description": "Contains a configuration to make dlp api calls on a repeating basis. See https://cloud.google.com/dlp/docs/concepts-job-triggers to learn more.",
      "properties": {
        "triggers": {
          "type": "array",
          "description": "A list of triggers which will be OR'ed together. Only one in the list needs to trigger for a job to be started. The list may contain only a single Schedule trigger and must have at least one object.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 100 chars)"
        },
        "lastRunTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "Required. A status for this trigger.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a triggeredJob.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of a triggeredJob.",
          "format": "google-datetime",
          "readOnly": true
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "For inspect jobs, a snapshot of the configuration."
        },
        "errors": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated errors may result in the JobTrigger automatically being paused. Will return the last 100 errors. Whenever the JobTrigger is modified this list will be cleared."
        },
        "description": {
          "type": "string",
          "description": "User provided description (max 256 chars)"
        },
        "name": {
          "description": "Unique resource name for the triggeredJob, assigned by the service when the triggeredJob is created, for example `projects/dlp-test-project/jobTriggers/53234423`.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiIdentifierField",
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model.",
      "properties": {
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "description": "The configuration that controls how the data will change.",
      "properties": {
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere."
        },
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityEquivalenceClass": {
      "id": "GooglePrivacyDlpV2LDiversityEquivalenceClass",
      "type": "object",
      "properties": {
        "numDistinctSensitiveValues": {
          "format": "int64",
          "description": "Number of distinct sensitive values in this equivalence class.",
          "type": "string"
        },
        "topSensitiveValues": {
          "type": "array",
          "description": "Estimated frequencies of top sensitive values.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "equivalenceClassSize": {
          "type": "string",
          "description": "Size of the k-anonymity equivalence class.",
          "format": "int64"
        },
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array",
          "description": "Quasi-identifier values defining the k-anonymity equivalence class. The order is always the same as the original request."
        }
      },
      "description": "The set of columns' values that share the same ldiversity value."
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including number of distinct values and value count distribution.",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field to compute categorical stats on. All column types are supported except for arrays and structs. However, it may be more informative to use NumericalStats when the field type is supported, depending on the data."
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "description": "The request message for finishing a DLP hybrid job.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest"
    },
    "GooglePrivacyDlpV2KAnonymityConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityConfig",
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "properties": {
        "entityId": {
          "$ref": "GooglePrivacyDlpV2EntityId",
          "description": "Message indicating that multiple rows might be associated to a single individual. If the same entity_id is associated to multiple quasi-identifier tuples over distinct rows, we consider the entire collection of tuples as the composite quasi-identifier. This collection is a multiset: the order in which the different tuples appear in the dataset is ignored, but their frequency is taken into account. Important note: a maximum of 1000 rows can be associated to a single entity ID. If more rows are associated with the same entity ID, some might be ignored."
        },
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "Set of fields to compute k-anonymity over. When multiple fields are specified, they are considered a single composite key. Structs and repeated data types are not supported; however, nested fields are supported so long as they are not structs themselves or nested within a repeated field."
        }
      }
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "description": "Configuration for a risk analysis job. See https://cloud.google.com/dlp/docs/concepts-risk-analysis to learn more.",
      "properties": {
        "privacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "sourceTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "actions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          },
          "description": "Actions to execute at the completion of the job. Are executed in the order provided.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "description": "Populate to associate additional data with each finding.",
      "id": "GooglePrivacyDlpV2HybridFindingDetails",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "type": "object"
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included."
        },
        "rowOffset": {
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position.",
          "format": "int64",
          "type": "string"
        },
        "fileOffset": {
          "format": "int64",
          "type": "string",
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding."
        },
        "containerDetails": {
          "description": "Details about the container where the content being inspected is from.",
          "$ref": "GooglePrivacyDlpV2Container"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Expressions": {
      "properties": {
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions",
          "description": "Conditions to apply to the expression."
        },
        "logicalOperator": {
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "type": "string",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ]
        }
      },
      "type": "object",
      "description": "An expression, consisting or an operator and conditions.",
      "id": "GooglePrivacyDlpV2Expressions"
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "properties": {
        "pendingVersions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          },
          "description": "Pending versions of the stored info type. Empty if no versions are pending."
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "currentVersion": {
          "description": "Current version of the stored info type.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates."
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "description": "Publish the result summary of a DlpJob to the Cloud Security Command Center (CSCC Alpha). This action is only available for projects which are parts of an organization and whitelisted for the alpha Cloud Security Command Center. The action will publish count of finding instances and their info types. The summary of findings will be persisted in CSCC and are governed by CSCC service-specific policy, see https://cloud.google.com/terms/service-terms Only a single instance of this action can be specified. Compatible with: Inspect",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "type": "object"
    },
    "GooglePrivacyDlpV2RequestedRiskAnalysisOptions": {
      "properties": {
        "jobConfig": {
          "description": "The job config for the risk job.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        }
      },
      "description": "Risk analysis options.",
      "type": "object",
      "id": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions"
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "description": "A KMapEstimationHistogramBucket message with the following values: min_anonymity: 3 max_anonymity: 5 frequency: 42 means that there are 42 records whose quasi-identifier values correspond to 3, 4 or 5 people in the overlying population. An important particular case is when min_anonymity = max_anonymity = 1: the frequency field then corresponds to the number of uniquely identifiable records.",
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket",
      "properties": {
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "type": "array",
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          }
        },
        "minAnonymity": {
          "format": "int64",
          "type": "string",
          "description": "Always positive."
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "maxAnonymity": {
          "type": "string",
          "format": "int64",
          "description": "Always greater than or equal to min_anonymity."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "type": "object",
      "description": "Request message for CreateDeidentifyTemplate.",
      "properties": {
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "Required. The DeidentifyTemplate to create."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "type": "object",
      "description": "Cloud repository for storing output.",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table."
        },
        "outputSchema": {
          "type": "string",
          "description": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage.",
          "enumDescriptions": [
            "Unused.",
            "Basic schema including only `info_type`, `quote`, `certainty`, and `timestamp`.",
            "Schema tailored to findings from scanning Google Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2OutputStorageConfig"
    },
    "GooglePrivacyDlpV2QuasiId": {
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "type": "object",
      "description": "A column with a semantic tag attached.",
      "id": "GooglePrivacyDlpV2QuasiId"
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the hash function."
        }
      },
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. The key size must be either 32 or 64 bytes. Outputs a base64 encoded representation of the hashed output (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=). Currently, only string and integer values can be hashed. See https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoHashConfig"
    },
    "GooglePrivacyDlpV2StoredType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`."
        },
        "createTime": {
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A reference to a StoredInfoType to use with scanning.",
      "id": "GooglePrivacyDlpV2StoredType",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse",
      "description": "Response message for ListInspectTemplates.",
      "properties": {
        "inspectTemplates": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          },
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in following ListInspectTemplates request."
        }
      }
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2StorageMetadataLabel"
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "id": "GooglePrivacyDlpV2DatastoreOptions",
      "properties": {
        "kind": {
          "$ref": "GooglePrivacyDlpV2KindExpression",
          "description": "The kind to process."
        },
        "partitionId": {
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        }
      },
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "id": "GooglePrivacyDlpV2TransformationOverview",
      "description": "Overview of the modifications that occurred.",
      "properties": {
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          },
          "type": "array"
        },
        "transformedBytes": {
          "format": "int64",
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Key": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Key",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "type": "array",
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. A path can never be empty, and a path can have at most 100 elements.",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      },
      "description": "A unique identifier for a Datastore entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
    },
    "GooglePrivacyDlpV2Finding": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Finding",
      "description": "Represents a piece of potentially sensitive content.",
      "properties": {
        "triggerName": {
          "type": "string",
          "description": "Job trigger name, if applicable, for this finding."
        },
        "jobName": {
          "type": "string",
          "description": "The job that stored the finding."
        },
        "name": {
          "type": "string",
          "description": "Resource name in format projects/{project}/locations/{location}/findings/{finding} Populated only when viewing persisted findings."
        },
        "jobCreateTime": {
          "type": "string",
          "description": "Time the job started that produced this finding.",
          "format": "google-datetime"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The type of content that might have been found. Provided if `excluded_types` is false."
        },
        "resourceName": {
          "description": "The job that stored the finding.",
          "type": "string"
        },
        "quoteInfo": {
          "description": "Contains data parsed from quotes. Only populated if include_quote was set to true and a supported infoType was requested. Currently supported infoTypes: DATE, DATE_OF_BIRTH and TIME.",
          "$ref": "GooglePrivacyDlpV2QuoteInfo"
        },
        "likelihood": {
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "description": "Confidence of how likely it is that the `info_type` is correct.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "createTime": {
          "description": "Timestamp when finding was detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "quote": {
          "type": "string",
          "description": "The content that was found. Even if the content is not textual, it may be converted to a textual representation here. Provided if `include_quote` is true and the finding is less than or equal to 4096 bytes long. If the finding exceeds 4096 bytes in length, the quote may be omitted."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this `Finding`. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "location": {
          "$ref": "GooglePrivacyDlpV2Location",
          "description": "Where the content was found."
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "id": "GooglePrivacyDlpV2BigQueryKey",
      "properties": {
        "rowNumber": {
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`.",
          "type": "string",
          "format": "int64"
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "type": "object",
      "description": "Row key for identifying a record in BigQuery table."
    },
    "GooglePrivacyDlpV2DatastoreKey": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DatastoreKey",
      "properties": {
        "entityKey": {
          "$ref": "GooglePrivacyDlpV2Key",
          "description": "Datastore entity key."
        }
      },
      "description": "Record key for a finding in Cloud Datastore."
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "type": "object",
      "properties": {},
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '.",
      "id": "GooglePrivacyDlpV2RedactConfig"
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question.",
      "properties": {
        "dictionary": {
          "description": "A list of phrases to detect as a CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "detectionRules": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          },
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType."
        },
        "surrogateType": {
          "description": "Message for detecting output from deidentification transformations that support reversing.",
          "$ref": "GooglePrivacyDlpV2SurrogateType"
        },
        "likelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified.",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "exclusionType": {
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching.",
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ],
          "type": "string"
        },
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
[...]
