{
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "revision": "20200516",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "canonicalName": "DLP",
  "basePath": "",
  "rootUrl": "https://dlp.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "id": "dlp:v2",
  "version_module": true,
  "resources": {
    "infoTypes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dlp.infoTypes.list",
          "path": "v2/infoTypes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/infoTypes",
          "response": {
            "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
          },
          "description": "Returns a list of the sensitive information types that the DLP API\nsupports. See https://cloud.google.com/dlp/docs/infotypes-reference to\nlearn more.",
          "parameters": {
            "filter": {
              "description": "filter to only return infoTypes supported by certain parts of the\nAPI. Defaults to supported_by=INSPECT.",
              "type": "string",
              "location": "query"
            },
            "locationId": {
              "type": "string",
              "location": "query",
              "description": "Deprecated. This field has no effect."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "BCP-47 language code for localized infoType friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned."
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "The parent resource name, for example locations/{location_id}."
            }
          },
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "resources": {
        "dlpJobs": {
          "methods": {
            "create": {
              "id": "dlp.projects.dlpJobs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/dlpJobs",
              "description": "Creates a new job to inspect storage or calculate risk metrics.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in inspect jobs, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name, for example projects/my-project-id.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the DlpJob resource to be deleted.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "path": "v2/{+name}",
              "id": "dlp.projects.dlpJobs.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running DlpJob. This method indicates that the client is\nno longer interested in the DlpJob result. The job will be cancelled if\npossible.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, end_time asc, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the job was created.\n- `end_time`: corresponds to time the job ended.\n- `name`: corresponds to job's name.\n- `state`: corresponds to `state`",
                  "type": "string",
                  "location": "query"
                },
                "type": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "DLP_JOB_TYPE_UNSPECIFIED",
                    "INSPECT_JOB",
                    "RISK_ANALYSIS_JOB"
                  ],
                  "description": "The type of job. Defaults to `DlpJobType.INSPECT`"
                },
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* Supported fields/values for inspect jobs:\n    - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - `trigger_name` - The resource name of the trigger that created job.\n    - 'end_time` - Corresponds to time the job finished.\n    - 'start_time` - Corresponds to time the job finished.\n* Supported fields for risk analysis jobs:\n    - `state` - RUNNING|CANCELED|FINISHED|FAILED\n    - 'end_time` - Corresponds to time the job finished.\n    - 'start_time` - Corresponds to time the job finished.\n* The operator must be `=` or `!=`.\n\nExamples:\n\n* inspected_storage = cloud_storage AND state = done\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = done OR state = canceled)\n* end_time \u003e \\\"2017-12-12T00:00:00+00:00\\\"\n\nThe length of this field should be no more than 500 characters."
                }
              },
              "description": "Lists DlpJobs that match the specified filter in the request.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.dlpJobs.list",
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "path": "v2/{+parent}/dlpJobs",
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
              }
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the DlpJob resource to be cancelled."
                }
              },
              "httpMethod": "POST",
              "id": "dlp.projects.dlpJobs.cancel",
              "path": "v2/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running DlpJob. The server\nmakes a best effort to cancel the DlpJob, but success is not\nguaranteed.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "id": "dlp.projects.dlpJobs.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the DlpJob resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running DlpJob.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more."
            }
          }
        },
        "storedInfoTypes": {
          "methods": {
            "patch": {
              "description": "Updates the stored infoType by creating a new version. The existing version\nwill continue to be used until the new version is ready.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of organization and storedInfoType to be updated, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dlp.projects.storedInfoTypes.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.storedInfoTypes.delete",
              "path": "v2/{+name}",
              "description": "Deletes a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and storedInfoType to be deleted, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the organization and storedInfoType to be read, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.storedInfoTypes.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "description": "Gets a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more."
            },
            "list": {
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists stored infoTypes.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "path": "v2/{+parent}/storedInfoTypes",
              "id": "dlp.projects.storedInfoTypes.list",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, display_name, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the most recent version of the\nresource was created.\n- `state`: corresponds to the state of the resource.\n- `name`: corresponds to resource name.\n- `display_name`: corresponds to info type's display name.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListStoredInfoTypes`.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "locationId": {
                  "location": "query",
                  "type": "string",
                  "description": "Deprecated. This field has no effect."
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a pre-built stored infoType to be used for inspection.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes",
              "id": "dlp.projects.storedInfoTypes.create",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+parent}/storedInfoTypes",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              }
            }
          }
        },
        "image": {
          "methods": {
            "redact": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePrivacyDlpV2RedactImageRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2RedactImageResponse"
              },
              "description": "Redacts potentially sensitive info from an image.\nThis method has limits on input size, processing time, and output size.\nSee https://cloud.google.com/dlp/docs/redacting-sensitive-data-images to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
              "flatPath": "v2/projects/{projectsId}/image:redact",
              "path": "v2/{+parent}/image:redact",
              "id": "dlp.projects.image.redact"
            }
          }
        },
        "locations": {
          "resources": {
            "deidentifyTemplates": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id."
                    }
                  },
                  "description": "Creates a DeidentifyTemplate for re-using frequently used configuration\nfor de-identifying content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                  "id": "dlp.projects.locations.deidentifyTemplates.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                  },
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "id": "dlp.projects.locations.deidentifyTemplates.patch",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$"
                    }
                  },
                  "id": "dlp.projects.locations.deidentifyTemplates.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "path": "v2/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists DeidentifyTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                  "id": "dlp.projects.locations.deidentifyTemplates.list",
                  "parameters": {
                    "orderBy": {
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "id": "dlp.projects.locations.deidentifyTemplates.get"
                }
              }
            },
            "inspectTemplates": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.inspectTemplates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "type": "string",
                      "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of organization and inspectTemplate to be updated, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                  },
                  "description": "Updates the InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "id": "dlp.projects.locations.inspectTemplates.patch"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dlp.projects.locations.inspectTemplates.list",
                  "parameters": {
                    "orderBy": {
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from previous call\nto `ListInspectTemplates`."
                    },
                    "locationId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field has no effect."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates",
                  "description": "Lists InspectTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                  },
                  "path": "v2/{+parent}/inspectTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the organization and inspectTemplate to be read, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "httpMethod": "GET",
                  "description": "Gets an InspectTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "path": "v2/{+name}",
                  "id": "dlp.projects.locations.inspectTemplates.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}"
                },
                "create": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.inspectTemplates.create",
                  "description": "Creates an InspectTemplate for re-using frequently used configuration\nfor inspecting content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates to learn more.",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                  },
                  "path": "v2/{+parent}/inspectTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates"
                }
              }
            },
            "content": {
              "methods": {
                "inspect": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2InspectContentRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Finds potentially sensitive info in content.\nThis method has limits on input size, processing time, and output size.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nFor how to guides, see https://cloud.google.com/dlp/docs/inspecting-images\nand https://cloud.google.com/dlp/docs/inspecting-text,",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectContentResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:inspect",
                  "id": "dlp.projects.locations.content.inspect",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "The parent resource name, for example projects/my-project-id.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v2/{+parent}/content:inspect"
                },
                "deidentify": {
                  "description": "De-identifies potentially sensitive info from a ContentItem.\nThis method has limits on input size and output size.\nSee https://cloud.google.com/dlp/docs/deidentify-sensitive-data to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/content:deidentify",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent resource name, for example projects/my-project-id.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:deidentify",
                  "id": "dlp.projects.locations.content.deidentify"
                },
                "reidentify": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/content:reidentify",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:reidentify",
                  "description": "Re-identifies content that has been de-identified.\nSee\nhttps://cloud.google.com/dlp/docs/pseudonymization#re-identification_in_free_text_code_example\nto learn more.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
                  },
                  "id": "dlp.projects.locations.content.reidentify",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
                  }
                }
              }
            },
            "storedInfoTypes": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/storedInfoTypes",
                  "httpMethod": "POST",
                  "id": "dlp.projects.locations.storedInfoTypes.create",
                  "description": "Creates a pre-built stored infoType to be used for inspection.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more."
                },
                "list": {
                  "id": "dlp.projects.locations.storedInfoTypes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists stored infoTypes.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                  },
                  "path": "v2/{+parent}/storedInfoTypes",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from previous call\nto `ListStoredInfoTypes`.",
                      "type": "string"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, display_name, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the most recent version of the\nresource was created.\n- `state`: corresponds to the state of the resource.\n- `name`: corresponds to resource name.\n- `display_name`: corresponds to info type's display name.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and storedInfoType to be deleted, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "id": "dlp.projects.locations.storedInfoTypes.delete",
                  "description": "Deletes a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}"
                },
                "get": {
                  "id": "dlp.projects.locations.storedInfoTypes.get",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "description": "Required. Resource name of the organization and storedInfoType to be read, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "description": "Gets a stored infoType.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of organization and storedInfoType to be updated, for\nexample `organizations/433245324/storedInfoTypes/432452342` or\nprojects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dlp.projects.locations.storedInfoTypes.patch",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "description": "Updates the stored infoType by creating a new version. The existing version\nwill continue to be used until the new version is ready.\nSee https://cloud.google.com/dlp/docs/creating-stored-infotypes to\nlearn more."
                }
              }
            },
            "image": {
              "methods": {
                "redact": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2RedactImageResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2RedactImageRequest"
                  },
                  "path": "v2/{+parent}/image:redact",
                  "description": "Redacts potentially sensitive info from an image.\nThis method has limits on input size, processing time, and output size.\nSee https://cloud.google.com/dlp/docs/redacting-sensitive-data-images to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/image:redact",
                  "id": "dlp.projects.locations.image.redact",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent resource name, for example projects/my-project-id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "dlpJobs": {
              "methods": {
                "finish": {
                  "httpMethod": "POST",
                  "description": "Finish a running hybrid DlpJob. Triggers the finalization steps and running\nof any enabled actions that have not yet run.\nEarly access feature is in a pre-release state and might change or have\nlimited support. For more information, see\nhttps://cloud.google.com/products#product-launch-stages.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:finish",
                  "id": "dlp.projects.locations.dlpJobs.finish",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2FinishDlpJobRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}:finish",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the DlpJob resource to be cancelled."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running DlpJob.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DlpJob"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the DlpJob resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.dlpJobs.get"
                },
                "cancel": {
                  "path": "v2/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running DlpJob. The server\nmakes a best effort to cancel the DlpJob, but success is not\nguaranteed.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.dlpJobs.cancel",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the DlpJob resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new job to inspect storage or calculate risk metrics.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in inspect jobs, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DlpJob"
                  },
                  "id": "dlp.projects.locations.dlpJobs.create",
                  "path": "v2/{+parent}/dlpJobs",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, for example projects/my-project-id.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running DlpJob. This method indicates that the client is\nno longer interested in the DlpJob result. The job will be cancelled if\npossible.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "description": "Required. The name of the DlpJob resource to be deleted.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}",
                  "httpMethod": "DELETE",
                  "id": "dlp.projects.locations.dlpJobs.delete",
                  "path": "v2/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dlp.projects.locations.dlpJobs.list",
                  "path": "v2/{+parent}/dlpJobs",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* Supported fields/values for inspect jobs:\n    - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - `trigger_name` - The resource name of the trigger that created job.\n    - 'end_time` - Corresponds to time the job finished.\n    - 'start_time` - Corresponds to time the job finished.\n* Supported fields for risk analysis jobs:\n    - `state` - RUNNING|CANCELED|FINISHED|FAILED\n    - 'end_time` - Corresponds to time the job finished.\n    - 'start_time` - Corresponds to time the job finished.\n* The operator must be `=` or `!=`.\n\nExamples:\n\n* inspected_storage = cloud_storage AND state = done\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = done OR state = canceled)\n* end_time \u003e \\\"2017-12-12T00:00:00+00:00\\\"\n\nThe length of this field should be no more than 500 characters.",
                      "location": "query"
                    },
                    "locationId": {
                      "type": "string",
                      "description": "Deprecated. This field has no effect.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example projects/my-project-id.",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc, end_time asc, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the job was created.\n- `end_time`: corresponds to time the job ended.\n- `name`: corresponds to job's name.\n- `state`: corresponds to `state`"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "DLP_JOB_TYPE_UNSPECIFIED",
                        "INSPECT_JOB",
                        "RISK_ANALYSIS_JOB"
                      ],
                      "location": "query",
                      "description": "The type of job. Defaults to `DlpJobType.INSPECT`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs",
                  "description": "Lists DlpJobs that match the specified filter in the request.\nSee https://cloud.google.com/dlp/docs/inspecting-storage and\nhttps://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "hybridInspect": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "dlp.projects.locations.dlpJobs.hybridInspect",
                  "description": "Inspect hybrid content and store findings to a job.\nTo review the findings inspect the job. Inspection will occur\nasynchronously.\nEarly access feature is in a pre-release state and might change or have\nlimited support. For more information, see\nhttps://cloud.google.com/products#product-launch-stages.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectResponse"
                  },
                  "path": "v2/{+name}:hybridInspect",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectDlpJobRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the job to execute a hybrid inspect on, for example\n`projects/dlp-test-project/dlpJob/53234423`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}:hybridInspect"
                }
              }
            },
            "jobTriggers": {
              "methods": {
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "httpMethod": "PATCH",
                  "description": "Updates a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dlp.projects.locations.jobTriggers.patch",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "hybridInspect": {
                  "description": "Inspect hybrid content and store findings to a trigger. The inspection\nwill be processed asynchronously. To review the findings monitor the\njobs within the trigger.\nEarly access feature is in a pre-release state and might change or have\nlimited support. For more information, see\nhttps://cloud.google.com/products#product-launch-stages.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the trigger to execute a hybrid inspect on, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.jobTriggers.hybridInspect",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}:hybridInspect",
                  "path": "v2/{+name}:hybridInspect",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest"
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "description": "Deletes a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dlp.projects.locations.jobTriggers.delete",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "path": "v2/{+parent}/jobTriggers",
                  "id": "dlp.projects.locations.jobTriggers.list",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Comma separated list of triggeredJob fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the JobTrigger was created.\n- `update_time`: corresponds to time the JobTrigger was last updated.\n- `last_run_time`: corresponds to the last time the JobTrigger ran.\n- `name`: corresponds to JobTrigger's name.\n- `display_name`: corresponds to JobTrigger's display name.\n- `status`: corresponds to JobTrigger's status.",
                      "type": "string"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name, for example `projects/my-project-id`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from previous call\nto ListJobTriggers. `order_by` field must not\nchange for subsequent calls.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Size of the page, can be limited by a server.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* Supported fields/values for inspect jobs:\n    - `status` - HEALTHY|PAUSED|CANCELLED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by\n    quotation marks. Nanoseconds are ignored.\n    - 'error_count' - Number of errors that have occurred while running.\n* The operator must be `=` or `!=` for status and inspected_storage.\n\nExamples:\n\n* inspected_storage = cloud_storage AND status = HEALTHY\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY)\n* last_run_time \u003e \\\"2017-12-12T00:00:00+00:00\\\"\n\nThe length of this field should be no more than 500 characters."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists job triggers.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more."
                },
                "create": {
                  "id": "dlp.projects.locations.jobTriggers.create",
                  "path": "v2/{+parent}/jobTriggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job trigger to run DLP actions such as scanning storage for\nsensitive information on a set schedule.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, for example projects/my-project-id.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
                  "id": "dlp.projects.locations.jobTriggers.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "activate": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}:activate",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DlpJob"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Activate a job trigger. Causes the immediate execute of a trigger\ninstead of waiting on the trigger event to occur.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the trigger to activate, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}:activate",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
                  },
                  "id": "dlp.projects.locations.jobTriggers.activate"
                }
              }
            }
          }
        },
        "jobTriggers": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/jobTriggers",
              "path": "v2/{+parent}/jobTriggers",
              "parameters": {
                "pageSize": {
                  "description": "Size of the page, can be limited by a server.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* Supported fields/values for inspect jobs:\n    - `status` - HEALTHY|PAUSED|CANCELLED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by\n    quotation marks. Nanoseconds are ignored.\n    - 'error_count' - Number of errors that have occurred while running.\n* The operator must be `=` or `!=` for status and inspected_storage.\n\nExamples:\n\n* inspected_storage = cloud_storage AND status = HEALTHY\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY)\n* last_run_time \u003e \\\"2017-12-12T00:00:00+00:00\\\"\n\nThe length of this field should be no more than 500 characters."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma separated list of triggeredJob fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the JobTrigger was created.\n- `update_time`: corresponds to time the JobTrigger was last updated.\n- `last_run_time`: corresponds to the last time the JobTrigger ran.\n- `name`: corresponds to JobTrigger's name.\n- `display_name`: corresponds to JobTrigger's display name.\n- `status`: corresponds to JobTrigger's status."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name, for example `projects/my-project-id`.",
                  "required": true
                },
                "locationId": {
                  "description": "Deprecated. This field has no effect.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from previous call\nto ListJobTriggers. `order_by` field must not\nchange for subsequent calls.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
              },
              "description": "Lists job triggers.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "httpMethod": "GET",
              "id": "dlp.projects.jobTriggers.list"
            },
            "activate": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "description": "Required. Resource name of the trigger to activate, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}:activate",
              "path": "v2/{+name}:activate",
              "request": {
                "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
              },
              "id": "dlp.projects.jobTriggers.activate",
              "description": "Activate a job trigger. Causes the immediate execute of a trigger\ninstead of waiting on the trigger event to occur.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.jobTriggers.delete",
              "description": "Deletes a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more."
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "path": "v2/{+name}",
              "id": "dlp.projects.jobTriggers.patch",
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
              }
            },
            "create": {
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "path": "v2/{+parent}/jobTriggers",
              "description": "Creates a job trigger to run DLP actions such as scanning storage for\nsensitive information on a set schedule.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
              },
              "id": "dlp.projects.jobTriggers.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name, for example projects/my-project-id.",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/jobTriggers",
              "httpMethod": "POST"
            },
            "get": {
              "id": "dlp.projects.jobTriggers.get",
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets a job trigger.\nSee https://cloud.google.com/dlp/docs/creating-job-triggers to learn more."
            }
          }
        },
        "deidentifyTemplates": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.deidentifyTemplates.get",
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
              },
              "id": "dlp.projects.deidentifyTemplates.create",
              "path": "v2/{+parent}/deidentifyTemplates",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Creates a DeidentifyTemplate for re-using frequently used configuration\nfor de-identifying content, images, and storage.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore."
            },
            "patch": {
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342."
                }
              },
              "description": "Updates the DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.deidentifyTemplates.patch",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "PATCH"
            },
            "list": {
              "id": "dlp.projects.deidentifyTemplates.list",
              "path": "v2/{+parent}/deidentifyTemplates",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Size of the page, can be limited by server. If zero server returns\na page of max size 100."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name, for example projects/my-project-id or\norganizations/my-org-id."
                },
                "locationId": {
                  "location": "query",
                  "description": "Deprecated. This field has no effect.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma separated list of fields to order by,\nfollowed by `asc` or `desc` postfix. This list is case-insensitive,\ndefault sorting order is ascending, redundant space characters are\ninsignificant.\n\nExample: `name asc,update_time, create_time desc`\n\nSupported fields are:\n\n- `create_time`: corresponds to time the template was created.\n- `update_time`: corresponds to time the template was last updated.\n- `name`: corresponds to template's name.\n- `display_name`: corresponds to template's display name.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists DeidentifyTemplates.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.deidentifyTemplates.delete",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a DeidentifyTemplate.\nSee https://cloud.google.com/dlp/docs/creating-templates-deid to learn\nmore.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342."
                }
              }
            }
          }
        },
        "content": {
          "methods": {
            "reidentify": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/content:reidentify",
              "httpMethod": "POST",
              "path": "v2/{+parent}/content:reidentify",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
              },
              "id": "dlp.projects.content.reidentify",
              "response": {
                "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
              },
              "description": "Re-identifies content that has been de-identified.\nSee\nhttps://cloud.google.com/dlp/docs/pseudonymization#re-identification_in_free_text_code_example\nto learn more."
            },
            "inspect": {
              "id": "dlp.projects.content.inspect",
              "path": "v2/{+parent}/content:inspect",
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectContentResponse"
              },
              "description": "Finds potentially sensitive info in content.\nThis method has limits on input size, processing time, and output size.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nFor how to guides, see https://cloud.google.com/dlp/docs/inspecting-images\nand https://cloud.google.com/dlp/docs/inspecting-text,",
              "request": {
                "$ref": "GooglePrivacyDlpV2InspectContentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/content:inspect"
            },
            "deidentify": {
              "flatPath": "v2/projects/{projectsId}/content:deidentify",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
              },
              "id": "dlp.projects.content.deidentify",
              "request": {
                "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
              },
              "path": "v2/{+parent}/content:deidentify",
              "description": "De-identifies potentially sensitive info from a ContentItem.\nThis method has limits on input size and output size.\nSee https://cloud.google.com/dlp/docs/deidentify-sensitive-data to\nlearn more.\n\nWhen no InfoTypes or CustomInfoTypes are specified in this request, the\nsystem will automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "inspectTemplates": {
          "methods": {
            "create": {
              "id": "dlp.projects.inspectTemplates.create",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
[...]
