{
  "canonicalName": "DLP",
  "rootUrl": "https://dlp.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v2",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "schemas": {
    "GooglePrivacyDlpV2RecordKey": {
      "properties": {
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches\nthe order of `identifying_fields` specified in the scanning request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        }
      },
      "id": "GooglePrivacyDlpV2RecordKey",
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PartitionId": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project to which the entities belong."
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2PartitionId",
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID."
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "type": "object",
      "properties": {
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "type": "array"
        },
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Sensitive field for computing the l-value."
        }
      },
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "id": "GooglePrivacyDlpV2LDiversityConfig"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "type": "object",
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed."
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2QuasiId": {
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiId",
      "properties": {
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below).",
          "type": "string"
        },
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from\nthe distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public\ndataset as a statistical model of population, if available. We\ncurrently support US ZIP codes, region codes, ages and genders.\nTo programmatically obtain the list of supported InfoTypes, use\nListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        }
      },
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2StoredType": {
      "id": "GooglePrivacyDlpV2StoredType",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for\ninspection was created. Output-only field, populated by the system."
        },
        "name": {
          "description": "Resource name of the requested `StoredInfoType`, for example\n`organizations/433245324/storedInfoTypes/432452342` or\n`projects/project-id/storedInfoTypes/432452342`.",
          "type": "string"
        }
      },
      "description": "A reference to a StoredInfoType to use with scanning."
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "description": "Request message for CreateInspectTemplate.",
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "Required. The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-_]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "description": "Configuration for a custom dictionary created from a data source of any size\nup to the maximum size defined in the\n[limits](https://cloud.google.com/dlp/limits) page. The artifacts of\ndictionary creation are stored in the specified Google Cloud Storage\nlocation. Consider using `CustomInfoType.Dictionary` for smaller dictionaries\nthat satisfy the size requirements.",
      "type": "object",
      "properties": {
        "bigQueryField": {
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase.",
          "$ref": "GooglePrivacyDlpV2BigQueryField"
        },
        "outputPath": {
          "description": "Location to store dictionary artifacts in Google Cloud Storage. These files\nwill only be accessible by project owners and the DLP API. If any of these\nartifacts are modified, the dictionary is considered invalid and can no\nlonger be used.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        },
        "cloudStorageFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet",
          "description": "Set of files containing newline-delimited lists of dictionary phrases."
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
    },
    "GooglePrivacyDlpV2Value": {
      "id": "GooglePrivacyDlpV2Value",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "string"
        },
        "floatValue": {
          "description": "float",
          "type": "number",
          "format": "double"
        },
        "dayOfWeekValue": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "day of week"
        },
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "time of day"
        },
        "dateValue": {
          "description": "date",
          "$ref": "GoogleTypeDate"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "integer"
        },
        "booleanValue": {
          "description": "boolean",
          "type": "boolean"
        },
        "timestampValue": {
          "type": "string",
          "description": "timestamp",
          "format": "google-datetime"
        }
      },
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          },
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.\nSee https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector. What specified here will override\nthe template referenced by the inspect_template_name argument."
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "type": "object",
      "description": "Request to search for potentially sensitive info in a ContentItem."
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "type": "object",
      "properties": {
        "bucketSize": {
          "format": "double",
          "type": "number",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if\n`lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the\nfollowing buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60,\n60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works."
        },
        "lowerBound": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are\ngrouped together into a single bucket; for example if `lower_bound` = 10,\nthen all values less than 10 are replaced with the value \"-10\"."
        },
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are\ngrouped together into a single bucket; for example if `upper_bound` = 89,\nthen all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "description": "Buckets values based on fixed size ranges. The\nBucketing transformation can provide all of this functionality,\nbut requires more configuration. This message is provided as a convenience to\nthe user for simple bucketing strategies.\n\nThe transformed value will be a hyphenated string of\n{lower_bound}-{upper_bound}, i.e if lower_bound = 10 and upper_bound = 20\nall values that are within this bucket will be replaced with \"10-20\".\n\nThis can be used on data of type: double, long.\n\nIf the bound Value type differs from the type of data\nbeing transformed, we will first attempt converting the type of the data to\nbe transformed to match the type of the bound before comparing.\n\nSee https://cloud.google.com/dlp/docs/concepts-bucketing to learn more."
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "type": "object",
      "description": "The configuration that controls how the data will change.",
      "properties": {
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the dataset as free-form text and apply the same free text\ntransformation everywhere."
        },
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default\nmode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to\nspecific locations within structured datasets, such as transforming\na column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyConfig"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "properties": {},
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "type": "object",
      "description": "Quota exceeded errors will be thrown once quota has been met."
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "storedInfoTypeId": {
          "description": "The storedInfoType ID can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-_]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Required. Configuration of the storedInfoType to create."
        }
      },
      "description": "Request message for CreateStoredInfoType."
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "type": "object",
      "description": "Bounding box encompassing detected text within an image.",
      "properties": {
        "left": {
          "type": "integer",
          "format": "int32",
          "description": "Left coordinate of the bounding box. (0,0) is upper left."
        },
        "height": {
          "type": "integer",
          "description": "Height of the bounding box in pixels.",
          "format": "int32"
        },
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2BoundingBox"
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "type": "object",
      "properties": {
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "type": "string",
          "format": "int64"
        },
        "bucketValues": {
          "type": "array",
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          }
        },
        "bucketValueCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket."
        },
        "minAnonymity": {
          "format": "int64",
          "description": "Always positive.",
          "type": "string"
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Number of records within these anonymity bounds."
        }
      },
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "type": "object",
      "description": "Message representing a single file or path in Cloud Storage.",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage.\nExample: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are\nsupported except for arrays and structs. However, it may be more\ninformative to use NumericalStats when the field type is supported,\ndepending on the data.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig"
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
      "id": "GooglePrivacyDlpV2RedactConfig",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "id": "GooglePrivacyDlpV2ValueFrequency",
      "properties": {
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "A value contained in the field in question."
        },
        "count": {
          "description": "How many times the value is contained in the field.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A value of a field, including its frequency."
    },
    "GooglePrivacyDlpV2StoredInfoTypeVersion": {
      "description": "Version of a StoredInfoType, including the configuration used to build it,\ncreate timestamp, and current state.",
      "type": "object",
      "properties": {
        "stats": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeStats",
          "description": "Statistics about this storedInfoType version."
        },
        "createTime": {
          "type": "string",
          "description": "Create timestamp of the version. Read-only, determined by the system\nwhen the version is created.",
          "format": "google-datetime"
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "StoredInfoType configuration."
        },
        "errors": {
          "description": "Errors that occurred when creating this storedInfoType version, or\nanomalies detected in the storedInfoType data that render it unusable. Only\nthe five most recent errors will be displayed, with the most recent error\nappearing first.\n\nFor example, some of the data for stored custom dictionaries is put in\nthe user's Google Cloud Storage bucket, and if this data is modified or\ndeleted by the user or another system, the dictionary becomes invalid.\n\nIf any errors occur, fix the problem indicated by the error message and\nuse the UpdateStoredInfoType API method to create another version of the\nstoredInfoType to continue using it, reusing the same `config` if it was\nnot the source of the error.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unused",
            "StoredInfoType version is being created.",
            "StoredInfoType version is ready for use.",
            "StoredInfoType creation failed. All relevant error messages are returned in\nthe `StoredInfoTypeVersion` message.",
            "StoredInfoType is no longer valid because artifacts stored in\nuser-controlled storage were modified. To fix an invalid StoredInfoType,\nuse the `UpdateStoredInfoType` method to create a new version."
          ],
          "enum": [
            "STORED_INFO_TYPE_STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FAILED",
            "INVALID"
          ],
          "description": "Stored info type version state. Read-only, updated by the system\nduring dictionary creation.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoTypeVersion"
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "type": "object",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote."
    },
    "GooglePrivacyDlpV2Container": {
      "id": "GooglePrivacyDlpV2Container",
      "properties": {
        "type": {
          "type": "string",
          "description": "Container type, for example BigQuery or Google Cloud Storage."
        },
        "rootPath": {
          "type": "string",
          "description": "The root of the container.\nExamples:\n- For BigQuery table `project_id:dataset_id.table_id`, the root is\n `dataset_id`\n- For Google Cloud Storage file `gs://bucket/folder/filename.txt`, the root\n is `gs://bucket`"
        },
        "relativePath": {
          "description": "The rest of the path after the root.\nExamples:\n- For BigQuery table `project_id:dataset_id.table_id`, the relative path is\n `table_id`\n- Google Cloud Storage file `gs://bucket/folder/filename.txt`, the relative\n path is `folder/filename.txt`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Findings container modification timestamp, if applicable.\nFor Google Cloud Storage contains last file modification timestamp.\nFor BigQuery table contains last_modified_time property.\nFor Datastore - not populated."
        },
        "projectId": {
          "description": "Project where the finding was found.\nCan be different from the project that owns the finding.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Findings container version, if available\n(\"generation\" for Google Cloud Storage)."
        },
        "fullPath": {
          "description": "A string representation of the full container name.\nExamples:\n- BigQuery: 'Project:DataSetId.TableId'\n- Google Cloud Storage: 'gs://Bucket/folders/filename.txt'",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a container that may contain DLP findings.\nExamples of a container include a file, table, or database record."
    },
    "GooglePrivacyDlpV2Conditions": {
      "id": "GooglePrivacyDlpV2Conditions",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          },
          "description": "A collection of conditions."
        }
      },
      "description": "A collection of conditions.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "id": "GooglePrivacyDlpV2KAnonymityResult",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "description": "Histogram of k-anonymity equivalence classes.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          },
          "type": "array"
        }
      },
      "description": "Result of the k-anonymity computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Schedule": {
      "type": "object",
      "description": "Schedule for triggeredJobs.",
      "id": "GooglePrivacyDlpV2Schedule",
      "properties": {
        "recurrencePeriodDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "With this option a job is started a regular periodic basis. For\nexample: every day (86400 seconds).\n\nA scheduled start time will be skipped if the previous\nexecution has not ended when its scheduled time occurs.\n\nThis value must be set to a time duration greater than or equal\nto 1 day and can be no longer than 60 days."
        }
      }
    },
    "GooglePrivacyDlpV2PrivacyMetric": {
      "id": "GooglePrivacyDlpV2PrivacyMetric",
      "properties": {
        "kAnonymityConfig": {
          "$ref": "GooglePrivacyDlpV2KAnonymityConfig",
          "description": "K-anonymity"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2LDiversityConfig",
          "description": "l-diversity"
        },
        "numericalStatsConfig": {
          "description": "Numerical stats",
          "$ref": "GooglePrivacyDlpV2NumericalStatsConfig"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationConfig",
          "description": "k-map"
        },
        "categoricalStatsConfig": {
          "description": "Categorical stats",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsConfig"
        },
        "deltaPresenceEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
          "description": "delta-presence"
        }
      },
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Condition": {
      "properties": {
        "operator": {
          "description": "Required. Operator used to compare the field or infoType to the value.",
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "type": "string",
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ]
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]"
        },
        "field": {
          "description": "Required. Field within the record this condition is evaluated against.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "type": "object",
      "description": "The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\nEQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types,\nbut all other comparisons are invalid with incompatible types.\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false.",
      "id": "GooglePrivacyDlpV2Condition"
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated.",
          "type": "string"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "New InspectTemplate value."
        }
      },
      "description": "Request message for UpdateInspectTemplate.",
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "id": "GooglePrivacyDlpV2HybridOptions",
      "type": "object",
      "properties": {
        "description": {
          "description": "A short description of where the data is coming from. Will be stored once\nin the job. 256 max length.",
          "type": "string"
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings\nmeaningful such as the columns that are primary keys."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "To organize findings, these labels will be added to each finding.\n\nLabel keys must be between 1 and 63 characters long and must conform\nto the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`.\n\nLabel values must be between 0 and 63 characters long and must conform\nto the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.\n\nNo more than 10 labels can be associated with a given finding.\n\nExamples:\n* `\"environment\" : \"production\"`\n* `\"pipeline\" : \"etl\"`",
          "type": "object"
        },
        "requiredFindingLabelKeys": {
          "type": "array",
          "description": "These are labels that each inspection request must include within their\n'finding_labels' map. Request may contain others, but any missing one of\nthese will be rejected.\n\nLabel keys must be between 1 and 63 characters long and must conform\nto the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`.\n\nNo more than 10 keys can be required.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration to control jobs where the content being inspected is outside\nof Google Cloud Platform."
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityResult",
      "type": "object"
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "type": "object",
      "description": "A tuple of values for the quasi-identifier columns.",
      "properties": {
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "type": "string",
          "format": "int64"
        },
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "The quasi-identifier values.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "properties": {
        "excludeRegex": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of regular expressions matching file paths to exclude. All files in\nthe bucket that match at least one of these regular expressions will be\nexcluded from the scan.\n\nRegular expressions use RE2\n[syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found\nunder the google/re2 repository on GitHub."
        },
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string"
        },
        "includeRegex": {
          "items": {
            "type": "string"
          },
          "description": "A list of regular expressions matching file paths to include. All files in\nthe bucket that match at least one of these regular expressions will be\nincluded in the set of files, except for those that also match an item in\n`exclude_regex`. Leaving this field empty will match all files by default\n(this is equivalent to including `.*` in the list).\n\nRegular expressions use RE2\n[syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found\nunder the google/re2 repository on GitHub.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "type": "object",
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular\nexpressions are used to allow fine-grained control over which files in the\nbucket to include.\n\nIncluded files are those that match at least one item in `include_regex` and\ndo not match any items in `exclude_regex`. Note that a file that matches\nitems from both lists will _not_ be included. For a match to occur, the\nentire file path (i.e., everything in the url after the bucket name) must\nmatch the regular expression.\n\nFor example, given the input `{bucket_name: \"mybucket\", include_regex:\n[\"directory1/.*\"], exclude_regex:\n[\"directory1/excluded.*\"]}`:\n\n* `gs://mybucket/directory1/myfile` will be included\n* `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches\nacross `/`)\n* `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the\nfull path doesn't match any items in `include_regex`)\n* `gs://mybucket/directory1/excludedfile` will _not_ be included (the path\nmatches an item in `exclude_regex`)\n\nIf `include_regex` is left empty, it will match all files by default\n(this is equivalent to setting `include_regex: [\".*\"]`).\n\nSome other common use cases:\n\n* `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all\nfiles in `mybucket` except for .pdf files\n* `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will\ninclude all files directly under `gs://mybucket/directory/`, without matching\nacross `/`"
    },
    "GooglePrivacyDlpV2DlpJob": {
      "description": "Combines all of the information about a DLP job.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DlpJob",
      "properties": {
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of job.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ]
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        },
        "startTime": {
          "type": "string",
          "description": "Time when the job started.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Time when the job finished.",
          "format": "google-datetime"
        },
        "jobTriggerName": {
          "type": "string",
          "description": "If created by a job trigger, the resource name of the trigger that\ninstantiated the job."
        },
        "state": {
          "description": "State of a job.",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The job has not yet started.",
            "The job is currently running. Once a job has finished it will transition\nto FAILED or DONE.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete.",
            "The job is currently accepting findings via hybridInspect.\nA hybrid job in ACTIVE state may continue to have findings added to it\nthrough calling of hybridInspect. After the job has finished no more\ncalls to hybridInspect may be made. ACTIVE jobs can transition to DONE."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the job was created."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name."
        },
        "riskDetails": {
          "description": "Results from analyzing risk of a data source.",
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
        }
      }
    },
    "GooglePrivacyDlpV2MetadataLocation": {
      "properties": {
        "storageLabel": {
          "description": "Storage metadata.",
          "$ref": "GooglePrivacyDlpV2StorageMetadataLabel"
        },
        "type": {
          "enum": [
            "METADATATYPE_UNSPECIFIED",
            "STORAGE_METADATA"
          ],
          "description": "Type of metadata containing the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "General file metadata provided by Cloud Storage."
          ]
        }
      },
      "id": "GooglePrivacyDlpV2MetadataLocation",
      "description": "Metadata Location",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GooglePrivacyDlpV2Range": {
      "type": "object",
      "properties": {
        "end": {
          "type": "string",
          "description": "Index of the last character of the range (exclusive).",
          "format": "int64"
        },
        "start": {
          "format": "int64",
          "type": "string",
          "description": "Index of the first character of the range (inclusive)."
        }
      },
      "id": "GooglePrivacyDlpV2Range",
      "description": "Generic half-open interval [start, end)"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues",
      "properties": {
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array",
          "description": "The quasi-identifier values."
        },
        "estimatedProbability": {
          "type": "number",
          "description": "The estimated probability that a given individual sharing these\nquasi-identifier values is in the dataset. This value, typically called\nδ, is the ratio between the number of records in the dataset with these\nquasi-identifier values, and the total number of individuals (inside\n*and* outside the dataset) with these quasi-identifier values.\nFor example, if there are 15 individuals in the dataset who share the\nsame quasi-identifier values, and an estimated 100 people in the entire\npopulation with these values, then δ is 0.15.",
          "format": "double"
        }
      }
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. A 128/192/256 bit key.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ThrowError": {
      "id": "GooglePrivacyDlpV2ThrowError",
      "properties": {},
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
      "type": "object",
      "properties": {
        "approxNumPhrases": {
          "description": "Approximate number of distinct phrases in the dictionary.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Summary statistics of a custom dictionary."
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "description": "Configuration to suppress records whose suppression conditions evaluate to\ntrue.",
      "properties": {
        "condition": {
          "$ref": "GooglePrivacyDlpV2RecordCondition",
          "description": "A condition that when it evaluates to true will result in the record being\nevaluated to be suppressed from the transformed content."
        }
      },
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "properties": {
        "redactedImage": {
          "format": "byte",
          "description": "The redacted image. The type will be the same as the original image.",
          "type": "string"
        },
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was\nset to true, then this field will include all text, if any, that was found\nin the image.",
          "type": "string"
        }
      },
      "description": "Results of redacting an image.",
      "id": "GooglePrivacyDlpV2RedactImageResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "properties": {
        "result": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings."
        }
      },
      "description": "Results of inspecting an item.",
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "type": "object",
      "properties": {
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified,\nthe default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        },
        "infoType": {
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "redactAllText": {
          "type": "boolean",
          "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted. Only one should be provided."
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "description": "Configuration for determining how redaction of images should occur."
    },
    "GooglePrivacyDlpV2TableLocation": {
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located. Only\npopulated for resources that have a natural ordering, not BigQuery. In\nBigQuery, to identify the row a finding came from, populate\nBigQueryOptions.identifying_fields with your primary key column names and\nwhen you store the findings the value of those columns will be stored\ninside of Finding.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TableLocation",
      "description": "Location of a finding within a table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "type": "object",
      "properties": {
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same\nidentifier in two different contexts won't be given the same surrogate. If\nthe context is not set, a default tweak will be used.\n\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n1. the field is not present when transforming a given value,\n\na default tweak will be used.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customAlphabet": {
          "type": "string",
          "description": "This is supported by mapping these to the alphanumeric characters\nthat the FFX mode natively supports. This happens before/after\nencryption/decryption.\nEach character listed must appear only once.\nNumber of characters must be in the range [2, 95].\nThis must be encoded as ASCII.\nThe order of characters does not matter.\nThe full list of allowed characters is:\n\u003ccode\u003e0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz\n~`!@#$%^&*()_-+={[}]|\\:;\"'\u003c,\u003e.?/\u003c/code\u003e"
        },
        "radix": {
          "format": "int32",
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer"
        },
        "cryptoKey": {
          "description": "Required. The key used by the encryption algorithm.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "commonAlphabet": {
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "type": "string",
          "description": "Common alphabets.",
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ]
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom infoType to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom infoType followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: info_type_name(surrogate_character_count):surrogate\n\nFor example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom infoType\n[`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype).\nThis facilitates reversal of the surrogate when it occurs in free text.\n\nIn order for inspection to work properly, the name of this infoType must\nnot occur naturally anywhere in your data; otherwise, inspection may\nfind a surrogate that does not correspond to an actual identifier.\nTherefore, choose your custom infoType name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n⧝MY_TOKEN_TYPE"
        }
      },
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption\n(FPE) with the FFX mode of operation; however when used in the\n`ReidentifyContent` API method, it serves the opposite function by reversing\nthe surrogate back into the original identifier. The identifier must be\nencoded as ASCII. For a given crypto key and context, the same identifier\nwill be replaced with the same surrogate. Identifiers must be at least two\ncharacters long. In the case that the identifier is the empty string, it will\nbe skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn\nmore.\n\nNote: We recommend using  CryptoDeterministicConfig for all use cases which\ndo not require preserving the input alphabet space and size, plus warrant\nreferential integrity."
    },
    "GooglePrivacyDlpV2StatisticalTable": {
      "description": "An auxiliary table containing statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "id": "GooglePrivacyDlpV2StatisticalTable",
      "properties": {
        "table": {
          "description": "Required. Auxiliary table location.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdentifierField"
          },
          "type": "array",
          "description": "Required. Quasi-identifier columns."
        },
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket",
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following\nvalues:\n  min_probability: 0.1\n  max_probability: 0.2\n  frequency: 42\nmeans that there are 42 records for which δ is in [0.1, 0.2). An\nimportant particular case is when min_probability = max_probability = 1:\nthen, every individual who shares this quasi-identifier combination is in\nthe dataset.",
      "properties": {
        "minProbability": {
          "format": "double",
          "type": "number",
          "description": "Between 0 and 1."
        },
        "bucketSize": {
          "format": "int64",
          "description": "Number of records within these probability bounds.",
          "type": "string"
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "maxProbability": {
          "type": "number",
          "description": "Always greater than or equal to min_probability.",
          "format": "double"
        },
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          },
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2PathElement": {
      "properties": {
        "id": {
          "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`."
        },
        "kind": {
          "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "id": "GooglePrivacyDlpV2PathElement"
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "properties": {
        "relativeLikelihood": {
          "type": "integer",
          "description": "Increase or decrease the likelihood by the specified number of\nlevels. For example, if a finding would be `POSSIBLE` without the\ndetection rule and `relative_likelihood` is 1, then it is upgraded to\n`LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`.\nLikelihood may never drop below `VERY_UNLIKELY` or exceed\n`VERY_LIKELY`, so applying an adjustment of 1 followed by an\nadjustment of -1 when base likelihood is `VERY_LIKELY` will result in\na final likelihood of `LIKELY`.",
          "format": "int32"
        },
        "fixedLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Set the likelihood of a finding to a fixed value.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ]
        }
      },
      "description": "Message for specifying an adjustment to the likelihood of a finding as\npart of a detection rule.",
      "type": "object",
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment"
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "properties": {
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        },
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in\n`InspectionRuleSet`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "id": "GooglePrivacyDlpV2LeaveUntransformed",
      "type": "object",
      "properties": {},
      "description": "Skips the data without modifying it if the requested transformation would\ncause an error. For example, if a `DateShift` transformation were applied\nan an IP address, this mode would leave the IP address unchanged in the\nresponse."
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "properties": {
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        },
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        },
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Proximity of the finding within which the entire hotword must reside.\nThe total length of the window cannot exceed 1000 characters. Note that\nthe finding itself will be included in the window, so that hotwords may\nbe used to match substrings of the finding itself. For example, the\ncertainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be\nadjusted upwards if the area code is known to be the local area code of\na company office using the hotword regex \"\\(xxx\\)\", where \"xxx\"\nis the area code in question."
        }
      },
      "type": "object",
      "description": "The rule that adjusts the likelihood of findings within a certain\nproximity of hotwords.",
      "id": "GooglePrivacyDlpV2HotwordRule"
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishToStackdriver",
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This\nwill publish a metric to stack driver on each infotype requested and\nhow many findings were found for it. CustomDetectors will be bucketed\nas 'Custom' under the Stackdriver label 'info_type'."
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The template name.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR\n`organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 256 chars)."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update timestamp of an inspectTemplate."
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "///////////// // The core content of the template  // ///////////////"
        }
      },
      "description": "DeidentifyTemplates contains instructions on how to de-identify content.\nSee https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2InfoTypeStats": {
      "properties": {
        "count": {
          "format": "int64",
          "description": "Number of findings for this infoType.",
          "type": "string"
        },
        "infoType": {
          "description": "The type of finding this stat is for.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "Statistics regarding a specific InfoType.",
      "id": "GooglePrivacyDlpV2InfoTypeStats",
      "type": "object"
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "properties": {
        "createTime": {
          "description": "Output only. The creation timestamp of a triggeredJob.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of a triggeredJob.",
          "format": "google-datetime"
        },
        "description": {
          "description": "User provided description (max 256 chars)",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Unique resource name for the triggeredJob, assigned by the service when the\ntriggeredJob is created, for example\n`projects/dlp-test-project/jobTriggers/53234423`."
        },
        "status": {
          "type": "string",
          "description": "Required. A status for this trigger.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ]
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "For inspect jobs, a snapshot of the configuration."
        },
        "triggers": {
          "description": "A list of triggers which will be OR'ed together. Only one in the list\nneeds to trigger for a job to be started. The list may contain only\na single Schedule trigger and must have at least one object.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated\nerrors may result in the JobTrigger automatically being paused.\nWill return the last 100 errors. Whenever the JobTrigger is modified\nthis list will be cleared."
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 100 chars)"
        },
        "lastRunTime": {
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2JobTrigger",
      "type": "object",
      "description": "Contains a configuration to make dlp api calls on a repeating basis.\nSee https://cloud.google.com/dlp/docs/concepts-job-triggers to learn more."
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond to any such interval, the associated frequency is\nzero. For example, the following records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity: 2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency: 99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger than 10.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          }
        }
      },
      "description": "Result of the reidentifiability analysis. Note that these results are an\nestimation, not exact values.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Name of the table."
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Dataset ID of the table."
        }
      },
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "id": "GooglePrivacyDlpV2BigQueryTable"
    },
    "GooglePrivacyDlpV2Error": {
      "type": "object",
      "properties": {
        "timestamps": {
          "description": "The times the error occurred.",
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        },
        "details": {
          "description": "Detailed error codes and messages.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Details information about an error encountered during job execution or\nthe results of an unsuccessful activation of the JobTrigger.",
      "id": "GooglePrivacyDlpV2Error"
    },
    "GooglePrivacyDlpV2Action": {
      "description": "A task to execute on the completion of a job.\nSee https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "id": "GooglePrivacyDlpV2Action",
      "type": "object",
      "properties": {
        "publishToStackdriver": {
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count.",
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver"
        },
        "publishSummaryToCscc": {
          "description": "Publish summary to Cloud Security Command Center (Alpha).",
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc"
        },
        "saveFindings": {
          "$ref": "GooglePrivacyDlpV2SaveFindings",
          "description": "Save resulting findings in a provided location."
        },
        "pubSub": {
          "description": "Publish a notification to a pubsub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "publishFindingsToCloudDataCatalog": {
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
          "description": "Publish findings to Cloud Datahub."
        },
        "jobNotificationEmails": {
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails",
          "description": "Enable email notification for project owners and editors on job's\ncompletion/failure."
        }
      }
    },
    "GooglePrivacyDlpV2FieldId": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name describing the field."
        }
      },
      "id": "GooglePrivacyDlpV2FieldId",
      "description": "General identifier of a data field in a storage service.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "type": "object",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the encryption function."
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "A context may be used for higher security and maintaining\nreferential integrity such that the same identifier in two different\ncontexts will be given a distinct surrogate. The context is appended to\nplaintext value being encrypted. On decryption the provided context is\nvalidated against the value used during encryption. If a context was\nprovided during encryption, same context must be provided during decryption\nas well.\n\nIf the context is not set, plaintext would be used as is for encryption.\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n2. the field is not present when transforming a given value,\n\nplaintext would be used as is for encryption.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s."
        },
        "surrogateInfoType": {
          "description": "The custom info type to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom info type followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: {info type name}({surrogate character count}):{surrogate}\n\nFor example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom info type 'Surrogate'. This facilitates reversal of the\nsurrogate when it occurs in free text.\n\nNote: For record transformations where the entire cell in a table is being\ntransformed, surrogates are not mandatory. Surrogates are used to denote\nthe location of the token and are necessary for re-identification in free\nform text.\n\nIn order for inspection to work properly, the name of this info type must\nnot occur naturally anywhere in your data; otherwise, inspection may either\n\n- reverse a surrogate that does not correspond to an actual identifier\n- be unable to parse the surrogate and result in an error\n\nTherefore, choose your custom info type name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n⧝MY_TOKEN_TYPE.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "Pseudonymization method that generates deterministic encryption for the given\ninput. Outputs a base64 encoded representation of the encrypted output.\nUses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "type": "object",
      "description": "This is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored by KMS).\nWhen using KMS to wrap/unwrap DEKs, be sure to set an appropriate\nIAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data crypto key.",
      "properties": {
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
          "description": "Kms wrapped key"
        },
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey",
          "description": "Unwrapped crypto key"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoKey"
    },
    "GooglePrivacyDlpV2Location": {
      "description": "Specifies the location of the finding.",
      "properties": {
        "codepointRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Unicode character offsets delimiting the finding.\nThese are relative to the finding's containing element.\nProvided when the content is text."
        },
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding.\nThese are relative to the finding's containing element.\nNote that when the content is not textual, this references\nthe UTF-8 encoded textual representation of the content.\nOmitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "contentLocations": {
          "description": "List of nested objects pointing to the precise location of the finding\nwithin the file or record.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "type": "array"
        },
        "container": {
          "description": "Information about the container where this finding occurred, if available.",
          "$ref": "GooglePrivacyDlpV2Container"
        }
      },
      "id": "GooglePrivacyDlpV2Location",
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "description": "Publish the result summary of a DlpJob to the Cloud Security\nCommand Center (CSCC Alpha).\nThis action is only available for projects which are parts of\nan organization and whitelisted for the alpha Cloud Security Command\nCenter.\nThe action will publish count of finding instances and their info types.\nThe summary of findings will be persisted in CSCC and are governed by CSCC\nservice-specific policy, see https://cloud.google.com/terms/service-terms\nOnly a single instance of this action can be specified.\nCompatible with: Inspect",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "type": "object",
      "description": "List of exclude infoTypes.",
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes",
      "properties": {
        "infoTypes": {
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or\ncontained within with a finding of an infoType from this list. For\nexample, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and\n`exclusion_rule` containing `exclude_info_types.info_types` with\n\"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap\nwith EMAIL_ADDRESS finding.\nThat leads to \"555-222-2222@example.org\" to generate only a single\nfinding, namely email address.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest",
      "type": "object",
      "description": "Request to re-identify an item.",
      "properties": {
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "reidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the re-identification of the content item.\nThis field shares the same proto message type that is used for\nde-identification, however its usage here is for the reversal of the\nprevious de-identification. Re-identification is performed by examining\nthe transformations used to de-identify the items and executing the\nreverse. This requires that only reversible transformations\nbe provided here. The reversible transformations are:\n\n - `CryptoDeterministicConfig`\n - `CryptoReplaceFfxFpeConfig`"
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in\n`inspect_config` will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged."
        },
        "reidentifyTemplateName": {
          "description": "Template to use. References an instance of `DeidentifyTemplate`.\nAny configuration directly specified in `reidentify_config` or\n`inspect_config` will override those set in the template. The\n`DeidentifyTemplate` used must include only reversible transformations.\nSingular fields that are set in this request will replace their\ncorresponding fields in the template. Repeated fields are appended.\nSingular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "description": "Histogram of value frequencies in the column.",
      "properties": {
        "valueFrequencyLowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound on the value frequency of the values in this bucket."
        },
        "bucketValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of distinct values in this bucket."
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "bucketSize": {
          "type": "string",
          "description": "Total number of values in this bucket.",
          "format": "int64"
        },
        "valueFrequencyUpperBound": {
          "type": "string",
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket",
      "type": "object",
      "properties": {
        "equivalenceClassSizeLowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound on the size of the equivalence classes in this bucket."
        },
        "bucketSize": {
          "type": "string",
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64"
        },
        "equivalenceClassSizeUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the size of the equivalence classes in this bucket."
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          },
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20."
        }
      },
      "description": "Histogram of k-anonymity equivalence classes."
    },
    "GooglePrivacyDlpV2KAnonymityConfig": {
      "type": "object",
      "properties": {
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are\nspecified, they are considered a single composite key. Structs and\nrepeated data types are not supported; however, nested fields are\nsupported so long as they are not structs themselves or nested within\na repeated field.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "entityId": {
          "description": "Message indicating that multiple rows might be associated to a\nsingle individual. If the same entity_id is associated to multiple\nquasi-identifier tuples over distinct rows, we consider the entire\ncollection of tuples as the composite quasi-identifier. This collection\nis a multiset: the order in which the different tuples appear in the\ndataset is ignored, but their frequency is taken into account.\n\nImportant note: a maximum of 1000 rows can be associated to a single\nentity ID. If more rows are associated with the same entity ID, some\nmight be ignored.",
          "$ref": "GooglePrivacyDlpV2EntityId"
        }
      },
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "id": "GooglePrivacyDlpV2KAnonymityConfig"
    },
    "GooglePrivacyDlpV2CreateDlpJobRequest": {
      "description": "Request message for CreateDlpJobRequest. Used to initiate long running\njobs such as calculating risk metrics or inspecting Google Cloud\nStorage.",
      "properties": {
        "riskJob": {
          "description": "Set to choose what metric to calculate.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "Set to control what and how to inspect."
        },
        "jobId": {
          "type": "string",
          "description": "The job id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-_]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one."
        }
      },
      "id": "GooglePrivacyDlpV2CreateDlpJobRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "description": "Result of a risk analysis operation request.",
      "type": "object",
      "properties": {
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "description": "Numerical stats result"
        },
        "kMapEstimationResult": {
          "description": "K-map result",
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "lDiversityResult": {
          "description": "L-divesity result",
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "deltaPresenceEstimationResult": {
          "description": "Delta-presence result",
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2KAnonymityResult",
          "description": "K-anonymity result"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult",
          "description": "Categorical stats result"
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoTypeStats": {
      "properties": {
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryStats"
        }
      },
      "description": "Statistics for a StoredInfoType.",
      "id": "GooglePrivacyDlpV2StoredInfoTypeStats",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "type": "object",
      "properties": {
        "identifyingFields": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Table fields that may uniquely identify a row within the table. When\n`actions.saveFindings.outputConfig.table` is specified, the values of\ncolumns specified here are available in the output table under\n`location.content_locations.record_location.record_key.id_values`. Nested\nfields such as `person.birthdate.year` are allowed."
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "rowsLimitPercent": {
          "type": "integer",
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows\nscanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and\n100 means no limit. Defaults to 0. Only one of rows_limit and\nrows_limit_percent can be specified. Cannot be used in conjunction with\nTimespanConfig.",
          "format": "int32"
        },
        "rowsLimit": {
          "type": "string",
          "format": "int64",
          "description": "Max number of rows to scan. If the table has more rows than this value, the\nrest of the rows are omitted. If not set, or if set to 0, all rows will be\nscanned. Only one of rows_limit and rows_limit_percent can be specified.\nCannot be used in conjunction with TimespanConfig."
        },
        "sampleMethod": {
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "Randomly pick the row to start scanning. The scanned rows are contiguous."
          ],
          "type": "string"
        },
        "excludedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip\ninspection of entire columns which you know have no findings."
        }
      }
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "properties": {
        "fieldTransformations": {
          "type": "array",
          "description": "Transform the record by applying various field transformations.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppressions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          },
          "type": "array",
          "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output."
        }
      },
      "description": "A type of transformation that is applied over structured data such as a\ntable.",
      "type": "object",
      "id": "GooglePrivacyDlpV2RecordTransformations"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "description": "Request to search for potentially sensitive info in an image and redact it\nby covering it with a colored rectangle.",
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "type": "object",
      "properties": {
        "imageRedactionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "description": "The configuration for specifying what content to redact from images."
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "includeFindings": {
          "type": "boolean",
          "description": "Whether the response should include findings along with the redacted\nimage."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "description": "Result of the δ-presence computation. Note that these results are an\nestimation, not exact values.",
      "type": "object",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "description": "The intervals [min_probability, max_probability) do not overlap. If a\nvalue doesn't correspond to any such interval, the associated frequency\nis zero. For example, the following records:\n  {min_probability: 0, max_probability: 0.1, frequency: 17}\n  {min_probability: 0.2, max_probability: 0.3, frequency: 42}\n  {min_probability: 0.3, max_probability: 0.4, frequency: 99}\nmean that there are no record with an estimated probability in [0.1, 0.2)\nnor larger or equal to 0.4."
        }
      }
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "properties": {
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2DatastoreOptions",
          "description": "Google Cloud Datastore options."
        },
        "bigQueryOptions": {
          "description": "BigQuery options.",
          "$ref": "GooglePrivacyDlpV2BigQueryOptions"
        },
        "hybridOptions": {
          "$ref": "GooglePrivacyDlpV2HybridOptions",
          "description": "Hybrid inspection options.\nEarly access feature is in a pre-release state and might change or have\nlimited support. For more information, see\nhttps://cloud.google.com/products#product-launch-stages."
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options.",
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions"
        }
      },
      "type": "object",
      "description": "Shared message indicating Cloud storage type.",
      "id": "GooglePrivacyDlpV2StorageConfig"
    },
    "GooglePrivacyDlpV2BigQueryField": {
      "id": "GooglePrivacyDlpV2BigQueryField",
      "type": "object",
      "description": "Message defining a field of a BigQuery table.",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Designated field in the BigQuery table."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Source table of the field."
        }
      }
    },
    "GooglePrivacyDlpV2Result": {
      "properties": {
        "hybridStats": {
          "description": "Statistics related to the processing of hybrid inspect.\nEarly access feature is in a pre-release state and might change or have\nlimited support. For more information, see\nhttps://cloud.google.com/products#product-launch-stages.",
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics"
        },
        "totalEstimatedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Estimate of the number of bytes to process."
        },
        "processedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total size in bytes that were processed."
        },
        "infoTypeStats": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "description": "Statistics of how many instances of each info type were found during\ninspect job.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "All result fields mentioned below are updated while the job is processing.",
      "id": "GooglePrivacyDlpV2Result"
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "id": "GooglePrivacyDlpV2QuasiIdentifierField",
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below)."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        }
      },
      "type": "object",
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model."
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "type": "object",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "description": "Request to search for potentially sensitive info in a custom location."
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "description": "Container for bytes to inspect or redact.",
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "avro",
            "csv",
            "tsv"
          ],
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "AVRO",
            "CSV",
            "TSV"
          ],
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8."
        },
        "data": {
          "format": "byte",
          "description": "Content data to inspect or redact.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Manual": {
      "id": "GooglePrivacyDlpV2Manual",
      "properties": {},
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created\nand finished.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "properties": {
        "charactersToIgnore": {
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "type": "array",
          "description": "When masking a string, items in this list will be skipped when replacing\ncharacters. For example, if the input string is `555-555-5555` and you\ninstruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP\nreturns `***-**5-5555`."
        },
        "numberToMask": {
          "type": "integer",
          "format": "int32",
          "description": "Number of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters do not count towards this tally."
        },
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is\n`0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the\ninput string `1234-5678-9012-3456` is masked as `00000000000000-3456`.\nIf `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order`\nis `true`, then the string `12345` is masked as `12***`.",
          "type": "boolean"
        },
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values&mdash;for example, `*` for an\nalphabetic string such as a name, or `0` for a numeric string such as ZIP\ncode or credit card number. This string must have a length of 1. If not\nsupplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "type": "object",
      "description": "Partially mask a string by replacing a given number of characters with a\nfixed character. Masking can start from the beginning or end of the string.\nThis can be used on data of any type (numbers, longs, and so on) and when\nde-identifying structured data we'll attempt to preserve the original data's\ntype. (This allows you to take a long like 123 and modify it to a string like\n**3."
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "properties": {
        "bucketSize": {
          "format": "int64",
          "type": "string",
[...]
