{
  "description": "Provisions and manages developers' App Engine applications.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "version": "v1beta",
  "ownerDomain": "google.com",
  "rootUrl": "https://appengine.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "title": "App Engine Admin API",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "baseUrl": "https://appengine.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "resources": {
    "apps": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "v1beta/apps/{appsId}",
          "flatPath": "v1beta/apps/{appsId}",
          "description": "Gets information about an application.",
          "id": "appengine.apps.get",
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "appsId"
          ],
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "appengine.apps.create",
          "flatPath": "v1beta/apps",
          "parameterOrder": [],
          "path": "v1beta/apps",
          "parameters": {},
          "request": {
            "$ref": "Application"
          },
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/).",
          "httpMethod": "POST"
        },
        "patch": {
          "flatPath": "v1beta/apps/{appsId}",
          "id": "appengine.apps.patch",
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated."
            },
            "appsId": {
              "type": "string",
              "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Application"
          },
          "path": "v1beta/apps/{appsId}"
        },
        "repair": {
          "httpMethod": "POST",
          "path": "v1beta/apps/{appsId}:repair",
          "parameterOrder": [
            "appsId"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta/apps/{appsId}:repair",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "parameters": {
            "appsId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Part of `name`. Name of the application to repair. Example: apps/myapp"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "id": "appengine.apps.repair"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v1beta/apps/{appsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "locationsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "path": "v1beta/apps/{appsId}/locations/{locationsId}",
              "id": "appengine.apps.locations.get",
              "parameterOrder": [
                "appsId",
                "locationsId"
              ]
            },
            "list": {
              "id": "appengine.apps.locations.list",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                }
              },
              "description": "Lists information about the supported locations for this service.",
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1beta/apps/{appsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta/apps/{appsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "list": {
              "id": "appengine.apps.authorizedCertificates.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "view": {
                  "description": "Controls the set of fields returned in the LIST response.",
                  "location": "query",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.get",
              "parameters": {
                "authorizedCertificatesId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "location": "query",
                  "description": "Controls the set of fields returned in the GET response."
                },
                "appsId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "httpMethod": "GET",
              "description": "Gets the specified SSL certificate."
            },
            "delete": {
              "id": "appengine.apps.authorizedCertificates.delete",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified SSL certificate.",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path"
                }
              },
              "id": "appengine.apps.authorizedCertificates.create",
              "description": "Uploads the specified SSL certificate.",
              "parameterOrder": [
                "appsId"
              ]
            },
            "patch": {
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "location": "query",
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345."
                }
              },
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "httpMethod": "PATCH",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.patch"
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Gets the current configuration of the specified service.",
              "parameters": {
                "servicesId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "id": "appengine.apps.services.get"
            },
            "list": {
              "id": "appengine.apps.services.list",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists all the services in the application.",
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "path": "v1beta/apps/{appsId}/services",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "flatPath": "v1beta/apps/{appsId}/services"
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Updates the configuration of the specified service.",
              "request": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated."
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                  "location": "path",
                  "required": true
                },
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "appengine.apps.services.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "description": "Deletes the specified service and all enclosed versions.",
              "httpMethod": "DELETE",
              "id": "appengine.apps.services.delete",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "patch": {
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                      "type": "string"
                    },
                    "servicesId": {
                      "required": true,
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "location": "query"
                    },
                    "versionsId": {
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "appengine.apps.services.versions.patch",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                  "request": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.apps.services.versions.get",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ],
                      "description": "Controls the set of fields returned in the Get response.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Version"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Version"
                  },
                  "description": "Deploys code and resource files to a new version.",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "appsId": {
                      "type": "string",
                      "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "location": "path",
                      "required": true
                    },
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "appengine.apps.services.versions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "versionsId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path",
                      "type": "string"
                    },
                    "servicesId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.delete",
                  "description": "Deletes an existing Version resource."
                },
                "list": {
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "description": "Lists the versions of a service.",
                  "id": "appengine.apps.services.versions.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "description": "Controls the set of fields returned in the List response.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ],
                      "enum": [
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum results to return per page.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "instances": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameters": {
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "appsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "location": "path"
                        },
                        "versionsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "instancesId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                      "id": "appengine.apps.services.versions.instances.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "appsId": {
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Gets instance information.",
                      "id": "appengine.apps.services.versions.instances.get",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "response": {
                        "$ref": "Instance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "debug": {
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "parameters": {
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "appsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "id": "appengine.apps.services.versions.instances.debug",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "parameters": {
                        "servicesId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "location": "path"
                        },
                        "appsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "id": "appengine.apps.services.versions.instances.list"
                    }
                  }
                }
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum results to return per page."
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all domains the user is authorized to administer.",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "id": "appengine.apps.authorizedDomains.list",
              "path": "v1beta/apps/{appsId}/authorizedDomains"
            }
          }
        },
        "domainMappings": {
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "domainMappingsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "appengine.apps.domainMappings.patch",
              "request": {
                "$ref": "DomainMapping"
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "PATCH",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.domainMappings.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists the domain mappings on an application.",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "appsId"
              ],
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path"
                },
                "overrideStrategy": {
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "location": "query",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ]
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.create",
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "POST"
            },
            "get": {
              "description": "Gets the specified domain mapping.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "GET",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path"
                }
              },
              "id": "appengine.apps.domainMappings.get",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "domainMappingsId": {
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                },
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "id": "appengine.apps.domainMappings.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "path": "v1beta/apps/{appsId}/operations/{operationsId}",
              "id": "appengine.apps.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "operationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1beta/apps/{appsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v1beta/apps/{appsId}/operations",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.operations.list",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "location": "path"
                }
              }
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified firewall rule.",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "ingressRulesId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "appengine.apps.firewall.ingressRules.delete"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameters": {
                    "ingressRulesId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path",
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the specified firewall rule.",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "patch": {
                  "description": "Updates the specified firewall rule.",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string"
                    },
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true
                    },
                    "ingressRulesId": {
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "request": {
                    "$ref": "FirewallRule"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a firewall rule for the application.",
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "httpMethod": "POST"
                },
                "batchUpdate": {
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "description": "Lists the firewall rules of an application.",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "matchingAddress": {
                      "type": "string",
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "type": "integer"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20200822",
  "protocol": "rest",
  "basePath": "",
  "id": "appengine:v1beta",
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "schemas": {
    "FileInfo": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage."
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        }
      },
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "id": "FileInfo",
      "type": "object"
    },
    "OperationMetadataV1Alpha": {
      "properties": {
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        }
      },
      "id": "OperationMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object"
    },
    "Instance": {
      "properties": {
        "requests": {
          "description": "Number of requests since this instance was started.@OutputOnly",
          "type": "integer",
          "format": "int32"
        },
        "averageLatency": {
          "type": "integer",
          "description": "Average latency (ms) over the last minute.@OutputOnly",
          "format": "int32"
        },
        "vmName": {
          "description": "Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.@OutputOnly",
          "type": "string"
        },
        "vmZoneName": {
          "description": "Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly"
        },
        "availability": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Availability of the instance.@OutputOnly",
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ]
        },
        "qps": {
          "description": "Average queries per second (QPS) over the last minute.@OutputOnly",
          "format": "float",
          "type": "number"
        },
        "startTime": {
          "type": "string",
          "description": "Time that this instance was started.@OutputOnly",
          "format": "google-datetime"
        },
        "memoryUsage": {
          "description": "Total memory in use (bytes).@OutputOnly",
          "format": "int64",
          "type": "string"
        },
        "errors": {
          "type": "integer",
          "format": "int32",
          "description": "Number of errors since this instance was started.@OutputOnly"
        },
        "vmDebugEnabled": {
          "type": "boolean",
          "description": "Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.@OutputOnly"
        },
        "vmIp": {
          "description": "The IP address of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        },
        "appEngineRelease": {
          "description": "App Engine release this instance is running on.@OutputOnly",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Relative name of the instance within the version. Example: instance-1.@OutputOnly"
        },
        "vmStatus": {
          "description": "Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
          "type": "string"
        }
      },
      "id": "Instance",
      "type": "object",
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application."
    },
    "CreateVersionMetadataV1": {
      "id": "CreateVersionMetadataV1",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "VpcAccessConnector": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full Serverless VPC Access Connector name e.g. /projects/my-project/locations/us-central1/connectors/c1."
        }
      },
      "id": "VpcAccessConnector",
      "type": "object",
      "description": "VPC access connector specification."
    },
    "RepairApplicationRequest": {
      "description": "Request message for 'Applications.RepairApplication'.",
      "id": "RepairApplicationRequest",
      "type": "object",
      "properties": {}
    },
    "ManagedCertificate": {
      "id": "ManagedCertificate",
      "type": "object",
      "description": "A certificate managed by App Engine.",
      "properties": {
        "lastRenewalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
        },
        "status": {
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "type": "string",
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ]
        }
      }
    },
    "OperationMetadataV1Beta": {
      "properties": {
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Beta",
      "type": "object"
    },
    "ListAuthorizedCertificatesResponse": {
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "id": "ListAuthorizedCertificatesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "certificates": {
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "description": "The SSL certificates the user is authorized to administer.",
          "type": "array"
        }
      }
    },
    "DiskUtilization": {
      "properties": {
        "targetWriteOpsPerSecond": {
          "description": "Target ops written per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReadOpsPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target ops read per seconds."
        },
        "targetReadBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes read per second."
        },
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        }
      },
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "type": "object",
      "id": "DiskUtilization"
    },
    "FirewallRule": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user."
        },
        "sourceRange": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
        },
        "description": {
          "description": "An optional string description of this rule. This field has a maximum length of 100 characters.",
          "type": "string"
        },
        "action": {
          "description": "The action to take on matched requests.",
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests.",
      "id": "FirewallRule"
    },
    "LocationMetadata": {
      "properties": {
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        }
      },
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location."
    },
    "EndpointsApiService": {
      "description": "Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "id": "EndpointsApiService",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\""
        },
        "rolloutStrategy": {
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ]
        },
        "configId": {
          "type": "string",
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted."
        },
        "disableTraceSampling": {
          "type": "boolean",
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled."
        }
      }
    },
    "Service": {
      "id": "Service",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Relative name of the service within the application. Example: default.@OutputOnly"
        },
        "split": {
          "$ref": "TrafficSplit",
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
        },
        "name": {
          "type": "string",
          "description": "Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly"
        }
      }
    },
    "BatchUpdateIngressRulesResponse": {
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "properties": {
        "ingressRules": {
          "description": "The full list of ingress FirewallRules for this application.",
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateIngressRulesResponse",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "ListServicesResponse": {
      "type": "object",
      "id": "ListServicesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services belonging to the requested application."
        }
      },
      "description": "Response message for Services.ListServices."
    },
    "ListIngressRulesResponse": {
      "description": "Response message for Firewall.ListIngressRules.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "ingressRules": {
          "type": "array",
          "description": "The ingress FirewallRules for this application.",
          "items": {
            "$ref": "FirewallRule"
          }
        }
      },
      "id": "ListIngressRulesResponse",
      "type": "object"
    },
    "TrafficSplit": {
      "id": "TrafficSplit",
      "properties": {
        "allocations": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits."
        },
        "shardBy": {
          "type": "string",
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ]
        }
      },
      "type": "object",
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions."
    },
    "AutomaticScaling": {
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "type": "object",
      "properties": {
        "maxIdleInstances": {
          "description": "Maximum number of idle instances that should be maintained for this version.",
          "format": "int32",
          "type": "integer"
        },
        "minTotalInstances": {
          "type": "integer",
          "description": "Minimum number of running instances that should be maintained for this version.",
          "format": "int32"
        },
        "requestUtilization": {
          "$ref": "RequestUtilization",
          "description": "Target scaling by request utilization."
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "maxPendingLatency": {
          "type": "string",
          "format": "google-duration",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it."
        },
        "diskUtilization": {
          "$ref": "DiskUtilization",
          "description": "Target scaling by disk usage."
        },
        "minPendingLatency": {
          "format": "google-duration",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
          "type": "string"
        },
        "coolDownPeriod": {
          "format": "google-duration",
[...]
