{
  "revision": "20210314",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "baseUrl": "https://dataflow.googleapis.com/",
  "name": "dataflow",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "schemas": {
    "FlattenInstruction": {
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "id": "FlattenInstruction",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "InstructionInput"
          },
          "type": "array",
          "description": "Describes the inputs to the flatten instruction."
        }
      }
    },
    "MemInfo": {
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "id": "MemInfo",
      "type": "object",
      "properties": {
        "currentRssBytes": {
          "type": "string",
          "format": "uint64",
          "description": "Instantenous memory (RSS) size in bytes."
        },
        "totalGbMs": {
          "format": "uint64",
          "type": "string",
          "description": "Total memory (RSS) usage since start up in GB * ms."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        },
        "currentLimitBytes": {
          "description": "Instantenous memory limit in bytes.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "StringList": {
      "type": "object",
      "id": "StringList",
      "description": "A metric value representing a list of strings.",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Elements of the list."
        }
      }
    },
    "WorkerMessageResponse": {
      "id": "WorkerMessageResponse",
      "properties": {
        "workerShutdownNoticeResponse": {
          "$ref": "WorkerShutdownNoticeResponse",
          "description": "Service's response to shutdown notice (currently empty)."
        },
        "workerMetricsResponse": {
          "$ref": "ResourceUtilizationReportResponse",
          "description": "Service's response to reporting worker metrics (currently empty)."
        },
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        }
      },
      "type": "object",
      "description": "A worker_message response allows the server to pass information to the sender."
    },
    "SpannerIODetails": {
      "type": "object",
      "id": "SpannerIODetails",
      "description": "Metadata for a Spanner connector used by the job.",
      "properties": {
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "WorkerDetails": {
      "type": "object",
      "properties": {
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          }
        },
        "workerName": {
          "type": "string",
          "description": "Name of this worker"
        }
      },
      "id": "WorkerDetails",
      "description": "Information about a worker"
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "type": "object",
      "id": "Histogram",
      "properties": {
        "bucketCounts": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "type": "array"
        },
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LeaseWorkItemRequest": {
      "properties": {
        "workerCapabilities": {
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "requestedLeaseDuration": {
          "type": "string",
          "description": "The initial lease period.",
          "format": "google-duration"
        },
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker.",
          "type": "string"
        },
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Request to lease WorkItems.",
      "id": "LeaseWorkItemRequest",
      "type": "object"
    },
    "TemplateMetadata": {
      "description": "Metadata describing a template.",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        }
      },
      "id": "TemplateMetadata",
      "type": "object"
    },
    "CounterStructuredName": {
      "type": "object",
      "id": "CounterStructuredName",
      "properties": {
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
          "type": "string"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "type": "string"
        },
        "origin": {
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "type": "string",
          "description": "One of the standard Origins defined above."
        },
        "inputIndex": {
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them.",
          "type": "integer"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "originNamespace": {
          "description": "A string containing a more specific namespace of the counter's origin.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        }
      },
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job."
    },
    "ExecutionStageState": {
      "description": "A message describing the state of a particular execution stage.",
      "type": "object",
      "id": "ExecutionStageState",
      "properties": {
        "currentStateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the stage transitioned to this state."
        },
        "executionStageState": {
          "description": "Executions stage states allow the same set of values as JobState.",
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are intersted."
          ]
        },
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        }
      }
    },
    "WorkerShutdownNoticeResponse": {
      "type": "object",
      "id": "WorkerShutdownNoticeResponse",
      "properties": {},
      "description": "Service-side response to WorkerMessage issuing shutdown notice."
    },
    "DatastoreIODetails": {
      "description": "Metadata for a Datastore connector used by the job.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "namespace": {
          "type": "string",
          "description": "Namespace used in the connection."
        }
      },
      "id": "DatastoreIODetails"
    },
    "FileIODetails": {
      "type": "object",
      "description": "Metadata for a File connector used by the job.",
      "id": "FileIODetails",
      "properties": {
        "filePattern": {
          "type": "string",
          "description": "File Pattern used to access files by the connector."
        }
      }
    },
    "MultiOutputInfo": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      },
      "id": "MultiOutputInfo",
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object"
    },
    "StateFamilyConfig": {
      "id": "StateFamilyConfig",
      "type": "object",
      "properties": {
        "stateFamily": {
          "description": "The state family value.",
          "type": "string"
        },
        "isRead": {
          "type": "boolean",
          "description": "If true, this family corresponds to a read operation."
        }
      },
      "description": "State family configuration."
    },
    "SendWorkerMessagesResponse": {
      "properties": {
        "workerMessageResponses": {
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "description": "The servers response to the worker messages.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response to the worker messages.",
      "id": "SendWorkerMessagesResponse"
    },
    "SdkVersion": {
      "type": "object",
      "id": "SdkVersion",
      "description": "The version of the SDK used to run the job.",
      "properties": {
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be no longer supported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string"
        },
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        }
      }
    },
    "ComponentTransform": {
      "type": "object",
      "description": "Description of a transform executed as part of an execution stage.",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        }
      },
      "id": "ComponentTransform"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "properties": {
        "rate": {
          "format": "double",
          "type": "number",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample."
        },
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "format": "uint64",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CPUTime",
      "type": "object"
    },
    "PartialGroupByKeyInstruction": {
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "type": "object",
      "id": "PartialGroupByKeyInstruction",
      "properties": {
        "originalCombineValuesStepName": {
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction.",
          "type": "string"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        },
        "inputElementCodec": {
          "description": "The codec to use for interpreting an element in the input PTable.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "sideInputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array",
          "description": "Zero or more side inputs."
        },
        "valueCombiningFn": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The value combining function to invoke."
        }
      }
    },
    "Disk": {
      "properties": {
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        }
      },
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "type": "object"
    },
    "KeyRangeDataDiskAssignment": {
      "type": "object",
      "properties": {
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeDataDiskAssignment"
    },
    "BigTableIODetails": {
      "properties": {
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "description": "Metadata for a BigTable connector used by the job.",
      "type": "object",
      "id": "BigTableIODetails"
    },
    "JobExecutionInfo": {
      "properties": {
        "stages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "description": "A mapping from each stage to the information about that stage."
        }
      },
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object",
      "id": "JobExecutionInfo"
    },
    "SeqMapTask": {
      "id": "SeqMapTask",
      "type": "object",
      "properties": {
        "stageName": {
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "inputs": {
          "description": "Information about each of the inputs.",
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array"
        },
        "systemName": {
          "description": "System-defined name of the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "outputInfos": {
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs."
        },
        "userFn": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The user function to invoke."
        },
        "name": {
          "description": "The user-provided name of the SeqDo operation.",
          "type": "string"
        }
      },
      "description": "Describes a particular function to invoke."
    },
    "DataDiskAssignment": {
      "id": "DataDiskAssignment",
      "type": "object",
      "description": "Data disk assignment for a given VM instance.",
      "properties": {
        "vmInstance": {
          "type": "string",
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\"."
        },
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "WorkItem": {
      "id": "WorkItem",
      "type": "object",
      "properties": {
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "seqMapTask": {
          "$ref": "SeqMapTask",
          "description": "Additional information for SeqMapTask WorkItems."
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "leaseExpireTime": {
          "type": "string",
          "description": "Time when the lease on this Work will expire.",
          "format": "google-datetime"
        },
        "packages": {
          "description": "Any required packages that need to be fetched in order to execute this WorkItem.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "sourceOperationTask": {
          "$ref": "SourceOperationRequest",
          "description": "Additional information for source operation WorkItems."
        },
        "jobId": {
          "type": "string",
          "description": "Identifies the workflow job this WorkItem belongs to."
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "projectId": {
          "type": "string",
          "description": "Identifies the cloud project this WorkItem belongs to."
        },
        "initialReportIndex": {
          "format": "int64",
          "type": "string",
          "description": "The initial index to use when reporting the status of the WorkItem."
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Identifies this WorkItem."
        },
        "reportStatusInterval": {
          "description": "Recommended reporting interval.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud."
    },
    "Sink": {
      "description": "A sink that records can be encoded and written to.",
      "properties": {
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data written to the sink.",
          "type": "object"
        },
        "spec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The sink to write to, plus its parameters."
        }
      },
      "id": "Sink",
      "type": "object"
    },
    "RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "id": "RuntimeEnvironment",
      "properties": {
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "type": "boolean",
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "additionalUserLabels": {
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxWorkers": {
          "format": "int32",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "additionalExperiments": {
          "type": "array",
          "description": "Additional experiment flags for the job.",
          "items": {
            "type": "string"
          }
        },
        "numWorkers": {
          "description": "The initial number of Google Compute Engine instnaces for the job.",
          "format": "int32",
          "type": "integer"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StageSource": {
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Size of the source, if measurable."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        }
      },
      "description": "Description of an input or output of an execution stage.",
      "type": "object",
      "id": "StageSource"
    },
    "FloatingPointList": {
      "type": "object",
      "id": "FloatingPointList",
      "description": "A metric value representing a list of floating point numbers.",
      "properties": {
        "elements": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      }
    },
    "ApproximateReportedProgress": {
      "id": "ApproximateReportedProgress",
      "properties": {
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed).",
          "format": "double",
          "type": "number"
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off."
        },
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "position": {
          "$ref": "Position",
          "description": "A Position within the work to represent a progress."
        }
      },
      "type": "object",
      "description": "A progress measurement of a WorkItem by a worker."
    },
    "ReadInstruction": {
      "id": "ReadInstruction",
      "type": "object",
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      }
    },
    "Step": {
      "id": "Step",
      "properties": {
        "properties": {
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce."
    },
    "ReportedParallelism": {
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "properties": {
        "value": {
          "type": "number",
          "description": "Specifies the level of parallelism in case it is finite.",
          "format": "double"
        },
        "isInfinite": {
          "type": "boolean",
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
        }
      },
      "type": "object",
      "id": "ReportedParallelism"
    },
    "StructuredMessage": {
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        },
        "parameters": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The structured data associated with this message."
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        }
      },
      "type": "object",
      "id": "StructuredMessage"
    },
    "PipelineDescription": {
      "id": "PipelineDescription",
      "type": "object",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "properties": {
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data.",
          "type": "array"
        },
        "executionPipelineStage": {
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array"
        },
        "originalPipelineTransform": {
          "type": "array",
          "description": "Description of each transform in the pipeline and collections between them.",
          "items": {
            "$ref": "TransformSummary"
          }
        }
      }
    },
    "CreateJobFromTemplateRequest": {
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gcsPath": {
          "type": "string",
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`."
        }
      },
      "description": "A request to create a Cloud Dataflow job from a template.",
      "id": "CreateJobFromTemplateRequest"
    },
    "SourceSplitOptions": {
      "type": "object",
      "id": "SourceSplitOptions",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "properties": {
        "desiredBundleSizeBytes": {
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes.",
          "format": "int64"
        },
        "desiredShardSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes."
        }
      }
    },
    "RuntimeMetadata": {
      "properties": {
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        }
      },
      "id": "RuntimeMetadata",
      "type": "object",
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "StreamingComputationRanges": {
      "id": "StreamingComputationRanges",
      "properties": {
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "rangeAssignments": {
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "description": "Data disk assignments for ranges from this computation.",
          "type": "array"
        }
      },
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "type": "object"
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "properties": {
        "userStageToComputationNameMap": {
          "type": "object",
          "description": "Maps user stage names to stable computation names.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "persistentStateVersion": {
          "description": "Version number for persistent state.",
          "format": "int32",
          "type": "integer"
        },
        "dataDiskAssignments": {
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "type": "array",
          "description": "The disks assigned to a streaming Dataflow job."
        },
        "forwardingKeyBits": {
          "format": "int32",
          "type": "integer",
          "description": "The size (in bits) of keys that will be assigned to source messages."
        },
        "computations": {
          "items": {
            "$ref": "ComputationTopology"
          },
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job."
        }
      },
      "id": "TopologyConfig",
      "type": "object"
    },
    "CounterMetadata": {
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        },
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum.",
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        }
      },
      "id": "CounterMetadata",
      "type": "object"
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "type": "object"
    },
    "ShellTask": {
      "description": "A task which consists of a shell command for the worker to execute.",
      "type": "object",
      "properties": {
        "exitCode": {
          "format": "int32",
          "description": "Exit code for the task.",
          "type": "integer"
        },
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        }
      },
      "id": "ShellTask"
    },
    "LaunchTemplateParameters": {
      "id": "LaunchTemplateParameters",
      "type": "object",
      "description": "Parameters to provide to the template being launched.",
      "properties": {
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job."
        }
      }
    },
    "WorkerMessage": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here."
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the worker_message."
        },
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        },
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "workerHealthReport": {
          "$ref": "WorkerHealthReport",
          "description": "The health of a worker."
        },
        "workerMessageCode": {
          "$ref": "WorkerMessageCode",
          "description": "A worker message code."
        }
      },
      "description": "WorkerMessage provides information to the backend about a worker.",
      "id": "WorkerMessage",
      "type": "object"
    },
    "StreamingApplianceSnapshotConfig": {
      "id": "StreamingApplianceSnapshotConfig",
      "type": "object",
      "description": "Streaming appliance snapshot configuration.",
      "properties": {
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        },
        "snapshotId": {
          "description": "If set, indicates the snapshot id for the snapshot being performed.",
          "type": "string"
        }
      }
    },
    "IntegerMean": {
      "type": "object",
      "id": "IntegerMean",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      },
      "description": "A representation of an integer mean metric contribution."
    },
    "DistributionUpdate": {
      "properties": {
        "sum": {
          "$ref": "SplitInt64",
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double."
        },
        "max": {
          "description": "The maximum value present in the distribution.",
          "$ref": "SplitInt64"
        },
        "min": {
          "description": "The minimum value present in the distribution.",
          "$ref": "SplitInt64"
        },
        "histogram": {
          "$ref": "Histogram",
          "description": "(Optional) Histogram of value counts for the distribution."
        },
        "count": {
          "description": "The count of the number of elements present in the distribution.",
          "$ref": "SplitInt64"
        },
        "sumOfSquares": {
          "format": "double",
          "description": "Use a double since the sum of squares is likely to overflow int64.",
          "type": "number"
        }
      },
      "description": "A metric value representing a distribution.",
      "type": "object",
      "id": "DistributionUpdate"
    },
    "PubSubIODetails": {
      "description": "Metadata for a PubSub connector used by the job.",
      "type": "object",
      "id": "PubSubIODetails",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Subscription used in the connection."
        },
        "topic": {
          "type": "string",
          "description": "Topic accessed in the connection."
        }
      }
    },
    "Position": {
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "id": "Position",
      "type": "object",
      "properties": {
        "byteOffset": {
          "format": "int64",
          "type": "string",
          "description": "Position is a byte offset."
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "recordIndex": {
          "type": "string",
          "format": "int64",
          "description": "Position is a record index."
        },
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        }
      }
    },
    "CounterStructuredNameAndMetadata": {
      "type": "object",
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      }
    },
    "SplitInt64": {
      "properties": {
        "highBits": {
          "description": "The high order bits, including the sign: n \u003e\u003e 32.",
          "type": "integer",
          "format": "int32"
        },
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object",
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON."
    },
    "ContainerSpec": {
      "properties": {
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "Metadata describing a template including description and validation rules."
        },
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "Required. SDK info of the Flex Template."
        }
      },
      "type": "object",
      "id": "ContainerSpec",
      "description": "Container Spec."
    },
    "ListSnapshotsResponse": {
      "type": "object",
      "id": "ListSnapshotsResponse",
      "properties": {
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "Returned snapshots."
        }
      },
      "description": "List of snapshots."
    },
    "SourceGetMetadataResponse": {
      "type": "object",
      "description": "The result of a SourceGetMetadataOperation.",
      "id": "SourceGetMetadataResponse",
      "properties": {
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "The computed metadata."
        }
      }
    },
    "SdkHarnessContainerImage": {
      "type": "object",
      "id": "SdkHarnessContainerImage",
      "description": "Defines a SDK harness container for executing Dataflow pipelines.",
      "properties": {
        "environmentId": {
          "type": "string",
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "containerImage": {
          "type": "string",
          "description": "A docker container image that resides in Google Container Registry."
        }
      }
    },
    "IntegerGauge": {
      "id": "IntegerGauge",
      "description": "A metric value representing temporal values of a variable.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch."
        }
      }
    },
    "LaunchFlexTemplateResponse": {
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      },
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template.",
      "type": "object"
    },
    "WorkerLifecycleEvent": {
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "id": "WorkerLifecycleEvent",
      "properties": {
        "metadata": {
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "event": {
          "type": "string",
          "description": "The event being reported.",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ]
        },
        "containerStartTime": {
          "type": "string",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ParameterMetadata": {
      "type": "object",
      "properties": {
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        },
        "regexes": {
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "paramType": {
          "type": "string",
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION"
          ],
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a GCS Bucket to read from.",
            "The parameter specifies a GCS Bucket to write to.",
            "The parameter specifies a GCS file path to read from.",
            "The parameter specifies a GCS file path to write to.",
            "The parameter specifies a GCS folder path to read from.",
            "The parameter specifies a GCS folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription."
          ]
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        }
      },
      "description": "Metadata for a specific parameter.",
      "id": "ParameterMetadata"
    },
    "InstructionInput": {
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "properties": {
        "producerInstructionIndex": {
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask.",
          "format": "int32",
          "type": "integer"
        },
        "outputNum": {
          "type": "integer",
          "description": "The output index (origin zero) within the producer.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "InstructionInput"
    },
    "DynamicSourceSplit": {
      "id": "DynamicSourceSplit",
      "properties": {
        "residual": {
          "$ref": "DerivedSource",
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
        },
        "primary": {
          "$ref": "DerivedSource",
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current."
        }
      },
      "type": "object",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "WorkerShutdownNotice": {
      "id": "WorkerShutdownNotice",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future."
        }
      },
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "type": "object"
    },
    "Source": {
      "properties": {
        "baseSpecs": {
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs).",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        },
        "doesNotNeedSplitting": {
          "type": "boolean",
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "codec": {
          "description": "The codec to use to decode data read from the source.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "spec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The source to read from, plus its parameters."
        },
        "metadata": {
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "$ref": "SourceMetadata"
        }
      },
      "description": "A source that records can be read and decoded from.",
      "type": "object",
      "id": "Source"
    },
    "GetTemplateResponse": {
      "type": "object",
      "description": "The response to a GetTemplate request.",
      "id": "GetTemplateResponse",
      "properties": {
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "runtimeMetadata": {
          "$ref": "RuntimeMetadata",
          "description": "Describes the runtime metadata with SDKInfo and available parameters."
        },
        "templateType": {
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "type": "string"
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        }
      }
    },
    "ConcatPosition": {
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object",
      "properties": {
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        },
        "index": {
          "type": "integer",
          "description": "Index of the inner source.",
          "format": "int32"
        }
      }
    },
    "ResourceUtilizationReport": {
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "type": "object",
      "properties": {
        "memoryInfo": {
          "description": "Memory utilization samples.",
          "type": "array",
          "items": {
            "$ref": "MemInfo"
          }
        },
        "cpuTime": {
          "items": {
            "$ref": "CPUTime"
          },
          "type": "array",
          "description": "CPU utilization samples."
        },
        "containers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "description": "Per container information. Key: container name."
        }
      },
      "id": "ResourceUtilizationReport"
    },
    "StreamingSetupTask": {
      "description": "A task which initializes part of a streaming Dataflow job.",
      "type": "object",
      "properties": {
        "drain": {
          "type": "boolean",
          "description": "The user has requested drain."
        },
        "workerHarnessPort": {
          "type": "integer",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "format": "int32"
        },
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "receiveWorkPort": {
          "type": "integer",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "format": "int32"
        },
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        }
      },
      "id": "StreamingSetupTask"
    },
    "SeqMapTaskOutputInfo": {
      "type": "object",
      "description": "Information about an output of a SeqMapTask.",
      "id": "SeqMapTaskOutputInfo",
      "properties": {
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write the output value to."
        }
      }
    },
    "PubsubSnapshotMetadata": {
      "type": "object",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string"
        },
        "snapshotName": {
          "type": "string",
          "description": "The name of the Pubsub snapshot."
        },
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        }
      },
      "description": "Represents a Pubsub snapshot.",
      "id": "PubsubSnapshotMetadata"
    },
    "StreamingSideInputLocation": {
      "type": "object",
      "id": "StreamingSideInputLocation",
      "properties": {
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        },
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        }
      },
      "description": "Identifies the location of a streaming side input."
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "type": "object",
      "properties": {
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of this work item attempt.",
          "format": "google-datetime",
          "type": "string"
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress of this work item."
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this work item."
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array",
          "description": "Metrics for this work item."
        }
      },
      "description": "Information about an individual work item execution."
    },
    "DerivedSource": {
      "id": "DerivedSource",
      "properties": {
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "description": "What source to base the produced source on (if any).",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string"
        },
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        }
      },
      "type": "object",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split."
    },
    "Parameter": {
      "id": "Parameter",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      },
      "description": "Structured data associated with this message."
    },
    "SourceOperationRequest": {
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "type": "object",
      "properties": {
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow."
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        }
      },
      "id": "SourceOperationRequest"
    },
    "JobMetadata": {
      "type": "object",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "id": "JobMetadata",
      "properties": {
        "bigqueryDetails": {
          "type": "array",
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "items": {
            "$ref": "BigQueryIODetails"
          }
        },
        "bigTableDetails": {
          "items": {
            "$ref": "BigTableIODetails"
          },
          "type": "array",
          "description": "Identification of a BigTable source used in the Dataflow job."
        },
        "pubsubDetails": {
          "items": {
            "$ref": "PubSubIODetails"
          },
          "type": "array",
          "description": "Identification of a PubSub source used in the Dataflow job."
        },
        "spannerDetails": {
          "items": {
            "$ref": "SpannerIODetails"
          },
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "type": "array"
        },
        "fileDetails": {
          "description": "Identification of a File source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "FileIODetails"
          }
        },
        "sdkVersion": {
          "$ref": "SdkVersion",
          "description": "The SDK version used to run the job."
        },
        "datastoreDetails": {
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "type": "array"
        }
      }
    },
    "IntegerList": {
      "type": "object",
      "id": "IntegerList",
      "description": "A metric value representing a list of integers.",
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      }
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "currentWorkerTime": {
          "format": "google-datetime",
          "description": "The current timestamp at the worker.",
          "type": "string"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        }
      },
      "description": "Request to report the status of WorkItems.",
      "id": "ReportWorkItemStatusRequest"
    },
    "SourceSplitRequest": {
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "properties": {
        "options": {
          "$ref": "SourceSplitOptions",
          "description": "Hints for tuning the splitting process."
        },
        "source": {
          "$ref": "Source",
          "description": "Specification of the source to be split."
        }
      },
      "type": "object",
      "id": "SourceSplitRequest"
    },
    "ApproximateSplitRequest": {
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionConsumed": {
          "format": "double",
          "type": "number",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        },
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        }
      },
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "type": "object"
    },
    "NameAndKind": {
      "description": "Basic metadata about a counter.",
      "type": "object",
      "id": "NameAndKind",
      "properties": {
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        }
      }
    },
    "FlexTemplateRuntimeEnvironment": {
      "properties": {
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "ipConfiguration": {
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "description": "Configuration for VM IPs."
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numWorkers": {
          "format": "int32",
          "description": "The initial number of Google Compute Engine instances for the job.",
          "type": "integer"
        },
        "flexrsGoal": {
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "additionalUserLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "maxWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        }
      },
      "description": "The environment values to be set at runtime for flex template.",
      "id": "FlexTemplateRuntimeEnvironment",
      "type": "object"
    },
    "MetricUpdate": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type."
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "updateTime": {
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        }
      },
      "description": "Describes the state of a metric.",
      "type": "object",
      "id": "MetricUpdate"
    },
    "SourceGetMetadataRequest": {
      "id": "SourceGetMetadataRequest",
      "description": "A request to compute the SourceMetadata of a Source.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Specification of the source whose metadata should be computed.",
          "$ref": "Source"
        }
      }
    },
    "ParallelInstruction": {
      "type": "object",
      "properties": {
        "outputs": {
          "items": {
            "$ref": "InstructionOutput"
          },
          "type": "array",
          "description": "Describes the outputs of the instruction."
        },
        "flatten": {
          "description": "Additional information for Flatten instructions.",
          "$ref": "FlattenInstruction"
        },
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        },
        "write": {
          "$ref": "WriteInstruction",
          "description": "Additional information for Write instructions."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        },
        "parDo": {
[...]
