{
  "description": "API for Cloud SQL database instance management",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "canonicalName": "SQL Admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "servicePath": "",
  "revision": "20200903",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "SslCertsListResponse": {
      "type": "object",
      "description": "SslCerts list response.",
      "properties": {
        "items": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of client certificates for the instance.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#sslCertsList*."
        }
      },
      "id": "SslCertsListResponse"
    },
    "DemoteMasterConfiguration": {
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "id": "DemoteMasterConfiguration",
      "properties": {
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named *master.info* in the data directory."
        },
        "kind": {
          "description": "This is always *sql#demoteMasterConfiguration*.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TruncateLogContext": {
      "description": "Database Instance truncate log context.",
      "id": "TruncateLogContext",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are *MYSQL_GENERAL_TABLE* and *MYSQL_SLOW_TABLE*.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#truncateLogContext*."
        }
      }
    },
    "User": {
      "type": "object",
      "description": "A Cloud SQL user resource.",
      "properties": {
        "kind": {
          "description": "This is always *sql#user*.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for *update* since it is already specified in the URL."
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* since it is already specified on the URL."
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* since it is already specified on the URL."
        },
        "type": {
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "type": "string",
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ]
        },
        "host": {
          "description": "The host name from which the user can connect. For *insert* operations, host defaults to an empty string. For *update* operations, host is specified as part of the request URL. The host name cannot be updated after insertion.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "MaintenanceWindow": {
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "properties": {
        "day": {
          "description": "day of week (1-7), starting on Monday.",
          "type": "integer",
          "format": "int32"
        },
        "updateTrack": {
          "description": "Maintenance timing setting: *canary* (Earlier) or *stable* (Later). Learn more.",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ],
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#maintenanceWindow*.",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "description": "hour of day - 0 to 23.",
          "format": "int32"
        }
      },
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#instancesListServerCas*."
        },
        "certs": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server CA certificates for the instance.",
          "type": "array"
        },
        "activeVersion": {
          "type": "string"
        }
      },
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response."
    },
    "OperationErrors": {
      "type": "object",
      "description": "Database instance operation errors list wrapper.",
      "id": "OperationErrors",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#operationErrors*."
        }
      }
    },
    "InstancesImportRequest": {
      "type": "object",
      "description": "Database instance import request.",
      "properties": {
        "importContext": {
          "$ref": "ImportContext",
          "description": "Contains details about the import operation."
        }
      },
      "id": "InstancesImportRequest"
    },
    "InstancesExportRequest": {
      "type": "object",
      "description": "Database instance export request.",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "id": "InstancesExportRequest"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      }
    },
    "ApiWarning": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The warning message."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete."
          ],
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "description": "Code to uniquely identify the warning type."
        }
      },
      "id": "ApiWarning",
      "description": "An Admin API warning message.",
      "type": "object"
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "type": "object",
      "id": "InstancesCloneRequest",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "type": "object",
      "description": "Instance verify external sync settings response.",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "properties": {
        "errors": {
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "description": "List of migration violations.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#migrationSettingErrorList*."
        }
      }
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "type": "object",
      "properties": {
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        },
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        }
      }
    },
    "IpConfiguration": {
      "id": "IpConfiguration",
      "properties": {
        "ipv4Enabled": {
          "description": "Whether the instance is assigned a public IP address or not.",
          "type": "boolean"
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: *192.168.100.0/24*).",
          "items": {
            "$ref": "AclEntry"
          },
          "type": "array"
        },
        "requireSsl": {
          "type": "boolean",
          "description": "Whether SSL connections over IP are enforced or not."
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, */projects/myProject/global/networks/default*. This setting can be updated, but it cannot be removed after it is set."
        }
      },
      "description": "IP Management configuration.",
      "type": "object"
    },
    "InstancesFailoverRequest": {
      "properties": {
        "failoverContext": {
          "$ref": "FailoverContext",
          "description": "Failover Context."
        }
      },
      "id": "InstancesFailoverRequest",
      "description": "Instance failover request.",
      "type": "object"
    },
    "BackupRunsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#backupRunsList*.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "BackupRun"
          },
          "type": "array",
          "description": "A list of backup runs in reverse chronological order of the enqueued time."
        }
      },
      "description": "Backup run list results.",
      "type": "object",
      "id": "BackupRunsListResponse"
    },
    "SslCert": {
      "description": "SslCerts Resource",
      "properties": {
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the certificate was created in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*"
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when the certificate expires in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#sslCert*.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        }
      },
      "id": "SslCert",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "status": {
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "description": "The status of an operation. Valid values are: *PENDING* *RUNNING* *DONE* *SQL_OPERATION_STATUS_UNSPECIFIED*"
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "description": "The type of the operation. Valid values are: *CREATE* *DELETE* *UPDATE* *RESTART* *IMPORT* *EXPORT* *BACKUP_VOLUME* *RESTORE_VOLUME* *CREATE_USER* *DELETE_USER* *CREATE_DATABASE* *DELETE_DATABASE*",
          "type": "string"
        },
        "targetLink": {
          "type": "string"
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "kind": {
          "description": "This is always *sql#operation*.",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "The time this operation was enqueued in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*."
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation finished in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "format": "google-datetime"
        }
      },
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "id": "Operation",
      "type": "object"
    },
    "FailoverContext": {
      "type": "object",
      "id": "FailoverContext",
      "description": "Database instance failover context.",
      "properties": {
        "settingsVersion": {
          "type": "string",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always *sql#failoverContext*.",
          "type": "string"
        }
      }
    },
    "AclEntry": {
      "id": "AclEntry",
      "type": "object",
      "description": "An entry for an Access Control list.",
      "properties": {
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#aclEntry*."
        },
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "expirationTime": {
          "description": "The time when this access control entry expires in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "description": "Database instance backup configuration.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - *HH:MM*."
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "kind": {
          "description": "This is always *sql#backupConfiguration*.",
          "type": "string"
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TiersListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Tier"
          },
          "type": "array",
          "description": "List of tiers."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#tiersList*."
        }
      },
      "id": "TiersListResponse",
      "type": "object",
      "description": "Tiers list response."
    },
    "SqlServerDatabaseDetails": {
      "id": "SqlServerDatabaseDetails",
      "type": "object",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "compatibilityLevel": {
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32"
        },
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#demoteMasterMysqlReplicaConfiguration*."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        }
      },
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "type": "object"
    },
    "InstancesDemoteMasterRequest": {
      "description": "Database demote primary instance request.",
      "id": "InstancesDemoteMasterRequest",
      "properties": {
        "demoteMasterContext": {
          "$ref": "DemoteMasterContext",
          "description": "Contains details about the demoteMaster operation."
        }
      },
      "type": "object"
    },
    "Reschedule": {
      "id": "Reschedule",
      "type": "object",
      "properties": {
        "rescheduleType": {
          "description": "Required. The type of the reschedule.",
          "enumDescriptions": [
            "",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the next available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string"
        },
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RotateServerCaContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#rotateServerCaContext*."
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version.",
          "type": "string"
        }
      },
      "description": "Instance rotate server CA context.",
      "id": "RotateServerCaContext",
      "type": "object"
    },
    "IpMapping": {
      "id": "IpMapping",
      "description": "Database instance IP Mapping.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A *PRIMARY* address is a public address that can accept incoming connections. A *PRIVATE* address is a private address that can accept incoming connections. An *OUTGOING* address is the source address of connections originating from the instance, if supported.",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "type": "string"
        },
        "timeToRetire": {
          "type": "string",
          "format": "google-datetime",
          "description": "The due time for this IP to be retired in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*. This field is only available when the IP is scheduled to be retired."
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        }
      }
    },
    "BackupRun": {
      "properties": {
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup. Applies only to Second Generation instances."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the backup operation actually started in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "description": "The status of this run.",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ]
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "backupKind": {
          "type": "string",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ]
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
          "$ref": "OperationError"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64"
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup. Applies only to Second Generation instances.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#backupRun*."
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\".",
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ]
        },
        "enqueuedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the run was enqueued in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*."
        }
      },
      "description": "A BackupRun resource.",
      "id": "BackupRun",
      "type": "object"
    },
    "OnPremisesConfiguration": {
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "dumpFilePath": {
          "description": "The dump file to create the Cloud SQL replica.",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#onPremisesConfiguration*.",
          "type": "string"
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        }
      },
      "id": "OnPremisesConfiguration",
      "description": "On-premises instance configuration.",
      "type": "object"
    },
    "ExportContext": {
      "type": "object",
      "properties": {
        "offload": {
          "description": "Option for export offload.",
          "type": "boolean"
        },
        "databases": {
          "description": "Databases to be exported. *MySQL instances:* If *fileType* is *SQL* and no database is specified, all databases are exported, except for the *mysql* system database. If *fileType* is *CSV*, you can specify one database, either by using this property or by using the *csvExportOptions.selectQuery* property, which takes precedence over this property. *PostgreSQL instances:* You must specify one database to be exported. If *fileType* is *CSV*, this database must match the one specified in the *csvExportOptions.selectQuery* property.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sqlExportOptions": {
          "type": "object",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            },
            "mysqlExportOptions": {
              "description": "Options for exporting from MySQL.",
              "type": "object",
              "properties": {
                "masterData": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Option to include SQL statement required to set up replication. If set to *1*, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates. If set to *2*, the CHANGE MASTER TO statement is written as a SQL comment, and has no effect. All other values are ignored."
                }
              }
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            }
          },
          "description": "Options for exporting data as SQL statements."
        },
        "kind": {
          "description": "This is always *sql#exportContext*.",
          "type": "string"
        },
        "fileType": {
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "type": "string",
          "description": "The file type for the specified uri. *SQL*: The file contains SQL statements. *CSV*: The file contains CSV data.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ]
        },
        "uri": {
          "type": "string",
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form *gs: //bucketName/fileName*. If the file already exists, the requests // succeeds, but the operation fails. If *fileType* is // *SQL* and the filename ends with .gz, the contents are // compressed."
        },
        "csvExportOptions": {
          "type": "object",
          "properties": {
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            }
          },
          "description": "Options for exporting data as CSV."
        }
      },
      "description": "Database instance export context.",
      "id": "ExportContext"
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "id": "CloneContext",
      "properties": {
        "pointInTime": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "google-datetime"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        },
        "pitrTimestampMs": {
          "type": "string",
          "format": "int64",
          "description": "Reserved for future use."
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "kind": {
          "description": "This is always *sql#cloneContext*.",
          "type": "string"
        }
      }
    },
    "MaintenanceDenyPeriod": {
      "description": "Maintenance Deny Periods. This specifies a date range during when all CSA rollout will be denied.",
      "type": "object",
      "id": "MaintenanceDenyPeriod",
      "properties": {
        "time": {
          "description": "Time in UTC when the \"no maintenance interval\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "\"maintenance deny period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "startDate": {
          "description": "\"maintenance deny period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "properties": {
        "restoreBackupContext": {
          "$ref": "RestoreBackupContext",
          "description": "Parameters required to perform the restore backup operation."
        }
      },
      "id": "InstancesRestoreBackupRequest",
      "description": "Database instance restore backup request.",
      "type": "object"
    },
    "Tier": {
      "type": "object",
      "id": "Tier",
      "properties": {
        "DiskQuota": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#tier*."
        },
        "region": {
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier.",
          "type": "array"
        },
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, db-n1-standard-1. For related information, see Pricing."
        },
        "RAM": {
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string"
        }
      },
      "description": "A Google Cloud SQL service tier resource."
    },
    "SqlServerUserDetails": {
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "properties": {
        "serverRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The server roles for this user"
        },
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        }
      },
      "id": "SqlServerUserDetails"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "type": "object",
      "properties": {
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        },
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#sslCertsInsert*."
        }
      },
      "id": "SslCertsInsertResponse"
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "id": "SslCertsCreateEphemeralRequest",
      "properties": {
        "public_key": {
          "type": "string",
          "description": "PEM encoded public key to include in the signed certificate."
        }
      },
      "description": "SslCerts create ephemeral certificate request."
    },
    "DatabasesListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#databasesList*."
        },
        "items": {
          "description": "List of database resources in the instance.",
          "items": {
            "$ref": "Database"
          },
          "type": "array"
        }
      },
      "description": "Database list response.",
      "id": "DatabasesListResponse"
    },
    "SqlExternalSyncSettingError": {
      "id": "SqlExternalSyncSettingError",
      "type": "object",
      "description": "External primary instance migration setting error.",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE"
          ],
          "description": "Identifies the specific error that occurred."
        },
        "kind": {
          "description": "This is always *sql#migrationSettingError*.",
          "type": "string"
        }
      }
    },
    "ImportContext": {
      "type": "object",
      "description": "Database instance import context.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#importContext*."
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form *gs: //bucketName/fileName*. Compressed gzip files (.gz) are supported // when *fileType* is *SQL*. The instance must have // write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "bakImportOptions": {
          "type": "object",
          "description": "Import parameters specific to SQL Server .BAK files",
          "properties": {
            "encryptionOptions": {
              "properties": {
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form *gs://bucketName/fileName*. The instance must have write permissions to the bucket and read access to the file."
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form *gs://bucketName/fileName*. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "database": {
          "type": "string",
          "description": "The target database for the import. If *fileType* is *SQL*, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If *fileType* is *CSV*, one database must be specified."
        },
        "fileType": {
          "description": "The file type for the specified uri. *SQL*: The file contains SQL statements. *CSV*: The file contains CSV data.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "type": "string"
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "csvImportOptions": {
          "type": "object",
          "properties": {
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "description": "Options for importing data as CSV."
        }
      },
      "id": "ImportContext"
    },
    "OperationsListResponse": {
      "id": "OperationsListResponse",
      "description": "Database instance list operations response.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#operationsList*."
        },
        "items": {
          "type": "array",
          "description": "List of operation resources.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      }
    },
    "DiskEncryptionStatus": {
      "id": "DiskEncryptionStatus",
      "type": "object",
      "description": "Disk encryption status for an instance.",
      "properties": {
        "kind": {
          "description": "This is always *sql#diskEncryptionStatus*.",
          "type": "string"
        },
        "kmsKeyVersionName": {
          "description": "KMS key version used to encrypt the Cloud SQL instance resource",
          "type": "string"
        }
      }
    },
    "InstancesTruncateLogRequest": {
      "type": "object",
      "id": "InstancesTruncateLogRequest",
      "description": "Instance truncate log request.",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      }
    },
    "RestoreBackupContext": {
      "properties": {
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#restoreBackupContext*."
        },
        "backupRunId": {
          "format": "int64",
          "description": "The ID of the backup run to restore from.",
          "type": "string"
        },
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        }
      },
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "id": "RestoreBackupContext",
      "type": "object"
    },
    "InstancesListResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "List of warnings that occurred while handling the request."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "List of database instance resources.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#instancesList*."
        }
      },
      "id": "InstancesListResponse",
      "description": "Database instances list response."
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "description": "Database instance settings.",
      "properties": {
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#settings*.",
          "type": "string"
        },
        "authorizedGaeApplications": {
          "type": "array",
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "items": {
            "type": "string"
          }
        },
        "databaseFlags": {
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "description": "The database flags passed to the instance at startup."
        },
        "replicationType": {
          "description": "The type of replication this instance uses. This can be either *ASYNCHRONOUS* or *SYNCHRONOUS*. (Deprecated_ This property was only applicable to First Generation instances.",
          "type": "string",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ]
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not."
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: *ALWAYS*: The instance is on, and remains so even in the absence of connection requests. *NEVER*: The instance is off; it is not activated, even if a connection request arrives.",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "type": "string"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "dataDiskSizeGb": {
          "type": "string",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "format": "int64"
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "format": "int64",
          "type": "string"
        },
        "dataDiskType": {
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "description": "The type of data disk: PD_SSD (default) or PD_HDD. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ]
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example *db-n1-standard-1* (MySQL instances) or *db-custom-1-3840* (PostgreSQL instances).",
          "type": "string"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "format": "int64"
        },
        "availabilityType": {
          "description": "Availability type. Potential values: *ZONAL*: The instance serves data from only one zone. Outages in that zone affect data accessibility. *REGIONAL*: The instance can serve data from more than one zone in a region (it is highly available). For more information, see Overview of the High Availability Configuration.",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ]
        },
        "pricingPlan": {
          "description": "The pricing plan for this instance. This can be either *PER_USE* or *PACKAGE*. Only *PER_USE* is supported for Second Generation instances.",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ]
        },
        "maintenanceDenyPeriods": {
          "items": {
            "$ref": "MaintenanceDenyPeriod"
          },
          "type": "array",
          "description": "Maintenance deny periods"
        }
      }
    },
    "Database": {
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "properties": {
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#database*."
        },
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        }
      },
      "type": "object",
      "id": "Database"
    },
    "UsersListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "items": {
          "description": "List of user resources in the instance.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#usersList*."
        }
      },
      "type": "object",
      "id": "UsersListResponse",
      "description": "User list response."
    },
    "OperationError": {
      "description": "Database instance operation error.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always *sql#operationError*.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Additional information about the error encountered."
        },
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        }
      },
      "id": "OperationError"
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "type": "object",
      "properties": {
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#demoteMasterContext*."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance.",
          "$ref": "DemoteMasterConfiguration"
        },
        "verifyGtidConsistency": {
          "type": "boolean",
          "description": "Verify GTID consistency for demote operation. Default value: *True*. Second Generation instances only. Setting this flag to false enables you to bypass GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues."
        }
      },
      "description": "Database instance demote primary instance context."
    },
    "Flag": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#flag*."
        },
        "requiresRestart": {
          "type": "boolean",
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances."
        },
        "allowedStringValues": {
          "description": "For *STRING* flags, a list of strings that the value can be set to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Can be *MYSQL_5_5*, *MYSQL_5_6*, or *MYSQL_5_7*. *MYSQL_5_7* is applicable only to Second Generation instances.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 11.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 12.",
              "The database version is MySQL 8."
            ],
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "POSTGRES_9_6",
              "POSTGRES_11",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_10",
              "POSTGRES_12",
              "MYSQL_8_0"
            ]
          },
          "type": "array"
        },
        "allowedIntValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values."
        },
        "type": {
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "type": "string",
          "description": "The type of the flag. Flags are typed to being *BOOLEAN*, *STRING*, *INTEGER* or *NONE*. *NONE* is used for flags which do not take a value, such as *skip_grant_tables*.",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specically for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ]
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: *max_allowed_packet*",
          "type": "string"
        },
        "inBeta": {
          "type": "boolean",
          "description": "Whether or not the flag is considered in beta."
        },
        "minValue": {
          "description": "For *INTEGER* flags, the minimum allowed value.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "type": "string",
          "description": "For *INTEGER* flags, the maximum allowed value.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Flag",
      "description": "A flag resource."
    },
    "InstancesRotateServerCaRequest": {
      "properties": {
        "rotateServerCaContext": {
          "description": "Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCaContext"
        }
      },
      "description": "Rotate Server CA request.",
      "type": "object",
      "id": "InstancesRotateServerCaRequest"
    },
    "DatabaseInstance": {
      "type": "object",
      "id": "DatabaseInstance",
      "properties": {
        "gceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "replicaNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The replicas of the instance."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        },
        "state": {
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED"
          ],
          "description": "The current serving state of the Cloud SQL instance. This can be one of the following. *RUNNABLE*: The instance is running, or is ready to run when accessed. *SUSPENDED*: The instance is not available, for example due to problems with billing. *PENDING_CREATE*: The instance is being created. *MAINTENANCE*: The instance is down for maintenance. *FAILED*: The instance creation failed. *UNKNOWN_STATE*: The state of the instance is unknown.",
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running.",
            "The instance is currently offline, but it may run again in the future.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The instance failed to be created."
          ]
        },
        "suspensionReason": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "type": "string"
          },
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "currentDiskSize": {
          "format": "int64",
          "type": "string",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see this announcement for details."
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Disk encryption configuration specific to an instance. Applies only to Second Generation instances."
        },
        "instanceType": {
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "description": "The instance type. This can be one of the following. *CLOUD_SQL_INSTANCE*: A Cloud SQL instance that is not replicating from a primary instance. *ON_PREMISES_INSTANCE*: An instance running on the customer's premises. *READ_REPLICA_INSTANCE*: A Cloud SQL instance configured as a read-replica.",
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "type": "string"
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be *us-central* (*FIRST_GEN* instances only) *us-central1* (*SECOND_GEN* instances only) *asia-east1* or *europe-west1*. Defaults to *us-central* or *us-central1* depending on the instance type. The region cannot be changed after instance creation."
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": " *SECOND_GEN*: Cloud SQL database instance. *EXTERNAL*: A database server that is not managed by Google. This property is read-only; use the *tier* property in the *settings* object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the *settings.settingsVersion* field instead.",
          "type": "string"
        },
        "maxDiskSize": {
          "description": "The maximum disk size of the instance in bytes.",
          "type": "string",
          "format": "int64"
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. This property is applicable only to Second Generation instances.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "The database engine type and version. The *databaseVersion* field cannot be changed after instance creation. MySQL instances: *MYSQL_5_7* (default), or *MYSQL_5_6*. PostgreSQL instances: *POSTGRES_9_6*, *POSTGRES_10*, *POSTGRES_11* or *POSTGRES_12* (default). SQL Server instances: *SQLSERVER_2017_STANDARD* (default), *SQLSERVER_2017_ENTERPRISE*, *SQLSERVER_2017_EXPRESS*, or *SQLSERVER_2017_WEB*.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8."
          ]
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "failoverReplica": {
          "properties": {
            "available": {
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.",
              "type": "boolean"
            },
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID. This property is applicable only to Second Generation instances.",
              "type": "string"
            }
          },
          "description": "The name and status of the failover replica. This property is applicable only to Second Generation instances.",
          "type": "object"
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "onPremisesConfiguration": {
          "$ref": "OnPremisesConfiguration",
          "description": "Configuration specific to on-premises instances."
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#instance*."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Disk encryption status specific to an instance. Applies only to Second Generation instances."
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "ipAddresses": {
          "type": "array",
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          }
        }
      },
      "description": "A Cloud SQL instance resource. Next field: 36"
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "id": "SslCertsInsertRequest",
      "type": "object",
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance.",
          "type": "string"
        }
      }
    },
    "LocationPreference": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#locationPreference*."
        },
        "zone": {
          "type": "string",
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.)."
        },
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance.",
          "type": "string"
        }
      },
      "description": "Preferred location. This specifies where a Cloud SQL instance is located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "type": "object",
      "id": "LocationPreference"
    },
    "FlagsListResponse": {
      "description": "Flags list response.",
      "properties": {
        "kind": {
          "description": "This is always *sql#flagsList*.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          }
        }
      },
      "type": "object",
      "id": "FlagsListResponse"
    },
    "DiskEncryptionConfiguration": {
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of KMS key for disk encryption",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#diskEncryptionConfiguration*.",
          "type": "string"
        }
      },
      "id": "DiskEncryptionConfiguration",
      "type": "object",
      "description": "Disk encryption configuration for an instance."
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "type": "object",
      "properties": {
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#binLogCoordinates*."
        },
        "binLogPosition": {
          "format": "int64",
          "type": "string",
          "description": "Position (offset) within the binary log file."
        }
      },
      "id": "BinLogCoordinates"
    },
    "SqlScheduledMaintenance": {
      "type": "object",
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenancce for this instance.",
      "properties": {
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "format": "google-datetime"
        },
        "canDefer": {
          "type": "boolean"
        }
      }
    },
    "MySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump."
        },
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#mysqlReplicaConfiguration*."
        },
        "connectRetryInterval": {
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "format": "int32"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        },
        "masterHeartbeatPeriod": {
          "description": "Interval in milliseconds between replication heartbeats.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MySqlReplicaConfiguration"
    },
    "DatabaseFlags": {
      "properties": {
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables for MySQL. Flags are specified with underscores, not hyphens. For more information, see Configuring Database Flags in the Cloud SQL documentation.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. Booleans are set to *on* for true and *off* for false. This field must be omitted if the flag doesn't take a value."
        }
      },
      "id": "DatabaseFlags",
      "description": "Database flags for Cloud SQL instances.",
      "type": "object"
    },
    "ReplicaConfiguration": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#replicaConfiguration*."
        },
        "failoverTarget": {
          "description": "Specifies if the replica is the failover target. If the field is set to *true* the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance.",
          "type": "boolean"
        },
        "mysqlReplicaConfiguration": {
          "$ref": "MySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named *master.info* in the data directory."
        }
      },
      "description": "Read-replica configuration for connecting to the primary instance.",
      "id": "ReplicaConfiguration",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "title": "Cloud SQL Admin API",
  "id": "sqladmin:v1beta4",
  "kind": "discovery#restDescription",
  "version": "v1beta4",
  "protocol": "rest",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "name": "sqladmin",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "resources": {
    "instances": {
      "methods": {
        "listServerCas": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "id": "sql.instances.listServerCas",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "demoteMaster": {
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "id": "sql.instances.demoteMaster",
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance name.",
              "type": "string"
            }
          }
        },
        "resetSslConfig": {
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "sql.instances.resetSslConfig",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.update"
        },
        "addServerCa": {
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "sql.instances.addServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes a Cloud SQL instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "DELETE",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "import": {
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "response": {
            "$ref": "Operation"
          },
[...]
