{
  "ownerName": "Google",
  "protocol": "rest",
  "name": "admob",
  "baseUrl": "https://admob.googleapis.com/",
  "rootUrl": "https://admob.googleapis.com/",
  "title": "AdMob API",
  "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
  "id": "admob:v1",
  "kind": "discovery#restDescription",
  "revision": "20200715",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/admob/api/",
  "canonicalName": "AdMob",
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "description": "The Google AdMob API lets you programmatically get reports on earnings.\n",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "schemas": {
    "MediationReportSpecSortCondition": {
      "id": "MediationReportSpecSortCondition",
      "properties": {
        "metric": {
          "description": "Sort by the specified metric.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of requests. The value is an integer.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
            "The number of times ads are returned in response to a request. The value\nis an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.",
            "The third-party ad network's estimated average eCPM. The currency unit\n(USD, EUR, or other) of the earning metrics are determined by the\nlocalization setting for currency. The amount is in micros. For example,\n$2.30 would be represented as 2300000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions."
          ],
          "type": "string",
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "OBSERVED_ECPM"
          ]
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
            "The unique ID of the ad source (for example, \"5450213213286189855\" and\n\"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example,\n\"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example,\n\"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "type": "string",
          "description": "Sort by the specified dimension."
        },
        "order": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "description": "Sorting order of the dimension or metric.",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string"
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "type": "object"
    },
    "ReportRowDimensionValue": {
      "description": "Representation of a dimension value.",
      "properties": {
        "displayLabel": {
          "type": "string",
          "description": "The localized string representation of the value. If unspecified, the\ndisplay label should be derived from the value."
        },
        "value": {
          "description": "Dimension value in the format specified in the report's spec Dimension\nenum.",
          "type": "string"
        }
      },
      "id": "ReportRowDimensionValue",
      "type": "object"
    },
    "MediationReportSpec": {
      "type": "object",
      "id": "MediationReportSpec",
      "properties": {
        "dateRange": {
          "description": "The date range for which the report is generated.",
          "$ref": "DateRange"
        },
        "metrics": {
          "items": {
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "OBSERVED_ECPM"
            ]
          },
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of requests. The value is an integer.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
            "The number of times ads are returned in response to a request. The value\nis an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.",
            "The third-party ad network's estimated average eCPM. The currency unit\n(USD, EUR, or other) of the earning metrics are determined by the\nlocalization setting for currency. The amount is in micros. For example,\n$2.30 would be represented as 2300000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions."
          ],
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "type": "array"
        },
        "localizationSettings": {
          "$ref": "LocalizationSettings",
          "description": "Localization settings of the report."
        },
        "dimensions": {
          "description": "List of dimensions of the report. The value combination of these dimensions\ndetermines the row of the report. If no dimensions are specified, the\nreport returns a single row of requested metrics for the entire account.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
            "The unique ID of the ad source (for example, \"5450213213286189855\" and\n\"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example,\n\"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example,\n\"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ],
          "type": "array",
          "items": {
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM"
            ],
            "type": "string"
          }
        },
        "sortConditions": {
          "type": "array",
          "description": "Describes the sorting of report rows. The order of the condition in the\nlist defines its precedence; the earlier the condition, the higher its\nprecedence. If no sort conditions are specified, the row ordering is\nundefined.",
          "items": {
            "$ref": "MediationReportSpecSortCondition"
          }
        },
        "maxReportRows": {
          "type": "integer",
          "description": "Maximum number of report data rows to return. If the value is not set, the\nAPI returns as many rows as possible, up to 100000. Acceptable values are\n1-100000, inclusive. Any other values are treated as 100000.",
          "format": "int32"
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Describes which report rows to match based on their dimension values.",
          "items": {
            "$ref": "MediationReportSpecDimensionFilter"
          }
        },
        "timeZone": {
          "type": "string",
          "description": "A report time zone. Accepts an IANA TZ name values, such as\n\"America/Los_Angeles.\"  If no time zone is defined, the account default\ntakes effect. Check default value by the get account action.\n\n**Warning:** The \"America/Los_Angeles\" is the only supported value at\nthe moment."
        }
      },
      "description": "The specification for generating an AdMob Mediation report.\nFor example, the specification to get observed ECPM sliced by ad source and\napp for the 'US' and 'CN' countries can look like the following example:\n\n    {\n      \"date_range\": {\n        \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1},\n        \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 30}\n      },\n      \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"],\n      \"metrics\": [\"OBSERVED_ECPM\"],\n      \"dimension_filters\": [\n        {\n          \"dimension\": \"COUNTRY\",\n          \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]}\n        }\n      ],\n      \"sort_conditions\": [\n        {\"dimension\":\"APP\", order: \"ASCENDING\"}\n      ],\n      \"localization_settings\": {\n        \"currency_code\": \"USD\",\n        \"language_code\": \"en-US\"\n      }\n    }\n\nFor a better understanding, you can treat the preceding specification like\nthe following pseudo SQL:\n\n    SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM\n    FROM MEDIATION_REPORT\n    WHERE DATE \u003e= '2018-09-01' AND DATE \u003c= '2018-09-30'\n        AND COUNTRY IN ('US', 'CN')\n    GROUP BY AD_SOURCE, APP, COUNTRY\n    ORDER BY APP ASC;"
    },
    "ReportFooter": {
      "id": "ReportFooter",
      "type": "object",
      "description": "Groups data available after report generation, for example, warnings and row\ncounts. Always sent as the last message in the stream response.",
      "properties": {
        "warnings": {
          "description": "Warnings associated with generation of the report.",
          "items": {
            "$ref": "ReportWarning"
          },
          "type": "array"
        },
        "matchingRowCount": {
          "description": "Total number of rows that did match the request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "StringList": {
      "id": "StringList",
      "type": "object",
      "properties": {
        "values": {
          "description": "The string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List of string values."
    },
    "ReportRow": {
      "description": "A row of the returning report.",
      "id": "ReportRow",
      "properties": {
        "dimensionValues": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ReportRowDimensionValue"
          },
          "description": "Map of dimension values in a row, with keys as enum name of the dimensions."
        },
        "metricValues": {
          "additionalProperties": {
            "$ref": "ReportRowMetricValue"
          },
          "type": "object",
          "description": "Map of metric values in a row, with keys as enum name of the metrics. If\na metric being requested has no value returned, the map will not include\nit."
        }
      },
      "type": "object"
    },
    "NetworkReportSpecSortCondition": {
      "properties": {
        "metric": {
          "description": "Sort by the specified metric.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of ad requests. The value is an integer.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
            "The estimated earnings per thousand ad impressions. The value is in\nmicros. For example, $1.03 would be represented as 1030000.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times ads are returned in response to a request. The value\nis an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The ratio of ads that are displayed over ads that are returned, defined\nas impressions / matched requests. The value is a double precision\n(approximate) decimal value."
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "IMPRESSION_RPM",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "SHOW_RATE"
          ],
          "type": "string"
        },
        "order": {
          "type": "string",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "description": "Sorting order of the dimension or metric."
        },
        "dimension": {
          "description": "Sort by the specified dimension.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery\ndimension.\n\n**Warning:** The dimension is incompatible with\n[AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS),\n[MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and\n[IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "type": "string"
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "id": "NetworkReportSpecSortCondition",
      "type": "object"
    },
    "ReportHeader": {
      "properties": {
        "reportingTimeZone": {
          "type": "string",
          "description": "The report time zone. The value is a time-zone ID as specified by the CLDR\nproject, for example, \"America/Los_Angeles\"."
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The date range for which the report is generated. This is identical to the\nrange specified in the report request."
        },
        "localizationSettings": {
          "description": "Localization settings of the report. This is identical to the settings\nin the report request.",
          "$ref": "LocalizationSettings"
        }
      },
      "id": "ReportHeader",
      "type": "object",
      "description": "Groups data helps to treat the generated report. Always sent as a first\nmessage in the stream response."
    },
    "GenerateNetworkReportRequest": {
      "id": "GenerateNetworkReportRequest",
      "description": "Request to generate an AdMob Network report.",
      "type": "object",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "NetworkReportSpec"
        }
      }
    },
    "MediationReportSpecDimensionFilter": {
      "description": "Describes which report rows to match based on their dimension values.",
      "properties": {
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the\nvalues specified in this condition.",
          "$ref": "StringList"
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
            "The unique ID of the ad source (for example, \"5450213213286189855\" and\n\"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example,\n\"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example,\n\"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "description": "Applies the filter criterion to the specified dimension."
        }
      },
      "id": "MediationReportSpecDimensionFilter",
      "type": "object"
    },
    "NetworkReportSpecDimensionFilter": {
      "id": "NetworkReportSpecDimensionFilter",
      "type": "object",
      "description": "Describes which report rows to match based on their dimension values.",
      "properties": {
        "dimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "description": "Applies the filter criterion to the specified dimension.",
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery\ndimension.\n\n**Warning:** The dimension is incompatible with\n[AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS),\n[MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and\n[IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ]
        },
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the\nvalues specified in this condition.",
          "$ref": "StringList"
        }
      }
    },
    "LocalizationSettings": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Language used for any localized text, such as some dimension value display\nlabels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if\nunspecified."
        },
        "currencyCode": {
          "description": "Currency code of the earning related metrics, which is the 3-letter code\ndefined in ISO 4217. The daily average rate is used for the currency\nconversion. Defaults to the account currency code if unspecified.",
          "type": "string"
        }
      },
      "description": "Localization settings for reports, such as currency and language. It affects\nhow metrics are calculated.",
      "id": "LocalizationSettings",
      "type": "object"
    },
    "GenerateNetworkReportResponse": {
      "properties": {
        "header": {
          "$ref": "ReportHeader",
          "description": "Report generation settings that describes the report contents, such as\nthe report date range and localization settings."
        },
        "row": {
          "description": "Actual report data.",
          "$ref": "ReportRow"
        },
        "footer": {
          "$ref": "ReportFooter",
          "description": "Additional information about the generated report, such as warnings about\nthe data."
        }
      },
      "id": "GenerateNetworkReportResponse",
      "description": "The streaming response for the AdMob Network report where the first response\ncontains the report header, then a stream of row responses, and finally a\nfooter as the last response message.\n\nFor example:\n\n    [{\n      \"header\": {\n        \"dateRange\": {\n          \"startDate\": {\"year\": 2018, \"month\": 9, \"day\": 1},\n          \"endDate\": {\"year\": 2018, \"month\": 9, \"day\": 1}\n        },\n        \"localizationSettings\": {\n          \"currencyCode\": \"USD\",\n          \"languageCode\": \"en-US\"\n        }\n      }\n    },\n    {\n      \"row\": {\n        \"dimensionValues\": {\n          \"DATE\": {\"value\": \"20180918\"},\n          \"APP\": {\n            \"value\": \"ca-app-pub-8123415297019784~1001342552\",\n             displayLabel: \"My app name!\"\n          }\n        },\n        \"metricValues\": {\n          \"ESTIMATED_EARNINGS\": {\"microsValue\": 6500000}\n        }\n      }\n    },\n    {\n      \"footer\": {\"matchingRowCount\": 1}\n    }]",
      "type": "object"
    },
    "DateRange": {
      "description": "Specification of a single date range. Both dates are inclusive.",
      "id": "DateRange",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Start date of the date range, inclusive. Must be less than or equal to the\nend date."
        },
        "endDate": {
          "description": "End date of the date range, inclusive. Must be greater than or equal to the\nstart date.",
          "$ref": "Date"
        }
      }
    },
    "ReportRowMetricValue": {
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double precision (approximate) decimal values. Rates are from 0 to 1."
        },
        "integerValue": {
          "format": "int64",
          "description": "Metric integer value.",
          "type": "string"
        },
        "microsValue": {
          "type": "string",
          "format": "int64",
          "description": "Amount in micros. One million is equivalent to one unit. Currency value\nis in the unit (USD, EUR or other) specified by the request.\nFor example, $6.50 whould be represented as 6500000 micros."
        }
      },
      "description": "Representation of a metric value.",
      "id": "ReportRowMetricValue"
    },
    "ReportWarning": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Some data in this report is aggregated based on a time zone different\nfrom the requested time zone. This could happen if a local time-zone\nreport has the start time before the last time this time zone changed.\nThe description field will contain the date of the last time zone\nchange.",
            "There is an unusual delay in processing the source data for the\nrequested date range. The report results might be less up to date than\nusual. AdMob is aware of the issue and is actively working to resolve\nit.",
            "Warnings that are exposed without a specific type. Useful when new\nwarning types are added but the API is not changed yet.",
            "The currency being requested is not the account currency. The earning\nmetrics will be based on the requested currency, and thus not a good\nestimation of the final payment anymore, due to the currency rate\nfluctuation."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
            "DATA_DELAYED",
            "OTHER",
            "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
          ],
          "description": "Type of the warning."
        },
        "description": {
          "description": "Describes the details of the warning message, in English.",
          "type": "string"
        }
      },
      "description": "Warnings associated with generation of the report.",
      "id": "ReportWarning"
    },
    "ListPublisherAccountsResponse": {
      "properties": {
        "account": {
          "description": "Publisher that the client credentials can access.",
          "type": "array",
          "items": {
            "$ref": "PublisherAccount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there might be more accounts for the request;\nyou must pass this value in a new `ListPublisherAccountsRequest`."
        }
      },
      "type": "object",
      "id": "ListPublisherAccountsResponse",
      "description": "Response for the publisher account list request."
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. This can represent:\n\n* A full date, with non-zero year, month and day values\n* A month and day value, with a zero year, e.g. an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, e.g. a credit card expiration date\n\nRelated types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day."
        }
      }
    },
    "NetworkReportSpec": {
      "id": "NetworkReportSpec",
      "properties": {
        "dateRange": {
          "description": "The date range for which the report is generated.",
          "$ref": "DateRange"
        },
        "maxReportRows": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of report data rows to return. If the value is not set, the\nAPI returns as many rows as possible, up to 100000. Acceptable values are\n1-100000, inclusive. Any other values are treated as 100000."
        },
        "metrics": {
          "items": {
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "IMPRESSION_RPM",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "SHOW_RATE"
            ]
          },
          "type": "array",
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of ad requests. The value is an integer.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
            "The estimated earnings per thousand ad impressions. The value is in\nmicros. For example, $1.03 would be represented as 1030000.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times ads are returned in response to a request. The value\nis an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The ratio of ads that are displayed over ads that are returned, defined\nas impressions / matched requests. The value is a double precision\n(approximate) decimal value."
          ]
        },
        "timeZone": {
          "description": "A report time zone. Accepts an IANA TZ name values, such as\n\"America/Los_Angeles.\"  If no time zone is defined, the account default\ntakes effect. Check default value by the get account action.\n\n**Warning:** The \"America/Los_Angeles\" is the only supported value at\nthe moment.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_UNIT",
              "APP",
              "AD_TYPE",
              "COUNTRY",
              "FORMAT",
              "PLATFORM"
            ]
          },
          "description": "List of dimensions of the report. The value combination of these dimensions\ndetermines the row of the report. If no dimensions are specified, the\nreport returns a single row of requested metrics for the entire account.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery\ndimension.\n\n**Warning:** The dimension is incompatible with\n[AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS),\n[MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and\n[IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ]
        },
        "sortConditions": {
          "description": "Describes the sorting of report rows. The order of the condition in the\nlist defines its precedence; the earlier the condition, the higher its\nprecedence. If no sort conditions are specified, the row ordering is\nundefined.",
          "items": {
            "$ref": "NetworkReportSpecSortCondition"
          },
          "type": "array"
        },
        "localizationSettings": {
          "description": "Localization settings of the report.",
          "$ref": "LocalizationSettings"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "NetworkReportSpecDimensionFilter"
          },
          "type": "array",
          "description": "Describes which report rows to match based on their dimension values."
        }
      },
      "type": "object",
      "description": "The specification for generating an AdMob Network report.\nFor example, the specification to get clicks and estimated earnings for only\nthe 'US' and 'CN' countries can look like the following example:\n\n    {\n      'date_range': {\n        'start_date': {'year': 2018, 'month': 9, 'day': 1},\n        'end_date': {'year': 2018, 'month': 9, 'day': 30}\n      },\n      'dimensions': ['DATE', 'APP', 'COUNTRY'],\n      'metrics': ['CLICKS', 'ESTIMATED_EARNINGS'],\n      'dimension_filters': [\n        {\n          'dimension': 'COUNTRY',\n          'matches_any': {'values': [{'value': 'US', 'value': 'CN'}]}\n        }\n      ],\n      'sort_conditions': [\n        {'dimension':'APP', order: 'ASCENDING'},\n        {'metric':'CLICKS', order: 'DESCENDING'}\n      ],\n      'localization_settings': {\n        'currency_code': 'USD',\n        'language_code': 'en-US'\n      }\n    }\n\nFor a better understanding, you can treat the preceding specification like\nthe following pseudo SQL:\n\n    SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS\n    FROM NETWORK_REPORT\n    WHERE DATE \u003e= '2018-09-01' AND DATE \u003c= '2018-09-30'\n        AND COUNTRY IN ('US', 'CN')\n    GROUP BY DATE, APP, COUNTRY\n    ORDER BY APP ASC, CLICKS DESC;"
    },
    "GenerateMediationReportRequest": {
      "type": "object",
      "description": "Request to generate an AdMob Mediation report.",
      "properties": {
        "reportSpec": {
          "$ref": "MediationReportSpec",
          "description": "Network report specification."
        }
      },
      "id": "GenerateMediationReportRequest"
    },
    "PublisherAccount": {
      "properties": {
        "reportingTimeZone": {
          "description": "The time zone that is used in reports that are generated for this account.\nThe value is a time-zone ID as specified by the CLDR project,\nfor example, \"America/Los_Angeles\".",
          "type": "string"
        },
        "publisherId": {
          "type": "string",
          "description": "The unique ID by which this publisher account can be identified\nin the API requests (for example, pub-1234567890)."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this account.\nFormat is accounts/{publisher_id}."
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the earning-related metrics, which is the 3-letter code\ndefined in ISO 4217. The daily average rate is used for the currency\nconversion."
        }
      },
      "description": "A publisher account contains information relevant to the use of this API,\nsuch as the time zone used for the reports.",
      "id": "PublisherAccount",
      "type": "object"
    },
    "GenerateMediationReportResponse": {
      "properties": {
        "header": {
          "description": "Report generation settings that describes the report contents, such as\nthe report date range and localization settings.",
          "$ref": "ReportHeader"
        },
        "footer": {
          "description": "Additional information about the generated report, such as warnings about\nthe data.",
          "$ref": "ReportFooter"
        },
        "row": {
          "description": "Actual report data.",
          "$ref": "ReportRow"
        }
      },
      "id": "GenerateMediationReportResponse",
      "type": "object",
      "description": "The streaming response for the AdMob Mediation report where the first\nresponse contains the report header, then a stream of row responses, and\nfinally a footer as the last response message.\n\nFor example:\n\n    [{\n      \"header\": {\n        \"date_range\": {\n          \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1},\n          \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}\n        },\n        \"localization_settings\": {\n          \"currency_code\": \"USD\",\n          \"language_code\": \"en-US\"\n        }\n      }\n    },\n    {\n      \"row\": {\n        \"dimension_values\": {\n          \"DATE\": {\"value\": \"20180918\"},\n          \"APP\": {\n            \"value\": \"ca-app-pub-8123415297019784~1001342552\",\n             \"display_label\": \"My app name!\"\n          }\n        },\n        \"metric_values\": {\n          \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"}\n        }\n      }\n    },\n    {\n      \"footer\": {\"matching_row_count\": 1}\n    }]"
    }
  },
  "version": "v1",
  "version_module": true,
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "v1/accounts/{accountsId}",
          "httpMethod": "GET",
          "description": "Gets information about the specified AdMob publisher account.",
          "id": "admob.accounts.get",
          "response": {
            "$ref": "PublisherAccount"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Resource name of the publisher account to retrieve.\nExample: accounts/pub-9876543210987654",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListPublisherAccountsResponse"
          },
          "parameterOrder": [],
          "id": "admob.accounts.list",
          "description": "Lists the AdMob publisher account accessible with the client credential.\nCurrently, all credentials have access to at most one AdMob account.",
          "path": "v1/accounts",
          "parameters": {
            "pageSize": {
              "description": "Maximum number of accounts to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The value returned by the last `ListPublisherAccountsResponse`; indicates\nthat this is a continuation of a prior `ListPublisherAccounts` call, and\nthat the system should return the next page of data.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/accounts"
        }
      },
      "resources": {
        "networkReport": {
          "methods": {
            "generate": {
              "httpMethod": "POST",
              "flatPath": "v1/accounts/{accountsId}/networkReport:generate",
              "description": "Generates an AdMob Network report based on the provided report\nspecification.",
              "request": {
                "$ref": "GenerateNetworkReportRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/networkReport:generate",
              "id": "admob.accounts.networkReport.generate",
              "response": {
                "$ref": "GenerateNetworkReportResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name of the account to generate the report for.\nExample: accounts/pub-9876543210987654"
                }
              }
            }
          }
        },
        "mediationReport": {
          "methods": {
            "generate": {
              "request": {
                "$ref": "GenerateMediationReportRequest"
              },
              "description": "Generates an AdMob Mediation report based on the provided report\nspecification.",
              "id": "admob.accounts.mediationReport.generate",
              "path": "v1/{+parent}/mediationReport:generate",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GenerateMediationReportResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/mediationReport:generate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Resource name of the account to generate the report for.\nExample: accounts/pub-9876543210987654",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  }
}
