{
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://dataproc.googleapis.com/",
  "batchPath": "batch",
  "name": "dataproc",
  "version": "v1",
  "baseUrl": "https://dataproc.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "canonicalName": "Dataproc",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedGroupConfig": {
      "description": "Specifies the resources used to actively manage an instance group.",
      "type": "object",
      "properties": {
        "instanceGroupManagerName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Instance Group Manager for this group."
        },
        "instanceTemplateName": {
          "type": "string",
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true
        }
      },
      "id": "ManagedGroupConfig"
    },
    "BasicYarnAutoscalingConfig": {
      "description": "Basic autoscaling configurations for YARN.",
      "properties": {
        "scaleDownFactor": {
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "format": "double"
        },
        "scaleUpFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "format": "google-duration",
          "type": "string"
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "BasicYarnAutoscalingConfig"
    },
    "WorkflowTemplatePlacement": {
      "id": "WorkflowTemplatePlacement",
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required.",
      "type": "object",
      "properties": {
        "managedCluster": {
          "$ref": "ManagedCluster",
          "description": "A cluster that is managed by the workflow."
        },
        "clusterSelector": {
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted.",
          "$ref": "ClusterSelector"
        }
      }
    },
    "JobScheduling": {
      "type": "object",
      "properties": {
        "maxFailuresPerHour": {
          "format": "int32",
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed.A job may be reported as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum value is 10.",
          "type": "integer"
        },
        "maxFailuresTotal": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of times in total a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed. Maximum value is 240."
        }
      },
      "description": "Job scheduling options.",
      "id": "JobScheduling"
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "ListAutoscalingPoliciesResponse": {
      "description": "A response to a request to list autoscaling policies in a project.",
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "properties": {
        "policies": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Output only. Autoscaling policies list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true
        }
      }
    },
    "RegexValidation": {
      "id": "RegexValidation",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "type": "array"
        }
      },
      "description": "Validation based on regular expressions.",
      "type": "object"
    },
    "CancelJobRequest": {
      "properties": {},
      "id": "CancelJobRequest",
      "description": "A request to cancel a job.",
      "type": "object"
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster config. Note that Dataproc may set default values, and values may change when clusters are updated."
        },
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster."
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to."
        },
        "metrics": {
          "readOnly": true,
          "$ref": "ClusterMetrics",
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name. Cluster names within a project must be unique. Names of deleted clusters can be reused."
        },
        "status": {
          "description": "Output only. Cluster status.",
          "$ref": "ClusterStatus",
          "readOnly": true
        },
        "statusHistory": {
          "type": "array",
          "description": "Output only. The previous cluster status.",
          "items": {
            "$ref": "ClusterStatus"
          },
          "readOnly": true
        }
      },
      "description": "Describes the identifying information, config, and status of a cluster of Compute Engine instances.",
      "id": "Cluster"
    },
    "ParameterValidation": {
      "properties": {
        "values": {
          "$ref": "ValueValidation",
          "description": "Validation based on a list of allowed values."
        },
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        }
      },
      "description": "Configuration for parameter validation.",
      "type": "object",
      "id": "ParameterValidation"
    },
    "NodeInitializationAction": {
      "properties": {
        "executionTimeout": {
          "type": "string",
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "format": "google-duration"
        },
        "executableFile": {
          "description": "Required. Cloud Storage URI of executable file.",
          "type": "string"
        }
      },
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "id": "NodeInitializationAction",
      "type": "object"
    },
    "ClusterSelector": {
      "id": "ClusterSelector",
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The cluster labels. Cluster must have all labels to match."
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used."
        }
      },
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members to a single role. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members to a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one member."
        },
        "etag": {
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "WorkflowMetadata": {
      "type": "object",
      "properties": {
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the target cluster."
        },
        "endTime": {
          "description": "Output only. Workflow end time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dagTimeout": {
          "type": "string",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration",
          "readOnly": true
        },
        "createCluster": {
          "description": "Output only. The create cluster operation metadata.",
          "readOnly": true,
          "$ref": "ClusterOperation"
        },
        "version": {
          "type": "integer",
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "format": "int32",
          "readOnly": true
        },
        "graph": {
          "$ref": "WorkflowGraph",
          "readOnly": true,
          "description": "Output only. The workflow graph."
        },
        "parameters": {
          "type": "object",
          "description": "Map from parameter names to values that were used for those parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "template": {
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Workflow start time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "clusterUuid": {
          "type": "string",
          "description": "Output only. The UUID of target cluster.",
          "readOnly": true
        },
        "deleteCluster": {
          "description": "Output only. The delete cluster operation metadata.",
          "readOnly": true,
          "$ref": "ClusterOperation"
        },
        "state": {
          "description": "Output only. The workflow state.",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        },
        "dagEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends."
        },
        "dagStartTime": {
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A Dataproc workflow template resource.",
      "id": "WorkflowMetadata"
    },
    "PrestoJob": {
      "type": "object",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "clientTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Presto client tags to attach to this query"
        }
      },
      "id": "PrestoJob",
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster."
    },
    "AcceleratorConfig": {
      "type": "object",
      "id": "AcceleratorConfig",
      "properties": {
        "acceleratorCount": {
          "format": "int32",
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "type": "integer"
        },
        "acceleratorTypeUri": {
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes).Examples: https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80.",
          "type": "string"
        }
      },
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/)."
    },
    "YarnApplication": {
      "id": "YarnApplication",
      "properties": {
        "trackingUrl": {
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "type": "string"
        },
        "progress": {
          "format": "float",
          "type": "number",
          "description": "Required. The numerical progress of the application, from 1 to 100."
        },
        "name": {
          "type": "string",
          "description": "Required. The application name."
        },
        "state": {
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "description": "Required. The application state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "type": "string"
        }
      },
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "type": "object"
    },
    "SparkRJob": {
      "id": "SparkRJob",
      "properties": {
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file.",
          "type": "string"
        },
        "fileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        }
      },
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "type": "object"
    },
    "OrderedJob": {
      "properties": {
        "prerequisiteStepIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "type": "array"
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "stepId": {
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job."
        },
        "hiveJob": {
          "$ref": "HiveJob",
          "description": "Optional. Job is a Hive job."
        },
        "hadoopJob": {
          "$ref": "HadoopJob",
          "description": "Optional. Job is a Hadoop job."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        }
      },
      "type": "object",
      "description": "A job executed by the workflow.",
      "id": "OrderedJob"
    },
    "ClusterMetrics": {
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "type": "object",
      "id": "ClusterMetrics",
      "properties": {
        "yarnMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "The YARN metrics."
        },
        "hdfsMetrics": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "The HDFS metrics.",
          "type": "object"
        }
      }
    },
    "InstanceGroupConfig": {
      "properties": {
        "imageUri": {
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default.",
          "type": "string"
        },
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        },
        "minCpuPlatform": {
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu).",
          "type": "string"
        },
        "numInstances": {
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1.",
          "format": "int32",
          "type": "integer"
        },
        "accelerators": {
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "preemptibility": {
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible.This option is allowed only for secondary worker groups."
          ],
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE."
        },
        "instanceReferences": {
          "readOnly": true,
          "description": "Output only. List of references to Compute Engine instances.",
          "items": {
            "$ref": "InstanceReference"
          },
          "type": "array"
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "type": "boolean",
          "readOnly": true
        },
        "instanceNames": {
          "type": "array",
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "machineTypeUri": {
          "type": "string",
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2."
        },
        "managedGroupConfig": {
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "$ref": "ManagedGroupConfig",
          "readOnly": true
        }
      },
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "id": "InstanceGroupConfig",
      "type": "object"
    },
    "InjectCredentialsRequest": {
      "id": "InjectCredentialsRequest",
      "properties": {
        "clusterUuid": {
          "description": "Required. The cluster UUID.",
          "type": "string"
        },
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        }
      },
      "type": "object",
      "description": "A request to inject credentials into a cluster."
    },
    "ClusterStatus": {
      "type": "object",
      "properties": {
        "substate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional state information that includes status reported by the agent.",
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if Dataproc loses communication with Agent).Applies to RUNNING state."
          ]
        },
        "stateStartTime": {
          "readOnly": true,
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster's state.",
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs.",
            "The cluster is being stopped. It cannot be used.",
            "The cluster is currently stopped. It is not ready for use.",
            "The cluster is being started. It is not ready for use."
          ],
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "DELETING",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING"
          ]
        },
        "detail": {
          "type": "string",
          "description": "Optional. Output only. Details of cluster's state.",
          "readOnly": true
        }
      },
      "id": "ClusterStatus",
      "description": "The status of a cluster and its instances."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for TestIamPermissions method."
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "properties": {
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration",
          "type": "string"
        },
        "autoDeleteTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "autoDeleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        }
      },
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have integrity monitoring enabled."
        }
      }
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster.",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClusterOperationMetadata": {
      "id": "ClusterOperationMetadata",
      "properties": {
        "operationType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The operation type."
        },
        "labels": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Labels associated with the operation",
          "additionalProperties": {
            "type": "string"
          }
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors encountered during operation execution.",
          "items": {
            "type": "string"
          }
        },
        "statusHistory": {
          "description": "Output only. The previous operation status.",
          "readOnly": true,
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "type": "array"
        },
        "clusterName": {
          "type": "string",
          "description": "Output only. Name of the cluster for the operation.",
          "readOnly": true
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Short description of operation."
        },
        "status": {
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status.",
          "readOnly": true
        }
      },
      "description": "Metadata describing the operation.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "InstanceReference": {
      "type": "object",
      "id": "InstanceReference",
      "properties": {
        "publicKey": {
          "description": "The public key used for sharing data with this instance.",
          "type": "string"
        },
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "instanceId": {
          "description": "The unique identifier of the Compute Engine instance.",
          "type": "string"
        }
      },
      "description": "A reference to a Compute Engine instance."
    },
    "SparkSqlJob": {
      "properties": {
        "scriptVariables": {
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        }
      },
      "id": "SparkSqlJob",
      "description": "A Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.",
      "type": "object"
    },
    "PigJob": {
      "type": "object",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "id": "PigJob",
      "properties": {
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains the Pig queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array"
        },
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value])."
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        }
      }
    },
    "HiveJob": {
      "properties": {
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        }
      },
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "type": "object",
      "id": "HiveJob"
    },
    "ClusterOperation": {
      "properties": {
        "operationId": {
          "description": "Output only. The id of the cluster operation.",
          "readOnly": true,
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "Output only. Indicates the operation is done.",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Output only. Error, if operation failed.",
          "readOnly": true
        }
      },
      "id": "ClusterOperation",
      "type": "object",
      "description": "The cluster operation triggered by a workflow."
    },
    "ListClustersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest."
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "Output only. The clusters in the project.",
          "readOnly": true
        }
      },
      "id": "ListClustersResponse",
      "description": "The list of all clusters in a project.",
      "type": "object"
    },
    "ClusterOperationStatus": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Output only. A message containing the operation state."
        },
        "stateStartTime": {
          "description": "Output only. The time this state was entered.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "innerState": {
          "readOnly": true,
          "description": "Output only. A message containing the detailed operation state.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A message containing any operation metadata details."
        }
      },
      "description": "The status of the operation.",
      "type": "object",
      "id": "ClusterOperationStatus"
    },
    "GceClusterConfig": {
      "type": "object",
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "properties": {
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm)."
        },
        "serviceAccountScopes": {
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0 projects/[project_id]/regions/us-east1/subnetworks/sub0 sub0"
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The zone where the Compute Engine cluster will be located. On a create request, it is required in the \"global\" region. If omitted in a non-global Dataproc region, the service will pick a zone in the corresponding Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] us-central1-f"
        },
        "metadata": {
          "type": "object",
          "description": "The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Optional. The Dataproc service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ],
          "description": "Optional. The type of IPv6 access for a cluster.",
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the Dataproc cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the Dataproc cluster."
          ]
        },
        "nodeGroupAffinity": {
          "$ref": "NodeGroupAffinity",
          "description": "Optional. Node Group Affinity for sole-tenant clusters."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Compute Engine tags to add to all instances (see Tagging instances (https://cloud.google.com/compute/docs/label-or-tag-resources#tags))."
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "Optional. Reservation Affinity for consuming Zonal reservation."
        },
        "networkUri": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/global/default projects/[project_id]/regions/global/default default",
          "type": "string"
        },
        "internalIpOnly": {
          "type": "boolean",
          "description": "Optional. If true, all instances in the cluster will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This internal_ip_only restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses."
        }
      },
      "id": "GceClusterConfig"
    },
    "Status": {
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "MetastoreConfig": {
      "type": "object",
      "properties": {
        "dataprocMetastoreService": {
          "type": "string",
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]"
        }
      },
      "id": "MetastoreConfig",
      "description": "Specifies a Metastore configuration."
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Binding": {
      "description": "Associates members with a role.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a service account. For example, my-other-app@appspot.gserviceaccount.com. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com."
        },
        "role": {
          "description": "Role that is assigned to members. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "LoggingConfig": {
      "type": "object",
      "id": "LoggingConfig",
      "description": "The runtime logging config of the job.",
      "properties": {
        "driverLogLevels": {
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'",
          "additionalProperties": {
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "type": "string",
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ]
          },
          "type": "object"
        }
      }
    },
    "ManagedCluster": {
      "type": "object",
      "description": "Cluster that is managed by the workflow.",
      "id": "ManagedCluster",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters."
        },
        "config": {
          "description": "Required. The cluster configuration.",
          "$ref": "ClusterConfig"
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DiagnoseClusterResults": {
      "description": "The location of diagnostic output.",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DiagnoseClusterResults"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "properties": {
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0."
        },
        "minInstances": {
          "type": "integer",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "format": "int32"
        },
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers."
        }
      },
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "type": "object",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups."
    },
    "ListWorkflowTemplatesResponse": {
      "id": "ListWorkflowTemplatesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest.",
          "readOnly": true
        },
        "templates": {
          "readOnly": true,
          "description": "Output only. WorkflowTemplates list.",
          "items": {
            "$ref": "WorkflowTemplate"
          },
          "type": "array"
        }
      },
      "description": "A response to a request to list workflow templates in a project.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}."
    },
    "JobReference": {
      "type": "object",
      "id": "JobReference",
      "description": "Encapsulates the full scoping used to reference a job.",
      "properties": {
        "jobId": {
          "description": "Optional. The job ID, which must be unique within the project.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.If not specified by the caller, the job ID will be provided by the server.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. The ID of the Google Cloud Platform project that the job belongs to. If specified, must match the request project ID.",
          "type": "string"
        }
      }
    },
    "StopClusterRequest": {
      "description": "A request to stop a cluster.",
      "id": "StopClusterRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A unique id used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        }
      },
      "type": "object"
    },
    "PySparkJob": {
      "properties": {
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "type": "array"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "pythonFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "mainPythonFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "type": "object",
      "id": "PySparkJob"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "WorkflowNode": {
      "id": "WorkflowNode",
      "description": "The workflow node.",
      "properties": {
        "prerequisiteStepIds": {
          "description": "Output only. Node's prerequisite nodes.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "error": {
          "description": "Output only. The error detail.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "description": "Output only. The node state.",
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ]
        },
        "stepId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the node."
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The job id; populated after the node enters RUNNING state."
        }
      },
      "type": "object"
    },
    "StartClusterRequest": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique id used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      },
      "id": "StartClusterRequest",
      "description": "A request to start a cluster."
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Encryption settings for the cluster.",
      "properties": {
        "gcePdKmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster."
        }
      },
      "id": "EncryptionConfig"
    },
    "SoftwareConfig": {
      "description": "Specifies the selection and config of software inside the cluster.",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Dataproc Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported_dataproc_versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "optionalComponents": {
          "description": "Optional. The set of components to activate on the cluster.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution. The Anaconda component is not supported in the Dataproc 2.0 image. The 2.0 image is pre-installed with Miniconda.",
              "Docker",
              "The Druid query engine. (beta)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "The Jupyter Notebook.",
              "The Presto query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service."
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "JUPYTER",
              "PRESTO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SoftwareConfig"
    },
    "SubmitJobRequest": {
      "type": "object",
      "id": "SubmitJobRequest",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "Required. The job resource."
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "description": "A request to submit a job."
    },
    "JobPlacement": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted.",
          "readOnly": true
        },
        "clusterName": {
          "description": "Required. The name of the cluster where the job will be submitted.",
          "type": "string"
        },
        "clusterLabels": {
          "type": "object",
          "description": "Optional. Cluster labels to identify a cluster where the job will be submitted.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Dataproc job config.",
      "id": "JobPlacement"
    },
    "DiagnoseClusterRequest": {
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information.",
      "type": "object",
      "properties": {}
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Kerberos related configuration."
        }
      },
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "type": "object"
    },
    "NodeGroupAffinity": {
      "id": "NodeGroupAffinity",
      "properties": {
        "nodeGroupUri": {
          "type": "string",
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 node-group-1"
        }
      },
      "description": "Node Group Affinity for clusters using sole-tenant node groups.",
      "type": "object"
    },
    "QueryList": {
      "id": "QueryList",
      "description": "A list of queries to run on a cluster.",
      "properties": {
        "queries": {
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "status": {
          "description": "Output only. The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields.",
          "$ref": "JobStatus",
          "readOnly": true
        },
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        },
        "jobUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that may be reused over time."
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "placement": {
          "description": "Required. Job information, including how, when, and where to run the job.",
          "$ref": "JobPlacement"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job.",
          "type": "object"
        },
        "statusHistory": {
          "readOnly": true,
          "items": {
            "$ref": "JobStatus"
          },
          "description": "Output only. The previous job status.",
          "type": "array"
        },
        "driverControlFilesUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri."
        },
        "driverOutputResourceUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program."
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "yarnApplications": {
          "readOnly": true,
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "type": "array",
          "items": {
            "$ref": "YarnApplication"
          }
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "reference": {
          "$ref": "JobReference",
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "done": {
          "type": "boolean",
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled.",
          "readOnly": true
        },
        "hadoopJob": {
          "$ref": "HadoopJob",
          "description": "Optional. Job is a Hadoop job."
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        }
      },
      "description": "A Dataproc job resource.",
      "type": "object"
    },
    "SparkJob": {
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file that contains the main class."
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array"
        }
      },
      "id": "SparkJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Spark (http://spark.apache.org/) applications on YARN."
    },
    "WorkflowGraph": {
      "id": "WorkflowGraph",
      "type": "object",
      "description": "The workflow graph.",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "WorkflowNode"
          },
          "readOnly": true,
          "description": "Output only. The workflow nodes.",
          "type": "array"
        }
      }
    },
    "ClusterConfig": {
      "properties": {
        "gceClusterConfig": {
          "$ref": "GceClusterConfig",
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster."
        },
        "autoscalingConfig": {
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset.",
          "$ref": "AutoscalingConfig"
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the master instance in a cluster."
        },
        "initializationActions": {
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          }
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging bucket (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket. This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "metastoreConfig": {
          "description": "Optional. Metastore configuration.",
          "$ref": "MetastoreConfig"
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for worker instances in a cluster."
        },
        "softwareConfig": {
          "description": "Optional. The config settings for software inside the cluster.",
          "$ref": "SoftwareConfig"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. The Compute Engine config settings for additional worker instances in a cluster.",
          "$ref": "InstanceGroupConfig"
        },
        "lifecycleConfig": {
          "$ref": "LifecycleConfig",
          "description": "Optional. Lifecycle setting for the cluster."
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        }
      },
      "id": "ClusterConfig",
      "description": "The cluster config.",
      "type": "object"
    },
    "ReservationAffinity": {
      "type": "object",
[...]
