{
  "kind": "discovery#restDescription",
  "name": "androiddeviceprovisioning",
  "id": "androiddeviceprovisioning:v1",
  "discoveryVersion": "v1",
  "resources": {
    "customers": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of customers to show in a page of results.\nA number between 1 and 100 (inclusive)."
            },
            "pageToken": {
              "description": "A token specifying which result page to return.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "androiddeviceprovisioning.customers.list",
          "parameterOrder": [],
          "path": "v1/customers",
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "description": "Lists the user's customer accounts.",
          "httpMethod": "GET",
          "flatPath": "v1/customers"
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "patch": {
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "description": "Output only. The API resource name in the format\n`customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by\nthe server.",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The field mask applied to the target `Configuration` before\nupdating the fields. To learn more about using field masks, read\n[FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in\nthe Protocol Buffers documentation.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "description": "Updates a configuration's field values.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "path": "v1/{+name}",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "description": "Deletes an unused configuration. The API call fails if the customer has\ndevices with the configuration applied.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The configuration to delete. An API resource name in the format\n`customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the\nconfiguration is applied to any devices, the API call fails.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "flatPath": "v1/customers/{customersId}/configurations",
              "httpMethod": "POST",
              "description": "Creates a new configuration. Once created, a customer can apply the\nconfiguration to devices.",
              "path": "v1/{+parent}/configurations",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The customer that manages the configuration. An API resource name\nin the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "response": {
                "$ref": "Configuration"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Gets the details of a configuration.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Required. The configuration to get. An API resource name in the format\n`customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
                }
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API\nresource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "description": "Lists a customer's configurations.",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "path": "v1/{+parent}/configurations",
              "flatPath": "v1/customers/{customersId}/configurations"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "flatPath": "v1/customers/{customersId}/dpcs",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer that can use the DPCs in configurations. An API\nresource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "path": "v1/{+parent}/dpcs",
              "description": "Lists the DPCs (device policy controllers) that support zero-touch\nenrollment."
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Device"
              },
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The device to get. An API resource name in the format\n`customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets the details of a device."
            },
            "unclaim": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:unclaim",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the\nformat `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch\nenrollment.\n\nAfter removing a device, a customer must contact their reseller to register\nthe device into zero-touch enrollment again.",
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              }
            },
            "applyConfiguration": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the\nformat `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "description": "Applies a Configuration to the device to register the device for zero-touch\nenrollment. After applying a configuration to a device, the device\nautomatically provisions itself on first boot, or next factory reset.",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/devices",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The maximum number of devices to show in a page of results.\nMust be between 1 and 100 inclusive."
                },
                "pageToken": {
                  "description": "A token specifying which result page to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the\nformat `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/customers/{customersId}/devices",
              "description": "Lists a customer's devices.",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.list",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              }
            },
            "removeConfiguration": {
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "description": "Removes a configuration from device.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer managing the device in the format\n`customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "path": "v1/{+parent}/devices:removeConfiguration"
            }
          }
        }
      }
    },
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/customers",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that\nidentifies the reseller.",
                  "type": "string"
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "httpMethod": "POST",
              "description": "Creates a customer for zero-touch enrollment. After the method returns\nsuccessfully, admin and owner roles can manage devices and EMM configs\nby calling API methods or using their zero-touch enrollment portal.\nThe customer receives an email that welcomes them to zero-touch enrollment\nand explains how to sign into the portal.",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "response": {
                "$ref": "Company"
              },
              "id": "androiddeviceprovisioning.partners.customers.create"
            },
            "list": {
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all\nthe records are returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "path": "v1/partners/{+partnerId}/customers",
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "description": "Lists the customers that are enrolled to the reseller identified by the\n`partnerId` argument. This list includes customers that the reseller\ncreated and customers that enrolled themselves using the portal.",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "httpMethod": "GET"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results returned by the server.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of results to be returned."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name in the format\n`partners/[PARTNER_ID]/vendors/[VENDOR_ID]`."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "path": "v1/{+parent}/customers",
                  "description": "Lists the customers of the vendor."
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "description": "Lists the vendors of the partner.",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "path": "v1/{+parent}/vendors",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "required": true
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "metadata": {
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "description": "Updates reseller metadata associated with the device.",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "parameters": {
                "deviceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the device.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "metadataOwnerId": {
                  "location": "path",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "httpMethod": "POST",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata"
            },
            "findByIdentifier": {
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "httpMethod": "POST"
            },
            "claim": {
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:claim",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the\ndevice is already claimed by another customer, the call returns an error.",
              "flatPath": "v1/partners/{partnersId}/devices:claim"
            },
            "claimAsync": {
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices\nto zero-touch enrollment. To learn more, read [Long‑running batch\noperations](/zero-touch/guides/how-it-works#operations).",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST"
            },
            "updateMetadataAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The reseller partner ID.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "description": "Updates the reseller metadata attached to a batch of devices. This method\nupdates devices asynchronously and returns an `Operation` that can be used\nto track progress. Read [Long‑running batch\noperations](/zero-touch/guides/how-it-works#operations)."
            },
            "unclaim": {
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Unclaims a device from a customer and removes it from zero-touch\nenrollment.",
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "description": "Required. The device API resource name in the format\n`partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.partners.devices.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Device"
              },
              "description": "Gets a device."
            },
            "findByOwner": {
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true
                }
              },
              "description": "Finds devices claimed for customers. The results only contain devices\nregistered to the reseller that's identified by the `partnerId` argument.\nThe customer's devices purchased from other resellers don't appear in the\nresults.",
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "unclaimAsync": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the\ndevices from zero-touch enrollment. To learn more, read [Long‑running batch\noperations](/zero-touch/guides/how-it-works#operations).",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "parameters": {
                "partnerId": {
                  "description": "Required. The reseller partner ID.",
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "id": "androiddeviceprovisioning.operations.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "canonicalName": "Android Provisioning Partner",
  "servicePath": "",
  "title": "Android Device Provisioning Partner API",
  "version_module": true,
  "batchPath": "batch",
  "basePath": "",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "CustomerListDevicesResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further\nresults are available.",
          "type": "string"
        }
      },
      "description": "Response message of customer's liting devices.",
      "id": "CustomerListDevicesResponse"
    },
    "CustomerRemoveConfigurationRequest": {
      "description": "Request message for customer to remove the configuration from device.",
      "type": "object",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to remove the configuration from."
        }
      },
      "id": "CustomerRemoveConfigurationRequest"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "properties": {
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must\nbe between 1 and 100 inclusive."
        }
      },
      "description": "Request to find devices."
    },
    "UnclaimDeviceRequest": {
      "id": "UnclaimDeviceRequest",
      "properties": {
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The device ID returned by `ClaimDevice`."
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is\nprocessed. (1 day is treated as 24 hours)",
          "type": "integer",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. The device identifier you used when you claimed this device."
        }
      },
      "type": "object",
      "description": "Request message to unclaim a device."
    },
    "CustomerListCustomersResponse": {
      "description": "Response message for listing my customers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further\nresults are available.",
          "type": "string"
        },
        "customers": {
          "type": "array",
          "description": "The customer accounts the calling user is a member of.",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "id": "CustomerListCustomersResponse"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "type": "object",
      "id": "ListVendorCustomersResponse",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of customers of the vendor."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results\nare available.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        }
      }
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "properties": {
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is\nprocessed. (1 day is treated as 24 hours)"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The expiration time of the vacation unlock."
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object",
      "id": "PartnerUnclaim"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ClaimDevicesRequest": {
      "type": "object",
      "id": "ClaimDevicesRequest",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the\ndevice to zero-touch enrollment and shows the device in the customer's view\nof the portal.",
      "properties": {
        "claims": {
          "items": {
            "$ref": "PartnerClaim"
          },
          "type": "array",
          "description": "Required. A list of device claims."
        }
      }
    },
    "CustomerApplyConfigurationRequest": {
      "type": "object",
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to."
        },
        "configuration": {
          "description": "Required. The configuration applied to the device in the format\n`customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
          "type": "string"
        }
      },
      "id": "CustomerApplyConfigurationRequest"
    },
    "DeviceMetadata": {
      "type": "object",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read\n[Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "properties": {
        "entries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata entries recorded as key-value pairs."
        }
      },
      "id": "DeviceMetadata"
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "type": "object",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach\nmetadata to devices. To learn more, read\n[Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "perDeviceStatus": {
          "type": "array",
          "items": {
            "$ref": "OperationPerDevice"
          },
          "description": "The processing status for each device in the operation.\nOne `PerDeviceStatus` per device. The list order matches the items in the\noriginal request."
        },
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "A summary of how many items in the operation the server processed\nsuccessfully. Updated as the operation progresses."
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results.\nOmitted if no further results are available."
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "type": "object"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "properties": {
        "updates": {
          "type": "array",
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          }
        }
      },
      "description": "Request to update device metadata in batch.",
      "type": "object",
      "id": "UpdateDeviceMetadataInBatchRequest"
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Device ID of the device.",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        }
      },
      "id": "UpdateMetadataArguments",
      "type": "object"
    },
    "FindDevicesByOwnerRequest": {
      "properties": {
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must\nbe between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Required. The list of customer IDs to search for."
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        }
      },
      "type": "object",
      "id": "FindDevicesByOwnerRequest",
      "description": "Request to find devices by customers."
    },
    "Device": {
      "properties": {
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for\nzero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`.\nCall\n`partners.devices.unclaim`\nor\n`partners.devices.unclaimAsync`\nto remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "type": "array"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "The metadata attached to the device. Structured as key-value pairs. To\nlearn more, read [Device\nmetadata](https://developers.google.com/zero-touch/guides/metadata)."
        },
        "name": {
          "description": "Output only. The API resource name in the format\n`partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "type": "string"
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "deviceId": {
          "description": "Output only. The ID of the device. Assigned by the server.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read\n[Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object",
      "id": "Device",
      "description": "An Android device registered for zero-touch enrollment."
    },
    "Company": {
      "id": "Company",
      "type": "object",
      "properties": {
        "adminEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Email address of customer's users in the admin role.\nEach email address must be associated with a Google Account."
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name of the company. The resource name is one\nof the following formats:\n\n* `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]`\n* `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`\n* `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]`\n\nAssigned by the server."
        },
        "ownerEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Input only. Email address of customer's users in the owner role. At least\none `owner_email` is required. Each email address must be associated with a\nGoogle Account. Owners share the same access as admins but can also add,\ndelete, and edit your organization's portal users."
        },
        "termsStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one\nuser accepted a previous ToS."
          ],
          "description": "Output only. Whether any user from the company has accepted the latest\nTerms of Service (ToS). See\nTermsStatus.",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ]
        },
        "companyId": {
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the\ncompany's employees in the zero-touch enrollment portal."
        }
      },
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs."
    },
    "ClaimDeviceRequest": {
      "type": "object",
      "id": "ClaimDeviceRequest",
      "description": "Request message to claim a device on behalf of a customer.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The ID of the customer for whom the device is being claimed."
        }
      }
    },
    "DeviceClaim": {
      "id": "DeviceClaim",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed\nfor zero-touch enrollment have a claim with the type\n`SECTION_TYPE_ZERO_TOUCH`. To learn more, read\n[Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Output only. The type of claim made on the device.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "ownerCompanyId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the Customer that purchased the device."
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is\npresent iff the device is in 'vacation mode'.",
          "type": "string"
        },
        "resellerId": {
          "description": "The ID of the reseller that claimed the device.",
          "type": "string",
          "format": "int64"
        },
        "vacationModeStartTime": {
          "format": "google-datetime",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is\npresent iff the device is in 'vacation mode'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "metadata": {
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "error": {
          "$ref": "Status",
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Configuration": {
      "description": "A configuration collects the provisioning options for Android devices. Each\nconfiguration combines the following:\n\n* The EMM device policy controller (DPC) installed on the devices.\n* EMM policies enforced on the devices.\n* Metadata displayed on the device to help users during setup.\n\nCustomers can add as many configurations as they need. However, zero-touch\nenrollment works best when a customer sets a default configuration that's\napplied to any new devices the organization purchases.",
      "type": "object",
      "properties": {
        "configurationName": {
          "type": "string",
          "description": "Required. A short name that describes the configuration's purpose. For\nexample, _Sales team_ or _Temporary employees_. The zero-touch enrollment\nportal displays this name to IT admins."
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help\nor give them more details about what’s happening to their device.\nZero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another\ndevice, to get help. Zero-touch enrollment shows this number to device\nusers before device provisioning. Accepts numerals, spaces, the plus sign,\nhyphens, and parentheses."
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch\nenrollment applies to any new devices the organization purchases in the\nfuture. Only one customer configuration can be the default. Setting this\nvalue to `true`, changes the previous default configuration's `isDefault`\nvalue to `false`.",
          "type": "boolean"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help.\nZero-touch enrollment shows this email address to device users before\ndevice provisioning. The value is validated on input."
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this\norganization name to device users during device provisioning.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name in the format\n`customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by\nthe server."
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller)\nin the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs,\ncall\n`customers.dpcs.list`.",
          "type": "string"
        },
        "configurationId": {
          "format": "int64",
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "type": "string"
        }
      },
      "id": "Configuration"
    },
    "UpdateDeviceMetadataRequest": {
      "description": "Request to set metadata for a device.",
      "type": "object",
      "id": "UpdateDeviceMetadataRequest",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "CustomerListConfigurationsResponse": {
      "id": "CustomerListConfigurationsResponse",
      "type": "object",
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      }
    },
    "CustomerListDpcsResponse": {
      "properties": {
        "dpcs": {
          "type": "array",
          "items": {
            "$ref": "Dpc"
          },
          "description": "The list of DPCs available to the customer that support zero-touch\nenrollment."
        }
      },
      "type": "object",
      "id": "CustomerListDpcsResponse",
      "description": "Response message of customer's listing DPCs."
    },
    "PerDeviceStatusInBatch": {
      "description": "Captures the processing status for each device in the operation.",
      "id": "PerDeviceStatusInBatch",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        },
        "status": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error.\nWe don't expect this error to occur here.",
            "Other error.\nWe know/expect this error, but there's no defined error code for the\nerror.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company."
          ],
          "type": "string",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS"
          ],
          "description": "The result status of the device after processing."
        },
        "deviceId": {
          "format": "int64",
          "description": "If processing succeeds, the device ID of the device.",
          "type": "string"
        }
      }
    },
    "Dpc": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Output only. The DPC's Android application ID that looks like a Java\npackage name. Zero-touch enrollment installs the DPC app onto a device\nusing this identifier."
        },
        "dpcName": {
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google\nApps Device Policy_. Useful in an application's user interface."
        },
        "name": {
          "description": "Output only. The API resource name in the format\n`customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by\nthe server. To maintain a reference to a DPC across customer accounts,\npersist and match the last path component (`DPC_ID`).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Dpc",
      "description": "An EMM's DPC ([device policy\ncontroller](http://developer.android.com/work/dpc/build-dpc.html)).\nZero-touch enrollment installs a DPC (listed in the `Configuration`) on a\ndevice to maintain the customer's mobile policies. All the DPCs listed by the\nAPI support zero-touch enrollment and are available in Google Play."
    },
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "type": "array",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "description": "Required. The list of devices to unclaim."
        }
      },
      "type": "object"
    },
    "DeviceReference": {
      "properties": {
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "format": "int64",
          "description": "The ID of the device.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_\nargument to a method using one of the following identifier types:\n\n* A numeric API resource ID.\n* Real-world hardware IDs, such as IMEI number, belonging to the manufactured\n  device.\n\nMethods that operate on devices take a `DeviceReference` as a parameter type\nbecause it's more flexible for the caller. To learn more about device\nidentifiers, read\n[Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "id": "DeviceReference"
    },
    "ListVendorsResponse": {
      "description": "Response message to list vendors of the partner.",
      "id": "ListVendorsResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results\nare available."
        },
        "vendors": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and\n`companyName` are populated to the Company object."
        }
      },
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "id": "ClaimDeviceResponse",
      "type": "object",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The device ID of the claimed device."
        },
        "deviceName": {
          "description": "The resource name of the device in the format\n`partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        }
      }
    },
    "OperationPerDevice": {
      "id": "OperationPerDevice",
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device\nchange in the request.",
      "properties": {
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        }
      }
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "id": "FindDevicesByDeviceIdentifierResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further\nresults are available.",
          "type": "string"
        }
      },
      "description": "Response containing found devices.",
      "type": "object"
    },
    "CreateCustomerRequest": {
      "description": "Request message to create a customer.",
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a\nvalue for `companyName` and at least one `owner_email` that's associated\nwith a Google Account. The values for `companyId` and `name` must be empty."
        }
      },
      "type": "object",
      "id": "CreateCustomerRequest"
    },
    "PartnerClaim": {
      "id": "PartnerClaim",
      "type": "object",
      "description": "Identifies one claim request.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "customerId": {
          "format": "int64",
          "description": "Required. The ID of the customer for whom the device is being claimed.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        }
      }
    },
    "CustomerUnclaimDeviceRequest": {
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to unclaim."
        }
      },
      "id": "CustomerUnclaimDeviceRequest",
      "type": "object",
      "description": "Request message for customer to unclaim a device."
    },
    "ListCustomersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results\nare available."
        },
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListCustomersResponse",
      "description": "Response message of all customers related to this partner."
    },
    "DevicesLongRunningOperationMetadata": {
      "type": "object",
      "properties": {
        "devicesCount": {
          "description": "The number of metadata updates in the operation. This might be different\nfrom the number of updates in the request if the API can't parse some of\nthe updates.",
          "type": "integer",
          "format": "int32"
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to\n100. A value of 10O doesnt always mean the operation completed—check for\nthe inclusion of a `done` field.",
          "format": "int32",
          "type": "integer"
        },
        "processingStatus": {
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "type": "string",
          "description": "The processing status of the operation.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed.\nThis doesn't mean all items were processed successfully, you should\ncheck the `response` field for the result of every item."
          ]
        }
      },
      "description": "Tracks the status of a long-running operation to asynchronously update a\nbatch of reseller metadata attached to devices. To learn more, read\n[Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "id": "DevicesLongRunningOperationMetadata"
    },
    "DeviceIdentifier": {
      "type": "object",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device.\nTo understand requirements on identifier sets, read\n[Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "id": "DeviceIdentifier",
      "properties": {
        "manufacturer": {
          "description": "The device manufacturer’s name. Matches the device's built-in\nvalue returned from `android.os.Build.MANUFACTURER`. Allowed values are\nlisted in\n[manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).",
          "type": "string"
        },
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be\nunique across different device models.",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Matches the device's built-in value returned from\n`android.os.Build.MODEL`. Allowed values are listed in\n[models](/zero-touch/resources/manufacturer-names#model-names)."
        }
      }
    }
  },
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "revision": "20200701"
}
