{
  "title": "Custom Search API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "siterestrict": {
      "methods": {
        "list": {
          "description": "Returns metadata about the search performed, metadata about the custom\nsearch engine used for the search, and the search results. Uses a small set\nof url patterns.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Search"
          },
          "parameterOrder": [],
          "parameters": {
            "cx": {
              "location": "query",
              "description": "The custom search engine ID to use for this request.",
              "type": "string"
            },
            "lowRange": {
              "description": "Specifies the starting value for a search range. Use `lowRange` and\n`highRange` to append an inclusive search range of `lowRange...highRange`\nto the query.",
              "type": "string",
              "location": "query"
            },
            "lr": {
              "location": "query",
              "description": "Restricts the search to documents written in a particular language (e.g.,\n`lr=lang_ja`).\n\nAcceptable values are:\n\n* `\"lang_ar\"`: Arabic\n\n* `\"lang_bg\"`: Bulgarian\n\n* `\"lang_ca\"`: Catalan\n\n* `\"lang_cs\"`: Czech\n\n* `\"lang_da\"`: Danish\n\n* `\"lang_de\"`: German\n\n* `\"lang_el\"`: Greek\n\n* `\"lang_en\"`: English\n\n* `\"lang_es\"`: Spanish\n\n* `\"lang_et\"`: Estonian\n\n* `\"lang_fi\"`: Finnish\n\n* `\"lang_fr\"`: French\n\n* `\"lang_hr\"`: Croatian\n\n* `\"lang_hu\"`: Hungarian\n\n* `\"lang_id\"`: Indonesian\n\n* `\"lang_is\"`: Icelandic\n\n* `\"lang_it\"`: Italian\n\n* `\"lang_iw\"`: Hebrew\n\n* `\"lang_ja\"`: Japanese\n\n* `\"lang_ko\"`: Korean\n\n* `\"lang_lt\"`: Lithuanian\n\n* `\"lang_lv\"`: Latvian\n\n* `\"lang_nl\"`: Dutch\n\n* `\"lang_no\"`: Norwegian\n\n* `\"lang_pl\"`: Polish\n\n* `\"lang_pt\"`: Portuguese\n\n* `\"lang_ro\"`: Romanian\n\n* `\"lang_ru\"`: Russian\n\n* `\"lang_sk\"`: Slovak\n\n* `\"lang_sl\"`: Slovenian\n\n* `\"lang_sr\"`: Serbian\n\n* `\"lang_sv\"`: Swedish\n\n* `\"lang_tr\"`: Turkish\n\n* `\"lang_zh-CN\"`: Chinese (Simplified)\n\n* `\"lang_zh-TW\"`: Chinese (Traditional)",
              "type": "string"
            },
            "imgDominantColor": {
              "description": "Returns images of a specific dominant color. Acceptable values are:\n\n* `\"black\"`\n\n* `\"blue\"`\n\n* `\"brown\"`\n\n* `\"gray\"`\n\n* `\"green\"`\n\n* `\"orange\"`\n\n* `\"pink\"`\n\n* `\"purple\"`\n\n* `\"red\"`\n\n* `\"teal\"`\n\n* `\"white\"`\n\n* `\"yellow\"`",
              "type": "string",
              "location": "query",
              "enum": [
                "imgDominantColorUndefined",
                "black",
                "blue",
                "brown",
                "gray",
                "green",
                "orange",
                "pink",
                "purple",
                "red",
                "teal",
                "white",
                "yellow"
              ]
            },
            "imgColorType": {
              "location": "query",
              "enum": [
                "imgColorTypeUndefined",
                "mono",
                "gray",
                "color",
                "trans"
              ],
              "description": "Returns black and white, grayscale, transparent, or color images.\nAcceptable values are:\n\n* `\"color\"`\n\n* `\"gray\"`\n\n* `\"mono\"`: black and white\n\n* `\"trans\"`: transparent background",
              "type": "string"
            },
            "safe": {
              "location": "query",
              "enum": [
                "safeUndefined",
                "active",
                "high",
                "medium",
                "off"
              ],
              "description": "Search safety level. Acceptable values are:\n\n* `\"active\"`: Enables SafeSearch filtering.\n\n* `\"off\"`: Disables SafeSearch filtering. (default)",
              "type": "string"
            },
            "siteSearchFilter": {
              "description": "Controls whether to include or exclude results from the site named in the\n`siteSearch` parameter.\n\nAcceptable values are:\n\n* `\"e\"`: exclude\n\n* `\"i\"`: include",
              "type": "string",
              "location": "query",
              "enum": [
                "siteSearchFilterUndefined",
                "e",
                "i"
              ]
            },
            "start": {
              "description": "The index of the first result to return. The default number of results per\npage is 10, so `&start=11` would start at the top of the second page of\nresults. **Note**: The JSON API will never return more than 100 results,\neven if more than 100 documents match the query, so setting the sum of\n`start + num` to a number greater than 100 will produce an error. Also note\nthat the maximum value for `num` is 10.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "sort": {
              "location": "query",
              "description": "The sort expression to apply to the results.",
              "type": "string"
            },
            "linkSite": {
              "description": "Specifies that all search results should contain a link to a particular\nURL.",
              "type": "string",
              "location": "query"
            },
            "hq": {
              "type": "string",
              "location": "query",
              "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical AND operator."
            },
            "searchType": {
              "type": "string",
              "location": "query",
              "enum": [
                "searchTypeUndefined",
                "image"
              ],
              "description": "Specifies the search type: `image`. If unspecified, results are limited to\nwebpages.\n\nAcceptable values are:\n\n* `\"image\"`: custom image search."
            },
            "fileType": {
              "location": "query",
              "description": "Restricts results to files of a specified extension. A list of file types\nindexable by Google can be found in Search Console [Help\nCenter](https://support.google.com/webmasters/answer/35287).",
              "type": "string"
            },
            "relatedSite": {
              "type": "string",
              "location": "query",
              "description": "Specifies that all search results should be pages that are related to the\nspecified URL."
            },
            "siteSearch": {
              "type": "string",
              "location": "query",
              "description": "Specifies a given site which should always be included or excluded from\nresults (see `siteSearchFilter` parameter, below)."
            },
            "excludeTerms": {
              "description": "Identifies a word or phrase that should not appear in any documents in the\nsearch results.",
              "type": "string",
              "location": "query"
            },
            "exactTerms": {
              "description": "Identifies a phrase that all documents in the search results must contain.",
              "type": "string",
              "location": "query"
            },
            "num": {
              "type": "integer",
              "location": "query",
              "description": "Number of search results to return.\n\n* Valid values are integers between 1 and 10, inclusive.",
              "format": "int32"
            },
            "c2coff": {
              "location": "query",
              "description": "Enables or disables [Simplified and Traditional Chinese\nSearch](https://developers.google.com/custom-search/docs/xml_results#chineseSearch).\n\nThe default value for this parameter is 0 (zero), meaning that the feature\nis enabled. Supported values are:\n\n* `1`: Disabled\n\n* `0`: Enabled (default)",
              "type": "string"
            },
            "imgType": {
              "description": "Returns images of a type. Acceptable values are:\n\n* `\"clipart\"`\n\n* `\"face\"`\n\n* `\"lineart\"`\n\n* `\"stock\"`\n\n* `\"photo\"`\n\n* `\"animated\"`",
              "type": "string",
              "location": "query",
              "enum": [
                "imgTypeUndefined",
                "clipart",
                "face",
                "lineart",
                "stock",
                "photo",
                "animated"
              ]
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Controls turning on or off the duplicate content filter.\n\n* See [Automatic\nFiltering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering)\nfor more information about Google's search results filters. Note that host\ncrowding filtering applies only to multi-site searches.\n\n* By default, Google applies filtering to all search results to improve the\nquality of those results.\n\nAcceptable values are:\n\n* `0`: Turns off duplicate content filter.\n\n* `1`: Turns on duplicate content filter."
            },
            "highRange": {
              "description": "Specifies the ending value for a search range.\n\n* Use `lowRange` and `highRange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
              "type": "string",
              "location": "query"
            },
            "gl": {
              "location": "query",
              "description": "Geolocation of end user.\n\n* The `gl` parameter value is a two-letter country code. The `gl` parameter\nboosts search results whose country of origin matches the parameter value.\nSee the [Country\nCodes](https://developers.google.com/custom-search/docs/xml_results_appendices#countryCodes)\npage for a list of valid values.\n\n* Specifying a `gl` parameter value should lead to more relevant results.\nThis is particularly true for international customers and, even more\nspecifically, for customers in English- speaking countries other than the\nUnited States.",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "description": "Sets the user interface language.\n\n* Explicitly setting this parameter improves the performance and the\nquality of your search results.\n\n* See the [Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages)\nsection of [Internationalizing Queries and Results\nPresentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing)\nfor more information, and (Supported Interface\nLanguages)[https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages]\nfor a list of supported languages.",
              "type": "string"
            },
            "googlehost": {
              "location": "query",
              "description": "**Deprecated**. Use the `gl` parameter for a similar effect.\n\nThe local Google domain (for example, google.com, google.de, or\ngoogle.fr) to use to perform the search.",
              "type": "string"
            },
            "cr": {
              "location": "query",
              "description": "Restricts search results to documents originating in a particular country.\nYou may use [Boolean\noperators](https://developers.google.com/custom-search/docs/xml_results_appendices#booleanOperators)\nin the cr parameter's value.\n\nGoogle Search determines the country of a document by analyzing:\n\n* the top-level domain (TLD) of the document's URL\n\n* the geographic location of the Web server's IP address\n\nSee the [Country Parameter\nValues](https://developers.google.com/custom-search/docs/xml_results_appendices#countryCollections)\npage for a list of valid values for this parameter.",
              "type": "string"
            },
            "imgSize": {
              "location": "query",
              "enum": [
                "imgSizeUndefined",
                "HUGE",
                "ICON",
                "LARGE",
                "MEDIUM",
                "SMALL",
                "XLARGE",
                "XXLARGE"
              ],
              "description": "Returns images of a specified size. Acceptable values are:\n\n* `\"huge\"`\n\n* `\"icon\"`\n\n* `\"large\"`\n\n* `\"medium\"`\n\n* `\"small\"`\n\n* `\"xlarge\"`\n\n* `\"xxlarge\"`",
              "type": "string"
            },
            "orTerms": {
              "location": "query",
              "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the additional\nsearch terms.",
              "type": "string"
            },
            "dateRestrict": {
              "type": "string",
              "location": "query",
              "description": "Restricts results to URLs based on date. Supported values include:\n\n* `d[number]`: requests results from the specified number of past days.\n\n* `w[number]`: requests results from the specified number of past weeks.\n\n* `m[number]`: requests results from the specified number of past months.\n\n* `y[number]`: requests results from the specified number of past years."
            },
            "rights": {
              "location": "query",
              "description": "Filters based on licensing. Supported values include: `cc_publicdomain`,\n`cc_attribute`, `cc_sharealike`, `cc_noncommercial`, `cc_nonderived` and\ncombinations of these. See [typical\ncombinations](https://wiki.creativecommons.org/wiki/CC_Search_integration).",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "Query",
              "type": "string"
            }
          },
          "flatPath": "customsearch/v1/siterestrict",
          "id": "search.cse.siterestrict.list",
          "path": "customsearch/v1/siterestrict"
        }
      }
    },
    "cse": {
      "methods": {
        "list": {
          "flatPath": "customsearch/v1",
          "path": "customsearch/v1",
          "id": "search.cse.list",
          "description": "Returns metadata about the search performed, metadata about the custom\nsearch engine used for the search, and the search results.",
          "response": {
            "$ref": "Search"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "siteSearch": {
              "location": "query",
              "description": "Specifies a given site which should always be included or excluded from\nresults (see `siteSearchFilter` parameter, below).",
              "type": "string"
            },
            "excludeTerms": {
              "location": "query",
              "description": "Identifies a word or phrase that should not appear in any documents in the\nsearch results.",
              "type": "string"
            },
            "exactTerms": {
              "location": "query",
              "description": "Identifies a phrase that all documents in the search results must contain.",
              "type": "string"
            },
            "num": {
              "location": "query",
              "description": "Number of search results to return.\n\n* Valid values are integers between 1 and 10, inclusive.",
              "format": "int32",
              "type": "integer"
            },
            "c2coff": {
              "location": "query",
              "description": "Enables or disables [Simplified and Traditional Chinese\nSearch](https://developers.google.com/custom-search/docs/xml_results#chineseSearch).\n\nThe default value for this parameter is 0 (zero), meaning that the feature\nis enabled. Supported values are:\n\n* `1`: Disabled\n\n* `0`: Enabled (default)",
              "type": "string"
            },
            "imgType": {
              "type": "string",
              "location": "query",
              "enum": [
                "imgTypeUndefined",
                "clipart",
                "face",
                "lineart",
                "stock",
                "photo",
                "animated"
              ],
              "description": "Returns images of a type. Acceptable values are:\n\n* `\"clipart\"`\n\n* `\"face\"`\n\n* `\"lineart\"`\n\n* `\"stock\"`\n\n* `\"photo\"`\n\n* `\"animated\"`"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Controls turning on or off the duplicate content filter.\n\n* See [Automatic\nFiltering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering)\nfor more information about Google's search results filters. Note that host\ncrowding filtering applies only to multi-site searches.\n\n* By default, Google applies filtering to all search results to improve the\nquality of those results.\n\nAcceptable values are:\n\n* `0`: Turns off duplicate content filter.\n\n* `1`: Turns on duplicate content filter."
            },
            "highRange": {
              "location": "query",
              "description": "Specifies the ending value for a search range.\n\n* Use `lowRange` and `highRange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
              "type": "string"
            },
            "gl": {
              "location": "query",
              "description": "Geolocation of end user.\n\n* The `gl` parameter value is a two-letter country code. The `gl` parameter\nboosts search results whose country of origin matches the parameter value.\nSee the [Country\nCodes](https://developers.google.com/custom-search/docs/xml_results_appendices#countryCodes)\npage for a list of valid values.\n\n* Specifying a `gl` parameter value should lead to more relevant results.\nThis is particularly true for international customers and, even more\nspecifically, for customers in English- speaking countries other than the\nUnited States.",
              "type": "string"
            },
            "hl": {
              "description": "Sets the user interface language.\n\n* Explicitly setting this parameter improves the performance and the\nquality of your search results.\n\n* See the [Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages)\nsection of [Internationalizing Queries and Results\nPresentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing)\nfor more information, and (Supported Interface\nLanguages)[https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages]\nfor a list of supported languages.",
              "type": "string",
              "location": "query"
            },
            "googlehost": {
              "description": "**Deprecated**. Use the `gl` parameter for a similar effect.\n\nThe local Google domain (for example, google.com, google.de, or\ngoogle.fr) to use to perform the search.",
              "type": "string",
              "location": "query"
            },
            "imgSize": {
              "description": "Returns images of a specified size. Acceptable values are:\n\n* `\"huge\"`\n\n* `\"icon\"`\n\n* `\"large\"`\n\n* `\"medium\"`\n\n* `\"small\"`\n\n* `\"xlarge\"`\n\n* `\"xxlarge\"`",
              "type": "string",
              "location": "query",
              "enum": [
                "imgSizeUndefined",
                "HUGE",
                "ICON",
                "LARGE",
                "MEDIUM",
                "SMALL",
                "XLARGE",
                "XXLARGE"
              ]
            },
            "cr": {
              "location": "query",
              "description": "Restricts search results to documents originating in a particular country.\nYou may use [Boolean\noperators](https://developers.google.com/custom-search/docs/xml_results_appendices#booleanOperators)\nin the cr parameter's value.\n\nGoogle Search determines the country of a document by analyzing:\n\n* the top-level domain (TLD) of the document's URL\n\n* the geographic location of the Web server's IP address\n\nSee the [Country Parameter\nValues](https://developers.google.com/custom-search/docs/xml_results_appendices#countryCollections)\npage for a list of valid values for this parameter.",
              "type": "string"
            },
            "orTerms": {
              "type": "string",
              "location": "query",
              "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the additional\nsearch terms."
            },
            "dateRestrict": {
              "type": "string",
              "location": "query",
              "description": "Restricts results to URLs based on date. Supported values include:\n\n* `d[number]`: requests results from the specified number of past days.\n\n* `w[number]`: requests results from the specified number of past weeks.\n\n* `m[number]`: requests results from the specified number of past months.\n\n* `y[number]`: requests results from the specified number of past years."
            },
            "q": {
              "description": "Query",
              "type": "string",
              "location": "query"
            },
            "rights": {
              "description": "Filters based on licensing. Supported values include: `cc_publicdomain`,\n`cc_attribute`, `cc_sharealike`, `cc_noncommercial`, `cc_nonderived` and\ncombinations of these. See [typical\ncombinations](https://wiki.creativecommons.org/wiki/CC_Search_integration).",
              "type": "string",
              "location": "query"
            },
            "cx": {
              "location": "query",
              "description": "The custom search engine ID to use for this request.",
              "type": "string"
            },
            "lowRange": {
              "location": "query",
              "description": "Specifies the starting value for a search range. Use `lowRange` and\n`highRange` to append an inclusive search range of `lowRange...highRange`\nto the query.",
              "type": "string"
            },
            "lr": {
              "location": "query",
              "description": "Restricts the search to documents written in a particular language (e.g.,\n`lr=lang_ja`).\n\nAcceptable values are:\n\n* `\"lang_ar\"`: Arabic\n\n* `\"lang_bg\"`: Bulgarian\n\n* `\"lang_ca\"`: Catalan\n\n* `\"lang_cs\"`: Czech\n\n* `\"lang_da\"`: Danish\n\n* `\"lang_de\"`: German\n\n* `\"lang_el\"`: Greek\n\n* `\"lang_en\"`: English\n\n* `\"lang_es\"`: Spanish\n\n* `\"lang_et\"`: Estonian\n\n* `\"lang_fi\"`: Finnish\n\n* `\"lang_fr\"`: French\n\n* `\"lang_hr\"`: Croatian\n\n* `\"lang_hu\"`: Hungarian\n\n* `\"lang_id\"`: Indonesian\n\n* `\"lang_is\"`: Icelandic\n\n* `\"lang_it\"`: Italian\n\n* `\"lang_iw\"`: Hebrew\n\n* `\"lang_ja\"`: Japanese\n\n* `\"lang_ko\"`: Korean\n\n* `\"lang_lt\"`: Lithuanian\n\n* `\"lang_lv\"`: Latvian\n\n* `\"lang_nl\"`: Dutch\n\n* `\"lang_no\"`: Norwegian\n\n* `\"lang_pl\"`: Polish\n\n* `\"lang_pt\"`: Portuguese\n\n* `\"lang_ro\"`: Romanian\n\n* `\"lang_ru\"`: Russian\n\n* `\"lang_sk\"`: Slovak\n\n* `\"lang_sl\"`: Slovenian\n\n* `\"lang_sr\"`: Serbian\n\n* `\"lang_sv\"`: Swedish\n\n* `\"lang_tr\"`: Turkish\n\n* `\"lang_zh-CN\"`: Chinese (Simplified)\n\n* `\"lang_zh-TW\"`: Chinese (Traditional)",
              "type": "string"
            },
            "imgColorType": {
              "location": "query",
              "enum": [
                "imgColorTypeUndefined",
                "mono",
                "gray",
                "color",
                "trans"
              ],
              "description": "Returns black and white, grayscale, transparent, or color images.\nAcceptable values are:\n\n* `\"color\"`\n\n* `\"gray\"`\n\n* `\"mono\"`: black and white\n\n* `\"trans\"`: transparent background",
              "type": "string"
            },
            "imgDominantColor": {
              "type": "string",
              "location": "query",
              "enum": [
                "imgDominantColorUndefined",
                "black",
                "blue",
                "brown",
                "gray",
                "green",
                "orange",
                "pink",
                "purple",
                "red",
                "teal",
                "white",
                "yellow"
              ],
              "description": "Returns images of a specific dominant color. Acceptable values are:\n\n* `\"black\"`\n\n* `\"blue\"`\n\n* `\"brown\"`\n\n* `\"gray\"`\n\n* `\"green\"`\n\n* `\"orange\"`\n\n* `\"pink\"`\n\n* `\"purple\"`\n\n* `\"red\"`\n\n* `\"teal\"`\n\n* `\"white\"`\n\n* `\"yellow\"`"
            },
            "safe": {
              "location": "query",
              "enum": [
                "safeUndefined",
                "active",
                "high",
                "medium",
                "off"
              ],
              "description": "Search safety level. Acceptable values are:\n\n* `\"active\"`: Enables SafeSearch filtering.\n\n* `\"off\"`: Disables SafeSearch filtering. (default)",
              "type": "string"
            },
            "siteSearchFilter": {
              "location": "query",
              "enum": [
                "siteSearchFilterUndefined",
                "e",
                "i"
              ],
              "description": "Controls whether to include or exclude results from the site named in the\n`siteSearch` parameter.\n\nAcceptable values are:\n\n* `\"e\"`: exclude\n\n* `\"i\"`: include",
              "type": "string"
            },
            "start": {
              "type": "integer",
              "location": "query",
              "description": "The index of the first result to return. The default number of results per\npage is 10, so `&start=11` would start at the top of the second page of\nresults. **Note**: The JSON API will never return more than 100 results,\neven if more than 100 documents match the query, so setting the sum of\n`start + num` to a number greater than 100 will produce an error. Also note\nthat the maximum value for `num` is 10.",
              "format": "uint32"
            },
            "sort": {
              "location": "query",
              "description": "The sort expression to apply to the results.",
              "type": "string"
            },
            "linkSite": {
              "type": "string",
              "location": "query",
              "description": "Specifies that all search results should contain a link to a particular\nURL."
            },
            "hq": {
              "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical AND operator.",
              "type": "string",
              "location": "query"
            },
            "searchType": {
              "description": "Specifies the search type: `image`. If unspecified, results are limited to\nwebpages.\n\nAcceptable values are:\n\n* `\"image\"`: custom image search.",
              "type": "string",
              "location": "query",
              "enum": [
                "searchTypeUndefined",
                "image"
              ]
            },
            "fileType": {
              "location": "query",
              "description": "Restricts results to files of a specified extension. A list of file types\nindexable by Google can be found in Search Console [Help\nCenter](https://support.google.com/webmasters/answer/35287).",
              "type": "string"
            },
            "relatedSite": {
              "description": "Specifies that all search results should be pages that are related to the\nspecified URL.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "schemas": {
    "Promotion": {
      "description": "Promotion result.",
      "type": "object",
      "properties": {
        "displayLink": {
          "description": "An abridged version of this search's result URL, e.g. www.example.com.",
          "type": "string"
        },
        "title": {
          "description": "The title of the promotion.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "The URL of the promotion."
        },
        "bodyLines": {
          "description": "An array of block objects for this promotion. See [Google WebSearch\nProtocol\nreference](https://developers.google.com/custom-search/docs/xml_results)\nfor more information.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "The URL of the block object's link, if it has one.",
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "The anchor text of the block object's link, if it has a link."
              },
              "title": {
                "description": "The block object's text, if it has text.",
                "type": "string"
              },
              "htmlTitle": {
                "description": "The block object's text in HTML, if it has text.",
                "type": "string"
              }
            },
            "description": "Block object belonging to a promotion."
          }
        },
        "image": {
          "type": "object",
          "properties": {
            "height": {
              "type": "integer",
              "description": "Image height in pixels.",
              "format": "int32"
            },
            "source": {
              "description": "URL of the image for this promotion link.",
              "type": "string"
            },
            "width": {
              "type": "integer",
              "description": "Image width in pixels.",
              "format": "int32"
            }
          },
          "description": "Image belonging to a promotion."
        },
        "htmlTitle": {
          "description": "The title of the promotion, in HTML.",
          "type": "string"
        }
      },
      "id": "Promotion"
    },
    "Search": {
      "description": "Response to a custom search request.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The current set of custom search results.",
          "type": "array",
          "items": {
            "$ref": "Result"
          }
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Metadata and refinements associated with the given search engine,\nincluding:\n\n* The name of the search engine that was used for the query.\n\n*   A set of [facet\nobjects](https://developers.google.com/custom-search/docs/refinements#create)\n(refinements) you can use for refining a search."
        },
        "searchInformation": {
          "description": "Metadata about a search operation.",
          "type": "object",
          "properties": {
            "searchTime": {
              "description": "The time taken for the server to return search results.",
              "format": "double",
              "type": "number"
            },
            "totalResults": {
              "description": "The total number of search results returned by the query.",
              "type": "string"
            },
            "formattedTotalResults": {
              "description": "The total number of search results, formatted according to locale style.",
              "type": "string"
            },
            "formattedSearchTime": {
              "description": "The time taken for the server to return search results, formatted\naccording to locale style.",
              "type": "string"
            }
          }
        },
        "promotions": {
          "description": "The set of\n[promotions](https://developers.google.com/custom-search/docs/promotions).\nPresent only if the custom search engine's configuration files define any\npromotions for the given query.",
          "type": "array",
          "items": {
            "$ref": "Promotion"
          }
        },
        "spelling": {
          "description": "Spell correction information for a query.",
          "type": "object",
          "properties": {
            "correctedQuery": {
              "description": "The corrected query.",
              "type": "string"
            },
            "htmlCorrectedQuery": {
              "description": "The corrected query, formatted in HTML.",
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Unique identifier for the type of current object. For this API, it is\ncustomsearch#search."
        },
        "queries": {
          "description": "Query metadata for the previous, current, and next pages of results.",
          "type": "object",
          "properties": {
            "previousPage": {
              "description": "Metadata representing the previous page of results, if applicable.",
              "type": "array",
              "items": {
                "description": "Custom search request metadata.",
                "type": "object",
                "properties": {
                  "cr": {
                    "type": "string",
                    "description": "Restricts search results to documents originating in a particular\ncountry. You may use [Boolean\noperators](https://developers.google.com/custom-search/docs/xml_results#booleanOperators)\nin the `cr` parameter's value.\n\nGoogle WebSearch determines the country of a document by analyzing the\nfollowing:\n\n* The top-level domain (TLD) of the document's URL.\n\n* The geographic location of the web server's IP address.\n\nSee [Country (cr) Parameter\nValues](https://developers.google.com/custom-search/docs/xml_results#countryCollections)\nfor a list of valid values for this parameter."
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by\nthe `count` property.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are:\n\n* `icon` (small)\n\n* `small | medium | large | xlarge` (medium)\n\n* `xxlarge` (large)\n\n* `huge` (extra-large)",
                    "type": "string"
                  },
                  "disableCnTwTranslation": {
                    "type": "string",
                    "description": "Enables or disables the [Simplified and Traditional Chinese\nSearch](https://developers.google.com/custom-search/docs/xml_results#chineseSearch)\nfeature.\n\nSupported values are:\n\n* `0`: enabled (default)\n\n* `1`: disabled"
                  },
                  "title": {
                    "type": "string",
                    "description": "A description of the query."
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the\nadditional search terms. You can also use the [Boolean\nOR](https://developers.google.com/custom-search/docs/xml_results#BooleanOrqt)\nquery term for this type of query.",
                    "type": "string"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of search results returned in this set.",
                    "format": "int32"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include:\n\n* `d[number]`: requests results from the specified number of past days.\n\n* `w[number]`: requests results from the specified number of past weeks.\n\n* `m[number]`: requests results from the specified number of past months.\n\n* `y[number]`: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "rights": {
                    "type": "string",
                    "description": "Filters based on licensing. Supported values include:\n\n* `cc_publicdomain`\n\n* `cc_attribute`\n\n* `cc_sharealike`\n\n* `cc_noncommercial`\n\n* `cc_nonderived`"
                  },
                  "cx": {
                    "description": "The identifier of a custom search engine created using the Custom Search\n[Control Panel](https://cse.google.com/). This is a custom property not\ndefined in the OpenSearch spec. This parameter is **required**.",
                    "type": "string"
                  },
                  "lowRange": {
                    "type": "string",
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and\n`cse:highrange` to append an inclusive search range of\n`lowRange...highRange` to the query."
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string"
                  },
                  "imgDominantColor": {
                    "type": "string",
                    "description": "Restricts results to images with a specific dominant color. Supported\nvalues are:\n\n* `red`\n\n* `orange`\n\n* `yellow`\n\n* `green`\n\n* `teal`\n\n* `blue`\n\n* `purple`\n\n* `pink`\n\n* `white`\n\n* `gray`\n\n* `black`\n\n* `brown`"
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values\n  are:\n\n* `mono` (black and white)\n\n* `gray` (grayscale)\n\n* `color` (color)",
                    "type": "string"
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch\nlevel](https://developers.google.com/custom-search/docs/xml_results#safeSearchLevels)\nused for filtering out adult results. This is a custom property not\ndefined in the OpenSearch spec. Valid parameter values are:\n\n* `\"off\"`: Disable SafeSearch\n\n* `\"active\"`: Enable SafeSearch",
                    "type": "string"
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in\nthe `sitesearch` parameter. Supported values are:\n\n* `i`: include content from site\n\n* `e`: exclude content from site",
                    "type": "string"
                  },
                  "outputEncoding": {
                    "description": "The character encoding supported for search results.",
                    "type": "string"
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified\nexpression. For example, sort by date.",
                    "type": "string"
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "hq": {
                    "type": "string",
                    "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical `AND` operator."
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited\nto webpages.",
                    "type": "string"
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported\nby Google include:\n\n* Adobe Portable Document Format (`pdf`)\n\n* Adobe PostScript (`ps`)\n\n* Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`)\n\n* Lotus WordPro (`lwp`)\n\n* Macwrite (`mw`)\n\n* Microsoft Excel (`xls`)\n\n* Microsoft PowerPoint (`ppt`)\n\n* Microsoft Word (`doc`)\n\n* Microsoft Works (`wks`, `wps`, `wdb`)\n\n* Microsoft Write (`wri`)\n\n* Rich Text Format (`rtf`)\n\n* Shockwave Flash (`swf`)\n\n* Text (`ans`, `txt`).\n\nAdditional filetypes may be added in the future. An up-to-date list can\nalways be found in Google's [file type\nFAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string"
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or\ngoogle.fr) to which the search should be limited.",
                    "type": "string"
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the\nspecified URL. The parameter value should be a URL.",
                    "type": "string"
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "type": "string",
                    "description": "Identifies a word or phrase that should not appear in any documents in\nthe search results."
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must\ncontain.",
                    "type": "string"
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are:\n\n* `clipart` (Clip art)\n\n* `face` (Face)\n\n* `lineart` (Line drawing)\n\n* `photo` (Photo)\n\n* `animated` (Animated)\n\n* `stock` (Stock)",
                    "type": "string"
                  },
                  "totalResults": {
                    "type": "string",
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64"
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search\nresults. See [Automatic\nFiltering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering)\nfor more information about Google's search results filters. Valid values\nfor this parameter are:\n\n* `0`: Disabled\n\n* `1`: Enabled (default)\n\n**Note**: By default, Google applies filtering to all search results to\nimprove the quality of those results.",
                    "type": "string"
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of\nresults, where the index of the first result is 1.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and\n`cse:highrange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface.\nExplicitly setting this parameter improves the performance and the\nquality of your search results.\n\nSee the [Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages)\nsection of [Internationalizing Queries and Results\nPresentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing)\nfor more information, and [Supported Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages)\nfor a list of supported languages.",
                    "type": "string"
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter\nvalue. See [Country\nCodes](https://developers.google.com/custom-search/docs/xml_results#countryCodes)\nfor a list of valid values.\n\nSpecifying a `gl` parameter value in WebSearch requests should improve\nthe relevance of results. This is particularly true for international\ncustomers and, even more specifically, for customers in English-speaking\ncountries other than the United States.",
                    "type": "string"
                  }
                }
              }
            },
            "request": {
              "type": "array",
              "items": {
                "description": "Custom search request metadata.",
                "type": "object",
                "properties": {
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64",
                    "type": "string"
                  },
                  "imgType": {
                    "type": "string",
                    "description": "Restricts results to images of a specified type. Supported values are:\n\n* `clipart` (Clip art)\n\n* `face` (Face)\n\n* `lineart` (Line drawing)\n\n* `photo` (Photo)\n\n* `animated` (Animated)\n\n* `stock` (Stock)"
                  },
                  "filter": {
                    "type": "string",
                    "description": "Activates or deactivates the automatic filtering of Google search\nresults. See [Automatic\nFiltering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering)\nfor more information about Google's search results filters. Valid values\nfor this parameter are:\n\n* `0`: Disabled\n\n* `1`: Enabled (default)\n\n**Note**: By default, Google applies filtering to all search results to\nimprove the quality of those results."
                  },
                  "startIndex": {
                    "type": "integer",
                    "description": "The index of the current set of search results into the total set of\nresults, where the index of the first result is 1.",
                    "format": "int32"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and\n`cse:highrange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface.\nExplicitly setting this parameter improves the performance and the\nquality of your search results.\n\nSee the [Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages)\nsection of [Internationalizing Queries and Results\nPresentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing)\nfor more information, and [Supported Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages)\nfor a list of supported languages.",
                    "type": "string"
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter\nvalue. See [Country\nCodes](https://developers.google.com/custom-search/docs/xml_results#countryCodes)\nfor a list of valid values.\n\nSpecifying a `gl` parameter value in WebSearch requests should improve\nthe relevance of results. This is particularly true for international\ncustomers and, even more specifically, for customers in English-speaking\ncountries other than the United States.",
                    "type": "string"
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular\ncountry. You may use [Boolean\noperators](https://developers.google.com/custom-search/docs/xml_results#booleanOperators)\nin the `cr` parameter's value.\n\nGoogle WebSearch determines the country of a document by analyzing the\nfollowing:\n\n* The top-level domain (TLD) of the document's URL.\n\n* The geographic location of the web server's IP address.\n\nSee [Country (cr) Parameter\nValues](https://developers.google.com/custom-search/docs/xml_results#countryCollections)\nfor a list of valid values for this parameter.",
                    "type": "string"
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by\nthe `count` property.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "imgSize": {
                    "type": "string",
                    "description": "Restricts results to images of a specified size. Supported values are:\n\n* `icon` (small)\n\n* `small | medium | large | xlarge` (medium)\n\n* `xxlarge` (large)\n\n* `huge` (extra-large)"
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the [Simplified and Traditional Chinese\nSearch](https://developers.google.com/custom-search/docs/xml_results#chineseSearch)\nfeature.\n\nSupported values are:\n\n* `0`: enabled (default)\n\n* `1`: disabled",
                    "type": "string"
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string"
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the\nadditional search terms. You can also use the [Boolean\nOR](https://developers.google.com/custom-search/docs/xml_results#BooleanOrqt)\nquery term for this type of query.",
                    "type": "string"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include:\n\n* `d[number]`: requests results from the specified number of past days.\n\n* `w[number]`: requests results from the specified number of past weeks.\n\n* `m[number]`: requests results from the specified number of past months.\n\n* `y[number]`: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include:\n\n* `cc_publicdomain`\n\n* `cc_attribute`\n\n* `cc_sharealike`\n\n* `cc_noncommercial`\n\n* `cc_nonderived`",
                    "type": "string"
                  },
                  "cx": {
                    "description": "The identifier of a custom search engine created using the Custom Search\n[Control Panel](https://cse.google.com/). This is a custom property not\ndefined in the OpenSearch spec. This parameter is **required**.",
                    "type": "string"
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and\n`cse:highrange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string"
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values\n  are:\n\n* `mono` (black and white)\n\n* `gray` (grayscale)\n\n* `color` (color)",
                    "type": "string"
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported\nvalues are:\n\n* `red`\n\n* `orange`\n\n* `yellow`\n\n* `green`\n\n* `teal`\n\n* `blue`\n\n* `purple`\n\n* `pink`\n\n* `white`\n\n* `gray`\n\n* `black`\n\n* `brown`",
                    "type": "string"
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch\nlevel](https://developers.google.com/custom-search/docs/xml_results#safeSearchLevels)\nused for filtering out adult results. This is a custom property not\ndefined in the OpenSearch spec. Valid parameter values are:\n\n* `\"off\"`: Disable SafeSearch\n\n* `\"active\"`: Enable SafeSearch",
                    "type": "string"
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in\nthe `sitesearch` parameter. Supported values are:\n\n* `i`: include content from site\n\n* `e`: exclude content from site",
                    "type": "string"
                  },
                  "outputEncoding": {
                    "description": "The character encoding supported for search results.",
                    "type": "string"
                  },
                  "sort": {
                    "type": "string",
                    "description": "Specifies that results should be sorted according to the specified\nexpression. For example, sort by date."
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical `AND` operator.",
                    "type": "string"
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited\nto webpages.",
                    "type": "string"
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported\nby Google include:\n\n* Adobe Portable Document Format (`pdf`)\n\n* Adobe PostScript (`ps`)\n\n* Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`)\n\n* Lotus WordPro (`lwp`)\n\n* Macwrite (`mw`)\n\n* Microsoft Excel (`xls`)\n\n* Microsoft PowerPoint (`ppt`)\n\n* Microsoft Word (`doc`)\n\n* Microsoft Works (`wks`, `wps`, `wdb`)\n\n* Microsoft Write (`wri`)\n\n* Rich Text Format (`rtf`)\n\n* Shockwave Flash (`swf`)\n\n* Text (`ans`, `txt`).\n\nAdditional filetypes may be added in the future. An up-to-date list can\nalways be found in Google's [file type\nFAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string"
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or\ngoogle.fr) to which the search should be limited.",
                    "type": "string"
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the\nspecified URL. The parameter value should be a URL.",
                    "type": "string"
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in\nthe search results.",
                    "type": "string"
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must\ncontain.",
                    "type": "string"
                  }
                }
              },
              "description": "Metadata representing the current request."
            },
            "nextPage": {
              "description": "Metadata representing the next page of results, if applicable.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values\n  are:\n\n* `mono` (black and white)\n\n* `gray` (grayscale)\n\n* `color` (color)",
                    "type": "string"
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported\nvalues are:\n\n* `red`\n\n* `orange`\n\n* `yellow`\n\n* `green`\n\n* `teal`\n\n* `blue`\n\n* `purple`\n\n* `pink`\n\n* `white`\n\n* `gray`\n\n* `black`\n\n* `brown`",
                    "type": "string"
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch\nlevel](https://developers.google.com/custom-search/docs/xml_results#safeSearchLevels)\nused for filtering out adult results. This is a custom property not\ndefined in the OpenSearch spec. Valid parameter values are:\n\n* `\"off\"`: Disable SafeSearch\n\n* `\"active\"`: Enable SafeSearch",
                    "type": "string"
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in\nthe `sitesearch` parameter. Supported values are:\n\n* `i`: include content from site\n\n* `e`: exclude content from site",
                    "type": "string"
                  },
                  "outputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search results."
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified\nexpression. For example, sort by date.",
                    "type": "string"
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical `AND` operator.",
                    "type": "string"
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported\nby Google include:\n\n* Adobe Portable Document Format (`pdf`)\n\n* Adobe PostScript (`ps`)\n\n* Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`)\n\n* Lotus WordPro (`lwp`)\n\n* Macwrite (`mw`)\n\n* Microsoft Excel (`xls`)\n\n* Microsoft PowerPoint (`ppt`)\n\n* Microsoft Word (`doc`)\n\n* Microsoft Works (`wks`, `wps`, `wdb`)\n\n* Microsoft Write (`wri`)\n\n* Rich Text Format (`rtf`)\n\n* Shockwave Flash (`swf`)\n\n* Text (`ans`, `txt`).\n\nAdditional filetypes may be added in the future. An up-to-date list can\nalways be found in Google's [file type\nFAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string"
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited\nto webpages.",
                    "type": "string"
                  },
                  "googleHost": {
                    "type": "string",
                    "description": "Specifies the Google domain (for example, google.com, google.de, or\ngoogle.fr) to which the search should be limited."
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the\nspecified URL. The parameter value should be a URL.",
                    "type": "string"
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in\nthe search results.",
                    "type": "string"
                  },
                  "exactTerms": {
                    "type": "string",
                    "description": "Identifies a phrase that all documents in the search results must\ncontain."
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64",
                    "type": "string"
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are:\n\n* `clipart` (Clip art)\n\n* `face` (Face)\n\n* `lineart` (Line drawing)\n\n* `photo` (Photo)\n\n* `animated` (Animated)\n\n* `stock` (Stock)",
                    "type": "string"
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search\nresults. See [Automatic\nFiltering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering)\nfor more information about Google's search results filters. Valid values\nfor this parameter are:\n\n* `0`: Disabled\n\n* `1`: Enabled (default)\n\n**Note**: By default, Google applies filtering to all search results to\nimprove the quality of those results.",
                    "type": "string"
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of\nresults, where the index of the first result is 1.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and\n`cse:highrange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface.\nExplicitly setting this parameter improves the performance and the\nquality of your search results.\n\nSee the [Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages)\nsection of [Internationalizing Queries and Results\nPresentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing)\nfor more information, and [Supported Interface\nLanguages](https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages)\nfor a list of supported languages.",
                    "type": "string"
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter\nvalue. See [Country\nCodes](https://developers.google.com/custom-search/docs/xml_results#countryCodes)\nfor a list of valid values.\n\nSpecifying a `gl` parameter value in WebSearch requests should improve\nthe relevance of results. This is particularly true for international\ncustomers and, even more specifically, for customers in English-speaking\ncountries other than the United States.",
                    "type": "string"
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are:\n\n* `icon` (small)\n\n* `small | medium | large | xlarge` (medium)\n\n* `xxlarge` (large)\n\n* `huge` (extra-large)",
                    "type": "string"
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by\nthe `count` property.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular\ncountry. You may use [Boolean\noperators](https://developers.google.com/custom-search/docs/xml_results#booleanOperators)\nin the `cr` parameter's value.\n\nGoogle WebSearch determines the country of a document by analyzing the\nfollowing:\n\n* The top-level domain (TLD) of the document's URL.\n\n* The geographic location of the web server's IP address.\n\nSee [Country (cr) Parameter\nValues](https://developers.google.com/custom-search/docs/xml_results#countryCollections)\nfor a list of valid values for this parameter.",
                    "type": "string"
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the [Simplified and Traditional Chinese\nSearch](https://developers.google.com/custom-search/docs/xml_results#chineseSearch)\nfeature.\n\nSupported values are:\n\n* `0`: enabled (default)\n\n* `1`: disabled",
                    "type": "string"
                  },
                  "title": {
                    "type": "string",
                    "description": "A description of the query."
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the\nadditional search terms. You can also use the [Boolean\nOR](https://developers.google.com/custom-search/docs/xml_results#BooleanOrqt)\nquery term for this type of query.",
                    "type": "string"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include:\n\n* `d[number]`: requests results from the specified number of past days.\n\n* `w[number]`: requests results from the specified number of past weeks.\n\n* `m[number]`: requests results from the specified number of past months.\n\n* `y[number]`: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include:\n\n* `cc_publicdomain`\n\n* `cc_attribute`\n\n* `cc_sharealike`\n\n* `cc_noncommercial`\n\n* `cc_nonderived`",
                    "type": "string"
                  },
                  "cx": {
                    "description": "The identifier of a custom search engine created using the Custom Search\n[Control Panel](https://cse.google.com/). This is a custom property not\ndefined in the OpenSearch spec. This parameter is **required**.",
                    "type": "string"
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and\n`cse:highrange` to append an inclusive search range of\n`lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string"
                  }
                },
                "description": "Custom search request metadata."
              }
            }
          }
        },
        "url": {
          "description": "OpenSearch template and URL.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The MIME type of the OpenSearch URL template for the Custom Search API.",
              "type": "string"
            },
            "template": {
              "description": "The actual [OpenSearch\ntemplate](http://www.opensearch.org/specifications/opensearch/1.1#opensearch_url_template_syntax)\nfor this API.",
              "type": "string"
            }
          }
        }
      },
      "id": "Search"
    },
    "Result": {
      "description": "A custom search result.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of a refinement label, which you can use to refine searches.\nDon't display this in your user interface; instead, use displayName."
              },
              "displayName": {
                "description": "The display name of a refinement label. This is the name you should\ndisplay in your user interface.",
                "type": "string"
              },
              "label_with_op": {
                "description": "Refinement label and the associated refinement operation.",
                "type": "string"
              }
            },
            "description": "Refinement label associated with a custom search result."
          },
          "description": "Encapsulates all information about [refinement\nlabels](https://developers.google.com/custom-search/docs/xml_results)."
        },
        "htmlFormattedUrl": {
          "description": "The HTML-formatted URL displayed after the snippet for each search result.",
          "type": "string"
        },
        "cacheId": {
          "description": "Indicates the ID of Google's cached version of the search result.",
          "type": "string"
        },
        "displayLink": {
          "description": "An abridged version of this search result’s URL, e.g. www.example.com.",
          "type": "string"
        },
        "kind": {
          "description": "A unique identifier for the type of current object. For this API, it is\n`customsearch#result.`",
          "type": "string"
        },
        "formattedUrl": {
          "type": "string",
          "description": "The URL displayed after the snippet for each search result."
        },
        "link": {
          "description": "The full URL to which the search result is pointing, e.g.\nhttp://www.example.com/foo/bar.",
          "type": "string"
        },
        "mime": {
          "description": "The MIME type of the search result.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "description": "The file format of the search result."
        },
        "image": {
          "description": "Image belonging to a custom search result.",
          "type": "object",
          "properties": {
            "thumbnailLink": {
              "type": "string",
              "description": "A URL to the thumbnail image."
            },
            "thumbnailWidth": {
              "description": "The width of the thumbnail image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "height": {
              "description": "The height of the image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "byteSize": {
              "description": "The size of the image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "contextLink": {
              "description": "A URL pointing to the webpage hosting the image.",
              "type": "string"
            },
            "width": {
              "description": "The width of the image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "thumbnailHeight": {
              "description": "The height of the thumbnail image, in pixels.",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "htmlSnippet": {
          "description": "The snippet of the search result, in HTML.",
          "type": "string"
        },
        "htmlTitle": {
          "description": "The title of the search result, in HTML.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet of the search result, in plain text.",
          "type": "string"
        },
        "title": {
          "description": "The title of the search result, in plain text.",
          "type": "string"
        },
        "pagemap": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Contains\n[PageMap](https://developers.google.com/custom-search/docs/structured_data#pagemaps)\ninformation for this search result."
        }
      },
      "id": "Result"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "baseUrl": "https://customsearch.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Searches over a website or collection of websites",
  "servicePath": "",
  "rootUrl": "https://customsearch.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "customsearch",
  "mtlsRootUrl": "https://customsearch.mtls.googleapis.com/",
  "batchPath": "batch",
  "id": "customsearch:v1",
  "documentationLink": "https://developers.google.com/custom-search/v1/introduction",
  "revision": "20200408"
}
