{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version_module": true,
  "resources": {
    "cse": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "Search"
          },
          "parameters": {
            "lowRange": {
              "type": "string",
              "location": "query",
              "description": "Creates a range in form as_nlo value..as_nhi value and attempts to append\nit to query"
            },
            "lr": {
              "type": "string",
              "location": "query",
              "description": "The language restriction for the search results"
            },
            "imgColorType": {
              "location": "query",
              "enum": [
                "imgColorTypeUndefined",
                "mono",
                "gray",
                "color",
                "trans"
              ],
              "description": "Returns black and white, grayscale, transparent-background or color images:\nmono, gray, trans, and color.",
              "type": "string"
            },
            "imgDominantColor": {
              "location": "query",
              "enum": [
                "imgDominantColorUndefined",
                "black",
                "blue",
                "brown",
                "gray",
                "green",
                "orange",
                "pink",
                "purple",
                "red",
                "teal",
                "white",
                "yellow"
              ],
              "description": "Returns images of a specific dominant color: red, orange, yellow, green,\nteal, blue, purple, pink, white, gray, black and brown.",
              "type": "string"
            },
            "safe": {
              "location": "query",
              "enum": [
                "safeUndefined",
                "active",
                "high",
                "medium",
                "off"
              ],
              "description": "Search safety level (active, off) (high, medium are same as active)",
              "type": "string"
            },
            "siteSearchFilter": {
              "type": "string",
              "location": "query",
              "enum": [
                "siteSearchFilterUndefined",
                "e",
                "i"
              ],
              "description": "Controls whether to include (i) or exclude (e) results from the site named\nin the siteSearch parameter"
            },
            "start": {
              "location": "query",
              "description": "The index of the first result to return",
              "format": "uint32",
              "type": "integer"
            },
            "sort": {
              "location": "query",
              "description": "The sort expression to apply to the results",
              "type": "string"
            },
            "linkSite": {
              "description": "Specifies that all search results should contain a link to a particular URL",
              "type": "string",
              "location": "query"
            },
            "hq": {
              "description": "Appends the extra hidden query terms to the query.",
              "type": "string",
              "location": "query"
            },
            "searchType": {
              "type": "string",
              "location": "query",
              "enum": [
                "searchTypeUndefined",
                "image"
              ],
              "description": "Specifies the search type: image."
            },
            "fileType": {
              "description": "Returns images of a specified type. Some of the allowed values are: bmp,\ngif, png, jpg, svg, pdf, ...",
              "type": "string",
              "location": "query"
            },
            "relatedSite": {
              "type": "string",
              "location": "query",
              "description": "Specifies that all search results should be pages that are related to the\nspecified URL"
            },
            "siteSearch": {
              "location": "query",
              "description": "Specifies all search results should be pages from a given site",
              "type": "string"
            },
            "excludeTerms": {
              "description": "Identifies a word or phrase that should not appear in any documents in the\nsearch results",
              "type": "string",
              "location": "query"
            },
            "exactTerms": {
              "description": "Identifies a phrase that all documents in the search results must contain",
              "type": "string",
              "location": "query"
            },
            "num": {
              "type": "integer",
              "location": "query",
              "description": "Number of search results to return",
              "format": "int32"
            },
            "imgType": {
              "location": "query",
              "enum": [
                "imgTypeUndefined",
                "clipart",
                "face",
                "lineart",
                "stock",
                "photo",
                "animated"
              ],
              "description": "Returns images of a type, which can be one of: clipart, face, lineart,\nstock, photo, and animated.",
              "type": "string"
            },
            "c2coff": {
              "description": "Turns off the translation between zh-CN and zh-TW.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "Controls turning on (1) or off (0) the duplicate content filter.",
              "type": "string",
              "location": "query"
            },
            "highRange": {
              "location": "query",
              "description": "Creates a range in form as_nlo value..as_nhi value and attempts to append\nit to query",
              "type": "string"
            },
            "gl": {
              "description": "Geolocation of end user.",
              "type": "string",
              "location": "query"
            },
            "hl": {
              "location": "query",
              "description": "Sets the user interface language.",
              "type": "string"
            },
            "googlehost": {
              "description": "The local Google domain to use to perform the search.",
              "type": "string",
              "location": "query"
            },
            "cr": {
              "location": "query",
              "description": "Country restrict(s).",
              "type": "string"
            },
            "imgSize": {
              "location": "query",
              "enum": [
                "imgSizeUndefined",
                "HUGE",
                "ICON",
                "LARGE",
                "MEDIUM",
                "SMALL",
                "XLARGE",
                "XXLARGE"
              ],
              "description": "Returns images of a specified size, where size can be one of: icon, small,\nmedium, large, xlarge, xxlarge, and huge.",
              "type": "string"
            },
            "orTerms": {
              "location": "query",
              "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the additional\nsearch terms",
              "type": "string"
            },
            "dateRestrict": {
              "location": "query",
              "description": "Specifies all search results are from a time period",
              "type": "string"
            },
            "q": {
              "description": "Query",
              "type": "string",
              "location": "query"
            },
            "rights": {
              "description": "Filters based on licensing. Supported values include: cc_publicdomain,\ncc_attribute, cc_sharealike, cc_noncommercial, cc_nonderived and\ncombinations of these.\nSee https://wiki.creativecommons.org/wiki/CC_Search_integration for\ntypical combinations.",
              "type": "string",
              "location": "query"
            },
            "cx": {
              "description": "The custom search engine ID to scope this search query",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "customsearch/v1",
          "id": "search.cse.list",
          "path": "customsearch/v1",
          "description": "Returns metadata about the search performed, metadata about the custom\nsearch engine used for the search, and the search results."
        }
      }
    },
    "siterestrict": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "Search"
          },
          "parameters": {
            "c2coff": {
              "location": "query",
              "description": "Turns off the translation between zh-CN and zh-TW.",
              "type": "string"
            },
            "imgType": {
              "location": "query",
              "enum": [
                "imgTypeUndefined",
                "clipart",
                "face",
                "lineart",
                "stock",
                "photo",
                "animated"
              ],
              "description": "Returns images of a type, which can be one of: clipart, face, lineart,\nstock, photo, and animated.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "Controls turning on (1) or off (0) the duplicate content filter.",
              "type": "string"
            },
            "highRange": {
              "location": "query",
              "description": "Creates a range in form as_nlo value..as_nhi value and attempts to append\nit to query",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "description": "Sets the user interface language.",
              "type": "string"
            },
            "gl": {
              "location": "query",
              "description": "Geolocation of end user.",
              "type": "string"
            },
            "googlehost": {
              "description": "The local Google domain to use to perform the search.",
              "type": "string",
              "location": "query"
            },
            "imgSize": {
              "type": "string",
              "location": "query",
              "enum": [
                "imgSizeUndefined",
                "HUGE",
                "ICON",
                "LARGE",
                "MEDIUM",
                "SMALL",
                "XLARGE",
                "XXLARGE"
              ],
              "description": "Returns images of a specified size, where size can be one of: icon, small,\nmedium, large, xlarge, xxlarge, and huge."
            },
            "cr": {
              "location": "query",
              "description": "Country restrict(s).",
              "type": "string"
            },
            "orTerms": {
              "location": "query",
              "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the additional\nsearch terms",
              "type": "string"
            },
            "dateRestrict": {
              "type": "string",
              "location": "query",
              "description": "Specifies all search results are from a time period"
            },
            "rights": {
              "location": "query",
              "description": "Filters based on licensing. Supported values include: cc_publicdomain,\ncc_attribute, cc_sharealike, cc_noncommercial, cc_nonderived and\ncombinations of these.\nSee https://wiki.creativecommons.org/wiki/CC_Search_integration for\ntypical combinations.",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "Query",
              "type": "string"
            },
            "cx": {
              "location": "query",
              "description": "The custom search engine ID to scope this search query",
              "type": "string"
            },
            "lowRange": {
              "type": "string",
              "location": "query",
              "description": "Creates a range in form as_nlo value..as_nhi value and attempts to append\nit to query"
            },
            "lr": {
              "location": "query",
              "description": "The language restriction for the search results",
              "type": "string"
            },
            "imgColorType": {
              "location": "query",
              "enum": [
                "imgColorTypeUndefined",
                "mono",
                "gray",
                "color",
                "trans"
              ],
              "description": "Returns black and white, grayscale, transparent-background or color images:\nmono, gray, trans, and color.",
              "type": "string"
            },
            "imgDominantColor": {
              "location": "query",
              "enum": [
                "imgDominantColorUndefined",
                "black",
                "blue",
                "brown",
                "gray",
                "green",
                "orange",
                "pink",
                "purple",
                "red",
                "teal",
                "white",
                "yellow"
              ],
              "description": "Returns images of a specific dominant color: red, orange, yellow, green,\nteal, blue, purple, pink, white, gray, black and brown.",
              "type": "string"
            },
            "safe": {
              "location": "query",
              "enum": [
                "safeUndefined",
                "active",
                "high",
                "medium",
                "off"
              ],
              "description": "Search safety level (active, off) (high, medium are same as active)",
              "type": "string"
            },
            "siteSearchFilter": {
              "description": "Controls whether to include (i) or exclude (e) results from the site named\nin the siteSearch parameter",
              "type": "string",
              "location": "query",
              "enum": [
                "siteSearchFilterUndefined",
                "e",
                "i"
              ]
            },
            "start": {
              "location": "query",
              "description": "The index of the first result to return",
              "format": "uint32",
              "type": "integer"
            },
            "sort": {
              "location": "query",
              "description": "The sort expression to apply to the results",
              "type": "string"
            },
            "linkSite": {
              "location": "query",
              "description": "Specifies that all search results should contain a link to a particular URL",
              "type": "string"
            },
            "hq": {
              "description": "Appends the extra hidden query terms to the query.",
              "type": "string",
              "location": "query"
            },
            "fileType": {
              "location": "query",
              "description": "Returns images of a specified type. Some of the allowed values are: bmp,\ngif, png, jpg, svg, pdf, ...",
              "type": "string"
            },
            "searchType": {
              "location": "query",
              "enum": [
                "searchTypeUndefined",
                "image"
              ],
              "description": "Specifies the search type: image.",
              "type": "string"
            },
            "relatedSite": {
              "type": "string",
              "location": "query",
              "description": "Specifies that all search results should be pages that are related to the\nspecified URL"
            },
            "siteSearch": {
              "description": "Specifies all search results should be pages from a given site",
              "type": "string",
              "location": "query"
            },
            "excludeTerms": {
              "location": "query",
              "description": "Identifies a word or phrase that should not appear in any documents in the\nsearch results",
              "type": "string"
            },
            "exactTerms": {
              "description": "Identifies a phrase that all documents in the search results must contain",
              "type": "string",
              "location": "query"
            },
            "num": {
              "description": "Number of search results to return",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "customsearch/v1/siterestrict",
          "id": "search.cse.siterestrict.list",
          "path": "customsearch/v1/siterestrict",
          "description": "Returns metadata about the search performed, metadata about the custom\nsearch engine used for the search, and the search results. Uses a small set\nof url patterns."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "Promotion": {
      "description": "Promotion result.",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image belonging to a promotion.",
          "type": "object",
          "properties": {
            "source": {
              "description": "URL of the image for this promotion link.",
              "type": "string"
            },
            "width": {
              "type": "integer",
              "description": "Image width in pixels.",
              "format": "int32"
            },
            "height": {
              "type": "integer",
              "description": "Image height in pixels.",
              "format": "int32"
            }
          }
        },
        "htmlTitle": {
          "type": "string",
          "description": "The title of the promotion, in HTML."
        },
        "displayLink": {
          "description": "An abridged version of this search's result URL, e.g. www.example.com.",
          "type": "string"
        },
        "title": {
          "description": "The title of the promotion.",
          "type": "string"
        },
        "link": {
          "description": "The URL of the promotion.",
          "type": "string"
        },
        "bodyLines": {
          "description": "An array of block objects for this promotion. See Google WebSearch Protocol\nreference for more information.",
          "type": "array",
          "items": {
            "description": "Block object belonging to a promotion.",
            "type": "object",
            "properties": {
              "htmlTitle": {
                "description": "The block object's text in HTML, if it has text.",
                "type": "string"
              },
              "url": {
                "description": "The URL of the block object's link, if it has one.",
                "type": "string"
              },
              "link": {
                "description": "The anchor text of the block object's link, if it has a link.",
                "type": "string"
              },
              "title": {
                "type": "string",
                "description": "The block object's text, if it has text."
              }
            }
          }
        }
      },
      "id": "Promotion"
    },
    "Search": {
      "id": "Search",
      "description": "Response to a custom search request.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The current set of custom search results.",
          "type": "array",
          "items": {
            "$ref": "Result"
          }
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Metadata and refinements associated with the given search engine."
        },
        "searchInformation": {
          "description": "Metadata about a search operation.",
          "type": "object",
          "properties": {
            "searchTime": {
              "description": "The time taken for the server to return search results.",
              "format": "double",
              "type": "number"
            },
            "totalResults": {
              "description": "The total number of search results returned by the query.",
              "type": "string"
            },
            "formattedTotalResults": {
              "description": "The total number of search results, formatted according to locale style.",
              "type": "string"
            },
            "formattedSearchTime": {
              "description": "The time taken for the server to return search results, formatted\naccording to locale style.",
              "type": "string"
            }
          }
        },
        "promotions": {
          "description": "The set of promotions. Present only if the custom search engine's\nconfiguration files define any promotions for the given query.",
          "type": "array",
          "items": {
            "$ref": "Promotion"
          }
        },
        "spelling": {
          "description": "Spell correction information for a query.",
          "type": "object",
          "properties": {
            "correctedQuery": {
              "description": "The corrected query.",
              "type": "string"
            },
            "htmlCorrectedQuery": {
              "type": "string",
              "description": "The corrected query, formatted in HTML."
            }
          }
        },
        "kind": {
          "description": "Unique identifier for the type of current object. For this API, it is\ncustomsearch#search.",
          "type": "string"
        },
        "queries": {
          "description": "Query metadata for the previous, current, and next pages of results.",
          "type": "object",
          "properties": {
            "previousPage": {
              "type": "array",
              "items": {
                "description": "Custom search request metadata.",
                "type": "object",
                "properties": {
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of\nresults, where the index of the first result is 1.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use cse:lowRange and\ncse:highrange to append an inclusive search range of lowRange...highRange\nto the query.",
                    "type": "string"
                  },
                  "gl": {
                    "type": "string",
                    "description": "Boosts search results whose country of origin matches the parameter\nvalue. Specifying a gl parameter value in WebSearch requests should\nimprove the relevance of results. This is particularly true for\ninternational customers and, even more specifically, for customers in\nEnglish-speaking countries other than the United States."
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface.\nExplicitly setting this parameter improves the performance and the\nquality of your search results.",
                    "type": "string"
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are:\nicon (small)\nsmall|medium|large|xlarge (medium)\nxxlarge (large)\nhuge (extra-large)",
                    "type": "string"
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by\nthe count property.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "cr": {
                    "type": "string",
                    "description": "Restricts search results to documents originating in a particular\ncountry. You may use Boolean operators in the cr parameter's value."
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the Simplified and Traditional Chinese Search\nfeature. Supported values are: 0: enabled (default) 1: disabled",
                    "type": "string"
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string"
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the\nadditional search terms. You can also use the Boolean OR query term for\nthis type of query.",
                    "type": "string"
                  },
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include:\nd[number]: requests results from the specified number of past days.\nw[number]: requests results from the specified number of past weeks.\nm[number]: requests results from the specified number of past months.\ny[number]: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include:\ncc_publicdomain\ncc_attribute\ncc_sharealike\ncc_noncommercial\ncc_nonderived",
                    "type": "string"
                  },
                  "cx": {
                    "description": "The identifier of a custom search engine created using the Custom Search\nControl Panel, if specified in request. This is a custom property not\ndefined in the OpenSearch spec.",
                    "type": "string"
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use cse:lowRange and\ncse:highrange to append an inclusive search range of lowRange...highRange\nto the query.",
                    "type": "string"
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string"
                  },
                  "imgColorType": {
                    "type": "string",
                    "description": "Restricts results to images of a specified color type. Supported values\nare: mono (black and white) gray (grayscale) color (color)"
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported\nvalues are: red orange yellow green teal blue purple pink white gray\nblack\nbrown",
                    "type": "string"
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the  SafeSearch level used for filtering out adult results.\nThis is a custom property not defined in the OpenSearch spec. Valid\nparameter values are: off: Disable SafeSearch active: Enable SafeSearch",
                    "type": "string"
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in\nthe sitesearch parameter. Supported values are: i: include content from\nsite e: exclude content from site",
                    "type": "string"
                  },
                  "outputEncoding": {
                    "description": "The character encoding supported for search results.",
                    "type": "string"
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified\nexpression. For example, sort by date.",
                    "type": "string"
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical AND operator.",
                    "type": "string"
                  },
                  "searchType": {
                    "type": "string",
                    "description": "Allowed values are web or image. If unspecified, results are limited to\nwebpages."
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported\nby Google include: Adobe Portable Document Format (pdf) Adobe PostScript\n(ps) Lotus 1-2-3 (wk1, wk2, wk3, wk4, wk5, wki, wks, wku) Lotus WordPro\n(lwp) Macwrite (mw) Microsoft Excel (xls) Microsoft PowerPoint (ppt)\nMicrosoft Word (doc)\nMicrosoft Works (wks, wps, wdb)\nMicrosoft Write (wri)\nRich Text Format (rtf)\nShockwave Flash (swf)\nText (ans, txt).",
                    "type": "string"
                  },
                  "googleHost": {
                    "type": "string",
                    "description": "Specifies the Google domain (for example, google.com, google.de, or\ngoogle.fr) to which the search should be limited."
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the\nspecified URL. The parameter value should be a URL.",
                    "type": "string"
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in\nthe search results.",
                    "type": "string"
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must\ncontain.",
                    "type": "string"
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64",
                    "type": "string"
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are:\nclipart (Clip art)\nface (Face)\nlineart (Line drawing)\nphoto (Photo)\nanimated (Animated)\nstock (Stock)",
                    "type": "string"
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search\nresults. The default value for the filter parameter is 1, which indicates\nthat the feature is enabled. Valid values for this parameter are: 0:\nDisabled 1: Enabled",
                    "type": "string"
                  }
                }
              },
              "description": "Metadata representing the previous page of results, if applicable."
            },
            "request": {
              "type": "array",
              "items": {
                "description": "Custom search request metadata.",
                "type": "object",
                "properties": {
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter\nvalue. Specifying a gl parameter value in WebSearch requests should\nimprove the relevance of results. This is particularly true for\ninternational customers and, even more specifically, for customers in\nEnglish-speaking countries other than the United States.",
                    "type": "string"
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface.\nExplicitly setting this parameter improves the performance and the\nquality of your search results.",
                    "type": "string"
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are:\nicon (small)\nsmall|medium|large|xlarge (medium)\nxxlarge (large)\nhuge (extra-large)",
                    "type": "string"
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by\nthe count property.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular\ncountry. You may use Boolean operators in the cr parameter's value.",
                    "type": "string"
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the Simplified and Traditional Chinese Search\nfeature. Supported values are: 0: enabled (default) 1: disabled",
                    "type": "string"
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string"
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the\nadditional search terms. You can also use the Boolean OR query term for\nthis type of query.",
                    "type": "string"
                  },
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include:\nd[number]: requests results from the specified number of past days.\nw[number]: requests results from the specified number of past weeks.\nm[number]: requests results from the specified number of past months.\ny[number]: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "rights": {
                    "type": "string",
                    "description": "Filters based on licensing. Supported values include:\ncc_publicdomain\ncc_attribute\ncc_sharealike\ncc_noncommercial\ncc_nonderived"
                  },
                  "cx": {
                    "description": "The identifier of a custom search engine created using the Custom Search\nControl Panel, if specified in request. This is a custom property not\ndefined in the OpenSearch spec.",
                    "type": "string"
                  },
                  "lowRange": {
                    "type": "string",
                    "description": "Specifies the starting value for a search range. Use cse:lowRange and\ncse:highrange to append an inclusive search range of lowRange...highRange\nto the query."
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string"
                  },
                  "imgDominantColor": {
                    "type": "string",
                    "description": "Restricts results to images with a specific dominant color. Supported\nvalues are: red orange yellow green teal blue purple pink white gray\nblack\nbrown"
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values\nare: mono (black and white) gray (grayscale) color (color)",
                    "type": "string"
                  },
                  "safe": {
                    "type": "string",
                    "description": "Specifies the  SafeSearch level used for filtering out adult results.\nThis is a custom property not defined in the OpenSearch spec. Valid\nparameter values are: off: Disable SafeSearch active: Enable SafeSearch"
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in\nthe sitesearch parameter. Supported values are: i: include content from\nsite e: exclude content from site",
                    "type": "string"
                  },
                  "outputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search results."
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified\nexpression. For example, sort by date.",
                    "type": "string"
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "hq": {
                    "type": "string",
                    "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical AND operator."
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported\nby Google include: Adobe Portable Document Format (pdf) Adobe PostScript\n(ps) Lotus 1-2-3 (wk1, wk2, wk3, wk4, wk5, wki, wks, wku) Lotus WordPro\n(lwp) Macwrite (mw) Microsoft Excel (xls) Microsoft PowerPoint (ppt)\nMicrosoft Word (doc)\nMicrosoft Works (wks, wps, wdb)\nMicrosoft Write (wri)\nRich Text Format (rtf)\nShockwave Flash (swf)\nText (ans, txt).",
                    "type": "string"
                  },
                  "searchType": {
                    "description": "Allowed values are web or image. If unspecified, results are limited to\nwebpages.",
                    "type": "string"
                  },
                  "googleHost": {
                    "type": "string",
                    "description": "Specifies the Google domain (for example, google.com, google.de, or\ngoogle.fr) to which the search should be limited."
                  },
                  "relatedSite": {
                    "type": "string",
                    "description": "Specifies that all search results should be pages that are related to the\nspecified URL. The parameter value should be a URL."
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in\nthe search results.",
                    "type": "string"
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must\ncontain.",
                    "type": "string"
                  },
                  "totalResults": {
                    "type": "string",
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64"
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are:\nclipart (Clip art)\nface (Face)\nlineart (Line drawing)\nphoto (Photo)\nanimated (Animated)\nstock (Stock)",
                    "type": "string"
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search\nresults. The default value for the filter parameter is 1, which indicates\nthat the feature is enabled. Valid values for this parameter are: 0:\nDisabled 1: Enabled",
                    "type": "string"
                  },
                  "startIndex": {
                    "type": "integer",
                    "description": "The index of the current set of search results into the total set of\nresults, where the index of the first result is 1.",
                    "format": "int32"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use cse:lowRange and\ncse:highrange to append an inclusive search range of lowRange...highRange\nto the query.",
                    "type": "string"
                  }
                }
              },
              "description": "Metadata representing the current request."
            },
            "nextPage": {
              "description": "Metadata representing the next page of results, if applicable.",
              "type": "array",
              "items": {
                "description": "Custom search request metadata.",
                "type": "object",
                "properties": {
                  "excludeTerms": {
                    "type": "string",
                    "description": "Identifies a word or phrase that should not appear in any documents in\nthe search results."
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must\ncontain.",
                    "type": "string"
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are:\nclipart (Clip art)\nface (Face)\nlineart (Line drawing)\nphoto (Photo)\nanimated (Animated)\nstock (Stock)",
                    "type": "string"
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64",
                    "type": "string"
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search\nresults. The default value for the filter parameter is 1, which indicates\nthat the feature is enabled. Valid values for this parameter are: 0:\nDisabled 1: Enabled",
                    "type": "string"
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of\nresults, where the index of the first result is 1.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "highRange": {
                    "type": "string",
                    "description": "Specifies the ending value for a search range. Use cse:lowRange and\ncse:highrange to append an inclusive search range of lowRange...highRange\nto the query."
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface.\nExplicitly setting this parameter improves the performance and the\nquality of your search results.",
                    "type": "string"
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter\nvalue. Specifying a gl parameter value in WebSearch requests should\nimprove the relevance of results. This is particularly true for\ninternational customers and, even more specifically, for customers in\nEnglish-speaking countries other than the United States.",
                    "type": "string"
                  },
                  "cr": {
                    "type": "string",
                    "description": "Restricts search results to documents originating in a particular\ncountry. You may use Boolean operators in the cr parameter's value."
                  },
                  "startPage": {
                    "type": "integer",
                    "description": "The page number of this set of results, where the page length is set by\nthe count property.",
                    "format": "int32"
                  },
                  "imgSize": {
                    "type": "string",
                    "description": "Restricts results to images of a specified size. Supported values are:\nicon (small)\nsmall|medium|large|xlarge (medium)\nxxlarge (large)\nhuge (extra-large)"
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the Simplified and Traditional Chinese Search\nfeature. Supported values are: 0: enabled (default) 1: disabled",
                    "type": "string"
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string"
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each\ndocument in the search results must contain at least one of the\nadditional search terms. You can also use the Boolean OR query term for\nthis type of query.",
                    "type": "string"
                  },
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include:\nd[number]: requests results from the specified number of past days.\nw[number]: requests results from the specified number of past weeks.\nm[number]: requests results from the specified number of past months.\ny[number]: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "rights": {
                    "type": "string",
                    "description": "Filters based on licensing. Supported values include:\ncc_publicdomain\ncc_attribute\ncc_sharealike\ncc_noncommercial\ncc_nonderived"
                  },
                  "cx": {
                    "type": "string",
                    "description": "The identifier of a custom search engine created using the Custom Search\nControl Panel, if specified in request. This is a custom property not\ndefined in the OpenSearch spec."
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use cse:lowRange and\ncse:highrange to append an inclusive search range of lowRange...highRange\nto the query.",
                    "type": "string"
                  },
                  "inputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search requests."
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported\nvalues are: red orange yellow green teal blue purple pink white gray\nblack\nbrown",
                    "type": "string"
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values\nare: mono (black and white) gray (grayscale) color (color)",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the  SafeSearch level used for filtering out adult results.\nThis is a custom property not defined in the OpenSearch spec. Valid\nparameter values are: off: Disable SafeSearch active: Enable SafeSearch",
                    "type": "string"
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "siteSearchFilter": {
                    "type": "string",
                    "description": "Specifies whether to include or exclude results from the site named in\nthe sitesearch parameter. Supported values are: i: include content from\nsite e: exclude content from site"
                  },
                  "outputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search results."
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified\nexpression. For example, sort by date.",
                    "type": "string"
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined\nwith a logical AND operator.",
                    "type": "string"
                  },
                  "searchType": {
                    "type": "string",
                    "description": "Allowed values are web or image. If unspecified, results are limited to\nwebpages."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Restricts results to files of a specified extension. Filetypes supported\nby Google include: Adobe Portable Document Format (pdf) Adobe PostScript\n(ps) Lotus 1-2-3 (wk1, wk2, wk3, wk4, wk5, wki, wks, wku) Lotus WordPro\n(lwp) Macwrite (mw) Microsoft Excel (xls) Microsoft PowerPoint (ppt)\nMicrosoft Word (doc)\nMicrosoft Works (wks, wps, wdb)\nMicrosoft Write (wri)\nRich Text Format (rtf)\nShockwave Flash (swf)\nText (ans, txt)."
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or\ngoogle.fr) to which the search should be limited.",
                    "type": "string"
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the\nspecified URL. The parameter value should be a URL.",
                    "type": "string"
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "url": {
          "description": "OpenSearch template and URL.",
          "type": "object",
          "properties": {
            "template": {
              "description": "The actual OpenSearch template for this API.",
              "type": "string"
            },
            "type": {
              "description": "The MIME type of the OpenSearch URL template for the Custom Search API.",
              "type": "string"
            }
          }
        }
      }
    },
    "Result": {
      "description": "A custom search result.",
      "type": "object",
      "properties": {
        "formattedUrl": {
          "description": "The URL displayed after the snippet for each search result.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "The full URL to which the search result is pointing, e.g.\nhttp://www.example.com/foo/bar."
        },
        "mime": {
          "description": "The MIME type of the search result.",
          "type": "string"
        },
        "fileFormat": {
          "description": "The file format of the search result.",
          "type": "string"
        },
        "image": {
          "type": "object",
          "properties": {
            "height": {
              "description": "The height of the image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "byteSize": {
              "description": "The size of the image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "width": {
              "type": "integer",
              "description": "The width of the image, in pixels.",
              "format": "int32"
            },
            "contextLink": {
              "description": "A URL pointing to the webpage hosting the image.",
              "type": "string"
            },
            "thumbnailHeight": {
              "description": "The height of the thumbnail image, in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "thumbnailLink": {
              "type": "string",
              "description": "A URL to the thumbnail image."
            },
            "thumbnailWidth": {
              "description": "The width of the thumbnail image, in pixels.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Image belonging to a custom search result."
        },
        "htmlSnippet": {
          "type": "string",
          "description": "The snippet of the search result, in HTML."
        },
        "htmlTitle": {
          "description": "The title of the search result, in HTML.",
          "type": "string"
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of the search result, in plain text."
        },
        "title": {
          "description": "The title of the search result, in plain text.",
          "type": "string"
        },
        "pagemap": {
          "description": "Contains PageMap information for this search result.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "labels": {
          "description": "Encapsulates all information about refinement labels.",
          "type": "array",
          "items": {
            "description": "Refinement label associated with a custom search result.",
            "type": "object",
            "properties": {
              "name": {
                "description": "The name of a refinement label, which you can use to refine searches.\nDon't display this in your user interface; instead, use displayName.",
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "description": "The display name of a refinement label. This is the name you should\ndisplay in your user interface."
              },
              "label_with_op": {
                "description": "Refinement label and the associated refinement operation.",
                "type": "string"
              }
            }
          }
        },
        "htmlFormattedUrl": {
          "type": "string",
          "description": "The HTML-formatted URL displayed after the snippet for each search result."
        },
        "cacheId": {
          "description": "Indicates the ID of Google's cached version of the search result.",
          "type": "string"
        },
        "displayLink": {
          "description": "An abridged version of this search result’s URL, e.g. www.example.com.",
          "type": "string"
        },
        "kind": {
          "description": "A unique identifier for the type of current object. For this API, it is\ncustomsearch#result.",
          "type": "string"
        }
      },
      "id": "Result"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "baseUrl": "https://customsearch.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Searches over a website or collection of websites",
  "servicePath": "",
  "rootUrl": "https://customsearch.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "customsearch",
  "batchPath": "batch",
  "mtlsRootUrl": "https://customsearch.mtls.googleapis.com/",
  "revision": "20200401",
  "documentationLink": "https://developers.google.com/custom-search/v1/introduction",
  "id": "customsearch:v1",
  "title": "Custom Search API"
}
