{
  "ownerDomain": "google.com",
  "canonicalName": "Container",
  "title": "Kubernetes Engine API",
  "ownerName": "Google",
  "revision": "20201007",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "name": "container",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "protocol": "rest",
  "basePath": "",
  "version": "v1beta1",
  "baseUrl": "https://container.googleapis.com/",
  "schemas": {
    "CidrBlock": {
      "type": "object",
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        }
      },
      "description": "CidrBlock contains an optional name and one CIDR block."
    },
    "HttpLoadBalancing": {
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "id": "HttpLoadBalancing"
    },
    "ReservationAffinity": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label value(s) of reservation resource(s)."
        },
        "key": {
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value.",
          "type": "string"
        },
        "consumeReservationType": {
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "type": "string",
          "description": "Corresponds to the type of reservation consumption.",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ]
        }
      },
      "type": "object",
      "id": "ReservationAffinity",
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from."
    },
    "ConsumptionMeteringConfig": {
      "description": "Parameters for controlling consumption metering.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records."
        }
      },
      "type": "object",
      "id": "ConsumptionMeteringConfig"
    },
    "PubSub": {
      "description": "Pub/Sub specific notification config.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable notifications for Pub/Sub."
        },
        "topic": {
          "type": "string",
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`."
        }
      },
      "type": "object",
      "id": "PubSub"
    },
    "SetNodePoolSizeRequest": {
      "type": "object",
      "description": "SetNodePoolSizeRequest sets the size a node pool.",
      "properties": {
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Required. The desired node count for the pool.",
          "format": "int32"
        }
      },
      "id": "SetNodePoolSizeRequest"
    },
    "NetworkPolicy": {
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "description": "The selected network policy provider.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        },
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "NetworkPolicy",
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/"
    },
    "DefaultSnatStatus": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      },
      "id": "DefaultSnatStatus",
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
      "type": "object"
    },
    "WorkloadIdentityConfig": {
      "properties": {
        "identityProvider": {
          "description": "identity provider is the third party identity provider.",
          "type": "string"
        },
        "identityNamespace": {
          "type": "string",
          "description": "IAM Identity Namespace to attach all Kubernetes Service Accounts to."
        },
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        }
      },
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
      "id": "WorkloadIdentityConfig",
      "type": "object"
    },
    "PrivateClusterConfig": {
      "id": "PrivateClusterConfig",
      "properties": {
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's master endpoint."
        },
        "enablePrivateEndpoint": {
          "type": "boolean",
          "description": "Whether the master's internal IP address is used as the cluster endpoint."
        },
        "masterGlobalAccessConfig": {
          "$ref": "PrivateClusterMasterGlobalAccessConfig",
          "description": "Controls master global access settings."
        },
        "peeringName": {
          "type": "string",
          "description": "Output only. The peering name in the customer VPC used by this cluster."
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking."
        },
        "masterIpv4CidrBlock": {
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network.",
          "type": "string"
        },
        "privateEndpoint": {
          "type": "string",
          "description": "Output only. The internal IP address of this cluster's master endpoint."
        }
      },
      "type": "object",
      "description": "Configuration options for private clusters."
    },
    "SetMonitoringServiceRequest": {
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "id": "SetMonitoringServiceRequest",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object"
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whenever master is accessible globally or not."
        }
      },
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "description": "Configuration for controlling master global access settings."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        }
      },
      "description": "CancelOperationRequest cancels a single operation.",
      "type": "object"
    },
    "CreateClusterRequest": {
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "cluster": {
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1beta1/projects.locations.clusters)",
          "$ref": "Cluster"
        },
        "parent": {
          "type": "string",
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
        }
      },
      "type": "object"
    },
    "NodeKubeletConfig": {
      "properties": {
        "cpuCfsQuotaPeriod": {
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration.",
          "type": "string"
        },
        "cpuCfsQuota": {
          "type": "boolean",
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified."
        },
        "cpuManagerPolicy": {
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. - \"none\": the default, which represents the existing scheduling behavior. - \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NodeKubeletConfig",
      "description": "Node kubelet configs."
    },
    "WorkloadMetadataConfig": {
      "properties": {
        "nodeMetadata": {
          "description": "NodeMetadata is the configuration for how to expose metadata to the workloads running on the node.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SECURE",
            "EXPOSE",
            "GKE_METADATA_SERVER"
          ],
          "enumDescriptions": [
            "Not set.",
            "Prevent workloads not in hostNetwork from accessing certain VM metadata, specifically kube-env, which contains Kubelet credentials, and the instance identity token. Metadata concealment is a temporary security solution available while the bootstrapping process for cluster nodes is being redesigned with significant security improvements. This feature is scheduled to be deprecated in the future and later removed.",
            "Expose all VM metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ]
        },
        "mode": {
          "type": "string",
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ],
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ]
        }
      },
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool.",
      "id": "WorkloadMetadataConfig",
      "type": "object"
    },
    "ConfigConnectorConfig": {
      "id": "ConfigConnectorConfig",
      "description": "Configuration options for the Config Connector add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Cloud Connector is enabled for this cluster."
        }
      },
      "type": "object"
    },
    "UsableSubnetworkSecondaryRange": {
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of IP addresses belonging to this subnetwork secondary range."
        },
        "rangeName": {
          "type": "string",
          "description": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance."
        },
        "status": {
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for services. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin and is currently claimed by a cluster for pods. It can only be used by other clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed for pods. It cannot be used for other clusters."
          ],
          "type": "string",
          "description": "This field is to determine the status of the secondary range programmably.",
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ]
        }
      },
      "id": "UsableSubnetworkSecondaryRange",
      "description": "Secondary IP range of a usable subnetwork.",
      "type": "object"
    },
    "UsableSubnetwork": {
      "id": "UsableSubnetwork",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range.",
      "properties": {
        "secondaryIpRanges": {
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          },
          "description": "Secondary IP ranges."
        },
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "ipCidrRange": {
          "type": "string",
          "description": "The range of internal addresses that are owned by this subnetwork."
        },
        "network": {
          "description": "Network Name. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NodePool": {
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "properties": {
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "description": "Which conditions caused the current node pool state.",
          "type": "array"
        },
        "maxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool."
        },
        "version": {
          "description": "The version of the Kubernetes of this node.",
          "type": "string"
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Output only] The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "podIpv4CidrSize": {
          "type": "integer",
          "description": "[Output only] The pod CIDR block size per node in this node pool.",
          "format": "int32"
        },
        "status": {
          "description": "[Output only] The status of the nodes in this pool instance.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ]
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "config": {
          "description": "The node configuration of the pool.",
          "$ref": "NodeConfig"
        },
        "initialNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Additional information about the current status of this node pool instance, if available."
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the node pool."
        }
      },
      "type": "object",
      "id": "NodePool"
    },
    "NodeTaint": {
      "type": "object",
      "id": "NodeTaint",
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "properties": {
        "value": {
          "description": "Value for taint.",
          "type": "string"
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "description": "Effect for taint.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key for taint."
        }
      }
    },
    "Location": {
      "properties": {
        "recommended": {
          "description": "Whether the location is recomended for GKE cluster scheduling.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "ZONE",
            "REGION"
          ],
          "enumDescriptions": [
            "LOCATION_TYPE_UNSPECIFIED means the location type was not determined.",
            "A GKE Location where Zonal clusters can be created.",
            "A GKE Location where Regional clusters can be created."
          ],
          "type": "string",
          "description": "Contains the type of location this Location is for. Regional or Zonal."
        },
        "name": {
          "description": "Contains the name of the resource requested. Specified in the format `projects/*/locations/*`.",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "Location returns the location name, and if the location is recommended for GKE cluster scheduling.",
      "type": "object"
    },
    "HorizontalPodAutoscaling": {
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      },
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
      "id": "HorizontalPodAutoscaling",
      "type": "object"
    },
    "MaxPodsConstraint": {
      "type": "object",
      "id": "MaxPodsConstraint",
      "description": "Constraints applied to pods.",
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "Constraint enforced on the max num of pods per node.",
          "format": "int64"
        }
      }
    },
    "NetworkPolicyConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "NetworkPolicyConfig",
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
    },
    "MasterAuth": {
      "properties": {
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint."
        },
        "clusterCaCertificate": {
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "type": "string"
        },
        "clientCertificateConfig": {
          "$ref": "ClientCertificateConfig",
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued."
        }
      },
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
      "id": "MasterAuth",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails.",
          "type": "boolean"
        }
      }
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "type": "object",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "properties": {
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Specifies the maintenance window in which maintenance may be performed."
        }
      }
    },
    "SandboxConfig": {
      "type": "object",
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "type": "string",
          "description": "Type of the sandbox to use for the node.",
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ]
        },
        "sandboxType": {
          "description": "Type of the sandbox to use for the node (e.g. 'gvisor')",
          "type": "string"
        }
      },
      "id": "SandboxConfig"
    },
    "UpgradeEvent": {
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "type": "object",
      "id": "UpgradeEvent",
      "properties": {
        "operationStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time when the operation was started."
        },
        "currentVersion": {
          "description": "Required. The current version before the upgrade.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "Required. The resource type that is upgrading."
        },
        "operation": {
          "description": "Required. The operation associated with this upgrade.",
          "type": "string"
        },
        "targetVersion": {
          "type": "string",
          "description": "Required. The target version for the upgrade."
        },
        "resource": {
          "type": "string",
          "description": "Optional. Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        }
      }
    },
    "DatabaseEncryption": {
      "id": "DatabaseEncryption",
      "properties": {
        "keyName": {
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          ],
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "description": "Denotes the state of etcd encryption.",
          "type": "string"
        }
      },
      "description": "Configuration of etcd encryption.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "missingZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations in the project in the specified zone."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "ListOperationsResponse is the result of ListOperationsRequest."
    },
    "UpdateMasterRequest": {
      "type": "object",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "id": "UpdateMasterRequest",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "masterVersion": {
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "SetAddonsConfigRequest": {
      "id": "SetAddonsConfigRequest",
      "description": "SetAddonsRequest sets the addons associated with the cluster.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "addonsConfig": {
          "description": "Required. The desired configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "type": "object",
      "properties": {
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
          "type": "string"
        }
      },
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed."
    },
    "LegacyAbac": {
      "type": "object",
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "id": "LegacyAbac",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      }
    },
    "AutoprovisioningNodePoolDefaults": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used."
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) To unset the min cpu platform field pass \"automatic\" as field value.",
          "type": "string"
        },
        "bootDiskKmsKey": {
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard' or 'pd-ssd') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "type": "array"
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
          "type": "integer"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        }
      },
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
      "id": "AutoprovisioningNodePoolDefaults",
      "type": "object"
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object",
      "id": "SetLocationsRequest",
      "properties": {
        "locations": {
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "StartIPRotationRequest": {
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "type": "object",
      "properties": {
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        }
      },
      "id": "StartIPRotationRequest"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "id": "SetLegacyAbacRequest",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      }
    },
    "BinaryAuthorization": {
      "properties": {
        "enabled": {
          "description": "Enable Binary Authorization for this cluster. If enabled, all container images will be validated by Google Binauthz.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for Binary Authorization.",
      "id": "BinaryAuthorization"
    },
    "HttpCacheControlResponseHeader": {
      "properties": {
        "directive": {
          "description": "14.9 request and response directives",
          "type": "string"
        },
        "age": {
          "type": "string",
          "format": "int64",
          "description": "14.6 response cache age, in seconds since the response is generated"
        },
        "expires": {
          "type": "string",
          "description": "14.21 response cache expires, in RFC 1123 date format"
        }
      },
      "type": "object",
      "id": "HttpCacheControlResponseHeader",
      "description": "RFC-2616: cache control support"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      },
      "description": "Configuration for client certificates on the cluster.",
      "type": "object"
    },
    "Master": {
      "description": "Master is the configuration for components on master.",
      "type": "object",
      "properties": {},
      "id": "Master"
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "NotificationConfig is the configuration of notifications.",
      "type": "object",
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      }
    },
    "ListUsableSubnetworksResponse": {
      "id": "ListUsableSubnetworksResponse",
      "properties": {
        "subnetworks": {
          "description": "A list of usable subnetworks in the specified network project.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetwork"
          }
        },
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages.",
          "type": "string"
        }
      },
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest.",
      "type": "object"
    },
    "DailyMaintenanceWindow": {
      "description": "Time window specified for daily maintenance operations.",
      "properties": {
        "duration": {
          "type": "string",
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario."
        },
        "startTime": {
          "type": "string",
          "description": "Time within the maintenance window to start the maintenance operations. It must be in format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT."
        }
      },
      "type": "object",
      "id": "DailyMaintenanceWindow"
    },
    "UpgradeSettings": {
      "properties": {
        "maxUnavailable": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready."
        },
        "maxSurge": {
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UpgradeSettings",
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available.",
      "type": "object"
    },
    "ClusterAutoscaling": {
      "id": "ClusterAutoscaling",
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "type": "object",
      "properties": {
        "autoprovisioningNodePoolDefaults": {
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
          "$ref": "AutoprovisioningNodePoolDefaults"
        },
        "autoscalingProfile": {
          "description": "Defines autoscaling behaviour.",
          "type": "string",
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ]
        },
        "autoprovisioningLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP."
        },
        "resourceLimits": {
          "items": {
            "$ref": "ResourceLimit"
          },
          "type": "array",
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster."
        },
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        }
      }
    },
    "SetNetworkPolicyRequest": {
      "type": "object",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "id": "SetNetworkPolicyRequest",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Required. Configuration options for the NetworkPolicy feature."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "ResourceLimit": {
      "id": "ResourceLimit",
      "properties": {
        "maximum": {
          "format": "int64",
          "description": "Maximum amount of the resource in the cluster.",
          "type": "string"
        },
        "minimum": {
          "description": "Minimum amount of the resource in the cluster.",
          "type": "string",
          "format": "int64"
        },
        "resourceType": {
          "type": "string",
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string."
        }
      },
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
      "type": "object"
    },
    "TpuConfig": {
      "type": "object",
      "id": "TpuConfig",
      "description": "Configuration for Cloud TPU.",
      "properties": {
        "ipv4CidrBlock": {
          "type": "string",
          "description": "IPv4 CIDR block reserved for Cloud TPU in the VPC."
        },
        "useServiceNetworking": {
          "description": "Whether to use service networking for Cloud TPU or not.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether Cloud TPU integration is enabled or not.",
          "type": "boolean"
        }
      }
    },
    "ListNodePoolsResponse": {
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
      "properties": {
        "nodePools": {
          "type": "array",
          "description": "A list of node pools for a cluster.",
          "items": {
            "$ref": "NodePool"
          }
        }
      },
      "type": "object",
      "id": "ListNodePoolsResponse"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Only return ListLocationsResponse that occur after the page_token. This value should be populated from the ListLocationsResponse.next_page_token if that response token was set (which happens when listing more Locations than fit in a single ListLocationsResponse).",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A full list of GKE locations."
        }
      },
      "id": "ListLocationsResponse",
      "description": "ListLocationsResponse returns the list of all GKE locations and their recommendation state.",
      "type": "object"
    },
    "Jwk": {
      "properties": {
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "crv": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "alg": {
          "type": "string",
          "description": "Algorithm."
        }
      },
      "type": "object",
      "id": "Jwk",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517"
    },
    "TimeWindow": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time that the window first starts.",
          "type": "string"
        },
        "endTime": {
          "description": "The time that the window ends. The end time should take place after the start time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "TimeWindow",
      "description": "Represents an arbitrary window of time."
    },
    "CloudRunConfig": {
      "description": "Configuration options for the Cloud Run feature.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether Cloud Run addon is enabled for this cluster."
        },
        "loadBalancerType": {
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ],
          "description": "Which load balancer type is installed for Cloud Run.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudRunConfig"
    },
    "ServerConfig": {
      "id": "ServerConfig",
      "description": "Kubernetes Engine service configuration.",
      "type": "object",
      "properties": {
        "validImageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid image types."
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "validMasterVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid master versions, in descending order.",
          "type": "array"
        },
        "validNodeVersions": {
          "type": "array",
          "description": "List of valid node upgrade target versions, in descending order.",
          "items": {
            "type": "string"
          }
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "description": "List of release channel configurations."
        }
      }
    },
    "AcceleratorConfig": {
      "type": "object",
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "properties": {
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
          "type": "string"
        },
        "acceleratorCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of the accelerator cards exposed to an instance."
        }
      },
      "id": "AcceleratorConfig"
    },
    "DnsCacheConfig": {
      "id": "DnsCacheConfig",
      "description": "Configuration for NodeLocal DNSCache",
      "properties": {
        "enabled": {
          "description": "Whether NodeLocal DNSCache is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CompleteIPRotationRequest": {
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "id": "CompleteIPRotationRequest",
      "type": "object"
    },
    "UpdateClusterRequest": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "ClusterUpdate"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "id": "UpdateClusterRequest"
    },
    "Cluster": {
      "type": "object",
      "description": "A Google Kubernetes Engine cluster.",
      "id": "Cluster",
      "properties": {
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Configuration of Confidential Nodes"
        },
        "authenticatorGroupsConfig": {
          "description": "Configuration controlling RBAC group membership information.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "tpuIpv4CidrBlock": {
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`).",
          "type": "string"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Additional information about the current status of this cluster, if available."
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "Notification configuration of the cluster."
        },
        "tpuConfig": {
          "$ref": "TpuConfig",
          "description": "Configuration for Cloud TPU support;"
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "[Output only] The current status of this cluster."
        },
        "networkConfig": {
          "description": "Configuration for cluster networking.",
          "$ref": "NetworkConfig"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected. On output this shows the subnetwork ID instead of the name."
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "shieldedNodes": {
          "description": "Shielded Nodes configuration.",
          "$ref": "ShieldedNodes"
        },
        "conditions": {
          "description": "Which conditions caused the current cluster state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "initialNodeCount": {
          "format": "int32",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
          "type": "integer"
        },
        "clusterTelemetry": {
          "$ref": "ClusterTelemetry",
          "description": "Telemetry integration for the cluster."
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP prefix in CIDR notation to use for the hosted master network. This prefix will be used for assigning private IP addresses to the master or set of masters, as well as the ILB VIP. This field is deprecated, use private_cluster_config.master_ipv4_cidr_block instead."
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "type": "string"
        },
        "workloadIdentityConfig": {
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
          "$ref": "WorkloadIdentityConfig"
        },
        "master": {
          "$ref": "Master",
          "description": "Configuration for master components."
        },
        "privateCluster": {
          "type": "boolean",
          "description": "If this is a private cluster setup. Private clusters are clusters that, by default have no external IP addresses on the nodes and where nodes and the master communicate over private IP addresses. This field is deprecated, use private_cluster_config.enable_private_nodes instead."
        },
        "podSecurityPolicyConfig": {
          "description": "Configuration for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] Deprecated, use [NodePool.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Configuration for Binary Authorization."
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
          "type": "string"
        },
        "legacyAbac": {
          "description": "Configuration for the legacy ABAC authorization mode.",
          "$ref": "LegacyAbac"
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array"
        },
        "resourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config unspecified."
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "releaseChannel": {
          "description": "Release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "instanceGroupUrls": {
          "type": "array",
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "items": {
            "type": "string"
          }
        },
        "enableTpu": {
          "type": "boolean",
          "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated, use tpu_config.enabled instead."
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources."
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "enableKubernetesAlpha": {
          "type": "boolean",
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1beta1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation."
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "network": {
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used. On output this shows the network ID instead of the name.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR.",
          "type": "string"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "nodeIpv4CidrSize": {
          "type": "integer",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode.",
          "format": "int32"
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "currentNodeCount": {
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NodePoolAutoscaling": {
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "autoprovisioned": {
          "description": "Can this node pool be deleted automatically.",
          "type": "boolean"
        },
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There has to enough quota to scale up the cluster."
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c= max_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        }
      },
      "id": "NodePoolAutoscaling"
    },
    "CreateNodePoolRequest": {
      "type": "object",
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "id": "CreateNodePoolRequest",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "parent": {
          "type": "string",
          "description": "The parent (project, location, cluster id) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field."
        },
        "nodePool": {
          "description": "Required. The node pool to create.",
          "$ref": "NodePool"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
        }
      }
    },
    "SetLabelsRequest": {
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container Engine cluster, which will in turn set them for Google Compute Engine resources used by that cluster",
      "type": "object",
      "id": "SetLabelsRequest",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "labelFingerprint": {
          "description": "Required. The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Kubernetes Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a `get()` request to the resource to get the latest fingerprint.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "resourceLabels": {
          "description": "Required. The labels to set for that cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RollbackNodePoolUpgradeRequest"
    },
    "IntraNodeVisibilityConfig": {
      "id": "IntraNodeVisibilityConfig",
      "properties": {
        "enabled": {
          "description": "Enables intra node visibility for this cluster.",
          "type": "boolean"
        }
      },
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node visibility on this cluster.",
      "type": "object"
    },
    "ClusterTelemetry": {
      "type": "object",
      "id": "ClusterTelemetry",
      "description": "Telemetry integration for the cluster.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Not set.",
            "Monitoring integration is disabled.",
            "Monitoring integration is enabled.",
            "Only system components are monitored and logged."
          ],
          "type": "string",
          "description": "Type of the integration.",
          "enum": [
            "UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "SYSTEM_ONLY"
          ]
        }
      }
    },
    "ConfidentialNodes": {
      "id": "ConfidentialNodes",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled for all nodes in this cluster."
        }
      },
      "type": "object"
    },
    "ShieldedNodes": {
      "id": "ShieldedNodes",
      "description": "Configuration of Shielded Nodes feature.",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IPAllocationPolicy": {
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "id": "IPAllocationPolicy",
      "properties": {
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        },
        "servicesSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases and create_subnetwork is false."
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "subnetworkName": {
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork.",
          "type": "string"
        },
        "tpuIpv4CidrBlock": {
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. This field is deprecated, use cluster.tpu_config.ipv4_cidr_block instead.",
          "type": "string"
        },
        "nodeIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "clusterSecondaryRangeName": {
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases and create_subnetwork is false.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use cluster_ipv4_cidr_block."
        },
        "nodeIpv4CidrBlock": {
[...]
