{
  "title": "Cloud Resource Manager API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/resource-manager",
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Cloud Resource Manager",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "resources": {
    "tagKeys": {
      "methods": {
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagKeys/{tagKeysId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified TagKey. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". There are no permissions required for making this API call.",
          "id": "cloudresourcemanager.tagKeys.testIamPermissions",
          "path": "v3/{+resource}:testIamPermissions",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^tagKeys/[^/]+$",
              "location": "path",
              "required": true
            }
          }
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a TagKey. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `cloudresourcemanager.googleapis.com/tagKeys.getIamPolicy` permission on the specified TagKey.",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^tagKeys/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.tagKeys.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/tagKeys/{tagKeysId}:getIamPolicy"
        },
        "setIamPolicy": {
          "flatPath": "v3/tagKeys/{tagKeysId}:setIamPolicy",
          "parameters": {
            "resource": {
              "pattern": "^tagKeys/[^/]+$",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "location": "path"
            }
          },
          "path": "v3/{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "description": "Sets the access control policy on a TagKey, replacing any existing policy. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `resourcemanager.tagKeys.setIamPolicy` permission on the identified tagValue.",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagKeys.setIamPolicy"
        },
        "create": {
          "parameters": {
            "validateOnly": {
              "location": "query",
              "description": "Optional. Set to true to perform validations necessary for creating the resource, but not actually perform the action.",
              "type": "boolean"
            }
          },
          "id": "cloudresourcemanager.tagKeys.create",
          "parameterOrder": [],
          "flatPath": "v3/tagKeys",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a new TagKey. If another request with the same parameters is sent while the original request is in process, the second request will receive an error. A maximum of 300 TagKeys can exist under a parent at any given time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "TagKey"
          },
          "path": "v3/tagKeys"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "validateOnly": {
              "description": "Set as true to perform validations necessary for updating the resource, but not actually perform the action.",
              "location": "query",
              "type": "boolean"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Fields to be updated. The mask may only contain `description` or `etag`. If omitted entirely, both `description` and `etag` are assumed to be significant.",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "pattern": "^tagKeys/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey."
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "TagKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the attributes of the TagKey resource.",
          "id": "cloudresourcemanager.tagKeys.patch",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "response": {
            "$ref": "ListTagKeysResponse"
          },
          "flatPath": "v3/tagKeys",
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The resource name of the new TagKey's parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListTagKey` that indicates where this listing should continue from.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of TagKeys to return in the response. The server allows a maximum of 300 TagKeys to return. If unspecified, the server will use 100 as the default.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Lists all TagKeys for a parent resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/tagKeys",
          "id": "cloudresourcemanager.tagKeys.list"
        },
        "delete": {
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a TagKey. The TagKey cannot be deleted if it has any child TagValues.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}",
          "parameters": {
            "validateOnly": {
              "description": "Optional. Set as true to perform validations necessary for deletion, but not actually perform the action.",
              "type": "boolean",
              "location": "query"
            },
            "etag": {
              "location": "query",
              "type": "string",
              "description": "Optional. The etag known to the client for the expected state of the TagKey. This is to be used for optimistic concurrency."
            },
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^tagKeys/[^/]+$",
              "description": "Required. The resource name of a TagKey to be deleted in the format `tagKeys/123`. The TagKey cannot be a parent of any existing TagValues or it will not be deleted successfully.",
              "required": true
            }
          },
          "id": "cloudresourcemanager.tagKeys.delete",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "response": {
            "$ref": "TagKey"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. A resource name in the format `tagKeys/{id}`, such as `tagKeys/123`.",
              "pattern": "^tagKeys/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "description": "Retrieves a TagKey. This method will return `PERMISSION_DENIED` if the key does not exist or the user does not have permission to view it.",
          "id": "cloudresourcemanager.tagKeys.get"
        }
      }
    },
    "tagBindings": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}",
          "description": "Deletes a TagBinding.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the TagBinding. This is a String of the form: `tagBindings/{id}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
              "required": true,
              "pattern": "^tagBindings/.*$",
              "location": "path"
            }
          },
          "flatPath": "v3/tagBindings/{tagBindingsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.tagBindings.delete"
        },
        "list": {
          "path": "v3/tagBindings",
          "description": "Lists the TagBindings for the given cloud resource, as specified with `parent`. NOTE: The `parent` field is expected to be a full resource name: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.tagBindings.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListTagBindings` that indicates where this listing should continue from."
            },
            "pageSize": {
              "description": "Optional. The maximum number of TagBindings to return in the response. The server allows a maximum of 300 TagBindings to return. If unspecified, the server will use 100 as the default.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "description": "Required. The full resource name of a resource for which you want to list existing TagBindings. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\"",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListTagBindingsResponse"
          },
          "flatPath": "v3/tagBindings",
          "httpMethod": "GET"
        },
        "create": {
          "parameters": {
            "validateOnly": {
              "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "cloudresourcemanager.tagBindings.create",
          "flatPath": "v3/tagBindings",
          "request": {
            "$ref": "TagBinding"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a TagBinding between a TagValue and a cloud resource (currently project, folder, or organization).",
          "parameterOrder": [],
          "path": "v3/tagBindings",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "Organization"
          },
          "id": "cloudresourcemanager.organizations.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v3/organizations/{organizationsId}",
          "description": "Fetches an Organization resource identified by the specified resource name.",
          "path": "v3/{+name}"
        },
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v3/{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified Organization. The `resource` field should be the organization's resource name, e.g. \"organizations/123\". There are no permissions required for making this API call.",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "id": "cloudresourcemanager.organizations.testIamPermissions",
          "httpMethod": "POST",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "flatPath": "v3/organizations/{organizationsId}:testIamPermissions"
        },
        "search": {
          "parameters": {
            "query": {
              "description": "Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of Organizations to return in the response. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "parameterOrder": [],
          "id": "cloudresourcemanager.organizations.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/organizations:search",
          "description": "Searches Organization resources that are visible to the user and satisfy the specified filter. This method returns Organizations in an unspecified order. New Organizations do not necessarily appear at the end of the results, and may take a small amount of time to appear. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get`",
          "flatPath": "v3/organizations:search",
          "httpMethod": "GET"
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for an Organization resource. May be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, e.g. \"organizations/123\". Authorization requires the Google IAM permission `resourcemanager.organizations.getIamPolicy` on the specified organization",
          "id": "cloudresourcemanager.organizations.getIamPolicy",
          "flatPath": "v3/organizations/{organizationsId}:getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+resource}:getIamPolicy"
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on an Organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, e.g. \"organizations/123\". Authorization requires the Google IAM permission `resourcemanager.organizations.setIamPolicy` on the specified organization",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.organizations.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "v3/organizations/{organizationsId}:setIamPolicy",
          "path": "v3/{+resource}:setIamPolicy"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.operations.get",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource."
            }
          },
          "httpMethod": "GET",
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/operations/{operationsId}"
        }
      }
    },
    "projects": {
      "methods": {
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "cloudresourcemanager.projects.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "path": "v3/{+resource}:testIamPermissions",
          "flatPath": "v3/projects/{projectsId}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "description": "Returns permissions that a caller has on the specified Project."
        },
        "list": {
          "description": "Lists Projects that are direct children of the specified folder or organization resource. List provides a strongly consistent view of the Projects underneath the specified parent resource. List returns Projects sorted based upon the (ascending) lexical ordering of their `display_name`. The caller must have `resourcemanager.projects.list` permission on the identified parent.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListProjectsResponse"
          },
          "path": "v3/projects",
          "id": "cloudresourcemanager.projects.list",
          "flatPath": "v3/projects",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "showDeleted": {
              "description": "Optional. Indicate that Projects in the `DELETE_REQUESTED` state should also be returned. Normally only `ACTIVE` projects are returned.",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of Projects to return in the response. The server can return fewer Projects than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.",
              "type": "string"
            },
            "parent": {
              "description": "Required. The name of the parent resource to list projects under. For example, setting this field to 'folders/1234' would list all projects directly under that folder.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "setIamPolicy": {
          "description": "Sets the IAM access control policy for the specified Project. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. NOTE: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited via Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + Invitations to grant the owner role cannot be sent using `setIamPolicy()`; they must be sent only using the Cloud Platform Console. + Membership changes that leave the project without any owners that have accepted the Terms of Service (ToS) will be rejected. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. + Calling this method requires enabling the App Engine Admin API.",
          "flatPath": "v3/projects/{projectsId}:setIamPolicy",
          "path": "v3/{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.projects.setIamPolicy"
        },
        "search": {
          "path": "v3/projects:search",
          "description": "Search for Projects that the caller has the `resourcemanager.projects.get` permission on and satisfy the specified query. This method returns Projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method.",
          "parameterOrder": [],
          "flatPath": "v3/projects:search",
          "response": {
            "$ref": "SearchProjectsResponse"
          },
          "id": "cloudresourcemanager.projects.search",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "Optional. A query string for searching for projects that the caller has `resourcemanager.projects.get` permission to. If multiple fields are included in the query, the it will return results that match any of the fields. Some eligible fields are: | Field | Description | |-------------------------|----------------------------------------------| | displayName, name | Filters by displayName. | | parent | Project's parent. (e.g. folders/123, organizations/*) Prefer parent field over parent.type and parent.id. | | parent.type | Parent's type: `folder` or `organization`. | | parent.id | Parent's id number (e.g. 123) | | id, projectId | Filters by projectId. | | state, lifecycleState | Filters by state. | | labels | Filters by label name or value. | | labels. (where *key* is the name of a label) | Filters by label name. | Search expressions are case insensitive. Some examples queries: | Query | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` and its label `size` has the value `big`. | If no query is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of Projects to return in the response. The server can return fewer Projects than requested. If unspecified, server picks an appropriate default."
            }
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/projects/{projectsId}",
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.projects.delete",
          "description": "Marks the Project identified by the specified `name` (for example, `projects/415104041262`) for deletion. This method will only affect the Project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the Project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the Project with GetProject, and the Project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the Project is not retrievable by the GetProject, ListProjects, and SearchProjects methods. This method behaves idempotently (eg., deleting a `DELETE_REQUESTED` project will not be an error, but also won't do anything). The caller must have delete permissions for this Project.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the Project (for example, `projects/415104041262`).",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            }
          }
        },
        "undelete": {
          "path": "v3/{+name}:undelete",
          "request": {
            "$ref": "UndeleteProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the Project (for example, `projects/415104041262`). Required.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "description": "Restores the Project identified by the specified `name` (for example, `projects/415104041262`). You can only use this method for a Project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the Project cannot be restored. The caller must have undelete permissions for this Project.",
          "flatPath": "v3/projects/{projectsId}:undelete",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.projects.undelete"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/projects/{projectsId}:getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "v3/{+resource}:getIamPolicy",
          "id": "cloudresourcemanager.projects.getIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "description": "Returns the IAM access control policy for the specified Project. Permission is denied if the policy or the resource does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "id": "cloudresourcemanager.projects.create",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Project"
          },
          "parameterOrder": [],
          "flatPath": "v3/projects",
          "path": "v3/projects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Request that a new Project be created. The result is an Operation which can be used to track the creation process. This process usually takes a few seconds, but can sometimes take much longer. The tracking Operation is automatically deleted after a few hours, so there is no need to call DeleteOperation."
        },
        "move": {
          "description": "Move a Project under a new resource parent. Returns an operation which can be used to track the process of the Project move workflow. Upon success, the Operation.response field will be populated with the moved Project. The caller must have `resourcemanager.projects.update` permission on the Project and have `resourcemanager.projects.move` permission on the Project's current and proposed new parent. ",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/projects/{projectsId}:move",
          "httpMethod": "POST",
          "id": "cloudresourcemanager.projects.move",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the project to move."
            }
          },
          "request": {
            "$ref": "MoveProjectRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/{+name}:move",
          "parameterOrder": [
            "name"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Project"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.projects.patch",
          "description": "Updates the attributes of the Project identified by the specified `name` (for example, `projects/415104041262`). At present this is only useful for updating the display_name and labels. Deleting all labels requires an update mask for labels field. The caller must have modify permissions for this Project.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Output only. The unique resource name of the Project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. An update mask to selectively update fields.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v3/projects/{projectsId}",
          "httpMethod": "PATCH"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "cloudresourcemanager.projects.get",
          "response": {
            "$ref": "Project"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "description": "Required. The name of the project (for example, `projects/415104041262`).",
              "required": true
            }
          },
          "description": "Retrieves the Project identified by the specified `name` (for example, `projects/415104041262`). The caller must have read permissions for this Project.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v3/projects/{projectsId}",
          "path": "v3/{+name}"
        }
      }
    },
    "folders": {
      "methods": {
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.folders.testIamPermissions",
          "path": "v3/{+resource}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "v3/folders/{foldersId}:testIamPermissions",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
            }
          },
          "description": "Returns permissions that a caller has on the specified Folder. The `resource` field should be the Folder's resource name, e.g. \"folders/1234\". There are no permissions required for making this API call.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "description": "Sets the access control policy on a Folder, replacing any existing policy. The `resource` field should be the Folder's resource name, e.g. \"folders/1234\". The caller must have `resourcemanager.folders.setIamPolicy` permission on the identified folder.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "path": "v3/{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.folders.setIamPolicy",
          "flatPath": "v3/folders/{foldersId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "move": {
          "description": "Moves a Folder under a new resource parent. Returns an Operation which can be used to track the progress of the folder move workflow. Upon success the Operation.response field will be populated with the moved Folder. Upon failure, a FolderOperationError categorizing the failure cause will be returned - if the failure occurs synchronously then the FolderOperationError will be returned via the Status.details field and if it occurs asynchronously then the FolderOperation will be returned via the Operation.error field. In addition, the Operation.metadata field will be populated with a FolderOperation message as an aid to stateless clients. Folder moves will be rejected if they violate either the naming, height or fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.move` permission on the folder's current and proposed new parent.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the Folder to move. Must be of the form folders/{folder_id}",
              "required": true,
              "pattern": "^folders/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "MoveFolderRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "cloudresourcemanager.folders.move",
          "path": "v3/{+name}:move",
          "flatPath": "v3/folders/{foldersId}:move",
          "parameterOrder": [
            "name"
          ]
        },
        "search": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "cloudresourcemanager.folders.search",
          "path": "v3/folders:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "SearchFoldersResponse"
          },
          "flatPath": "v3/folders:search",
          "description": "Search for folders that match specific filter criteria. Search provides an eventually consistent view of the folders a user has access to which meet the specified filter criteria. This will only return folders on which the caller has the permission `resourcemanager.folders.get`.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `SearchFolders` that indicates from where search should continue.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of folders to return in the response. If unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Optional. Search criteria used to select the Folders to return. If no search criteria is specified then all accessible folders will be returned. Query expressions can be used to restrict results based upon displayName, state and parent, where the operators `=` (`:`) `NOT`, `AND` and `OR` can be used along with the suffix wildcard symbol `*`. The displayName field in a query expression should use escaped quotes for values that include whitespace to prevent unexpected behavior. | Field | Description | |-------------------------|----------------------------------------| | displayName | Filters by displayName. | | parent | Filters by parent (e.g. folders/123). | | state, lifecycleState | Filters by state. | Some example queries are: * Query `displayName=Test*` returns Folder resources whose display name starts with \"Test\". * Query `state=ACTIVE` returns Folder resources with `state` set to `ACTIVE`. * Query `parent=folders/123` returns Folder resources that have `folders/123` as a parent resource. * Query `parent=folders/123 AND state=ACTIVE` returns active Folder resources that have `folders/123` as a parent resource. * Query `displayName=\\\\\"Test String\\\\\"` returns Folder resources with display names that include both \"Test\" and \"String\"."
            }
          }
        },
        "undelete": {
          "request": {
            "$ref": "UndeleteFolderRequest"
          },
          "path": "v3/{+name}:undelete",
          "flatPath": "v3/folders/{foldersId}:undelete",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the Folder to undelete. Must be of the form `folders/{folder_id}`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Cancels the deletion request for a Folder. This method may be called on a Folder in any state. If Folder is in ACTIVE state the result will be a no-op success. In order to succeed, the Folder's parent must be in the ACTIVE state. In addition, reintroducing the folder into the tree must not violate folder naming, height and fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.undelete` permission on the identified folder.",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.folders.undelete",
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "flatPath": "v3/folders/{foldersId}",
          "id": "cloudresourcemanager.folders.delete",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+$",
              "description": "Required. The resource name of the Folder to be deleted. Must be of the form `folders/{folder_id}`.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Requests deletion of a Folder. The Folder is moved into the DELETE_REQUESTED state immediately, and is deleted approximately 30 days later. This method may only be called on an empty Folder, where a Folder is empty if it doesn't contain any Folders or Projects in the ACTIVE state. If called on a folder in DELETE_REQUESTED state the result will be a no-op success. The caller must have `resourcemanager.folders.delete` permission on the identified folder.",
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "v3/folders/{foldersId}",
          "parameters": {
            "updateMask": {
              "description": "Required. Fields to be updated. Only the `display_name` can be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^folders/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Output only. The resource name of the Folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\"."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates a Folder, changing its display_name. Changes to the folder display_name will be rejected if they violate either the display_name formatting rules or naming constraints described in the CreateFolder documentation. The Folder's display_name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be between 3 and 30 characters. This is captured by the regular expression: `\\p{L}\\p{N}{1,28}[\\p{L}\\p{N}]`. The caller must have `resourcemanager.folders.update` permission on the identified folder. If the update fails due to the unique name constraint then a PreconditionFailure explaining this violation will be returned in the Status.details field.",
          "path": "v3/{+name}",
          "request": {
            "$ref": "Folder"
          },
          "id": "cloudresourcemanager.folders.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "path": "v3/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a Folder identified by the supplied resource name. Valid Folder resource names have the format `folders/{folder_id}` (for example, `folders/1234`). The caller must have `resourcemanager.folders.get` permission on the identified folder.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.folders.get",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the Folder to retrieve. Must be of the form `folders/{folder_id}`."
            }
          },
          "flatPath": "v3/folders/{foldersId}",
          "response": {
            "$ref": "Folder"
          }
        },
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v3/folders",
          "description": "Lists the Folders that are direct descendants of supplied parent resource. List provides a strongly consistent view of the Folders underneath the specified parent resource. List returns Folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent.",
          "id": "cloudresourcemanager.folders.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/folders",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from."
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Controls whether Folders in the DELETE_REQUESTED state should be returned. Defaults to false."
            },
            "parent": {
              "location": "query",
              "description": "Required. The resource name of the Organization or Folder whose Folders are being listed. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of Folders to return in the response. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListFoldersResponse"
          }
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "Folder"
          },
          "id": "cloudresourcemanager.folders.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/folders",
          "httpMethod": "POST",
          "description": "Creates a Folder in the resource hierarchy. Returns an Operation which can be used to track the progress of the folder creation workflow. Upon success the Operation.response field will be populated with the created Folder. In order to succeed, the addition of this new Folder must not violate the Folder naming, height or fanout constraints. + The Folder's display_name must be distinct from all other Folders that share its parent. + The addition of the Folder must not cause the active Folder hierarchy to exceed a height of 10. Note, the full active + deleted Folder hierarchy is allowed to reach a height of 20; this provides additional headroom when moving folders that contain deleted folders. + The addition of the Folder must not cause the total number of Folders under its parent to exceed 300. If the operation fails due to a folder constraint violation, some errors may be returned by the CreateFolder request, with status code FAILED_PRECONDITION and an error description. Other folder constraint violations will be communicated in the Operation, with the specific PreconditionFailure returned via the details list in the Operation.error field. The caller must have `resourcemanager.folders.create` permission on the identified parent.",
          "path": "v3/folders"
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a Folder. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the Folder's resource name, e.g. \"folders/1234\". The caller must have `resourcemanager.folders.getIamPolicy` permission on the identified folder.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.folders.getIamPolicy",
          "flatPath": "v3/folders/{foldersId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "path": "v3/{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "pattern": "^folders/[^/]+$"
            }
          }
        }
      }
    },
    "tagValues": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "TagValue"
          },
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.tagValues.get",
          "description": "Retrieves TagValue. If the TagValue or namespaced name does not exist, or if the user does not have permission to view it, this method will return `PERMISSION_DENIED`.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Resource name for TagValue to be fetched in the format `tagValues/456`.",
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "v3/tagValues/{tagValuesId}"
        },
        "create": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.create",
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set as true to perform the validations necessary for creating the resource, but not actually perform the action."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TagValue"
          },
          "httpMethod": "POST",
          "flatPath": "v3/tagValues",
          "description": "Creates a TagValue as a child of the specified TagKey. If a another request with the same parameters is sent while the original request is in process the second request will receive an error. A maximum of 300 TagValues can exist under a TagKey at any given time.",
          "path": "v3/tagValues"
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a TagValue. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have the `cloudresourcemanager.googleapis.com/tagValues.getIamPolicy` permission on the identified TagValue to get the access control policy.",
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^tagValues/[^/]+$",
              "location": "path"
            }
          },
          "id": "cloudresourcemanager.tagValues.getIamPolicy",
          "path": "v3/{+resource}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "flatPath": "v3/tagValues/{tagValuesId}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ]
        },
        "list": {
          "description": "Lists all TagValues for a specific TagKey.",
          "httpMethod": "GET",
          "flatPath": "v3/tagValues",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `ListTagValues` that indicates where this listing should continue from."
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of TagValues to return in the response. The server allows a maximum of 300 TagValues to return. If unspecified, the server will use 100 as the default.",
              "format": "int32",
              "location": "query"
            },
            "parent": {
              "description": "Required. Resource name for TagKey, parent of the TagValues to be listed, in the format `tagKeys/123`.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListTagValuesResponse"
          },
          "id": "cloudresourcemanager.tagValues.list",
          "path": "v3/tagValues",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "description": "Deletes a TagValue. The TagValue cannot have any bindings when it is deleted.",
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.tagValues.delete",
          "flatPath": "v3/tagValues/{tagValuesId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "etag": {
              "type": "string",
              "description": "Optional. The etag known to the client for the expected state of the TagValue. This is to be used for optimistic concurrency.",
              "location": "query"
            },
            "name": {
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "description": "Required. Resource name for TagValue to be deleted in the format tagValues/456.",
              "required": true,
              "type": "string"
            },
            "validateOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set as true to perform the validations necessary for deletion, but not actually perform the action."
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "TagValue"
          },
          "flatPath": "v3/tagValues/{tagValuesId}",
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.tagValues.patch",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "updateMask": {
              "description": "Optional. Fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. True to perform validations necessary for updating the resource, but not actually perform the action."
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^tagValues/[^/]+$",
              "description": "Immutable. Resource name for TagValue in the format `tagValues/456`.",
              "location": "path"
            }
          },
          "description": "Updates the attributes of the TagValue resource.",
          "httpMethod": "PATCH"
        },
        "testIamPermissions": {
          "flatPath": "v3/tagValues/{tagValuesId}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "path": "v3/{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified TagValue. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. There are no permissions required for making this API call.",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "cloudresourcemanager.tagValues.testIamPermissions"
        },
        "setIamPolicy": {
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on a TagValue, replacing any existing policy. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have `resourcemanager.tagValues.setIamPolicy` permission on the identified tagValue.",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "cloudresourcemanager.tagValues.setIamPolicy",
          "path": "v3/{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "flatPath": "v3/tagValues/{tagValuesId}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ]
        }
      }
    },
    "liens": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/liens",
          "request": {
            "$ref": "Lien"
          },
          "response": {
            "$ref": "Lien"
          },
          "path": "v3/liens",
          "parameters": {},
          "id": "cloudresourcemanager.liens.create",
          "parameterOrder": [],
          "description": "Create a Lien which applies to the resource denoted by the `parent` field. Callers of this method will require permission on the `parent` resource. For example, applying to `projects/1234` requires permission `resourcemanager.projects.updateLiens`. NOTE: Some resources may limit the number of Liens which may be applied.",
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v3/liens",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous List request, if any.",
              "location": "query"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The name of the resource to list all attached Liens. For example, `projects/1234`. (google.api.field_policy).resource_type annotation is not set since the parent depends on the meta api implementation. This field could be a project or other sub project resources."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of items to return. This is a suggestion for the server.",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "v3/liens",
          "response": {
            "$ref": "ListLiensResponse"
          },
          "description": "List all Liens applied to the `parent` resource. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.liens.list"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^liens/.*$",
              "type": "string",
              "description": "Required. The name/identifier of the Lien.",
              "required": true
            }
          },
          "id": "cloudresourcemanager.liens.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+name}",
          "flatPath": "v3/liens/{liensId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Retrieve a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`",
          "response": {
            "$ref": "Lien"
          }
        },
        "delete": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name/identifier of the Lien to delete.",
              "pattern": "^liens/.*$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "id": "cloudresourcemanager.liens.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Delete a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.updateLiens`.",
          "flatPath": "v3/liens/{liensId}",
          "path": "v3/{+name}"
        }
      }
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "name": "cloudresourcemanager",
  "schemas": {
    "DeleteFolderMetadata": {
      "properties": {},
      "id": "DeleteFolderMetadata",
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteFolder."
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListFoldersResponse": {
      "description": "The ListFolders response message.",
      "id": "ListFoldersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListFolders` that indicates from where listing should continue."
        },
        "folders": {
          "description": "A possibly paginated list of Folders that are direct descendants of the specified parent resource.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateTagKeyMetadata": {
      "id": "CreateTagKeyMetadata",
      "description": "Runtime operation information for creating a TagKey.",
      "properties": {},
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FolderOperationError": {
      "properties": {
        "errorMessageId": {
          "type": "string",
          "description": "The type of operation error experienced.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ],
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder display_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth constraint."
          ]
        }
      },
      "description": "A classification of the Folder Operation error.",
      "id": "FolderOperationError",
      "type": "object"
    },
    "DeleteTagValueMetadata": {
      "description": "Runtime operation information for deleting a TagValue.",
      "properties": {},
      "type": "object",
      "id": "DeleteTagValueMetadata"
    },
    "DeleteProjectMetadata": {
      "properties": {},
      "id": "DeleteProjectMetadata",
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteProject."
    },
    "ProjectCreationStatus": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "id": "ProjectCreationStatus",
      "type": "object",
      "properties": {
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation time of the project creation workflow."
        },
        "gettable": {
          "type": "boolean",
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete."
        }
      }
    },
    "MoveProjectMetadata": {
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by MoveProject.",
      "id": "MoveProjectMetadata",
      "properties": {}
    },
    "UpdateTagKeyMetadata": {
      "description": "Runtime operation information for updating a TagKey.",
      "type": "object",
      "id": "UpdateTagKeyMetadata",
      "properties": {}
    },
    "UpdateProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject.",
      "id": "UpdateProjectMetadata",
      "properties": {},
      "type": "object"
    },
    "SearchOrganizationsResponse": {
      "id": "SearchOrganizationsResponse",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "type": "array",
          "description": "The list of Organizations that matched the search query, possibly paginated."
        },
        "nextPageToken": {
          "description": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results.",
          "type": "string"
        }
      },
      "description": "The response returned from the `SearchOrganizations` method.",
      "type": "object"
    },
    "SearchProjectsResponse": {
      "properties": {
        "projects": {
          "items": {
            "$ref": "Project"
          },
          "description": "The list of Projects that matched the list filter query. This list can be paginated.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchProjectsResponse",
      "description": "A page of the response received from the SearchProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "TagBinding": {
      "id": "TagBinding",
      "description": "A TagBinding represents a connection between a TagValue and a cloud resource (currently project, folder, or organization). Once a TagBinding is created, the TagValue is applied to all the descendants of the cloud resource.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The full resource name of the resource the TagValue is bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the TagBinding. This is a String of the form: `tagBindings/{full-resource-name}/{tag-value-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`)."
        },
        "tagValue": {
          "description": "The TagValue of the TagBinding. Must be of the form `tagValues/456`.",
          "type": "string"
        }
      }
    },
    "MoveProjectRequest": {
      "type": "object",
      "id": "MoveProjectRequest",
      "description": "The request sent to MoveProject method.",
      "properties": {
        "destinationParent": {
          "description": "Required. The new parent to move the Project under.",
          "type": "string"
        }
      }
    },
    "UndeleteProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteProject.",
      "id": "UndeleteProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "DeleteOrganizationMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteOrganization.",
      "type": "object",
      "id": "DeleteOrganizationMetadata",
      "properties": {}
    },
    "ListProjectsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
        },
        "projects": {
          "items": {
            "$ref": "Project"
          },
          "type": "array",
          "description": "The list of Projects under the parent. This list can be paginated."
        }
      },
      "description": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page. NOTE: A response may contain fewer elements than the request `page_size` and still have a `next_page_token`.",
      "id": "ListProjectsResponse",
      "type": "object"
    },
    "TagValue": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. User-assigned description of the TagValue. Must not exceed 256 characters. Read-write."
        },
        "namespacedName": {
          "type": "string",
          "description": "Output only. Namespaced name of the TagValue. Must be in the format `{organization_id}/{tag_key_short_name}/{short_name}`.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time."
        },
        "createTime": {
          "description": "Output only. Creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagValueRequest for details."
        },
        "parent": {
          "description": "Immutable. The resource name of the new TagValue's parent TagKey. Must be of the form `tagKeys/{tag_key_id}`.",
          "type": "string"
        },
        "shortName": {
          "type": "string",
          "description": "Required. Immutable. User-assigned short name for TagValue. The short name should be unique for TagValues within the same parent TagKey. The short name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "name": {
          "description": "Immutable. Resource name for TagValue in the format `tagValues/456`.",
          "type": "string"
        }
      },
      "id": "TagValue",
      "description": "A TagValue is a child of a particular TagKey. This is used to group cloud resources for the purpose of controlling them using policies.",
      "type": "object"
    },
    "MoveFolderRequest": {
      "type": "object",
      "id": "MoveFolderRequest",
      "description": "The MoveFolder request message.",
      "properties": {
        "destinationParent": {
          "description": "Required. The resource name of the Folder or Organization to reparent the folder under. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.",
          "type": "string"
        }
      }
    },
    "CreateTagValueMetadata": {
      "id": "CreateTagValueMetadata",
      "type": "object",
      "properties": {},
      "description": "Runtime operation information for creating a TagValue."
    },
    "SearchFoldersResponse": {
      "description": "The response message for searching folders.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue."
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "A possibly paginated folder search results. the specified parent resource."
        }
      },
      "id": "SearchFoldersResponse"
    },
    "DeleteTagKeyMetadata": {
      "id": "DeleteTagKeyMetadata",
      "description": "Runtime operation information for deleting a TagKey.",
      "type": "object",
      "properties": {}
    },
    "UndeleteFolderMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteFolder.",
      "type": "object",
      "id": "UndeleteFolderMetadata",
      "properties": {}
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "description": "The type of this operation.",
          "type": "string"
        }
      },
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation",
      "type": "object",
      "description": "Metadata describing a long running folder operation"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "type": "object",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "type": "string",
          "description": "The type of this operation."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        }
      },
      "description": "Metadata describing a long running folder operation",
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
[...]
