{
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "cloudresourcemanager",
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "protocol": "rest",
  "id": "cloudresourcemanager:v3",
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "schemas": {
    "TagValue": {
      "type": "object",
      "description": "A TagValue is a child of a particular TagKey. This is used to group cloud resources for the purpose of controlling them using policies.",
      "id": "TagValue",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Resource name for TagValue in the format `tagValues/456`."
        },
        "description": {
          "description": "Optional. User-assigned description of the TagValue. Must not exceed 256 characters. Read-write.",
          "type": "string"
        },
        "parent": {
          "description": "Immutable. The resource name of the new TagValue's parent TagKey. Must be of the form `tagKeys/{tag_key_id}`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "type": "string",
          "readOnly": true
        },
        "shortName": {
          "type": "string",
          "description": "Required. Immutable. User-assigned short name for TagValue. The short name should be unique for TagValues within the same parent TagKey. The short name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "createTime": {
          "description": "Output only. Creation time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "namespacedName": {
          "type": "string",
          "description": "Output only. Namespaced name of the TagValue. Must be in the format `{organization_id}/{tag_key_short_name}/{short_name}`.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagValueRequest for details."
        }
      }
    },
    "UndeleteProjectMetadata": {
      "properties": {},
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteProject.",
      "id": "UndeleteProjectMetadata"
    },
    "ListFoldersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListFolders` that indicates from where listing should continue.",
          "type": "string"
        },
        "folders": {
          "type": "array",
          "description": "A possibly paginated list of Folders that are direct descendants of the specified parent resource.",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "description": "The ListFolders response message.",
      "id": "ListFoldersResponse"
    },
    "DeleteTagValueMetadata": {
      "description": "Runtime operation information for deleting a TagValue.",
      "id": "DeleteTagValueMetadata",
      "properties": {},
      "type": "object"
    },
    "SearchFoldersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue.",
          "type": "string"
        },
        "folders": {
          "description": "A possibly paginated folder search results. the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "description": "The response message for searching folders.",
      "type": "object",
      "id": "SearchFoldersResponse"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "TagKey": {
      "id": "TagKey",
      "description": "A TagKey, used to group a set of TagValues.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. User-assigned description of the TagKey. Must not exceed 256 characters. Read-write.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. The resource name of the new TagKey's parent. Must be of the form `organizations/{org_id}`."
        },
        "shortName": {
          "description": "Required. Immutable. The user friendly name for a TagKey. The short name should be unique for TagKeys within the same tag namespace. The short name must be 1-63 characters, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "string"
        },
        "namespacedName": {
          "description": "Output only. Immutable. Namespaced name of the TagKey.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time."
        },
        "etag": {
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagKeyRequest for details.",
          "type": "string"
        }
      }
    },
    "ListTagBindingsResponse": {
      "description": "The ListTagBindings response.",
      "id": "ListTagBindingsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListTagBindings` that indicates from where listing should continue."
        },
        "tagBindings": {
          "items": {
            "$ref": "TagBinding"
          },
          "type": "array",
          "description": "A possibly paginated list of TagBindings for the specified TagValue or resource."
        }
      }
    },
    "SearchOrganizationsResponse": {
      "type": "object",
      "id": "SearchOrganizationsResponse",
      "properties": {
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The list of Organizations that matched the search query, possibly paginated."
        },
        "nextPageToken": {
          "description": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results.",
          "type": "string"
        }
      },
      "description": "The response returned from the `SearchOrganizations` method."
    },
    "UndeleteFolderRequest": {
      "description": "The UndeleteFolder request message.",
      "id": "UndeleteFolderRequest",
      "properties": {},
      "type": "object"
    },
    "ListProjectsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        },
        "projects": {
          "items": {
            "$ref": "Project"
          },
          "type": "array",
          "description": "The list of Projects under the parent. This list can be paginated."
        }
      },
      "id": "ListProjectsResponse",
      "type": "object",
      "description": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page. NOTE: A response may contain fewer elements than the request `page_size` and still have a `next_page_token`."
    },
    "CreateTagValueMetadata": {
      "id": "CreateTagValueMetadata",
      "properties": {},
      "type": "object",
      "description": "Runtime operation information for creating a TagValue."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "UndeleteFolderMetadata": {
      "properties": {},
      "id": "UndeleteFolderMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteFolder.",
      "type": "object"
    },
    "MoveProjectMetadata": {
      "id": "MoveProjectMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by MoveProject.",
      "properties": {},
      "type": "object"
    },
    "Folder": {
      "description": "A Folder in an Organization's resource hierarchy, used to organize that Organization's resources.",
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp when the Folder was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "The folder's display name. A folder's display name must be unique amongst its siblings, e.g. no two folders with the same parent can share the same display name. The display name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be no longer than 30 characters. This is captured by the regular expression: `[\\p{L}\\p{N}]([\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the Folder was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the Folder was requested to be deleted."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The normal and active state.",
            "The folder has been marked for deletion by the user."
          ],
          "description": "Output only. The lifecycle state of the folder. Updates to the state must be performed via DeleteFolder and UndeleteFolder.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the Folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
          "readOnly": true
        },
        "parent": {
          "description": "Required. The Folder's parent's resource name. Updates to the folder's parent must be performed via MoveFolder.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. A checksum computed by the server based on the current value of the Folder resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Folder"
    },
    "CreateFolderMetadata": {
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "parent": {
          "description": "The resource name of the folder or organization we are creating the folder under.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateFolderMetadata",
      "description": "Metadata pertaining to the Folder creation process."
    },
    "MoveFolderMetadata": {
      "type": "object",
      "id": "MoveFolderMetadata",
      "description": "Metadata pertaining to the Folder move process.",
      "properties": {
        "sourceParent": {
          "description": "The resource name of the folder's parent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization to move the folder to."
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Lien": {
      "id": "Lien",
      "type": "object",
      "description": "A Lien represents an encumbrance on the actions that can be performed on a resource.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Concise user-visible strings indicating why an action cannot be performed on a resource. Maximum length of 200 characters. Example: 'Holds production API key'"
        },
        "restrictions": {
          "description": "The types of operations which should be blocked as a result of this Lien. Each value should correspond to an IAM permission. The server will validate the permissions against those for which Liens are supported. An empty list is meaningless and will be rejected. Example: ['resourcemanager.projects.delete']",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of this Lien."
        },
        "name": {
          "type": "string",
          "description": "A system-generated unique identifier for this Lien. Example: `liens/1234abcd`"
        },
        "parent": {
          "type": "string",
          "description": "A reference to the resource this Lien is attached to. The server will validate the parent against those for which Liens are supported. Example: `projects/1234`"
        },
        "origin": {
          "type": "string",
          "description": "A stable, user-visible/meaningful string identifying the origin of the Lien, intended to be inspected programmatically. Maximum length of 200 characters. Example: 'compute.googleapis.com'"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      }
    },
    "DeleteTagKeyMetadata": {
      "type": "object",
      "id": "DeleteTagKeyMetadata",
      "properties": {},
      "description": "Runtime operation information for deleting a TagKey."
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "ListTagValuesResponse": {
      "description": "The ListTagValues response.",
      "type": "object",
      "id": "ListTagValuesResponse",
      "properties": {
        "tagValues": {
          "type": "array",
          "items": {
            "$ref": "TagValue"
          },
          "description": "A possibly paginated list of TagValues that are direct descendants of the specified parent TagKey."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListTagValues` that indicates from where listing should continue. This is currently not used, but the server may at any point start supplying a valid token."
        }
      }
    },
    "UpdateTagKeyMetadata": {
      "description": "Runtime operation information for updating a TagKey.",
      "properties": {},
      "id": "UpdateTagKeyMetadata",
      "type": "object"
    },
    "CreateTagKeyMetadata": {
      "properties": {},
      "id": "CreateTagKeyMetadata",
      "type": "object",
      "description": "Runtime operation information for creating a TagKey."
    },
    "MoveFolderRequest": {
      "type": "object",
      "id": "MoveFolderRequest",
      "description": "The MoveFolder request message.",
      "properties": {
        "destinationParent": {
          "description": "Required. The resource name of the Folder or Organization to reparent the folder under. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.",
          "type": "string"
        }
      }
    },
    "SearchProjectsResponse": {
      "id": "SearchProjectsResponse",
      "properties": {
        "projects": {
          "description": "The list of Projects that matched the list filter query. This list can be paginated.",
          "type": "array",
          "items": {
            "$ref": "Project"
          }
        },
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        }
      },
      "description": "A page of the response received from the SearchProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object"
    },
    "UpdateTagValueMetadata": {
      "properties": {},
      "description": "Runtime operation information for updating a TagValue.",
      "id": "UpdateTagValueMetadata",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Project": {
      "type": "object",
      "id": "Project",
      "description": "A Project is a high-level Google Cloud Platform entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "description": "Output only. The Project lifecycle state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The project has been marked for deletion by the user (by invoking DeleteProject) or by the system (Google Cloud Platform). This can generally be reversed by invoking UndeleteProject."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique resource name of the Project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time this resource was modified.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels associated with this Project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?. Label values must be between 0 and 63 characters long and must conform to the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?. No more than 256 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: `\"myBusinessDimension\" : \"businessValue\"`"
        },
        "displayName": {
          "description": "Optional. A user-assigned display name of the Project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Optional. A reference to a parent Resource. eg., `organizations/123` or `folders/876`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Immutable. The unique, user-assigned id of the Project. It must be 6 to 30 lowercase ASCII letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123`"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this resource was requested for deletion.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A checksum computed by the server based on the current value of the Project resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      }
    },
    "FolderOperationError": {
      "description": "A classification of the Folder Operation error.",
      "id": "FolderOperationError",
      "type": "object",
      "properties": {
        "errorMessageId": {
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder display_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth constraint."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ],
          "description": "The type of operation error experienced."
        }
      }
    },
    "UpdateFolderMetadata": {
      "type": "object",
      "id": "UpdateFolderMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder.",
      "properties": {}
    },
    "ListLiensResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "liens": {
          "description": "A list of Liens.",
          "items": {
            "$ref": "Lien"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Liens.ListLiens.",
      "id": "ListLiensResponse"
    },
    "TagBinding": {
      "properties": {
        "tagValue": {
          "type": "string",
          "description": "The TagValue of the TagBinding. Must be of the form `tagValues/456`."
        },
        "parent": {
          "description": "The full resource name of the resource the TagValue is bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the TagBinding. This is a String of the form: `tagBindings/{full-resource-name}/{tag-value-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A TagBinding represents a connection between a TagValue and a cloud resource (currently project, folder, or organization). Once a TagBinding is created, the TagValue is applied to all the descendants of the cloud resource.",
      "id": "TagBinding"
    },
    "FolderOperation": {
      "id": "FolderOperation",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        }
      },
      "type": "object"
    },
    "CreateProjectMetadata": {
      "type": "object",
      "id": "CreateProjectMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "properties": {
        "ready": {
          "type": "boolean",
          "description": "True if the project creation process is complete."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation time of the project creation workflow."
        },
        "gettable": {
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete.",
          "type": "boolean"
        }
      }
    },
    "UndeleteOrganizationMetadata": {
      "type": "object",
      "properties": {},
      "id": "UndeleteOrganizationMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization."
    },
    "DeleteProjectMetadata": {
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteProject.",
      "type": "object",
      "id": "DeleteProjectMetadata"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members` with a `role`."
    },
    "UpdateProjectMetadata": {
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject.",
      "properties": {},
      "id": "UpdateProjectMetadata"
    },
    "ProjectCreationStatus": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "type": "object",
      "properties": {
        "gettable": {
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete.",
          "type": "boolean"
        },
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Creation time of the project creation workflow.",
          "format": "google-datetime"
        }
      },
      "id": "ProjectCreationStatus"
    },
    "UndeleteProjectRequest": {
      "type": "object",
      "id": "UndeleteProjectRequest",
      "description": "The request sent to the UndeleteProject method.",
      "properties": {}
    },
    "DeleteOrganizationMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteOrganizationMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteOrganization."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation",
      "type": "object",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "operationType": {
          "description": "The type of this operation.",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "type": "string"
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "id": "AuditLogConfig"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation",
      "type": "object",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "type": "string",
          "description": "The type of this operation.",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ]
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        }
      }
    },
    "Organization": {
      "type": "object",
      "properties": {
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the Organization was requested for deletion.",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. A checksum computed by the server based on the current value of the Organization resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state. This is only useful for distinguishing unset values.",
            "The normal and active state.",
            "The Organization has been marked for deletion by the user."
          ],
          "description": "Output only. The organization's current lifecycle state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the Organization was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. A human-readable string that refers to the Organization in the GCP Console UI. This string is set by the server and cannot be changed. The string will be set to the primary domain (for example, \"google.com\") of the G Suite customer that owns the organization.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\".",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the Organization was last modified.",
          "format": "google-datetime"
        },
        "directoryCustomerId": {
          "description": "Immutable. The G Suite / Workspace customer id used in the Directory API.",
          "type": "string"
        }
      },
      "id": "Organization",
      "description": "The root node in the resource hierarchy to which a particular entity's (e.g., company) resources belong."
    },
    "MoveProjectRequest": {
      "description": "The request sent to MoveProject method.",
      "type": "object",
      "properties": {
        "destinationParent": {
          "type": "string",
          "description": "Required. The new parent to move the Project under."
        }
      },
      "id": "MoveProjectRequest"
    },
    "DeleteFolderMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteFolder.",
      "properties": {},
      "type": "object",
      "id": "DeleteFolderMetadata"
    },
    "ListTagKeysResponse": {
      "type": "object",
      "properties": {
        "tagKeys": {
          "type": "array",
          "description": "List of TagKeys that live under the specified parent in the request.",
          "items": {
            "$ref": "TagKey"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListTagKeys` that indicates from where listing should continue.",
          "type": "string"
        }
      },
      "id": "ListTagKeysResponse",
      "description": "The ListTagKeys response message."
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    }
  },
  "version": "v3",
  "servicePath": "",
  "baseUrl": "https://cloudresourcemanager.googleapis.com/",
  "revision": "20210314",
  "title": "Cloud Resource Manager API",
  "canonicalName": "Cloud Resource Manager",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/resource-manager",
  "resources": {
    "organizations": {
      "methods": {
        "search": {
          "id": "cloudresourcemanager.organizations.search",
          "parameterOrder": [],
          "path": "v3/organizations:search",
          "flatPath": "v3/organizations:search",
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "description": "Searches Organization resources that are visible to the user and satisfy the specified filter. This method returns Organizations in an unspecified order. New Organizations do not necessarily appear at the end of the results, and may take a small amount of time to appear. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get`",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "query": {
              "location": "query",
              "description": "Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of Organizations to return in the response. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "description": "Returns permissions that a caller has on the specified Organization. The `resource` field should be the organization's resource name, e.g. \"organizations/123\". There are no permissions required for making this API call.",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.organizations.testIamPermissions",
          "flatPath": "v3/organizations/{organizationsId}:testIamPermissions",
          "path": "v3/{+resource}:testIamPermissions"
        },
        "setIamPolicy": {
          "path": "v3/{+resource}:setIamPolicy",
          "id": "cloudresourcemanager.organizations.setIamPolicy",
          "description": "Sets the access control policy on an Organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, e.g. \"organizations/123\". Authorization requires the Google IAM permission `resourcemanager.organizations.setIamPolicy` on the specified organization",
          "parameters": {
            "resource": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/organizations/{organizationsId}:setIamPolicy"
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "description": "Gets the access control policy for an Organization resource. May be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, e.g. \"organizations/123\". Authorization requires the Google IAM permission `resourcemanager.organizations.getIamPolicy` on the specified organization",
          "id": "cloudresourcemanager.organizations.getIamPolicy",
          "flatPath": "v3/organizations/{organizationsId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/organizations/{organizationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.organizations.get",
          "response": {
            "$ref": "Organization"
          },
          "description": "Fetches an Organization resource identified by the specified resource name."
        }
      }
    },
    "tagValues": {
      "methods": {
        "getIamPolicy": {
          "description": "Gets the access control policy for a TagValue. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have the `cloudresourcemanager.googleapis.com/tagValues.getIamPolicy` permission on the identified TagValue to get the access control policy.",
          "path": "v3/{+resource}:getIamPolicy",
          "flatPath": "v3/tagValues/{tagValuesId}:getIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.tagValues.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "create": {
          "flatPath": "v3/tagValues",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TagValue"
          },
          "description": "Creates a TagValue as a child of the specified TagKey. If a another request with the same parameters is sent while the original request is in process the second request will receive an error. A maximum of 300 TagValues can exist under a TagKey at any given time.",
          "id": "cloudresourcemanager.tagValues.create",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v3/tagValues",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set as true to perform the validations necessary for creating the resource, but not actually perform the action."
            }
          }
        },
        "get": {
          "id": "cloudresourcemanager.tagValues.get",
          "httpMethod": "GET",
          "path": "v3/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^tagValues/[^/]+$",
              "type": "string",
              "description": "Required. Resource name for TagValue to be fetched in the format `tagValues/456`."
            }
          },
          "flatPath": "v3/tagValues/{tagValuesId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TagValue"
          },
          "description": "Retrieves TagValue. If the TagValue or namespaced name does not exist, or if the user does not have permission to view it, this method will return `PERMISSION_DENIED`."
        },
        "delete": {
          "parameters": {
            "etag": {
              "location": "query",
              "description": "Optional. The etag known to the client for the expected state of the TagValue. This is to be used for optimistic concurrency.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. Resource name for TagValue to be deleted in the format tagValues/456.",
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "required": true
            },
            "validateOnly": {
              "location": "query",
              "description": "Optional. Set as true to perform the validations necessary for deletion, but not actually perform the action.",
              "type": "boolean"
            }
          },
          "flatPath": "v3/tagValues/{tagValuesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a TagValue. The TagValue cannot have any bindings when it is deleted.",
          "path": "v3/{+name}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ]
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. Fields to be updated."
            },
            "name": {
              "required": true,
              "pattern": "^tagValues/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Immutable. Resource name for TagValue in the format `tagValues/456`."
            },
            "validateOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. True to perform validations necessary for updating the resource, but not actually perform the action."
            }
          },
          "description": "Updates the attributes of the TagValue resource.",
          "httpMethod": "PATCH",
          "flatPath": "v3/tagValues/{tagValuesId}",
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.patch",
          "request": {
            "$ref": "TagValue"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "v3/{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "v3/tagValues/{tagValuesId}:testIamPermissions",
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified TagValue. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. There are no permissions required for making this API call.",
          "id": "cloudresourcemanager.tagValues.testIamPermissions",
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setIamPolicy": {
          "path": "v3/{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.tagValues.setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "flatPath": "v3/tagValues/{tagValuesId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on a TagValue, replacing any existing policy. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have `resourcemanager.tagValues.setIamPolicy` permission on the identified tagValue."
        },
        "list": {
          "response": {
            "$ref": "ListTagValuesResponse"
          },
          "flatPath": "v3/tagValues",
          "httpMethod": "GET",
          "path": "v3/tagValues",
          "parameterOrder": [],
          "description": "Lists all TagValues for a specific TagKey.",
          "id": "cloudresourcemanager.tagValues.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `ListTagValues` that indicates where this listing should continue from.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of TagValues to return in the response. The server allows a maximum of 300 TagValues to return. If unspecified, the server will use 100 as the default.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "parent": {
              "type": "string",
              "description": "Required. Resource name for TagKey, parent of the TagValues to be listed, in the format `tagKeys/123`.",
              "location": "query"
            }
          }
        }
      }
    },
    "liens": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name/identifier of the Lien.",
              "pattern": "^liens/.*$"
            }
          },
          "flatPath": "v3/liens/{liensId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Retrieve a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`",
          "id": "cloudresourcemanager.liens.get",
          "path": "v3/{+name}",
          "response": {
            "$ref": "Lien"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "Lien"
          },
          "id": "cloudresourcemanager.liens.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/liens",
          "description": "Create a Lien which applies to the resource denoted by the `parent` field. Callers of this method will require permission on the `parent` resource. For example, applying to `projects/1234` requires permission `resourcemanager.projects.updateLiens`. NOTE: Some resources may limit the number of Liens which may be applied.",
          "path": "v3/liens",
          "response": {
            "$ref": "Lien"
          },
          "httpMethod": "POST",
          "parameters": {}
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "Delete a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.updateLiens`.",
          "id": "cloudresourcemanager.liens.delete",
          "flatPath": "v3/liens/{liensId}",
          "path": "v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "name": {
              "pattern": "^liens/.*$",
              "type": "string",
              "location": "path",
              "description": "Required. The name/identifier of the Lien to delete.",
              "required": true
            }
          },
          "httpMethod": "DELETE"
        },
        "list": {
          "path": "v3/liens",
          "description": "List all Liens applied to the `parent` resource. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`.",
          "parameters": {
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous List request, if any.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The name of the resource to list all attached Liens. For example, `projects/1234`. (google.api.field_policy).resource_type annotation is not set since the parent depends on the meta api implementation. This field could be a project or other sub project resources."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of items to return. This is a suggestion for the server.",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListLiensResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v3/liens",
          "id": "cloudresourcemanager.liens.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v3/projects",
          "description": "Request that a new Project be created. The result is an Operation which can be used to track the creation process. This process usually takes a few seconds, but can sometimes take much longer. The tracking Operation is automatically deleted after a few hours, so there is no need to call DeleteOperation.",
          "parameterOrder": [],
          "flatPath": "v3/projects",
          "request": {
            "$ref": "Project"
          },
          "id": "cloudresourcemanager.projects.create",
          "parameters": {},
          "response": {
            "$ref": "Operation"
          }
        },
        "move": {
          "request": {
            "$ref": "MoveProjectRequest"
          },
          "flatPath": "v3/projects/{projectsId}:move",
          "description": "Move a Project under a new resource parent. Returns an operation which can be used to track the process of the Project move workflow. Upon success, the Operation.response field will be populated with the moved Project. The caller must have `resourcemanager.projects.update` permission on the Project and have `resourcemanager.projects.move` permission on the Project's current and proposed new parent. ",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "cloudresourcemanager.projects.move",
          "path": "v3/{+name}:move",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to move.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "undelete": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteProjectRequest"
          },
          "flatPath": "v3/projects/{projectsId}:undelete",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the Project (for example, `projects/415104041262`). Required."
            }
          },
          "id": "cloudresourcemanager.projects.undelete",
          "path": "v3/{+name}:undelete",
          "description": "Restores the Project identified by the specified `name` (for example, `projects/415104041262`). You can only use this method for a Project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the Project cannot be restored. The caller must have undelete permissions for this Project."
        },
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "id": "cloudresourcemanager.projects.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "path": "v3/{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified Project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/projects/{projectsId}:testIamPermissions"
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Returns the IAM access control policy for the specified Project. Permission is denied if the policy or the resource does not exist.",
          "flatPath": "v3/projects/{projectsId}:getIamPolicy",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "required": true
            }
          },
          "id": "cloudresourcemanager.projects.getIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "setIamPolicy": {
          "path": "v3/{+resource}:setIamPolicy",
          "flatPath": "v3/projects/{projectsId}:setIamPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.projects.setIamPolicy",
          "description": "Sets the IAM access control policy for the specified Project. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. NOTE: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited via Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + Invitations to grant the owner role cannot be sent using `setIamPolicy()`; they must be sent only using the Cloud Platform Console. + Membership changes that leave the project without any owners that have accepted the Terms of Service (ToS) will be rejected. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. + Calling this method requires enabling the App Engine Admin API.",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v3/projects/{projectsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.projects.delete",
          "path": "v3/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the Project (for example, `projects/415104041262`).",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Marks the Project identified by the specified `name` (for example, `projects/415104041262`) for deletion. This method will only affect the Project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the Project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the Project with GetProject, and the Project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the Project is not retrievable by the GetProject, ListProjects, and SearchProjects methods. This method behaves idempotently (eg., deleting a `DELETE_REQUESTED` project will not be an error, but also won't do anything). The caller must have delete permissions for this Project."
        },
        "search": {
          "response": {
            "$ref": "SearchProjectsResponse"
          },
          "description": "Search for Projects that the caller has the `resourcemanager.projects.get` permission on and satisfy the specified query. This method returns Projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v3/projects:search",
          "parameters": {
            "query": {
              "description": "Optional. A query string for searching for projects that the caller has `resourcemanager.projects.get` permission to. If multiple fields are included in the query, the it will return results that match any of the fields. Some eligible fields are: | Field | Description | |-------------------------|----------------------------------------------| | displayName, name | Filters by displayName. | | parent.type | Parent's type: `folder` or `organization`. | | parent.id | Parent's id number (e.g. 123) | | parent | Project's parent. (e.g. folders/123, organizations/*) Prefer parent field over parent.id and parent.type. | | id, projectId | Filters by projectId. | | state, lifecycleState | Filters by state. | | labels | Filters by label name or value. | | labels. (where *key* is the name of a label) | Filters by label name. | Search expressions are case insensitive. Some examples queries: | Query | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` and its label `size` has the value `big`. | If no query is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of Projects to return in the response. The server can return fewer Projects than requested. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.projects.search",
          "path": "v3/projects:search"
        },
        "list": {
          "response": {
            "$ref": "ListProjectsResponse"
          },
          "path": "v3/projects",
          "description": "Lists Projects that are direct children of the specified folder or organization resource. List provides a strongly consistent view of the Projects underneath the specified parent resource. List returns Projects sorted based upon the (ascending) lexical ordering of their `display_name`. The caller must have `resourcemanager.projects.list` permission on the identified parent.",
          "flatPath": "v3/projects",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of Projects to return in the response. The server can return fewer Projects than requested. If unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "parent": {
              "type": "string",
              "description": "Required. The name of the parent resource to list projects under. For example, setting this field to 'folders/1234' would list all projects directly under that folder.",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Optional. Indicate that Projects in the `DELETE_REQUESTED` state should also be returned. Normally only `ACTIVE` projects are returned.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue."
            }
          },
          "parameterOrder": [],
          "id": "cloudresourcemanager.projects.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates the attributes of the Project identified by the specified `name` (for example, `projects/415104041262`). At present this is only useful for updating the display_name and labels. Deleting all labels requires an update mask for labels field. The caller must have modify permissions for this Project.",
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Output only. The unique resource name of the Project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. An update mask to selectively update fields."
            }
          },
          "flatPath": "v3/projects/{projectsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.projects.patch",
          "request": {
            "$ref": "Project"
          }
        },
        "get": {
          "description": "Retrieves the Project identified by the specified `name` (for example, `projects/415104041262`). The caller must have read permissions for this Project.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project (for example, `projects/415104041262`).",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "cloudresourcemanager.projects.get",
          "flatPath": "v3/projects/{projectsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}"
        }
      }
    },
    "tagKeys": {
      "methods": {
        "setIamPolicy": {
          "httpMethod": "POST",
          "id": "cloudresourcemanager.tagKeys.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "v3/tagKeys/{tagKeysId}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on a TagKey, replacing any existing policy. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `resourcemanager.tagKeys.setIamPolicy` permission on the identified tagValue.",
          "path": "v3/{+resource}:setIamPolicy",
          "parameters": {
            "resource": {
[...]
