{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "ownerName": "Google",
  "revision": "20210326",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "title": "Cloud Channel API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/channel",
  "basePath": "",
  "version": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "description": "Response Message for UnregisterSubscriber.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Name of the topic the service account subscriber access was removed from.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse"
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "description": "Response message for ListProducts.",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          },
          "description": "List of Products requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListProductsResponse"
    },
    "GoogleCloudChannelV1Period": {
      "type": "object",
      "id": "GoogleCloudChannelV1Period",
      "description": "Represents period in days/months/years.",
      "properties": {
        "duration": {
          "type": "integer",
          "description": "Total duration of Period Type defined.",
          "format": "int32"
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Period Type."
        }
      }
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "id": "GoogleCloudChannelV1ProvisionedService",
      "properties": {
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this would be the underlying Subscription ID.",
          "type": "string",
          "readOnly": true
        },
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        },
        "skuId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "type": "object",
      "description": "Service provisioned for an entitlement."
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "Required. The entitlements to transfer to Google."
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account that provides subscriber access to the registered topic."
        }
      },
      "description": "Request Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1Customer": {
      "properties": {
        "alternateEmail": {
          "type": "string",
          "description": "Secondary contact email. Alternate email and primary contact email are required to have different domains if primary contact email is present. When creating admin.google.com accounts, users get notified credentials at this email. This email address is also used as a recovery email."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the customer is created.",
          "readOnly": true
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer.",
          "type": "string"
        },
        "primaryContactInfo": {
          "$ref": "GoogleCloudChannelV1ContactInfo",
          "description": "Primary contact info."
        },
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the customer is updated."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "readOnly": true
        },
        "orgPostalAddress": {
          "description": "Required. Address of the organization of the customer entity. Region and zip codes are required to enforce US laws and embargoes. Valid address lines are required for all customers. Language code is discarded. Use the Customer-level language code to set the customer's language.",
          "$ref": "GoogleTypePostalAddress"
        },
        "domain": {
          "description": "Required. Primary domain used by the customer. Domain of primary contact email is required to be same as the provided domain.",
          "type": "string"
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Output only. Customer's cloud_identity_id. Populated only if a Cloud Identity resource exists for this customer.",
          "readOnly": true
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "readOnly": true
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Customer",
      "type": "object",
      "description": "Entity representing a customer of a reseller or distributor."
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "id": "GoogleCloudChannelV1OperationMetadata",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "properties": {
        "operationType": {
          "description": "The RPC that initiated this Long Running Operation.",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest"
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "type": "object",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer with parameter constraints updated to allow the Transfer."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferableOffer",
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only."
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order id provided by the reseller."
        },
        "offer": {
          "type": "string",
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Optional. Parameters needed to purchase the Offer.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1ChangeOfferRequest"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase.",
      "properties": {
        "maxValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types."
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type."
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "parameterType": {
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here."
        },
        "optional": {
          "type": "boolean",
          "description": "If set to true, parameter is optional to purchase this Offer."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ParameterDefinition"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page."
        },
        "transferableSkus": {
          "type": "array",
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "description": "Response Message for ListSubscribers.",
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "description": "List of service accounts which have subscriber access to the topic.",
          "items": {
            "type": "string"
          }
        },
        "topic": {
          "type": "string",
          "description": "Name of the topic registered with the reseller."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1PriceByResource": {
      "id": "GoogleCloudChannelV1PriceByResource",
      "type": "object",
      "description": "Represents price by resource type.",
      "properties": {
        "pricePhases": {
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          },
          "type": "array",
          "description": "Specifies the price by time range."
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ],
          "description": "Resource Type. Example: SEAT",
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud Platform, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud Platform.",
            "For Google Cloud Platform subscriptions like Anthos or SAP."
          ]
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the Offer. Present if there are no price phases."
        }
      }
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "purchasableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array",
          "description": "The list of Offers requested."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "description": "Response message for ListPurchasableOffers."
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "properties": {
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Commitment start timestamp.",
          "type": "string"
        }
      },
      "description": "Commitment settings for commitment-based offers.",
      "type": "object",
      "id": "GoogleCloudChannelV1CommitmentSettings"
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks.",
      "properties": {
        "channelPartnerLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          },
          "description": "The Channel partner links for a reseller."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse"
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "properties": {
        "eventType": {
          "description": "Type of event which happened on the customer.",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        }
      },
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1CustomerEvent",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "properties": {
        "cloudIdentityId": {
          "type": "string",
          "description": "Customer's Cloud Identity ID"
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional."
        },
        "customerName": {
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "pageSize": {
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "format": "int32",
          "type": "integer"
        },
        "authToken": {
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional."
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableSkus"
    },
    "GoogleCloudChannelV1alpha1Period": {
      "id": "GoogleCloudChannelV1alpha1Period",
      "properties": {
        "periodType": {
          "type": "string",
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "duration": {
          "format": "int32",
          "type": "integer",
          "description": "Total duration of Period Type defined."
        }
      },
      "description": "Represents period in days/months/years.",
      "type": "object"
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        }
      },
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "type": "object",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "type": "object",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      },
      "description": "Association links that an entitlement has to other entitlements."
    },
    "GoogleTypePostalAddress": {
      "type": "object",
      "id": "GoogleTypePostalAddress",
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an i18n-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32",
          "type": "integer"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire)."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See http://cldr.unicode.org/ and http://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        }
      }
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the channel partner link is updated."
        },
        "resellerCloudIdentityId": {
          "description": "Required. Cloud Identity ID of the linked reseller.",
          "type": "string"
        },
        "linkState": {
          "enumDescriptions": [
            "The state is not specified.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "description": "Required. State of the channel partner link.",
          "type": "string"
        },
        "inviteLinkUri": {
          "type": "string",
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "readOnly": true
        },
        "channelPartnerCloudIdentityInfo": {
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}."
        },
        "publicId": {
          "type": "string",
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "type": "object",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel."
    },
    "GoogleCloudChannelV1alpha1Value": {
      "type": "object",
      "description": "Data type and value of a parameter.",
      "properties": {
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Represents an int64 value."
        }
      },
      "id": "GoogleCloudChannelV1alpha1Value"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "type": "object",
      "properties": {
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent",
          "description": "Entitlement event send as part of Pub/Sub event to partners."
        },
        "customerEvent": {
          "description": "Customer event send as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        }
      },
      "description": "Represents information which resellers will get as part of notification from Cloud Pub/Sub.",
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent"
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "renewalSettings": {
          "description": "Required. New renewal settings.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "description": "Request message for CloudChannelService.ChangeRenewalSettings."
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "properties": {
        "numUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead."
        },
        "maxUnits": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead."
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "type": "string"
        },
        "provisioningState": {
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "readOnly": true
        },
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "readOnly": true,
          "description": "Output only. Settings for trial offers."
        },
        "assignedUnits": {
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead.",
          "format": "int32",
          "type": "integer"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameters' names and values are defined in the offer's parameter definitions.",
          "type": "array"
        },
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the entitlement is updated."
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "items": {
            "enumDescriptions": [
              "Default value. This state doesn't show unless an error occurs.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created.",
          "format": "google-datetime"
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "type": "object",
      "properties": {
        "paymentPlan": {
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        },
        "disableCommitment": {
          "type": "boolean",
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead."
        },
        "paymentOption": {
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "type": "string",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead."
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1alpha1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        }
      },
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1alpha1RenewalSettings"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED"
          ],
          "description": "Type of event which happened on the entitlement.",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user."
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent"
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active."
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1alpha1Value"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Parameter",
      "type": "object",
      "description": "Definition for extended entitlement parameters."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "id": "GoogleCloudChannelV1TransferEligibility",
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU.",
      "properties": {
        "ineligibilityReason": {
          "description": "Specified the reason for ineligibility.",
          "enumDescriptions": [
            "Reason is not available.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Localized description if reseller is not eligible to transfer the SKU."
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "type": "object",
      "description": "Represents Pub/Sub message content describing customer update.",
      "properties": {
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "description": "Type of event which happened on the customer."
        },
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        }
      }
    },
    "GoogleCloudChannelV1Sku": {
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        },
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        }
      },
      "id": "GoogleCloudChannelV1Sku"
    },
    "GoogleCloudChannelV1PricePhase": {
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "properties": {
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "type": "array",
          "description": "Price by the resource tiers."
        },
        "firstPeriod": {
          "format": "int32",
          "type": "integer",
          "description": "Defines first period for the phase."
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Defines the phase period type."
        },
        "price": {
          "description": "Price of the phase. Present if there are no price tiers.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "lastPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Defines first period for the phase."
        }
      },
      "id": "GoogleCloudChannelV1PricePhase",
      "type": "object"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "properties": {
        "domain": {
          "description": "Required. Domain to fetch for Cloud Identity account customer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferableSku",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only.",
      "properties": {
        "transferEligibility": {
          "$ref": "GoogleCloudChannelV1TransferEligibility",
          "description": "Describes the transfer eligibility of a SKU."
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "legacySku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU."
        }
      }
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "type": "object",
      "properties": {
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner.",
          "type": "boolean"
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "customerName": {
          "type": "string",
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        }
      },
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner."
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "properties": {
        "customerEvent": {
          "description": "Customer event send as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1CustomerEvent"
        },
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1EntitlementEvent",
          "description": "Entitlement event send as part of Pub/Sub event to partners."
        }
      },
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "description": "Represents information which resellers will get as part of notification from Cloud Pub/Sub.",
      "type": "object"
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "id": "GoogleCloudChannelV1PurchasableSku",
      "type": "object",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU"
        }
      }
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.StartPaidService."
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "description": "Request Message for UnregisterSubscriber.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Price": {
      "type": "object",
      "properties": {
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        },
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        },
        "externalPriceUri": {
          "type": "string",
          "description": "Link to external price list, such as link to Google Voice rate card."
        },
        "discount": {
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Represents the price of the Offer.",
      "id": "GoogleCloudChannelV1Price"
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page."
        },
        "transferableOffers": {
          "description": "Information about Offers for a customer that can be used for transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        }
      }
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse"
    },
    "GoogleCloudChannelV1Product": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource Name of the Product. Format: products/{product_id}",
          "type": "string"
        },
        "marketingInfo": {
          "description": "Marketing information for the product.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        }
      },
      "id": "GoogleCloudChannelV1Product",
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc."
    },
    "GoogleCloudChannelV1PriceTier": {
      "id": "GoogleCloudChannelV1PriceTier",
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "type": "object",
      "properties": {
        "lastResource": {
          "description": "Last resource for which the tier price applies.",
          "format": "int32",
          "type": "integer"
        },
        "firstResource": {
          "description": "First resource for which the tier price applies.",
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the tier."
        }
      }
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "properties": {
        "description": {
          "description": "Human readable description. Description can contain HTML.",
          "type": "string"
        },
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1MarketingInfo"
    },
    "GoogleCloudChannelV1Entitlement": {
      "type": "object",
      "properties": {
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "parameters": {
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameters' names and values are defined in the offer's parameter definitions.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1AssociationInfo"
        },
        "updateTime": {
          "description": "Output only. The time at which the entitlement is updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.",
          "type": "string"
        },
        "provisioningState": {
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "description": "Output only. Current provisioning state of the entitlement.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ]
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1CommitmentSettings"
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "name": {
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "type": "string",
          "readOnly": true
        },
        "suspensionReasons": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "items": {
            "enumDescriptions": [
              "Default value. This state doesn't show unless an error occurs.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "trialSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1TrialSettings",
          "description": "Output only. Settings for trial offers."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the entitlement is created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "id": "GoogleCloudChannelV1Entitlement"
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "properties": {
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The new entitlements to create or transfer.",
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "description": "Association links that an entitlement has to other entitlements.",
      "id": "GoogleCloudChannelV1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The reseller customer's entitlements."
        },
        "nextPageToken": {
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "type": "object",
      "properties": {
        "purchasableSkus": {
          "description": "The list of SKUs requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "description": "Response message for ListPurchasableSkus.",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse"
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number associated with the Cloud Identity."
        },
        "primaryDomain": {
          "type": "string",
          "description": "Output only. The primary domain name.",
          "readOnly": true
        },
        "customerType": {
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ]
        },
        "eduData": {
          "$ref": "GoogleCloudChannelV1EduData",
          "description": "Edu information about the customer."
        },
        "isDomainVerified": {
          "readOnly": true,
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers.",
          "type": "boolean"
        },
        "alternateEmail": {
          "description": "The alternate email.",
          "type": "string"
        },
        "adminConsoleUri": {
          "description": "Output only. URI of Customer's Admin console dashboard.",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "description": "Cloud Identity information for the Cloud Channel Customer."
    },
    "GoogleCloudChannelV1TrialSettings": {
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "id": "GoogleCloudChannelV1TrialSettings",
      "type": "object",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Commitment start timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "type": "object",
      "description": "Commitment settings for commitment-based offers.",
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "properties": {
        "cloudIdentityAccounts": {
          "description": "The Cloud Identity accounts associated with the domain.",
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "type": "object",
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1RenewalSettings",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudChannelV1Plan": {
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "id": "GoogleCloudChannelV1Plan",
      "properties": {
        "trialPeriod": {
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentType": {
          "description": "Specifies when the payment needs to happen.",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "type": "string"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud Platform offers.",
          "type": "string"
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Parameter": {
      "properties": {
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1Value"
        }
      },
      "description": "Definition for extended entitlement parameters.",
      "id": "GoogleCloudChannelV1Parameter",
      "type": "object"
    },
    "GoogleCloudChannelV1Offer": {
      "id": "GoogleCloudChannelV1Offer",
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "properties": {
        "sku": {
          "description": "SKU the offer is associated with.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. End of the Offer validity time.",
          "readOnly": true
        },
        "priceByResources": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "description": "Price for each monetizable resource type.",
          "type": "array"
        },
        "constraints": {
          "description": "Constraints on transacting the Offer.",
          "$ref": "GoogleCloudChannelV1Constraints"
        },
        "marketingInfo": {
          "description": "Marketing information for the Offer.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "plan": {
          "$ref": "GoogleCloudChannelV1Plan",
          "description": "Describes the payment plan for the Offer."
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        },
        "parameterDefinitions": {
          "type": "array",
          "description": "Parameters required to use current Offer to purchase.",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          }
        },
        "startTime": {
          "description": "Start of the Offer validity time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.CancelEntitlement."
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "type": "object",
      "description": "Response message for ListOffers.",
      "id": "GoogleCloudChannelV1ListOffersResponse",
      "properties": {
        "offers": {
          "type": "array",
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      }
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "type": "object",
      "properties": {
        "allowedRegions": {
          "description": "Allowed geographical regions of the customer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "promotionalOrderTypes": {
          "items": {
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Allowed Promotional Order Type. Present for Promotional offers."
        },
        "allowedCustomerTypes": {
          "type": "array",
          "description": "Allowed Customer Type.",
          "items": {
            "enumDescriptions": [
              "Default value. This state doesn't show unless an error occurs.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "CloudIdentity-specific customer information."
        },
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request and preview the review, but do not post it."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "properties": {
        "provisioningId": {
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this would be the underlying Subscription ID.",
          "readOnly": true
        },
        "skuId": {
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        },
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "description": "Service provisioned for an entitlement.",
      "type": "object"
    },
    "GoogleCloudChannelV1Constraints": {
      "properties": {
        "customerConstraints": {
          "description": "Represents constraints required to purchase the Offer for a customer.",
          "$ref": "GoogleCloudChannelV1CustomerConstraints"
        }
      },
      "type": "object",
      "description": "Represents the constraints for buying the Offer.",
      "id": "GoogleCloudChannelV1Constraints"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "description": "Response Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1EduData": {
      "id": "GoogleCloudChannelV1EduData",
      "type": "object",
      "properties": {
        "instituteSize": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "description": "Size of the institute."
        },
        "website": {
          "type": "string",
          "description": "Web address for the edu customer's institution."
        },
        "instituteType": {
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "type": "string",
          "description": "Designated institute type of customer.",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ]
        }
      },
      "description": "Required Edu Attributes"
    },
    "GoogleCloudChannelV1AdminUser": {
      "description": "Information needed to create an Admin User for Google Workspace.",
      "properties": {
        "familyName": {
          "description": "Family name of the admin user.",
          "type": "string"
        },
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        },
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1AdminUser"
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page."
        },
        "customers": {
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          },
          "type": "array",
          "description": "The customers belonging to a reseller or distributor."
        }
      },
      "description": "Response message for CloudChannelService.ListCustomers.",
      "id": "GoogleCloudChannelV1ListCustomersResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "type": "object",
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "eventType": {
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user."
          ]
        }
      },
      "id": "GoogleCloudChannelV1EntitlementEvent",
      "description": "Represents Pub/Sub message content describing entitlement update."
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "type": "object",
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer."
        }
      },
      "id": "GoogleCloudChannelV1PurchasableOffer"
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "properties": {
        "customerName": {
          "type": "string",
          "description": "A reseller should create a customer and use the resource name of that customer here."
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Customer's Cloud Identity ID"
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call."
        },
        "pageSize": {
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000.",
          "type": "integer",
          "format": "int32"
        },
[...]
