{
  "ownerDomain": "google.com",
  "basePath": "",
  "name": "cloudchannel",
  "id": "cloudchannel:v1",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "description": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Cloud Channel API",
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "resources": {
    "products": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "flatPath": "v1/products",
          "httpMethod": "GET",
          "parameters": {
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token for a page of results other than the first page."
            },
            "pageSize": {
              "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Products. The maximum value is 1000; the server will coerce values above 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "account": {
              "type": "string",
              "location": "query",
              "description": "Required. The resource name of the reseller account. Format: accounts/{account_id}."
            }
          },
          "id": "cloudchannel.products.list",
          "path": "v1/products",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleCloudChannelV1ListProductsResponse"
          },
          "description": "Lists the Products the reseller is authorized to sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid."
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudChannelV1ListSkusResponse"
              },
              "path": "v1/{+parent}/skus",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the Product to list SKUs for. Parent uses the format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "pattern": "^products/[^/]+$"
                },
                "languageCode": {
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A token for a page of results other than the first page. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "account": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Resource name of the reseller. Format: accounts/{account_id}."
                }
              },
              "id": "cloudchannel.products.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/products/{productsId}/skus",
              "description": "Lists the SKUs for a product the reseller is authorized to sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "parameters": {
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The name of the operation's parent resource.",
              "pattern": "^operations$"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The standard list page token."
            },
            "pageSize": {
              "location": "query",
              "description": "The standard list page size.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations",
          "id": "cloudchannel.operations.list",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "path": "v1/{+name}"
        },
        "get": {
          "id": "cloudchannel.operations.get",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "httpMethod": "DELETE",
          "id": "cloudchannel.operations.delete",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource to be deleted.",
              "required": true
            }
          }
        },
        "cancel": {
          "id": "cloudchannel.operations.cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "flatPath": "v1/operations/{operationsId}:cancel"
        }
      }
    },
    "accounts": {
      "resources": {
        "channelPartnerLinks": {
          "methods": {
            "create": {
              "id": "cloudchannel.accounts.channelPartnerLinks.create",
              "request": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "httpMethod": "POST",
              "description": "Initiates a channel partner link between a distributor and a reseller, or between resellers in an n-tier reseller channel. Invited partners need to follow the invite_link_uri provided in the response to accept. After accepting the invitation, a link is set up between the two parties. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * ALREADY_EXISTS: The ChannelPartnerLink sent in the request already exists. * NOT_FOUND: No Cloud Identity customer exists for provided domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The new ChannelPartnerLink resource.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "path": "v1/{+parent}/channelPartnerLinks",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Create a channel partner link for the provided reseller account's resource name. Parent uses the format: accounts/{account_id}",
                  "location": "path"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "view": {
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "location": "query",
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ]
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, server will pick a default size (25). The maximum value is 200; the server will coerce values above 200."
                },
                "parent": {
                  "description": "Required. The resource name of the reseller account for listing channel partner links. Parent uses the format: accounts/{account_id}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page. Obtained using ListChannelPartnerLinksResponse.next_page_token of the previous CloudChannelService.ListChannelPartnerLinks call.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudChannelV1ListChannelPartnerLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "description": "List ChannelPartnerLinks belonging to a distributor. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: The list of the distributor account's ChannelPartnerLink resources.",
              "id": "cloudchannel.accounts.channelPartnerLinks.list",
              "path": "v1/{+parent}/channelPartnerLinks"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the channel partner link to cancel. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "required": true
                }
              },
              "id": "cloudchannel.accounts.channelPartnerLinks.patch",
              "description": "Updates a channel partner link. Distributors call this method to change a link's status. For example, to suspend a partner link. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Link state cannot change from invited to active or suspended. * Cannot send reseller_cloud_identity_id, invite_url, or name in update mask. * NOT_FOUND: ChannelPartnerLink resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The updated ChannelPartnerLink resource.",
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "request": {
                "$ref": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
              },
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested ChannelPartnerLink resource. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: ChannelPartnerLink resource not found because of an invalid channel partner link name. Return value: The ChannelPartnerLink resource.",
              "id": "cloudchannel.accounts.channelPartnerLinks.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the channel partner link to retrieve. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "required": true
                },
                "view": {
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "location": "query"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.list",
                  "path": "v1/{+parent}/customers",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomersResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns a requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.get"
                },
                "patch": {
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "The update mask that applies to the resource. Optional.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
                  "httpMethod": "PATCH"
                },
                "create": {
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.create",
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
                  "path": "v1/{+parent}/customers",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes the given Customer permanently and irreversibly. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the customer to delete.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}"
                }
              }
            }
          }
        },
        "offers": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/offers",
              "id": "cloudchannel.accounts.offers.list",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1ListOffersResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/offers",
              "description": "Lists the Offers the reseller can sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 500 Offers. The maximum value is 1000; the server will coerce values above 1000.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The expression to filter results by name (name of the Offer), sku.name (name of the SKU), or sku.product.name (name of the Product). Example 1: sku.product.name=products/p1 AND sku.name!=products/p1/skus/s1 Example 2: name=accounts/a1/offers/o1",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the reseller account from which to list Offers. Parent uses the format: accounts/{account_id}.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "languageCode": {
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "customers": {
          "methods": {
            "provisionCloudIdentity": {
              "request": {
                "$ref": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
              },
              "description": "Creates a Cloud Identity for the given customer using the customer's information, or the information provided here. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer was not found. * ALREADY_EXISTS: The customer's primary email already exists. Retry after changing the customer's primary contact email. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata contains an instance of OperationMetadata.",
              "parameters": {
                "customer": {
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:provisionCloudIdentity",
              "parameterOrder": [
                "customer"
              ],
              "id": "cloudchannel.accounts.customers.provisionCloudIdentity",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v1/{+customer}:provisionCloudIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "id": "cloudchannel.accounts.customers.get",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "description": "Returns a requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudChannelV1ListCustomersResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers",
              "path": "v1/{+parent}/customers",
              "id": "cloudchannel.accounts.customers.list",
              "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET"
            },
            "transferEntitlementsToGoogle": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}:transferEntitlementsToGoogle",
              "description": "Transfers customer entitlements from their current reseller to Google. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the reseller's customer account where the entitlements transfer from. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlementsToGoogle",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudchannel.accounts.customers.transferEntitlementsToGoogle",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "create": {
              "id": "cloudchannel.accounts.customers.create",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
              "path": "v1/{+parent}/customers",
              "flatPath": "v1/accounts/{accountsId}/customers",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudchannel.accounts.customers.patch",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "path": "v1/{+name}",
              "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The update mask that applies to the resource. Optional."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path"
                }
              }
            },
            "listPurchasableOffers": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Offers. The maximum value is 1000; the server will coerce values above 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "changeOfferPurchase.entitlement": {
                  "location": "query",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. The resource name of the customer to list Offers for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                },
                "createEntitlementPurchase.sku": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. SKU that the result should be restricted to. Format: products/{product_id}/skus/{sku_id}."
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
                },
                "changeOfferPurchase.newSku": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Resource name of the new target SKU. Provide this SKU when upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableOffers",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableOffersResponse"
              },
              "httpMethod": "GET",
              "id": "cloudchannel.accounts.customers.listPurchasableOffers",
              "parameterOrder": [
                "customer"
              ],
              "description": "Lists the following: * Offers that you can purchase for a customer. * Offers that you can change for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "path": "v1/{+customer}:listPurchasableOffers"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the customer to delete.",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "description": "Deletes the given Customer permanently and irreversibly. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
              "id": "cloudchannel.accounts.customers.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "transferEntitlements": {
              "id": "cloudchannel.accounts.customers.transferEntitlements",
              "description": "Transfers customer entitlements to new reseller. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * Specify all transferring entitlements. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the reseller's customer account that will receive transferred entitlements. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}:transferEntitlements",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlements"
            },
            "listPurchasableSkus": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET",
              "path": "v1/{+customer}:listPurchasableSkus",
              "parameterOrder": [
                "customer"
              ],
              "id": "cloudchannel.accounts.customers.listPurchasableSkus",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableSkus",
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableSkusResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "changeOfferPurchase.entitlement": {
                  "location": "query",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page."
                },
                "createEntitlementPurchase.product": {
                  "location": "query",
                  "description": "Required. List SKUs belonging to this Product. Format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "type": "string"
                },
                "changeOfferPurchase.changeType": {
                  "type": "string",
                  "description": "Required. Change Type for the entitlement.",
                  "enum": [
                    "CHANGE_TYPE_UNSPECIFIED",
                    "UPGRADE",
                    "DOWNGRADE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Not used.",
                    "SKU is an upgrade on the current entitlement.",
                    "SKU is a downgrade on the current entitlement."
                  ]
                },
                "customer": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the customer to list SKUs for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "type": "string",
                  "location": "path"
                },
                "languageCode": {
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists the following: * SKUs that you can purchase for a customer * SKUs that you can upgrade or downgrade for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid."
            }
          },
          "resources": {
            "entitlements": {
              "methods": {
                "suspend": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Suspends a previously fulfilled entitlement. An entitlement suspension is a long-running operation. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the entitlement to suspend. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:suspend",
                  "path": "v1/{+name}:suspend",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1SuspendEntitlementRequest"
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.suspend",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token for a page of results other than the first page. Obtained using ListEntitlementsResponse.next_page_token of the previous CloudChannelService.ListEntitlements call.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the reseller's customer account to list entitlements for. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, return at most 50 entitlements. The maximum value is 100; the server will coerce values above 100."
                    }
                  },
                  "path": "v1/{+parent}/entitlements",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Lists Entitlements belonging to a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's Entitlements.",
                  "id": "cloudchannel.accounts.customers.entitlements.list",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementsResponse"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the entitlement to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Entitlement"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns a requested Entitlement resource. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer entitlement was not found. Return value: The requested Entitlement resource.",
                  "id": "cloudchannel.accounts.customers.entitlements.get",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}"
                },
                "changeOffer": {
                  "description": "Updates the Offer for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Offer or Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:changeOffer",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeOffer",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudchannel.accounts.customers.entitlements.changeOffer",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeOfferRequest"
                  }
                },
                "startPaidService": {
                  "id": "cloudchannel.accounts.customers.entitlements.startPaidService",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1StartPaidServiceRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:startPaidService",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the entitlement to start a paid service for. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Starts paid service for a trial entitlement. Starts paid service for a trial entitlement immediately. This method is only applicable if a plan is set up for a trial entitlement but has some trial days remaining. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL: This method only works for entitlement on trial plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:startPaidService"
                },
                "activate": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ActivateEntitlementRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Activates a previously suspended entitlement. Entitlements suspended for pending ToS acceptance can't be activated using this method. An entitlement activation is a long-running operation and it updates the state of the customer entitlement. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED: Can only activate reseller-initiated suspensions and entitlements that have accepted the TOS. * NOT_SUSPENDED: Can only activate suspended entitlements not in an ACTIVE state. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "id": "cloudchannel.accounts.customers.entitlements.activate",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to activate. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:activate",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST"
                },
                "changeRenewalSettings": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeRenewalSettings",
                  "description": "Updates the renewal settings for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a commitment plan. Can't enable or disable renewals for non-commitment plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeRenewalSettingsRequest"
                  },
                  "path": "v1/{+name}:changeRenewalSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.changeRenewalSettings"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1CancelEntitlementRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "cloudchannel.accounts.customers.entitlements.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to cancel. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Cancels a previously fulfilled entitlement. An entitlement cancellation is a long-running operation. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * FAILED_PRECONDITION: There are Google Cloud projects linked to the Google Cloud entitlement's Cloud Billing subaccount. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * DELETION_TYPE_NOT_ALLOWED: Cancel is only allowed for Google Workspace add-ons, or entitlements for Google Cloud's development platform. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata."
                },
                "create": {
                  "id": "cloudchannel.accounts.customers.entitlements.create",
                  "description": "Creates an entitlement for a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * There is already a customer entitlement for a SKU from the same product family. * INVALID_VALUE: Make sure the OfferId is valid. If it is, contact Google Channel support for further troubleshooting. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: * The SKU was already purchased for the customer. * The customer's primary email already exists. Retry after changing the customer's primary contact email. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The domain required for purchasing a SKU has not been verified. * A pre-requisite SKU required to purchase an Add-On SKU is missing. For example, Google Workspace Business Starter is required to purchase Vault or Drive. * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/entitlements",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the reseller's customer account in which to create the entitlement. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1CreateEntitlementRequest"
                  }
                },
                "changeParameters": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeParametersRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:changeParameters",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.changeParameters",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeParameters",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Change parameters of the entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. For example, the number of seats being changed is greater than the allowed number of max seats, or decreasing seats for a commitment based plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
                }
              }
            }
          }
        }
      },
      "methods": {
        "listSubscribers": {
          "flatPath": "v1/accounts/{accountsId}:listSubscribers",
          "id": "cloudchannel.accounts.listSubscribers",
          "description": "Lists service accounts with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: A list of service email addresses.",
          "parameterOrder": [
            "account"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "account": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Resource name of the account."
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of service accounts to return. The service may return fewer than this value. If unspecified, returns at most 100 service accounts. The maximum value is 1000; the server will coerce values above 1000.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleCloudChannelV1ListSubscribersResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "path": "v1/{+account}:listSubscribers"
        },
        "checkCloudIdentityAccountsExist": {
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. The reseller account's resource name. Parent uses the format: accounts/{account_id}",
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1/accounts/{accountsId}:checkCloudIdentityAccountsExist",
          "path": "v1/{+parent}:checkCloudIdentityAccountsExist",
          "request": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "Confirms the existence of Cloud Identity accounts based on the domain and if the Cloud Identity accounts are owned by the reseller. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * INVALID_VALUE: Invalid domain value in the request. Return value: A list of CloudIdentityCustomerAccount resources for the domain (may be empty) Note: in the v1alpha1 version of the API, a NOT_FOUND error returns if no CloudIdentityCustomerAccount resources match the domain.",
          "httpMethod": "POST",
          "id": "cloudchannel.accounts.checkCloudIdentityAccountsExist"
        },
        "unregister": {
          "request": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+account}:unregister",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberResponse"
          },
          "parameters": {
            "account": {
              "required": true,
              "description": "Required. Resource name of the account.",
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "flatPath": "v1/accounts/{accountsId}:unregister",
          "description": "Unregisters a service account with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. If there are no service accounts left with subscriber privileges, this deletes the topic. You can call ListSubscribers to check for these accounts. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The topic name that unregistered the service email address. Returns a success response if the service email address wasn't registered with the topic.",
          "id": "cloudchannel.accounts.unregister",
          "parameterOrder": [
            "account"
          ]
        },
        "register": {
          "request": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberRequest"
          },
          "path": "v1/{+account}:register",
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "httpMethod": "POST",
          "description": "Registers a service account with subscriber privileges on the Cloud Pub/Sub topic for this Channel Services account. After you create a subscriber, you get the events through SubscriberEvent Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The topic name with the registered service email address.",
          "id": "cloudchannel.accounts.register",
          "flatPath": "v1/accounts/{accountsId}:register",
          "response": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberResponse"
          },
          "parameters": {
            "account": {
              "type": "string",
              "description": "Required. Resource name of the account.",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true
            }
          }
        },
        "listTransferableSkus": {
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusRequest"
          },
          "path": "v1/{+parent}:listTransferableSkus",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The reseller account's resource name. Parent uses the format: accounts/{account_id}",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "id": "cloudchannel.accounts.listTransferableSkus",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/accounts/{accountsId}:listTransferableSkus",
          "description": "List TransferableSkus of a customer based on the Cloud Identity ID or Customer Name in the request. Use this method to list the entitlements information of an unowned customer. You should provide the customer's Cloud Identity ID or Customer Name. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller and has no auth token. * The supplied auth token is invalid. * The reseller account making the request is different from the reseller account in the query. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's TransferableSku.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ]
        },
        "listTransferableOffers": {
          "path": "v1/{+parent}:listTransferableOffers",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "flatPath": "v1/accounts/{accountsId}:listTransferableOffers",
          "description": "List TransferableOffers of a customer based on Cloud Identity ID or Customer Name in the request. Use this method when a reseller gets the entitlement information of an unowned customer. The reseller should provide the customer's Cloud Identity ID or Customer Name. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller and has no auth token. * The supplied auth token is invalid. * The reseller account making the request is different from the reseller account in the query. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of TransferableOffer for the given customer and SKU.",
          "id": "cloudchannel.accounts.listTransferableOffers",
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersResponse"
          },
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersRequest"
          },
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the reseller's account."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ]
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "revision": "20210325",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/channel",
  "schemas": {
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ChangeParametersRequest.",
      "properties": {
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order ID provided by the reseller."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Required. Entitlement parameters to update. You can only change editable parameters.",
          "type": "array"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "type": "object",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1Offer": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}"
        },
        "startTime": {
          "type": "string",
          "description": "Start of the Offer validity time.",
          "format": "google-datetime"
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU the offer is associated with."
        },
        "priceByResources": {
          "type": "array",
          "description": "Price for each monetizable resource type.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          }
        },
        "plan": {
          "$ref": "GoogleCloudChannelV1Plan",
          "description": "Describes the payment plan for the Offer."
        },
        "constraints": {
          "description": "Constraints on transacting the Offer.",
          "$ref": "GoogleCloudChannelV1Constraints"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the Offer."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. End of the Offer validity time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "parameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "description": "Parameters required to use current Offer to purchase."
        }
      },
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "type": "object",
      "id": "GoogleCloudChannelV1Offer"
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The reseller customer's entitlements.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "description": "Response message for ListPurchasableOffers.",
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "purchasableOffers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "description": "The list of Offers requested."
        }
      }
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean",
          "readOnly": true
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1alpha1Value"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Parameter",
      "type": "object",
      "description": "Definition for extended entitlement parameters."
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEligibility",
      "properties": {
        "description": {
          "type": "string",
          "description": "Localized description if reseller is not eligible to transfer the SKU."
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        },
        "ineligibilityReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason is not available.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "description": "Specified the reason for ineligibility.",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ]
        }
      },
      "description": "Specifies transfer eligibility of a SKU."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request and preview the review, but do not post it."
        },
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        }
      }
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "description": "Response message for ListSkus.",
      "properties": {
        "skus": {
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest",
      "description": "Request message for CloudChannelService.ListTransferableOffers",
      "properties": {
        "customerName": {
          "description": "A reseller should create a customer and use the resource name of that customer here.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000."
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call."
        },
        "languageCode": {
[...]
