{
  "title": "Cloud Run Admin API",
  "baseUrl": "https://run.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v1alpha1",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "canonicalName": "Cloud Run",
  "documentationLink": "https://cloud.google.com/run/",
  "ownerDomain": "google.com",
  "revision": "20200622",
  "discoveryVersion": "v1",
  "servicePath": "",
  "resources": {
    "namespaces": {
      "resources": {
        "cloudpubsubsources": {
          "methods": {
            "get": {
              "response": {
                "$ref": "CloudPubSubSource"
              },
              "parameters": {
                "name": {
                  "description": "The name of the cloudpubsubsource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/cloudpubsubsources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudpubsubsources/{cloudpubsubsourcesId}",
              "id": "run.namespaces.cloudpubsubsources.get",
              "httpMethod": "GET",
              "description": "Rpc to get information about a cloudpubsubsource."
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Rpc to list cloudpubsubsources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query"
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The project ID or project number from which the cloudpubsubsources should\nbe listed."
                }
              },
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudpubsubsources",
              "response": {
                "$ref": "ListCloudPubSubSourcesResponse"
              },
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudpubsubsources",
              "id": "run.namespaces.cloudpubsubsources.list"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The project ID or project number in which this cloudpubsubsource should\nbe created.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates a new cloudpubsubsource.",
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudpubsubsources",
              "httpMethod": "POST",
              "id": "run.namespaces.cloudpubsubsources.create",
              "response": {
                "$ref": "CloudPubSubSource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudpubsubsources",
              "request": {
                "$ref": "CloudPubSubSource"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudpubsubsources/{cloudpubsubsourcesId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Rpc to delete a cloudpubsubsource.",
              "id": "run.namespaces.cloudpubsubsources.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The name of the cloudpubsubsource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/cloudpubsubsources/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "cloudauditlogssources": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "run.namespaces.cloudauditlogssources.list",
              "description": "Rpc to list cloudauditlogssources.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudauditlogssources",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "The project ID or project number from which the cloudauditlogssources\nshould be listed.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of records that should be returned."
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudauditlogssources",
              "response": {
                "$ref": "ListCloudAuditLogsSourcesResponse"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/cloudauditlogssources/[^/]+$",
                  "description": "The name of the cloudauditlogssource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "required": true,
                  "location": "path"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "type": "string",
                  "location": "query"
                },
                "apiVersion": {
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudauditlogssources/{cloudauditlogssourcesId}",
              "description": "Rpc to delete a cloudauditlogssource.",
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.cloudauditlogssources.delete"
            },
            "get": {
              "description": "Rpc to get information about a cloudauditlogssource.",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudauditlogssources/{cloudauditlogssourcesId}",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/cloudauditlogssources/[^/]+$",
                  "description": "The name of the cloudauditlogssource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "run.namespaces.cloudauditlogssources.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "CloudAuditLogsSource"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The project ID or project number in which this cloudauditlogssource should\nbe created.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "CloudAuditLogsSource"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudauditlogssources",
              "id": "run.namespaces.cloudauditlogssources.create",
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudauditlogssources",
              "request": {
                "$ref": "CloudAuditLogsSource"
              },
              "description": "Creates a new cloudauditlogssource."
            }
          }
        },
        "revisions": {
          "methods": {
            "get": {
              "description": "Rpc to get information about a revision.",
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1alpha1/{+name}",
              "id": "run.namespaces.revisions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "description": "The name of the revision being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Revision"
              },
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/revisions/{revisionsId}"
            },
            "delete": {
              "id": "run.namespaces.revisions.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Rpc to delete a revision.",
              "path": "apis/serving.knative.dev/v1alpha1/{+name}",
              "parameters": {
                "apiVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "description": "The name of the revision being deleted. If needed, replace\n{namespace_id} with the project ID."
                },
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information."
                },
                "orphanDependents": {
                  "description": "Deprecated.\nSpecifies the cascade behavior on delete.\nCloud Run only supports cascading behavior, so this must be false.\nThis attribute is deprecated, and is now replaced with PropagationPolicy\nSee https://github.com/kubernetes/kubernetes/issues/46659 for more info.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.revisions.list",
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/revisions",
              "parameters": {
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run.",
                  "location": "query"
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional encoded string to continue paging."
                },
                "parent": {
                  "location": "path",
                  "description": "The project ID or project number from which the revisions should be listed.",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of records that should be returned.",
                  "location": "query"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1alpha1/{+parent}/revisions",
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "description": "Rpc to list revisions."
            }
          }
        },
        "services": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Service"
              },
              "httpMethod": "POST",
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/services",
              "request": {
                "$ref": "Service"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The project ID or project number in which this service should be created.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1alpha1/{+parent}/services",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.services.create",
              "description": "Rpc to create a service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "path": "apis/serving.knative.dev/v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the service being deleted. If needed, replace\n{namespace_id} with the project ID."
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "type": "string"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "orphanDependents": {
                  "description": "Deprecated.\nSpecifies the cascade behavior on delete.\nCloud Run only supports cascading behavior, so this must be false.\nThis attribute is deprecated, and is now replaced with PropagationPolicy\nSee https://github.com/kubernetes/kubernetes/issues/46659 for more info.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "run.namespaces.services.delete",
              "description": "Rpc to delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Rpc to list services.",
              "id": "run.namespaces.services.list",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/services",
              "parameters": {
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "The project ID or project number from which the services should be listed.",
                  "location": "path",
                  "type": "string"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "path": "apis/serving.knative.dev/v1alpha1/{+parent}/services",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Rpc to get information about a service.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Service"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "The name of the service being retrieved. If needed, replace\n{namespace_id} with the project ID."
                }
              },
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/services/{servicesId}",
              "path": "apis/serving.knative.dev/v1alpha1/{+name}",
              "id": "run.namespaces.services.get"
            },
            "replaceService": {
              "parameters": {
                "name": {
                  "description": "The name of the service being replaced. If needed, replace\n{namespace_id} with the project ID.",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Rpc to replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/services/{servicesId}",
              "path": "apis/serving.knative.dev/v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Service"
              },
              "id": "run.namespaces.services.replaceService"
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "description": "RPC to list authorized domains.",
              "flatPath": "apis/domains.cloudrun.com/v1alpha1/namespaces/{namespacesId}/authorizeddomains",
              "path": "apis/domains.cloudrun.com/v1alpha1/{+parent}/authorizeddomains",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.authorizeddomains.list",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "Name of the parent Application resource. Example: `apps/myapp`.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum results to return per page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "cloudschedulersources": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "description": "Rpc to delete a cloudschedulersource.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/cloudschedulersources/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the cloudschedulersource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "type": "string",
                  "required": true
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "run.namespaces.cloudschedulersources.delete"
            },
            "list": {
              "description": "Rpc to list cloudschedulersources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudschedulersources",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources",
              "id": "run.namespaces.cloudschedulersources.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCloudSchedulerSourcesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "description": "Optional encoded string to continue paging.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The project ID or project number from which the cloudschedulersources\nshould be listed.",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of records that should be returned."
                }
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The project ID or project number in which this cloudschedulersource should\nbe created.",
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$"
                }
              },
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudschedulersources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new cloudschedulersource.",
              "id": "run.namespaces.cloudschedulersources.create",
              "request": {
                "$ref": "CloudSchedulerSource"
              },
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources",
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "httpMethod": "POST"
            },
            "get": {
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "description": "Rpc to get information about a cloudschedulersource.",
              "id": "run.namespaces.cloudschedulersources.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/cloudschedulersources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace\n{namespace_id} with the project ID."
                }
              }
            },
            "replaceCloudSchedulerSource": {
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/cloudschedulersources/[^/]+$"
                }
              },
              "id": "run.namespaces.cloudschedulersources.replaceCloudSchedulerSource",
              "request": {
                "$ref": "CloudSchedulerSource"
              },
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Rpc to replace a cloudschedulersource.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}"
            }
          }
        },
        "routes": {
          "methods": {
            "list": {
              "id": "run.namespaces.routes.list",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of records that should be returned.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The project ID or project number from which the routes should be listed.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/routes",
              "path": "apis/serving.knative.dev/v1alpha1/{+parent}/routes",
              "httpMethod": "GET",
              "description": "Rpc to list routes."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the route being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Rpc to get information about a route.",
              "response": {
                "$ref": "Route"
              },
              "path": "apis/serving.knative.dev/v1alpha1/{+name}",
              "httpMethod": "GET",
              "id": "run.namespaces.routes.get",
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/routes/{routesId}"
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "path": "apis/serving.knative.dev/v1alpha1/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.configurations.list",
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not currently used by Cloud Run."
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                },
                "limit": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of records that should be returned."
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                },
                "parent": {
                  "description": "The project ID or project number from which the configurations should be\nlisted.",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Rpc to list configurations.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the configuration being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1alpha1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "description": "Rpc to get information about a configuration.",
              "id": "run.namespaces.configurations.get",
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1alpha1/{+name}"
            }
          }
        },
        "domainmappings": {
          "methods": {
            "create": {
              "id": "run.namespaces.domainmappings.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "apis/domains.cloudrun.com/v1alpha1/namespaces/{namespacesId}/domainmappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "path": "apis/domains.cloudrun.com/v1alpha1/{+parent}/domainmappings",
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project ID or project number in which this domain mapping should be\ncreated."
                }
              },
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Creates a new domain mapping."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1alpha1/namespaces/{namespacesId}/domainmappings",
              "parameters": {
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of records that should be returned."
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "The project ID or project number from which the domain mappings should be\nlisted.",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "id": "run.namespaces.domainmappings.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Rpc to list domain mappings.",
              "httpMethod": "GET",
              "path": "apis/domains.cloudrun.com/v1alpha1/{+parent}/domainmappings"
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "location": "path",
                  "description": "The name of the domain mapping being deleted. If needed, replace\n{namespace_id} with the project ID."
                },
                "orphanDependents": {
                  "description": "Deprecated.\nSpecifies the cascade behavior on delete.\nCloud Run only supports cascading behavior, so this must be false.\nThis attribute is deprecated, and is now replaced with PropagationPolicy\nSee https://github.com/kubernetes/kubernetes/issues/46659 for more info.",
                  "type": "boolean",
                  "location": "query"
                },
                "kind": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "type": "string"
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1alpha1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.domainmappings.delete",
              "description": "Rpc to delete a domain mapping.",
              "response": {
                "$ref": "Empty"
              },
              "path": "apis/domains.cloudrun.com/v1alpha1/{+name}",
              "httpMethod": "DELETE"
            },
            "get": {
              "flatPath": "apis/domains.cloudrun.com/v1alpha1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.domainmappings.get",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the domain mapping being retrieved. If needed, replace\n{namespace_id} with the project ID."
                }
              },
              "path": "apis/domains.cloudrun.com/v1alpha1/{+name}",
              "response": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "GET",
              "description": "Rpc to get information about a domain mapping.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "triggers": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new trigger.",
              "response": {
                "$ref": "Trigger"
              },
              "httpMethod": "POST",
              "path": "apis/eventing.knative.dev/v1alpha1/{+parent}/triggers",
              "id": "run.namespaces.triggers.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "The project ID or project number in which this trigger should\nbe created.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Trigger"
              },
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers"
            },
            "list": {
              "id": "run.namespaces.triggers.list",
              "response": {
                "$ref": "ListTriggersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string"
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of records that should be returned."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The project ID or project number from which the triggers should\nbe listed."
                },
                "watch": {
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "type": "boolean"
                }
              },
              "description": "Rpc to list triggers.",
              "path": "apis/eventing.knative.dev/v1alpha1/{+parent}/triggers",
              "httpMethod": "GET",
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers"
            },
            "delete": {
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers/{triggersId}",
              "description": "Rpc to delete a trigger.",
              "path": "apis/eventing.knative.dev/v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.triggers.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "propagationPolicy": {
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "type": "string"
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the trigger being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/triggers/[^/]+$"
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                }
              }
            },
            "get": {
              "id": "run.namespaces.triggers.get",
              "parameters": {
                "name": {
                  "description": "The name of the trigger being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/triggers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers/{triggersId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "apis/eventing.knative.dev/v1alpha1/{+name}",
              "description": "Rpc to get information about a trigger.",
              "response": {
                "$ref": "Trigger"
              },
              "httpMethod": "GET"
            }
          }
        },
        "cloudstoragesources": {
          "methods": {
            "list": {
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudstoragesources",
              "httpMethod": "GET",
              "parameters": {
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The project ID or project number from which the cloudstoragesources should\nbe listed.",
                  "location": "path"
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run."
                }
              },
              "id": "run.namespaces.cloudstoragesources.list",
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudstoragesources",
              "parameterOrder": [
                "parent"
              ],
              "description": "Rpc to list cloudstoragesources.",
              "response": {
                "$ref": "ListCloudStorageSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudstoragesources",
              "httpMethod": "POST",
              "response": {
                "$ref": "CloudStorageSource"
              },
              "description": "Creates a new cloudstoragesource.",
              "request": {
                "$ref": "CloudStorageSource"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The project ID or project number in which this cloudstoragesource should\nbe created.",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudstoragesources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.cloudstoragesources.create"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/cloudstoragesources/[^/]+$",
                  "description": "Required. The name of the cloudstoragesource being retrieved. If needed, replace\n{namespace_id} with the project ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "id": "run.namespaces.cloudstoragesources.get",
              "httpMethod": "GET",
              "description": "Rpc to get information about a cloudstoragesource.",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudstoragesources/{cloudstoragesourcesId}",
              "response": {
                "$ref": "CloudStorageSource"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Rpc to delete a cloudstoragesource.",
              "response": {
                "$ref": "Empty"
              },
              "id": "run.namespaces.cloudstoragesources.delete",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudstoragesources/{cloudstoragesourcesId}",
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "propagationPolicy": {
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "location": "query"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/cloudstoragesources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the cloudstoragesource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "replaceCloudStorageSource": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "CloudStorageSource"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Rpc to replace a cloudstoragesource.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
              "id": "run.namespaces.cloudstoragesources.replaceCloudStorageSource",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the cloudstoragesource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/cloudstoragesources/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudstoragesources/{cloudstoragesourcesId}",
              "response": {
                "$ref": "CloudStorageSource"
              },
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "httpMethod": "PUT"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "cloudschedulersources": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "path": "v1alpha1/{+parent}/cloudschedulersources",
                  "request": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The project ID or project number in which this cloudschedulersource should\nbe created.",
                      "location": "path"
                    }
                  },
                  "id": "run.projects.locations.cloudschedulersources.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new cloudschedulersource.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources/{cloudschedulersourcesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudschedulersources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Rpc to get information about a cloudschedulersource.",
                  "response": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "id": "run.projects.locations.cloudschedulersources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "kind": {
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string"
                    },
                    "apiVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudschedulersources/[^/]+$",
                      "description": "Required. The name of the cloudschedulersource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources/{cloudschedulersourcesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "run.projects.locations.cloudschedulersources.delete",
                  "description": "Rpc to delete a cloudschedulersource."
                },
                "list": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to list cloudschedulersources.",
                  "response": {
                    "$ref": "ListCloudSchedulerSourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "labelSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                    },
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional encoded string to continue paging."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project ID or project number from which the cloudschedulersources\nshould be listed.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "run.projects.locations.cloudschedulersources.list",
                  "path": "v1alpha1/{+parent}/cloudschedulersources"
                },
                "replaceCloudSchedulerSource": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudschedulersources/[^/]+$"
                    }
                  },
                  "description": "Rpc to replace a cloudschedulersource.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                  "id": "run.projects.locations.cloudschedulersources.replaceCloudSchedulerSource",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources/{cloudschedulersourcesId}",
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "httpMethod": "PUT"
                }
              }
            },
            "revisions": {
              "methods": {
                "get": {
                  "id": "run.projects.locations.revisions.get",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Rpc to get information about a revision.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the revision being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "Revision"
                  }
                },
                "list": {
                  "parameters": {
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "The project ID or project number from which the revisions should be listed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "watch": {
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "labelSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "type": "string"
                    },
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional encoded string to continue paging."
                    },
                    "limit": {
                      "format": "int32",
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to list revisions.",
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "id": "run.projects.locations.revisions.list",
                  "path": "v1alpha1/{+parent}/revisions",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "propagationPolicy": {
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                      "location": "query"
                    },
                    "apiVersion": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "description": "The name of the revision being deleted. If needed, replace\n{namespace_id} with the project ID.",
                      "location": "path"
                    },
                    "orphanDependents": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Deprecated.\nSpecifies the cascade behavior on delete.\nCloud Run only supports cascading behavior, so this must be false.\nThis attribute is deprecated, and is now replaced with PropagationPolicy\nSee https://github.com/kubernetes/kubernetes/issues/46659 for more info."
                    },
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Rpc to delete a revision.",
                  "id": "run.projects.locations.revisions.delete"
                }
              }
            },
            "authorizeddomains": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/authorizeddomains",
                  "description": "RPC to list authorized domains.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.authorizeddomains.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Name of the parent Application resource. Example: `apps/myapp`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results."
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  }
                }
              }
            },
            "services": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to get information about a service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Service"
                  },
                  "id": "run.projects.locations.services.get",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the service being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "run.projects.locations.services.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the service being deleted. If needed, replace\n{namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "orphanDependents": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Deprecated.\nSpecifies the cascade behavior on delete.\nCloud Run only supports cascading behavior, so this must be false.\nThis attribute is deprecated, and is now replaced with PropagationPolicy\nSee https://github.com/kubernetes/kubernetes/issues/46659 for more info."
                    },
                    "apiVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information."
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Rpc to delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions."
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services",
                  "path": "v1alpha1/{+parent}/services",
                  "id": "run.projects.locations.services.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Service"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The project ID or project number in which this service should be created."
                    }
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "description": "Rpc to create a service."
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified Project.\n\nThere are no permissions required for making this API call.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.services.testIamPermissions",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "path": "v1alpha1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "list": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services",
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "parameters": {
                    "labelSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    },
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of records that should be returned."
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The project ID or project number from which the services should be listed.",
                      "required": true
                    },
                    "resourceVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/services",
                  "parameterOrder": [
                    "parent"
                  ],
[...]
