{
  "servicePath": "",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20200809",
  "name": "tasks",
  "batchPath": "batch/tasks/v1",
  "ownerDomain": "google.com",
  "schemas": {
    "Tasks": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "description": "Collection of tasks.",
          "items": {
            "$ref": "Task"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result."
        }
      },
      "id": "Tasks"
    },
    "TaskList": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the task list."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskList\"."
        }
      },
      "id": "TaskList",
      "type": "object"
    },
    "TaskLists": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        }
      },
      "id": "TaskLists"
    },
    "Task": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the \"move\" method to move the task under a different parent or to the top level."
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task (as a RFC 3339 timestamp)."
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Optional."
        },
        "selfLink": {
          "type": "string",
          "description": "URL pointing to this task. Used to retrieve, update, or delete this task."
        },
        "position": {
          "type": "string",
          "description": "String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the \"move\" method to move the task to another position."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#task\"."
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. The default is False."
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "due": {
          "type": "string",
          "description": "Due date of the task (as a RFC 3339 timestamp). Optional. The due date only records date information; the time portion of the timestamp is discarded when setting the due date. It isn't possible to read or write the time that a task is due via the API."
        },
        "links": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "description": "The description. In HTML speak: Everything between \u003ca\u003e and \u003c/a\u003e.",
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "The URL."
              },
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\"."
              }
            }
          },
          "description": "Collection of links. This collection is read-only."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "title": {
          "description": "Title of the task.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Task"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "documentationLink": "",
  "id": "tasks:v1",
  "baseUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "resources": {
    "tasklists": {
      "methods": {
        "update": {
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "description": "Updates the authenticated user's specified task list.",
          "id": "tasks.tasklists.update",
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "httpMethod": "PUT"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.list",
          "description": "Returns all the authenticated user's task lists.",
          "response": {
            "$ref": "TaskLists"
          }
        },
        "patch": {
          "response": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.patch",
          "request": {
            "$ref": "TaskList"
          }
        },
        "get": {
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "GET",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "id": "tasks.tasklists.get",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns the authenticated user's specified task list.",
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Creates a new task list and adds it to the authenticated user's task lists.",
          "id": "tasks.tasklists.insert",
          "response": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "parameters": {}
        },
        "delete": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Deletes the authenticated user's specified task list."
        }
      }
    },
    "tasks": {
      "methods": {
        "clear": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasks.clear",
          "httpMethod": "POST",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/clear"
        },
        "insert": {
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "previous": {
              "location": "query",
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional."
            },
            "tasklist": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task list identifier."
            },
            "parent": {
              "type": "string",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "id": "tasks.tasks.insert",
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Creates a new task on the specified task list."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.get",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Returns the specified task.",
          "parameters": {
            "task": {
              "required": true,
              "description": "Task identifier.",
              "location": "path",
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "required": true,
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Updates the specified task. This method supports patch semantics.",
          "id": "tasks.tasks.patch",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "httpMethod": "PATCH"
        },
        "update": {
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.update",
          "request": {
            "$ref": "Task"
          },
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            },
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PUT",
          "description": "Updates the specified task.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Tasks"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Returns all tasks in the specified task list.",
          "parameters": {
            "dueMax": {
              "location": "query",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "completedMax": {
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "dueMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "completedMin": {
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string",
              "location": "query"
            },
            "updatedMin": {
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100)."
            }
          },
          "id": "tasks.tasks.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            },
            "task": {
              "required": true,
              "description": "Task identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.delete",
          "description": "Deletes the specified task from the task list.",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "move": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "parent": {
              "description": "New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.",
              "location": "query",
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "previous": {
              "location": "query",
              "type": "string",
              "description": "New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional."
            },
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "tasks.tasks.move",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "response": {
            "$ref": "Task"
          },
          "description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move"
        }
      }
    }
  },
  "version": "v1",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "title": "Tasks API",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Tasks",
  "fullyEncodeReservedExpansion": true
}
