{
  "servicePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "id": "containeranalysis:v1alpha1",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "title": "Container Analysis API",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "canonicalName": "Container Analysis",
  "discoveryVersion": "v1",
  "schemas": {
    "Resource": {
      "type": "object",
      "id": "Resource",
      "properties": {
        "uri": {
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\".",
          "type": "string"
        },
        "contentHash": {
          "description": "The hash of the resource content. E.g., the Docker digest.",
          "$ref": "Hash"
        }
      },
      "description": " Resource is an entity that can have metadata. E.g., a Docker image."
    },
    "Installation": {
      "id": "Installation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the installed package."
        },
        "location": {
          "description": "All of the places within the filesystem versions of this package have been found.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "This represents how a particular software package may be installed on a system.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "Occurrence": {
      "description": "`Occurrence` includes information about analysis occurrences for an image.",
      "id": "Occurrence",
      "type": "object",
      "properties": {
        "resource": {
          "description": " The resource for which the `Occurrence` applies.",
          "$ref": "Resource"
        },
        "createTime": {
          "description": "Output only. The time this `Occurrence` was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This explicitly denotes which of the `Occurrence` details are specified. This field can be used as a filter in list requests.",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade."
          ]
        },
        "resourceUrl": {
          "description": "The unique URL of the image or the container for which the `Occurrence` applies. For example, https://gcr.io/project/image@sha256:foo This field can be used as a filter in list requests.",
          "type": "string"
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the `Note`"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this `Occurrence` was last updated."
        },
        "upgrade": {
          "description": "Describes an upgrade.",
          "$ref": "UpgradeOccurrence"
        },
        "name": {
          "description": "Output only. The name of the `Occurrence` in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
          "type": "string"
        },
        "installation": {
          "$ref": "Installation",
          "description": "Describes the installation of a package on the linked resource."
        },
        "attestation": {
          "$ref": "Attestation",
          "description": "Describes an attestation of an artifact."
        },
        "vulnerabilityDetails": {
          "$ref": "VulnerabilityDetails",
          "description": "Details of a security vulnerability note."
        },
        "derivedImage": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "Derived"
        },
        "noteName": {
          "type": "string",
          "description": "An analysis note associated with this image, in the form \"providers/{provider_id}/notes/{NOTE_ID}\" This field can be used as a filter in list requests."
        },
        "buildDetails": {
          "$ref": "BuildDetails",
          "description": "Build details for a verifiable build."
        },
        "discovered": {
          "description": "Describes the initial scan status for this resource.",
          "$ref": "Discovered"
        },
        "deployment": {
          "$ref": "Deployment",
          "description": "Describes the deployment of an artifact on a runtime."
        }
      }
    },
    "StorageSource": {
      "id": "StorageSource",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing source (see [Bucket Name Requirements] (https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "generation": {
          "type": "string",
          "description": "Google Cloud Storage generation for the object.",
          "format": "int64"
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing source."
        }
      },
      "description": "StorageSource describes the location of the source in an archive file in Google Cloud Storage."
    },
    "Package": {
      "description": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions.",
      "id": "Package",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the package."
        },
        "distribution": {
          "type": "array",
          "description": "The various channels by which a package is distributed.",
          "items": {
            "$ref": "Distribution"
          }
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "type": "object",
      "description": "An alias to a repo revision.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
      "properties": {
        "name": {
          "description": "The alias name.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "description": "The alias kind."
        }
      }
    },
    "Derived": {
      "properties": {
        "baseResourceUrl": {
          "type": "string",
          "description": "Output only. This contains the base image URL for the derived image occurrence."
        },
        "fingerprint": {
          "description": "The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        },
        "layerInfo": {
          "type": "array",
          "items": {
            "$ref": "Layer"
          },
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer."
        },
        "distance": {
          "format": "uint32",
          "type": "integer",
          "description": "Output only. The number of layers by which this image differs from the associated image basis."
        }
      },
      "id": "Derived",
      "description": "Derived describes the derived image portion (Occurrence) of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "type": "object",
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "properties": {
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "aliasContext": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
          "description": "An alias, which may be a branch or tag."
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "BuildProvenance": {
      "type": "object",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "id": "BuildProvenance",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          },
          "type": "array"
        },
        "commands": {
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "Unique identifier of the build.",
          "type": "string"
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which execution of the build was started."
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs were written.",
          "type": "string"
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        }
      }
    },
    "UpdateOperationRequest": {
      "id": "UpdateOperationRequest",
      "description": "Request for updating an existing operation",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields to update."
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "type": "object",
      "id": "ListNotesResponse",
      "description": "Response including listed notes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result."
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "The occurrences requested",
          "type": "array"
        }
      }
    },
    "Discovered": {
      "properties": {
        "analysisStatus": {
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "description": "The status of discovery for the resource.",
          "type": "string",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        },
        "operation": {
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use.",
          "$ref": "Operation"
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API."
        },
        "continuousAnalysis": {
          "description": "Whether the resource is continuously analyzed.",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ]
        },
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        }
      },
      "id": "Discovered",
      "description": "Provides information about the scan status of a discovered resource.",
      "type": "object"
    },
    "PgpSignedAttestation": {
      "properties": {
        "contentType": {
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "type": "string",
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ]
        },
        "signature": {
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload.",
          "type": "string"
        },
        "pgpKeyId": {
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.",
          "type": "string"
        }
      },
      "id": "PgpSignedAttestation",
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "type": "object"
    },
    "RelatedUrl": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Specific URL to associate with the note"
        },
        "label": {
          "description": "Label to describe usage of the URL",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for any related URL information",
      "id": "RelatedUrl"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext": {
      "properties": {
        "revisionId": {
          "description": "Required. Git commit hash.",
          "type": "string"
        },
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "ListNoteOccurrencesResponse": {
      "type": "object",
      "properties": {
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "type": "array",
          "description": "The occurrences attached to the specified note."
        },
        "nextPageToken": {
          "description": "Token to receive the next page of notes.",
          "type": "string"
        }
      },
      "description": "Response including listed occurrences for a note.",
      "id": "ListNoteOccurrencesResponse"
    },
    "Fingerprint": {
      "type": "object",
      "id": "Fingerprint",
      "properties": {
        "v2Blob": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ordered list of v2 blobs that represent a given image."
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "v1Name": {
          "type": "string",
          "description": "The layer-id of the final layer in the Docker image's v1 representation. This field can be used as a filter in list requests."
        }
      },
      "description": "A set of properties that uniquely identify a given Docker image."
    },
    "Hash": {
      "id": "Hash",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "NONE",
            "SHA256"
          ],
          "description": "The type of hash that was performed.",
          "enumDescriptions": [
            "No hash requested.",
            "A sha256 hash."
          ],
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "The hash value."
        }
      },
      "description": "Container message for hash values."
    },
    "Note": {
      "properties": {
        "upgrade": {
          "$ref": "UpgradeNote",
          "description": "A note describing an upgrade."
        },
        "vulnerabilityType": {
          "description": "A package vulnerability type of note.",
          "$ref": "VulnerabilityType"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests."
        },
        "attestationAuthority": {
          "description": "A note describing an attestation role.",
          "$ref": "AttestationAuthority"
        },
        "longDescription": {
          "description": "A detailed description of this `Note`.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "A one sentence description of this `Note`."
        },
        "deployable": {
          "$ref": "Deployable",
          "description": "A note describing something that can be deployed."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "package": {
          "$ref": "Package",
          "description": "A note describing a package hosted by various package managers."
        },
        "baseImage": {
          "$ref": "Basis",
          "description": "A note describing a base image."
        },
        "relatedUrl": {
          "description": "URLs associated with this note",
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array"
        },
        "buildType": {
          "$ref": "BuildType",
          "description": "Build provenance type for a verifiable build."
        },
        "kind": {
          "type": "string",
          "description": "Output only. This explicitly denotes which kind of note is specified. This field can be used as a filter in list requests.",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE"
          ]
        },
        "discovery": {
          "$ref": "Discovery",
          "description": "A note describing a provider/analysis type."
        },
        "expirationTime": {
          "type": "string",
          "description": "Time of expiration for this note, null if note does not expire.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the note in the form \"projects/{provider_project_id}/notes/{NOTE_ID}\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides a detailed description of a `Note`.",
      "id": "Note"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "BuildType": {
      "type": "object",
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in linked BuildDetails.",
      "id": "BuildType",
      "properties": {
        "signature": {
          "$ref": "BuildSignature",
          "description": "Signature of the build in Occurrences pointing to the Note containing this `BuilderDetails`."
        },
        "builderVersion": {
          "type": "string",
          "description": "Version of the builder which produced this Note."
        }
      }
    },
    "Deployable": {
      "properties": {
        "resourceUri": {
          "description": "Resource URI for the artifact being deployed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An artifact that can be deployed in some runtime.",
      "id": "Deployable",
      "type": "object"
    },
    "SeverityCount": {
      "type": "object",
      "description": "The number of occurrences created for a specific severity.",
      "id": "SeverityCount",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "The severity of the occurrences.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences with the severity.",
          "format": "int64"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bindingId": {
          "type": "string",
          "description": "A client-specified ID for this binding. Expected to be globally unique to support the internal bindings-by-ID API."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "description": "Associates `members` with a `role`."
    },
    "VulnerabilityDetails": {
      "description": "Used by Occurrence to point to where the vulnerability exists and how to fix it.",
      "type": "object",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "Output only. The note provider assigned Severity of the vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "packageIssue": {
          "type": "array",
          "description": "The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          }
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)"
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "The distro assigned severity for this vulnerability when that is available and note provider assigned severity when distro has not yet assigned a severity for this vulnerability.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssScore": {
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0-10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "VulnerabilityDetails"
    },
    "ListOccurrencesResponse": {
      "id": "ListOccurrencesResponse",
      "properties": {
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The occurrences requested.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "description": "Response including listed active occurrences.",
      "type": "object"
    },
    "Attestation": {
      "type": "object",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an Attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the AttestationAuthority to which this Attestation is attached is primarily useful for look-up (how to find this Attestation if you already know the Authority and artifact to be verified) and intent (which authority was this attestation intended to sign for).",
      "properties": {
        "pgpSignedAttestation": {
          "$ref": "PgpSignedAttestation"
        }
      },
      "id": "Attestation"
    },
    "Source": {
      "description": "Source describes the location of the source used for the build.",
      "properties": {
        "storageSource": {
          "$ref": "StorageSource",
          "description": "If provided, get the source from this location in in Google Cloud Storage."
        },
        "additionalContexts": {
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          }
        },
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
        },
        "fileHashes": {
          "type": "object",
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "artifactStorageSource": {
          "$ref": "StorageSource",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "repoSource": {
          "description": "If provided, get source from this location in a Cloud Repo.",
          "$ref": "RepoSource"
        }
      },
      "type": "object",
      "id": "Source"
    },
    "Command": {
      "type": "object",
      "id": "Command",
      "description": "Command describes a step performed as part of the build pipeline.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency."
        },
        "args": {
          "description": "Command-line arguments used when executing this Command.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "type": "array",
          "description": "Environment variables set before running this Command.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
        },
        "waitFor": {
          "description": "The ID(s) of the Command(s) that this Command depends on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this Command.",
          "type": "string"
        }
      }
    },
    "UpgradeNote": {
      "id": "UpgradeNote",
      "type": "object",
      "properties": {
        "distributions": {
          "description": "Metadata about the upgrade for each specific operating system.",
          "items": {
            "$ref": "UpgradeDistribution"
          },
          "type": "array"
        },
        "version": {
          "description": "Required - The version of the package in machine + human readable form.",
          "$ref": "Version"
        },
        "package": {
          "type": "string",
          "description": "Required - The package this Upgrade is for."
        }
      },
      "description": "An Upgrade Note represents a potential upgrade of a package to a given version. For each package version combination (i.e. bash 4.0, bash 4.1, bash 4.1.2), there will be a Upgrade Note."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "type": "object",
      "description": "Metadata for all operations used and required for all operations that created by Container Analysis Providers",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time that this operation was marked completed or failed."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this operation was created."
        }
      }
    },
    "FileHashes": {
      "properties": {
        "fileHash": {
          "description": "Collection of file hashes.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in Source messages to verify integrity of source input to the build.",
      "id": "FileHashes"
    },
    "CreateOperationRequest": {
      "properties": {
        "operationId": {
          "description": "The ID to use for this operation.",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        }
      },
      "type": "object",
      "description": "Request for creating an operation",
      "id": "CreateOperationRequest"
    },
    "VulnerabilityType": {
      "properties": {
        "cvssScore": {
          "description": "The CVSS score for this Vulnerability.",
          "type": "number",
          "format": "float"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Note provider assigned impact of the vulnerability"
        },
        "details": {
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in.",
          "type": "array",
          "items": {
            "$ref": "Detail"
          }
        }
      },
      "type": "object",
      "id": "VulnerabilityType",
      "description": "VulnerabilityType provides metadata about a security vulnerability."
    },
    "Layer": {
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "properties": {
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        },
        "directive": {
          "description": "The recovered Dockerfile directive used to construct this layer.",
          "enumDescriptions": [
            "Default value for unsupported/missing directive",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/reference/builder/#copy",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "type": "string",
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ]
        }
      },
      "type": "object",
      "id": "Layer"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "properties": {
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext"
        },
        "labels": {
          "description": "Labels with user defined metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext"
        },
        "cloudRepo": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo."
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
      "type": "object"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "VulnerabilityLocation": {
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "The version of the package being described. This field can be used as a filter in list requests."
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
        },
        "package": {
          "type": "string",
          "description": "The package being described."
        }
      },
      "description": "The location of the vulnerability",
      "type": "object",
      "id": "VulnerabilityLocation"
    },
    "Artifact": {
      "properties": {
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like gcr.io/projectID/imagename@sha256:123456",
          "type": "string"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the artifact. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. This field is deprecated in favor of the plural `names` field; it continues to exist here to allow existing BuildProvenance serialized to json in google.devtools.containeranalysis.v1alpha1.BuildDetails.provenance_bytes to deserialize back into proto."
        },
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object",
      "id": "Artifact"
    },
    "Detail": {
      "properties": {
        "minAffectedVersion": {
          "$ref": "Version",
          "description": "The min version of the package in which the vulnerability exists."
        },
        "fixedLocation": {
          "description": "The fix for this specific package version.",
          "$ref": "VulnerabilityLocation"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
        },
        "packageType": {
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)",
          "type": "string"
        },
        "severityName": {
          "type": "string",
          "description": "The severity (eg: distro assigned severity) for this vulnerability."
        },
        "description": {
          "type": "string",
          "description": "A vendor-specific description of this note."
        },
        "maxAffectedVersion": {
          "description": "The max version of the package in which the vulnerability exists.",
          "$ref": "Version"
        },
        "package": {
          "type": "string",
          "description": "The name of the package where the vulnerability was found. This field can be used as a filter in list requests."
        },
        "isObsolete": {
          "type": "boolean",
          "description": "Whether this Detail is obsolete. Occurrences are expected not to point to obsolete details."
        }
      },
      "description": "Identifies all occurrences of this vulnerability in the package for a specific distro/location For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2",
      "id": "Detail",
      "type": "object"
    },
    "BuildSignature": {
      "type": "object",
      "properties": {
        "publicKey": {
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service)."
        },
        "signature": {
          "type": "string",
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string."
        },
        "keyType": {
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ],
          "type": "string"
        }
      },
      "id": "BuildSignature",
      "description": "Message encapsulating the signature of the verified build."
    },
    "Deployment": {
      "id": "Deployment",
      "description": "The period during which some deployable was active in a runtime.",
      "type": "object",
      "properties": {
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "deployTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Beginning of the lifetime of this deployment."
        },
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "description": "Platform hosting this deployment.",
          "enumDescriptions": [
            "Unknown",
            "Google Container Engine",
            "Google App Engine: Flexible Environment",
            "Custom user-defined platform"
          ]
        },
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "type": "array"
        },
        "undeployTime": {
          "description": "End of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A page token to pass in order to get more scan configs.",
          "type": "string"
        },
        "scanConfigs": {
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          },
          "description": "The set of scan configs."
        }
      },
      "type": "object",
      "description": "A list of scan configs for the project."
    },
    "Location": {
      "type": "object",
      "description": "An occurrence of a particular package installation found within a system's filesystem. e.g. glibc was found in /var/lib/dpkg/status",
      "id": "Location",
      "properties": {
        "cpeUri": {
          "description": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        },
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "The version installed at this location."
        }
      }
    },
    "Distribution": {
      "properties": {
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "type": "string",
          "description": "The CPU architecture for which packages in this distribution channel were built",
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ]
        },
        "url": {
          "type": "string",
          "description": "The distribution channel-specific homepage for this package."
        },
        "latestVersion": {
          "description": "The latest available version of this package in this distribution channel.",
          "$ref": "Version"
        },
        "description": {
          "description": "The distribution channel-specific description of this package.",
          "type": "string"
        },
        "maintainer": {
          "description": "A freeform string denoting the maintainer of this package.",
          "type": "string"
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        }
      },
      "description": "This represents a particular channel of distribution for a given package. e.g. Debian's jessie-backports dpkg mirror",
      "type": "object",
      "id": "Distribution"
    },
    "RepoSource": {
      "properties": {
        "tagName": {
          "type": "string",
          "description": "Name of the tag to build."
        },
        "branchName": {
          "type": "string",
          "description": "Name of the branch to build."
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project that owns the repo."
        },
        "repoName": {
          "type": "string",
          "description": "Name of the repo."
        }
      },
      "type": "object",
      "id": "RepoSource",
      "description": "RepoSource describes the location of the source in a Google Cloud Source Repository."
    },
    "GetVulnzOccurrencesSummaryResponse": {
      "properties": {
        "counts": {
          "description": "A map of how many occurrences were found for each severity.",
          "items": {
            "$ref": "SeverityCount"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A summary of how many vulnz occurrences there are per severity type. counts by groups, or if we should have different summary messages like this.",
      "id": "GetVulnzOccurrencesSummaryResponse"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "type": "object",
      "description": "Indicates various scans and whether they are turned on or off.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this scan config was created."
        },
        "enabled": {
          "description": "Indicates whether the Scan is enabled.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the ScanConfig in the form “projects/{project_id}/scanConfigs/{scan_config_id}\".",
          "type": "string"
        },
        "description": {
          "description": "Output only. A human-readable description of what the `ScanConfig` does.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this scan config was last updated."
        }
      }
    },
    "UpgradeDistribution": {
      "id": "UpgradeDistribution",
      "type": "object",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "properties": {
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "classification": {
          "type": "string",
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed."
        },
        "severity": {
          "type": "string",
          "description": "The severity as specified by the upstream operating system."
        },
        "cve": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The cve that would be resolved by this upgrade."
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
      "description": "A unique identifier for a Cloud Repo.",
      "properties": {
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
        },
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        }
      },
      "type": "object"
    },
    "PackageIssue": {
      "id": "PackageIssue",
      "description": "This message wraps a location affected by a vulnerability and its associated fix (if one is available).",
      "properties": {
        "affectedLocation": {
          "description": "The location of the vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "fixedLocation": {
          "$ref": "VulnerabilityLocation",
          "description": "The location of the available fix for vulnerability."
        },
        "severityName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttestationAuthority": {
      "id": "AttestationAuthority",
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "type": "object",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      }
    },
    "Discovery": {
      "id": "Discovery",
      "properties": {
        "analysisKind": {
          "description": "The kind of analysis that is handled by this discovery.",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE"
          ],
          "type": "string"
        }
      },
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started.",
      "type": "object"
    },
    "Version": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The main part of the version name."
        },
        "epoch": {
          "format": "int32",
          "type": "integer",
          "description": "Used to correct mistakes in the version numbering scheme."
        },
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "kind": {
          "description": "Distinguish between sentinel MIN/MAX versions and normal versions. If kind is not NORMAL, then the other fields are ignored.",
          "enumDescriptions": [
            "A standard package version, defined by the other fields.",
            "A special version representing negative infinity, other fields are ignored.",
            "A special version representing positive infinity, other fields are ignored."
          ],
          "enum": [
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Version",
      "description": "Version contains structured information about the version of the package. For a discussion of this in Debian/Ubuntu: http://serverfault.com/questions/604541/debian-packages-version-convention For a discussion of this in Redhat/Fedora/Centos: http://blog.jasonantman.com/2014/07/how-yum-and-rpm-compare-versions/"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "properties": {
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "aliasContext": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "hostUri": {
          "description": "The URI of a running Gerrit instance.",
          "type": "string"
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext"
    },
    "AttestationAuthorityHint": {
      "properties": {
        "humanReadableName": {
          "type": "string",
          "description": "The human readable name of this Attestation Authority, for example \"qa\"."
        }
      },
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the AttestationAuthority. Because the name of a Note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should NOT be used to look up AttestationAuthorities in security sensitive contexts, such as when looking up Attestations to verify.",
      "id": "AttestationAuthorityHint"
    },
    "Basis": {
      "properties": {
        "resourceUrl": {
          "description": "The resource_url for the resource representing the basis of associated occurrence images.",
          "type": "string"
        },
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "The fingerprint of the base image."
        }
      },
      "type": "object",
      "id": "Basis",
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url."
    },
    "BuildDetails": {
      "id": "BuildDetails",
      "description": "Message encapsulating build provenance details.",
      "type": "object",
      "properties": {
        "provenance": {
          "description": "The actual provenance",
          "$ref": "BuildProvenance"
        },
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the `BuildSignature` in the corresponding Result. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        }
      }
    },
    "UpgradeOccurrence": {
      "id": "UpgradeOccurrence",
      "properties": {
        "package": {
          "description": "Required - The package this Upgrade is for.",
          "type": "string"
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "parsedVersion": {
          "$ref": "Version",
          "description": "Required - The version of the package in a machine + human readable form."
        }
      },
      "type": "object",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability)."
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "version": "v1alpha1",
  "version_module": true,
  "name": "containeranalysis",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "batchPath": "batch",
  "revision": "20200828",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
  "resources": {
    "projects": {
      "resources": {
        "occurrences": {
          "methods": {
            "getIamPolicy": {
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.patch",
              "request": {
                "$ref": "Occurrence"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "description": "Updates an existing occurrence.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "path": "v1alpha1/{+resource}:setIamPolicy"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "id": "containeranalysis.projects.occurrences.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getVulnerabilitySummary": {
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "httpMethod": "GET",
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              },
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                }
              }
            },
            "getNotes": {
              "path": "v1alpha1/{+name}/notes",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.getNotes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "required": true
                }
              }
            },
            "list": {
              "parameters": {
                "kind": {
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade."
                  ],
                  "location": "query",
                  "description": "The kind of occurrences to filter on.",
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE"
                  ],
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "name": {
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Number of occurrences to return in the list.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "path": "v1alpha1/{+parent}/occurrences",
              "description": "Lists active `Occurrences` for a given project matching the filters.",
              "id": "containeranalysis.projects.occurrences.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "description": "Returns the requested `Occurrence`.",
              "response": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.create",
              "response": {
                "$ref": "Occurrence"
              },
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "request": {
                "$ref": "Occurrence"
              },
              "path": "v1alpha1/{+parent}/occurrences",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
[...]
