{
  "title": "Dataflow API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        }
      }
    }
  },
  "schemas": {
    "SourceGetMetadataRequest": {
      "description": "A request to compute the SourceMetadata of a Source.",
      "type": "object",
      "id": "SourceGetMetadataRequest",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source whose metadata should be computed."
        }
      }
    },
    "SplitInt64": {
      "type": "object",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "id": "SplitInt64",
      "properties": {
        "highBits": {
          "format": "int32",
          "type": "integer",
          "description": "The high order bits, including the sign: n \u003e\u003e 32."
        },
        "lowBits": {
          "format": "uint32",
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer"
        }
      }
    },
    "WorkerSettings": {
      "properties": {
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        },
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        }
      },
      "type": "object",
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness."
    },
    "WorkerPool": {
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "type": "object",
      "properties": {
        "poolArgs": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Extra arguments for this worker pool.",
          "type": "object"
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array"
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field.",
          "$ref": "TaskRunnerSettings"
        },
        "numThreadsPerWorker": {
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "sdkHarnessContainerImages": {
          "type": "array",
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          }
        },
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\".",
          "type": "string"
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "packages": {
          "type": "array",
          "items": {
            "$ref": "Package"
          },
          "description": "Packages to be installed on workers."
        },
        "numWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "defaultPackageSet": {
          "type": "string",
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage pacakges typically useful to workers written in Python."
          ],
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "teardownPolicy": {
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "type": "string"
        }
      },
      "id": "WorkerPool"
    },
    "QueryInfo": {
      "type": "object",
      "description": "Information about a validated query.",
      "id": "QueryInfo",
      "properties": {
        "queryProperty": {
          "type": "array",
          "items": {
            "enum": [
              "QUERY_PROPERTY_UNSPECIFIED",
              "HAS_UNBOUNDED_SOURCE"
            ],
            "enumDescriptions": [
              "The query property is unknown or unspecified.",
              "Indicates this query reads from \u003e= 1 unbounded source."
            ],
            "type": "string"
          },
          "description": "Includes an entry for each satisfied QueryProperty."
        }
      }
    },
    "Snapshot": {
      "description": "Represents a snapshot of a job.",
      "id": "Snapshot",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        },
        "pubsubMetadata": {
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "type": "array",
          "description": "PubSub snapshot metadata."
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "description": "State of the snapshot.",
          "type": "string",
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ]
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this snapshot."
        },
        "ttl": {
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string"
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64"
        },
        "creationTime": {
          "description": "The time this snapshot was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        }
      }
    },
    "SourceOperationResponse": {
      "id": "SourceOperationResponse",
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "properties": {
        "getMetadata": {
          "$ref": "SourceGetMetadataResponse",
          "description": "A response to a request to get metadata about a source."
        },
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        }
      },
      "type": "object"
    },
    "ConcatPosition": {
      "properties": {
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "Index of the inner source."
        },
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        }
      },
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object",
      "id": "ConcatPosition"
    },
    "ApproximateReportedProgress": {
      "description": "A progress measurement of a WorkItem by a worker.",
      "id": "ApproximateReportedProgress",
      "properties": {
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed).",
          "format": "double",
          "type": "number"
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off."
        },
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        }
      },
      "type": "object"
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "id": "Disk",
      "properties": {
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TemplateMetadata": {
      "id": "TemplateMetadata",
      "description": "Metadata describing a template.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        }
      }
    },
    "ExecutionStageSummary": {
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "outputSource": {
          "type": "array",
          "description": "Output sources for this stage.",
          "items": {
            "$ref": "StageSource"
          }
        },
        "componentSource": {
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage.",
          "items": {
            "$ref": "ComponentSource"
          }
        },
        "inputSource": {
          "type": "array",
          "description": "Input sources for this stage.",
          "items": {
            "$ref": "StageSource"
          }
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of tranform this stage is executing.",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "type": "string"
        },
        "componentTransform": {
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array",
          "description": "Transforms that comprise this execution stage."
        }
      },
      "id": "ExecutionStageSummary"
    },
    "TaskRunnerSettings": {
      "id": "TaskRunnerSettings",
      "properties": {
        "workflowFileName": {
          "type": "string",
          "description": "The file to store the workflow in."
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "oauthScopes": {
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logDir": {
          "description": "The directory on the VM to store logs.",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The ID string of the VM."
        },
        "harnessCommand": {
          "description": "The command to launch the worker harness.",
          "type": "string"
        },
        "alsologtostderr": {
          "description": "Whether to also send taskrunner log info to stderr.",
          "type": "boolean"
        },
        "languageHint": {
          "description": "The suggested backend language.",
          "type": "string"
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
          "type": "string"
        },
        "parallelWorkerSettings": {
          "description": "The settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        },
        "dataflowApiVersion": {
          "description": "The API version of endpoint, e.g. \"v1b3\"",
          "type": "string"
        },
        "commandlinesFileName": {
          "description": "The file to store preprocessing commands in.",
          "type": "string"
        },
        "continueOnException": {
          "type": "boolean",
          "description": "Whether to continue taskrunner if an exception is hit."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "logToSerialconsole": {
          "type": "boolean",
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console."
        }
      },
      "type": "object",
      "description": "Taskrunner configuration settings."
    },
    "LaunchFlexTemplateParameter": {
      "properties": {
        "environment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "The runtime environment for the FlexTemplate job"
        },
        "launchOptions": {
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerSpecGcsPath": {
          "description": "Gcs path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "containerSpec": {
          "$ref": "ContainerSpec",
          "description": "Spec about the container image to launch."
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        }
      },
      "description": "Launch FlexTemplate Parameter.",
      "type": "object",
      "id": "LaunchFlexTemplateParameter"
    },
    "ValidateResponse": {
      "properties": {
        "queryInfo": {
          "$ref": "QueryInfo",
          "description": "Information about the validated query. Not defined if validation fails."
        },
        "errorMessage": {
          "description": "Will be empty if validation succeeds.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response to the validation request.",
      "id": "ValidateResponse"
    },
    "DynamicSourceSplit": {
      "properties": {
        "primary": {
          "$ref": "DerivedSource",
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current."
        },
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      },
      "type": "object",
      "id": "DynamicSourceSplit",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "Artifact": {
      "properties": {
        "metadata": {
          "description": "Metadata set for legacy Template.",
          "$ref": "TemplateMetadata"
        },
        "jobGraphGcsPath": {
          "description": "job_graph_gcs_path set for legacy Template.",
          "type": "string"
        },
        "containerSpec": {
          "description": "Container image path set for flex Template.",
          "$ref": "ContainerSpec"
        }
      },
      "id": "Artifact",
      "description": "Job information for templates.",
      "type": "object"
    },
    "SourceSplitResponse": {
      "properties": {
        "bundles": {
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
          "items": {
            "$ref": "DerivedSource"
          },
          "type": "array"
        },
        "shards": {
          "items": {
            "$ref": "SourceSplitShard"
          },
          "type": "array",
          "description": "DEPRECATED in favor of bundles."
        },
        "outcome": {
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "type": "string",
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ],
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ]
        }
      },
      "description": "The response to a SourceSplitRequest.",
      "type": "object",
      "id": "SourceSplitResponse"
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "type": "object",
      "id": "Histogram",
      "properties": {
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "firstBucketOffset": {
          "format": "int32",
          "type": "integer",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]"
        }
      }
    },
    "AutoscalingEvent": {
      "type": "object",
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "properties": {
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to, populated from the value of PoolStageRelation::user_pool_name.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "type": "string",
          "description": "The type of autoscaling event to report."
        },
        "time": {
          "type": "string",
          "description": "The time this event was emitted to indicate a new target or current num_workers value.",
          "format": "google-datetime"
        },
        "description": {
          "$ref": "StructuredMessage",
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers."
        },
        "targetNumWorkers": {
          "format": "int64",
          "type": "string",
          "description": "The target number of workers the worker pool wants to resize to use."
        },
        "currentNumWorkers": {
          "type": "string",
          "format": "int64",
          "description": "The current number of workers the job has."
        }
      },
      "id": "AutoscalingEvent"
    },
    "ApproximateProgress": {
      "properties": {
        "percentComplete": {
          "type": "number",
          "description": "Obsolete.",
          "format": "float"
        },
        "position": {
          "$ref": "Position",
          "description": "Obsolete."
        },
        "remainingTime": {
          "type": "string",
          "description": "Obsolete.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest."
    },
    "PubsubSnapshotMetadata": {
      "type": "object",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string"
        },
        "snapshotName": {
          "description": "The name of the Pubsub snapshot.",
          "type": "string"
        },
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        }
      },
      "description": "Represents a Pubsub snapshot.",
      "id": "PubsubSnapshotMetadata"
    },
    "MapTask": {
      "type": "object",
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "properties": {
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "counterPrefix": {
          "type": "string",
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow."
        },
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "The instructions in the MapTask.",
          "type": "array"
        }
      },
      "id": "MapTask"
    },
    "SendWorkerMessagesRequest": {
      "type": "object",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessage"
          }
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        }
      },
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest"
    },
    "ComponentTransform": {
      "type": "object",
      "id": "ComponentTransform",
      "description": "Description of a transform executed as part of an execution stage.",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        }
      }
    },
    "SourceOperationRequest": {
      "type": "object",
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "id": "SourceOperationRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "User-provided name of the Read instruction for this source."
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow."
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        }
      }
    },
    "RuntimeMetadata": {
      "type": "object",
      "description": "RuntimeMetadata describing a runtime environment.",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      },
      "id": "RuntimeMetadata"
    },
    "Environment": {
      "description": "Describes the environment in which a Dataflow Job runs.",
      "type": "object",
      "properties": {
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "userAgent": {
          "description": "A description of the process that generated the request.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "type": "array"
        },
        "internalExperiments": {
          "description": "Experimental settings.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "sdkPipelineOptions": {
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "version": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        },
        "flexResourceSchedulingGoal": {
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "type": "string",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "experiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of experiments to enable."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Identity to run virtual machines as. Defaults to the default account."
        }
      },
      "id": "Environment"
    },
    "SdkHarnessContainerImage": {
      "id": "SdkHarnessContainerImage",
      "type": "object",
      "properties": {
        "containerImage": {
          "type": "string",
          "description": "A docker container image that resides in Google Container Registry."
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        }
      },
      "description": "Defines a SDK harness container for executing Dataflow pipelines."
    },
    "SendWorkerMessagesResponse": {
      "id": "SendWorkerMessagesResponse",
      "type": "object",
      "description": "The response to the worker messages.",
      "properties": {
        "workerMessageResponses": {
          "type": "array",
          "description": "The servers response to the worker messages.",
          "items": {
            "$ref": "WorkerMessageResponse"
          }
        }
      }
    },
    "JobExecutionInfo": {
      "type": "object",
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "properties": {
        "stages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "description": "A mapping from each stage to the information about that stage."
        }
      }
    },
    "FloatingPointList": {
      "id": "FloatingPointList",
      "description": "A metric value representing a list of floating point numbers.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "SourceSplitOptions": {
      "id": "SourceSplitOptions",
      "type": "object",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "properties": {
        "desiredBundleSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
        },
        "desiredShardSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes."
        }
      }
    },
    "InstructionOutput": {
      "description": "An output of an instruction.",
      "id": "InstructionOutput",
      "properties": {
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "onlyCountKeyBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size.",
          "type": "boolean"
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data being written via this output.",
          "type": "object"
        },
        "onlyCountValueBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size.",
          "type": "boolean"
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobExecutionStageInfo": {
      "type": "object",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "JobExecutionStageInfo",
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed."
    },
    "WorkerMessage": {
      "id": "WorkerMessage",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here."
        },
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "workerMetrics": {
          "description": "Resource metrics reported by workers.",
          "$ref": "ResourceUtilizationReport"
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "time": {
          "description": "The timestamp of the worker_message.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerLifecycleEvent": {
          "description": "Record of worker lifecycle events.",
          "$ref": "WorkerLifecycleEvent"
        },
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        }
      },
      "description": "WorkerMessage provides information to the backend about a worker."
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "type": "object",
      "properties": {
        "failedLocation": {
          "type": "array",
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "items": {
            "$ref": "FailedLocation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if there may be more results than fit in this response."
        },
        "jobs": {
          "type": "array",
          "description": "A subset of the requested job information.",
          "items": {
            "$ref": "Job"
          }
        }
      },
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}."
    },
    "NameAndKind": {
      "id": "NameAndKind",
      "type": "object",
      "description": "Basic metadata about a counter.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the counter."
        }
      }
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "description": "Response to a request to list job messages.",
      "type": "object",
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "autoscalingEvents": {
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order."
        }
      }
    },
    "PubsubLocation": {
      "id": "PubsubLocation",
      "properties": {
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        }
      },
      "type": "object",
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job."
    },
    "TopologyConfig": {
      "type": "object",
      "id": "TopologyConfig",
      "properties": {
        "dataDiskAssignments": {
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          }
        },
        "forwardingKeyBits": {
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "type": "integer",
          "format": "int32"
        },
        "computations": {
          "items": {
            "$ref": "ComputationTopology"
          },
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job."
        },
        "userStageToComputationNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Maps user stage names to stable computation names."
        },
        "persistentStateVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Version number for persistent state."
        }
      },
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations."
    },
    "ProgressTimeseries": {
      "description": "Information about the progress of some component of job execution.",
      "id": "ProgressTimeseries",
      "properties": {
        "currentProgress": {
          "type": "number",
          "format": "double",
          "description": "The current progress of the component, in the range [0,1]."
        },
        "dataPoints": {
          "description": "History of progress for the component. Points are sorted by time.",
          "type": "array",
          "items": {
            "$ref": "Point"
          }
        }
      },
      "type": "object"
    },
    "WriteInstruction": {
      "type": "object",
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "id": "WriteInstruction",
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      }
    },
    "WorkerDetails": {
      "id": "WorkerDetails",
      "description": "Information about a worker",
      "properties": {
        "workItems": {
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          },
          "description": "Work items processed by this worker, sorted by time."
        },
        "workerName": {
          "type": "string",
          "description": "Name of this worker"
        }
      },
      "type": "object"
    },
    "LaunchFlexTemplateRequest": {
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "id": "LaunchFlexTemplateRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not actually executed. Defaults to false."
        },
        "launchParameter": {
          "$ref": "LaunchFlexTemplateParameter",
          "description": "Required. Parameter to launch a job form Flex Template."
        }
      }
    },
    "StreamingComputationTask": {
      "properties": {
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "type": "array"
        },
        "taskType": {
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "description": "A type of streaming computation task.",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "type": "string"
        },
        "computationRanges": {
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "type": "array"
        }
      },
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "type": "object",
      "id": "StreamingComputationTask"
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "properties": {
        "outputs": {
          "description": "The outputs from the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "stateFamilies": {
          "description": "The state family values.",
          "type": "array",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          },
          "description": "The inputs to the computation."
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "keyRanges": {
          "type": "array",
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          }
        }
      },
      "type": "object",
      "id": "ComputationTopology"
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "description": "Defines a job to be run by the Cloud Dataflow service.",
      "properties": {
        "stageStates": {
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "items": {
            "$ref": "ExecutionStageState"
          },
          "type": "array"
        },
        "currentStateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp associated with the current state."
        },
        "tempFiles": {
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be \u003c= 128 bytes in size.",
          "type": "object"
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "environment": {
          "description": "The environment for the job.",
          "$ref": "Environment"
        },
        "type": {
          "description": "The type of Cloud Dataflow job.",
          "type": "string",
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ]
        },
        "requestedState": {
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED"
          ],
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "transformNameMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job."
        },
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "name": {
          "type": "string",
          "description": "The user-specified Cloud Dataflow job name. Only one Job with a given name may exist in a project at any given time. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt returns the existing Job. The name must match the regular expression `[a-z]([-a-z0-9]{0,38}[a-z0-9])?`"
        },
        "startTime": {
          "type": "string",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime"
        },
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "jobMetadata": {
          "$ref": "JobMetadata",
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this job. This field is set by the Cloud Dataflow service when the Job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "stepsLocation": {
          "type": "string",
          "description": "The GCS location where the steps are stored."
        },
        "currentState": {
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`."
          ]
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL."
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        }
      }
    },
    "DerivedSource": {
      "properties": {
        "derivationMode": {
          "description": "What source to base the produced source on (if any).",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        },
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        }
      },
      "type": "object",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "id": "DerivedSource"
    },
    "StreamingSetupTask": {
      "type": "object",
      "properties": {
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        },
        "workerHarnessPort": {
          "format": "int32",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "type": "integer"
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "format": "int32",
          "type": "integer"
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        }
      },
      "id": "StreamingSetupTask",
      "description": "A task which initializes part of a streaming Dataflow job."
    },
    "MemInfo": {
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "properties": {
        "totalGbMs": {
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "format": "uint64",
          "type": "string"
        },
        "currentRssBytes": {
          "format": "uint64",
          "type": "string",
          "description": "Instantenous memory (RSS) size in bytes."
        },
        "currentLimitBytes": {
          "type": "string",
          "format": "uint64",
          "description": "Instantenous memory limit in bytes."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp of the measurement.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MemInfo"
    },
    "WorkItemServiceState": {
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "id": "WorkItemServiceState",
      "type": "object",
      "properties": {
        "reportStatusInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "New recommended reporting interval."
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        },
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "format": "int64",
          "type": "string"
        },
        "leaseExpireTime": {
          "description": "Time at which the current lease will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedStopPosition": {
          "$ref": "Position",
          "description": "Obsolete, always empty."
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "hotKeyDetection": {
          "$ref": "HotKeyDetection",
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
        },
        "harnessData": {
          "type": "object",
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metricShortId": {
          "items": {
            "$ref": "MetricShortId"
          },
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "type": "array"
        }
      }
    },
    "ModifyTemplateVersionLabelRequest": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The label value for update.",
          "type": "string"
        },
        "key": {
          "description": "The label key for update.",
          "type": "string"
        },
        "op": {
          "enumDescriptions": [
            "Default value.",
            "Add the label to the TemplateVersion object.",
            "Remove the label from the TemplateVersion object."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "Requests for add label to TemplateVersion or remove label from TemplateVersion.",
          "type": "string"
        }
      },
      "description": "Either add the label to TemplateVersion or remove it from the TemplateVersion.",
      "id": "ModifyTemplateVersionLabelRequest"
    },
    "ParameterMetadata": {
      "properties": {
        "paramType": {
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a GCS Bucket to read from.",
            "The parameter specifies a GCS Bucket to write to.",
            "The parameter specifies a GCS file path to read from.",
            "The parameter specifies a GCS file path to write to.",
            "The parameter specifies a GCS folder path to read from.",
            "The parameter specifies a GCS folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription."
          ],
          "type": "string",
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION"
          ]
        },
        "label": {
          "type": "string",
          "description": "Required. The label to display for the parameter."
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        },
        "regexes": {
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        }
      },
      "description": "Metadata for a specific parameter.",
      "type": "object",
      "id": "ParameterMetadata"
    },
    "StreamingApplianceSnapshotConfig": {
      "type": "object",
      "id": "StreamingApplianceSnapshotConfig",
      "description": "Streaming appliance snapshot configuration.",
      "properties": {
        "snapshotId": {
          "type": "string",
          "description": "If set, indicates the snapshot id for the snapshot being performed."
        },
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        }
      }
    },
    "StreamingSideInputLocation": {
      "properties": {
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        },
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        }
      },
      "type": "object",
      "description": "Identifies the location of a streaming side input.",
      "id": "StreamingSideInputLocation"
    },
    "TransformSummary": {
      "id": "TransformSummary",
      "type": "object",
      "properties": {
        "inputCollectionName": {
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform.",
          "type": "array"
        },
        "displayData": {
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Transform-specific display data."
        },
        "name": {
          "description": "User provided name for this transform instance.",
          "type": "string"
        },
        "outputCollectionName": {
          "description": "User names for all collection outputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform.",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        }
      },
      "description": "Description of the type, names/ids, and input/outputs for a transform."
    },
    "GetTemplateResponse": {
      "properties": {
        "templateType": {
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "type": "string",
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ]
        },
        "runtimeMetadata": {
          "$ref": "RuntimeMetadata",
          "description": "Describes the runtime metadata with SDKInfo and available parameters."
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available parameters, etc."
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        }
      },
      "description": "The response to a GetTemplate request.",
      "type": "object",
      "id": "GetTemplateResponse"
    },
    "ReportWorkItemStatusResponse": {
      "type": "object",
      "description": "Response from a request to report the status of WorkItems.",
      "properties": {
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workItemServiceStates": {
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "type": "array"
        }
      },
      "id": "ReportWorkItemStatusResponse"
    },
    "ListTemplateVersionsResponse": {
      "type": "object",
      "description": "Respond a list of TemplateVersions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "templateVersions": {
          "description": "A list of TemplateVersions.",
          "items": {
            "$ref": "TemplateVersion"
          },
          "type": "array"
        }
      },
      "id": "ListTemplateVersionsResponse"
    },
    "HotKeyDetection": {
      "type": "object",
      "properties": {
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        },
        "hotKeyAge": {
          "format": "google-duration",
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected."
        },
        "userStepName": {
          "description": "User-provided name of the step that contains this hot key.",
          "type": "string"
        }
      },
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "id": "HotKeyDetection"
    },
    "BigQueryIODetails": {
      "id": "BigQueryIODetails",
      "description": "Metadata for a BigQuery connector used by the job.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project accessed in the connection."
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        }
      },
      "type": "object"
    },
    "WorkerHealthReport": {
      "type": "object",
      "properties": {
        "vmStartupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the VM was booted."
        },
        "pods": {
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        },
        "reportInterval": {
          "format": "google-duration",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "type": "string"
        },
        "vmIsHealthy": {
          "description": "Whether the VM is currently healthy.",
          "type": "boolean"
        },
        "msg": {
          "description": "A message describing any unusual health reports.",
          "type": "string"
        }
      },
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to."
    },
    "LeaseWorkItemResponse": {
      "description": "Response to a request to lease WorkItems.",
      "properties": {
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "items": {
            "$ref": "WorkItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "LeaseWorkItemResponse"
    },
    "StreamingConfigTask": {
      "type": "object",
      "id": "StreamingConfigTask",
      "properties": {
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "commitStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "streamingComputationConfigs": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information."
        },
        "getDataStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "maxWorkItemCommitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "format": "int64",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families."
        }
      },
      "description": "A task that carries configuration information for streaming computations."
    },
    "SourceGetMetadataResponse": {
      "description": "The result of a SourceGetMetadataOperation.",
      "id": "SourceGetMetadataResponse",
      "properties": {
        "metadata": {
          "description": "The computed metadata.",
          "$ref": "SourceMetadata"
        }
      },
      "type": "object"
    },
    "WorkItem": {
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud.",
      "type": "object",
      "id": "WorkItem",
      "properties": {
        "jobId": {
          "description": "Identifies the workflow job this WorkItem belongs to.",
          "type": "string"
        },
        "streamingComputationTask": {
          "$ref": "StreamingComputationTask",
          "description": "Additional information for StreamingComputationTask WorkItems."
        },
        "reportStatusInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Recommended reporting interval."
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        },
        "id": {
          "type": "string",
          "description": "Identifies this WorkItem.",
          "format": "int64"
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "seqMapTask": {
          "description": "Additional information for SeqMapTask WorkItems.",
          "$ref": "SeqMapTask"
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "initialReportIndex": {
          "type": "string",
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "format": "int64"
        },
        "packages": {
          "description": "Any required packages that need to be fetched in order to execute this WorkItem.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "streamingSetupTask": {
          "$ref": "StreamingSetupTask",
          "description": "Additional information for StreamingSetupTask WorkItems."
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the lease on this Work will expire."
        },
        "projectId": {
          "description": "Identifies the cloud project this WorkItem belongs to.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "type": "object",
      "properties": {
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        }
      },
      "description": "Request to send encoded debug information.",
      "id": "SendDebugCaptureRequest"
    },
    "Point": {
      "type": "object",
      "id": "Point",
      "description": "A point in the timeseries.",
      "properties": {
        "time": {
          "description": "The timestamp of the point.",
          "format": "google-datetime",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The value of the point."
        }
[...]
