{
  "baseUrl": "https://area120tables.googleapis.com/",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "id": "area120tables:v1alpha1",
  "title": "Area120 Tables API",
  "version": "v1alpha1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "area120tables",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://area120tables.googleapis.com/",
  "canonicalName": "Area120 Tables",
  "ownerName": "Google",
  "resources": {
    "workspaces": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists workspaces for the user.",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/workspaces",
          "id": "area120tables.workspaces.list",
          "path": "v1alpha1/workspaces"
        },
        "get": {
          "response": {
            "$ref": "Workspace"
          },
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "id": "area120tables.workspaces.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^workspaces/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}"
            }
          }
        }
      }
    },
    "tables": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListTablesResponse"
          },
          "path": "v1alpha1/tables",
          "id": "area120tables.tables.list",
          "flatPath": "v1alpha1/tables",
          "httpMethod": "GET",
          "description": "Lists tables for the user."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^tables/[^/]+$",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "type": "string"
            }
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Table"
          },
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "id": "area120tables.tables.get"
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "batchUpdate": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.batchUpdate",
              "description": "Updates multiple rows.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                }
              },
              "response": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.get",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table."
            },
            "delete": {
              "id": "area120tables.tables.rows.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a row.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "batchCreate": {
              "description": "Creates multiple rows.",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.batchCreate",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              }
            },
            "list": {
              "path": "v1alpha1/{+parent}/rows",
              "id": "area120tables.tables.rows.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371)."
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                }
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "request": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                }
              },
              "description": "Creates a row.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.create",
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchDelete": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "type": "string",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchDelete"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "Row"
              },
              "description": "Updates a row.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "id": "area120tables.tables.rows.patch",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            }
          }
        }
      }
    }
  },
  "description": "",
  "ownerDomain": "google.com",
  "schemas": {
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "properties": {
        "rows": {
          "description": "The updated rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "id": "BatchUpdateRowsResponse",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "CreateRowRequest": {
      "properties": {
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string"
        },
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        }
      },
      "type": "object",
      "id": "CreateRowRequest",
      "description": "Request message for TablesService.CreateRow."
    },
    "BatchCreateRowsRequest": {
      "description": "Request message for TablesService.BatchCreateRows.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      },
      "id": "BatchCreateRowsRequest",
      "type": "object"
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "description": "Response message for TablesService.ListRows.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The rows from the specified table."
        }
      }
    },
    "BatchCreateRowsResponse": {
      "id": "BatchCreateRowsResponse",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The created rows.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "Response message for TablesService.BatchCreateRows."
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "id": "ListWorkspacesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "The list of workspaces.",
          "type": "array"
        }
      }
    },
    "ListTablesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables."
        }
      },
      "type": "object",
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables."
    },
    "BatchUpdateRowsRequest": {
      "id": "BatchUpdateRowsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array"
        }
      },
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "ColumnDescription": {
      "type": "object",
      "id": "ColumnDescription",
      "properties": {
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "labels": {
          "items": {
            "$ref": "LabeledItem"
          },
          "type": "array",
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation."
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "column name"
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        }
      },
      "description": "Details on a column in the table."
    },
    "LabeledItem": {
      "description": "A single item in a labeled column.",
      "properties": {
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        }
      },
      "id": "LabeledItem",
      "type": "object"
    },
    "BatchDeleteRowsRequest": {
      "description": "Request message for TablesService.BatchDeleteRows",
      "id": "BatchDeleteRowsRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      },
      "type": "object"
    },
    "Workspace": {
      "description": "A single workspace.",
      "properties": {
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Time when the workspace was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the workspace was created."
        }
      },
      "type": "object",
      "id": "Workspace"
    },
    "Table": {
      "properties": {
        "columns": {
          "description": "List of columns in this table. Order of columns matches the display order.",
          "type": "array",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows"
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        }
      },
      "id": "Table",
      "type": "object",
      "description": "A single table."
    },
    "LookupDetails": {
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "type": "object",
      "properties": {
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        },
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        }
      }
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      },
      "id": "RelationshipDetails",
      "type": "object",
      "description": "Details about a relationship column."
    },
    "UpdateRowRequest": {
      "properties": {
        "updateMask": {
          "description": "The list of fields to update.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string"
        }
      },
      "id": "UpdateRowRequest",
      "type": "object",
      "description": "Request message for TablesService.UpdateRow."
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "description": "A single row in a table.",
      "properties": {
        "createTime": {
          "description": "Time when the row was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20210319",
  "batchPath": "batch"
}
