{
  "ownerDomain": "google.com",
  "basePath": "",
  "revision": "20200928",
  "title": "Cloud Tool Results API",
  "servicePath": "",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "A Project id. Required.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "httpMethod": "POST",
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "toolresults.projects.initializeSettings",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage"
        },
        "getSettings": {
          "parameters": {
            "projectId": {
              "description": "A Project id. Required.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "httpMethod": "GET",
          "id": "toolresults.projects.getSettings",
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "create": {
              "response": {
                "$ref": "History"
              },
              "id": "toolresults.projects.histories.create",
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "A Project id. Required.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "History"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "httpMethod": "GET",
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A continuation token to resume the query at the next item. Optional."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional."
                },
                "filterByName": {
                  "type": "string",
                  "description": "If set, only return histories with the given name. Optional.",
                  "location": "query"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "A Project id. Required."
                }
              },
              "id": "toolresults.projects.histories.list"
            },
            "get": {
              "response": {
                "$ref": "History"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "A Project id. Required."
                },
                "historyId": {
                  "type": "string",
                  "description": "A History id. Required.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "id": "toolresults.projects.histories.get",
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}"
            }
          },
          "resources": {
            "executions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "request": {
                    "$ref": "Execution"
                  },
                  "httpMethod": "POST",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "toolresults.projects.histories.executions.create",
                  "parameters": {
                    "historyId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A History id. Required."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                },
                "get": {
                  "response": {
                    "$ref": "Execution"
                  },
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "id": "toolresults.projects.histories.executions.get",
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "executionId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "An Execution id. Required."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "A Project id. Required.",
                      "required": true,
                      "location": "path"
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ]
                },
                "patch": {
                  "parameters": {
                    "historyId": {
                      "required": true,
                      "description": "Required.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    },
                    "executionId": {
                      "description": "Required.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "request": {
                    "$ref": "Execution"
                  },
                  "id": "toolresults.projects.histories.executions.patch",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "toolresults.projects.histories.executions.list",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "A Project id. Required.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "historyId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "A History id. Required."
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist"
                }
              },
              "resources": {
                "steps": {
                  "resources": {
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "projectId": {
                              "type": "string",
                              "required": true,
                              "description": "The cloud project",
                              "location": "path"
                            },
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results execution ID."
                            },
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ]
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "parameters": {
                                "historyId": {
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "location": "path",
                                  "type": "string"
                                },
                                "stepId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results step ID."
                                },
                                "executionId": {
                                  "type": "string",
                                  "description": "A tool results execution ID.",
                                  "location": "path",
                                  "required": true
                                },
                                "projectId": {
                                  "description": "The cloud project",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A sample series id",
                                  "type": "string"
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate"
                            },
                            "list": {
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "historyId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results history ID.",
                                  "required": true
                                },
                                "stepId": {
                                  "location": "path",
                                  "description": "A tool results step ID.",
                                  "type": "string",
                                  "required": true
                                },
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "type": "integer",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000"
                                },
                                "pageToken": {
                                  "description": "Optional, the next_page_token returned in the previous response",
                                  "location": "query",
                                  "type": "string"
                                },
                                "projectId": {
                                  "location": "path",
                                  "description": "The cloud project",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "projectId": {
                              "description": "The cloud project",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "type": "string"
                            },
                            "stepId": {
                              "location": "path",
                              "type": "string",
                              "description": "A tool results step ID.",
                              "required": true
                            },
                            "sampleSeriesId": {
                              "location": "path",
                              "required": true,
                              "description": "A sample series id",
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A tool results history ID."
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ]
                        },
                        "create": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "parameters": {
                            "projectId": {
                              "description": "The cloud project",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "stepId": {
                              "required": true,
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results execution ID."
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "POST",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameters": {
                            "stepId": {
                              "description": "A tool results step ID.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "repeated": true,
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "location": "query",
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result"
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The cloud project"
                            }
                          },
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist"
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "TestCase"
                          },
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "testCaseId": {
                              "type": "string",
                              "location": "path",
                              "description": "A Test Case id. Required.",
                              "required": true
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Execution id Required."
                            },
                            "historyId": {
                              "description": "A History id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "id": "toolresults.projects.histories.executions.steps.testCases.get"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "parameters": {
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional."
                            },
                            "historyId": {
                              "type": "string",
                              "description": "A History id. Required.",
                              "location": "path",
                              "required": true
                            },
                            "executionId": {
                              "description": "A Execution id Required.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ]
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "httpMethod": "GET",
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "parameters": {
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "description": "A History id. Required.",
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A Step id. Required."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "executionId": {
                              "description": "An Execution id. Required.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "executionId": {
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "type": "string",
                          "description": "A History id. Required.",
                          "required": true
                        },
                        "stepId": {
                          "description": "A Step id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}"
                    },
                    "create": {
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id.",
                          "location": "path"
                        },
                        "historyId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. A History id.",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. An Execution id.",
                          "location": "path"
                        }
                      },
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "accessibilityClusters": {
                      "parameters": {
                        "locale": {
                          "location": "query",
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "type": "string",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required."
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Project id. Required."
                        },
                        "pageSize": {
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "response": {
                        "$ref": "ListStepsResponse"
                      }
                    },
                    "patch": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "stepId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Step id. Required."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "request": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "publishXunitXmlFiles": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "stepId": {
                          "type": "string",
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Execution id. Required."
                        }
                      },
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles"
                    },
                    "getPerfMetricsSummary": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "description": "A tool results execution ID.",
                          "required": true
                        },
                        "stepId": {
                          "required": true,
                          "description": "A tool results step ID.",
                          "type": "string",
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A tool results history ID.",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "description": "The cloud project",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary"
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "An Execution id. Required."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "description": "A Cluster id Required.",
                          "required": true
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}"
                    },
                    "list": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "parameters": {
                        "historyId": {
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A Project id. Required."
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "An Execution id. Required.",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. A Project id.",
                          "type": "string"
                        },
                        "executionId": {
                          "type": "string",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item.",
                          "location": "query"
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. An Execution id."
                        },
                        "environmentId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Environment id.",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A History id.",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A Project id.",
                          "required": true
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "response": {
                        "$ref": "Environment"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://toolresults.googleapis.com/",
  "canonicalName": "Tool Results",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "toolresults",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta3",
  "kind": "discovery#restDescription",
  "id": "toolresults:v1beta3",
  "baseUrl": "https://toolresults.googleapis.com/",
  "schemas": {
    "MatrixDimensionDefinition": {
      "description": "One dimension of the matrix of different runs of a step.",
      "id": "MatrixDimensionDefinition",
      "type": "object",
      "properties": {}
    },
    "UnspecifiedWarning": {
      "description": "Default unspecified warning.",
      "properties": {},
      "type": "object",
      "id": "UnspecifiedWarning"
    },
    "ProjectSettings": {
      "description": "Per-project settings for the Tool Results service.",
      "id": "ProjectSettings",
      "properties": {
        "defaultBucket": {
          "type": "string",
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional"
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NonSdkApiUsageViolationReport": {
      "properties": {
        "targetSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the API Level on which the application is designed to run."
        },
        "exampleApis": {
          "items": {
            "$ref": "NonSdkApi"
          },
          "type": "array",
          "description": "Examples of the detected API usages."
        },
        "minSdkVersion": {
          "format": "int32",
          "description": "Minimum API level required for the application to run.",
          "type": "integer"
        },
        "uniqueApis": {
          "format": "int32",
          "description": "Total number of unique Non-SDK API's accessed.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "NonSdkApiUsageViolationReport",
      "description": "Contains a summary and examples of non-sdk API usage violations."
    },
    "ToolExitCode": {
      "description": "Exit code from a tool execution.",
      "id": "ToolExitCode",
      "type": "object",
      "properties": {
        "number": {
          "format": "int32",
          "type": "integer",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set"
        }
      }
    },
    "PerfEnvironment": {
      "description": "Encapsulates performance environment info",
      "id": "PerfEnvironment",
      "type": "object",
      "properties": {
        "memoryInfo": {
          "$ref": "MemoryInfo",
          "description": "Memory related environment info"
        },
        "cpuInfo": {
          "$ref": "CPUInfo",
          "description": "CPU related environment info"
        }
      }
    },
    "ToolOutputReference": {
      "description": "A reference to a ToolExecution output file.",
      "type": "object",
      "id": "ToolOutputReference",
      "properties": {
        "testCase": {
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "TestCaseReference"
        },
        "output": {
          "$ref": "FileReference",
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set"
        },
        "creationTime": {
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Timestamp"
        }
      }
    },
    "History": {
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
      "type": "object",
      "id": "History",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
        },
        "name": {
          "type": "string",
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set"
        },
        "testPlatform": {
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown.",
          "type": "string",
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "historyId": {
          "type": "string",
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
        }
      }
    },
    "Duration": {
      "id": "Duration",
      "properties": {
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
        },
        "nanos": {
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "type": "object"
    },
    "Step": {
      "id": "Step",
      "description": "A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler). Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel). Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates an TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE A Step can be updated until its state is set to COMPLETE at which points it becomes immutable. Next tag: 27",
      "properties": {
        "dimensionValue": {
          "description": "If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions. The keys must exactly match the dimension_definition of the execution. For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']` If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']` If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset. A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution. A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different. A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys. - In response: present if set by create - In create request: optional - In update request: never set",
          "type": "array",
          "items": {
            "$ref": "StepDimensionValueEntry"
          }
        },
        "hasImages": {
          "type": "boolean",
          "description": "Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails. - In response: always set - In create/update request: never set"
        },
        "testExecutionStep": {
          "description": "An execution of a test runner.",
          "$ref": "TestExecutionStep"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the step was created. - In response: always set - In create/update request: never set"
        },
        "description": {
          "description": "A description of this tool For example: mvn clean package -D skipTests=true - In response: present if set by create/update request - In create/update request: optional",
          "type": "string"
        },
        "state": {
          "description": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -\u003e COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "type": "string"
        },
        "deviceUsageDuration": {
          "$ref": "Duration",
          "description": "How much the device resource is used to perform the test. This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage. PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set. - In response: present if previously set. - In create request: optional - In update request: optional"
        },
        "multiStep": {
          "description": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional",
          "$ref": "MultiStep"
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run. If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration. PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set. - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional"
        },
        "outcome": {
          "$ref": "Outcome",
          "description": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
        },
        "name": {
          "type": "string",
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name. - In response: always set - In create request: always set - In update request: never set"
        },
        "stepId": {
          "description": "A unique identifier within a Execution for this Step. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response: always set - In create/update request: never set",
          "type": "string"
        },
        "toolExecutionStep": {
          "$ref": "ToolExecutionStep",
          "description": "An execution of a tool (used for steps we don't explicitly support)."
        },
        "labels": {
          "items": {
            "$ref": "StepLabelsEntry"
          },
          "type": "array",
          "description": "Arbitrary user-supplied key/value pairs that are associated with the step. Users are responsible for managing the key namespace such that keys don't accidentally collide. An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters. - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value"
        },
        "completionTime": {
          "$ref": "Timestamp",
          "description": "The time when the step status was set to complete. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
        }
      },
      "type": "object"
    },
    "NativeCrash": {
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the native crash. Optional."
        }
      },
      "type": "object",
      "description": "Additional details for a native crash.",
      "id": "NativeCrash"
    },
    "Timestamp": {
      "properties": {
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive."
        },
        "nanos": {
          "type": "integer",
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive.",
          "format": "int32"
        }
      },
      "id": "Timestamp",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "type": "object"
    },
    "ListScreenshotClustersResponse": {
      "properties": {
        "clusters": {
          "items": {
            "$ref": "ScreenshotCluster"
          },
          "type": "array",
          "description": "The set of clusters associated with an execution Always set"
        }
      },
      "type": "object",
      "id": "ListScreenshotClustersResponse"
    },
    "Any": {
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }",
      "type": "object",
      "id": "Any",
      "properties": {
        "typeUrl": {
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "format": "byte"
        }
      }
    },
    "AndroidTestLoop": {
      "properties": {},
      "id": "AndroidTestLoop",
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.",
      "type": "object"
    },
    "TestExecutionStep": {
      "id": "TestExecutionStep",
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "type": "object",
      "properties": {
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testTiming": {
          "$ref": "TestTiming",
[...]
