{
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "version": "v1beta3",
  "baseUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "API to publish and access results from developer tools.",
  "servicePath": "",
  "basePath": "",
  "revision": "20200507",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "id": "toolresults:v1beta3",
  "discoveryVersion": "v1",
  "schemas": {
    "EnvironmentDimensionValueEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "EnvironmentDimensionValueEntry"
    },
    "InconclusiveDetail": {
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary.",
      "type": "object",
      "properties": {
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of\ninfrastructure failures",
          "type": "boolean"
        },
        "infrastructureFailure": {
          "type": "boolean",
          "description": "If the test runner could not determine success or failure because the test\ndepends on a component other than the system under test which failed.\n\nFor example, a mobile test requires provisioning a device where the test\nexecutes, and that provisioning can fail."
        },
        "abortedByUser": {
          "description": "If the end user aborted the test execution before a pass or fail could be\ndetermined.\nFor example, the user pressed ctrl-c which sent a kill signal to the test\nrunner while the test was running.",
          "type": "boolean"
        }
      },
      "id": "InconclusiveDetail"
    },
    "TestCaseReference": {
      "id": "TestCaseReference",
      "description": "A reference to a test case.\n\nTest case references are canonically ordered lexicographically by these three\nfactors:\n* First, by test_suite_name.\n* Second, by class_name.\n* Third, by name.",
      "type": "object",
      "properties": {
        "testSuiteName": {
          "type": "string",
          "description": "The name of the test suite to which this test case belongs."
        },
        "className": {
          "description": "The name of the class.",
          "type": "string"
        },
        "name": {
          "description": "The name of the test case.\n\nRequired.",
          "type": "string"
        }
      }
    },
    "RoboScriptExecution": {
      "description": "Execution stats for a user-provided Robo script.",
      "type": "object",
      "properties": {
        "totalActions": {
          "description": "The total number of actions in the Robo script.",
          "format": "int32",
          "type": "integer"
        },
        "successfulActions": {
          "description": "The number of Robo script actions executed successfully.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RoboScriptExecution"
    },
    "TestExecutionStep": {
      "id": "TestExecutionStep",
      "description": "A step that represents running tests.\n\nIt accepts ant-junit xml files which will be parsed into structured test\nresults by the service. Xml file paths are updated in order to append more\nfiles, however they can't be deleted.\n\nUsers can also add test results manually by using the test_result field.",
      "type": "object",
      "properties": {
        "testTiming": {
          "$ref": "TestTiming",
          "description": "The timing break down of the test execution.\n\n- In response: present if set by create or update\n- In create/update request: optional"
        },
        "testIssues": {
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          },
          "description": "Issues observed during the test execution.\n\nFor example, if the mobile app under test crashed during the test,\nthe error message and the stack trace content can be recorded here\nto assist debugging.\n\n- In response: present if set by create or update\n- In create/update request: optional"
        },
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner.\n\nThe exit code of this tool will be used to determine if the test passed.\n\n- In response: always set\n- In create/update request: optional"
        },
        "testSuiteOverviews": {
          "description": "List of test suite overview contents. This could be parsed from xUnit XML\nlog by server, or uploaded directly by user. This references should only be\ncalled when test suites are fully parsed or uploaded.\n\nThe maximum allowed number of test suite overviews per step is 1000.\n\n- In response: always set\n- In create request: optional\n- In update request: never (use publishXunitXmlFiles custom method instead)",
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          }
        }
      }
    },
    "AndroidInstrumentationTest": {
      "type": "object",
      "properties": {
        "useOrchestrator": {
          "description": "The flag indicates whether Android Test Orchestrator will be used to run\ntest or not.",
          "type": "boolean"
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class.\nRequired",
          "type": "string"
        },
        "testPackageId": {
          "type": "string",
          "description": "The java package for the test to be executed.\nRequired"
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name,\nin one of these formats:\n - \"package package_name\"\n - \"class package_name.class_name\"\n - \"class package_name.class_name#method_name\"\n\nIf empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AndroidInstrumentationTest",
      "description": "A test of an Android application that can control an Android component\nindependently of its normal lifecycle.\n\nSee \u003chttp://developer.android.com/tools/testing/testing_android.html\u003e for\nmore information on types of Android tests."
    },
    "TestCase": {
      "type": "object",
      "properties": {
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        },
        "stackTraces": {
          "description": "The stack trace details if the test case failed or encountered an error.\n\nThe maximum size of the stack traces is 100KiB, beyond which the stack\ntrack will be truncated.\n\nZero if the test case passed.",
          "type": "array",
          "items": {
            "$ref": "StackTrace"
          }
        },
        "endTime": {
          "$ref": "Timestamp",
          "description": "The end time of the test case."
        },
        "skippedMessage": {
          "type": "string",
          "description": "Why the test case was skipped.\n\nPresent only for skipped test case"
        },
        "testCaseReference": {
          "$ref": "TestCaseReference",
          "description": "Test case reference, e.g. name, class name and test suite name.\n\nRequired."
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution.\n\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "ToolOutputReference"
          }
        },
        "startTime": {
          "$ref": "Timestamp",
          "description": "The start time of the test case."
        },
        "status": {
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked.\n\nPresent only for rollup test cases; test cases from steps that were run\nwith the same configuration had both failure and success outcomes."
          ],
          "enum": [
            "PASSED",
            "FAILED",
            "ERROR",
            "SKIPPED",
            "FLAKY"
          ],
          "description": "The status of the test case.\n\nRequired.",
          "type": "string"
        },
        "elapsedTime": {
          "$ref": "Duration",
          "description": "The elapsed run time of the test case.\n\nRequired."
        }
      },
      "id": "TestCase"
    },
    "Any": {
      "type": "object",
      "properties": {
        "typeUrl": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a google.protobuf.Type\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Any",
      "description": "\n`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := &pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\n# JSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message google.protobuf.Duration):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item.\n\nWill only be set if there are more Executions to fetch.",
          "type": "string"
        },
        "executions": {
          "description": "Executions.\n\nAlways set.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        }
      },
      "id": "ListExecutionsResponse"
    },
    "SafeHtmlProto": {
      "id": "SafeHtmlProto",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source,\nsince it's trivial for an attacker to forge serialized messages that\ndon't fulfill the type's safety contract -- for example, it could contain\nattacker controlled script. A system which receives a SafeHtmlProto\nimplicitly trusts the producer of the SafeHtmlProto. So, it's generally safe\nto return this message in RPC responses, but generally unsafe to accept it\nin RPC requests.",
      "type": "object",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private.\nSee documentation at the top of .proto file for programming language\npackages with which to create or read this message.",
          "type": "string"
        }
      }
    },
    "EncounteredLoginScreen": {
      "type": "object",
      "properties": {
        "distinctScreens": {
          "description": "Number of encountered distinct login screens.",
          "format": "int32",
          "type": "integer"
        },
        "screenIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subset of login screens."
        }
      },
      "id": "EncounteredLoginScreen",
      "description": "Additional details about encountered login screens."
    },
    "Environment": {
      "description": "An Environment represents the set of test runs (Steps) from the parent\nExecution that are configured with the same set of dimensions (Model,\nVersion, Locale, and Orientation). Multiple such runs occur particularly\nbecause of features like sharding (splitting up a test suite to run in\nparallel across devices) and reruns (running a test multiple times to check\nfor different outcomes).",
      "type": "object",
      "properties": {
        "environmentResult": {
          "$ref": "MergedResult",
          "description": "Merged result of the environment."
        },
        "dimensionValue": {
          "description": "Dimension values describing the environment. Dimension values always\nconsist of \"Model\", \"Version\", \"Locale\", and \"Orientation\".\n\n- In response: always set\n- In create request: always set\n- In update request: never set",
          "type": "array",
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          }
        },
        "projectId": {
          "type": "string",
          "description": "Output only. A Project id."
        },
        "completionTime": {
          "$ref": "Timestamp",
          "description": "Output only. The time when the Environment status was set to complete.\n\nThis value will be set automatically when state transitions to\nCOMPLETE."
        },
        "shardSummaries": {
          "type": "array",
          "items": {
            "$ref": "ShardSummary"
          },
          "description": "Output only. Summaries of shards.\n\nOnly one shard will present unless sharding feature is enabled in\nTestExecutionService."
        },
        "executionId": {
          "description": "Output only. An Execution id.",
          "type": "string"
        },
        "resultsStorage": {
          "description": "The location where output files are stored in the user bucket.",
          "$ref": "ResultsStorage"
        },
        "displayName": {
          "description": "A short human-readable name to display in the UI.\nMaximum of 100 characters.\nFor example: Nexus 5, API 27.",
          "type": "string"
        },
        "historyId": {
          "description": "Output only. A History id.",
          "type": "string"
        },
        "environmentId": {
          "description": "Output only. An Environment id.",
          "type": "string"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "Output only. The time when the Environment was created."
        }
      },
      "id": "Environment"
    },
    "ToolOutputReference": {
      "type": "object",
      "properties": {
        "output": {
          "description": "A FileReference to an output file.\n\n- In response: always set\n- In create/update request: always set",
          "$ref": "FileReference"
        },
        "testCase": {
          "$ref": "TestCaseReference",
          "description": "The test case to which this output file belongs.\n\n- In response: present if set by create/update request\n- In create/update request: optional"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The creation time of the file.\n\n- In response: present if set by create/update request\n- In create/update request: optional"
        }
      },
      "id": "ToolOutputReference",
      "description": "A reference to a ToolExecution output file."
    },
    "Specification": {
      "id": "Specification",
      "description": "The details about how to run the execution.",
      "type": "object",
      "properties": {
        "androidTest": {
          "$ref": "AndroidTest",
          "description": "An Android mobile test execution specification."
        }
      }
    },
    "NonSdkApiUsageViolationReport": {
      "id": "NonSdkApiUsageViolationReport",
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "type": "object",
      "properties": {
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32",
          "type": "integer"
        },
        "exampleApis": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages."
        },
        "uniqueApis": {
          "description": "Total number of unique Non-SDK API's accessed.",
          "format": "int32",
          "type": "integer"
        },
        "minSdkVersion": {
          "type": "integer",
          "description": "Minimum API level required for the application to run.",
          "format": "int32"
        }
      }
    },
    "ProjectSettings": {
      "description": "Per-project settings for the Tool Results service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the project's settings.\n\nAlways of the form:\nprojects/{project-id}/settings\n\nIn update request: never set\nIn response: always set",
          "type": "string"
        },
        "defaultBucket": {
          "description": "The name of the Google Cloud Storage bucket to which results are written.\n\nBy default, this is unset.\n\nIn update request: optional\nIn response: optional",
          "type": "string"
        }
      },
      "id": "ProjectSettings"
    },
    "ScreenshotCluster": {
      "id": "ScreenshotCluster",
      "type": "object",
      "properties": {
        "activity": {
          "type": "string",
          "description": "A string that describes the activity of every screen in the cluster."
        },
        "screens": {
          "description": "Full list of screens.",
          "type": "array",
          "items": {
            "$ref": "Screen"
          }
        },
        "keyScreen": {
          "$ref": "Screen",
          "description": "A singular screen that represents the cluster as a whole. This screen will\nact as the \"cover\" of the entire cluster. When users look at the clusters,\nonly the key screen from each cluster will be shown. Which screen is the\nkey screen is determined by the ClusteringAlgorithm"
        },
        "clusterId": {
          "type": "string",
          "description": "A unique identifier for the cluster.\n@OutputOnly"
        }
      }
    },
    "MergedResult": {
      "id": "MergedResult",
      "description": "Merged test result for environment.\n\nIf the environment has only one step (no reruns or shards), then the merged\nresult is the same as the step result. If the environment has multiple shards\nand/or reruns, then the results of shards and reruns that belong to the same\nenvironment are merged into one environment result.",
      "type": "object",
      "properties": {
        "outcome": {
          "$ref": "Outcome",
          "description": "Outcome of the resource"
        },
        "testSuiteOverviews": {
          "description": "The combined and rolled-up result of each test suite that was run as part\n of this environment.\n\n Combining:\n When the test cases from a suite are run in different steps (sharding),\n the results are added back together in one overview. (e.g., if shard1 has\n 2 failures and shard2 has 1 failure than the overview failure_count = 3).\n\n Rollup:\n When test cases from the same suite are run multiple times (flaky), the\n results are combined (e.g., if testcase1.run1 fails, testcase1.run2\n passes, and both testcase2.run1 and testcase2.run2 fail then the overview\n flaky_count = 1 and failure_count = 1).",
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          }
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward\ncompatibility.",
            "The Execution/Step is created, ready to run, but not running yet.\nIf an Execution/Step is created without initial state, it is assumed\nthat the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be\nmodified."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "PENDING",
            "IN_PROGRESS",
            "COMPLETE"
          ],
          "description": "State of the resource",
          "type": "string"
        }
      }
    },
    "ListStepAccessibilityClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A sequence of accessibility suggestions, grouped into clusters.\nWithin the sequence, clusters that belong to the same SuggestionCategory\nshould be adjacent.\nWithin each category, clusters should be ordered by their\nSuggestionPriority (ERRORs first).\nThe categories should be ordered by their highest priority cluster.",
          "type": "array",
          "items": {
            "$ref": "SuggestionClusterProto"
          }
        },
        "name": {
          "description": "A full resource name of the step.\nFor example, projects/my-project/histories/bh.1234567890abcdef/executions/\n1234567890123456789/steps/bs.1234567890abcdef\n\nAlways presents.",
          "type": "string"
        }
      },
      "id": "ListStepAccessibilityClustersResponse",
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters."
    },
    "SuggestionProto": {
      "type": "object",
      "properties": {
        "secondaryPriority": {
          "description": "Relative importance of a suggestion as compared with other suggestions\nthat have the same priority and category.\nThis is a meaningless value that can be used to order suggestions that are\nin the same category and have the same priority.\nThe larger values have higher priority (i.e., are more important).\nOptional.",
          "format": "double",
          "type": "number"
        },
        "region": {
          "$ref": "RegionProto",
          "description": "Region within the screenshot that is relevant to this suggestion.\nOptional."
        },
        "helpUrl": {
          "description": "Reference to a help center article concerning this type of suggestion.\nAlways set.",
          "type": "string"
        },
        "pseudoResourceId": {
          "description": "A somewhat human readable identifier of the source view, if it does not\nhave a resource_name. This is a path within the accessibility hierarchy,\nan element with resource name; similar to an XPath.",
          "type": "string"
        },
        "longMessage": {
          "$ref": "SafeHtmlProto",
          "description": "Message, in the user's language, explaining the suggestion, which may\ncontain markup.\nAlways set."
        },
        "shortMessage": {
          "description": "Concise message, in the user's language, representing the suggestion,\nwhich may contain markup.\nAlways set.",
          "$ref": "SafeHtmlProto"
        },
        "screenId": {
          "description": "ID of the screen for the suggestion.\nIt is used for getting the corresponding screenshot path. For example,\nscreen_id \"1\" corresponds to \"1.png\" file in GCS.\nAlways set.",
          "type": "string"
        },
        "title": {
          "description": "General title for the suggestion, in the user's language, without markup.\nAlways set.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_PRIORITY",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Relative importance of a suggestion.\nAlways set."
        },
        "resourceName": {
          "description": "Reference to a view element, identified by its resource name, if it has\none.",
          "type": "string"
        }
      },
      "id": "SuggestionProto"
    },
    "FileReference": {
      "description": "A reference to a file.",
      "type": "object",
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "The URI of a file stored in Google Cloud Storage.\n\nFor example: http://storage.googleapis.com/mybucket/path/to/test.xml\nor in gsutil format: gs://mybucket/path/to/test.xml\nwith version-specific info,\ngs://mybucket/path/to/test.xml#1360383693690000\n\nAn INVALID_ARGUMENT error will be returned if the URI format is not\nsupported.\n\n- In response: always set\n- In create/update request: always set"
        }
      },
      "id": "FileReference"
    },
    "ListHistoriesResponse": {
      "type": "object",
      "properties": {
        "histories": {
          "description": "Histories.",
          "type": "array",
          "items": {
            "$ref": "History"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item.\n\nWill only be set if there are more histories to fetch.\n\nTokens are valid for up to one hour from the time of the first list\nrequest. For instance, if you make a list request at 1PM and use the token\nfrom this first request 10 minutes later, the token from this second\nresponse will only be valid for 50 minutes."
        }
      },
      "id": "ListHistoriesResponse",
      "description": "Response message for HistoryService.List"
    },
    "PublishXunitXmlFilesRequest": {
      "description": "Request message for StepService.PublishXunitXmlFiles.",
      "type": "object",
      "properties": {
        "xunitXmlFiles": {
          "type": "array",
          "items": {
            "$ref": "FileReference"
          },
          "description": "URI of the Xunit XML files to publish.\n\nThe maximum size of the file this reference is pointing to is 50MB.\n\nRequired."
        }
      },
      "id": "PublishXunitXmlFilesRequest"
    },
    "ListPerfSampleSeriesResponse": {
      "id": "ListPerfSampleSeriesResponse",
      "type": "object",
      "properties": {
        "perfSampleSeries": {
          "type": "array",
          "items": {
            "$ref": "PerfSampleSeries"
          },
          "description": "The resulting PerfSampleSeries sorted by id"
        }
      }
    },
    "MatrixDimensionDefinition": {
      "description": "One dimension of the matrix of different runs of a step.",
      "type": "object",
      "properties": {},
      "id": "MatrixDimensionDefinition"
    },
    "Thumbnail": {
      "type": "object",
      "properties": {
        "heightPx": {
          "description": "The height of the thumbnail, in pixels.\n\nAlways set.",
          "format": "int32",
          "type": "integer"
        },
        "widthPx": {
          "description": "The width of the thumbnail, in pixels.\n\nAlways set.",
          "format": "int32",
          "type": "integer"
        },
        "data": {
          "description": "The thumbnail file itself.\n\nThat is, the bytes here are precisely the bytes that make up the thumbnail\nfile; they can be served as an image as-is (with the appropriate content\ntype.)\n\nAlways set.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The thumbnail's content type, i.e. \"image/png\".\n\nAlways set."
        }
      },
      "id": "Thumbnail",
      "description": "A single thumbnail, with its size and format."
    },
    "StepDimensionValueEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "StepDimensionValueEntry"
    },
    "FailureDetail": {
      "type": "object",
      "properties": {
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not\nstart.",
          "type": "boolean"
        },
        "notInstalled": {
          "description": "If an app is not installed and thus no test can be run with the app.\nThis might be caused by trying to run a test on an unsupported platform.",
          "type": "boolean"
        },
        "timedOut": {
          "description": "If the test overran some time limit, and that is why it failed.",
          "type": "boolean"
        },
        "otherNativeCrash": {
          "description": "If a native process (including any other than the app) crashed.",
          "type": "boolean"
        }
      },
      "id": "FailureDetail",
      "description": "Details for an outcome with a FAILURE outcome summary."
    },
    "LauncherActivityNotFound": {
      "description": "Failed to find the launcher activity of an app.",
      "type": "object",
      "properties": {},
      "id": "LauncherActivityNotFound"
    },
    "RegionProto": {
      "description": "A rectangular region.",
      "type": "object",
      "properties": {
        "leftPx": {
          "type": "integer",
          "description": "The left side of the rectangle, in pixels.\nAlways set.",
          "format": "int32"
        },
        "topPx": {
          "description": "The top of the rectangle, in pixels.\nAlways set.",
          "format": "int32",
          "type": "integer"
        },
        "heightPx": {
          "description": "The height, in pixels.\nAlways set.",
          "format": "int32",
          "type": "integer"
        },
        "widthPx": {
          "description": "The width, in pixels.\nAlways set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RegionProto"
    },
    "CrashDialogError": {
      "type": "object",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      },
      "id": "CrashDialogError",
      "description": "Crash dialog was detected during the test execution"
    },
    "ListPerfSamplesResponse": {
      "id": "ListPerfSamplesResponse",
      "type": "object",
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        },
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the\nrequest (or the default page size, 500, if unspecified). It indicates the\nlast sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        }
      }
    },
    "UIElementTooDeep": {
      "id": "UIElementTooDeep",
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "type": "object",
      "properties": {
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        },
        "depth": {
          "description": "The depth of the screen element",
          "format": "int32",
          "type": "integer"
        },
        "screenStateId": {
          "description": "The screen state id of the element",
          "type": "string"
        }
      }
    },
    "PerfEnvironment": {
      "type": "object",
      "properties": {
        "memoryInfo": {
          "$ref": "MemoryInfo",
          "description": "Memory related environment info"
        },
        "cpuInfo": {
          "$ref": "CPUInfo",
          "description": "CPU related environment info"
        }
      },
      "id": "PerfEnvironment",
      "description": "Encapsulates performance environment info"
    },
    "PerfSampleSeries": {
      "type": "object",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A tool results history ID.\n@OutputOnly"
        },
        "sampleSeriesId": {
          "type": "string",
          "description": "A sample series id\n@OutputOnly"
        },
        "projectId": {
          "description": "The cloud project\n@OutputOnly",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "A tool results execution ID.\n@OutputOnly"
        },
        "basicPerfSampleSeries": {
          "$ref": "BasicPerfSampleSeries",
          "description": "Basic series represented by a line chart"
        },
        "stepId": {
          "type": "string",
          "description": "A tool results step ID.\n@OutputOnly"
        }
      },
      "id": "PerfSampleSeries",
      "description": "Resource representing a collection of performance samples (or data points)"
    },
    "UnspecifiedWarning": {
      "description": "Default unspecified warning.",
      "type": "object",
      "properties": {},
      "id": "UnspecifiedWarning"
    },
    "UpgradeInsight": {
      "type": "object",
      "properties": {
        "packageName": {
          "description": "The name of the package to be upgraded.",
          "type": "string"
        },
        "upgradeToVersion": {
          "description": "The suggested version to upgrade to.\nOptional: In case we are not sure which version solves this problem",
          "type": "string"
        }
      },
      "id": "UpgradeInsight",
      "description": "This insight is a recommendation to upgrade a given library to the specified\nversion, in order to avoid dependencies on non-SDK APIs."
    },
    "MultiStep": {
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "type": "object",
      "properties": {
        "primaryStep": {
          "$ref": "PrimaryStep",
          "description": "Present if it is a primary (original) step."
        },
        "multistepNumber": {
          "description": "Unique int given to each step.\nRanges from 0(inclusive) to total number of steps(exclusive).\nThe primary step is 0.",
          "format": "int32",
          "type": "integer"
        },
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        }
      },
      "id": "MultiStep"
    },
    "Outcome": {
      "description": "Interprets a result so that humans and machines can act on it.",
      "type": "object",
      "properties": {
        "summary": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance:\n- All the test cases passed.\n- Robo did not detect a crash of the application under test.",
            "A run failed, for instance:\n- One or more test case failed.\n- A test timed out.\n- The application under test crashed.",
            "Something unexpected happened. The run should still be considered\nunsuccessful but this is likely a transient problem and re-running the\ntest might be successful.",
            "All tests were skipped, for instance:\n- All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both\nfailure and success outcomes."
          ],
          "enum": [
            "UNSET",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED",
            "FLAKY"
          ],
          "description": "The simplest way to interpret a result.\n\nRequired"
        },
        "failureDetail": {
          "description": "More information about a FAILURE outcome.\n\nReturns INVALID_ARGUMENT if this field is set\nbut the summary is not FAILURE.\n\nOptional",
          "$ref": "FailureDetail"
        },
        "inconclusiveDetail": {
          "$ref": "InconclusiveDetail",
          "description": "More information about an INCONCLUSIVE outcome.\n\nReturns INVALID_ARGUMENT if this field is set\nbut the summary is not INCONCLUSIVE.\n\nOptional"
        },
        "successDetail": {
          "$ref": "SuccessDetail",
          "description": "More information about a SUCCESS outcome.\n\nReturns INVALID_ARGUMENT if this field is set\nbut the summary is not SUCCESS.\n\nOptional"
        },
        "skippedDetail": {
          "$ref": "SkippedDetail",
          "description": "More information about a SKIPPED outcome.\n\nReturns INVALID_ARGUMENT if this field is set\nbut the summary is not SKIPPED.\n\nOptional"
        }
      },
      "id": "Outcome"
    },
    "FailedToInstall": {
      "type": "object",
      "properties": {},
      "id": "FailedToInstall",
      "description": "Failed to install the APK."
    },
    "StepSummary": {
      "type": "object",
      "properties": {},
      "id": "StepSummary",
      "description": "Lightweight summary of a step within this execution."
    },
    "BatchCreatePerfSamplesRequest": {
      "type": "object",
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          },
          "description": "The set of PerfSamples to create should not include existing timestamps"
        }
      },
      "id": "BatchCreatePerfSamplesRequest",
      "description": "The request must provide up to a maximum of 5000 samples to be\ncreated; a larger sample size will cause an INVALID_ARGUMENT error"
    },
    "Duration": {
      "description": "\nA Duration represents a signed, fixed-length span of time represented\nas a count of seconds and fractions of seconds at nanosecond\nresolution. It is independent of any calendar and concepts like \"day\"\nor \"month\". It is related to Timestamp in that the difference between\ntwo Timestamp values is a Duration and it can be added or subtracted\nfrom a Timestamp. Range is approximately +-10,000 years.",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Signed fractions of a second at nanosecond resolution of the span\nof time. Durations less than one second are represented with a 0\n`seconds` field and a positive or negative `nanos` field. For durations\nof one second or more, a non-zero value for the `nanos` field must be\nof the same sign as the `seconds` field. Must be from -999,999,999\nto +999,999,999 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000\nto +315,576,000,000 inclusive. Note: these bounds are computed from:\n60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Duration"
    },
    "UsedRoboIgnoreDirective": {
      "id": "UsedRoboIgnoreDirective",
      "description": "Additional details of a used Robo directive with an ignore action.\nNote: This is a different scenario than unused directive.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was ignored.",
          "type": "string"
        }
      }
    },
    "Timestamp": {
      "description": "A Timestamp represents a point in time independent of any time zone or local\ncalendar, encoded as a count of seconds and fractions of seconds at\nnanosecond resolution. The count is relative to an epoch at UTC midnight on\nJanuary 1, 1970, in the proleptic Gregorian calendar which extends the\nGregorian calendar backwards to year one.\n\nAll minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap\nsecond table is needed for interpretation, using a [24-hour linear\nsmear](https://developers.google.com/time/smear).\n\nThe range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By\nrestricting to that range, we ensure that we can convert to and from [RFC\n3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch\n1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to\n9999-12-31T23:59:59Z inclusive.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative\nsecond values with fractions must still have non-negative nanos values\nthat count forward in time. Must be from 0 to 999,999,999\ninclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Timestamp"
    },
    "BasicPerfSampleSeries": {
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "type": "object",
      "properties": {
        "perfMetricType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PERF_METRIC_TYPE_UNSPECIFIED",
            "MEMORY",
            "CPU",
            "NETWORK",
            "GRAPHICS"
          ]
        },
        "sampleSeriesLabel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "enum": [
            "SAMPLE_SERIES_TYPE_UNSPECIFIED",
            "MEMORY_RSS_PRIVATE",
            "MEMORY_RSS_SHARED",
            "MEMORY_RSS_TOTAL",
            "MEMORY_TOTAL",
            "CPU_USER",
            "CPU_KERNEL",
            "CPU_TOTAL",
            "NT_BYTES_TRANSFERRED",
            "NT_BYTES_RECEIVED",
            "NETWORK_SENT",
            "NETWORK_RECEIVED",
            "GRAPHICS_FRAME_RATE"
          ]
        },
        "perfUnit": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PERF_UNIT_UNSPECIFIED",
            "KIBIBYTE",
            "PERCENT",
            "BYTES_PER_SECOND",
            "FRAMES_PER_SECOND",
            "BYTE"
          ]
        }
      },
      "id": "BasicPerfSampleSeries"
    },
    "BlankScreen": {
      "description": "A warning that Robo encountered a screen that was mostly blank; this may\nindicate a problem with the app.",
      "type": "object",
      "properties": {
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        }
      },
      "id": "BlankScreen"
    },
    "GraphicsStatsBucket": {
      "type": "object",
      "properties": {
        "frameCount": {
          "description": "Number of frames in the bucket.",
          "format": "int64",
          "type": "string"
        },
        "renderMillis": {
          "description": "Lower bound of render time in milliseconds.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GraphicsStatsBucket"
    },
    "PendingGoogleUpdateInsight": {
      "description": "This insight indicates that the hidden API usage originates from a\nGoogle-provided library. Users need not take any action.",
      "type": "object",
      "properties": {
        "nameOfGoogleLibrary": {
          "description": "The name of the Google-provided library with the non-SDK API dependency.",
          "type": "string"
        }
      },
      "id": "PendingGoogleUpdateInsight"
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "description": "Additional details for an iOS app crash.",
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace, if one is available.\nOptional."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GraphicsStats": {
      "description": "Graphics statistics for the App.\nThe information is collected from 'adb shell dumpsys graphicsstats'.\nFor more info see:\nhttps://developer.android.com/training/testing/performance.html\nStatistics will only be present for API 23+.",
      "type": "object",
      "properties": {
        "jankyFrames": {
          "type": "string",
          "description": "Total frames with slow render time. Should be \u003c= total_frames.",
          "format": "int64"
        },
        "slowBitmapUploadCount": {
          "description": "Total \"slow bitmap upload\" events.",
          "format": "int64",
          "type": "string"
        },
        "buckets": {
          "description": "Histogram of frame render times. There should be 154 buckets ranging from\n[5ms, 6ms) to [4950ms, infinity)",
          "type": "array",
          "items": {
            "$ref": "GraphicsStatsBucket"
          }
        },
        "totalFrames": {
          "description": "Total frames rendered by package.",
          "format": "int64",
          "type": "string"
        },
        "p50Millis": {
          "type": "string",
          "description": "50th percentile frame render time in milliseconds.",
          "format": "int64"
        },
        "slowUiThreadCount": {
          "description": "Total \"slow UI thread\" events.",
          "format": "int64",
          "type": "string"
        },
        "p99Millis": {
          "type": "string",
          "description": "99th percentile frame render time in milliseconds.",
          "format": "int64"
        },
        "slowDrawCount": {
          "description": "Total \"slow draw\" events.",
          "format": "int64",
          "type": "string"
        },
        "highInputLatencyCount": {
          "description": "Total \"high input latency\" events.",
          "format": "int64",
          "type": "string"
        },
        "p95Millis": {
          "description": "95th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "missedVsyncCount": {
          "description": "Total \"missed vsync\" events.",
          "format": "int64",
          "type": "string"
        },
        "p90Millis": {
          "description": "90th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GraphicsStats"
    },
    "PrimaryStep": {
      "description": "Stores rollup test status of multiple steps that were run as a group and\noutcome of each individual step.",
      "type": "object",
      "properties": {
        "rollUp": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance:\n- All the test cases passed.\n- Robo did not detect a crash of the application under test.",
            "A run failed, for instance:\n- One or more test case failed.\n- A test timed out.\n- The application under test crashed.",
            "Something unexpected happened. The run should still be considered\nunsuccessful but this is likely a transient problem and re-running the\ntest might be successful.",
            "All tests were skipped, for instance:\n- All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both\nfailure and success outcomes."
          ],
          "enum": [
            "UNSET",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED",
            "FLAKY"
          ],
          "description": "Rollup test status of multiple steps that were run with the same\nconfiguration as a group.",
          "type": "string"
        },
        "individualOutcome": {
          "description": "Step Id and outcome of each individual step.",
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          }
        }
      },
      "id": "PrimaryStep"
    },
    "ListTestCasesResponse": {
      "id": "ListTestCasesResponse",
      "description": "Response message for StepService.ListTestCases.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "TestCase"
          },
          "description": "List of test cases."
        }
      }
    },
    "MemoryInfo": {
      "type": "object",
      "properties": {
        "memoryCapInKibibyte": {
          "description": "Maximum memory that can be allocated to the process in KiB",
          "format": "int64",
          "type": "string"
        },
        "memoryTotalInKibibyte": {
          "description": "Total memory available on the device in KiB",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "MemoryInfo"
    },
    "FatalException": {
      "id": "FatalException",
      "description": "Additional details for a fatal exception.",
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the fatal exception.\nOptional."
        }
      }
    },
    "NonSdkApi": {
      "id": "NonSdkApi",
      "description": "A non-sdk API and examples of it being called along with other metadata\nSee\nhttps://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "type": "object",
      "properties": {
        "apiSignature": {
          "type": "string",
          "description": "The signature of the Non-SDK API"
        },
        "list": {
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q"
          ],
          "description": "Which list this API appears on",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "description": "Optional debugging insights for non-SDK API violations."
        },
        "invocationCount": {
          "type": "integer",
          "description": "The total number of times this API was observed to have been called.",
          "format": "int32"
        },
        "exampleStackTraces": {
          "description": "Example stack traces of this API being called.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InsufficientCoverage": {
      "id": "InsufficientCoverage",
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "type": "object",
      "properties": {}
    },
    "ToolExitCode": {
      "id": "ToolExitCode",
      "description": "Exit code from a tool execution.",
      "type": "object",
      "properties": {
        "number": {
          "description": "Tool execution exit code. A value of 0 means that the execution was\nsuccessful.\n\n- In response: always set\n- In create/update request: always set",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Step": {
      "id": "Step",
      "description": "A Step represents a single operation performed as part of\nExecution. A step can be used to represent the execution of a tool (\nfor example a test runner execution or an execution of a compiler).\n\nSteps can overlap (for instance two steps might have the same\nstart time if some operations are done in parallel).\n\nHere is an example, let's consider that we have a continuous build is\nexecuting a test runner for each iteration. The workflow would look like:\n- user creates a Execution with id 1\n- user creates an TestExecutionStep with id 100 for Execution 1\n- user update TestExecutionStep with id 100 to add a raw xml log\n    + the service parses the xml logs and returns a TestExecutionStep with\n     updated TestResult(s).\n- user update the status of TestExecutionStep with id 100 to COMPLETE\n\nA Step can be updated until its state is set to COMPLETE at which\npoints it becomes immutable.\n\nNext tag: 27",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of this tool\nFor example: mvn clean package -D skipTests=true\n\n- In response: present if set by create/update request\n- In create/update request: optional",
          "type": "string"
        },
        "testExecutionStep": {
          "$ref": "TestExecutionStep",
          "description": "An execution of a test runner."
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the step was created.\n\n- In response: always set\n- In create/update request: never set"
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward\ncompatibility.",
            "The Execution/Step is created, ready to run, but not running yet.\nIf an Execution/Step is created without initial state, it is assumed\nthat the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be\nmodified."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "PENDING",
            "IN_PROGRESS",
            "COMPLETE"
          ],
          "description": "The initial state is IN_PROGRESS.\nThe only legal state transitions are\n* IN_PROGRESS -\u003e COMPLETE\n\nA PRECONDITION_FAILED will be returned if an invalid transition is\nrequested.\n\nIt is valid to create Step with a state set to COMPLETE.\nThe state can only be set to COMPLETE once. A PRECONDITION_FAILED will be\nreturned if the state is set to COMPLETE multiple times.\n\n- In response: always set\n- In create/update request: optional",
          "type": "string"
        },
        "name": {
          "description": "A short human-readable name to display in the UI.\nMaximum of 100 characters.\nFor example: Clean build\n\nA PRECONDITION_FAILED will be returned upon creating a new step if it\nshares its name and dimension_value with an existing step. If two steps\nrepresent a similar action, but have different dimension values, they\nshould share the same name. For instance, if the same set of tests is\nrun on two different platforms, the two steps should have the same name.\n\n- In response: always set\n- In create request: always set\n- In update request: never set",
          "type": "string"
        },
        "dimensionValue": {
          "type": "array",
          "items": {
            "$ref": "StepDimensionValueEntry"
          },
          "description": "If the execution containing this step has any dimension_definition set,\nthen this field allows the child to specify the values of the dimensions.\n\nThe keys must exactly match the dimension_definition of the execution.\n\nFor example, if the execution has\n`dimension_definition = ['attempt', 'device']`\nthen a step must define values for those dimensions, eg.\n`dimension_value = ['attempt': '1', 'device': 'Nexus 6']`\n\nIf a step does not participate in one dimension of the matrix,\nthe value for that dimension should be empty string.\nFor example, if one of the tests is executed by a runner which\ndoes not support retries, the step could have\n`dimension_value = ['attempt': '', 'device': 'Nexus 6']`\n\nIf the step does not participate in any dimensions of the matrix,\nit may leave dimension_value unset.\n\nA PRECONDITION_FAILED will be returned if any of the keys do not exist\nin the dimension_definition of the execution.\n\nA PRECONDITION_FAILED will be returned if another step in this execution\nalready has the same name and dimension_value, but differs on other data\nfields, for example, step field is different.\n\nA PRECONDITION_FAILED will be returned if dimension_value is set, and\nthere is a dimension_definition in the execution which is not specified\nas one of the keys.\n\n- In response: present if set by create\n- In create request: optional\n- In update request: never set"
        },
        "completionTime": {
          "$ref": "Timestamp",
          "description": "The time when the step status was set to complete.\n\nThis value will be set automatically when state transitions to\nCOMPLETE.\n\n- In response: set if the execution state is COMPLETE.\n- In create/update request: never set"
        },
        "outcome": {
          "$ref": "Outcome",
          "description": "Classification of the result, for example into SUCCESS or FAILURE\n\n- In response: present if set by create/update request\n- In create/update request: optional"
        },
        "multiStep": {
          "$ref": "MultiStep",
          "description": "Details when multiple steps are run with the same configuration as a group.\nThese details can be used identify which group this step is part of.\nIt also identifies the groups 'primary step' which indexes all the group\nmembers.\n\n- In response: present if previously set.\n- In create request: optional, set iff this step was performed more than\nonce.\n- In update request: optional"
        },
        "stepId": {
          "description": "A unique identifier within a Execution for this Step.\n\nReturns INVALID_ARGUMENT if this field is set or overwritten by the caller.\n\n- In response: always set\n- In create/update request: never set",
          "type": "string"
        },
        "toolExecutionStep": {
          "$ref": "ToolExecutionStep",
          "description": "An execution of a tool (used for steps we don't explicitly support)."
        },
        "deviceUsageDuration": {
          "$ref": "Duration",
          "description": "How much the device resource is used to perform the test.\n\nThis is the device usage used for billing purpose, which is different from\nthe run_duration, for example, infrastructure failure won't be charged for\ndevice usage.\n\nPRECONDITION_FAILED will be returned if one attempts to set a\ndevice_usage on a step which already has this field set.\n\n- In response: present if previously set.\n- In create request: optional\n- In update request: optional"
        },
        "labels": {
          "description": "Arbitrary user-supplied key/value pairs that are associated with the\nstep.\n\nUsers are responsible for managing the key namespace such that keys\ndon't accidentally collide.\n\nAn INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or\nif the length of any of the keys or values exceeds 100 characters.\n\n- In response: always set\n- In create request: optional\n- In update request: optional; any new key/value pair will be added to the\n  map, and any new value for an existing key will update that key's value",
          "type": "array",
          "items": {
            "$ref": "StepLabelsEntry"
          }
        },
        "hasImages": {
          "description": "Whether any of the outputs of this step are images whose\nthumbnails can be fetched with ListThumbnails.\n\n- In response: always set\n- In create/update request: never set",
          "type": "boolean"
        },
        "runDuration": {
          "description": "How long it took for this step to run.\n\nIf unset, this is set to the difference between creation_time and\ncompletion_time when the step is set to the COMPLETE state. In some cases,\nit is appropriate to set this value separately: For instance, if a step is\ncreated, but the operation it represents is queued for a few minutes before\nit executes, it would be appropriate not to include the time spent queued\nin its run_duration.\n\nPRECONDITION_FAILED will be returned if one attempts to set a\nrun_duration on a step which already has this field set.\n\n- In response: present if previously set; always present on COMPLETE step\n- In create request: optional\n- In update request: optional",
          "$ref": "Duration"
        }
      }
    },
    "TestSuiteOverview": {
      "id": "TestSuiteOverview",
      "description": "A summary of a test suite result either parsed from XML or uploaded\ndirectly by a user.\n\nNote: the API related comments are for StepService only. This message is\nalso being used in ExecutionService in a read only mode for the corresponding\nstep.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the test suite.\n\n- In create/response: always set\n- In update request: never"
        },
        "elapsedTime": {
          "description": "Elapsed time of test suite.",
          "$ref": "Duration"
        },
        "flakyCount": {
          "type": "integer",
          "description": "Number of flaky test cases, set by the service by rolling up flaky test\nattempts.\n\nPresent only for rollup test suite overview at environment level. A step\ncannot have flaky test cases.",
          "format": "int32"
        },
        "errorCount": {
          "description": "Number of test cases in error, typically set by the service by parsing the\nxml_source.\n\n- In create/response: always set\n- In update request: never",
          "format": "int32",
          "type": "integer"
        },
        "totalCount": {
          "description": "Number of test cases, typically set by the service by parsing the\nxml_source.\n\n- In create/response: always set\n- In update request: never",
          "format": "int32",
          "type": "integer"
        },
        "skippedCount": {
          "description": "Number of test cases not run, typically set by the service by parsing the\nxml_source.\n\n- In create/response: always set\n- In update request: never",
          "format": "int32",
          "type": "integer"
        },
        "xmlSource": {
          "$ref": "FileReference",
          "description": "If this test suite was parsed from XML, this is the URI where the original\nXML file is stored.\n\nNote: Multiple test suites can share the same xml_source\n\nReturns INVALID_ARGUMENT if the uri format is not supported.\n\n- In create/response: optional\n- In update request: never"
        },
        "failureCount": {
          "type": "integer",
          "description": "Number of failed test cases, typically set by the service by parsing the\nxml_source. May also be set by the user.\n\n- In create/response: always set\n- In update request: never",
          "format": "int32"
        }
      }
    },
    "InAppPurchasesFound": {
      "type": "object",
      "properties": {
        "inAppPurchasesFlowsStarted": {
          "type": "integer",
          "description": "The total number of in-app purchases flows started.",
          "format": "int32"
        },
        "inAppPurchasesFlowsExplored": {
          "description": "The total number of in-app purchases flows explored: how many times the\nrobo tries to buy a SKU.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "InAppPurchasesFound",
      "description": "Additional details of in-app purchases encountered during the crawl."
    },
    "ToolExecution": {
      "id": "ToolExecution",
      "description": "An execution of an arbitrary tool. It could be a test runner or a tool\ncopying artifacts or deploying code.",
      "type": "object",
      "properties": {
        "commandLineArguments": {
          "description": "The full tokenized command line including the program name (equivalent to\nargv in a C program).\n\n- In response: present if set by create request\n- In create request: optional\n- In update request: never set",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exitCode": {
          "$ref": "ToolExitCode",
          "description": "Tool execution exit code. This field will be set once the tool has\nexited.\n\n- In response: present if set by create/update request\n- In create request: optional\n- In update request: optional, a FAILED_PRECONDITION error will be\n  returned if an exit_code is already set."
        },
        "toolLogs": {
          "type": "array",
          "items": {
            "$ref": "FileReference"
          },
          "description": "References to any plain text logs output the tool execution.\n\nThis field can be set before the tool has exited in order to be able to\nhave access to a live view of the logs while the tool is running.\n\nThe maximum allowed number of tool logs per step is 1000.\n\n- In response: present if set by create/update request\n- In create request: optional\n- In update request: optional, any value provided will be appended to the\n  existing list"
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution.\n\nThe maximum allowed number of tool outputs per step is 1000.\n\n- In response: present if set by create/update request\n- In create request: optional\n- In update request: optional, any value provided will be appended to the\n  existing list",
          "type": "array",
          "items": {
            "$ref": "ToolOutputReference"
          }
        }
      }
    },
    "AppStartTime": {
      "type": "object",
      "properties": {
        "fullyDrawnTime": {
          "$ref": "Duration",
          "description": "Optional. The time from app start to reaching the developer-reported\n\"fully drawn\" time. This is only stored if the app includes a call to\nActivity.reportFullyDrawn(). See\nhttps://developer.android.com/topic/performance/launch-time.html#time-full"
        },
        "initialDisplayTime": {
          "$ref": "Duration",
          "description": "The time from app start to the first displayed activity being drawn,\nas reported in Logcat. See\nhttps://developer.android.com/topic/performance/launch-time.html#time-initial"
        }
      },
      "id": "AppStartTime"
    },
    "TestIssue": {
      "id": "TestIssue",
      "description": "An issue detected occurring during a test execution.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified category.\nDo not use. For versioning only.",
            "Issue is not specific to a particular test kind (e.g., a native crash).",
            "Issue is specific to Robo run."
          ],
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "COMMON",
            "ROBO"
          ],
          "description": "Category of issue.\nRequired."
        },
        "warning": {
          "$ref": "Any",
          "description": "Warning message with additional details of the issue.\nShould always be a message from com.google.devtools.toolresults.v1.warnings"
        },
        "severity": {
          "description": "Severity of issue.\nRequired.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified severity.\nDo not use. For versioning only.",
            "Non critical issue, providing users with some info about the test run.",
            "Non critical issue, providing users with some hints on improving their\ntesting experience, e.g., suggesting to use Game Loops.",
            "Potentially critical issue.",
            "Critical issue."
          ],
          "enum": [
            "UNSPECIFIED_SEVERITY",
            "INFO",
            "SUGGESTION",
            "WARNING",
            "SEVERE"
          ]
        },
        "stackTrace": {
          "description": "Deprecated in favor of stack trace fields inside specific warnings.",
          "$ref": "StackTrace"
        },
        "errorMessage": {
          "description": "A brief human-readable message describing the issue.\nRequired.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.\nDo not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not\nAndroid UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
            "Robo did not crawl some potentially important parts of the app.",
            "Robo crawl involved some in-app purchases.",
            "Crash dialog was detected during the test execution",
            "UI element depth is greater than the threshold",
            "Blank screen is found in the Robo crawl",
            "Overlapping UI elements are found in the Robo crawl"
          ],
          "enum": [
            "UNSPECIFIED_TYPE",
            "FATAL_EXCEPTION",
            "NATIVE_CRASH",
            "ANR",
            "UNUSED_ROBO_DIRECTIVE",
            "COMPATIBLE_WITH_ORCHESTRATOR",
            "LAUNCHER_ACTIVITY_NOT_FOUND",
            "START_ACTIVITY_NOT_FOUND",
            "INCOMPLETE_ROBO_SCRIPT_EXECUTION",
            "COMPLETE_ROBO_SCRIPT_EXECUTION",
            "FAILED_TO_INSTALL",
            "AVAILABLE_DEEP_LINKS",
            "NON_SDK_API_USAGE_VIOLATION",
            "NON_SDK_API_USAGE_REPORT",
            "ENCOUNTERED_NON_ANDROID_UI_WIDGET_SCREEN",
            "ENCOUNTERED_LOGIN_SCREEN",
            "PERFORMED_GOOGLE_LOGIN",
            "IOS_EXCEPTION",
            "IOS_CRASH",
            "PERFORMED_MONKEY_ACTIONS",
            "USED_ROBO_DIRECTIVE",
            "USED_ROBO_IGNORE_DIRECTIVE",
            "INSUFFICIENT_COVERAGE",
            "IN_APP_PURCHASES",
            "CRASH_DIALOG_ERROR",
            "UI_ELEMENTS_TOO_DEEP",
            "BLANK_SCREEN",
            "OVERLAPPING_UI_ELEMENTS"
          ],
          "description": "Type of issue.\nRequired."
        }
      }
    },
    "ToolExecutionStep": {
      "description": "Generic tool step to be used for binaries we do not explicitly support.\nFor example: running cp to copy artifacts from one location to another.",
      "type": "object",
      "properties": {
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "A Tool execution.\n\n- In response: present if set by create/update request\n- In create/update request: optional"
        }
      },
      "id": "ToolExecutionStep"
    },
    "ANR": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the ANR crash.\nOptional."
        }
      },
      "id": "ANR",
      "description": "Additional details for an ANR crash."
    },
    "ListStepsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item.\n\nIf set, indicates that there are more steps to read, by calling list again\nwith this value in the page_token field.",
          "type": "string"
        },
        "steps": {
          "description": "Steps.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        }
      },
      "id": "ListStepsResponse",
      "description": "Response message for StepService.List."
    },
    "SuccessDetail": {
      "id": "SuccessDetail",
      "description": "Details for an outcome with a SUCCESS outcome summary.\nLINT.IfChange",
      "type": "object",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process other than the app crashed.",
          "type": "boolean"
        }
      }
    },
    "TestTiming": {
      "id": "TestTiming",
      "description": "Testing timing break down to know phases.",
      "type": "object",
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process.\n\n- In response: present if previously set.\n- In create/update request: optional",
          "$ref": "Duration"
        }
      }
    },
    "SuggestionClusterProto": {
      "description": "A set of similar suggestions that we suspect are closely related.\n\nThis proto and most of the nested protos are branched from\nfoxandcrown.prelaunchreport.service.SuggestionClusterProto, replacing PLR's\ndependencies with FTL's.",
      "type": "object",
      "properties": {
        "suggestions": {
          "description": "A sequence of suggestions. All of the suggestions within a cluster must\nhave the same SuggestionPriority and belong to the same SuggestionCategory.\nSuggestions with the same screenshot URL should be adjacent.",
          "type": "array",
          "items": {
            "$ref": "SuggestionProto"
          }
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_CATEGORY",
            "CONTENT_LABELING",
            "TOUCH_TARGET_SIZE",
            "LOW_CONTRAST",
            "IMPLEMENTATION"
          ],
          "description": "Category in which these types of suggestions should appear.\nAlways set."
        }
      },
      "id": "SuggestionClusterProto"
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "id": "EncounteredNonAndroidUiWidgetScreen",
      "description": "Additional details about encountered screens with elements that are not\nAndroid UI widgets.",
      "type": "object",
      "properties": {
        "distinctScreens": {
          "type": "integer",
          "description": "Number of encountered distinct screens with non Android UI widgets.",
          "format": "int32"
        },
        "screenIds": {
          "description": "Subset of screens which contain non Android UI widgets.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "sourceImage": {
          "$ref": "ToolOutputReference",
          "description": "A reference to the full-size, original image.\n\nThis is the same as the tool_outputs entry for the image under its Step.\n\nAlways set."
        },
        "thumbnail": {
          "$ref": "Thumbnail",
          "description": "The thumbnail."
        },
        "stepId": {
          "type": "string",
          "description": "The step to which the image is attached.\n\nAlways set."
        },
        "error": {
          "$ref": "Status",
          "description": "An error explaining why the thumbnail could not be rendered."
        }
      },
      "id": "Image",
      "description": "An image, with a link to the main image and a thumbnail."
    },
    "IndividualOutcome": {
      "type": "object",
      "properties": {
        "multistepNumber": {
          "type": "integer",
          "description": "Unique int given to each step.\nRanges from 0(inclusive) to total number of steps(exclusive).\nThe primary step is 0.",
          "format": "int32"
        },
        "outcomeSummary": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance:\n- All the test cases passed.\n- Robo did not detect a crash of the application under test.",
            "A run failed, for instance:\n- One or more test case failed.\n- A test timed out.\n- The application under test crashed.",
            "Something unexpected happened. The run should still be considered\nunsuccessful but this is likely a transient problem and re-running the\ntest might be successful.",
            "All tests were skipped, for instance:\n- All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both\nfailure and success outcomes."
          ],
          "enum": [
            "UNSET",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED",
            "FLAKY"
          ]
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run."
        },
        "stepId": {
          "type": "string"
        }
      },
      "id": "IndividualOutcome",
      "description": "Step Id and outcome of each individual step that was run as a group with\nother steps with the same configuration."
    },
    "AndroidTest": {
      "description": "An Android mobile test specification.",
      "type": "object",
      "properties": {
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        },
        "androidTestLoop": {
          "$ref": "AndroidTestLoop",
          "description": "An Android test loop."
        },
        "androidAppInfo": {
          "$ref": "AndroidAppInfo",
          "description": "Information about the application under test."
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        },
        "testTimeout": {
          "$ref": "Duration",
          "description": "Max time a test is allowed to run before it is\nautomatically cancelled."
        }
      },
      "id": "AndroidTest"
    },
    "CPUInfo": {
      "type": "object",
      "properties": {
        "numberOfCores": {
          "description": "the number of CPU cores",
          "format": "int32",
          "type": "integer"
        },
        "cpuProcessor": {
          "description": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'",
          "type": "string"
        },
        "cpuSpeedInGhz": {
          "type": "number",
          "description": "the CPU clock speed in GHz",
          "format": "float"
        }
      },
      "id": "CPUInfo"
    },
    "Execution": {
      "description": "An Execution represents a collection of Steps. For instance, it could\nrepresent:\n   - a mobile test executed across a range of device configurations\n   - a jenkins job with a build step followed by a test step\n\nThe maximum size of an execution message is 1 MiB.\n\nAn Execution can be updated until its state is set to COMPLETE at which\npoint it becomes immutable.",
      "type": "object",
      "properties": {
        "completionTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution status transitioned to COMPLETE.\n\nThis value will be set automatically when state transitions to\nCOMPLETE.\n\n- In response: set if the execution state is COMPLETE.\n- In create/update request: never set"
        },
        "executionId": {
          "type": "string",
          "description": "A unique identifier within a History for this Execution.\n\nReturns INVALID_ARGUMENT if this field is set or overwritten by the caller.\n\n- In response always set\n- In create/update request: never set"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE\n\n- In response: present if set by create/update request\n- In create/update request: optional",
          "$ref": "Outcome"
        },
        "specification": {
          "description": "Lightweight information about execution request.\n\n- In response: present if set by create\n- In create: optional\n- In update: optional",
          "$ref": "Specification"
        },
        "dimensionDefinitions": {
          "description": "The dimensions along which different steps in this execution may vary.\nThis must remain fixed over the life of the execution.\n\nReturns INVALID_ARGUMENT if this field is set in an update request.\n\nReturns INVALID_ARGUMENT if the same name occurs in more than one\ndimension_definition.\n\nReturns INVALID_ARGUMENT if the size of the list is over 100.\n\n- In response: present if set by create\n- In create request: optional\n- In update request: never set",
          "type": "array",
          "items": {
            "$ref": "MatrixDimensionDefinition"
          }
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution was created.\n\nThis value will be set automatically when CreateExecution is called.\n\n- In response: always set\n- In create/update request: never set"
        },
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses.\n\n- In response: present if set by create\n- In create: optional\n- In update: never set",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward\ncompatibility.",
            "The Execution/Step is created, ready to run, but not running yet.\nIf an Execution/Step is created without initial state, it is assumed\nthat the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be\nmodified."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "PENDING",
            "IN_PROGRESS",
            "COMPLETE"
          ],
          "description": "The initial state is IN_PROGRESS.\n\nThe only legal state transitions is from IN_PROGRESS to COMPLETE.\n\nA PRECONDITION_FAILED will be returned if an invalid transition is\nrequested.\n\nThe state can only be set to COMPLETE once. A FAILED_PRECONDITION will be\nreturned if the state is set to COMPLETE multiple times.\n\nIf the state is set to COMPLETE, all the in-progress steps within the\nexecution will be set as COMPLETE. If the outcome of the step is not set,\nthe outcome will be set to INCONCLUSIVE.\n\n- In response always set\n- In create/update request: optional",
          "type": "string"
        }
      },
      "id": "Execution"
    },
    "PerformedMonkeyActions": {
      "description": "A notification that Robo performed some monkey actions.",
      "type": "object",
      "properties": {
        "totalActions": {
          "description": "The total number of monkey actions performed during the crawl.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "PerformedMonkeyActions"
    },
    "StepLabelsEntry": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "StepLabelsEntry"
    },
    "UnusedRoboDirective": {
      "id": "UnusedRoboDirective",
      "description": "Additional details of an unused robodirective.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      }
    },
    "AndroidRoboTest": {
      "description": "A test of an android application that explores the application on a virtual\nor physical Android device, finding culprits and crashes as it goes.",
      "type": "object",
      "properties": {
        "bootstrapPackageId": {
          "description": "The java package for the bootstrap.\nOptional",
          "type": "string"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.\nOptional",
          "type": "string"
        },
        "bootstrapRunnerClass": {
          "description": "The runner class for the bootstrap.\nOptional",
          "type": "string"
        },
        "maxSteps": {
          "description": "The max number of steps/actions Robo can execute.\nDefault is no limit (0).\nOptional",
          "format": "int32",
          "type": "integer"
        },
        "maxDepth": {
          "type": "integer",
          "description": "The max depth of the traversal stack Robo can explore.\nOptional",
          "format": "int32"
        }
      },
      "id": "AndroidRoboTest"
    },
    "UsedRoboDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was used."
        }
      },
      "id": "UsedRoboDirective",
      "description": "Additional details of a used Robo directive."
    },
    "BatchCreatePerfSamplesResponse": {
      "id": "BatchCreatePerfSamplesResponse",
      "type": "object",
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      }
    },
    "Screen": {
      "id": "Screen",
      "type": "object",
      "properties": {
        "model": {
          "description": "Model of the device that the screenshot was taken on.\nRequired.",
          "type": "string"
        },
        "version": {
          "description": "OS version of the device that the screenshot was taken on.\nRequired.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Locale of the device that the screenshot was taken on.\nRequired."
        },
        "fileReference": {
          "description": "File reference of the png file.\nRequired.",
          "type": "string"
        }
      }
    },
    "AndroidTestLoop": {
      "description": "Test Loops are tests that can be launched by the app itself, determining\nwhen to run by listening for an intent. go/ftl-games-dd",
      "type": "object",
      "properties": {},
      "id": "AndroidTestLoop"
    },
    "NonSdkApiInsight": {
      "description": "Non-SDK API insights (to address debugging solutions).",
      "type": "object",
      "properties": {
        "pendingGoogleUpdateInsight": {
          "$ref": "PendingGoogleUpdateInsight",
          "description": "An insight indicating that the hidden API usage originates from a\nGoogle-provided library."
        },
        "upgradeInsight": {
          "$ref": "UpgradeInsight",
          "description": "An insight indicating that the hidden API usage originates from the\nuse of a library that needs to be upgraded."
        },
        "exampleTraceMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional sample stack traces, for which this insight applies (there\nshould be at least one)."
        },
        "matcherId": {
          "description": "A unique ID, to be used for determining the effectiveness of this\nparticular insight in the context of a matcher. (required)",
          "type": "string"
        }
      },
      "id": "NonSdkApiInsight"
    },
    "PerfMetricsSummary": {
      "type": "object",
      "properties": {
        "historyId": {
          "description": "A tool results history ID.\n@OutputOnly",
          "type": "string"
        },
        "perfEnvironment": {
          "$ref": "PerfEnvironment",
          "description": "Describes the environment in which the performance metrics were collected"
        },
        "graphicsStats": {
          "$ref": "GraphicsStats",
          "description": "Graphics statistics for the entire run. Statistics are reset at the\nbeginning of the run and collected at the end of the run."
        },
        "projectId": {
          "description": "The cloud project\n@OutputOnly",
          "type": "string"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "type": "array",
          "items": {
            "enum": [
              "PERF_METRIC_TYPE_UNSPECIFIED",
              "MEMORY",
              "CPU",
              "NETWORK",
              "GRAPHICS"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "appStartTime": {
          "$ref": "AppStartTime"
        },
        "executionId": {
          "description": "A tool results execution ID.\n@OutputOnly",
          "type": "string"
        },
        "stepId": {
          "description": "A tool results step ID.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "PerfMetricsSummary",
      "description": "A summary of perf metrics collected and performance environment info"
    },
    "AndroidAppInfo": {
      "description": "Android app information.",
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The internal version code of the app.\nOptional.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the app.\nOptional"
        },
        "packageName": {
          "description": "The package name of the app.\nRequired.",
          "type": "string"
        },
        "versionName": {
          "description": "The version name of the app.\nOptional.",
          "type": "string"
        }
      },
      "id": "AndroidAppInfo"
    },
    "ListStepThumbnailsResponse": {
      "description": "A response containing the thumbnails in a step.",
      "type": "object",
      "properties": {
        "thumbnails": {
          "description": "A list of image data.\n\nImages are returned in a deterministic order; they are ordered by these\nfactors, in order of\nimportance:\n* First, by their associated test case. Images without a test case are\n  considered greater than images with one.\n* Second, by their creation time. Images without a creation time are\n  greater than images with one.\n* Third, by the order in which they were added to the step (by calls to\n  CreateStep or UpdateStep).",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item.\n\nIf set, indicates that there are more thumbnails to read, by calling list\nagain with this value in the page_token field.",
          "type": "string"
        }
      },
      "id": "ListStepThumbnailsResponse"
    },
    "NonSdkApiUsageViolation": {
      "description": "Additional details for a non-sdk API usage violation.",
      "type": "object",
      "properties": {
        "apiSignatures": {
          "description": "Signatures of a subset of those hidden API's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uniqueApis": {
          "type": "integer",
          "description": "Total number of unique hidden API's accessed.",
          "format": "int32"
        }
      },
      "id": "NonSdkApiUsageViolation"
    },
    "StartActivityNotFound": {
      "id": "StartActivityNotFound",
      "description": "User provided intent failed to resolve to an activity.",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "AvailableDeepLinks": {
      "description": "A suggestion to use deep links for a Robo run.",
      "type": "object",
      "properties": {},
      "id": "AvailableDeepLinks"
    },
    "ResultsStorage": {
      "type": "object",
      "properties": {
        "resultsStoragePath": {
          "$ref": "FileReference",
          "description": "The root directory for test results."
        },
        "xunitXmlFile": {
          "$ref": "FileReference",
          "description": "The path to the Xunit XML file."
        }
      },
      "id": "ResultsStorage",
      "description": "The storage for test results."
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "properties": {
        "executionId": {
          "description": "A Execution id\n\nAlways set.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item.\n\nWill only be set if there are more Environments to fetch.",
          "type": "string"
        },
        "environments": {
          "description": "Environments.\n\nAlways set.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "projectId": {
          "description": "A Project id.\n\nAlways set.",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "A History id.\n\nAlways set."
        }
      },
      "id": "ListEnvironmentsResponse",
[...]
