{
  "baseUrl": "https://toolresults.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "API to publish and access results from developer tools.",
  "discoveryVersion": "v1",
  "name": "toolresults",
  "id": "toolresults:v1beta3",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "version": "v1beta3",
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A Project id. Required."
            }
          },
          "httpMethod": "POST",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "id": "toolresults.projects.initializeSettings"
        },
        "getSettings": {
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "httpMethod": "GET",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "id": "toolresults.projects.getSettings",
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A Project id. Required."
            }
          }
        }
      },
      "resources": {
        "histories": {
          "resources": {
            "executions": {
              "resources": {
                "environments": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. An Execution id."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "location": "query",
                          "type": "integer"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. A Project id.",
                          "required": true
                        },
                        "historyId": {
                          "description": "Required. A History id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "id": "toolresults.projects.histories.executions.environments.list"
                    },
                    "get": {
                      "response": {
                        "$ref": "Environment"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. A Project id.",
                          "required": true
                        },
                        "environmentId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. An Environment id."
                        },
                        "executionId": {
                          "required": true,
                          "description": "Required. An Execution id.",
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}"
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A History id. Required."
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "description": "A Cluster id Required.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.clusters.get"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Project id. Required."
                        },
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "An Execution id. Required."
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "steps": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "parameters": {
                        "stepId": {
                          "type": "string",
                          "description": "A Step id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "description": "A Execution id. Required.",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Project id. Required."
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "httpMethod": "GET",
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "response": {
                        "$ref": "Step"
                      }
                    },
                    "getPerfMetricsSummary": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "A tool results execution ID.",
                          "location": "path"
                        },
                        "historyId": {
                          "description": "A tool results history ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A tool results step ID."
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "The cloud project",
                          "type": "string"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary"
                    },
                    "accessibilityClusters": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "locale": {
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "required": true,
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters"
                    },
                    "list": {
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "location": "query",
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    },
                    "create": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "parameters": {
                        "projectId": {
                          "description": "Required. A Project id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "description": "Required. A History id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. An Execution id."
                        },
                        "requestId": {
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Step"
                      }
                    },
                    "patch": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "request": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "stepId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "publishXunitXmlFiles": {
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "httpMethod": "POST",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "location": "path"
                        },
                        "stepId": {
                          "location": "path",
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path"
                        }
                      }
                    }
                  },
                  "resources": {
                    "perfSampleSeries": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameters": {
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string"
                            },
                            "executionId": {
                              "required": true,
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "type": "string"
                            },
                            "projectId": {
                              "location": "path",
                              "type": "string",
                              "description": "The cloud project",
                              "required": true
                            },
                            "filter": {
                              "location": "query",
                              "repeated": true,
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "type": "string"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The cloud project"
                            },
                            "sampleSeriesId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A sample series id"
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "httpMethod": "POST",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameters": {
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results step ID."
                            },
                            "executionId": {
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project",
                              "required": true
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID."
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "httpMethod": "POST",
                              "parameters": {
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "type": "string",
                                  "required": true,
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "A sample series id"
                                },
                                "projectId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "The cloud project"
                                },
                                "stepId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results step ID.",
                                  "required": true
                                },
                                "historyId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate"
                            },
                            "list": {
                              "httpMethod": "GET",
                              "parameters": {
                                "stepId": {
                                  "description": "A tool results step ID.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "historyId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response",
                                  "type": "string"
                                },
                                "projectId": {
                                  "description": "The cloud project",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                },
                                "executionId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results execution ID.",
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A sample series id"
                                }
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples"
                            }
                          }
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "httpMethod": "POST",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "parameters": {
                            "stepId": {
                              "type": "string",
                              "description": "A tool results step ID.",
                              "required": true,
                              "location": "path"
                            },
                            "projectId": {
                              "location": "path",
                              "description": "The cloud project",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create"
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A Project id. Required."
                            },
                            "stepId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Step id. Required."
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A History id. Required."
                            },
                            "executionId": {
                              "location": "path",
                              "description": "An Execution id. Required.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails"
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query"
                            },
                            "historyId": {
                              "description": "A History id. Required.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "description": "A Execution id Required.",
                              "type": "string"
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Project id. Required."
                            },
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "type": "string",
                              "location": "query"
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "httpMethod": "GET"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "testCaseId": {
                              "type": "string",
                              "required": true,
                              "description": "A Test Case id. Required.",
                              "location": "path"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "stepId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "executionId": {
                              "required": true,
                              "description": "A Execution id Required.",
                              "location": "path",
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A History id. Required."
                            }
                          },
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "response": {
                            "$ref": "TestCase"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "httpMethod": "GET",
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "id": "toolresults.projects.histories.executions.patch",
                  "request": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "historyId": {
                      "description": "Required.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true
                    },
                    "executionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required."
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "httpMethod": "PATCH",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.get",
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required.",
                      "type": "string"
                    },
                    "executionId": {
                      "required": true,
                      "location": "path",
                      "description": "An Execution id. Required.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required."
                    }
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "id": "toolresults.projects.histories.executions.list",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A continuation token to resume the query at the next item. Optional."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "location": "query",
                      "type": "integer"
                    },
                    "historyId": {
                      "type": "string",
                      "description": "A History id. Required.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                },
                "create": {
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "POST",
                  "id": "toolresults.projects.histories.executions.create",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string"
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameters": {
                "historyId": {
                  "required": true,
                  "description": "A History id. Required.",
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "description": "A Project id. Required.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "id": "toolresults.projects.histories.get",
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "httpMethod": "GET",
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}"
            },
            "list": {
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "toolresults.projects.histories.list",
              "httpMethod": "GET",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "A Project id. Required.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional."
                },
                "pageToken": {
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "location": "query",
                  "type": "string"
                },
                "filterByName": {
                  "description": "If set, only return histories with the given name. Optional.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "History"
              },
              "parameters": {
                "requestId": {
                  "location": "query",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "A Project id. Required.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "toolresults.projects.histories.create",
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "History"
              },
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "revision": "20200803",
  "batchPath": "batch",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListScreenshotClustersResponse": {
      "type": "object",
      "id": "ListScreenshotClustersResponse",
      "properties": {
        "clusters": {
          "items": {
            "$ref": "ScreenshotCluster"
          },
          "type": "array",
          "description": "The set of clusters associated with an execution Always set"
        }
      }
    },
    "CrashDialogError": {
      "type": "object",
      "id": "CrashDialogError",
      "description": "Crash dialog was detected during the test execution",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      }
    },
    "GraphicsStatsBucket": {
      "type": "object",
      "id": "GraphicsStatsBucket",
      "properties": {
        "renderMillis": {
          "type": "string",
          "description": "Lower bound of render time in milliseconds.",
          "format": "int64"
        },
        "frameCount": {
          "description": "Number of frames in the bucket.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListPerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        }
      },
      "id": "ListPerfSamplesResponse",
      "type": "object"
    },
    "PerfSample": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Timestamp of collection.",
          "$ref": "Timestamp"
        },
        "value": {
          "description": "Value observed",
          "format": "double",
          "type": "number"
        }
      },
      "id": "PerfSample",
      "description": "Resource representing a single performance measure or data point"
    },
    "TestSuiteOverview": {
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step.",
      "type": "object",
      "properties": {
        "failureCount": {
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never",
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "format": "int32",
          "type": "integer"
        },
        "xmlSource": {
          "$ref": "FileReference",
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never"
        },
        "skippedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "elapsedTime": {
          "$ref": "Duration",
          "description": "Elapsed time of test suite."
        },
        "name": {
          "description": "The name of the test suite. - In create/response: always set - In update request: never",
          "type": "string"
        },
        "flakyCount": {
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TestSuiteOverview"
    },
    "UpgradeInsight": {
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs.",
      "properties": {
        "upgradeToVersion": {
          "type": "string",
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem"
        },
        "packageName": {
          "type": "string",
          "description": "The name of the package to be upgraded."
        }
      },
      "id": "UpgradeInsight",
      "type": "object"
    },
    "MatrixDimensionDefinition": {
      "id": "MatrixDimensionDefinition",
      "description": "One dimension of the matrix of different runs of a step.",
      "type": "object",
      "properties": {}
    },
    "ToolExitCode": {
      "type": "object",
      "id": "ToolExitCode",
      "properties": {
        "number": {
          "type": "integer",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set",
          "format": "int32"
        }
      },
      "description": "Exit code from a tool execution."
    },
    "AndroidAppInfo": {
      "description": "Android app information.",
      "id": "AndroidAppInfo",
      "properties": {
        "versionCode": {
          "type": "string",
          "description": "The internal version code of the app. Optional."
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the app. Optional"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app. Required."
        }
      },
      "type": "object"
    },
    "IosTestLoop": {
      "type": "object",
      "id": "IosTestLoop",
      "description": "A game loop test of an iOS application.",
      "properties": {
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        }
      }
    },
    "AppStartTime": {
      "id": "AppStartTime",
      "properties": {
        "fullyDrawnTime": {
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full",
          "$ref": "Duration"
        },
        "initialDisplayTime": {
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial",
          "$ref": "Duration"
        }
      },
      "type": "object"
    },
    "InAppPurchasesFound": {
      "description": "Additional details of in-app purchases encountered during the crawl.",
      "properties": {
        "inAppPurchasesFlowsExplored": {
          "type": "integer",
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU.",
          "format": "int32"
        },
        "inAppPurchasesFlowsStarted": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of in-app purchases flows started."
        }
      },
      "id": "InAppPurchasesFound",
      "type": "object"
    },
    "FailureDetail": {
      "id": "FailureDetail",
      "properties": {
        "failedRoboscript": {
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl.",
          "type": "boolean"
        },
        "otherNativeCrash": {
          "description": "If a native process (including any other than the app) crashed.",
          "type": "boolean"
        },
        "unableToCrawl": {
          "type": "boolean",
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start."
        },
        "timedOut": {
          "type": "boolean",
          "description": "If the test overran some time limit, and that is why it failed."
        },
        "notInstalled": {
          "type": "boolean",
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform."
        },
        "crashed": {
          "type": "boolean",
          "description": "If the failure was severe because the system (app) under test crashed."
        }
      },
      "type": "object",
      "description": "Details for an outcome with a FAILURE outcome summary."
    },
    "BlankScreen": {
      "properties": {
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        }
      },
      "description": "A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app.",
      "type": "object",
      "id": "BlankScreen"
    },
    "PublishXunitXmlFilesRequest": {
      "description": "Request message for StepService.PublishXunitXmlFiles.",
      "type": "object",
      "id": "PublishXunitXmlFilesRequest",
      "properties": {
        "xunitXmlFiles": {
          "description": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required.",
          "items": {
            "$ref": "FileReference"
          },
          "type": "array"
        }
      }
    },
    "TestTiming": {
      "id": "TestTiming",
      "type": "object",
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional",
          "$ref": "Duration"
        }
      },
      "description": "Testing timing break down to know phases."
    },
    "UIElementTooDeep": {
      "properties": {
        "depth": {
          "type": "integer",
          "description": "The depth of the screen element",
          "format": "int32"
        },
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        },
        "screenStateId": {
          "description": "The screen state id of the element",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "id": "UIElementTooDeep"
    },
    "ListHistoriesResponse": {
      "type": "object",
      "id": "ListHistoriesResponse",
      "properties": {
        "histories": {
          "description": "Histories.",
          "items": {
            "$ref": "History"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes."
        }
      },
      "description": "Response message for HistoryService.List"
    },
    "IosAppCrashed": {
      "description": "Additional details for an iOS app crash.",
      "type": "object",
      "id": "IosAppCrashed",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "Step": {
      "type": "object",
      "id": "Step",
      "description": "A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler). Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel). Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates an TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE A Step can be updated until its state is set to COMPLETE at which points it becomes immutable. Next tag: 27",
      "properties": {
        "name": {
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name. - In response: always set - In create request: always set - In update request: never set",
          "type": "string"
        },
        "multiStep": {
          "description": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional",
          "$ref": "MultiStep"
        },
        "completionTime": {
          "description": "The time when the step status was set to complete. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the step was created. - In response: always set - In create/update request: never set"
        },
        "stepId": {
          "description": "A unique identifier within a Execution for this Step. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response: always set - In create/update request: never set",
          "type": "string"
        },
        "description": {
          "description": "A description of this tool For example: mvn clean package -D skipTests=true - In response: present if set by create/update request - In create/update request: optional",
          "type": "string"
        },
        "testExecutionStep": {
          "$ref": "TestExecutionStep",
          "description": "An execution of a test runner."
        },
        "outcome": {
          "description": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "hasImages": {
          "description": "Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails. - In response: always set - In create/update request: never set",
          "type": "boolean"
        },
        "dimensionValue": {
          "type": "array",
          "description": "If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions. The keys must exactly match the dimension_definition of the execution. For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']` If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']` If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset. A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution. A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different. A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys. - In response: present if set by create - In create request: optional - In update request: never set",
          "items": {
            "$ref": "StepDimensionValueEntry"
          }
        },
        "labels": {
          "description": "Arbitrary user-supplied key/value pairs that are associated with the step. Users are responsible for managing the key namespace such that keys don't accidentally collide. An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters. - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value",
          "type": "array",
          "items": {
            "$ref": "StepLabelsEntry"
          }
        },
        "toolExecutionStep": {
          "description": "An execution of a tool (used for steps we don't explicitly support).",
          "$ref": "ToolExecutionStep"
        },
        "runDuration": {
          "description": "How long it took for this step to run. If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration. PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set. - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional",
          "$ref": "Duration"
        },
        "deviceUsageDuration": {
          "$ref": "Duration",
          "description": "How much the device resource is used to perform the test. This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage. PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set. - In response: present if previously set. - In create request: optional - In update request: optional"
        },
        "state": {
          "description": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -\u003e COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional",
          "type": "string",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ]
        }
      }
    },
    "ResultsStorage": {
      "description": "The storage for test results.",
      "type": "object",
      "properties": {
        "xunitXmlFile": {
          "$ref": "FileReference",
          "description": "The path to the Xunit XML file."
        },
        "resultsStoragePath": {
          "$ref": "FileReference",
          "description": "The root directory for test results."
        }
      },
      "id": "ResultsStorage"
    },
    "IosAppInfo": {
      "description": "iOS app information",
      "id": "IosAppInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app. Required"
        }
      },
      "type": "object"
    },
    "MultiStep": {
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "properties": {
        "multistepNumber": {
          "format": "int32",
[...]
