{
  "revision": "20210311",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "signupUrls": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "flatPath": "v1/signupUrls",
          "description": "Creates an enterprise signup URL.",
          "response": {
            "$ref": "SignupUrl"
          },
          "httpMethod": "POST",
          "parameters": {
            "callbackUrl": {
              "location": "query",
              "type": "string",
              "description": "The callback URL that the admin will be redirected to after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes."
            },
            "projectId": {
              "type": "string",
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "location": "query"
            }
          },
          "path": "v1/signupUrls",
          "id": "androidmanagement.signupUrls.create",
          "parameterOrder": []
        }
      }
    },
    "enterprises": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListEnterprisesResponse"
          },
          "flatPath": "v1/enterprises",
          "id": "androidmanagement.enterprises.list",
          "parameterOrder": [],
          "description": "This feature is not generally available yet. Lists enterprises that are managed by an EMM. Only partial views are returned.",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "query",
              "description": "Required. This feature is not generally available yet. The ID of the Cloud project of the EMM the enterprises belongs to."
            },
            "view": {
              "type": "string",
              "description": "This feature is not generally available yet. View that specify that partial response should be returned.",
              "enum": [
                "ENTERPRISE_VIEW_UNSPECIFIED",
                "BASIC"
              ],
              "enumDescriptions": [
                "This feature is not generally available yet. The API will default to the BASIC view for the List method.",
                "This feature is not generally available yet. Includes name and enterprise_display_name fields."
              ],
              "location": "query"
            },
            "pageSize": {
              "description": "This feature is not generally available yet. The requested page size. The actual page size may be fixed to a min or max value.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "This feature is not generally available yet. A token identifying a page of results returned by the server.",
              "type": "string"
            }
          },
          "path": "v1/enterprises",
          "httpMethod": "GET"
        },
        "create": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Enterprise"
          },
          "path": "v1/enterprises",
          "response": {
            "$ref": "Enterprise"
          },
          "flatPath": "v1/enterprises",
          "parameters": {
            "agreementAccepted": {
              "description": "This feature is not generally available yet. Whether the managed Google Play Agreement is presented and agreed.",
              "type": "boolean",
              "location": "query"
            },
            "signupUrlName": {
              "description": "The name of the SignupUrl used to sign up for the enterprise.",
              "type": "string",
              "location": "query"
            },
            "enterpriseToken": {
              "type": "string",
              "description": "The enterprise token appended to the callback URL.",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "location": "query"
            }
          },
          "id": "androidmanagement.enterprises.create",
          "description": "Creates an enterprise. This is the last step in the enterprise signup flow."
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "This feature is not generally available yet. Deletes an enterprise.",
          "id": "androidmanagement.enterprises.delete",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "parameters": {
            "name": {
              "pattern": "^enterprises/[^/]+$",
              "description": "This feature is not generally available yet. The name of the enterprise in the form enterprises/{enterpriseId}.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "androidmanagement.enterprises.get",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
              "pattern": "^enterprises/[^/]+$"
            }
          },
          "response": {
            "$ref": "Enterprise"
          },
          "flatPath": "v1/enterprises/{enterprisesId}",
          "description": "Gets an enterprise."
        },
        "patch": {
          "request": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Enterprise"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
              "location": "query"
            },
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^enterprises/[^/]+$",
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
            }
          },
          "flatPath": "v1/enterprises/{enterprisesId}",
          "path": "v1/{+name}",
          "description": "Updates an enterprise.",
          "id": "androidmanagement.enterprises.patch",
          "httpMethod": "PATCH"
        }
      },
      "resources": {
        "webApps": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a web app.",
              "httpMethod": "GET",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "id": "androidmanagement.enterprises.webApps.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "required": true,
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApp/{packageName}.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "WebApp"
              }
            },
            "patch": {
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "request": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "androidmanagement.enterprises.webApps.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}."
                },
                "updateMask": {
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "WebApp"
              },
              "description": "Updates a web app."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "request": {
                "$ref": "WebApp"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "description": "Creates a web app.",
              "path": "v1/{+parent}/webApps",
              "id": "androidmanagement.enterprises.webApps.create",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^enterprises/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1/{+parent}/webApps",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.webApps.list",
              "description": "Lists web apps for a given enterprise.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^enterprises/[^/]+$",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListWebAppsResponse"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a web app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "parameters": {
                "name": {
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "androidmanagement.enterprises.webApps.delete"
            }
          }
        },
        "devices": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "androidmanagement.enterprises.devices.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
                  "path": "v1/{+name}:cancel"
                },
                "get": {
                  "id": "androidmanagement.enterprises.devices.operations.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ]
                },
                "list": {
                  "id": "androidmanagement.enterprises.devices.operations.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "path": "v1/{+name}",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "androidmanagement.enterprises.devices.operations.delete",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}"
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "androidmanagement.enterprises.devices.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Device"
              },
              "description": "Gets a device.",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "androidmanagement.enterprises.devices.delete",
              "description": "Deletes a device. This operation wipes the device.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "wipeDataFlags": {
                  "description": "Optional flags that control the device wiping behavior.",
                  "enumDescriptions": [
                    "This value is ignored.",
                    "Preserve the factory reset protection data on the device.",
                    "Additionally wipe the device's external storage (such as SD cards)."
                  ],
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "enum": [
                    "WIPE_DATA_FLAG_UNSPECIFIED",
                    "PRESERVE_RESET_PROTECTION_DATA",
                    "WIPE_EXTERNAL_STORAGE"
                  ]
                },
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string"
                },
                "wipeReasonMessage": {
                  "description": "Optional. A short message displayed to the user before wiping the work profile on personal devices. This has no effect on company owned devices. The maximum message length is 200 characters.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "path": "v1/{+name}"
            },
            "issueCommand": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "id": "androidmanagement.enterprises.devices.issueCommand",
              "path": "v1/{+name}:issueCommand",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:issueCommand",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Command"
              },
              "description": "Issues a command to a device. The Operation resource returned contains a Command in its metadata field. Use the get operation method to get the status of the command."
            },
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "id": "androidmanagement.enterprises.devices.patch",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified."
                }
              },
              "request": {
                "$ref": "Device"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "Device"
              },
              "description": "Updates a device."
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query"
                }
              },
              "id": "androidmanagement.enterprises.devices.list",
              "httpMethod": "GET",
              "description": "Lists devices for a given enterprise.",
              "flatPath": "v1/enterprises/{enterprisesId}/devices",
              "path": "v1/{+parent}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "ListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "policies": {
          "methods": {
            "list": {
              "id": "androidmanagement.enterprises.policies.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value."
                },
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/policies",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/policies",
              "description": "Lists policies for a given enterprise.",
              "response": {
                "$ref": "ListPoliciesResponse"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "required": true,
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "PATCH",
              "id": "androidmanagement.enterprises.policies.patch",
              "description": "Updates or creates a policy.",
              "request": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "androidmanagement.enterprises.policies.get",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}."
                }
              },
              "description": "Gets a policy.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a policy. This operation is only permitted if no devices are currently referencing the policy.",
              "id": "androidmanagement.enterprises.policies.delete",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "required": true,
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}."
                }
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "applications": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "description": "Gets info about an application.",
              "id": "androidmanagement.enterprises.applications.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Application"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The name of the application in the form enterprises/{enterpriseId}/applications/{package_name}.",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+/applications/[^/]+$"
                },
                "languageCode": {
                  "description": "The preferred language for localized application info, as a BCP47 tag (e.g. \"en-US\", \"de\"). If not specified the default language of the application will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/applications/{applicationsId}"
            }
          }
        },
        "enrollmentTokens": {
          "methods": {
            "create": {
              "description": "Creates an enrollment token for a given enterprise.",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "EnrollmentToken"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
              "id": "androidmanagement.enterprises.enrollmentTokens.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "EnrollmentToken"
              },
              "path": "v1/{+parent}/enrollmentTokens"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the enrollment token in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
                  "type": "string"
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes an enrollment token. This operation invalidates the token, preventing its future use.",
              "id": "androidmanagement.enterprises.enrollmentTokens.delete"
            }
          }
        },
        "webTokens": {
          "methods": {
            "create": {
              "flatPath": "v1/enterprises/{enterprisesId}/webTokens",
              "request": {
                "$ref": "WebToken"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/webTokens",
              "description": "Creates a web token to access an embeddable managed Google Play web UI for a given enterprise.",
              "httpMethod": "POST",
              "id": "androidmanagement.enterprises.webTokens.create",
              "response": {
                "$ref": "WebToken"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ]
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "Android Management",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "documentationLink": "https://developers.google.com/android/management",
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "title": "Android Management API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "name": "androidmanagement",
  "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
  "kind": "discovery#restDescription",
  "schemas": {
    "SoftwareInfo": {
      "type": "object",
      "id": "SoftwareInfo",
      "description": "Information about device software.",
      "properties": {
        "androidBuildNumber": {
          "description": "Android build ID string meant for displaying to the user. For example, shamu-userdebug 6.0.1 MOB30I 2756745 dev-keys.",
          "type": "string"
        },
        "androidBuildTime": {
          "description": "Build time.",
          "type": "string",
          "format": "google-datetime"
        },
        "systemUpdateInfo": {
          "$ref": "SystemUpdateInfo",
          "description": "Information about a potential pending system update."
        },
        "securityPatchLevel": {
          "description": "Security patch level, e.g. 2016-05-01.",
          "type": "string"
        },
        "androidVersion": {
          "type": "string",
          "description": "The user-visible Android version string. For example, 6.0.1."
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "The system bootloader version number, e.g. 0.6.7."
        },
        "deviceKernelVersion": {
          "description": "Kernel version, for example, 2.6.32.9-g103d848.",
          "type": "string"
        },
        "primaryLanguageCode": {
          "description": "An IETF BCP 47 language code for the primary locale on the device.",
          "type": "string"
        },
        "androidDevicePolicyVersionName": {
          "type": "string",
          "description": "The Android Device Policy app version as displayed to the user."
        },
        "deviceBuildSignature": {
          "type": "string",
          "description": "SHA-256 hash of android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the system package, which can be used to verify that the system build hasn't been modified."
        },
        "androidDevicePolicyVersionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The Android Device Policy app version code."
        }
      }
    },
    "BlockAction": {
      "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a device or work profile to displays a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified.",
      "properties": {
        "blockScope": {
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCK_SCOPE_WORK_PROFILE.",
            "Block action is only applied to apps in the work profile. Apps in the personal profile are unaffected.",
            "Block action is applied to the entire device, including apps in the personal profile."
          ],
          "description": "Specifies the scope of this BlockAction. Only applicable to devices that are company-owned.",
          "type": "string",
          "enum": [
            "BLOCK_SCOPE_UNSPECIFIED",
            "BLOCK_SCOPE_WORK_PROFILE",
            "BLOCK_SCOPE_DEVICE"
          ]
        },
        "blockAfterDays": {
          "format": "int32",
          "type": "integer",
          "description": "Number of days the policy is non-compliant before the device or work profile is blocked. To block access immediately, set to 0. blockAfterDays must be less than wipeAfterDays."
        }
      },
      "type": "object",
      "id": "BlockAction"
    },
    "MemoryEvent": {
      "type": "object",
      "id": "MemoryEvent",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the event."
        },
        "eventType": {
          "enum": [
            "MEMORY_EVENT_TYPE_UNSPECIFIED",
            "RAM_MEASURED",
            "INTERNAL_STORAGE_MEASURED",
            "EXTERNAL_STORAGE_DETECTED",
            "EXTERNAL_STORAGE_REMOVED",
            "EXTERNAL_STORAGE_MEASURED"
          ],
          "type": "string",
          "description": "Event type.",
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Free space in RAM was measured.",
            "Free space in internal storage was measured.",
            "A new external storage medium was detected. The reported byte count is the total capacity of the storage medium.",
            "An external storage medium was removed. The reported byte count is zero.",
            "Free space in an external storage medium was measured."
          ]
        },
        "byteCount": {
          "description": "The number of free bytes in the medium, or for EXTERNAL_STORAGE_DETECTED, the total capacity in bytes of the storage medium.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "An event related to memory and storage measurements."
    },
    "StatusReportingSettings": {
      "description": "Settings controlling the behavior of status reports.",
      "properties": {
        "deviceSettingsEnabled": {
          "description": "Whether device settings reporting is enabled.",
          "type": "boolean"
        },
        "systemPropertiesEnabled": {
          "description": "Whether system properties reporting is enabled.",
          "type": "boolean"
        },
        "commonCriteriaModeEnabled": {
          "type": "boolean",
          "description": "Whether Common Criteria Mode reporting is enabled."
        },
        "powerManagementEventsEnabled": {
          "type": "boolean",
          "description": "Whether power management event reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "memoryInfoEnabled": {
          "description": "Whether memory reporting is enabled.",
          "type": "boolean"
        },
        "displayInfoEnabled": {
          "type": "boolean",
          "description": "Whether displays reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "softwareInfoEnabled": {
          "type": "boolean",
          "description": "Whether software info reporting is enabled."
        },
        "applicationReportsEnabled": {
          "type": "boolean",
          "description": "Whether app reports are enabled."
        },
        "networkInfoEnabled": {
          "type": "boolean",
          "description": "Whether network info reporting is enabled."
        },
        "applicationReportingSettings": {
          "description": "Application reporting settings. Only applicable if application_reports_enabled is true.",
          "$ref": "ApplicationReportingSettings"
        },
        "hardwareStatusEnabled": {
          "type": "boolean",
          "description": "Whether hardware status reporting is enabled. Report data is not available for personally owned devices with work profiles."
        }
      },
      "type": "object",
      "id": "StatusReportingSettings"
    },
    "SystemUpdateInfo": {
      "description": "Information about a potential pending system update.",
      "type": "object",
      "properties": {
        "updateReceivedTime": {
          "format": "google-datetime",
          "description": "The time when the update was first available. A zero value indicates that this field is not set. This field is set only if an update is available (that is, updateStatus is neither UPDATE_STATUS_UNKNOWN nor UP_TO_DATE).",
          "type": "string"
        },
        "updateStatus": {
          "description": "The status of an update: whether an update exists and what type it is.",
          "enum": [
            "UPDATE_STATUS_UNKNOWN",
            "UP_TO_DATE",
            "UNKNOWN_UPDATE_AVAILABLE",
            "SECURITY_UPDATE_AVAILABLE",
            "OS_UPDATE_AVAILABLE"
          ],
          "enumDescriptions": [
            "It is unknown whether there is a pending system update. This happens when, for example, the device API level is less than 26, or if the version of Android Device Policy is outdated.",
            "There is no pending system update available on the device.",
            "There is a pending system update available, but its type is not known.",
            "There is a pending security update available.",
            "There is a pending OS update available."
          ],
          "type": "string"
        }
      },
      "id": "SystemUpdateInfo"
    },
    "FreezePeriod": {
      "id": "FreezePeriod",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "The end date (inclusive) of the freeze period. Must be no later than 90 days from the start date. If the end date is earlier than the start date, the freeze period is considered wrapping year-end. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date (inclusive) of the freeze period. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}."
        }
      },
      "description": "A system freeze period. When a device’s clock is within the freeze period, all incoming system updates (including security patches) are blocked and won’t be installed. When a device is outside the freeze period, normal update behavior applies. Leap years are ignored in freeze period calculations, in particular: * If Feb. 29th is set as the start or end date of a freeze period, the freeze period will start or end on Feb. 28th instead. * When a device’s system clock reads Feb. 29th, it’s treated as Feb. 28th. * When calculating the number of days in a freeze period or the time between two freeze periods, Feb. 29th is ignored and not counted as a day.",
      "type": "object"
    },
    "AppTrackInfo": {
      "id": "AppTrackInfo",
      "type": "object",
      "properties": {
        "trackId": {
          "type": "string",
          "description": "The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information."
        },
        "trackAlias": {
          "description": "The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console.",
          "type": "string"
        }
      },
      "description": "Id to name association of a app track."
    },
    "ExternalData": {
      "type": "object",
      "properties": {
        "sha256Hash": {
          "type": "string",
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data."
        },
        "url": {
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL.",
          "type": "string"
        }
      },
      "id": "ExternalData",
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash."
    },
    "NetworkInfo": {
      "description": "Device network info.",
      "id": "NetworkInfo",
      "type": "object",
      "properties": {
        "networkOperatorName": {
          "description": "Alphabetic name of current registered operator. For example, Vodafone.",
          "type": "string"
        },
        "meid": {
          "description": "MEID number of the CDMA device. For example, A00000292788E1.",
          "type": "string"
        },
        "imei": {
          "description": "IMEI number of the GSM device. For example, A1000031212.",
          "type": "string"
        },
        "wifiMacAddress": {
          "description": "Wi-Fi MAC address of the device. For example, 7c:11:11:11:11:11.",
          "type": "string"
        },
        "telephonyInfos": {
          "type": "array",
          "items": {
            "$ref": "TelephonyInfo"
          },
          "description": "Provides telephony information associated with each SIM card on the device. Only supported on fully managed devices starting from Android API level 23."
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "SetupAction": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of this action.",
          "$ref": "UserFacingMessage"
        },
        "launchApp": {
          "$ref": "LaunchAppAction",
          "description": "An action to launch an app."
        },
        "description": {
          "$ref": "UserFacingMessage",
          "description": "Description of this action."
        }
      },
      "description": "An action executed during setup.",
      "id": "SetupAction"
    },
    "WebApp": {
      "type": "object",
      "description": "A web app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the web app, which is generated by the server during creation in the form enterprises/{enterpriseId}/webApps/{packageName}."
        },
        "displayMode": {
          "description": "The display mode of the web app.",
          "enumDescriptions": [
            "Not used.",
            "Opens the web app with a minimal set of browser UI elements for controlling navigation and viewing the page URL.",
            "Opens the web app to look and feel like a standalone native application. The browser UI elements and page URL are not visible, however the system status bar and back button are visible.",
            "Opens the web app in full screen without any visible controls. The browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area."
          ],
          "type": "string",
          "enum": [
            "DISPLAY_MODE_UNSPECIFIED",
            "MINIMAL_UI",
            "STANDALONE",
            "FULL_SCREEN"
          ]
        },
        "versionCode": {
          "format": "int64",
          "description": "The current version of the app.Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date.",
          "type": "string"
        },
        "startUrl": {
          "type": "string",
          "description": "The start URL, i.e. the URL that should load when the user opens the application."
        },
        "title": {
          "type": "string",
          "description": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon)."
        },
        "icons": {
          "items": {
            "$ref": "WebAppIcon"
          },
          "type": "array",
          "description": "A list of icons for the web app. Must have at least one element."
        }
      },
      "id": "WebApp"
    },
    "PasswordRequirements": {
      "id": "PasswordRequirements",
      "properties": {
        "passwordMinimumNumeric": {
          "format": "int32",
          "description": "Minimum number of numerical digits required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer"
        },
        "passwordQuality": {
          "type": "string",
          "enum": [
            "PASSWORD_QUALITY_UNSPECIFIED",
            "BIOMETRIC_WEAK",
            "SOMETHING",
            "NUMERIC",
            "NUMERIC_COMPLEX",
            "ALPHABETIC",
            "ALPHANUMERIC",
            "COMPLEX"
          ],
          "description": "The required password quality.",
          "enumDescriptions": [
            "There are no password requirements.",
            "The device must be secured with a low-security biometric recognition technology, at minimum. This includes technologies that can recognize the identity of an individual that are roughly equivalent to a 3-digit PIN (false detection is less than 1 in 1,000).",
            "A password is required, but there are no restrictions on what the password must contain.",
            "The password must contain numeric characters.",
            "The password must contain numeric characters with no repeating (4444) or ordered (1234, 4321, 2468) sequences.",
            "The password must contain alphabetic (or symbol) characters.",
            "The password must contain both numeric and alphabetic (or symbol) characters.",
            "The password must meet the minimum requirements specified in passwordMinimumLength, passwordMinimumLetters, passwordMinimumSymbols, etc. For example, if passwordMinimumSymbols is 2, the password must contain at least two symbols."
          ]
        },
        "passwordMinimumSymbols": {
          "format": "int32",
          "description": "Minimum number of symbols required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer"
        },
        "passwordMinimumUpperCase": {
          "description": "Minimum number of upper case letters required in the password. Only enforced when password_quality is COMPLEX.",
          "format": "int32",
          "type": "integer"
        },
        "passwordExpirationTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Password expiration timeout."
        },
        "passwordMinimumLowerCase": {
          "format": "int32",
          "description": "Minimum number of lower case letters required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer"
        },
        "maximumFailedPasswordsForWipe": {
          "format": "int32",
          "type": "integer",
          "description": "Number of incorrect device-unlock passwords that can be entered before a device is wiped. A value of 0 means there is no restriction."
        },
        "passwordMinimumNonLetter": {
          "description": "Minimum number of non-letter characters (numerical digits or symbols) required in the password. Only enforced when password_quality is COMPLEX.",
          "format": "int32",
          "type": "integer"
        },
        "passwordHistoryLength": {
          "description": "The length of the password history. After setting this field, the user won't be able to enter a new password that is the same as any password in the history. A value of 0 means there is no restriction.",
          "format": "int32",
          "type": "integer"
        },
        "passwordMinimumLength": {
          "description": "The minimum allowed password length. A value of 0 means there is no restriction. Only enforced when password_quality is NUMERIC, NUMERIC_COMPLEX, ALPHABETIC, ALPHANUMERIC, or COMPLEX.",
          "type": "integer",
          "format": "int32"
        },
        "passwordScope": {
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ],
          "description": "The scope that the password requirement applies to.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ],
          "type": "string"
        },
        "passwordMinimumLetters": {
          "format": "int32",
          "description": "Minimum number of letters required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer"
        },
        "requirePasswordUnlock": {
          "enum": [
            "REQUIRE_PASSWORD_UNLOCK_UNSPECIFIED",
            "USE_DEFAULT_DEVICE_TIMEOUT",
            "REQUIRE_EVERY_DAY"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to USE_DEFAULT_DEVICE_TIMEOUT.",
            "The timeout period is set to the device’s default.",
            "The timeout period is set to 24 hours."
          ],
          "description": "The length of time after a device or work profile is unlocked using a strong form of authentication (password, PIN, pattern) that it can be unlocked using any other authentication method (e.g. fingerprint, trust agents, face). After the specified time period elapses, only strong forms of authentication can be used to unlock the device or work profile.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Requirements for the password used to unlock a device."
    },
    "TermsAndConditions": {
      "properties": {
        "header": {
          "$ref": "UserFacingMessage",
          "description": "A short header which appears above the HTML content."
        },
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        }
      },
      "id": "TermsAndConditions",
      "type": "object",
      "description": "A terms and conditions page to be accepted during provisioning."
    },
    "Command": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration."
        },
        "resetPasswordFlags": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "Don't allow other admins to change the password again until the user has entered it.",
              "Don't ask for user credentials on device boot.",
              "Lock the device after password reset."
            ],
            "type": "string",
            "enum": [
              "RESET_PASSWORD_FLAG_UNSPECIFIED",
              "REQUIRE_ENTRY",
              "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
              "LOCK_NOW"
            ]
          },
          "description": "For commands of type RESET_PASSWORD, optionally specifies flags.",
          "type": "array"
        },
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "There was no error.",
            "An unknown error occurred.",
            "The API level of the device does not support this command.",
            "The management mode (profile owner, device owner, etc.) does not support the command.",
            "The command has an invalid parameter value.",
            "The device doesn't support the command. Updating Android Device Policy to the latest version may resolve the issue."
          ],
          "enum": [
            "COMMAND_ERROR_CODE_UNSPECIFIED",
            "UNKNOWN",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "INVALID_VALUE",
            "UNSUPPORTED"
          ],
          "description": "If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller."
        },
        "createTime": {
          "description": "The timestamp at which the command was created. The timestamp is automatically generated by the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "newPassword": {
          "description": "For commands of type RESET_PASSWORD, optionally specifies the new password.",
          "type": "string"
        },
        "userName": {
          "description": "The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "LOCK",
            "RESET_PASSWORD",
            "REBOOT",
            "RELINQUISH_OWNERSHIP"
          ],
          "description": "The type of the command.",
          "enumDescriptions": [
            "This value is disallowed.",
            "Lock the device, as if the lock screen timeout had expired.",
            "Reset the user's password.",
            "Reboot the device. Only supported on fully managed devices running Android 7.0 (API level 24) or higher.",
            "Removes the work profile and all policies from a company-owned Android 8.0+ device, relinquishing the device for personal use. Apps and data associated with the personal profile(s) are preserved. The device will be deleted from the server after it acknowledges the command."
          ]
        }
      },
      "id": "Command",
      "type": "object",
      "description": "A command."
    },
    "Device": {
      "description": "A device owned by an enterprise. Unless otherwise noted, all fields are read-only and can't be modified by enterprises.devices.patch.",
      "type": "object",
      "id": "Device",
      "properties": {
        "softwareInfo": {
          "description": "Detailed information about the device software. This information is only available if softwareInfoEnabled is true in the device's policy.",
          "$ref": "SoftwareInfo"
        },
        "enrollmentTokenData": {
          "type": "string",
          "description": "If the device was enrolled with an enrollment token with additional data provided, this field contains that data."
        },
        "managementMode": {
          "type": "string",
          "description": "The type of management mode Android Device Policy takes on the device. This influences which policy settings are supported.",
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "DEVICE_OWNER",
            "PROFILE_OWNER"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "Device owner. Android Device Policy has full control over the device.",
            "Profile owner. Android Device Policy has control over a managed profile on the device."
          ]
        },
        "powerManagementEvents": {
          "description": "Power management events on the device in chronological order. This information is only available if powerManagementEventsEnabled is true in the device's policy.",
          "items": {
            "$ref": "PowerManagementEvent"
          },
          "type": "array"
        },
        "appliedPolicyName": {
          "type": "string",
          "description": "The name of the policy currently applied to the device."
        },
        "enrollmentTokenName": {
          "type": "string",
          "description": "If the device was enrolled with an enrollment token, this field contains the name of the token."
        },
        "commonCriteriaModeInfo": {
          "$ref": "CommonCriteriaModeInfo",
          "description": "Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy."
        },
        "memoryInfo": {
          "description": "Memory information. This information is only available if memoryInfoEnabled is true in the device's policy.",
          "$ref": "MemoryInfo"
        },
        "systemProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of selected system properties name and value related to the device. This information is only available if systemPropertiesEnabled is true in the device's policy."
        },
        "previousDeviceNames": {
          "items": {
            "type": "string"
          },
          "description": "If the same physical device has been enrolled multiple times, this field contains its previous device names. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order.",
          "type": "array"
        },
        "lastPolicyComplianceReportTime": {
          "format": "google-datetime",
          "description": "Deprecated.",
          "type": "string"
        },
        "networkInfo": {
          "description": "Device network information. This information is only available if networkInfoEnabled is true in the device's policy.",
          "$ref": "NetworkInfo"
        },
        "policyName": {
          "description": "The name of the policy applied to the device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device's user is applied. This field can be modified by a patch request. You can specify only the policyId when calling enterprises.devices.patch, as long as the policyId doesn’t contain any slashes. The rest of the policy name is inferred.",
          "type": "string"
        },
        "deviceSettings": {
          "$ref": "DeviceSettings",
          "description": "Device settings information. This information is only available if deviceSettingsEnabled is true in the device's policy."
        },
        "apiLevel": {
          "type": "integer",
          "description": "The API level of the Android platform version running on the device.",
          "format": "int32"
        },
        "disabledReason": {
          "description": "If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field can be modified by a patch request.",
          "$ref": "UserFacingMessage"
        },
        "hardwareStatusSamples": {
          "type": "array",
          "items": {
            "$ref": "HardwareStatus"
          },
          "description": "Hardware status samples in chronological order. This information is only available if hardwareStatusEnabled is true in the device's policy."
        },
        "user": {
          "description": "The user who owns the device.",
          "$ref": "User"
        },
        "nonComplianceDetails": {
          "description": "Details about policy settings that the device is not compliant with.",
          "type": "array",
          "items": {
            "$ref": "NonComplianceDetail"
          }
        },
        "name": {
          "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
          "type": "string"
        },
        "appliedState": {
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING"
          ],
          "description": "The state currently applied to the device.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state will never be returned by an API call, but is used in the final status report published to Cloud Pub/Sub when the device acknowledges the deletion.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
          ]
        },
        "enrollmentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time of device enrollment."
        },
        "displays": {
          "items": {
            "$ref": "Display"
          },
          "type": "array",
          "description": "Detailed information about displays on the device. This information is only available if displayInfoEnabled is true in the device's policy."
        },
        "policyCompliant": {
          "description": "Whether the device is compliant with its policy.",
          "type": "boolean"
        },
        "appliedPolicyVersion": {
          "description": "The version of the policy currently applied to the device.",
          "type": "string",
          "format": "int64"
        },
        "ownership": {
          "description": "Ownership of the managed device.",
          "enumDescriptions": [
            "Ownership is unspecified.",
            "Device is company-owned.",
            "Device is personally-owned."
          ],
          "enum": [
            "OWNERSHIP_UNSPECIFIED",
            "COMPANY_OWNED",
            "PERSONALLY_OWNED"
          ],
          "type": "string"
        },
        "applicationReports": {
          "items": {
            "$ref": "ApplicationReport"
          },
          "type": "array",
          "description": "Reports for apps installed on the device. This information is only available when application_reports_enabled is true in the device's policy."
        },
        "hardwareInfo": {
          "description": "Detailed information about the device hardware.",
          "$ref": "HardwareInfo"
        },
        "lastStatusReportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the device sent a status report."
        },
        "securityPosture": {
          "$ref": "SecurityPosture",
          "description": "Device's security posture value that reflects how secure the device is."
        },
        "memoryEvents": {
          "type": "array",
          "description": "Events related to memory and storage measurements in chronological order. This information is only available if memoryInfoEnabled is true in the device's policy.",
          "items": {
            "$ref": "MemoryEvent"
          }
        },
        "lastPolicySyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time the device fetched its policy."
        },
        "userName": {
          "type": "string",
          "description": "The resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}."
        },
        "state": {
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state will never be returned by an API call, but is used in the final status report published to Cloud Pub/Sub when the device acknowledges the deletion.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
          ],
          "type": "string",
          "description": "The state to be applied to the device. This field can be modified by a patch request. Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only allowable values. To enter the device into a DELETED state, call enterprises.devices.delete.",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING"
          ]
        }
      }
    },
    "AlwaysOnVpnPackage": {
      "type": "object",
      "id": "AlwaysOnVpnPackage",
      "description": "Configuration for an always-on VPN connection.",
      "properties": {
        "lockdownEnabled": {
          "type": "boolean",
          "description": "Disallows networking when the VPN is not connected."
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the VPN app."
        }
      }
    },
    "ApplicationReport": {
      "description": "Information reported about an installed app.",
      "id": "ApplicationReport",
      "properties": {
        "events": {
          "items": {
            "$ref": "ApplicationEvent"
          },
          "description": "List of app events. The most recent 20 events are stored in the list.",
          "type": "array"
        },
        "state": {
          "enum": [
            "APPLICATION_STATE_UNSPECIFIED",
            "REMOVED",
            "INSTALLED"
          ],
          "enumDescriptions": [
            "App state is unspecified",
            "App was removed from the device",
            "App is installed on the device"
          ],
          "description": "Application state.",
          "type": "string"
        },
        "signingKeyCertFingerprints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The SHA-1 hash of each android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the app package. Each byte of each hash value is represented as a two-digit hexadecimal number."
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "packageSha256Hash": {
          "type": "string",
          "description": "The SHA-256 hash of the app's APK file, which can be used to verify the app hasn't been modified. Each byte of the hash value is represented as a two-digit hexadecimal number."
        },
        "applicationSource": {
          "type": "string",
          "description": "The source of the package.",
          "enum": [
            "APPLICATION_SOURCE_UNSPECIFIED",
            "SYSTEM_APP_FACTORY_VERSION",
            "SYSTEM_APP_UPDATED_VERSION",
            "INSTALLED_FROM_PLAY_STORE"
          ],
          "enumDescriptions": [
            "The app was sideloaded from an unspecified source.",
            "This is a system app from the device's factory image.",
            "This is an updated system app.",
            "The app was installed from the Google Play Store."
          ]
        },
        "installerPackageName": {
          "type": "string",
          "description": "The package name of the app that installed this app."
        },
        "keyedAppStates": {
          "description": "List of keyed app states reported by the app.",
          "type": "array",
          "items": {
            "$ref": "KeyedAppState"
          }
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The app version code, which can be used to determine whether one version is more recent than another."
        },
        "versionName": {
          "type": "string",
          "description": "The app version as displayed to the user."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the app."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "Display": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the display."
        },
        "density": {
          "format": "int32",
          "description": "Display density expressed as dots-per-inch.",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ],
          "description": "State of the display."
        },
        "width": {
          "format": "int32",
          "description": "Display width in pixels.",
          "type": "integer"
        },
        "refreshRate": {
          "description": "Refresh rate of the display in frames per second.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "Display height in pixels.",
          "format": "int32"
        },
        "displayId": {
          "description": "Unique display id.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Device display information.",
      "id": "Display",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "PersonalApplicationPolicy": {
      "properties": {
        "installType": {
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ],
          "description": "The type of installation to perform.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        }
      },
      "id": "PersonalApplicationPolicy",
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile.",
      "type": "object"
    },
    "PermissionGrant": {
      "id": "PermissionGrant",
      "description": "Configuration for an Android permission and its grant state.",
      "type": "object",
      "properties": {
        "policy": {
          "type": "string",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "description": "The policy for granting the permission."
        },
        "permission": {
          "type": "string",
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR."
        }
      }
    },
    "ApplicationEvent": {
      "id": "ApplicationEvent",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the event."
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The app was installed.",
            "The app was changed, for example, a component was enabled or disabled.",
            "The app data was cleared.",
            "The app was removed.",
            "A new version of the app has been installed, replacing the old version.",
            "The app was restarted.",
            "The app was pinned to the foreground.",
            "The app was unpinned."
          ],
          "enum": [
            "APPLICATION_EVENT_TYPE_UNSPECIFIED",
            "INSTALLED",
            "CHANGED",
            "DATA_CLEARED",
            "REMOVED",
            "REPLACED",
            "RESTARTED",
            "PINNED",
            "UNPINNED"
          ],
          "description": "App event type."
        }
      },
      "description": "An app-related event.",
      "type": "object"
    },
    "HardwareStatus": {
      "type": "object",
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.",
      "id": "HardwareStatus",
      "properties": {
        "fanSpeeds": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.",
          "type": "array"
        },
        "gpuTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "Current GPU temperatures in Celsius for each GPU on the device."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the measurements were taken."
        },
        "batteryTemperatures": {
          "description": "Current battery temperatures in Celsius for each battery on the device.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "cpuTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Current CPU temperatures in Celsius for each CPU on the device.",
          "type": "array"
        },
        "cpuUsages": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system."
        },
        "skinTemperatures": {
          "description": "Current device skin temperatures in Celsius.",
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        }
      }
    },
    "NonComplianceDetail": {
      "id": "NonComplianceDetail",
      "properties": {
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field.",
          "type": "string"
        },
        "currentValue": {
          "description": "If the policy setting could not be applied, the current value of the setting on the device.",
          "type": "any"
        },
        "nonComplianceReason": {
          "type": "string",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "description": "The reason the device is not in compliance with the setting.",
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ]
        },
        "fieldPath": {
          "description": "For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a subfield name. 2) For array-typed fields, the field name is followed by the array index enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url",
          "type": "string"
        },
        "installationFailureReason": {
          "enum": [
            "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
            "INSTALLATION_FAILURE_REASON_UNKNOWN",
            "IN_PROGRESS",
            "NOT_FOUND",
            "NOT_COMPATIBLE_WITH_DEVICE",
            "NOT_APPROVED",
            "PERMISSIONS_NOT_ACCEPTED",
            "NOT_AVAILABLE_IN_COUNTRY",
            "NO_LICENSES_REMAINING",
            "NOT_ENROLLED",
            "USER_INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
            "The installation is still in progress.",
            "The app was not found in Play.",
            "The app is incompatible with the device.",
            "The app has not been approved by the admin.",
            "The app has new permissions that have not been accepted by the admin.",
            "The app is not available in the user's country.",
            "There are no licenses available to assign to the user.",
            "The enterprise is no longer enrolled with Managed Google Play or the admin has not accepted the latest Managed Google Play Terms of Service.",
            "The user is no longer valid. The user may have been deleted or disabled."
          ],
          "description": "If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app can't be installed or updated."
        },
        "packageName": {
          "type": "string",
          "description": "The package name indicating which app is out of compliance, if applicable."
        }
      },
      "type": "object",
      "description": "Provides detail about non-compliance with a policy setting."
    },
    "ChoosePrivateKeyRule": {
      "properties": {
        "packageNames": {
          "type": "array",
          "description": "The package names for which outgoing requests are subject to this rule. If no package names are specified, then the rule applies to all packages. For each package name listed, the rule applies to that package and all other packages that shared the same Android UID. The SHA256 hash of the signing key signatures of each package_name will be verified against those provided by Play",
          "items": {
            "type": "string"
          }
        },
        "privateKeyAlias": {
          "description": "The alias of the private key to be used.",
          "type": "string"
        },
        "urlPattern": {
          "type": "string",
          "description": "The URL pattern to match against the URL of the outgoing request. The pattern may contain asterisk (*) wildcards. Any URL is matched if unspecified."
        }
      },
      "id": "ChoosePrivateKeyRule",
      "type": "object",
      "description": "A rule for automatically choosing a private key and certificate to authenticate the device to a server."
    },
    "ListDevicesResponse": {
      "type": "object",
      "description": "Response to a request to list devices for a given enterprise.",
      "id": "ListDevicesResponse",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The list of devices."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        }
      }
    },
    "PackageNameList": {
      "properties": {
        "packageNames": {
          "items": {
            "type": "string"
          },
          "description": "A list of package names.",
          "type": "array"
        }
      },
      "description": "A list of package names.",
      "id": "PackageNameList",
      "type": "object"
    },
    "ComplianceRule": {
      "description": "A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule.",
      "properties": {
        "disableApps": {
          "type": "boolean",
          "description": "If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed."
        },
        "nonComplianceDetailCondition": {
          "description": "A condition which is satisfied if there exists any matching NonComplianceDetail for the device.",
          "$ref": "NonComplianceDetailCondition"
        },
        "apiLevelCondition": {
          "description": "A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement.",
          "$ref": "ApiLevelCondition"
        },
        "packageNamesToDisable": {
          "items": {
            "type": "string"
          },
          "description": "If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ComplianceRule"
    },
    "ContactInfo": {
      "type": "object",
      "description": "Contact details for LaForge enterprises.",
      "properties": {
        "euRepresentativePhone": {
          "description": "The phone number of the EU representative. The phone number is validated but not verified.",
          "type": "string"
        },
        "dataProtectionOfficerPhone": {
          "description": "The phone number of the data protection officer The phone number is validated but not verified.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play."
        },
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "dataProtectionOfficerEmail": {
          "description": "The email of the data protection officer. The email is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeName": {
[...]
