{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://iap.mtls.googleapis.com/",
  "name": "iap",
  "schemas": {
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "Brand": {
      "description": "OAuth brand data. NOTE: Only contains a portion of the data that describes a brand.",
      "type": "object",
      "id": "Brand",
      "properties": {
        "supportEmail": {
          "description": "Support email displayed on the OAuth consent screen.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier of the brand. NOTE: GCP project number achieves the same brand identification purpose as only one brand per project can be created.",
          "readOnly": true,
          "type": "string"
        },
        "applicationTitle": {
          "type": "string",
          "description": "Application name displayed on OAuth consent screen."
        },
        "orgInternalOnly": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the brand is only intended for usage inside the G Suite organization only."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListIdentityAwareProxyClientsResponse": {
      "id": "ListIdentityAwareProxyClientsResponse",
      "description": "Response message for ListIdentityAwareProxyClients.",
      "type": "object",
      "properties": {
        "identityAwareProxyClients": {
          "description": "Clients existing in the brand.",
          "items": {
            "$ref": "IdentityAwareProxyClient"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AccessSettings": {
      "description": "Access related settings for IAP protected apps.",
      "type": "object",
      "properties": {
        "gcipSettings": {
          "$ref": "GcipSettings",
          "description": "GCIP claims and endpoint configurations for 3p identity providers."
        },
        "oauthSettings": {
          "description": "Settings to configure IAP's OAuth behavior.",
          "$ref": "OAuthSettings"
        },
        "corsSettings": {
          "description": "Configuration to allow cross-origin requests via IAP.",
          "$ref": "CorsSettings"
        },
        "policyDelegationSettings": {
          "$ref": "PolicyDelegationSettings",
          "description": "Settings to configure Policy delegation for apps hosted in tenant projects. INTERNAL_ONLY."
        }
      },
      "id": "AccessSettings"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The service defined labels of the resource on which the conditions will be evaluated. The semantics - including the key names - are vague to IAM. If the effective condition has a reference to a `resource.labels[foo]` construct, IAM consults with this map to retrieve the values associated with `foo` key for Conditions evaluation. If the provided key is not found in the labels map, the condition would evaluate to false. This field is in limited use. If your intended use case is not expected to express resource.labels attribute in IAM Conditions, leave this field empty. Before planning on using this attribute please: * Read go/iam-conditions-labels-comm and ensure your service can meet the data availability and management requirements. * Talk to iam-conditions-eng@ about your use case.",
          "type": "object"
        },
        "name": {
          "description": "Name of the resource on which conditions will be evaluated. Must use the Relative Resource Name of the resource, which is the URI path of the resource without the leading \"/\". Examples are \"projects/_/buckets/[BUCKET-ID]\" for storage buckets or \"projects/[PROJECT-ID]/global/firewalls/[FIREWALL-ID]\" for a firewall. This field is required for evaluating conditions with rules on resource names. For a `list` permission check, the resource.name value must be set to the parent resource. If the parent resource is a project, this field should be left unset.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The public resource type name of the resource on which conditions will be evaluated. It is configured using the official_name of the ResourceType as defined in service configurations under //configs/cloud/resourcetypes. For example, the official_name for GCP projects is set as 'cloudresourcemanager.googleapis.com/Project' according to //configs/cloud/resourcetypes/google/cloud/resourcemanager/prod.yaml For details see go/iam-conditions-integration-guide."
        },
        "service": {
          "type": "string",
          "description": "The name of the service this resource belongs to. It is configured using the official_service_name of the Service as defined in service configurations under //configs/cloud/resourcetypes. For example, the official_service_name of cloud resource manager service is set as 'cloudresourcemanager.googleapis.com' according to //configs/cloud/resourcetypes/google/cloud/resourcemanager/prod.yaml"
        }
      },
      "id": "Resource"
    },
    "IdentityAwareProxyClient": {
      "description": "Contains the data that describes an Identity Aware Proxy owned client.",
      "properties": {
        "secret": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Client secret of the OAuth client."
        },
        "name": {
          "type": "string",
          "description": "Output only. Unique identifier of the OAuth client.",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-friendly name given to the OAuth client.",
          "type": "string"
        }
      },
      "id": "IdentityAwareProxyClient",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "CsmSettings": {
      "id": "CsmSettings",
      "description": "Configuration for RCTokens generated for CSM workloads protected by IAP. RCTokens are IAP generated JWTs that can be verified at the application. The RCToken is primarily used for ISTIO deployments, and can be scoped to a single mesh by configuring the audience field accordingly",
      "type": "object",
      "properties": {
        "rctokenAud": {
          "description": "Audience claim set in the generated RCToken. This value is not validated by IAP.",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method."
    },
    "GcipSettings": {
      "id": "GcipSettings",
      "properties": {
        "loginPageUri": {
          "description": "Login page URI associated with the GCIP tenants. Typically, all resources within the same project share the same login page, though it could be overridden at the sub resource level.",
          "type": "string"
        },
        "tenantIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "GCIP tenant ids that are linked to the IAP resource. tenant_ids could be a string beginning with a number character to indicate authenticating with GCIP tenant flow, or in the format of _ to indicate authenticating with GCIP agent flow. If agent flow is used, tenant_ids should only contain one single element, while for tenant flow, tenant_ids can contain multiple elements."
        }
      },
      "type": "object",
      "description": "Allows customers to configure tenant_id for GCIP instance per-app."
    },
    "AccessDeniedPageSettings": {
      "description": "Custom content configuration for access denied page. IAP allows customers to define a custom URI to use as the error page when access is denied to users. If IAP prevents access to this page, the default IAP error page will be displayed instead.",
      "properties": {
        "accessDeniedPageUri": {
          "description": "The URI to be redirected to when access is denied.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccessDeniedPageSettings"
    },
    "ListBrandsResponse": {
      "id": "ListBrandsResponse",
      "description": "Response message for ListBrands.",
      "type": "object",
      "properties": {
        "brands": {
          "type": "array",
          "items": {
            "$ref": "Brand"
          },
          "description": "Brands existing in the project."
        }
      }
    },
    "OAuthSettings": {
      "id": "OAuthSettings",
      "description": "Configuration for OAuth login&consent flow behavior as well as for OAuth Credentials.",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth 2.0 client ID used in the OAuth flow to generate an access token. If this field is set, you can skip obtaining the OAuth credentials in this step: https://developers.google.com/identity/protocols/OAuth2?hl=en_US#1.-obtain-oauth-2.0-credentials-from-the-google-api-console. However, this could allow for client sharing. The risks of client sharing are outlined here: https://cloud.google.com/iap/docs/sharing-oauth-clients#risks."
        },
        "loginHint": {
          "description": "Domain hint to send as hd=? parameter in OAuth request flow. Enables redirect to primary IDP by skipping Google's login screen. https://developers.google.com/identity/protocols/OpenIDConnect#hd-param Note: IAP does not verify that the id token's hd claim matches this value since access behavior is managed by IAM policies.",
          "type": "string"
        }
      }
    },
    "ApplicationSettings": {
      "type": "object",
      "description": "Wrapper over application specific settings for IAP.",
      "id": "ApplicationSettings",
      "properties": {
        "accessDeniedPageSettings": {
          "$ref": "AccessDeniedPageSettings",
          "description": "Customization for Access Denied page."
        },
        "csmSettings": {
          "$ref": "CsmSettings",
          "description": "Settings to configure IAP's behavior for a CSM mesh."
        },
        "cookieDomain": {
          "description": "The Domain value to set for cookies generated by IAP. This value is not validated by the API, but will be ignored at runtime if invalid.",
          "type": "string"
        }
      }
    },
    "PolicyDelegationSettings": {
      "properties": {
        "resource": {
          "description": "IAM resource to check permission on",
          "$ref": "Resource"
        },
        "iamPermission": {
          "description": "Permission to check in IAM.",
          "type": "string"
        },
        "policyName": {
          "description": "Policy name to be checked",
          "$ref": "PolicyName"
        },
        "iamServiceName": {
          "description": "The DNS name of the service (e.g. \"resourcemanager.googleapis.com\"). This should be the domain name part of the full resource names (see https://aip.dev/122#full-resource-names), which is usually the same as IamServiceSpec.service of the service where the resource type is defined.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PolicyDelegationSettings",
      "description": "PolicyDelegationConfig allows google-internal teams to use IAP for apps hosted in a tenant project. Using these settings, the app can delegate permission check to happen against the linked customer project. This is only ever supposed to be used by google internal teams, hence the restriction on the proto."
    },
    "CorsSettings": {
      "properties": {
        "allowHttpOptions": {
          "type": "boolean",
          "description": "Configuration to allow HTTP OPTIONS calls to skip authorization. If undefined, IAP will not apply any special logic to OPTIONS requests."
        }
      },
      "id": "CorsSettings",
      "type": "object",
      "description": "Allows customers to configure HTTP request paths that'll allow HTTP OPTIONS call to bypass authentication and authorization."
    },
    "IapSettings": {
      "properties": {
        "applicationSettings": {
          "description": "Top level wrapper for all application related settings in IAP",
          "$ref": "ApplicationSettings"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the IAP protected resource."
        },
        "accessSettings": {
          "description": "Top level wrapper for all access related setting in IAP",
          "$ref": "AccessSettings"
        }
      },
      "id": "IapSettings",
      "description": "The IAP configurable settings.",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "bindingId": {
          "description": "A client-specified ID for this binding. Expected to be globally unique to support the internal bindings-by-ID API.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members` with a `role`.",
      "id": "Binding"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "ResetIdentityAwareProxyClientSecretRequest": {
      "type": "object",
      "properties": {},
      "description": "The request sent to ResetIdentityAwareProxyClientSecret.",
      "id": "ResetIdentityAwareProxyClientSecretRequest"
    },
    "PolicyName": {
      "id": "PolicyName",
      "properties": {
        "id": {
          "type": "string"
        },
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        },
        "type": {
          "description": "Valid values for type might be 'gce', 'gcs', 'project', 'account' etc.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "title": "Cloud Identity-Aware Proxy API",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/iap",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "Controls access to cloud applications running on Google Cloud Platform.",
  "baseUrl": "https://iap.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "canonicalName": "Cloud IAP",
  "id": "iap:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "resources": {
    "v1": {
      "methods": {
        "getIapSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/{v1Id}:iapSettings",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name for which to retrieve the settings. Authorization: Requires the `getSettings` permission for the associated resource.",
              "pattern": "^.*$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "iap.getIapSettings",
          "response": {
            "$ref": "IapSettings"
          },
          "path": "v1/{+name}:iapSettings",
          "description": "Gets the IAP settings on a particular IAP protected resource."
        },
        "setIamPolicy": {
          "flatPath": "v1/{v1Id}:setIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^.*$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "v1/{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "iap.setIamPolicy",
          "description": "Sets the access control policy for an Identity-Aware Proxy protected resource. Replaces any existing policy. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api"
        },
        "getIamPolicy": {
          "id": "iap.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:getIamPolicy",
          "description": "Gets the access control policy for an Identity-Aware Proxy protected resource. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "v1/{v1Id}:getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^.*$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/{v1Id}:testIamPermissions",
          "description": "Returns permissions that a caller has on the Identity-Aware Proxy protected resource. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "id": "iap.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "path": "v1/{+resource}:testIamPermissions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        },
        "updateIapSettings": {
          "response": {
            "$ref": "IapSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "iap.updateIapSettings",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "IapSettings"
          },
          "description": "Updates the IAP settings on a particular IAP protected resource. It replaces all fields unless the `update_mask` is set.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the IAP protected resource.",
              "pattern": "^.*$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The field mask specifying which IAP settings should be updated. If omitted, the all of the settings are updated. See https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
            }
          },
          "flatPath": "v1/{v1Id}:iapSettings",
          "path": "v1/{+name}:iapSettings"
        }
      }
    },
    "projects": {
      "resources": {
        "brands": {
          "resources": {
            "identityAwareProxyClients": {
              "methods": {
                "resetSecret": {
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "request": {
                    "$ref": "ResetIdentityAwareProxyClientSecretRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}:resetSecret",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the Identity Aware Proxy client to that will have its secret reset. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Resets an Identity Aware Proxy (IAP) OAuth client secret. Useful if the secret was compromised. Requires that the client is owned by IAP.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "iap.projects.brands.identityAwareProxyClients.resetSecret",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:resetSecret"
                },
                "list": {
                  "id": "iap.projects.brands.identityAwareProxyClients.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "description": "Lists the existing clients for the brand.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of clients to return. The service may return fewer than this value. If unspecified, at most 100 clients will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListIdentityAwareProxyClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityAwareProxyClients` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/brands/[^/]+$",
                      "type": "string",
                      "description": "Required. Full brand path. In the following format: projects/{project_number/id}/brands/{brand}.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListIdentityAwareProxyClientsResponse"
                  },
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "description": "Required. Name of the Identity Aware Proxy client to be fetched. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "id": "iap.projects.brands.identityAwareProxyClients.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieves an Identity Aware Proxy (IAP) OAuth client. Requires that the client is owned by IAP."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "id": "iap.projects.brands.identityAwareProxyClients.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an Identity Aware Proxy (IAP) OAuth client. Useful for removing obsolete clients, managing the number of clients in a given project, and cleaning up after tests. Requires that the client is owned by IAP.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Identity Aware Proxy client to be deleted. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Path to create the client in. In the following format: projects/{project_number/id}/brands/{brand}. The project must belong to a G Suite account.",
                      "pattern": "^projects/[^/]+/brands/[^/]+$"
                    }
                  },
                  "id": "iap.projects.brands.identityAwareProxyClients.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an Identity Aware Proxy (IAP) OAuth client. The client is owned by IAP. Requires that the brand for the project exists and that it is set for internal-only use.",
                  "path": "v1/{+parent}/identityAwareProxyClients"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "iap.projects.brands.list",
              "flatPath": "v1/projects/{projectsId}/brands",
              "response": {
                "$ref": "ListBrandsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. GCP Project number/id. In the following format: projects/{project_number/id}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Lists the existing brands for the project.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/brands"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. GCP Project number/id under which the brand is to be created. In the following format: projects/{project_number/id}."
                }
              },
              "description": "Constructs a new OAuth brand for the project if one does not exist. The created brand is \"internal only\", meaning that OAuth clients created under it only accept requests from users who belong to the same G Suite organization as the project. The brand is created in an un-reviewed status. NOTE: The \"internal only\" status can be manually changed in the Google Cloud console. Requires that a brand does not already exist for the project, and that the specified support email is owned by the caller.",
              "response": {
                "$ref": "Brand"
              },
              "id": "iap.projects.brands.create",
              "request": {
                "$ref": "Brand"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/brands",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/brands",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/brands/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the brand to be fetched. In the following format: projects/{project_number/id}/brands/{brand}."
                }
              },
              "response": {
                "$ref": "Brand"
              },
              "flatPath": "v1/projects/{projectsId}/brands/{brandsId}",
              "description": "Retrieves the OAuth brand of the project.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "iap.projects.brands.get",
              "path": "v1/{+name}"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://iap.googleapis.com/",
  "revision": "20200828",
  "version": "v1",
  "fullyEncodeReservedExpansion": true
}
