{
  "documentationLink": "https://developers.google.com/slides/",
  "basePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/presentations.readonly": {
          "description": "View your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/presentations": {
          "description": "View and manage your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "View and manage Google Drive files and folders that you have opened or created with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "schemas": {
    "Recolor": {
      "description": "A recolor effect applied on an image.",
      "type": "object",
      "properties": {
        "name": {
          "enum": [
            "NONE",
            "LIGHT1",
            "LIGHT2",
            "LIGHT3",
            "LIGHT4",
            "LIGHT5",
            "LIGHT6",
            "LIGHT7",
            "LIGHT8",
            "LIGHT9",
            "LIGHT10",
            "DARK1",
            "DARK2",
            "DARK3",
            "DARK4",
            "DARK5",
            "DARK6",
            "DARK7",
            "DARK8",
            "DARK9",
            "DARK10",
            "GRAYSCALE",
            "NEGATIVE",
            "SEPIA",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "No recolor effect. The default value.",
            "A recolor effect that lightens the image using the page's first available color from its color scheme.",
            "A recolor effect that lightens the image using the page's second available color from its color scheme.",
            "A recolor effect that lightens the image using the page's third available color from its color scheme.",
            "A recolor effect that lightens the image using the page's forth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's fifth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's sixth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's seventh available color from its color scheme.",
            "A recolor effect that lightens the image using the page's eighth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's ninth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's tenth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's first available color from its color scheme.",
            "A recolor effect that darkens the image using the page's second available color from its color scheme.",
            "A recolor effect that darkens the image using the page's third available color from its color scheme.",
            "A recolor effect that darkens the image using the page's fourth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's fifth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's sixth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's seventh available color from its color scheme.",
            "A recolor effect that darkens the image using the page's eighth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's ninth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's tenth available color from its color scheme.",
            "A recolor effect that recolors the image to grayscale.",
            "A recolor effect that recolors the image to negative grayscale.",
            "A recolor effect that recolors the image using the sepia color.",
            "Custom recolor effect. Refer to `recolor_stops` for the concrete gradient."
          ],
          "description": "The name of the recolor effect. The name is determined from the `recolor_stops` by matching the gradient against the colors in the page's current color scheme. This property is read-only.",
          "type": "string"
        },
        "recolorStops": {
          "type": "array",
          "description": "The recolor effect is represented by a gradient, which is a list of color stops. The colors in the gradient will replace the corresponding colors at the same position in the color palette and apply to the image. This property is read-only.",
          "items": {
            "$ref": "ColorStop"
          }
        }
      },
      "id": "Recolor"
    },
    "Bullet": {
      "id": "Bullet",
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "bulletStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph specific text style applied to this bullet."
        },
        "nestingLevel": {
          "format": "int32",
          "description": "The nesting level of this paragraph in the list.",
          "type": "integer"
        },
        "glyph": {
          "type": "string",
          "description": "The rendered bullet glyph for this paragraph."
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        }
      },
      "type": "object"
    },
    "UpdatePageElementTransformRequest": {
      "properties": {
        "applyMode": {
          "enum": [
            "APPLY_MODE_UNSPECIFIED",
            "RELATIVE",
            "ABSOLUTE"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Applies the new AffineTransform matrix to the existing one, and replaces the existing one with the resulting concatenation.",
            "Replaces the existing AffineTransform matrix with the new one."
          ],
          "description": "The apply mode of the transform update.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the page element to update."
        },
        "transform": {
          "description": "The input transform matrix used to update the page element.",
          "$ref": "AffineTransform"
        }
      },
      "id": "UpdatePageElementTransformRequest",
      "description": "Updates the transform of a page element. Updating the transform of a group will change the absolute transform of the page elements in that group, which can change their visual appearance. See the documentation for PageElement.transform for more details.",
      "type": "object"
    },
    "Line": {
      "properties": {
        "lineCategory": {
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "type": "string",
          "description": "The category of the line. It matches the `category` specified in CreateLineRequest, and can be updated with UpdateLineCategoryRequest."
        },
        "lineProperties": {
          "$ref": "LineProperties",
          "description": "The properties of the line."
        },
        "lineType": {
          "enumDescriptions": [
            "An unspecified line type.",
            "Straight connector 1 form. Corresponds to ECMA-376 ST_ShapeType 'straightConnector1'.",
            "Bent connector 2 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector2'.",
            "Bent connector 3 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector3'.",
            "Bent connector 4 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector4'.",
            "Bent connector 5 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector5'.",
            "Curved connector 2 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector2'.",
            "Curved connector 3 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector3'.",
            "Curved connector 4 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector4'.",
            "Curved connector 5 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector5'.",
            "Straight line. Corresponds to ECMA-376 ST_ShapeType 'line'. This line type is not a connector."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRAIGHT_CONNECTOR_1",
            "BENT_CONNECTOR_2",
            "BENT_CONNECTOR_3",
            "BENT_CONNECTOR_4",
            "BENT_CONNECTOR_5",
            "CURVED_CONNECTOR_2",
            "CURVED_CONNECTOR_3",
            "CURVED_CONNECTOR_4",
            "CURVED_CONNECTOR_5",
            "STRAIGHT_LINE"
          ],
          "type": "string",
          "description": "The type of the line."
        }
      },
      "id": "Line",
      "description": "A PageElement kind representing a non-connector line, straight connector, curved connector, or bent connector.",
      "type": "object"
    },
    "Video": {
      "description": "A PageElement kind representing a video.",
      "id": "Video",
      "properties": {
        "videoProperties": {
          "$ref": "VideoProperties",
          "description": "The properties of the video."
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ],
          "description": "The video source.",
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "type": "string"
        },
        "id": {
          "description": "The video source's unique identifier for this video.",
          "type": "string"
        },
        "url": {
          "description": "An URL to a video. The URL is valid as long as the source video exists and sharing settings do not change.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AffineTransform": {
      "properties": {
        "shearX": {
          "description": "The X coordinate shearing element.",
          "format": "double",
          "type": "number"
        },
        "shearY": {
          "type": "number",
          "format": "double",
          "description": "The Y coordinate shearing element."
        },
        "scaleY": {
          "format": "double",
          "description": "The Y coordinate scaling element.",
          "type": "number"
        },
        "unit": {
          "description": "The units for translate elements.",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ]
        },
        "translateX": {
          "type": "number",
          "description": "The X coordinate translation element.",
          "format": "double"
        },
        "scaleX": {
          "format": "double",
          "type": "number",
          "description": "The X coordinate scaling element."
        },
        "translateY": {
          "description": "The Y coordinate translation element.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "AffineTransform",
      "type": "object",
      "description": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements."
    },
    "PageElementProperties": {
      "description": "Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged.",
      "type": "object",
      "id": "PageElementProperties",
      "properties": {
        "pageObjectId": {
          "description": "The object ID of the page where the element is located.",
          "type": "string"
        },
        "transform": {
          "$ref": "AffineTransform",
          "description": "The transform for the element."
        },
        "size": {
          "description": "The size of the element.",
          "$ref": "Size"
        }
      }
    },
    "TableColumnProperties": {
      "id": "TableColumnProperties",
      "properties": {
        "columnWidth": {
          "$ref": "Dimension",
          "description": "Width of a column."
        }
      },
      "type": "object",
      "description": "Properties of each column in a table."
    },
    "TextRun": {
      "id": "TextRun",
      "properties": {
        "style": {
          "$ref": "TextStyle",
          "description": "The styling applied to this run."
        },
        "content": {
          "description": "The text of this run.",
          "type": "string"
        }
      },
      "description": "A TextElement kind that represents a run of text that all has the same styling.",
      "type": "object"
    },
    "Thumbnail": {
      "description": "The thumbnail of a page.",
      "id": "Thumbnail",
      "properties": {
        "contentUrl": {
          "description": "The content URL of the thumbnail image. The URL to the image has a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change. The mime type of the thumbnail image is the same as specified in the `GetPageThumbnailRequest`.",
          "type": "string"
        },
        "height": {
          "description": "The positive height in pixels of the thumbnail image.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The positive width in pixels of the thumbnail image."
        }
      },
      "type": "object"
    },
    "NestingLevel": {
      "id": "NestingLevel",
      "type": "object",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "properties": {
        "bulletStyle": {
          "$ref": "TextStyle",
          "description": "The style of a bullet at this level of nesting."
        }
      }
    },
    "DeleteTextRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the shape or table from which the text will be deleted.",
          "type": "string"
        },
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to delete, based on TextElement indexes. There is always an implicit newline character at the end of a shape's or table cell's text that cannot be deleted. `Range.Type.ALL` will use the correct bounds, but care must be taken when specifying explicit bounds for range types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text is \"ABC\", followed by an implicit newline, then the maximum value is 2 for `text_range.start_index` and 3 for `text_range.end_index`. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles and lists as the two paragraphs are merged. Ranges that include only one code unit of a surrogate pair are expanded to include both code units."
        },
        "cellLocation": {
          "description": "The optional table cell location if the text is to be deleted from a table cell. If present, the object_id must refer to a table.",
          "$ref": "TableCellLocation"
        }
      },
      "description": "Deletes text from a shape or a table cell.",
      "type": "object",
      "id": "DeleteTextRequest"
    },
    "Request": {
      "type": "object",
      "id": "Request",
      "description": "A single kind of update to apply to a presentation.",
      "properties": {
        "createVideo": {
          "description": "Creates a video.",
          "$ref": "CreateVideoRequest"
        },
        "updateTableRowProperties": {
          "$ref": "UpdateTableRowPropertiesRequest",
          "description": "Updates the properties of a Table row."
        },
        "deleteTableColumn": {
          "$ref": "DeleteTableColumnRequest",
          "description": "Deletes a column from a table."
        },
        "replaceAllShapesWithSheetsChart": {
          "$ref": "ReplaceAllShapesWithSheetsChartRequest",
          "description": "Replaces all shapes matching some criteria with a Google Sheets chart."
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        },
        "createSlide": {
          "$ref": "CreateSlideRequest",
          "description": "Creates a new slide."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a Table."
        },
        "updateImageProperties": {
          "$ref": "UpdateImagePropertiesRequest",
          "description": "Updates the properties of an Image."
        },
        "updateVideoProperties": {
          "$ref": "UpdateVideoPropertiesRequest",
          "description": "Updates the properties of a Video."
        },
        "deleteObject": {
          "description": "Deletes a page or page element from the presentation.",
          "$ref": "DeleteObjectRequest"
        },
        "groupObjects": {
          "$ref": "GroupObjectsRequest",
          "description": "Groups objects, such as page elements."
        },
        "updateSlidesPosition": {
          "$ref": "UpdateSlidesPositionRequest",
          "description": "Updates the position of a set of slides in the presentation."
        },
        "insertTableColumns": {
          "$ref": "InsertTableColumnsRequest",
          "description": "Inserts columns into a table."
        },
        "refreshSheetsChart": {
          "$ref": "RefreshSheetsChartRequest",
          "description": "Refreshes a Google Sheets chart."
        },
        "insertTableRows": {
          "description": "Inserts rows into a table.",
          "$ref": "InsertTableRowsRequest"
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text into a shape or table cell."
        },
        "createShape": {
          "$ref": "CreateShapeRequest",
          "description": "Creates a new shape."
        },
        "updatePageElementAltText": {
          "description": "Updates the alt text title and/or description of a page element.",
          "$ref": "UpdatePageElementAltTextRequest"
        },
        "replaceAllShapesWithImage": {
          "description": "Replaces all shapes matching some criteria with an image.",
          "$ref": "ReplaceAllShapesWithImageRequest"
        },
        "updatePageElementsZOrder": {
          "description": "Updates the Z-order of page elements.",
          "$ref": "UpdatePageElementsZOrderRequest"
        },
        "updateTextStyle": {
          "description": "Updates the styling of text within a Shape or Table.",
          "$ref": "UpdateTextStyleRequest"
        },
        "rerouteLine": {
          "$ref": "RerouteLineRequest",
          "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements."
        },
        "createImage": {
          "description": "Creates an image.",
          "$ref": "CreateImageRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "createTable": {
          "description": "Creates a new table.",
          "$ref": "CreateTableRequest"
        },
        "deleteText": {
          "$ref": "DeleteTextRequest",
          "description": "Deletes text from a shape or a table cell."
        },
        "duplicateObject": {
          "description": "Duplicates a slide or page element.",
          "$ref": "DuplicateObjectRequest"
        },
        "updateTableBorderProperties": {
          "description": "Updates the properties of the table borders in a Table.",
          "$ref": "UpdateTableBorderPropertiesRequest"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextRequest",
          "description": "Replaces all instances of specified text."
        },
        "updateParagraphStyle": {
          "description": "Updates the styling of paragraphs within a Shape or Table.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "createLine": {
          "description": "Creates a line.",
          "$ref": "CreateLineRequest"
        },
        "replaceImage": {
          "$ref": "ReplaceImageRequest",
          "description": "Replaces an existing image with a new image."
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a Table."
        },
        "updatePageProperties": {
          "description": "Updates the properties of a Page.",
          "$ref": "UpdatePagePropertiesRequest"
        },
        "updateTableCellProperties": {
          "description": "Updates the properties of a TableCell.",
          "$ref": "UpdateTableCellPropertiesRequest"
        },
        "updateTableColumnProperties": {
          "$ref": "UpdateTableColumnPropertiesRequest",
          "description": "Updates the properties of a Table column."
        },
        "ungroupObjects": {
          "description": "Ungroups objects, such as groups.",
          "$ref": "UngroupObjectsRequest"
        },
        "createSheetsChart": {
          "$ref": "CreateSheetsChartRequest",
          "description": "Creates an embedded Google Sheets chart."
        },
        "updateShapeProperties": {
          "$ref": "UpdateShapePropertiesRequest",
          "description": "Updates the properties of a Shape."
        },
        "updateLineCategory": {
          "$ref": "UpdateLineCategoryRequest",
          "description": "Updates the category of a line."
        },
        "updatePageElementTransform": {
          "$ref": "UpdatePageElementTransformRequest",
          "description": "Updates the transform of a page element."
        },
        "updateLineProperties": {
          "description": "Updates the properties of a Line.",
          "$ref": "UpdateLinePropertiesRequest"
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        }
      }
    },
    "CreateLineResponse": {
      "description": "The result of creating a line.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created line."
        }
      },
      "type": "object",
      "id": "CreateLineResponse"
    },
    "DeleteTableColumnRequest": {
      "id": "DeleteTableColumnRequest",
      "type": "object",
      "properties": {
        "tableObjectId": {
          "type": "string",
          "description": "The table to delete columns from."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which a column will be deleted. The column this cell spans will be deleted. If this is a merged cell, multiple columns will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "description": "Deletes a column from a table."
    },
    "CreateParagraphBulletsRequest": {
      "id": "CreateParagraphBulletsRequest",
      "type": "object",
      "description": "Creates bullets for all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "properties": {
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to apply the bullet presets to, based on TextElement indexes."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table."
        },
        "bulletPreset": {
          "enumDescriptions": [
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DIGIT` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DIGIT` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "type": "string",
          "enum": [
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DIGIT_ALPHA_ROMAN",
            "NUMBERED_DIGIT_ALPHA_ROMAN_PARENS",
            "NUMBERED_DIGIT_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT",
            "NUMBERED_ZERODIGIT_ALPHA_ROMAN"
          ],
          "description": "The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE` preset."
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to add bullets to.",
          "type": "string"
        }
      }
    },
    "LayoutReference": {
      "description": "Slide layout reference. This may reference either: - A predefined layout - One of the layouts in the presentation.",
      "id": "LayoutReference",
      "properties": {
        "layoutId": {
          "type": "string",
          "description": "Layout ID: the object ID of one of the layouts in the presentation."
        },
        "predefinedLayout": {
          "enumDescriptions": [
            "Unspecified layout.",
            "Blank layout, with no placeholders.",
            "Layout with a caption at the bottom.",
            "Layout with a title and a subtitle.",
            "Layout with a title and body.",
            "Layout with a title and two columns.",
            "Layout with only a title.",
            "Layout with a section title.",
            "Layout with a title and subtitle on one side and description on the other.",
            "Layout with one title and one body, arranged in a single column.",
            "Layout with a main point.",
            "Layout with a big number heading."
          ],
          "type": "string",
          "description": "Predefined layout.",
          "enum": [
            "PREDEFINED_LAYOUT_UNSPECIFIED",
            "BLANK",
            "CAPTION_ONLY",
            "TITLE",
            "TITLE_AND_BODY",
            "TITLE_AND_TWO_COLUMNS",
            "TITLE_ONLY",
            "SECTION_HEADER",
            "SECTION_TITLE_AND_DESCRIPTION",
            "ONE_COLUMN_TEXT",
            "MAIN_POINT",
            "BIG_NUMBER"
          ]
        }
      },
      "type": "object"
    },
    "StretchedPictureFill": {
      "id": "StretchedPictureFill",
      "type": "object",
      "description": "The stretched picture fill. The page or page element is filled entirely with the specified picture. The picture is stretched to fit its container.",
      "properties": {
        "size": {
          "description": "The original size of the picture fill. This field is read-only.",
          "$ref": "Size"
        },
        "contentUrl": {
          "type": "string",
          "description": "Reading the content_url: An URL to a picture with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the picture as the original requester. Access to the picture may be lost if the presentation's sharing settings change. Writing the content_url: The picture is fetched once at insertion time and a copy is stored for display inside the presentation. Pictures must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length."
        }
      }
    },
    "PageElement": {
      "type": "object",
      "properties": {
        "transform": {
          "description": "The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform.",
          "$ref": "AffineTransform"
        },
        "wordArt": {
          "$ref": "WordArt",
          "description": "A word art page element."
        },
        "description": {
          "description": "The description of the page element. Combined with title to display alt text. The field is not supported for Group elements.",
          "type": "string"
        },
        "video": {
          "$ref": "Video",
          "description": "A video page element."
        },
        "shape": {
          "description": "A generic shape.",
          "$ref": "Shape"
        },
        "line": {
          "description": "A line page element.",
          "$ref": "Line"
        },
        "title": {
          "type": "string",
          "description": "The title of the page element. Combined with description to display alt text. The field is not supported for Group elements."
        },
        "elementGroup": {
          "$ref": "Group",
          "description": "A collection of page elements joined as a single unit."
        },
        "table": {
          "description": "A table page element.",
          "$ref": "Table"
        },
        "objectId": {
          "description": "The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.",
          "type": "string"
        },
        "image": {
          "description": "An image page element.",
          "$ref": "Image"
        },
        "size": {
          "$ref": "Size",
          "description": "The size of the page element."
        },
        "sheetsChart": {
          "$ref": "SheetsChart",
          "description": "A linked chart embedded from Google Sheets. Unlinked charts are represented as images."
        }
      },
      "description": "A visual element rendered on a page.",
      "id": "PageElement"
    },
    "CreateImageResponse": {
      "description": "The result of creating an image.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created image.",
          "type": "string"
        }
      },
      "id": "CreateImageResponse",
      "type": "object"
    },
    "List": {
      "type": "object",
      "id": "List",
      "description": "A List describes the look and feel of bullets belonging to paragraphs associated with a list. A paragraph that is part of a list has an implicit reference to that list's ID.",
      "properties": {
        "nestingLevel": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NestingLevel"
          },
          "description": "A map of nesting levels to the properties of bullets at the associated level. A list has at most nine levels of nesting, so the possible values for the keys of this map are 0 through 8, inclusive."
        },
        "listId": {
          "description": "The ID of the list.",
          "type": "string"
        }
      }
    },
    "CreateTableResponse": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created table."
        }
      },
      "description": "The result of creating a table.",
      "id": "CreateTableResponse",
      "type": "object"
    },
    "WordArt": {
      "properties": {
        "renderedText": {
          "type": "string",
          "description": "The text rendered as word art."
        }
      },
      "description": "A PageElement kind representing word art.",
      "id": "WordArt",
      "type": "object"
    },
    "TextElement": {
      "type": "object",
      "properties": {
        "textRun": {
          "description": "A TextElement representing a run of text where all of the characters in the run have the same TextStyle. The `start_index` and `end_index` of TextRuns will always be fully contained in the index range of a single `paragraph_marker` TextElement. In other words, a TextRun will never span multiple paragraphs.",
          "$ref": "TextRun"
        },
        "paragraphMarker": {
          "$ref": "ParagraphMarker",
          "description": "A marker representing the beginning of a new paragraph. The `start_index` and `end_index` of this TextElement represent the range of the paragraph. Other TextElements with an index range contained inside this paragraph's range are considered to be part of this paragraph. The range of indices of two separate paragraphs will never overlap."
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "A TextElement representing a spot in the text that is dynamically replaced with content that can change over time."
        },
        "endIndex": {
          "description": "The zero-based end index of this text element, exclusive, in Unicode code units.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "description": "The zero-based start index of this text element, in Unicode code units.",
          "type": "integer"
        }
      },
      "description": "A TextElement describes the content of a range of indices in the text content of a Shape or TableCell.",
      "id": "TextElement"
    },
    "CreateSlideResponse": {
      "properties": {
        "objectId": {
          "description": "The object ID of the created slide.",
          "type": "string"
        }
      },
      "description": "The result of creating a slide.",
      "id": "CreateSlideResponse",
      "type": "object"
    },
    "UpdatePageElementsZOrderRequest": {
      "type": "object",
      "id": "UpdatePageElementsZOrderRequest",
      "properties": {
        "pageElementObjectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The object IDs of the page elements to update. All the page elements must be on the same page and must not be grouped."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified operation.",
            "Brings the page elements to the front of the page.",
            "Brings the page elements forward on the page by one element relative to the forwardmost one in the specified page elements.",
            "Sends the page elements backward on the page by one element relative to the furthest behind one in the specified page elements.",
            "Sends the page elements to the back of the page."
          ],
          "description": "The Z-order operation to apply on the page elements. When applying the operation on multiple page elements, the relative Z-orders within these page elements before the operation is maintained.",
          "enum": [
            "Z_ORDER_OPERATION_UNSPECIFIED",
            "BRING_TO_FRONT",
            "BRING_FORWARD",
            "SEND_BACKWARD",
            "SEND_TO_BACK"
          ]
        }
      },
      "description": "Updates the Z-order of page elements. Z-order is an ordering of the elements on the page from back to front. The page element in the front may cover the elements that are behind it."
    },
    "PageBackgroundFill": {
      "properties": {
        "stretchedPictureFill": {
          "description": "Stretched picture fill.",
          "$ref": "StretchedPictureFill"
        },
        "propertyState": {
          "description": "The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ]
        },
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid color fill."
        }
      },
      "type": "object",
      "id": "PageBackgroundFill",
      "description": "The page background fill."
    },
    "UpdateTextStyleRequest": {
      "id": "UpdateTextStyleRequest",
      "type": "object",
      "properties": {
        "style": {
          "description": "The style(s) to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes meant to mirror the behavior of the Slides editor. See the documentation of TextStyle for more information.",
          "$ref": "TextStyle"
        },
        "objectId": {
          "description": "The object ID of the shape or table with the text to be styled.",
          "type": "string"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "cellLocation": {
          "description": "The location of the cell in the table containing the text to style. If `object_id` refers to a table, `cell_location` must have a value. Otherwise, it must not.",
          "$ref": "TableCellLocation"
        },
        "textRange": {
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style.",
          "$ref": "Range"
        }
      },
      "description": "Update the styling of text in a Shape or Table."
    },
    "CreateSheetsChartRequest": {
      "description": "Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated."
        },
        "chartId": {
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "type": "integer"
        },
        "linkingMode": {
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be updated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will see a link to the spreadsheet."
          ],
          "description": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.",
          "type": "string",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ]
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the Google Sheets spreadsheet that contains the chart."
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the chart. When the aspect ratio of the provided size does not match the chart aspect ratio, the chart is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation."
        }
      },
      "id": "CreateSheetsChartRequest",
      "type": "object"
    },
    "LayoutProperties": {
      "id": "LayoutProperties",
      "type": "object",
      "description": "The properties of Page are only relevant for pages with page_type LAYOUT.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the layout."
        },
        "masterObjectId": {
          "type": "string",
          "description": "The object ID of the master that this layout is based on."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the layout."
        }
      }
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "description": "A PageElement kind representing a table.",
      "properties": {
        "tableColumns": {
          "description": "Properties of each column.",
          "items": {
            "$ref": "TableColumnProperties"
          },
          "type": "array"
        },
        "verticalBorderRows": {
          "description": "Properties of vertical cell borders. A table's vertical cell borders are represented as a grid. The grid has the same number of rows as the table and one more column than the number of columns in the table. For example, if the table is 3 x 3, its vertical borders will be represented as a grid with 3 rows and 4 columns.",
          "type": "array",
          "items": {
            "$ref": "TableBorderRow"
          }
        },
        "tableRows": {
          "items": {
            "$ref": "TableRow"
          },
          "description": "Properties and contents of each row. Cells that span multiple rows are contained in only one of these rows and have a row_span greater than 1.",
          "type": "array"
        },
        "columns": {
          "description": "Number of columns in the table.",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "Number of rows in the table."
        },
        "horizontalBorderRows": {
          "items": {
            "$ref": "TableBorderRow"
          },
          "type": "array",
          "description": "Properties of horizontal cell borders. A table's horizontal cell borders are represented as a grid. The grid has one more row than the number of rows in the table and the same number of columns as the table. For example, if the table is 3 x 3, its horizontal borders will be represented as a grid with 4 rows and 3 columns."
        }
      }
    },
    "ReplaceImageRequest": {
      "type": "object",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image.",
      "id": "ReplaceImageRequest",
      "properties": {
        "imageReplaceMethod": {
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "description": "The replacement method.",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as that of the original shape."
          ],
          "type": "string"
        },
        "url": {
          "description": "The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field.",
          "type": "string"
        },
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced."
        }
      }
    },
    "ReplaceAllShapesWithSheetsChartRequest": {
      "id": "ReplaceAllShapesWithSheetsChartRequest",
      "type": "object",
      "description": "Replaces all shapes that match the given criteria with the provided Google Sheets chart. The chart will be scaled and centered to fit within the bounds of the original shape. NOTE: Replacing shapes with a chart requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "properties": {
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the chart.",
          "type": "string"
        },
        "linkingMode": {
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be updated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will see a link to the spreadsheet."
          ],
          "type": "string",
          "description": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ]
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "The criteria that the shapes must match in order to be replaced. The request will replace all of the shapes that contain the given text."
        },
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet."
        }
      }
    },
    "TableRange": {
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with location = (0, 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]",
      "properties": {
        "columnSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The column span of the table range."
        },
        "location": {
          "description": "The starting location of the table range.",
          "$ref": "TableCellLocation"
        },
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The row span of the table range."
        }
      },
      "id": "TableRange",
      "type": "object"
    },
    "Image": {
      "properties": {
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of the image."
        },
        "sourceUrl": {
          "description": "The source URL is the URL used to insert the image. The source URL can be empty.",
          "type": "string"
        },
        "contentUrl": {
          "type": "string",
          "description": "An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change."
        }
      },
      "id": "Image",
      "description": "A PageElement kind representing an image.",
      "type": "object"
    },
    "ColorScheme": {
      "id": "ColorScheme",
      "description": "The palette of predefined colors for a page.",
      "properties": {
        "colors": {
          "items": {
            "$ref": "ThemeColorPair"
          },
          "type": "array",
          "description": "The ThemeColorType and corresponding concrete color pairs."
        }
      },
      "type": "object"
    },
    "ColorStop": {
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the gradient stop.",
          "$ref": "OpaqueColor"
        },
        "alpha": {
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque.",
          "format": "float",
          "type": "number"
        },
        "position": {
          "description": "The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A color and position in a gradient band.",
      "id": "ColorStop"
    },
    "RerouteLineRequest": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the line to reroute. Only a line with a category indicating it is a \"connector\" can be rerouted. The start and end connections of the line must be on different page elements.",
          "type": "string"
        }
      },
      "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.",
      "id": "RerouteLineRequest"
    },
    "UpdateSlidesPositionRequest": {
      "description": "Updates the position of slides in the presentation.",
      "type": "object",
      "properties": {
        "slideObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of the slides in the presentation that should be moved. The slides in this list must be in existing presentation order, without duplicates.",
          "type": "array"
        },
        "insertionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index where the slides should be inserted, based on the slide arrangement before the move takes place. Must be between zero and the number of slides in the presentation, inclusive."
        }
      },
      "id": "UpdateSlidesPositionRequest"
    },
    "ShapeProperties": {
      "type": "object",
      "id": "ShapeProperties",
      "properties": {
        "contentAlignment": {
          "description": "The alignment of the content in the shape. If unspecified, the alignment is inherited from a parent placeholder if it exists. If the shape has no parent, the default alignment matches the alignment for new shapes created in the Slides editor.",
          "type": "string",
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if it exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        },
        "shadow": {
          "$ref": "Shadow",
          "description": "The shadow properties of the shape. If unset, the shadow is inherited from a parent placeholder if it exists. If the shape has no parent, then the default shadow matches the defaults for new shapes created in the Slides editor. This property is read-only."
        },
        "outline": {
          "description": "The outline of the shape. If unset, the outline is inherited from a parent placeholder if it exists. If the shape has no parent, then the default outline depends on the shape type, matching the defaults for new shapes created in the Slides editor.",
          "$ref": "Outline"
        },
        "shapeBackgroundFill": {
          "$ref": "ShapeBackgroundFill",
          "description": "The background fill of the shape. If unset, the background fill is inherited from a parent placeholder if it exists. If the shape has no parent, then the default background fill depends on the shape type, matching the defaults for new shapes created in the Slides editor."
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the shape. If unset, there is no link. Links are not inherited from parent placeholders."
        }
      },
      "description": "The properties of a Shape. If the shape is a placeholder shape as determined by the placeholder field, then these properties may be inherited from a parent placeholder shape. Determining the rendered value of the property depends on the corresponding property_state field value."
    },
    "Shadow": {
      "description": "The shadow properties of a page element. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.",
      "properties": {
        "alpha": {
          "format": "float",
          "description": "The alpha of the shadow's color, from 0.0 to 1.0.",
          "type": "number"
        },
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "description": "The shadow property state. Updating the shadow on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no shadow on a page element, set this field to `NOT_RENDERED`. In this case, any other shadow fields set in the same request will be ignored.",
          "type": "string"
        },
        "alignment": {
          "description": "The alignment point of the shadow, that sets the origin for translate, scale and skew of the shadow. This property is read-only.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Top left.",
            "Top center.",
            "Top right.",
            "Left center.",
            "Center.",
            "Right center.",
            "Bottom left.",
            "Bottom center.",
            "Bottom right."
          ],
          "enum": [
            "RECTANGLE_POSITION_UNSPECIFIED",
            "TOP_LEFT",
            "TOP_CENTER",
            "TOP_RIGHT",
            "LEFT_CENTER",
            "CENTER",
            "RIGHT_CENTER",
            "BOTTOM_LEFT",
            "BOTTOM_CENTER",
            "BOTTOM_RIGHT"
          ]
        },
        "blurRadius": {
          "$ref": "Dimension",
          "description": "The radius of the shadow blur. The larger the radius, the more diffuse the shadow becomes."
        },
        "rotateWithShape": {
          "description": "Whether the shadow should rotate with the shape. This property is read-only.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "SHADOW_TYPE_UNSPECIFIED",
            "OUTER"
          ],
          "enumDescriptions": [
            "Unspecified shadow type.",
            "Outer shadow."
          ],
          "type": "string",
          "description": "The type of the shadow. This property is read-only."
        },
        "transform": {
          "$ref": "AffineTransform",
          "description": "Transform that encodes the translate, scale, and skew of the shadow, relative to the alignment position."
        },
        "color": {
          "$ref": "OpaqueColor",
          "description": "The shadow color value."
        }
      },
      "id": "Shadow",
      "type": "object"
    },
    "TextContent": {
      "type": "object",
      "properties": {
        "textElements": {
          "items": {
            "$ref": "TextElement"
          },
          "type": "array",
          "description": "The text contents broken down into its component parts, including styling information. This property is read-only."
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object",
          "description": "The bulleted lists contained in this text, keyed by list ID."
        }
      },
      "description": "The general text content. The text must reside in a compatible shape (e.g. text box or rectangle) or a table cell in a page.",
      "id": "TextContent"
    },
    "CreateTableRequest": {
      "description": "Creates a new table.",
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "columns": {
          "description": "Number of columns in the table.",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "Number of rows in the table."
        },
        "elementProperties": {
          "description": "The element properties for the table. The table will be created at the provided size, subject to a minimum size. If no size is provided, the table will be automatically sized. Table transforms must have a scale of 1 and no shear components. If no transform is provided, the table will be centered on the page.",
          "$ref": "PageElementProperties"
        }
      },
      "id": "CreateTableRequest",
      "type": "object"
    },
    "LayoutPlaceholderIdMapping": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID for the placeholder identified above that to be created onto a slide. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
        },
        "layoutPlaceholder": {
          "$ref": "Placeholder",
          "description": "The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a predefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder with index 0 and a BODY placeholder with index 0."
        },
        "layoutPlaceholderObjectId": {
          "type": "string",
          "description": "The object ID of the placeholder on a layout that will be applied to a slide."
        }
      },
      "id": "LayoutPlaceholderIdMapping",
      "description": "The user-specified ID mapping for a placeholder that will be created on a slide from a specified layout.",
      "type": "object"
    },
    "CreateShapeResponse": {
      "id": "CreateShapeResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created shape."
        }
      },
      "type": "object",
      "description": "The result of creating a shape."
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "description": "A hypertext link.",
      "properties": {
        "url": {
          "description": "If set, indicates this is a link to the external web page at this URL.",
          "type": "string"
        },
        "pageObjectId": {
          "description": "If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist.",
          "type": "string"
        },
        "relativeLink": {
          "description": "If set, indicates this is a link to a slide in this presentation, addressed by its position.",
          "enumDescriptions": [
            "An unspecified relative slide link.",
            "A link to the next slide.",
            "A link to the previous slide.",
            "A link to the first slide in the presentation.",
            "A link to the last slide in the presentation."
          ],
          "enum": [
            "RELATIVE_SLIDE_LINK_UNSPECIFIED",
            "NEXT_SLIDE",
            "PREVIOUS_SLIDE",
            "FIRST_SLIDE",
            "LAST_SLIDE"
          ],
          "type": "string"
        },
        "slideIndex": {
          "format": "int32",
          "type": "integer",
          "description": "If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index."
        }
      }
    },
    "RgbColor": {
      "description": "An RGB color.",
      "properties": {
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "red": {
          "type": "number",
          "description": "The red component of the color, from 0.0 to 1.0.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "RgbColor"
    },
    "ParagraphMarker": {
      "description": "A TextElement kind that represents the beginning of a new paragraph.",
      "properties": {
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "style": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph's style"
        }
      },
      "type": "object",
      "id": "ParagraphMarker"
    },
    "DeleteParagraphBulletsRequest": {
      "description": "Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "id": "DeleteParagraphBulletsRequest",
      "type": "object",
      "properties": {
        "cellLocation": {
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table.",
          "$ref": "TableCellLocation"
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to delete bullets from.",
          "type": "string"
        },
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to delete bullets from, based on TextElement indexes."
        }
      }
    },
    "AutoText": {
      "description": "A TextElement kind that represents auto text.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified autotext type.",
            "Type for autotext that represents the current slide number."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SLIDE_NUMBER"
          ],
          "description": "The type of this auto text."
        },
        "style": {
          "$ref": "TextStyle",
          "description": "The styling applied to this auto text."
        },
        "content": {
          "description": "The rendered content of this auto text, if available.",
          "type": "string"
        }
      },
      "id": "AutoText"
    },
    "UpdateTableCellPropertiesRequest": {
      "description": "Update the properties of a TableCell.",
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableCellProperties": {
          "description": "The table cell properties to update.",
          "$ref": "TableCellProperties"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background solid fill color, set `fields` to `\"tableCellBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table."
        }
      },
      "id": "UpdateTableCellPropertiesRequest",
      "type": "object"
    },
    "TableCell": {
      "id": "TableCell",
      "properties": {
        "text": {
          "description": "The text content of the cell.",
          "$ref": "TextContent"
        },
        "columnSpan": {
          "description": "Column span of the cell.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "description": "The location of the cell within the table.",
          "$ref": "TableCellLocation"
        },
        "tableCellProperties": {
          "description": "The properties of the table cell.",
          "$ref": "TableCellProperties"
        },
        "rowSpan": {
          "format": "int32",
          "description": "Row span of the cell.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Properties and contents of each table cell."
    },
    "UpdateLineCategoryRequest": {
      "description": "Updates the category of a line.",
      "type": "object",
      "id": "UpdateLineCategoryRequest",
      "properties": {
        "lineCategory": {
          "description": "The line category to update to. The exact line type is determined based on the category to update to and how it's routed to connect to other page elements.",
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the line the update is applied to. Only a line with a category indicating it is a \"connector\" can be updated. The line may be rerouted after updating its category."
        }
      }
    },
    "ReplaceAllShapesWithImageResponse": {
      "type": "object",
      "description": "The result of replacing shapes with an image.",
      "id": "ReplaceAllShapesWithImageResponse",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of shapes replaced with images."
        }
      }
    },
    "Outline": {
      "description": "The outline of a PageElement. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.",
      "properties": {
        "weight": {
          "description": "The thickness of the outline.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "description": "The dash style of the outline.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDashDot'."
          ]
        },
        "outlineFill": {
          "$ref": "OutlineFill",
          "description": "The fill of the outline."
        },
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "description": "The outline property state. Updating the outline on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no outline on a page element, set this field to `NOT_RENDERED`. In this case, any other outline fields set in the same request will be ignored.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "type": "string"
        }
      },
      "id": "Outline",
      "type": "object"
    },
    "ReplaceAllShapesWithSheetsChartResponse": {
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of shapes replaced with charts."
        }
      },
      "description": "The result of replacing shapes with a Google Sheets chart.",
      "id": "ReplaceAllShapesWithSheetsChartResponse",
      "type": "object"
    },
    "Group": {
      "properties": {
        "children": {
          "description": "The collection of elements in the group. The minimum size of a group is 2.",
          "type": "array",
          "items": {
            "$ref": "PageElement"
          }
        }
      },
      "id": "Group",
      "type": "object",
      "description": "A PageElement kind representing a joined collection of PageElements."
    },
    "PageProperties": {
      "properties": {
        "pageBackgroundFill": {
          "$ref": "PageBackgroundFill",
          "description": "The background fill of the page. If unset, the background fill is inherited from a parent page if it exists. If the page has no parent, then the background fill defaults to the corresponding fill in the Slides editor."
        },
        "colorScheme": {
          "description": "The color scheme of the page. If unset, the color scheme is inherited from a parent page. If the page has no parent, the color scheme uses a default Slides color scheme, matching the defaults in the Slides editor. Only the concrete colors of the first 12 ThemeColorTypes are editable. In addition, only the color scheme on `Master` pages can be updated. To update the field, a color scheme containing mappings from all the first 12 ThemeColorTypes to their concrete colors must be provided. Colors for the remaining ThemeColorTypes will be ignored.",
          "$ref": "ColorScheme"
        }
      },
      "id": "PageProperties",
      "description": "The properties of the Page. The page will inherit properties from the parent page. Depending on the page type the hierarchy is defined in either SlideProperties or LayoutProperties.",
      "type": "object"
    },
    "CreateVideoResponse": {
      "id": "CreateVideoResponse",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created video.",
          "type": "string"
        }
      },
      "description": "The result of creating a video."
    },
    "WeightedFontFamily": {
      "properties": {
        "weight": {
          "type": "integer",
          "description": "The rendered weight of the text. This field can have any value that is a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. Weights greater than or equal to `700` are considered bold, and weights less than `700`are not bold. The default value is `400` (\"normal\").",
          "format": "int32"
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        }
      },
      "id": "WeightedFontFamily",
      "type": "object",
      "description": "Represents a font family and weight used to style a TextRun."
    },
    "DuplicateObjectRequest": {
      "properties": {
        "objectId": {
          "description": "The ID of the object to duplicate.",
          "type": "string"
        },
        "objectIds": {
          "description": "The object being duplicated may contain other objects, for example when duplicating a slide or a group page element. This map defines how the IDs of duplicated objects are generated: the keys are the IDs of the original objects and its values are the IDs that will be assigned to the corresponding duplicate object. The ID of the source object's duplicate may be specified in this map as well, using the same value of the `object_id` field as a key and the newly desired ID as the value. All keys must correspond to existing IDs in the presentation. All values must be unique in the presentation and must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or greater than 50. If any IDs of source objects are omitted from the map, a new random ID will be assigned. If the map is empty or unset, all duplicate objects will receive a new random ID.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "DuplicateObjectRequest",
      "description": "Duplicates a slide or page element. When duplicating a slide, the duplicate slide will be created immediately following the specified slide. When duplicating a page element, the duplicate will be placed on the same page at the same position as the original.",
      "type": "object"
    },
    "TextStyle": {
      "description": "Represents the styling that can be applied to a TextRun. If this text is contained in a shape with a parent placeholder, then these text styles may be inherited from the parent. Which text styles are inherited depend on the nesting level of lists: * A text run in a paragraph that is not in a list will inherit its text style from the the newline character in the paragraph at the 0 nesting level of the list inside the parent placeholder. * A text run in a paragraph that is in a list will inherit its text style from the newline character in the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited text styles are represented as unset fields in this message. If text is contained in a shape without a parent placeholder, unsetting these fields will revert the style to a value matching the defaults in the Slides editor.",
      "id": "TextStyle",
      "type": "object",
      "properties": {
        "foregroundColor": {
          "description": "The color of the text itself. If set, the color is either opaque or transparent, depending on if the `opaque_color` field in it is set.",
          "$ref": "OptionalColor"
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`. Some fonts can affect the weight of the text. If an update request specifies values for both `font_family` and `bold`, the explicitly-set `bold` value is used.",
          "type": "string"
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either opaque or transparent, depending on if the `opaque_color` field in it is set."
        },
        "italic": {
          "type": "boolean",
          "description": "Whether or not the text is italicized."
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the text. If unset, there is no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be set to ThemeColorType.HYPERLINK and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request."
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font. When read, the `font_size` will specified in points."
        },
        "underline": {
          "type": "boolean",
          "description": "Whether or not the text is underlined."
        },
        "bold": {
          "type": "boolean",
          "description": "Whether or not the text is rendered as bold."
        },
        "baselineOffset": {
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ],
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. The `font_size` itself is not affected by changes in this field.",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "type": "string"
        },
        "strikethrough": {
          "type": "boolean",
          "description": "Whether or not the text is struck through."
        },
        "smallCaps": {
          "description": "Whether or not the text is in small capital letters.",
          "type": "boolean"
        },
        "weightedFontFamily": {
          "$ref": "WeightedFontFamily",
          "description": "The font family and rendered weight of the text. This field is an extension of `font_family` meant to support explicit font weights without breaking backwards compatibility. As such, when reading the style of a range of text, the value of `weighted_font_family#font_family` will always be equal to that of `font_family`. However, when writing, if both fields are included in the field mask (either explicitly or through the wildcard `\"*\"`), their values are reconciled as follows: * If `font_family` is set and `weighted_font_family` is not, the value of `font_family` is applied with weight `400` (\"normal\"). * If both fields are set, the value of `font_family` must match that of `weighted_font_family#font_family`. If so, the font family and weight of `weighted_font_family` is applied. Otherwise, a 400 bad request error is returned. * If `weighted_font_family` is set and `font_family` is not, the font family and weight of `weighted_font_family` is applied. * If neither field is set, the font family and weight of the text inherit from the parent. Note that these properties cannot inherit separately from each other. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned."
        }
      }
    },
    "CreateVideoRequest": {
      "description": "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.",
      "properties": {
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page."
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "id": {
          "description": "The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q.",
          "type": "string"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ],
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "type": "string",
          "description": "The video source."
        }
      },
      "id": "CreateVideoRequest",
      "type": "object"
    },
    "SheetsChartProperties": {
      "description": "The properties of the SheetsChart.",
      "properties": {
        "chartImageProperties": {
          "description": "The properties of the embedded chart image.",
          "$ref": "ImageProperties"
        }
      },
      "id": "SheetsChartProperties",
      "type": "object"
    },
    "InsertTableRowsRequest": {
      "id": "InsertTableRowsRequest",
      "description": "Inserts rows into a table.",
      "type": "object",
      "properties": {
        "tableObjectId": {
          "type": "string",
          "description": "The table to insert rows into."
        },
        "cellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        },
        "number": {
          "description": "The number of rows to be inserted. Maximum 20 per request.",
          "type": "integer",
          "format": "int32"
        },
        "insertBelow": {
          "type": "boolean",
          "description": "Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
        }
      }
    },
    "TableBorderRow": {
      "id": "TableBorderRow",
      "properties": {
        "tableBorderCells": {
          "type": "array",
          "items": {
            "$ref": "TableBorderCell"
          },
          "description": "Properties of each border cell. When a border's adjacent table cells are merged, it is not included in the response."
        }
      },
      "type": "object",
      "description": "Contents of each border row in a table."
    },
    "UnmergeTableCellsRequest": {
      "description": "Unmerges cells in a Table.",
      "id": "UnmergeTableCellsRequest",
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the upper-left (\"head\") cell of the resulting block of unmerged cells.",
          "$ref": "TableRange"
        }
      },
      "type": "object"
    },
    "Presentation": {
      "properties": {
        "presentationId": {
          "type": "string",
          "description": "The ID of the presentation."
        },
        "title": {
          "type": "string",
          "description": "The title of the presentation."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the presentation, as an IETF BCP 47 language tag."
        },
        "masters": {
          "items": {
            "$ref": "Page"
          },
          "type": "array",
          "description": "The slide masters in the presentation. A slide master contains all common page elements and the common properties for a set of layouts. They serve three purposes: - Placeholder shapes on a master contain the default text styles and shape properties of all placeholder shapes on pages that use that master. - The master page properties define the common page properties inherited by its layouts. - Any other shapes on the master slide appear on all slides using that master, regardless of their layout."
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of pages in the presentation."
        },
        "slides": {
          "items": {
            "$ref": "Page"
          },
          "description": "The slides in the presentation. A slide inherits properties from a slide layout.",
          "type": "array"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the presentation. Can be used in update requests to assert that the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated; however, a changed ID can also be due to internal factors such as ID format changes."
        },
        "layouts": {
          "description": "The layouts in the presentation. A layout is a template that determines how content is arranged and styled on the slides that inherit from that layout.",
          "type": "array",
          "items": {
            "$ref": "Page"
          }
        },
        "notesMaster": {
          "$ref": "Page",
          "description": "The notes master in the presentation. It serves three purposes: - Placeholder shapes on a notes master contain the default text styles and shape properties of all placeholder shapes on notes pages. Specifically, a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a `BODY` placeholder shape contains the speaker notes. - The notes master page properties define the common page properties inherited by all notes pages. - Any other shapes on the notes master appears on all notes pages. The notes master is read-only."
        }
      },
      "description": "A Google Slides presentation.",
      "type": "object",
      "id": "Presentation"
    },
    "CreateSlideRequest": {
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "insertionIndex": {
          "format": "int32",
          "description": "The optional zero-based index indicating where to insert the slides. If you don't specify an index, the new slide is created at the end.",
          "type": "integer"
        },
        "slideLayoutReference": {
          "description": "Layout reference of the slide to be inserted, based on the *current master*, which is one of the following: - The master of the previous slide index. - The master of the first slide, if the insertion_index is zero. - The first master in the presentation, if there are no slides. If the LayoutReference is not found in the current master, a 400 bad request error is returned. If you don't specify a layout reference, then the new slide will use the predefined layout `BLANK`.",
          "$ref": "LayoutReference"
        },
        "placeholderIdMappings": {
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholder(s) that will be created on the new slide from that specified layout. Can only be used when `slide_layout_reference` is specified.",
          "items": {
            "$ref": "LayoutPlaceholderIdMapping"
          },
          "type": "array"
        }
      },
      "description": "Creates a new slide.",
      "type": "object",
      "id": "CreateSlideRequest"
    },
    "UpdateTableColumnPropertiesRequest": {
      "properties": {
        "fields": {
          "type": "string",
[...]
