{
  "basePath": "",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "id": "apigee:v1",
  "revision": "20191115",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GoogleCloudApigeeV1CustomReport": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "organization": {
          "description": "Output only. Organization name",
          "type": "string"
        },
        "properties": {
          "description": "This field contains report properties such as ui metadata etc.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          }
        },
        "environment": {
          "description": "Output only. Environment name",
          "type": "string"
        },
        "metrics": {
          "description": "Required. This contains the list of metrics",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          }
        },
        "lastModifiedAt": {
          "description": "Output only. Modified time of this entity as milliseconds since epoch.\njson key: lastModifiedAt",
          "format": "int64",
          "type": "string"
        },
        "sortOrder": {
          "description": "Legacy field: not used much. Contains the sort order for the sort columns",
          "type": "string"
        },
        "filter": {
          "description": "This field contains the filter expression",
          "type": "string"
        },
        "dimensions": {
          "description": "This contains the list of dimensions for the report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeUnit": {
          "description": "This field contains the time unit of aggregation for the report",
          "type": "string"
        },
        "chartType": {
          "description": "This field contains the chart type for the report",
          "type": "string"
        },
        "sortByCols": {
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "topk": {
          "description": "Legacy field: not used. This field contains the top k parameter value\nfor restricting the result",
          "type": "string"
        },
        "fromTime": {
          "description": "Legacy field: not used. Contains the from time for the report",
          "type": "string"
        },
        "name": {
          "description": "Required. Unique identifier for the report\nT his is a legacy field used to encode custom report unique id",
          "type": "string"
        },
        "lastViewedAt": {
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "format": "int64",
          "type": "string"
        },
        "tags": {
          "description": "Legacy field: not used. This field contains a list of tags associated with\ncustom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "comments": {
          "description": "Legacy field: not used. This field contains a list of comments associated\nwith custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created\njson key: createdAt",
          "format": "int64",
          "type": "string"
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result\nretrieved"
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReport"
    },
    "GoogleCloudApigeeV1Deployment": {
      "type": "object",
      "properties": {
        "apiProxy": {
          "description": "API proxy.",
          "type": "string"
        },
        "environment": {
          "description": "Environment.",
          "type": "string"
        },
        "basePath": {
          "description": "Base path for the deployment.",
          "type": "string"
        },
        "pods": {
          "description": "Status reported by runtime pods. This information is displayed only for\nList APIs that specify an API proxy revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          }
        },
        "deployStartTime": {
          "description": "Time the API proxy was marked `deployed` in the control plane in\nmillisconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        }
      },
      "id": "GoogleCloudApigeeV1Deployment"
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "description": "TLS configuration information for\nVirtualHosts and\nTargetServers.",
      "type": "object",
      "properties": {
        "ignoreValidationErrors": {
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS\nfor target servers and target endpoints, and when configuring virtual hosts\nthat use 2-way TLS.\n\nWhen used with a target endpoint/target server, if the backend system uses\nSNI and returns a cert with a subject Distinguished Name (DN) that does not\nmatch the hostname, there is no way to ignore the error and the connection\nfails.",
          "type": "boolean"
        },
        "protocols": {
          "description": "The TLS versioins to be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "Required. Enables one-way TLS.",
          "type": "boolean"
        },
        "ciphers": {
          "description": "The SSL/TLS cipher suites to be used. Must be one of the cipher suite names\nlisted in:\nhttp://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName",
          "description": "The TLS Common Name of the certificate."
        },
        "keyStore": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID of the\nkeystore. References not yet supported."
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        },
        "keyAlias": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID for the\nalias containing the private key and cert."
        },
        "trustStore": {
          "description": "The resource ID of the truststore.\nReferences not yet supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfo"
    },
    "GoogleCloudApigeeV1Query": {
      "type": "object",
      "properties": {
        "timeRange": {
          "description": "Required. Time range for the query.\nCan use the following predefined strings to specify the time range:\n  `last60minutes`\n  `last24hours`\n  `last7days`\nOr, specify the timeRange as a structure describing start and end\ntimestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ.\n\nExample:\n  \"timeRange\": {\n    \"start\": \"2018-07-29T00:13:00Z\",\n    \"end\": \"2018-08-01T00:18:00Z\"\n  }",
          "type": "any"
        },
        "outputFormat": {
          "description": "Valid values include: `csv` or `json`. Defaults to `json`.\nNote: Configure the delimiter for CSV output using the csvDelimiter\nproperty.",
          "type": "string"
        },
        "limit": {
          "description": "Maximum number of rows that can be returned in the result.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data.\nFilter expressions can be combined using AND/OR terms and should be fully\nparenthesized to avoid ambiguity. See Analytics metrics, dimensions, and\nfilters reference\nhttps://docs.apigee.com/api-platform/analytics/analytics-reference\nfor more information on the fields available to filter\non. For more information on the tokens that you use to build filter\nexpressions, see Filter expression syntax.\nhttps://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "dimensions": {
          "description": "A list of dimensions\nhttps://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupByTimeUnit": {
          "type": "string",
          "description": "Time unit used to group the result set.\nValid values include: second, minute, hour, day, week, or month.\nIf a query includes groupByTimeUnit, then the result is an aggregation\nbased on the specified time unit and the resultant timestamp does not\ninclude milliseconds precision.\nIf a query omits groupByTimeUnit, then the resultant timestamp includes\nmilliseconds precision."
        },
        "metrics": {
          "description": "A list of Metrics",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          }
        },
        "csvDelimiter": {
          "description": "Delimiter used in the CSV file, if `outputFormat` is set\nto `csv`. Defaults to the `,` (comma) character.\nSupported delimiter characters include comma (`,`), pipe (`|`),\nand tab (`\\t`).",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Query"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "properties": {
        "createdAt": {
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds\nsince epoch.",
          "format": "int64",
          "type": "string"
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "description": "Metadata common to many entities in this API.",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "properties": {
        "resultTruncated": {
          "description": "This ia a boolean field to indicate if the results were truncated\nbased on the limit parameter.",
          "type": "boolean"
        },
        "TimeUnit": {
          "description": "This field contains a list of time unit values. Time unit refers to\nan epoch timestamp value.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "This field contains metadata information about the query executed"
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "This field contains a stats results"
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "description": "This message type encapsulates a response format for Js Optimized Scenario",
      "type": "object"
    },
    "GoogleCloudApigeeV1Schema": {
      "properties": {
        "metrics": {
          "description": "List of schema fields grouped as dimensions. These are fields\nthat can be used with an aggregate function such as sum, avg, min, max.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          }
        },
        "meta": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional metadata associated with schema. This is\na legacy field and usually consists of an empty array of strings."
        },
        "dimensions": {
          "description": "List of schema fiels grouped as dimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Schema",
      "description": "Response for Schema call",
      "type": "object"
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "type": "object",
      "properties": {
        "rows": {
          "description": "Rows of query result. Each row is a JSON object.\n\nExample: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "error": {
          "description": "Error message when there is a failure.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata contains information like metrics, dimenstions etc\nof the AsyncQuery",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "code": {
          "type": "integer",
          "description": "Error code when there is a failure.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQueryResultView"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's\nTargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "type": "object",
      "properties": {
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON\nname is `sSLInfo` for legacy/backwards compatibility reasons -- Edge\noriginally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "name": {
          "description": "Required. The resource id of this target server. Values must match the\nregular expression ",
          "type": "string"
        },
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value\nmust be between 1 and 65535, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid\nhostname as described by RFC-1123.",
          "type": "string"
        },
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers\nare used in load balancing configurations, and one or more TargetServers\nneed to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TargetServer"
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "id": "GoogleCloudApigeeV1ReferenceConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the reference. Must be of the form\n'organizations/{org}/environments/{env}/references/{ref}'.",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the referred resource. Only references to keystore resources\nare supported. Must be of the form\n'organizations/{org}/environments/{env}/keystores/{ks}'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "type": "object",
      "properties": {
        "issuers": {
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse"
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          },
          "description": "List of deployments."
        }
      },
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse"
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "type": "object",
      "properties": {
        "lastModifiedAt": {
          "description": "Output only. Modified time of this environment as milliseconds since epoch.\njson key: lastModifiedAt",
          "format": "int64",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "The id of the developer app."
        },
        "attributes": {
          "description": "A list of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "callbackUrl": {
          "description": "The callbackUrl is used by OAuth 2.0 authorization servers to communicate\nauthorization codes back to apps.",
          "type": "string"
        },
        "apiProducts": {
          "description": "A list of api products this app is associated with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "The status of the credential.",
          "type": "string"
        },
        "keyExpiresIn": {
          "description": "A setting, in milliseconds, for the lifetime of the consumer key that will\nbe generated for the developer app. The default value, -1, indicates an\ninfinite validity period. Once set, the expiration can't be updated.\njson key: keyExpiresIn",
          "format": "int64",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes to apply to the app. The specified scope names must already\nexist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the developer app.",
          "type": "string"
        },
        "credentials": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. A set of credentials for the app--credentials are app\nkey/secret pairs associated with API products"
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created\njson key: createdAt",
          "format": "int64",
          "type": "string"
        },
        "appFamily": {
          "type": "string",
          "description": "App family."
        },
        "developerId": {
          "description": "The id of the developer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperApp"
    },
    "GoogleCloudApigeeV1CertInfo": {
      "description": "An X.509 certificate as defined in RFC 5280.",
      "type": "object",
      "properties": {
        "expiryDate": {
          "description": "The X.509 validity / notAfter in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "subjectAlternativeNames": {
          "description": "The X.509 subject alternative names (SANs) extension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "basicConstraints": {
          "description": "The X.509 basic constraints extension.",
          "type": "string"
        },
        "validFrom": {
          "description": "The X.509 validity / notBefore in milliseconds since the\nepoch.",
          "format": "int64",
          "type": "string"
        },
        "sigAlgName": {
          "description": "The X.509 signatureAlgorithm.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The X.509 serial number.",
          "type": "string"
        },
        "subject": {
          "description": "The X.509 subject.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "The X.509 issuer."
        },
        "publicKey": {
          "description": "The public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "isValid": {
          "description": "\"Yes\" if certificate is valid, \"No\" if expired and \"Not yet\"\nif not yet valid.",
          "type": "string"
        },
        "version": {
          "description": "The X.509 version.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudApigeeV1CertInfo"
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "properties": {
        "value": {
          "description": "property values",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "property": {
          "description": "name of the property",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ReportProperty",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "type": "object",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudApigeeV1QueryMetadata",
          "description": "Contains information like metrics, dimenstions etc\nof the AsyncQuery"
        },
        "executionTime": {
          "description": "ExecutionTime is available only after the query is completed",
          "type": "string"
        },
        "resultFileSize": {
          "description": "ResultFileSize is available only after the query is completed",
          "type": "string"
        },
        "self": {
          "description": "Self link of the query\n\nExample:\n`/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult",
          "description": "Result is available only after the query is completed"
        },
        "updated": {
          "description": "Last updated timestamp for the query",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails"
        },
        "created": {
          "description": "Creation time of the query",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\",\n\"failed\""
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name to be displayed in the UI or developer portal to developers\nregistering for API access."
        },
        "lastModifiedAt": {
          "description": "Response only. Modified time of this environment as milliseconds since\nepoch.",
          "format": "int64",
          "type": "string"
        },
        "environments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of environment names to which the API product is\nbound. Requests to environments that are not listed are rejected.\n\nBy specifying one or more environments, you can bind the resources listed\nin the API product to a specific environment, preventing developers from\naccessing those resources through API proxies deployed in another\nenvironment.\n\nThis setting is used, for example, to prevent resources associated with\nAPI proxies in 'prod' from being accessed by API proxies deployed in\n'test'."
        },
        "apiResources": {
          "description": "Comma-separated list of API resources to be bundled in the API Product.\n\nBy default, the resource paths are mapped from the `proxy.pathsuffix`\nvariable.\n\nThe proxy path suffix is defined as the URI fragment following the\nProxyEndpoint base path.\nFor example, if the `apiResources` element is defined to be\n`/forecastrss` and the base path defined for the API proxy is\n`/weather`, then only requests to `/weather/forecastrss` are permitted by\nthe API product.\n\nYou can select a specific path, or you can select all subpaths with the\nfollowing wildcard:\n\n- /**: Indicates that all sub-URIs are included.\n- /* : Indicates that only URIs one level down are included.\n\nBy default, / supports the same resources as /** as well as the base path\ndefined by the API proxy.\n\nFor example, if the base path of the API proxy is `/v1/weatherapikey`,\nthen the API product supports requests to `/v1/weatherapikey` and to any\nsub-URIs, such as `/v1/weatherapikey/forecastrss`,\n`/v1/weatherapikey/region/CA`, and so on.\nFor more information, see:\n\n- \u003ca href=\"/api-platform/publish/create-api-products\"\u003eManage API\nproducts\u003c/a\u003e\n- \u003ca\nhref=\"/api-platform/monetization/create-transaction-recording-policy#spectrpcaapi\"\u003eManaging\na transaction recording policy using the API\u003c/a\u003e",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quotaInterval": {
          "description": "The time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "attributes": {
          "description": "Array of attributes that may be used to extend the default API product\nprofile with customer-specific metadata. You can specify a maximum of 18\nattributes.\n\nUse this property to specify the access level of the API product as either\n`public`, `private`, or `internal`.\n\nOnly products marked `public` are available to developers in the Apigee\ndeveloper portal. For example, you can set a product to `internal` while it\nis in development and then change access to `public` when it is ready to\nrelease on the portal.\n\nAPI products marked as `private` do not appear on the portal but\ncan be accessed by external developers.\n\nFor monetization, you can use the attributes field to:\n\n- \u003ca\nhref=\"/api-platform/monetization/create-transaction-recording-policy#spectrpsuccessapi\"\ntarget=\"_blank\"\u003eSpecify transaction success criteria\u003c/a\u003e\n- \u003ca\nhref=\"/api-platform/monetization/create-transaction-recording-policy#spectrpcaapi\"\ntarget=\"_blank\"\u003eSpecify custom attributes\u003c/a\u003e on which you base rate plan\ncharges\u003c/a\u003e.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "quotaTimeUnit": {
          "description": "The time unit defined for the `quotaInterval`. Valid values include minute,\nhour, day, or month.",
          "type": "string"
        },
        "description": {
          "description": "An overview of the API product. Include key information about the API\nproduct that is not captured by other fields.",
          "type": "string"
        },
        "quota": {
          "description": "The number of request messages permitted per app by this API product for\nthe specified `quotaInterval` and `quotaTimeUnit`.\n\nFor example, a `quota` of 50, for a `quotaInterval` of 12 and a\n`quotaTimeUnit` of hours means 50 requests are allowed every 12 hours.",
          "type": "string"
        },
        "proxies": {
          "description": "A comma-separated list of API proxy names to which this API product is\nbound. By specifying API proxies, you can associate resources in the API\nproduct with specific API proxies, preventing developers from accessing\nthose resources through other API proxies.\n\nEdge rejects requests to API proxies that are not listed.\n\n\u003caside class=\"note\"\u003e\u003cstrong\u003eNOTE:\u003c/strong\u003e The API proxy names must already\nexist in the specified environment as they will be validated upon\ncreation.\u003c/aside\u003e",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The internal name of the API Product. Characters you can use in the name\nare restricted to: A-Z0-9._\\-$ %.\n\n\u003caside class=\"note\"\u003e\u003cstrong\u003eNOTE:\u003c/strong\u003e The internal name cannot be\nedited when updating the API product.\u003c/aside\u003e",
          "type": "string"
        },
        "scopes": {
          "description": "A comma-separated list of OAuth scopes that are validated at runtime.\nEdge validates that the scopes in any access token presented match the\nscopes defined in the OAuth policy assoicated with the API product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvalType": {
          "description": "Specifies how API keys are approved to access the APIs defined by the API\nproduct.\n\nIf set to `manual`, the consumer key is generated and returned in \"pending\"\nstate. In this case, the API keys won't work until they have been\nexplicitly approved.\n\nIf set to `auto`, the consumer key is generated and returned in \"approved\"\nstate and can be used immediately.\n\n\u003caside class=\"note\"\u003e\u003cstrong\u003eNOTE:\u003c/strong\u003e Typically, `auto` is used\nto provide access to free or trial API products that provide limited quota\nor capabilities.\u003c/aside\u003e",
          "type": "string"
        },
        "createdAt": {
          "description": "Response only. Creation time of this environment as milliseconds since\nepoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProduct"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "description": "Get action. For example,\n\"Get\" : {\n  \"name\" : \"target.name\",\n  \"value\" : \"default\"\n}",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AccessGet"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "id": "GoogleCloudApigeeV1ResourceFile",
      "description": "Metadata about a resource file.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The id of the resource file."
        },
        "type": {
          "description": "The resource file type. Must be `js`, `jsc`, `java`,\n`properties`, `py`, `xsl`, `wsdl`, or `xsd`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfoCommonName": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The TLS Common Name string of the certificate.",
          "type": "string"
        },
        "wildcardMatch": {
          "description": "Indicates whether the cert should be matched against as a wildcard cert.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoCommonName"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "type": "object",
      "properties": {
        "qualifier": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "description": "This message encapsulates a list of custom report definitions"
    },
    "GoogleCloudApigeeV1Subscription": {
      "description": "The pubsub subscription of an environment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The full name of cloud Pub/Sub subcription. E.g. subscription\n\"projects/foo/subscription/bar\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Subscription"
    },
    "GoogleCloudApigeeV1DebugSession": {
      "type": "object",
      "properties": {
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        },
        "validity": {
          "description": "Optional. The length of time, in seconds, that this debug session is valid,\nstarting from when it's received in the control plane. Min = 1, Max = 15,\nDefault = 10.",
          "format": "int32",
          "type": "integer"
        },
        "tracesize": {
          "description": "Optional. The maximum number of bytes captured from the response payload.\nMin = 0, Max = 5120, Default = 5120.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. A conditional statement which is evaluated against the request\nmessage to determine if it should be traced. Syntax matches that of on\nAPI Proxy bundle flow Condition.",
          "type": "string"
        },
        "count": {
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default\n= 10.",
          "format": "int32",
          "type": "integer"
        },
        "timeout": {
          "description": "Optional. The time in seconds after which this DebugSession should end.\nThis value will override the value in query param, if both are provided.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DebugSession"
    },
    "GoogleCloudApigeeV1Attributes": {
      "type": "object",
      "properties": {
        "attribute": {
          "description": "A list of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Attributes"
    },
    "GoogleCloudApigeeV1Access": {
      "id": "GoogleCloudApigeeV1Access",
      "type": "object",
      "properties": {
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        },
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points\nof the message flow of the processed API request.\nThis is a list of supported point IDs, categorized to three major buckets.\nFor each category, debug points that we are currently supporting are listed\nbelow:\n- Flow status debug points:\n    StateChange\n    FlowInfo\n    Condition\n    Execution\n    DebugMask\n    Error\n- Flow control debug points:\n    FlowCallout\n    Paused\n    Resumed\n    FlowReturn\n    BreakFlow\n    Error\n- Runtime debug points:\n    ScriptExecutor\n    FlowCalloutStepDefinition\n    CustomTarget\n    StepDefinition\n    Oauth2ServicePoint\n    RaiseFault\n    NodeJS\n\nThe detail information of the given debug point is stored in a list of\nresults.",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        },
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Point"
    },
    "GoogleCloudApigeeV1Alias": {
      "description": "A reference to a certificate or key, certificate pair.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "description": "The type of alias.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "certsInfo": {
          "description": "The chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        },
        "alias": {
          "type": "string",
          "description": "The resource ID for this alias. Values must match regular expression\n`[^/]{1,255}`."
        }
      },
      "id": "GoogleCloudApigeeV1Alias"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1CommonNameConfig"
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count)\nwhere name is message_count and function is sum",
      "type": "object",
      "properties": {
        "function": {
          "description": "aggregate function",
          "type": "string"
        },
        "name": {
          "description": "name of the metric",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReportMetric"
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The target server revision name. Must be of the form\n'organizations/{org}/environments/{env}/targetservers/{ts_id}/revisions/{rev}'.",
          "type": "string"
        },
        "tlsInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig",
          "description": "TLS settings for the target."
        },
        "port": {
          "description": "Target port.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "Target host name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TargetServerConfig"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "type": "object",
      "properties": {
        "sessions": {
          "description": "Session info that includes debug session ID and the first transaction\ncreation timestamp.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Sesssion"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse"
    },
    "GoogleCloudApigeeV1AccessSet": {
      "id": "GoogleCloudApigeeV1AccessSet",
      "description": "Set action. For example,\n\"Set\" : {\n  \"name\" : \"target.name\",\n  \"success\" : true,\n  \"value\" : \"default\"\n}",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "description": "The metadata describing a shared flow",
      "type": "object",
      "properties": {
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the shared flow."
        },
        "revision": {
          "description": "A list of revisions of this shared flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The ID of the shared flow.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SharedFlow"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "description": "This message type encapsulates the environment wrapper\n    \"environments\": [\n     {\n         \"metrics\": [\n             {\n                 \"name\": \"sum(message_count)\",\n                 \"values\": [\n                     \"2.52056245E8\"\n                 ]\n             }\n         ],\n         \"name\": \"prod\"\n     }\n ]",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "In the final response, only one of the following fields will be present\nbased on the dimensions provided. If no dimensions are provided, then\nonly a top level metrics is provided. If dimensions are included, then\nthere will be a top level dimensions field under environments which will\ncontain metrics values and the dimension name.\nExample:\n     \"environments\": [\n      {\n         \"dimensions\": [\n             {\n                 \"metrics\": [\n                     {\n                         \"name\": \"sum(message_count)\",\n                         \"values\": [\n                             \"2.14049521E8\"\n                         ]\n                     }\n                 ],\n                 \"name\": \"nit_proxy\"\n             }\n           ],\n           \"name\": \"prod\"\n       }\n    ]\n\n    OR\n    \"environments\": [\n           {\n               \"metrics\": [\n                   {\n                       \"name\": \"sum(message_count)\",\n                        \"values\": [\n                           \"2.19026331E8\"\n                       ]\n                   }\n               ],\n               \"name\": \"prod\"\n           }\n       ]\nThis field contains the list of metric values",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        },
        "dimensions": {
          "description": "This field contains the list of metrics grouped under dimensions",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats"
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStatsNode"
    },
    "GoogleApiHttpBody": {
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response\nfor streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for\npayload formats that can't be represented as JSON, such as raw binary or\nan HTML page.\n\n\nThis message can be used both in streaming and non-streaming API methods in\nthe request as well as the response.\n\nIt can be used as a top-level request field, which is convenient if one\nwants to extract parameters from either the URL or HTTP template into the\nrequest fields and also want access to the raw HTTP body.\n\nExample:\n\n    message GetResourceRequest {\n      // A unique request id.\n      string request_id = 1;\n\n      // The raw HTTP body is bound to this field.\n      google.api.HttpBody http_body = 2;\n    }\n\n    service ResourceService {\n      rpc GetResource(GetResourceRequest) returns (google.api.HttpBody);\n      rpc UpdateResource(google.api.HttpBody) returns\n      (google.protobuf.Empty);\n    }\n\nExample with streaming methods:\n\n    service CaldavService {\n      rpc GetCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n      rpc UpdateCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n    }\n\nUse of this type only changes how the request and response bodies are\nhandled, all other features will continue to work unchanged."
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "type": "object",
      "properties": {
        "sharedFlows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudApigeeV1Environment": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. A human-readable display name for this Environment.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of this Environment.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "name": {
          "description": "Required. The resource id of this environment. Values must match the\nregular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Last modification time of this environment as milliseconds\nsince epoch.",
          "format": "int64",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Environment"
    },
    "GoogleCloudApigeeV1Properties": {
      "id": "GoogleCloudApigeeV1Properties",
      "description": "Message for compatibility with legacy Edge specification for Java Properties\nobject in JSON.",
      "type": "object",
      "properties": {
        "property": {
          "description": "List of all properties in the object",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Property": {
      "description": "A single property entry in the Properties message.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The property key"
        },
        "value": {
          "description": "The property value",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Property"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "description": "API proxy revision.",
      "type": "object",
      "properties": {
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "policies": {
          "description": "List of policy names included in the API proxy revision..",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "type": "string",
          "description": "Time that the API proxy revision was created in milliseconds since\nepoch.",
          "format": "int64"
        },
        "contextInfo": {
          "type": "string",
          "description": "Revision number, app name, and organization for the API proxy."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the API proxy."
        },
        "targetServers": {
          "description": "List of TargetServers referenced in any TargetEndpoint in the API\nproxy. Typically, you will see this element only when the API proxy was\ncreated using the Edge UI. This is a 'manifest' setting\ndesigned to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata describing the API proxy revision as a key-value map.",
          "type": "object"
        },
        "targetEndpoints": {
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy.\nTypically, this element is included only when the API proxy was created\nusing the Edge  UI. This is a 'manifest' setting designed to\nprovide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targets": {
          "description": "List of the targets included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spec": {
          "description": "OpenAPI Specification that is associated with the API proxy.\nThe value is set to a URL or to a path in the specification store.",
          "type": "string"
        },
        "resources": {
          "description": "List of the resources included in the API proxy revision formatted as\n\"{type}://{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "description": "Time that the API proxy revision was last modified in\nmilliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "sharedFlows": {
          "description": "List of the shared flows included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "Type. Set to `Application`. Maintained for compatibility with\nthe Apigee Edge API."
        },
        "resourceFiles": {
          "description": "List of resource files included in the API proxy revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "description": {
          "description": "Description of the API proxy revision.",
          "type": "string"
        },
        "proxyEndpoints": {
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy.\nTypically, this element is included only when the API proxy was created\nusing the Edge UI. This is a 'manifest' setting designed to\nprovide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "basepaths": {
          "description": "Base URL of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "configurationVersion": {
          "$ref": "GoogleCloudApigeeV1ConfigVersion",
          "description": "Version of the API proxy configuration schema to which the API proxy\nconforms. Currently, the only supported value is 4.0\n(`majorVersion.minorVersion`). This setting may be used in the future to\ntrack the evolution of the API proxy format."
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "teams": {
          "description": "List of the teams included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ApiProxyRevision"
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The response contains only a message field."
        }
      },
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse"
    },
    "GoogleCloudApigeeV1OrganizationProjectMapping": {
      "type": "object",
      "properties": {
        "projectIds": {
          "description": "List of Projects that the organization has resources in.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "description": "String indicating the Apigee organization.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1OrganizationProjectMapping"
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "properties": {
        "developer": {
          "description": "A list of developers",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListCompaniesResponse": {
      "type": "object",
      "properties": {
        "company": {
          "description": "A list of company.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Company"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListCompaniesResponse"
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "type": "object",
      "properties": {
        "identities": {
          "description": "Required. The list of identities to grant access to control plane\nresources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates from overwriting each other. It is strongly\nsuggested that systems make use of the `etag` in the read-modify-write\ncycle to avoid race conditions: An `etag` is returned in the response to\n`getSyncAuthorization`, and systems are expected to put that etag in the\nrequest to `setSyncAuthorization` to ensure that their change will be\napplied to the same version.\n\nIf no `etag` is provided in the call to `setSyncAuthorization`, then the\nexisting authorization is overwritten blindly.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SyncAuthorization"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "description": "More info about Metric:\nhttps://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name"
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name\nin query results.",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "One of `+`, `-`, `/`, `%`, `*`"
        },
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "function": {
          "description": "Aggregation function: avg, min, max, or sum",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetric"
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "description": "Message type for schema property",
      "type": "object",
      "properties": {
        "type": {
          "description": "Data type of the field.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation time of the field",
          "type": "string"
        },
        "custom": {
          "description": "Custom is a flag signifying if the field was provided as\npart of the standard dataset or a custom field created by the customer",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "id": "GoogleCloudApigeeV1ListApiProductsResponse",
      "type": "object",
      "properties": {
        "apiProduct": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          },
          "description": "Lists all API product names defined for an organization."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "description": "The metadata describing a shared flow revision.",
      "type": "object",
      "properties": {
        "resources": {
          "description": "A list of the resources included in this shared flow revision formatted as\n\"{type}://{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "description": "Time at which this shared flow revision was most recently modified, in\nmilliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "sharedFlows": {
          "description": "A list of the shared flow names included in this shared flow revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The string \"Application\"",
          "type": "string"
        },
        "resourceFiles": {
          "description": "The resource files included in this shared flow revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "configurationVersion": {
          "$ref": "GoogleCloudApigeeV1ConfigVersion",
          "description": "The version of the configuration schema to which this shared flow conforms.\nThe only supported value currently is majorVersion 4 and minorVersion 0.\nThis setting may be used in the future to enable evolution of the shared\nflow format."
        },
        "name": {
          "description": "The resource ID of the parent shared flow.",
          "type": "string"
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        },
        "policies": {
          "description": "A list of policy names included in this shared flow revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "description": "Time at which this shared flow revision was created, in milliseconds since\nepoch.",
          "format": "int64",
          "type": "string"
        },
        "contextInfo": {
          "description": "A textual description of the shared flow revision.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name of this shared flow.",
          "type": "string"
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A Key-Value map of metadata about this shared flow revision.",
          "type": "object"
        }
      },
      "id": "GoogleCloudApigeeV1SharedFlowRevision"
    },
    "GoogleCloudApigeeV1Certificate": {
      "type": "object",
      "properties": {
        "certInfo": {
          "description": "The chain of certificates under this name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Certificate"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "type": "object",
      "properties": {
        "Response": {
          "description": "This field wraps the stats response for Js Optimized Scenario\nwith a Response key.\nE.g.\n{\n \"Response\": {\n     \"TimeUnit\": [],\n     \"metaData\": {\n         \"errors\": [],\n         \"notices\": [\n             \"Source:Postgres\",\n             \"Table used: edge.api.aaxgroup001.agg_api\",\n             \"PG Host:ruappg08-ro.production.apigeeks.net\",\n             \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\"\n         ]\n     },\n     \"resultTruncated\": false,\n     \"stats\": {\n         \"data\": [\n             {\n                \"identifier\": {\n                    \"names\": [\n                        \"apiproxy\"\n                    ],\n                    \"values\": [\n                        \"sirjee\"\n                    ]\n                },\n                \"metric\": [\n                    {\n                        \"env\": \"prod\",\n                        \"name\": \"sum(message_count)\",\n                        \"values\": [\n                            36.0\n                        ]\n                    },\n                    {\n                        \"env\": \"prod\",\n                        \"name\": \"sum(is_error)\",\n                        \"values\": [\n                            36.0\n                        ]\n                    }\n                ]\n            }\n         ]\n     }\n }\n}",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse"
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStats"
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "type": "object",
      "properties": {
        "proxies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse"
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "type": "object",
      "properties": {
        "emailIds": {
          "description": "List of trusted issuer email ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "description": "String indicating the Apigee service name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name. Only environment-scoped resource files are supported.\nMust be of the form\n'organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}'.",
          "type": "string"
        },
        "location": {
          "description": "The location of the resource as a URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceConfig"
    },
    "GoogleCloudApigeeV1DataLocation": {
      "type": "object",
      "properties": {
        "url": {
          "description": "GCS signed url. Signed URLs provide a way to give time-limited\nread or write access to anyone in possession of the URL, regardless of\nwhether they have a Google account.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DataLocation"
    },
    "GoogleCloudApigeeV1Reference": {
      "description": "A Reference configuration. References must refer to a keystore\nthat also exists in the parent environment.",
      "type": "object",
      "properties": {
        "refers": {
          "description": "Required. The id of the resource to which this reference refers.\nMust be the id of a resource that exists in the parent environment and is\nof the given resource_type.",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource id of this reference. Values must match the\nregular expression [\\w\\s\\-.]+.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values\nare 'KeyStore' or 'TrustStore'.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Reference"
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "description": "The request for\nGetSyncAuthorization.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "type": "object",
      "properties": {
        "sharedFlowName": {
          "description": "The name of the shared flow to invoke. Must be of the form\n'organizations/{org}/sharedflows/{sharedflow}'.",
          "type": "string"
        },
        "continueOnError": {
          "description": "Should the flow abort after an error in the flow hook.\nShould default to true if unset.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the flow hook. Must be of the form\n'organizations/{org}/environments/{env}/flowhooks/{point}''.\nKnown points are PreProxyFlowHook, PostProxyFlowHook, PreTargetFlowHook,\nand PostTargetFlowHook",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1FlowHookConfig"
    },
    "GoogleCloudApigeeV1Stats": {
      "type": "object",
      "properties": {
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "This field contains the metadata information"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Stats",
      "description": "This message type encapsulates a stats response"
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "description": "List of resource files.",
      "type": "object",
      "properties": {
        "resourceFile": {
          "description": "List of resource files.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFiles"
    },
    "GoogleCloudApigeeV1ListCompanyAppsResponse": {
      "type": "object",
      "properties": {
        "app": {
          "description": "A list of apps for a company.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CompanyApp"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListCompanyAppsResponse"
    },
    "GoogleCloudApigeeV1CompanyAppKey": {
      "type": "object",
      "properties": {
        "scopes": {
          "description": "The scopes to apply to the app. The specified scope names must already\nexist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expiresAt": {
          "description": "Unix time when the app was created\njson key: expiresAt",
          "format": "int64",
          "type": "string"
        },
        "consumerSecret": {
          "description": "The secret key.",
          "type": "string"
        },
        "consumerKey": {
          "description": "The consumer key.",
          "type": "string"
        },
        "attributes": {
          "description": "A list of attributes tied to the credential.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "issuedAt": {
          "description": "Unix time when the app was issued\njson key: issuedAt",
          "format": "int64",
          "type": "string"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "A list of api products this credential can be used for."
        },
        "status": {
          "description": "The status of the credential.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CompanyAppKey"
    },
    "GoogleCloudApigeeV1DeploymentConfig": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the proxy bundle, as a uri.",
          "type": "string"
        },
        "basePath": {
          "description": "Base path where the application needs to be hosted. Default value is\nassumed to be \"/\".",
          "type": "string"
        },
        "name": {
          "description": "The name of the API or shared flow revision to be deployed. Must be of the\nform 'organizations/{org}/apis/{api}/revisions/{rev}' or\n'organizations/{org}/sharedflows/{sf}/revisions/{rev}'.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional key-value metadata about the deployment.",
          "type": "object"
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentConfig"
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "type": "object",
      "properties": {
        "organizations": {
          "description": "List of Apigee organizations, and the GCP projects associated with each\nApigee organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse"
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "description": "Metadata describing the API proxy",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this api proxy.",
          "type": "string"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the API proxy."
        },
        "revision": {
          "description": "List of revisons defined for the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ApiProxy"
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name. Must be of the\nform:\n'organizations/{org}/environments/{env}/keystores/{keystore}'."
        },
        "aliases": {
          "description": "Aliases in the keystore.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          }
        }
      },
      "id": "GoogleCloudApigeeV1KeystoreConfig"
    },
    "GoogleCloudApigeeV1Metric": {
      "description": "This message type encapsulates the metric data point\nExample\n{\n   \"name\": \"sum(message_count)\",\n   \"values\" : [ {\n                  \"timestamp\": 1549004400000,\n                  \"value\": \"39.0\"\n                },\n                {\n                  \"timestamp\" : 1548997200000,\n                  \"value\" : \"0.0\"\n                } ]\n}\nor\n{\n    \"name\": \"sum(message_count)\",\n    \"values\" : [\"39.0\"]\n}",
      "type": "object",
      "properties": {
        "name": {
          "description": "This field contains the metric name",
          "type": "string"
        },
        "values": {
          "description": "List of metric values\nPossible value format\n\"values\":[\"39.0\"] or\n\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Metric"
    },
    "GoogleCloudApigeeV1ApiProductRef": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the api product.",
          "type": "string"
        },
        "apiproduct": {
          "type": "string",
          "description": "The name of the api product."
        }
      },
      "id": "GoogleCloudApigeeV1ApiProductRef"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging."
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "type": "object",
      "properties": {
        "timeUnit": {
          "type": "string",
          "description": "Query GroupBy time unit."
        },
        "metrics": {
          "description": "Metrics of the AsyncQuery.\n\nExample: [\"name:message_count,func:sum,alias:sum_message_count\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "outputFormat": {
          "description": "Output format.",
          "type": "string"
        },
        "startTimestamp": {
          "description": "Start timestamp of the query range.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions of the AsyncQuery.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetadata"
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the alias revision included in the keystore. Must be of the\nform:\n'organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}'.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "type": "string"
        },
        "location": {
          "description": "The location of the alias file, e.g. a GCS URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AliasRevisionConfig"
    },
    "GoogleCloudApigeeV1Sesssion": {
      "type": "object",
      "properties": {
        "timestampMs": {
          "description": "The first transaction creation timestamp in millisecond, recoreded by UAP.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The debug session ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Sesssion"
    },
    "GoogleCloudApigeeV1PodStatus": {
      "type": "object",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "Version of the application running in the pod."
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values\ninclude:\n- `active`: Up to date.\n- `stale` : Recently out of date.\n\nPods that have not reported status in a\nlong time are excluded from the output.",
          "type": "string"
        },
        "statusCode": {
          "description": "Code associated with the deployment status.",
          "type": "string"
        },
        "deploymentTime": {
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "deploymentStatusTime": {
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "deploymentStatus": {
          "description": "Status of the deployment. Valid values\ninclude:\n- `deployed`: Successful.\n- `error` : Failed.\n- `pending` : Pod has not yet reported on the deployment.",
          "type": "string"
        },
        "podStatusTime": {
          "type": "string",
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1PodStatus"
    },
    "GoogleCloudApigeeV1Company": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the company",
          "type": "string"
        },
        "name": {
          "description": "Name of the company. Characters you can use in the name are restricted to:\nA-Z0-9._\\-$ %.",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Modified time as milliseconds since epoch.\njson key: lastModifiedAt",
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "description": "A list of attributes",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "createdAt": {
          "description": "Output only. Created time as milliseconds since epoch.\njson key: createdAt",
          "format": "int64",
          "type": "string"
        },
        "apps": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "company name displayed in the UI"
        },
        "organization": {
          "type": "string",
          "description": "the org that the company is created"
        }
      },
      "id": "GoogleCloudApigeeV1Company"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "properties": {
        "clientAuthEnabled": {
          "description": "Indicates if client auth is enabled for the target. Enables two-way TLS.",
          "type": "boolean"
        },
        "keyAlias": {
          "description": "The name of the Alias used for client side auth. It must be of the form:\norganizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}",
          "type": "string"
        },
        "trustStore": {
          "type": "string",
          "description": "The name of the Keystore or keystore reference containing trusted\ncertificates for the server. It must be of either the form\norganizations/{org}/environments/{env}/keystores/{keystore} or\norganizations/{org}/environments/{env}/references/{reference}."
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "If true, ignore TLS certificate validation errors."
        },
        "protocols": {
          "description": "Whitelist of supported TLS protocols.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "Enables one-way TLS.",
          "type": "boolean"
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "A pair of reference name and alias to use for client side auth."
        },
        "ciphers": {
          "description": "Whitelist of supported ciphers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1CommonNameConfig",
          "description": "Common name to validate the target against."
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "description": "Metadata describing an Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE"
          ]
        },
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudApigeeV1OperationMetadata"
    },
    "GoogleCloudApigeeV1CompanyApp": {
      "id": "GoogleCloudApigeeV1CompanyApp",
      "type": "object",
      "properties": {
        "callbackUrl": {
          "type": "string",
          "description": "The callbackUrl is used by OAuth 2.0 authorization servers to communicate\nauthorization codes back to apps."
        },
        "companyName": {
          "description": "The name of the company owns the app",
          "type": "string"
        },
        "apiProducts": {
          "description": "Any API Products the app consumes",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "The status of the credential.",
          "type": "string"
        },
        "keyExpiresIn": {
          "description": "A setting, in milliseconds, for the lifetime of the consumer key that will\nbe generated for the developer app. The default value, -1, indicates an\ninfinite validity period. Once set, the expiration can't be updated.\njson key: keyExpiresIn",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The resoure id of the app.\nJSON key: name",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes to apply to the app. The specified scope names must already\nexist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "credentials": {
          "description": "Output only. A set of credentials for the app\ncredentials are key/secret pairs",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          }
        },
        "createdAt": {
          "description": "Output only. created time of this environment as milliseconds since epoch.\nJSON key: createdAt",
          "format": "int64",
          "type": "string"
        },
        "appFamily": {
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Modified time as milliseconds since epoch.\njson key: lastModifiedAt",
          "format": "int64",
          "type": "string"
        },
        "appId": {
          "description": "The id of the app.",
          "type": "string"
        },
        "attributes": {
          "description": "A list of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      }
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "type": "object",
      "properties": {
        "reference": {
          "description": "The reference name. Must be of the form:\norganizations/{org}/environments/{env}/references/{ref}.",
          "type": "string"
        },
        "aliasId": {
          "type": "string",
          "description": "The alias id. Must exist in the keystore referred to by reference."
        }
      },
      "id": "GoogleCloudApigeeV1KeyAliasReference"
    },
    "GoogleTypeExpr": {
      "description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) \u003e 0\"",
      "type": "object",
      "properties": {
        "title": {
          "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "location": {
          "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudApigeeV1FlowHook": {
      "type": "object",
      "properties": {
        "flowHookPoint": {
          "description": "Where in the API call flow the flow hook is invoked. Must be one of\n`PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or\n`PostTargetFlowHook`.",
          "type": "string"
        },
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook\nthrows an exception. Set to `true` to continue execution. Set to\n`false` to stop execution if the flow hook throws an exception.Defaults\nto `true`.",
          "type": "boolean"
        },
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the flow hook."
        }
      },
      "id": "GoogleCloudApigeeV1FlowHook"
    },
    "GoogleCloudApigeeV1Keystore": {
      "id": "GoogleCloudApigeeV1Keystore",
      "description": "A datastore for Certificates and Aliases",
      "type": "object",
      "properties": {
        "aliases": {
          "description": "Output only. The aliases in this keystore.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The resource ID for this keystore.  Values must match the\nregular expression `[\\w[:space:]-.]{1,255}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Organization": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "description": "Timestamp when this Organization was created.",
          "format": "int64"
        },
        "customerName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "This Organization's properties."
        },
        "analyticsRegion": {
          "description": "Output only. The supported GCP Region where analytics data is stored.",
          "type": "string"
        },
        "environments": {
          "description": "List of environments within this Organization.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Timestamp when this Organization was last modified.",
          "format": "int64"
        },
        "name": {
          "description": "Unique name of this Organization.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRIAL",
            "PAID",
            "INTERNAL"
          ],
          "description": "The organization's Type."
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleCloudApigeeV1Credential": {
      "type": "object",
      "properties": {
        "expiresAt": {
          "description": "Unix time when the app was created\njson key: expiresAt",
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "description": "A list of attributes tied to the credential.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "consumerKey": {
          "description": "The consumer key.",
          "type": "string"
        },
        "consumerSecret": {
          "description": "The secret key.",
          "type": "string"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "description": "A list of api products this credential can be used for."
        },
        "issuedAt": {
          "description": "Unix time when the app was issued\njson key: issuedAt",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "The status of the credential.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes to apply to the app. The specified scope names must already\nexist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
[...]
