{
  "description": "Manages identity and access control for Google Cloud Platform resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls. ",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://iam.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "iam",
  "id": "iam:v1",
  "version": "v1",
  "revision": "20210226",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "Iam",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Identity and Access Management (IAM) API",
  "rootUrl": "https://iam.googleapis.com/",
  "documentationLink": "https://cloud.google.com/iam/",
  "schemas": {
    "ListWorkloadIdentityPoolsResponse": {
      "properties": {
        "workloadIdentityPools": {
          "description": "A list of pools.",
          "type": "array",
          "items": {
            "$ref": "WorkloadIdentityPool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListWorkloadIdentityPoolsResponse",
      "description": "Response message for ListWorkloadIdentityPools."
    },
    "PermissionDelta": {
      "type": "object",
      "id": "PermissionDelta",
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "properties": {
        "addedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "Added permissions.",
          "type": "array"
        },
        "removedPermissions": {
          "description": "Removed permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryTestablePermissionsRequest": {
      "id": "QueryTestablePermissionsRequest",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name to query from the list of testable permissions. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        },
        "pageSize": {
          "description": "Optional limit on the number of permissions to include in the response. The default is 100, and the maximum is 1,000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional pagination token returned in an earlier QueryTestablePermissionsRequest."
        }
      },
      "description": "A request to get permissions which can be tested on a resource."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Aws": {
      "properties": {
        "accountId": {
          "description": "Required. The AWS account ID.",
          "type": "string"
        }
      },
      "description": "Represents an Amazon Web Services identity provider.",
      "type": "object",
      "id": "Aws"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object"
    },
    "ListServiceAccountsResponse": {
      "id": "ListServiceAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The list of matching service accounts.",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set ListServiceAccountsRequest.page_token to this value."
        }
      },
      "type": "object",
      "description": "The service account list response."
    },
    "UndeleteServiceAccountRequest": {
      "properties": {},
      "description": "The service account undelete request.",
      "id": "UndeleteServiceAccountRequest",
      "type": "object"
    },
    "CreateServiceAccountRequest": {
      "description": "The service account create request.",
      "type": "object",
      "id": "CreateServiceAccountRequest",
      "properties": {
        "serviceAccount": {
          "description": "The ServiceAccount resource to create. Currently, only the following values are user assignable: `display_name` and `description`.",
          "$ref": "ServiceAccount"
        },
        "accountId": {
          "type": "string",
          "description": "Required. The account id that is used to generate the service account email address and a stable unique id. It is unique within a project, must be 6-30 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035."
        }
      }
    },
    "UndeleteServiceAccountResponse": {
      "type": "object",
      "id": "UndeleteServiceAccountResponse",
      "properties": {
        "restoredAccount": {
          "description": "Metadata for the restored service account.",
          "$ref": "ServiceAccount"
        }
      }
    },
    "DisableServiceAccountRequest": {
      "id": "DisableServiceAccountRequest",
      "properties": {},
      "type": "object",
      "description": "The service account disable request."
    },
    "QueryAuditableServicesResponse": {
      "description": "A response containing a list of auditable services for a resource.",
      "id": "QueryAuditableServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "AuditableService"
          },
          "description": "The auditable services for a resource."
        }
      }
    },
    "CreateRoleRequest": {
      "description": "The request to create a new role.",
      "type": "object",
      "id": "CreateRoleRequest",
      "properties": {
        "roleId": {
          "description": "The role ID to use for this role. A role ID may contain alphanumeric characters, underscores (`_`), and periods (`.`). It must contain a minimum of 3 characters and a maximum of 64 characters.",
          "type": "string"
        },
        "role": {
          "description": "The Role resource to create.",
          "$ref": "Role"
        }
      }
    },
    "ListServiceAccountKeysResponse": {
      "id": "ListServiceAccountKeysResponse",
      "description": "The service account keys list response.",
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "ServiceAccountKey"
          },
          "type": "array",
          "description": "The public keys for the service account."
        }
      }
    },
    "UndeleteWorkloadIdentityPoolRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for UndeleteWorkloadIdentityPool.",
      "id": "UndeleteWorkloadIdentityPoolRequest"
    },
    "QueryGrantableRolesResponse": {
      "description": "The grantable role query response.",
      "id": "QueryGrantableRolesResponse",
      "properties": {
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "description": "The list of matching roles.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryGrantableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryTestablePermissionsResponse": {
      "type": "object",
      "description": "The response containing permissions which can be tested on a resource.",
      "id": "QueryTestablePermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The Permissions testable on the requested resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set `QueryTestableRolesRequest.page_token` to this value."
        }
      }
    },
    "ServiceAccount": {
      "description": "An IAM service account. A service account is an account for an application or a virtual machine (VM) instance, not a person. You can use a service account to call Google APIs. To learn more, read the [overview of service accounts](https://cloud.google.com/iam/help/service-accounts/overview). When you create a service account, you specify the project ID that owns the service account, as well as a name that must be unique within the project. IAM uses these values to create an email address that identifies the service account.",
      "properties": {
        "email": {
          "description": "Output only. The email address of the service account.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. A user-specified, human-readable name for the service account. The maximum length is 100 UTF-8 bytes.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-specified, human-readable description of the service account. The maximum length is 256 UTF-8 bytes."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The ID of the project that owns the service account.",
          "readOnly": true
        },
        "disabled": {
          "readOnly": true,
          "description": "Output only. Whether the service account is disabled.",
          "type": "boolean"
        },
        "oauth2ClientId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The OAuth 2.0 client ID for the service account."
        },
        "uniqueId": {
          "description": "Output only. The unique, stable numeric ID for the service account. Each service account retains its unique ID even if you delete the service account. For example, if you delete a service account, then create a new service account with the same name, the new service account has a different unique ID than the deleted service account.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Deprecated. Do not use."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the service account. Use one of the following formats: * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS}` * `projects/{PROJECT_ID}/serviceAccounts/{UNIQUE_ID}` As an alternative, you can use the `-` wildcard character instead of the project ID: * `projects/-/serviceAccounts/{EMAIL_ADDRESS}` * `projects/-/serviceAccounts/{UNIQUE_ID}` When possible, avoid using the `-` wildcard character, because it can cause response messages to contain misleading error codes. For example, if you try to get the service account `projects/-/serviceAccounts/fake@example.com`, which does not exist, the response contains an HTTP `403 Forbidden` error instead of a `404 Not Found` error."
        }
      },
      "type": "object",
      "id": "ServiceAccount"
    },
    "CreateServiceAccountKeyRequest": {
      "description": "The service account key create request.",
      "type": "object",
      "properties": {
        "keyAlgorithm": {
          "type": "string",
          "description": "Which type of key and algorithm to use for the key. The default is currently a 2K RSA key. However this may change in the future.",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ]
        },
        "privateKeyType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ],
          "description": "The output format of the private key. The default value is `TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File format.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ]
        }
      },
      "id": "CreateServiceAccountKeyRequest"
    },
    "ListRolesResponse": {
      "id": "ListRolesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `ListRolesRequest.page_token` to this value.",
          "type": "string"
        },
        "roles": {
          "description": "The Roles defined on this resource.",
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        }
      },
      "description": "The response containing the roles defined under a resource."
    },
    "ServiceAccountKey": {
      "id": "ServiceAccountKey",
      "properties": {
        "validBeforeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The key can be used before this timestamp. For system-managed key pairs, this timestamp is the end time for the private key signing operation. The public key could still be used for verification for a few hours after this time."
        },
        "privateKeyData": {
          "type": "string",
          "description": "The private key data. Only provided in `CreateServiceAccountKey` responses. Make sure to keep the private key data secure because it allows for the assertion of the service account identity. When base64 decoded, the private key data can be used to authenticate with Google API client libraries and with gcloud auth activate-service-account.",
          "format": "byte"
        },
        "validAfterTime": {
          "description": "The key can be used after this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "privateKeyType": {
          "type": "string",
          "description": "The output format for the private key. Only provided in `CreateServiceAccountKey` responses, not in `GetServiceAccountKey` or `ListServiceAccountKey` responses. Google never exposes system-managed private keys, and never retains user-managed private keys.",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        },
        "keyAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "description": "Specifies the algorithm (and possibly key size) for the key."
        },
        "keyOrigin": {
          "enumDescriptions": [
            "Unspecified key origin.",
            "Key is provided by user.",
            "Key is provided by Google."
          ],
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "USER_PROVIDED",
            "GOOGLE_PROVIDED"
          ],
          "type": "string",
          "description": "The key origin."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the service account key in the following format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}`."
        },
        "publicKeyData": {
          "type": "string",
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses.",
          "format": "byte"
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. The presence of this in the message will immediately result in an error.",
            "User-managed keys (managed and rotated by the user).",
            "System-managed keys (managed and rotated by Google)."
          ],
          "type": "string",
          "description": "The key type.",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "USER_MANAGED",
            "SYSTEM_MANAGED"
          ]
        }
      },
      "type": "object",
      "description": "Represents a service account key. A service account has two sets of key-pairs: user-managed, and system-managed. User-managed key-pairs can be created and deleted by users. Users are responsible for rotating these keys periodically to ensure security of their service accounts. Users retain the private key of these key-pairs, and Google retains ONLY the public key. System-managed keys are automatically rotated by Google, and are used for signing for a maximum of two weeks. The rotation process is probabilistic, and usage of the new key will gradually ramp up and down over the key's lifetime. If you cache the public key set for a service account, we recommend that you update the cache every 15 minutes. User-managed keys can be added and removed at any time, so it is important to update the cache frequently. For Google-managed keys, Google will publish a key at least 6 hours before it is first used for signing and will keep publishing it for at least 6 hours after it was last used for signing. Public keys for all service accounts are also published at the OAuth2 Service Account API."
    },
    "SignJwtResponse": {
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT response.",
      "properties": {
        "signedJwt": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed JWT.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the JWT."
        }
      },
      "type": "object",
      "id": "SignJwtResponse"
    },
    "LintPolicyRequest": {
      "id": "LintPolicyRequest",
      "description": "The request to lint a Cloud IAM policy object.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "google.iam.v1.Binding.condition object to be linted.",
          "$ref": "Expr"
        },
        "fullResourceName": {
          "description": "The full resource name of the policy this lint request is about. The name follows the Google Cloud Platform (GCP) resource format. For example, a GCP project with ID `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`. The resource name is not used to read the policy instance from the Cloud IAM database. The candidate policy for lint has to be provided in the same request object.",
          "type": "string"
        }
      }
    },
    "AuditData": {
      "type": "object",
      "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "properties": {
        "policyDelta": {
          "$ref": "PolicyDelta",
          "description": "Policy delta between the original policy and the newly set policy."
        }
      },
      "id": "AuditData"
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "description": "A role in the Identity and Access Management API.",
      "properties": {
        "deleted": {
          "description": "The current deleted state of the role. This field is read only. It will be ignored in calls to CreateRole and UpdateRole.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A human-readable description for the role.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Used to perform a consistent read-modify-write."
        },
        "title": {
          "description": "Optional. A human-readable title for the role. Typically this is limited to 100 UTF-8 bytes.",
          "type": "string"
        },
        "stage": {
          "enumDescriptions": [
            "The user has indicated this role is currently in an Alpha phase. If this launch stage is selected, the `stage` field will not be included when requesting the definition for a given role.",
            "The user has indicated this role is currently in a Beta phase.",
            "The user has indicated this role is generally available.",
            "The user has indicated this role is being deprecated.",
            "This role is disabled and will not contribute permissions to any members it is granted to in policies.",
            "The user has indicated this role is currently in an EAP phase."
          ],
          "type": "string",
          "description": "The current launch stage of the role. If the `ALPHA` launch stage has been selected for a role, the `stage` field will not be included in the returned definition for the role.",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DISABLED",
            "EAP"
          ]
        },
        "includedPermissions": {
          "description": "The names of the permissions this role grants when bound in an IAM policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the role. When Role is used in CreateRole, the role name must not be set. When Role is used in output and other input such as UpdateRole, the role name is the complete path, e.g., roles/logging.viewer for predefined roles and organizations/{ORGANIZATION_ID}/roles/logging.viewer for custom roles."
        }
      }
    },
    "QueryGrantableRolesRequest": {
      "id": "QueryGrantableRolesRequest",
      "type": "object",
      "properties": {
        "view": {
          "enumDescriptions": [
            "Omits the `included_permissions` field. This is the default value.",
            "Returns all fields."
          ],
          "enum": [
            "BASIC",
            "FULL"
          ],
          "type": "string"
        },
        "pageToken": {
          "description": "Optional pagination token returned in an earlier QueryGrantableRolesResponse.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000."
        }
      },
      "description": "The grantable role query request."
    },
    "Permission": {
      "properties": {
        "onlyInPredefinedRoles": {
          "type": "boolean"
        },
        "apiDisabled": {
          "type": "boolean",
          "description": "The service API associated with the permission is not enabled."
        },
        "description": {
          "type": "string",
          "description": "A brief description of what this Permission is used for. This permission can ONLY be used in predefined roles."
        },
        "name": {
          "description": "The name of this Permission.",
          "type": "string"
        },
        "title": {
          "description": "The title of this Permission.",
          "type": "string"
        },
        "stage": {
          "type": "string",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "The current launch stage of the permission.",
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ]
        },
        "primaryPermission": {
          "type": "string",
          "description": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission."
        },
        "customRolesSupportLevel": {
          "description": "The current custom role support level.",
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ]
        }
      },
      "id": "Permission",
      "description": "A permission which can be included by a role.",
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "QueryAuditableServicesRequest": {
      "id": "QueryAuditableServicesRequest",
      "description": "A request to get the list of auditable services for a resource.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name to query from the list of auditable services. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "Oidc": {
      "type": "object",
      "description": "Represents an OpenId Connect 1.0 identity provider.",
      "id": "Oidc",
      "properties": {
        "allowedAudiences": {
          "description": "Acceptable values for the `aud` field (audience) in the OIDC token. Token exchange requests are rejected if the token audience does not match one of the configured values. Each audience may be at most 256 characters. A maximum of 10 audiences may be configured. If this list is empty, the OIDC token audience must be equal to the full canonical resource name of the WorkloadIdentityPoolProvider, with or without the HTTPS prefix. For example: ``` //iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ https://iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ ```",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "issuerUri": {
          "description": "Required. The OIDC issuer URL.",
          "type": "string"
        }
      }
    },
    "SignBlobRequest": {
      "id": "SignBlobRequest",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob request.",
      "properties": {
        "bytesToSign": {
          "type": "string",
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The bytes to sign.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "LintPolicyResponse": {
      "properties": {
        "lintResults": {
          "items": {
            "$ref": "LintResult"
          },
          "type": "array",
          "description": "List of lint results sorted by `severity` in descending order."
        }
      },
      "description": "The response of a lint operation. An empty response indicates the operation was able to fully execute and no lint issue was found.",
      "id": "LintPolicyResponse",
      "type": "object"
    },
    "SignJwtRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 1 hour in the future. If the JWT Claims Set does not contain an expiration time (`exp`) claim, this claim is added automatically, with a timestamp that is 1 hour in the future.",
          "type": "string"
        }
      },
      "id": "SignJwtRequest",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT request."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      },
      "id": "Policy"
    },
    "Binding": {
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "id": "Binding"
    },
    "LintResult": {
      "type": "object",
      "id": "LintResult",
      "properties": {
        "validationUnitName": {
          "type": "string",
          "description": "The validation unit name, for instance \"lintValidationUnits/ConditionComplexityCheck\"."
        },
        "level": {
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on an individual condition within a binding."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "CONDITION"
          ],
          "description": "The validation unit level.",
          "type": "string"
        },
        "locationOffset": {
          "description": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression.",
          "format": "int32",
          "type": "integer"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ],
          "description": "The validation unit severity.",
          "type": "string",
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an attempt is made to set the problematic policy without rectifying the critical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error. For example, suspicious constructs in the input object will not necessarily fail `setPolicy`, but there is a high likelihood that they won't behave as expected during policy evaluation in `checkPolicy`. This includes the following common scenarios: - Unsatisfiable condition: Expired timestamp in date/time condition. - Ineffective condition: Condition on a pair which is granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`/`WARNING`, but need special handling. For instance, messages about skipped validation units are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise `ERROR`/`WARNING`/`NOTICE`, like auto-correction recommendations on the input content. Note that current version of the linter does not utilize `INFO`.",
            "Deprecated severity level."
          ]
        },
        "debugMessage": {
          "type": "string",
          "description": "Human readable debug message associated with the issue."
        },
        "fieldName": {
          "description": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition.",
          "type": "string"
        }
      },
      "description": "Structured response of a single validation unit."
    },
    "PolicyDelta": {
      "description": "The difference delta between two policies.",
      "type": "object",
      "id": "PolicyDelta",
      "properties": {
        "bindingDeltas": {
          "description": "The delta for Bindings between two policies.",
          "type": "array",
          "items": {
            "$ref": "BindingDelta"
          }
        }
      }
    },
    "BindingDelta": {
      "id": "BindingDelta",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string",
          "description": "The action that was performed on a Binding. Required",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ]
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Cloud Platform resource. Follows the same format of Binding.members. Required"
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. Required",
          "type": "string"
        }
      },
      "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PatchServiceAccountRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount"
        }
      },
      "id": "PatchServiceAccountRequest",
      "type": "object",
      "description": "The request for PatchServiceAccount. You can patch only the `display_name` and `description` fields. You must use the `update_mask` field to specify which of these fields you want to patch. Only the fields specified in the request are guaranteed to be returned in the response. Other fields may be empty in the response."
    },
    "AuditableService": {
      "description": "Contains information about an auditable service.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Public name of the service. For example, the service name for Cloud IAM is 'iam.googleapis.com'."
        }
      },
      "id": "AuditableService"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "UploadServiceAccountKeyRequest": {
      "type": "object",
      "description": "The service account key upload request.",
      "id": "UploadServiceAccountKeyRequest",
      "properties": {
        "publicKeyData": {
          "format": "byte",
          "description": "A field that allows clients to upload their own public key. If set, use this public key data to create a service account key for given service account. Please note, the expected format for this field is X509_PEM.",
          "type": "string"
        }
      }
    },
    "WorkloadIdentityPool": {
      "type": "object",
      "description": "Represents a collection of external workload identities. You can define IAM policies to grant these identities access to Google Cloud resources.",
      "id": "WorkloadIdentityPool",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name for the pool. Cannot exceed 32 characters."
        },
        "description": {
          "type": "string",
          "description": "A description of the pool. Cannot exceed 256 characters."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the pool.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the pool.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active, and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkloadIdentityPool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ]
        },
        "disabled": {
          "description": "Whether the pool is disabled. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again.",
          "type": "boolean"
        }
      }
    },
    "UndeleteRoleRequest": {
      "type": "object",
      "id": "UndeleteRoleRequest",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "Used to perform a consistent read-modify-write."
        }
      },
      "description": "The request to undelete an existing role."
    },
    "EnableServiceAccountRequest": {
      "id": "EnableServiceAccountRequest",
      "type": "object",
      "description": "The service account enable request.",
      "properties": {}
    },
    "UndeleteWorkloadIdentityPoolProviderRequest": {
      "description": "Request message for UndeleteWorkloadIdentityPoolProvider.",
      "properties": {},
      "type": "object",
      "id": "UndeleteWorkloadIdentityPoolProviderRequest"
    },
    "AdminAuditData": {
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "PermissionDelta"
        }
      },
      "type": "object",
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "id": "AdminAuditData"
    },
    "SignBlobResponse": {
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob response.",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed blob."
        },
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the blob.",
          "type": "string"
        }
      },
      "id": "SignBlobResponse",
      "type": "object"
    },
    "WorkloadIdentityPoolProvider": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the provider is disabled. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access."
        },
        "oidc": {
          "description": "An OpenId Connect 1.0 identity provider.",
          "$ref": "Oidc"
        },
        "description": {
          "type": "string",
          "description": "A description for the provider. Cannot exceed 256 characters."
        },
        "attributeMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Maps attributes from authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. Cannot exceed 127 characters. * `google.groups`: Groups the external identity belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where `{custom_attribute}` is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters [a-z0-9_]. You can reference these attributes in IAM policies to define fine-grained access for a workload to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 8KB. For AWS providers, if no attribute mapping is defined, the following default mapping applies: ``` { \"google.subject\":\"assertion.arn\", \"attribute.aws_role\": \"assertion.arn.contains('assumed-role')\" \" ? assertion.arn.extract('{account_arn}assumed-role/')\" \" + 'assumed-role/'\" \" + assertion.arn.extract('assumed-role/{role_name}/')\" \" : assertion.arn\", } ``` If any custom attribute mappings are defined, they must include a mapping to the `google.subject` attribute. For OIDC providers, you must supply a custom mapping, which must include the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```"
        },
        "aws": {
          "$ref": "Aws",
          "description": "An Amazon Web Services identity provider."
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active, and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkloadIdentityPoolProvider. You cannot reuse the ID of a soft-deleted provider until it is permanently deleted."
          ],
          "description": "Output only. The state of the provider.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true
        },
        "attributeCondition": {
          "description": "[A Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credential are accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the provider."
        },
        "displayName": {
          "type": "string",
          "description": "A display name for the provider. Cannot exceed 32 characters."
        }
      },
      "type": "object",
      "description": "A configuration for an external identity provider.",
      "id": "WorkloadIdentityPoolProvider"
    },
    "ListWorkloadIdentityPoolProvidersResponse": {
      "description": "Response message for ListWorkloadIdentityPoolProviders.",
      "properties": {
        "workloadIdentityPoolProviders": {
          "items": {
            "$ref": "WorkloadIdentityPoolProvider"
          },
          "description": "A list of providers.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkloadIdentityPoolProvidersResponse",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "servicePath": "",
  "resources": {
    "permissions": {
      "methods": {
        "queryTestablePermissions": {
          "description": "Lists every permission that you can test on a resource. A permission is testable if you can check whether a member has that permission on the resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "QueryTestablePermissionsRequest"
          },
          "id": "iam.permissions.queryTestablePermissions",
          "path": "v1/permissions:queryTestablePermissions",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1/permissions:queryTestablePermissions",
          "response": {
            "$ref": "QueryTestablePermissionsResponse"
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "roles": {
          "methods": {
            "list": {
              "description": "Lists every predefined Role that IAM supports, or every custom role that is defined for an organization or project.",
              "flatPath": "v1/organizations/{organizationsId}/roles",
              "path": "v1/{+parent}/roles",
              "response": {
                "$ref": "ListRolesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "iam.organizations.roles.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional pagination token returned in an earlier ListRolesResponse.",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional view for the returned Role objects. When `FULL` is specified, the `includedPermissions` field is returned, which includes a list of all permissions in the role. The default value is `BASIC`, which does not return the `includedPermissions` field.",
                  "enumDescriptions": [
                    "Omits the `included_permissions` field. This is the default value.",
                    "Returns all fields."
                  ],
                  "enum": [
                    "BASIC",
                    "FULL"
                  ]
                },
                "pageSize": {
                  "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The `parent` parameter's value depends on the target resource for the request, namely [`roles`](/iam/reference/rest/v1/roles), [`projects`](/iam/reference/rest/v1/projects.roles), or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [`roles.list()`](/iam/reference/rest/v1/roles/list): An empty string. This method doesn't require a resource; it simply returns all [predefined roles](/iam/docs/understanding-roles#predefined_roles) in Cloud IAM. Example request URL: `https://iam.googleapis.com/v1/roles` * [`projects.roles.list()`](/iam/reference/rest/v1/projects.roles/list): `projects/{PROJECT_ID}`. This method lists all project-level [custom roles](/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [`organizations.roles.list()`](/iam/reference/rest/v1/organizations.roles/list): `organizations/{ORGANIZATION_ID}`. This method lists all organization-level [custom roles](/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "required": true,
                  "type": "string"
                },
                "showDeleted": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Include Roles that have been deleted."
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "The `parent` parameter's value depends on the target resource for the request, namely [`projects`](/iam/reference/rest/v1/projects.roles) or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [`projects.roles.create()`](/iam/reference/rest/v1/projects.roles/create): `projects/{PROJECT_ID}`. This method creates project-level [custom roles](/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [`organizations.roles.create()`](/iam/reference/rest/v1/organizations.roles/create): `organizations/{ORGANIZATION_ID}`. This method creates organization-level [custom roles](/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "iam.organizations.roles.create",
              "httpMethod": "POST",
              "description": "Creates a new custom Role.",
              "flatPath": "v1/organizations/{organizationsId}/roles",
              "path": "v1/{+parent}/roles",
              "request": {
                "$ref": "CreateRoleRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Role"
              }
            },
            "get": {
              "description": "Gets the definition of a Role.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "required": true,
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [`roles`](/iam/reference/rest/v1/roles), [`projects`](/iam/reference/rest/v1/projects.roles), or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [`roles.get()`](/iam/reference/rest/v1/roles/get): `roles/{ROLE_NAME}`. This method returns results from all [predefined roles](/iam/docs/understanding-roles#predefined_roles) in Cloud IAM. Example request URL: `https://iam.googleapis.com/v1/roles/{ROLE_NAME}` * [`projects.roles.get()`](/iam/reference/rest/v1/projects.roles/get): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [`organizations.roles.get()`](/iam/reference/rest/v1/organizations.roles/get): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Role"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "iam.organizations.roles.get"
            },
            "undelete": {
              "response": {
                "$ref": "Role"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "type": "string",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [`projects`](/iam/reference/rest/v1/projects.roles) or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [`projects.roles.undelete()`](/iam/reference/rest/v1/projects.roles/undelete): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method undeletes only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [`organizations.roles.undelete()`](/iam/reference/rest/v1/organizations.roles/undelete): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method undeletes only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "iam.organizations.roles.undelete",
              "parameterOrder": [
                "name"
              ],
              "description": "Undeletes a custom Role.",
              "request": {
                "$ref": "UndeleteRoleRequest"
              },
              "path": "v1/{+name}:undelete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}:undelete"
            },
            "delete": {
              "parameters": {
                "etag": {
                  "description": "Used to perform a consistent read-modify-write.",
                  "format": "byte",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [`projects`](/iam/reference/rest/v1/projects.roles) or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [`projects.roles.delete()`](/iam/reference/rest/v1/projects.roles/delete): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method deletes only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [`organizations.roles.delete()`](/iam/reference/rest/v1/organizations.roles/delete): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method deletes only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a custom Role. When you delete a custom role, the following changes occur immediately: * You cannot bind a member to the custom role in an IAM Policy. * Existing bindings to the custom role are not changed, but they have no effect. * By default, the response from ListRoles does not include the custom role. You have 7 days to undelete the custom role. After 7 days, the following changes occur: * The custom role is permanently deleted and cannot be recovered. * If an IAM policy contains a binding to the custom role, the binding is permanently removed.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "iam.organizations.roles.delete",
              "response": {
                "$ref": "Role"
              }
            },
            "patch": {
              "request": {
                "$ref": "Role"
              },
              "description": "Updates the definition of a custom Role.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [`projects`](/iam/reference/rest/v1/projects.roles) or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [`projects.roles.patch()`](/iam/reference/rest/v1/projects.roles/patch): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method updates only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [`organizations.roles.patch()`](/iam/reference/rest/v1/organizations.roles/patch): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method updates only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A mask describing which fields in the Role have changed."
                }
              },
              "httpMethod": "PATCH",
              "id": "iam.organizations.roles.patch",
              "response": {
                "$ref": "Role"
              },
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "roles": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "description": "The `parent` parameter's value depends on the target resource for the request, namely [`roles`](/iam/reference/rest/v1/roles), [`projects`](/iam/reference/rest/v1/projects.roles), or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [`roles.list()`](/iam/reference/rest/v1/roles/list): An empty string. This method doesn't require a resource; it simply returns all [predefined roles](/iam/docs/understanding-roles#predefined_roles) in Cloud IAM. Example request URL: `https://iam.googleapis.com/v1/roles` * [`projects.roles.list()`](/iam/reference/rest/v1/projects.roles/list): `projects/{PROJECT_ID}`. This method lists all project-level [custom roles](/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [`organizations.roles.list()`](/iam/reference/rest/v1/organizations.roles/list): `organizations/{ORGANIZATION_ID}`. This method lists all organization-level [custom roles](/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional pagination token returned in an earlier ListRolesResponse.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "Omits the `included_permissions` field. This is the default value.",
                "Returns all fields."
              ],
              "description": "Optional view for the returned Role objects. When `FULL` is specified, the `includedPermissions` field is returned, which includes a list of all permissions in the role. The default value is `BASIC`, which does not return the `includedPermissions` field.",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Include Roles that have been deleted."
            }
          },
          "response": {
            "$ref": "ListRolesResponse"
          },
          "path": "v1/roles",
          "id": "iam.roles.list",
          "description": "Lists every predefined Role that IAM supports, or every custom role that is defined for an organization or project.",
          "flatPath": "v1/roles",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "queryGrantableRoles": {
          "flatPath": "v1/roles:queryGrantableRoles",
          "path": "v1/roles:queryGrantableRoles",
          "description": "Lists roles that can be granted on a Google Cloud resource. A role is grantable if the IAM policy for the resource can contain bindings to the role.",
          "id": "iam.roles.queryGrantableRoles",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "QueryGrantableRolesRequest"
          },
          "response": {
            "$ref": "QueryGrantableRolesResponse"
          },
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "The `name` parameter's value depends on the target resource for the request, namely [`roles`](/iam/reference/rest/v1/roles), [`projects`](/iam/reference/rest/v1/projects.roles), or [`organizations`](/iam/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [`roles.get()`](/iam/reference/rest/v1/roles/get): `roles/{ROLE_NAME}`. This method returns results from all [predefined roles](/iam/docs/understanding-roles#predefined_roles) in Cloud IAM. Example request URL: `https://iam.googleapis.com/v1/roles/{ROLE_NAME}` * [`projects.roles.get()`](/iam/reference/rest/v1/projects.roles/get): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [`organizations.roles.get()`](/iam/reference/rest/v1/organizations.roles/get): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
              "type": "string",
              "pattern": "^roles/[^/]+$",
              "required": true
            }
          },
          "description": "Gets the definition of a Role.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Role"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "iam.roles.get",
          "flatPath": "v1/roles/{rolesId}",
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "get": {
                  "id": "iam.projects.locations.workloadIdentityPools.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "description": "Gets an individual WorkloadIdentityPool.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. The name of the pool to retrieve.",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListWorkloadIdentityPoolsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workloadIdentityPools",
                  "description": "Lists all non-deleted WorkloadIdentityPools in a project. If `show_deleted` is set to `true`, then deleted pools are also listed.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListWorkloadIdentityPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of pools to return. If unspecified, at most 50 pools are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource to list pools for.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Whether to return soft-deleted pools."
                    }
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.list"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "description": "Updates an existing WorkloadIdentityPool.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "description": "Output only. The resource name of the pool.",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "iam.projects.locations.workloadIdentityPools.patch",
                  "request": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "path": "v1/{+parent}/workloadIdentityPools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource to create the pool in. The only supported location is `global`."
                    },
                    "workloadIdentityPoolId": {
                      "type": "string",
                      "description": "Required. The ID to use for the pool, which becomes the final component of the resource name. This value should be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new WorkloadIdentityPool. You cannot reuse the name of a deleted pool until 30 days after deletion.",
                  "request": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.create",
                  "httpMethod": "POST"
                },
                "undelete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:undelete",
                  "path": "v1/{+name}:undelete",
                  "description": "Undeletes a WorkloadIdentityPool, as long as it was deleted fewer than 30 days ago.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the pool to undelete.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$"
                    }
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "UndeleteWorkloadIdentityPoolRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the pool to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a WorkloadIdentityPool. You cannot use a deleted pool to exchange external credentials for Google Cloud credentials. However, deletion does not revoke credentials that have already been issued. Credentials issued for a deleted pool do not grant access to resources. If the pool is undeleted, and the credentials are not expired, they grant access again. You can undelete a pool for 30 days. After 30 days, deletion is permanent. You cannot update deleted pools. However, you can view and list them.",
                  "httpMethod": "DELETE",
                  "id": "iam.projects.locations.workloadIdentityPools.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/operations/[^/]+$",
[...]
