{
  "basePath": "",
  "name": "containeranalysis",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "title": "Container Analysis API",
  "servicePath": "",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "canonicalName": "Container Analysis",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20200807",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "id": "containeranalysis:v1beta1",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "notes": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "id": "containeranalysis.projects.notes.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Deletes the specified note.",
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}"
            },
            "patch": {
              "id": "containeranalysis.projects.notes.patch",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "The fields to update.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "path": "v1beta1/{+name}",
              "description": "Updates the specified note.",
              "response": {
                "$ref": "Note"
              }
            },
            "create": {
              "description": "Creates a new note.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes",
              "path": "v1beta1/{+parent}/notes",
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.projects.notes.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "noteId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID to use for this note."
                }
              }
            },
            "setIamPolicy": {
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "path": "v1beta1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              }
            },
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/notes:batchCreate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates new notes in batch.",
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateNotesResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreateNotesRequest"
              },
              "id": "containeranalysis.projects.notes.batchCreate"
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "containeranalysis.projects.notes.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Note"
              },
              "description": "Gets the specified note."
            },
            "list": {
              "response": {
                "$ref": "ListNotesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists notes for the specified project.",
              "id": "containeranalysis.projects.notes.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes",
              "path": "v1beta1/{+parent}/notes"
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "path": "v1beta1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              }
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of occurrences to return in the list.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/notes/[^/]+$"
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}/occurrences",
                  "httpMethod": "GET",
                  "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  }
                }
              }
            }
          }
        },
        "occurrences": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
                }
              }
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "id": "containeranalysis.projects.occurrences.setIamPolicy"
            },
            "batchCreate": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences:batchCreate",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchCreateOccurrencesRequest"
              },
              "path": "v1beta1/{+parent}/occurrences:batchCreate",
              "id": "containeranalysis.projects.occurrences.batchCreate",
              "description": "Creates new occurrences in batch.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchCreateOccurrencesResponse"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/occurrences",
              "description": "Lists occurrences for the specified project.",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "description": "The filter expression.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                }
              },
              "id": "containeranalysis.projects.occurrences.list",
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "id": "containeranalysis.projects.occurrences.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences",
              "path": "v1beta1/{+parent}/occurrences",
              "response": {
                "$ref": "Occurrence"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Occurrence"
              },
              "description": "Creates a new occurrence."
            },
            "testIamPermissions": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.testIamPermissions"
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.patch",
              "description": "Updates the specified occurrence.",
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Occurrence"
              },
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getVulnerabilitySummary": {
              "response": {
                "$ref": "VulnerabilityOccurrencesSummary"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "parent": {
                  "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets a summary of the number and severity of occurrences.",
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "path": "v1beta1/{+parent}/occurrences:vulnerabilitySummary",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences:vulnerabilitySummary"
            },
            "getIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "httpMethod": "POST",
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getNotes": {
              "id": "containeranalysis.projects.occurrences.getNotes",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
              "path": "v1beta1/{+name}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.get",
              "description": "Gets the specified occurrence.",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "scanConfigs": {
          "methods": {
            "update": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the scan configuration in the form of `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                }
              },
              "path": "v1beta1/{+name}",
              "id": "containeranalysis.projects.scanConfigs.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the specified scan configuration.",
              "httpMethod": "PUT",
              "request": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/scanConfigs/{scanConfigsId}"
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/scanConfigs",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "description": "Lists scan configurations for the specified project.",
              "path": "v1beta1/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.scanConfigs.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project to list scan configurations for in the form of `projects/[PROJECT_ID]`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "filter": {
                  "location": "query",
                  "description": "Required. The filter expression.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The number of scan configs to return in the list.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "description": "Gets the specified scan configuration.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the scan configuration in the form of `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "containeranalysis.projects.scanConfigs.get"
            }
          }
        }
      }
    }
  },
  "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "Expr": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "BatchCreateOccurrencesRequest": {
      "properties": {
        "occurrences": {
          "description": "Required. The occurrences to create. Max allowed length is 1000.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      },
      "description": "Request to create occurrences in batch.",
      "id": "BatchCreateOccurrencesRequest",
      "type": "object"
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "properties": {
        "cvssScore": {
          "format": "float",
          "description": "The CVSS score for this vulnerability.",
          "type": "number"
        },
        "windowsDetails": {
          "type": "array",
          "description": "Windows details get their own format because the information format and model don't match a normal detail. Specifically Windows updates are done as patches, thus Windows vulnerabilities really are a missing package, rather than a package being at an incorrect version.",
          "items": {
            "$ref": "WindowsDetail"
          }
        },
        "details": {
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in.",
          "type": "array",
          "items": {
            "$ref": "Detail"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Note provider assigned impact of the vulnerability.",
          "type": "string"
        },
        "cvssV3": {
          "description": "The full description of the CVSSv3.",
          "$ref": "CVSSv3"
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker.",
          "format": "google-datetime"
        }
      },
      "description": "Vulnerability provides metadata about a security vulnerability in a Note.",
      "type": "object"
    },
    "FixableTotalByDigest": {
      "type": "object",
      "description": "Per resource and severity counts of fixable and total vulnerabilities.",
      "id": "FixableTotalByDigest",
      "properties": {
        "totalCount": {
          "format": "int64",
          "description": "The total number of vulnerabilities associated with this resource.",
          "type": "string"
        },
        "resource": {
          "$ref": "Resource",
          "description": "The affected resource."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "The severity for this count. SEVERITY_UNSPECIFIED indicates total across all severities.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "fixableCount": {
          "description": "The number of fixable vulnerabilities associated with this resource.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "VulnerabilityLocation": {
      "type": "object",
      "description": "The location of the vulnerability.",
      "properties": {
        "package": {
          "type": "string",
          "description": "Required. The package being described."
        },
        "version": {
          "$ref": "Version",
          "description": "Required. The version of the package being described."
        },
        "cpeUri": {
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar.",
          "type": "string"
        }
      },
      "id": "VulnerabilityLocation"
    },
    "SourceContext": {
      "type": "object",
      "id": "SourceContext",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "properties": {
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels with user defined metadata."
        },
        "cloudRepo": {
          "$ref": "CloudRepoSourceContext",
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo."
        },
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        }
      }
    },
    "Source": {
      "type": "object",
      "properties": {
        "additionalContexts": {
          "type": "array",
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "items": {
            "$ref": "SourceContext"
          }
        },
        "fileHashes": {
          "type": "object",
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "SourceContext"
        },
        "artifactStorageSourceUri": {
          "description": "If provided, the input binary artifacts for the build came from this location.",
          "type": "string"
        }
      },
      "id": "Source",
      "description": "Source describes the location of the source used for the build."
    },
    "Discovered": {
      "properties": {
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        },
        "lastAnalysisTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time continuous analysis was done for this resource. Deprecated, do not use."
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported"
          ],
          "description": "The status of discovery for the resource.",
          "type": "string"
        },
        "continuousAnalysis": {
          "type": "string",
          "description": "Whether the resource is continuously analyzed.",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ]
        }
      },
      "type": "object",
      "id": "Discovered",
      "description": "Provides information about the analysis status of a discovered resource."
    },
    "BatchCreateOccurrencesResponse": {
      "type": "object",
      "description": "Response for creating occurrences in batch.",
      "properties": {
        "occurrences": {
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The occurrences that were created."
        }
      },
      "id": "BatchCreateOccurrencesResponse"
    },
    "Hint": {
      "id": "Hint",
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify.",
      "properties": {
        "humanReadableName": {
          "description": "Required. The human readable name of this attestation authority, for example \"qa\".",
          "type": "string"
        }
      }
    },
    "SigningKey": {
      "id": "SigningKey",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "key_id is an identifier for the signing key."
        },
        "keyScheme": {
          "type": "string",
          "description": "This field contains the corresponding signature scheme. Eg: \"rsassa-pss-sha256\"."
        },
        "publicKeyValue": {
          "type": "string",
          "description": "This field contains the actual public key."
        },
        "keyType": {
          "description": "This field identifies the specific signing method. Eg: \"rsa\", \"ed25519\", and \"ecdsa\".",
          "type": "string"
        }
      },
      "description": "This defines the format used to record keys used in the software supply chain. An in-toto link is attested using one or more keys defined in the in-toto layout. An example of this is: { \"key_id\": \"776a00e29f3559e0141b3b096f696abc6cfb0c657ab40f441132b345b0...\", \"key_type\": \"rsa\", \"public_key_value\": \"-----BEGIN PUBLIC KEY-----\\nMIIBojANBgkqhkiG9w0B...\", \"key_scheme\": \"rsassa-pss-sha256\" } The format for in-toto's key definition can be found in section 4.2 of the in-toto specification.",
      "type": "object"
    },
    "GrafeasV1beta1BuildDetails": {
      "type": "object",
      "id": "GrafeasV1beta1BuildDetails",
      "description": "Details of a build occurrence.",
      "properties": {
        "provenance": {
          "description": "Required. The actual provenance for the build.",
          "$ref": "BuildProvenance"
        },
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ScanConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the scan configuration in the form of `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this scan config was last updated.",
          "format": "google-datetime"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the scan is enabled."
        },
        "description": {
          "type": "string",
          "description": "Output only. A human-readable description of what the scan configuration does."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this scan config was created.",
          "type": "string"
        }
      },
      "description": "A scan configuration specifies whether Cloud components in a project have a particular type of analysis being run. For example, it can configure whether vulnerability scanning is being done on Docker images or not.",
      "id": "ScanConfig"
    },
    "Installation": {
      "description": "This represents how a particular software package may be installed on a system.",
      "id": "Installation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the installed package.",
          "type": "string"
        },
        "location": {
          "items": {
            "$ref": "Location"
          },
          "description": "Required. All of the places within the filesystem versions of this package have been found.",
          "type": "array"
        }
      }
    },
    "Derived": {
      "id": "Derived",
      "type": "object",
      "description": "Derived describes the derived image portion (Occurrence) of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "properties": {
        "fingerprint": {
          "description": "Required. The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "items": {
            "$ref": "Layer"
          },
          "type": "array"
        },
        "baseResourceUrl": {
          "type": "string",
          "description": "Output only. This contains the base image URL for the derived image occurrence."
        },
        "distance": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of layers by which this image differs from the associated image basis."
        }
      }
    },
    "GrafeasV1beta1ImageDetails": {
      "properties": {
        "derivedImage": {
          "$ref": "Derived",
          "description": "Required. Immutable. The child image derived from the base image."
        }
      },
      "id": "GrafeasV1beta1ImageDetails",
      "description": "Details of an image occurrence.",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Distribution": {
      "description": "This represents a particular channel of distribution for a given package. E.g., Debian's jessie-backports dpkg mirror.",
      "type": "object",
      "id": "Distribution",
      "properties": {
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built.",
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        },
        "cpeUri": {
          "description": "Required. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        },
        "url": {
          "description": "The distribution channel-specific homepage for this package.",
          "type": "string"
        },
        "latestVersion": {
          "$ref": "Version",
          "description": "The latest available version of this package in this distribution channel."
        },
        "description": {
          "description": "The distribution channel-specific description of this package.",
          "type": "string"
        },
        "maintainer": {
          "description": "A freeform string denoting the maintainer of this package.",
          "type": "string"
        }
      }
    },
    "BuildSignature": {
      "description": "Message encapsulating the signature of the verified build.",
      "id": "BuildSignature",
      "type": "object",
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ],
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`.",
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ]
        },
        "keyId": {
          "description": "An ID for the key used to sign. This could be either an ID for the key stored in `public_key` (such as the ID or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "Required. Signature of the related `BuildProvenance`. In JSON, this is base-64 encoded."
        }
      }
    },
    "FileHashes": {
      "id": "FileHashes",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "type": "object",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "description": "Required. Collection of file hashes.",
          "type": "array"
        }
      }
    },
    "Version": {
      "description": "Version contains structured information about the version of a package.",
      "type": "object",
      "properties": {
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Required only when version kind is NORMAL. The main part of the version name."
        },
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "kind": {
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        }
      },
      "id": "Version"
    },
    "Signature": {
      "id": "Signature",
      "type": "object",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
        },
        "publicKeyId": {
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\"",
          "type": "string"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "environment": {
          "description": "This is a field that can be used to capture information about the environment. It is suggested for this field to contain information that details environment variables, filesystem information, and the present working directory. The recommended structure of this field is: \"environment\": { \"custom_values\": { \"variables\": \"\", \"filesystem\": \"\", \"workdir\": \"\", \"\": \"...\" } }",
          "$ref": "Environment"
        },
        "byproducts": {
          "description": "ByProducts are data generated as part of a software supply chain step, but are not the actual result of the step.",
          "$ref": "ByProducts"
        },
        "command": {
          "description": "This field contains the full command executed for the step. This can also be empty if links are generated for operations that aren't directly mapped to a specific command. Each term in the command is an independent string in the list. An example of a command in the in-toto metadata field is: \"command\": [\"git\", \"clone\", \"https://github.com/in-toto/demo-project.git\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "products": {
          "description": "Products are the supply chain artifacts generated as a result of the step. The structure is identical to that of materials.",
          "items": {
            "$ref": "GrafeasV1beta1IntotoArtifact"
          },
          "type": "array"
        },
        "materials": {
          "items": {
            "$ref": "GrafeasV1beta1IntotoArtifact"
          },
          "description": "Materials are the supply chain artifacts that go into the step and are used for the operation performed. The key of the map is the path of the artifact and the structure contains the recorded hash information. An example is: \"materials\": [ { \"resource_uri\": \"foo/bar\", \"hashes\": { \"sha256\": \"ebebf...\", : } } ]",
          "type": "array"
        }
      },
      "description": "This corresponds to an in-toto link.",
      "id": "Link"
    },
    "BatchCreateNotesResponse": {
      "id": "BatchCreateNotesResponse",
      "properties": {
        "notes": {
          "type": "array",
          "description": "The notes that were created.",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "description": "Response for creating notes in batch.",
      "type": "object"
    },
    "Detail": {
      "type": "object",
      "id": "Detail",
      "description": "Identifies all appearances of this vulnerability in the package for a specific distro/location. For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2",
      "properties": {
        "packageType": {
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc).",
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar."
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker.",
          "format": "google-datetime"
        },
        "isObsolete": {
          "description": "Whether this detail is obsolete. Occurrences are expected not to point to obsolete details.",
          "type": "boolean"
        },
        "severityName": {
          "description": "The severity (eg: distro assigned severity) for this vulnerability.",
          "type": "string"
        },
        "package": {
          "type": "string",
          "description": "Required. The name of the package where the vulnerability was found."
        },
        "minAffectedVersion": {
          "$ref": "Version",
          "description": "The min version of the package in which the vulnerability exists."
        },
        "fixedLocation": {
          "description": "The fix for this specific package version.",
          "$ref": "VulnerabilityLocation"
        },
        "maxAffectedVersion": {
          "description": "The max version of the package in which the vulnerability exists.",
          "$ref": "Version"
        },
        "description": {
          "description": "A vendor-specific description of this note.",
          "type": "string"
        }
      }
    },
    "Details": {
      "description": "Details of an attestation occurrence.",
      "id": "Details",
      "properties": {
        "attestation": {
          "description": "Required. Attestation for the resource.",
          "$ref": "Attestation"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "RelatedUrl": {
      "id": "RelatedUrl",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        },
        "label": {
          "description": "Label to describe usage of the URL.",
          "type": "string"
        }
      },
      "description": "Metadata for any related URL information."
    },
    "Authority": {
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `Authority` for \"QA\" and one for \"build\". This note is intended to act strictly as a grouping mechanism for the attached occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an occurrence to a given note. It also provides a single point of lookup to find all attached attestation occurrences, even if they don't all live in the same project.",
      "id": "Authority",
      "properties": {
        "hint": {
          "$ref": "Hint",
          "description": "Hint hints at the purpose of the attestation authority."
        }
      },
      "type": "object"
    },
    "GrafeasV1beta1VulnerabilityDetails": {
      "id": "GrafeasV1beta1VulnerabilityDetails",
      "description": "Details of a vulnerability Occurrence.",
      "type": "object",
      "properties": {
        "relatedUrls": {
          "type": "array",
          "description": "Output only. URLs related to this vulnerability.",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "severity": {
          "description": "Output only. The note provider assigned Severity of the vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string"
        },
        "cvssScore": {
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0-10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "shortDescription": {
          "description": "Output only. A one sentence description of this vulnerability.",
          "type": "string"
        },
        "packageIssue": {
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, and note provider assigned severity when distro has not yet assigned a severity for this vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)"
        }
      }
    },
    "Artifact": {
      "description": "Artifact describes a build product.",
      "id": "Artifact",
      "type": "object",
      "properties": {
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`.",
          "type": "string"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image."
        },
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        }
      }
    },
    "GrafeasV1beta1DiscoveryDetails": {
      "description": "Details of a discovery occurrence.",
      "properties": {
        "discovered": {
          "$ref": "Discovered",
          "description": "Required. Analysis status for the discovered resource."
        }
      },
      "type": "object",
      "id": "GrafeasV1beta1DiscoveryDetails"
    },
    "PgpSignedAttestation": {
      "type": "object",
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "id": "PgpSignedAttestation",
      "properties": {
        "contentType": {
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema)."
        },
        "pgpKeyId": {
          "type": "string",
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexidecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`."
        },
        "signature": {
          "type": "string",
          "description": "Required. The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload."
        }
      }
    },
    "Layer": {
      "id": "Layer",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object",
      "properties": {
        "directive": {
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ],
          "description": "Required. The recovered Dockerfile directive used to construct this layer.",
          "enumDescriptions": [
            "Default value for unsupported/missing directive.",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "type": "string"
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      }
    },
    "GenericSignedAttestation": {
      "id": "GenericSignedAttestation",
      "type": "object",
      "description": "An attestation wrapper that uses the Grafeas `Signature` message. This attestation must define the `serialized_payload` that the `signatures` verify and any metadata necessary to interpret that plaintext. The signatures should always be over the `serialized_payload` bytestring.",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "Signature"
          },
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "type": "array"
        },
        "serializedPayload": {
          "type": "string",
          "description": "The serialized payload that is verified by one or more `signatures`. The encoding and semantic meaning of this payload must match what is set in `content_type`.",
          "format": "byte"
        },
        "contentType": {
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted in `plaintext` is a JSON blob conforming to the linked schema."
          ]
        }
      }
    },
    "Basis": {
      "type": "object",
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url.",
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "Required. Immutable. The resource_url for the resource representing the basis of associated occurrence images."
        },
        "fingerprint": {
          "description": "Required. Immutable. The fingerprint of the base image.",
          "$ref": "Fingerprint"
        }
      },
      "id": "Basis"
    },
    "ListScanConfigsResponse": {
      "properties": {
        "scanConfigs": {
          "type": "array",
          "description": "The scan configurations requested.",
          "items": {
            "$ref": "ScanConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results."
        }
      },
      "type": "object",
      "description": "Response for listing scan configurations.",
      "id": "ListScanConfigsResponse"
    },
    "KnowledgeBase": {
      "id": "KnowledgeBase",
      "properties": {
        "url": {
          "description": "A link to the KB in the Windows update catalog - https://www.catalog.update.microsoft.com/",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The KB name (generally of the form KB[0-9]+ i.e. KB123456)."
        }
      },
      "type": "object"
    },
    "Deployment": {
      "id": "Deployment",
      "description": "The period during which some deployable was active in a runtime.",
      "type": "object",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        },
        "undeployTime": {
          "description": "End of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "type": "array"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "description": "Platform hosting this deployment.",
          "type": "string"
        }
      }
    },
    "CloudRepoSourceContext": {
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "id": "CloudRepoSourceContext",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "description": "Response for listing notes.",
      "properties": {
        "notes": {
          "description": "The notes requested.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "id": "ListNotesResponse",
      "type": "object"
    },
    "Command": {
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object",
      "id": "Command",
      "properties": {
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Command-line arguments used when executing this command."
        },
        "env": {
          "type": "array",
          "description": "Environment variables set before running this command.",
          "items": {
            "type": "string"
          }
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array"
        },
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this command."
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        }
      }
    },
    "GrafeasV1beta1IntotoArtifact": {
      "properties": {
        "resourceUri": {
          "type": "string"
        },
        "hashes": {
          "$ref": "ArtifactHashes"
        }
      },
      "id": "GrafeasV1beta1IntotoArtifact",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "Deployable": {
      "properties": {
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "description": "Required. Resource URI for the artifact being deployed.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "An artifact that can be deployed in some runtime.",
      "id": "Deployable"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "ProjectRepoId": {
      "properties": {
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        }
      },
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "id": "ProjectRepoId",
      "type": "object"
    },
    "BatchCreateNotesRequest": {
      "properties": {
        "notes": {
          "additionalProperties": {
            "$ref": "Note"
          },
          "type": "object",
          "description": "Required. The notes to create. Max allowed length is 1000."
        }
      },
      "id": "BatchCreateNotesRequest",
      "description": "Request to create notes in batch.",
      "type": "object"
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "id": "GerritSourceContext",
      "properties": {
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        }
      },
      "type": "object"
    },
    "CVSSv3": {
      "id": "CVSSv3",
      "properties": {
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "impactScore": {
          "format": "float",
          "type": "number"
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "float",
          "type": "number"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document"
    },
    "Hash": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed.",
          "enumDescriptions": [
            "Unknown.",
            "A SHA-256 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256"
          ]
        },
        "value": {
          "description": "Required. The hash value.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Hash",
      "description": "Container message for hash values.",
      "type": "object"
    },
    "GrafeasV1beta1IntotoSignature": {
      "type": "object",
      "description": "A signature object consists of the KeyID used and the signature itself.",
      "id": "GrafeasV1beta1IntotoSignature",
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "Build": {
      "id": "Build",
      "properties": {
        "builderVersion": {
          "type": "string",
          "description": "Required. Immutable. Version of the builder which produced this build."
        },
        "signature": {
          "description": "Signature of the build in occurrences pointing to this build note containing build details.",
          "$ref": "BuildSignature"
        }
      },
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in the build details occurrence.",
      "type": "object"
    },
    "Occurrence": {
      "description": "An instance of an analysis type that has been found on a resource.",
      "properties": {
        "resource": {
          "$ref": "Resource",
          "description": "Required. Immutable. The resource for which the occurrence applies."
        },
        "noteName": {
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "intoto": {
          "description": "Describes a specific in-toto link.",
          "$ref": "GrafeasV1beta1IntotoDetails"
        },
        "build": {
          "$ref": "GrafeasV1beta1BuildDetails",
          "description": "Describes a verifiable build."
        },
        "installation": {
          "$ref": "GrafeasV1beta1PackageDetails",
          "description": "Describes the installation of a package on the linked resource."
        },
        "attestation": {
          "description": "Describes an attestation of an artifact.",
          "$ref": "Details"
        },
        "derivedImage": {
          "$ref": "GrafeasV1beta1ImageDetails",
          "description": "Describes how this resource derives from the basis in the associated note."
        },
        "deployment": {
          "$ref": "GrafeasV1beta1DeploymentDetails",
          "description": "Describes the deployment of an artifact on a runtime."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this occurrence was created.",
          "format": "google-datetime"
        },
        "discovered": {
          "$ref": "GrafeasV1beta1DiscoveryDetails",
[...]
