{
  "title": "Google Civic Information API",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "version": "v2",
  "name": "civicinfo",
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://civicinfo.googleapis.com/",
  "protocol": "rest",
  "revision": "20200824",
  "documentationLink": "https://developers.google.com/civic-information/",
  "schemas": {
    "AdministrationRegion": {
      "description": "Describes information about a regional election administrative area.",
      "id": "AdministrationRegion",
      "properties": {
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "AdministrationRegion"
        },
        "electionAdministrationBody": {
          "$ref": "AdministrativeBody",
          "description": "The election administration body for this area."
        },
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "id": {
          "type": "string",
          "description": "An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page."
        }
      },
      "type": "object"
    },
    "ElectoralDistrict": {
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Describes the geographic scope of a contest.",
      "type": "object",
      "id": "ElectoralDistrict"
    },
    "Channel": {
      "description": "A social media or web channel for a candidate.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        },
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        }
      },
      "id": "Channel"
    },
    "DivisionSearchResult": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "aliases": {
          "type": "array",
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        }
      },
      "id": "DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query.",
      "type": "object"
    },
    "ElectionOfficial": {
      "properties": {
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        },
        "officePhoneNumber": {
          "type": "string",
          "description": "The office phone number of the election official."
        },
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        }
      },
      "description": "Information about individual election officials.",
      "id": "ElectionOfficial",
      "type": "object"
    },
    "VoterInfoResponse": {
      "id": "VoterInfoResponse",
      "properties": {
        "otherElections": {
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "items": {
            "$ref": "Election"
          },
          "type": "array"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "pollingLocations": {
          "items": {
            "$ref": "PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "SimpleAddressType"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "items": {
            "$ref": "Contest"
          },
          "type": "array"
        },
        "earlyVoteSites": {
          "items": {
            "$ref": "PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array"
        },
        "election": {
          "$ref": "Election",
          "description": "The election that was queried."
        },
        "state": {
          "items": {
            "$ref": "AdministrationRegion"
          },
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array"
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "PollingLocation"
          }
        },
        "precinctId": {
          "type": "string"
        },
        "kind": {
          "default": "civicinfo#voterInfoResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "type": "string"
        }
      },
      "description": "The result of a voter info lookup query.",
      "type": "object"
    },
    "PollingLocation": {
      "type": "object",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "id": "PollingLocation",
      "properties": {
        "id": {
          "description": "An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.",
          "type": "string"
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Only some locations -- generally, ballot drop boxes for vote-by-mail elections -- will have this set; for others, use a geocoding service like the Google Maps API to resolve the address to a geographic point."
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Only some locations -- generally, ballot drop boxes for vote-by-mail elections -- will have this set; for others, use a geocoding service like the Google Maps API to resolve the address to a geographic point.",
          "format": "double"
        },
        "startDate": {
          "type": "string",
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "SimpleAddressType"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array"
        }
      }
    },
    "Election": {
      "description": "Information about the election that was queried.",
      "properties": {
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of this election."
        },
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        }
      },
      "id": "Election",
      "type": "object"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Contains information about the data source for the element containing it.",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        }
      }
    },
    "Contest": {
      "id": "Contest",
      "description": "Information about a contest that appears on a voter's ballot.",
      "properties": {
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "roles": {
          "description": "The roles which this office fulfills.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer"
            ],
            "type": "string"
          }
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumTitle": {
          "type": "string",
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'."
        },
        "numberElected": {
          "type": "string",
          "format": "int64",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'."
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "ElectoralDistrict"
        },
        "referendumConStatement": {
          "type": "string",
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "referendumBallotResponses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "referendumPassageThreshold": {
          "type": "string",
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'."
        },
        "level": {
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array"
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        },
        "candidates": {
          "description": "The candidate choices for this contest.",
          "type": "array",
          "items": {
            "$ref": "Candidate"
          }
        },
        "primaryParty": {
          "type": "string",
          "description": "[DEPRECATED] If this is a partisan election, the name of the party it is for. This field as deprecated in favor of the array \"primaryParties\", as contests may contain more than one party."
        },
        "numberVotingFor": {
          "type": "string",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64"
        },
        "referendumEffectOfAbstain": {
          "type": "string",
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'."
        },
        "primaryParties": {
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.",
          "type": "string"
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "type": "string",
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GeographicDivision": {
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        },
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Describes a political geography.",
      "id": "GeographicDivision"
    },
    "RepresentativeInfoData": {
      "id": "RepresentativeInfoData",
      "properties": {
        "offices": {
          "type": "array",
          "items": {
            "$ref": "Office"
          },
          "description": "Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request."
        },
        "officials": {
          "description": "Officials holding the offices listed above. Will only be present if includeOffices was true in the request.",
          "items": {
            "$ref": "Official"
          },
          "type": "array"
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GeographicDivision"
          },
          "description": "A map of political geographic divisions that contain the requested address, keyed by the unique Open Civic Data identifier for this division."
        }
      },
      "type": "object"
    },
    "Office": {
      "properties": {
        "roles": {
          "description": "The roles which this office fulfills. Roles are not meant to be exhaustive, or to exactly specify the entire set of responsibilities of a given office, but are meant to be rough categories that are useful for general selection from or sorting of a list of offices.",
          "type": "array",
          "items": {
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "A list of sources for this office. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "name": {
          "description": "The human-readable name of the office.",
          "type": "string"
        },
        "officialIndices": {
          "description": "List of indices in the officials array of people who presently hold this office.",
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "type": "array"
        },
        "levels": {
          "description": "The levels of government of which this office is part. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array",
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "divisionId": {
          "type": "string",
          "description": "The OCD ID of the division with which this office is associated."
        }
      },
      "type": "object",
      "description": "Information about an Office held by one or more Officials.",
      "id": "Office"
    },
    "ElectionsQueryResponse": {
      "type": "object",
      "description": "The list of elections available for this version of the API.",
      "id": "ElectionsQueryResponse",
      "properties": {
        "kind": {
          "default": "civicinfo#electionsQueryResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "type": "string"
        },
        "elections": {
          "items": {
            "$ref": "Election"
          },
          "type": "array",
          "description": "A list of available elections"
        }
      }
    },
    "AdministrativeBody": {
      "type": "object",
      "properties": {
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "hoursOfOperation": {
          "type": "string",
          "description": "A description of the hours of operation for this administrative body."
        },
        "voter_services": {
          "type": "array",
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          }
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "type": "array",
          "items": {
            "$ref": "ElectionOfficial"
          }
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "SimpleAddressType"
        },
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "SimpleAddressType"
        },
        "electionRegistrationConfirmationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        }
      },
      "id": "AdministrativeBody",
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    },
    "Official": {
      "properties": {
        "phones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The official's public contact phone numbers."
        },
        "channels": {
          "description": "A list of known (social) media channels for this official.",
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "The official's public website URLs.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The official's name."
        },
        "emails": {
          "type": "array",
          "description": "The direct email addresses for the official.",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "SimpleAddressType"
          },
          "description": "Addresses at which to contact the official."
        },
        "party": {
          "description": "The full name of the party the official belongs to.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the official."
        }
      },
      "id": "Official",
      "description": "Information about a person holding an elected office.",
      "type": "object"
    },
    "DivisionSearchResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "default": "civicinfo#divisionSearchResponse",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "DivisionSearchResult"
          }
        }
      },
      "id": "DivisionSearchResponse",
      "description": "The result of a division search query."
    },
    "Candidate": {
      "type": "object",
      "id": "Candidate",
      "description": "Information about a candidate running for elected office.",
      "properties": {
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "Channel"
          },
          "description": "A list of known (social) media channels for this candidate.",
          "type": "array"
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the candidate."
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "phone": {
          "type": "string",
          "description": "The voice phone number for the candidate's campaign office."
        }
      }
    },
    "RepresentativeInfoResponse": {
      "properties": {
        "offices": {
          "description": "Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.",
          "type": "array",
          "items": {
            "$ref": "Office"
          }
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "SimpleAddressType"
        },
        "officials": {
          "type": "array",
          "description": "Officials holding the offices listed above. Will only be present if includeOffices was true in the request.",
          "items": {
            "$ref": "Official"
          }
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GeographicDivision"
          },
          "description": "A map of political geographic divisions that contain the requested address, keyed by the unique Open Civic Data identifier for this division."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#representativeInfoResponse\".",
          "default": "civicinfo#representativeInfoResponse",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RepresentativeInfoResponse",
      "description": "The result of a representative info lookup query."
    },
    "SimpleAddressType": {
      "description": "A simple representation of an address.",
      "properties": {
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "city": {
          "type": "string",
          "description": "The city or town for the address."
        },
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SimpleAddressType"
    }
  },
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "divisions": {
      "methods": {
        "search": {
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "path": "civicinfo/v2/divisions",
          "flatPath": "civicinfo/v2/divisions",
          "id": "civicinfo.divisions.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "DivisionSearchResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "parameters": {
            "address": {
              "type": "string",
              "description": "The registered address of the voter to look up.",
              "required": true,
              "location": "query"
            },
            "officialOnly": {
              "default": "false",
              "location": "query",
              "description": "If set to true, only data from official state sources will be returned.",
              "type": "boolean"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "electionId": {
              "format": "int64",
              "default": "0",
              "type": "string",
              "location": "query",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field."
            }
          },
          "parameterOrder": [
            "address"
          ],
          "httpMethod": "GET",
          "id": "civicinfo.elections.voterInfoQuery",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "flatPath": "civicinfo/v2/voterinfo",
          "response": {
            "$ref": "VoterInfoResponse"
          },
          "path": "civicinfo/v2/voterinfo"
        },
        "electionQuery": {
          "parameters": {},
          "path": "civicinfo/v2/elections",
          "response": {
            "$ref": "ElectionsQueryResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "List of available elections to query.",
          "id": "civicinfo.elections.electionQuery",
          "flatPath": "civicinfo/v2/elections"
        }
      }
    },
    "representatives": {
      "methods": {
        "representativeInfoByDivision": {
          "parameters": {
            "recursive": {
              "location": "query",
              "type": "boolean",
              "description": "If true, information about all divisions contained in the division requested will be included as well. For example, if querying ocd-division/country:us/district:dc, this would also return all DC's wards and ANCs."
            },
            "ocdId": {
              "description": "The Open Civic Data division identifier of the division to look up.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "roles": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "headOfState",
                "headOfGovernment",
                "deputyHeadOfGovernment",
                "governmentOfficer",
                "executiveCouncil",
                "legislatorUpperBody",
                "legislatorLowerBody",
                "highestCourtJudge",
                "judge",
                "schoolBoard",
                "specialPurposeOfficer"
              ],
              "location": "query",
              "description": "A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.",
              "repeated": true,
              "type": "string"
            },
            "levels": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "international",
                "country",
                "administrativeArea1",
                "regional",
                "administrativeArea2",
                "locality",
                "subLocality1",
                "subLocality2",
                "special"
              ],
              "repeated": true,
              "description": "A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.",
              "location": "query"
            }
          },
          "flatPath": "civicinfo/v2/representatives/{ocdId}",
          "path": "civicinfo/v2/representatives/{ocdId}",
          "id": "civicinfo.representatives.representativeInfoByDivision",
          "description": "Looks up representative information for a single geographic division.",
          "httpMethod": "GET",
          "response": {
            "$ref": "RepresentativeInfoData"
          },
          "parameterOrder": [
            "ocdId"
          ]
        },
        "representativeInfoByAddress": {
          "response": {
            "$ref": "RepresentativeInfoResponse"
          },
          "parameters": {
            "levels": {
              "location": "query",
              "description": "A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "international",
                "country",
                "administrativeArea1",
                "regional",
                "administrativeArea2",
                "locality",
                "subLocality1",
                "subLocality2",
                "special"
              ]
            },
            "roles": {
              "description": "A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "headOfState",
                "headOfGovernment",
                "deputyHeadOfGovernment",
                "governmentOfficer",
                "executiveCouncil",
                "legislatorUpperBody",
                "legislatorLowerBody",
                "highestCourtJudge",
                "judge",
                "schoolBoard",
                "specialPurposeOfficer"
              ],
              "location": "query",
              "type": "string"
            },
            "address": {
              "type": "string",
              "location": "query",
              "description": "The address to look up. May only be specified if the field ocdId is not given in the URL"
            },
            "includeOffices": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to return information about offices and officials. If false, only the top-level district information will be returned.",
              "location": "query"
            }
          },
          "description": "Looks up political geography and representative information for a single address.",
          "id": "civicinfo.representatives.representativeInfoByAddress",
          "path": "civicinfo/v2/representatives",
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/representatives",
          "parameterOrder": []
        }
      }
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Civic Info",
  "id": "civicinfo:v2",
  "kind": "discovery#restDescription",
  "servicePath": ""
}
