{
  "title": "BigQuery API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "routines": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Routine ID of the routine to delete"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.delete",
          "description": "Deletes the routine specified by routineId from the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the new routine"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the new routine"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "id": "bigquery.routines.insert",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Creates a new routine in the dataset.",
          "request": {
            "$ref": "Routine"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Routine"
          }
        },
        "get": {
          "description": "Gets the specified routine resource by routine ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "response": {
            "$ref": "Routine"
          },
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the requested routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "routineId": {
              "description": "Required. Routine ID of the requested routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the\nresponse. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested routine",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of\nresults",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer"
            },
            "readMask": {
              "description": "If set, then only the Routine fields in the field mask, as well as\nproject_id, dataset_id and routine_id, are returned in the response.\nIf unset, then the following Routine fields are returned:\netag, project_id, dataset_id, routine_id, routine_type, creation_time,\nlast_modified_time, and language.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the routines to list"
            },
            "projectId": {
              "description": "Required. Project ID of the routines to list",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned.\nThe current supported form is either \"routine_type:\u003cRoutineType\u003e\" or\n\"routineType:\u003cRoutineType\u003e\", where \u003cRoutineType\u003e is a RoutineType enum.\nExample: \"routineType:SCALAR_FUNCTION\"."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.list",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset\nrole."
        },
        "update": {
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "location": "path",
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.update",
          "request": {
            "$ref": "Routine"
          },
          "description": "Updates information in an existing routine. The update method replaces the\nentire Routine resource."
        }
      }
    },
    "datasets": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "bigquery.datasets.delete",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "list": {
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "response": {
            "$ref": "DatasetList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return",
              "format": "uint32"
            },
            "projectId": {
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "all": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            }
          }
        },
        "insert": {
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the new dataset",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.insert",
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Dataset"
          }
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.get",
          "description": "Returns the dataset specified by datasetID.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested dataset",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.patch",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics."
        },
        "update": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "models": {
      "methods": {
        "get": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.get",
          "description": "Gets the specified model resource by model ID.",
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested model."
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested model."
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the requested model."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "description": "Lists all models in the specified dataset. Requires the READER dataset\nrole.",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call to request the next page of\nresults",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the models to list."
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to patch.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.patch",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "request": {
            "$ref": "Model"
          },
          "description": "Patch specific fields in the specified model."
        },
        "delete": {
          "description": "Deletes the model specified by modelId from the dataset.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to delete."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        }
      }
    },
    "jobs": {
      "methods": {
        "getQueryResults": {
          "description": "Retrieves the results of a query job.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "timeoutMs": {
              "type": "integer",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.getQueryResults",
          "path": "projects/{projectId}/queries/{jobId}"
        },
        "cancel": {
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the job to cancel"
            }
          }
        },
        "insert": {
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.insert",
          "request": {
            "$ref": "Job"
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          }
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the requested job"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get"
        },
        "query": {
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/queries",
          "id": "bigquery.jobs.query",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          }
        },
        "list": {
          "response": {
            "$ref": "JobList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projection": {
              "description": "Restrict information returned to a set of selected fields",
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ]
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the jobs to list"
            },
            "minCreationTime": {
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64",
              "type": "string"
            },
            "parentJobId": {
              "type": "string",
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            },
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxCreationTime": {
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "stateFilter": {
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query",
              "description": "Filter for job state",
              "enum": [
                "done",
                "pending",
                "running"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property."
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "path": "projects",
          "id": "bigquery.projects.list",
          "description": "Lists all projects to which you have been granted any project role."
        },
        "getServiceAccount": {
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "id": "bigquery.projects.getServiceAccount",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS."
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested table",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the requested table",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get"
        },
        "patch": {
          "id": "bigquery.tables.patch",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.update"
        },
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "path": "{+resource}:testIamPermissions",
          "id": "bigquery.tables.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a `NOT_FOUND` error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning."
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the table to delete"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to delete"
            },
            "datasetId": {
              "description": "Dataset ID of the table to delete",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the tables to list"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the tables to list",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.list",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "response": {
            "$ref": "TableList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET"
        },
        "setIamPolicy": {
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.\n\nCan return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "id": "bigquery.tables.setIamPolicy"
        },
        "getIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "id": "bigquery.tables.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field."
            }
          }
        },
        "insert": {
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the new table",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.insert",
          "request": {
            "$ref": "Table"
          },
          "description": "Creates a new, empty table in the dataset.",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "TableDataList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to read",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "type": "string",
              "location": "query"
            }
          },
          "id": "bigquery.tabledata.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role."
        },
        "insertAll": {
          "parameters": {
            "tableId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Table ID of the destination table."
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the destination table."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "schemas": {
    "Clustering": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Repeated] One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. When you cluster a table using multiple columns, the order of columns you specify is important. The order of the specified columns determines the sort order of the data."
        }
      },
      "id": "Clustering"
    },
    "BqmlTrainingRun": {
      "type": "object",
      "properties": {
        "state": {
          "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user.",
          "type": "string"
        },
        "iterationResults": {
          "description": "[Output-only, Beta] List of each iteration results.",
          "type": "array",
          "items": {
            "$ref": "BqmlIterationResult"
          }
        },
        "startTime": {
          "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch.",
          "format": "date-time",
          "type": "string"
        },
        "trainingOptions": {
          "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run.",
          "type": "object",
          "properties": {
            "minRelProgress": {
              "type": "number",
              "format": "double"
            },
            "l2Reg": {
              "format": "double",
              "type": "number"
            },
            "learnRateStrategy": {
              "type": "string"
            },
            "warmStart": {
              "type": "boolean"
            },
            "lineSearchInitLearnRate": {
              "format": "double",
              "type": "number"
            },
            "earlyStop": {
              "type": "boolean"
            },
            "l1Reg": {
              "type": "number",
              "format": "double"
            },
            "maxIteration": {
              "format": "int64",
              "type": "string"
            },
            "learnRate": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "id": "BqmlTrainingRun"
    },
    "BigtableColumnFamily": {
      "type": "object",
      "properties": {
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "type": "array",
          "items": {
            "$ref": "BigtableColumn"
          }
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
          "type": "string"
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        }
      },
      "id": "BigtableColumnFamily"
    },
    "Cluster": {
      "id": "Cluster",
      "description": "Message containing the information about one cluster.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of training data rows that were assigned to this cluster.",
          "format": "int64",
          "type": "string"
        },
        "featureValues": {
          "description": "Values of highly variant features for this cluster.",
          "type": "array",
          "items": {
            "$ref": "FeatureValue"
          }
        },
        "centroidId": {
          "description": "Centroid id.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalDataConfiguration": {
      "id": "ExternalDataConfiguration",
      "type": "object",
      "properties": {
        "compression": {
          "type": "string",
          "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats."
        },
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV, JSON, and Google Sheets. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "format": "int32",
          "type": "integer"
        },
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "csvOptions": {
          "$ref": "CsvOptions",
          "description": "Additional properties to set if sourceFormat is set to CSV."
        },
        "bigtableOptions": {
          "$ref": "BigtableOptions",
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats."
        },
        "connectionId": {
          "description": "[Optional, Trusted Tester] Connection for external data source.",
          "type": "string"
        },
        "hivePartitioningOptions": {
          "$ref": "HivePartitioningOptions",
          "description": "[Optional, Trusted Tester] Options to configure hive partitioning support."
        },
        "autodetect": {
          "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored.",
          "type": "boolean"
        },
        "googleSheetsOptions": {
          "$ref": "GoogleSheetsOptions",
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS."
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored.",
          "type": "boolean"
        },
        "sourceFormat": {
          "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\".",
          "type": "string"
        }
      }
    },
    "GoogleSheetsOptions": {
      "type": "object",
      "properties": {
        "range": {
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20",
          "type": "string"
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleSheetsOptions"
    },
    "ArimaFittingMetrics": {
      "description": "ARIMA model fitting metrics.",
      "type": "object",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "format": "double",
          "type": "number"
        },
        "variance": {
          "type": "number",
          "description": "Variance.",
          "format": "double"
        },
        "aic": {
          "type": "number",
          "description": "AIC.",
          "format": "double"
        }
      },
      "id": "ArimaFittingMetrics"
    },
    "ConnectionProperty": {
      "id": "ConnectionProperty",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "[Required] Name of the connection property to set."
        },
        "value": {
          "description": "[Required] Value of the connection property.",
          "type": "string"
        }
      }
    },
    "ArimaCoefficients": {
      "description": "Arima coefficients.",
      "type": "object",
      "properties": {
        "autoRegressiveCoefficients": {
          "description": "Auto-regressive coefficients, an array of double.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "interceptCoefficient": {
          "description": "Intercept coefficient, just a double not an array.",
          "format": "double",
          "type": "number"
        },
        "movingAverageCoefficients": {
          "description": "Moving-average coefficients, an array of double.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "ArimaCoefficients"
    },
    "BigtableColumn": {
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "qualifierString": {
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels.",
          "type": "boolean"
        },
        "qualifierEncoded": {
          "type": "string",
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "format": "byte"
        }
      },
      "id": "BigtableColumn"
    },
    "TableFieldSchema": {
      "type": "object",
      "properties": {
        "type": {
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD).",
          "type": "string"
        },
        "categories": {
          "type": "object",
          "properties": {
            "names": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed."
            }
          },
          "description": "[Optional] The categories attached to this field, used for field-level access control."
        },
        "mode": {
          "type": "string",
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE."
        },
        "description": {
          "description": "[Optional] The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "policyTags": {
          "type": "object",
          "properties": {
            "names": {
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          },
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD."
        },
        "name": {
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 128 characters.",
          "type": "string"
        }
      },
      "id": "TableFieldSchema"
    },
    "BqmlIterationResult": {
      "type": "object",
      "properties": {
        "evalLoss": {
          "type": "number",
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
          "format": "double"
        },
        "index": {
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "format": "int32",
          "type": "integer"
        },
        "learnRate": {
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant.",
          "format": "double",
          "type": "number"
        },
        "durationMs": {
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "trainingLoss": {
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "BqmlIterationResult"
    },
    "ClusteringMetrics": {
      "description": "Evaluation metrics for clustering models.",
      "type": "object",
      "properties": {
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "format": "double",
          "type": "number"
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "[Beta] Information for all clusters."
        },
        "meanSquaredDistance": {
          "description": "Mean of squared distances between each sample to its cluster centroid.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ClusteringMetrics"
    },
    "TableDataInsertAllResponse": {
      "type": "object",
      "properties": {
        "insertErrors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "errors": {
                "description": "Error information for the row indicated by the index property.",
                "type": "array",
                "items": {
                  "$ref": "ErrorProto"
                }
              },
              "index": {
                "description": "The index of the row that error applies to.",
                "format": "uint32",
                "type": "integer"
              }
            }
          },
          "description": "An array of errors for rows that were not inserted."
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataInsertAllResponse"
        }
      },
      "id": "TableDataInsertAllResponse"
    },
    "GetServiceAccountResponse": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The service account email address.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#getServiceAccountResponse"
        }
      },
      "id": "GetServiceAccountResponse"
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "access": {
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "groupByEmail": {
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\".",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "iamMember": {
                "type": "string",
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group."
              },
              "specialGroup": {
                "type": "string",
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
              },
              "role": {
                "type": "string",
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\"."
              }
            }
          }
        },
        "kind": {
          "description": "[Output-only] The resource type.",
          "type": "string",
          "default": "bigquery#dataset"
        },
        "description": {
          "description": "[Optional] A user-friendly description of the dataset.",
          "type": "string"
        },
        "defaultTableExpirationMs": {
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "description": "[Output-only] A hash of the resource.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
          "format": "int64"
        },
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for the dataset."
        },
        "lastModifiedTime": {
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "type": "object"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource."
        },
        "defaultPartitionExpirationMs": {
          "type": "string",
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property.",
          "format": "int64"
        }
      }
    },
    "DatasetReference": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          }
        },
        "projectId": {
          "description": "[Optional] The ID of the project containing this dataset.",
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "type": "string"
        }
      },
      "id": "DatasetReference"
    },
    "JobStatistics3": {
      "id": "JobStatistics3",
      "type": "object",
      "properties": {
        "inputFileBytes": {
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "format": "int64",
          "type": "string"
        },
        "inputFiles": {
          "type": "string",
          "description": "[Output-only] Number of source files in a load job.",
          "format": "int64"
        },
        "outputRows": {
          "type": "string",
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change.",
          "format": "int64"
        },
        "outputBytes": {
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.",
          "format": "int64",
          "type": "string"
        },
        "badRecords": {
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "HivePartitioningOptions": {
      "type": "object",
      "properties": {
        "sourceUriPrefix": {
          "description": "[Optional, Trusted Tester] When hive partition detection is requested, a common prefix for all source uris should be supplied. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout. gs://bucket/path_to_table/dt=2019-01-01/country=BR/id=7/file.avro gs://bucket/path_to_table/dt=2018-12-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/ (trailing slash does not matter).",
          "type": "string"
        },
        "mode": {
          "description": "[Optional, Trusted Tester] When set, what mode of hive partitioning to use when reading data. Two modes are supported. (1) AUTO: automatically infer partition key name(s) and type(s). (2) STRINGS: automatically infer partition key name(s). All types are interpreted as strings. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported types include: AVRO, CSV, JSON, ORC and Parquet.",
          "type": "string"
        }
      },
      "id": "HivePartitioningOptions"
    },
    "CategoryCount": {
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of training samples matching the category within the\ncluster.",
          "format": "int64",
          "type": "string"
        },
        "category": {
          "description": "The name of category.",
          "type": "string"
        }
      },
      "id": "CategoryCount",
      "description": "Represents the count of a single category within the cluster."
    },
    "EvaluationMetrics": {
      "description": "Evaluation metrics of a model. These are either computed on all training\ndata or just the eval data based on whether eval data was used during\ntraining. These are not present for imported models.",
      "type": "object",
      "properties": {
        "rankingMetrics": {
          "$ref": "RankingMetrics",
          "description": "[Alpha] Populated for implicit feedback type matrix factorization\nmodels."
        },
        "multiClassClassificationMetrics": {
          "$ref": "MultiClassClassificationMetrics",
          "description": "Populated for multi-class classification/classifier models."
        },
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "regressionMetrics": {
          "$ref": "RegressionMetrics",
          "description": "Populated for regression models and explicit feedback type matrix\nfactorization models."
        }
      },
      "id": "EvaluationMetrics"
    },
    "StandardSqlField": {
      "description": "A field or a column.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        },
        "type": {
          "$ref": "StandardSqlDataType",
          "description": "Optional. The type of this parameter. Absent if not explicitly\nspecified (e.g., CREATE FUNCTION statement can omit the return type;\nin this case the output parameter does not have this \"type\" field)."
        }
      },
      "id": "StandardSqlField"
    },
    "TableCell": {
      "type": "object",
      "properties": {
        "v": {
          "type": "any"
        }
      },
      "id": "TableCell"
    },
    "TableReference": {
      "type": "object",
      "properties": {
        "tableId": {
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        }
      },
      "id": "TableReference"
    },
    "StandardSqlStructType": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      },
      "id": "StandardSqlStructType"
    },
    "ArimaResult": {
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier\nrefactoring if we want to use model-specific iteration results.",
      "type": "object",
      "properties": {
        "seasonalPeriods": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "enumDescriptions": [
            "",
            "No seasonality",
            "Daily period, 24 hours.",
            "Weekly period, 7 days.",
            "Monthly period, 30 days or irregular.",
            "Quarterly period, 90 days or irregular.",
            "Yearly period, 365 days or irregular."
          ],
          "description": "Seasonal periods. Repeated because multiple periods are supported for\none time series."
        },
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models\nfitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        }
      },
      "id": "ArimaResult"
    },
    "JobStatistics4": {
      "id": "JobStatistics4",
      "type": "object",
      "properties": {
        "destinationUriFileCounts": {
          "description": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "inputBytes": {
          "description": "[Output-only] Number of user bytes extracted into the result. This is the byte count as computed by BigQuery for billing purposes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CsvOptions": {
      "type": "object",
      "properties": {
        "quote": {
          "pattern": ".?",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "type": "string",
          "default": "\""
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "format": "int64",
          "type": "string"
        },
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
          "type": "boolean"
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        }
      },
      "id": "CsvOptions"
    },
    "JobConfigurationQuery": {
      "id": "JobConfigurationQuery",
      "type": "object",
      "properties": {
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean",
          "default": "true"
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionProperties": {
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties."
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
[...]
