{
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "version": "v1beta4",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "API for Cloud SQL database instance management",
  "servicePath": "",
  "basePath": "",
  "revision": "20200310",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "id": "sql:v1beta4",
  "discoveryVersion": "v1",
  "schemas": {
    "ExportContext": {
      "description": "Database instance export context.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#exportContext\u003c/code\u003e.",
          "type": "string"
        },
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Databases to be exported. \u003cbr /\u003e \u003cb\u003eMySQL instances:\u003c/b\u003e If\n\u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eSQL\u003c/code\u003e and no database is specified, all\ndatabases are exported, except for the \u003ccode\u003emysql\u003c/code\u003e system database.\nIf \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eCSV\u003c/code\u003e, you can specify one database,\neither by using this property or by using the\n\u003ccode\u003ecsvExportOptions.selectQuery\u003c/code\u003e property, which takes precedence\nover this property. \u003cbr /\u003e \u003cb\u003ePostgreSQL instances:\u003c/b\u003e You must specify\none database to be exported. If \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eCSV\u003c/code\u003e,\nthis database must match the one specified in the\n\u003ccode\u003ecsvExportOptions.selectQuery\u003c/code\u003e property."
        },
        "sqlExportOptions": {
          "type": "object",
          "properties": {
            "schemaOnly": {
              "description": "Export only schemas.",
              "type": "boolean"
            },
            "mysqlExportOptions": {
              "type": "object",
              "properties": {
                "masterData": {
                  "description": "Option to include SQL statement required to set up replication.\nIf set to \u003ccode\u003e1\u003c/code\u003e, the dump file includes\n a CHANGE MASTER TO statement with the binary log coordinates.\nIf set to \u003ccode\u003e2\u003c/code\u003e, the CHANGE MASTER TO statement is written as\n a SQL comment, and has no effect.\nAll other values are ignored.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Options for exporting from MySQL."
            },
            "tables": {
              "description": "Tables to export, or that were exported, from the specified database. If\nyou specify tables, specify one and only one database. For PostgreSQL\ninstances, you can specify only one table.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Options for exporting data as SQL statements."
        },
        "fileType": {
          "description": "The file type for the specified uri. \u003cbr\u003e\u003ccode\u003eSQL\u003c/code\u003e: The file\ncontains SQL statements. \u003cbr\u003e\u003ccode\u003eCSV\u003c/code\u003e: The file contains CSV data.",
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ]
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be\nstored. The URI is in the form \u003ccode\u003egs:\n//bucketName/fileName\u003c/code\u003e. If the file already exists, the requests\n// succeeds, but the operation fails. If \u003ccode\u003efileType\u003c/code\u003e is\n// \u003ccode\u003eSQL\u003c/code\u003e and the filename ends with .gz, the contents are\n// compressed.",
          "type": "string"
        },
        "csvExportOptions": {
          "description": "Options for exporting data as CSV.",
          "type": "object",
          "properties": {
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            }
          }
        }
      },
      "id": "ExportContext"
    },
    "MySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the master's Common Name value in the certificate\nthat it sends during the SSL handshake.",
          "type": "boolean"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the slave's private key. The corresponsing public key\nis encoded in the client's certificate."
        },
        "sslCipher": {
          "description": "A list of permissible ciphers to use for SSL encryption.",
          "type": "string"
        },
        "masterHeartbeatPeriod": {
          "description": "Interval in milliseconds between replication heartbeats.",
          "format": "int64",
          "type": "string"
        },
        "connectRetryInterval": {
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "format": "int32"
        },
        "dumpFilePath": {
          "type": "string",
          "description": "Path to a SQL dump file in Google Cloud Storage from which the slave\ninstance is to be created. The URI is in the form gs:\n//bucketName/fileName. Compressed gzip files (.gz) are also supported.\n// Dumps should have the binlog co-ordinates from which replication should\n// begin. This can be accomplished by setting --master-data to 1 when using\n// mysqldump."
        },
        "clientCertificate": {
          "description": "PEM representation of the slave's x509 certificate.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#mysqlReplicaConfiguration\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "MySqlReplicaConfiguration"
    },
    "InstancesCloneRequest": {
      "id": "InstancesCloneRequest",
      "description": "Database instance clone request.",
      "type": "object",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      }
    },
    "TiersListResponse": {
      "id": "TiersListResponse",
      "description": "Tiers list response.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#tiersList\u003c/code\u003e.",
          "type": "string"
        }
      }
    },
    "FlagsListResponse": {
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#flagsList\u003c/code\u003e."
        },
        "items": {
          "description": "List of flags.",
          "type": "array",
          "items": {
            "$ref": "Flag"
          }
        }
      }
    },
    "InstancesImportRequest": {
      "type": "object",
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      },
      "id": "InstancesImportRequest",
      "description": "Database instance import request."
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#sslCertsList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of client certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "id": "SslCertsListResponse"
    },
    "ReplicaConfiguration": {
      "description": "Read-replica configuration for connecting to the master.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#replicaConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "mysqlReplicaConfiguration": {
          "$ref": "MySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises\nmaster. Replication configuration information such as the username,\npassword, certificates, and keys are not stored in the instance metadata.\nThe configuration information is used only to set up the replication\nconnection and is stored by MySQL in a file named \u003ccode\u003emaster.info\u003c/code\u003e\nin the data directory."
        },
        "failoverTarget": {
          "description": "Specifies if the replica is the failover target. If the field is set to\n\u003ccode\u003etrue\u003c/code\u003e the replica will be designated as a failover replica. In\ncase the master instance fails, the replica instance will be promoted as\nthe new master instance.  \u003cp\u003eOnly one replica can be specified as failover\ntarget, and the replica has to be in different zone with the master\ninstance.",
          "type": "boolean"
        }
      },
      "id": "ReplicaConfiguration"
    },
    "TruncateLogContext": {
      "id": "TruncateLogContext",
      "description": "Database Instance truncate log context.",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The type of log to truncate. Valid values are\n\u003ccode\u003eMYSQL_GENERAL_TABLE\u003c/code\u003e and \u003ccode\u003eMYSQL_SLOW_TABLE\u003c/code\u003e."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#truncateLogContext\u003c/code\u003e.",
          "type": "string"
        }
      }
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "type": "object",
      "properties": {
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format.  Keep private in order\nto protect your security.",
          "type": "string"
        },
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        }
      }
    },
    "DiskEncryptionStatus": {
      "description": "Disk encryption status for an instance.",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#diskEncryptionStatus\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "DiskEncryptionStatus"
    },
    "DemoteMasterConfiguration": {
      "id": "DemoteMasterConfiguration",
      "description": "Read-replica configuration for connecting to the on-premises master.",
      "type": "object",
      "properties": {
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises\nmaster. Replication configuration information such as the username,\npassword, certificates, and keys are not stored in the instance metadata.\nThe configuration information is used only to set up the replication\nconnection and is stored by MySQL in a file named \u003ccode\u003emaster.info\u003c/code\u003e\nin the data directory."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#demoteMasterConfiguration\u003c/code\u003e.",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "description": "Instance verify external sync settings response.",
      "type": "object",
      "properties": {
        "errors": {
          "description": "List of migration violations.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#migrationSettingErrorList\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse"
    },
    "Operation": {
      "description": "An Operation resource.&nbsp;For successful operations that return an\nOperation resource, only the fields relevant to the operation are populated\nin the resource.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "The status of an operation. Valid values are \u003ccode\u003ePENDING\u003c/code\u003e,\n\u003ccode\u003eRUNNING\u003c/code\u003e, \u003ccode\u003eDONE\u003c/code\u003e,\n\u003ccode\u003eSQL_OPERATION_STATUS_UNSPECIFIED\u003c/code\u003e.",
          "type": "string",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this\nidentifier to retrieve the Operations resource that has information about\nthe operation.",
          "type": "string"
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time this operation finished in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime"
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "targetLink": {
          "type": "string"
        },
        "operationType": {
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "description": "The type of the operation. Valid values are \u003ccode\u003eCREATE\u003c/code\u003e,\n\u003ccode\u003eDELETE\u003c/code\u003e, \u003ccode\u003eUPDATE\u003c/code\u003e, \u003ccode\u003eRESTART\u003c/code\u003e,\n\u003ccode\u003eIMPORT\u003c/code\u003e, \u003ccode\u003eEXPORT\u003c/code\u003e, \u003ccode\u003eBACKUP_VOLUME\u003c/code\u003e,\n\u003ccode\u003eRESTORE_VOLUME\u003c/code\u003e, \u003ccode\u003eCREATE_USER\u003c/code\u003e,\n\u003ccode\u003eDELETE_USER\u003c/code\u003e, \u003ccode\u003eCREATE_DATABASE\u003c/code\u003e,\n\u003ccode\u003eDELETE_DATABASE\u003c/code\u003e .",
          "type": "string",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage\nbucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL\nfailover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL\nread replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance\ntypically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external master."
          ]
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#operation\u003c/code\u003e."
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be\npopulated."
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        }
      },
      "id": "Operation"
    },
    "BackupRun": {
      "description": "A BackupRun resource.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\".",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was\nattempted in \u003ca href=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e\nformat, for example \u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime"
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup.\nApplies only to Second Generation instances."
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if\nthe run has the FAILED status.",
          "$ref": "OperationError"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#backupRun\u003c/code\u003e.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup.\nApplies only to Second Generation instances."
        },
        "status": {
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "description": "The status of this run.",
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a\nproblem. Example: Long-running operation in progress during\nthe whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup\nwindow. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ]
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL\ninstance.",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "description": "The time the backup operation completed in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime"
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "BackupRun"
    },
    "LocationPreference": {
      "id": "LocationPreference",
      "description": "Preferred location. This specifies where a Cloud SQL instance should\npreferably be located, either in a specific Compute Engine zone, or\nco-located with an App Engine application. Note that if the preferred\nlocation is not available, the instance will be located as close as possible\nwithin the region. Only one location may be specified.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#locationPreference\u003c/code\u003e.",
          "type": "string"
        },
        "zone": {
          "description": "The preferred Compute Engine zone (e.g. us-central1-a, us-central1-b,\netc.).",
          "type": "string"
        },
        "followGaeApplication": {
          "description": "The AppEngine application to follow, it must be in the same region as the\nCloud SQL instance.",
          "type": "string"
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when a v2 Cloud SQL instance should\npreferably be restarted for system maintenance purposes.",
      "type": "object",
      "properties": {
        "hour": {
          "type": "integer",
          "description": "hour of day - 0 to 23.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "day of week (1-7), starting on Monday.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#maintenanceWindow\u003c/code\u003e."
        },
        "updateTrack": {
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates\nyour instance prefer to restart for new version early in maintenance\nwindow.",
            "For instance update that requires a restart, this update track indicates\nyour instance prefer to let Cloud SQL choose the timing of restart (within\nits Maintenance window, if applicable)."
          ],
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "description": "Maintenance timing setting: \u003ccode\u003ecanary\u003c/code\u003e (Earlier) or\n\u003ccode\u003estable\u003c/code\u003e (Later). \u003cbr /\u003e\u003ca\nhref=\"/sql/docs/db_path/instance-settings#maintenance-timing-2ndgen\"\u003e\nLearn more\u003c/a\u003e.",
          "type": "string"
        }
      }
    },
    "InstancesListResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "List of warnings that occurred while handling the request."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide\nthis value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#instancesList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "List of database instance resources."
        }
      },
      "id": "InstancesListResponse",
      "description": "Database instances list response."
    },
    "InstancesTruncateLogRequest": {
      "description": "Instance truncate log request.",
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "id": "InstancesTruncateLogRequest"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#importContext\u003c/code\u003e."
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "type": "object",
          "properties": {
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns\nof the database table are loaded with CSV data.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            }
          }
        },
        "database": {
          "description": "The target database for the import. If \u003ccode\u003efileType\u003c/code\u003e is\n\u003ccode\u003eSQL\u003c/code\u003e, this field is required only if the import file does not\nspecify a database, and is overridden by any database specification in the\nimport file. If \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eCSV\u003c/code\u003e, one database\nmust be specified.",
          "type": "string"
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "bakImportOptions": {
          "type": "object",
          "properties": {
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form\n\u003ccode\u003egs://bucketName/fileName\u003c/code\u003e. The instance must have\nwrite permissions to the bucket and read access to the file."
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk)  in Cloud Storage, in the\nform \u003ccode\u003egs://bucketName/fileName\u003c/code\u003e. The instance must have\nwrite permissions to the bucket and read access to the file.",
                  "type": "string"
                }
              }
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files"
        },
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "description": "The file type for the specified uri. \u003cbr\u003e\u003ccode\u003eSQL\u003c/code\u003e: The file\ncontains SQL statements. \u003cbr\u003e\u003ccode\u003eCSV\u003c/code\u003e: The file contains CSV data."
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form\n\u003ccode\u003egs:\n//bucketName/fileName\u003c/code\u003e. Compressed gzip files (.gz) are supported\n// when \u003ccode\u003efileType\u003c/code\u003e is \u003ccode\u003eSQL\u003c/code\u003e. The instance must have\n// write permissions to the bucket and read access to the file.",
          "type": "string"
        }
      },
      "id": "ImportContext"
    },
    "InstancesExportRequest": {
      "description": "Database instance export request.",
      "type": "object",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "id": "InstancesExportRequest"
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "description": "Database instance restore from backup context.\nBackup context contains source instance id and project id.",
      "type": "object",
      "properties": {
        "backupRunId": {
          "type": "string",
          "description": "The ID of the backup run to restore from.",
          "format": "int64"
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#restoreBackupContext\u003c/code\u003e.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full project ID of the source instance."
        }
      }
    },
    "OnPremisesConfiguration": {
      "id": "OnPremisesConfiguration",
      "description": "On-premises instance configuration.",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "PEM representation of the slave's private key. The corresponsing public key\nis encoded in the client's certificate.",
          "type": "string"
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "clientCertificate": {
          "description": "PEM representation of the slave's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#onPremisesConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "password": {
          "description": "The password for connecting to on-premises instance.",
          "type": "string"
        }
      }
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The warning message."
        },
        "code": {
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable.  The returned result\nset may be incomplete."
          ],
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "description": "Code to uniquely identify the warning type.",
          "type": "string"
        }
      },
      "id": "ApiWarning"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "type": "object",
      "properties": {
        "reschedule": {
          "$ref": "Reschedule",
          "description": "Required. The type of the reschedule the user wants."
        }
      },
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "description": "Reschedule options for maintenance windows."
    },
    "UsersListResponse": {
      "description": "User list response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "An identifier that uniquely identifies the operation. You can use this\nidentifier to retrieve the Operations resource that has information about\nthe operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#usersList\u003c/code\u003e."
        },
        "items": {
          "description": "List of user resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "id": "UsersListResponse"
    },
    "AclEntry": {
      "description": "An entry for an Access Control list.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The whitelisted value for the access control list.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time when this access control entry expires in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#aclEntry\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "AclEntry"
    },
    "SqlScheduledMaintenance": {
      "description": "Any scheduled maintenancce for this instance.",
      "type": "object",
      "properties": {
        "canDefer": {
          "type": "boolean"
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        }
      },
      "id": "SqlScheduledMaintenance"
    },
    "InstancesRotateServerCaRequest": {
      "description": "Rotate Server CA request.",
      "type": "object",
      "properties": {
        "rotateServerCaContext": {
          "$ref": "RotateServerCaContext",
          "description": "Contains details about the rotate server CA operation."
        }
      },
      "id": "InstancesRotateServerCaRequest"
    },
    "User": {
      "id": "User",
      "description": "A Cloud SQL user resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#user\u003c/code\u003e.",
          "type": "string"
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the\nAPI."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for\n\u003ccode\u003eupdate\u003c/code\u003e since it is already specified in the URL.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.\nCan be omitted for \u003ccode\u003eupdate\u003c/code\u003e since it is already specified on the\nURL.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google\napps domain is prefixed if applicable. Can be omitted for\n\u003ccode\u003eupdate\u003c/code\u003e since it is already specified on the URL."
        },
        "host": {
          "description": "The host name from which the user can connect. For \u003ccode\u003einsert\u003c/code\u003e\noperations, host defaults to an empty string. For \u003ccode\u003eupdate\u003c/code\u003e\noperations, host is specified as part of the request URL. The host name\ncannot be updated after insertion.",
          "type": "string"
        }
      }
    },
    "FailoverContext": {
      "id": "FailoverContext",
      "description": "Database instance failover context.",
      "type": "object",
      "properties": {
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if\nthis version doesn't match the current settings version.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#failoverContext\u003c/code\u003e.",
          "type": "string"
        }
      }
    },
    "OperationsListResponse": {
      "id": "OperationsListResponse",
      "description": "Database instance list operations response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide\nthis value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#operationsList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "List of operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "SslCertsCreateEphemeralRequest": {
      "description": "SslCerts create ephemeral certificate request.",
      "type": "object",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        }
      },
      "id": "SslCertsCreateEphemeralRequest"
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "description": "Database instance demote master context.",
      "type": "object",
      "properties": {
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises\nmaster."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#demoteMasterContext\u003c/code\u003e.",
          "type": "string"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises master in the\nreplication setup.",
          "type": "string"
        },
        "verifyGtidConsistency": {
          "description": "Verify GTID consistency for demote operation. Default value:\n\u003ccode\u003eTrue\u003c/code\u003e. Second Generation instances only.  Setting this flag to\nfalse enables you to bypass GTID consistency check between on-premises\nmaster and Cloud SQL instance during the demotion operation but also\nexposes you to the risk of future replication failures. Change the value\nonly if you know the reason for the GTID divergence and are confident that\ndoing so will not cause any replication issues.",
          "type": "boolean"
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "properties": {
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the slave's private key. The corresponsing public key\nis encoded in the client's certificate. The format of the slave's private\nkey can be either PKCS #1 or PKCS #8."
        },
        "clientCertificate": {
          "description": "PEM representation of the slave's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#demoteMasterMysqlReplicaConfiguration\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "DemoteMasterMySqlReplicaConfiguration"
    },
    "BackupConfiguration": {
      "type": "object",
      "properties": {
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24\nhour format - \u003ccode\u003eHH:MM\u003c/code\u003e.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#backupConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is\ndisabled, binarylog must be disabled as well.",
          "type": "boolean"
        }
      },
      "id": "BackupConfiguration",
      "description": "Database instance backup configuration."
    },
    "Database": {
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "type": "object",
      "properties": {
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#database\u003c/code\u003e."
        },
        "charset": {
          "description": "The MySQL charset value.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the\nAPI."
        },
        "collation": {
          "description": "The MySQL collation value.",
          "type": "string"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include\nthe project ID or instance name.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google\napps domain is prefixed if applicable.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        }
      },
      "id": "Database"
    },
    "DatabaseFlags": {
      "description": "Database flags for Cloud SQL instances.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so\ninclude both server options and system variables for MySQL. Flags should be\nspecified with underscores, not hyphens. For more information, see \u003ca\nhref=\"/sql/docs/mysql/flags\"\u003eConfiguring Database Flags\u003c/a\u003e in the Cloud\nSQL documentation."
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. Booleans should be set to \u003ccode\u003eon\u003c/code\u003e for true\nand \u003ccode\u003eoff\u003c/code\u003e for false. This field must be omitted if the flag\ndoesn't take a value."
        }
      },
      "id": "DatabaseFlags"
    },
    "IpConfiguration": {
      "id": "IpConfiguration",
      "description": "IP Management configuration.",
      "type": "object",
      "properties": {
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance\nusing the IP. In \u003ca\nhref=\"http://en.wikipedia.org/wiki/CIDR_notation#CIDR_notation\"\u003eCIDR\nnotation\u003c/a\u003e, also known as 'slash' notation (e.g.\n\u003ccode\u003e192.168.100.0/24\u003c/code\u003e).",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "requireSsl": {
          "description": "Whether SSL connections over IP should be enforced or not.",
          "type": "boolean"
        },
        "privateNetwork": {
          "description": "The resource link for the VPC network from which the Cloud SQL instance is\naccessible for private IP. For example,\n\u003ccode\u003e/projects/myProject/global/networks/default\u003c/code\u003e. This setting can\nbe updated, but it cannot be removed after it is set.",
          "type": "string"
        },
        "ipv4Enabled": {
          "description": "Whether the instance should be assigned an IP address or not.",
          "type": "boolean"
        }
      }
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "description": "A Cloud SQL instance resource.",
      "type": "object",
      "properties": {
        "gceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from. This\nvalue could be different from the zone that was specified when the instance\nwas created if the instance has failed over to its secondary zone.",
          "type": "string"
        },
        "currentDiskSize": {
          "type": "string",
          "description": "The current disk usage of the instance in bytes. This property has been\ndeprecated. Users should use the\n\"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud\nMonitoring API instead. Please see \u003ca\nhref=\"https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ\"\u003ethis\nannouncement\u003c/a\u003e for details.",
          "format": "int64"
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "failoverReplica": {
          "type": "object",
          "properties": {
            "available": {
              "description": "The availability status of the failover replica. A false status indicates\nthat the failover replica is out of sync. The master can only failover to\nthe failover replica when the status is true.",
              "type": "boolean"
            },
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a\nfailover replica is created for the instance. The name\ndoesn't include the project ID. This property is applicable only to\nSecond Generation instances.",
              "type": "string"
            }
          },
          "description": "The name and status of the failover replica. This property is applicable\nonly to Second Generation instances."
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address assigned to the instance. This property is applicable only\nto First Generation instances."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.\nApplies only to Second Generation instances.",
          "$ref": "DiskEncryptionStatus"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#instance\u003c/code\u003e.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be \u003ccode\u003eus-central\u003c/code\u003e\n(\u003ccode\u003eFIRST_GEN\u003c/code\u003e instances only), \u003ccode\u003eus-central1\u003c/code\u003e\n(\u003ccode\u003eSECOND_GEN\u003c/code\u003e instances only), \u003ccode\u003easia-east1\u003c/code\u003e or\n\u003ccode\u003eeurope-west1\u003c/code\u003e. Defaults to \u003ccode\u003eus-central\u003c/code\u003e or\n\u003ccode\u003eus-central1\u003c/code\u003e depending on the instance type (First Generation\nor Second Generation). The region can not be changed after instance\ncreation."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running.",
            "The instance is currently offline, but it may run again in the future.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The instance failed to be created."
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED"
          ],
          "description": "The current serving state of the Cloud SQL instance. This can be one of the\nfollowing. \u003cbr\u003e\u003ccode\u003eRUNNABLE\u003c/code\u003e: The instance is running, or is ready\nto run when accessed. \u003cbr\u003e\u003ccode\u003eSUSPENDED\u003c/code\u003e: The instance is not\navailable, for example due to problems with billing.\n\u003cbr\u003e\u003ccode\u003ePENDING_CREATE\u003c/code\u003e: The instance is being created.\n\u003cbr\u003e\u003ccode\u003eMAINTENANCE\u003c/code\u003e: The instance is down for maintenance.\n\u003cbr\u003e\u003ccode\u003eFAILED\u003c/code\u003e: The instance creation failed.\n\u003cbr\u003e\u003ccode\u003eUNKNOWN_STATE\u003c/code\u003e: The state of the instance is unknown."
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "\u003ccode\u003eFIRST_GEN\u003c/code\u003e: First Generation instance. MySQL only. \u003cbr\n/\u003e\u003ccode\u003eSECOND_GEN\u003c/code\u003e: Second Generation instance or PostgreSQL\ninstance. \u003cbr /\u003e\u003ccode\u003eEXTERNAL\u003c/code\u003e: A database server that is not\nmanaged by Google. \u003cbr\u003eThis property is read-only; use the\n\u003ccode\u003etier\u003c/code\u003e property in the \u003ccode\u003esettings\u003c/code\u003e object to determine\nthe database type and Second or First Generation.",
          "type": "string"
        },
        "onPremisesConfiguration": {
          "$ref": "OnPremisesConfiguration",
          "description": "Configuration specific to on-premises instances."
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. This property\nis applicable only to Second Generation instances.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL instance. The Google\napps domain is prefixed if applicable.",
          "type": "string"
        },
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12"
          ],
          "description": "The database engine type and version. The \u003ccode\u003edatabaseVersion\u003c/code\u003e\nfield can not be changed after instance creation.  MySQL Second Generation\ninstances: \u003ccode\u003eMYSQL_5_7\u003c/code\u003e (default) or \u003ccode\u003eMYSQL_5_6\u003c/code\u003e.\nPostgreSQL instances: \u003ccode\u003ePOSTGRES_9_6\u003c/code\u003e (default) or\n\u003ccode\u003ePOSTGRES_11 Beta\u003c/code\u003e MySQL First Generation\ninstances: \u003ccode\u003eMYSQL_5_6\u003c/code\u003e (default) or \u003ccode\u003eMYSQL_5_5\u003c/code\u003e",
          "type": "string"
        },
        "suspensionReason": {
          "type": "array",
          "items": {
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "This is an unknown suspension reason.",
            "The instance is suspended due to billing issues (e.g., GCP account issue)",
            "The instance is suspended due to illegal content (e.g., child pornography,\ncopyrighted material, etc.).",
            "The instance is causing operational issues (e.g., causing the database\nto crash).",
            "The KMS key used by the instance is either revoked or denied access to"
          ],
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "settings": {
          "$ref": "Settings",
          "description": "The user settings."
        },
        "replicaNames": {
          "description": "The replicas of the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Disk encryption configuration specific to an instance.\nApplies only to Second Generation instances."
        },
        "scheduledMaintenance": {
          "$ref": "SqlScheduledMaintenance",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the\nAPI. Use the \u003ccode\u003esettings.settingsVersion\u003c/code\u003e field instead.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "maxDiskSize": {
          "type": "string",
          "description": "The maximum disk size of the instance in bytes.",
          "format": "int64"
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as master in the replication setup.",
          "type": "string"
        },
        "instanceType": {
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance.",
            "An instance running on the customer's premises that is not managed by\nCloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "description": "The instance type. This can be one of the following.\n\u003cbr\u003e\u003ccode\u003eCLOUD_SQL_INSTANCE\u003c/code\u003e: A Cloud SQL instance that is not\nreplicating from a master. \u003cbr\u003e\u003ccode\u003eON_PREMISES_INSTANCE\u003c/code\u003e: An\ninstance running on the\ncustomer's premises. \u003cbr\u003e\u003ccode\u003eREAD_REPLICA_INSTANCE\u003c/code\u003e: A Cloud SQL\ninstance configured as a read-replica.",
          "type": "string"
        }
      }
    },
    "SslCertsInsertResponse": {
      "id": "SslCertsInsertResponse",
      "description": "SslCert insert response.",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#sslCertsInsert\u003c/code\u003e.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate.  If this is missing you can\nforce a new one to be generated by calling resetSslConfig method on\ninstances resource."
        },
        "clientCert": {
          "description": "The new client certificate and private key.  For First Generation\ninstances, the new certificate does not take effect until the instance is\nrestarted.",
          "$ref": "SslCertDetail"
        }
      }
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "type": "object",
      "properties": {
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#binLogCoordinates\u003c/code\u003e.",
          "type": "string"
        },
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        }
      },
      "id": "BinLogCoordinates"
    },
    "Tier": {
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "type": "object",
      "properties": {
        "tier": {
          "description": "An identifier for the machine type, for example, db-n1-standard-1. For\nrelated information, see \u003ca href=\"/sql/pricing\"\u003ePricing\u003c/a\u003e.",
          "type": "string"
        },
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#tier\u003c/code\u003e.",
          "type": "string"
        },
        "RAM": {
          "type": "string",
          "description": "The maximum RAM usage of this tier in bytes.",
          "format": "int64"
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "id": "InstancesRestoreBackupRequest",
      "description": "Database instance restore backup request.",
      "type": "object",
      "properties": {
        "restoreBackupContext": {
          "$ref": "RestoreBackupContext",
          "description": "Parameters required to perform the restore backup operation."
        }
      }
    },
    "DatabasesListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Database"
          },
          "description": "List of database resources in the instance."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#databasesList\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "DatabasesListResponse",
      "description": "Database list response."
    },
    "SqlServerDatabaseDetails": {
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "type": "object",
      "properties": {
        "compatibilityLevel": {
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32",
          "type": "integer"
        },
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        }
      },
      "id": "SqlServerDatabaseDetails"
    },
    "OperationError": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#operationError\u003c/code\u003e."
        },
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        }
      },
      "id": "OperationError",
      "description": "Database instance operation error."
    },
    "IpMapping": {
      "id": "IpMapping",
      "description": "Database instance IP Mapping.",
      "type": "object",
      "properties": {
        "timeToRetire": {
          "description": "The due time for this IP to be retired in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e. This field is only available when\nthe IP is scheduled to be retired.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the\nload balancer's IP address",
            "Source IP address of the connection a read replica establishes to its\nexternal master. This IP address can be whitelisted by the customer\nin case it has a firewall that filters incoming connection to its\non premises master.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to\ndecommission this IP as soon as the migration is complete.\nNote: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A \u003ccode\u003ePRIMARY\u003c/code\u003e address is a public\naddress that can accept incoming connections. A \u003ccode\u003ePRIVATE\u003c/code\u003e\naddress is a private address that can accept incoming connections. An\n\u003ccode\u003eOUTGOING\u003c/code\u003e address is the source address of connections\noriginating from the instance, if supported.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        }
      }
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide\nthis value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#backupRunsList\u003c/code\u003e.",
          "type": "string"
        },
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "type": "array",
          "items": {
            "$ref": "BackupRun"
          }
        }
      },
      "id": "BackupRunsListResponse"
    },
    "DiskEncryptionConfiguration": {
      "id": "DiskEncryptionConfiguration",
      "description": "Disk encryption configuration for an instance.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#diskEncryptionConfiguration\u003c/code\u003e.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of KMS key for disk encryption"
        }
      }
    },
    "SslCert": {
      "id": "SslCert",
      "description": "SslCerts Resource",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "expirationTime": {
          "type": "string",
          "description": "The time when the certificate expires in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#sslCert\u003c/code\u003e."
        },
        "commonName": {
          "description": "User supplied name.  Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the certificate was created in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for example\n\u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RotateServerCaContext": {
      "description": "Instance rotate server CA context.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always \u003ccode\u003esql#rotateServerCaContext\u003c/code\u003e.",
          "type": "string"
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified,\nwill be rotated to the most recently added server CA version.",
          "type": "string"
        }
      },
      "id": "RotateServerCaContext"
    },
    "SslCertsInsertRequest": {
      "id": "SslCertsInsertRequest",
      "description": "SslCerts insert request.",
      "type": "object",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name.  Must be a distinct name from the other certificates\nfor this instance."
        }
      }
    },
    "CloneContext": {
      "type": "object",
      "properties": {
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "int64"
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the\nsource instance should be cloned. If not specified, the source instance is\ncloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#cloneContext\u003c/code\u003e."
        },
        "pointInTime": {
          "description": "Reserved for future use.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "CloneContext",
      "description": "Database instance clone context."
    },
    "SqlExternalSyncSettingError": {
      "description": "External master migration setting error.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS"
          ],
          "description": "Identifies the specific error that occurred.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres."
          ]
        },
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#migrationSettingError\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "SqlExternalSyncSettingError"
    },
    "Settings": {
      "type": "object",
      "properties": {
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is\napplicable only when the instance state is \u003ccode\u003eRUNNABLE\u003c/code\u003e. Valid\nvalues: \u003cbr\u003e\u003ccode\u003eALWAYS\u003c/code\u003e: The instance is on, and remains so even in\nthe absence of connection requests. \u003cbr\u003e\u003ccode\u003eNEVER\u003c/code\u003e: The instance is\noff; it is not activated, even if a connection request arrives.\n\u003cbr\u003e\u003ccode\u003eON_DEMAND\u003c/code\u003e: First Generation instances only. The instance\nresponds to incoming requests, and turns itself off when not in use.\nInstances with \u003ccode\u003ePER_USE\u003c/code\u003e pricing turn off after 15 minutes of\ninactivity. Instances with \u003ccode\u003ePER_PACKAGE\u003c/code\u003e pricing turn off after\n12 hours of inactivity.",
          "type": "string",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance should never spin up.",
            "The instance spins up upon receiving requests."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "replicationType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the\ndefault value.",
            "The asynchronous replication mode for First Generation instances. It\nprovides a slight performance gain, but if an outage occurs while this\noption is set to asynchronous, you can lose up to a few seconds of updates\nto your data."
          ],
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "The type of replication this instance uses. This can be either\n\u003ccode\u003eASYNCHRONOUS\u003c/code\u003e or \u003ccode\u003eSYNCHRONOUS\u003c/code\u003e. This property is\nonly applicable to First Generation instances."
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#settings\u003c/code\u003e.",
          "type": "string"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as\nnear as possible to either an App Engine app or Compute Engine zone for\nbetter performance. App Engine co-location is only applicable to First\nGeneration instances."
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the\ninstance IP and manage which external networks can connect to the instance.\nThe IPv4 address cannot be disabled for Second Generation instances."
        },
        "availabilityType": {
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Availability type (PostgreSQL and MySQL instances only). Potential values:\n\u003cbr\u003e\u003ccode\u003eZONAL\u003c/code\u003e: The instance serves data from only one zone.\nOutages in that zone affect data accessibility. \u003cbr\u003e\u003ccode\u003eREGIONAL\u003c/code\u003e:\nThe instance can serve data from more than one zone in a region (it is\nhighly available). \u003cbr\u003eFor more information, see \u003ca\nhref=\"https://cloud.google.com/sql/docs/postgres/high-availability\"\u003eOverview\nof the High Availability Configuration\u003c/a\u003e.",
          "type": "string"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update\nmethod to make sure concurrent updates are handled properly. During update,\nuse the most recent settingsVersion value for this instance and do not try\nto update this value.",
          "format": "int64",
          "type": "string"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance\ncan be restarted for maintenance purposes. Not used for First Generation\ninstances.",
          "$ref": "MaintenanceWindow"
        },
        "pricingPlan": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either \u003ccode\u003ePER_USE\u003c/code\u003e\nor \u003ccode\u003ePACKAGE\u003c/code\u003e. Only \u003ccode\u003ePER_USE\u003c/code\u003e is supported for Second\nGeneration instances."
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is\ntrue. Not used for First Generation instances.",
          "type": "boolean"
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased.\nThe default value is 0, which specifies that there is no limit. Not used\nfor First Generation instances.",
          "format": "int64",
          "type": "string"
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance. First Generation\ninstances only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example\n\u003ccode\u003edb-n1-standard-1\u003c/code\u003e (MySQL instances) or\n\u003ccode\u003edb-custom-1-3840\u003c/code\u003e (PostgreSQL instances). For MySQL instances,\nthis property determines whether the instance is First or Second\nGeneration. For more information, see \u003ca\nhref=\"/sql/docs/db_path/instance-settings\"\u003eInstance Settings\u003c/a\u003e.",
          "type": "string"
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB. Not used\nfor First Generation instances.",
          "format": "int64",
          "type": "string"
        },
        "dataDiskType": {
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "description": "The type of data disk: \u003ccode\u003ePD_SSD\u003c/code\u003e (default) or\n\u003ccode\u003ePD_HDD\u003c/code\u003e. Not used for First Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the\nAPI."
          ]
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether\ndatabase flags for crash-safe replication are enabled. This property is\nonly applicable to First Generation instances.",
          "type": "boolean"
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether\nreplication is enabled or not.",
          "type": "boolean"
        },
        "backupConfiguration": {
          "$ref": "BackupConfiguration",
          "description": "The daily backup configuration for the instance."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a\nsingle key value pair.",
          "type": "object"
        }
      },
      "id": "Settings",
      "description": "Database instance settings."
    },
    "SqlServerUserDetails": {
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "If the user has been disabled"
        },
        "serverRoles": {
          "description": "The server roles for this user",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SqlServerUserDetails"
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always \u003ccode\u003esql#instancesListServerCas\u003c/code\u003e."
        },
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response."
    },
    "Reschedule": {
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if\nreschedule_type=SPECIFIC_TIME, in \u003ca\nhref=\"https://tools.ietf.org/html/rfc3339\"\u003eRFC 3339\u003c/a\u003e format, for\nexample \u003ccode\u003e2012-11-15T16:19:00.094Z\u003c/code\u003e.",
          "format": "google-datetime",
          "type": "string"
        },
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the\nnext available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "description": "Required. The type of the reschedule.",
          "type": "string"
        }
      },
      "id": "Reschedule"
    },
    "OperationErrors": {
      "description": "Database instance operation errors list wrapper.",
      "type": "object",
      "properties": {
        "errors": {
          "description": "The list of errors encountered while processing this operation.",
          "type": "array",
          "items": {
            "$ref": "OperationError"
          }
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#operationErrors\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "OperationErrors"
    },
    "InstancesFailoverRequest": {
      "type": "object",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "id": "InstancesFailoverRequest",
      "description": "Instance failover request."
    },
    "Flag": {
      "description": "A flag resource.",
      "type": "object",
      "properties": {
        "requiresRestart": {
          "type": "boolean",
          "description": "Indicates whether changing this flag will trigger a database restart. Only\napplicable to Second Generation instances."
        },
        "minValue": {
          "type": "string",
          "description": "For \u003ccode\u003eINTEGER\u003c/code\u003e flags, the minimum allowed value.",
          "format": "int64"
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not\nhyphens, e.g. \u003ccode\u003emax_allowed_packet\u003c/code\u003e",
          "type": "string"
        },
        "maxValue": {
          "description": "For \u003ccode\u003eINTEGER\u003c/code\u003e flags, the maximum allowed value.",
          "format": "int64",
          "type": "string"
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specically for MySQL TimeZone offset. Accept a string value\nwith the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "description": "The type of the flag. Flags are typed to being \u003ccode\u003eBOOLEAN\u003c/code\u003e,\n\u003ccode\u003eSTRING\u003c/code\u003e, \u003ccode\u003eINTEGER\u003c/code\u003e or \u003ccode\u003eNONE\u003c/code\u003e.\n\u003ccode\u003eNONE\u003c/code\u003e is used for flags which do not take a value, such as\n\u003ccode\u003eskip_grant_tables\u003c/code\u003e."
        },
        "allowedStringValues": {
          "description": "For \u003ccode\u003eSTRING\u003c/code\u003e flags, a list of strings that the value can be set\nto.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always \u003ccode\u003esql#flag\u003c/code\u003e.",
          "type": "string"
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Can be \u003ccode\u003eMYSQL_5_5\u003c/code\u003e,\n\u003ccode\u003eMYSQL_5_6\u003c/code\u003e, or \u003ccode\u003eMYSQL_5_7\u003c/code\u003e. \u003ccode\u003eMYSQL_5_7\u003c/code\u003e\nis applicable only to Second Generation instances.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "POSTGRES_9_6",
              "POSTGRES_11",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_10",
              "POSTGRES_12"
            ]
          },
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12."
          ]
        },
        "allowedIntValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Use this field if only certain integers are accepted. Can be combined\nwith min_value and max_value to add additional values."
        }
      },
      "id": "Flag"
    },
    "InstancesDemoteMasterRequest": {
      "description": "Database demote master request.",
      "type": "object",
      "properties": {
        "demoteMasterContext": {
          "$ref": "DemoteMasterContext",
          "description": "Contains details about the demoteMaster operation."
        }
      },
      "id": "InstancesDemoteMasterRequest"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "SQL Admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "rootUrl": "https://sqladmin.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "sql",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Cloud SQL Admin API",
  "ownerName": "Google",
  "resources": {
    "databases": {
      "methods": {
        "get": {
          "id": "sql.databases.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Retrieves a resource containing information about a database inside a Cloud\nSQL instance.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "database": {
              "location": "path",
              "description": "Name of the database in the instance.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "patch": {
          "id": "sql.databases.patch",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Partially updates a resource containing information about a database inside\na Cloud SQL instance. This method supports patch semantics.",
          "request": {
            "$ref": "Database"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "update": {
          "description": "Updates a resource containing information about a database inside a Cloud\nSQL instance.",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
[...]
