{
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/secret-manager/",
  "baseUrl": "https://secretmanager.googleapis.com/",
  "mtlsRootUrl": "https://secretmanager.mtls.googleapis.com/",
  "name": "secretmanager",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "Stores sensitive data such as API keys, passwords, and certificates. Provides convenience while improving security.\n",
  "protocol": "rest",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "canonicalName": "Secret Manager",
  "revision": "20200605",
  "title": "Secret Manager API",
  "resources": {
    "projects": {
      "resources": {
        "secrets": {
          "resources": {
            "versions": {
              "methods": {
                "disable": {
                  "request": {
                    "$ref": "DisableSecretVersionRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "secretmanager.projects.secrets.versions.disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:disable",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "description": "Required. The resource name of the SecretVersion to disable in the format\n`projects/*/secrets/*/versions/*`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "description": "Disables a SecretVersion.\n\nSets the state of the SecretVersion to\nDISABLED."
                },
                "access": {
                  "path": "v1/{+name}:access",
                  "id": "secretmanager.projects.secrets.versions.access",
                  "description": "Accesses a SecretVersion. This call returns the secret data.\n\n`projects/*/secrets/*/versions/latest` is an alias to the `latest`\nSecretVersion.",
                  "response": {
                    "$ref": "AccessSecretVersionResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the SecretVersion in the format\n`projects/*/secrets/*/versions/*`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:access"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets metadata for a SecretVersion.\n\n`projects/*/secrets/*/versions/latest` is an alias to the `latest`\nSecretVersion.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the SecretVersion in the format\n`projects/*/secrets/*/versions/*`.\n`projects/*/secrets/*/versions/latest` is an alias to the `latest`\nSecretVersion.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "id": "secretmanager.projects.secrets.versions.get"
                },
                "destroy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "secretmanager.projects.secrets.versions.destroy",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:destroy",
                  "request": {
                    "$ref": "DestroySecretVersionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the SecretVersion to destroy in the format\n`projects/*/secrets/*/versions/*`.",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Destroys a SecretVersion.\n\nSets the state of the SecretVersion to\nDESTROYED and irrevocably destroys the\nsecret data.",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "path": "v1/{+name}:destroy"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/versions",
                  "description": "Lists SecretVersions. This call does not return secret\ndata.",
                  "response": {
                    "$ref": "ListSecretVersionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of results to be returned in a single page. If\nset to 0, the server decides the number of results to return. If the\nnumber is greater than 25000, it is capped at 25000.",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Secret associated with the\nSecretVersions to list, in the format\n`projects/*/secrets/*`."
                    },
                    "pageToken": {
                      "description": "Optional. Pagination token, returned earlier via\nListSecretVersionsResponse.next_page_token][].",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "secretmanager.projects.secrets.versions.list"
                },
                "enable": {
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the SecretVersion to enable in the format\n`projects/*/secrets/*/versions/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Enables a SecretVersion.\n\nSets the state of the SecretVersion to\nENABLED.",
                  "id": "secretmanager.projects.secrets.versions.enable",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:enable",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "EnableSecretVersionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "patch": {
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "id": "secretmanager.projects.secrets.patch",
              "response": {
                "$ref": "Secret"
              },
              "httpMethod": "PATCH",
              "description": "Updates metadata of an existing Secret.",
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. Specifies the fields to be updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Secret"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "secretmanager.projects.secrets.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Secret, in the format `projects/*/secrets/*`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets metadata for a given Secret.",
              "response": {
                "$ref": "Secret"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "path": "v1/{+name}"
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the Secret to delete in the format\n`projects/*/secrets/*`.",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "id": "secretmanager.projects.secrets.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Deletes a Secret."
            },
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:testIamPermissions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$"
                }
              },
              "description": "Returns permissions that a caller has for the specified secret.\nIf the secret does not exist, this call returns an empty set of\npermissions, not a NOT_FOUND error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.",
              "id": "secretmanager.projects.secrets.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              }
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "id": "secretmanager.projects.secrets.setIamPolicy",
              "httpMethod": "POST",
              "path": "v1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Sets the access control policy on the specified secret. Replaces any\nexisting policy.\n\nPermissions on SecretVersions are enforced according\nto the policy set on the associated Secret.",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "secretId": {
                  "location": "query",
                  "description": "Required. This must be unique within the project.\n\nA secret ID is a string with a maximum length of 255 characters and can\ncontain uppercase and lowercase letters, numerals, and the hyphen (`-`) and\nunderscore (`_`) characters.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the project to associate with the\nSecret, in the format `projects/*`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "path": "v1/{+parent}/secrets",
              "description": "Creates a new Secret containing no SecretVersions.",
              "response": {
                "$ref": "Secret"
              },
              "httpMethod": "POST",
              "id": "secretmanager.projects.secrets.create",
              "flatPath": "v1/projects/{projectsId}/secrets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Secret"
              }
            },
            "addVersion": {
              "id": "secretmanager.projects.secrets.addVersion",
              "path": "v1/{+parent}:addVersion",
              "request": {
                "$ref": "AddSecretVersionRequest"
              },
              "description": "Creates a new SecretVersion containing secret data and attaches\nit to an existing Secret.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SecretVersion"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "description": "Required. The resource name of the Secret to associate with the\nSecretVersion in the format `projects/*/secrets/*`.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:addVersion"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/secrets",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/secrets",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource name of the project associated with the\nSecrets, in the format `projects/*`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to be returned in a single page. If\nset to 0, the server decides the number of results to return. If the\nnumber is greater than 25000, it is capped at 25000.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. Pagination token, returned earlier via\nListSecretsResponse.next_page_token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "secretmanager.projects.secrets.list",
              "response": {
                "$ref": "ListSecretsResponse"
              },
              "description": "Lists Secrets."
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path"
                },
                "options.requestedPolicyVersion": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                }
              },
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:getIamPolicy",
              "description": "Gets the access control policy for a secret.\nReturns empty policy if the secret exists and does not have a policy set.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "GET",
              "id": "secretmanager.projects.secrets.getIamPolicy"
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "id": "secretmanager.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "id": "secretmanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\",\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\"\n            },\n            {\n              \"log_type\": \"ADMIN_READ\"\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\",\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\"\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding.\n\nIf the condition evaluates to `true`, then this binding applies to the\ncurrent request.\n\nIf the condition evaluates to `false`, then this binding does not apply to\nthe current request. However, a different role binding might grant the same\nrole to one or more of the members in this binding.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members` with a `role`.",
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\"\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      }
    },
    "UserManaged": {
      "type": "object",
      "properties": {
        "replicas": {
          "items": {
            "$ref": "Replica"
          },
          "description": "Required. The list of Replicas for this Secret.\n\nCannot be empty.",
          "type": "array"
        }
      },
      "id": "UserManaged",
      "description": "A replication policy that replicates the Secret payload into the\nlocations specified in Secret.replication.user_managed.replicas"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "ListSecretsResponse": {
      "description": "Response message for SecretManagerService.ListSecrets.",
      "id": "ListSecretsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in\nListSecretsRequest.page_token to retrieve the next page."
        },
        "secrets": {
          "description": "The list of Secrets sorted in reverse by create_time (newest\nfirst).",
          "type": "array",
          "items": {
            "$ref": "Secret"
          }
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of Secrets."
        }
      }
    },
    "SecretVersion": {
      "type": "object",
      "description": "A secret version resource in the Secret Manager API.",
      "id": "SecretVersion",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the SecretVersion was created."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the SecretVersion in the\nformat `projects/*/secrets/*/versions/*`.\n\nSecretVersion IDs in a Secret start at 1 and\nare incremented for each subsequent version of the secret."
        },
        "state": {
          "description": "Output only. The current state of the SecretVersion.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DESTROYED"
          ],
          "enumDescriptions": [
            "Not specified. This value is unused and invalid.",
            "The SecretVersion may be accessed.",
            "The SecretVersion may not be accessed, but the secret data\nis still available and can be placed back into the ENABLED\nstate.",
            "The SecretVersion is destroyed and the secret data is no longer\nstored. A version may not leave this state once entered."
          ],
          "type": "string"
        },
        "destroyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this SecretVersion was destroyed.\nOnly present if state is\nDESTROYED."
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language\nsyntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "DestroySecretVersionRequest": {
      "properties": {},
      "id": "DestroySecretVersionRequest",
      "description": "Request message for SecretManagerService.DestroySecretVersion.",
      "type": "object"
    },
    "Automatic": {
      "description": "A replication policy that replicates the Secret payload without any\nrestrictions.",
      "id": "Automatic",
      "type": "object",
      "properties": {}
    },
    "AccessSecretVersionResponse": {
      "description": "Response message for SecretManagerService.AccessSecretVersion.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the SecretVersion in the format\n`projects/*/secrets/*/versions/*`."
        },
        "payload": {
          "description": "Secret payload",
          "$ref": "SecretPayload"
        }
      },
      "type": "object",
      "id": "AccessSecretVersionResponse"
    },
    "ListSecretVersionsResponse": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of SecretVersions."
        },
        "versions": {
          "items": {
            "$ref": "SecretVersion"
          },
          "type": "array",
          "description": "The list of SecretVersions sorted in reverse by\ncreate_time (newest first)."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in\nListSecretVersionsRequest.page_token to retrieve the next page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListSecretVersionsResponse",
      "description": "Response message for SecretManagerService.ListSecretVersions."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\n\n`paths: \"bindings, etag\"`"
        }
      }
    },
    "EnableSecretVersionRequest": {
      "properties": {},
      "id": "EnableSecretVersionRequest",
      "type": "object",
      "description": "Request message for SecretManagerService.EnableSecretVersion."
    },
    "Replication": {
      "id": "Replication",
      "type": "object",
      "description": "A policy that defines the replication configuration of data.\n",
      "properties": {
        "userManaged": {
          "description": "The Secret will only be replicated into the locations specified.",
          "$ref": "UserManaged"
        },
        "automatic": {
          "description": "The Secret will automatically be replicated without any restrictions.",
          "$ref": "Automatic"
        }
      }
    },
    "DisableSecretVersionRequest": {
      "id": "DisableSecretVersionRequest",
      "type": "object",
      "description": "Request message for SecretManagerService.DisableSecretVersion.",
      "properties": {}
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nFor some types of Google Cloud resources, a `binding` can also specify a\n`condition`, which is a logical expression that allows access to a resource\nonly if the expression evaluates to `true`. A condition can add constraints\nbased on attributes of the request, the resource, or both. To learn which\nresources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/resourcemanager.organizationViewer\",\n          \"members\": [\n            \"user:eve@example.com\"\n          ],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Secret": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the Secret was created."
        },
        "replication": {
          "description": "Required. Immutable. The replication policy of the secret data attached to the Secret.\n\nThe replication policy cannot be changed after the Secret has been created.",
          "$ref": "Replication"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this Secret.\n\nLabel keys must be between 1 and 63 characters long, have a UTF-8 encoding\nof maximum 128 bytes, and must conform to the following PCRE regular\nexpression: `\\p{Ll}\\p{Lo}{0,62}`\n\nLabel values must be between 0 and 63 characters long, have a UTF-8\nencoding of maximum 128 bytes, and must conform to the following PCRE\nregular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`\n\nNo more than 64 labels can be assigned to a given resource."
        }
      },
      "type": "object",
      "id": "Secret",
      "description": "A Secret is a logical secret whose value and versions can\nbe accessed.\n\nA Secret is made up of zero or more SecretVersions that\nrepresent the secret data."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "AddSecretVersionRequest": {
      "description": "Request message for SecretManagerService.AddSecretVersion.",
      "type": "object",
      "properties": {
        "payload": {
          "$ref": "SecretPayload",
          "description": "Required. The secret payload of the SecretVersion."
        }
      },
      "id": "AddSecretVersionRequest"
    },
    "Replica": {
      "properties": {
        "location": {
          "description": "The canonical IDs of the location to replicate data.\nFor example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Replica",
      "type": "object",
      "description": "Represents a Replica for this Secret."
    },
    "SecretPayload": {
      "description": "A secret payload resource in the Secret Manager API. This contains the\nsensitive secret payload that is associated with a SecretVersion.",
      "type": "object",
      "id": "SecretPayload",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The secret data. Must be no larger than 64KiB."
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "id": "secretmanager:v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://secretmanager.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "version_module": true
}
