{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Cloud Build API",
  "canonicalName": "Cloud Build",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "id": "cloudbuild:v1",
  "kind": "discovery#restDescription",
  "name": "cloudbuild",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20200831",
  "resources": {
    "projects": {
      "resources": {
        "triggers": {
          "methods": {
            "list": {
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "path": "v1/projects/{projectId}/triggers",
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "GET",
              "id": "cloudbuild.projects.triggers.list",
              "description": "Lists existing `BuildTrigger`s. This API is experimental.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Number of results to return in the list.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "required": true
                }
              }
            },
            "run": {
              "request": {
                "$ref": "RepoSource"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "description": "Runs a `BuildTrigger` at a particular source revision.",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "id": "cloudbuild.projects.triggers.run",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "required": true
                },
                "triggerId": {
                  "description": "Required. ID of the trigger.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "flatPath": "v1/projects/{projectId}/triggers",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project for which to configure automatic builds.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new `BuildTrigger`. This API is experimental.",
              "request": {
                "$ref": "BuildTrigger"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "id": "cloudbuild.projects.triggers.create",
              "path": "v1/projects/{projectId}/triggers",
              "response": {
                "$ref": "BuildTrigger"
              }
            },
            "patch": {
              "response": {
                "$ref": "BuildTrigger"
              },
              "request": {
                "$ref": "BuildTrigger"
              },
              "parameters": {
                "triggerId": {
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to update.",
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger.",
                  "location": "path"
                }
              },
              "id": "cloudbuild.projects.triggers.patch",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "httpMethod": "PATCH"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "id": "cloudbuild.projects.triggers.delete",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger."
                }
              },
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.get",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "required": true
                },
                "triggerId": {
                  "type": "string",
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Returns information about a `BuildTrigger`. This API is experimental.",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "resources": {
            "builds": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "id": "cloudbuild.projects.locations.builds.list",
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The raw filter text to constrain the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Number of results to return in the list."
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/builds"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "description": "Cancels a build in progress.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Build"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel"
                },
                "retry": {
                  "path": "v1/{+name}:retry",
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "request": {
                    "$ref": "RetryBuildRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "path": "v1/{+parent}/builds",
                  "id": "cloudbuild.projects.locations.builds.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
                  "request": {
                    "$ref": "CreateBuildRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.builds.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Build"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "location": "path"
                    },
                    "id": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the build."
                    }
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          }
        },
        "builds": {
          "methods": {
            "retry": {
              "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "type": "string",
                  "description": "Required. Build ID of the original build.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "request": {
                "$ref": "RetryBuildRequest"
              },
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudbuild.projects.builds.retry",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry"
            },
            "cancel": {
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "description": "Cancels a build in progress.",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the build.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "id": "cloudbuild.projects.builds.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelBuildRequest"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              },
              "httpMethod": "GET",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
              "path": "v1/projects/{projectId}/builds/{id}",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
                },
                "id": {
                  "type": "string",
                  "description": "Required. ID of the build.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "id": "cloudbuild.projects.builds.get"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`"
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1/projects/{projectId}/builds",
              "id": "cloudbuild.projects.builds.create",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
              "request": {
                "$ref": "Build"
              },
              "flatPath": "v1/projects/{projectId}/builds"
            },
            "list": {
              "flatPath": "v1/projects/{projectId}/builds",
              "path": "v1/projects/{projectId}/builds",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.builds.list",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Number of results to return in the list."
                },
                "parent": {
                  "location": "query",
                  "type": "string",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`"
                },
                "filter": {
                  "description": "The raw filter text to constrain the results.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "required": true
            }
          },
          "id": "cloudbuild.operations.cancel",
          "path": "v1/{+name}:cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "id": "cloudbuild.operations.get",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "StorageSource": {
      "description": "Location of the source in an archive file in Google Cloud Storage.",
      "properties": {
        "generation": {
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing the source. This object must be a gzipped archive file (`.tar.gz`) containing source to build."
        }
      },
      "id": "StorageSource",
      "type": "object"
    },
    "Notification": {
      "properties": {
        "structDelivery": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Escape hatch for users to supply custom delivery configs."
        },
        "slackDelivery": {
          "description": "Configuration for Slack delivery.",
          "$ref": "SlackDelivery"
        },
        "filter": {
          "type": "string",
          "description": "The filter string to use for notification filtering. Currently, this is assumed to be a CEL program. See https://opensource.google/projects/cel for more."
        },
        "httpDelivery": {
          "description": "Configuration for HTTP delivery.",
          "$ref": "HTTPDelivery"
        },
        "smtpDelivery": {
          "$ref": "SMTPDelivery",
          "description": "Configuration for SMTP (email) delivery."
        }
      },
      "id": "Notification",
      "type": "object",
      "description": "Notification is the container which holds the data that is relevant to this particular notification."
    },
    "SMTPDelivery": {
      "description": "SMTPDelivery is the delivery configuration for an SMTP (email) notification.",
      "properties": {
        "server": {
          "description": "The address of the SMTP server.",
          "type": "string"
        },
        "recipientAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This is the list of addresses to which we send the email (i.e. in the `To:` of the email)."
        },
        "senderAddress": {
          "type": "string",
          "description": "This is the SMTP account/email that is used to send the message."
        },
        "password": {
          "$ref": "NotifierSecretRef",
          "description": "The SMTP sender's password."
        },
        "fromAddress": {
          "type": "string",
          "description": "This is the SMTP account/email that appears in the `From:` of the email. If empty, it is assumed to be sender."
        },
        "port": {
          "description": "The SMTP port of the server.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SMTPDelivery"
    },
    "PushFilter": {
      "properties": {
        "tag": {
          "description": "Regexes matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "branch": {
          "description": "Regexes matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "invertRegex": {
          "description": "When true, only trigger a build if the revision regex does NOT match the git_ref regex.",
          "type": "boolean"
        }
      },
      "id": "PushFilter",
      "type": "object",
      "description": "Push contains filter properties for matching GitHub git pushes."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "Results": {
      "description": "Artifacts created by the build pipeline.",
      "properties": {
        "artifactTiming": {
          "$ref": "TimeSpan",
          "description": "Time to push all non-container artifacts."
        },
        "buildStepOutputs": {
          "type": "array",
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 4KB of data is stored.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "artifactManifest": {
          "type": "string",
          "description": "Path to the artifact manifest. Only populated when artifacts are uploaded."
        },
        "buildStepImages": {
          "description": "List of build step digests, in the order corresponding to build step indices.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numArtifacts": {
          "format": "int64",
          "description": "Number of artifacts uploaded. Only populated when artifacts are uploaded.",
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "BuiltImage"
          },
          "description": "Container images that were built as a part of the build."
        }
      },
      "id": "Results",
      "type": "object"
    },
    "BuildOperationMetadata": {
      "properties": {
        "build": {
          "description": "The build that the operation is tracking.",
          "$ref": "Build"
        }
      },
      "type": "object",
      "description": "Metadata for build operations.",
      "id": "BuildOperationMetadata"
    },
    "NotifierMetadata": {
      "type": "object",
      "id": "NotifierMetadata",
      "description": "NotifierMetadata contains the data which can be used to reference or describe this notifier.",
      "properties": {
        "notifier": {
          "description": "The string representing the name and version of notifier to deploy. Expected to be of the form of \"/:\". For example: \"gcr.io/my-project/notifiers/smtp:1.2.34\".",
          "type": "string"
        },
        "name": {
          "description": "The human-readable and user-given name for the notifier. For example: \"repo-merge-email-notifier\".",
          "type": "string"
        }
      }
    },
    "SourceProvenance": {
      "id": "SourceProvenance",
      "type": "object",
      "properties": {
        "fileHashes": {
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "RepoSource"
        },
        "resolvedStorageSource": {
          "$ref": "StorageSource",
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
        }
      },
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build."
    },
    "PullRequestFilter": {
      "properties": {
        "invertRegex": {
          "description": "If true, branches that do NOT match the git_ref will trigger a build.",
          "type": "boolean"
        },
        "branch": {
          "type": "string",
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "commentControl": {
          "type": "string",
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED"
          ],
          "description": "Configure builds to run whether a repository owner or collaborator need to comment `/gcbrun`.",
          "enumDescriptions": [
            "Do not require comments on Pull Requests before builds are triggered.",
            "Enforce that repository owners or collaborators must comment on Pull Requests before builds are triggered."
          ]
        }
      },
      "id": "PullRequestFilter",
      "type": "object",
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests."
    },
    "Source": {
      "properties": {
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "RepoSource"
        },
        "storageSource": {
          "$ref": "StorageSource",
          "description": "If provided, get the source from this location in Google Cloud Storage."
        }
      },
      "id": "Source",
      "description": "Location of the source in a supported storage service.",
      "type": "object"
    },
    "ArtifactObjects": {
      "properties": {
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Path globs used to match files in the build's workspace."
        },
        "timing": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects.",
          "readOnly": true
        }
      },
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "id": "ArtifactObjects",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ArtifactResult": {
      "id": "ArtifactResult",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The path of an artifact in a Google Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`."
        },
        "fileHash": {
          "items": {
            "$ref": "FileHashes"
          },
          "description": "The file hash of the artifact.",
          "type": "array"
        }
      },
      "description": "An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file."
    },
    "SlackDelivery": {
      "description": "SlackDelivery is the delivery configuration for delivering Slack messages via webhooks. See Slack webhook documentation at: https://api.slack.com/messaging/webhooks.",
      "id": "SlackDelivery",
      "properties": {
        "webhookUri": {
          "description": "The secret reference for the Slack webhook URI for sending messages to a channel.",
          "$ref": "NotifierSecretRef"
        }
      },
      "type": "object"
    },
    "BuildTrigger": {
      "id": "BuildTrigger",
      "properties": {
        "name": {
          "description": "User-assigned name of the trigger. Must be unique within the project. Trigger names must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
          "type": "string"
        },
        "triggerTemplate": {
          "$ref": "RepoSource",
          "description": "Template describing the types of source changes to trigger a build. Branch and tag names in trigger templates are interpreted as regular expressions. Any branch or tag change that matches that regular expression will trigger a build. Mutually exclusive with `github`."
        },
        "createTime": {
          "description": "Output only. Time when the trigger was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "disabled": {
          "type": "boolean",
          "description": "If true, the trigger will never automatically execute a build."
        },
        "description": {
          "description": "Human-readable description of this trigger.",
          "type": "string"
        },
        "build": {
          "description": "Contents of the build template.",
          "$ref": "Build"
        },
        "id": {
          "description": "Output only. Unique identifier of the trigger.",
          "type": "string",
          "readOnly": true
        },
        "filename": {
          "type": "string",
          "description": "Path, from the source root, to a file whose contents is used for the template."
        },
        "substitutions": {
          "description": "Substitutions for Build resource. The keys must match the following regular expression: `^_[A-Z0-9_]+$`.The keys cannot conflict with the keys in bindings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "github": {
          "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. Mutually exclusive with `trigger_template`.",
          "$ref": "GitHubEventsConfig"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `BuildTrigger`"
        },
        "includedFiles": {
          "items": {
            "type": "string"
          },
          "description": "If any of the files altered in the commit pass the ignored_files filter and included_files is empty, then as far as this filter is concerned, we should trigger the build. If any of the files altered in the commit pass the ignored_files filter and included_files is not empty, then we make sure that at least one of those files matches a included_files glob. If not, then we do not trigger a build.",
          "type": "array"
        },
        "ignoredFiles": {
          "type": "array",
          "description": "ignored_files and included_files are file glob matches using https://golang.org/pkg/path/filepath/#Match extended with support for \"**\". If ignored_files and changed files are both empty, then they are not used to determine whether or not to trigger a build. If ignored_files is not empty, then we ignore any files that match any of the ignored_file globs. If the change has no files that are outside of the ignored_files globs, then we do not trigger a build.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for an automated build in response to source repository changes.",
      "type": "object"
    },
    "ListBuildTriggersResponse": {
      "description": "Response containing existing `BuildTriggers`.",
      "id": "ListBuildTriggersResponse",
      "type": "object",
      "properties": {
        "triggers": {
          "description": "`BuildTriggers` for the project, sorted by `create_time` descending.",
          "type": "array",
          "items": {
            "$ref": "BuildTrigger"
          }
        },
        "nextPageToken": {
          "description": "Token to receive the next page of results.",
          "type": "string"
        }
      }
    },
    "NotifierSecret": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value is interpreted to be a resource path for fetching the actual (versioned) secret data for this secret. For example, this would be a Google Cloud Secret Manager secret version resource path like: \"projects/my-project/secrets/my-secret/versions/latest\"."
        },
        "name": {
          "description": "Name is the local name of the secret, such as the verbatim string \"my-smtp-password\".",
          "type": "string"
        }
      },
      "id": "NotifierSecret",
      "description": "NotifierSecret is the container that maps a secret name (reference) to its Google Cloud Secret Manager resource path."
    },
    "NotifierSecretRef": {
      "type": "object",
      "properties": {
        "secretRef": {
          "type": "string",
          "description": "The value of `secret_ref` should be a `name` that is registered in a `Secret` in the `secrets` list of the `Spec`."
        }
      },
      "id": "NotifierSecretRef",
      "description": "NotifierSecretRef contains the reference to a secret stored in the corresponding NotifierSpec."
    },
    "RetryBuildRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
        },
        "id": {
          "description": "Required. Build ID of the original build.",
          "type": "string"
        }
      },
      "description": "Specifies a build to retry.",
      "id": "RetryBuildRequest"
    },
    "ListBuildsResponse": {
      "description": "Response including listed builds.",
      "id": "ListBuildsResponse",
      "type": "object",
      "properties": {
        "builds": {
          "items": {
            "$ref": "Build"
          },
          "type": "array",
          "description": "Builds will be sorted by `create_time`, descending."
        },
        "nextPageToken": {
          "description": "Token to receive the next page of results.",
          "type": "string"
        }
      }
    },
    "NotifierConfig": {
      "description": "NotifierConfig is the top-level configuration message.",
      "id": "NotifierConfig",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of notifier to use (e.g. SMTPNotifier)."
        },
        "apiVersion": {
          "description": "The API version of this configuration format.",
          "type": "string"
        },
        "spec": {
          "$ref": "NotifierSpec",
          "description": "The actual configuration for this notifier."
        },
        "metadata": {
          "description": "Metadata for referring to/handling/deploying this notifier.",
          "$ref": "NotifierMetadata"
        }
      },
      "type": "object"
    },
    "FileHashes": {
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "description": "Collection of file hashes.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        }
      }
    },
    "TimeSpan": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "End of time span.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Start of time span.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "TimeSpan",
      "description": "Start and end times for a build execution phase."
    },
    "BuildStep": {
      "type": "object",
      "description": "A step in the build pipeline.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true,
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "enum": [
            "STATUS_UNKNOWN",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "entrypoint": {
          "type": "string",
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
        },
        "timing": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for executing this build step."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments."
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "TimeSpan",
          "readOnly": true
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "secretEnv": {
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
        }
      },
      "id": "BuildStep"
    },
    "Secret": {
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value.",
      "properties": {
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        },
        "secretEnv": {
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "type": "object",
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        }
      },
      "id": "Secret",
      "type": "object"
    },
    "BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Compute Engine machine type on which to run the build.",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32"
          ],
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs."
          ]
        },
        "logStreamingOption": {
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Google Cloud Storage.",
            "Build logs should not be streamed to Google Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Google Cloud Storage.",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "type": "string"
        },
        "requestedVerifyOption": {
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "enumDescriptions": [
            "Not a verifiable build. (default)",
            "Verified build."
          ],
          "type": "string",
          "description": "Requested verifiability options."
        },
        "dynamicSubstitutions": {
          "type": "boolean",
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file."
        },
        "secretEnv": {
          "type": "array",
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "items": {
            "type": "string"
          }
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 1000GB; builds that request more than the maximum are rejected with an error.",
          "format": "int64"
        },
        "volumes": {
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "workerPool": {
          "type": "string",
          "description": "Option to specify a `WorkerPool` for the build. Format: projects/{project}/locations/{location}/workerPools/{workerPool} This field is experimental."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "type": "array"
        },
        "logging": {
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Cloud Logging and Cloud Storage logging are enabled.",
            "Only Cloud Storage logging is enabled.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Only Cloud Logging is enabled. Note that logs for both the Cloud Console UI and Cloud SDK are based on Cloud Storage logs, so neither will provide logs if this option is chosen.",
            "Turn off all logging. No build logs will be captured. Next ID: 6"
          ]
        },
        "sourceProvenanceHash": {
          "description": "Requested hash for SourceProvenance.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash."
            ],
            "enum": [
              "NONE",
              "SHA256",
              "MD5"
            ],
            "type": "string"
          }
        },
        "substitutionOption": {
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "type": "string",
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ]
        }
      },
      "id": "BuildOptions",
      "type": "object"
    },
    "GitHubEventsConfig": {
      "id": "GitHubEventsConfig",
      "properties": {
        "owner": {
          "type": "string",
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\"."
        },
        "push": {
          "description": "filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "installationId": {
          "type": "string",
          "format": "int64",
          "description": "The installationID that emits the GitHub event."
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "filter to match changes in pull requests."
        },
        "name": {
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. This message is experimental."
    },
    "BuiltImage": {
      "id": "BuiltImage",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
        },
        "digest": {
          "type": "string",
          "description": "Docker Registry 2.0 digest."
        },
        "pushTiming": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified image.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An image built by the pipeline."
    },
    "Hash": {
      "id": "Hash",
      "description": "Container message for hash values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The hash value.",
          "format": "byte",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash."
          ],
          "description": "The type of hash that was performed.",
          "enum": [
            "NONE",
            "SHA256",
            "MD5"
          ],
          "type": "string"
        }
      }
    },
    "Build": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. This field is in alpha and is not publicly available."
        },
        "timing": {
          "additionalProperties": {
            "$ref": "TimeSpan"
          },
          "type": "object",
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps * PUSH: time to push all specified images. * FETCHSOURCE: time to fetch source. If the build does not specify source or images, these keys will not be included.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "readOnly": true,
          "type": "string"
        },
        "secrets": {
          "type": "array",
          "items": {
            "$ref": "Secret"
          },
          "description": "Secrets to decrypt using Cloud Key Management Service."
        },
        "steps": {
          "items": {
            "$ref": "BuildStep"
          },
          "type": "array",
          "description": "Required. The operations to be performed on the workspace."
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the build was received.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "options": {
          "$ref": "BuildOptions",
          "description": "Special options for this build."
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique identifier of the build.",
          "readOnly": true
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "Artifacts"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "logsBucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
        },
        "tags": {
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "description": "Output only. Status of the build.",
          "enum": [
            "STATUS_UNKNOWN",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "queueTtl": {
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "type": "string",
          "format": "google-duration"
        },
        "logUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URL to logs for this build in Google Cloud Console."
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is ten minutes."
        },
        "buildTriggerId": {
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "readOnly": true,
          "type": "string"
        },
        "substitutions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Substitutions data for `Build` resource.",
          "type": "object"
        },
        "projectId": {
          "description": "Output only. ID of the project.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Customer-readable message about the current status.",
          "readOnly": true
        },
        "sourceProvenance": {
          "description": "Output only. A permanent fixed identifier for source.",
          "readOnly": true,
          "$ref": "SourceProvenance"
        },
        "source": {
          "description": "The location of the source files to build.",
          "$ref": "Source"
        },
        "finishTime": {
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "results": {
          "description": "Output only. Results of the build.",
          "readOnly": true,
          "$ref": "Results"
        }
      },
      "type": "object",
      "id": "Build",
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "CreateBuildRequest": {
      "description": "Request to create a new build.",
      "type": "object",
      "id": "CreateBuildRequest",
      "properties": {
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "build": {
          "description": "Required. Build resource to create.",
          "$ref": "Build"
        }
      }
    },
    "Artifacts": {
      "id": "Artifacts",
      "type": "object",
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "properties": {
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ArtifactObjects"
        },
        "images": {
          "items": {
            "type": "string"
          },
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        }
      }
    },
    "HTTPDelivery": {
      "description": "HTTPDelivery is the delivery configuration for an HTTP notification.",
      "properties": {
        "uri": {
          "description": "The URI to which JSON-containing HTTP POST requests should be sent.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HTTPDelivery"
    },
    "RepoSource": {
      "type": "object",
      "properties": {
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "projectId": {
          "description": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "dir": {
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "repoName": {
          "description": "Required. Name of the Cloud Source Repository.",
          "type": "string"
        },
        "substitutions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        }
      },
      "id": "RepoSource",
      "description": "Location of the source in a Google Cloud Source Repository."
    },
    "NotifierSpec": {
      "id": "NotifierSpec",
      "description": "NotifierSpec is the configuration container for notifications.",
      "type": "object",
      "properties": {
        "notification": {
          "description": "The configuration of this particular notifier.",
          "$ref": "Notification"
        },
        "secrets": {
          "description": "Configurations for secret resources used by this particular notifier.",
          "items": {
            "$ref": "NotifierSecret"
          },
          "type": "array"
        }
      }
    },
    "CancelBuildRequest": {
      "type": "object",
      "description": "Request to cancel an ongoing build.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the build."
        },
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        }
      },
      "id": "CancelBuildRequest"
    }
  },
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version": "v1",
  "basePath": ""
}
