{
  "ownerDomain": "google.com",
  "rootUrl": "https://analyticsdata.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://analyticsdata.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "description": "Accesses report data in Google Analytics.",
  "id": "analyticsdata:v1alpha",
  "mtlsRootUrl": "https://analyticsdata.mtls.googleapis.com/",
  "name": "analyticsdata",
  "title": "Google Analytics Data API",
  "revision": "20201106",
  "canonicalName": "AnalyticsData",
  "resources": {
    "properties": {
      "methods": {
        "runRealtimeReport": {
          "description": "The Google Analytics Realtime API returns a customized report of realtime event data for your property. These reports show events and usage from the last 30 minutes.",
          "response": {
            "$ref": "RunRealtimeReportResponse"
          },
          "id": "analyticsdata.properties.runRealtimeReport",
          "parameterOrder": [
            "property"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+property}:runRealtimeReport",
          "request": {
            "$ref": "RunRealtimeReportRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "property": {
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "A Google Analytics GA4 property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/trusted-testing/analytics-data/property-id). Example: properties/1234"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}:runRealtimeReport"
        },
        "getMetadata": {
          "id": "analyticsdata.properties.getMetadata",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/metadata",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/metadata$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the metadata to retrieve. This name field is specified in the URL path and not URL parameters. Property is a numeric Google Analytics GA4 Property identifier. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/trusted-testing/analytics-data/property-id). Example: properties/1234/metadata Set the Property ID to 0 for dimensions and metrics common to all properties. In this special mode, this method will not return custom dimensions and metrics."
            }
          },
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. In this method, a Google Analytics GA4 Property Identifier is specified in the request, and the metadata response includes Custom dimensions and metrics as well as Universal metadata. For example if a custom metric with parameter name `levels_unlocked` is registered to a property, the Metadata response will contain `customEvent:levels_unlocked`. Universal metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "response": {
            "$ref": "Metadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    },
    "v1alpha": {
      "methods": {
        "batchRunReports": {
          "request": {
            "$ref": "BatchRunReportsRequest"
          },
          "flatPath": "v1alpha:batchRunReports",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchRunReportsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsdata.batchRunReports",
          "description": "Returns multiple reports in a batch. All reports must be for the same Entity.",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1alpha:batchRunReports"
        },
        "runPivotReport": {
          "path": "v1alpha:runPivotReport",
          "request": {
            "$ref": "RunPivotReportRequest"
          },
          "description": "Returns a customized pivot report of your Google Analytics event data. Pivot reports are more advanced and expressive formats than regular reports. In a pivot report, dimensions are only visible if they are included in a pivot. Multiple pivots can be specified to further dissect your data.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsdata.runPivotReport",
          "flatPath": "v1alpha:runPivotReport",
          "response": {
            "$ref": "RunPivotReportResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "runReport": {
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "RunReportResponse"
          },
          "flatPath": "v1alpha:runReport",
          "path": "v1alpha:runReport",
          "description": "Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name.",
          "httpMethod": "POST",
          "id": "analyticsdata.runReport",
          "request": {
            "$ref": "RunReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "batchRunPivotReports": {
          "request": {
            "$ref": "BatchRunPivotReportsRequest"
          },
          "id": "analyticsdata.batchRunPivotReports",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1alpha:batchRunPivotReports",
          "path": "v1alpha:batchRunPivotReports",
          "description": "Returns multiple pivot reports in a batch. All reports must be for the same Entity.",
          "parameters": {},
          "response": {
            "$ref": "BatchRunPivotReportsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "schemas": {
    "StringFilter": {
      "id": "StringFilter",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "matchType": {
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "description": "The filter for string",
      "type": "object"
    },
    "BatchRunPivotReportsRequest": {
      "id": "BatchRunPivotReportsRequest",
      "properties": {
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunPivotReportRequest may either be unspecified or consistent with this entity."
        },
        "requests": {
          "description": "Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests.",
          "type": "array",
          "items": {
            "$ref": "RunPivotReportRequest"
          }
        }
      },
      "type": "object",
      "description": "The batch request containing multiple pivot report requests."
    },
    "DimensionValue": {
      "type": "object",
      "description": "The value of a dimension.",
      "id": "DimensionValue",
      "properties": {
        "value": {
          "description": "Value as a string if the dimension type is a string.",
          "type": "string"
        }
      }
    },
    "RunRealtimeReportResponse": {
      "id": "RunRealtimeReportResponse",
      "properties": {
        "minimums": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "If requested, the minimum values of metrics."
        },
        "maximums": {
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the maximum values of metrics.",
          "type": "array"
        },
        "propertyQuota": {
          "description": "This Analytics Property's Realtime quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "metricHeaders": {
          "type": "array",
          "items": {
            "$ref": "MetricHeader"
          },
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "rowCount": {
          "description": "The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows.",
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report.",
          "items": {
            "$ref": "Row"
          }
        },
        "totals": {
          "type": "array",
          "description": "If requested, the totaled values of metrics.",
          "items": {
            "$ref": "Row"
          }
        },
        "dimensionHeaders": {
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array",
          "items": {
            "$ref": "DimensionHeader"
          }
        }
      },
      "type": "object",
      "description": "The response realtime report table corresponding to a request."
    },
    "DimensionExpression": {
      "type": "object",
      "properties": {
        "upperCase": {
          "description": "Used to convert a dimension value to upper case.",
          "$ref": "CaseExpression"
        },
        "lowerCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to lower case."
        },
        "concatenate": {
          "$ref": "ConcatenateExpression",
          "description": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "id": "DimensionExpression",
      "description": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2)."
    },
    "Row": {
      "description": "Report data for each row. For example if RunReportRequest contains: ```none \"dimensions\": [ { \"name\": \"eventName\" }, { \"name\": \"countryId\" } ], \"metrics\": [ { \"name\": \"eventCount\" } ] ``` One row with 'in_app_purchase' as the eventName, 'JP' as the countryId, and 15 as the eventCount, would be: ```none \"dimensionValues\": [ { \"value\": \"in_app_purchase\" }, { \"value\": \"JP\" } ], \"metricValues\": [ { \"value\": \"15\" } ] ```",
      "type": "object",
      "properties": {
        "metricValues": {
          "items": {
            "$ref": "MetricValue"
          },
          "type": "array",
          "description": "List of requested visible metric values."
        },
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of requested dimension values. In a PivotReport, dimension_values are only listed for dimensions included in a pivot."
        }
      },
      "id": "Row"
    },
    "MetricMetadata": {
      "id": "MetricMetadata",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of how this metric is used and calculated."
        },
        "expression": {
          "type": "string",
          "description": "The mathematical expression for this derived metric. Can be used in [Metric](#Metric)'s `expression` field for equivalent reports. Most metrics are not expressions, and for non-expressions, this field is empty."
        },
        "type": {
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ],
          "description": "The type of this metric."
        },
        "uiName": {
          "description": "This metric's name within the Google Analytics user interface. For example, `Event count`.",
          "type": "string"
        },
        "apiName": {
          "description": "A metric name. Useable in [Metric](#Metric)'s `name`. For example, `eventCount`.",
          "type": "string"
        },
        "deprecatedApiNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Still usable but deprecated names for this metric. If populated, this metric is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the metric will be available only by `apiName`."
        }
      },
      "description": "Explains a metric.",
      "type": "object"
    },
    "BetweenFilter": {
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "NumericValue"
        },
        "toValue": {
          "$ref": "NumericValue",
          "description": "Ends with this number."
        }
      },
      "id": "BetweenFilter",
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive)."
    },
    "NumericValue": {
      "description": "To represent a number.",
      "type": "object",
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Double value"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value"
        }
      },
      "id": "NumericValue"
    },
    "BatchRunReportsResponse": {
      "properties": {
        "reports": {
          "items": {
            "$ref": "RunReportResponse"
          },
          "description": "Individual responses. Each response has a separate report request.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchRunReportsResponse",
      "description": "The batch response containing multiple reports."
    },
    "InListFilter": {
      "type": "object",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "description": "The result needs to be in a list of string values.",
      "id": "InListFilter"
    },
    "MetricValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Measurement value. See MetricHeader for type."
        }
      },
      "id": "MetricValue",
      "type": "object",
      "description": "The value of a metric."
    },
    "RunPivotReportRequest": {
      "type": "object",
      "id": "RunPivotReportRequest",
      "description": "The request to generate a pivot report.",
      "properties": {
        "cohortSpec": {
          "$ref": "CohortSpec",
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present."
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        },
        "dateRanges": {
          "description": "The date range to retrieve event data for the report. If multiple date ranges are specified, event data from each date range is used in the report. A special dimension with field name \"dateRange\" can be included in a Pivot's field names; if included, the report compares between date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "items": {
            "$ref": "DateRange"
          },
          "type": "array"
        },
        "currencyCode": {
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency.",
          "type": "string"
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter."
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity."
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "The metrics requested, at least one metric needs to be specified. All defined metrics must be used by one of the following: metric_expression, metric_filter, order_bys."
        },
        "keepEmptyRows": {
          "type": "boolean",
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter."
        },
        "dimensions": {
          "type": "array",
          "description": "The dimensions requested. All defined dimensions must be used by one of the following: dimension_expression, dimension_filter, pivots, order_bys.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "pivots": {
          "description": "Describes the visual format of the report's dimensions in columns or rows. The union of the fieldNames (dimension names) in all pivots must be a subset of dimension names defined in Dimensions. No two pivots can share a dimension. A dimension is only visible if it appears in a pivot.",
          "items": {
            "$ref": "Pivot"
          },
          "type": "array"
        }
      }
    },
    "Pivot": {
      "properties": {
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return in this pivot. If unspecified, 10 rows are returned. If -1, all rows are returned."
        },
        "offset": {
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0.",
          "format": "int64"
        },
        "metricAggregations": {
          "items": {
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string"
          },
          "description": "Aggregate the metrics by dimensions in this pivot using the specified metric_aggregations.",
          "type": "array"
        },
        "orderBys": {
          "description": "Specifies how dimensions are ordered in the pivot. In the first Pivot, the OrderBys determine Row and PivotDimensionHeader ordering; in subsequent Pivots, the OrderBys determine only PivotDimensionHeader ordering. Dimensions specified in these OrderBys must be a subset of Pivot.field_names.",
          "type": "array",
          "items": {
            "$ref": "OrderBy"
          }
        },
        "fieldNames": {
          "description": "Dimension names for visible columns in the report response. Including \"dateRange\" produces a date range column; for each row in the response, dimension values in the date range column will indicate the corresponding date range from the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Describes the visible dimension columns and rows in the report response.",
      "id": "Pivot"
    },
    "RunReportRequest": {
      "description": "The request to generate a report.",
      "type": "object",
      "id": "RunReportRequest",
      "properties": {
        "limit": {
          "description": "The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned.",
          "format": "int64",
          "type": "string"
        },
        "dateRanges": {
          "items": {
            "$ref": "DateRange"
          },
          "type": "array",
          "description": "Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified."
        },
        "metrics": {
          "description": "The metrics requested and displayed.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "keepEmptyRows": {
          "type": "boolean",
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter."
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter."
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "OrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity."
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        },
        "currencyCode": {
          "type": "string",
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency."
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "The dimensions requested and displayed."
        },
        "offset": {
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0.",
          "format": "int64"
        },
        "dimensionFilter": {
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "cohortSpec": {
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.",
          "$ref": "CohortSpec"
        },
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string"
          }
        }
      }
    },
    "PivotOrderBy": {
      "type": "object",
      "description": "Sorts by a pivot column group.",
      "id": "PivotOrderBy",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "In the response to order by, order rows by this column. Must be a metric name from the request."
        },
        "pivotSelections": {
          "description": "Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair.",
          "type": "array",
          "items": {
            "$ref": "PivotSelection"
          }
        }
      }
    },
    "OrderBy": {
      "properties": {
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "DimensionOrderBy"
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "MetricOrderBy"
        },
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order."
        },
        "pivot": {
          "$ref": "PivotOrderBy",
          "description": "Sorts results by a metric's values within a pivot column group."
        }
      },
      "type": "object",
      "id": "OrderBy",
      "description": "The sort options."
    },
    "BatchRunReportsRequest": {
      "description": "The batch request containing multiple report requests.",
      "id": "BatchRunReportsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "RunReportRequest"
          },
          "type": "array",
          "description": "Individual requests. Each request has a separate report response. Each batch request is allowed up to 5 requests."
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunReportRequest may either be unspecified or consistent with this entity."
        }
      }
    },
    "FilterExpressionList": {
      "type": "object",
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "FilterExpression"
          },
          "description": "A list of filter expressions."
        }
      },
      "description": "A list of filter expressions.",
      "id": "FilterExpressionList"
    },
    "MetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "MetricHeader",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ],
          "type": "string",
          "description": "The metric's data type.",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ]
        },
        "name": {
          "type": "string",
          "description": "The metric's name."
        }
      }
    },
    "DateRange": {
      "description": "A contiguous set of days: startDate, startDate + 1, ..., endDate. Requests are allowed up to 4 date ranges.",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `start_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone."
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `end_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone.",
          "type": "string"
        },
        "name": {
          "description": "Assigns a name to this date range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, date ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DateRange"
    },
    "PivotHeader": {
      "properties": {
        "pivotDimensionHeaders": {
          "description": "The size is the same as the cardinality of the corresponding dimension combinations.",
          "type": "array",
          "items": {
            "$ref": "PivotDimensionHeader"
          }
        },
        "rowCount": {
          "type": "integer",
          "description": "The cardinality of the pivot as if offset = 0 and limit = -1. The total number of rows for this pivot's fields regardless of how the parameters offset and limit are specified in the request.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "PivotHeader",
      "description": "Dimensions' values in a single pivot."
    },
    "Metric": {
      "properties": {
        "invisible": {
          "type": "boolean",
          "description": "Indicates if a metric is invisible in the report response. If a metric is invisible, the metric will not produce a column in the response, but can be used in `metricFilter`, `orderBys`, or a metric `expression`."
        },
        "expression": {
          "description": "A mathematical expression for derived metrics. For example, the metric Event count per user is `eventCount/totalUsers`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the metric. See the [API Metrics](https://developers.google.com/analytics/trusted-testing/analytics-data/api-schema#metrics) for the list of metric names. If `expression` is specified, `name` can be any string that you would like. For example if `expression` is `screenPageViews/sessions`, you could call that metric's name = `viewsPerSession`. Metrics are referenced by `name` in `metricFilter`, `orderBys`, and metric `expression`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The quantitative measurements of a report. For example, the metric `eventCount` is the total number of events. Requests are allowed up to 10 metrics.",
      "id": "Metric"
    },
    "QuotaStatus": {
      "properties": {
        "remaining": {
          "type": "integer",
          "description": "Quota remaining after this request.",
          "format": "int32"
        },
        "consumed": {
          "description": "Quota consumed by this request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "QuotaStatus",
      "description": "Current state for a particular quota group."
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "properties": {
        "propertyId": {
          "description": "A Google Analytics GA4 property id. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/trusted-testing/analytics-data/property-id).",
          "type": "string"
        }
      },
      "description": "The unique identifier of the property whose events are tracked."
    },
    "RunPivotReportResponse": {
      "type": "object",
      "properties": {
        "propertyQuota": {
          "description": "This Analytics Property's quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "dimensionHeaders": {
          "type": "array",
          "items": {
            "$ref": "DimensionHeader"
          },
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        },
        "metadata": {
          "description": "Metadata for the report.",
          "$ref": "ResponseMetaData"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array"
        },
        "pivotHeaders": {
          "type": "array",
          "description": "Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: \"pivots\": [{ \"fieldNames\": [\"country\", \"city\"] }, { \"fieldNames\": \"eventName\" }] We will have the following `pivotHeaders` in the response: \"pivotHeaders\" : [{ \"dimensionHeaders\": [{ \"dimensionValues\": [ { \"value\": \"United Kingdom\" }, { \"value\": \"London\" } ] }, { \"dimensionValues\": [ { \"value\": \"Japan\" }, { \"value\": \"Osaka\" } ] }] }, { \"dimensionHeaders\": [{ \"dimensionValues\": [{ \"value\": \"session_start\" }] }, { \"dimensionValues\": [{ \"value\": \"scroll\" }] }] }]",
          "items": {
            "$ref": "PivotHeader"
          }
        },
        "metricHeaders": {
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array",
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "aggregates": {
          "items": {
            "$ref": "Row"
          },
          "description": "Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to \"RESERVED_\".",
          "type": "array"
        }
      },
      "id": "RunPivotReportResponse",
      "description": "The response pivot report table corresponding to a pivot request."
    },
    "PivotSelection": {
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Must be a dimension name from the request."
        },
        "dimensionValue": {
          "type": "string",
          "description": "Order by only when the named dimension is this value."
        }
      },
      "description": "A pair of dimension names and values. Rows with this dimension pivot pair are ordered by the metric's value. For example if pivots = {{\"browser\", \"Chrome\"}} and metric_name = \"Sessions\", then the rows will be sorted based on Sessions in Chrome. ---------|----------|----------------|----------|---------------- | Chrome | Chrome | Safari | Safari ---------|----------|----------------|----------|---------------- Country | Sessions | Pages/Sessions | Sessions | Pages/Sessions ---------|----------|----------------|----------|---------------- US | 2 | 2 | 3 | 1 ---------|----------|----------------|----------|---------------- Canada | 3 | 1 | 4 | 1 ---------|----------|----------------|----------|----------------",
      "id": "PivotSelection",
      "type": "object"
    },
    "ResponseMetaData": {
      "id": "ResponseMetaData",
      "description": "Response's metadata carrying additional information about the report content.",
      "properties": {
        "dataLossFromOtherRow": {
          "description": "If true, indicates some buckets of dimension combinations are rolled into \"(other)\" row. This can happen for high cardinality reports.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PropertyQuota": {
      "type": "object",
      "properties": {
        "tokensPerDay": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties can use up to 25,000 tokens per day; Analytics 360 Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens."
        },
        "concurrentRequests": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties can send up to 10 concurrent requests; Analytics 360 Properties can use up to 50 concurrent requests."
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties and cloud project pairs can have up to 10 server errors per hour; Analytics 360 Properties and cloud project pairs can have up to 50 server errors per hour."
        },
        "tokensPerHour": {
          "description": "Standard Analytics Properties can use up to 5,000 tokens per day; Analytics 360 Properties can use 50,000 tokens per day. An API request consumes a single number of tokens, and that number is deducted from both the hourly and daily quotas.",
          "$ref": "QuotaStatus"
        }
      },
      "description": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "id": "PropertyQuota"
    },
    "CohortsRange": {
      "properties": {
        "startOffset": {
          "description": "For daily cohorts, this will be the start day offset. For weekly cohorts, this will be the week offset.",
          "type": "integer",
          "format": "int32"
        },
        "endOffset": {
          "description": "For daily cohorts, this will be the end day offset. For weekly cohorts, this will be the week offset.",
          "type": "integer",
          "format": "int32"
        },
        "granularity": {
          "enum": [
            "GRANULARITY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Daily",
            "Weekly",
            "Monthly"
          ],
          "type": "string",
          "description": "Reporting date range for each cohort is calculated based on these three fields."
        }
      },
      "id": "CohortsRange",
      "description": "Describes date range for a cohort report.",
      "type": "object"
    },
    "ConcatenateExpression": {
      "properties": {
        "dimensionNames": {
          "description": "Names of dimensions. The names must refer back to names in the dimensions field of the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "delimiter": {
          "description": "The delimiter placed between dimension names. Delimiters are often single characters such as \"|\" or \",\" but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = \"US,FR\", dimension 2 value = \"JP\", and delimiter = \",\", then the response will contain \"US,FR,JP\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Used to combine dimension values to a single dimension.",
      "id": "ConcatenateExpression"
    },
    "RunReportResponse": {
      "type": "object",
      "properties": {
        "dimensionHeaders": {
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "maximums": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the maximum values of metrics."
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Analytics Property's quota state including this request."
        },
        "minimums": {
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the minimum values of metrics.",
          "type": "array"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "metricHeaders": {
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array"
        },
        "rowCount": {
          "description": "The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows.",
          "type": "integer",
          "format": "int32"
        },
        "totals": {
          "type": "array",
          "description": "If requested, the totaled values of metrics.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "id": "RunReportResponse",
      "description": "The response report table corresponding to a request."
    },
    "FilterExpression": {
      "type": "object",
      "description": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "A primitive filter. All fields in filter in same FilterExpression needs to be either all dimensions or metrics."
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "FilterExpression"
        },
        "orGroup": {
          "description": "The FilterExpressions in or_group have an OR relationship.",
          "$ref": "FilterExpressionList"
        },
        "andGroup": {
          "description": "The FilterExpressions in and_group have an AND relationship.",
          "$ref": "FilterExpressionList"
        }
      },
      "id": "FilterExpression"
    },
    "Dimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/trusted-testing/analytics-data/api-schema#dimensions) for the list of dimension names. If `dimensionExpression` is specified, `name` can be any string that you would like. For example if a `dimensionExpression` concatenates `country` and `city`, you could call that dimension `countryAndCity`. Dimensions are referenced by `name` in `dimensionFilter`, `orderBys`, `dimensionExpression`, and `pivots`."
        },
        "dimensionExpression": {
          "$ref": "DimensionExpression",
          "description": "One dimension can be the result of an expression of multiple dimensions. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "id": "Dimension",
      "type": "object",
      "description": "Dimensions are attributes of your data. For example, the dimension city indicates the city from which an event originates. Dimension values in report responses are strings; for example, city could be \"Paris\" or \"New York\". Requests are allowed up to 8 dimensions."
    },
    "CohortSpec": {
      "type": "object",
      "description": "Specification for a cohort report.",
      "properties": {
        "cohorts": {
          "type": "array",
          "items": {
            "$ref": "Cohort"
          },
          "description": "The definition for the cohorts."
        },
        "cohortsRange": {
          "$ref": "CohortsRange",
          "description": "The data ranges of cohorts."
        },
        "cohortReportSettings": {
          "description": "Settings of a cohort report.",
          "$ref": "CohortReportSettings"
        }
      },
      "id": "CohortSpec"
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "description": "The dimensions and metrics currently accepted in reporting methods.",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "MetricMetadata"
          },
          "type": "array",
          "description": "The metric descriptions."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this metadata."
        },
        "dimensions": {
          "description": "The dimension descriptions.",
          "type": "array",
          "items": {
            "$ref": "DimensionMetadata"
          }
        }
      }
    },
    "DimensionOrderBy": {
      "id": "DimensionOrderBy",
      "properties": {
        "orderType": {
          "description": "Controls the rule for dimension value ordering.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ]
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      },
      "description": "Sorts by dimension values.",
      "type": "object"
    },
    "PivotDimensionHeader": {
      "id": "PivotDimensionHeader",
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "Values of multiple dimensions in a pivot.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Summarizes dimension values from a row for this pivot."
    },
    "DimensionHeader": {
      "properties": {
        "name": {
          "description": "The dimension's name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "id": "DimensionHeader"
    },
    "Filter": {
      "description": "An expression to filter dimension or metric values.",
      "type": "object",
      "id": "Filter",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name. Must be a name defined in dimensions or metrics."
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "InListFilter"
        },
        "stringFilter": {
          "$ref": "StringFilter",
          "description": "Strings related filter."
        },
        "numericFilter": {
          "$ref": "NumericFilter",
          "description": "A filter for numeric or date values."
        },
        "nullFilter": {
          "type": "boolean",
          "description": "A filter for null values. If True, a null dimension value is matched by this filter. Null filter is commonly used inside a NOT filter expression. For example, a NOT expression of a null filter removes rows when a dimension is null."
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "BetweenFilter"
        }
      }
    },
    "CaseExpression": {
      "type": "object",
      "id": "CaseExpression",
      "description": "Used to convert a dimension value to a single case.",
      "properties": {
        "dimensionName": {
          "description": "Name of a dimension. The name must refer back to a name in dimensions field of the request.",
          "type": "string"
        }
      }
    },
    "BatchRunPivotReportsResponse": {
      "description": "The batch response containing multiple pivot reports.",
      "id": "BatchRunPivotReportsResponse",
      "type": "object",
      "properties": {
        "pivotReports": {
          "description": "Individual responses. Each response has a separate pivot report request.",
          "type": "array",
          "items": {
            "$ref": "RunPivotReportResponse"
          }
        }
      }
    },
    "CohortReportSettings": {
      "type": "object",
      "properties": {
        "accumulate": {
          "type": "boolean",
          "description": "If true, accumulates the result from first visit day to the end day. Not supported in `RunReportRequest`."
        }
      },
      "id": "CohortReportSettings",
      "description": "Settings of a cohort report."
    },
    "NumericFilter": {
      "properties": {
        "operation": {
          "description": "The operation type for this filter.",
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        },
        "value": {
          "$ref": "NumericValue",
          "description": "A numeric value or a date value."
        }
      },
      "description": "Filters for numeric or date values.",
      "type": "object",
      "id": "NumericFilter"
    },
    "RunRealtimeReportRequest": {
      "id": "RunRealtimeReportRequest",
      "description": "The request to generate a realtime report.",
      "properties": {
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "type": "array",
          "items": {
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ]
          }
        },
        "dimensions": {
          "description": "The dimensions requested and displayed.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "orderBys": {
          "description": "Specifies how rows are ordered in the response.",
          "items": {
            "$ref": "OrderBy"
          },
          "type": "array"
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned."
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter."
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's Realtime quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        },
        "metrics": {
          "description": "The metrics requested and displayed.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Cohort": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc."
        },
        "dimension": {
          "description": "The dimension used by cohort. Only supports `firstTouchDate` for retention report.",
          "type": "string"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The cohort selects users whose first visit date is between start date and end date defined in the `dateRange`. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. The date range should be aligned with the cohort's granularity. If CohortsRange uses daily granularity, the date range can be aligned to any day. If CohortsRange uses weekly granularity, the date range should be aligned to the week boundary, starting at Sunday and ending Saturday. If CohortsRange uses monthly granularity, the date range should be aligned to the month, starting at the first and ending on the last day of the month."
        }
      },
      "type": "object",
      "description": "Defines a cohort. A cohort is a group of users who share a common characteristic. For example, all users with the same acquisition date belong to the same cohort.",
      "id": "Cohort"
    },
    "MetricOrderBy": {
      "id": "MetricOrderBy",
      "type": "object",
      "description": "Sorts by metric values.",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      }
    },
    "DimensionMetadata": {
      "type": "object",
      "properties": {
        "deprecatedApiNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`."
        },
        "uiName": {
          "description": "This dimension's name within the Google Analytics user interface. For example, `Event name`.",
          "type": "string"
        },
        "description": {
          "description": "Description of how this dimension is used and calculated.",
          "type": "string"
        },
        "apiName": {
          "type": "string",
          "description": "This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`."
        }
      },
      "id": "DimensionMetadata",
      "description": "Explains a dimension."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/analytics/trusted-testing/analytics-data/"
}
