{
  "version_module": true,
  "resources": {
    "v1alpha": {
      "methods": {
        "runPivotReport": {
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "RunPivotReportRequest"
          },
          "response": {
            "$ref": "RunPivotReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha:runPivotReport",
          "description": "Returns a customized pivot report of your Google Analytics event data. Pivot reports are more advanced and expressive formats than regular reports. In a pivot report, dimensions are only visible if they are included in a pivot. Multiple pivots can be specified to further dissect your data.",
          "id": "analyticsdata.runPivotReport",
          "flatPath": "v1alpha:runPivotReport",
          "httpMethod": "POST"
        },
        "runReport": {
          "id": "analyticsdata.runReport",
          "parameters": {},
          "parameterOrder": [],
          "path": "v1alpha:runReport",
          "httpMethod": "POST",
          "response": {
            "$ref": "RunReportResponse"
          },
          "description": "Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "request": {
            "$ref": "RunReportRequest"
          },
          "flatPath": "v1alpha:runReport"
        },
        "batchRunPivotReports": {
          "id": "analyticsdata.batchRunPivotReports",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns multiple pivot reports in a batch. All reports must be for the same Entity.",
          "path": "v1alpha:batchRunPivotReports",
          "request": {
            "$ref": "BatchRunPivotReportsRequest"
          },
          "flatPath": "v1alpha:batchRunPivotReports",
          "response": {
            "$ref": "BatchRunPivotReportsResponse"
          },
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "batchRunReports": {
          "request": {
            "$ref": "BatchRunReportsRequest"
          },
          "path": "v1alpha:batchRunReports",
          "flatPath": "v1alpha:batchRunReports",
          "response": {
            "$ref": "BatchRunReportsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns multiple reports in a batch. All reports must be for the same Entity.",
          "parameters": {},
          "id": "analyticsdata.batchRunReports"
        },
        "getUniversalMetadata": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. Dimensions and metrics will be mostly added over time, but renames and deletions may occur. This method returns Universal Metadata. Universal Metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "path": "v1alpha/universalMetadata",
          "httpMethod": "GET",
          "id": "analyticsdata.getUniversalMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "UniversalMetadata"
          },
          "flatPath": "v1alpha/universalMetadata"
        }
      }
    }
  },
  "title": "Google Analytics Data API",
  "id": "analyticsdata:v1alpha",
  "documentationLink": "https://developers.google.com/analytics/trusted-testing/analytics-data/",
  "name": "analyticsdata",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://analyticsdata.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "AnalyticsData",
  "baseUrl": "https://analyticsdata.googleapis.com/",
  "description": "Accesses report data in Google Analytics.",
  "basePath": "",
  "schemas": {
    "Dimension": {
      "id": "Dimension",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "dimensionExpression": {
          "$ref": "DimensionExpression",
          "description": "One dimension can be the result of an expression of multiple dimensions. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "description": "Dimensions are attributes of your data. For example, the dimension City indicates the city, for example, \"Paris\" or \"New York\", from which an event originates. Requests are allowed up to 8 dimensions."
    },
    "BatchRunReportsResponse": {
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "description": "Individual responses. Each response has a separate report request.",
          "items": {
            "$ref": "RunReportResponse"
          }
        }
      },
      "id": "BatchRunReportsResponse",
      "description": "The batch response containing multiple reports."
    },
    "MetricMetadata": {
      "description": "Explains a metric.",
      "properties": {
        "uiName": {
          "type": "string",
          "description": "This metric's name within the Google Analytics user interface. For example, `Event count`."
        },
        "deprecatedApiNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Still usable but deprecated names for this metric. If populated, this metric is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the metric will be available only by `apiName`."
        },
        "description": {
          "type": "string",
          "description": "Description of how this metric is used and calculated."
        },
        "type": {
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_CURRENCY"
          ],
          "description": "The type of this metric.",
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "An amount of money; a special floating point type."
          ]
        },
        "apiName": {
          "type": "string",
          "description": "A metric name. Useable in [Metric](#Metric)'s `name`. For example, `eventCount`."
        },
        "expression": {
          "type": "string",
          "description": "The mathematical expression for this derived metric. Can be used in [Metric](#Metric)'s `expression` field for equivalent reports. Most metrics are not expressions, and for non-expressions, this field is empty."
        }
      },
      "id": "MetricMetadata",
      "type": "object"
    },
    "CohortSpec": {
      "description": "Specification for a cohort report.",
      "properties": {
        "cohortsRange": {
          "description": "The data ranges of cohorts.",
          "$ref": "CohortsRange"
        },
        "cohortReportSettings": {
          "$ref": "CohortReportSettings",
          "description": "Settings of a cohort report."
        },
        "cohorts": {
          "type": "array",
          "items": {
            "$ref": "Cohort"
          },
          "description": "The definition for the cohorts."
        }
      },
      "id": "CohortSpec",
      "type": "object"
    },
    "PivotOrderBy": {
      "properties": {
        "pivotSelections": {
          "description": "Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair.",
          "items": {
            "$ref": "PivotSelection"
          },
          "type": "array"
        },
        "metricName": {
          "type": "string",
          "description": "In the response to order by, order rows by this column. Must be a metric name from the request."
        }
      },
      "description": "Sorts by a pivot column group.",
      "id": "PivotOrderBy",
      "type": "object"
    },
    "ConcatenateExpression": {
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "The delimiter placed between dimension names. Delimiters are often single characters such as \"|\" or \",\" but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = \"US,FR\", dimension 2 value = \"JP\", and delimiter = \",\", then the response will contain \"US,FR,JP\"."
        },
        "dimensionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of dimensions. The names must refer back to names in the dimensions field of the request."
        }
      },
      "type": "object",
      "id": "ConcatenateExpression",
      "description": "Used to combine dimension values to a single dimension."
    },
    "Metric": {
      "properties": {
        "expression": {
          "description": "A mathematical expression for derived metrics. For example, the metric Event count per user is eventCount/totalUsers.",
          "type": "string"
        },
        "invisible": {
          "type": "boolean",
          "description": "Indicates if a metric is invisible. If a metric is invisible, the metric is not in the response, but can be used in filters, order_bys or being referred to in a metric expression."
        },
        "name": {
          "type": "string",
          "description": "The name of the metric."
        }
      },
      "type": "object",
      "id": "Metric",
      "description": "The quantitative measurements of a report. For example, the metric eventCount is the total number of events. Requests are allowed up to 10 metrics."
    },
    "CohortsRange": {
      "id": "CohortsRange",
      "type": "object",
      "properties": {
        "granularity": {
          "enumDescriptions": [
            "Unspecified.",
            "Daily",
            "Weekly",
            "Monthly"
          ],
          "enum": [
            "GRANULARITY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ],
          "type": "string",
          "description": "Reporting date range for each cohort is calculated based on these three fields."
        },
        "endOffset": {
          "format": "int32",
          "description": "For daily cohorts, this will be the end day offset. For weekly cohorts, this will be the week offset.",
          "type": "integer"
        },
        "startOffset": {
          "format": "int32",
          "type": "integer",
          "description": "For daily cohorts, this will be the start day offset. For weekly cohorts, this will be the week offset."
        }
      },
      "description": "Describes date range for a cohort report."
    },
    "RunPivotReportRequest": {
      "id": "RunPivotReportRequest",
      "type": "object",
      "properties": {
        "metricFilter": {
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "pivots": {
          "type": "array",
          "description": "Describes the visual format of the report's dimensions in columns or rows. The union of the fieldNames (dimension names) in all pivots must be a subset of dimension names defined in Dimensions. No two pivots can share a dimension. A dimension is only visible if it appears in a pivot.",
          "items": {
            "$ref": "Pivot"
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "The metrics requested, at least one metric needs to be specified. All defined metrics must be used by one of the following: metric_expression, metric_filter, order_bys."
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        },
        "dimensions": {
          "type": "array",
          "description": "The dimensions requested. All defined dimensions must be used by one of the following: dimension_expression, dimension_filter, pivots, order_bys.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity."
        },
        "cohortSpec": {
          "$ref": "CohortSpec",
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present."
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.",
          "type": "boolean"
        },
        "dateRanges": {
          "items": {
            "$ref": "DateRange"
          },
          "description": "The date range to retrieve event data for the report. If multiple date ranges are specified, event data from each date range is used in the report. A special dimension with field name \"dateRange\" can be included in a Pivot's field names; if included, the report compares between date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "type": "array"
        },
        "currencyCode": {
          "type": "string",
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency."
        }
      },
      "description": "The request to generate a pivot report."
    },
    "FilterExpression": {
      "description": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.",
      "properties": {
        "filter": {
          "description": "A primitive filter. All fields in filter in same FilterExpression needs to be either all dimensions or metrics.",
          "$ref": "Filter"
        },
        "andGroup": {
          "description": "The FilterExpressions in and_group have an AND relationship.",
          "$ref": "FilterExpressionList"
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "FilterExpression"
        },
        "orGroup": {
          "description": "The FilterExpressions in or_group have an OR relationship.",
          "$ref": "FilterExpressionList"
        }
      },
      "id": "FilterExpression",
      "type": "object"
    },
    "PivotHeader": {
      "id": "PivotHeader",
      "description": "Dimensions' values in a single pivot.",
      "properties": {
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The cardinality of the pivot as if offset = 0 and limit = -1. The total number of rows for this pivot's fields regardless of how the parameters offset and limit are specified in the request."
        },
        "pivotDimensionHeaders": {
          "type": "array",
          "items": {
            "$ref": "PivotDimensionHeader"
          },
          "description": "The size is the same as the cardinality of the corresponding dimension combinations."
        }
      },
      "type": "object"
    },
    "BatchRunPivotReportsResponse": {
      "type": "object",
      "description": "The batch response containing multiple pivot reports.",
      "id": "BatchRunPivotReportsResponse",
      "properties": {
        "pivotReports": {
          "type": "array",
          "items": {
            "$ref": "RunPivotReportResponse"
          },
          "description": "Individual responses. Each response has a separate pivot report request."
        }
      }
    },
    "CaseExpression": {
      "description": "Used to convert a dimension value to a single case.",
      "id": "CaseExpression",
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Name of a dimension. The name must refer back to a name in dimensions field of the request."
        }
      }
    },
    "Cohort": {
      "properties": {
        "dimension": {
          "description": "The dimension used by cohort. Only supports `firstTouchDate` for retention report.",
          "type": "string"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The cohort selects users whose first visit date is between start date and end date defined in the `dateRange`. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. The date range should be aligned with the cohort's granularity. If CohortsRange uses daily granularity, the date range can be aligned to any day. If CohortsRange uses weekly granularity, the date range should be aligned to the week boundary, starting at Sunday and ending Saturday. If CohortsRange uses monthly granularity, the date range should be aligned to the month, starting at the first and ending on the last day of the month."
        },
        "name": {
          "type": "string",
          "description": "Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc."
        }
      },
      "id": "Cohort",
      "description": "Defines a cohort. A cohort is a group of users who share a common characteristic. For example, all users with the same acquisition date belong to the same cohort.",
      "type": "object"
    },
    "DimensionOrderBy": {
      "id": "DimensionOrderBy",
      "description": "Sorts by dimension values.",
      "type": "object",
      "properties": {
        "orderType": {
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "description": "Controls the rule for dimension value ordering.",
          "type": "string"
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      }
    },
    "NumericFilter": {
      "description": "Filters for numeric or date values.",
      "id": "NumericFilter",
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "description": "The operation type for this filter."
        },
        "value": {
          "$ref": "NumericValue",
          "description": "A numeric value or a date value."
        }
      },
      "type": "object"
    },
    "DimensionHeader": {
      "id": "DimensionHeader",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "name": {
          "description": "The dimension's name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InListFilter": {
      "description": "The result needs to be in a list of string values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "type": "object",
      "id": "InListFilter"
    },
    "MetricValue": {
      "description": "The value of a metric.",
      "properties": {
        "value": {
          "description": "Measurement value. See MetricHeader for type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MetricValue"
    },
    "BatchRunPivotReportsRequest": {
      "properties": {
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunPivotReportRequest may either be unspecified or consistent with this entity."
        },
        "requests": {
          "items": {
            "$ref": "RunPivotReportRequest"
          },
          "type": "array",
          "description": "Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests."
        }
      },
      "type": "object",
      "id": "BatchRunPivotReportsRequest",
      "description": "The batch request containing multiple pivot report requests."
    },
    "Row": {
      "id": "Row",
      "description": "Report data for each row. For example if RunReportRequest contains: ```none dimensions { name: \"eventName\" } dimensions { name: \"countryId\" } metrics { name: \"eventCount\" } ``` One row with 'in_app_purchase' as the eventName, 'us' as the countryId, and 15 as the eventCount, would be: ```none dimension_values { name: 'in_app_purchase' name: 'us' } metric_values { int64_value: 15 } ```",
      "type": "object",
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of requested dimension values. In a PivotReport, dimension_values are only listed for dimensions included in a pivot.",
          "type": "array"
        },
        "metricValues": {
          "items": {
            "$ref": "MetricValue"
          },
          "type": "array",
          "description": "List of requested visible metric values."
        }
      }
    },
    "BatchRunReportsRequest": {
      "description": "The batch request containing multiple report requests.",
      "type": "object",
      "id": "BatchRunReportsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "RunReportRequest"
          },
          "description": "Individual requests. Each request has a separate report response. Each batch request is allowed up to 5 requests.",
          "type": "array"
        },
        "entity": {
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunReportRequest may either be unspecified or consistent with this entity.",
          "$ref": "Entity"
        }
      }
    },
    "PropertyQuota": {
      "id": "PropertyQuota",
      "description": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "description": "Analytics Properties and cloud project pairs can have up to 10 server errors per hour.",
          "$ref": "QuotaStatus"
        },
        "concurrentRequests": {
          "description": "Analytics Properties can send up to 10 concurrent requests.",
          "$ref": "QuotaStatus"
        },
        "tokensPerHour": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can use up to 5,000 tokens per day. An API request consumes a single number of tokens, and that number is deducted from both the hourly and daily quotas."
        },
        "tokensPerDay": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can use up to 25,000 tokens per day. Most requests consume fewer than 10 tokens."
        }
      },
      "type": "object"
    },
    "PivotSelection": {
      "description": "A pair of dimension names and values. Rows with this dimension pivot pair are ordered by the metric's value. For example if pivots = {{\"browser\", \"Chrome\"}} and metric_name = \"Sessions\", then the rows will be sorted based on Sessions in Chrome. ---------|----------|----------------|----------|---------------- | Chrome | Chrome | Safari | Safari ---------|----------|----------------|----------|---------------- Country | Sessions | Pages/Sessions | Sessions | Pages/Sessions ---------|----------|----------------|----------|---------------- US | 2 | 2 | 3 | 1 ---------|----------|----------------|----------|---------------- Canada | 3 | 1 | 4 | 1 ---------|----------|----------------|----------|----------------",
      "id": "PivotSelection",
      "type": "object",
      "properties": {
        "dimensionValue": {
          "type": "string",
          "description": "Order by only when the named dimension is this value."
        },
        "dimensionName": {
          "description": "Must be a dimension name from the request.",
          "type": "string"
        }
      }
    },
    "OrderBy": {
      "description": "The sort options.",
      "type": "object",
      "id": "OrderBy",
      "properties": {
        "desc": {
          "description": "If true, sorts by descending order.",
          "type": "boolean"
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "MetricOrderBy"
        },
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "DimensionOrderBy"
        },
        "pivot": {
          "$ref": "PivotOrderBy",
          "description": "Sorts results by a metric's values within a pivot column group."
        }
      }
    },
    "DimensionValue": {
      "type": "object",
      "id": "DimensionValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value as a string if the dimension type is a string."
        }
      },
      "description": "The value of a dimension."
    },
    "BetweenFilter": {
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "NumericValue"
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "NumericValue"
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "BetweenFilter",
      "type": "object"
    },
    "Pivot": {
      "description": "Describes the visible dimension columns and rows in the report response.",
      "id": "Pivot",
      "properties": {
        "orderBys": {
          "type": "array",
          "description": "Specifies how dimensions are ordered in the pivot. In the first Pivot, the OrderBys determine Row and PivotDimensionHeader ordering; in subsequent Pivots, the OrderBys determine only PivotDimensionHeader ordering. Dimensions specified in these OrderBys must be a subset of Pivot.field_names.",
          "items": {
            "$ref": "OrderBy"
          }
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0.",
          "type": "string"
        },
        "limit": {
          "description": "The number of rows to return in this pivot. If unspecified, 10 rows are returned. If -1, all rows are returned.",
          "type": "string",
          "format": "int64"
        },
        "fieldNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimension names for visible columns in the report response. Including \"dateRange\" produces a date range column; for each row in the response, dimension values in the date range column will indicate the corresponding date range from the request."
        },
        "metricAggregations": {
          "type": "array",
          "description": "Aggregate the metrics by dimensions in this pivot using the specified metric_aggregations.",
          "items": {
            "type": "string",
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ]
          }
        }
      },
      "type": "object"
    },
    "DimensionExpression": {
      "type": "object",
      "properties": {
        "lowerCase": {
          "description": "Used to convert a dimension value to lower case.",
          "$ref": "CaseExpression"
        },
        "upperCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to upper case."
        },
        "concatenate": {
          "description": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city).",
          "$ref": "ConcatenateExpression"
        }
      },
      "id": "DimensionExpression",
      "description": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2)."
    },
    "MetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric's name."
        },
        "type": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_CURRENCY"
          ],
          "type": "string",
          "description": "The metric's data type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "An amount of money; a special floating point type."
          ]
        }
      },
      "id": "MetricHeader"
    },
    "RunReportRequest": {
      "type": "object",
      "description": "The request to generate a report.",
      "id": "RunReportRequest",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency."
        },
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ]
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "The dimensions requested and displayed."
        },
        "offset": {
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0.",
          "format": "int64"
        },
        "dateRanges": {
          "description": "Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "type": "array",
          "items": {
            "$ref": "DateRange"
          }
        },
        "entity": {
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity.",
          "$ref": "Entity"
        },
        "cohortSpec": {
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.",
          "$ref": "CohortSpec"
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.",
          "type": "boolean"
        },
        "orderBys": {
          "items": {
            "$ref": "OrderBy"
          },
          "description": "Specifies how rows are ordered in the response.",
          "type": "array"
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "metrics": {
          "description": "The metrics requested and displayed.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "limit": {
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned.",
          "type": "string"
        },
        "metricFilter": {
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.",
          "$ref": "FilterExpression"
        }
      }
    },
    "UniversalMetadata": {
      "id": "UniversalMetadata",
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "MetricMetadata"
          },
          "description": "The metric descriptions.",
          "type": "array"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "DimensionMetadata"
          },
          "description": "The dimensions descriptions."
        }
      },
      "description": "The dimensions and metrics currently accepted in reporting methods."
    },
    "RunReportResponse": {
      "id": "RunReportResponse",
      "properties": {
        "rowCount": {
          "description": "The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows.",
          "format": "int32",
          "type": "integer"
        },
        "dimensionHeaders": {
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "metricHeaders": {
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "maximums": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "If requested, the maximum values of metrics."
        },
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "propertyQuota": {
          "description": "This Analytics Property's quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "minimums": {
          "type": "array",
          "description": "If requested, the minimum values of metrics.",
          "items": {
            "$ref": "Row"
          }
        },
        "totals": {
          "description": "If requested, the totaled values of metrics.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object",
      "description": "The response report table corresponding to a request."
    },
    "NumericValue": {
      "id": "NumericValue",
      "properties": {
        "int64Value": {
          "type": "string",
          "description": "Integer value",
          "format": "int64"
        },
        "doubleValue": {
          "type": "number",
          "description": "Double value",
          "format": "double"
        }
      },
      "type": "object",
      "description": "To represent a number."
    },
    "DimensionMetadata": {
      "description": "Explains a dimension.",
      "type": "object",
      "properties": {
        "apiName": {
          "type": "string",
          "description": "This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`."
        },
        "deprecatedApiNames": {
          "type": "array",
          "description": "Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of how this dimension is used and calculated."
        },
        "uiName": {
          "type": "string",
          "description": "This dimension's name within the Google Analytics user interface. For example, `Event name`."
        }
      },
      "id": "DimensionMetadata"
    },
    "CohortReportSettings": {
      "type": "object",
      "id": "CohortReportSettings",
      "description": "Settings of a cohort report.",
      "properties": {
        "accumulate": {
          "description": "If true, accumulates the result from first visit day to the end day. Not supported in `RunReportRequest`.",
          "type": "boolean"
        }
      }
    },
    "RunPivotReportResponse": {
      "type": "object",
      "description": "The response pivot report table corresponding to a pivot request.",
      "properties": {
        "metadata": {
          "description": "Metadata for the report.",
          "$ref": "ResponseMetaData"
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Analytics Property's quota state including this request."
        },
        "dimensionHeaders": {
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "aggregates": {
          "type": "array",
          "description": "Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to \"RESERVED_\".",
          "items": {
            "$ref": "Row"
          }
        },
        "rows": {
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "pivotHeaders": {
          "type": "array",
          "items": {
            "$ref": "PivotHeader"
          },
          "description": "Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: \"pivots\": [{ \"fieldNames\": [\"country\", \"city\"] }, { \"fieldNames\": \"eventName\" }] We will have the following `pivotHeaders` in the response: \"pivotHeaders\" : [{ \"dimensionHeaders\": [{ \"dimensionValues\": [ { \"value\": \"United Kingdom\" }, { \"value\": \"London\" } ] }, { \"dimensionValues\": [ { \"value\": \"Japan\" }, { \"value\": \"Osaka\" } ] }] }, { \"dimensionHeaders\": [{ \"dimensionValues\": [{ \"value\": \"session_start\" }] }, { \"dimensionValues\": [{ \"value\": \"scroll\" }] }] }]"
        },
        "metricHeaders": {
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array",
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        }
      },
      "id": "RunPivotReportResponse"
    },
    "QuotaStatus": {
      "id": "QuotaStatus",
      "properties": {
        "remaining": {
          "type": "integer",
          "format": "int32",
          "description": "Quota remaining after this request."
        },
        "consumed": {
          "description": "Quota consumed by this request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Current state for a particular quota group.",
      "type": "object"
    },
    "FilterExpressionList": {
      "type": "object",
      "properties": {
        "expressions": {
          "items": {
            "$ref": "FilterExpression"
          },
          "type": "array",
          "description": "A list of filter expressions."
        }
      },
      "id": "FilterExpressionList",
      "description": "A list of filter expressions."
    },
    "StringFilter": {
      "id": "StringFilter",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        }
      },
      "description": "The filter for string"
    },
    "Entity": {
      "description": "The unique identifier of the property whose events are tracked.",
      "properties": {
        "propertyId": {
          "description": "A Google Analytics App + Web property id.",
          "type": "string"
        }
      },
      "id": "Entity",
      "type": "object"
    },
    "MetricOrderBy": {
      "description": "Sorts by metric values.",
      "type": "object",
      "id": "MetricOrderBy",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      }
    },
    "PivotDimensionHeader": {
      "id": "PivotDimensionHeader",
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array",
          "description": "Values of multiple dimensions in a pivot."
        }
      },
      "description": "Summarizes dimension values from a row for this pivot.",
      "type": "object"
    },
    "ResponseMetaData": {
      "properties": {
        "dataLossFromOtherRow": {
          "description": "If true, indicates some buckets of dimension combinations are rolled into \"(other)\" row. This can happen for high cardinality reports.",
          "type": "boolean"
        }
      },
      "description": "Response's metadata carrying additional information about the report content.",
      "id": "ResponseMetaData",
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "id": "Filter",
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "betweenFilter": {
          "$ref": "BetweenFilter",
          "description": "A filter for two values."
        },
        "stringFilter": {
          "$ref": "StringFilter",
          "description": "Strings related filter."
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "NumericFilter"
        },
        "fieldName": {
          "description": "The dimension name or metric name. Must be a name defined in dimensions or metrics.",
          "type": "string"
        },
        "inListFilter": {
          "$ref": "InListFilter",
          "description": "A filter for in list values."
        },
        "nullFilter": {
          "type": "boolean",
          "description": "A filter for null values."
        }
      }
    },
    "DateRange": {
      "id": "DateRange",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Assigns a name to this date range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, date ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc."
        },
        "endDate": {
          "type": "string",
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `start_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone."
        },
        "startDate": {
          "type": "string",
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `end_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone."
        }
      },
      "description": "A contiguous set of days: startDate, startDate + 1, ..., endDate. Requests are allowed up to 4 date ranges, and the union of the ranges can cover up to 1 year."
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "version": "v1alpha",
  "revision": "20200907",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "rootUrl": "https://analyticsdata.googleapis.com/",
  "ownerName": "Google"
}
