{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "firestore:v1beta1",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "resources": {
            "documents": {
              "methods": {
                "listen": {
                  "parameterOrder": [
                    "database"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.listen",
                  "description": "Listens to changes.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "path": "v1beta1/{+database}/documents:listen"
                },
                "get": {
                  "parameters": {
                    "readTime": {
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "transaction": {
                      "type": "string",
                      "format": "byte",
                      "location": "query",
                      "description": "Reads the document in a transaction."
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.documents.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets a single document.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Document"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET"
                },
                "partitionQuery": {
                  "path": "v1beta1/{+parent}:partitionQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  }
                },
                "rollback": {
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Rolls back a transaction.",
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.rollback",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+database}/documents:rollback"
                },
                "patch": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates or inserts a document.",
                  "parameters": {
                    "currentDocument.exists": {
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "type": "string",
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "format": "google-datetime"
                    },
                    "name": {
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "updateMask.fieldPaths": {
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.patch",
                  "response": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "request": {
                    "$ref": "Document"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "runQuery": {
                  "description": "Runs a query.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  },
                  "path": "v1beta1/{+parent}:runQuery",
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.runQuery"
                },
                "write": {
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "description": "Streams batches of document updates and deletes, in order.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.write",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "path": "v1beta1/{+database}/documents:write",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  }
                },
                "batchWrite": {
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "path": "v1beta1/{+database}/documents:batchWrite",
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite"
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "collectionId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`."
                    },
                    "orderBy": {
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of documents to return.",
                      "format": "int32",
                      "location": "query"
                    },
                    "showMissing": {
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "transaction": {
                      "format": "byte",
                      "type": "string",
                      "description": "Reads documents in a transaction.",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    }
                  },
                  "description": "Lists documents.",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.documents.list",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  }
                },
                "batchGet": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "id": "firestore.projects.databases.documents.batchGet",
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested."
                },
                "listCollectionIds": {
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "path": "v1beta1/{+parent}:listCollectionIds",
                  "description": "Lists all the collection IDs underneath a document.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createDocument": {
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "id": "firestore.projects.databases.documents.createDocument",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "location": "path",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "type": "string"
                    },
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "documentId": {
                      "type": "string",
                      "location": "query",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Creates a new document.",
                  "request": {
                    "$ref": "Document"
                  }
                },
                "delete": {
                  "description": "Deletes a document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "currentDocument.exists": {
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "id": "firestore.projects.databases.documents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "commit": {
                  "path": "v1beta1/{+database}/documents:commit",
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "description": "Commits a transaction, while optionally updating documents."
                },
                "beginTransaction": {
                  "description": "Starts a new transaction.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "path": "v1beta1/{+database}/documents:beginTransaction"
                }
              }
            },
            "indexes": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the database this index will apply to. For example: `projects/{project_id}/databases/{database_id}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta1/{+parent}/indexes",
                  "id": "firestore.projects.databases.indexes.create",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "id": "firestore.projects.databases.indexes.delete",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "description": "Deletes an index.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The index name. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/indexes",
                  "id": "firestore.projects.databases.indexes.list",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The database name. For example: `projects/{project_id}/databases/{database_id}`"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard List page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard List page size.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  },
                  "description": "Lists the indexes that match the specified filters.",
                  "httpMethod": "GET"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets an index.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "path": "v1beta1/{+name}",
                  "id": "firestore.projects.databases.indexes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "description": "The name of the index. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "importDocuments": {
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "path": "v1beta1/{+name}:importDocuments",
              "parameterOrder": [
                "name"
              ],
              "id": "firestore.projects.databases.importDocuments"
            },
            "exportDocuments": {
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.exportDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:exportDocuments",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "version": "v1beta1",
  "basePath": "",
  "rootUrl": "https://firestore.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Cloud Firestore API",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/firestore",
  "schemas": {
    "WriteRequest": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request.",
          "type": "object"
        },
        "streamToken": {
          "format": "byte",
          "type": "string",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream."
        },
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests.",
          "type": "array"
        }
      },
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "id": "WriteRequest"
    },
    "GoogleFirestoreAdminV1beta1LocationMetadata": {
      "properties": {},
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1LocationMetadata"
    },
    "LatLng": {
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "id": "LatLng",
      "type": "object",
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "StructuredQuery": {
      "id": "StructuredQuery",
      "properties": {
        "select": {
          "$ref": "Projection",
          "description": "The projection to return."
        },
        "where": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "offset": {
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Must be \u003e= 0 if specified.",
          "type": "integer",
          "format": "int32"
        },
        "from": {
          "items": {
            "$ref": "CollectionSelector"
          },
          "description": "The collections to query.",
          "type": "array"
        },
        "startAt": {
          "$ref": "Cursor",
          "description": "A starting point for the query results."
        },
        "limit": {
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Must be \u003e= 0 if specified.",
          "type": "integer"
        },
        "orderBy": {
          "description": "The order to apply to the query results. Firestore guarantees a stable ordering through the following rules: * Any field required to appear in `order_by`, that is not already specified in `order_by`, is appended to the order in field name order by default. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `SELECT * FROM Foo ORDER BY A` becomes `SELECT * FROM Foo ORDER BY A, __name__` * `SELECT * FROM Foo ORDER BY A DESC` becomes `SELECT * FROM Foo ORDER BY A DESC, __name__ DESC` * `SELECT * FROM Foo WHERE A \u003e 1` becomes `SELECT * FROM Foo WHERE A \u003e 1 ORDER BY A, __name__`",
          "type": "array",
          "items": {
            "$ref": "Order"
          }
        },
        "endAt": {
          "$ref": "Cursor",
          "description": "A end point for the query results."
        }
      },
      "type": "object",
      "description": "A Firestore query."
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        },
        "collectionIds": {
          "description": "Which collection ids to export. Unspecified means all collections.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ExistenceFilter": {
      "properties": {
        "count": {
          "format": "int32",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target.",
          "type": "integer"
        },
        "targetId": {
          "format": "int32",
          "description": "The target ID to which this filter applies.",
          "type": "integer"
        }
      },
      "description": "A digest of all the documents that match a given target.",
      "id": "ExistenceFilter",
      "type": "object"
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "description": "The response for Firestore.BeginTransaction.",
      "properties": {
        "transaction": {
          "description": "The transaction that was started.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "FieldFilter": {
      "type": "object",
      "id": "FieldFilter",
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "The value to compare to."
        },
        "op": {
          "description": "The operator to filter by.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY`.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY`.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "type": "string"
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to filter by."
        }
      },
      "description": "A filter on a specific field."
    },
    "ListenRequest": {
      "id": "ListenRequest",
      "type": "object",
      "description": "A request for Firestore.Listen",
      "properties": {
        "removeTarget": {
          "description": "The ID of a target to remove from this stream.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "description": "Labels associated with this target change.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        }
      }
    },
    "UnaryFilter": {
      "type": "object",
      "properties": {
        "op": {
          "type": "string",
          "description": "The unary operator to apply.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ]
        },
        "field": {
          "description": "The field to which to apply the operator.",
          "$ref": "FieldReference"
        }
      },
      "id": "UnaryFilter",
      "description": "A filter with a single operand."
    },
    "WriteResult": {
      "id": "WriteResult",
      "properties": {
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        }
      },
      "type": "object",
      "description": "The result of applying a write."
    },
    "Projection": {
      "properties": {
        "fields": {
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "items": {
            "$ref": "FieldReference"
          },
          "type": "array"
        }
      },
      "id": "Projection",
      "description": "The projection of document's fields to return.",
      "type": "object"
    },
    "DocumentChange": {
      "type": "object",
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "properties": {
        "removedTargetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array"
        },
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
        },
        "targetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs of targets that match this document."
        }
      },
      "id": "DocumentChange"
    },
    "Cursor": {
      "description": "A position in a query result set.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        },
        "before": {
          "type": "boolean",
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query."
        }
      },
      "id": "Cursor",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata",
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation.",
      "properties": {
        "documentProgress": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "Progress of the existing operation, measured in number of documents."
        },
        "cancelled": {
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that work began on the operation."
        },
        "operationType": {
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ],
          "type": "string",
          "description": "The type of index operation."
        },
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string"
        }
      }
    },
    "Write": {
      "id": "Write",
      "description": "A write on a document.",
      "type": "object",
      "properties": {
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "currentDocument": {
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document.",
          "$ref": "Precondition"
        },
        "updateTransforms": {
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order."
        },
        "transform": {
          "$ref": "DocumentTransform",
          "description": "Applies a transformation to a document."
        },
        "updateMask": {
          "$ref": "DocumentMask",
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
        },
        "delete": {
          "type": "string",
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "type": "object",
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "missing": {
          "type": "string",
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one."
        },
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "CollectionSelector": {
      "type": "object",
      "description": "A selection of a collection, such as `messages as m1`.",
      "id": "CollectionSelector",
      "properties": {
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        },
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        }
      }
    },
    "ReadWrite": {
      "id": "ReadWrite",
      "type": "object",
      "description": "Options for a transaction that can be used to read and write documents.",
      "properties": {
        "retryTransaction": {
          "format": "byte",
          "type": "string",
          "description": "An optional transaction to retry."
        }
      }
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "description": "The response for Firestore.Write.",
      "properties": {
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "format": "byte",
          "type": "string"
        },
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "format": "google-datetime"
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        }
      },
      "type": "object"
    },
    "Document": {
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``."
        },
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        }
      },
      "id": "Document"
    },
    "DocumentRemove": {
      "id": "DocumentRemove",
      "properties": {
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "type": "string",
          "format": "google-datetime"
        },
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected."
    },
    "DocumentsTarget": {
      "type": "object",
      "description": "A target specified by a set of documents names.",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      },
      "id": "DocumentsTarget"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status"
    },
    "TargetChange": {
      "id": "TargetChange",
      "properties": {
        "resumeToken": {
          "format": "byte",
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string"
        },
        "targetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "type": "string"
        },
        "targetChangeType": {
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "description": "The type of change that occurred."
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "Targets being watched have changed."
    },
    "MapValue": {
      "id": "MapValue",
      "description": "A map value.",
      "properties": {
        "fields": {
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "indexes": {
          "type": "array",
          "description": "The indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
    },
    "DocumentDelete": {
      "id": "DocumentDelete",
      "type": "object",
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "properties": {
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete.",
          "type": "string"
        },
        "removedTargetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "A set of target IDs for targets that previously matched this entity."
        }
      }
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        }
      },
      "description": "Options for creating a new transaction.",
      "type": "object"
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "properties": {
        "transaction": {
          "description": "If set, applies all writes in this transaction, and commits it.",
          "format": "byte",
          "type": "string"
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "type": "array",
          "description": "The writes to apply. Always executed atomically and in order."
        }
      },
      "description": "The request for Firestore.Commit.",
      "type": "object"
    },
    "BatchWriteResponse": {
      "id": "BatchWriteResponse",
      "type": "object",
      "description": "The response from Firestore.BatchWrite.",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        },
        "status": {
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      }
    },
    "RunQueryResponse": {
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery.",
      "properties": {
        "skippedResults": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response."
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string",
          "format": "byte"
        },
        "document": {
          "$ref": "Document",
          "description": "A query result. Not set when reporting partial progress."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Target": {
      "description": "A specification of a set of documents to listen to.",
      "id": "Target",
      "type": "object",
      "properties": {
        "targetId": {
          "format": "int32",
          "type": "integer",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero."
        },
        "once": {
          "type": "boolean",
          "description": "If the target should be removed once it is current and consistent."
        },
        "resumeToken": {
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail.",
          "type": "string",
          "format": "byte"
        },
        "documents": {
          "description": "A target specified by a set of document names.",
          "$ref": "DocumentsTarget"
        },
        "query": {
          "description": "A target specified by a query.",
          "$ref": "QueryTarget"
        },
        "readTime": {
          "type": "string",
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime"
        }
      }
    },
    "DocumentMask": {
      "id": "DocumentMask",
      "properties": {
        "fieldPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
        }
      },
      "type": "object",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value."
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "Document"
          },
          "description": "The Documents found."
        }
      },
      "description": "The response for Firestore.ListDocuments.",
      "type": "object"
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "type": "object",
      "properties": {
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array"
        },
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
        }
      },
      "description": "The response for Firestore.Commit."
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "id": "GoogleFirestoreAdminV1beta1IndexField",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The mode is unspecified.",
            "The field's values are indexed so as to support sequencing in ascending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The field's values are indexed so as to support sequencing in descending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The field's array values are indexed so as to support membership using ARRAY_CONTAINS queries."
          ],
          "description": "The field's mode.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ]
        },
        "fieldPath": {
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path.",
          "type": "string"
        }
      },
      "description": "A field of an index.",
      "type": "object"
    },
    "PartitionQueryRequest": {
      "description": "The request for Firestore.PartitionQuery.",
      "properties": {
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "format": "int64",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`."
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
        },
        "pageToken": {
          "type": "string",
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
        }
      },
      "id": "PartitionQueryRequest",
      "type": "object"
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "properties": {
        "transaction": {
          "type": "string",
          "description": "Required. The transaction to roll back.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "The request for Firestore.Rollback."
    },
    "QueryTarget": {
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "parent": {
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
          "type": "string"
        }
      },
      "description": "A target specified by a query.",
      "id": "QueryTarget",
      "type": "object"
    },
    "ListCollectionIdsRequest": {
      "description": "The request for Firestore.ListCollectionIds.",
      "id": "ListCollectionIdsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return.",
          "format": "int32"
        }
      }
    },
    "PartitionQueryResponse": {
      "id": "PartitionQueryResponse",
      "description": "The response for Firestore.PartitionQuery.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results."
        },
        "partitions": {
          "items": {
            "$ref": "Cursor"
          },
          "type": "array",
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned."
        }
      }
    },
    "FieldReference": {
      "type": "object",
      "properties": {
        "fieldPath": {
          "type": "string"
        }
      },
      "description": "A reference to a field, such as `max(messages.time) as max_time`.",
      "id": "FieldReference"
    },
    "ArrayValue": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Values in the array.",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "ArrayValue",
      "description": "An array value."
    },
    "RunQueryRequest": {
      "description": "The request for Firestore.RunQuery.",
      "properties": {
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        },
        "transaction": {
          "type": "string",
          "description": "Reads documents in a transaction.",
          "format": "byte"
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RunQueryRequest"
    },
    "BatchGetDocumentsRequest": {
      "description": "The request for Firestore.BatchGetDocuments.",
      "type": "object",
      "id": "BatchGetDocumentsRequest",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
        },
        "mask": {
          "$ref": "DocumentMask",
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response."
        },
        "documents": {
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          }
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "transaction": {
          "type": "string",
          "description": "Reads documents in a transaction.",
          "format": "byte"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime",
          "type": "string"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being imported.",
          "type": "array"
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "operationState": {
          "description": "The state of the import operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time that work began on the operation.",
          "type": "string"
        }
      },
      "description": "Metadata for ImportDocuments operations."
    },
    "Precondition": {
      "properties": {
        "updateTime": {
          "description": "When set, the target document must exist and have been last updated at that time.",
          "format": "google-datetime",
          "type": "string"
        },
        "exists": {
          "type": "boolean",
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
        }
      },
      "description": "A precondition on a document, used for conditional operations.",
      "id": "Precondition",
      "type": "object"
    },
    "ListenResponse": {
      "type": "object",
      "id": "ListenResponse",
      "properties": {
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        },
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "filter": {
          "$ref": "ExistenceFilter",
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown."
        },
        "documentDelete": {
          "description": "A Document has been deleted.",
          "$ref": "DocumentDelete"
        },
        "documentChange": {
          "$ref": "DocumentChange",
          "description": "A Document has changed."
        }
      },
      "description": "The response for Firestore.Listen."
    },
    "CompositeFilter": {
      "properties": {
        "op": {
          "type": "string",
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Must contain at least one filter.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      },
      "id": "CompositeFilter",
      "type": "object",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "type": "object",
      "description": "An index definition.",
      "id": "GoogleFirestoreAdminV1beta1Index",
      "properties": {
        "collectionId": {
          "description": "The collection ID to which this index applies. Required.",
          "type": "string"
        },
        "fields": {
          "description": "The fields to index.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          }
        },
        "name": {
          "description": "The resource name of the index. Output only.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ],
          "description": "The state of the index. Output only.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "BeginTransactionRequest": {
      "id": "BeginTransactionRequest",
      "type": "object",
      "description": "The request for Firestore.BeginTransaction.",
      "properties": {
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "type": "object",
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix."
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata",
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of documents processed."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string"
        },
        "operationState": {
          "description": "The state of the export operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Metadata for ExportDocuments operations."
    },
    "ListCollectionIdsResponse": {
      "description": "The response from Firestore.ListCollectionIds.",
      "type": "object",
      "properties": {
        "collectionIds": {
          "description": "The collection ids.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token that may be used to continue the list.",
          "type": "string"
        }
      },
      "id": "ListCollectionIdsResponse"
    },
    "FieldTransform": {
      "properties": {
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "maximum": {
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "setToServerValue": {
          "enumDescriptions": [
[...]
