{
  "version": "v1",
  "baseUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like\n    threads, messages, and labels.",
  "servicePath": "",
  "basePath": "",
  "id": "gmail:v1",
  "documentationLink": "https://developers.google.com/gmail/api/",
  "revision": "20200406",
  "discoveryVersion": "v1",
  "schemas": {
    "AutoForwarding": {
      "description": "Auto-forwarding settings for an account.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Email address to which all incoming messages are forwarded.  This email\naddress must be a verified member of the forwarding addresses.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        },
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string"
        }
      },
      "id": "AutoForwarding"
    },
    "FilterCriteria": {
      "id": "FilterCriteria",
      "description": "Message matching criteria.",
      "type": "object",
      "properties": {
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same\nquery format as the Gmail search box. For example,\n\u003ccode\u003e\"from:someuser@example.com rfc822msgid:\u003csomemsgid@example.com\u003e\nis:unread\"\u003c/code\u003e.",
          "type": "string"
        },
        "sizeComparison": {
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ],
          "description": "How the message size in bytes should be in relation to the size field.",
          "type": "string"
        },
        "excludeChats": {
          "description": "Whether the response should exclude chats.",
          "type": "boolean"
        },
        "size": {
          "description": "The size of the entire RFC822 message in bytes, including all headers and\nattachments.",
          "format": "int32",
          "type": "integer"
        },
        "hasAttachment": {
          "description": "Whether the message has any attachment.",
          "type": "boolean"
        },
        "from": {
          "type": "string",
          "description": "The sender's display name or email address."
        },
        "subject": {
          "type": "string",
          "description": "Case-insensitive phrase found in the message's subject. Trailing and\nleading whitespace are be trimmed and adjacent spaces are collapsed."
        },
        "query": {
          "description": "Only return messages matching the specified query. Supports the same\nquery format as the Gmail search box. For example,\n\u003ccode\u003e\"from:someuser@example.com rfc822msgid:\u003csomemsgid@example.com\u003e\nis:unread\"\u003c/code\u003e.",
          "type": "string"
        },
        "to": {
          "type": "string",
          "description": "The recipient's display name or email address. Includes recipients in the\n\"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of\nthe email address. For example, \"example\" and \"example@\" both match\n\"example@gmail.com\". This field is case-insensitive."
        }
      }
    },
    "VacationSettings": {
      "type": "object",
      "properties": {
        "restrictToDomain": {
          "description": "Flag that determines whether responses are sent to recipients who are\noutside of the user's domain. This feature is only available for G Suite\nusers.",
          "type": "boolean"
        },
        "responseBodyPlainText": {
          "description": "Response body in plain text format.",
          "type": "string"
        },
        "responseSubject": {
          "description": "Optional text to prepend to the subject line in vacation responses.  In\norder to enable auto-replies, either the response subject or the response\nbody must be nonempty.",
          "type": "string"
        },
        "enableAutoReply": {
          "description": "Flag that controls whether Gmail automatically replies to messages.",
          "type": "boolean"
        },
        "endTime": {
          "description": "An optional end time for sending auto-replies (epoch ms).\nWhen this is specified, Gmail will automatically reply only to messages\nthat it receives before the end time.  If both \u003ccode\u003estartTime\u003c/code\u003e and\n\u003ccode\u003eendTime\u003c/code\u003e are specified, \u003ccode\u003estartTime\u003c/code\u003e must precede\n\u003ccode\u003eendTime\u003c/code\u003e.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "An optional start time for sending auto-replies (epoch ms).\nWhen this is specified, Gmail will automatically reply only to messages\nthat it receives after the start time.  If both \u003ccode\u003estartTime\u003c/code\u003e and\n\u003ccode\u003eendTime\u003c/code\u003e are specified, \u003ccode\u003estartTime\u003c/code\u003e must precede\n\u003ccode\u003eendTime\u003c/code\u003e.",
          "format": "int64",
          "type": "string"
        },
        "responseBodyHtml": {
          "type": "string",
          "description": "Response body in HTML format.  Gmail will sanitize the HTML before\nstoring it."
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not\nin the user's list of contacts.",
          "type": "boolean"
        }
      },
      "id": "VacationSettings",
      "description": "Vacation auto-reply settings for an account.  These settings correspond to\nthe \u003ca href=\"https://support.google.com/mail/answer/25922\"\u003e\"Vacation\nresponder\"\u003c/a\u003e feature in the web interface."
    },
    "MessagePartBody": {
      "type": "object",
      "properties": {
        "attachmentId": {
          "type": "string",
          "description": "When present, contains the ID of an external attachment that can be\nretrieved in a separate \u003ccode\u003emessages.attachments.get\u003c/code\u003e request.\nWhen not present, the entire content of the message part body is\ncontained in the data field."
        },
        "size": {
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32",
          "type": "integer"
        },
        "data": {
          "description": "The body data of a MIME message part as a base64url encoded string.\nMay be empty for MIME container\ntypes that have no message body or when the body data is sent as a\nseparate attachment. An attachment ID is present if the body data is\ncontained in a separate attachment.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "MessagePartBody",
      "description": "The body of a single MIME message part."
    },
    "Delegate": {
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as\nwell as view and add contacts, for the delegator's account. See\n\u003ca href=\"https://support.google.com/mail/answer/138350\"\u003e\"Set up\nmail delegation\"\u003c/a\u003e for more information about delegates.",
      "type": "object",
      "properties": {
        "verificationStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not\nyet accepted it.",
            "A verification request was mailed to the address, and the owner rejected\nit.",
            "A verification request was mailed to the address, and it expired without\nverification."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ],
          "description": "Indicates whether this address has been verified and can act as a delegate\nfor the account.  Read-only."
        },
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        }
      },
      "id": "Delegate"
    },
    "PopSettings": {
      "type": "object",
      "properties": {
        "accessWindow": {
          "description": "The range of messages which are accessible via POP.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in\ntime are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ]
        },
        "disposition": {
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The action that will be executed on a message after it has been fetched via\nPOP.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the \u003ccode\u003eINBOX\u003c/code\u003e.",
            "Archive the message.",
            "Move the message to the \u003ccode\u003eTRASH\u003c/code\u003e.",
            "Leave the message in the \u003ccode\u003eINBOX\u003c/code\u003e and mark it as read."
          ]
        }
      },
      "id": "PopSettings",
      "description": "POP settings for an account."
    },
    "Message": {
      "description": "An email message.",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64",
          "type": "string"
        },
        "raw": {
          "type": "string",
          "description": "The entire email message in an RFC 2822 formatted and base64url\nencoded string. Returned in \u003ccode\u003emessages.get\u003c/code\u003e and\n\u003ccode\u003edrafts.get\u003c/code\u003e responses when the \u003ccode\u003eformat=RAW\u003c/code\u003e\nparameter is supplied.\n@mutable gmail.users.messages.insert gmail.users.messages.send\n@mutable gmail.users.drafts.create gmail.users.drafts.update",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "format": "byte"
        },
        "payload": {
          "$ref": "MessagePart",
          "description": "The parsed email structure in the message parts."
        },
        "sizeEstimate": {
          "description": "Estimated size in bytes of the message.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the message."
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "threadId": {
          "description": "The ID of the thread the message belongs to. To add a message or draft to\na thread, the following criteria must be met:\n\u003col\u003e\u003cli\u003eThe requested \u003ccode\u003ethreadId\u003c/code\u003e must be specified on the\n\u003ccode\u003eMessage\u003c/code\u003e or \u003ccode\u003eDraft.Message\u003c/code\u003e you supply with your\nrequest.\u003c/li\u003e\n\u003cli\u003eThe \u003ccode\u003eReferences\u003c/code\u003e and \u003ccode\u003eIn-Reply-To\u003c/code\u003e headers must\nbe set in compliance with the\n\u003ca href=\"https://tools.ietf.org/html/rfc2822\"\u003eRFC 2822\u003c/a\u003e standard.\u003c/li\u003e\n\u003cli\u003eThe \u003ccode\u003eSubject\u003c/code\u003e headers must match.\n@mutable gmail.users.messages.insert gmail.users.messages.send\n@mutable gmail.users.drafts.create gmail.users.drafts.update",
          "type": "string"
        },
        "labelIds": {
          "description": "List of IDs of labels applied to this message.\n@mutable gmail.users.messages.insert gmail.users.messages.modify",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "internalDate": {
          "description": "The internal message creation timestamp (epoch ms), which determines\nordering in the inbox.  For normal SMTP-received email, this represents the\ntime the message was originally accepted by Google, which is more reliable\nthan the \u003ccode\u003eDate\u003c/code\u003e header. However, for API-migrated mail, it can\nbe configured by client to be based on the \u003ccode\u003eDate\u003c/code\u003e header.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Message"
    },
    "ListThreadsResponse": {
      "id": "ListThreadsResponse",
      "type": "object",
      "properties": {
        "threads": {
          "description": "List of threads. Note that each thread resource does not contain a list of\n\u003ccode\u003emessages\u003c/code\u003e. The list of \u003ccode\u003emessages\u003c/code\u003e for a given thread\ncan be fetched using the\n\u003ca href=\"/gmail/api/v1/reference/users/threads/get\"\u003ethreads.get\u003c/a\u003e method.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "ListLabelsResponse": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "List of labels. Note that each label resource only contains an\n\u003ccode\u003eid\u003c/code\u003e, \u003ccode\u003ename\u003c/code\u003e, \u003ccode\u003emessageListVisibility\u003c/code\u003e,\n\u003ccode\u003elabelListVisibility\u003c/code\u003e, and \u003ccode\u003etype\u003c/code\u003e. The\n\u003ca href=\"/gmail/api/v1/reference/users/labels/get\"\u003elabels.get\u003c/a\u003e method\ncan fetch additional label details."
        }
      },
      "id": "ListLabelsResponse"
    },
    "HistoryLabelRemoved": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs removed from the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HistoryLabelRemoved"
    },
    "HistoryMessageDeleted": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageDeleted"
    },
    "ImapSettings": {
      "description": "IMAP settings for an account.",
      "type": "object",
      "properties": {
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted\nand expunged from the last visible IMAP folder.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted.  The\nexpunged messages cannot be recovered."
          ],
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ]
        },
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        },
        "maxFolderSize": {
          "description": "An optional limit on the number of messages that an IMAP folder may\ncontain.  Legal values are 0, 1000, 2000, 5000 or 10000.  A value of zero\nis interpreted to mean that there is no limit.",
          "format": "int32",
          "type": "integer"
        },
        "autoExpunge": {
          "type": "boolean",
          "description": "If this value is true, Gmail will immediately expunge a message when it is\nmarked as deleted in IMAP.  Otherwise, Gmail will wait for an update from\nthe client before expunging messages marked as deleted."
        }
      },
      "id": "ImapSettings"
    },
    "Label": {
      "description": "Labels are used to categorize messages and threads within the\nuser's mailbox.",
      "type": "object",
      "properties": {
        "messageListVisibility": {
          "enum": [
            "show",
            "hide"
          ],
          "description": "The visibility of the label in the message list in the\nGmail web interface.\n@mutable gmail.users.labels.create gmail.users.labels.update",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "messagesTotal": {
          "description": "The total number of messages with the label.",
          "format": "int32",
          "type": "integer"
        },
        "threadsUnread": {
          "description": "The number of unread threads with the label.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The display name of the label.\n@mutable gmail.users.labels.create gmail.users.labels.update",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "threadsTotal": {
          "description": "The total number of threads with the label.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "system",
            "user"
          ],
          "description": "The owner type for the label. User labels are created by the user and\ncan be modified and deleted by the user and can be applied to any\nmessage or thread. System labels are internally created and cannot be\nadded, modified, or deleted. System labels may be able to be applied to or\nremoved from messages and threads under some circumstances but this is\nnot guaranteed. For example, users can apply and remove the\n\u003ccode\u003eINBOX\u003c/code\u003e and \u003ccode\u003eUNREAD\u003c/code\u003e labels from messages and\nthreads, but cannot apply or remove the \u003ccode\u003eDRAFTS\u003c/code\u003e or\n\u003ccode\u003eSENT\u003c/code\u003e labels from messages or threads."
        },
        "id": {
          "description": "The immutable ID of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "messagesUnread": {
          "description": "The number of unread messages with the label.",
          "format": "int32",
          "type": "integer"
        },
        "labelListVisibility": {
          "description": "The visibility of the label in the label list in the Gmail web interface.\n@mutable gmail.users.labels.create gmail.users.labels.update",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ]
        },
        "color": {
          "$ref": "LabelColor",
          "description": "The color to assign to the label. Color is only available for labels that\nhave their \u003ccode\u003etype\u003c/code\u003e set to \u003ccode\u003euser\u003c/code\u003e.\n@mutable gmail.users.labels.create gmail.users.labels.update"
        }
      },
      "id": "Label"
    },
    "ListFiltersResponse": {
      "description": "Response for the ListFilters method.",
      "type": "object",
      "properties": {
        "filter": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "List of a user's filters."
        }
      },
      "id": "ListFiltersResponse"
    },
    "SendAs": {
      "description": "Settings associated with a send-as alias, which can be either the primary\nlogin address associated with the account or a custom \"from\" address.\nSend-as aliases correspond to the\n\u003ca href=\"https://support.google.com/mail/answer/22370\"\u003e\"Send Mail As\"\u003c/a\u003e\nfeature in the web interface.",
      "type": "object",
      "properties": {
        "verificationStatus": {
          "description": "Indicates whether this address has been verified for use as a send-as\nalias.  Read-only.  This setting only applies to custom \"from\" aliases.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ]
        },
        "treatAsAlias": {
          "description": "Whether Gmail should \u003ca href=\"https://support.google.com/a/answer/1710338\"\u003e\ntreat this address as an alias\u003c/a\u003e for the user's primary email address.\nThis setting only applies to custom \"from\" aliases.",
          "type": "boolean"
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail\nsent using this alias.  If this is empty, outbound mail will be sent\ndirectly from Gmail's servers to the destination SMTP service.  This\nsetting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using\nthis alias.  This is read-only for all operations except create.",
          "type": "string"
        },
        "replyToAddress": {
          "type": "string",
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail\nsent using this alias.  If this is empty, Gmail will not generate a\n\"Reply-To:\" header."
        },
        "displayName": {
          "type": "string",
          "description": "A name that appears in the \"From:\" header for mail sent using this alias.\nFor custom \"from\" addresses, when this is empty, Gmail will populate the\n\"From:\" header with the name that is used for the primary address\nassociated with the account.\nIf the admin has disabled the ability for users to update their name\nformat, requests to update this field for the primary login will silently\nfail."
        },
        "isDefault": {
          "description": "Whether this address is selected as the default \"From:\" address in\nsituations such as composing a new message or sending a vacation\nauto-reply.  Every Gmail account has exactly one default send-as address,\nso the only legal value that clients may write to this field is\n\u003ccode\u003etrue\u003c/code\u003e.  Changing this from \u003ccode\u003efalse\u003c/code\u003e to\n\u003ccode\u003etrue\u003c/code\u003e for an address will result in this field becoming\n\u003ccode\u003efalse\u003c/code\u003e for the other previous default address.",
          "type": "boolean"
        },
        "signature": {
          "description": "An optional HTML signature that is included in messages composed with this\nalias in the Gmail web UI.",
          "type": "string"
        },
        "isPrimary": {
          "description": "Whether this address is the primary address used to login to the account.\nEvery Gmail account has exactly one primary address, and it cannot be\ndeleted from the collection of send-as aliases.  This field is read-only.",
          "type": "boolean"
        }
      },
      "id": "SendAs"
    },
    "MessagePartHeader": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the header before the \u003ccode\u003e:\u003c/code\u003e separator. For\nexample, \u003ccode\u003eTo\u003c/code\u003e."
        },
        "value": {
          "description": "The value of the header after the \u003ccode\u003e:\u003c/code\u003e separator. For example,\n\u003ccode\u003esomeuser@example.com\u003c/code\u003e.",
          "type": "string"
        }
      },
      "id": "MessagePartHeader"
    },
    "ListDelegatesResponse": {
      "description": "Response for the ListDelegates method.",
      "type": "object",
      "properties": {
        "delegates": {
          "description": "List of the user's delegates (with any verification status).",
          "type": "array",
          "items": {
            "$ref": "Delegate"
          }
        }
      },
      "id": "ListDelegatesResponse"
    },
    "LabelColor": {
      "type": "object",
      "properties": {
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000).\nThis field is required in order to set the color of a label.\nOnly the following predefined set of color values are allowed:\n\u003cbr/\u003e\n# 000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff,\n\n# fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3,\n\n# f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8,\n\n# efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9,\n\n# e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0,\n\n# cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798,\n\n# ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775,\n\n# 822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c\n\n# 464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff,\n\n# 711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5,\n\n# 594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1,\n\n# c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46,\n\n# 662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765\n\n@mutable gmail.users.labels.create gmail.users.labels.update",
          "type": "string"
        },
        "textColor": {
          "description": "The text color of the label, represented as hex string.\nThis field is required in order to set the color of a label.\nOnly the following predefined set of color values are allowed:\n\u003cbr/\u003e\n# 000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff,\n\n# fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3,\n\n# f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8,\n\n# efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9,\n\n# e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0,\n\n# cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798,\n\n# ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775,\n\n# 822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c\n\n# 464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff,\n\n# 711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5,\n\n# 594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1,\n\n# c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46,\n\n# 662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765\n\n@mutable gmail.users.labels.create gmail.users.labels.update",
          "type": "string"
        }
      },
      "id": "LabelColor"
    },
    "BatchDeleteMessagesRequest": {
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the messages to delete."
        }
      },
      "id": "BatchDeleteMessagesRequest"
    },
    "Filter": {
      "description": "Resource definition for Gmail filters. Filters apply to specific messages\ninstead of an entire email thread.",
      "type": "object",
      "properties": {
        "action": {
          "$ref": "FilterAction",
          "description": "Action that the filter performs."
        },
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        },
        "criteria": {
          "$ref": "FilterCriteria",
          "description": "Matching criteria for the filter."
        }
      },
      "id": "Filter"
    },
    "HistoryMessageAdded": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageAdded"
    },
    "MessagePart": {
      "type": "object",
      "properties": {
        "partId": {
          "description": "The immutable ID of the message part.",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the attachment. Only present if this message part\nrepresents an attachment.",
          "type": "string"
        },
        "body": {
          "$ref": "MessagePartBody",
          "description": "The message part body for this part, which may be empty for\ncontainer MIME message parts."
        },
        "headers": {
          "description": "List of headers on this message part. For the top-level message part,\nrepresenting the entire message payload, it will contain the standard\nRFC 2822 email headers such as \u003ccode\u003eTo\u003c/code\u003e, \u003ccode\u003eFrom\u003c/code\u003e, and\n\u003ccode\u003eSubject\u003c/code\u003e.",
          "type": "array",
          "items": {
            "$ref": "MessagePartHeader"
          }
        },
        "mimeType": {
          "description": "The MIME type of the message part.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "MessagePart"
          },
          "description": "The child MIME message parts of this part. This only applies to container\nMIME message parts, for example \u003ccode\u003emultipart/*\u003c/code\u003e. For non-\ncontainer MIME message part types, such as \u003ccode\u003etext/plain\u003c/code\u003e, this\nfield is empty. For more information, see\n\u003ca href=\"http://www.ietf.org/rfc/rfc1521.txt\"\u003eRFC 1521\u003c/a\u003e."
        }
      },
      "id": "MessagePart",
      "description": "A single MIME message part."
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "properties": {
        "smimeInfo": {
          "description": "List of SmimeInfo.",
          "type": "array",
          "items": {
            "$ref": "SmimeInfo"
          }
        }
      },
      "id": "ListSmimeInfoResponse"
    },
    "ListForwardingAddressesResponse": {
      "description": "Response for the ListForwardingAddresses method.",
      "type": "object",
      "properties": {
        "forwardingAddresses": {
          "type": "array",
          "items": {
            "$ref": "ForwardingAddress"
          },
          "description": "List of addresses that may be used for forwarding."
        }
      },
      "id": "ListForwardingAddressesResponse"
    },
    "ModifyThreadRequest": {
      "type": "object",
      "properties": {
        "addLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to add to this thread."
        },
        "removeLabelIds": {
          "description": "A list of IDs of labels to remove from this thread.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyThreadRequest"
    },
    "ListDraftsResponse": {
      "id": "ListDraftsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results in the list."
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        },
        "drafts": {
          "description": "List of drafts. Note that the \u003ccode\u003eMessage\u003c/code\u003e property in each\n\u003ccode\u003eDraft\u003c/code\u003e resource only contains an \u003ccode\u003eid\u003c/code\u003e and a\n\u003ccode\u003ethreadId\u003c/code\u003e. The\n\u003ca href=\"/gmail/api/v1/reference/users/messages/get\"\u003emessages.get\u003c/a\u003e\nmethod can fetch additional message details.",
          "type": "array",
          "items": {
            "$ref": "Draft"
          }
        }
      }
    },
    "ListMessagesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "messages": {
          "description": "List of messages. Note that each message resource contains only an\n\u003ccode\u003eid\u003c/code\u003e and a \u003ccode\u003ethreadId\u003c/code\u003e. Additional message details can\nbe fetched using the\n\u003ca href=\"/gmail/api/v1/reference/users/messages/get\"\u003emessages.get\u003c/a\u003e\nmethod.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "ListMessagesResponse"
    },
    "Thread": {
      "id": "Thread",
      "description": "A collection of messages representing a conversation.",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "The ID of the last history record that modified this thread.",
          "format": "uint64",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the thread.",
          "type": "string"
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "messages": {
          "description": "The list of messages in the thread.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "SmtpMsa": {
      "description": "Configuration for communication with an SMTP service.",
      "type": "object",
      "properties": {
        "port": {
          "description": "The port of the SMTP service.  Required.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "The username that will be used for authentication with the SMTP service.\nThis is a write-only field that can be specified in requests to create or\nupdate SendAs settings; it is never populated in responses.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "The hostname of the SMTP service.  Required."
        },
        "securityMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured.  Requires port\n25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "description": "The protocol that will be used to secure communication with the SMTP\nservice.  Required."
        },
        "password": {
          "description": "The password that will be used for authentication with the SMTP service.\nThis is a write-only field that can be specified in requests to create or\nupdate SendAs settings; it is never populated in responses.",
          "type": "string"
        }
      },
      "id": "SmtpMsa"
    },
    "History": {
      "id": "History",
      "description": "A record of a change to the user's mailbox. Each history change may affect\nmultiple messages in multiple ways.",
      "type": "object",
      "properties": {
        "messagesDeleted": {
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryMessageDeleted"
          }
        },
        "id": {
          "description": "The mailbox sequence ID.",
          "format": "uint64",
          "type": "string"
        },
        "labelsRemoved": {
          "description": "Labels removed from messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelRemoved"
          }
        },
        "labelsAdded": {
          "description": "Labels added to messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelAdded"
          }
        },
        "messagesAdded": {
          "description": "Messages added to the mailbox in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryMessageAdded"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of messages changed in this history record.  The fields for specific\nchange types, such as \u003ccode\u003emessagesAdded\u003c/code\u003e may duplicate messages in\nthis field.  We recommend using the specific change-type fields instead\nof this."
        }
      }
    },
    "ForwardingAddress": {
      "type": "object",
      "properties": {
        "verificationStatus": {
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "description": "Indicates whether this address has been verified and is usable for\nforwarding.  Read-only.",
          "type": "string"
        },
        "forwardingEmail": {
          "description": "An email address to which messages can be forwarded.",
          "type": "string"
        }
      },
      "id": "ForwardingAddress",
      "description": "Settings for a forwarding address."
    },
    "ListSendAsResponse": {
      "description": "Response for the ListSendAs method.",
      "type": "object",
      "properties": {
        "sendAs": {
          "type": "array",
          "items": {
            "$ref": "SendAs"
          },
          "description": "List of send-as aliases."
        }
      },
      "id": "ListSendAsResponse"
    },
    "WatchResponse": {
      "description": "Push notification watch response.",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        },
        "expiration": {
          "description": "When Gmail will stop sending notifications for mailbox updates\n(epoch millis). Call \u003ccode\u003ewatch\u003c/code\u003e again before this time to renew\nthe watch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "WatchResponse"
    },
    "HistoryLabelAdded": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Label IDs added to the message."
        }
      },
      "id": "HistoryLabelAdded"
    },
    "ListHistoryResponse": {
      "type": "object",
      "properties": {
        "history": {
          "description": "List of history records.  Any \u003ccode\u003emessages\u003c/code\u003e contained in the\nresponse will typically only have \u003ccode\u003eid\u003c/code\u003e and\n\u003ccode\u003ethreadId\u003c/code\u003e fields populated.",
          "type": "array",
          "items": {
            "$ref": "History"
          }
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListHistoryResponse"
    },
    "WatchRequest": {
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "type": "object",
      "properties": {
        "labelFilterAction": {
          "description": "Filtering behavior of labelIds list specified.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds\nspecified.",
            "Get push notifications for all message changes except those relating\nto labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ]
        },
        "topicName": {
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the\nevents to. This topic name **must** already exist in Cloud Pub/Sub and\nyou **must** have already granted gmail \"publish\" permission on it.\nFor example, \"projects/my-project-identifier/topics/my-topic-name\"\n(using the Cloud Pub/Sub \"v1\" topic naming format).\n\nNote that the \"my-project-identifier\" portion must exactly match your\nGoogle developer project id (the one executing this watch request).",
          "type": "string"
        },
        "labelIds": {
          "description": "List of label_ids to restrict notifications about.  By default,\nif unspecified, all changes are pushed out.  If specified then\ndictates which labels are required for a push notification to\nbe generated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "WatchRequest"
    },
    "SmimeInfo": {
      "id": "SmimeInfo",
      "description": "An S/MIME email config.",
      "type": "object",
      "properties": {
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "pem": {
          "type": "string",
          "description": "PEM formatted X509 concatenated certificate string (standard base64\nencoding).  Format used for returning key, which includes public key\nas well as certificate chain (not private key)."
        },
        "isDefault": {
          "description": "Whether this SmimeInfo is the default one for this user's send-as address.",
          "type": "boolean"
        },
        "expiration": {
          "description": "When the certificate expires (in milliseconds since epoch).",
          "format": "int64",
          "type": "string"
        },
        "pkcs12": {
          "description": "PKCS#12 format containing a single private/public key pair and\ncertificate chain.  This format is only accepted from client\nfor creating a new SmimeInfo and is never returned, because the\nprivate key is not intended to be exported.  PKCS#12 may be encrypted,\nin which case encryptedKeyPassword should be set appropriately.",
          "format": "byte",
          "type": "string"
        },
        "encryptedKeyPassword": {
          "type": "string",
          "description": "Encrypted key password, when key is encrypted."
        },
        "id": {
          "description": "The immutable ID for the SmimeInfo.",
          "type": "string"
        }
      }
    },
    "Draft": {
      "id": "Draft",
      "description": "A draft email in the user's mailbox.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The immutable ID of the draft.",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "type": "string"
        },
        "message": {
          "$ref": "Message",
          "description": "The message content of the draft."
        }
      }
    },
    "Profile": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "threadsTotal": {
          "description": "The total number of threads in the mailbox.",
          "format": "int32",
          "type": "integer"
        },
        "messagesTotal": {
          "description": "The total number of messages in the mailbox.",
          "format": "int32",
          "type": "integer"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "Profile",
      "description": "Profile for a Gmail user."
    },
    "FilterAction": {
      "id": "FilterAction",
      "description": "A set of actions to perform on a message.",
      "type": "object",
      "properties": {
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of labels to remove from the message."
        },
        "addLabelIds": {
          "description": "List of labels to add to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "forward": {
          "description": "Email address that the message should be forwarded to.",
          "type": "string"
        }
      }
    },
    "ModifyMessageRequest": {
      "type": "object",
      "properties": {
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "description": "A list IDs of labels to remove from this message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyMessageRequest"
    },
    "BatchModifyMessagesRequest": {
      "type": "object",
      "properties": {
        "ids": {
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per\nrequest.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "description": "A list of label IDs to remove from messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchModifyMessagesRequest"
    },
    "LanguageSettings": {
      "description": "Language settings for an account. These settings correspond to\nthe \u003ca href=\"https://support.google.com/mail/answer/17091\"\u003e\"Language\nsettings\"\u003c/a\u003e feature in the web interface.",
      "type": "object",
      "properties": {
        "displayLanguage": {
          "description": "The language to display Gmail in, formatted as an\n\u003ca href=\"https://www.w3.org/International/articles/language-tags/\"\u003eRFC 3066\nLanguage Tag\u003c/a\u003e (for example \u003ccode\u003een-GB\u003c/code\u003e, \u003ccode\u003efr\u003c/code\u003e or\n\u003ccode\u003eja\u003c/code\u003e for British English, French, or Japanese respectively).\n\nThe set of languages supported by Gmail evolves over time, so please refer\nto the \"Language\" dropdown in the\n\u003ca href=\"https://mail.google.com/mail/u/0/#settings/general\"\u003eGmail settings\n\u003c/a\u003e for all available options, as described in the\n\u003ca href=\"https://support.google.com/mail/answer/17091\"\u003elanguage settings\nhelp article\u003c/a\u003e. A table of sample values is also provided in the\n\u003ca href=\"/gmail/api/guides/language_settings#display_language\"\u003eManaging\nLanguage Settings guide\u003c/a\u003e\n\nNot all Gmail clients can display the same set of languages. In the case\nthat a user's display language is not available for use on a particular\nclient, said client automatically chooses to display in the closest\nsupported variant (or a reasonable default).",
          "type": "string"
        }
      },
      "id": "LanguageSettings"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Gmail",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "Manage your basic mail settings"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Insert mail into your mailbox"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "Manage mailbox labels"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "View and modify but not delete your email"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        }
      }
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "gmail",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Gmail API",
  "ownerName": "Google",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "description": "Gets the current user's Gmail profile.",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "Profile"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
              "default": "me",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "gmail/v1/users/{userId}/profile",
          "id": "gmail.users.getProfile",
          "path": "gmail/v1/users/{userId}/profile"
        },
        "watch": {
          "response": {
            "$ref": "WatchResponse"
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameters": {
            "userId": {
              "location": "path",
              "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
              "default": "me",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "gmail/v1/users/{userId}/watch",
          "path": "gmail/v1/users/{userId}/watch",
          "id": "gmail.users.watch",
          "request": {
            "$ref": "WatchRequest"
          },
          "description": "Set up or update a push notification watch on the given user mailbox."
        },
        "stop": {
          "httpMethod": "POST",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
              "default": "me",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "gmail/v1/users/{userId}/stop",
          "id": "gmail.users.stop",
          "path": "gmail/v1/users/{userId}/stop",
          "description": "Stop receiving push notifications for the given user mailbox."
        }
      },
      "resources": {
        "threads": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the Thread to delete."
                },
                "userId": {
                  "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "id": "gmail.users.threads.delete",
              "description": "Immediately and permanently deletes the specified thread. This operation\ncannot be undone. Prefer \u003ccode\u003ethreads.trash\u003c/code\u003e instead."
            },
            "trash": {
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the thread to Trash."
                },
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "path": "gmail/v1/users/{userId}/threads/{id}/trash",
              "id": "gmail.users.threads.trash",
              "description": "Moves the specified thread to the trash.",
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "ListThreadsResponse"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                },
                "labelIds": {
                  "location": "query",
                  "description": "Only return threads with labels that match all of the specified label IDs.",
                  "type": "string",
                  "repeated": true
                },
                "q": {
                  "location": "query",
                  "description": "Only return threads matching the specified query. Supports the same\nquery format as the Gmail search box. For example,\n\u003ccode\u003e\"from:someuser@example.com rfc822msgid:\u003csomemsgid@example.com\u003e\nis:unread\"\u003c/code\u003e. Parameter cannot be used when accessing the api\nusing the gmail.metadata scope.",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of threads to return.",
                  "format": "uint32",
                  "default": "100",
                  "type": "integer",
                  "location": "query"
                },
                "userId": {
                  "location": "path",
                  "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "location": "query",
                  "description": "Include threads from \u003ccode\u003eSPAM\u003c/code\u003e and \u003ccode\u003eTRASH\u003c/code\u003e\nin the results."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads",
              "path": "gmail/v1/users/{userId}/threads",
              "id": "gmail.users.threads.list",
              "description": "Lists the threads in the user's mailbox."
            },
            "modify": {
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "path": "gmail/v1/users/{userId}/threads/{id}/modify",
              "id": "gmail.users.threads.modify",
              "request": {
                "$ref": "ModifyThreadRequest"
              },
              "description": "Modifies the labels applied to the thread. This applies to all messages\nin the thread.",
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "The ID of the thread to modify.",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user."
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                },
                "metadataHeaders": {
                  "repeated": true,
                  "location": "query",
                  "description": "When given and format is METADATA, only include headers specified.",
                  "type": "string"
                },
                "format": {
                  "default": "full",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "description": "The format to return the messages in."
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the thread to retrieve."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "id": "gmail.users.threads.get",
              "description": "Gets the specified thread."
            },
            "untrash": {
              "description": "Removes the specified thread from the trash.",
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user."
                },
                "id": {
                  "location": "path",
                  "description": "The ID of the thread to remove from Trash.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "id": "gmail.users.threads.untrash"
            }
          }
        },
        "settings": {
          "methods": {
            "getLanguage": {
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "id": "gmail.users.settings.getLanguage",
              "path": "gmail/v1/users/{userId}/settings/language",
              "description": "Gets language settings."
            },
            "updatePop": {
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "id": "gmail.users.settings.updatePop",
              "description": "Updates POP settings.",
              "request": {
                "$ref": "PopSettings"
              }
            },
            "getPop": {
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "id": "gmail.users.settings.getPop",
              "description": "Gets POP settings."
            },
            "updateImap": {
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "id": "gmail.users.settings.updateImap",
              "request": {
                "$ref": "ImapSettings"
              },
              "description": "Updates IMAP settings.",
              "response": {
                "$ref": "ImapSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "updateVacation": {
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "id": "gmail.users.settings.updateVacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "description": "Updates vacation responder settings.",
              "request": {
                "$ref": "VacationSettings"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "VacationSettings"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "getImap": {
              "response": {
                "$ref": "ImapSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "id": "gmail.users.settings.getImap",
              "description": "Gets IMAP settings."
            },
            "updateAutoForwarding": {
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "id": "gmail.users.settings.updateAutoForwarding",
              "request": {
                "$ref": "AutoForwarding"
              },
              "description": "Updates the auto-forwarding setting for the specified account.  A verified\nforwarding address must be specified when auto-forwarding is enabled.\n\nThis method is only available to service account clients that have been\ndelegated domain-wide authority.",
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding"
            },
            "getVacation": {
              "description": "Gets vacation responder settings.",
              "response": {
                "$ref": "VacationSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "id": "gmail.users.settings.getVacation"
            },
            "updateLanguage": {
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "path": "gmail/v1/users/{userId}/settings/language",
              "id": "gmail.users.settings.updateLanguage",
              "request": {
                "$ref": "LanguageSettings"
              },
              "description": "Updates language settings.\n\nIf successful, the return object contains the \u003ccode\u003edisplayLanguage\u003c/code\u003e\nthat was saved for the user, which may differ from the value passed into\nthe request. This is because the requested \u003ccode\u003edisplayLanguage\u003c/code\u003e may\nnot be directly supported by Gmail but have a close variant that is, and so\nthe variant may be chosen and saved instead."
            },
            "getAutoForwarding": {
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "id": "gmail.users.settings.getAutoForwarding",
              "description": "Gets the auto-forwarding setting for the specified account."
            }
          },
          "resources": {
            "sendAs": {
              "methods": {
                "delete": {
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.delete",
                  "description": "Deletes the specified send-as alias.  Revokes any verification that may\nhave been required for using it.\n\nThis method is only available to service account clients that have been\ndelegated domain-wide authority.",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "description": "The send-as alias to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "id": "gmail.users.settings.sendAs.list",
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "description": "Lists the send-as aliases for the specified account.  The result includes\nthe primary send-as address associated with the account as well as any\ncustom \"from\" aliases.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "ListSendAsResponse"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "id": "gmail.users.settings.sendAs.create",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Creates a custom \"from\" send-as alias.  If an SMTP MSA is specified, Gmail\nwill attempt to connect to the SMTP service to validate the configuration\nbefore creating the alias.  If ownership verification is required for the\nalias, a message will be sent to the email address and the resource's\nverification status will be set to \u003ccode\u003epending\u003c/code\u003e; otherwise, the\nresource will be created with verification status set to\n\u003ccode\u003eaccepted\u003c/code\u003e.  If a signature is provided, Gmail will sanitize the\nHTML before saving it with the alias.\n\nThis method is only available to service account clients that have been\ndelegated domain-wide authority."
                },
                "verify": {
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "userId": {
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "description": "The send-as alias to be verified.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "id": "gmail.users.settings.sendAs.verify",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "description": "Sends a verification email to the specified send-as alias address.\nThe verification status must be \u003ccode\u003epending\u003c/code\u003e.\n\nThis method is only available to service account clients that have been\ndelegated domain-wide authority."
                },
                "patch": {
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "description": "The send-as alias to be updated.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.patch",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Patch the specified send-as alias."
                },
                "get": {
                  "description": "Gets the specified send-as alias.  Fails with an HTTP 404 error if the\nspecified address is not a member of the collection.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameters": {
                    "userId": {
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be retrieved.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.get",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}"
                },
                "update": {
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "description": "User's email address.  The special value \"me\"\ncan be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "description": "The send-as alias to be updated.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.update",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Updates a send-as alias.  If a signature is provided, Gmail will sanitize\nthe HTML before saving it with the alias.\n\nAddresses other than the primary address for the account can only be\nupdated by service account clients that have been delegated domain-wide\nauthority."
                }
              },
              "resources": {
                "smimeInfo": {
                  "methods": {
                    "list": {
                      "description": "Lists S/MIME configs for the specified send-as alias.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "response": {
                        "$ref": "ListSmimeInfoResponse"
                      },
                      "parameters": {
                        "userId": {
                          "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using\nthis alias.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "id": "gmail.users.settings.sendAs.smimeInfo.list",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo"
                    },
                    "get": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "id": "gmail.users.settings.sendAs.smimeInfo.get",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "description": "Gets the specified S/MIME config for the specified send-as alias.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic"
                      ],
                      "parameters": {
                        "id": {
                          "location": "path",
                          "description": "The immutable ID for the SmimeInfo.",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user."
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using\nthis alias.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "setDefault": {
                      "parameters": {
                        "id": {
                          "location": "path",
                          "description": "The immutable ID for the SmimeInfo.",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "location": "path",
                          "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using\nthis alias.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "id": "gmail.users.settings.sendAs.smimeInfo.setDefault",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "description": "Sets the default S/MIME config for the specified send-as alias.",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "parameters": {
                        "id": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The immutable ID for the SmimeInfo."
                        },
                        "userId": {
                          "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user.",
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using\nthis alias."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "id": "gmail.users.settings.sendAs.smimeInfo.delete",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "description": "Deletes the specified S/MIME config for the specified send-as alias."
                    },
                    "insert": {
                      "request": {
                        "$ref": "SmimeInfo"
                      },
                      "description": "Insert (upload) the given S/MIME config for the specified send-as alias.\nNote that pkcs12 format is required for the key.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The user's email address. The special value \u003ccode\u003eme\u003c/code\u003e\ncan be used to indicate the authenticated user."
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using\nthis alias.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "id": "gmail.users.settings.sendAs.smimeInfo.insert",
[...]
