{
  "version_module": true,
  "basePath": "",
  "servicePath": "",
  "version": "v1",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "name": "displayvideo",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "revision": "20200806",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "title": "Display & Video 360 API",
  "canonicalName": "Display Video",
  "schemas": {
    "CounterEvent": {
      "id": "CounterEvent",
      "description": "Counter event of the creative.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the counter event.",
          "type": "string"
        },
        "reportingName": {
          "type": "string",
          "description": "Required. The name used to identify this counter event in reports."
        }
      }
    },
    "Dimensions": {
      "properties": {
        "widthPixels": {
          "description": "The width in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "heightPixels": {
          "description": "The height in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Dimensions",
      "type": "object",
      "description": "Dimensions."
    },
    "ContentOutstreamPositionTargetingOptionDetails": {
      "description": "Represents a targetable content outstream position, which could be used by display and video ads. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "type": "object",
      "id": "ContentOutstreamPositionTargetingOptionDetails",
      "properties": {
        "contentOutstreamPosition": {
          "description": "Output only. The content outstream position.",
          "readOnly": true,
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "type": "string",
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ]
        }
      }
    },
    "ThirdPartyOnlyConfig": {
      "properties": {
        "pixelOrderIdReportingEnabled": {
          "type": "boolean",
          "description": "Whether or not order ID reporting for pixels is enabled. This value cannot be changed once set to `true`."
        }
      },
      "id": "ThirdPartyOnlyConfig",
      "description": "Settings for advertisers that use third-party ad servers only.",
      "type": "object"
    },
    "ContentInstreamPositionAssignedTargetingOptionDetails": {
      "id": "ContentInstreamPositionAssignedTargetingOptionDetails",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`."
        },
        "contentInstreamPosition": {
          "description": "Output only. The content instream position for video or audio ads.",
          "readOnly": true,
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content."
          ],
          "type": "string",
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL"
          ]
        }
      },
      "type": "object",
      "description": "Assigned content instream position targeting option details. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`."
    },
    "ExchangeTargetingOptionDetails": {
      "id": "ExchangeTargetingOptionDetails",
      "description": "Represents a targetable exchange. This will be populated in the exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_EXCHANGE`.",
      "type": "object",
      "properties": {
        "exchange": {
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX",
            "Open8",
            "Triton.",
            "TripleLift",
            "Taboola",
            "InMobi.",
            "Smaato",
            "Aja.",
            "Nexstar Digital.",
            "Waze."
          ],
          "description": "Output only. The type of exchange.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE"
          ]
        }
      }
    },
    "AdvertiserDataAccessConfig": {
      "type": "object",
      "properties": {
        "sdfConfig": {
          "$ref": "AdvertiserSdfConfig",
          "description": "Structured Data Files (SDF) settings for the advertiser. If not specified, the SDF settings of the parent partner are used."
        }
      },
      "description": "Settings that control how advertiser related data may be accessed.",
      "id": "AdvertiserDataAccessConfig"
    },
    "BulkEditAdvertiserAssignedTargetingOptionsRequest": {
      "type": "object",
      "id": "BulkEditAdvertiserAssignedTargetingOptionsRequest",
      "description": "Request message for BulkEditAdvertiserAssignedTargetingOptions.",
      "properties": {
        "deleteRequests": {
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "type": "array",
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`."
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`.",
          "type": "array",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          }
        }
      }
    },
    "CombinedAudienceGroup": {
      "id": "CombinedAudienceGroup",
      "description": "Details of combined audience group. All combined audience targeting settings are logically ‘OR’ of each other.",
      "properties": {
        "settings": {
          "description": "Required. All combined audience targeting settings in combined audience group. Repeated settings with same id will be ignored. The number of combined audience settings should be no more than five, error will be thrown otherwise.",
          "items": {
            "$ref": "CombinedAudienceTargetingSetting"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnvironmentTargetingOptionDetails": {
      "id": "EnvironmentTargetingOptionDetails",
      "properties": {
        "environment": {
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "description": "Output only. The serving environment."
        }
      },
      "description": "Represents a targetable environment. This will be populated in the environment_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "type": "object"
    },
    "ContentInstreamPositionTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "contentInstreamPosition": {
          "type": "string",
          "description": "Output only. The content instream position.",
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content."
          ],
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL"
          ],
          "readOnly": true
        }
      },
      "id": "ContentInstreamPositionTargetingOptionDetails",
      "description": "Represents a targetable content instream position, which could be used by video and audio ads. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`."
    },
    "IntegralAdScience": {
      "id": "IntegralAdScience",
      "description": "Details of Integral Ad Science settings.",
      "type": "object",
      "properties": {
        "traqScoreOption": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any true advertising quality scores.",
            "TRAQ score 250-1000.",
            "TRAQ score 500-1000.",
            "TRAQ score 600-1000.",
            "TRAQ score 700-1000.",
            "TRAQ score 750-1000.",
            "TRAQ score 875-1000.",
            "TRAQ score 1000."
          ],
          "description": "True advertising quality (applicable to Display line items only).",
          "enum": [
            "TRAQ_UNSPECIFIED",
            "TRAQ_250",
            "TRAQ_500",
            "TRAQ_600",
            "TRAQ_700",
            "TRAQ_750",
            "TRAQ_875",
            "TRAQ_1000"
          ]
        },
        "excludedAdFraudRisk": {
          "description": "Ad Fraud settings.",
          "enum": [
            "SUSPICIOUS_ACTIVITY_UNSPECIFIED",
            "SUSPICIOUS_ACTIVITY_HR",
            "SUSPICIOUS_ACTIVITY_HMR"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any ad fraud prevention options.",
            "Ad Fraud - Exclude High Risk.",
            "Ad Fraud - Exclude High and Moderate Risk."
          ],
          "type": "string"
        },
        "excludedGamblingRisk": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any gambling options.",
            "Gambling - Exclude High Risk.",
            "Gambling - Exclude High and Moderate Risk."
          ],
          "enum": [
            "GAMBLING_UNSPECIFIED",
            "GAMBLING_HR",
            "GAMBLING_HMR"
          ],
          "description": "Brand Safety - **Gambling**."
        },
        "excludedDrugsRisk": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any drugs options.",
            "Drugs - Exclude High Risk.",
            "Drugs - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Drugs**.",
          "enum": [
            "DRUGS_UNSPECIFIED",
            "DRUGS_HR",
            "DRUGS_HMR"
          ],
          "type": "string"
        },
        "excludedAdultRisk": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any adult options.",
            "Adult - Exclude High Risk.",
            "Adult - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Adult content**.",
          "enum": [
            "ADULT_UNSPECIFIED",
            "ADULT_HR",
            "ADULT_HMR"
          ]
        },
        "excludedOffensiveLanguageRisk": {
          "description": "Brand Safety - **Offensive language**.",
          "enum": [
            "OFFENSIVE_LANGUAGE_UNSPECIFIED",
            "OFFENSIVE_LANGUAGE_HR",
            "OFFENSIVE_LANGUAGE_HMR"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any language options.",
            "Offensive Language - Exclude High Risk.",
            "Offensive Language - Exclude High and Moderate Risk."
          ],
          "type": "string"
        },
        "videoViewability": {
          "enum": [
            "VIDEO_VIEWABILITY_UNSPECIFIED",
            "VIDEO_VIEWABILITY_40",
            "VIDEO_VIEWABILITY_50",
            "VIDEO_VIEWABILITY_60",
            "VIDEO_VIEWABILITY_70"
          ],
          "description": "Video Viewability Section (applicable to video line items only).",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any video viewability options.",
            "40%+ in view (IAB video viewability standard).",
            "50%+ in view (IAB video viewability standard).",
            "60%+ in view (IAB video viewability standard).",
            "70%+ in view (IAB video viewability standard)."
          ]
        },
        "excludeUnrateable": {
          "description": "Brand Safety - **Unrateable**.",
          "type": "boolean"
        },
        "excludedIllegalDownloadsRisk": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any illegal downloads options.",
            "Illegal Downloads - Exclude High Risk.",
            "Illegal Downloads - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Illegal downloads**.",
          "type": "string",
          "enum": [
            "ILLEGAL_DOWNLOADS_UNSPECIFIED",
            "ILLEGAL_DOWNLOADS_HR",
            "ILLEGAL_DOWNLOADS_HMR"
          ]
        },
        "excludedAlcoholRisk": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any alcohol options.",
            "Alcohol - Exclude High Risk.",
            "Alcohol - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Alcohol**.",
          "enum": [
            "ALCOHOL_UNSPECIFIED",
            "ALCOHOL_HR",
            "ALCOHOL_HMR"
          ],
          "type": "string"
        },
        "excludedHateSpeechRisk": {
          "enum": [
            "HATE_SPEECH_UNSPECIFIED",
            "HATE_SPEECH_HR",
            "HATE_SPEECH_HMR"
          ],
          "type": "string",
          "description": "Brand Safety - **Hate speech**.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any hate speech options.",
            "Hate Speech - Exclude High Risk.",
            "Hate Speech - Exclude High and Moderate Risk."
          ]
        },
        "displayViewability": {
          "type": "string",
          "description": "Display Viewability section (applicable to display line items only).",
          "enum": [
            "PERFORMANCE_VIEWABILITY_UNSPECIFIED",
            "PERFORMANCE_VIEWABILITY_40",
            "PERFORMANCE_VIEWABILITY_50",
            "PERFORMANCE_VIEWABILITY_60",
            "PERFORMANCE_VIEWABILITY_70"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any display viewability options.",
            "Target 40% Viewability or Higher.",
            "Target 50% Viewability or Higher.",
            "Target 60% Viewability or Higher.",
            "Target 70% Viewability or Higher."
          ]
        },
        "excludedViolenceRisk": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any violence options.",
            "Violence - Exclude High Risk.",
            "Violence - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Violence**.",
          "enum": [
            "VIOLENCE_UNSPECIFIED",
            "VIOLENCE_HR",
            "VIOLENCE_HMR"
          ],
          "type": "string"
        }
      }
    },
    "DeviceMakeModelTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the device make and model.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DeviceMakeModelTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable device make and model. This will be populated in the device_make_model_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`."
    },
    "CustomBiddingAlgorithm": {
      "id": "CustomBiddingAlgorithm",
      "properties": {
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. The unique ID of the advertiser that owns the custom bidding algorithm."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the custom bidding algorithm."
        },
        "customBiddingAlgorithmType": {
          "type": "string",
          "enumDescriptions": [
            "Algorithm type is not specified or is unknown in this version.",
            "Algorithm generated through customer-uploaded custom bidding script files.",
            "Algorithm created through Ads Data Hub product."
          ],
          "enum": [
            "CUSTOM_BIDDING_ALGORITHM_TYPE_UNSPECIFIED",
            "SCRIPT_BASED",
            "ADS_DATA_HUB_BASED"
          ],
          "description": "Required. Immutable. The type of custom bidding algorithm."
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Controls whether or not the custom bidding algorithm can be used as a bidding strategy. Accepted values are: * `ENTITY_STATUS_ACTIVE` * `ENTITY_STATUS_ARCHIVED`"
        },
        "partnerId": {
          "description": "Immutable. The unique ID of the partner that owns the custom bidding algorithm.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the custom bidding algorithm. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "customBiddingAlgorithmId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A single custom bidding algorithm."
    },
    "InsertionOrderBudget": {
      "properties": {
        "budgetSegments": {
          "items": {
            "$ref": "InsertionOrderBudgetSegment"
          },
          "type": "array",
          "description": "Required. The list of budget segments. Use a budget segment to specify a specific budget for a given period of time an insertion order is running."
        },
        "budgetUnit": {
          "type": "string",
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "description": "Required. Immutable. The budget unit specifies whether the budget is currency based or impression based."
        },
        "automationType": {
          "type": "string",
          "enum": [
            "INSERTION_ORDER_AUTOMATION_TYPE_UNSPECIFIED",
            "INSERTION_ORDER_AUTOMATION_TYPE_BUDGET",
            "INSERTION_ORDER_AUTOMATION_TYPE_NONE",
            "INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET"
          ],
          "enumDescriptions": [
            "Insertion order automation option is not specified or is unknown in this version.",
            "Automatic budget allocation. Allow the system to automatically shift budget to owning line items to optimize performance defined by performance_goal. No automation on bid settings.",
            "No automation of bid or budget on insertion order level. Bid and budget must be manually configured at the line item level.",
            "Allow the system to automatically adjust bids and shift budget to owning line items to optimize performance defined by performance_goal."
          ],
          "description": "The type of automation used to manage bid and budget for the insertion order. If this field is unspecified in creation, the value defaults to `INSERTION_ORDER_AUTOMATION_TYPE_NONE`."
        }
      },
      "description": "Settings that control how insertion order budget is allocated.",
      "type": "object",
      "id": "InsertionOrderBudget"
    },
    "CreateAssetRequest": {
      "type": "object",
      "properties": {
        "filename": {
          "description": "Required. The filename of the asset, including the file extension. The filename must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        }
      },
      "id": "CreateAssetRequest",
      "description": "A request message for CreateAsset."
    },
    "BulkEditAssignedLocationsResponse": {
      "properties": {
        "assignedLocations": {
          "type": "array",
          "description": "The list of assigned locations that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedLocation"
          }
        }
      },
      "type": "object",
      "description": "Response message for AssignedLocationService.BulkEditAssignedLocations.",
      "id": "BulkEditAssignedLocationsResponse"
    },
    "ListLineItemsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLineItems` method to retrieve the next page of results.",
          "type": "string"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "LineItem"
          },
          "description": "The list of line items. This list will be absent if empty."
        }
      },
      "id": "ListLineItemsResponse",
      "type": "object"
    },
    "InsertionOrder": {
      "type": "object",
      "id": "InsertionOrder",
      "description": "A single insertion order.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the insertion order was last updated. Assigned by the system.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the insertion order.",
          "readOnly": true
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to."
        },
        "frequencyCap": {
          "description": "Required. The frequency capping setting of the insertion order.",
          "$ref": "FrequencyCap"
        },
        "insertionOrderId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the insertion order. Assigned by the system."
        },
        "partnerCosts": {
          "items": {
            "$ref": "PartnerCost"
          },
          "type": "array",
          "description": "The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings."
        },
        "performanceGoal": {
          "description": "Required. Performance goal of the insertion order.",
          "$ref": "PerformanceGoal"
        },
        "budget": {
          "$ref": "InsertionOrderBudget",
          "description": "Required. The budget allocation settings of the insertion order."
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Additional integration details of the insertion order."
        },
        "advertiserId": {
          "type": "string",
          "description": "Output only. The unique ID of the advertiser the insertion order belongs to.",
          "format": "int64",
          "readOnly": true
        },
        "pacing": {
          "description": "Required. The budget spending speed setting of the insertion order.",
          "$ref": "Pacing"
        },
        "entityStatus": {
          "type": "string",
          "description": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "displayName": {
          "description": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "bidStrategy": {
          "description": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set.",
          "$ref": "BiddingStrategy"
        }
      }
    },
    "AssignedUserRole": {
      "type": "object",
      "properties": {
        "userRole": {
          "description": "Required. The user role to assign to a user for the entity.",
          "enum": [
            "USER_ROLE_UNSPECIFIED",
            "ADMIN",
            "ADMIN_PARTNER_CLIENT",
            "STANDARD",
            "STANDARD_PLANNER",
            "STANDARD_PLANNER_LIMITED",
            "STANDARD_PARTNER_CLIENT",
            "READ_ONLY",
            "REPORTING_ONLY",
            "LIMITED_REPORTING_ONLY",
            "CREATIVE",
            "CREATIVE_ADMIN"
          ],
          "enumDescriptions": [
            "Default value when the user role is not specified or is unknown in this version.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They can view and edit billing information, create or modify users, and enable or disable exchanges. This role can only be assigned for a partner entity.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They can create and modify other `ADMIN_PARTNER_CLIENT` users and view billing information. They cannot view revenue models, markups, or any other reseller-sensitive fields. This role can only be assigned for a partner entity.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They cannot create and modify users or view billing information.",
            "The user can view all campaigns, creatives, insertion orders, line items, and reports for the entity, including all cost data. They can create and modify planning-related features, including plans and inventory.",
            "The user can view all campaigns, creatives, insertion orders, line items, and reports for the entity. They can create or modify planning-related features, including plans and inventory. They have no access to cost data and cannot start, accept, or negotiate deals.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They cannot create or modify other users or view billing information. They cannot view revenue models, markups, or any other reseller-sensitive fields. This role can only be assigned for an advertiser entity.",
            "The user can only build reports and view data for the entity.",
            "The user can only create and manage reports.",
            "The user can only create and manage the following client-safe reports: General, Audience Performance, Cross-Partner, Keyword, Order ID, Category, and Third-Party Data Provider.",
            "The user can view media plan information they need to collaborate, but can't view cost-related data or Marketplace.",
            "The user can view media plan information they need to collaborate, but can't view cost-related data or Marketplace. In addition, they can add other creative admins or creative users to the entity."
          ],
          "type": "string"
        },
        "assignedUserRoleId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the assigned user role."
        },
        "partnerId": {
          "format": "int64",
          "description": "The ID of the partner that the assigned user role applies to.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the advertiser that the assigend user role applies to."
        }
      },
      "description": "A single assigned user role, which defines a user's authorized interaction with a specified partner or advertiser.",
      "id": "AssignedUserRole"
    },
    "ContentOutstreamPositionAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Assigned content outstream position targeting option details. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "properties": {
        "contentOutstreamPosition": {
          "readOnly": true,
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "description": "Output only. The content outstream position.",
          "type": "string",
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ]
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
          "type": "string"
        }
      },
      "id": "ContentOutstreamPositionAssignedTargetingOptionDetails"
    },
    "VideoPlayerSizeTargetingOptionDetails": {
      "id": "VideoPlayerSizeTargetingOptionDetails",
      "properties": {
        "videoPlayerSize": {
          "description": "Output only. The video player size.",
          "enumDescriptions": [
            "Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.",
            "The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).",
            "The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).",
            "The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).",
            "The dimensions of the video player are unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "VIDEO_PLAYER_SIZE_UNSPECIFIED",
            "VIDEO_PLAYER_SIZE_SMALL",
            "VIDEO_PLAYER_SIZE_LARGE",
            "VIDEO_PLAYER_SIZE_HD",
            "VIDEO_PLAYER_SIZE_UNKNOWN"
          ]
        }
      },
      "description": "Represents a targetable video player size. This will be populated in the video_player_size_details field when targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`.",
      "type": "object"
    },
    "AppAssignedTargetingOptionDetails": {
      "id": "AppAssignedTargetingOptionDetails",
      "description": "Details for assigned app targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP`.",
      "properties": {
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        },
        "appId": {
          "description": "Required. The ID of the app. Android's Play store app uses bundle ID, for example `com.google.android.gm`. Apple's App store app ID uses 9 digit string, for example `422689480`.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the app.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GeoRegionTargetingOptionDetails": {
      "description": "Represents a targetable geographic region. This will be populated in the geo_region_details field when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "type": "string"
        },
        "geoRegionType": {
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT"
          ],
          "type": "string",
          "description": "Output only. The type of geographic region targeting.",
          "readOnly": true,
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district."
          ]
        }
      },
      "id": "GeoRegionTargetingOptionDetails",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year by itself or a year and month where the day is not significant."
        },
        "month": {
          "format": "int32",
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a month and day.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. This can represent: * A full date, with non-zero year, month and day values * A month and day value, with a zero year, e.g. an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, e.g. a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`."
    },
    "ListLineItemAssignedTargetingOptionsResponse": {
      "id": "ListLineItemAssignedTargetingOptionsResponse",
      "description": "Response message for ListLineItemAssignedTargetingOptions.",
      "properties": {
        "assignedTargetingOptions": {
          "type": "array",
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListLineItemAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      },
      "type": "object"
    },
    "CombinedAudience": {
      "id": "CombinedAudience",
      "type": "object",
      "properties": {
        "combinedAudienceId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the combined audience. Assigned by the system."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the combined audience.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the combined audience. ."
        }
      },
      "description": "Describes a combined audience resource."
    },
    "GeoRegionAssignedTargetingOptionDetails": {
      "id": "GeoRegionAssignedTargetingOptionDetails",
      "description": "Details for assigned geographic region targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_GEO_REGION`.",
          "type": "string"
        },
        "geoRegionType": {
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT"
          ],
          "readOnly": true,
          "description": "Output only. The type of geographic region targeting.",
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district."
          ],
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      }
    },
    "NegativeKeywordList": {
      "id": "NegativeKeywordList",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the negative keyword list.",
          "type": "string",
          "readOnly": true
        },
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the negative keyword list belongs to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "negativeKeywordListId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the negative keyword list. Assigned by the system.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Required. The display name of the negative keyword list. Must be UTF-8 encoded with a maximum size of 255 bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of negative keywords used for targeting."
    },
    "Site": {
      "id": "Site",
      "properties": {
        "urlOrAppId": {
          "type": "string",
          "description": "Required. The URL or app ID of the site. Must be UTF-8 encoded with a maximum length of 240 bytes."
        },
        "name": {
          "description": "Output only. The resource name of the site.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A single site. Sites are apps or websites belonging to a channel.",
      "type": "object"
    },
    "ListUsersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListUsers` method to retrieve the next page of results. This token will be absent if there are no more results to return."
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The list of users. This list will be absent if empty.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListUsersResponse"
    },
    "CategoryAssignedTargetingOptionDetails": {
      "id": "CategoryAssignedTargetingOptionDetails",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the category.",
          "type": "string",
          "readOnly": true
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CATEGORY`."
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      },
      "type": "object",
      "description": "Assigned category targeting option details. This will be populated in the category_details field when targeting_type is `TARGETING_TYPE_CATEGORY`."
    },
    "MeasurementConfig": {
      "type": "object",
      "description": "Measurement settings of a partner.",
      "id": "MeasurementConfig",
      "properties": {
        "dv360ToCmDataSharingEnabled": {
          "type": "boolean",
          "description": "Whether or not to include DV360 data in CM data transfer reports."
        },
        "dv360ToCmCostReportingEnabled": {
          "type": "boolean",
          "description": "Whether or not to report DV360 cost to CM."
        }
      }
    },
    "CombinedAudienceTargetingSetting": {
      "properties": {
        "combinedAudienceId": {
          "description": "Required. Combined audience id of combined audience targeting setting. This id is combined_audience_id.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CombinedAudienceTargetingSetting",
      "description": "Details of combined audience targeting setting."
    },
    "DeviceTypeTargetingOptionDetails": {
      "type": "object",
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "id": "DeviceTypeTargetingOptionDetails",
      "properties": {
        "deviceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "The device type is computer.",
            "The device type is connected TV.",
            "The device type is smart phone..",
            "The device type is tablet."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET"
          ],
          "type": "string",
          "description": "Output only. The device type that is used to be targeted."
        }
      }
    },
    "ListTargetingOptionsResponse": {
      "description": "Response message for ListTargetingOptions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListTargetingOptions` method to retrieve the next page of results."
        },
        "targetingOptions": {
          "items": {
            "$ref": "TargetingOption"
          },
          "type": "array",
          "description": "The list of targeting options. This list will be absent if empty."
        }
      },
      "id": "ListTargetingOptionsResponse"
    },
    "BiddingStrategy": {
      "properties": {
        "fixedBid": {
          "description": "A strategy that uses a fixed bid price.",
          "$ref": "FixedBidStrategy"
        },
        "maximizeSpendAutoBid": {
          "$ref": "MaximizeSpendBidStrategy",
          "description": "A strategy that automatically adjusts the bid to optimize to your performance goal while spending the full budget. At insertion order level, the markup_type of line items cannot be set to `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`. In addition, when performance_goal_type is one of: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED` , the line_item_type of the insertion order line items must be either: * `LINE_ITEM_TYPE_DISPLAY_DEFAULT` * `LINE_ITEM_TYPE_VIDEO_DEFAULT` , and when performance_goal_type is either: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN` the line_item_type of the insertion order line items must be `LINE_ITEM_TYPE_VIDEO_DEFAULT`."
        },
        "performanceGoalAutoBid": {
          "description": "A strategy that automatically adjusts the bid to meet or beat a specified performance goal. It is to be used only for a line item entity.",
          "$ref": "PerformanceGoalBidStrategy"
        }
      },
      "type": "object",
      "id": "BiddingStrategy",
      "description": "Settings that control the bid strategy. Bid strategy determines the bid price."
    },
    "PartnerCost": {
      "description": "Settings that control a partner cost. A partner cost is any type of expense involved in running a campaign, other than the costs of purchasing impressions (which is called the media cost) and using third-party audience segment data (data fee). Some examples of partner costs include the fees for using DV360, a third-party ad server, or a third-party ad serving verification service.",
      "type": "object",
      "id": "PartnerCost",
      "properties": {
        "feeAmount": {
          "format": "int64",
          "description": "The CPM fee amount in micros of advertiser's currency. Applicable when the fee_type is `PARTNER_FEE_TYPE_CPM_FEE`. Must be greater than or equal to 0. For example, for 1.5 standard unit of the advertiser's currency, set this field to 1500000.",
          "type": "string"
        },
        "invoiceType": {
          "description": "The invoice type for this partner cost. * Required when cost_type is one of: - `PARTNER_COST_TYPE_ADLOOX` - `PARTNER_COST_TYPE_DOUBLE_VERIFY` - `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE`. * Output only for other types.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Partner cost is billed through DV360.",
            "Partner cost is billed by the partner."
          ],
          "enum": [
            "PARTNER_COST_INVOICE_TYPE_UNSPECIFIED",
            "PARTNER_COST_INVOICE_TYPE_DV360",
            "PARTNER_COST_INVOICE_TYPE_PARTNER"
          ],
          "type": "string"
        },
        "costType": {
          "enum": [
            "PARTNER_COST_TYPE_UNSPECIFIED",
            "PARTNER_COST_TYPE_ADLOOX",
            "PARTNER_COST_TYPE_ADLOOX_PREBID",
            "PARTNER_COST_TYPE_ADSAFE",
            "PARTNER_COST_TYPE_ADXPOSE",
            "PARTNER_COST_TYPE_AGGREGATE_KNOWLEDGE",
            "PARTNER_COST_TYPE_AGENCY_TRADING_DESK",
            "PARTNER_COST_TYPE_DV360_FEE",
            "PARTNER_COST_TYPE_COMSCORE_VCE",
            "PARTNER_COST_TYPE_DATA_MANAGEMENT_PLATFORM",
            "PARTNER_COST_TYPE_DEFAULT",
            "PARTNER_COST_TYPE_DOUBLE_VERIFY",
            "PARTNER_COST_TYPE_DOUBLE_VERIFY_PREBID",
            "PARTNER_COST_TYPE_EVIDON",
            "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO",
            "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_PREBID",
            "PARTNER_COST_TYPE_MEDIA_COST_DATA",
            "PARTNER_COST_TYPE_MOAT_VIDEO",
            "PARTNER_COST_TYPE_NIELSEN_DAR",
            "PARTNER_COST_TYPE_SHOP_LOCAL",
            "PARTNER_COST_TYPE_TERACENT",
            "PARTNER_COST_TYPE_THIRD_PARTY_AD_SERVER",
            "PARTNER_COST_TYPE_TRUST_METRICS",
            "PARTNER_COST_TYPE_VIZU",
            "PARTNER_COST_TYPE_ADLINGO_FEE",
            "PARTNER_COST_TYPE_CUSTOM_FEE_1",
            "PARTNER_COST_TYPE_CUSTOM_FEE_2",
            "PARTNER_COST_TYPE_CUSTOM_FEE_3",
            "PARTNER_COST_TYPE_CUSTOM_FEE_4",
            "PARTNER_COST_TYPE_CUSTOM_FEE_5"
          ],
          "type": "string",
          "description": "Required. The type of the partner cost.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The cost is charged for using Adloox.",
            "The cost is charged for using Adloox Pre-Bid.",
            "The cost is charged for using AdSafe.",
            "The cost is charged for using AdExpose.",
            "The cost is charged for using Aggregate Knowledge.",
            "The cost is charged for using an Agency Trading Desk.",
            "The cost is charged for using DV360.",
            "The cost is charged for using comScore vCE.",
            "The cost is charged for using a Data Management Platform.",
            "The default cost type.",
            "The cost is charged for using DoubleVerify.",
            "The cost is charged for using DoubleVerify Pre-Bid.",
            "The cost is charged for using Evidon.",
            "The cost is charged for using Integral Ad Science Video.",
            "The cost is charged for using Integral Ad Science Pre-Bid.",
            "The cost is charged for using media cost data.",
            "The cost is charged for using MOAT Video.",
            "The cost is charged for using Nielsen Digital Ad Ratings.",
            "The cost is charged for using ShopLocal.",
            "The cost is charged for using Teracent.",
            "The cost is charged for using a third-party ad server.",
            "The cost is charged for using TrustMetrics.",
            "The cost is charged for using Vizu.",
            "The cost is charged for using AdLingo.",
            "The cost is charged as custom fee 1.",
            "The cost is charged as custom fee 2.",
            "The cost is charged as custom fee 3.",
            "The cost is charged as custom fee 4.",
            "The cost is charged as custom fee 5."
          ]
        },
        "feeType": {
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "The partner cost is a fixed CPM fee. Not applicable when the partner cost cost_type is one of: * `PARTNER_COST_TYPE_MEDIA_COST_DATA` * `PARTNER_COST_TYPE_DV360_FEE`.",
            "The partner cost is a percentage surcharge based on the media cost. Not applicable when the partner cost_type is one of: * `PARTNER_COST_TYPE_SHOP_LOCAL` * `PARTNER_COST_TYPE_TRUST_METRICS` * `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO` * `PARTNER_COST_TYPE_MOAT_VIDEO`."
          ],
          "type": "string",
          "enum": [
            "PARTNER_COST_FEE_TYPE_UNSPECIFIED",
            "PARTNER_COST_FEE_TYPE_CPM_FEE",
            "PARTNER_COST_FEE_TYPE_MEDIA_FEE"
          ],
          "description": "Required. The fee type for this partner cost."
        },
        "feePercentageMillis": {
          "description": "The media fee percentage in millis (1/1000 of a percent). Applicable when the fee_type is `PARTNER_FEE_TYPE_MEDIA_FEE`. Must be greater than or equal to 0. For example: 100 represents 0.1%.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FirstAndThirdPartyAudienceGroup": {
      "description": "Details of first and third party audience group. All first and third party audience targeting settings are logically ‘OR’ of each other.",
      "id": "FirstAndThirdPartyAudienceGroup",
      "properties": {
        "settings": {
          "items": {
            "$ref": "FirstAndThirdPartyAudienceTargetingSetting"
          },
          "type": "array",
          "description": "Required. All first and third party audience targeting settings in first and third party audience group. Repeated settings with same id are not allowed."
        }
      },
      "type": "object"
    },
    "AuthorizedSellerStatusTargetingOptionDetails": {
      "properties": {
        "authorizedSellerStatus": {
          "type": "string",
          "description": "Output only. The authorized seller status.",
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for default value and does not represent a real authorized seller status option.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers."
          ],
          "readOnly": true,
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ]
        }
      },
      "type": "object",
      "id": "AuthorizedSellerStatusTargetingOptionDetails",
      "description": "Represents a targetable authorized seller status. This will be populated in the authorized_seller_status_details field when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`."
    },
    "AssignedLocation": {
      "description": "An assignment between a location list and a relevant targeting option. Currently, geo region targeting options are the only supported option for assignment.",
      "properties": {
        "assignedLocationId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the assigned location. The ID is only unique within a location list. It may be reused in other contexts."
        },
        "name": {
          "description": "Output only. The resource name of the assigned location.",
          "readOnly": true,
          "type": "string"
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The ID of the targeting option assigned to the location list. Must be of type TARGETING_TYPE_GEO_REGION."
        }
      },
      "type": "object",
      "id": "AssignedLocation"
    },
    "DigitalContentLabelTargetingOptionDetails": {
      "properties": {
        "contentRatingTier": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An enum for the content label brand safety tiers.",
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE"
          ],
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.",
            "Content that has not been labeled.",
            "Content suitable for general audiences.",
            "Content suitable for most audiences with parental guidance.",
            "Content suitable for teen and older audiences.",
            "Content suitable only for mature audiences."
          ]
        }
      },
      "type": "object",
      "description": "Represents a targetable digital content label rating tier. This will be populated in the digital_content_label_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "id": "DigitalContentLabelTargetingOptionDetails"
    },
    "AssetAssociation": {
      "description": "Asset association for the creative.",
      "id": "AssetAssociation",
      "type": "object",
      "properties": {
        "role": {
          "enum": [
            "ASSET_ROLE_UNSPECIFIED",
            "ASSET_ROLE_MAIN",
            "ASSET_ROLE_BACKUP",
            "ASSET_ROLE_POLITE_LOAD",
            "ASSET_ROLE_HEADLINE",
            "ASSET_ROLE_LONG_HEADLINE",
            "ASSET_ROLE_BODY",
            "ASSET_ROLE_LONG_BODY",
            "ASSET_ROLE_CAPTION_URL",
            "ASSET_ROLE_CALL_TO_ACTION",
            "ASSET_ROLE_ADVERTISER_NAME",
            "ASSET_ROLE_PRICE",
            "ASSET_ROLE_ANDROID_APP_ID",
            "ASSET_ROLE_IOS_APP_ID",
            "ASSET_ROLE_RATING",
            "ASSET_ROLE_ICON",
            "ASSET_ROLE_COVER_IMAGE"
          ],
          "enumDescriptions": [
            "Asset role is not specified or is unknown in this version.",
            "The asset is the main asset of the creative.",
            "The asset is a backup asset of the creative.",
            "The asset is a polite load asset of the creative.",
            "Headline of a native creative. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long headline of a native creative. The content must be UTF-8 encoded with a length of no more than 50 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Body text of a native creative. The content must be UTF-8 encoded with a length of no more than 90 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long body text of a native creative. The content must be UTF-8 encoded with a length of no more than 150 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "A short, friendly version of the landing page URL to show in the creative. This URL gives people an idea of where they'll arrive after they click on the creative. The content must be UTF-8 encoded with a length of no more than 30 characters. For example, if the landing page URL is 'http://www.example.com/page', the caption URL can be 'example.com'. The protocol (http://) is optional, but the URL can't contain spaces or special characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text to use on the call-to-action button of a native creative. The content must be UTF-8 encoded with a length of no more than 15 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text that identifies the advertiser or brand name. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The purchase price of your app in the Google play store or iOS app store (for example, $5.99). Note that this value is not automatically synced with the actual value listed in the store. It will always be the one provided when save the creative. The content must be UTF-8 encoded with a length of no more than 15 characters. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE`",
            "The ID of an Android app in the Google play store. You can find this ID in the App’s Google Play Store URL after ‘id’. For example, in https://play.google.com/store/apps/details?id=com.company.appname the identifier is com.company.appname. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE`",
            "The ID of an iOS app in the Apple app store. This ID number can be found in the Apple App Store URL as the string of numbers directly after \"id\". For example, in https://apps.apple.com/us/app/gmail-email-by-google/id422689480 the ID is 422689480. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE`",
            "The rating of an app in the Google play store or iOS app store. Note that this value is not automatically synced with the actual rating in the store. It will always be the one provided when save the creative. This role is only supported in following creative_type: * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE`",
            "The icon of a creative. This role is only supported and required in following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_APP_INSTALL` * `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE`",
            "The cover image of a native video creative. This role is only supported and required in following creative_type: * `CREATIVE_TYPE_VIDEO`"
          ],
          "type": "string",
          "description": "The role of this asset for the creative."
        },
        "asset": {
          "description": "The associated asset.",
          "$ref": "Asset"
        }
      }
    },
    "DoubleVerifyDisplayViewability": {
      "description": "Details of DoubleVerify display viewability settings.",
      "id": "DoubleVerifyDisplayViewability",
      "properties": {
        "viewableDuring": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any average view duration options.",
            "Target web and app inventory to maximize 100% viewable duration 5 seconds or more.",
            "Target web and app inventory to maximize 100% viewable duration 10 seconds or more.",
            "Target web and app inventory to maximize 100% viewable duration 15 seconds or more."
          ],
          "enum": [
            "AVERAGE_VIEW_DURATION_UNSPECIFIED",
            "AVERAGE_VIEW_DURATION_5_SEC",
            "AVERAGE_VIEW_DURATION_10_SEC",
            "AVERAGE_VIEW_DURATION_15_SEC"
          ],
          "description": "Target web and app inventory to maximize 100% viewable duration.",
          "type": "string"
        },
        "iab": {
          "type": "string",
          "description": "Target web and app inventory to maximize IAB viewable rate.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any IAB viewed rate options.",
            "Target web and app inventory to maximize IAB viewable rate 80% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 75% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 70% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 65% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 60% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 55% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 50% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 40% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 30% or higher."
          ],
          "enum": [
            "IAB_VIEWED_RATE_UNSPECIFIED",
            "IAB_VIEWED_RATE_80_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_75_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_70_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_65_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_60_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_55_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_50_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_40_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_30_PERCENT_HIGHER"
          ]
        }
      },
      "type": "object"
    },
    "CustomListTargetingSetting": {
      "id": "CustomListTargetingSetting",
      "properties": {
        "customListId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Custom id of custom list targeting setting. This id is custom_list_id."
        }
      },
      "description": "Details of custom list targeting setting.",
      "type": "object"
    },
    "AppCategoryAssignedTargetingOptionDetails": {
      "id": "AppCategoryAssignedTargetingOptionDetails",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the app category.",
          "type": "string"
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
        }
      },
      "type": "object",
      "description": "Details for assigned app category targeting option. This will be populated in the app_category_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
    },
    "BulkListLineItemAssignedTargetingOptionsResponse": {
      "id": "BulkListLineItemAssignedTargetingOptionsResponse",
      "type": "object",
      "properties": {
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent BulkListLineItemAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      }
    },
    "AdvertiserGeneralConfig": {
      "id": "AdvertiserGeneralConfig",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Immutable. Advertiser's currency in ISO 4217 format. Accepted codes and the currencies they represent are: Currency Code : Currency Name * `ARS` : Argentine Peso * `AUD` : Australian Dollar * `BRL` : Brazilian Real * `CAD` : Canadian Dollar * `CHF` : Swiss Franc * `CLP` : Chilean Peso * `CNY` : Chinese Yuan * `COP` : Colombian Peso * `CZK` : Czech Koruna * `DKK` : Danish Krone * `EGP` : Egyption Pound * `EUR` : Euro * `GBP` : British Pound * `HKD` : Hong Kong Dollar * `HUF` : Hungarian Forint * `IDR` : Indonesian Rupiah * `ILS` : Israeli Shekel * `INR` : Indian Rupee * `JPY` : Japanese Yen * `KRW` : South Korean Won * `MXN` : Mexican Pesos * `MYR` : Malaysian Ringgit * `NGN` : Nigerian Naira * `NOK` : Norwegian Krone * `NZD` : New Zealand Dollar * `PEN` : Peruvian Nuevo Sol * `PLN` : Polish Zloty * `RON` : New Romanian Leu * `RUB` : Russian Ruble * `SEK` : Swedish Krona * `TRY` : Turkish Lira * `TWD` : New Taiwan Dollar * `USD` : US Dollar * `ZAR` : South African Rand"
        },
        "domainUrl": {
          "description": "Required. The domain URL of the advertiser's primary website. The system will send this information to publishers that require website URL to associate a campaign with an advertiser. Provide a URL with no path or query string, beginning with `http:` or `https:`. For example, http://www.example.com",
          "type": "string"
        },
        "timeZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The standard TZ database name of the advertiser's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones For CM hybrid advertisers, the time zone is the same as that of the associated CM account; for third-party only advertisers, the time zone is the same as that of the parent partner."
        }
      },
      "description": "General settings of an advertiser.",
      "type": "object"
    },
    "ExchangeConfig": {
      "description": "Settings that control which exchanges are enabled for a partner.",
      "type": "object",
      "properties": {
        "enabledExchanges": {
          "type": "array",
          "items": {
            "$ref": "ExchangeConfigEnabledExchange"
          },
          "description": "All enabled exchanges in the partner. Duplicate enabled exchanges will be ignored."
        }
      },
      "id": "ExchangeConfig"
    },
    "CmHybridConfig": {
      "description": "Settings for advertisers that use both Campaign Manager (CM) and third-party ad servers.",
      "type": "object",
      "properties": {
        "cmSyncableSiteIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "A list of CM sites whose placements will be synced to DV360 as creatives. If absent or empty in CreateAdvertiser method, the system will automatically create a CM site. Removing sites from this list may cause DV360 creatives synced from CM to be deleted. At least one site must be specified."
        },
        "dv360ToCmCostReportingEnabled": {
          "type": "boolean",
          "description": "Whether or not to report DV360 cost to CM."
        },
        "cmAccountId": {
          "format": "int64",
          "description": "Required. Immutable. Account ID of the CM Floodlight configuration linked with the DV360 advertiser.",
          "type": "string"
        },
        "dv360ToCmDataSharingEnabled": {
          "description": "Whether or not to include DV360 data in CM data transfer reports.",
          "type": "boolean"
        },
        "cmFloodlightConfigId": {
          "description": "Required. Immutable. ID of the CM Floodlight configuration linked with the DV360 advertiser.",
          "format": "int64",
          "type": "string"
        },
        "cmFloodlightLinkingAuthorized": {
          "description": "Required. Immutable. By setting this field to `true`, you, on behalf of your company, authorize the sharing of information from the given Floodlight configuration to this Display & Video 360 advertiser.",
          "type": "boolean"
        }
      },
      "id": "CmHybridConfig"
    },
    "AudioVideoOffset": {
      "properties": {
        "percentage": {
          "type": "string",
          "format": "int64",
          "description": "The offset in percentage of the audio or video duration."
        },
        "seconds": {
          "description": "The offset in seconds from the start of the audio or video.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The length an audio or a video has been played.",
      "id": "AudioVideoOffset"
    },
    "AssignedInventorySource": {
      "type": "object",
      "id": "AssignedInventorySource",
      "description": "An assignment between a targetable inventory source and an inventory source group.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the assigned inventory source.",
          "type": "string",
          "readOnly": true
        },
        "assignedInventorySourceId": {
          "type": "string",
          "description": "Output only. The unique ID of the assigned inventory source. The ID is only unique within a given inventory source group. It may be reused in other contexts.",
          "format": "int64",
          "readOnly": true
        },
        "inventorySourceId": {
          "type": "string",
          "description": "Required. The ID of the inventory source entity being targeted."
        }
      }
    },
    "DigitalContentLabelAssignedTargetingOptionDetails": {
      "id": "DigitalContentLabelAssignedTargetingOptionDetails",
      "properties": {
        "contentRatingTier": {
          "type": "string",
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.",
            "Content that has not been labeled.",
            "Content suitable for general audiences.",
            "Content suitable for most audiences with parental guidance.",
            "Content suitable for teen and older audiences.",
            "Content suitable only for mature audiences."
          ],
          "description": "Output only. The display name of the digital content label rating tier.",
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE"
          ],
          "readOnly": true
        },
        "excludedTargetingOptionId": {
          "description": "Required. ID of the digital content label to be EXCLUDED.",
          "type": "string"
        }
      },
      "description": "Targeting details for digital content label. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "type": "object"
    },
    "ListNegativeKeywordsResponse": {
      "properties": {
        "negativeKeywords": {
          "description": "The list of negative keywords. This list will be absent if empty.",
          "items": {
            "$ref": "NegativeKeyword"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListNegativeKeywords` method to retrieve the next page of results."
        }
      },
      "id": "ListNegativeKeywordsResponse",
      "description": "Response message for NegativeKeywordService.ListNegativeKeywords.",
      "type": "object"
    },
    "LocationList": {
      "id": "LocationList",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the location list. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "advertiserId": {
          "description": "Required. Immutable. The unique ID of the advertiser the location list belongs to.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the location list."
        },
        "locationType": {
          "type": "string",
          "enum": [
            "TARGETING_LOCATION_TYPE_UNSPECIFIED",
            "TARGETING_LOCATION_TYPE_PROXIMITY",
            "TARGETING_LOCATION_TYPE_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "The type for proximity geo location.",
            "The type for regional geo location."
          ],
          "description": "Required. Immutable. The type of location. All locations in the list will share this type."
        },
        "locationListId": {
          "description": "Output only. The unique ID of the location list. Assigned by the system.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of locations used for targeting."
    },
    "GenderAssignedTargetingOptionDetails": {
      "id": "GenderAssignedTargetingOptionDetails",
      "description": "Details for assigned gender targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARTGETING_TYPE_GENDER`.",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_GENDER`."
        },
        "gender": {
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ],
          "type": "string",
          "description": "Output only. The gender of the audience.",
          "readOnly": true,
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ]
        }
      },
      "type": "object"
    },
    "HouseholdIncomeAssignedTargetingOptionDetails": {
      "properties": {
        "householdIncome": {
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The household income of the audience.",
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ]
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_HOUSEHOLD_INCOME`."
        }
      },
      "description": "Details for assigned household income targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "type": "object",
      "id": "HouseholdIncomeAssignedTargetingOptionDetails"
    },
    "InventorySourceGroup": {
      "description": "A collection of targetable inventory sources.",
      "type": "object",
      "id": "InventorySourceGroup",
      "properties": {
        "inventorySourceGroupId": {
          "description": "Output only. The unique ID of the inventory source group. Assigned by the system.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the inventory source group. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "name": {
          "description": "Output only. The resource name of the inventory source group.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListInventorySourcesResponse": {
      "id": "ListInventorySourcesResponse",
      "properties": {
        "inventorySources": {
          "description": "The list of inventory sources. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "InventorySource"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInventorySources` method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "GoogleAudience": {
      "description": "Describes a Google audience resource. Includes Google audience lists.",
      "type": "object",
      "id": "GoogleAudience",
      "properties": {
        "googleAudienceId": {
          "description": "Output only. The unique ID of the Google audience. Assigned by the system.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the google audience."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the Google audience. ."
        },
        "googleAudienceType": {
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "Affinity type Google audience.",
            "In-Market type Google audience.",
            "Installed-apps type Google audience.",
            "New-mobile-devices type Google audience."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of Google audience. .",
          "enum": [
            "GOOGLE_AUDIENCE_TYPE_UNSPECIFIED",
            "GOOGLE_AUDIENCE_TYPE_AFFINITY",
            "GOOGLE_AUDIENCE_TYPE_IN_MARKET",
            "GOOGLE_AUDIENCE_TYPE_INSTALLED_APPS",
            "GOOGLE_AUDIENCE_TYPE_NEW_MOBILE_DEVICES"
          ]
        }
      }
    },
    "BulkEditAdvertiserAssignedTargetingOptionsResponse": {
      "properties": {
        "createdAssignedTargetingOptions": {
          "type": "array",
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty."
        }
      },
      "type": "object",
      "id": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
    },
    "ListNegativeKeywordListsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListNegativeKeywordLists` method to retrieve the next page of results."
        },
        "negativeKeywordLists": {
          "type": "array",
          "description": "The list of negative keyword lists. This list will be absent if empty.",
          "items": {
            "$ref": "NegativeKeywordList"
          }
        }
      },
      "type": "object",
      "id": "ListNegativeKeywordListsResponse",
      "description": "Response message for NegativeKeywordListService.ListNegativeKeywordLists."
    },
    "ListChannelsResponse": {
      "type": "object",
      "id": "ListChannelsResponse",
      "properties": {
        "channels": {
          "description": "The list of channels. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "nextPageToken": {
          "type": "string",
[...]
