{
  "basePath": "",
  "id": "tagmanager:v2",
  "documentationLink": "https://developers.google.com/tag-manager",
  "revision": "20200220",
  "discoveryVersion": "v1",
  "schemas": {
    "Parameter": {
      "description": "Represents a Google Tag Manager Parameter.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "May include variable references (such as \"{{myVariable}}\").",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type.  Valid values are:\u003cul\u003e\n\u003cli\u003e\u003ccode\u003eboolean\u003c/code\u003e: The value represents a boolean, represented as\n    'true' or 'false'\u003c/li\u003e\n\u003cli\u003e\u003ccode\u003einteger\u003c/code\u003e: The value represents a 64-bit signed integer\n    value, in base 10\u003c/li\u003e\n\u003cli\u003e\u003ccode\u003elist\u003c/code\u003e: A list of parameters should be specified\u003c/li\u003e\n\u003cli\u003e\u003ccode\u003emap\u003c/code\u003e: A map of parameters should be specified\u003c/li\u003e\n\u003cli\u003e\u003ccode\u003etemplate\u003c/code\u003e: The value represents any text; this can include\n    variable references (even variable references that might return\n    non-string types)\u003c/li\u003e\n\u003cli\u003e\u003ccode\u003etrigger_reference\u003c/code\u003e: The value represents a trigger,\n    represented as the trigger id\u003c/li\u003e\n\u003cli\u003e\u003ccode\u003etag_reference\u003c/code\u003e: The value represents a tag, represented as\n    the tag name\u003c/li\u003e\n\u003c/ul\u003e\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.tags.create",
              "tagmanager.accounts.containers.workspaces.tags.update",
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update",
              "tagmanager.accounts.containers.workspaces.variables.create",
              "tagmanager.accounts.containers.workspaces.variables.update"
            ]
          }
        },
        "value": {
          "description": "A parameter's value (may contain variable references such as\n\"{{myVariable}}\")\nas appropriate to the specified type.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string"
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "list": {
          "description": "This list parameter's parameters (keys will be ignored).\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter.  Required for top-level\nparameters, as well as map values.  Ignored for list values.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string"
        }
      },
      "id": "Parameter"
    },
    "QuickPreviewResponse": {
      "description": "Response to quick previewing a workspace.",
      "type": "object",
      "properties": {
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether quick previewing failed when syncing the workspace to the latest\ncontainer version."
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        },
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "QuickPreviewResponse"
    },
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "description": "Whether the user has no access, user access, or admin access to an account.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update"
        }
      },
      "id": "AccountAccess"
    },
    "ListContainerVersionsResponse": {
      "description": "List container versions response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          }
        }
      },
      "id": "ListContainerVersionsResponse"
    },
    "ListUserPermissionsResponse": {
      "description": "List user permissions response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        }
      },
      "id": "ListUserPermissionsResponse"
    },
    "SyncStatus": {
      "id": "SyncStatus",
      "description": "The status of a workspace after synchronization.",
      "type": "object",
      "properties": {
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        },
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        }
      }
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "properties": {
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The list of triggers inside the folder."
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are\ntrue.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP\nVisibility trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP\nVisibility trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will\nfire when each percentage is reached when the view is scrolled vertically.\nOnly valid for AMP scroll triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening\nuntil all of the tags have fired (by preventing the default\naction and later simulating the default action). Only valid for\nForm Submission and Link Click triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only\nvalid for Timer triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags'\nabove evaluates to \u003ccode\u003etrue\u003c/code\u003e.  Only valid for Form Submission and\nLink Click triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "description": "Defines the data layer event that causes this trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create"
            ]
          },
          "type": "string"
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer\ntrigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer\ntrigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "continuousTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum continuous visible time (in milliseconds).\nOnly valid for AMP Visibility trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "name": {
          "description": "Trigger display name.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit,\nLink Click or Timer listener) if any. Used to make incompatible auto-events\nwork together with trigger filtering based on trigger ids. This value is\npopulated during output generation since the tags implied by triggers don't\nexist until then. Only valid for Form Submit, Link Click and Timer\ntriggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds).\nOnly valid for AMP Visibility trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP\nVisibility trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "string"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click\nevent is not cancelled by some other event handler (e.g. because of\nvalidation). Only valid for Form Submission and Link Click triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time.\nThis value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will\nfire when each percentage is reached when the view is scrolled\nhorizontally. Only valid for AMP scroll triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP\nClick trigger.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit\nis set, we will continue to fire GTM events until the user leaves the page.\nOnly valid for Timer triggers.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update"
        }
      },
      "id": "Trigger"
    },
    "RevertVariableResponse": {
      "description": "The result of reverting a variable in a workspace.",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Variable as it appears in the latest container version since the last\nworkspace synchronization operation. If no variable is present, that means\nthe variable was deleted in the latest container version.",
          "$ref": "Variable"
        }
      },
      "id": "RevertVariableResponse"
    },
    "ZoneBoundary": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "The conditions that, when conjoined, make up the boundary.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "customEvaluationTriggerId": {
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary\nconditions when any of the listed triggers are true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ZoneBoundary",
      "description": "Represents a Zone's boundaries."
    },
    "Entity": {
      "type": "object",
      "properties": {
        "tag": {
          "$ref": "Tag",
          "description": "The tag being represented by the entity."
        },
        "changeStatus": {
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ],
          "description": "Represents how the entity has been changed in the workspace.",
          "type": "string"
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The trigger being represented by the entity."
        },
        "variable": {
          "$ref": "Variable",
          "description": "The variable being represented by the entity."
        },
        "folder": {
          "$ref": "Folder",
          "description": "The Folder being represented by the entity."
        }
      },
      "id": "Entity",
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in\naddition to its status in the workspace."
    },
    "Environment": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or\nversion created by a workspace."
          ],
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "description": "The type of this environment."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM Environment's API relative path.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type\nenvironments.\n@mutable tagmanager.accounts.containers.environments.create\n@mutable tagmanager.accounts.containers.environments.update",
          "type": "string"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.\n@mutable tagmanager.accounts.containers.environments.create\n@mutable tagmanager.accounts.containers.environments.update",
          "type": "boolean"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "authorizationTimestamp": {
          "type": "string",
          "description": "The last update time-stamp for the authorization code.",
          "format": "google-datetime"
        },
        "url": {
          "description": "Default preview page url for the environment.\n@mutable tagmanager.accounts.containers.environments.create\n@mutable tagmanager.accounts.containers.environments.update",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time.\nThis value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type\nenvironments.\n@mutable tagmanager.accounts.containers.environments.create\n@mutable tagmanager.accounts.containers.environments.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.environments.create",
              "tagmanager.accounts.containers.environments.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "Represents a link to a quick preview of a workspace."
        },
        "containerVersionId": {
          "type": "string",
          "description": "Represents a link to a container version."
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        }
      },
      "id": "Environment",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create,\ndelete and update environments of type USER, but can only update the\nenable_debug and url fields of environments of other types."
    },
    "GalleryReference": {
      "description": "Represents the link between a custom template and an entry on the Community\nTemplate Gallery site.",
      "type": "object",
      "properties": {
        "signature": {
          "description": "The signature of the community gallery template as computed at import time.\nThis value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "The name of the owner for the community gallery template."
        },
        "repository": {
          "description": "The name of the repository for the community gallery template.",
          "type": "string"
        },
        "version": {
          "description": "The version of the community gallery template.",
          "type": "string"
        },
        "host": {
          "description": "The name of the host for the community gallery template.",
          "type": "string"
        },
        "isModified": {
          "type": "boolean",
          "description": "If a user has manually edited the community  gallery template."
        }
      },
      "id": "GalleryReference"
    },
    "RevertTagResponse": {
      "type": "object",
      "properties": {
        "tag": {
          "$ref": "Tag",
          "description": "Tag as it appears in the latest container version since the last\nworkspace synchronization operation. If no tag is present, that means\nthe tag was deleted in the latest container version."
        }
      },
      "id": "RevertTagResponse",
      "description": "The result of reverting a tag in a workspace."
    },
    "ListEnabledBuiltInVariablesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "builtInVariable": {
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      },
      "id": "ListEnabledBuiltInVariablesResponse",
      "description": "A list of enabled built-in variables."
    },
    "ListZonesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "zone": {
          "description": "All GTM Zones of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        }
      },
      "id": "ListZonesResponse"
    },
    "UserPermission": {
      "description": "Represents a user's permissions to an account and its container.",
      "type": "object",
      "properties": {
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        },
        "emailAddress": {
          "description": "User's email address.\n@mutable tagmanager.accounts.permissions.create",
          "type": "string"
        },
        "accountAccess": {
          "description": "GTM Account access permissions.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "$ref": "AccountAccess"
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "containerAccess": {
          "description": "GTM Container access permissions.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        }
      },
      "id": "UserPermission"
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object",
      "properties": {
        "type": {
          "description": "GTM Variable Type.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.variables.create",
              "tagmanager.accounts.containers.workspaces.variables.update"
            ]
          },
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "enablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional\nvariables; the variable is enabled if one of the enabling triggers is true\nwhile all the disabling triggers are false. Treated as an unordered set.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "parameter": {
          "description": "The variable's parameters.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "format": "int64",
          "type": "string"
        },
        "formatValue": {
          "$ref": "VariableFormatValue",
          "description": "Option to convert a variable value to other value."
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time.\nThis value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.variables.create",
              "tagmanager.accounts.containers.workspaces.variables.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "format": "int64",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional\nvariables; the variable is enabled if one of the enabling trigger is true\nwhile all the disabling trigger are false. Treated as an unordered set.\n@mutable tagmanager.accounts.containers.workspaces.variables.create\n@mutable tagmanager.accounts.containers.workspaces.variables.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Variable"
    },
    "Workspace": {
      "id": "Workspace",
      "description": "Represents a Google Tag Manager Container Workspace.",
      "type": "object",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Workspace's API relative path."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Workspace description.\n@mutable tagmanager.accounts.containers.workspaces.create\n@mutable tagmanager.accounts.containers.workspaces.update"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This\nvalue is recomputed whenever the workspace is modified.",
          "type": "string"
        },
        "name": {
          "description": "Workspace display name.\n@mutable tagmanager.accounts.containers.workspaces.create\n@mutable tagmanager.accounts.containers.workspaces.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.create",
              "tagmanager.accounts.containers.workspaces.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      }
    },
    "Client": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Client as computed at storage time.\nThis value is recomputed whenever the client is modified."
        },
        "name": {
          "type": "string",
          "description": "Client display name.\n@mutable tagmanager.accounts.containers.workspaces.clients.create\n@mutable tagmanager.accounts.containers.workspaces.clients.update"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "type": {
          "type": "string",
          "description": "Client type.\n@mutable tagmanager.accounts.containers.workspaces.clients.create\n@mutable tagmanager.accounts.containers.workspaces.clients.update"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "parameter": {
          "description": "The client's parameters.\n@mutable tagmanager.accounts.containers.workspaces.clients.create\n@mutable tagmanager.accounts.containers.workspaces.clients.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "priority": {
          "description": "Priority determines relative firing order.\n@mutable tagmanager.accounts.containers.workspaces.clients.create\n@mutable tagmanager.accounts.containers.workspaces.clients.update",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Client"
    },
    "TeardownTag": {
      "description": "Represents a tag that fires after another tag in order to tear down\ndependencies.",
      "type": "object",
      "properties": {
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires\nsuccessfully.\nIf false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        },
        "tagName": {
          "type": "string",
          "description": "The name of the teardown tag."
        }
      },
      "id": "TeardownTag"
    },
    "Tag": {
      "type": "object",
      "properties": {
        "monitoringMetadataTagNameKey": {
          "description": "If non-empty, then the tag display name will be included in the monitoring\nmetadata map using the key specified.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Tag display name.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.tags.create",
              "tagmanager.accounts.containers.workspaces.tags.update"
            ]
          }
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not\nin preview or debug mode).\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "boolean"
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are\ntrue and all of its \u003ccode\u003eblockingTriggerIds\u003c/code\u003e (if any specified) are\nfalse.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "format": "int64",
          "type": "string"
        },
        "teardownTag": {
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          },
          "description": "The list of teardown tags. Currently we only allow one."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "blockingRuleId": {
          "description": "Blocking rule IDs. If any of the listed rules evaluate to true, the tag\n    will not fire.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setupTag": {
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in\norder of priority. Tags with higher numeric value fire first. A tag's\npriority can be a positive or negative value. The default value is 0.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "parameter": {
          "description": "The tag's parameters.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "scheduleEndMs": {
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a tag.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "format": "int64"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time.\nThis value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "blockingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the\ntag will not fire.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "firingRuleId": {
          "description": "Firing rule IDs. A tag will fire when any of the listed rules are true and\n    all of its \u003ccode\u003eblockingRuleIds\u003c/code\u003e (if any specified) are false.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "GTM Tag Type.\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.tags.create",
              "tagmanager.accounts.containers.workspaces.tags.update"
            ]
          }
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "path": {
          "description": "GTM Tag's API relative path.",
          "type": "string"
        },
        "monitoringMetadata": {
          "$ref": "Parameter",
          "description": "A map of key-value pairs of tag metadata to be included in the event data\nfor tag monitoring.\nNotes:\u003cul\u003e\n\u003cli\u003eThis parameter must be type \u003ccode\u003eMAP\u003c/code\u003e.\u003c/li\u003e\n\u003cli\u003eEach parameter in the map are type \u003ccode\u003eTEMPLATE\u003c/code\u003e, however\ncannot contain variable references.\u003c/li\u003e\n\u003c/ul\u003e\n@mutable tagmanager.accounts.containers.workspaces.tags.create\n@mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "tagFiringOption": {
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load\n(e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        }
      },
      "id": "Tag",
      "description": "Represents a Google Tag Manager Tag."
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "All GTM Folders of a GTM Container."
        }
      }
    },
    "RevertFolderResponse": {
      "id": "RevertFolderResponse",
      "description": "The result of reverting folder changes in a workspace.",
      "type": "object",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "Folder as it appears in the latest container version since the last\nworkspace synchronization operation. If no folder is present, that means\nthe folder was deleted in the latest container version."
        }
      }
    },
    "CreateContainerVersionResponse": {
      "type": "object",
      "properties": {
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest\ncontainer version.",
          "$ref": "SyncStatus"
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "newWorkspacePath": {
          "description": "Auto generated workspace path created as a result of version creation. This\nfield should only be populated if the created version was not a quick\npreview.",
          "type": "string"
        }
      },
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response."
    },
    "Account": {
      "id": "Account",
      "description": "Represents a Google Tag Manager Account.",
      "type": "object",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Account's API relative path."
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others.\nThis flag enables benchmarking by sharing your data in an anonymous form.\nGoogle will remove all identifiable information about your website, combine\nthe data with hundreds of other anonymous sites and report aggregate trends\nin the benchmarking service.\n@mutable tagmanager.accounts.create\n@mutable tagmanager.accounts.update"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time.\nThis value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "name": {
          "description": "Account display name.\n@mutable tagmanager.accounts.create\n@mutable tagmanager.accounts.update",
          "type": "string"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        }
      }
    },
    "SyncWorkspaceResponse": {
      "id": "SyncWorkspaceResponse",
      "description": "A response after synchronizing the workspace to the latest container version.",
      "type": "object",
      "properties": {
        "mergeConflict": {
          "description": "The merge conflict after sync.\nIf this field is not empty, the sync is still treated as successful.\nBut a version cannot be created until all conflicts are resolved.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        },
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Indicates whether synchronization caused a merge conflict or sync error."
        }
      }
    },
    "Folder": {
      "type": "object",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Folder's API relative path."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this folder in the container.\n@mutable tagmanager.accounts.containers.workspaces.folders.create\n@mutable tagmanager.accounts.containers.workspaces.folders.update"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time.\nThis value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.\n@mutable tagmanager.accounts.containers.workspaces.folders.create\n@mutable tagmanager.accounts.containers.workspaces.folders.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.folders.create",
              "tagmanager.accounts.containers.workspaces.folders.update"
            ]
          },
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "Folder",
      "description": "Represents a Google Tag Manager Folder."
    },
    "Zone": {
      "description": "Represents a Google Tag Manager Zone's contents.",
      "type": "object",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "boundary": {
          "$ref": "ZoneBoundary",
          "description": "This Zone's boundary."
        },
        "path": {
          "description": "GTM Zone's API relative path.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this zone in the container."
        },
        "childContainer": {
          "description": "Containers that are children of this Zone.",
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Zone as computed at storage time.\nThis value is recomputed whenever the zone is modified.",
          "type": "string"
        },
        "name": {
          "description": "Zone display name.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "typeRestriction": {
          "$ref": "ZoneTypeRestriction",
          "description": "This Zone's type restrictions."
        }
      },
      "id": "Zone"
    },
    "ListWorkspacesResponse": {
      "description": "A list of workspaces in a container.",
      "type": "object",
      "properties": {
        "workspace": {
          "description": "All Workspaces of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "VariableFormatValue": {
      "type": "object",
      "properties": {
        "convertUndefinedToValue": {
          "description": "The value to convert if a variable value is undefined.",
          "$ref": "Parameter"
        },
        "caseConversionType": {
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ],
          "description": "The option to convert a string-type variable value to either lowercase or\nuppercase.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ]
        },
        "convertNullToValue": {
          "description": "The value to convert if a variable value is null.",
          "$ref": "Parameter"
        },
        "convertTrueToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is true."
        },
        "convertFalseToValue": {
          "description": "The value to convert if a variable value is false.",
          "$ref": "Parameter"
        }
      },
      "id": "VariableFormatValue"
    },
    "ListEnvironmentsResponse": {
      "description": "List Environments Response.",
      "type": "object",
      "properties": {
        "environment": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListEnvironmentsResponse"
    },
    "CustomTemplate": {
      "description": "Represents a Google Tag Manager Custom Template's contents.",
      "type": "object",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "templateId": {
          "type": "string",
          "description": "The Custom Template ID uniquely identifies the GTM custom template."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "galleryReference": {
          "$ref": "GalleryReference",
          "description": "A reference to the Community Template Gallery entry."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Custom Template as computed at storage time.\nThis value is recomputed whenever the template is modified.",
          "type": "string"
        },
        "name": {
          "description": "Custom Template display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "CustomTemplate"
    },
    "Condition": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "A list of named parameters (key/value), depending on the condition's type.\nNotes:\u003cul\u003e\n\u003cli\u003eFor binary operators, include parameters named \u003ccode\u003earg0\u003c/code\u003e and\n   \u003ccode\u003earg1\u003c/code\u003e for specifying the left and right operands,\n   respectively.\u003c/li\u003e\n\u003cli\u003eAt this time, the left operand (\u003ccode\u003earg0\u003c/code\u003e) must be a reference\n    to a variable.\u003c/li\u003e\n\u003cli\u003eFor case-insensitive Regex matching, include a boolean parameter named\n    \u003ccode\u003eignore_case\u003c/code\u003e that is set to \u003ccode\u003etrue\u003c/code\u003e.\n    If not specified or set to any other value, the matching will be case\n    sensitive.\u003c/li\u003e\n\u003cli\u003eTo negate an operator, include a boolean parameter named\n    \u003ccode\u003enegate\u003c/code\u003e boolean parameter that is set to \u003ccode\u003etrue\u003c/code\u003e.\n    \u003c/li\u003e\n\u003c/ul\u003e\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update"
            ]
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "NOTE(lanzone): When defining a ConditionType here, don't forget to also\ndefine a matching PredicateType (in condition.proto)."
          ],
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition.\n@mutable tagmanager.accounts.containers.workspaces.triggers.create\n@mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update"
            ]
          },
          "type": "string"
        }
      },
      "id": "Condition",
      "description": "Represents a predicate."
    },
    "ListVariablesResponse": {
      "type": "object",
      "properties": {
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListVariablesResponse",
      "description": "List Variables Response."
    },
    "MergeConflict": {
      "type": "object",
      "properties": {
        "entityInBaseVersion": {
          "$ref": "Entity",
          "description": "The base version entity (since the latest sync operation) that has\nconflicting changes compared to the workspace. If this field is missing,\nit means the workspace entity is deleted from the base version."
        },
        "entityInWorkspace": {
          "$ref": "Entity",
          "description": "The workspace entity that has conflicting changes compared to the\nbase version. If an entity is deleted in a workspace, it will still\nappear with a deleted change status."
        }
      },
      "id": "MergeConflict",
      "description": "Represents a merge conflict."
    },
    "ListTemplatesResponse": {
      "type": "object",
      "properties": {
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTemplatesResponse"
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "List Accounts Response.",
      "type": "object",
      "properties": {
        "account": {
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ZoneChildContainer": {
      "type": "object",
      "properties": {
        "publicId": {
          "description": "The child container's public id.",
          "type": "string"
        },
        "nickname": {
          "description": "The zone's nickname for the child container.",
          "type": "string"
        }
      },
      "id": "ZoneChildContainer",
      "description": "Represents a child container of a Zone."
    },
    "ContainerVersionHeader": {
      "description": "Represents a Google Tag Manager Container Version Header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        },
        "path": {
          "description": "GTM Container Versions's API relative path.",
          "type": "string"
        },
        "numCustomTemplates": {
          "description": "Number of custom templates in the container version.",
          "type": "string"
        },
        "numRules": {
          "description": "Number of rules in the container version.",
          "type": "string"
        },
        "numMacros": {
          "description": "Number of macros in the container version.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        }
      },
      "id": "ContainerVersionHeader"
    },
    "ZoneTypeRestriction": {
      "description": "Represents a Zone's type restrictions.",
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "True if type restrictions have been enabled for this Zone."
        },
        "whitelistedTypeId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of type public ids that have been whitelisted for use in this Zone."
        }
      },
      "id": "ZoneTypeRestriction"
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "type": "object",
      "properties": {
        "container": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListContainersResponse"
    },
    "RevertTriggerResponse": {
      "description": "The result of reverting a trigger in a workspace.",
      "type": "object",
      "properties": {
        "trigger": {
          "$ref": "Trigger",
          "description": "Trigger as it appears in the latest container version since the last\nworkspace synchronization operation. If no trigger is present, that means\nthe trigger was deleted in the latest container version."
        }
      },
      "id": "RevertTriggerResponse"
    },
    "RevertZoneResponse": {
      "description": "The result of reverting a zone in a workspace.",
      "type": "object",
      "properties": {
        "zone": {
          "$ref": "Zone",
          "description": "Zone as it appears in the latest container version since the last\nworkspace synchronization operation. If no zone is present, that means\nthe zone was deleted in the latest container version."
        }
      },
      "id": "RevertZoneResponse"
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "properties": {
        "builtInVariable": {
          "description": "List of created built-in variables.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      },
      "id": "CreateBuiltInVariableResponse"
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "description": "List Tags Response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "tag": {
          "description": "All GTM Tags of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "ListTriggersResponse": {
      "type": "object",
      "properties": {
        "trigger": {
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTriggersResponse",
      "description": "List triggers response."
    },
    "GetWorkspaceStatusResponse": {
      "type": "object",
      "properties": {
        "workspaceChange": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities that have been changed in the workspace."
        },
        "mergeConflict": {
          "description": "The merge conflict after sync.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        }
      },
      "id": "GetWorkspaceStatusResponse",
      "description": "The changes that have occurred in the workspace since the base container\nversion."
    },
    "SetupTag": {
      "id": "SetupTag",
      "description": "Represents a reference to atag that fires before another tag in order to\nset up dependencies.",
      "type": "object",
      "properties": {
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires\nsuccessfully.\nIf false, fire the main tag regardless of setup tag firing status."
        },
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        }
      }
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response.",
      "type": "object",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      }
    },
    "RevertTemplateResponse": {
      "description": "The result of reverting a template in a workspace.",
      "type": "object",
      "properties": {
        "template": {
          "description": "Template as it appears in the latest container version since the last\nworkspace synchronization operation. If no template is present, that means\nthe template was deleted in the latest container version.",
          "$ref": "CustomTemplate"
        }
      },
      "id": "RevertTemplateResponse"
    },
    "BuiltInVariable": {
      "id": "BuiltInVariable",
      "description": "Built-in variables are a special category of variables that are pre-created\nand non-customizable. They provide common functionality like accessing\npropeties of the gtm data layer, monitoring clicks, or accessing elements\nof a page URL.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the built-in variable to be used to refer to the built-in variable."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString"
          ],
          "description": "Type of built-in variable.\n@required.tagmanager.accounts.containers.workspaces.built_in_variable.update\n@mutable tagmanager.accounts.containers.workspaces.built_in_variable.update",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "type": "object",
      "properties": {
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "zone": {
          "description": "The zones in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "customTemplate": {
          "description": "The custom templates in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "path": {
          "description": "GTM ContainerVersions's API relative path.",
          "type": "string"
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "description": {
          "type": "string",
          "description": "Container version description.\n@mutable tagmanager.accounts.containers.versions.update"
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "builtInVariable": {
          "description": "The built-in variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "The clients in the container that this version was taken from."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container Version as computed at\nstorage time. This value is recomputed whenever the container version is\nmodified."
        },
        "name": {
          "description": "Container version display name.\n@mutable tagmanager.accounts.containers.versions.update",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      },
      "id": "ContainerVersion"
    },
    "Container": {
      "id": "Container",
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags\nwill run on, manages workspaces, and retains container versions.",
      "type": "object",
      "properties": {
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Container Notes.\n@mutable tagmanager.accounts.containers.create\n@mutable tagmanager.accounts.containers.update"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time.  This\nvalue is recomputed whenever the account is modified.",
          "type": "string"
        },
        "domainName": {
          "description": "List of domain names associated with the Container.\n@mutable tagmanager.accounts.containers.create\n@mutable tagmanager.accounts.containers.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Container display name.\n@mutable tagmanager.accounts.containers.create\n@mutable tagmanager.accounts.containers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.create"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "usageContext": {
          "type": "array",
          "items": {
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "List of Usage Contexts for the Container. Valid values include: \u003ccode\u003eweb,\nandroid, or ios\u003c/code\u003e.\n@mutable tagmanager.accounts.containers.create\n@mutable tagmanager.accounts.containers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.create",
              "tagmanager.accounts.containers.update"
            ]
          }
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        }
      }
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "type": "object",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "type": "string"
        },
        "permission": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "description": "List of Container permissions.\n@mutable tagmanager.accounts.permissions.create\n@mutable tagmanager.accounts.permissions.update",
          "type": "string"
        }
      },
      "id": "ContainerAccess"
    },
    "RevertBuiltInVariableResponse": {
      "description": "The result of reverting a built-in variable in a workspace.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the built-in variable is enabled after reversion."
        }
      },
      "id": "RevertBuiltInVariableResponse"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Tag Manager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        }
      }
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "tagmanager",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Tag Manager API",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "description": "Lists all GTM Accounts that a user has access to.",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Continuation token for fetching the next page of results."
            }
          },
          "flatPath": "tagmanager/v2/accounts",
          "path": "tagmanager/v2/accounts",
          "id": "tagmanager.accounts.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {
            "path": {
              "description": "GTM Accounts's API relative path.\nExample: accounts/{account_id}",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "path": "tagmanager/v2/{+path}",
          "id": "tagmanager.accounts.get",
          "description": "Gets a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "path"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "path": "tagmanager/v2/{+path}",
          "id": "tagmanager.accounts.update",
          "description": "Updates a GTM Account.",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "path"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "path": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "GTM Accounts's API relative path.\nExample: accounts/{account_id}",
              "required": true,
              "type": "string"
            },
            "fingerprint": {
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account\nin storage.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "flatPath": "tagmanager/v2/accounts/{accountsId}"
        }
      },
      "resources": {
        "user_permissions": {
          "methods": {
            "delete": {
              "id": "tagmanager.accounts.user_permissions.delete",
              "path": "tagmanager/v2/{+path}",
              "description": "Removes a user from the account, revoking access to it and all of its\ncontainers.",
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path",
                  "description": "GTM UserPermission's API relative path.\nExample: accounts/{account_id}/user_permissions/{user_permission_id}",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}"
            },
            "list": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "id": "tagmanager.accounts.user_permissions.list",
              "description": "List all users that have access to the account along with Account and\nContainer user access granted to each of them.",
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "GTM Accounts's API relative path.\nExample: accounts/{account_id}"
                }
              }
            },
            "get": {
              "description": "Gets a user's Account & Container access.",
              "httpMethod": "GET",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM UserPermission's API relative path.\nExample: accounts/{account_id}/user_permissions/{user_permission_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "id": "tagmanager.accounts.user_permissions.get",
              "path": "tagmanager/v2/{+path}"
            },
            "update": {
              "description": "Updates a user's Account & Container access.",
              "request": {
                "$ref": "UserPermission"
              },
              "response": {
                "$ref": "UserPermission"
              },
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.\nExample: accounts/{account_id}/user_permissions/{user_permission_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "path": "tagmanager/v2/{+path}",
              "id": "tagmanager.accounts.user_permissions.update"
            },
            "create": {
              "request": {
                "$ref": "UserPermission"
              },
              "description": "Creates a user's Account & Container access.",
              "response": {
                "$ref": "UserPermission"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.\nExample: accounts/{account_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "id": "tagmanager.accounts.user_permissions.create"
            }
          }
        },
        "containers": {
          "methods": {
            "delete": {
              "description": "Deletes a Container.",
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "path": {
                  "description": "GTM Container's API relative path.\nExample: accounts/{account_id}/containers/{container_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "id": "tagmanager.accounts.containers.delete",
              "path": "tagmanager/v2/{+path}"
            },
            "list": {
              "description": "Lists all Containers that belongs to a GTM Account.",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "GTM Accounts's API relative path.\nExample: accounts/{account_id}.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
[...]
