{
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "ownerName": "Google",
  "canonicalName": "Data Catalog",
  "rootUrl": "https://datacatalog.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerDomain": "google.com",
  "title": "Google Cloud Data Catalog API",
  "discoveryVersion": "v1",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "protocol": "rest",
  "version_module": true,
  "id": "datacatalog:v1beta1",
  "batchPath": "batch",
  "description": "A fully managed and highly scalable data discovery and metadata management service.\n",
  "schemas": {
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequest": {
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest",
      "type": "object",
      "description": "Request message for\nSearchCatalog.",
      "properties": {
        "scope": {
          "description": "Required. The scope of this search request. A `scope` that has empty\n`include_org_ids`, `include_project_ids` AND false\n`include_gcp_public_datasets` is considered invalid. Data Catalog will\nreturn an error in such a case.",
          "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope"
        },
        "orderBy": {
          "type": "string",
          "description": "Specifies the ordering of results, currently supported case-sensitive\nchoices are:\n\n  * `relevance`, only supports descending\n  * `last_modified_timestamp [asc|desc]`, defaults to descending if not\n    specified\n\nIf not specified, defaults to `relevance` descending."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Number of results in the search page. If \u003c=0 then defaults to 10. Max limit\nfor page_size is 1000. Throws an invalid argument for page_size \u003e 1000."
        },
        "query": {
          "description": "Required. The query string in search query syntax. The query must be non-empty.\n\nQuery strings can be simple as \"x\" or more qualified as:\n\n* name:x\n* column:x\n* description:y\n\nNote: Query tokens need to have a minimum of 3 characters for substring\nmatching to work correctly. See [Data Catalog Search\nSyntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference)\nfor more information.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Pagination token returned in an earlier\nSearchCatalogResponse.next_page_token, which\nindicates that this is a continuation of a prior\nSearchCatalogRequest\ncall, and that the system should return the next page of data. If empty,\nthe first page is returned."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagFieldEnumValue": {
      "id": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
      "description": "Holds an enum value.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1Taxonomy": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1Taxonomy",
      "description": "A taxonomy is a collection of policy tags that classify data along a common\naxis. For instance a data *sensitivity* taxonomy could contain policy tags\ndenoting PII such as age, zipcode, and SSN. A data *origin* taxonomy could\ncontain policy tags to distinguish user data, employee data, partner data,\npublic data.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of this taxonomy. It must: contain only unicode characters,\ntabs, newlines, carriage returns and page breaks; and be at most 2000 bytes\nlong when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "name": {
          "description": "Output only. Resource name of this taxonomy, whose format is:\n\"projects/{project_number}/locations/{location_id}/taxonomies/{id}\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User defined name of this taxonomy. It must: contain only unicode letters,\nnumbers, underscores, dashes and spaces; not start or end with spaces; and\nbe at most 200 bytes long when encoded in UTF-8."
        },
        "activatedPolicyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ]
          },
          "type": "array",
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set,\ndefaults to an empty list.",
          "enumDescriptions": [
            "Unspecified policy type.",
            "Fine grained access control policy, which enables access control on\ntagged resources."
          ]
        }
      }
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language\nsyntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information."
    },
    "GoogleCloudDatacatalogV1beta1TagField": {
      "description": "Contains the value and supporting information for a field within\na Tag.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagField",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of this field.",
          "type": "string"
        },
        "stringValue": {
          "description": "Holds the value for a tag field with string type.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "Holds the value for a tag field with timestamp type."
        },
        "doubleValue": {
          "description": "Holds the value for a tag field with double type.",
          "format": "double",
          "type": "number"
        },
        "order": {
          "description": "Output only. The order of this field with respect to other fields in this tag. It can be\nset in Tag. For\nexample, a higher value can indicate a more important field. The value can\nbe negative. Multiple fields can have the same order, and field orders\nwithin a tag do not have to be sequential.",
          "type": "integer",
          "format": "int32"
        },
        "enumValue": {
          "description": "Holds the value for a tag field with enum type. This value must be\none of the allowed values in the definition of this enum.",
          "$ref": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue"
        },
        "boolValue": {
          "description": "Holds the value for a tag field with boolean type.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SerializedPolicyTag": {
      "id": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag",
      "type": "object",
      "description": "Message representing one policy tag when exported as a nested proto.",
      "properties": {
        "description": {
          "description": "Description of the serialized policy tag. The length of the\ndescription is limited to 2000 bytes when encoded in UTF-8. If not set,\ndefaults to an empty description.",
          "type": "string"
        },
        "policyTag": {
          "description": "Resource name of the policy tag.\n\nThis field will be ignored when calling ImportTaxonomies.",
          "type": "string"
        },
        "childPolicyTags": {
          "type": "array",
          "description": "Children of the policy tag if any.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the policy tag. Max 200 bytes when encoded in UTF-8."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope": {
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope",
      "type": "object",
      "description": "The criteria that select the subspace used for query matching.",
      "properties": {
        "includeOrgIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of organization IDs to search within. To find your organization\nID, follow instructions in\nhttps://cloud.google.com/resource-manager/docs/creating-managing-organization.",
          "type": "array"
        },
        "includeGcpPublicDatasets": {
          "description": "If `true`, include Google Cloud Platform (GCP) public datasets in the\nsearch results. Info on GCP public datasets is available at\nhttps://cloud.google.com/public-datasets/. By default, GCP public\ndatasets are excluded.",
          "type": "boolean"
        },
        "restrictedLocations": {
          "type": "array",
          "description": "Optional. The list of locations to search within.\n1. If empty, search will be performed in all locations;\n2. If any of the locations are NOT in the valid locations list, error\nwill be returned;\n3. Otherwise, search only the given locations for matching results.\nTypical usage is to leave this field empty. When a location is\nunreachable as returned in the `SearchCatalogResponse.unreachable` field,\nusers can repeat the search request with this parameter set to get\nadditional information on the error.\n\nValid locations:\n * asia-east1\n * asia-east2\n * asia-northeast1\n * asia-northeast2\n * asia-northeast3\n * asia-south1\n * asia-southeast1\n * australia-southeast1\n * eu\n * europe-north1\n * europe-west1\n * europe-west2\n * europe-west3\n * europe-west4\n * europe-west6\n * global\n * northamerica-northeast1\n * southamerica-east1\n * us\n * us-central1\n * us-east1\n * us-east4\n * us-west1\n * us-west2",
          "items": {
            "type": "string"
          }
        },
        "includeProjectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of project IDs to search within. To learn more about the\ndistinction between project names/IDs/numbers, go to\nhttps://cloud.google.com/docs/overview/#projects."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest": {
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest",
      "description": "Request message for\nImportTaxonomies.",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDatacatalogV1beta1InlineSource",
          "description": "Inline source used for taxonomies to be imported."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SystemTimestamps": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
      "description": "Timestamps about this resource according to a particular system.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last-modified time of the resource within the given system."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The expiration time of the resource within the given system.\nCurrently only apllicable to BigQuery resources."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the resource within the given system."
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding.\n\nIf the condition evaluates to `true`, then this binding applies to the\ncurrent request.\n\nIf the condition evaluates to `false`, then this binding does not apply to\nthe current request. However, a different role binding might grant the same\nrole to one or more of the members in this binding.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members` with a `role`."
    },
    "GoogleCloudDatacatalogV1beta1ListTagsResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListTagsResponse",
      "description": "Response message for\nListTags.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items\nremain in results.",
          "type": "string"
        },
        "tags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Tag"
          },
          "description": "Tag details.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagTemplate": {
      "id": "GoogleCloudDatacatalogV1beta1TagTemplate",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the tag template in URL format. Example:\n\n* projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}\n\nNote that this TagTemplate and its child resources may not actually be\nstored in the location in this name."
        },
        "fields": {
          "description": "Required. Map of tag template field IDs to the settings for the field.\nThis map is an exhaustive list of the allowed fields. This map must contain\nat least one field and at most 500 fields.\n\nThe keys to this map are tag template field IDs. Field IDs can contain\nletters (both uppercase and lowercase), numbers (0-9) and underscores (_).\nField IDs must be at least 1 character long and at most\n64 characters long. Field IDs must start with a letter or underscore.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
          }
        },
        "displayName": {
          "description": "The display name for this template. Defaults to an empty string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A tag template defines a tag, which can have one or more typed fields.\nThe template is used to create and attach the tag to GCP resources.\n[Tag template\nroles](https://cloud.google.com/iam/docs/understanding-roles#data-catalog-roles)\nprovide permissions to create, edit, and use the template. See, for example,\nthe [TagTemplate\nUser](https://cloud.google.com/data-catalog/docs/how-to/template-user) role,\nwhich includes permission to use the tag template to tag resources."
    },
    "GoogleCloudDatacatalogV1beta1TableSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TableSpec",
      "properties": {
        "groupedEntry": {
          "type": "string",
          "description": "Output only. If the table is a dated shard, i.e., with name pattern `[prefix]YYYYMMDD`,\n`grouped_entry` is the Data Catalog resource name of the date sharded\ngrouped entry, for example,\n`projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`.\nOtherwise, `grouped_entry` is empty."
        }
      },
      "description": "Normal BigQuery table spec."
    },
    "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse",
      "type": "object",
      "description": "Response message for\nListPolicyTags.",
      "properties": {
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        },
        "policyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
          },
          "description": "The policy tags that are in the requested taxonomy.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest": {
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest",
      "type": "object",
      "description": "Request message for\nRenameTagTemplateField.",
      "properties": {
        "newTagTemplateFieldId": {
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1PolicyTag": {
      "id": "GoogleCloudDatacatalogV1beta1PolicyTag",
      "type": "object",
      "properties": {
        "parentPolicyTag": {
          "type": "string",
          "description": "Resource name of this policy tag's parent policy tag (e.g. for the\n\"LatLong\" policy tag in the example above, this field contains the\nresource name of the \"Geolocation\" policy tag). If empty, it means this\npolicy tag is a top level policy tag (e.g. this field is empty for the\n\"Geolocation\" policy tag in the example above). If not set, defaults to an\nempty string."
        },
        "displayName": {
          "description": "Required. User defined name of this policy tag. It must: be unique within the parent\ntaxonomy; contain only unicode letters, numbers, underscores, dashes and\nspaces; not start or end with spaces; and be at most 200 bytes long when\nencoded in UTF-8.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of this policy tag. It must: contain only unicode characters,\ntabs, newlines, carriage returns and page breaks; and be at most 2000 bytes\nlong when encoded in UTF-8. If not set, defaults to an empty description.\nIf not set, defaults to an empty description."
        },
        "childPolicyTags": {
          "description": "Output only. Resource names of child policy tags of this policy tag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. Resource name of this policy tag, whose format is:\n\"projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}\".",
          "type": "string"
        }
      },
      "description": "Denotes one policy tag in a taxonomy (e.g. ssn). Policy Tags can be defined\nin a hierarchy. For example, consider the following hierarchy:\nGeolocation -&gt; (LatLong, City, ZipCode). PolicyTag \"Geolocation\"\ncontains three child policy tags: \"LatLong\", \"City\", and \"ZipCode\"."
    },
    "GoogleCloudDatacatalogV1beta1BigQueryTableSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
      "description": "Describes a BigQuery table.",
      "properties": {
        "tableSourceType": {
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "description": "Output only. The table source type.",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "type": "string"
        },
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1ViewSpec",
          "description": "Table view specification. This field should only be populated if\n`table_source_type` is `BIGQUERY_VIEW`."
        },
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1TableSpec",
          "description": "Spec of a BigQuery table. This field should only be populated if\n`table_source_type` is `BIGQUERY_TABLE`."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagTemplateField": {
      "description": "The template for an individual field within a tag template.",
      "properties": {
        "isRequired": {
          "description": "Whether this is a required field. Defaults to false.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The resource name of the tag template field in URL format. Example:\n\n* projects/{project_id}/locations/{location}/tagTemplates/{tag_template}/fields/{field}\n\nNote that this TagTemplateField may not actually be stored in the location\nin this name.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag\ntemplate.  A higher value indicates a more important field. The value can\nbe negative. Multiple fields can have the same order, and field orders\nwithin a tag do not have to be sequential.",
          "format": "int32"
        },
        "displayName": {
          "description": "The display name for this field. Defaults to an empty string.",
          "type": "string"
        },
        "type": {
          "$ref": "GoogleCloudDatacatalogV1beta1FieldType",
          "description": "Required. The type of value this tag field can contain."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse",
      "description": "Response message for\nSearchCatalog.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        },
        "unreachable": {
          "description": "Unreachable locations. Search result does not include data from those\nlocations. Users can get additional information on the error by repeating\nthe search request with a more restrictive parameter -- setting the value\nfor `SearchDataCatalogRequest.scope.include_locations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "results": {
          "description": "Search results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResult"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items\nremain in results.",
          "type": "string"
        },
        "entryGroups": {
          "description": "EntryGroup details.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
          },
          "type": "array"
        }
      },
      "description": "Response message for\nListEntryGroups.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse"
    },
    "GoogleCloudDatacatalogV1beta1InlineSource": {
      "type": "object",
      "description": "Inline source used for taxonomies import.",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "description": "Required. Taxonomies to be imported.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1InlineSource"
    },
    "GoogleCloudDatacatalogV1beta1Schema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1Schema",
      "description": "Represents a schema (e.g. BigQuery, GoogleSQL, Avro schema).",
      "properties": {
        "columns": {
          "description": "Required. Schema of columns. A maximum of 10,000 columns and sub-columns can be\nspecified.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ColumnSchema": {
      "id": "GoogleCloudDatacatalogV1beta1ColumnSchema",
      "properties": {
        "column": {
          "description": "Required. Name of the column.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the column.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string.",
          "type": "string"
        },
        "subcolumns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "type": "array",
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns."
        },
        "mode": {
          "type": "string",
          "description": "Optional. A column's mode indicates whether the values in this column are required,\nnullable, etc. Only `NULLABLE`, `REQUIRED` and `REPEATED` are supported.\nDefault mode is `NULLABLE`."
        }
      },
      "description": "Representation of a column within a schema. Columns could be nested inside\nother columns.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1EntryGroup": {
      "id": "GoogleCloudDatacatalogV1beta1EntryGroup",
      "properties": {
        "dataCatalogTimestamps": {
          "description": "Output only. Timestamps about this EntryGroup. Default value is empty timestamps.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
        },
        "description": {
          "description": "Entry group description, which can consist of several sentences or\nparagraphs that describe entry group contents. Default value is an empty\nstring.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the entry group in URL format. Example:\n\n* projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}\n\nNote that this EntryGroup and its child resources may not actually be\nstored in the location in this name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example,\n\"analytics data - jan 2011\". Default value is an empty string."
        }
      },
      "type": "object",
      "description": "EntryGroup Metadata. \nAn EntryGroup resource represents a logical grouping of zero or more\nData Catalog Entry resources."
    },
    "GoogleCloudDatacatalogV1beta1Entry": {
      "id": "GoogleCloudDatacatalogV1beta1Entry",
      "description": "Entry Metadata. \nA Data Catalog Entry resource represents another resource in Google\nCloud Platform (such as a BigQuery dataset or a Pub/Sub topic), or\noutside of Google Cloud Platform. Clients can use the `linked_resource` field\nin the Entry resource to refer to the original resource ID of the source\nsystem.\n\nAn Entry resource contains resource details, such as its schema. An Entry can\nalso be used to attach flexible metadata, such as a\nTag.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Schema of the entry. An entry might not have any schema attached to it.",
          "$ref": "GoogleCloudDatacatalogV1beta1Schema"
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. This is only valid\non entries of type FILESET.",
          "$ref": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec"
        },
        "linkedResource": {
          "type": "string",
          "description": "The resource this metadata entry refers to.\n\nFor Google Cloud Platform resources, `linked_resource` is the [full name of\nthe\nresource](https://cloud.google.com/apis/design/resource_names#full_resource_name).\nFor example, the `linked_resource` for a table resource from BigQuery is:\n\n* //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId\n\nOutput only when Entry is of type in the EntryType enum. For entries with\nuser_specified_type, this field is optional and defaults to an empty\nstring."
        },
        "name": {
          "description": "The Data Catalog resource name of the entry in URL format. Example:\n\n* projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}/entries/{entry_id}\n\nNote that this Entry and its child resources may not actually be stored in\nthe location in this name.",
          "type": "string"
        },
        "userSpecifiedType": {
          "type": "string",
          "description": "Entry type if it does not fit any of the input-allowed values listed in\n`EntryType` enum above. When creating an entry, users should check the\nenum values first, if nothing matches the entry to be created, then\nprovide a custom value, for example \"my_special_type\".\n`user_specified_type` strings must begin with a letter or underscore and\ncan only contain letters, numbers, and underscores; are case insensitive;\nmust be at least 1 character and at most 64 characters long.\n\nCurrently, only FILESET enum value is allowed. All other entries created\nthrough Data Catalog must use `user_specified_type`."
        },
        "displayName": {
          "description": "Display information such as title and description. A short name to identify\nthe entry, for example, \"Analytics Data - Jan 2011\". Default value is an\nempty string.",
          "type": "string"
        },
        "bigqueryDateShardedSpec": {
          "description": "Specification for a group of BigQuery tables with name pattern\n`[prefix]YYYYMMDD`. Context:\nhttps://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding.",
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec"
        },
        "description": {
          "type": "string",
          "description": "Entry description, which can consist of several sentences or paragraphs\nthat describe entry contents. Default value is an empty string."
        },
        "sourceSystemTimestamps": {
          "description": "Output only. Timestamps about the underlying resource, not about this Data Catalog\nentry. Output only when Entry is of type in the EntryType enum. For entries\nwith user_specified_type, this field is optional and defaults to an empty\ntimestamp.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
        },
        "type": {
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "Output only. The type of entry that has a GoogleSQL schema, including\nlogical views.",
            "Output only. The type of models.\nhttps://cloud.google.com/bigquery-ml/docs/bigqueryml-intro",
            "Output only. An entry type which is used for streaming entries. Example:\nPub/Sub topic.",
            "An entry type which is a set of files or objects. Example:\nCloud Storage fileset."
          ],
          "type": "string",
          "description": "The type of the entry.\nOnly used for Entries with types in the EntryType enum."
        },
        "integratedSystem": {
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub."
          ],
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB"
          ],
          "type": "string",
          "description": "Output only. This field indicates the entry's source system that Data Catalog\nintegrates with, such as BigQuery or Pub/Sub."
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
          "description": "Specification that applies to a BigQuery table. This is only valid on\nentries of type `TABLE`."
        },
        "userSpecifiedSystem": {
          "type": "string",
          "description": "This field indicates the entry's source system that Data Catalog does not\nintegrate with. `user_specified_system` strings must begin with a letter\nor underscore and can only contain letters, numbers, and underscores; are\ncase insensitive; must be at least 1 character and at most 64 characters\nlong."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1GcsFileSpec": {
      "id": "GoogleCloudDatacatalogV1beta1GcsFileSpec",
      "type": "object",
      "description": "Specifications of a single file in Cloud Storage.",
      "properties": {
        "gcsTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about the Cloud Storage file."
        },
        "sizeBytes": {
          "type": "string",
          "description": "Output only. The size of the file, in bytes.",
          "format": "int64"
        },
        "filePath": {
          "type": "string",
          "description": "Required. The full file path. Example: `gs://bucket_name/a/b.txt`."
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse": {
      "description": "Response message for\nImportTaxonomies.",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "description": "Taxonomies that were imported.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResult": {
      "properties": {
        "searchResultSubtype": {
          "type": "string",
          "description": "Sub-type of the search result. This is a dot-delimited description of the\nresource's full type, and is the same as the value callers would provide in\nthe \"type\" search facet.  Examples: `entry.table`, `entry.dataStream`,\n`tagTemplate`."
        },
        "relativeResourceName": {
          "description": "The relative resource name of the resource in URL format.\nExamples:\n\n * `projects/{project_id}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}`\n * `projects/{project_id}/tagTemplates/{tag_template_id}`",
          "type": "string"
        },
        "linkedResource": {
          "description": "The full name of the cloud resource the entry belongs to. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name.\nExample:\n\n * `//bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId`",
          "type": "string"
        },
        "searchResultType": {
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ],
          "description": "Type of the search result. This field can be used to determine which Get\nmethod to call to fetch the full resource.",
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ]
        }
      },
      "description": "A result that appears in the response of a search request. Each result\ncaptures details of one entry that matches the search.",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResult",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SerializedTaxonomy": {
      "id": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy",
      "type": "object",
      "description": "Message capturing a taxonomy and its policy tag hierarchy as a nested proto.\nUsed for taxonomy import/export and mutation.",
      "properties": {
        "policyTags": {
          "type": "array",
          "description": "Top level policy tags associated with the taxonomy if any.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          }
        },
        "description": {
          "description": "Description of the serialized taxonomy. The length of the\ndescription is limited to 2000 bytes when encoded in UTF-8. If not set,\ndefaults to an empty description.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the taxonomy. Max 200 bytes when encoded in UTF-8."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "GoogleCloudDatacatalogV1beta1Tag": {
      "id": "GoogleCloudDatacatalogV1beta1Tag",
      "type": "object",
      "properties": {
        "template": {
          "type": "string",
          "description": "Required. The resource name of the tag template that this tag uses. Example:\n\n* projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}\n\nThis field cannot be modified after creation."
        },
        "column": {
          "description": "Resources like Entry can have schemas associated with them. This scope\nallows users to attach tags to an individual column based on that schema.\n\nFor attaching a tag to a nested column, use `.` to separate the column\nnames. Example:\n\n* `outer_column.inner_column`",
          "type": "string"
        },
        "templateDisplayName": {
          "description": "Output only. The display name of the tag template.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "description": "Required. This maps the ID of a tag field to the value of and additional information\nabout that field. Valid field IDs are defined by the tag's template. A tag\nmust have at least 1 field and at most 500 fields.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagField"
          }
        },
        "name": {
          "description": "The resource name of the tag in URL format. Example:\n\n* projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}/tags/{tag_id}\n\nwhere `tag_id` is a system-generated identifier.\nNote that this Tag may not actually be stored in the location in this name.",
          "type": "string"
        }
      },
      "description": "Tags are used to attach custom metadata to Data Catalog resources. Tags\nconform to the specifications within their tag template.\n\nSee [Data Catalog\nIAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information\non the permissions needed to create or view tags."
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest": {
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest",
      "type": "object",
      "description": "Request message for\nRenameTagTemplateFieldEnumValue.",
      "properties": {
        "newEnumValueDisplayName": {
          "type": "string",
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec": {
      "description": "Spec for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`.\nContext:\nhttps://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding",
      "properties": {
        "tablePrefix": {
          "type": "string",
          "description": "Output only. The table name prefix of the shards. The name of any given shard is\n`[table_prefix]YYYYMMDD`, for example, for shard `MyTable20180101`, the\n`table_prefix` is `MyTable`."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table\nbelongs to, for example,\n`projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`."
        },
        "shardCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total number of shards."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nFor some types of Google Cloud resources, a `binding` can also specify a\n`condition`, which is a logical expression that allows access to a resource\nonly if the expression evaluates to `true`. A condition can add constraints\nbased on attributes of the request, the resource, or both. To learn which\nresources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/resourcemanager.organizationViewer\",\n          \"members\": [\n            \"user:eve@example.com\"\n          ],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumType": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType",
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue"
          },
          "description": "The set of allowed values for this enum. This set must not be empty, the\ndisplay names of the values in this set must not be empty and the display\nnames of the values must be case-insensitively unique within this set.\nThe order of items in this list is preserved. This field can be used to\ncreate, remove and reorder enum values. To rename enum values, use the\nRenameTagTemplateFieldEnumValue method. This list can include up to 500\nallowed values."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ListEntriesResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListEntriesResponse",
      "properties": {
        "entries": {
          "description": "Entry details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items\nremain in results.",
          "type": "string"
        }
      },
      "description": "Response message for\nListEntries."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1FieldType": {
      "properties": {
        "primitiveType": {
          "description": "Represents primitive types - string, bool etc.",
          "type": "string",
          "enumDescriptions": [
            "This is the default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp."
          ],
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP"
          ]
        },
        "enumType": {
          "description": "Represents an enum type.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1FieldType"
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the enum value. Must not be an empty string."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse": {
      "type": "object",
      "description": "Response message for\nExportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags in a tree structure.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ViewSpec": {
      "description": "Table view specification.",
      "properties": {
        "viewQuery": {
          "type": "string",
          "description": "Output only. The query that defines the table view."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ViewSpec"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to\n`GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1beta1GcsFilesetSpec": {
      "description": "Describes a Cloud Storage fileset entry.",
      "type": "object",
      "properties": {
        "filePatterns": {
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage.\nSee [Cloud Storage\ndocumentation](https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames)\nfor more information. Note that bucket wildcards are currently not\nsupported.\n\nExamples of valid file_patterns:\n\n * `gs://bucket_name/dir/*`: matches all files within `bucket_name/dir`\n                             directory.\n * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir`\n                              spanning all subdirectories.\n * `gs://bucket_name/file*`: matches files prefixed by `file` in\n                             `bucket_name`\n * `gs://bucket_name/??.txt`: matches files with two characters followed by\n                              `.txt` in `bucket_name`\n * `gs://bucket_name/[aeiou].txt`: matches files that contain a single\n                                   vowel character followed by `.txt` in\n                                   `bucket_name`\n * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ...\n                                 or `m` followed by `.txt` in `bucket_name`\n * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match\n                             `a/*/b` pattern, such as `a/c/b`, `a/d/b`\n * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`\n\nYou can combine wildcards to provide more powerful matches, for example:\n\n * `gs://bucket_name/[a-m]??.j*g`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sampleGcsFileSpecs": {
          "type": "array",
          "description": "Output only. Sample files contained in this fileset, not all files contained in this\nfileset are represented here.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1GcsFileSpec"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec"
    },
    "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to retrieve the next page of results, or empty if there are no\nmore results in the list."
        },
        "taxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "description": "Taxonomies that the project contains."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse",
      "description": "Response message for\nListTaxonomies.",
      "type": "object"
    }
  },
  "revision": "20200714",
  "resources": {
    "entries": {
      "methods": {
        "lookup": {
          "path": "v1beta1/entries:lookup",
          "flatPath": "v1beta1/entries:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "sqlResource": {
              "type": "string",
              "location": "query",
              "description": "The SQL name of the entry. SQL names are case-sensitive.\n\nExamples:\n\n  * `pubsub.project_id.topic_id`\n  * ``pubsub.project_id.`topic.id.with.dots` ``\n  * `bigquery.table.project_id.dataset_id.table_id`\n  * `bigquery.dataset.project_id.dataset_id`\n  * `datacatalog.entry.project_id.location_id.entry_group_id.entry_id`\n\n`*_id`s shoud satisfy the standard SQL rules for identifiers.\nhttps://cloud.google.com/bigquery/docs/reference/standard-sql/lexical."
            },
            "linkedResource": {
              "description": "The full name of the Google Cloud Platform resource the Data Catalog\nentry represents. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name.\nFull names are case-sensitive.\n\nExamples:\n\n * //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId\n * //pubsub.googleapis.com/projects/projectId/topics/topicId",
              "location": "query",
              "type": "string"
            }
          },
          "id": "datacatalog.entries.lookup",
          "httpMethod": "GET",
          "description": "Get an entry by target resource name. This method allows clients to use\nthe resource name from the source Google Cloud Platform service to get the\nData Catalog Entry.",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          }
        }
      }
    },
    "catalog": {
      "methods": {
        "search": {
          "path": "v1beta1/catalog:search",
          "description": "Searches Data Catalog for multiple resources like entries, tags that\nmatch a query.\n\nThis is a custom method\n(https://cloud.google.com/apis/design/custom_methods) and does not return\nthe complete resource, only the resource identifier and high level\nfields. Clients can subsequentally call `Get` methods.\n\nNote that Data Catalog search queries do not guarantee full recall. Query\nresults that match your query may not be returned, even in subsequent\nresult pages. Also note that results returned (and not returned) can vary\nacross repeated search queries.\n\nSee [Data Catalog Search\nSyntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference)\nfor more information.",
          "parameters": {},
          "flatPath": "v1beta1/catalog:search",
          "request": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse"
          },
          "id": "datacatalog.catalog.search"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "taxonomies": {
              "resources": {
                "policyTags": {
                  "methods": {
                    "setIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}:setIamPolicy",
                      "description": "Sets the IAM policy for a taxonomy or a policy tag.",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field."
                        }
                      },
                      "path": "v1beta1/{+resource}:setIamPolicy"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                          "location": "path",
                          "description": "Required. Resource name of the requested policy tag.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.get",
                      "description": "Gets a policy tag.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                      }
                    },
                    "testIamPermissions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1beta1/{+resource}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.testIamPermissions",
                      "description": "Returns the permissions that a caller has on the specified taxonomy or\npolicy tag."
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "description": "The update mask applies to the resource. Only display_name, description and\nparent_policy_tag can be updated and thus can be listed in the mask. If\nupdate_mask is not provided, all allowed fields (i.e. display_name,\ndescription and parent) will be updated. For more information including the\n`FieldMask` definition, see\nhttps://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask\nIf not set, defaults to all of the fields that are allowed to update.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Output only. Resource name of this policy tag, whose format is:\n\"projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}\".",
                          "type": "string"
                        }
                      },
                      "description": "Updates a policy tag.",
                      "path": "v1beta1/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}",
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.patch",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "getIamPolicy": {
                      "description": "Gets the IAM policy for a taxonomy or a policy tag.",
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "path": "v1beta1/{+resource}:getIamPolicy",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}:getIamPolicy",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a policy tag. Also deletes all of its descendant policy tags.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Resource name of the policy tag to be deleted. All of its descendant\npolicy tags will also be deleted.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$"
                        }
                      },
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.delete"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. Resource name of the taxonomy that the policy tag will belong to.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags",
                      "path": "v1beta1/{+parent}/policyTags",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                      },
                      "description": "Creates a policy tag in the specified taxonomy.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.create"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                          "description": "Required. Resource name of the taxonomy to list the policy tags of."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of items to return. Must be a value between 1 and 1000.\nIf not set, defaults to 50."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous List request, if any. If\nnot set, defaults to an empty string.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags",
                      "httpMethod": "GET",
                      "description": "Lists all policy tags in a taxonomy.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/policyTags",
                      "id": "datacatalog.projects.locations.taxonomies.policyTags.list",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "description": "Returns the permissions that a caller has on the specified taxonomy or\npolicy tag.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field."
                    }
                  },
                  "id": "datacatalog.projects.locations.taxonomies.testIamPermissions",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Output only. Resource name of this taxonomy, whose format is:\n\"projects/{project_number}/locations/{location_id}/taxonomies/{id}\"."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition,\nsee\nhttps://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask\nIf not set, defaults to all of the fields that are allowed to update.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "datacatalog.projects.locations.taxonomies.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a taxonomy."
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the project that the taxonomy will belong to.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a taxonomy in the specified project.",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                  },
                  "path": "v1beta1/{+parent}/taxonomies",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                  },
                  "id": "datacatalog.projects.locations.taxonomies.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the taxonomy to be deleted. All policy tags in\nthis taxonomy will also be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$"
                    }
                  },
                  "description": "Deletes a taxonomy. This operation will also delete all\npolicy tags in this taxonomy along with their associated policies.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.taxonomies.delete"
                },
                "import": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Resource name of project that the imported taxonomies will belong to.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest"
                  },
                  "path": "v1beta1/{+parent}/taxonomies:import",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports all taxonomies and their policy tags to a project as new\ntaxonomies.\n\nThis method provides a bulk taxonomy / policy tag creation using nested\nproto structure.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies:import",
                  "id": "datacatalog.projects.locations.taxonomies.import",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse"
                  }
                },
                "getIamPolicy": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:getIamPolicy",
                  "description": "Gets the IAM policy for a taxonomy or a policy tag.",
                  "id": "datacatalog.projects.locations.taxonomies.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field."
                    }
                  },
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "export": {
                  "description": "Exports all taxonomies and their policy tags in a project.\n\nThis method generates SerializedTaxonomy protos with nested policy tags\nthat can be used as an input for future ImportTaxonomies calls.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/taxonomies:export",
                  "httpMethod": "GET",
                  "id": "datacatalog.projects.locations.taxonomies.export",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Resource name of the project that taxonomies to be exported\nwill share.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "taxonomies": {
                      "repeated": true,
                      "location": "query",
                      "description": "Required. Resource names of the taxonomies to be exported.",
                      "type": "string"
                    },
                    "serializedTaxonomies": {
                      "location": "query",
                      "description": "Export taxonomies as serialized taxonomies.",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies:export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous list request, if any. If\nnot set, defaults to an empty string."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Resource name of the project to list the taxonomies of."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of items to return. Must be a value between 1 and 1000.\nIf not set, defaults to 50."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse"
                  },
                  "path": "v1beta1/{+parent}/taxonomies",
                  "id": "datacatalog.projects.locations.taxonomies.list",
                  "description": "Lists all taxonomies in a project in a particular location that the caller\nhas permission to view."
                },
                "setIamPolicy": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:setIamPolicy",
                  "description": "Sets the IAM policy for a taxonomy or a policy tag.",
                  "id": "datacatalog.projects.locations.taxonomies.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the requested taxonomy.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$"
                    }
                  },
                  "description": "Gets a taxonomy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                  "id": "datacatalog.projects.locations.taxonomies.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                  },
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "entryGroups": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/entryGroups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. Default is 10. Max limit is 1000.\nThrows an invalid argument for `page_size \u003e 1000`.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the location that contains the entry groups, which can be\nprovided in URL format. Example:\n\n* projects/{project_id}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token that specifies which page is requested. If empty, the first page is\nreturned."
                    }
                  },
                  "description": "Lists entry groups.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                  "id": "datacatalog.projects.locations.entryGroups.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an EntryGroup.",
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The fields to return. If not set or empty, all fields are returned."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the entry group. For example,\n`projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                  }
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "id": "datacatalog.projects.locations.entryGroups.getIamPolicy",
                  "description": "Gets the access control policy for a resource. A `NOT_FOUND` error\nis returned if the resource does not exist. An empty policy is returned\nif the resource exists but does not have a policy set on it.\n\nSupported resources are:\n  - Tag templates.\n  - Entries.\n  - Entry groups.\nNote, this method cannot be used to manage policies for BigQuery, Pub/Sub\nand any external Google Cloud Platform resources synced to Data Catalog.\n\nCallers must have following Google IAM permission\n  - `datacatalog.tagTemplates.getIamPolicy` to get policies on tag\n    templates.\n  - `datacatalog.entries.getIamPolicy` to get policies on entries.\n  - `datacatalog.entryGroups.getIamPolicy` to get policies on entry groups.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  }
                },
                "create": {
                  "id": "datacatalog.projects.locations.entryGroups.create",
                  "description": "A maximum of 10,000 entry groups may be created per organization across all\nlocations.\n\nUsers should enable the Data Catalog API in the project identified by\nthe `parent` parameter (see [Data Catalog Resource Project]\n(https://cloud.google.com/data-catalog/docs/concepts/resource-project) for\nmore information).",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/entryGroups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                  },
                  "parameters": {
                    "entryGroupId": {
                      "description": "Required. The id of the entry group to create.\nThe id must begin with a letter or underscore, contain only English\nletters, numbers and underscores, and be at most 64 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
[...]
