{
  "version": "v2",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/deployment-manager/",
  "servicePath": "deploymentmanager/v2/projects/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "deploymentmanager:v2",
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    }
  },
  "resources": {
    "types": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists all resource types for Deployment Manager.",
          "parameterOrder": [
            "project"
          ],
          "path": "{project}/global/types",
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either `=`, `!=`, `\u003e`, or `\u003c`.\n\nFor example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`.\n\nYou can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "type": "integer",
              "default": "500"
            }
          },
          "id": "deploymentmanager.types.list",
          "response": {
            "$ref": "TypesListResponse"
          }
        }
      }
    },
    "resources": {
      "methods": {
        "list": {
          "id": "deploymentmanager.resources.list",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "ResourcesListResponse"
          },
          "description": "Lists all resources in a given deployment.",
          "path": "{project}/global/deployments/{deployment}/resources",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either `=`, `!=`, `\u003e`, or `\u003c`.\n\nFor example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`.\n\nYou can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "minimum": "0",
              "format": "uint32",
              "type": "integer"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "{project}/global/deployments/{deployment}/resources/{resource}",
          "id": "deploymentmanager.resources.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "description": "Gets information about a single resource.",
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The project ID for this request."
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true
            },
            "resource": {
              "type": "string",
              "description": "The name of the resource for this request.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ],
          "response": {
            "$ref": "Resource"
          }
        }
      }
    },
    "manifests": {
      "methods": {
        "list": {
          "path": "{project}/global/deployments/{deployment}/manifests",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "deployment": {
              "type": "string",
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "minimum": "0",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either `=`, `!=`, `\u003e`, or `\u003c`.\n\nFor example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`.\n\nYou can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by `name` or `creationTimestamp desc` is supported."
            }
          },
          "description": "Lists all manifests for a given deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "id": "deploymentmanager.manifests.list",
          "parameterOrder": [
            "project",
            "deployment"
          ]
        },
        "get": {
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "manifest": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The name of the manifest for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "deployment": {
              "location": "path",
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Manifest"
          },
          "description": "Gets information about a specific manifest.",
          "id": "deploymentmanager.manifests.get",
          "path": "{project}/global/deployments/{deployment}/manifests/{manifest}"
        }
      }
    },
    "deployments": {
      "methods": {
        "insert": {
          "description": "Creates a deployment and all of the resources described by the deployment manifest.",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request."
            },
            "preview": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "createPolicy": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ACQUIRE",
                "CREATE_OR_ACQUIRE"
              ],
              "type": "string",
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "Deployment"
          },
          "parameterOrder": [
            "project"
          ],
          "path": "{project}/global/deployments",
          "httpMethod": "POST",
          "id": "deploymentmanager.deployments.insert"
        },
        "stop": {
          "path": "{project}/global/deployments/{deployment}/stop",
          "parameters": {
            "deployment": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST",
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.stop"
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource.",
          "id": "deploymentmanager.deployments.testIamPermissions",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "path": "{project}/global/deployments/{resource}/testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "description": "Project ID for this request.",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TestPermissionsResponse"
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.delete",
          "parameters": {
            "deployment": {
              "required": true,
              "description": "The name of the deployment for this request.",
              "type": "string",
              "location": "path"
            },
            "deletePolicy": {
              "type": "string",
              "enum": [
                "ABANDON",
                "DELETE"
              ],
              "default": "DELETE",
              "location": "query",
              "description": "Sets the policy to use for deleting resources.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "path": "{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "httpMethod": "DELETE"
        },
        "patch": {
          "parameters": {
            "preview": {
              "type": "boolean",
              "default": "false",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query"
            },
            "deployment": {
              "type": "string",
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "createPolicy": {
              "type": "string",
              "default": "CREATE_OR_ACQUIRE",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources.",
              "enum": [
                "ACQUIRE",
                "CREATE_OR_ACQUIRE"
              ],
              "location": "query"
            },
            "deletePolicy": {
              "default": "DELETE",
              "enum": [
                "ABANDON",
                "DELETE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sets the policy to use for deleting resources.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "request": {
            "$ref": "Deployment"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.patch",
          "httpMethod": "PATCH",
          "path": "{project}/global/deployments/{deployment}"
        },
        "update": {
          "path": "{project}/global/deployments/{deployment}",
          "parameters": {
            "deletePolicy": {
              "description": "Sets the policy to use for deleting resources.",
              "default": "DELETE",
              "enum": [
                "ABANDON",
                "DELETE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            },
            "deployment": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "createPolicy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE",
              "enum": [
                "ACQUIRE",
                "CREATE_OR_ACQUIRE"
              ]
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path"
            },
            "preview": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            }
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "description": "Updates a deployment and all of the resources described by the deployment manifest.",
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.update",
          "request": {
            "$ref": "Deployment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "PUT"
        },
        "list": {
          "path": "{project}/global/deployments",
          "description": "Lists all deployments for a given project.",
          "id": "deploymentmanager.deployments.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "format": "uint32",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "location": "query",
              "minimum": "0"
            },
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either `=`, `!=`, `\u003e`, or `\u003c`.\n\nFor example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`.\n\nYou can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            }
          },
          "parameterOrder": [
            "project"
          ]
        },
        "setIamPolicy": {
          "parameterOrder": [
            "project",
            "resource"
          ],
          "id": "deploymentmanager.deployments.setIamPolicy",
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "{project}/global/deployments/{resource}/setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID for this request."
            },
            "resource": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request."
            }
          }
        },
        "cancelPreview": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "{project}/global/deployments/{deployment}/cancelPreview",
          "httpMethod": "POST",
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.cancelPreview",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request.",
              "type": "string"
            },
            "deployment": {
              "type": "string",
              "description": "The name of the deployment for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            }
          },
          "description": "Cancels and removes the preview currently associated with the deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "Name or id of the resource for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "path": "{project}/global/deployments/{resource}/getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "id": "deploymentmanager.deployments.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Deployment"
          },
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "deployment": {
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "type": "string"
            }
          },
          "description": "Gets information about a specific deployment.",
          "path": "{project}/global/deployments/{deployment}",
          "id": "deploymentmanager.deployments.get"
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "path": "{project}/global/operations",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either `=`, `!=`, `\u003e`, or `\u003c`.\n\nFor example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`.\n\nYou can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "default": "500"
            }
          },
          "description": "Lists all operations for a project.",
          "id": "deploymentmanager.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ]
        },
        "get": {
          "description": "Gets information about a specific operation.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "operation": {
              "required": true,
              "description": "The name of the operation for this request.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path",
              "description": "The project ID for this request."
            }
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "id": "deploymentmanager.operations.get",
          "path": "{project}/global/operations/{operation}"
        }
      }
    }
  },
  "canonicalName": "Deployment Manager",
  "description": "Declares, configures, and deploys complex solutions on Google Cloud Platform.",
  "baseUrl": "https://www.googleapis.com/deploymentmanager/v2/projects/",
  "rootUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "Rule": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logConfigs": {
          "items": {
            "$ref": "LogConfig"
          },
          "type": "array",
          "description": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match the LOG action."
        },
        "conditions": {
          "type": "array",
          "description": "Additional restrictions that must be met. All conditions must pass for the rule to match.",
          "items": {
            "$ref": "Condition"
          }
        },
        "notIns": {
          "description": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required",
          "type": "string"
        },
        "ins": {
          "type": "array",
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the rule."
        }
      },
      "description": "A rule to be applied in a Policy.",
      "id": "Rule"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.\n\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role.\n\nFor some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\n\n**JSON example:**\n\n{ \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 }\n\n**YAML example:**\n\nbindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3\n\nFor a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "iamOwned": {
          "description": "",
          "type": "boolean"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected.\n\nAny operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
          "items": {
            "$ref": "Rule"
          },
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of [Binding.members][]."
        },
        "ignoreChildExemptions": {
          "type": "boolean",
          "description": ""
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables."
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example:\n\n{ \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\", } ] }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "LogConfigCounterOptionsCustomField": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the field name."
        },
        "value": {
          "description": "Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LogConfigCounterOptionsCustomField",
      "description": "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields."
    },
    "ResourcesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "description": "Resources contained in this list response.",
          "type": "array"
        }
      },
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
      "id": "ResourcesListResponse",
      "type": "object"
    },
    "LogConfigCloudAuditOptions": {
      "id": "LogConfigCloudAuditOptions",
      "description": "Write a Cloud Audit log",
      "type": "object",
      "properties": {
        "logName": {
          "description": "The log_name to populate in the Cloud Audit Record.",
          "type": "string"
        },
        "authorizationLoggingOptions": {
          "description": "Information used by the Cloud Audit Logging pipeline.",
          "$ref": "AuthorizationLoggingOptions"
        }
      }
    },
    "Deployment": {
      "description": "",
      "type": "object",
      "id": "Deployment",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment."
        },
        "labels": {
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "type": "array",
          "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "fingerprint": {
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time.\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment.",
          "format": "byte",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent."
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        },
        "description": {
          "type": "string",
          "description": "An optional user-provided description of the deployment."
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "target": {
          "$ref": "TargetConfiguration",
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates."
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
          "$ref": "DeploymentUpdate"
        }
      }
    },
    "TestPermissionsRequest": {
      "id": "TestPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed."
        }
      }
    },
    "ResourceUpdate": {
      "type": "object",
      "description": "",
      "properties": {
        "properties": {
          "type": "string",
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML."
        },
        "finalProperties": {
          "type": "string",
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML."
        },
        "intent": {
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`.",
          "type": "string"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the update configuration of this resource."
        },
        "accessControl": {
          "$ref": "ResourceAccessControl",
          "description": "The Access Control Policy to set on this resource after updating the resource itself."
        },
        "error": {
          "type": "object",
          "properties": {
            "errors": {
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "properties": {
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "description": "Output only. If errors are generated during update of the resource, this field will be populated."
        },
        "warnings": {
          "items": {
            "properties": {
              "code": {
                "type": "string",
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
              },
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                "type": "array",
                "items": {
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string"
        }
      },
      "id": "ResourceUpdate"
    },
    "DeploymentsListResponse": {
      "id": "DeploymentsListResponse",
      "description": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        },
        "deployments": {
          "description": "Output only. The deployments contained in this response.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n{ \"audit_configs\": [ { \"service\": \"allServices\" \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\", }, { \"log_type\": \"ADMIN_READ\", } ] }, { \"service\": \"sampleservice.googleapis.com\" \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": ""
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "DeploymentUpdate": {
      "type": "object",
      "description": "",
      "id": "DeploymentUpdate",
      "properties": {
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this deployment.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. An optional user-provided description of the deployment after the current update has been applied."
        },
        "labels": {
          "type": "array",
          "description": "Output only. Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "items": {
            "$ref": "DeploymentUpdateLabelEntry"
          }
        }
      }
    },
    "TestPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestPermissionsResponse",
      "type": "object"
    },
    "DeploymentsCancelPreviewRequest": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests).\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      },
      "description": "",
      "id": "DeploymentsCancelPreviewRequest",
      "type": "object"
    },
    "DeploymentsStopRequest": {
      "id": "DeploymentsStopRequest",
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision).\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      },
      "type": "object",
      "description": ""
    },
    "ManifestsListResponse": {
      "id": "ManifestsListResponse",
      "properties": {
        "manifests": {
          "description": "Output only. Manifests contained in this list response.",
          "type": "array",
          "items": {
            "$ref": "Manifest"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token used to continue a truncated list request."
        }
      },
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
      "type": "object"
    },
    "ConfigFile": {
      "properties": {
        "content": {
          "type": "string",
          "description": "The contents of the file."
        }
      },
      "id": "ConfigFile",
      "type": "object",
      "description": ""
    },
    "DeploymentLabelEntry": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeploymentLabelEntry"
    },
    "GlobalSetPolicyRequest": {
      "type": "object",
      "id": "GlobalSetPolicyRequest",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag.",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them.",
          "$ref": "Policy"
        },
        "bindings": {
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "LogConfig": {
      "description": "Specifies what kind of log the caller must write",
      "properties": {
        "dataAccess": {
          "$ref": "LogConfigDataAccessOptions",
          "description": "Data access options."
        },
        "counter": {
          "$ref": "LogConfigCounterOptions",
          "description": "Counter options."
        },
        "cloudAudit": {
          "$ref": "LogConfigCloudAuditOptions",
          "description": "Cloud audit options."
        }
      },
      "id": "LogConfig",
      "type": "object"
    },
    "Resource": {
      "properties": {
        "properties": {
          "description": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the resource as it appears in the YAML config.",
          "type": "string"
        },
        "accessControl": {
          "description": "The Access Control Policy set on this resource.",
          "$ref": "ResourceAccessControl"
        },
        "url": {
          "description": "Output only. The URL of the actual resource.",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "finalProperties": {
          "type": "string",
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML."
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the current configuration of this resource."
        },
        "type": {
          "description": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`.",
          "type": "string"
        },
        "update": {
          "$ref": "ResourceUpdate",
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here."
        },
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "type": "string"
        },
        "warnings": {
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
              },
              "data": {
                "type": "array",
                "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                "items": {
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            }
          },
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
        }
      },
      "description": "",
      "type": "object",
      "id": "Resource"
    },
    "TypesListResponse": {
      "properties": {
        "types": {
          "type": "array",
          "description": "Output only. A list of resource types supported by Deployment Manager.",
          "items": {
            "$ref": "Type"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        }
      },
      "id": "TypesListResponse",
      "type": "object",
      "description": "A response that returns all Types supported by Deployment Manager"
    },
    "AuthorizationLoggingOptions": {
      "type": "object",
      "description": "Authorization-related information used by Cloud Audit Logging.",
      "properties": {
        "permissionType": {
          "type": "string",
          "description": "The type of the permission that was checked."
        }
      },
      "id": "AuthorizationLoggingOptions"
    },
    "Type": {
      "type": "object",
      "id": "Type",
      "properties": {
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type.",
          "$ref": "Operation"
        },
        "name": {
          "description": "Name of the type.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        }
      },
      "description": "A resource type supported by Deployment Manager."
    },
    "LogConfigCounterOptions": {
      "properties": {
        "customFields": {
          "items": {
            "$ref": "LogConfigCounterOptionsCustomField"
          },
          "type": "array",
          "description": "Custom fields."
        },
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "The field value to attribute."
        }
      },
      "id": "LogConfigCounterOptions",
      "description": "Increment a streamz counter with the specified metric and field names.\n\nMetric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended.\n\nField names correspond to IAM request parameters and field values are their respective values.\n\nSupported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields.\n\nExamples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==\u003e increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "Represents an Operation resource.\n\nGoogle Compute Engine has three Operation resources:\n\n* [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations)\n\nYou can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses.\n\nOperations can be global, regional or zonal.  \n- For global operations, use the `globalOperations` resource. \n- For regional operations, use the `regionOperations` resource. \n- For zonal operations, use the `zonalOperations` resource.  \n\nFor more information, read  Global, Regional, and Zonal Resources. (== resource_for {$api_version}.globalOperations ==) (== resource_for {$api_version}.regionOperations ==) (== resource_for {$api_version}.zoneOperations ==)",
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations."
        },
        "region": {
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations.",
          "type": "string"
        },
        "httpErrorStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found."
        },
        "name": {
          "type": "string",
          "description": "[Output Only] Name of the operation."
        },
        "endTime": {
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
          "type": "string"
        },
        "clientOperationId": {
          "type": "string",
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for the resource."
        },
        "id": {
          "format": "uint64",
          "description": "[Output Only] The unique identifier for the operation. This identifier is defined by the server.",
          "type": "string"
        },
        "user": {
          "description": "[Output Only] User who requested the operation, for example: `user@example.com`.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format."
        },
        "creationTimestamp": {
          "description": "[Deprecated] This field is deprecated.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "deploymentmanager#operation",
          "description": "[Output Only] Type of the resource. Always `compute#operation` for Operation resources."
        },
        "description": {
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created.",
          "type": "string"
        },
        "progress": {
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
          "type": "integer",
          "format": "int32"
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the operation."
        },
        "insertTime": {
          "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format.",
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              },
              "data": {
                "items": {
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                "type": "array"
              }
            }
          }
        },
        "targetLink": {
          "type": "string",
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the persistent disk that the snapshot was created from."
        },
        "error": {
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  }
                }
              }
            }
          },
          "type": "object",
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated."
        },
        "httpErrorMessage": {
          "type": "string",
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`."
        },
        "status": {
          "type": "string",
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`."
        },
        "operationType": {
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "format": "uint64",
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource."
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.\n\nIf the condition evaluates to `true`, then this binding applies to the current request.\n\nIf the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding.\n\nTo learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` .\n\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.\n\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`."
        }
      },
      "type": "object",
      "description": "Associates `members` with a `role`.",
      "id": "Binding"
    },
    "DeploymentUpdateLabelEntry": {
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "DeploymentUpdateLabelEntry",
      "type": "object"
    },
    "OperationsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "Output only. Operations contained in this list response."
        }
      },
      "id": "OperationsListResponse",
      "type": "object",
      "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated."
    },
    "Manifest": {
      "id": "Manifest",
      "type": "object",
      "description": "",
      "properties": {
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "layout": {
          "type": "string",
          "description": "Output only. The YAML layout for this manifest."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Self link for the manifest."
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only.\n\nThe name of the manifest."
        },
        "imports": {
          "description": "Output only. The imported files for this manifest.",
          "type": "array",
          "items": {
            "$ref": "ImportFile"
          }
        },
        "expandedConfig": {
          "description": "Output only. The fully-expanded configuration file, including any templates and references.",
          "type": "string"
        },
        "config": {
          "description": "Output only. The YAML configuration for this manifest.",
          "$ref": "ConfigFile"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\ntitle: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\ntitle: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\ntitle: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\ntitle: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "TargetConfiguration": {
      "id": "TargetConfiguration",
      "properties": {
        "imports": {
          "type": "array",
          "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template.",
          "items": {
            "$ref": "ImportFile"
          }
        },
        "config": {
          "description": "The configuration to use for this deployment.",
          "$ref": "ConfigFile"
        }
      },
      "type": "object",
      "description": ""
    },
    "LogConfigDataAccessOptions": {
      "type": "object",
      "id": "LogConfigDataAccessOptions",
      "description": "Write a Data Access (Gin) log",
      "properties": {
        "logMode": {
          "type": "string",
          "description": ""
        }
      }
    },
    "ResourceAccessControl": {
      "type": "object",
      "id": "ResourceAccessControl",
      "description": "The access controls set on the resource.",
      "properties": {
        "gcpIamPolicy": {
          "description": "The GCP IAM Policy to set on the resource.",
          "type": "string"
        }
      }
    },
    "ImportFile": {
      "description": "",
      "id": "ImportFile",
      "properties": {
        "name": {
          "description": "The name of the file.",
          "type": "string"
        },
        "content": {
          "description": "The contents of the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Condition": {
      "properties": {
        "values": {
          "description": "The objects of the condition.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
          "type": "string"
        },
        "iam": {
          "type": "string",
          "description": "Trusted attributes supplied by the IAM system."
        },
        "op": {
          "type": "string",
          "description": "An operator to apply the subject with."
        },
        "svc": {
          "type": "string",
          "description": "Trusted attributes discharged by the service."
        }
      },
      "type": "object",
      "description": "A condition to be met.",
      "id": "Condition"
    }
  },
  "basePath": "/deploymentmanager/v2/projects/",
  "name": "deploymentmanager",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "batchPath": "batch/deploymentmanager/v2",
  "title": "Google Cloud Deployment Manager API",
  "revision": "20200519"
}
