{
  "discoveryVersion": "v1",
  "revision": "20200727",
  "ownerDomain": "google.com",
  "title": "Firebase Management API",
  "name": "firebase",
  "canonicalName": "Firebase Management",
  "version": "v1beta1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "id": "firebase:v1beta1",
  "rootUrl": "https://firebase.googleapis.com/",
  "description": "The Firebase Management API enables programmatic setup and management of Firebase projects, including a project's Firebase resources and Firebase apps.",
  "documentationLink": "https://firebase.google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://firebase.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "androidApps": {
          "resources": {
            "sha": {
              "methods": {
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/sha/{shaId}",
                  "id": "firebase.projects.androidApps.sha.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Removes a ShaCertificate from the specified AndroidApp.",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/androidApps/[^/]+/sha/[^/]+$",
                      "description": "The resource name of the ShaCertificate to remove from the parent\nAndroidApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e/sha/\u003cvar\u003eSHA_HASH\u003c/var\u003e\u003c/code\u003e\nRefer to the `ShaCertificate`\n[`name`](../projects.androidApps.sha#ShaCertificate.FIELDS.name) field for\ndetails about \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e, \u003cvar\u003eAPP_ID\u003c/var\u003e, and\n\u003cvar\u003eSHA_HASH\u003c/var\u003e values.\n\nYou can obtain the full resource name of the `ShaCertificate` from the\nresponse of [`ListShaCertificates`](../projects.androidApps.sha/list) or\nthe original [`CreateShaCertificate`](../projects.androidApps.sha/create).",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "list": {
                  "id": "firebase.projects.androidApps.sha.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/androidApps/[^/]+$",
                      "description": "The resource name of the parent AndroidApp for which to list each\nassociated ShaCertificate, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `AndroidApp`\n[`name`](../projects.androidApps#AndroidApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListShaCertificatesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/sha",
                  "description": "Lists the SHA-1 and SHA-256 certificates for the specified AndroidApp.",
                  "path": "v1beta1/{+parent}/sha",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ShaCertificate"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/sha",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the parent AndroidApp to which to add a\nShaCertificate, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `AndroidApp`\n[`name`](../projects.androidApps#AndroidApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/androidApps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Adds a ShaCertificate to the specified AndroidApp.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "ShaCertificate"
                  },
                  "id": "firebase.projects.androidApps.sha.create",
                  "path": "v1beta1/{+parent}/sha"
                }
              }
            }
          },
          "methods": {
            "patch": {
              "response": {
                "$ref": "AndroidApp"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Specifies which fields to update.\n\nNote that the fields `name`, `app_id`, `project_id`, and `package_name`\nare all immutable.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The resource name of the AndroidApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n* \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the parent Project's\n  [`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n  ***(recommended)***\n  or its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n  Learn more about using project identifiers in\n  Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n  \u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\n  response body will be the `ProjectId`.\n* \u003cvar\u003eAPP_ID\u003c/var\u003e: the globally unique, Firebase-assigned identifier\n  for the App\n  (see [`appId`](../projects.androidApps#AndroidApp.FIELDS.app_id)).",
                  "required": true,
                  "pattern": "^projects/[^/]+/androidApps/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "AndroidApp"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}",
              "description": "Updates the attributes of the specified AndroidApp.",
              "id": "firebase.projects.androidApps.patch",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "description": "Gets the specified AndroidApp.",
              "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "AndroidApp"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebase.projects.androidApps.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the AndroidApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `AndroidApp`\n[`name`](../projects.androidApps#AndroidApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                  "required": true,
                  "pattern": "^projects/[^/]+/androidApps/[^/]+$",
                  "location": "path"
                }
              }
            },
            "create": {
              "description": "Requests the creation of a new AndroidApp in the specified\nFirebaseProject.\n\nThe result of this call is an `Operation` which can be used to track\nthe provisioning process. The `Operation` is automatically deleted after\ncompletion, so there is no need to call `DeleteOperation`.",
              "httpMethod": "POST",
              "request": {
                "$ref": "AndroidApp"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The resource name of the parent FirebaseProject in which to create an\nAndroidApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/androidApps",
              "id": "firebase.projects.androidApps.create",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/androidApps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListAndroidAppsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/androidApps",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of Apps to return in the response.\n\nThe server may return fewer than this at its discretion.\nIf no value is specified (or too large a value is specified), then the\nserver will impose its own limit."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource name of the parent FirebaseProject for which to list each\nassociated AndroidApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Token returned from a previous call to `ListAndroidApps` indicating where\nin the set of Apps to resume listing.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "firebase.projects.androidApps.list",
              "flatPath": "v1beta1/projects/{projectsId}/androidApps",
              "description": "Lists each AndroidApp associated with the specified\nFirebaseProject.\n\nThe elements are returned in no particular order, but will be a\nconsistent view of the Apps when additional requests are made with a\n`pageToken`.",
              "httpMethod": "GET"
            },
            "getConfig": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the AndroidApp configuration to download, in the\nformat:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e/config\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `AndroidApp`\n[`name`](../projects.androidApps#AndroidApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                  "pattern": "^projects/[^/]+/androidApps/[^/]+/config$",
                  "type": "string"
                }
              },
              "description": "Gets the configuration artifact associated with the specified\nAndroidApp.",
              "id": "firebase.projects.androidApps.getConfig",
              "httpMethod": "GET",
              "response": {
                "$ref": "AndroidAppConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/config",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        },
        "availableLocations": {
          "methods": {
            "list": {
              "id": "firebase.projects.availableLocations.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the valid Google Cloud Platform (GCP) resource locations for\nthe specified Project (including a FirebaseProject).\n\nOne of these locations can be selected as the Project's [_default_ GCP\nresource location](https://firebase.google.com/docs/projects/locations),\nwhich is the geographical location where the Project's resources, such as\nCloud Firestore, will be provisioned by default. However, if the default\nGCP resource location has already been set for the Project, then this\nsetting cannot be changed.\n\nThis call checks for any possible\n[location\nrestrictions](https://cloud.google.com/resource-manager/docs/organization-policy/defining-locations)\nfor the specified Project and, thus, might return a subset of all possible\nGCP resource locations. To list all GCP resource locations (regardless of\nany restrictions), call the endpoint without specifying a unique project\nidentifier (that is,\n`/v1beta1/{parent=projects/-}/listAvailableLocations`).\n\nTo call `ListAvailableLocations` with a specified project, a member must be\nat minimum a Viewer of the Project. Calls without a specified project do\nnot require any specific project permissions.",
              "response": {
                "$ref": "ListAvailableLocationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/availableLocations",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of locations to return in the response.\n\nThe server may return fewer than this value at its discretion.\nIf no value is specified (or too large a value is specified), then the\nserver will impose its own limit.\n\nThis value cannot be negative.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token returned from a previous call to `ListAvailableLocations` indicating\nwhere in the list of locations to resume listing.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The FirebaseProject for which to list GCP resource locations,\nin the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.\n\nIf no unique project identifier is specified (that is, `projects/-`),\nthe returned list does not take into account org-specific or\nproject-specific location restrictions.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+parent}/availableLocations"
            }
          }
        },
        "iosApps": {
          "methods": {
            "getConfig": {
              "httpMethod": "GET",
              "description": "Gets the configuration artifact associated with the specified IosApp.",
              "response": {
                "$ref": "IosAppConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/iosApps/{iosAppsId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/iosApps/[^/]+/config$",
                  "description": "The resource name of the App configuration to download, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e/config\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `IosApp`\n[`name`](../projects.iosApps#IosApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebase.projects.iosApps.getConfig"
            },
            "create": {
              "path": "v1beta1/{+parent}/iosApps",
              "request": {
                "$ref": "IosApp"
              },
              "description": "Requests the creation of a new IosApp in the specified\nFirebaseProject.\n\nThe result of this call is an `Operation` which can be used to track\nthe provisioning process. The `Operation` is automatically deleted after\ncompletion, so there is no need to call `DeleteOperation`.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The resource name of the parent FirebaseProject in which to create an\nIosApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/iosApps",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "id": "firebase.projects.iosApps.create"
            },
            "get": {
              "response": {
                "$ref": "IosApp"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified IosApp.",
              "flatPath": "v1beta1/projects/{projectsId}/iosApps/{iosAppsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The resource name of the IosApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `IosApp`\n[`name`](../projects.iosApps#IosApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/iosApps/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebase.projects.iosApps.get",
              "path": "v1beta1/{+name}"
            },
            "list": {
              "description": "Lists each IosApp associated with the specified FirebaseProject.\n\nThe elements are returned in no particular order, but will be a\nconsistent view of the Apps when additional requests are made with a\n`pageToken`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/iosApps",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Token returned from a previous call to `ListIosApps` indicating where in\nthe set of Apps to resume listing.",
                  "location": "query"
                },
                "parent": {
                  "description": "The resource name of the parent FirebaseProject for which to list each\nassociated IosApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of Apps to return in the response.\n\nThe server may return fewer than this at its discretion.\nIf no value is specified (or too large a value is specified), the server\nwill impose its own limit.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListIosAppsResponse"
              },
              "path": "v1beta1/{+parent}/iosApps",
              "id": "firebase.projects.iosApps.list",
              "httpMethod": "GET"
            },
            "patch": {
              "request": {
                "$ref": "IosApp"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The resource name of the IosApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n* \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the parent Project's\n  [`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n  ***(recommended)***\n  or its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n  Learn more about using project identifiers in\n  Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n  \u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\n  response body will be the `ProjectId`.\n* \u003cvar\u003eAPP_ID\u003c/var\u003e: the globally unique, Firebase-assigned identifier\n  for the App (see [`appId`](../projects.iosApps#IosApp.FIELDS.app_id)).",
                  "required": true,
                  "pattern": "^projects/[^/]+/iosApps/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Specifies which fields to update.\n\nNote that the fields `name`, `appId`, `projectId`, and `bundleId`\nare all immutable.",
                  "type": "string"
                }
              },
              "id": "firebase.projects.iosApps.patch",
              "description": "Updates the attributes of the specified IosApp.",
              "response": {
                "$ref": "IosApp"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/iosApps/{iosAppsId}"
            }
          }
        },
        "defaultLocation": {
          "methods": {
            "finalize": {
              "response": {
                "$ref": "Operation"
              },
              "description": "Sets the default Google Cloud Platform (GCP) resource location for the\nspecified FirebaseProject.\n\nThis method creates an App Engine application with a\n[default Cloud Storage\nbucket](https://cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/setting-up-cloud-storage#activating_a_cloud_storage_bucket),\nlocated in the specified\n[`locationId`](#body.request_body.FIELDS.location_id).\nThis location must be one of the available\n[GCP resource\nlocations](https://firebase.google.com/docs/projects/locations).\n\nAfter the default GCP resource location is finalized, or if it was\nalready set, it cannot be changed. The default GCP resource location for\nthe specified `FirebaseProject` might already be set because either the\nunderlying GCP `Project` already has an App Engine application or\n`FinalizeDefaultLocation` was previously called with a specified\n`locationId`. Any new calls to `FinalizeDefaultLocation` with a\n*different* specified `locationId` will return a 409 error.\n\nThe result of this call is an [`Operation`](../../v1beta1/operations),\nwhich can be used to track the provisioning process. The\n[`response`](../../v1beta1/operations#Operation.FIELDS.response) type of\nthe `Operation` is google.protobuf.Empty.\n\nThe `Operation` can be polled by its `name` using\nGetOperation until `done` is\ntrue. When `done` is true, the `Operation` has either succeeded or failed.\nIf the `Operation` has succeeded, its\n[`response`](../../v1beta1/operations#Operation.FIELDS.response) will be\nset to a google.protobuf.Empty; if the `Operation` has failed, its\n`error` will be set to a google.rpc.Status. The `Operation` is\nautomatically deleted after completion, so there is no need to call\nDeleteOperation.\n\nAll fields listed in the [request body](#request-body) are required.\n\nTo call `FinalizeDefaultLocation`, a member must be an Owner\nof the Project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The resource name of the FirebaseProject for which the default GCP\nresource location will be set, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/defaultLocation:finalize",
              "id": "firebase.projects.defaultLocation.finalize",
              "request": {
                "$ref": "FinalizeDefaultLocationRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/defaultLocation:finalize",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "webApps": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebase.projects.webApps.get",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the WebApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `WebApp`\n[`name`](../projects.webApps#WebApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/webApps/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/webApps/{webAppsId}",
              "description": "Gets the specified WebApp.",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "path": "v1beta1/{+parent}/webApps",
              "request": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "id": "firebase.projects.webApps.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The resource name of the parent FirebaseProject in which to create a\nWebApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/webApps\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Requests the creation of a new WebApp in the specified\nFirebaseProject.\n\nThe result of this call is an `Operation` which can be used to track\nthe provisioning process. The `Operation` is automatically deleted after\ncompletion, so there is no need to call `DeleteOperation`.",
              "flatPath": "v1beta1/projects/{projectsId}/webApps"
            },
            "getConfig": {
              "response": {
                "$ref": "WebAppConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/webApps/[^/]+/config$",
                  "location": "path",
                  "description": "The resource name of the WebApp configuration to download,\nin the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e/config\u003c/code\u003e\n\u003cbr\u003e\nSince an \u003cvar\u003eAPP_ID\u003c/var\u003e is a unique identifier, the Unique Resource\nfrom Sub-Collection access pattern may be used here, in the format:\n\u003ccode\u003eprojects/-/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n\u003cbr\u003e\nRefer to the `WebApp`\n[`name`](../projects.webApps#WebApp.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e and \u003cvar\u003eAPP_ID\u003c/var\u003e values.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebase.projects.webApps.getConfig",
              "flatPath": "v1beta1/projects/{projectsId}/webApps/{webAppsId}/config",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the configuration artifact associated with the specified WebApp.",
              "httpMethod": "GET"
            },
            "patch": {
              "response": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/projects/{projectsId}/webApps/{webAppsId}",
              "parameters": {
                "name": {
                  "description": "The resource name of the WebApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n* \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the parent Project's\n  [`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n  ***(recommended)***\n  or its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n  Learn more about using project identifiers in\n  Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n  \u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\n  response body will be the `ProjectId`.\n* \u003cvar\u003eAPP_ID\u003c/var\u003e: the globally unique, Firebase-assigned identifier\n  for the App (see [`appId`](../projects.webApps#WebApp.FIELDS.app_id)).",
                  "pattern": "^projects/[^/]+/webApps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Specifies which fields to update.\n\nNote that the fields `name`, `appId`, and `projectId` are all immutable."
                }
              },
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "WebApp"
              },
              "id": "firebase.projects.webApps.patch",
              "description": "Updates the attributes of the specified WebApp."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/webApps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/webApps",
              "response": {
                "$ref": "ListWebAppsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Token returned from a previous call to `ListWebApps` indicating where in\nthe set of Apps to resume listing.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "The resource name of the parent FirebaseProject for which to list each\nassociated WebApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/webApps\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of Apps to return in the response.\n\nThe server may return fewer than this value at its discretion.\nIf no value is specified (or too large a value is specified), then the\nserver will impose its own limit.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "firebase.projects.webApps.list",
              "description": "Lists each WebApp associated with the specified FirebaseProject.\n\nThe elements are returned in no particular order, but will be a\nconsistent view of the Apps when additional requests are made with a\n`pageToken`.",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "addGoogleAnalytics": {
          "request": {
            "$ref": "AddGoogleAnalyticsRequest"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "description": "The resource name of the FirebaseProject to link to an existing Google\nAnalytics account, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Links the specified FirebaseProject with an existing\n[Google Analytics account](http://www.google.com/analytics/).\n\nUsing this call, you can either:\n\u003cul\u003e\n\u003cli\u003eSpecify an `analyticsAccountId` to provision a new Google Analytics\n  property within the specified account and associate the new property with\n  the `FirebaseProject`.\n\u003cli\u003eSpecify an existing `analyticsPropertyId` to associate the property\n  with the `FirebaseProject`.\n\u003c/ul\u003e\n\nNote that when you call `AddGoogleAnalytics`:\n\u003col\u003e\n\u003cli\u003eThe first check determines if any existing data streams in the\n  Google Analytics property correspond to any existing Firebase Apps in the\n  `FirebaseProject` (based on the `packageName` or `bundleId` associated\n  with the data stream). Then, as applicable, the data streams and apps are\n  linked. Note that this auto-linking only applies to `AndroidApps` and\n  `IosApps`.\n\u003cli\u003eIf no corresponding data streams are found for the Firebase Apps, new\n  data streams are provisioned in the Google Analytics property for each of\n  the Firebase Apps. Note that a new data stream is always provisioned for\n  a Web App even if it was previously associated with a data stream in the\n  Analytics property.\n\u003c/ol\u003e\n\nLearn more about the hierarchy and structure of Google Analytics\naccounts in the\n[Analytics\ndocumentation](https://support.google.com/analytics/answer/9303323).\n\nThe result of this call is an [`Operation`](../../v1beta1/operations).\nPoll the `Operation` to track the provisioning process by calling\nGetOperation until\n[`done`](../../v1beta1/operations#Operation.FIELDS.done) is `true`. When\n`done` is `true`, the `Operation` has either succeeded or failed. If the\n`Operation` succeeded, its\n[`response`](../../v1beta1/operations#Operation.FIELDS.response) is set to\nan AnalyticsDetails; if the `Operation` failed, its\n[`error`](../../v1beta1/operations#Operation.FIELDS.error) is set to a\ngoogle.rpc.Status.\n\nTo call `AddGoogleAnalytics`, a project member must be an Owner for\nthe existing `FirebaseProject` and have the\n[`Edit` permission](https://support.google.com/analytics/answer/2884495)\nfor the Google Analytics account.\n\nIf the `FirebaseProject` already has Google Analytics enabled, and you\ncall `AddGoogleAnalytics` using an `analyticsPropertyId` that's different\nfrom the currently associated property, then the call will fail. Analytics\nmay have already been enabled in the Firebase console or by specifying\n`timeZone` and `regionCode` in the call to\n[`AddFirebase`](../../v1beta1/projects/addFirebase).",
          "id": "firebase.projects.addGoogleAnalytics",
          "flatPath": "v1beta1/projects/{projectsId}:addGoogleAnalytics",
          "path": "v1beta1/{+parent}:addGoogleAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ]
        },
        "patch": {
          "request": {
            "$ref": "FirebaseProject"
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "FirebaseProject"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/projects/{projectsId}",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Specifies which fields to update.\n\nIf this list is empty, then no state will be updated.\n\nNote that the fields `name`, `projectId`, and `projectNumber` are all\nimmutable."
            },
            "name": {
              "description": "The resource name of the Project, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\n\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the Project's\n[`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n***(recommended)***\nor its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n\u003cbr\u003eLearn more about using project identifiers in\nGoogle's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n\u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\nresponse body will be the `ProjectId`.",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the attributes of the specified FirebaseProject.\n\nAll [query parameters](#query-parameters) are required.",
          "id": "firebase.projects.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "PATCH"
        },
        "getAdminSdkConfig": {
          "httpMethod": "GET",
          "flatPath": "v1beta1/projects/{projectsId}/adminSdkConfig",
          "response": {
            "$ref": "AdminSdkConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "The resource name of the FirebaseProject, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/adminSdkConfig\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
              "required": true,
              "pattern": "^projects/[^/]+/adminSdkConfig$"
            }
          },
          "path": "v1beta1/{+name}",
          "description": "Gets the configuration artifact associated with the specified\nFirebaseProject, which can be used by servers to simplify\ninitialization.\n\nTypically, this configuration is used with the Firebase Admin SDK\n[initializeApp](https://firebase.google.com/docs/admin/setup#initialize_the_sdk)\ncommand.",
          "parameterOrder": [
            "name"
          ],
          "id": "firebase.projects.getAdminSdkConfig"
        },
        "get": {
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "response": {
            "$ref": "FirebaseProject"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the specified FirebaseProject.",
          "httpMethod": "GET",
          "flatPath": "v1beta1/projects/{projectsId}",
          "id": "firebase.projects.get",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The resource name of the FirebaseProject, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values."
            }
          }
        },
        "removeAnalytics": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1/projects/{projectsId}:removeAnalytics",
          "path": "v1beta1/{+parent}:removeAnalytics",
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The resource name of the FirebaseProject to unlink from its Google\nAnalytics account, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
              "pattern": "^projects/[^/]+$"
            }
          },
          "id": "firebase.projects.removeAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Unlinks the specified FirebaseProject from its Google Analytics\naccount.\n\nThis call removes the association of the specified `FirebaseProject`\nwith its current Google Analytics property. However, this call does not\ndelete the Google Analytics resources, such as the Google Analytics\nproperty or any data streams.\n\nThese resources may be re-associated later to the `FirebaseProject` by\ncalling\n[`AddGoogleAnalytics`](../../v1beta1/projects/addGoogleAnalytics) and\nspecifying the same `analyticsPropertyId`. For Android Apps and iOS Apps,\nthis call re-links data streams with their corresponding apps. However,\nfor Web Apps, this call provisions a *new* data stream for each Web App.\n\nTo call `RemoveAnalytics`, a project member must be an Owner for\nthe `FirebaseProject`.",
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "RemoveAnalyticsRequest"
          }
        },
        "searchApps": {
          "httpMethod": "GET",
          "description": "Lists all available Apps for the specified FirebaseProject.\n\nThis is a convenience method. Typically, interaction with an App should\nbe done using the platform-specific service, but some tool use-cases\nrequire a summary of all known Apps (such as for App selector interfaces).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "The parent FirebaseProject for which to list Apps, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of Apps to return in the response.\n\nThe server may return fewer than this value at its discretion.\nIf no value is specified (or too large a value is specified), then the\nserver will impose its own limit.\n\nThis value cannot be negative.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token returned from a previous call to `SearchFirebaseApps` indicating\nwhere in the set of Apps to resume listing."
            }
          },
          "path": "v1beta1/{+parent}:searchApps",
          "flatPath": "v1beta1/projects/{projectsId}:searchApps",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "SearchFirebaseAppsResponse"
          },
          "id": "firebase.projects.searchApps"
        },
        "getAnalyticsDetails": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/analyticsDetails$",
              "description": "The resource name of the FirebaseProject, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/analyticsDetails\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values."
            }
          },
          "response": {
            "$ref": "AnalyticsDetails"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/projects/{projectsId}/analyticsDetails",
          "description": "Gets the Google Analytics details currently associated with the specified\nFirebaseProject.\n\nIf the `FirebaseProject` is not yet linked to Google Analytics, then\nthe response to `GetAnalyticsDetails` is `NOT_FOUND`.",
          "id": "firebase.projects.getAnalyticsDetails",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ]
        },
        "addFirebase": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Adds Firebase resources to the specified existing\n[Google Cloud Platform (GCP) `Project`]\n(https://cloud.google.com/resource-manager/reference/rest/v1/projects).\n\nSince a FirebaseProject is actually also a GCP `Project`, a\n`FirebaseProject` has the same underlying GCP identifiers (`projectNumber`\nand `projectId`). This allows for easy interop with Google APIs.\n\nThe result of this call is an [`Operation`](../../v1beta1/operations).\nPoll the `Operation` to track the provisioning process by calling\nGetOperation until\n[`done`](../../v1beta1/operations#Operation.FIELDS.done) is `true`. When\n`done` is `true`, the `Operation` has either succeeded or failed. If the\n`Operation` succeeded, its\n[`response`](../../v1beta1/operations#Operation.FIELDS.response) is set to\na FirebaseProject; if the `Operation` failed, its\n[`error`](../../v1beta1/operations#Operation.FIELDS.error) is set to a\ngoogle.rpc.Status. The `Operation` is automatically deleted after\ncompletion, so there is no need to call\nDeleteOperation.\n\nThis method does not modify any billing account information on the\nunderlying GCP `Project`.\n\nTo call `AddFirebase`, a project member or service account must have\nthe following permissions (the IAM roles of Editor and Owner contain these\npermissions):\n`firebase.projects.update`, `resourcemanager.projects.get`,\n`serviceusage.services.enable`, and `serviceusage.services.get`.",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "v1beta1/projects/{projectsId}:addFirebase",
          "parameters": {
            "project": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "The resource name of the GCP `Project` to which Firebase resources will be\nadded, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.\n\nAfter calling `AddFirebase`, the unique Project identifiers (\n[`projectNumber`](https://cloud.google.com/resource-manager/reference/rest/v1/projects#Project.FIELDS.project_number)\nand\n[`projectId`](https://cloud.google.com/resource-manager/reference/rest/v1/projects#Project.FIELDS.project_id))\nof the underlying GCP `Project` are also the identifiers of the\nFirebaseProject.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1beta1/{+project}:addFirebase",
          "request": {
            "$ref": "AddFirebaseRequest"
          },
          "httpMethod": "POST",
          "id": "firebase.projects.addFirebase"
        },
        "list": {
          "path": "v1beta1/projects",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token returned from a previous call to `ListFirebaseProjects` indicating\nwhere in the set of Projects to resume listing."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of Projects to return in the response.\n\nThe server may return fewer than this at its discretion.\nIf no value is specified (or too large a value is specified), the server\nwill impose its own limit.\n\nThis value cannot be negative."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "firebase.projects.list",
          "response": {
            "$ref": "ListFirebaseProjectsResponse"
          },
          "description": "Lists each FirebaseProject accessible to the caller.\n\n\nThe elements are returned in no particular order, but they will be a\nconsistent view of the Projects when additional requests are made with a\n`pageToken`.\n\nThis method is eventually consistent with Project mutations, which\nmeans newly provisioned Projects and recent modifications to existing\nProjects might not be reflected in the set of Projects. The list will\ninclude only ACTIVE Projects.\n\nUse\nGetFirebaseProject\nfor consistent reads as well as for additional Project details.",
          "flatPath": "v1beta1/projects"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/operations/{operationsId}",
          "response": {
            "$ref": "Operation"
          },
          "id": "firebase.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ]
        }
      }
    },
    "availableProjects": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameterOrder": [],
          "path": "v1beta1/availableProjects",
          "flatPath": "v1beta1/availableProjects",
          "response": {
            "$ref": "ListAvailableProjectsResponse"
          },
          "id": "firebase.availableProjects.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Token returned from a previous call to `ListAvailableProjects`\nindicating where in the set of Projects to resume listing.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of Projects to return in the response.\n\nThe server may return fewer than this value at its discretion.\nIf no value is specified (or too large a value is specified), the server\nwill impose its own limit.\n\nThis value cannot be negative."
            }
          },
          "description": "Lists each [Google Cloud Platform (GCP) `Project`]\n(https://cloud.google.com/resource-manager/reference/rest/v1/projects)\nthat can have Firebase resources added to it.\n\nA Project will only be listed if:\n\u003cul\u003e\n\u003cli\u003eThe caller has sufficient\n  [Google IAM](https://cloud.google.com/iam) permissions to call\n  AddFirebase.\n\u003c/li\u003e\n\u003cli\u003eThe Project is not already a FirebaseProject.\n\u003c/li\u003e\n\u003cli\u003eThe Project is not in an Organization which has policies\n  that prevent Firebase resources from being added.\n\u003c/li\u003e\n\u003c/ul\u003e",
          "httpMethod": "GET"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "basePath": "",
  "batchPath": "batch",
  "schemas": {
    "ListFirebaseProjectsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token\nis returned. If the string is empty, then this response is the last page of\nresults.\n\nThis token can be used in a subsequent calls to `ListFirebaseProjects`\nto find the next group of Projects.\n\nPage tokens are short-lived and should not be persisted."
        },
        "results": {
          "type": "array",
          "description": "One page of the list of Projects that are accessible to the caller.",
          "items": {
            "$ref": "FirebaseProject"
          }
        }
      },
      "id": "ListFirebaseProjectsResponse"
    },
    "AndroidApp": {
      "type": "object",
      "description": "Details of a Firebase App for Android.",
      "id": "AndroidApp",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Immutable. The canonical package name of the Android app as would appear in\nthe Google Play Developer Console."
        },
        "name": {
          "description": "The resource name of the AndroidApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n* \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the parent Project's\n  [`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n  ***(recommended)***\n  or its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n  Learn more about using project identifiers in\n  Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n  \u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\n  response body will be the `ProjectId`.\n* \u003cvar\u003eAPP_ID\u003c/var\u003e: the globally unique, Firebase-assigned identifier\n  for the App\n  (see [`appId`](../projects.androidApps#AndroidApp.FIELDS.app_id)).",
          "type": "string"
        },
        "appId": {
          "description": "Immutable. The globally unique, Firebase-assigned identifier for the\n`AndroidApp`.\n\nThis identifier should be treated as an opaque token, as the data\nformat is not specified.",
          "type": "string"
        },
        "projectId": {
          "description": "Immutable. A user-assigned unique identifier of the parent\nFirebaseProject for the `AndroidApp`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user-assigned display name for the `AndroidApp`."
        }
      }
    },
    "SearchFirebaseAppsResponse": {
      "id": "SearchFirebaseAppsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token\nis returned.\n\nThis token can be used in a subsequent calls to `SearchFirebaseApps`\nto find the next group of Apps.\n\nPage tokens are short-lived and should not be persisted."
        },
        "apps": {
          "type": "array",
          "description": "One page of results from a call to `SearchFirebaseApps`.",
          "items": {
            "$ref": "FirebaseAppInfo"
          }
        }
      },
      "type": "object"
    },
    "FirebaseProject": {
      "type": "object",
      "id": "FirebaseProject",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the Project, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\n\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the Project's\n[`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n***(recommended)***\nor its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n\u003cbr\u003eLearn more about using project identifiers in\nGoogle's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n\u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\nresponse body will be the `ProjectId`."
        },
        "resources": {
          "description": "The default Firebase resources associated with the Project.",
          "$ref": "DefaultResources"
        },
        "projectNumber": {
          "description": "Immutable. The globally unique, Google-assigned canonical identifier for\nthe Project.\nUse this identifier when configuring integrations and/or\nmaking API calls to Firebase or third-party services.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "The user-assigned display name of the Project.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Immutable. A user-assigned unique identifier for the Project.\n\nThis identifier may appear in URLs or names for some Firebase resources\nassociated with the Project, but it should generally be treated as a\nconvenience alias to reference the Project."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The normal and active state.",
            "The Project has been marked for deletion by the user."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The lifecycle state of the Project.\nUpdates to the state must be performed via\ncom.google.cloudresourcemanager.v1.Projects.DeleteProject and\ncom.google.cloudresourcemanager.v1.Projects.UndeleteProject",
          "type": "string"
        }
      },
      "description": "A `FirebaseProject` is the top-level Firebase entity. It is the container for\nFirebase Apps, Firebase Hosting sites, storage systems (Firebase Realtime\nDatabase, Cloud Firestore, Cloud Storage buckets), and other Firebase and\nGoogle Cloud Platform (GCP) resources.\n\nYou create a `FirebaseProject` by calling\nAddFirebase\nand specifying an *existing*\n[GCP\n`Project`](https://cloud.google.com/resource-manager/reference/rest/v1/projects).\nThis adds Firebase resources to the existing GCP `Project`.\n\nSince a FirebaseProject is actually also a GCP `Project`, a\n`FirebaseProject` has the same underlying GCP identifiers (`projectNumber`\nand `projectId`). This allows for easy interop with Google APIs."
    },
    "ListAvailableProjectsResponse": {
      "id": "ListAvailableProjectsResponse",
      "type": "object",
      "properties": {
        "projectInfo": {
          "description": "The list of GCP `Projects` which can have Firebase resources added to them.",
          "items": {
            "$ref": "ProjectInfo"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token\nis returned. If the string is empty, then this response is the last page of\nresults.\n\nThis token can be used in a subsequent calls to `ListAvailableProjects`\nto find the next group of Projects.\n\nPage tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      }
    },
    "TypedMessage": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Message bytes.",
          "format": "byte"
        },
        "typeId": {
          "type": "integer",
          "format": "int32",
          "description": "Identifier for the type."
        }
      },
      "description": "Message that groups a protocol type_id (as defined by MessageSet),\nwith an encoded message of that type.  Its use is similar to\nMessageSet, except it represents a single (type, encoded message)\ninstead of a set.\n\nTo embed \"proto\" inside \"typed_msg\":\n  MyProtoMessage proto;\n  TypedMessage typed_msg;\n  typed_msg.set_type_id(proto2::bridge::GetTypeId(proto));\n  proto.AppendToCord(typed_msg.mutable_message());\n\nError handling is omitted from the sample code above. GetTypeId() will return\n0 for messages that don't have a TypeId specified.",
      "id": "TypedMessage"
    },
    "ShaCertificate": {
      "description": "A SHA-1 or SHA-256 certificate associated with the AndroidApp.",
      "properties": {
        "shaHash": {
          "description": "The certificate hash for the `AndroidApp`.",
          "type": "string"
        },
        "certType": {
          "enum": [
            "SHA_CERTIFICATE_TYPE_UNSPECIFIED",
            "SHA_1",
            "SHA_256"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state.  This is only used for distinguishing unset values.",
            "Certificate is a SHA-1 type certificate.",
            "Certificate is a SHA-256 type certificate."
          ],
          "description": "The type of SHA certificate encoded in the hash."
        },
        "name": {
          "description": "The resource name of the ShaCertificate for the AndroidApp,\nin the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e/sha/\u003cvar\u003eSHA_HASH\u003c/var\u003e\u003c/code\u003e\n* \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the parent Project's\n  [`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n  ***(recommended)***\n  or its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n  Learn more about using project identifiers in\n  Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n  \u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\n  response body will be the `ProjectId`.\n* \u003cvar\u003eAPP_ID\u003c/var\u003e: the globally unique, Firebase-assigned identifier\n  for the App\n  (see [`appId`](../projects.androidApps#AndroidApp.FIELDS.app_id)).\n* \u003cvar\u003eSHA_HASH\u003c/var\u003e: the certificate hash for the App (see\n  [`shaHash`](../projects.androidApps.sha#ShaCertificate.FIELDS.sha_hash)).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ShaCertificate"
    },
    "AndroidAppConfig": {
      "id": "AndroidAppConfig",
      "description": "Configuration metadata of a single Firebase App for Android.",
      "type": "object",
      "properties": {
        "configFileContents": {
          "format": "byte",
          "type": "string",
          "description": "The contents of the JSON configuration file."
        },
        "configFilename": {
          "type": "string",
          "description": "The filename that the configuration artifact for the `AndroidApp` is\ntypically saved as.\n\u003cbr\u003eFor example: `google-services.json`"
        }
      }
    },
    "Location": {
      "description": "A GCP resource location that can be selected for a FirebaseProject.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Used internally for distinguishing unset values and is not intended for\nexternal use.",
            "The location is a regional location.\n\nData in a regional location is replicated in multiple zones within a\nregion.",
            "The location is a multi-regional location.\n\nData in a multi-region location is replicated in multiple regions.\nWithin each region, data is replicated in multiple zones."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "description": "Indicates whether the GCP resource location is a [regional or\nmulti-regional\nlocation](https://firebase.google.com/docs/projects/locations#types)\nfor data replication.",
          "type": "string"
        },
        "features": {
          "enumDescriptions": [
            "Used internally for distinguishing unset values and is not intended for\nexternal use.",
            "This location supports Cloud Firestore database instances.\n\nApp Engine is available in this location, so it can be a Project's\n[default GCP resource\nlocation](//firebase.google.com/docs/projects/locations#default-cloud-location).",
            "This location supports default Cloud Storage buckets.\n\nApp Engine is available in this location, so it can be a Project's\n[default GCP resource\nlocation](//firebase.google.com/docs/projects/locations#default-cloud-location).",
            "Cloud Functions for Firebase is available in this location."
          ],
          "items": {
            "enum": [
              "LOCATION_FEATURE_UNSPECIFIED",
              "FIRESTORE",
              "DEFAULT_STORAGE",
              "FUNCTIONS"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Products and services that are available in the GCP resource location."
        },
        "locationId": {
          "type": "string",
          "description": "The ID of the GCP resource location. It will be one of the available [GCP\nresource\nlocations](https://firebase.google.com/docs/projects/locations#types)."
        }
      },
      "id": "Location"
    },
    "MessageSet": {
      "description": "This is proto2's version of MessageSet.",
      "type": "object",
      "id": "MessageSet",
      "properties": {}
    },
    "WebAppConfig": {
      "properties": {
        "messagingSenderId": {
          "type": "string",
          "description": "The sender ID for use with Firebase Cloud Messaging."
        },
        "apiKey": {
          "description": "The API key associated with the `WebApp`.",
          "type": "string"
        },
        "authDomain": {
          "type": "string",
          "description": "The domain Firebase Auth configures for OAuth redirects, in the format:\n\u003ccode\u003e\u003cvar\u003ePROJECT_ID\u003c/var\u003e.firebaseapp.com\u003c/code\u003e"
        },
        "projectId": {
          "description": "Immutable. A user-assigned unique identifier for the `FirebaseProject`.",
          "type": "string"
        },
        "databaseURL": {
          "description": "The default Firebase Realtime Database URL.",
          "type": "string"
        },
        "measurementId": {
          "type": "string",
          "description": "This field will no longer be provided here. Instead, use\n`GetAnalyticsDetails`"
        },
        "appId": {
          "type": "string",
          "description": "Immutable. The globally unique, Firebase-assigned identifier for the\n`WebApp`."
        },
        "locationId": {
          "type": "string",
          "description": "The ID of the Project's default GCP resource location. The location is one\nof the available\n[GCP resource\nlocations](https://firebase.google.com/docs/projects/locations).\n\nThis field is omitted if the default GCP resource location has not been\nfinalized yet. To set a Project's default GCP resource location,\ncall [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize)\nafter you add Firebase resources to the Project."
        },
        "storageBucket": {
          "type": "string",
          "description": "The default Cloud Storage for Firebase storage bucket name."
        }
      },
      "description": "Configuration metadata of a single Firebase App for the web.",
      "type": "object",
      "id": "WebAppConfig"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "AdminSdkConfig": {
      "type": "object",
      "id": "AdminSdkConfig",
      "properties": {
        "storageBucket": {
          "description": "The default Cloud Storage for Firebase storage bucket name.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Immutable. A user-assigned unique identifier for the `FirebaseProject`.\nThis identifier may appear in URLs or names for some Firebase resources\nassociated with the Project, but it should generally be treated as a\nconvenience alias to reference the Project."
        },
        "locationId": {
          "type": "string",
          "description": "The ID of the Project's default GCP resource location. The location is one\nof the available\n[GCP resource\nlocations](https://firebase.google.com/docs/projects/locations).\n\nThis field is omitted if the default GCP resource location has not been\nfinalized yet. To set a Project's default GCP resource location,\ncall [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize)\nafter you add Firebase resources to the Project."
        },
        "databaseURL": {
          "description": "The default Firebase Realtime Database URL.",
          "type": "string"
        }
      }
    },
    "FirebaseAppInfo": {
      "description": "A high-level summary of an App.",
      "id": "FirebaseAppInfo",
      "type": "object",
      "properties": {
        "platform": {
          "description": "The platform of the Firebase App.",
          "enumDescriptions": [
            "Unknown state. This is only used for distinguishing unset values.",
            "The Firebase App is associated with iOS.",
            "The Firebase App is associated with Android.",
            "The Firebase App is associated with web."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "IOS",
            "ANDROID",
            "WEB"
          ]
        },
        "appId": {
          "type": "string",
          "description": "Immutable. The globally unique, Firebase-assigned identifier for the\n`WebApp`.\n\nThis identifier should be treated as an opaque token, as the data\nformat is not specified."
        },
        "displayName": {
          "description": "The user-assigned display name of the Firebase App.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the Firebase App, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_ID\u003c/var\u003e/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\nor\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_ID\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\nor\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_ID\u003c/var\u003e/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e",
          "type": "string"
        }
      }
    },
    "AddGoogleAnalyticsRequest": {
      "id": "AddGoogleAnalyticsRequest",
      "type": "object",
      "properties": {
        "analyticsPropertyId": {
          "type": "string",
          "description": "The ID for the existing Google Analytics property that you want to\nassociate with the `FirebaseProject`."
        },
        "analyticsAccountId": {
          "description": "The ID for the existing\n[Google Analytics account](http://www.google.com/analytics/) that you\nwant to link with the `FirebaseProject`.\n\nSpecifying this field will provision a new Google Analytics\nproperty in your Google Analytics account and associate the new property\nwith the `FirebaseProject`.",
          "type": "string"
        }
      }
    },
    "StatusProto": {
      "id": "StatusProto",
      "properties": {
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the\ncanonical error space, and code is drawn from google3/util/task/codes.proto",
          "format": "int32",
          "type": "integer"
        },
        "payload": {
          "description": "DEPRECATED.\n\nThis field was deprecated in 2011 with cl/20297133.  Java support\nfor the field was moved to a proto1 backward compatibility class\nin April 2017 with cl/142615857 and cl/154123203.  There was\nnever support for this field in Go; if set Go will ignore it.\nC++ stopped setting StatusProto::payload in October 2015 with cl/106347055,\nand stopped reading the field in October 2017 with cl/173324114.\n\nIn general, newly written code should use only \"message_set\". If you need\nto maintain backward compatibility with code written before 3/25/2011, do\nthe following:\n\n- During the transition period, either (1) set both \"payload\" and\n  \"message_set\", or (2) write the consumer of StatusProto so that it can\n  forge a MessageSet object from \"payload\" if \"message_set\" is missing.\n  The C++ util::Status implementation does (2).\n\n- Once all the consumers are converted to accept \"message_set\", then\n  remove the use of \"payload\" on the producer side.",
          "$ref": "TypedMessage"
        },
        "message": {
          "type": "string",
          "description": "Detail message"
        },
        "messageSet": {
          "$ref": "MessageSet",
          "description": "message_set associates an arbitrary proto message with the status."
        },
        "canonicalCode": {
          "description": "The canonical error code (see codes.proto) that most closely\ncorresponds to this status. May be missing.",
          "format": "int32",
          "type": "integer"
        },
        "space": {
          "type": "string",
          "description": "The following are usually only present when code != 0\nSpace to which this status belongs"
        }
      },
      "type": "object",
      "description": "Wire-format for a Status object"
    },
    "StreamMapping": {
      "properties": {
        "measurementId": {
          "description": "Applicable for Firebase Web Apps only.\n\nThe unique Google-assigned identifier of the Google Analytics web\nstream associated with the Firebase Web App. Firebase SDKs use this ID to\ninteract with Google Analytics APIs.\n\nLearn more about this ID and Google Analytics web streams in the\n[Analytics\ndocumentation](https://support.google.com/analytics/topic/9303475).",
          "type": "string"
        },
        "app": {
          "type": "string",
          "description": "The resource name of the Firebase App associated with the\nGoogle Analytics data stream, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/androidApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\nor\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\nor\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/webApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values."
        },
        "streamId": {
          "description": "The unique Google-assigned identifier of the Google Analytics data stream\nassociated with the Firebase App.\n\nLearn more about Google Analytics data streams in the\n[Analytics\ndocumentation](https://support.google.com/analytics/answer/9303323).",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "StreamMapping",
      "description": "A mapping of a Firebase App to a Google Analytics data stream"
    },
    "FinalizeDefaultLocationRequest": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The ID of the Project's default GCP resource location. The location must be\none of the available [GCP resource\nlocations](https://firebase.google.com/docs/projects/locations)."
        }
      },
      "id": "FinalizeDefaultLocationRequest",
      "type": "object"
    },
    "ListShaCertificatesResponse": {
      "id": "ListShaCertificatesResponse",
      "type": "object",
      "properties": {
        "certificates": {
          "description": "The list of each `ShaCertificate` associated with the `AndroidApp`.",
          "type": "array",
          "items": {
            "$ref": "ShaCertificate"
          }
        }
      }
    },
    "ListWebAppsResponse": {
      "id": "ListWebAppsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token\nis returned. If the string is empty, then this response is the last page of\nresults.\n\nThis token can be used in a subsequent call to `ListWebApps` to find\nthe next group of Apps.\n\nPage tokens are short-lived and should not be persisted."
        },
        "apps": {
          "items": {
            "$ref": "WebApp"
          },
          "type": "array",
          "description": "List of each `WebApp` associated with the specified `FirebaseProject`."
        }
      }
    },
    "ListAvailableLocationsResponse": {
      "type": "object",
      "id": "ListAvailableLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token\nis returned. If the string is empty, then this response is the last page of\nresults and all available locations have been listed.\n\nThis token can be used in a subsequent call to\n`ListAvailableLocations` to find more locations.\n\nPage tokens are short-lived and should not be persisted."
        },
        "locations": {
          "type": "array",
          "description": "One page of results from a call to `ListAvailableLocations`.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ProjectInfo": {
      "description": "A reference to a Google Cloud Platform (GCP) `Project`.",
      "properties": {
        "project": {
          "description": "The resource name of the GCP `Project` to which Firebase resources can be\nadded, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e\u003c/code\u003e\nRefer to the `FirebaseProject`\n[`name`](../projects#FirebaseProject.FIELDS.name) field for details\nabout \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e values.",
          "type": "string"
        },
        "displayName": {
          "description": "The user-assigned display name of the GCP `Project`, for example: `My App`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The ID of the Project's default GCP resource location. The location is one\nof the available\n[GCP resource\nlocations](https://firebase.google.com/docs/projects/locations).\n\nNot all Projects will have this field populated. If it is not populated, it\nmeans that the Project does not yet have a default GCP resource location.\nTo set a Project's default GCP resource location, call\n[`FinalizeDefaultLocation`](../projects.defaultLocation/finalize) after you\nadd Firebase resources to the Project."
        }
      },
      "type": "object",
      "id": "ProjectInfo"
    },
    "AnalyticsDetails": {
      "id": "AnalyticsDetails",
      "properties": {
        "streamMappings": {
          "description": "\u003cul\u003e\n\u003cli\u003eFor `AndroidApps` and `IosApps`: a map of `app` to `streamId` for each\n  Firebase App in the specified `FirebaseProject`. Each `app` and\n  `streamId` appears only once.\n\u003cli\u003eFor `WebApps`: a map of `app` to `streamId` and `measurementId` for\n  each `WebApp` in the specified `FirebaseProject`. Each `app`, `streamId`,\n  and `measurementId` appears only once.",
          "type": "array",
          "items": {
            "$ref": "StreamMapping"
          }
        },
        "analyticsProperty": {
          "$ref": "AnalyticsProperty",
          "description": "The Analytics Property object associated with the specified\n`FirebaseProject`.\n\nThis object contains the details of the Google Analytics property\nassociated with the Project."
        }
      },
      "type": "object"
    },
    "ListIosAppsResponse": {
      "type": "object",
      "id": "ListIosAppsResponse",
      "properties": {
        "apps": {
          "type": "array",
          "description": "List of each `IosApp` associated with the specified `FirebaseProject`.",
          "items": {
            "$ref": "IosApp"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token\nis returned. If the string is empty, then this response is the last page of\nresults.\n\nThis token can be used in a subsequent call to `ListIosApps` to find\nthe next group of Apps.\n\nPage tokens are short-lived and should not be persisted."
        }
      }
    },
    "IosApp": {
      "type": "object",
      "id": "IosApp",
      "description": "Details of a Firebase App for iOS.",
      "properties": {
        "projectId": {
          "description": "Immutable. A user-assigned unique identifier of the parent\nFirebaseProject for the `IosApp`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user-assigned display name for the `IosApp`."
        },
        "name": {
          "description": "The resource name of the IosApp, in the format:\n\u003ccode\u003eprojects/\u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e/iosApps/\u003cvar\u003eAPP_ID\u003c/var\u003e\u003c/code\u003e\n* \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e: the parent Project's\n  [`ProjectNumber`](../projects#FirebaseProject.FIELDS.project_number)\n  ***(recommended)***\n  or its [`ProjectId`](../projects#FirebaseProject.FIELDS.project_id).\n  Learn more about using project identifiers in\n  Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).\n  \u003cbr\u003eNote that the value for \u003cvar\u003ePROJECT_IDENTIFIER\u003c/var\u003e in any\n  response body will be the `ProjectId`.\n* \u003cvar\u003eAPP_ID\u003c/var\u003e: the globally unique, Firebase-assigned identifier\n  for the App (see [`appId`](../projects.iosApps#IosApp.FIELDS.app_id)).",
          "type": "string"
        },
        "appStoreId": {
          "description": "The automatically generated Apple ID assigned to the iOS app by Apple in\nthe iOS App Store.",
          "type": "string"
        },
        "appId": {
[...]
