{
  "ownerName": "Google",
  "description": "Manage your product listings and accounts for Google Shopping",
  "discoveryVersion": "v1",
  "name": "content",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "resources": {
    "pos": {
      "methods": {
        "sale": {
          "parameters": {
            "targetMerchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path"
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "description": "Submit a sale event for the given merchant.",
          "httpMethod": "POST",
          "id": "content.pos.sale",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/sale",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/sale",
          "request": {
            "$ref": "PosSaleRequest"
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ]
        },
        "get": {
          "description": "Retrieves information about the given store.",
          "response": {
            "$ref": "PosStore"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "targetMerchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path"
            },
            "storeCode": {
              "location": "path",
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "required": true
            }
          },
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.get",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ]
        },
        "list": {
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Lists the stores of the target merchant.",
          "response": {
            "$ref": "PosListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.list",
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store"
        },
        "insert": {
          "request": {
            "$ref": "PosStore"
          },
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.insert",
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "description": "Creates a store for the given merchant.",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosStore"
          }
        },
        "custombatch": {
          "description": "Batches multiple POS-related calls in a single request.",
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "id": "content.pos.custombatch",
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "httpMethod": "POST",
          "path": "content/v2/pos/batch",
          "parameterOrder": [],
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "flatPath": "content/v2/pos/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a store for the given merchant.",
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "httpMethod": "DELETE",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            },
            "storeCode": {
              "required": true,
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "type": "string"
            },
            "targetMerchantId": {
              "location": "path",
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.pos.delete"
        },
        "inventory": {
          "id": "content.pos.inventory",
          "httpMethod": "POST",
          "description": "Submit inventory for the given merchant.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            }
          },
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "request": {
            "$ref": "PosInventoryRequest"
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "id": "content.accountstatuses.list",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/accountstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2/{merchantId}/accountstatuses",
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET"
        },
        "get": {
          "path": "content/v2/{merchantId}/accountstatuses/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "content/v2/{merchantId}/accountstatuses/{accountId}",
          "httpMethod": "GET",
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "destinations": {
              "type": "string",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AccountStatus"
          },
          "id": "content.accountstatuses.get"
        },
        "custombatch": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/accountstatuses/batch",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "id": "content.accountstatuses.custombatch",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "content/v2/accountstatuses/batch"
        }
      }
    },
    "orderreturns": {
      "methods": {
        "get": {
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "description": "Retrieves an order return from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.orderreturns.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orderreturns/{returnId}",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "flatPath": "content/v2/{merchantId}/orderreturns/{returnId}",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "returnId": {
              "description": "Merchant order return ID generated by Google.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "description": "Lists order returns in your Merchant Center account.",
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "id": "content.orderreturns.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page."
            },
            "orderBy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "description": "Return the results in the specified order.",
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ]
            },
            "createdStartDate": {
              "location": "query",
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "createdEndDate": {
              "type": "string",
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orderreturns",
          "flatPath": "content/v2/{merchantId}/orderreturns"
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "custombatch": {
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "parameterOrder": [],
          "flatPath": "content/v2/shippingsettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "content.shippingsettings.custombatch",
          "path": "content/v2/shippingsettings/batch",
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "httpMethod": "POST"
        },
        "getsupportedpickupservices": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.shippingsettings.getsupportedpickupservices",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported pickup services for an account.",
          "flatPath": "content/v2/{merchantId}/supportedPickupServices",
          "path": "content/v2/{merchantId}/supportedPickupServices",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "path": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ShippingSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "id": "content.shippingsettings.update",
          "flatPath": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            },
            "accountId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings.",
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the shipping settings of the account.",
          "flatPath": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "id": "content.shippingsettings.get",
          "path": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account for which to get/update shipping settings.",
              "location": "path",
              "format": "uint64"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of shipping settings to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            }
          },
          "flatPath": "content/v2/{merchantId}/shippingsettings",
          "path": "content/v2/{merchantId}/shippingsettings",
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "id": "content.shippingsettings.list"
        },
        "getsupportedcarriers": {
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "location": "path",
              "required": true,
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/supportedCarriers",
          "flatPath": "content/v2/{merchantId}/supportedCarriers",
          "description": "Retrieves supported carriers and carrier services for an account.",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.shippingsettings.getsupportedcarriers"
        },
        "getsupportedholidays": {
          "path": "content/v2/{merchantId}/supportedHolidays",
          "flatPath": "content/v2/{merchantId}/supportedHolidays",
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedholidays",
          "description": "Retrieves supported holidays for an account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "liasettings": {
      "methods": {
        "list": {
          "flatPath": "content/v2/{merchantId}/liasettings",
          "path": "content/v2/{merchantId}/liasettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "id": "content.liasettings.list"
        },
        "setposdataprovider": {
          "description": "Sets the POS data provider for the specified country.",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "httpMethod": "POST",
          "id": "content.liasettings.setposdataprovider",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          },
          "parameters": {
            "posDataProviderId": {
              "type": "string",
              "description": "The ID of POS data provider.",
              "location": "query",
              "format": "uint64"
            },
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "country": {
              "location": "query",
              "required": true,
              "description": "The country for which the POS data provider is selected.",
              "type": "string"
            },
            "posExternalAccountId": {
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "path": "content/v2/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "id": "content.liasettings.custombatch",
          "flatPath": "content/v2/liasettings/batch",
          "httpMethod": "POST",
          "path": "content/v2/liasettings/batch",
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getaccessiblegmbaccounts": {
          "description": "Retrieves the list of accessible Google My Business accounts.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "update": {
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "request": {
            "$ref": "LiaSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.liasettings.update",
          "response": {
            "$ref": "LiaSettings"
          },
          "httpMethod": "PUT",
          "path": "content/v2/{merchantId}/liasettings/{accountId}",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setinventoryverificationcontact": {
          "parameters": {
            "contactName": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The name of the inventory verification contact."
            },
            "country": {
              "type": "string",
              "description": "The country for which inventory verification is requested.",
              "location": "query",
              "required": true
            },
            "contactEmail": {
              "required": true,
              "description": "The email of the inventory verification contact.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "description": "The language for which inventory verification is requested.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "path": "content/v2/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "id": "content.liasettings.setinventoryverificationcontact",
          "description": "Sets the inventory verification contract for the specified country.",
          "httpMethod": "POST",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestinventoryverification": {
          "id": "content.liasettings.requestinventoryverification",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "path": "content/v2/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "description": "Requests inventory validation for the specified country.",
          "parameters": {
            "country": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The country for which inventory validation is requested."
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}"
        },
        "get": {
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}",
          "response": {
            "$ref": "LiaSettings"
          },
          "description": "Retrieves the LIA settings of the account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2/{merchantId}/liasettings/{accountId}",
          "id": "content.liasettings.get",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path"
            },
            "accountId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to get or update LIA settings.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listposdataproviders": {
          "id": "content.liasettings.listposdataproviders",
          "flatPath": "content/v2/liasettings/posdataproviders",
          "httpMethod": "GET",
          "path": "content/v2/liasettings/posdataproviders",
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          }
        },
        "requestgmbaccess": {
          "parameters": {
            "gmbEmail": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The email of the Google My Business account."
            },
            "accountId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account for which GMB access is requested.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "id": "content.liasettings.requestgmbaccess",
          "description": "Requests access to a specified Google My Business account.",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/requestgmbaccess"
        }
      }
    },
    "datafeeds": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "Datafeed"
          },
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "request": {
            "$ref": "Datafeed"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "content.datafeeds.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "fetchnow": {
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the datafeed to be fetched.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the Products service to update your product data.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "id": "content.datafeeds.fetchnow"
        },
        "delete": {
          "parameters": {
            "datafeedId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the datafeed."
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeeds.delete",
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "DELETE"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "datafeedId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "location": "path",
              "required": true
            }
          },
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.get",
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Datafeed"
          },
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}"
        },
        "insert": {
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/datafeeds",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "Datafeed"
          },
          "httpMethod": "POST",
          "id": "content.datafeeds.insert",
          "request": {
            "$ref": "Datafeed"
          },
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/datafeeds"
        },
        "list": {
          "id": "content.datafeeds.list",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/datafeeds",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/datafeeds",
          "httpMethod": "GET",
          "response": {
            "$ref": "DatafeedsListResponse"
          }
        },
        "custombatch": {
          "path": "content/v2/datafeeds/batch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "content.datafeeds.custombatch",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "flatPath": "content/v2/datafeeds/batch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          }
        }
      }
    },
    "orderreports": {
      "methods": {
        "listdisbursements": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "id": "content.orderreports.listdisbursements",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "disbursementEndDate": {
              "type": "string",
              "location": "query",
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date."
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "flatPath": "content/v2/{merchantId}/orderreports/disbursements",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "path": "content/v2/{merchantId}/orderreports/disbursements"
        },
        "listtransactions": {
          "path": "content/v2/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreports.listtransactions",
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ],
          "parameters": {
            "disbursementId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The Google-provided ID of the disbursement (found in Wallet)."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "transactionEndDate": {
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "transactionStartDate": {
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account."
        }
      }
    },
    "inventory": {
      "methods": {
        "custombatch": {
          "path": "content/v2/inventory/batch",
          "response": {
            "$ref": "InventoryCustomBatchResponse"
          },
          "description": "Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "InventoryCustomBatchRequest"
          },
          "flatPath": "content/v2/inventory/batch",
          "parameterOrder": [],
          "id": "content.inventory.custombatch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "httpMethod": "POST"
        },
        "set": {
          "parameterOrder": [
            "merchantId",
            "storeCode",
            "productId"
          ],
          "httpMethod": "POST",
          "description": "Updates price and availability of a product in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "InventorySetResponse"
          },
          "flatPath": "content/v2/{merchantId}/inventory/{storeCode}/products/{productId}",
          "path": "content/v2/{merchantId}/inventory/{storeCode}/products/{productId}",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "storeCode": {
              "location": "path",
              "description": "The code of the store for which to update price and availability. Use `online` to update price and availability of an online product.",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The REST ID of the product for which to update price and availability.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string"
            }
          },
          "id": "content.inventory.set",
          "request": {
            "$ref": "InventorySetRequest"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "claimwebsite": {
          "httpMethod": "POST",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}/claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Claims the website of a Merchant Center sub-account.",
          "id": "content.accounts.claimwebsite",
          "path": "content/v2/{merchantId}/accounts/{accountId}/claimwebsite",
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the account whose website is claimed.",
              "format": "uint64"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "required": true
            },
            "overwrite": {
              "type": "boolean",
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "location": "query"
            }
          }
        },
        "insert": {
          "flatPath": "content/v2/{merchantId}/accounts",
          "httpMethod": "POST",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account."
            }
          },
          "response": {
            "$ref": "Account"
          },
          "id": "content.accounts.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a Merchant Center sub-account.",
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2/{merchantId}/accounts"
        },
        "link": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "type": "string",
              "description": "The ID of the account that should be linked.",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "path": "content/v2/{merchantId}/accounts/{accountId}/link",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "id": "content.accounts.link"
        },
        "custombatch": {
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "content/v2/accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "content/v2/accounts/batch",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "id": "content.accounts.custombatch"
        },
        "authinfo": {
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "httpMethod": "GET",
          "id": "content.accounts.authinfo",
          "description": "Returns information about the authenticated user.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/accounts/authinfo",
          "parameterOrder": [],
          "path": "content/v2/accounts/authinfo"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "content/v2/{merchantId}/accounts",
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          },
          "id": "content.accounts.list",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2/{merchantId}/accounts"
        },
        "update": {
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "PUT",
          "id": "content.accounts.update",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "response": {
            "$ref": "Account"
          },
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}",
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a Merchant Center account.",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.accounts.get"
        },
        "delete": {
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "id": "content.accounts.delete",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account."
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "force": {
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a Merchant Center sub-account."
        }
      }
    },
    "accounttax": {
      "methods": {
        "list": {
          "flatPath": "content/v2/{merchantId}/accounttax",
          "path": "content/v2/{merchantId}/accounttax",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounttax.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account."
        },
        "custombatch": {
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "flatPath": "content/v2/accounttax/batch",
          "id": "content.accounttax.custombatch",
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "path": "content/v2/accounttax/batch",
          "parameters": {
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves and updates tax settings of multiple accounts in a single request."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.get",
          "flatPath": "content/v2/{merchantId}/accounttax/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the tax settings of the account.",
          "parameters": {
            "accountId": {
              "required": true,
              "description": "The ID of the account for which to get/update account tax settings.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "path": "content/v2/{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "path": "content/v2/{merchantId}/accounttax/{accountId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/accounttax/{accountId}",
          "id": "content.accounttax.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "AccountTax"
          }
        }
      }
    },
    "productstatuses": {
      "methods": {
        "custombatch": {
          "flatPath": "content/v2/productstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productstatuses.custombatch",
          "description": "Gets the statuses of multiple products in a single request.",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "parameters": {
            "includeAttributes": {
              "description": "Flag to include full product data in the results of this request. The default value is false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "parameterOrder": [],
          "path": "content/v2/productstatuses/batch"
        },
        "list": {
          "flatPath": "content/v2/{merchantId}/productstatuses",
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "includeInvalidInsertedItems": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false)."
            },
            "includeAttributes": {
              "description": "Flag to include full product data in the results of the list request. The default value is false.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "destinations": {
              "location": "query",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string",
              "format": "uint64"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of product statuses to return in the response, used for paging.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.productstatuses.list",
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/productstatuses"
        },
        "get": {
          "path": "content/v2/{merchantId}/productstatuses/{productId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets the status of a product from your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/productstatuses/{productId}",
          "id": "content.productstatuses.get",
          "parameters": {
            "destinations": {
              "repeated": true,
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string"
            },
            "includeAttributes": {
              "location": "query",
              "description": "Flag to include full product data in the result of this get request. The default value is false.",
              "type": "boolean"
            },
            "productId": {
              "type": "string",
              "location": "path",
              "description": "The REST ID of the product.",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ProductStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeedstatuses.custombatch",
          "flatPath": "content/v2/datafeedstatuses/batch",
          "parameters": {},
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "path": "content/v2/datafeedstatuses/batch",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          }
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/datafeedstatuses",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging."
            }
          },
          "id": "content.datafeedstatuses.list",
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2/{merchantId}/datafeedstatuses"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "id": "content.datafeedstatuses.get",
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "country": {
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "language": {
              "type": "string",
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/datafeedstatuses/{datafeedId}"
        }
      }
    },
    "products": {
      "methods": {
        "get": {
          "id": "content.products.get",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "content/v2/{merchantId}/products/{productId}",
          "httpMethod": "GET",
          "description": "Retrieves a product from your Merchant Center account.",
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product."
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/products/{productId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductsListResponse"
          },
          "id": "content.products.list",
          "path": "content/v2/{merchantId}/products",
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "flatPath": "content/v2/{merchantId}/products",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query"
            },
            "includeInvalidInsertedItems": {
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "id": "content.products.delete",
          "path": "content/v2/{merchantId}/products/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "content/v2/{merchantId}/products/{productId}",
          "httpMethod": "DELETE",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "productId": {
              "type": "string",
              "required": true,
              "description": "The REST ID of the product.",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a product from your Merchant Center account."
        },
        "insert": {
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            }
          },
          "id": "content.products.insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/products",
          "path": "content/v2/{merchantId}/products",
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "request": {
            "$ref": "Product"
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "flatPath": "content/v2/products/batch",
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "id": "content.products.custombatch",
          "path": "content/v2/products/batch",
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "parameterOrder": []
        }
      }
    },
    "orders": {
      "methods": {
        "rejectreturnlineitem": {
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "OrdersRejectReturnLineItemResponse"
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "request": {
            "$ref": "OrdersRejectReturnLineItemRequest"
          },
          "description": "Rejects return on an line item.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.rejectreturnlineitem"
        },
        "cancellineitem": {
          "path": "content/v2/{merchantId}/orders/{orderId}/cancelLineItem",
          "id": "content.orders.cancellineitem",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/cancelLineItem",
          "description": "Cancels a line item, making a full refund.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "orderId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the order."
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "get": {
          "id": "content.orders.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2/{merchantId}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "parameters": {
            "orderId": {
              "required": true,
              "description": "The ID of the order.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            }
          },
          "description": "Retrieves an order from your Merchant Center account.",
          "path": "content/v2/{merchantId}/orders/{orderId}"
        },
        "acknowledge": {
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/acknowledge",
          "path": "content/v2/{merchantId}/orders/{orderId}/acknowledge",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.acknowledge",
          "description": "Marks an order as acknowledged.",
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "createtestreturn": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/testreturn",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "orderId": {
              "type": "string",
              "description": "The ID of the order.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.createtestreturn",
          "path": "content/v2/{merchantId}/orders/{orderId}/testreturn",
          "description": "Sandbox only. Creates a test return.",
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          }
        },
        "canceltestorderbycustomer": {
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the test order to cancel.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "content.orders.canceltestorderbycustomer",
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "flatPath": "content/v2/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "returnrefundlineitem": {
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          },
          "id": "content.orders.returnrefundlineitem",
          "path": "content/v2/{merchantId}/orders/{orderId}/returnRefundLineItem",
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders. Please also note that the Orderreturns API is the preferred way to handle returns after you receive a return from a customer. You can use Orderreturns.list or Orderreturns.get to search for the return, and then use Orderreturns.processreturn to issue the refund. If the return cannot be found, then we recommend using this API to issue a refund.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/returnRefundLineItem",
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the order.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "returnlineitem": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrdersReturnLineItemRequest"
          },
          "response": {
            "$ref": "OrdersReturnLineItemResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.returnlineitem",
          "parameters": {
            "orderId": {
              "type": "string",
              "description": "The ID of the order.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            }
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/returnLineItem",
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/orders/{orderId}/returnLineItem",
          "description": "Returns a line item."
        },
        "getbymerchantorderid": {
          "path": "content/v2/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string"
            },
            "merchantOrderId": {
              "description": "The merchant order ID to be looked for.",
[...]
