{
  "batchPath": "batch/androidpublisher/v3",
  "rootUrl": "https://www.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "ProductPurchase": {
      "properties": {
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the\nuser's profile in your app. Only present if specified using\nhttps://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid\nwhen the purchase was made."
        },
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are:\n0. Yet to be consumed\n1. Consumed",
          "type": "integer",
          "format": "int32"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the\nuser's account in your app. Only present if specified using\nhttps://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid\nwhen the purchase was made.",
          "type": "string"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase."
        },
        "productId": {
          "type": "string",
          "description": "The inapp product SKU."
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "purchaseType": {
          "type": "integer",
          "description": "The type of purchase of the inapp product. This field is only set if\nthis purchase was not made using the standard in-app billing flow.\nPossible values are:\n0. Test (i.e. purchased from a license testing account)\n1. Promo (i.e. purchased using a promo code)\n2. Rewarded (i.e. from watching a video ad instead of paying)",
          "format": "int32"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental\ninformation about an order.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher\nservice.",
          "type": "string"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are:\n0. Yet to be acknowledged\n1. Acknowledged",
          "type": "integer",
          "format": "int32"
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product.",
          "type": "integer",
          "format": "int32"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are:\n0. Purchased\n1. Canceled\n2. Pending",
          "format": "int32",
          "type": "integer"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time the product was purchased, in milliseconds since the\nepoch (Jan 1, 1970)."
        }
      },
      "type": "object",
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp\nproduct purchase."
    },
    "InAppProductListing": {
      "properties": {
        "description": {
          "description": "Description for the store listing.",
          "type": "string"
        },
        "benefits": {
          "type": "array",
          "description": "Localized entitlement benefits for a subscription.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Title for the store listing.",
          "type": "string"
        }
      },
      "description": "Store listing of a single in-app product.",
      "id": "InAppProductListing",
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "description": "Request to create a new externally hosted APK.",
      "id": "ApksAddExternallyHostedRequest",
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      }
    },
    "SubscriptionCancelSurveyResult": {
      "description": "Information provided by the user when they complete the subscription\ncancellation flow (cancellation reason survey).",
      "id": "SubscriptionCancelSurveyResult",
      "type": "object",
      "properties": {
        "userInputCancelReason": {
          "description": "The customized input cancel reason from the user. Only present when\ncancelReason is 0.",
          "type": "string"
        },
        "cancelSurveyReason": {
          "description": "The cancellation reason the user chose in the survey.\nPossible values are:\n0. Other\n1. I don't use this service enough\n2. Technical issues\n3. Cost-related reasons\n4. I found a better app",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Image": {
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "id": {
          "type": "string",
          "description": "A unique id representing this image."
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        }
      },
      "id": "Image",
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService."
    },
    "UsesPermission": {
      "id": "UsesPermission",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the permission requested."
        },
        "maxSdkVersion": {
          "description": "Optionally, the maximum SDK version for which the permission is\nrequired.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A permission used by this APK.",
      "type": "object"
    },
    "BundlesListResponse": {
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "type": "array",
          "description": "All bundles.",
          "items": {
            "$ref": "Bundle"
          }
        }
      },
      "description": "Response listing all bundles.",
      "id": "BundlesListResponse",
      "type": "object"
    },
    "ImagesUploadResponse": {
      "type": "object",
      "description": "Response for uploading an image.",
      "id": "ImagesUploadResponse",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "The uploaded image."
        }
      }
    },
    "InAppProduct": {
      "id": "InAppProduct",
      "type": "object",
      "description": "An in-app product. The resource for InappproductsService.",
      "properties": {
        "prices": {
          "additionalProperties": {
            "$ref": "Price"
          },
          "type": "object",
          "description": "Prices per buyer region. None of these can be zero, as in-app products are\nnever free. Map key is region code, as defined by ISO 3166-2."
        },
        "trialPeriod": {
          "type": "string",
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything\nbetween P7D (seven days) and P999D (999 days)."
        },
        "sku": {
          "type": "string",
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "description": "The status of the product, e.g. whether it's active.",
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "type": "string"
        },
        "purchaseType": {
          "type": "string",
          "description": "The type of the product, e.g. a recurring subscription.",
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ],
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ]
        },
        "subscriptionPeriod": {
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are\nP1W (one week), P1M (one month), P3M (three months), P6M (six months),\nand P1Y (one year).",
          "type": "string"
        },
        "gracePeriod": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows\ndevelopers to give their subscribers a grace period when the payment\nfor the new recurrence period is declined.\nAcceptable values are P0D (zero days), P3D (three days), P7D (seven days),\nP14D (14 days), and P30D (30 days).",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the parent app.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\"."
        },
        "listings": {
          "type": "object",
          "description": "List of localized title and description data. Map key is the language of\nthe localized data, as defined by BCP-47, e.g. \"en-US\".",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          }
        },
        "defaultPrice": {
          "description": "Default price. Cannot be zero, as in-app products are never free.\nAlways in the developer's Checkout merchant currency.",
          "$ref": "Price"
        }
      }
    },
    "Comment": {
      "properties": {
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        },
        "userComment": {
          "description": "A comment from a user.",
          "$ref": "UserComment"
        }
      },
      "type": "object",
      "description": "An entry of conversation between user and developer.",
      "id": "Comment"
    },
    "Listing": {
      "id": "Listing",
      "type": "object",
      "description": "A localized store listing. The resource for ListingsService.",
      "properties": {
        "language": {
          "type": "string",
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German)."
        },
        "fullDescription": {
          "type": "string",
          "description": "Full description of the app."
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        },
        "video": {
          "type": "string",
          "description": "URL of a promotional YouTube video for the app."
        },
        "title": {
          "type": "string",
          "description": "Localized title of the app."
        }
      }
    },
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "properties": {
        "binary": {
          "$ref": "ApkBinary",
          "description": "Information about the binary payload of this APK."
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version code of the APK, as specified in the manifest file."
        }
      },
      "type": "object",
      "id": "Apk"
    },
    "SubscriptionDeferralInfo": {
      "id": "SubscriptionDeferralInfo",
      "type": "object",
      "properties": {
        "expectedExpiryTimeMillis": {
          "description": "The expected expiry time for the subscription.  If the current\nexpiry time for the subscription is not the value specified\nhere, the deferral will not occur.",
          "type": "string",
          "format": "int64"
        },
        "desiredExpiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The desired next expiry time to assign to the subscription, in\nmilliseconds since the Epoch. The given time must be later/greater\nthan the current expiry time for the subscription."
        }
      },
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a\nsubscription purchase to a future expiry time."
    },
    "ExternallyHostedApk": {
      "properties": {
        "maximumSdk": {
          "format": "int32",
          "description": "The maximum SDK supported by this APK (optional).",
          "type": "integer"
        },
        "externallyHostedUrl": {
          "type": "string",
          "description": "The URL at which the APK is hosted. This must be an https URL."
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "format": "int64",
          "type": "string"
        },
        "minimumSdk": {
          "type": "integer",
          "description": "The minimum SDK targeted by this APK.",
          "format": "int32"
        },
        "iconBase64": {
          "type": "string",
          "description": "The icon image from the APK, as a base64 encoded byte array."
        },
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of this APK."
        },
        "fileSha256Base64": {
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte\narray.",
          "type": "string"
        },
        "certificateBase64s": {
          "description": "A certificate (or array of certificates if a certificate-chain is used)\nused to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        },
        "fileSha1Base64": {
          "type": "string",
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte\narray."
        },
        "nativeCodes": {
          "description": "The native code environments supported by this APK (optional).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name.",
          "type": "string"
        },
        "usesFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The features required by this APK (optional)."
        },
        "usesPermissions": {
          "items": {
            "$ref": "UsesPermission"
          },
          "description": "The permissions requested by this APK.",
          "type": "array"
        }
      },
      "description": "Defines an APK available for this application that is hosted externally\nand not uploaded to Google Play.\nThis function is only available to organizations using Managed Play whose\napplication is configured to restrict distribution to the organizations.",
      "id": "ExternallyHostedApk",
      "type": "object"
    },
    "SubscriptionPriceChange": {
      "id": "SubscriptionPriceChange",
      "description": "Contains the price change information for a subscription that can be used to\ncontrol the user journey for the price change in the app. This can be in the\nform of seeking confirmation from the user or tailoring the experience for a\nsuccessful conversion.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The current state of the price change. Possible values are:\n0. Outstanding: State for a pending price change waiting for the user to\n    agree. In this state, you can optionally seek confirmation from the\n    user using the In-App API.\n1. Accepted: State for an accepted price change that the subscription\n    will renew with unless it's canceled. The price change takes effect on\n    a future date when the subscription renews. Note that the change might\n    not occur when the subscription is renewed next.",
          "format": "int32",
          "type": "integer"
        },
        "newPrice": {
          "description": "The new price the subscription will renew with if the price change is\naccepted by the user.",
          "$ref": "Price"
        }
      }
    },
    "ProductPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for the product.purchases.acknowledge API.",
      "id": "ProductPurchasesAcknowledgeRequest"
    },
    "DeviceSpec": {
      "description": "The device spec used to generate a system APK.",
      "properties": {
        "supportedLocales": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\"."
        },
        "screenDensity": {
          "format": "uint32",
          "type": "integer",
          "description": "Screen dpi."
        },
        "supportedAbis": {
          "description": "Supported ABI architectures in the order of preference.\nThe values should be the string as reported by the platform, e.g.\n\"armeabi-v7a\", \"x86_64\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DeviceSpec"
    },
    "ListingsListResponse": {
      "id": "ListingsListResponse",
      "type": "object",
      "description": "Response listing all localized listings.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        },
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "type": "array",
          "description": "All localized listings."
        }
      }
    },
    "InappproductsListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\")."
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "inappproduct": {
          "description": "All in-app products.",
          "type": "array",
          "items": {
            "$ref": "InAppProduct"
          }
        }
      },
      "type": "object",
      "id": "InappproductsListResponse",
      "description": "Response listing all in-app products."
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "description": "The result of replying/updating a reply to review.",
          "$ref": "ReviewReplyResult"
        }
      },
      "type": "object",
      "description": "Response on status of replying to a review."
    },
    "TracksListResponse": {
      "description": "Response listing all tracks.",
      "properties": {
        "tracks": {
          "description": "All tracks.",
          "items": {
            "$ref": "Track"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        }
      },
      "id": "TracksListResponse",
      "type": "object"
    },
    "DeveloperComment": {
      "type": "object",
      "description": "Developer entry from conversation between user and developer.",
      "properties": {
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. reply body."
        }
      },
      "id": "DeveloperComment"
    },
    "ApkBinary": {
      "id": "ApkBinary",
      "type": "object",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching\nthe output of the sha256sum command."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the\noutput of the sha1sum command."
        }
      },
      "description": "Represents the binary payload of an APK."
    },
    "Review": {
      "type": "object",
      "description": "An Android app review.",
      "id": "Review",
      "properties": {
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        },
        "reviewId": {
          "type": "string",
          "description": "Unique identifier for this review."
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "A repeated field containing comments for the review."
        }
      }
    },
    "IntroductoryPriceInfo": {
      "type": "object",
      "description": "Contains the introductory price information for a subscription.",
      "properties": {
        "introductoryPriceAmountMicros": {
          "description": "Introductory price of the subscription, not including tax.\nThe currency is the same as price_currency_code. Price is\nexpressed in micro-units, where 1,000,000 micro-units represents one unit\nof the currency. For example, if the subscription price is €1.99,\nprice_amount_micros is 1990000.",
          "type": "string",
          "format": "int64"
        },
        "introductoryPriceCycles": {
          "format": "int32",
          "description": "The number of billing period to offer introductory pricing.",
          "type": "integer"
        },
        "introductoryPricePeriod": {
          "type": "string",
          "description": "Introductory price period, specified in ISO 8601 format.\nCommon values are (but not limited to) \"P1W\" (one\nweek), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months),\nand \"P1Y\" (one year)."
        },
        "introductoryPriceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the introductory subscription price.\nFor example, if the price is specified in British pounds sterling,\nprice_currency_code is \"GBP\"."
        }
      },
      "id": "IntroductoryPriceInfo"
    },
    "Variant": {
      "properties": {
        "variantId": {
          "format": "uint32",
          "type": "integer",
          "description": "Output only. The ID of a previously created system APK variant."
        },
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        }
      },
      "type": "object",
      "id": "Variant",
      "description": "APK that is suitable for inclusion in a system image. The resource of\nSystemApksService."
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "properties": {
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        },
        "contactPhone": {
          "type": "string",
          "description": "The user-visible support telephone number for this app."
        },
        "contactWebsite": {
          "type": "string",
          "description": "The user-visible website for this app."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language code, in BCP 47 format (eg \"en-US\")."
        }
      },
      "description": "The app details. The resource for DetailsService."
    },
    "ImagesDeleteAllResponse": {
      "properties": {
        "deleted": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "The deleted images."
        }
      },
      "id": "ImagesDeleteAllResponse",
      "type": "object",
      "description": "Response for deleting all images."
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "type": "object",
      "description": "Characteristics of the user's device.",
      "properties": {
        "glEsVersion": {
          "description": "OpenGL version",
          "format": "int32",
          "type": "integer"
        },
        "screenWidthPx": {
          "format": "int32",
          "description": "Screen width in pixels",
          "type": "integer"
        },
        "productName": {
          "type": "string",
          "description": "Device model name (e.g. Droid)"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer (e.g. Motorola)"
        },
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "cpuModel": {
          "type": "string",
          "description": "Device CPU model, e.g. \"MSM8974\""
        },
        "deviceClass": {
          "description": "Device class (e.g. tablet)",
          "type": "string"
        },
        "ramMb": {
          "format": "int32",
          "type": "integer",
          "description": "Device RAM in Megabytes, e.g. \"2048\""
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "screenHeightPx": {
          "type": "integer",
          "description": "Screen height in pixels",
          "format": "int32"
        },
        "screenDensityDpi": {
          "description": "Screen density in DPI",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "LocalizedText": {
      "description": "Release notes specification, i.e. language and text.",
      "id": "LocalizedText",
      "type": "object",
      "properties": {
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text in the given language."
        }
      }
    },
    "ExpansionFile": {
      "properties": {
        "referencesVersion": {
          "type": "integer",
          "description": "If set, this APK's expansion file references another APK's expansion file.\nThe file_size field will not be set.",
          "format": "int32"
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded\nto it: this APK does not reference another APK's expansion file.\nThe field's value is the size of the uploaded expansion file in bytes."
        }
      },
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "type": "object",
      "id": "ExpansionFile"
    },
    "Testers": {
      "type": "object",
      "id": "Testers",
      "properties": {
        "googleGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All testing Google Groups, as email addresses."
        }
      },
      "description": "The testers of an app. The resource for TestersService."
    },
    "SystemApksListResponse": {
      "type": "object",
      "description": "Response to list previously created system APK variants.",
      "id": "SystemApksListResponse",
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "items": {
            "$ref": "Variant"
          },
          "type": "array"
        }
      }
    },
    "Track": {
      "type": "object",
      "id": "Track",
      "description": "A track configuration. The resource for TracksService.",
      "properties": {
        "track": {
          "description": "Identifier of the track.",
          "type": "string"
        },
        "releases": {
          "description": "In a read request, represents all active releases in the track.\nIn an update request, represents desired changes.",
          "items": {
            "$ref": "TrackRelease"
          },
          "type": "array"
        }
      }
    },
    "SubscriptionPurchasesDeferRequest": {
      "type": "object",
      "id": "SubscriptionPurchasesDeferRequest",
      "description": "Request for the purchases.subscriptions.defer API.",
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      }
    },
    "ImagesListResponse": {
      "id": "ImagesListResponse",
      "type": "object",
      "properties": {
        "images": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "All listed Images."
        }
      },
      "description": "Response listing all images."
    },
    "TrackRelease": {
      "properties": {
        "releaseNotes": {
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release."
        },
        "countryTargeting": {
          "$ref": "CountryTargeting",
          "description": "Restricts a release to a specific set of countries."
        },
        "status": {
          "description": "The status of the release.",
          "type": "string",
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by\n'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already\nhave these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to\nall users, unless they are eligible to APKs of a more recent release."
          ]
        },
        "versionCodes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Version codes of all APKs in the release. Must include version codes to\nretain from previous releases."
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is\ngenerated from the APK's version_name. If the release contains multiple\nAPKs, the name is generated from the date.",
          "type": "string"
        },
        "inAppUpdatePriority": {
          "type": "integer",
          "format": "int32",
          "description": "In-app update priority of the release. All newly added APKs in the\nrelease will be considered at this priority. Can take values in the range\n[0, 5], with 5 the highest priority. Defaults to 0.\nin_app_update_priority can not be updated once the release is rolled out.\nSee https://developer.android.com/guide/playcore/in-app-updates."
        },
        "userFraction": {
          "type": "number",
          "format": "double",
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1.\nCan only be set when status is \"inProgress\" or \"halted\"."
        }
      },
      "description": "A release within a track.",
      "type": "object",
      "id": "TrackRelease"
    },
    "DeobfuscationFilesUploadResponse": {
      "id": "DeobfuscationFilesUploadResponse",
      "type": "object",
      "properties": {
        "deobfuscationFile": {
          "description": "The uploaded Deobfuscation File configuration.",
          "$ref": "DeobfuscationFile"
        }
      },
      "description": "Responses for the upload."
    },
    "VoidedPurchasesListResponse": {
      "description": "Response for the voidedpurchases.list API.",
      "properties": {
        "voidedPurchases": {
          "items": {
            "$ref": "VoidedPurchase"
          },
          "type": "array"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        }
      },
      "id": "VoidedPurchasesListResponse",
      "type": "object"
    },
    "InternalAppSharingArtifact": {
      "type": "object",
      "properties": {
        "downloadUrl": {
          "type": "string",
          "description": "The download URL generated for the uploaded artifact.\nUsers that are authorized to download can follow the link to the Play\nStore app to install it."
        },
        "certificateFingerprint": {
          "type": "string",
          "description": "The sha256 fingerprint of the certificate used to sign the generated\nartifact."
        },
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal\nnumber, matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "id": "InternalAppSharingArtifact",
      "description": "An artifact resource which gets created when uploading an APK or Android\nApp Bundle through internal app sharing."
    },
    "VoidedPurchase": {
      "id": "VoidedPurchase",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher\nservice.",
          "type": "string"
        },
        "voidedReason": {
          "type": "integer",
          "format": "int32",
          "description": "The reason why the purchase was voided, possible values are:\n0. Other\n1. Remorse\n2. Not_received\n3. Defective\n4. Accidental_purchase\n5. Fraud\n6. Friendly_fraud\n7. Chargeback"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The token which uniquely identifies a one-time purchase or subscription.\nTo uniquely identify subscription renewals use order_id (available\nstarting from version 3 of the API)."
        },
        "voidedTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the purchase was canceled/refunded/charged-back,\nin milliseconds since the epoch (Jan 1, 1970)."
        },
        "purchaseTimeMillis": {
          "description": "The time at which the purchase was made, in milliseconds since the\nepoch (Jan 1, 1970).",
          "format": "int64",
          "type": "string"
        },
        "voidedSource": {
          "format": "int32",
          "description": "The initiator of voided purchase, possible values are:\n0. User\n1. Developer\n2. Google",
          "type": "integer"
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription\npurchase, or subscription renewal.",
          "type": "string"
        }
      },
      "description": "A VoidedPurchase resource indicates a purchase that was either\ncanceled/refunded/charged-back."
    },
    "ReviewReplyResult": {
      "description": "The result of replying/updating a reply to review.",
      "id": "ReviewReplyResult",
      "type": "object",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        },
        "lastEdited": {
          "description": "The time at which the reply took effect.",
          "$ref": "Timestamp"
        }
      }
    },
    "PageInfo": {
      "type": "object",
      "id": "PageInfo",
      "description": "Information about the current page.\n\nList operations that supports paging return only one \"page\" of results. This\nprotocol buffer message describes the page that has been returned.",
      "properties": {
        "resultPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results returned in one page.\n! The number of results included in the API response."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Index of the first result returned in the current page."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of results available on the backend\n! The total number of results in the result set."
        }
      }
    },
    "Bundle": {
      "description": "Information about a bundle. The resource for BundlesService.",
      "id": "Bundle",
      "type": "object",
      "properties": {
        "versionCode": {
          "type": "integer",
          "description": "The version code of the Android App Bundle, as specified in the Android App\nBundle's base module APK manifest file.",
          "format": "int32"
        },
        "sha256": {
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching\nthe output of the sha256sum command.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching\nthe output of the sha1sum command.",
          "type": "string"
        }
      }
    },
    "ApksListResponse": {
      "properties": {
        "apks": {
          "type": "array",
          "description": "All APKs.",
          "items": {
            "$ref": "Apk"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        }
      },
      "description": "Response listing all APKs.",
      "id": "ApksListResponse",
      "type": "object"
    },
    "TokenPagination": {
      "description": "Pagination information returned by a List operation when token pagination\nis enabled.\n\nList operations that supports paging return only one \"page\" of results. This\nprotocol buffer message describes the page that has been returned.\n\nWhen using token pagination, clients should use the next/previous token\nto get another page of the result. The presence or absence of next/previous\ntoken indicates whether a next/previous page is available and provides a\nmean of accessing this page. ListRequest.page_token should be set to either\nnext_page_token or previous_page_token to access another page.",
      "type": "object",
      "id": "TokenPagination",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available,\ntokens are preferred over manipulating start_index."
        }
      }
    },
    "UserComment": {
      "id": "UserComment",
      "description": "User entry from conversation between user and developer.",
      "properties": {
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. review body. In some cases\nusers have been able to write a review with separate title and\nbody; in those cases the title and body are concatenated and\nseparated by a tab character."
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "androidOsVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the\nreview was written, e.g. 23 is Marshmallow. May be absent."
        },
        "starRating": {
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5.",
          "type": "integer"
        },
        "deviceMetadata": {
          "description": "Information about the characteristics of the user's device.",
          "$ref": "DeviceMetadata"
        },
        "appVersionName": {
          "type": "string",
          "description": "String version name of the app as installed at the time the\nreview was written. May be absent."
        },
        "appVersionCode": {
          "format": "int32",
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the\nreview was written. May be absent."
        },
        "reviewerLanguage": {
          "description": "Language code for the reviewer. This is taken from the device\nsettings so is not guaranteed to match the language the review\nis written in. May be absent.",
          "type": "string"
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated.\nIf the review was not translated this is left blank.",
          "type": "string"
        },
        "thumbsUpCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up."
        },
        "thumbsDownCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of users who have given this review a thumbs down."
        }
      },
      "type": "object"
    },
    "SubscriptionPurchase": {
      "id": "SubscriptionPurchase",
      "properties": {
        "promotionCode": {
          "type": "string",
          "description": "The promotion code applied on this purchase. This field is only set if\na vanity code promotion is applied when the subscription was purchased."
        },
        "priceChange": {
          "$ref": "SubscriptionPriceChange",
          "description": "The latest price change information available. This is present only when\nthere is an upcoming price change for the subscription yet to be applied.\n\nOnce the subscription renews with the new price or the subscription is\ncanceled, no price change information will be returned."
        },
        "introductoryPriceInfo": {
          "description": "Introductory price information of the subscription. This is only present\nwhen the subscription was purchased with an introductory price.\n\nThis field does not indicate the subscription is currently in introductory\nprice period.",
          "$ref": "IntroductoryPriceInfo"
        },
        "autoRenewing": {
          "description": "Whether the subscription will automatically be renewed when it\nreaches its current expiry time.",
          "type": "boolean"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the\nuser's account in your app. Present for the following purchases:\n  * If account linking happened as part of the subscription purchase flow.\n  * It was specified using\n    https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid\n    when the purchase was made.",
          "type": "string"
        },
        "userCancellationTimeMillis": {
          "format": "int64",
          "description": "The time at which the subscription was canceled by the user, in\nmilliseconds since the epoch. Only present if cancelReason is 0.",
          "type": "string"
        },
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service.\nOnly present if account linking happened as part of the subscription\npurchase flow."
        },
        "orderId": {
          "description": "The order id of the latest recurring order associated with\nthe purchase of the subscription.",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased.\nOnly present for purchases made with 'Subscribe with Google'."
        },
        "kind": {
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher\nservice.",
          "type": "string"
        },
        "priceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the subscription price. For example,\nif the price is specified in British pounds sterling,\nprice_currency_code is \"GBP\"."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the\nuser's profile in your app. Only present if specified using\nhttps://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid\nwhen the purchase was made."
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased.\nOnly present for purchases made with 'Subscribe with Google'."
        },
        "acknowledgementState": {
          "type": "integer",
          "description": "The acknowledgement state of the subscription product. Possible values\nare:\n0. Yet to be acknowledged\n1. Acknowledged",
          "format": "int32"
        },
        "familyName": {
          "type": "string",
          "description": "The family name of the user when the subscription was purchased.\nOnly present for purchases made with 'Subscribe with Google'."
        },
        "cancelSurveyResult": {
          "$ref": "SubscriptionCancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription\ncancellation flow (cancellation reason survey)."
        },
        "startTimeMillis": {
          "type": "string",
          "description": "Time at which the subscription was granted, in milliseconds\nsince the Epoch.",
          "format": "int64"
        },
        "expiryTimeMillis": {
          "type": "string",
          "description": "Time at which the subscription will expire, in milliseconds\nsince the Epoch.",
          "format": "int64"
        },
        "purchaseType": {
          "format": "int32",
          "type": "integer",
          "description": "The type of purchase of the subscription. This field is only set if\nthis purchase was not made using the standard in-app billing flow.\nPossible values are:\n0. Test (i.e. purchased from a license testing account)\n1. Promo (i.e. purchased using a promo code)"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased.\nOnly present for purchases made with 'Subscribe with Google'."
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental\ninformation about an order."
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased.\nOnly present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time\nthe subscription was granted.",
          "type": "string"
        },
        "autoResumeTimeMillis": {
          "description": "Time at which the subscription will be automatically resumed, in\nmilliseconds since the Epoch. Only present if the user has requested to\npause the subscription.",
          "format": "int64",
          "type": "string"
        },
        "promotionType": {
          "description": "The type of promotion applied on this purchase. This field is only set if\na promotion is applied when the subscription was purchased. Possible\nvalues are:\n0. One time code\n1. Vanity code",
          "format": "int32",
          "type": "integer"
        },
        "paymentState": {
          "format": "int32",
          "type": "integer",
          "description": "The payment state of the subscription. Possible values are:\n0. Payment pending\n1. Payment received\n2. Free trial\n3. Pending deferred upgrade/downgrade"
        },
        "priceAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Price of the subscription, not including tax. Price is expressed\nin micro-units, where 1,000,000 micro-units represents one unit of\nthe currency. For example, if the subscription price is &euro;1.99,\nprice_amount_micros is 1990000."
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the originating purchase if this subscription\nis one of the following:\n0. Re-signup of a canceled but non-lapsed subscription\n1. Upgrade/downgrade from a previous subscription\n\nFor example, suppose a user originally signs up and you receive\npurchase token X, then the user cancels and goes through the\nresignup flow (before their subscription lapses) and you receive\npurchase token Y, and finally the user upgrades their subscription\nand you receive purchase token Z. If you call this API with purchase\ntoken Z, this field will be set to Y. If you call this API with\npurchase token Y, this field will be set to X. If you call this API\nwith purchase token X, this field will not be set.",
          "type": "string"
        },
        "cancelReason": {
          "type": "integer",
          "description": "The reason why a subscription was canceled or is not auto-renewing.\nPossible values are:\n0. User canceled the subscription\n1. Subscription was canceled by the system,\n      for example because of a billing problem\n2. Subscription was replaced with a new subscription\n3. Subscription was canceled by the developer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A SubscriptionPurchase resource indicates the status of a user's\nsubscription purchase."
    },
    "ApksAddExternallyHostedResponse": {
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "description": "Response for creating a new externally hosted APK.",
      "id": "ApksAddExternallyHostedResponse",
      "type": "object"
    },
    "SubscriptionPurchasesDeferResponse": {
      "properties": {
        "newExpiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "id": "SubscriptionPurchasesDeferResponse",
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "ReviewsListResponse": {
      "type": "object",
      "properties": {
        "reviews": {
          "type": "array",
          "description": "List of reviews.",
          "items": {
            "$ref": "Review"
          }
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        }
      },
      "description": "Response listing reviews.",
      "id": "ReviewsListResponse"
    },
    "DeobfuscationFile": {
      "properties": {
        "symbolType": {
          "description": "The type of the deobfuscation file.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ]
        }
      },
      "description": "Represents a deobfuscation file.",
      "type": "object",
      "id": "DeobfuscationFile"
    },
    "Timestamp": {
      "id": "Timestamp",
      "type": "object",
      "properties": {
        "seconds": {
          "format": "int64",
          "description": "Represents seconds of UTC time since Unix epoch.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Non-negative fractions of a second at nanosecond resolution.\nMust be from 0 to 999,999,999 inclusive."
        }
      },
      "description": "A Timestamp represents a point in time independent of any time zone or local\ncalendar, encoded as a count of seconds and fractions of seconds at\nnanosecond resolution. The count is relative to an epoch at UTC midnight on\nJanuary 1, 1970."
    },
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "id": "AppEdit",
      "type": "object",
      "properties": {
        "expiryTimeSeconds": {
          "type": "string",
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and\nwill be no longer valid for use."
        },
        "id": {
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      }
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "type": "object",
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "id": "SubscriptionPurchasesAcknowledgeRequest"
    },
    "Price": {
      "type": "object",
      "id": "Price",
      "properties": {
        "priceMicros": {
          "description": "Price in 1/million of the currency base unit, represented as a string.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "3 letter Currency code, as defined by ISO 4217.\nSee java/com/google/common/money/CurrencyCode.java"
        }
      },
      "description": "Definition of a price, i.e. currency and units."
    },
    "ExpansionFilesUploadResponse": {
      "type": "object",
      "description": "Response for uploading an expansion file.",
      "id": "ExpansionFilesUploadResponse",
      "properties": {
        "expansionFile": {
          "description": "The uploaded expansion file configuration.",
          "$ref": "ExpansionFile"
        }
      }
    },
    "ReviewsReplyRequest": {
      "id": "ReviewsReplyRequest",
      "description": "Request to reply to review or update existing reply.",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The text to set as the reply. Replies of more than approximately 350\ncharacters will be rejected. HTML tags will be stripped."
        }
      },
      "type": "object"
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "properties": {
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        },
        "countries": {
          "description": "Countries to target, specified as two letter [CLDR\ncodes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Country targeting specification."
    }
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "version": "v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "id": "androidpublisher:v3",
  "revision": "20200701",
  "ownerName": "Google",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "basePath": "",
  "description": "Lets Android application developers access their Google Play accounts.",
  "name": "androidpublisher",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "description": "Uploads an app bundle to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240",
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            }
          }
        },
        "uploadapk": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "description": "Uploads an APK to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "supportsMediaUpload": true,
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "parameters": {
                "versionCode": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Unique identifier of the Android app."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.create",
              "response": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "request": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "description": "Creates an APK which is suitable for inclusion in a system image from an\nalready uploaded Android App Bundle."
            },
            "download": {
              "parameters": {
                "versionCode": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Unique identifier of the Android app.",
                  "required": true
                },
                "variantId": {
                  "format": "uint32",
                  "location": "path",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true,
                  "type": "integer"
                }
              },
              "id": "androidpublisher.systemapks.variants.download",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "useMediaDownloadService": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Downloads a previously created system APK which is suitable for inclusion\nin a system image.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "httpMethod": "GET",
              "supportsMediaDownload": true
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Returns a previously created system APK variant.",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "response": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameters": {
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                },
                "variantId": {
                  "location": "path",
                  "type": "integer",
                  "format": "uint32",
                  "required": true,
                  "description": "The ID of a previously created system APK variant."
                },
                "packageName": {
                  "description": "Unique identifier of the Android app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "androidpublisher.systemapks.variants.get"
            },
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "description": "Returns the list of previously created system APK variants.",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameters": {
                "versionCode": {
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "description": "Unique identifier of the Android app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "id": "androidpublisher.systemapks.variants.list",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ]
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "description": "Gets a single review.",
          "parameters": {
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "translationLanguage": {
              "type": "string",
              "location": "query",
              "description": "Language localization code."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Review"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.get"
        },
        "reply": {
          "id": "androidpublisher.reviews.reply",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply"
        },
        "list": {
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "parameters": {
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The index of the first element to return."
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "How many results the list operation should return."
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.reviews.list",
          "description": "Lists all reviews.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews"
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "description": "Refund a user's subscription or in-app purchase order.",
          "id": "androidpublisher.orders.refund",
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The order ID provided to the user when the subscription or in-app order was\npurchased."
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app\nitem was purchased (for example, 'com.some.thing').",
              "required": true
            },
            "revoke": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to revoke the purchased item. If set to true, access to the\nsubscription or in-app item will be terminated immediately. If the item is\na recurring subscription, all future payments will also be terminated.\nConsumed in-app items need to be handled by developer's app. (optional)."
            }
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST"
        }
      }
    },
    "edits": {
      "resources": {
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Unique identifier for the Android app.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Unique identifier for this edit.",
                  "required": true,
                  "location": "path"
                },
                "apkVersionCode": {
                  "required": true,
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose Deobfuscation File is being\nuploaded.",
                  "format": "int32"
                },
                "deobfuscationFileType": {
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "location": "path",
                  "required": true,
                  "description": "The type of the deobfuscation file.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                },
                "maxSize": "314572800",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true
            }
          }
        },
        "listings": {
          "methods": {
            "deleteall": {
              "httpMethod": "DELETE",
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "id": "androidpublisher.edits.listings.deleteall",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Deletes all store listings."
            },
            "patch": {
              "description": "Patches a localized store listing.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ]
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Gets a localized store listing.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.listings.get"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "description": "Lists all localized store listings.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.listings.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              }
            },
            "update": {
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true
                }
              },
              "description": "Creates or updates a localized store listing.",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.listings.update"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "language": {
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "description": "Deletes a localized store listing."
            }
          }
        },
        "tracks": {
          "methods": {
            "update": {
              "id": "androidpublisher.edits.tracks.update",
              "parameters": {
                "track": {
                  "required": true,
                  "description": "Identifier of the track.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "request": {
                "$ref": "Track"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Updates a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets a track.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.tracks.get",
              "response": {
                "$ref": "Track"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "GET"
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "description": "Patches a track.",
              "id": "androidpublisher.edits.tracks.patch",
              "response": {
                "$ref": "Track"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "parameters": {
                "track": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the track."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "TracksListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.tracks.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all tracks.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "update": {
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "location": "path",
                  "format": "int32"
                },
                "expansionFileType": {
                  "location": "path",
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Updates the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "id": "androidpublisher.edits.expansionfiles.update",
              "request": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT"
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "parameters": {
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "apkVersionCode": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "description": "Patches the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "type": "integer",
                  "location": "path",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "expansionFileType": {
                  "type": "string",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the file configuration which is being read or modified.",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Fetches the expansion file configuration for the specified APK.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.expansionfiles.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            },
            "upload": {
              "id": "androidpublisher.edits.expansionfiles.upload",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "supportsMediaUpload": true,
              "parameters": {
                "apkVersionCode": {
                  "type": "integer",
                  "location": "path",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "expansionFileType": {
                  "required": true,
                  "location": "path",
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2147483648"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
[...]
