{
  "documentationLink": "https://developers.google.com/android-publisher",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "servicePath": "",
  "name": "androidpublisher",
  "version": "v3",
  "description": "Lets Android application developers access their Google Play accounts.",
  "title": "Google Play Android Developer API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "canonicalName": "Android Publisher",
  "resources": {
    "orders": {
      "methods": {
        "refund": {
          "parameters": {
            "orderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "packageName": {
              "location": "path",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true,
              "type": "string"
            },
            "revoke": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional)."
            }
          },
          "httpMethod": "POST",
          "description": "Refund a user's subscription or in-app purchase order.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.orders.refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund"
        }
      }
    },
    "purchases": {
      "resources": {
        "subscriptions": {
          "methods": {
            "defer": {
              "httpMethod": "POST",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "parameters": {
                "token": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "description": "Defers a user's subscription purchase until a specified future expiration time."
            },
            "refund": {
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "id": "androidpublisher.purchases.subscriptions.refund",
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur."
            },
            "acknowledge": {
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Acknowledges a subscription purchase.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "parameters": {
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path"
                },
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            },
            "revoke": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ]
            },
            "get": {
              "id": "androidpublisher.purchases.subscriptions.get",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "httpMethod": "GET"
            },
            "cancel": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path"
                }
              },
              "id": "androidpublisher.purchases.products.get",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "response": {
                "$ref": "ProductPurchase"
              },
              "httpMethod": "GET"
            },
            "acknowledge": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a purchase of an inapp item.",
              "parameters": {
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "parameterOrder": [
                "packageName"
              ],
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "parameters": {
                "startIndex": {
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "location": "query"
                },
                "token": {
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "type": "string"
                },
                "maxResults": {
                  "location": "query",
                  "format": "uint32",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "type": "integer"
                },
                "endTime": {
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "type": "string"
                },
                "type": {
                  "type": "integer",
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "format": "int32"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "reviewId": {
              "location": "path",
              "description": "Unique identifier for a review.",
              "required": true,
              "type": "string"
            },
            "translationLanguage": {
              "type": "string",
              "location": "query",
              "description": "Language localization code."
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.reviews.get",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "description": "Gets a single review.",
          "httpMethod": "GET"
        },
        "list": {
          "id": "androidpublisher.reviews.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "description": "Lists all reviews.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameters": {
            "startIndex": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The index of the first element to return."
            },
            "maxResults": {
              "type": "integer",
              "description": "How many results the list operation should return.",
              "format": "uint32",
              "location": "query"
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            }
          }
        },
        "reply": {
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reviewId": {
              "type": "string",
              "required": true,
              "description": "Unique identifier for a review.",
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.reply",
          "description": "Replies to a single review, or updates an existing reply."
        }
      }
    },
    "edits": {
      "resources": {
        "images": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "Promo graphic.",
                    "TV banner."
                  ],
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response."
                },
                "language": {
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Lists all images. The response may be empty.",
              "id": "androidpublisher.edits.images.list",
              "httpMethod": "GET"
            },
            "upload": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "Promo graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "location": "path",
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "required": true
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "POST",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "mediaUpload": {
                "maxSize": "15728640",
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                },
                "accept": [
                  "image/*"
                ]
              },
              "supportsMediaUpload": true,
              "id": "androidpublisher.edits.images.upload"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "id": "androidpublisher.edits.images.deleteall",
              "parameters": {
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "Promo graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op."
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "language": {
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            },
            "delete": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameters": {
                "imageType": {
                  "required": true,
                  "description": "Type of the Image.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "Promo graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "imageId": {
                  "required": true,
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.delete",
              "description": "Deletes the image (specified by id) from the edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "request": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "type": "string",
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ]
                },
                "apkVersionCode": {
                  "format": "int32",
                  "required": true,
                  "location": "path",
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "response": {
                "$ref": "ExpansionFile"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "request": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "required": true
                },
                "apkVersionCode": {
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "required": true,
                  "format": "int32"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            },
            "upload": {
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "expansionFileType": {
                  "location": "path",
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string"
                },
                "apkVersionCode": {
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "format": "int32",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                }
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                },
                "maxSize": "2147483648",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "id": "androidpublisher.edits.expansionfiles.upload",
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "apkVersionCode": {
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.expansionfiles.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Fetches the expansion file configuration for the specified APK.",
              "response": {
                "$ref": "ExpansionFile"
              }
            }
          }
        },
        "bundles": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.bundles.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "Bundle"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "10737418240"
              },
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "ackBundleInstallationWarning": {
                  "type": "boolean",
                  "description": "Must be set to true if the bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).",
                  "location": "query"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            },
            "list": {
              "description": "Lists all current Android App Bundles of the app and edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "id": "androidpublisher.edits.bundles.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              }
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "id": "androidpublisher.edits.details.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "description": "Gets details of an app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "request": {
                "$ref": "AppDetails"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.patch",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "description": "Patches details of an app.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            },
            "update": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "response": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.update",
              "request": {
                "$ref": "AppDetails"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Updates details of an app."
            }
          }
        },
        "tracks": {
          "methods": {
            "update": {
              "description": "Updates a track.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the track."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "response": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PUT"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.get",
              "description": "Gets a track.",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Track"
              }
            },
            "patch": {
              "description": "Patches a track.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the track.",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.tracks.patch",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all tracks.",
              "httpMethod": "GET",
              "response": {
                "$ref": "TracksListResponse"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.tracks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks"
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "314572800",
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  }
                }
              },
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "httpMethod": "POST",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Unique identifier for this edit."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Unique identifier for the Android app."
                },
                "deobfuscationFileType": {
                  "description": "The type of the deobfuscation file.",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "location": "path",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "type": "string"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded."
                }
              }
            }
          }
        },
        "apks": {
          "methods": {
            "addexternallyhosted": {
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "description": "Uploads an APK and adds to the current edit.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "id": "androidpublisher.edits.apks.upload",
              "response": {
                "$ref": "Apk"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "mediaUpload": {
                "maxSize": "10737418240",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                },
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ]
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "POST",
              "supportsMediaUpload": true
            },
            "list": {
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all current APKs of the app and edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "id": "androidpublisher.edits.apks.list",
              "httpMethod": "GET"
            }
          }
        },
        "listings": {
          "methods": {
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Creates or updates a localized store listing.",
              "httpMethod": "PUT",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "id": "androidpublisher.edits.listings.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "description": "Lists all localized store listings.",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "id": "androidpublisher.edits.listings.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                }
              },
              "description": "Deletes a localized store listing.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.delete"
            },
            "deleteall": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "DELETE",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.deleteall",
              "description": "Deletes all store listings.",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches a localized store listing.",
              "id": "androidpublisher.edits.listings.patch",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PATCH",
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              }
            },
            "get": {
              "description": "Gets a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Updates testers.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "track": {
                  "description": "The track to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.testers.update"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Testers"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "track": {
                  "description": "The track to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.patch",
              "httpMethod": "PATCH"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "track": {
                  "required": true,
                  "type": "string",
                  "description": "The track to read from.",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.get",
              "description": "Gets testers.",
              "response": {
                "$ref": "Testers"
              }
            }
          }
        }
      },
      "methods": {
        "insert": {
          "request": {
            "$ref": "AppEdit"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "id": "androidpublisher.edits.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "AppEdit"
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "description": "Creates a new edit for an app."
        },
        "get": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.get",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an app edit.",
          "parameters": {
            "editId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier of the edit."
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "httpMethod": "GET"
        },
        "commit": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "parameters": {
            "editId": {
              "location": "path",
              "description": "Identifier of the edit.",
              "type": "string",
              "required": true
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "description": "Commits an app edit.",
          "id": "androidpublisher.edits.commit"
        },
        "delete": {
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "editId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier of the edit."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.delete",
          "description": "Deletes an app edit."
        },
        "validate": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.validate",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Validates an app edit.",
          "httpMethod": "POST"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Lists all in-app products - both managed products and subscriptions.",
          "id": "androidpublisher.inappproducts.list",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "How many results the list operation should return.",
              "type": "integer",
              "format": "uint32"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "startIndex": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The index of the first element to return."
            },
            "token": {
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first product.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.insert",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "get": {
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.get"
        },
        "update": {
          "parameters": {
            "sku": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.update",
          "httpMethod": "PUT",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions)."
        },
        "patch": {
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PATCH",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean"
            },
            "sku": {
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.patch",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "id": "androidpublisher.systemapks.variants.create",
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Unique identifier of the Android app.",
                  "required": true,
                  "type": "string"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "description": "Returns the list of previously created system APK variants.",
              "id": "androidpublisher.systemapks.variants.list",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "parameters": {
                "versionCode": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "description": "Unique identifier of the Android app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Variant"
              },
              "id": "androidpublisher.systemapks.variants.get",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameters": {
                "versionCode": {
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The version code of the App Bundle."
                },
                "variantId": {
                  "location": "path",
                  "format": "uint32",
                  "type": "integer",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true
                },
                "packageName": {
                  "description": "Unique identifier of the Android app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Returns a previously created system APK variant."
            },
            "download": {
              "useMediaDownloadService": true,
[...]
