{
  "servicePath": "",
  "id": "androidpublisher:v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "basePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "revision": "20201012",
  "canonicalName": "Android Publisher",
  "description": "Lets Android application developers access their Google Play accounts.",
  "ownerName": "Google",
  "version": "v3",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "schemas": {
    "ExpansionFile": {
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "properties": {
        "fileSize": {
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "type": "string"
        },
        "referencesVersion": {
          "type": "integer",
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set."
        }
      },
      "id": "ExpansionFile",
      "type": "object"
    },
    "Bundle": {
      "id": "Bundle",
      "description": "Information about a bundle. The resource for BundlesService.",
      "properties": {
        "versionCode": {
          "format": "int32",
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file.",
          "type": "integer"
        },
        "sha256": {
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListingsListResponse": {
      "type": "object",
      "description": "Response listing all localized listings.",
      "id": "ListingsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        },
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "description": "All localized listings.",
          "type": "array"
        }
      }
    },
    "ImagesUploadResponse": {
      "type": "object",
      "description": "Response for uploading an image.",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "The uploaded image."
        }
      },
      "id": "ImagesUploadResponse"
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "properties": {
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "BundlesListResponse": {
      "description": "Response listing all bundles.",
      "type": "object",
      "id": "BundlesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\")."
        },
        "bundles": {
          "items": {
            "$ref": "Bundle"
          },
          "type": "array",
          "description": "All bundles."
        }
      }
    },
    "Listing": {
      "description": "A localized store listing. The resource for ListingsService.",
      "id": "Listing",
      "type": "object",
      "properties": {
        "fullDescription": {
          "description": "Full description of the app.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        },
        "video": {
          "description": "URL of a promotional YouTube video for the app.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Localized title of the app."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      }
    },
    "SubscriptionDeferralInfo": {
      "properties": {
        "expectedExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur."
        },
        "desiredExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription."
        }
      },
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
      "type": "object",
      "id": "SubscriptionDeferralInfo"
    },
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "id": "AppEdit",
      "properties": {
        "expiryTimeSeconds": {
          "type": "string",
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeveloperComment": {
      "description": "Developer entry from conversation between user and developer.",
      "type": "object",
      "properties": {
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. reply body."
        }
      },
      "id": "DeveloperComment"
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "type": "object",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "id": "SubscriptionPurchasesAcknowledgeRequest"
    },
    "CountryTargeting": {
      "description": "Country targeting specification.",
      "properties": {
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html)."
        }
      },
      "id": "CountryTargeting",
      "type": "object"
    },
    "TokenPagination": {
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object",
      "id": "TokenPagination",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index.",
          "type": "string"
        }
      }
    },
    "Image": {
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "id": {
          "type": "string",
          "description": "A unique id representing this image."
        },
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        },
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        }
      },
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image",
      "type": "object"
    },
    "Testers": {
      "properties": {
        "googleGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All testing Google Groups, as email addresses."
        }
      },
      "description": "The testers of an app. The resource for TestersService.",
      "id": "Testers",
      "type": "object"
    },
    "TrackRelease": {
      "id": "TrackRelease",
      "properties": {
        "releaseNotes": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release.",
          "type": "array"
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date.",
          "type": "string"
        },
        "versionCodes": {
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "description": "The status of the release.",
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "type": "string"
        },
        "countryTargeting": {
          "$ref": "CountryTargeting",
          "description": "Restricts a release to a specific set of countries."
        },
        "inAppUpdatePriority": {
          "type": "integer",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "format": "int32"
        }
      },
      "description": "A release within a track.",
      "type": "object"
    },
    "IntroductoryPriceInfo": {
      "id": "IntroductoryPriceInfo",
      "description": "Contains the introductory price information for a subscription.",
      "properties": {
        "introductoryPriceCurrencyCode": {
          "description": "ISO 4217 currency code for the introductory subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        },
        "introductoryPriceCycles": {
          "format": "int32",
          "type": "integer",
          "description": "The number of billing period to offer introductory pricing."
        },
        "introductoryPriceAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "Introductory price of the subscription, not including tax. The currency is the same as price_currency_code. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000."
        },
        "introductoryPricePeriod": {
          "description": "Introductory price period, specified in ISO 8601 format. Common values are (but not limited to) \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "id": "ApksAddExternallyHostedRequest",
      "description": "Request to create a new externally hosted APK."
    },
    "SubscriptionPriceChange": {
      "properties": {
        "state": {
          "format": "int32",
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next.",
          "type": "integer"
        },
        "newPrice": {
          "description": "The new price the subscription will renew with if the price change is accepted by the user.",
          "$ref": "Price"
        }
      },
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion.",
      "type": "object",
      "id": "SubscriptionPriceChange"
    },
    "AppDetails": {
      "properties": {
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        },
        "contactPhone": {
          "type": "string",
          "description": "The user-visible support telephone number for this app."
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        }
      },
      "id": "AppDetails",
      "description": "The app details. The resource for DetailsService.",
      "type": "object"
    },
    "InappproductsListResponse": {
      "description": "Response listing all in-app products.",
      "properties": {
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\")."
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        },
        "inappproduct": {
          "description": "All in-app products.",
          "items": {
            "$ref": "InAppProduct"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "InappproductsListResponse"
    },
    "DeobfuscationFile": {
      "properties": {
        "symbolType": {
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "description": "The type of the deobfuscation file."
        }
      },
      "type": "object",
      "description": "Represents a deobfuscation file.",
      "id": "DeobfuscationFile"
    },
    "ExternallyHostedApk": {
      "type": "object",
      "id": "ExternallyHostedApk",
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "properties": {
        "minimumSdk": {
          "format": "int32",
          "description": "The minimum SDK targeted by this APK.",
          "type": "integer"
        },
        "iconBase64": {
          "type": "string",
          "description": "The icon image from the APK, as a base64 encoded byte array."
        },
        "usesPermissions": {
          "description": "The permissions requested by this APK.",
          "items": {
            "$ref": "UsesPermission"
          },
          "type": "array"
        },
        "fileSha1Base64": {
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        },
        "maximumSdk": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum SDK supported by this APK (optional)."
        },
        "versionCode": {
          "description": "The version code of this APK.",
          "format": "int32",
          "type": "integer"
        },
        "externallyHostedUrl": {
          "description": "The URL at which the APK is hosted. This must be an https URL.",
          "type": "string"
        },
        "nativeCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The native code environments supported by this APK (optional)."
        },
        "certificateBase64s": {
          "items": {
            "type": "string"
          },
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "type": "array"
        },
        "usesFeatures": {
          "description": "The features required by this APK (optional).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageName": {
          "description": "The package name.",
          "type": "string"
        },
        "fileSize": {
          "format": "int64",
          "description": "The file size in bytes of this APK.",
          "type": "string"
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "fileSha256Base64": {
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        }
      }
    },
    "SubscriptionPurchasesDeferResponse": {
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "type": "object",
      "id": "SubscriptionPurchasesDeferResponse",
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "ProductPurchasesAcknowledgeRequest": {
      "type": "object",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "id": "ProductPurchasesAcknowledgeRequest",
      "description": "Request for the product.purchases.acknowledge API."
    },
    "Price": {
      "type": "object",
      "properties": {
        "priceMicros": {
          "description": "Price in 1/million of the currency base unit, represented as a string.",
          "type": "string"
        },
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        }
      },
      "description": "Definition of a price, i.e. currency and units.",
      "id": "Price"
    },
    "DeviceMetadata": {
      "properties": {
        "screenDensityDpi": {
          "description": "Screen density in DPI",
          "format": "int32",
          "type": "integer"
        },
        "glEsVersion": {
          "type": "integer",
          "description": "OpenGL version",
          "format": "int32"
        },
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "cpuModel": {
          "type": "string",
          "description": "Device CPU model, e.g. \"MSM8974\""
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer (e.g. Motorola)"
        },
        "ramMb": {
          "description": "Device RAM in Megabytes, e.g. \"2048\"",
          "type": "integer",
          "format": "int32"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "productName": {
          "type": "string",
          "description": "Device model name (e.g. Droid)"
        },
        "deviceClass": {
          "description": "Device class (e.g. tablet)",
          "type": "string"
        },
        "screenHeightPx": {
          "format": "int32",
          "type": "integer",
          "description": "Screen height in pixels"
        },
        "screenWidthPx": {
          "type": "integer",
          "description": "Screen width in pixels",
          "format": "int32"
        }
      },
      "id": "DeviceMetadata",
      "type": "object",
      "description": "Characteristics of the user's device."
    },
    "ExpansionFilesUploadResponse": {
      "id": "ExpansionFilesUploadResponse",
      "description": "Response for uploading an expansion file.",
      "properties": {
        "expansionFile": {
          "$ref": "ExpansionFile",
          "description": "The uploaded expansion file configuration."
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedResponse": {
      "description": "Response for creating a new externally hosted APK.",
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "id": "ApksAddExternallyHostedResponse"
    },
    "SubscriptionPurchase": {
      "properties": {
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "SubscriptionCancelSurveyResult"
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "priceChange": {
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned.",
          "$ref": "SubscriptionPriceChange"
        },
        "autoResumeTimeMillis": {
          "format": "int64",
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "expiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch."
        },
        "countryCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "startTimeMillis": {
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch.",
          "format": "int64",
          "type": "string"
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set."
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow."
        },
        "userCancellationTimeMillis": {
          "format": "int64",
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "priceAmountMicros": {
          "format": "int64",
          "description": "Price of the subscription, not including tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id of the latest recurring order associated with the purchase of the subscription."
        },
        "priceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\"."
        },
        "acknowledgementState": {
          "format": "int32",
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "introductoryPriceInfo": {
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period.",
          "$ref": "IntroductoryPriceInfo"
        },
        "purchaseType": {
          "type": "integer",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)",
          "format": "int32"
        },
        "paymentState": {
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade",
          "format": "int32",
          "type": "integer"
        },
        "promotionType": {
          "format": "int32",
          "type": "integer",
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code"
        },
        "autoRenewing": {
          "type": "boolean",
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time."
        },
        "familyName": {
          "type": "string",
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "cancelReason": {
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "type": "integer",
          "format": "int32"
        },
        "promotionCode": {
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service."
        }
      },
      "id": "SubscriptionPurchase",
      "type": "object",
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase."
    },
    "InAppProductListing": {
      "description": "Store listing of a single in-app product.",
      "type": "object",
      "properties": {
        "benefits": {
          "description": "Localized entitlement benefits for a subscription.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description for the store listing."
        },
        "title": {
          "type": "string",
          "description": "Title for the store listing."
        }
      },
      "id": "InAppProductListing"
    },
    "LocalizedText": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The text in the given language."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      },
      "id": "LocalizedText",
      "description": "Release notes specification, i.e. language and text.",
      "type": "object"
    },
    "UserComment": {
      "type": "object",
      "id": "UserComment",
      "properties": {
        "appVersionCode": {
          "format": "int32",
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent."
        },
        "thumbsDownCount": {
          "description": "Number of users who have given this review a thumbs down.",
          "type": "integer",
          "format": "int32"
        },
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        },
        "androidOsVersion": {
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "type": "integer",
          "format": "int32"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Information about the characteristics of the user's device."
        },
        "starRating": {
          "type": "integer",
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5."
        },
        "text": {
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
          "type": "string"
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "reviewerLanguage": {
          "type": "string",
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent."
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        },
        "thumbsUpCount": {
          "description": "Number of users who have given this review a thumbs up.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "User entry from conversation between user and developer."
    },
    "Variant": {
      "properties": {
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        },
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "type": "integer",
          "readOnly": true,
          "format": "uint32"
        }
      },
      "id": "Variant",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "type": "object"
    },
    "DeobfuscationFilesUploadResponse": {
      "description": "Responses for the upload.",
      "properties": {
        "deobfuscationFile": {
          "description": "The uploaded Deobfuscation File configuration.",
          "$ref": "DeobfuscationFile"
        }
      },
      "id": "DeobfuscationFilesUploadResponse",
      "type": "object"
    },
    "ReviewsReplyResponse": {
      "description": "Response on status of replying to a review.",
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "description": "The result of replying/updating a reply to review.",
          "$ref": "ReviewReplyResult"
        }
      },
      "type": "object"
    },
    "TracksListResponse": {
      "id": "TracksListResponse",
      "description": "Response listing all tracks.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks."
        }
      }
    },
    "InAppProduct": {
      "id": "InAppProduct",
      "type": "object",
      "properties": {
        "gracePeriod": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days)."
        },
        "trialPeriod": {
          "type": "string",
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days)."
        },
        "purchaseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ],
          "description": "The type of the product, e.g. a recurring subscription."
        },
        "subscriptionPeriod": {
          "type": "string",
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year)."
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "defaultPrice": {
          "$ref": "Price",
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency."
        },
        "listings": {
          "additionalProperties": {
            "$ref": "InAppProductListing"
          },
          "type": "object",
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\"."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "description": "The status of the product, e.g. whether it's active.",
          "type": "string"
        },
        "prices": {
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          }
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the parent app."
        }
      },
      "description": "An in-app product. The resource for InappproductsService."
    },
    "ReviewsReplyRequest": {
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped."
        }
      },
      "id": "ReviewsReplyRequest",
      "type": "object",
      "description": "Request to reply to review or update existing reply."
    },
    "InternalAppSharingArtifact": {
      "type": "object",
      "properties": {
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        },
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        }
      },
      "id": "InternalAppSharingArtifact",
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "Timestamp": {
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution. Must be from 0 to 999,999,999 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Represents seconds of UTC time since Unix epoch."
        }
      },
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970.",
      "id": "Timestamp"
    },
    "SystemApksListResponse": {
      "description": "Response to list previously created system APK variants.",
      "id": "SystemApksListResponse",
      "type": "object",
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "items": {
            "$ref": "Variant"
          },
          "type": "array"
        }
      }
    },
    "VoidedPurchase": {
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "id": "VoidedPurchase",
      "properties": {
        "voidedReason": {
          "type": "integer",
          "format": "int32",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback"
        },
        "voidedSource": {
          "type": "integer",
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "format": "int32"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API)."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a voided purchase object in the androidpublisher service."
        },
        "voidedTimeMillis": {
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductPurchase": {
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The inapp product SKU."
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service."
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)"
        },
        "consumptionState": {
          "type": "integer",
          "format": "int32",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed"
        },
        "purchaseState": {
          "format": "int32",
          "type": "integer",
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "acknowledgementState": {
          "format": "int32",
          "type": "integer",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ImagesListResponse": {
      "type": "object",
      "properties": {
        "images": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "All listed Images."
        }
      },
      "id": "ImagesListResponse",
      "description": "Response listing all images."
    },
    "Apk": {
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The version code of the APK, as specified in the manifest file.",
          "type": "integer",
          "format": "int32"
        },
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        }
      },
      "description": "Information about an APK. The resource for ApksService.",
      "id": "Apk"
    },
    "Track": {
      "description": "A track configuration. The resource for TracksService.",
      "type": "object",
      "properties": {
        "track": {
          "type": "string",
          "description": "Identifier of the track."
        },
        "releases": {
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes.",
          "type": "array",
          "items": {
            "$ref": "TrackRelease"
          }
        }
      },
      "id": "Track"
    },
    "ImagesDeleteAllResponse": {
      "type": "object",
      "id": "ImagesDeleteAllResponse",
      "description": "Response for deleting all images.",
      "properties": {
        "deleted": {
          "type": "array",
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "ReviewsListResponse": {
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "Information about the current page."
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews.",
          "items": {
            "$ref": "Review"
          }
        }
      },
      "description": "Response listing reviews.",
      "type": "object",
      "id": "ReviewsListResponse"
    },
    "PageInfo": {
      "id": "PageInfo",
      "type": "object",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "properties": {
        "resultPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response."
        },
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "format": "int32",
          "type": "integer"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of results available on the backend ! The total number of results in the result set."
        }
      }
    },
    "SubscriptionPurchasesDeferRequest": {
      "id": "SubscriptionPurchasesDeferRequest",
      "type": "object",
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      },
      "description": "Request for the purchases.subscriptions.defer API."
    },
    "SubscriptionCancelSurveyResult": {
      "properties": {
        "cancelSurveyReason": {
          "type": "integer",
          "format": "int32",
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app"
        },
        "userInputCancelReason": {
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0.",
          "type": "string"
        }
      },
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
      "id": "SubscriptionCancelSurveyResult",
      "type": "object"
    },
    "DeviceSpec": {
      "id": "DeviceSpec",
      "type": "object",
      "properties": {
        "supportedAbis": {
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenDensity": {
          "description": "Screen dpi.",
          "type": "integer",
          "format": "uint32"
        },
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The device spec used to generate a system APK."
    },
    "VoidedPurchasesListResponse": {
      "type": "object",
      "id": "VoidedPurchasesListResponse",
      "description": "Response for the voidedpurchases.list API.",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "voidedPurchases": {
          "items": {
            "$ref": "VoidedPurchase"
          },
          "type": "array"
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        }
      }
    },
    "ApksListResponse": {
      "id": "ApksListResponse",
      "description": "Response listing all APKs.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs.",
          "type": "array"
        }
      }
    },
    "UsesPermission": {
      "description": "A permission used by this APK.",
      "type": "object",
      "properties": {
        "maxSdkVersion": {
          "type": "integer",
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the permission requested."
        }
      },
      "id": "UsesPermission"
    },
    "ReviewReplyResult": {
      "type": "object",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        },
        "lastEdited": {
          "description": "The time at which the reply took effect.",
          "$ref": "Timestamp"
        }
      },
      "description": "The result of replying/updating a reply to review.",
      "id": "ReviewReplyResult"
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "id": "ApkBinary",
      "type": "object"
    },
    "Review": {
      "properties": {
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        },
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        },
        "comments": {
          "type": "array",
          "description": "A repeated field containing comments for the review.",
          "items": {
            "$ref": "Comment"
          }
        }
      },
      "id": "Review",
      "description": "An Android app review.",
      "type": "object"
    }
  },
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "name": "androidpublisher",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/android-publisher",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "title": "Google Play Android Developer API",
  "resources": {
    "orders": {
      "methods": {
        "refund": {
          "parameters": {
            "revoke": {
              "type": "boolean",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query"
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "required": true
            },
            "packageName": {
              "required": true,
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "description": "Refund a user's subscription or in-app purchase order.",
          "id": "androidpublisher.orders.refund",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST"
        }
      }
    },
    "reviews": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "id": "androidpublisher.reviews.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "httpMethod": "GET",
          "description": "Lists all reviews.",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first review."
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "How many results the list operation should return."
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "startIndex": {
              "format": "uint32",
              "description": "The index of the first element to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ]
        },
        "reply": {
          "description": "Replies to a single review, or updates an existing reply.",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.reply",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "parameters": {
            "reviewId": {
              "location": "path",
              "description": "Unique identifier for a review.",
              "type": "string",
              "required": true
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "httpMethod": "POST"
        },
        "get": {
          "description": "Gets a single review.",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            },
            "reviewId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for a review."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "response": {
            "$ref": "Review"
          },
          "id": "androidpublisher.reviews.get"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "GET",
          "parameters": {
            "sku": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "id": "androidpublisher.inappproducts.get"
        },
        "insert": {
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.insert"
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.patch",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            },
            "sku": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Unique identifier for the in-app product."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions)."
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "How many results the list operation should return.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query",
              "type": "string"
            },
            "startIndex": {
              "description": "The index of the first element to return.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "id": "androidpublisher.inappproducts.list",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Lists all in-app products - both managed products and subscriptions."
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.update",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "response": {
            "$ref": "InAppProduct"
          }
        },
        "delete": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            },
            "sku": {
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.delete"
        }
      }
    },
    "purchases": {
      "resources": {
        "subscriptions": {
          "methods": {
            "revoke": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring."
            },
            "defer": {
              "id": "androidpublisher.purchases.subscriptions.defer",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "httpMethod": "POST",
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              }
            },
            "cancel": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "required": true
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                }
              },
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel"
            },
            "acknowledge": {
              "description": "Acknowledges a subscription purchase.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                },
                "subscriptionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path"
                }
              },
              "id": "androidpublisher.purchases.subscriptions.get"
            },
            "refund": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.refund",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "subscriptionId": {
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "parameters": {
                "type": {
                  "format": "int32",
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "type": "integer"
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "startIndex": {
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled."
                },
                "endTime": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing')."
                },
                "maxResults": {
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection."
                },
                "startTime": {
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "location": "query",
                  "format": "int64"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "response": {
                "$ref": "ProductPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "productId": {
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}"
            },
            "acknowledge": {
              "description": "Acknowledges a purchase of an inapp item.",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "parameters": {
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.products.acknowledge"
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true,
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240",
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          }
        },
        "uploadapk": {
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameterOrder": [
            "packageName"
          ],
          "supportsMediaUpload": true,
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
        }
      }
    },
    "edits": {
      "methods": {
        "commit": {
          "id": "androidpublisher.edits.commit",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "editId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the edit."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Commits an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "editId": {
              "location": "path",
              "description": "Identifier of the edit.",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "id": "androidpublisher.edits.get",
          "description": "Gets an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "validate": {
          "description": "Validates an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "parameters": {
            "editId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier of the edit."
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.validate",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "parameters": {
            "editId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the edit."
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
[...]
