{
  "description": "Groups and counts similar errors from cloud services and applications, reports new errors, and provides access to error groups and their associated errors. ",
  "protocol": "rest",
  "revision": "20200806",
  "discoveryVersion": "v1",
  "name": "clouderrorreporting",
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "id": "clouderrorreporting:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "events": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "clouderrorreporting.projects.events.list",
              "path": "v1beta1/{+projectName}/events",
              "flatPath": "v1beta1/projects/{projectsId}/events",
              "parameterOrder": [
                "projectName"
              ],
              "parameters": {
                "serviceFilter.service": {
                  "location": "query",
                  "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A `next_page_token` provided by a previous response."
                },
                "timeRange.period": {
                  "enumDescriptions": [
                    "Do not use.",
                    "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                    "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                    "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                    "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                    "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                  ],
                  "description": "Restricts the query to the specified time range.",
                  "enum": [
                    "PERIOD_UNSPECIFIED",
                    "PERIOD_1_HOUR",
                    "PERIOD_6_HOURS",
                    "PERIOD_1_DAY",
                    "PERIOD_1_WEEK",
                    "PERIOD_30_DAYS"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "projectName": {
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: `projects/my-project-123`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return per response.",
                  "location": "query"
                },
                "serviceFilter.version": {
                  "location": "query",
                  "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                  "type": "string"
                },
                "groupId": {
                  "description": "Required. The group for which events shall be returned.",
                  "type": "string",
                  "location": "query"
                },
                "serviceFilter.resourceType": {
                  "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists the specified events.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListEventsResponse"
              }
            },
            "report": {
              "httpMethod": "POST",
              "id": "clouderrorreporting.projects.events.report",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectName": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectId}`, where `{projectId}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: // `projects/my-project-123`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectName"
              ],
              "description": "Report an individual error event. This endpoint accepts **either** an OAuth token, **or** an [API key](https://support.google.com/cloud/answer/6158862) for authentication. To use an API key, append it to the URL as the value of a `key` parameter. For example: `POST https://clouderrorreporting.googleapis.com/v1beta1/{projectName}/events:report?key=123ABC456`",
              "flatPath": "v1beta1/projects/{projectsId}/events:report",
              "request": {
                "$ref": "ReportedErrorEvent"
              },
              "path": "v1beta1/{+projectName}/events:report",
              "response": {
                "$ref": "ReportErrorEventResponse"
              }
            }
          }
        },
        "groups": {
          "methods": {
            "update": {
              "request": {
                "$ref": "ErrorGroup"
              },
              "httpMethod": "PUT",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "ErrorGroup"
              },
              "description": "Replace the data for the specified group. Fails if the group does not exist.",
              "flatPath": "v1beta1/projects/{projectsId}/groups/{groupsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "description": "The group resource name. Example: projects/my-project-123/groups/CNSgkpnppqKCUw",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "clouderrorreporting.projects.groups.update"
            },
            "get": {
              "path": "v1beta1/{+groupName}",
              "response": {
                "$ref": "ErrorGroup"
              },
              "parameters": {
                "groupName": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "type": "string",
                  "description": "Required. The group resource name. Written as `projects/{projectID}/groups/{group_name}`. Call [`groupStats.list`](https://cloud.google.com/error-reporting/reference/rest/v1beta1/projects.groupStats/list) to return a list of groups belonging to this project. Example: `projects/my-project-123/groups/my-group`"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/groups/{groupsId}",
              "parameterOrder": [
                "groupName"
              ],
              "id": "clouderrorreporting.projects.groups.get",
              "description": "Get the specified group.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "groupStats": {
          "methods": {
            "list": {
              "parameters": {
                "projectName": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: `projects/my-project-123`."
                },
                "timedCountDuration": {
                  "type": "string",
                  "format": "google-duration",
                  "location": "query",
                  "description": "Optional. The preferred duration for a single returned `TimedCount`. If not set, no timed counts are returned."
                },
                "serviceFilter.resourceType": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                  "location": "query"
                },
                "alignmentTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A `next_page_token` provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request."
                },
                "serviceFilter.service": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return per response. Default is 20.",
                  "location": "query",
                  "type": "integer"
                },
                "serviceFilter.version": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version)."
                },
                "groupId": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. List all ErrorGroupStats with these IDs.",
                  "location": "query"
                },
                "timeRange.period": {
                  "enum": [
                    "PERIOD_UNSPECIFIED",
                    "PERIOD_1_HOUR",
                    "PERIOD_6_HOURS",
                    "PERIOD_1_DAY",
                    "PERIOD_1_WEEK",
                    "PERIOD_30_DAYS"
                  ],
                  "location": "query",
                  "description": "Restricts the query to the specified time range.",
                  "type": "string",
                  "enumDescriptions": [
                    "Do not use.",
                    "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                    "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                    "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                    "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                    "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                  ]
                },
                "alignment": {
                  "enumDescriptions": [
                    "No alignment specified.",
                    "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the `alignment_time` provided in the request. The `alignment_time` does not have to be inside the query period but even if it is outside, only time periods are returned which overlap with the query period. A rounded alignment will typically result in a different size of the first or the last time period.",
                    "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the end of the requested time period. This can result in a different size of the first time period."
                  ],
                  "location": "query",
                  "enum": [
                    "ERROR_COUNT_ALIGNMENT_UNSPECIFIED",
                    "ALIGNMENT_EQUAL_ROUNDED",
                    "ALIGNMENT_EQUAL_AT_END"
                  ],
                  "type": "string",
                  "description": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`."
                },
                "order": {
                  "type": "string",
                  "enum": [
                    "GROUP_ORDER_UNSPECIFIED",
                    "COUNT_DESC",
                    "LAST_SEEN_DESC",
                    "CREATED_DESC",
                    "AFFECTED_USERS_DESC"
                  ],
                  "description": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`.",
                  "location": "query",
                  "enumDescriptions": [
                    "No group order specified.",
                    "Total count of errors in the given time window in descending order.",
                    "Timestamp when the group was last seen in the given time window in descending order.",
                    "Timestamp when the group was created in descending order.",
                    "Number of affected users in the given time window in descending order."
                  ]
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/groupStats",
              "path": "v1beta1/{+projectName}/groupStats",
              "description": "Lists the specified groups.",
              "id": "clouderrorreporting.projects.groupStats.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListGroupStatsResponse"
              },
              "parameterOrder": [
                "projectName"
              ],
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "deleteEvents": {
          "description": "Deletes all error events of a given project.",
          "parameterOrder": [
            "projectName"
          ],
          "flatPath": "v1beta1/projects/{projectsId}/events",
          "parameters": {
            "projectName": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: `projects/my-project-123`.",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DeleteEventsResponse"
          },
          "id": "clouderrorreporting.projects.deleteEvents",
          "path": "v1beta1/{+projectName}/events"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Error Reporting API",
  "schemas": {
    "ServiceContext": {
      "id": "ServiceContext",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Type of the MonitoredResource. List of possible values: https://cloud.google.com/monitoring/api/resources Value is set automatically for incoming errors and must not be set when reporting errors."
        },
        "service": {
          "description": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to `version`, which can be changed whenever new code is deployed. Contains the service name for error reports extracted from Google App Engine logs or `default` if the App Engine default service is used.",
          "type": "string"
        },
        "version": {
          "description": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app.",
          "type": "string"
        }
      },
      "description": "Describes a running service that sends errors. Its version changes over time and multiple versions can run in parallel."
    },
    "TrackingIssue": {
      "description": "Information related to tracking the progress on resolving the error.",
      "type": "object",
      "id": "TrackingIssue",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL pointing to a related entry in an issue tracking system. Example: `https://github.com/user/project/issues/4`"
        }
      }
    },
    "ListGroupStatsResponse": {
      "description": "Contains a set of requested error group stats.",
      "type": "object",
      "id": "ListGroupStatsResponse",
      "properties": {
        "errorGroupStats": {
          "description": "The error group stats which match the given request.",
          "items": {
            "$ref": "ErrorGroupStats"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results."
        },
        "timeRangeBegin": {
          "description": "The timestamp specifies the start time to which the request was restricted. The start time is set based on the requested time range. It may be adjusted to a later time if a project has exceeded the storage quota and older data has been deleted.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DeleteEventsResponse": {
      "properties": {},
      "id": "DeleteEventsResponse",
      "description": "Response message for deleting error events.",
      "type": "object"
    },
    "ErrorContext": {
      "description": "A description of the context in which an error occurred. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs.",
      "id": "ErrorContext",
      "properties": {
        "httpRequest": {
          "$ref": "HttpRequestContext",
          "description": "The HTTP request which was processed when the error was triggered."
        },
        "sourceReferences": {
          "items": {
            "$ref": "SourceReference"
          },
          "type": "array",
          "description": "Source code that was used to build the executable which has caused the given error message."
        },
        "user": {
          "type": "string",
          "description": "The user who caused or was affected by the crash. This can be a user ID, an email address, or an arbitrary token that uniquely identifies the user. When sending an error report, leave this field empty if the user was not logged in. In this case the Error Reporting system will use other data, such as remote IP address, to distinguish affected users. See `affected_users_count` in `ErrorGroupStats`."
        },
        "reportLocation": {
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged. For a logged exception this would be the source line where the exception is logged, usually close to the place where it was caught.",
          "$ref": "SourceLocation"
        }
      },
      "type": "object"
    },
    "ErrorEvent": {
      "properties": {
        "context": {
          "$ref": "ErrorContext",
          "description": "Data about the context in which the error occurred."
        },
        "serviceContext": {
          "description": "The `ServiceContext` for which this error was reported.",
          "$ref": "ServiceContext"
        },
        "message": {
          "description": "The stack trace that was reported or logged by the service.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Time when the event occurred as provided in the error report. If the report did not contain a timestamp, the time the error was received by the Error Reporting system is used.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ErrorEvent",
      "description": "An error event which is returned by the Error Reporting system."
    },
    "HttpRequestContext": {
      "properties": {
        "responseStatusCode": {
          "format": "int32",
          "description": "The HTTP response status code for the request.",
          "type": "integer"
        },
        "remoteIp": {
          "description": "The IP address from which the request originated. This can be IPv4, IPv6, or a token which is derived from the IP address, depending on the data that has been provided in the error report.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The type of HTTP request, such as `GET`, `POST`, etc."
        },
        "userAgent": {
          "description": "The user agent information that is provided with the request.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the request.",
          "type": "string"
        },
        "referrer": {
          "description": "The referrer information that is provided with the request.",
          "type": "string"
        }
      },
      "id": "HttpRequestContext",
      "description": "HTTP request data that is related to a reported error. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs.",
      "type": "object"
    },
    "SourceLocation": {
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The source code filename, which can include a truncated relative path, or a full path from a production machine."
        },
        "functionName": {
          "description": "Human-readable name of a function or method. The value can include optional context like the class or package name. For example, `my.package.MyClass.method` in case of Java.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "1-based. 0 indicates that the line number is unknown."
        }
      },
      "type": "object",
      "id": "SourceLocation",
      "description": "Indicates a location in the source code of the service for which errors are reported. `functionName` must be provided by the application when reporting an error, unless the error report contains a `message` with a supported exception stack trace. All fields are optional for the later case."
    },
    "SourceReference": {
      "id": "SourceReference",
      "type": "object",
      "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
        },
        "repository": {
          "type": "string",
          "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\""
        }
      }
    },
    "ListEventsResponse": {
      "type": "object",
      "id": "ListEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results.",
          "type": "string"
        },
        "errorEvents": {
          "items": {
            "$ref": "ErrorEvent"
          },
          "type": "array",
          "description": "The error events which match the given request."
        },
        "timeRangeBegin": {
          "type": "string",
          "description": "The timestamp specifies the start time to which the request was restricted.",
          "format": "google-datetime"
        }
      },
      "description": "Contains a set of requested error events."
    },
    "ErrorGroup": {
      "type": "object",
      "description": "Description of a group of similar error events.",
      "properties": {
        "resolutionStatus": {
          "enum": [
            "RESOLUTION_STATUS_UNSPECIFIED",
            "OPEN",
            "ACKNOWLEDGED",
            "RESOLVED",
            "MUTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Status is unknown.",
            "The error group is not being addressed. This is the default for new groups. It is also used for errors re-occuring after marked RESOLVED.",
            "Error Group manually acknowledged, it can have an issue link attached.",
            "Error Group manually resolved, more events for this group are not expected to occur.",
            "The error group is muted and excluded by default on group stats requests."
          ],
          "description": "Error group's resolution status. An unspecified resolution status will be interpreted as OPEN"
        },
        "trackingIssues": {
          "description": "Associated tracking issues.",
          "type": "array",
          "items": {
            "$ref": "TrackingIssue"
          }
        },
        "name": {
          "type": "string",
          "description": "The group resource name. Example: projects/my-project-123/groups/CNSgkpnppqKCUw"
        },
        "groupId": {
          "description": "Group IDs are unique for a given project. If the same kind of error occurs in different service contexts, it will receive the same group ID.",
          "type": "string"
        }
      },
      "id": "ErrorGroup"
    },
    "ErrorGroupStats": {
      "type": "object",
      "id": "ErrorGroupStats",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Approximate total number of events in the given group that match the filter criteria."
        },
        "affectedServices": {
          "items": {
            "$ref": "ServiceContext"
          },
          "type": "array",
          "description": "Service contexts with a non-zero error count for the given filter criteria. This list can be truncated if multiple services are affected. Refer to `num_affected_services` for the total count."
        },
        "affectedUsersCount": {
          "type": "string",
          "description": "Approximate number of affected users in the given group that match the filter criteria. Users are distinguished by data in the `ErrorContext` of the individual error events, such as their login name or their remote IP address in case of HTTP requests. The number of affected users can be zero even if the number of errors is non-zero if no data was provided from which the affected user could be deduced. Users are counted based on data in the request context that was provided in the error report. If more users are implicitly affected, such as due to a crash of the whole service, this is not reflected here.",
          "format": "int64"
        },
        "firstSeenTime": {
          "description": "Approximate first occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request.",
          "type": "string",
          "format": "google-datetime"
        },
        "representative": {
          "description": "An arbitrary event that is chosen as representative for the whole group. The representative event is intended to be used as a quick preview for the whole group. Events in the group are usually sufficiently similar to each other such that showing an arbitrary representative provides insight into the characteristics of the group as a whole.",
          "$ref": "ErrorEvent"
        },
        "lastSeenTime": {
          "description": "Approximate last occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request.",
          "format": "google-datetime",
          "type": "string"
        },
        "group": {
          "$ref": "ErrorGroup",
          "description": "Group data that is independent of the filter criteria."
        },
        "timedCounts": {
          "type": "array",
          "description": "Approximate number of occurrences over time. Timed counts returned by ListGroups are guaranteed to be: - Inside the requested time interval - Non-overlapping, and - Ordered by ascending time.",
          "items": {
            "$ref": "TimedCount"
          }
        },
        "numAffectedServices": {
          "format": "int32",
          "description": "The total number of services with a non-zero error count for the given filter criteria.",
          "type": "integer"
        }
      },
      "description": "Data extracted for a specific group based on certain filter criteria, such as a given time period and/or service filter."
    },
    "TimedCount": {
      "id": "TimedCount",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start of the time period to which `count` refers (included).",
          "format": "google-datetime",
          "type": "string"
        },
        "count": {
          "description": "Approximate number of occurrences in the given time period.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End of the time period to which `count` refers (excluded).",
          "format": "google-datetime"
        }
      },
      "description": "The number of errors in a given time period. All numbers are approximate since the error events are sampled before counting them."
    },
    "ReportErrorEventResponse": {
      "properties": {},
      "description": "Response for reporting an individual error event. Data may be added to this message in the future.",
      "type": "object",
      "id": "ReportErrorEventResponse"
    },
    "ReportedErrorEvent": {
      "type": "object",
      "id": "ReportedErrorEvent",
      "properties": {
        "message": {
          "description": "Required. The error message. If no `context.reportLocation` is provided, the message must contain a header (typically consisting of the exception type name and an error message) and an exception stack trace in one of the supported programming languages and formats. Supported languages are Java, Python, JavaScript, Ruby, C#, PHP, and Go. Supported stack trace formats are: * **Java**: Must be the return value of [`Throwable.printStackTrace()`](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#printStackTrace%28%29). * **Python**: Must be the return value of [`traceback.format_exc()`](https://docs.python.org/2/library/traceback.html#traceback.format_exc). * **JavaScript**: Must be the value of [`error.stack`](https://github.com/v8/v8/wiki/Stack-Trace-API) as returned by V8. * **Ruby**: Must contain frames returned by [`Exception.backtrace`](https://ruby-doc.org/core-2.2.0/Exception.html#method-i-backtrace). * **C#**: Must be the return value of [`Exception.ToString()`](https://msdn.microsoft.com/en-us/library/system.exception.tostring.aspx). * **PHP**: Must start with `PHP (Notice|Parse error|Fatal error|Warning)` and contain the result of [`(string)$exception`](http://php.net/manual/en/exception.tostring.php). * **Go**: Must be the return value of [`runtime.Stack()`](https://golang.org/pkg/runtime/debug/#Stack).",
          "type": "string"
        },
        "serviceContext": {
          "$ref": "ServiceContext",
          "description": "Required. The service context in which this error has occurred."
        },
        "context": {
          "$ref": "ErrorContext",
          "description": "Optional. A description of the context in which the error occurred."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time when the event occurred. If not provided, the time when the event was received by the Error Reporting system will be used."
        }
      },
      "description": "An error event which is reported to the Error Reporting system."
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://clouderrorreporting.googleapis.com/",
  "documentationLink": "https://cloud.google.com/error-reporting/",
  "canonicalName": "Clouderrorreporting",
  "baseUrl": "https://clouderrorreporting.googleapis.com/",
  "mtlsRootUrl": "https://clouderrorreporting.mtls.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "servicePath": ""
}
