{
  "canonicalName": "Systems Management",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/",
  "title": "Cloud OS Config API",
  "discoveryVersion": "v1",
  "id": "osconfig:v1beta",
  "name": "osconfig",
  "rootUrl": "https://osconfig.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "SoftwareRecipeStepInstallDpkg": {
      "description": "Installs a deb via dpkg.",
      "id": "SoftwareRecipeStepInstallDpkg",
      "type": "object",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      }
    },
    "ExecStep": {
      "properties": {
        "linuxExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob."
        },
        "windowsExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob."
        }
      },
      "description": "A step that runs an executable for a PatchJob.",
      "type": "object",
      "id": "ExecStep"
    },
    "File": {
      "properties": {
        "localPath": {
          "description": "A local path to use.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote file.",
          "$ref": "FileRemote"
        },
        "gcs": {
          "description": "A GCS object.",
          "$ref": "FileGcs"
        },
        "allowInsecure": {
          "type": "boolean",
          "description": "Defaults to false. When false, files will be subject to validations based on the file type: Remote: A checksum must be specified. GCS: An object generation number must be specified."
        }
      },
      "type": "object",
      "description": "A remote or local file.",
      "id": "File"
    },
    "GcsObject": {
      "id": "GcsObject",
      "properties": {
        "object": {
          "description": "Required. Name of the Google Cloud Storage object.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Google Cloud Storage object."
        },
        "generationNumber": {
          "description": "Required. Generation number of the Google Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Google Cloud Storage object representation.",
      "type": "object"
    },
    "ExecutePatchJobRequest": {
      "type": "object",
      "properties": {
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this patch job. This does not have to be unique."
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy of the patch job."
        },
        "instanceFilter": {
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels.",
          "$ref": "PatchInstanceFilter"
        },
        "dryRun": {
          "type": "boolean",
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing."
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ExecutePatchJobRequest",
      "description": "A request message to initiate patching across Compute Engine instances."
    },
    "GuestPolicy": {
      "description": "An OS Config resource representing a guest configuration policy. These policies represent the desired state for VM instance guest environments including packages to install or remove, package repository configurations, and software to install.",
      "id": "GuestPolicy",
      "properties": {
        "assignment": {
          "description": "Required. Specifies the VM instances that are assigned to this policy. This allows you to target sets or groups of VM instances by different parameters such as labels, names, OS, or zones. If left empty, all VM instances underneath this policy are targeted. At the same level in the resource hierarchy (that is within a project), the service prevents the creation of multiple policies that conflict with each other. For more information, see how the service [handles assignment conflicts](/compute/docs/os-config-management/create-guest-policy#handle-conflicts).",
          "$ref": "Assignment"
        },
        "etag": {
          "type": "string",
          "description": "The etag for this guest policy. If this is provided on update, it must match the server's etag."
        },
        "packageRepositories": {
          "description": "A list of package repositories to configure on the VM instance. This is done before any other configs are applied so they can use these repos. Package repositories are only configured if the corresponding package manager(s) are available.",
          "type": "array",
          "items": {
            "$ref": "PackageRepository"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time this guest policy was created."
        },
        "recipes": {
          "description": "A list of Recipes to install on the VM instance.",
          "type": "array",
          "items": {
            "$ref": "SoftwareRecipe"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`."
        },
        "updateTime": {
          "description": "Output only. Last time this guest policy was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the guest policy. Length of the description is limited to 1024 characters."
        },
        "packages": {
          "description": "The software packages to be managed by this policy.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EffectiveGuestPolicySourcedSoftwareRecipe": {
      "id": "EffectiveGuestPolicySourcedSoftwareRecipe",
      "description": "A guest policy recipe including its source.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "softwareRecipe": {
          "description": "A software recipe to configure on the VM instance.",
          "$ref": "SoftwareRecipe"
        }
      }
    },
    "LookupEffectiveGuestPolicyRequest": {
      "description": "A request message for getting the effective guest policy assigned to the instance.",
      "id": "LookupEffectiveGuestPolicyRequest",
      "type": "object",
      "properties": {
        "osArchitecture": {
          "description": "Architecture of OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        },
        "osShortName": {
          "type": "string",
          "description": "Short name of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance."
        },
        "osVersion": {
          "description": "Version of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that VM instance.",
          "type": "string"
        }
      }
    },
    "PatchInstanceFilterGroupLabel": {
      "type": "object",
      "description": "Represents a group of VMs that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter."
        }
      },
      "id": "PatchInstanceFilterGroupLabel"
    },
    "EffectiveGuestPolicySourcedPackageRepository": {
      "id": "EffectiveGuestPolicySourcedPackageRepository",
      "type": "object",
      "properties": {
        "packageRepository": {
          "description": "A software package repository to configure on the VM instance.",
          "$ref": "PackageRepository"
        },
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        }
      },
      "description": "A guest policy package repository including its source."
    },
    "PackageResourceMSI": {
      "type": "object",
      "id": "PackageResourceMSI",
      "description": "An MSI package. MSI packages only support INSTALLED state. Install msiexec /i /qn /norestart",
      "properties": {
        "flags": {
          "description": "Flags to use during package install. Appended to the defalts of \"/i /qn /norestart\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedSuccessCodes": {
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "source": {
          "description": "The MSI package.",
          "$ref": "File"
        }
      }
    },
    "Assignment": {
      "id": "Assignment",
      "description": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones.",
      "type": "object",
      "properties": {
        "osTypes": {
          "type": "array",
          "items": {
            "$ref": "AssignmentOsType"
          },
          "description": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included."
        },
        "instances": {
          "description": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zones": {
          "description": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupLabels": {
          "type": "array",
          "description": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\".",
          "items": {
            "$ref": "AssignmentGroupLabel"
          }
        },
        "instanceNamePrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies.",
          "type": "array"
        }
      }
    },
    "ListPatchJobInstanceDetailsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        },
        "patchJobInstanceDetails": {
          "description": "A list of instance status.",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "type": "array"
        }
      },
      "description": "A response message for listing the instances details for a patch job.",
      "id": "ListPatchJobInstanceDetailsResponse",
      "type": "object"
    },
    "ListPatchJobsResponse": {
      "properties": {
        "patchJobs": {
          "type": "array",
          "items": {
            "$ref": "PatchJob"
          },
          "description": "The list of patch jobs."
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      },
      "id": "ListPatchJobsResponse",
      "type": "object",
      "description": "A response message for listing patch jobs."
    },
    "GooRepository": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The url of the repository."
        },
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        }
      },
      "description": "Represents a Goo package repository. These is added to a repo file that is stored at C:/ProgramData/GooGet/repos/google_osconfig.repo.",
      "id": "GooRepository"
    },
    "PackageResource": {
      "description": "A resource that manages a system package.",
      "properties": {
        "msi": {
          "$ref": "PackageResourceMSI",
          "description": "An MSI package."
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "PackageResourceDeb"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "PackageResourceYUM"
        },
        "zypper": {
          "$ref": "PackageResourceZypper",
          "description": "A package managed by Zypper."
        },
        "apt": {
          "$ref": "PackageResourceAPT",
          "description": "A package managed by Apt."
        },
        "googet": {
          "$ref": "PackageResourceGooGet",
          "description": "A package managed by GooGet."
        },
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "PackageResourceRPM"
        },
        "desiredState": {
          "description": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent will ensure that the package is not installed and uninstall it if detected."
          ],
          "type": "string"
        }
      },
      "id": "PackageResource",
      "type": "object"
    },
    "PatchInstanceFilter": {
      "properties": {
        "groupLabels": {
          "description": "Targets VM instances matching at least one of these label sets. This allows targeting of disparate groups, for example \"env=prod or env=staging\".",
          "type": "array",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          }
        },
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "zones": {
          "type": "array",
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "items": {
            "type": "string"
          }
        },
        "instanceNamePrefixes": {
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instances": {
          "items": {
            "type": "string"
          },
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PatchInstanceFilter",
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones."
    },
    "AptSettings": {
      "id": "AptSettings",
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "properties": {
        "exclusivePackages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields."
        },
        "type": {
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead."
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages will be excluded"
        }
      },
      "type": "object"
    },
    "SoftwareRecipeStep": {
      "id": "SoftwareRecipeStep",
      "description": "An action that can be taken as part of installing or updating a recipe.",
      "properties": {
        "rpmInstallation": {
          "$ref": "SoftwareRecipeStepInstallRpm",
          "description": "Installs an rpm file via the rpm utility."
        },
        "msiInstallation": {
          "$ref": "SoftwareRecipeStepInstallMsi",
          "description": "Installs an MSI file."
        },
        "scriptRun": {
          "description": "Runs commands in a shell.",
          "$ref": "SoftwareRecipeStepRunScript"
        },
        "dpkgInstallation": {
          "description": "Installs a deb file via dpkg.",
          "$ref": "SoftwareRecipeStepInstallDpkg"
        },
        "fileCopy": {
          "$ref": "SoftwareRecipeStepCopyFile",
          "description": "Copies a file onto the instance."
        },
        "fileExec": {
          "description": "Executes an artifact or local file.",
          "$ref": "SoftwareRecipeStepExecFile"
        },
        "archiveExtraction": {
          "description": "Extracts an archive into the specified directory.",
          "$ref": "SoftwareRecipeStepExtractArchive"
        }
      },
      "type": "object"
    },
    "RepositoryResourceAptRepository": {
      "type": "object",
      "id": "RepositoryResourceAptRepository",
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at /etc/apt/sources.list.d/google_osconfig.list.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for this repository."
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of components for this repository. Must contain at least one item."
        },
        "distribution": {
          "description": "Distribution of this repository.",
          "type": "string"
        },
        "archiveType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ],
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "description": "Type of archive files in this repository. The default behavior is DEB."
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent will maintain a keyring at /etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg.",
          "type": "string"
        }
      }
    },
    "WindowsUpdateSettings": {
      "properties": {
        "excludes": {
          "description": "List of KBs to exclude from update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classifications": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "type": "string",
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ]
          },
          "enumDescriptions": [
            "Invalid. If classifications are included, they must be specified.",
            "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
            "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
            "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
            "\"Software that controls the input and output of a device.\" [1]",
            "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
            "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
            "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
            "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
            "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
          ],
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied."
        },
        "exclusivePatches": {
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Windows patching is performed using the Windows Update Agent.",
      "id": "WindowsUpdateSettings"
    },
    "RepositoryResourceZypperRepository": {
      "description": "Represents a single zypper package repository. These will be added to a repo file that will be managed at /etc/zypp/repos.d/google_osconfig.repo.",
      "type": "object",
      "properties": {
        "id": {
          "description": "A one word, unique name for this repository. This will be the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        },
        "baseUrl": {
          "type": "string",
          "description": "The location of the repository directory."
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        }
      },
      "id": "RepositoryResourceZypperRepository"
    },
    "EffectiveGuestPolicySourcedPackage": {
      "description": "A guest policy package including its source.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Name of the guest policy providing this config."
        },
        "package": {
          "description": "A software package to configure on the VM instance.",
          "$ref": "Package"
        }
      },
      "type": "object",
      "id": "EffectiveGuestPolicySourcedPackage"
    },
    "ExecResourceExec": {
      "type": "object",
      "description": "A file or script to execute.",
      "id": "ExecResourceExec",
      "properties": {
        "script": {
          "type": "string",
          "description": "An inline script."
        },
        "args": {
          "type": "array",
          "description": "Arguments to use.",
          "items": {
            "type": "string"
          }
        },
        "allowedSuccessCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Exit codes that indicate success."
        },
        "interpreter": {
          "type": "string",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "enumDescriptions": [
            "Defaults to NONE.",
            "If no interpreter is specified the source will be executed directly, which will likely only succeed for executables and scripts with shebang lines. [Wikipedia shebang](https://en.wikipedia.org/wiki/Shebang_(Unix)).",
            "Indicates that the script will be run with /bin/sh on Linux and cmd.exe on windows.",
            "Indicates that the script will be run with powershell."
          ],
          "description": "The script interpreter to use."
        },
        "file": {
          "description": "A remote or local file.",
          "$ref": "File"
        }
      }
    },
    "ListGuestPoliciesResponse": {
      "type": "object",
      "properties": {
        "guestPolicies": {
          "type": "array",
          "items": {
            "$ref": "GuestPolicy"
          },
          "description": "The list of GuestPolicies."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of guest policies."
        }
      },
      "description": "A response message for listing guest policies.",
      "id": "ListGuestPoliciesResponse"
    },
    "FileRemote": {
      "id": "FileRemote",
      "type": "object",
      "description": "Specifies a file available via some URI.",
      "properties": {
        "sha256Checksum": {
          "type": "string",
          "description": "SHA256 checksum of the remote file."
        },
        "uri": {
          "type": "string",
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}."
        }
      }
    },
    "WeekDayOfMonth": {
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "type": "object",
      "properties": {
        "weekOrdinal": {
          "type": "integer",
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "format": "int32"
        },
        "dayOfWeek": {
          "type": "string",
          "description": "Required. A day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "id": "WeekDayOfMonth"
    },
    "RecurringSchedule": {
      "type": "object",
      "id": "RecurringSchedule",
      "description": "Sets the time for recurring patch deployments.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment."
        },
        "lastExecuteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the last patch job ran successfully."
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active."
        },
        "nextExecuteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the next patch job is scheduled to run."
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
        },
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Required. Time of the day to run a recurring deployment."
        },
        "frequency": {
          "description": "Required. The frequency unit of this recurring schedule.",
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency should be expressed in terms of weeks.",
            "Indicates that the frequency should be expressed in terms of months."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ]
        }
      }
    },
    "SoftwareRecipeStepInstallMsi": {
      "type": "object",
      "properties": {
        "flags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag)."
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "allowedExitCodes": {
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "id": "SoftwareRecipeStepInstallMsi",
      "description": "Installs an MSI file."
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object",
      "id": "TimeOfDay"
    },
    "SoftwareRecipeArtifactRemote": {
      "properties": {
        "checksum": {
          "type": "string",
          "description": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps."
        },
        "uri": {
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}.",
          "type": "string"
        }
      },
      "description": "Specifies an artifact available via some URI.",
      "type": "object",
      "id": "SoftwareRecipeArtifactRemote"
    },
    "PackageResourceZypper": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Package name."
        }
      },
      "type": "object",
      "id": "PackageResourceZypper",
      "description": "A package managed by Zypper. install: `zypper -y install package` remove: `zypper -y rm package`"
    },
    "PackageResourceRPM": {
      "type": "object",
      "id": "PackageResourceRPM",
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. install when false: `rpm --upgrade --replacepkgs package.rpm` install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        },
        "source": {
          "description": "An rpm package.",
          "$ref": "File"
        }
      }
    },
    "SoftwareRecipe": {
      "description": "A software recipe is a set of instructions for installing and configuring a piece of software. It consists of a set of artifacts that are downloaded, and a set of steps that install, configure, and/or update the software. Recipes support installing and updating software from artifacts in the following formats: Zip archive, Tar archive, Windows MSI, Debian package, and RPM package. Additionally, recipes support executing a script (either defined in a file or directly in this api) in bash, sh, cmd, and powershell. Updating a software recipe If a recipe is assigned to an instance and there is a recipe with the same name but a lower version already installed and the assigned state of the recipe is `UPDATED`, then the recipe is updated to the new version. Script Working Directories Each script or execution step is run in its own temporary directory which is deleted after completing the step.",
      "id": "SoftwareRecipe",
      "properties": {
        "installSteps": {
          "description": "Actions to be taken for installing this recipe. On failure it stops executing steps and does not attempt another installation. Any steps taken (including partially completed steps) are not rolled back.",
          "items": {
            "$ref": "SoftwareRecipeStep"
          },
          "type": "array"
        },
        "artifacts": {
          "type": "array",
          "description": "Resources available to be used in the steps in the recipe.",
          "items": {
            "$ref": "SoftwareRecipeArtifact"
          }
        },
        "updateSteps": {
          "type": "array",
          "description": "Actions to be taken for updating this recipe. On failure it stops executing steps and does not attempt another update for this recipe. Any steps taken (including partially completed steps) are not rolled back.",
          "items": {
            "$ref": "SoftwareRecipeStep"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the recipe. Only one recipe with a given name is installed on an instance. Names are also used to identify resources which helps to determine whether guest policies have conflicts. This means that requests to create multiple recipes with the same name and version are rejected since they could potentially have conflicting assignments."
        },
        "version": {
          "description": "The version of this software recipe. Version can be up to 4 period separated numbers (e.g. 12.34.56.78).",
          "type": "string"
        },
        "desiredState": {
          "type": "string",
          "description": "Default is INSTALLED. The desired state the agent should maintain for this recipe. INSTALLED: The software recipe is installed on the instance but won't be updated to new versions. UPDATED: The software recipe is installed on the instance. The recipe is updated to a higher version, if a higher version of the recipe is assigned to this instance. REMOVE: Remove is unsupported for software recipes and attempts to create or update a recipe to the REMOVE state is rejected.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ]
        }
      },
      "type": "object"
    },
    "PatchDeployment": {
      "id": "PatchDeployment",
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "type": "object",
      "properties": {
        "lastExecuteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "name": {
          "type": "string",
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment."
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "updateTime": {
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "oneTimeSchedule": {
          "$ref": "OneTimeSchedule",
          "description": "Required. Schedule a one-time execution."
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Optional. Patch configuration that is applied."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "AssignmentGroupLabel": {
      "id": "AssignmentGroupLabel",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\"."
    },
    "WeeklySchedule": {
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Required. Day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "id": "WeeklySchedule",
      "description": "Represents a weekly schedule."
    },
    "PatchConfig": {
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance.",
      "id": "PatchConfig",
      "properties": {
        "windowsUpdate": {
          "$ref": "WindowsUpdateSettings",
          "description": "Windows update settings. Use this override the default windows patch rules."
        },
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules.",
          "$ref": "ZypperSettings"
        },
        "goo": {
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules.",
          "$ref": "GooSettings"
        },
        "postStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run after the patch update."
        },
        "rebootConfig": {
          "type": "string",
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "description": "Post-patch reboot settings.",
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ]
        },
        "apt": {
          "$ref": "AptSettings",
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules."
        },
        "preStep": {
          "description": "The `ExecStep` to run before the patch update.",
          "$ref": "ExecStep"
        },
        "yum": {
          "$ref": "YumSettings",
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules."
        }
      },
      "type": "object"
    },
    "PackageResourceYUM": {
      "type": "object",
      "description": "A package managed by YUM. install: `yum -y install package` remove: `yum -y remove package`",
      "id": "PackageResourceYUM",
      "properties": {
        "name": {
          "description": "Package name.",
          "type": "string"
        }
      }
    },
    "SoftwareRecipeStepExecFile": {
      "type": "object",
      "properties": {
        "args": {
          "type": "array",
          "description": "Arguments to be passed to the provided executable.",
          "items": {
            "type": "string"
          }
        },
        "artifactId": {
          "type": "string",
          "description": "The id of the relevant artifact in the recipe."
        },
        "allowedExitCodes": {
          "description": "Defaults to [0]. A list of possible return values that the program can return to indicate a success.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "localPath": {
          "type": "string",
          "description": "The absolute path of the file on the local filesystem."
        }
      },
      "id": "SoftwareRecipeStepExecFile",
      "description": "Executes an artifact or local file."
    },
    "FileResource": {
      "type": "object",
      "properties": {
        "content": {
          "description": "A a file with this content.",
          "type": "string"
        },
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The absolute path of the file."
        },
        "file": {
          "description": "A remote or local source.",
          "$ref": "File"
        },
        "state": {
          "type": "string",
          "description": "Desired state of the file.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ]
        }
      },
      "id": "FileResource",
      "description": "A resource that manages the state of a file."
    },
    "AptRepository": {
      "type": "object",
      "id": "AptRepository",
      "description": "Represents a single Apt package repository. This repository is added to a repo file that is stored at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "properties": {
        "uri": {
          "description": "Required. URI for this repository.",
          "type": "string"
        },
        "components": {
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "archiveType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "DEB indicates that the archive contains binary files.",
            "DEB_SRC indicates that the archive contains source files."
          ],
          "description": "Type of archive files in this repository. The default behavior is DEB.",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ]
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg` containing all the keys in any applied guest policy.",
          "type": "string"
        }
      }
    },
    "PatchRollout": {
      "id": "PatchRollout",
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "properties": {
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        },
        "mode": {
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "description": "Mode of the patch rollout.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ]
        }
      },
      "type": "object"
    },
    "RepositoryResource": {
      "type": "object",
      "id": "RepositoryResource",
      "properties": {
        "apt": {
          "$ref": "RepositoryResourceAptRepository",
          "description": "An Apt Repository."
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "RepositoryResourceZypperRepository"
        },
        "goo": {
          "$ref": "RepositoryResourceGooRepository",
          "description": "A Goo Repository."
        },
        "yum": {
          "$ref": "RepositoryResourceYumRepository",
          "description": "A Yum Repository."
        }
      },
      "description": "A resource that manages a package repository."
    },
    "SoftwareRecipeArtifactGcs": {
      "type": "object",
      "id": "SoftwareRecipeArtifactGcs",
      "properties": {
        "object": {
          "description": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`.",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "description": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`.",
          "format": "int64"
        },
        "bucket": {
          "description": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`.",
          "type": "string"
        }
      },
      "description": "Specifies an artifact available as a Google Cloud Storage object."
    },
    "SoftwareRecipeStepExtractArchive": {
      "type": "object",
      "description": "Extracts an archive of the type specified in the specified directory.",
      "id": "SoftwareRecipeStepExtractArchive",
      "properties": {
        "destination": {
          "description": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Indicates that the archive type isn't specified.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ],
          "type": "string",
          "description": "Required. The type of the archive to extract.",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ]
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      }
    },
    "SoftwareRecipeStepInstallRpm": {
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      },
      "id": "SoftwareRecipeStepInstallRpm",
      "description": "Installs an rpm file via the rpm utility.",
      "type": "object"
    },
    "ZypperSettings": {
      "id": "ZypperSettings",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual.",
      "type": "object",
      "properties": {
        "exclusivePatches": {
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low."
        },
        "withOptional": {
          "description": "Adds the `--with-optional` flag to `zypper patch`.",
          "type": "boolean"
        },
        "withUpdate": {
          "description": "Adds the `--with-update` flag, to `zypper patch`.",
          "type": "boolean"
        },
        "categories": {
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of patches to exclude from update."
        }
      }
    },
    "ExecStepConfig": {
      "id": "ExecStepConfig",
      "type": "object",
      "description": "Common configurations for an ExecStep.",
      "properties": {
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        },
        "allowedSuccessCodes": {
          "type": "array",
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "interpreter": {
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string",
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enumDescriptions": [
            "Invalid for a Windows ExecStepConfig. For a Linux ExecStepConfig, the interpreter will be parsed from the shebang line of the script if unspecified.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell flags `-NonInteractive`, `-NoProfile`, and `-ExecutionPolicy Bypass`."
          ]
        },
        "gcsObject": {
          "$ref": "GcsObject",
          "description": "A Google Cloud Storage object containing the executable."
        }
      }
    },
    "Package": {
      "description": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`",
      "id": "Package",
      "type": "object",
      "properties": {
        "desiredState": {
          "type": "string",
          "description": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed.",
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the package. A package is uniquely identified for conflict validation by checking the package name and the manager(s) that the package targets."
        },
        "manager": {
          "enum": [
            "MANAGER_UNSPECIFIED",
            "ANY",
            "APT",
            "YUM",
            "ZYPPER",
            "GOO"
          ],
          "enumDescriptions": [
            "The default behavior is ANY.",
            "Apply this package config using the default system package manager.",
            "Apply this package config only if Apt is available on the system.",
            "Apply this package config only if Yum is available on the system.",
            "Apply this package config only if Zypper is available on the system.",
            "Apply this package config only if GooGet is available on the system."
          ],
          "description": "Type of package manager that can be used to install this package. If a system does not have the package manager, the package is not installed or removed no error message is returned. By default, or if you specify `ANY`, the agent attempts to install and remove this package using the default package manager. This is useful when creating a policy that applies to different types of systems. The default behavior is ANY.",
          "type": "string"
        }
      }
    },
    "ZypperRepository": {
      "id": "ZypperRepository",
      "description": "Represents a single Zypper package repository. This repository is added to a repo file that is stored at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "type": "object",
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "gpgKeys": {
          "items": {
            "type": "string"
          },
          "description": "URIs of GPG keys.",
          "type": "array"
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts.",
          "type": "string"
        }
      }
    },
    "ExecResource": {
      "id": "ExecResource",
      "description": "A resource that contains custom validation and enforcement steps.",
      "properties": {
        "validate": {
          "$ref": "ExecResourceExec",
          "description": "What to run to validate this resource is in the desired state. A successful exit code indicates resource is in the desired state."
        },
        "enforce": {
          "description": "What to run to bring this resource into the desired state. Optional if policy is in validate only mode.",
          "$ref": "ExecResourceExec"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "SoftwareRecipeStepCopyFile": {
      "type": "object",
      "id": "SoftwareRecipeStepCopyFile",
      "description": "Copies the artifact to the specified path on the instance.",
      "properties": {
        "overwrite": {
          "type": "boolean",
          "description": "Whether to allow this step to overwrite existing files. If this is false and the file already exists the file is not overwritten and the step is considered a success. Defaults to false."
        },
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "destination": {
          "description": "Required. The absolute path on the instance to put the file.",
          "type": "string"
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      }
    },
    "FileGcs": {
      "type": "object",
      "properties": {
        "object": {
          "description": "Name of the GCS object.",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Generation number of the GCS object."
        },
        "bucket": {
          "type": "string",
          "description": "Bucket of the GCS object."
        }
      },
      "id": "FileGcs",
      "description": "Specifies a file available as a GCS Object."
    },
    "PackageResourceGooGet": {
      "type": "object",
      "description": "A package managed by GooGet. install: `googet -noconfirm install package` remove: `googet -noconfirm remove package`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Package name."
        }
      },
      "id": "PackageResourceGooGet"
    },
    "PatchJobInstanceDetailsSummary": {
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "properties": {
        "succeededRebootRequiredInstanceCount": {
          "type": "string",
          "description": "Number of instances that require reboot.",
          "format": "int64"
        },
        "ackedInstanceCount": {
          "type": "string",
          "description": "Number of instances that have acked and will start shortly.",
          "format": "int64"
        },
        "failedInstanceCount": {
          "type": "string",
          "description": "Number of instances that failed.",
          "format": "int64"
        },
        "noAgentDetectedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
        },
        "applyingPatchesInstanceCount": {
          "type": "string",
          "description": "Number of instances that are applying patches.",
          "format": "int64"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "format": "int64",
          "type": "string"
        },
        "rebootingInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances rebooting."
        },
        "timedOutInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that exceeded the time out while applying the patch."
        },
        "pendingInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances pending patch job."
        },
        "postPatchStepInstanceCount": {
          "description": "Number of instances that are running the post-patch step.",
          "format": "int64",
          "type": "string"
        },
        "prePatchStepInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that are running the pre-patch step."
        },
        "notifiedInstanceCount": {
          "description": "Number of instances notified about patch job.",
          "type": "string",
          "format": "int64"
        },
        "downloadingPatchesInstanceCount": {
          "description": "Number of instances that are downloading patches.",
          "format": "int64",
          "type": "string"
        },
        "inactiveInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are inactive."
        },
        "succeededInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that have completed successfully."
        }
      },
      "id": "PatchJobInstanceDetailsSummary",
      "type": "object"
    },
    "FixedOrPercent": {
      "type": "object",
      "properties": {
        "fixed": {
          "format": "int32",
          "description": "Specifies a fixed value.",
          "type": "integer"
        },
        "percent": {
          "type": "integer",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "format": "int32"
        }
      },
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
    },
    "MonthlySchedule": {
      "properties": {
        "weekDayOfMonth": {
          "$ref": "WeekDayOfMonth",
          "description": "Required. Week day in a month."
        },
        "monthDay": {
          "type": "integer",
          "format": "int32",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc."
        }
      },
      "id": "MonthlySchedule",
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "type": "object",
      "properties": {
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is defined by the server.",
          "type": "string"
        },
        "state": {
          "description": "Current state of instance patch.",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          ]
        },
        "name": {
          "type": "string",
          "description": "The instance name in the form `projects/*/zones/*/instances/*`"
        },
        "attemptCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times the agent that the agent attempts to apply the patch."
        },
        "failureReason": {
          "type": "string",
          "description": "If the patch fails, this field provides the reason."
        }
      },
      "id": "PatchJobInstanceDetails",
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details)."
    },
    "GooSettings": {
      "id": "GooSettings",
      "type": "object",
      "properties": {},
      "description": "Googet patching is performed by running `googet update`."
    },
    "PackageRepository": {
      "type": "object",
      "id": "PackageRepository",
      "properties": {
        "goo": {
          "$ref": "GooRepository",
          "description": "A Goo Repository."
        },
        "apt": {
          "$ref": "AptRepository",
          "description": "An Apt Repository."
        },
        "yum": {
          "$ref": "YumRepository",
          "description": "A Yum Repository."
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "ZypperRepository"
        }
      },
      "description": "A package repository."
    },
    "RepositoryResourceYumRepository": {
      "type": "object",
      "description": "Represents a single yum package repository. These will be added to a repo file that will be managed at /etc/yum.repos.d/google_osconfig.repo.",
      "id": "RepositoryResourceYumRepository",
      "properties": {
        "id": {
          "description": "A one word, unique name for this repository. This will be the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "description": "The location of the repository directory.",
          "type": "string"
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        }
      }
    },
    "OneTimeSchedule": {
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "type": "object",
      "properties": {
        "executeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The desired patch job execution time."
        }
      },
      "id": "OneTimeSchedule"
    },
    "CancelPatchJobRequest": {
      "id": "CancelPatchJobRequest",
      "description": "Message for canceling a patch job.",
      "properties": {},
      "type": "object"
    },
    "ServiceResource": {
      "description": "A resource that manages a system service.",
      "id": "ServiceResource",
      "type": "object",
      "properties": {}
    },
    "PackageResourceAPT": {
      "description": "A package managed by APT. install: `apt-get update && apt-get -y install [name]` remove: `apt-get -y remove [name]`",
      "type": "object",
      "properties": {
        "name": {
          "description": "Package name.",
          "type": "string"
        }
      },
      "id": "PackageResourceAPT"
    },
    "ExtractArchiveResource": {
      "id": "ExtractArchiveResource",
      "properties": {
        "overwrite": {
          "type": "boolean",
          "description": "Whether to overwrite existing files during extraction. If this is set to true, any existing files in the destination location will be overwritten by the extraction."
        },
        "destination": {
          "type": "string",
          "description": "Directory to extract archive to."
        },
        "source": {
          "$ref": "File",
          "description": "The source archive to extract."
        },
        "creates": {
          "type": "string",
          "description": "Local file path that signals this resource is in the desired state. The absence of this file will indicate whether the archive needs to be extracted."
        },
        "type": {
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ],
          "description": "The type of the archive to extract.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ]
        }
      },
      "description": "A resource that extracts an archive",
      "type": "object"
    },
    "YumSettings": {
      "id": "YumSettings",
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "type": "object",
      "properties": {
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "type": "array"
        },
        "security": {
          "type": "boolean",
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms."
        },
        "minimal": {
          "type": "boolean",
          "description": "Will cause patch to run `yum update-minimal` instead."
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SoftwareRecipeArtifact": {
      "id": "SoftwareRecipeArtifact",
      "properties": {
        "id": {
          "description": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id.",
          "type": "string"
        },
        "gcs": {
          "$ref": "SoftwareRecipeArtifactGcs",
          "description": "A Google Cloud Storage artifact."
        },
        "allowInsecure": {
          "type": "boolean",
          "description": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified."
        },
        "remote": {
          "$ref": "SoftwareRecipeArtifactRemote",
          "description": "A generic remote artifact."
        }
      },
      "description": "Specifies a resource to be used in the recipe.",
      "type": "object"
    },
    "EffectiveGuestPolicy": {
      "type": "object",
      "id": "EffectiveGuestPolicy",
      "description": "The effective guest policy that applies to a VM instance.",
      "properties": {
        "softwareRecipes": {
          "type": "array",
          "description": "List of recipes assigned to the VM instance.",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedSoftwareRecipe"
          }
        },
        "packageRepositories": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackageRepository"
          },
          "description": "List of package repository configurations assigned to the VM instance.",
          "type": "array"
        },
        "packages": {
          "description": "List of package configurations assigned to the VM instance.",
          "type": "array",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackage"
          }
        }
      }
    },
    "PackageResourceDeb": {
      "id": "PackageResourceDeb",
      "description": "A deb package file. dpkg packages only support INSTALLED state.",
      "type": "object",
      "properties": {
        "source": {
          "description": "A deb package.",
          "$ref": "File"
        },
        "pullDeps": {
          "type": "boolean",
          "description": "Whether dependencies should also be installed. install when false: `dpkg -i package` install when true: `apt-get update && apt-get -y install package.deb`"
        }
      }
    },
    "ListPatchDeploymentsResponse": {
      "description": "A response message for listing patch deployments.",
      "id": "ListPatchDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        },
        "patchDeployments": {
          "items": {
            "$ref": "PatchDeployment"
          },
          "description": "The list of patch deployments.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PatchJob": {
      "properties": {
        "percentComplete": {
          "format": "double",
          "type": "number",
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete."
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "instanceDetailsSummary": {
          "$ref": "PatchJobInstanceDetailsSummary",
          "description": "Summary of instance details."
        },
        "errorMessage": {
          "type": "string",
          "description": "If this patch job failed, this message provides information about the failure."
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited to 1024 characters."
        },
        "name": {
          "type": "string",
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`"
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "duration": {
          "type": "string",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "format": "google-duration"
        },
        "state": {
          "description": "The current state of the PatchJob.",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        },
        "patchDeployment": {
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "readOnly": true,
          "type": "string"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Instances to patch."
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time this patch job was updated.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time this patch job was created."
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PatchJob",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job)."
    },
    "RepositoryResourceGooRepository": {
      "description": "Represents a Goo package repository. These will be added to a repo file that will be managed at C:/ProgramData/GooGet/repos/google_osconfig.repo.",
      "id": "RepositoryResourceGooRepository",
      "properties": {
        "name": {
          "description": "The name of the repository.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The url of the repository."
        }
      },
      "type": "object"
    },
    "AssignmentOsType": {
      "description": "Defines the criteria for selecting VM Instances by OS type.",
      "properties": {
        "osShortName": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\"."
        },
        "osArchitecture": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS architecture.",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following following OS version."
        }
      },
      "type": "object",
      "id": "AssignmentOsType"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "SoftwareRecipeStepRunScript": {
      "properties": {
        "script": {
          "type": "string",
          "description": "Required. The shell script to be executed."
        },
        "allowedExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "type": "array"
        },
        "interpreter": {
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script is executed directly, which likely only succeed for scripts with [shebang lines](https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enumDescriptions": [
            "Default value for ScriptType.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on windows.",
            "Indicates that the script is run with powershell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string"
        }
      },
      "id": "SoftwareRecipeStepRunScript",
      "description": "Runs a script through an interpreter.",
      "type": "object"
    },
    "YumRepository": {
      "description": "Represents a single Yum package repository. This repository is added to a repo file that is stored at `/etc/yum.repos.d/google_osconfig.repo`.",
      "type": "object",
      "id": "YumRepository",
      "properties": {
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the Yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "revision": "20200807",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://osconfig.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "zones": {
          "resources": {
            "instances": {
              "methods": {
                "lookupEffectiveGuestPolicy": {
                  "parameters": {
                    "instance": {
                      "required": true,
                      "description": "Required. The VM instance whose policies are being looked up.",
                      "pattern": "^projects/[^/]+/zones/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/zones/{zonesId}/instances/{instancesId}:lookupEffectiveGuestPolicy",
                  "path": "v1beta/{+instance}:lookupEffectiveGuestPolicy",
                  "id": "osconfig.projects.zones.instances.lookupEffectiveGuestPolicy",
                  "description": "Lookup the effective guest policy that applies to a VM instance. This lookup merges all policies that are assigned to the instance ancestry.",
                  "parameterOrder": [
                    "instance"
                  ],
                  "response": {
                    "$ref": "EffectiveGuestPolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "LookupEffectiveGuestPolicyRequest"
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "patchJobs": {
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "path": "v1beta/{+parent}/instanceDetails",
                  "description": "Get a list of instance details for a given patch job.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`."
[...]
