{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "resources": {
    "folders": {
      "methods": {
        "getOrgPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GetOrgPolicyRequest"
          },
          "flatPath": "v1/folders/{foldersId}:getOrgPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "Name of the resource the `Policy` is set on.",
              "pattern": "^folders/[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets a `Policy` on a resource.\n\nIf no `Policy` is set on the resource, a `Policy` is returned with default\nvalues including `POLICY_TYPE_NOT_SET` for the `policy_type oneof`. The\n`etag` value can be used with `SetOrgPolicy()` to create or update a\n`Policy` during read-modify-write.",
          "path": "v1/{+resource}:getOrgPolicy",
          "response": {
            "$ref": "OrgPolicy"
          },
          "id": "cloudresourcemanager.folders.getOrgPolicy"
        },
        "listOrgPolicies": {
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "description": "Name of the resource to list Policies for.",
              "required": true
            }
          },
          "path": "v1/{+resource}:listOrgPolicies",
          "response": {
            "$ref": "ListOrgPoliciesResponse"
          },
          "request": {
            "$ref": "ListOrgPoliciesRequest"
          },
          "id": "cloudresourcemanager.folders.listOrgPolicies",
          "parameterOrder": [
            "resource"
          ],
          "description": "Lists all the `Policies` set for a particular resource.",
          "flatPath": "v1/folders/{foldersId}:listOrgPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST"
        },
        "setOrgPolicy": {
          "request": {
            "$ref": "SetOrgPolicyRequest"
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "path": "v1/{+resource}:setOrgPolicy",
          "id": "cloudresourcemanager.folders.setOrgPolicy",
          "httpMethod": "POST",
          "description": "Updates the specified `Policy` on the resource. Creates a new `Policy` for\nthat `Constraint` on the resource if one does not exist.\n\nNot supplying an `etag` on the request `Policy` results in an unconditional\nwrite of the `Policy`.",
          "parameters": {
            "resource": {
              "description": "Resource name of the resource to attach the `Policy`.",
              "required": true,
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/folders/{foldersId}:setOrgPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ]
        },
        "listAvailableOrgPolicyConstraints": {
          "flatPath": "v1/folders/{foldersId}:listAvailableOrgPolicyConstraints",
          "path": "v1/{+resource}:listAvailableOrgPolicyConstraints",
          "parameters": {
            "resource": {
              "description": "Name of the resource to list `Constraints` for.",
              "location": "path",
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "ListAvailableOrgPolicyConstraintsResponse"
          },
          "httpMethod": "POST",
          "description": "Lists `Constraints` that could be applied on the specified resource.",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.folders.listAvailableOrgPolicyConstraints",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "ListAvailableOrgPolicyConstraintsRequest"
          }
        },
        "getEffectiveOrgPolicy": {
          "flatPath": "v1/folders/{foldersId}:getEffectiveOrgPolicy",
          "id": "cloudresourcemanager.folders.getEffectiveOrgPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+resource}:getEffectiveOrgPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the resource to start computing the effective `Policy`.",
              "pattern": "^folders/[^/]+$"
            }
          },
          "request": {
            "$ref": "GetEffectiveOrgPolicyRequest"
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the effective `Policy` on a resource. This is the result of merging\n`Policies` in the resource hierarchy. The returned `Policy` will not have\nan `etag`set because it is a computed `Policy` across multiple resources.\nSubtrees of Resource Manager resource hierarchy with 'under:' prefix will\nnot be expanded."
        },
        "clearOrgPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.folders.clearOrgPolicy",
          "flatPath": "v1/folders/{foldersId}:clearOrgPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "description": "Name of the resource for the `Policy` to clear.",
              "pattern": "^folders/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1/{+resource}:clearOrgPolicy",
          "description": "Clears a `Policy` from a resource.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ClearOrgPolicyRequest"
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Returns permissions that a caller has on the specified Organization.\nThe `resource` field should be the organization's resource name,\ne.g. \"organizations/123\".\n\nThere are no permissions required for making this API call.",
          "flatPath": "v1/organizations/{organizationsId}:testIamPermissions",
          "id": "cloudresourcemanager.organizations.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:testIamPermissions"
        },
        "setOrgPolicy": {
          "response": {
            "$ref": "OrgPolicy"
          },
          "id": "cloudresourcemanager.organizations.setOrgPolicy",
          "parameters": {
            "resource": {
              "description": "Resource name of the resource to attach the `Policy`.",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:setOrgPolicy",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetOrgPolicyRequest"
          },
          "flatPath": "v1/organizations/{organizationsId}:setOrgPolicy",
          "description": "Updates the specified `Policy` on the resource. Creates a new `Policy` for\nthat `Constraint` on the resource if one does not exist.\n\nNot supplying an `etag` on the request `Policy` results in an unconditional\nwrite of the `Policy`."
        },
        "listOrgPolicies": {
          "flatPath": "v1/organizations/{organizationsId}:listOrgPolicies",
          "description": "Lists all the `Policies` set for a particular resource.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.organizations.listOrgPolicies",
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "description": "Name of the resource to list Policies for.",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ListOrgPoliciesRequest"
          },
          "response": {
            "$ref": "ListOrgPoliciesResponse"
          },
          "path": "v1/{+resource}:listOrgPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "search": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Searches Organization resources that are visible to the user and satisfy\nthe specified filter. This method returns Organizations in an unspecified\norder. New Organizations do not necessarily appear at the end of the\nresults.\n\nSearch will only return organizations on which the user has the permission\n`resourcemanager.organizations.get`",
          "flatPath": "v1/organizations:search",
          "id": "cloudresourcemanager.organizations.search",
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/organizations:search",
          "parameterOrder": [],
          "request": {
            "$ref": "SearchOrganizationsRequest"
          }
        },
        "getIamPolicy": {
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}:getIamPolicy",
          "id": "cloudresourcemanager.organizations.getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:getIamPolicy",
          "description": "Gets the access control policy for an Organization resource. May be empty\nif no such policy or resource exists. The `resource` field should be the\norganization's resource name, e.g. \"organizations/123\".\n\nAuthorization requires the Google IAM permission\n`resourcemanager.organizations.getIamPolicy` on the specified organization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          }
        },
        "clearOrgPolicy": {
          "description": "Clears a `Policy` from a resource.",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Name of the resource for the `Policy` to clear.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "path": "v1/{+resource}:clearOrgPolicy",
          "flatPath": "v1/organizations/{organizationsId}:clearOrgPolicy",
          "request": {
            "$ref": "ClearOrgPolicyRequest"
          },
          "id": "cloudresourcemanager.organizations.clearOrgPolicy",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getOrgPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+resource}:getOrgPolicy",
          "response": {
            "$ref": "OrgPolicy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "Name of the resource the `Policy` is set on.",
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}:getOrgPolicy",
          "description": "Gets a `Policy` on a resource.\n\nIf no `Policy` is set on the resource, a `Policy` is returned with default\nvalues including `POLICY_TYPE_NOT_SET` for the `policy_type oneof`. The\n`etag` value can be used with `SetOrgPolicy()` to create or update a\n`Policy` during read-modify-write.",
          "request": {
            "$ref": "GetOrgPolicyRequest"
          },
          "id": "cloudresourcemanager.organizations.getOrgPolicy"
        },
        "listAvailableOrgPolicyConstraints": {
          "httpMethod": "POST",
          "flatPath": "v1/organizations/{organizationsId}:listAvailableOrgPolicyConstraints",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.organizations.listAvailableOrgPolicyConstraints",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "ListAvailableOrgPolicyConstraintsRequest"
          },
          "description": "Lists `Constraints` that could be applied on the specified resource.",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Name of the resource to list `Constraints` for."
            }
          },
          "path": "v1/{+resource}:listAvailableOrgPolicyConstraints",
          "response": {
            "$ref": "ListAvailableOrgPolicyConstraintsResponse"
          }
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field."
            }
          },
          "flatPath": "v1/organizations/{organizationsId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:setIamPolicy",
          "description": "Sets the access control policy on an Organization resource. Replaces any\nexisting policy. The `resource` field should be the organization's resource\nname, e.g. \"organizations/123\".\n\nAuthorization requires the Google IAM permission\n`resourcemanager.organizations.setIamPolicy` on the specified organization",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.organizations.setIamPolicy"
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "description": "The resource name of the Organization to fetch. This is the organization's\nrelative path in the API, formatted as \"organizations/[organizationId]\".\nFor example, \"organizations/1234\"."
            }
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.organizations.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "description": "Fetches an Organization resource identified by the specified resource name.",
          "response": {
            "$ref": "Organization"
          }
        },
        "getEffectiveOrgPolicy": {
          "flatPath": "v1/organizations/{organizationsId}:getEffectiveOrgPolicy",
          "id": "cloudresourcemanager.organizations.getEffectiveOrgPolicy",
          "request": {
            "$ref": "GetEffectiveOrgPolicyRequest"
          },
          "path": "v1/{+resource}:getEffectiveOrgPolicy",
          "response": {
            "$ref": "OrgPolicy"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the effective `Policy` on a resource. This is the result of merging\n`Policies` in the resource hierarchy. The returned `Policy` will not have\nan `etag`set because it is a computed `Policy` across multiple resources.\nSubtrees of Resource Manager resource hierarchy with 'under:' prefix will\nnot be expanded.",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the resource to start computing the effective `Policy`."
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getAncestry": {
          "response": {
            "$ref": "GetAncestryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/projects/{projectId}:getAncestry",
          "flatPath": "v1/projects/{projectId}:getAncestry",
          "request": {
            "$ref": "GetAncestryRequest"
          },
          "description": "Gets a list of ancestors in the resource hierarchy for the Project\nidentified by the specified `project_id` (for example, `my-project-123`).\n\nThe caller must have read permissions for this Project.",
          "id": "cloudresourcemanager.projects.getAncestry",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "The Project ID (for example, `my-project-123`).\n\nRequired.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/projects/{resource}:setIamPolicy",
          "id": "cloudresourcemanager.projects.setIamPolicy",
          "flatPath": "v1/projects/{resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "description": "Sets the IAM access control policy for the specified Project.\n\nCAUTION: This method will replace the existing policy, and cannot be used\nto append additional IAM settings.\n\nNOTE: Removing service accounts from policies or changing their roles can\nrender services completely inoperable. It is important to understand how\nthe service account is being used before removing or updating its roles.\n\nFor additional information about `resource` (e.g. my-project-id) structure\nand identification, see [Resource Names](/apis/design/resource_names).\n\nThe following constraints apply when using `setIamPolicy()`:\n\n+ Project does not support `allUsers` and `allAuthenticatedUsers` as\n`members` in a `Binding` of a `Policy`.\n\n+ The owner role can be granted to a `user`, `serviceAccount`, or a group\nthat is part of an organization. For example,\ngroup@myownpersonaldomain.com could be added as an owner to a project in\nthe myownpersonaldomain.com organization, but not the examplepetstore.com\norganization.\n\n+ Service accounts can be made owners of a project directly\nwithout any restrictions. However, to be added as an owner, a user must be\ninvited via Cloud Platform console and must accept the invitation.\n\n+ A user cannot be granted the owner role using `setIamPolicy()`. The user\nmust be granted the owner role using the Cloud Platform Console and must\nexplicitly accept the invitation.\n\n+ You can only grant ownership of a project to a member by using the\nGCP Console. Inviting a member will deliver an invitation email that\nthey must accept. An invitation email is not generated if you are\ngranting a role other than owner, or if both the member you are inviting\nand the project are part of your organization.\n\n+ Membership changes that leave the project without any owners that have\naccepted the Terms of Service (ToS) will be rejected.\n\n+ If the project is not part of an organization, there must be at least\none owner who has accepted the Terms of Service (ToS) agreement in the\npolicy. Calling `setIamPolicy()` to remove the last ToS-accepted owner\nfrom the policy will fail. This restriction also applies to legacy\nprojects that no longer have owners who have accepted the ToS. Edits to\nIAM policies will be rejected until the lack of a ToS-accepting owner is\nrectified.\n\nAuthorization requires the Google IAM permission\n`resourcemanager.projects.setIamPolicy` on the project",
          "response": {
            "$ref": "Policy"
          }
        },
        "getIamPolicy": {
          "flatPath": "v1/projects/{resource}:getIamPolicy",
          "path": "v1/projects/{resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          },
          "description": "Returns the IAM access control policy for the specified Project.\nPermission is denied if the policy or the resource does not exist.\n\nAuthorization requires the Google IAM permission\n`resourcemanager.projects.getIamPolicy` on the project.\n\nFor additional information about `resource` (e.g. my-project-id) structure\nand identification, see [Resource Names](/apis/design/resource_names).",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "cloudresourcemanager.projects.getIamPolicy"
        },
        "listOrgPolicies": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}:listOrgPolicies",
          "request": {
            "$ref": "ListOrgPoliciesRequest"
          },
          "response": {
            "$ref": "ListOrgPoliciesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.projects.listOrgPolicies",
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Name of the resource to list Policies for.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Lists all the `Policies` set for a particular resource.",
          "path": "v1/{+resource}:listOrgPolicies"
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "cloudresourcemanager.projects.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified Project.\n\nFor additional information about `resource` (e.g. my-project-id) structure\nand identification, see [Resource Names](/apis/design/resource_names).\n\nThere are no permissions required for making this API call.",
          "flatPath": "v1/projects/{resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "v1/projects/{resource}:testIamPermissions"
        },
        "create": {
          "description": "Request that a new Project be created. The result is an Operation which\ncan be used to track the creation process. This process usually takes a few\nseconds, but can sometimes take much longer. The tracking Operation is\nautomatically deleted after a few hours, so there is no need to call\nDeleteOperation.\n\nAuthorization requires the Google IAM permission\n`resourcemanager.projects.create` on the specified parent for the new\nproject. The parent is identified by a specified ResourceId,\nwhich must include both an ID and a type, such as organization.\n\nThis method does not associate the new project with a billing account.\nYou can set or update the billing account associated with a project using\nthe [`projects.updateBillingInfo`]\n(/billing/reference/rest/v1/projects/updateBillingInfo) method.",
          "path": "v1/projects",
          "parameters": {},
          "id": "cloudresourcemanager.projects.create",
          "request": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": []
        },
        "getOrgPolicy": {
          "path": "v1/{+resource}:getOrgPolicy",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GetOrgPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "description": "Name of the resource the `Policy` is set on.",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "id": "cloudresourcemanager.projects.getOrgPolicy",
          "flatPath": "v1/projects/{projectsId}:getOrgPolicy",
          "description": "Gets a `Policy` on a resource.\n\nIf no `Policy` is set on the resource, a `Policy` is returned with default\nvalues including `POLICY_TYPE_NOT_SET` for the `policy_type oneof`. The\n`etag` value can be used with `SetOrgPolicy()` to create or update a\n`Policy` during read-modify-write.",
          "httpMethod": "POST"
        },
        "setOrgPolicy": {
          "request": {
            "$ref": "SetOrgPolicyRequest"
          },
          "flatPath": "v1/projects/{projectsId}:setOrgPolicy",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v1/{+resource}:setOrgPolicy",
          "description": "Updates the specified `Policy` on the resource. Creates a new `Policy` for\nthat `Constraint` on the resource if one does not exist.\n\nNot supplying an `etag` on the request `Policy` results in an unconditional\nwrite of the `Policy`.",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "description": "Resource name of the resource to attach the `Policy`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "id": "cloudresourcemanager.projects.setOrgPolicy"
        },
        "list": {
          "path": "v1/projects",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "An expression for filtering the results of the request.  Filter rules are\ncase insensitive. Some eligible fields for filtering are:\n\n+ `name`\n+ `id`\n+ `labels.\u003ckey\u003e` (where *key* is the name of a label)\n+ `parent.type`\n+ `parent.id`\n+ `lifecycleState`\n\nSome examples of filter strings:\n\n| Filter           | Description                                         |\n|------------------|-----------------------------------------------------|\n| name:how*        | The project's name starts with \"how\".               |\n| name:Howl        | The project's name is `Howl` or `howl`.             |\n| name:HOWL        | Equivalent to above.                                |\n| NAME:howl        | Equivalent to above.                                |\n| labels.color:*   | The project has the label `color`.                  |\n| labels.color:red | The project's label `color` has the value `red`.    |\n| labels.color:red&nbsp;labels.size:big | The project's label `color`    |\n:                                       : has the value `red` and its    :\n:                                       : label`size` has the value      :\n:                                       : `big`.                         :\n| lifecycleState:DELETE_REQUESTED       | Only show projects that are    |\n:                                       : pending deletion.              :\n\nIf no filter is specified, the call will return projects for which the user\nhas the `resourcemanager.projects.get` permission.\n\nNOTE: To perform a by-parent query (eg., what projects are directly in a\nFolder), the caller must have the `resourcemanager.projects.list`\npermission on the parent and the filter must contain both a `parent.type`\nand a `parent.id` restriction\n(example: \"parent.type:folder parent.id:123\"). In this case an alternate\nsearch index is used which provides more consistent results.\n\nOptional.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A pagination token returned from a previous call to ListProjects\nthat indicates from where listing should continue.\n\nOptional.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of Projects to return in the response.\nThe server can return fewer Projects than requested.\nIf unspecified, server picks an appropriate default.\n\nOptional."
            }
          },
          "response": {
            "$ref": "ListProjectsResponse"
          },
          "httpMethod": "GET",
          "description": "Lists Projects that the caller has the `resourcemanager.projects.get`\npermission on and satisfy the specified filter.\n\nThis method returns Projects in an unspecified order.\nThis method is eventually consistent with project mutations; this means\nthat a newly created project may not appear in the results or recent\nupdates to an existing project may not be reflected in the results. To\nretrieve the latest state of a project, use the\nGetProject method.\n\nNOTE: If the request filter contains a `parent.type` and `parent.id` and\nthe caller has the `resourcemanager.projects.list` permission on the\nparent, the results will be drawn from an alternate index which provides\nmore consistent results. In future versions of this API, this List method\nwill be split into List and Search to properly capture the behavorial\ndifference.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/projects",
          "id": "cloudresourcemanager.projects.list"
        },
        "delete": {
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}",
          "httpMethod": "DELETE",
          "id": "cloudresourcemanager.projects.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The Project ID (for example, `foo-bar-123`).\n\nRequired."
            }
          },
          "description": "Marks the Project identified by the specified\n`project_id` (for example, `my-project-123`) for deletion.\nThis method will only affect the Project if it has a lifecycle state of\nACTIVE.\n\nThis method changes the Project's lifecycle state from\nACTIVE\nto DELETE_REQUESTED.\nThe deletion starts at an unspecified time,\nat which point the Project is no longer accessible.\n\nUntil the deletion completes, you can check the lifecycle state\nchecked by retrieving the Project with GetProject,\nand the Project remains visible to ListProjects.\nHowever, you cannot update the project.\n\nAfter the deletion completes, the Project is not retrievable by\nthe  GetProject and\nListProjects methods.\n\nThe caller must have modify permissions for this Project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/projects/{projectId}"
        },
        "getEffectiveOrgPolicy": {
          "parameters": {
            "resource": {
              "description": "The name of the resource to start computing the effective `Policy`.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "id": "cloudresourcemanager.projects.getEffectiveOrgPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the effective `Policy` on a resource. This is the result of merging\n`Policies` in the resource hierarchy. The returned `Policy` will not have\nan `etag`set because it is a computed `Policy` across multiple resources.\nSubtrees of Resource Manager resource hierarchy with 'under:' prefix will\nnot be expanded.",
          "response": {
            "$ref": "OrgPolicy"
          },
          "request": {
            "$ref": "GetEffectiveOrgPolicyRequest"
          },
          "path": "v1/{+resource}:getEffectiveOrgPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v1/projects/{projectsId}:getEffectiveOrgPolicy"
        },
        "update": {
          "id": "cloudresourcemanager.projects.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Project"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID (for example, `my-project-123`).\n\nRequired."
            }
          },
          "flatPath": "v1/projects/{projectId}",
          "path": "v1/projects/{projectId}",
          "description": "Updates the attributes of the Project identified by the specified\n`project_id` (for example, `my-project-123`).\n\nThe caller must have modify permissions for this Project.",
          "parameterOrder": [
            "projectId"
          ]
        },
        "listAvailableOrgPolicyConstraints": {
          "description": "Lists `Constraints` that could be applied on the specified resource.",
          "request": {
            "$ref": "ListAvailableOrgPolicyConstraintsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.projects.listAvailableOrgPolicyConstraints",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Name of the resource to list `Constraints` for.",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}:listAvailableOrgPolicyConstraints",
          "path": "v1/{+resource}:listAvailableOrgPolicyConstraints",
          "response": {
            "$ref": "ListAvailableOrgPolicyConstraintsResponse"
          }
        },
        "clearOrgPolicy": {
          "description": "Clears a `Policy` from a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectsId}:clearOrgPolicy",
          "path": "v1/{+resource}:clearOrgPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "description": "Name of the resource for the `Policy` to clear.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "ClearOrgPolicyRequest"
          },
          "id": "cloudresourcemanager.projects.clearOrgPolicy"
        },
        "get": {
          "description": "Retrieves the Project identified by the specified\n`project_id` (for example, `my-project-123`).\n\nThe caller must have read permissions for this Project.",
          "response": {
            "$ref": "Project"
          },
          "flatPath": "v1/projects/{projectId}",
          "parameterOrder": [
            "projectId"
          ],
          "id": "cloudresourcemanager.projects.get",
          "httpMethod": "GET",
          "path": "v1/projects/{projectId}",
          "parameters": {
            "projectId": {
              "description": "The Project ID (for example, `my-project-123`).\n\nRequired.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "undelete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID (for example, `foo-bar-123`).\n\nRequired."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/projects/{projectId}:undelete",
          "description": "Restores the Project identified by the specified\n`project_id` (for example, `my-project-123`).\nYou can only use this method for a Project that has a lifecycle state of\nDELETE_REQUESTED.\nAfter deletion starts, the Project cannot be restored.\n\nThe caller must have modify permissions for this Project.",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "UndeleteProjectRequest"
          },
          "flatPath": "v1/projects/{projectId}:undelete",
          "id": "cloudresourcemanager.projects.undelete"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.operations.get"
        }
      }
    },
    "liens": {
      "methods": {
        "get": {
          "description": "Retrieve a Lien by `name`.\n\nCallers of this method will require permission on the `parent` resource.\nFor example, a Lien with a `parent` of `projects/1234` requires permission\nrequires permission `resourcemanager.projects.get` or\n`resourcemanager.projects.updateLiens`.",
          "parameters": {
            "name": {
              "pattern": "^liens/.*$",
              "description": "Required. The name/identifier of the Lien.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/liens/{liensId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.liens.get",
          "response": {
            "$ref": "Lien"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "v1/liens/{liensId}",
          "description": "Delete a Lien by `name`.\n\nCallers of this method will require permission on the `parent` resource.\nFor example, a Lien with a `parent` of `projects/1234` requires permission\n`resourcemanager.projects.updateLiens`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.liens.delete",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name/identifier of the Lien to delete.",
              "location": "path",
              "required": true,
              "pattern": "^liens/.*$"
            }
          }
        },
        "create": {
          "flatPath": "v1/liens",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "Lien"
          },
          "response": {
            "$ref": "Lien"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Create a Lien which applies to the resource denoted by the `parent` field.\n\nCallers of this method will require permission on the `parent` resource.\nFor example, applying to `projects/1234` requires permission\n`resourcemanager.projects.updateLiens`.\n\nNOTE: Some resources may limit the number of Liens which may be applied.",
          "id": "cloudresourcemanager.liens.create",
          "path": "v1/liens"
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "v1/liens",
          "response": {
            "$ref": "ListLiensResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of items to return. This is a suggestion for the server.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "parent": {
              "description": "Required. The name of the resource to list all attached Liens.\nFor example, `projects/1234`.\n\n(google.api.field_policy).resource_type annotation is not set since the\nparent depends on the meta api implementation. This field could be a\nproject or other sub project resources.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous List request, if any.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "List all Liens applied to the `parent` resource.\n\nCallers of this method will require permission on the `parent` resource.\nFor example, a Lien with a `parent` of `projects/1234` requires permission\n`resourcemanager.projects.get`.",
          "id": "cloudresourcemanager.liens.list",
          "path": "v1/liens"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudresourcemanager:v1",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/resource-manager",
  "batchPath": "batch",
  "basePath": "",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "servicePath": "",
  "protocol": "rest",
  "baseUrl": "https://cloudresourcemanager.googleapis.com/",
  "title": "Cloud Resource Manager API",
  "name": "cloudresourcemanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "revision": "20200617",
  "schemas": {
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\",\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\"\n            },\n            {\n              \"log_type\": \"ADMIN_READ\"\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\",\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\"\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "ResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required field for the type-specific id. This should correspond to the id\nused in the type-specific API's."
        },
        "type": {
          "type": "string",
          "description": "Required field representing the resource type this id is for.\nAt present, the valid types are: \"organization\", \"folder\", and \"project\"."
        }
      },
      "id": "ResourceId",
      "description": "A container to reference an id for any resource type. A `resource` in Google\nCloud Platform is a generic term for something you (a developer) may want to\ninteract with through one of our API's. Some examples are an App Engine app,\na Compute Engine instance, a Cloud SQL database, and so on."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call."
    },
    "Organization": {
      "type": "object",
      "description": "The root node in the resource hierarchy to which a particular entity's\n(e.g., company) resources belong.",
      "properties": {
        "displayName": {
          "description": "A human-readable string that refers to the Organization in the\nGCP Console UI. This string is set by the server and cannot be\nchanged. The string will be set to the primary domain (for example,\n\"google.com\") of the G Suite customer that owns the organization.",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "description": "The organization's current lifecycle state. Assigned by the server.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "enumDescriptions": [
            "Unspecified state.  This is only useful for distinguishing unset values.",
            "The normal and active state.",
            "The organization has been marked for deletion by the user."
          ]
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Organization was created. Assigned by the server."
        },
        "owner": {
          "description": "The owner of this Organization. The owner should be specified on\ncreation. Once set, it cannot be changed.\nThis field is required.",
          "$ref": "OrganizationOwner"
        },
        "name": {
          "description": "Output only. The resource name of the organization. This is the\norganization's relative path in the API. Its format is\n\"organizations/[organization_id]\". For example, \"organizations/1234\".",
          "type": "string"
        }
      },
      "id": "Organization"
    },
    "ClearOrgPolicyRequest": {
      "properties": {
        "etag": {
          "format": "byte",
          "description": "The current version, for concurrency control. Not sending an `etag`\nwill cause the `Policy` to be cleared blindly.",
          "type": "string"
        },
        "constraint": {
          "type": "string",
          "description": "Name of the `Constraint` of the `Policy` to clear."
        }
      },
      "id": "ClearOrgPolicyRequest",
      "description": "The request sent to the ClearOrgPolicy method.",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\"\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "AuditLogConfig"
    },
    "GetEffectiveOrgPolicyRequest": {
      "type": "object",
      "description": "The request sent to the GetEffectiveOrgPolicy method.",
      "properties": {
        "constraint": {
          "description": "The name of the `Constraint` to compute the effective `Policy`.",
          "type": "string"
        }
      },
      "id": "GetEffectiveOrgPolicyRequest"
    },
    "SearchOrganizationsResponse": {
      "description": "The response returned from the `SearchOrganizations` method.",
      "id": "SearchOrganizationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to be used to retrieve the next page of results. If the\nresult is too large to fit within the page size specified in the request,\nthis field will be set with a token that can be used to fetch the next page\nof results. If this field is empty, it indicates that this response\ncontains the last page of results.",
          "type": "string"
        },
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "description": "The list of Organizations that matched the search query, possibly\npaginated.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language\nsyntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "FolderOperation": {
      "description": "Metadata describing a long running folder operation",
      "type": "object",
      "id": "FolderOperation",
      "properties": {
        "operationType": {
          "type": "string",
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ]
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent.\nOnly applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating\nthe folder under or moving the folder to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        }
      }
    },
    "RestoreDefault": {
      "id": "RestoreDefault",
      "type": "object",
      "properties": {},
      "description": "Ignores policies set above this resource and restores the\n`constraint_default` enforcement behavior of the specific `Constraint` at\nthis resource.\n\nSuppose that `constraint_default` is set to `ALLOW` for the\n`Constraint` `constraints/serviceuser.services`. Suppose that organization\nfoo.com sets a `Policy` at their Organization resource node that restricts\nthe allowed service activations to deny all service activations. They\ncould then set a `Policy` with the `policy_type` `restore_default` on\nseveral experimental projects, restoring the `constraint_default`\nenforcement of the `Constraint` for only those projects, allowing those\nprojects to have all services activated."
    },
    "BooleanConstraint": {
      "id": "BooleanConstraint",
      "type": "object",
      "properties": {},
      "description": "A `Constraint` that is either enforced or not.\n\nFor example a constraint `constraints/compute.disableSerialPortAccess`.\nIf it is enforced on a VM instance, serial port connections will not be\nopened to that instance."
    },
    "Lien": {
      "id": "Lien",
      "description": "A Lien represents an encumbrance on the actions that can be performed on a\nresource.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "A reference to the resource this Lien is attached to. The server will\nvalidate the parent against those for which Liens are supported.\n\nExample: `projects/1234`"
        },
        "name": {
          "type": "string",
          "description": "A system-generated unique identifier for this Lien.\n\nExample: `liens/1234abcd`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of this Lien."
        },
        "origin": {
          "description": "A stable, user-visible/meaningful string identifying the origin of the\nLien, intended to be inspected programmatically. Maximum length of 200\ncharacters.\n\nExample: 'compute.googleapis.com'",
          "type": "string"
        },
        "restrictions": {
          "type": "array",
          "description": "The types of operations which should be blocked as a result of this Lien.\nEach value should correspond to an IAM permission. The server will\nvalidate the permissions against those for which Liens are supported.\n\nAn empty list is meaningless and will be rejected.\n\nExample: ['resourcemanager.projects.delete']",
          "items": {
            "type": "string"
          }
        },
        "reason": {
          "description": "Concise user-visible strings indicating why an action cannot be performed\non a resource. Maximum length of 200 characters.\n\nExample: 'Holds production API key'",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to\n`GetIamPolicy`."
        }
      }
    },
    "GetOrgPolicyRequest": {
      "id": "GetOrgPolicyRequest",
      "description": "The request sent to the GetOrgPolicy method.",
      "type": "object",
      "properties": {
        "constraint": {
          "description": "Name of the `Constraint` to get the `Policy`.",
          "type": "string"
        }
      }
    },
    "BooleanPolicy": {
      "type": "object",
      "properties": {
        "enforced": {
          "type": "boolean",
          "description": "If `true`, then the `Policy` is enforced. If `false`, then any\nconfiguration is acceptable.\n\nSuppose you have a `Constraint`\n`constraints/compute.disableSerialPortAccess` with `constraint_default`\nset to `ALLOW`. A `Policy` for that `Constraint` exhibits the following\nbehavior:\n  - If the `Policy` at this resource has enforced set to `false`, serial\n    port connection attempts will be allowed.\n  - If the `Policy` at this resource has enforced set to `true`, serial\n    port connection attempts will be refused.\n  - If the `Policy` at this resource is `RestoreDefault`, serial port\n    connection attempts will be allowed.\n  - If no `Policy` is set at this resource or anywhere higher in the\n    resource hierarchy, serial port connection attempts will be allowed.\n  - If no `Policy` is set at this resource, but one exists higher in the\n    resource hierarchy, the behavior is as if the`Policy` were set at\n    this resource.\n\nThe following examples demonstrate the different possible layerings:\n\nExample 1 (nearest `Constraint` wins):\n  `organizations/foo` has a `Policy` with:\n    {enforced: false}\n  `projects/bar` has no `Policy` set.\nThe constraint at `projects/bar` and `organizations/foo` will not be\nenforced.\n\nExample 2 (enforcement gets replaced):\n  `organizations/foo` has a `Policy` with:\n    {enforced: false}\n  `projects/bar` has a `Policy` with:\n    {enforced: true}\nThe constraint at `organizations/foo` is not enforced.\nThe constraint at `projects/bar` is enforced.\n\nExample 3 (RestoreDefault):\n  `organizations/foo` has a `Policy` with:\n    {enforced: true}\n  `projects/bar` has a `Policy` with:\n    {RestoreDefault: {}}\nThe constraint at `organizations/foo` is enforced.\nThe constraint at `projects/bar` is not enforced, because\n`constraint_default` for the `Constraint` is `ALLOW`."
        }
      },
      "id": "BooleanPolicy",
      "description": "Used in `policy_type` to specify how `boolean_policy` will behave at this\nresource."
    },
    "FolderOperationError": {
      "type": "object",
      "id": "FolderOperationError",
      "description": "A classification of the Folder Operation error.",
      "properties": {
        "errorMessageId": {
          "description": "The type of operation error experienced.",
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder\ndisplay_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth\nconstraint."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ],
          "type": "string"
        }
      }
    },
    "GetAncestryRequest": {
      "properties": {},
      "description": "The request sent to the\nGetAncestry\nmethod.",
      "id": "GetAncestryRequest",
      "type": "object"
    },
    "SetOrgPolicyRequest": {
      "description": "The request sent to the SetOrgPolicyRequest method.",
      "id": "SetOrgPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "OrgPolicy",
          "description": "`Policy` to set on the resource."
        }
      }
    },
    "ListAvailableOrgPolicyConstraintsResponse": {
      "description": "The response returned from the `ListAvailableOrgPolicyConstraints` method.\nReturns all `Constraints` that could be set at this level of the hierarchy\n(contrast with the response from `ListPolicies`, which returns all policies\nwhich are set).",
      "id": "ListAvailableOrgPolicyConstraintsResponse",
      "properties": {
        "constraints": {
          "items": {
            "$ref": "Constraint"
          },
          "description": "The collection of constraints that are settable on the request resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListProjectsResponse": {
      "type": "object",
      "description": "A page of the response received from the\nListProjects\nmethod.\n\nA paginated response where more pages are available has\n`next_page_token` set. This token can be used in a subsequent request to\nretrieve the next request page.",
      "properties": {
        "projects": {
          "items": {
            "$ref": "Project"
          },
          "description": "The list of Projects that matched the list filter. This list can\nbe paginated.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token.\n\nIf the result set is too large to fit in a single response, this token\nis returned. It encodes the position of the current result cursor.\nFeeding this value into a new list request with the `page_token` parameter\ngives the next page of the results.\n\nWhen `next_page_token` is not filled in, there is no next page and\nthe list returned is the last page in the result set.\n\nPagination tokens have a limited lifetime.",
          "type": "string"
        }
      },
      "id": "ListProjectsResponse"
    },
    "UndeleteProjectRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteProjectRequest",
      "description": "The request sent to the UndeleteProject\nmethod."
    },
    "Ancestor": {
      "id": "Ancestor",
      "type": "object",
      "description": "Identifying information for a single ancestor of a project.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "Resource id of the ancestor."
        }
      }
    },
    "ListOrgPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but\nthe server may at any point start supplying a valid token."
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          },
          "description": "The `Policies` that are set on the resource. It will be empty if no\n`Policies` are set."
        }
      },
      "id": "ListOrgPoliciesResponse",
      "type": "object",
      "description": "The response returned from the `ListOrgPolicies` method. It will be empty\nif no `Policies` are set on the resource."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListPolicy": {
      "properties": {
        "deniedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource. Can only be set if `all_values`\nis set to `ALL_VALUES_UNSPECIFIED`."
        },
        "allowedValues": {
          "description": "List of values allowed  at this resource. Can only be set if `all_values`\nis set to `ALL_VALUES_UNSPECIFIED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedValue": {
          "description": "Optional. The Google Cloud Console will try to default to a configuration\nthat matches the value specified in this `Policy`. If `suggested_value`\nis not set, it will inherit the value specified higher in the hierarchy,\nunless `inherit_from_parent` is `false`.",
          "type": "string"
        },
        "inheritFromParent": {
          "type": "boolean",
          "description": "Determines the inheritance behavior for this `Policy`.\n\nBy default, a `ListPolicy` set at a resource supersedes any `Policy` set\nanywhere up the resource hierarchy. However, if `inherit_from_parent` is\nset to `true`, then the values from the effective `Policy` of the parent\nresource are inherited, meaning the values set in this `Policy` are\nadded to the values inherited up the hierarchy.\n\nSetting `Policy` hierarchies that inherit both allowed values and denied\nvalues isn't recommended in most circumstances to keep the configuration\nsimple and understandable. However, it is possible to set a `Policy` with\n`allowed_values` set that inherits a `Policy` with `denied_values` set.\nIn this case, the values that are allowed must be in `allowed_values` and\nnot present in `denied_values`.\n\nFor example, suppose you have a `Constraint`\n`constraints/serviceuser.services`, which has a `constraint_type` of\n`list_constraint`, and with `constraint_default` set to `ALLOW`.\nSuppose that at the Organization level, a `Policy` is applied that\nrestricts the allowed API activations to {`E1`, `E2`}. Then, if a\n`Policy` is applied to a project below the Organization that has\n`inherit_from_parent` set to `false` and field all_values set to DENY,\nthen an attempt to activate any API will be denied.\n\nThe following examples demonstrate different possible layerings for\n`projects/bar` parented by `organizations/foo`:\n\nExample 1 (no inherited values):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values:\"E2\"}\n  `projects/bar` has `inherit_from_parent` `false` and values:\n    {allowed_values: \"E3\" allowed_values: \"E4\"}\nThe accepted values at `organizations/foo` are `E1`, `E2`.\nThe accepted values at `projects/bar` are `E3`, and `E4`.\n\nExample 2 (inherited values):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values:\"E2\"}\n  `projects/bar` has a `Policy` with values:\n    {value: \"E3\" value: \"E4\" inherit_from_parent: true}\nThe accepted values at `organizations/foo` are `E1`, `E2`.\nThe accepted values at `projects/bar` are `E1`, `E2`, `E3`, and `E4`.\n\nExample 3 (inheriting both allowed and denied values):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values: \"E2\"}\n  `projects/bar` has a `Policy` with:\n    {denied_values: \"E1\"}\nThe accepted values at `organizations/foo` are `E1`, `E2`.\nThe value accepted at `projects/bar` is `E2`.\n\nExample 4 (RestoreDefault):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values:\"E2\"}\n  `projects/bar` has a `Policy` with values:\n    {RestoreDefault: {}}\nThe accepted values at `organizations/foo` are `E1`, `E2`.\nThe accepted values at `projects/bar` are either all or none depending on\nthe value of `constraint_default` (if `ALLOW`, all; if\n`DENY`, none).\n\nExample 5 (no policy inherits parent policy):\n  `organizations/foo` has no `Policy` set.\n  `projects/bar` has no `Policy` set.\nThe accepted values at both levels are either all or none depending on\nthe value of `constraint_default` (if `ALLOW`, all; if\n`DENY`, none).\n\nExample 6 (ListConstraint allowing all):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values: \"E2\"}\n  `projects/bar` has a `Policy` with:\n    {all: ALLOW}\nThe accepted values at `organizations/foo` are `E1`, E2`.\nAny value is accepted at `projects/bar`.\n\nExample 7 (ListConstraint allowing none):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values: \"E2\"}\n  `projects/bar` has a `Policy` with:\n    {all: DENY}\nThe accepted values at `organizations/foo` are `E1`, E2`.\nNo value is accepted at `projects/bar`.\n\nExample 10 (allowed and denied subtrees of Resource Manager hierarchy):\nGiven the following resource hierarchy\n  O1-\u003e{F1, F2}; F1-\u003e{P1}; F2-\u003e{P2, P3},\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values: \"under:organizations/O1\"}\n  `projects/bar` has a `Policy` with:\n    {allowed_values: \"under:projects/P3\"}\n    {denied_values: \"under:folders/F2\"}\nThe accepted values at `organizations/foo` are `organizations/O1`,\n  `folders/F1`, `folders/F2`, `projects/P1`, `projects/P2`,\n  `projects/P3`.\nThe accepted values at `projects/bar` are `organizations/O1`,\n  `folders/F1`, `projects/P1`."
        },
        "allValues": {
          "enum": [
            "ALL_VALUES_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "The policy all_values state.",
          "enumDescriptions": [
            "Indicates that allowed_values or denied_values must be set.",
            "A policy with this set allows all values.",
            "A policy with this set denies all values."
          ]
        }
      },
      "id": "ListPolicy",
      "type": "object",
      "description": "Used in `policy_type` to specify how `list_policy` behaves at this\nresource.\n\n`ListPolicy` can define specific values and subtrees of Cloud Resource\nManager resource hierarchy (`Organizations`, `Folders`, `Projects`) that\nare allowed or denied by setting the `allowed_values` and `denied_values`\nfields. This is achieved by using the `under:` and optional `is:` prefixes.\nThe `under:` prefix is used to denote resource subtree values.\nThe `is:` prefix is used to denote specific values, and is required only\nif the value contains a \":\". Values prefixed with \"is:\" are treated the\nsame as values with no prefix.\nAncestry subtrees must be in one of the following formats:\n    - \"projects/\u003cproject-id\u003e\", e.g. \"projects/tokyo-rain-123\"\n    - \"folders/\u003cfolder-id\u003e\", e.g. \"folders/1234\"\n    - \"organizations/\u003corganization-id\u003e\", e.g. \"organizations/1234\"\nThe `supports_under` field of the associated `Constraint`  defines whether\nancestry prefixes can be used. You can set `allowed_values` and\n`denied_values` in the same `Policy` if `all_values` is\n`ALL_VALUES_UNSPECIFIED`. `ALLOW` or `DENY` are used to allow or deny all\nvalues. If `all_values` is set to either `ALLOW` or `DENY`,\n`allowed_values` and `denied_values` must be unset."
    },
    "GetAncestryResponse": {
      "description": "Response from the\nprojects.getAncestry\nmethod.",
      "type": "object",
      "properties": {
        "ancestor": {
          "items": {
            "$ref": "Ancestor"
          },
          "description": "Ancestors are ordered from bottom to top of the resource hierarchy. The\nfirst ancestor is the project itself, followed by the project's parent,\netc..",
          "type": "array"
        }
      },
      "id": "GetAncestryResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "Project": {
      "description": "A Project is a high-level Google Cloud Platform entity.  It is a\ncontainer for ACLs, APIs, App Engine Apps, VMs, and other\nGoogle Cloud Platform resources.",
      "id": "Project",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this Project.\n\nLabel keys must be between 1 and 63 characters long and must conform\nto the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?.\n\nLabel values must be between 0 and 63 characters long and must conform\nto the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?. A label\nvalue can be empty.\n\nNo more than 256 labels can be associated with a given resource.\n\nClients should store labels in a representation such as JSON that does not\ndepend on specific characters being disallowed.\n\nExample: \u003ccode\u003e\"environment\" : \"dev\"\u003c/code\u003e\nRead-write."
        },
        "projectId": {
          "description": "The unique, user-assigned ID of the Project.\nIt must be 6 to 30 lowercase letters, digits, or hyphens.\nIt must start with a letter.\nTrailing hyphens are prohibited.\n\nExample: \u003ccode\u003etokyo-rain-123\u003c/code\u003e\nRead-only after creation.",
          "type": "string"
        },
        "parent": {
          "description": "An optional reference to a parent Resource.\n\nSupported parent types include \"organization\" and \"folder\". Once set, the\nparent cannot be cleared. The `parent` can be set on creation or using the\n`UpdateProject` method; the end user must have the\n`resourcemanager.projects.create` permission on the parent.\n\nRead-write.",
          "$ref": "ResourceId"
        },
        "projectNumber": {
          "format": "int64",
          "description": "The number uniquely identifying the project.\n\nExample: \u003ccode\u003e415104041262\u003c/code\u003e\nRead-only.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Creation time.\n\nRead-only.",
          "format": "google-datetime"
        },
        "lifecycleState": {
          "description": "The Project lifecycle state.\n\nRead-only.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "DELETE_IN_PROGRESS"
          ],
          "enumDescriptions": [
            "Unspecified state.  This is only used/useful for distinguishing\nunset values.",
            "The normal and active state.",
            "The project has been marked for deletion by the user\n(by invoking\nDeleteProject)\nor by the system (Google Cloud Platform).\nThis can generally be reversed by invoking UndeleteProject.",
            "This lifecycle state is no longer used and not returned by the API."
          ]
        },
        "name": {
          "description": "The optional user-assigned display name of the Project.\nWhen present it must be between 4 to 30 characters.\nAllowed characters are: lowercase and uppercase letters, numbers,\nhyphen, single-quote, double-quote, space, and exclamation point.\n\nExample: \u003ccode\u003eMy Project\u003c/code\u003e\nRead-write.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchOrganizationsRequest": {
      "id": "SearchOrganizationsRequest",
      "description": "The request sent to the `SearchOrganizations` method.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "An optional query string used to filter the Organizations to return in\nthe response. Filter rules are case-insensitive.\n\n\nOrganizations may be filtered by `owner.directoryCustomerId` or by\n`domain`, where the domain is a G Suite domain, for example:\n\n* Filter `owner.directorycustomerid:123456789` returns Organization\nresources with `owner.directory_customer_id` equal to `123456789`.\n* Filter `domain:google.com` returns Organization resources corresponding\nto the domain `google.com`.\n\nThis field is optional."
        },
        "pageToken": {
          "description": "A pagination token returned from a previous call to `SearchOrganizations`\nthat indicates from where listing should continue.\nThis field is optional.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of Organizations to return in the response.\nThis field is optional."
        }
      },
      "type": "object"
    },
    "ListConstraint": {
      "id": "ListConstraint",
      "properties": {
        "suggestedValue": {
          "description": "Optional. The Google Cloud Console will try to default to a configuration\nthat matches the value specified in this `Constraint`.",
          "type": "string"
        },
        "supportsUnder": {
          "type": "boolean",
          "description": "Indicates whether subtrees of Cloud Resource Manager resource hierarchy\ncan be used in `Policy.allowed_values` and `Policy.denied_values`. For\nexample, `\"under:folders/123\"` would match any resource under the\n'folders/123' folder."
        }
      },
      "description": "A `Constraint` that allows or disallows a list of string values, which are\nconfigured by an Organization's policy administrator with a `Policy`.",
      "type": "object"
    },
    "ProjectCreationStatus": {
      "properties": {
        "gettable": {
          "type": "boolean",
          "description": "True if the project can be retrieved using GetProject. No other operations\non the project are guaranteed to work until the project creation is\ncomplete."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation time of the project creation workflow.",
          "type": "string"
        },
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        }
      },
      "description": "A status object which is used as the `metadata` field for the Operation\nreturned by CreateProject. It provides insight for when significant phases of\nProject creation have completed.",
      "id": "ProjectCreationStatus",
      "type": "object"
    },
    "ListOrgPoliciesRequest": {
      "properties": {
        "pageSize": {
          "description": "Size of the pages to be returned. This is currently unsupported and will\nbe ignored. The server may at any point start using this field to limit\npage size.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Page token used to retrieve the next page. This is currently unsupported\nand will be ignored. The server may at any point start using this field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListOrgPoliciesRequest",
      "description": "The request sent to the ListOrgPolicies method."
    },
    "OrganizationOwner": {
      "properties": {
        "directoryCustomerId": {
          "description": "The G Suite customer id used in the Directory API.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrganizationOwner",
      "description": "The entity that owns an Organization. The lifetime of the Organization and\nall of its descendants are bound to the `OrganizationOwner`. If the\n`OrganizationOwner` is deleted, the Organization and all its descendants will\nbe deleted."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nFor some types of Google Cloud resources, a `binding` can also specify a\n`condition`, which is a logical expression that allows access to a resource\nonly if the expression evaluates to `true`. A condition can add constraints\nbased on attributes of the request, the resource, or both. To learn which\nresources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/resourcemanager.organizationViewer\",\n          \"members\": [\n            \"user:eve@example.com\"\n          ],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
[...]
