{
  "mtlsRootUrl": "https://retail.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "retail:v2beta",
  "protocol": "rest",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/recommendations",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version": "v2beta",
  "servicePath": "",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudRetailV2betaPredictResponsePredictionResult": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional product metadata / annotations. Possible values: * `product`: JSON representation of the product. Will be set if `returnProduct` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnScore` is set to true in `PredictRequest.params`."
        },
        "id": {
          "type": "string",
          "description": "ID of the recommended product"
        }
      },
      "id": "GoogleCloudRetailV2betaPredictResponsePredictionResult",
      "type": "object",
      "description": "PredictionResult represents the recommendation prediction results."
    },
    "GoogleCloudRetailV2alphaPurgeUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaPurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events purged as a result of the operation."
        }
      }
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsResponse",
      "description": "Response message for RejoinUserEvents method.",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of user events that were joined with latest product catalog."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRetailV2betaImportProductsResponse": {
      "properties": {
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        }
      },
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2betaImportProductsResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaImportMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2alphaImportMetadata"
    },
    "GoogleCloudRetailV2betaExportProductsResponse": {
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2betaExportProductsResponse"
    },
    "GoogleCloudRetailV2betaExportUserEventsResponse": {
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaExportUserEventsResponse"
    },
    "GoogleApiHttpBody": {
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "GoogleApiHttpBody",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "extensions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        }
      }
    },
    "GoogleCloudRetailV2betaUserInfo": {
      "description": "Information of an end user.",
      "id": "GoogleCloudRetailV2betaUserInfo",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "ipAddress": {
          "type": "string",
          "description": "The end user's IP address. This field is used to extract location information for personalization. This field must be either an IPv4 address (e.g. \"104.133.9.80\") or an IPv6 address (e.g. \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"). Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set."
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "True if the request is made directly from the end user, in which case the ip_address and user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaProductDetail": {
      "description": "Detailed product information associated with a user event.",
      "id": "GoogleCloudRetailV2betaProductDetail",
      "type": "object",
      "properties": {
        "quantity": {
          "format": "int32",
          "type": "integer",
          "description": "Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `purchase-complete` event. Required for `add-to-cart` and `purchase-complete` event types."
        },
        "product": {
          "$ref": "GoogleCloudRetailV2betaProduct",
          "description": "Required. Product information. Only Product.id field is used when ingesting an event, all other product fields are ignored as we will look them up from the catalog."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudRetailV2RejoinUserEventsResponse": {
      "description": "Response message for RejoinUserEvents method.",
      "id": "GoogleCloudRetailV2RejoinUserEventsResponse",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "description": "Number of user events that were joined with latest product catalog.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaGcsSource": {
      "description": "Google Cloud Storage location for input content. format.",
      "id": "GoogleCloudRetailV2betaGcsSource",
      "properties": {
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mcc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: Using https://support.google.com/analytics/answer/3437719?hl=en."
        },
        "inputUris": {
          "type": "array",
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing product information](https://cloud.google.com/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRetailLoggingErrorContext": {
      "description": "A description of the context in which an error occurred.",
      "properties": {
        "httpRequest": {
          "$ref": "GoogleCloudRetailLoggingHttpRequestContext",
          "description": "The HTTP request which was processed when the error was triggered."
        },
        "reportLocation": {
          "$ref": "GoogleCloudRetailLoggingSourceLocation",
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailLoggingErrorContext"
    },
    "GoogleCloudRetailV2UserEventImportSummary": {
      "id": "GoogleCloudRetailV2UserEventImportSummary",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "type": "object",
      "properties": {
        "joinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information.",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRetailV2betaPurgeUserEventsRequest": {
      "id": "GoogleCloudRetailV2betaPurgeUserEventsRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any user events."
        },
        "filter": {
          "description": "Required. The filter string to specify the events to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: Double quoted UserEvent.event_type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: Double quoted string. Specifying this will delete all events associated with a visitor. * `userId`: Double quoted string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for PurgeUserEvents method."
    },
    "GoogleCloudRetailV2betaPurgeUserEventsResponse": {
      "id": "GoogleCloudRetailV2betaPurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "properties": {
        "purgedEventsCount": {
          "description": "The total count of events purged as a result of the operation.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRetailV2alphaImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2alphaImportUserEventsResponse",
      "properties": {
        "importSummary": {
          "$ref": "GoogleCloudRetailV2alphaUserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2ImportErrorsConfig": {
      "id": "GoogleCloudRetailV2ImportErrorsConfig",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaImportProductsRequest": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportProductsRequest",
      "description": "Request message for Import methods.",
      "properties": {
        "errorsConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        },
        "updateMask": {
          "description": "Indicates which fields in the provided imported 'products' to update. If not set, will by default update all fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "inputConfig": {
          "$ref": "GoogleCloudRetailV2betaProductInputConfig",
          "description": "Required. The desired input location of the data."
        }
      }
    },
    "GoogleCloudRetailV2betaUserEventImportSummary": {
      "type": "object",
      "properties": {
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "format": "int64",
          "type": "string"
        },
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        }
      },
      "id": "GoogleCloudRetailV2betaUserEventImportSummary",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleCloudRetailV2alphaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaImportErrorsConfig",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRetailV2RejoinUserEventsMetadata": {
      "id": "GoogleCloudRetailV2RejoinUserEventsMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2PurgeUserEventsResponse": {
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "description": "The total count of events purged as a result of the operation.",
          "type": "string"
        }
      },
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudRetailV2PurgeUserEventsResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaExportMetadata": {
      "description": "Metadata related to the progress of the Export operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2alphaExportMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2PurgeMetadata": {
      "properties": {},
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudRetailV2PurgeMetadata"
    },
    "GoogleCloudRetailV2betaUserEvent": {
      "type": "object",
      "description": "UserEvent captures all metadata information Retail API needs to know about how end users interact with customers' website.",
      "properties": {
        "experimentIds": {
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Retail API, using different recommendation models).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "userInfo": {
          "description": "User information.",
          "$ref": "GoogleCloudRetailV2betaUserInfo"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2betaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. The key must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc.",
          "type": "object"
        },
        "pageViewId": {
          "description": "A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "productDetails": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaProductDetail"
          },
          "type": "array",
          "description": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `detail-page-view` * `purchase-complete` In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different product_details is desired. The end user may have not finished broswing the whole page yet."
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The categories associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategories\" : [\"Sales \u003e 2017 Black Friday Deals\"]. Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: * `add-to-cart`: Products being added to cart. * `category-page-view`: Special pages such as sale or promotion pages viewed. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed. * `promotion-offered`: Promotion is offered to a user. * `promotion-not-offered`: Promotion is not offered to a user. * `purchase-complete`: User finishing a purchase. * `search`: Product search. * `shopping-cart-page-view`: User viewing a shopping cart."
        },
        "attributionToken": {
          "type": "string",
          "description": "Highly recommended for user events that are the result of PredictionService.Predict. This field enables accurate attribution of recommendation model performance. The value must be a valid PredictResponse.attribution_token for user events that are the result of PredictionService.Predict. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass PredictResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the PredictResponse.attribution_token to this field."
        },
        "visitorId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "purchaseTransaction": {
          "$ref": "GoogleCloudRetailV2betaPurchaseTransaction",
          "description": "A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "cartId": {
          "description": "The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `purchase-complete`, or `shopping-cart-page-view` events.",
          "type": "string"
        },
        "searchQuery": {
          "type": "string",
          "description": "The user's search query. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened."
        }
      },
      "id": "GoogleCloudRetailV2betaUserEvent"
    },
    "GoogleCloudRetailV2betaExportMetadata": {
      "id": "GoogleCloudRetailV2betaExportMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the Export operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRetailV2ImportMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were processed successfully."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "id": "GoogleCloudRetailV2ImportMetadata",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaExportProductsResponse": {
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaExportProductsResponse"
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsMetadata": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsMetadata",
      "description": "Metadata for RejoinUserEvents method.",
      "properties": {}
    },
    "GoogleCloudRetailV2betaImage": {
      "properties": {
        "width": {
          "description": "Width of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "description": "Height of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "uri": {
          "description": "Required. URI of the image. This field must be a valid UTF-8 encoded URI with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image).",
          "type": "string"
        }
      },
      "description": "Product thumbnail/detail image.",
      "id": "GoogleCloudRetailV2betaImage",
      "type": "object"
    },
    "GoogleCloudRetailV2betaPredictResponse": {
      "type": "object",
      "properties": {
        "missingIds": {
          "description": "IDs of products in the request that were missing from the inventory.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributionToken": {
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "True if the validateOnly property was set in the request."
        },
        "results": {
          "type": "array",
          "description": "A list of recommended products. The order represents the ranking (from the most relevant product to the least).",
          "items": {
            "$ref": "GoogleCloudRetailV2betaPredictResponsePredictionResult"
          }
        }
      },
      "id": "GoogleCloudRetailV2betaPredictResponse",
      "description": "Response message for predict method."
    },
    "GoogleCloudRetailV2betaUserEventInputConfig": {
      "description": "The input config source for user events.",
      "properties": {
        "userEventInlineSource": {
          "$ref": "GoogleCloudRetailV2betaUserEventInlineSource",
          "description": "Required. The Inline source for the input content for UserEvents."
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2betaBigQuerySource",
          "description": "Required. BigQuery input source."
        },
        "gcsSource": {
          "description": "Required. Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRetailV2betaGcsSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaUserEventInputConfig"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsResponse": {
      "description": "Response message for RejoinUserEvents method.",
      "id": "GoogleCloudRetailV2betaRejoinUserEventsResponse",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "description": "Number of user events that were joined with latest product catalog.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2betaProductInlineSource": {
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2betaProduct"
          },
          "description": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 10k items."
        }
      },
      "id": "GoogleCloudRetailV2betaProductInlineSource",
      "type": "object",
      "description": "The inline source for the input config for ImportProducts method."
    },
    "GoogleCloudRetailV2alphaUserEventImportSummary": {
      "id": "GoogleCloudRetailV2alphaUserEventImportSummary",
      "properties": {
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "format": "int64",
          "type": "string"
        },
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        }
      },
      "type": "object",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleCloudRetailV2betaCatalog": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaCatalog",
      "properties": {
        "name": {
          "description": "Required. Immutable. The fully qualified resource name of the catalog.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "productLevelConfig": {
          "$ref": "GoogleCloudRetailV2betaProductLevelConfig",
          "description": "Required. The product level configuration."
        }
      },
      "description": "The catalog configuration."
    },
    "GoogleCloudRetailV2betaUserEventInlineSource": {
      "description": "The inline source for the input config for ImportUserEvents method.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaUserEventInlineSource",
      "properties": {
        "userEvents": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaUserEvent"
          },
          "type": "array",
          "description": "Required. A list of user events to import. Recommended max of 10k items."
        }
      }
    },
    "GoogleCloudRetailV2ImportUserEventsResponse": {
      "id": "GoogleCloudRetailV2ImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2UserEventImportSummary"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsRequest": {
      "type": "object",
      "properties": {
        "userEventRejoinScope": {
          "type": "string",
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ],
          "enumDescriptions": [
            "Rejoin all events with the latest product catalog, including both joined events and unjoined events.",
            "Only rejoin joined events with the latest product catalog.",
            "Only rejoin unjoined events with the latest product catalog."
          ],
          "description": "The type of the user event rejoin to define the scope and range of the user events to be rejoined with the latest product catalog. Defaults to USER_EVENT_REJOIN_SCOPE_UNSPECIFIED if this field is not set, or set to an invalid integer value."
        }
      },
      "id": "GoogleCloudRetailV2betaRejoinUserEventsRequest",
      "description": "Request message for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2betaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportErrorsConfig",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRetailV2betaImportUserEventsRequest": {
      "description": "Request message for the ImportUserEvents request.",
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudRetailV2betaUserEventInputConfig",
          "description": "Required. The desired input location of the data."
        },
        "errorsConfig": {
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2betaImportUserEventsRequest"
    },
    "GoogleCloudRetailV2betaImportMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2betaImportMetadata"
    },
    "GoogleCloudRetailV2betaProductLevelConfig": {
      "type": "object",
      "properties": {
        "merchantCenterProductIdField": {
          "type": "string",
          "description": "Which field of [Merchant Center Product](/bigquery-transfer/docs/merchant-center-products-schema) should be imported as Product.id. Acceptable values are: * `offerId` (default): Import `offerId` as the product ID. * `itemGroupId`: Import `itemGroupId` as the product ID. Notice that Retail API will choose one item from the ones with the same `itemGroupId`, and use it to represent the item group. If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. If this field is `itemGroupId` and ingestion_product_type is `variant`, an INVALID_ARGUMENT error is returned. See [Using catalog levels](/retail/recommendations-ai/docs/catalog#catalog-levels) for more details."
        },
        "ingestionProductType": {
          "description": "The type of Products allowed to be ingested into the catalog. Acceptable values are: * `primary` (default): You can only ingest Product.Type.PRIMARY Products. This means Product.primary_product_id can only be empty or set to the same value as Product.id. * `variant`: You can only ingest Product.Type.VARIANT Products. This means Product.primary_product_id cannot be empty. If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. If this field is `variant` and merchant_center_product_id_field is `itemGroupId`, an INVALID_ARGUMENT error is returned. See [Using catalog levels](/retail/recommendations-ai/docs/catalog#catalog-levels) for more details.",
          "type": "string"
        }
      },
      "description": "Configures what level the product should be uploaded with regards to how users will be send events and how predictions will be made.",
      "id": "GoogleCloudRetailV2betaProductLevelConfig"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudRetailV2betaBigQuerySource": {
      "description": "BigQuery source import data from.",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
        },
        "projectId": {
          "type": "string",
          "description": "The project id (can be project # or id) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project id from the parent request."
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: Using https://support.google.com/analytics/answer/3437719?hl=en.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaBigQuerySource",
      "type": "object"
    },
    "GoogleCloudRetailLoggingHttpRequestContext": {
      "description": "HTTP request data that is related to a reported error.",
      "properties": {
        "responseStatusCode": {
          "type": "integer",
          "description": "The HTTP response status code for the request.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudRetailLoggingHttpRequestContext",
      "type": "object"
    },
    "GoogleCloudRetailV2betaProduct": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Product description. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [description](https://support.google.com/merchants/answer/6324468). schema.org property [Product.description](https://schema.org/description).",
          "type": "string"
        },
        "id": {
          "description": "Immutable. Product identifier, which is the final component of name. For example, this field is \"id_1\", if name is `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/id_1`. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [id](https://support.google.com/merchants/answer/6324405). Schema.org Property [Product.sku](https://schema.org/sku).",
          "type": "string"
        },
        "attributes": {
          "description": "Highly encouraged. Extra product attributes to be included. For example, for products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the attributes here. Features that can take on one of a limited number of possible values. Two types of features can be set are: Textual features. some examples would be the brand/maker of a product, or country of a customer. Numerical features. Some examples would be the height/weight of a product, or age of a customer. For example: `{ \"vendor\": {\"text\": [\"vendor123\", \"vendor456\"]}, \"lengths_cm\": {\"numbers\":[2.3, 15.4]}, \"heights_cm\": {\"numbers\":[8.1, 6.4]} }`. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * Max entries count: 150 by default; 100 for Type.VARIANT. * The key must be a UTF-8 encoded string with a length limit of 128 characters.",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2betaCustomAttribute"
          },
          "type": "object"
        },
        "availableQuantity": {
          "format": "int32",
          "description": "The available quantity of the item.",
          "type": "integer"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2betaImage"
          },
          "description": "Product images for the product.Highly recommended to put the main image to the first. A maximum of 300 images are allowed. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image)."
        },
        "title": {
          "type": "string",
          "description": "Required. Product title. This field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [title](https://support.google.com/merchants/answer/6324415). Schema.org property [Product.name](https://schema.org/name)."
        },
        "primaryProductId": {
          "type": "string",
          "description": "Variant group identifier. Must be an id, with the same parent branch with this product. Otherwise, an error is thrown. For Type.PRIMARY Products, this field can only be empty or set to the same value as id. For VARIANT Products, this field cannot be empty. A maximum of 2,000 products are allowed to share the same Type.PRIMARY Product. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center Property [item_group_id](https://support.google.com/merchants/answer/6324507). Schema.org Property [Product.inProductGroupWithID](https://schema.org/inProductGroupWithID). This field must be enabled before it can be used. [Learn more](/recommendations-ai/docs/catalog#item-group-id)."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`. The branch ID must be \"default_branch\"."
        },
        "availability": {
          "description": "The online availability of the Product. Default to Availability.IN_STOCK. Google Merchant Center Property [availability](https://support.google.com/merchants/answer/6324448). Schema.org Property [Offer.availability](https://schema.org/availability).",
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "enumDescriptions": [
            "Default product availability. Default to Availability.IN_STOCK if unset.",
            "Product in stock.",
            "Product out of stock.",
            "Product that is in pre-order state.",
            "Product that is back-ordered (i.e. temporarily out of stock)."
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY",
            "VARIANT",
            "COLLECTION"
          ],
          "description": "Immutable. The type of the product. This field is output-only.",
          "enumDescriptions": [
            "Default value. Default to Type.PRIMARY if unset.",
            "The primary type. As the primary unit for predicting, indexing and search serving, a Type.PRIMARY Product is grouped with multiple Type.VARIANT Products.",
            "The variant type. Type.VARIANT Products usually share some common attributes on the same Type.PRIMARY Products, but they have variant attributes like different colors, sizes and prices, etc.",
            "The collection type. Collection products are bundled Type.PRIMARY Products or Type.VARIANT Products that are sold together, such as a jewelry set with necklaces, earrings and rings, etc."
          ]
        },
        "tags": {
          "description": "Custom tags associated with the product. At most 250 values are allowed per Product. This value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This tag can be used for filtering recommendation results by passing the tag as part of the PredictRequest.filter. Google Merchant Center property [custom_label_0–4](https://support.google.com/merchants/answer/6324473).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URL directly linking to the product detail page. It is strongly recommended to provide a valid uri for the product, otherwise the service performance could be significantly degraded. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [link](https://support.google.com/merchants/answer/6324416). Schema.org property [Offer.url](https://schema.org/url)."
        },
        "categories": {
          "type": "array",
          "description": "Product categories. This field is repeated for supporting one product belonging to several parallel categories. Strongly recommended using the full path for better search / recommendation quality. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). For example, if a shoes product belongs to both [\"Shoes & Accessories\" -\u003e \"Shoes\"] and [\"Sports & Fitness\" -\u003e \"Athletic Clothing\" -\u003e \"Shoes\"], it could be represented as: \"categories\": [ \"Shoes & Accessories \u003e Shoes\", \"Sports & Fitness \u003e Athletic Clothing \u003e Shoes\" ] Must be set for Type.PRIMARY Product otherwise an INVALID_ARGUMENT error is returned. At most 250 values are allowed per Product. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property google_product_category. Schema.org property [Product.category] (https://schema.org/category). [mc_google_product_category]: https://support.google.com/merchants/answer/6324436",
          "items": {
            "type": "string"
          }
        },
        "priceInfo": {
          "description": "Product price and cost information. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371).",
          "$ref": "GoogleCloudRetailV2betaPriceInfo"
        },
        "availableTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when this Product becomes available for recommendation."
        }
      },
      "id": "GoogleCloudRetailV2betaProduct",
      "description": "Product captures all metadata information of items to be recommended or searched."
    },
    "GoogleCloudRetailV2betaPurchaseTransaction": {
      "properties": {
        "currencyCode": {
          "description": "Required. Currency code. Use three-character ISO-4217 code.",
          "type": "string"
        },
        "tax": {
          "description": "All the taxes associated with the transaction.",
          "format": "float",
          "type": "number"
        },
        "id": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "revenue": {
          "description": "Required. Total non-zero revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations.",
          "format": "float",
          "type": "number"
        },
        "cost": {
          "type": "number",
          "format": "float",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = revenue - tax - cost"
        }
      },
      "description": "A transaction represents the entire purchase transaction.",
      "id": "GoogleCloudRetailV2betaPurchaseTransaction",
      "type": "object"
    },
    "GoogleCloudRetailLoggingErrorLog": {
      "properties": {
        "requestPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported. For example: \"type.googleapis.com/google.cloud.retail.v2.ProductService.CreateProductRequest\" \"type.googleapis.com/google.cloud.retail.v2.UserEventService.WriteUserEventRequest\"",
          "type": "object"
        },
        "responsePayload": {
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported and no PII is included: \"google.cloud.retail.v2.PredictionService.Predict\" \"google.cloud.retail.v2.UserEventService.WriteUserEvent\" \"google.cloud.retail.v2.UserEventService.CollectUserEvent\"",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        },
        "serviceContext": {
          "$ref": "GoogleCloudRetailLoggingServiceContext",
          "description": "The service context in which this error has occurred."
        },
        "importPayload": {
          "description": "The error payload that is populated on LRO import APIs.",
          "$ref": "GoogleCloudRetailLoggingImportErrorContext"
        },
        "context": {
          "$ref": "GoogleCloudRetailLoggingErrorContext",
          "description": "A description of the context in which the error occurred."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The RPC status associated with the error log."
        }
      },
      "id": "GoogleCloudRetailLoggingErrorLog",
      "type": "object",
      "description": "An error log which is reported to the Error Reporting system. This proto a superset of google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent."
    },
    "GoogleCloudRetailV2alphaExportUserEventsResponse": {
      "type": "object",
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2alphaExportUserEventsResponse",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig"
        }
      }
    },
    "GoogleCloudRetailV2betaExportErrorsConfig": {
      "type": "object",
      "description": "Configuration of destination for Export related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaExportErrorsConfig"
    },
    "GoogleCloudRetailV2betaListCatalogsResponse": {
      "id": "GoogleCloudRetailV2betaListCatalogsResponse",
      "type": "object",
      "description": "Response for CatalogService.ListCatalogs method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListCatalogsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "catalogs": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaCatalog"
          },
          "type": "array",
          "description": "All the customer's Catalogs."
        }
      }
    },
    "GoogleCloudRetailV2alphaPurgeMetadata": {
      "properties": {},
      "id": "GoogleCloudRetailV2alphaPurgeMetadata",
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaPurgeMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2betaPurgeMetadata"
    },
    "GoogleCloudRetailV2betaPredictRequest": {
      "id": "GoogleCloudRetailV2betaPredictRequest",
      "type": "object",
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific parameters for the predictions. Allowed values: * `returnProduct`: Boolean. If set to true, the associated product object will be returned in the `results.metadata` field in the prediction response. * `returnScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned product will be set in the `results.metadata` field in the prediction response. The given 'score' indicates the probability of an product being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular products instead of empty if your filter blocks all prediction results.",
          "type": "object"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results to return per page. Set this property to the number of prediction results needed. If zero, the service will choose a reasonable default. The maximum allowed value is 100. Values above 100 will be coerced to 100."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Use validate only mode for this prediction query. If set to true, a dummy model will be used that returns arbitrary products. Note that the validate only mode should only be used for testing the API, or if the model is not ready."
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging.",
          "$ref": "GoogleCloudRetailV2betaUserEvent"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels for the predict request. * Label keys can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * Non-zero label values can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * No more than 64 labels can be associated with a given request. See https://goo.gl/xmQnxf for more information on and examples of labels."
        },
        "pageToken": {
          "type": "string",
          "description": "The previous PredictResponse.next_page_token."
        },
        "filter": {
          "description": "Filter for restricting prediction results with a length limit of 5,000 characters. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to products that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1,000 characters. Note: \"Recently viewed\" models don't support tag filtering at the moment. * filterOutOfStockItems. Restricts predictions to products that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular products to be returned instead, set `strictFiltering` to false in `PredictRequest.params`.",
          "type": "string"
        }
      },
      "description": "Request message for Predict method."
    },
    "GoogleCloudRetailLoggingSourceLocation": {
      "type": "object",
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "id": "GoogleCloudRetailLoggingSourceLocation",
      "properties": {
        "functionName": {
          "description": "Human-readable name of a function or method. For example, \"google.cloud.retail.v2.UserEventService.ImportUserEvents\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaImportProductsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2alphaImportProductsResponse",
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2ImportProductsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2ImportProductsResponse",
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2betaImportUserEventsResponse": {
      "properties": {
        "importSummary": {
          "$ref": "GoogleCloudRetailV2betaUserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2betaImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object"
    },
    "GoogleCloudRetailLoggingImportErrorContext": {
      "type": "object",
      "properties": {
        "userEvent": {
          "description": "The detailed content which caused the error on importing a user event.",
          "type": "string"
        },
        "operationName": {
          "description": "The operation resource name of the LRO.",
          "type": "string"
        },
        "gcsPath": {
          "type": "string",
          "description": "GCS file path of the import source. Can be set for batch operation error."
        },
        "product": {
          "type": "string",
          "description": "The detailed content which caused the error on importing a product."
        },
        "lineNumber": {
          "type": "string",
          "description": "Line number of the content in file. Should be empty for permission or batch operation error."
        },
        "catalogItem": {
          "description": "The detailed content which caused the error on importing a catalog item.",
          "type": "string"
        }
      },
      "description": "The error payload that is populated on LRO import APIs. Including: \"google.cloud.retail.v2.ProductService.ImportProducts\" \"google.cloud.retail.v2.EventService.ImportUserEvents\"",
      "id": "GoogleCloudRetailLoggingImportErrorContext"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsMetadata": {
      "description": "Metadata for RejoinUserEvents method.",
      "properties": {},
      "id": "GoogleCloudRetailV2betaRejoinUserEventsMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2betaProductInputConfig": {
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRetailV2betaGcsSource"
        },
        "productInlineSource": {
          "$ref": "GoogleCloudRetailV2betaProductInlineSource",
          "description": "The Inline source for the input content for products."
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2betaBigQuerySource",
          "description": "BigQuery input source."
        }
      },
      "id": "GoogleCloudRetailV2betaProductInputConfig",
      "description": "The input config source for products."
    },
    "GoogleCloudRetailV2betaCustomAttribute": {
      "id": "GoogleCloudRetailV2betaCustomAttribute",
      "type": "object",
      "description": "A custom attribute that is not explicitly modeled in Product.",
      "properties": {
        "numbers": {
          "type": "array",
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". At most 400 values are allowed.Otherwise, an INVALID_ARGUMENT error is returned. Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "text": {
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". At most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. Otherwise, an INVALID_ARGUMENT error is returned. Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2betaPriceInfo": {
      "properties": {
        "price": {
          "type": "number",
          "format": "float",
          "description": "Price of the product. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371). Schema.org property [Offer.priceSpecification](https://schema.org/priceSpecification)."
        },
        "originalPrice": {
          "format": "float",
          "description": "Price of the product without any discount. If zero, by default set to be the price.",
          "type": "number"
        },
        "cost": {
          "description": "The costs associated with the sale of a particular product. Used for gross profit reporting. * Profit = price - cost Google Merchant Center property [cost_of_goods_sold](https://support.google.com/merchants/answer/9017895).",
          "type": "number",
          "format": "float"
        },
        "currencyCode": {
          "type": "string",
          "description": "The 3-letter currency code defined in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html). If this field is an unrecognizable currency code, an INVALID_ARGUMENT error is returned."
        }
      },
      "description": "The price information of a Product.",
      "id": "GoogleCloudRetailV2betaPriceInfo",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaExportErrorsConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "description": "Configuration of destination for Export related errors.",
      "id": "GoogleCloudRetailV2alphaExportErrorsConfig"
    },
    "GoogleCloudRetailLoggingServiceContext": {
      "description": "Describes a running service that sends errors.",
      "properties": {
        "service": {
          "type": "string",
          "description": "An identifier of the service. For example, \"retail.googleapis.com\"."
        }
      },
      "id": "GoogleCloudRetailLoggingServiceContext",
      "type": "object"
    }
  },
  "description": "Cloud Retail service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "name": "retail",
  "revision": "20210312",
  "canonicalName": "Cloud Retail",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "retail.projects.locations.operations.list",
                  "path": "v2beta/{+name}/operations"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "retail.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v2beta/{+name}",
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "catalogs": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.operations.get",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "id": "retail.projects.locations.catalogs.operations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations",
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "parameters": {
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list page token."
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "placements": {
                  "methods": {
                    "predict": {
                      "parameters": {
                        "placement": {
                          "description": "Required. Full resource name of the format: {name=projects/*/locations/global/catalogs/default_catalog/placements/*} The ID of the Recommendations AI placement. Before you can request predictions from your model, you must create at least one placement for it. For more information, see [Managing placements](https://cloud.google.com/retail/recommendations-ai/docs/manage-placements). The full list of available placements can be seen at https://console.cloud.google.com/recommendation/catalogs/default_catalog/placements",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/placements/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "placement"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/placements/{placementsId}:predict",
                      "description": "Makes a recommendation prediction.",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaPredictRequest"
                      },
                      "path": "v2beta/{+placement}:predict",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaPredictResponse"
                      },
                      "id": "retail.projects.locations.catalogs.placements.predict",
                      "httpMethod": "POST"
                    }
                  }
                },
                "userEvents": {
                  "methods": {
                    "write": {
                      "path": "v2beta/{+parent}/userEvents:write",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaUserEvent"
                      },
                      "id": "retail.projects.locations.catalogs.userEvents.write",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent catalog resource name, such as `projects/1234/locations/global/catalogs/default_catalog`.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaUserEvent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:write",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Writes a single user event."
                    },
                    "purge": {
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaPurgeUserEventsRequest"
                      },
                      "path": "v2beta/{+parent}/userEvents:purge",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the catalog under which the events are created. The format is `projects/${projectId}/locations/global/catalogs/${catalogId}`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.userEvents.purge",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:purge"
                    },
                    "collect": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+parent}/userEvents:collect",
                      "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Retail API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "parameters": {
                        "userEvent": {
                          "location": "query",
                          "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                          "type": "string"
                        },
                        "uri": {
                          "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for 3rd party requests.",
                          "location": "query",
                          "type": "string"
                        },
                        "ets": {
                          "location": "query",
                          "format": "int64",
                          "type": "string",
                          "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent catalog name, such as `projects/1234/locations/global/catalogs/default_catalog`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      },
                      "id": "retail.projects.locations.catalogs.userEvents.collect",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:collect",
                      "httpMethod": "GET"
                    },
                    "rejoin": {
                      "id": "retail.projects.locations.catalogs.userEvents.rejoin",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:rejoin",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaRejoinUserEventsRequest"
                      },
                      "path": "v2beta/{+parent}/userEvents:rejoin",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Triggers a user event rejoin operation with latest product catalog. Events will not be annotated with detailed product information if product is missing from the catalog at the time the user event is ingested, and these events are stored as unjoined events with a limited usage on training and serving. This API can be used to trigger a 'join' operation on specified events with latest version of product catalog. It can also be used to correct events joined with wrong product catalog.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent catalog resource name, such as `projects/1234/locations/global/catalogs/default_catalog`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "import": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
[...]
