{
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/android/work/play/emm-api",
  "name": "androidenterprise",
  "rootUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Google Play EMM API",
  "schemas": {
    "TokenPagination": {
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index.",
          "type": "string"
        }
      },
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object",
      "id": "TokenPagination"
    },
    "AppRestrictionsSchema": {
      "description": "Represents the list of app restrictions available to be pre-configured for the product.",
      "type": "object",
      "id": "AppRestrictionsSchema",
      "properties": {
        "restrictions": {
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          },
          "type": "array",
          "description": "The set of restrictions that make up this schema."
        },
        "kind": {
          "type": "string",
          "description": "Deprecated."
        }
      }
    },
    "DeviceReport": {
      "id": "DeviceReport",
      "properties": {
        "lastUpdatedTimestampMillis": {
          "type": "string",
          "description": "The timestamp of the last report update in milliseconds since epoch. This field will always be present.",
          "format": "int64"
        },
        "appState": {
          "type": "array",
          "items": {
            "$ref": "AppState"
          },
          "description": "List of app states set by managed apps on the device. App states are defined by the app's developers. This field will always be present."
        }
      },
      "description": "Device report updated with the latest app states for managed apps on the device.",
      "type": "object"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "A service account identity, including the name and credentials that can be used to authenticate as the service account.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Credentials that can be used to authenticate as this ServiceAccount.",
          "$ref": "ServiceAccountKey"
        },
        "name": {
          "description": "The account name of the service account, in the form of an email address. Assigned by the server.",
          "type": "string"
        }
      }
    },
    "UsersListResponse": {
      "properties": {
        "user": {
          "description": "A user of an enterprise.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "id": "UsersListResponse",
      "type": "object"
    },
    "GroupLicense": {
      "description": "Group license objects allow you to keep track of licenses (called entitlements) for both free and paid apps. For a free app, a group license is created when an enterprise admin first approves the product in Google Play or when the first entitlement for the product is created for a user via the API. For a paid app, a group license object is only created when an enterprise admin purchases the product in Google Play for the first time. Use the API to query group licenses. A Grouplicenses resource includes the total number of licenses purchased (paid apps only) and the total number of licenses currently in use. In other words, the total number of Entitlements that exist for the product. Only one group license object is created per product and group license objects are never deleted. If a product is unapproved, its group license remains. This allows enterprise admins to keep track of any remaining entitlements for the product.",
      "id": "GroupLicense",
      "type": "object",
      "properties": {
        "permissions": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The permission approval status of the product. This field is only set if the product is approved. Possible states are: - \"currentApproved\", the current set of permissions is approved, but additional permissions will require the administrator to reapprove the product (If the product was approved without specifying the approved permissions setting, then this is the default behavior.), - \"needsReapproval\", the product has unapproved permissions. No additional product licenses can be assigned until the product is reapproved, - \"allCurrentAndFutureApproved\", the current permissions are approved and any future permission updates will be automatically approved without administrator review. ",
          "enum": [
            "currentApproved",
            "needsReapproval",
            "allCurrentAndFutureApproved"
          ]
        },
        "approval": {
          "enum": [
            "approved",
            "unapproved"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Whether the product to which this group license relates is currently approved by the enterprise. Products are approved when a group license is first created, but this approval may be revoked by an enterprise admin via Google Play. Unapproved products will not be visible to end users in collections, and new entitlements to them should not normally be created."
        },
        "numProvisioned": {
          "type": "integer",
          "description": "The total number of provisioned licenses for this product. Returned by read operations, but ignored in write operations.",
          "format": "int32"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product that the license is for. For example, \"app:com.google.android.gm\"."
        },
        "acquisitionKind": {
          "enum": [
            "free",
            "bulkPurchase"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "How this group license was acquired. \"bulkPurchase\" means that this Grouplicenses resource was created because the enterprise purchased licenses for this product; otherwise, the value is \"free\" (for free products).",
          "type": "string"
        },
        "numPurchased": {
          "type": "integer",
          "description": "The number of purchased licenses (possibly in multiple purchases). If this field is omitted, then there is no limit on the number of licenses that can be provisioned (for example, if the acquisition kind is \"free\").",
          "format": "int32"
        }
      }
    },
    "Product": {
      "description": "A Products resource represents an app in the Google Play store that is available to at least some users in the enterprise. (Some apps are restricted to a single enterprise, and no information about them is made available outside that enterprise.) The information provided for each product (localized name, icon, link to the full Google Play details page) is intended to allow a basic representation of the product within an EMM user interface.",
      "id": "Product",
      "properties": {
        "features": {
          "description": "Noteworthy features (if any) of this product.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "The app is a VPN."
            ],
            "enum": [
              "featureUnknown",
              "vpnApp"
            ]
          },
          "enumDescriptions": [
            "",
            "The app is a VPN."
          ],
          "type": "array"
        },
        "permissions": {
          "type": "array",
          "description": "A list of permissions required by the app.",
          "items": {
            "$ref": "ProductPermission"
          }
        },
        "appVersion": {
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array",
          "description": "App versions currently available for this product."
        },
        "lastUpdatedTimestampMillis": {
          "description": "The approximate time (within 7 days) the app was last published, expressed in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "detailsUrl": {
          "type": "string",
          "description": "A link to the (consumer) Google Play details page for the product."
        },
        "distributionChannel": {
          "enum": [
            "publicGoogleHosted",
            "privateGoogleHosted",
            "privateSelfHosted"
          ],
          "type": "string",
          "description": "How and to whom the package is made available. The value publicGoogleHosted means that the package is available through the Play store and not restricted to a specific enterprise. The value privateGoogleHosted means that the package is a private app (restricted to an enterprise) but hosted by Google. The value privateSelfHosted means that the package is a private app (restricted to an enterprise) and is privately hosted.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "category": {
          "description": "The app category (e.g. RACING, SOCIAL, etc.)",
          "type": "string"
        },
        "workDetailsUrl": {
          "type": "string",
          "description": "A link to the managed Google Play details page for the product, for use by an Enterprise admin."
        },
        "iconUrl": {
          "type": "string",
          "description": "A link to an image that can be used as an icon for the product. This image is suitable for use at up to 512px x 512px."
        },
        "productId": {
          "description": "A string of the form *app:\u003cpackage name\u003e*. For example, app:com.google.android.gm represents the Gmail app.",
          "type": "string"
        },
        "smallIconUrl": {
          "description": "A link to a smaller image that can be used as an icon for the product. This image is suitable for use at up to 128px x 128px.",
          "type": "string"
        },
        "authorName": {
          "description": "The name of the author of the product (for example, the app developer).",
          "type": "string"
        },
        "requiresContainerApp": {
          "type": "boolean",
          "description": "Deprecated."
        },
        "signingCertificate": {
          "$ref": "ProductSigningCertificate",
          "description": "The certificate used to sign this product."
        },
        "screenshotUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of screenshot links representing the app."
        },
        "productPricing": {
          "description": "Whether this product is free, free with in-app purchases, or paid. If the pricing is unknown, this means the product is not generally available anymore (even though it might still be available to people who own it).",
          "enum": [
            "unknown",
            "free",
            "freeWithInAppPurchase",
            "paid"
          ],
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved product that is not generally available.",
            "The product is free.",
            "The product is free, but offers in-app purchases.",
            "The product is paid."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The localized promotional description, if available."
        },
        "availableTracks": {
          "items": {
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Deprecated, use appTracks instead.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "availableCountries": {
          "description": "The countries which this app is available in.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recentChanges": {
          "description": "A description of the recent changes made to the app.",
          "type": "string"
        },
        "contentRating": {
          "description": "The content rating for this app.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ratingUnknown",
            "all",
            "preTeen",
            "teen",
            "mature"
          ]
        },
        "title": {
          "type": "string",
          "description": "The name of the product."
        },
        "minAndroidSdkVersion": {
          "type": "integer",
          "description": "The minimum Android SDK necessary to run the app.",
          "format": "int32"
        },
        "appTracks": {
          "description": "The tracks visible to the enterprise.",
          "type": "array",
          "items": {
            "$ref": "TrackInfo"
          }
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\"."
        },
        "reason": {
          "enum": [
            "free",
            "groupLicense",
            "userPurchase"
          ],
          "type": "string",
          "description": "The reason for the entitlement. For example, \"free\" for free apps. This property is temporary: it will be replaced by the acquisition kind field of group licenses.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "Entitlement",
      "description": "The presence of an Entitlements resource indicates that a user has the right to use a particular app. Entitlements are user specific, not device specific. This allows a user with an entitlement to an app to install the app on all their devices. It's also possible for a user to hold an entitlement to an app without installing the app on any device. The API can be used to create an entitlement. As an option, you can also use the API to trigger the installation of an app on all a user's managed devices at the same time the entitlement is created. If the app is free, creating the entitlement also creates a group license for that app. For paid apps, creating the entitlement consumes one license, and that license remains consumed until the entitlement is removed. If the enterprise hasn't purchased enough licenses, then no entitlement is created and the installation fails. An entitlement is also not created for an app if the app requires permissions that the enterprise hasn't accepted. If an entitlement is deleted, the app may be uninstalled from a user's device. As a best practice, uninstall the app by calling Installs.delete() before deleting the entitlement. Entitlements for apps that a user pays for on an unmanaged profile have \"userPurchase\" as the entitlement reason. These entitlements cannot be removed via the API."
    },
    "GroupLicensesListResponse": {
      "type": "object",
      "properties": {
        "groupLicense": {
          "description": "A group license for a product approved for use in the enterprise.",
          "items": {
            "$ref": "GroupLicense"
          },
          "type": "array"
        }
      },
      "id": "GroupLicensesListResponse"
    },
    "ServiceAccountKey": {
      "description": "Credentials that can be used to authenticate as a service account.",
      "properties": {
        "data": {
          "type": "string",
          "description": "The body of the private key credentials file, in string format. This is only populated when the ServiceAccountKey is created, and is not stored by Google."
        },
        "id": {
          "type": "string",
          "description": "An opaque, unique identifier for this ServiceAccountKey. Assigned by the server."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Google Credentials File format.",
            "PKCS12 format. The password for the PKCS12 file is 'notasecret'. For more information, see https://tools.ietf.org/html/rfc7292. The data for keys of this type are base64 encoded according to RFC 4648 Section 4. See http://tools.ietf.org/html/rfc4648#section-4."
          ],
          "enum": [
            "googleCredentials",
            "pkcs12"
          ],
          "annotations": {
            "required": [
              "androidenterprise.serviceaccountkeys.insert"
            ]
          },
          "description": "The file format of the generated key data."
        },
        "publicData": {
          "description": "Public key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials key type, this is identical to the cert that can be retrieved by using the X.509 cert url inside of the credentials file.",
          "type": "string"
        }
      },
      "id": "ServiceAccountKey",
      "type": "object"
    },
    "AutoInstallPolicy": {
      "properties": {
        "autoInstallMode": {
          "enum": [
            "autoInstallModeUnspecified",
            "doNotAutoInstall",
            "autoInstallOnce",
            "forceAutoInstall"
          ],
          "description": "The auto-install mode. If unset defaults to \"doNotAutoInstall\".",
          "type": "string",
          "enumDescriptions": [
            "",
            "The product is not installed automatically, the user needs to install it from the Play Store.",
            "The product is automatically installed once, if the user uninstalls the product it will not be installed again.",
            "The product is automatically installed, if the user uninstalls the product it will be installed again. On managed devices the DPC should block uninstall."
          ]
        },
        "autoInstallPriority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the install, as an unsigned integer. A lower number means higher priority."
        },
        "minimumVersionCode": {
          "type": "integer",
          "description": "The minimum version of the app. If a lower version of the app is installed, then the app will be auto-updated according to the auto-install constraints, instead of waiting for the regular auto-update. You can set a minimum version code for at most 20 apps per device.",
          "format": "int32"
        },
        "autoInstallConstraint": {
          "description": "The constraints for auto-installing the app. You can specify a maximum of one constraint.",
          "type": "array",
          "items": {
            "$ref": "AutoInstallConstraint"
          }
        }
      },
      "id": "AutoInstallPolicy",
      "type": "object"
    },
    "ManagedConfiguration": {
      "description": "A managed configuration resource contains the set of managed properties defined by the app developer in the app's managed configurations schema, as well as any configuration variables defined for the user.",
      "type": "object",
      "properties": {
        "configurationVariables": {
          "$ref": "ConfigurationVariables",
          "description": "Contains the ID of the managed configuration profile and the set of configuration variables (if any) defined for the user."
        },
        "managedProperty": {
          "description": "The set of managed properties for this configuration.",
          "type": "array",
          "items": {
            "$ref": "ManagedProperty"
          }
        },
        "productId": {
          "description": "The ID of the product that the managed configuration is for, e.g. \"app:com.google.android.gm\".",
          "type": "string"
        },
        "kind": {
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "id": "ManagedConfiguration"
    },
    "ProductSigningCertificate": {
      "id": "ProductSigningCertificate",
      "type": "object",
      "properties": {
        "certificateHashSha1": {
          "type": "string",
          "description": "The base64 urlsafe encoded SHA1 hash of the certificate. (This field is deprecated in favor of SHA2-256. It should not be used and may be removed at any time.)"
        },
        "certificateHashSha256": {
          "description": "The base64 urlsafe encoded SHA2-256 hash of the certificate.",
          "type": "string"
        }
      }
    },
    "ProductsApproveRequest": {
      "id": "ProductsApproveRequest",
      "properties": {
        "approvalUrlInfo": {
          "$ref": "ApprovalUrlInfo",
          "description": "The approval URL that was shown to the user. Only the permissions shown to the user with that URL will be accepted, which may not be the product's entire set of permissions. For example, the URL may only display new permissions from an update after the product was approved, or not include new permissions if the product was updated since the URL was generated."
        },
        "approvedPermissions": {
          "description": "Sets how new permission requests for the product are handled. \"allPermissions\" automatically approves all current and future permissions for the product. \"currentPermissionsOnly\" approves the current set of permissions for the product, but any future permissions added through updates will require manual reapproval. If not specified, only the current set of permissions will be approved.",
          "enumDescriptions": [
            "Approve only the permissions the product requires at approval time. If an update requires additional permissions, the app will not be updated on devices associated with enterprise users until the additional permissions are approved.",
            "All current and future permissions the app requires are automatically approved."
          ],
          "type": "string",
          "enum": [
            "currentPermissionsOnly",
            "allPermissions"
          ]
        }
      },
      "type": "object"
    },
    "AppUpdateEvent": {
      "description": "An event generated when a new version of an app is uploaded to Google Play. Notifications are sent for new public versions only: alpha, beta, or canary versions do not generate this event. To fetch up-to-date version history for an app, use Products.Get on the EMM API.",
      "id": "AppUpdateEvent",
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") that was updated. This field will always be present."
        }
      }
    },
    "StoreLayout": {
      "type": "object",
      "id": "StoreLayout",
      "properties": {
        "storeLayoutType": {
          "enum": [
            "unknown",
            "basic",
            "custom"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The store layout type. By default, this value is set to \"basic\" if the homepageId field is not set, and to \"custom\" otherwise. If set to \"basic\", the layout will consist of all approved apps that have been whitelisted for the user.",
          "type": "string"
        },
        "homepageId": {
          "type": "string",
          "description": "The ID of the store page to be used as the homepage. The homepage is the first page shown in the managed Google Play Store. Not specifying a homepage is equivalent to setting the store layout type to \"basic\"."
        }
      },
      "description": "General setting for the managed Google Play store layout, currently only specifying the page to display the first time the store is opened."
    },
    "Install": {
      "properties": {
        "productId": {
          "description": "The ID of the product that the install is for. For example, \"app:com.google.android.gm\".",
          "type": "string"
        },
        "versionCode": {
          "description": "The version of the installed product. Guaranteed to be set only if the install state is \"installed\".",
          "format": "int32",
          "type": "integer"
        },
        "installState": {
          "enum": [
            "installed",
            "installPending"
          ],
          "description": "Install state. The state \"installPending\" means that an install request has recently been made and download to the device is in progress. The state \"installed\" means that the app has been installed. This field is read-only.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "description": "The existence of an Installs resource indicates that an app is installed on a particular device (or that an install is pending). The API can be used to create an install resource using the update method. This triggers the actual install of the app on the device. If the user does not already have an entitlement for the app, then an attempt is made to create one. If this fails (for example, because the app is not free and there is no available license), then the creation of the install fails. The API can also be used to update an installed app. If the update method is used on an existing install, then the app will be updated to the latest available version. Note that it is not possible to force the installation of a specific version of an app: the version code is read-only. If a user installs an app themselves (as permitted by the enterprise), then again an install resource and possibly an entitlement resource are automatically created. The API can also be used to delete an install resource, which triggers the removal of the app from the device. Note that deleting an install does not automatically remove the corresponding entitlement, even if there are no remaining installs. The install resource will also be deleted if the user uninstalls the app themselves.",
      "id": "Install",
      "type": "object"
    },
    "AppRestrictionsSchemaChangeEvent": {
      "type": "object",
      "description": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API.",
      "id": "AppRestrictionsSchemaChangeEvent",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present."
        }
      }
    },
    "ProductSet": {
      "properties": {
        "productSetBehavior": {
          "enumDescriptions": [
            "This value should never be sent and ignored if received.",
            "This product set constitutes a whitelist.",
            "This product set represents all products. For Android app it represents only \"production\" track. (The value of the productId field is therefore ignored).",
            "This product set represents all approved products. For Android app it represents only \"production\" track. (The value of the product_id field is therefore ignored)."
          ],
          "type": "string",
          "description": "The interpretation of this product set. \"unknown\" should never be sent and is ignored if received. \"whitelist\" means that the user is entitled to access the product set. \"includeAll\" means that all products are accessible, including products that are approved, products with revoked approval, and products that have never been approved. \"allApproved\" means that the user is entitled to access all products that are approved for the enterprise. If the value is \"allApproved\" or \"includeAll\", the productId field is ignored. If no value is provided, it is interpreted as \"whitelist\" for backwards compatibility. Further \"allApproved\" or \"includeAll\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks for Android app. Use ProductVisibility to enable \"alpha\" or \"beta\" tracks per user.",
          "enum": [
            "unknown",
            "whitelist",
            "includeAll",
            "allApproved"
          ]
        },
        "productId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of product IDs making up the set of products."
        },
        "productVisibility": {
          "description": "Additional list of product IDs making up the product set. Unlike the productID array, in this list It's possible to specify which tracks (alpha, beta, production) of a product are visible to the user. See ProductVisibility and its fields for more information. Specifying the same product ID both here and in the productId array is not allowed and it will result in an error.",
          "items": {
            "$ref": "ProductVisibility"
          },
          "type": "array"
        }
      },
      "id": "ProductSet",
      "type": "object",
      "description": "A set of products."
    },
    "StorePage": {
      "description": "Definition of a managed Google Play store page, made of a localized name and links to other pages. A page also contains clusters defined as a subcollection.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique ID of this page. Assigned by the server. Immutable once assigned.",
          "type": "string"
        },
        "link": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ordered list of pages a user should be able to reach from this page. The list can't include this page. It is recommended that the basic pages are created first, before adding the links between pages. The API doesn't verify that the pages exist or the pages are reachable."
        },
        "name": {
          "type": "array",
          "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
          "items": {
            "$ref": "LocalizedText"
          }
        }
      },
      "id": "StorePage"
    },
    "ManagedConfigurationsForDeviceListResponse": {
      "type": "object",
      "id": "ManagedConfigurationsForDeviceListResponse",
      "properties": {
        "managedConfigurationForDevice": {
          "description": "A managed configuration for an app on a specific device.",
          "type": "array",
          "items": {
            "$ref": "ManagedConfiguration"
          }
        }
      }
    },
    "AutoInstallConstraint": {
      "properties": {
        "networkTypeConstraint": {
          "enum": [
            "networkTypeConstraintUnspecified",
            "anyNetwork",
            "unmeteredNetwork"
          ],
          "enumDescriptions": [
            "",
            "Any active networks (Wi-Fi, cellular, etc.).",
            "Any unmetered network (e.g. Wi-FI)."
          ],
          "description": "Network type constraint.",
          "type": "string"
        },
        "chargingStateConstraint": {
          "enumDescriptions": [
            "",
            "Device doesn't have to be charging.",
            "Device has to be charging."
          ],
          "enum": [
            "chargingStateConstraintUnspecified",
            "chargingNotRequired",
            "chargingRequired"
          ],
          "description": "Charging state constraint.",
          "type": "string"
        },
        "deviceIdleStateConstraint": {
          "enum": [
            "deviceIdleStateConstraintUnspecified",
            "deviceIdleNotRequired",
            "deviceIdleRequired"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Device doesn't have to be idle, app can be installed while the user is interacting with the device.",
            "Device has to be idle."
          ],
          "description": "Device idle state constraint."
        }
      },
      "type": "object",
      "description": "The auto-install constraint. Defines a set of restrictions for installation. At least one of the fields must be set.",
      "id": "AutoInstallConstraint"
    },
    "ProductsGenerateApprovalUrlResponse": {
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL that can be rendered in an iframe to display the permissions (if any) of a product. This URL can be used to approve the product only once and only within 24 hours of being generated, using the Products.approve call. If the product is currently unapproved and has no permissions, this URL will point to an empty page. If the product is currently approved, a URL will only be generated if that product has added permissions since it was last approved, and the URL will only display those new permissions that have not yet been accepted."
        }
      },
      "type": "object",
      "id": "ProductsGenerateApprovalUrlResponse"
    },
    "MaintenanceWindow": {
      "description": "Maintenance window for managed Google Play Accounts. This allows Play store to update the apps on the foreground in the designated window.",
      "properties": {
        "startTimeAfterMidnightMs": {
          "description": "Start time of the maintenance window, in milliseconds after midnight on the device. Windows can span midnight.",
          "type": "string",
          "format": "int64"
        },
        "durationMs": {
          "type": "string",
          "format": "int64",
          "description": "Duration of the maintenance window, in milliseconds. The duration must be between 30 minutes and 24 hours (inclusive)."
        }
      },
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "AppVersion": {
      "description": "This represents a single version of the app.",
      "type": "object",
      "id": "AppVersion",
      "properties": {
        "track": {
          "description": "Deprecated, use trackId instead.",
          "enum": [
            "appTrackUnspecified",
            "production",
            "beta",
            "alpha"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "versionCode": {
          "type": "integer",
          "description": "Unique increasing identifier for the app version.",
          "format": "int32"
        },
        "isProduction": {
          "type": "boolean",
          "description": "True if this version is a production APK."
        },
        "versionString": {
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\").",
          "type": "string"
        },
        "trackId": {
          "description": "Track ids that the app version is published in. Replaces the track field (deprecated), but doesn't include the production track (see isProduction instead).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TrackInfo": {
      "id": "TrackInfo",
      "properties": {
        "trackId": {
          "description": "Unmodifiable, unique track identifier. This identifier is the releaseTrackId in the url of the play developer console page that displays the track information.",
          "type": "string"
        },
        "trackAlias": {
          "description": "A modifiable name for a track. This is the visible name in the play developer console.",
          "type": "string"
        }
      },
      "description": "Id to name association of a track.",
      "type": "object"
    },
    "AdministratorWebTokenSpecStoreBuilder": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Organize apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "id": "AdministratorWebTokenSpecStoreBuilder"
    },
    "ManagedConfigurationsSettingsListResponse": {
      "properties": {
        "managedConfigurationsSettings": {
          "description": "A managed configurations settings for an app that may be assigned to a group of users in an enterprise.",
          "items": {
            "$ref": "ManagedConfigurationsSettings"
          },
          "type": "array"
        }
      },
      "id": "ManagedConfigurationsSettingsListResponse",
      "type": "object"
    },
    "ConfigurationVariables": {
      "id": "ConfigurationVariables",
      "type": "object",
      "properties": {
        "mcmId": {
          "type": "string",
          "description": "The ID of the managed configurations settings."
        },
        "variableSet": {
          "type": "array",
          "description": "The variable set that is attributed to the user.",
          "items": {
            "$ref": "VariableSet"
          }
        }
      },
      "description": "A configuration variables resource contains the managed configuration settings ID to be applied to a single user, as well as the variable set that is attributed to the user. The variable set will be used to replace placeholders in the managed configuration settings."
    },
    "ProductApprovalEvent": {
      "id": "ProductApprovalEvent",
      "properties": {
        "approved": {
          "enumDescriptions": [
            "Conveys no information.",
            "The product was approved.",
            "The product was unapproved."
          ],
          "description": "Whether the product was approved or unapproved. This field will always be present.",
          "enum": [
            "unknown",
            "approved",
            "unapproved"
          ],
          "type": "string"
        },
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the approval status has changed. This field will always be present.",
          "type": "string"
        }
      },
      "description": "An event generated when a product's approval status is changed.",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "permissionId": {
          "type": "string",
          "description": "An opaque string uniquely identifying the permission."
        },
        "name": {
          "description": "The name of the permission.",
          "type": "string"
        },
        "description": {
          "description": "A longer description of the Permissions resource, giving more details of what it affects.",
          "type": "string"
        }
      },
      "description": "A Permissions resource represents some extra capability, to be granted to an Android app, which requires explicit consent. An enterprise admin must consent to these permissions on behalf of their users before an entitlement for the app can be created. The permissions collection is read-only. The information provided for each permission (localized name and description) is intended to be used in the MDM user interface when obtaining consent from the enterprise.",
      "type": "object",
      "id": "Permission"
    },
    "DeviceReportUpdateEvent": {
      "properties": {
        "userId": {
          "description": "The ID of the user. This field will always be present.",
          "type": "string"
        },
        "report": {
          "description": "The device report updated with the latest app states. This field will always be present.",
          "$ref": "DeviceReport"
        },
        "deviceId": {
          "description": "The Android ID of the device. This field will always be present.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An event generated when an updated device report is available.",
      "id": "DeviceReportUpdateEvent"
    },
    "ProductsListResponse": {
      "type": "object",
      "id": "ProductsListResponse",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        },
        "product": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "Information about a product (e.g. an app) in the Google Play store, for display to an enterprise admin."
        }
      }
    },
    "AdministratorWebTokenSpecManagedConfigurations": {
      "type": "object",
      "id": "AdministratorWebTokenSpecManagedConfigurations",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Managed Configuration page is displayed. Default is true."
        }
      }
    },
    "StoreLayoutPagesListResponse": {
      "type": "object",
      "properties": {
        "page": {
          "description": "A store page of an enterprise.",
          "type": "array",
          "items": {
            "$ref": "StorePage"
          }
        }
      },
      "id": "StoreLayoutPagesListResponse"
    },
    "ProductPolicy": {
      "description": "The policy for a product.",
      "type": "object",
      "id": "ProductPolicy",
      "properties": {
        "tracks": {
          "description": "Deprecated. Use trackIds instead.",
          "type": "array",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "items": {
            "type": "string",
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ]
          }
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For example, \"app:com.google.android.gm\"."
        },
        "autoInstallPolicy": {
          "$ref": "AutoInstallPolicy",
          "description": "The auto-install policy for the product."
        },
        "managedConfiguration": {
          "description": "The managed configuration for the product.",
          "$ref": "ManagedConfiguration"
        },
        "trackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Grants the device visibility to the specified product release track(s), identified by trackIds. The list of release tracks of a product can be obtained by calling Products.Get."
        }
      }
    },
    "AdministratorWebToken": {
      "description": "A token authorizing an admin to access an iframe.",
      "type": "object",
      "properties": {
        "token": {
          "description": "An opaque token to be passed to the Play front-end to generate an iframe.",
          "type": "string"
        }
      },
      "id": "AdministratorWebToken"
    },
    "ServiceAccountKeysListResponse": {
      "type": "object",
      "id": "ServiceAccountKeysListResponse",
      "properties": {
        "serviceAccountKey": {
          "type": "array",
          "description": "The service account credentials.",
          "items": {
            "$ref": "ServiceAccountKey"
          }
        }
      }
    },
    "KeyedAppState": {
      "properties": {
        "key": {
          "description": "Key indicating what the app is providing a state for. The content of the key is set by the app's developer. To prevent XSS, we recommend removing any HTML from the key before displaying it. This field will always be present.",
          "type": "string"
        },
        "stateTimestampMillis": {
          "format": "int64",
          "description": "Timestamp of when the app set the state in milliseconds since epoch. This field will always be present.",
          "type": "string"
        },
        "message": {
          "description": "Free-form, human-readable message describing the app state. For example, an error message. To prevent XSS, we recommend removing any HTML from the message before displaying it.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "severityUnknown",
            "severityInfo",
            "severityError"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Severity of the app state. This field will always be present."
        },
        "data": {
          "description": "Additional field intended for machine-readable data. For example, a number or JSON object. To prevent XSS, we recommend removing any HTML from the data before displaying it.",
          "type": "string"
        }
      },
      "description": "Represents a keyed app state containing a key, timestamp, severity level, optional description, and optional data.",
      "type": "object",
      "id": "KeyedAppState"
    },
    "AppRestrictionsSchemaRestriction": {
      "description": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.",
      "id": "AppRestrictionsSchemaRestriction",
      "properties": {
        "defaultValue": {
          "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue",
          "description": "The default value of the restriction. bundle and bundleArray restrictions never have a default value."
        },
        "restrictionType": {
          "type": "string",
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "description": "The type of the restriction.",
          "enum": [
            "bool",
            "string",
            "integer",
            "choice",
            "multiselect",
            "hidden",
            "bundle",
            "bundleArray"
          ]
        },
        "key": {
          "type": "string",
          "description": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\"."
        },
        "entry": {
          "items": {
            "type": "string"
          },
          "description": "For choice or multiselect restrictions, the list of possible entries' human-readable names.",
          "type": "array"
        },
        "title": {
          "description": "The name of the restriction.",
          "type": "string"
        },
        "description": {
          "description": "A longer description of the restriction, giving more detail of what it affects.",
          "type": "string"
        },
        "nestedRestriction": {
          "type": "array",
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          },
          "description": "For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep."
        },
        "entryValue": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For choice or multiselect restrictions, the list of possible entries' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction."
        }
      },
      "type": "object"
    },
    "ProductPermissions": {
      "type": "object",
      "description": "Information about the permissions required by a specific app and whether they have been accepted by the enterprise.",
      "properties": {
        "productId": {
          "description": "The ID of the app that the permissions relate to, e.g. \"app:com.google.android.gm\".",
          "type": "string"
        },
        "permission": {
          "items": {
            "$ref": "ProductPermission"
          },
          "description": "The permissions required by the app.",
          "type": "array"
        }
      },
      "id": "ProductPermissions"
    },
    "Notification": {
      "description": "A notification of one event relating to an enterprise.",
      "id": "Notification",
      "type": "object",
      "properties": {
        "installFailureEvent": {
          "description": "Notifications about an app installation failure.",
          "$ref": "InstallFailureEvent"
        },
        "deviceReportUpdateEvent": {
          "$ref": "DeviceReportUpdateEvent",
          "description": "Notifications about device report updates."
        },
        "notificationType": {
          "type": "string",
          "description": "Type of the notification.",
          "enumDescriptions": [
            "",
            "A test push notification.",
            "Notification about change to a product's approval status.",
            "Notification about an app installation failure.",
            "Notification about app update.",
            "Notification about new app permissions.",
            "Notification about new app restrictions schema change.",
            "Notification about product availability change.",
            "Notification about a new device.",
            "Notification about an updated device report."
          ],
          "enum": [
            "unknown",
            "testNotification",
            "productApproval",
            "installFailure",
            "appUpdate",
            "newPermissions",
            "appRestricionsSchemaChange",
            "productAvailabilityChange",
            "newDevice",
            "deviceReportUpdate"
          ]
        },
        "productAvailabilityChangeEvent": {
          "description": "Notifications about product availability changes.",
          "$ref": "ProductAvailabilityChangeEvent"
        },
        "newPermissionsEvent": {
          "description": "Notifications about new app permissions.",
          "$ref": "NewPermissionsEvent"
        },
        "timestampMillis": {
          "type": "string",
          "description": "The time when the notification was published in milliseconds since 1970-01-01T00:00:00Z. This will always be present.",
          "format": "int64"
        },
        "productApprovalEvent": {
          "description": "Notifications about changes to a product's approval status.",
          "$ref": "ProductApprovalEvent"
        },
        "appRestrictionsSchemaChangeEvent": {
          "$ref": "AppRestrictionsSchemaChangeEvent",
          "description": "Notifications about new app restrictions schema changes."
        },
        "appUpdateEvent": {
          "description": "Notifications about app updates.",
          "$ref": "AppUpdateEvent"
        },
        "enterpriseId": {
          "type": "string",
          "description": "The ID of the enterprise for which the notification is sent. This will always be present."
        },
        "newDeviceEvent": {
          "$ref": "NewDeviceEvent",
          "description": "Notifications about new devices."
        }
      }
    },
    "WebAppsListResponse": {
      "properties": {
        "webApp": {
          "type": "array",
          "items": {
            "$ref": "WebApp"
          },
          "description": "The manifest describing a web app."
        }
      },
      "type": "object",
      "id": "WebAppsListResponse"
    },
    "DeviceState": {
      "type": "object",
      "description": "The state of a user's device, as accessed by the getState and setState methods on device resources.",
      "properties": {
        "accountState": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The state of the Google account on the device. \"enabled\" indicates that the Google account on the device can be used to access Google services (including Google Play), while \"disabled\" means that it cannot. A new device is initially in the \"disabled\" state.",
          "enum": [
            "enabled",
            "disabled"
          ],
          "type": "string"
        }
      },
      "id": "DeviceState"
    },
    "InstallsListResponse": {
      "type": "object",
      "id": "InstallsListResponse",
      "properties": {
        "install": {
          "type": "array",
          "items": {
            "$ref": "Install"
          },
          "description": "An installation of an app for a user on a specific device. The existence of an install implies that the user must have an entitlement to the app."
        }
      }
    },
    "ManagedConfigurationsSettings": {
      "type": "object",
      "description": "A managed configurations settings resource contains the set of managed properties that have been configured for an Android app to be applied to a set of users. The app's developer would have defined configurable properties in the managed configurations schema.",
      "id": "ManagedConfigurationsSettings",
      "properties": {
        "mcmId": {
          "description": "The ID of the managed configurations settings.",
          "type": "string"
        },
        "lastUpdatedTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The last updated time of the managed configuration settings in milliseconds since 1970-01-01T00:00:00Z."
        },
        "name": {
          "description": "The name of the managed configurations settings.",
          "type": "string"
        }
      }
    },
    "SignupInfo": {
      "properties": {
        "kind": {
          "description": "Deprecated.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL under which the Admin can sign up for an enterprise. The page pointed to cannot be rendered in an iframe."
        },
        "completionToken": {
          "description": "An opaque token that will be required, along with the Enterprise Token, for obtaining the enterprise resource from CompleteSignup.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource returned by the GenerateSignupUrl API, which contains the Signup URL and Completion Token.",
      "id": "SignupInfo"
    },
    "AdministratorWebTokenSpecPrivateApps": {
      "id": "AdministratorWebTokenSpecPrivateApps",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Private Apps page is displayed. Default is true.",
          "type": "boolean"
        }
      }
    },
    "ProductAvailabilityChangeEvent": {
      "type": "object",
      "properties": {
        "availabilityStatus": {
          "type": "string",
          "enumDescriptions": [
            "Conveys no information.",
            "The previously unavailable product is again available on Google Play.",
            "The product was removed from Google Play.",
            "The product was unpublished by the developer."
          ],
          "description": "The new state of the product. This field will always be present.",
          "enum": [
            "unknown",
            "available",
            "removed",
            "unpublished"
          ]
        },
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the product availability changed. This field will always be present."
        }
      },
      "description": "An event generated whenever a product's availability changes.",
      "id": "ProductAvailabilityChangeEvent"
    },
    "Device": {
      "description": "A Devices resource represents a mobile device managed by the EMM and belonging to a specific enterprise user.",
      "properties": {
        "androidId": {
          "type": "string",
          "description": "The Google Play Services Android ID for the device encoded as a lowercase hex string. For example, \"123456789abcdef0\"."
        },
        "managementType": {
          "description": "Identifies the extent to which the device is controlled by a managed Google Play EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device that has the EMM's device policy controller (DPC) as the device owner. - \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC. - \"containerApp\", no longer used (deprecated). - \"unmanagedProfile\", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use managed Google Play, but the profile is itself not owned by a DPC. ",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "managedDevice",
            "managedProfile",
            "containerApp",
            "unmanagedProfile"
          ],
          "type": "string"
        },
        "report": {
          "$ref": "DeviceReport",
          "description": "The device report updated with the latest app states."
        },
        "policy": {
          "description": "The policy enforced on the device.",
          "$ref": "Policy"
        }
      },
      "id": "Device",
      "type": "object"
    },
    "NewDeviceEvent": {
      "type": "object",
      "properties": {
        "userId": {
          "description": "The ID of the user. This field will always be present.",
          "type": "string"
        },
        "dpcPackageName": {
          "type": "string",
          "description": "Policy app on the device."
        },
        "managementType": {
          "description": "Identifies the extent to which the device is controlled by an Android EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device where the DPC is set as device owner, - \"managedProfile\", a device where the DPC is set as profile owner. ",
          "type": "string",
          "enum": [
            "managedDevice",
            "managedProfile"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "deviceId": {
          "type": "string",
          "description": "The Android ID of the device. This field will always be present."
        }
      },
      "description": "An event generated when a new device is ready to be managed.",
      "id": "NewDeviceEvent"
    },
    "AdministratorWebTokenSpec": {
      "description": "Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.",
      "type": "object",
      "properties": {
        "webApps": {
          "description": "Options for displaying the Web Apps page.",
          "$ref": "AdministratorWebTokenSpecWebApps"
        },
        "permission": {
          "description": "Deprecated. Use PlaySearch.approveApps.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown permission.",
              "Permission to approve and unapprove apps.",
              "Permission to manage app restrictions."
            ],
            "enum": [
              "unknown",
              "approveApps",
              "manageMcm"
            ]
          },
          "enumDescriptions": [
            "Unknown permission.",
            "Permission to approve and unapprove apps.",
            "Permission to manage app restrictions."
          ]
        },
        "managedConfigurations": {
          "description": "Options for displaying the Managed Configuration page.",
          "$ref": "AdministratorWebTokenSpecManagedConfigurations"
        },
        "privateApps": {
          "description": "Options for displaying the Private Apps page.",
          "$ref": "AdministratorWebTokenSpecPrivateApps"
        },
        "playSearch": {
          "$ref": "AdministratorWebTokenSpecPlaySearch",
          "description": "Options for displaying the managed Play Search apps page."
        },
        "storeBuilder": {
          "$ref": "AdministratorWebTokenSpecStoreBuilder",
          "description": "Options for displaying the Organize apps page."
        },
        "parent": {
          "type": "string",
          "description": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https. Use whitespaces to separate multiple parent URIs."
        }
      },
      "id": "AdministratorWebTokenSpec"
    },
    "PageInfo": {
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "properties": {
        "resultPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response."
        },
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "PageInfo",
      "type": "object"
    },
    "AuthenticationToken": {
      "description": "An AuthenticationToken is used by the EMM's device policy client on a device to provision the given EMM-managed user on that device.",
      "id": "AuthenticationToken",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The authentication token to be passed to the device policy client on the device where it can be used to provision the account for which this token was generated."
        }
      }
    },
    "NotificationSet": {
      "properties": {
        "notification": {
          "items": {
            "$ref": "Notification"
          },
          "type": "array",
          "description": "The notifications received, or empty if no notifications are present."
        },
        "notificationSetId": {
          "description": "The notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification API. This will be omitted if no notifications are present.",
          "type": "string"
        }
      },
      "description": "A resource returned by the PullNotificationSet API, which contains a collection of notifications for enterprises associated with the service account authenticated for the request.",
      "type": "object",
      "id": "NotificationSet"
    },
    "EnterprisesSendTestPushNotificationResponse": {
      "id": "EnterprisesSendTestPushNotificationResponse",
      "properties": {
        "messageId": {
          "description": "The message ID of the test push notification that was sent.",
          "type": "string"
        },
        "topicName": {
          "description": "The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppRestrictionsSchemaRestrictionRestrictionValue": {
      "properties": {
        "valueInteger": {
          "type": "integer",
          "format": "int32",
          "description": "The integer value - this will only be present if type is integer."
        },
        "type": {
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "description": "The type of the value being provided.",
          "enum": [
            "bool",
            "string",
            "integer",
            "choice",
            "multiselect",
            "hidden",
            "bundle",
            "bundleArray"
          ],
          "type": "string"
        },
        "valueString": {
          "description": "The string value - this will be present for types string, choice and hidden.",
          "type": "string"
        },
        "valueBool": {
          "description": "The boolean value - this will only be present if type is bool.",
          "type": "boolean"
        },
        "valueMultiselect": {
          "type": "array",
          "description": "The list of string values - this will only be present if type is multiselect.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A typed value for the restriction.",
      "id": "AppRestrictionsSchemaRestrictionRestrictionValue",
      "type": "object"
    },
    "GroupLicenseUsersListResponse": {
      "type": "object",
      "properties": {
        "user": {
          "type": "array",
          "description": "A user of an enterprise.",
          "items": {
            "$ref": "User"
          }
        }
      },
      "id": "GroupLicenseUsersListResponse"
    },
    "InstallFailureEvent": {
      "description": "An event generated when an app installation failed on a device",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the install failure event occured. This field will always be present.",
          "type": "string"
        },
        "failureDetails": {
          "type": "string",
          "description": "Additional details on the failure if applicable."
        },
        "userId": {
          "description": "The ID of the user. This field will always be present.",
          "type": "string"
        },
        "deviceId": {
          "description": "The Android ID of the device. This field will always be present.",
          "type": "string"
        },
        "failureReason": {
          "description": "The reason for the installation failure. This field will always be present.",
          "type": "string",
          "enumDescriptions": [
            "Used whenever no better reason for failure can be provided.",
            "Used when the installation timed out. This can cover a number of situations, for example when the device did not have connectivity at any point during the retry period, or if the device is OOM."
          ],
          "enum": [
            "unknown",
            "timeout"
          ]
        }
      },
      "type": "object",
      "id": "InstallFailureEvent"
    },
    "Policy": {
      "description": "The device policy for a given managed device.",
      "type": "object",
      "properties": {
        "deviceReportPolicy": {
          "description": "Whether the device reports app states to the EMM. The default value is \"deviceReportDisabled\".",
          "type": "string",
          "enum": [
            "deviceReportPolicyUnspecified",
            "deviceReportDisabled",
            "deviceReportEnabled"
          ],
          "enumDescriptions": [
            "The device report policy is not set.",
            "Device reports are disabled.",
            "Device reports are enabled."
          ]
        },
        "autoUpdatePolicy": {
          "type": "string",
          "enumDescriptions": [
            "The auto update policy is not set.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over WiFi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "description": "The auto-update policy for apps installed on the device. \"choiceToTheUser\" allows the device's user to configure the app update policy. \"always\" enables auto updates. \"never\" disables auto updates. \"wifiOnly\" enables auto updates only when the device is connected to wifi.",
          "enum": [
            "autoUpdatePolicyUnspecified",
            "choiceToTheUser",
            "never",
            "wifiOnly",
            "always"
          ]
        },
        "productAvailabilityPolicy": {
          "description": "The availability granted to the device for the specified products. \"all\" gives the device access to all products, regardless of approval status. \"all\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks. \"whitelist\" grants the device access the products specified in productPolicy[]. Only products that are approved or products that were previously approved (products with revoked approval) by the enterprise can be whitelisted. If no value is provided, the availability set at the user level is applied by default.",
          "type": "string",
          "enum": [
            "productAvailabilityPolicyUnspecified",
            "whitelist",
            "all"
          ],
          "enumDescriptions": [
            "Unspecified, applies the user available product set by default.",
            "The approved products with product availability set to AVAILABLE in the product policy are available.",
            "All products are available except those explicitly marked as unavailable in the product availability policy."
          ]
        },
        "productPolicy": {
          "type": "array",
          "description": "The list of product policies. The productAvailabilityPolicy needs to be set to WHITELIST or ALL for the product policies to be applied.",
          "items": {
            "$ref": "ProductPolicy"
          }
        },
        "maintenanceWindow": {
          "description": "The maintenance window defining when apps running in the foreground should be updated.",
          "$ref": "MaintenanceWindow"
        }
      },
      "id": "Policy"
    },
    "Enterprise": {
      "properties": {
        "primaryDomain": {
          "description": "The enterprise's primary domain, such as \"example.com\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the enterprise, for example, \"Example, Inc\"."
        },
        "id": {
          "description": "The unique ID for the enterprise.",
          "type": "string"
        },
        "administrator": {
          "description": "Admins of the enterprise. This is only supported for enterprises created via the EMM-initiated flow.",
          "items": {
            "$ref": "Administrator"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: - For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. - For managed Google Play Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the managed Google Play sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details.",
      "id": "Enterprise"
    },
    "User": {
      "id": "User",
      "type": "object",
      "description": "A Users resource represents an account associated with an enterprise. The account may be specific to a device or to an individual user (who can then use the account across multiple devices). The account may provide access to managed Google Play only, or to other Google services, depending on the identity model: - The Google managed domain identity model requires synchronization to Google account sources (via primaryEmail). - The managed Google Play Accounts identity model provides a dynamic means for enterprises to create user or device accounts as needed. These accounts provide access to managed Google Play. ",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID for the user."
        },
        "primaryEmail": {
          "description": "The user's primary email address, for example, \"jsmith@example.com\". Will always be set for Google managed users and not set for EMM managed users.",
          "type": "string"
        },
        "accountType": {
          "enum": [
            "deviceAccount",
            "userAccount"
          ],
          "description": "The type of account that this user represents. A userAccount can be installed on multiple devices, but a deviceAccount is specific to a single device. An EMM-managed user (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed user (googleManaged) is always a userAccount.",
          "annotations": {
            "required": [
              "androidenterprise.users.insert"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "displayName": {
          "description": "The name that will appear in user interfaces. Setting this property is optional when creating EMM-managed users. If you do set this property, use something generic about the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for Google-managed user accounts. @mutable androidenterprise.users.update",
          "type": "string"
        },
        "accountIdentifier": {
          "annotations": {
            "required": [
              "androidenterprise.users.insert"
            ]
          },
          "description": "A unique identifier you create for this user, such as \"user342\" or \"asset#44418\". Do not use personally identifiable information (PII) for this property. Must always be set for EMM-managed users. Not set for Google-managed users.",
          "type": "string"
        },
        "managementType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The entity that manages the user. With googleManaged users, the source of truth is Google so EMMs have to make sure a Google Account exists for the user. With emmManaged users, the EMM is in charge.",
          "enum": [
            "googleManaged",
            "emmManaged"
          ]
        }
      }
    },
    "StoreCluster": {
      "id": "StoreCluster",
      "type": "object",
      "description": "Definition of a managed Google Play store cluster, a list of products displayed as part of a store page.",
      "properties": {
        "productId": {
          "items": {
            "type": "string"
          },
          "description": "List of products in the order they are displayed in the cluster. There should not be duplicates within a cluster.",
          "type": "array"
        },
        "orderInPage": {
          "description": "String (US-ASCII only) used to determine order of this cluster within the parent page's elements. Page elements are sorted in lexicographic order of this field. Duplicated values are allowed, but ordering between elements with duplicate order is undefined. The value of this field is never visible to a user, it is used solely for the purpose of defining an ordering. Maximum length is 256 characters.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique ID of this cluster. Assigned by the server. Immutable once assigned."
        },
        "name": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
          "type": "array"
        }
      }
    },
    "VariableSet": {
      "properties": {
        "placeholder": {
          "description": "The placeholder string; defined by EMM.",
          "type": "string"
        },
        "userValue": {
          "description": "The value of the placeholder, specific to the user.",
          "type": "string"
        }
      },
      "description": "A variable set is a key-value pair of EMM-provided placeholders and its corresponding value, which is attributed to a user. For example, $FIRSTNAME could be a placeholder, and its value could be Alice. Placeholders should start with a '$' sign and should be alphanumeric only.",
      "id": "VariableSet",
      "type": "object"
    },
    "AppState": {
      "id": "AppState",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the app. This field will always be present."
        },
        "keyedAppState": {
          "description": "List of keyed app states. This field will always be present.",
          "type": "array",
          "items": {
            "$ref": "KeyedAppState"
          }
        }
      },
      "description": "List of states set by the app."
    },
    "LocalizedText": {
      "type": "object",
      "description": "A localized string with its locale.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text localized in the associated locale."
        },
        "locale": {
          "type": "string",
          "description": "The BCP47 tag for a locale. (e.g. \"en-US\", \"de\")."
        }
      },
      "id": "LocalizedText"
    },
    "StoreLayoutClustersListResponse": {
      "id": "StoreLayoutClustersListResponse",
      "type": "object",
      "properties": {
        "cluster": {
          "items": {
            "$ref": "StoreCluster"
          },
          "type": "array",
          "description": "A store cluster of an enterprise."
        }
      }
    },
    "ManagedConfigurationsForUserListResponse": {
      "type": "object",
      "properties": {
        "managedConfigurationForUser": {
          "items": {
            "$ref": "ManagedConfiguration"
          },
          "description": "A managed configuration for an app for a specific user.",
          "type": "array"
        }
      },
      "id": "ManagedConfigurationsForUserListResponse"
    },
    "WebAppIcon": {
      "properties": {
        "imageData": {
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. ",
          "type": "string"
        }
      },
      "description": "Icon for a web app.",
      "type": "object",
      "id": "WebAppIcon"
    },
    "ProductVisibility": {
      "properties": {
        "productId": {
          "description": "The product ID to make visible to the user. Required for each item in the productVisibility list.",
          "type": "string"
        },
        "trackIds": {
          "items": {
            "type": "string"
          },
          "description": "Grants the user visibility to the specified product track(s), identified by trackIds.",
          "type": "array"
        },
        "tracks": {
          "type": "array",
          "description": "Deprecated. Use trackIds instead.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "items": {
            "type": "string",
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ]
          }
        }
      },
      "description": "A product to be made visible to a user.",
      "type": "object",
      "id": "ProductVisibility"
    },
    "WebApp": {
      "properties": {
        "isPublished": {
          "description": "A flag whether the app has been published to the Play store yet.",
          "type": "boolean"
        },
        "versionCode": {
          "format": "int64",
          "type": "string",
          "description": "The current version of the app. Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date."
        },
        "startUrl": {
          "type": "string",
          "description": "The start URL, i.e. the URL that should load when the user opens the application."
        },
        "icons": {
          "description": "A list of icons representing this website. If absent, a default icon (for create) or the current icon (for update) will be used.",
          "items": {
            "$ref": "WebAppIcon"
          },
          "type": "array"
        },
        "title": {
          "description": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon).",
          "type": "string"
        },
        "displayMode": {
          "enum": [
            "displayModeUnspecified",
            "minimalUi",
            "standalone",
            "fullScreen"
          ],
          "description": "The display mode of the web app. Possible values include: - \"minimalUi\", the device's status bar, navigation bar, the app's URL, and a refresh button are visible when the app is open. For HTTP URLs, you can only select this option. - \"standalone\", the device's status bar and navigation bar are visible when the app is open. - \"fullScreen\", the app opens in full screen mode, hiding the device's status and navigation bars. All browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area. ",
          "type": "string",
          "enumDescriptions": [
            "",
            "Opens the web app with a minimal set of browser UI elements for controlling navigation and viewing the page URL.",
            "Opens the web app to look and feel like a standalone native application. The browser UI elements and page URL are not visible, however the system status bar and back button are visible.",
            "Opens the web app in full screen without any visible controls. The browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area."
          ]
        },
        "webAppId": {
          "type": "string",
          "description": "The ID of the application. A string of the form \"app:\u003cpackage name\u003e\" where the package name always starts with the prefix \"com.google.enterprise.webapp.\" followed by a random id."
        }
      },
      "type": "object",
      "id": "WebApp",
      "description": "A WebApps resource represents a web app created for an enterprise. Web apps are published to managed Google Play and can be distributed like other Android apps. On a user's device, a web app opens its specified URL."
    },
    "EntitlementsListResponse": {
      "type": "object",
      "properties": {
        "entitlement": {
          "description": "An entitlement of a user to a product (e.g. an app). For example, a free app that they have installed, or a paid app that they have been allocated a license to.",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        }
      },
      "id": "EntitlementsListResponse"
    },
    "ApprovalUrlInfo": {
      "properties": {
        "approvalUrl": {
          "type": "string",
          "description": "A URL that displays a product's permissions and that can also be used to approve the product with the Products.approve call."
        }
      },
      "type": "object",
      "description": "Information on an approval URL.",
      "id": "ApprovalUrlInfo"
    },
    "ProductPermission": {
      "properties": {
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The permission is required by the app but has not yet been accepted by the enterprise.",
            "The permission has been accepted by the enterprise."
          ],
          "description": "Whether the permission has been accepted or not.",
          "enum": [
            "required",
            "accepted"
          ],
          "type": "string"
        }
      },
      "description": "A product permissions resource represents the set of permissions required by a specific app and whether or not they have been accepted by an enterprise admin. The API can be used to read the set of permissions, and also to update the set to indicate that permissions have been accepted.",
      "id": "ProductPermission",
      "type": "object"
    },
    "DevicesListResponse": {
      "properties": {
        "device": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "A managed device."
        }
      },
      "id": "DevicesListResponse",
      "type": "object"
    },
    "EnterpriseAccount": {
      "type": "object",
      "id": "EnterpriseAccount",
      "description": "A service account that can be used to authenticate as the enterprise to API calls that require such authentication.",
      "properties": {
        "accountEmail": {
          "type": "string",
          "description": "The email address of the service account."
        }
      }
    },
    "AdministratorWebTokenSpecWebApps": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Web Apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "id": "AdministratorWebTokenSpecWebApps"
    },
    "ManagedProperty": {
      "description": "A managed property of a managed configuration. The property must match one of the properties in the app restrictions schema of the product. Exactly one of the value fields must be populated, and it must match the property's type in the app restrictions schema.",
      "properties": {
        "valueStringArray": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of string values - this will only be present if type of the property is multiselect."
        },
        "valueBool": {
          "type": "boolean",
          "description": "The boolean value - this will only be present if type of the property is bool."
        },
        "valueInteger": {
          "format": "int32",
          "description": "The integer value - this will only be present if type of the property is integer.",
          "type": "integer"
        },
        "key": {
          "type": "string",
          "description": "The unique key that identifies the property."
        },
        "valueString": {
          "description": "The string value - this will only be present if type of the property is string, choice or hidden.",
          "type": "string"
        },
        "valueBundleArray": {
          "type": "array",
          "description": "The list of bundles of properties - this will only be present if type of the property is bundle_array.",
          "items": {
            "$ref": "ManagedPropertyBundle"
          }
        },
        "valueBundle": {
          "$ref": "ManagedPropertyBundle",
          "description": "The bundle of managed properties - this will only be present if type of the property is bundle."
        }
      },
      "id": "ManagedProperty",
      "type": "object"
    },
    "ManagedPropertyBundle": {
      "properties": {
        "managedProperty": {
          "description": "The list of managed properties.",
          "type": "array",
          "items": {
            "$ref": "ManagedProperty"
          }
        }
      },
      "type": "object",
      "id": "ManagedPropertyBundle",
      "description": "A bundle of managed properties."
    },
    "AdministratorWebTokenSpecPlaySearch": {
      "type": "object",
      "id": "AdministratorWebTokenSpecPlaySearch",
      "properties": {
        "approveApps": {
          "description": "Allow access to the iframe in approve mode. Default is false.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether the managed Play Search apps page is displayed. Default is true.",
          "type": "boolean"
        }
      }
    },
    "NewPermissionsEvent": {
      "properties": {
        "requestedPermissions": {
          "type": "array",
          "description": "The set of permissions that the app is currently requesting. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
          "items": {
            "type": "string"
          }
        },
        "approvedPermissions": {
          "description": "The set of permissions that the enterprise admin has already approved for this application. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which new permissions were added. This field will always be present."
        }
      },
      "description": "An event generated when new permissions are added to an app.",
      "type": "object",
      "id": "NewPermissionsEvent"
    },
    "EnterprisesListResponse": {
      "type": "object",
      "properties": {
        "enterprise": {
          "type": "array",
          "description": "An enterprise.",
          "items": {
            "$ref": "Enterprise"
          }
        }
      },
      "id": "EnterprisesListResponse"
    },
    "Administrator": {
      "id": "Administrator",
      "properties": {
        "email": {
          "type": "string",
          "description": "The admin's email address."
        }
      },
      "description": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store.",
      "type": "object"
    }
  },
  "basePath": "",
  "baseUrl": "https://www.googleapis.com/",
  "revision": "20200801",
  "ownerName": "Google",
  "batchPath": "batch/androidenterprise/v1",
  "resources": {
    "products": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Product"
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "productId": {
              "description": "The ID of the product, e.g. \"app:com.google.android.gm\".",
              "type": "string",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")."
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
          "id": "androidenterprise.products.get",
          "description": "Retrieves details of a product for display to an enterprise admin.",
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products",
          "description": "Finds approved products that match a query, or all approved products if there is no query.",
          "id": "androidenterprise.products.list",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\"). Results are returned in the language best matching the preferred language."
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
            },
            "query": {
              "location": "query",
              "description": "The search query as typed in the Google Play store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).",
              "type": "string"
            },
            "approved": {
              "type": "boolean",
              "location": "query",
              "description": "Specifies whether to search among all products (false) or among only products that have been approved (true). Only \"true\" is supported, and should be specified."
            },
            "maxResults": {
              "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "enterpriseId": {
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId"
          ],
          "response": {
            "$ref": "ProductsListResponse"
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products"
        },
        "getAppRestrictionsSchema": {
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an admin to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.",
          "id": "androidenterprise.products.getAppRestrictionsSchema",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "productId": {
              "location": "path",
              "required": true,
              "description": "The ID of the product.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "AppRestrictionsSchema"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema"
        },
        "unapprove": {
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise.",
              "required": true
            },
            "productId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the product."
            }
          },
          "id": "androidenterprise.products.unapprove",
          "description": "Unapproves the specified product (and the relevant app permissions, if any)",
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove"
        },
        "getPermissions": {
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions",
[...]
