{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://dns.googleapis.com/",
  "version": "v1beta2",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "Cloud DNS API",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dns.googleapis.com/",
  "id": "dns:v1beta2",
  "description": "",
  "revision": "20201003",
  "protocol": "rest",
  "canonicalName": "Dns",
  "name": "dns",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "http://developers.google.com/cloud-dns",
  "schemas": {
    "ManagedZone": {
      "properties": {
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.",
          "type": "string"
        },
        "reverseLookupConfig": {
          "$ref": "ManagedZoneReverseLookupConfig",
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS will resolve reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config."
        },
        "privateVisibilityConfig": {
          "$ref": "ManagedZonePrivateVisibilityConfig",
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from."
        },
        "peeringConfig": {
          "$ref": "ManagedZonePeeringConfig",
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
        },
        "nameServers": {
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels.",
          "type": "object"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset.",
          "type": "string"
        },
        "dnssecConfig": {
          "description": "DNSSEC configuration.",
          "$ref": "ManagedZoneDnsSecConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "ManagedZoneServiceDirectoryConfig",
          "description": "This field links to the associated service directory namespace. This field should not be set for public zones or forwarding zones."
        },
        "dnsName": {
          "description": "The DNS name of this managed zone, for instance \"example.com.\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "format": "uint64"
        },
        "visibility": {
          "enum": [
            "public",
            "private"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources."
        },
        "forwardingConfig": {
          "$ref": "ManagedZoneForwardingConfig",
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to."
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string"
        }
      },
      "id": "ManagedZone",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.",
      "type": "object"
    },
    "ResourceRecordSet": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "rrdatas": {
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#resourceRecordSet",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "For example, www.example.com."
        },
        "ttl": {
          "type": "integer",
          "format": "int32",
          "description": "Number of seconds that this ResourceRecordSet can be cached by resolvers."
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on geo location of querying user or a weighted round robin based routing policy. A ResourceRecordSet should only have either rrdata (static) or routing_policy(dynamic). An error is returned otherwise."
        },
        "signatureRrdatas": {
          "description": "As defined in RFC 4034 (section 3.2).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A unit of data that will be returned by the DNS servers.",
      "id": "ResourceRecordSet"
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "type": "object",
      "properties": {
        "namespaceUrl": {
          "type": "string",
          "description": "The fully qualified URL of the namespace associated with the zone. This should be formatted like https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}"
        },
        "deletionTime": {
          "description": "The time that the namespace backing this zone was deleted, empty string if it still exists. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneServiceDirectoryConfigNamespace"
        }
      }
    },
    "ManagedZonePeeringConfig": {
      "type": "object",
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZonePeeringConfig",
          "type": "string"
        },
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        }
      }
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "properties": {
        "defaultKeySpecs": {
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          }
        },
        "nonExistence": {
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "type": "string",
          "enum": [
            "nsec",
            "nsec3"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "state": {
          "type": "string",
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ]
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyNetwork": {
      "type": "object",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      },
      "id": "PolicyNetwork"
    },
    "ResponseHeader": {
      "description": "Elements common to every response.",
      "id": "ResponseHeader",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).",
          "type": "string"
        }
      }
    },
    "Project": {
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.",
      "properties": {
        "id": {
          "type": "string",
          "description": "User assigned unique identifier for the resource (output only)."
        },
        "kind": {
          "type": "string",
          "default": "dns#project"
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "number": {
          "type": "string",
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "format": "uint64"
        }
      },
      "id": "Project",
      "type": "object"
    },
    "OperationManagedZoneContext": {
      "type": "object",
      "id": "OperationManagedZoneContext",
      "properties": {
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "oldValue": {
          "$ref": "ManagedZone",
          "description": "The pre-operation ManagedZone resource."
        }
      }
    },
    "Change": {
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.",
      "type": "object",
      "id": "Change",
      "properties": {
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "status": {
          "enum": [
            "pending",
            "done"
          ],
          "type": "string",
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "kind": {
          "default": "dns#change",
          "type": "string"
        },
        "additions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Which ResourceRecordSets to add?",
          "type": "array"
        },
        "deletions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "type": "array"
        }
      }
    },
    "ManagedZoneForwardingConfig": {
      "type": "object",
      "id": "ManagedZoneForwardingConfig",
      "properties": {
        "targetNameServers": {
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          },
          "description": "List of target name servers to forward to. Cloud DNS will select the best available name server if more than one target is given.",
          "type": "array"
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        }
      }
    },
    "PoliciesListResponse": {
      "id": "PoliciesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources."
        },
        "kind": {
          "default": "dns#policiesListResponse",
          "description": "Type of resource.",
          "type": "string"
        }
      }
    },
    "PoliciesUpdateResponse": {
      "type": "object",
      "id": "PoliciesUpdateResponse",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "PolicyAlternativeNameServerConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfig"
        },
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "type": "array",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          }
        }
      },
      "id": "PolicyAlternativeNameServerConfig"
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "id": "RRSetRoutingPolicyGeoPolicy",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicy",
          "type": "string"
        },
        "failovers": {
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          },
          "type": "array",
          "description": "If the health check for the primary target for a geo location returns an unhealthy status, the failover target is returned instead. This failover configuration is not mandatory. If a failover is not provided, the primary target won't be healthchecked - we'll return the primarily configured rrdata irrespective of whether it is healthy or not."
        },
        "items": {
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          },
          "type": "array",
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead."
        }
      }
    },
    "ManagedZoneOperationsListResponse": {
      "properties": {
        "operations": {
          "description": "The operation resources.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "id": "ManagedZoneOperationsListResponse",
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "id": "ManagedZonePrivateVisibilityConfig",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "type": "string"
        },
        "networks": {
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "type": "array"
        }
      }
    },
    "DnsKeySpec": {
      "id": "DnsKeySpec",
      "type": "object",
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, will only be used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and will be used to sign all other types of resource record sets.",
          "type": "string",
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKeySpec"
        },
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "type": "string"
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the keys in bits."
        }
      },
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey."
    },
    "RRSetRoutingPolicy": {
      "id": "RRSetRoutingPolicy",
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that will be returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "type": "object",
      "properties": {
        "wrrPolicy": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicy"
        },
        "geoPolicy": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "type": "object",
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNSSEC generated signatures for the above geo_rrdata."
        }
      }
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "id": "RRSetRoutingPolicyWrrPolicy",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#operation"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ]
        },
        "dnsKeyContext": {
          "$ref": "OperationDnsKeyContext",
          "description": "Only populated if the operation targeted a DnsKey (output only)."
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext",
          "description": "Only populated if the operation targeted a ManagedZone (output only)."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)"
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only)."
        },
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        },
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        }
      }
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "properties": {
        "forwardingPath": {
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "type": "string",
          "enum": [
            "default",
            "private"
          ]
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "ipv4Address": {
          "description": "IPv4 address of a target name server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "id": "Policy",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#policy"
        },
        "networks": {
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "PolicyNetwork"
          },
          "type": "array"
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this policy."
        },
        "enableInboundForwarding": {
          "type": "boolean",
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address will be allocated from each of the sub-networks that are bound to this policy."
        },
        "enableLogging": {
          "type": "boolean",
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set."
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "type": "object",
      "id": "PoliciesPatchResponse",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "ManagedZonesListResponse": {
      "properties": {
        "managedZones": {
          "type": "array",
          "description": "The managed zone resources.",
          "items": {
            "$ref": "ManagedZone"
          }
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource.",
          "type": "string"
        }
      },
      "id": "ManagedZonesListResponse",
      "type": "object"
    },
    "Quota": {
      "description": "Limits associated with a Project.",
      "id": "Quota",
      "properties": {
        "totalRrdataSizePerChange": {
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "format": "int32",
          "type": "integer"
        },
        "whitelistedKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array",
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys."
        },
        "networksPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached."
        },
        "targetNameServersPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "type": "integer"
        },
        "managedZones": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of managed zones in the project."
        },
        "rrsetsPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project."
        },
        "managedZonesPerNetwork": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a network."
        },
        "kind": {
          "type": "string",
          "default": "dns#quota"
        },
        "rrsetAdditionsPerChange": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest."
        },
        "resourceRecordsPerRrset": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "format": "int32"
        },
        "networksPerPolicy": {
          "description": "Maximum allowed number of networks per policy.",
          "type": "integer",
          "format": "int32"
        },
        "targetNameServersPerPolicy": {
          "format": "int32",
          "description": "Maximum allowed number of alternative target name servers per policy.",
          "type": "integer"
        },
        "policies": {
          "description": "Maximum allowed number of policies per project.",
          "type": "integer",
          "format": "int32"
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "type": "integer"
        },
        "dnsKeysPerManagedZone": {
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ManagedZoneServiceDirectoryConfig": {
      "description": "Contains information about Service Directory-backed zones.",
      "id": "ManagedZoneServiceDirectoryConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        },
        "namespace": {
          "description": "Contains information about the namespace associated with the zone.",
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace"
        }
      },
      "type": "object"
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "properties": {
        "forwardingPath": {
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "type": "string",
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "enum": [
            "default",
            "private"
          ]
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address to forward to."
        },
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer"
        }
      },
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "type": "object",
      "properties": {
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for the above wrr_rrdata.",
          "type": "array"
        },
        "weight": {
          "format": "double",
          "description": "The weight corresponding to this subset of rrdata. When multiple WeightedRoundRobinPolicyItems are configured, the probability of returning an rrset is proportional to its weight relative to the sum of weights configured for all items. This weight should be a decimal in the range [0,1].",
          "type": "number"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem"
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigNetwork"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "type": "object"
    },
    "OperationDnsKeyContext": {
      "id": "OperationDnsKeyContext",
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The pre-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        }
      }
    },
    "DnsKeysListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        },
        "dnsKeys": {
          "items": {
            "$ref": "DnsKey"
          },
          "description": "The requested resources.",
          "type": "array"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "dns#dnsKeysListResponse"
        }
      },
      "type": "object",
      "id": "DnsKeysListResponse",
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone."
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "type": "object",
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        },
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        }
      }
    },
    "ChangesListResponse": {
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#changesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "type": "array",
          "description": "The requested changes."
        }
      },
      "id": "ChangesListResponse"
    },
    "ManagedZoneReverseLookupConfig": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneReverseLookupConfig"
        }
      },
      "id": "ManagedZoneReverseLookupConfig",
      "type": "object"
    },
    "DnsKey": {
      "properties": {
        "digests": {
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "type": "array",
          "items": {
            "$ref": "DnsKeyDigest"
          }
        },
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time."
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the key in bits. Specified at creation time then immutable."
        },
        "isActive": {
          "description": "Active keys will be used to sign subsequent changes to the ManagedZone. Inactive keys will still be present as DNSKEY Resource Records for the use of resolvers validating existing signatures.",
          "type": "boolean"
        },
        "keyTag": {
          "format": "int32",
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "type": "integer"
        },
        "creationTime": {
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        },
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function."
        },
        "type": {
          "type": "string",
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types. Immutable after creation time."
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        }
      },
      "description": "A DNSSEC key pair.",
      "type": "object",
      "id": "DnsKey"
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "properties": {
        "type": {
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Specifies the algorithm used to calculate this digest."
        },
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "rrsets": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources.",
          "type": "array"
        },
        "kind": {
          "description": "Type of resource.",
          "default": "dns#resourceRecordSetsListResponse",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "resources": {
    "managedZoneOperations": {
      "methods": {
        "get": {
          "description": "Fetch the representation of an existing Operation.",
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "operation": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the operation addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "dns.managedZoneOperations.get",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ]
        },
        "list": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "sortBy": {
              "location": "query",
              "enum": [
                "startTime",
                "id"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "startTime",
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "description": "Enumerate Operations for the given ManagedZone.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "id": "dns.managedZoneOperations.list"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Enumerate DnsKeys to a ResourceRecordSet collection.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "id": "dns.dnsKeys.list"
        },
        "get": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "dnsKeyId": {
              "description": "The identifier of the requested DnsKey.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "response": {
            "$ref": "DnsKey"
          },
          "description": "Fetch the representation of an existing DnsKey.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}"
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "description": "Enumerate ResourceRecordSets that have been created but not yet deleted.",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.resourceRecordSets.list",
          "parameters": {
            "name": {
              "location": "query",
              "type": "string",
              "description": "Restricts the list to return only records with this fully qualified domain name."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "type": {
              "type": "string",
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            }
          },
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Project"
          },
          "description": "Fetch the representation of an existing Project.",
          "flatPath": "dns/v1beta2/projects/{project}",
          "path": "dns/v1beta2/projects/{project}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "id": "dns.projects.get"
        }
      }
    },
    "managedZones": {
      "methods": {
        "create": {
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "description": "Create a new ManagedZone.",
          "httpMethod": "POST",
          "request": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "id": "dns.managedZones.create"
        },
        "delete": {
          "description": "Delete a previously created ManagedZone.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "managedZone": {
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dns.managedZones.delete",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Update an existing ManagedZone.",
          "id": "dns.managedZones.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "dnsName": {
              "type": "string",
              "location": "query",
              "description": "Restricts the list to return only zones with this domain name."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "id": "dns.managedZones.list",
          "description": "Enumerate ManagedZones that have been created but not yet deleted.",
          "response": {
            "$ref": "ManagedZonesListResponse"
          }
        },
        "patch": {
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "description": "Apply a partial update to an existing ManagedZone.",
          "request": {
            "$ref": "ManagedZone"
          },
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.patch"
        },
        "get": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "GET",
          "parameters": {
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "response": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "description": "Fetch the representation of an existing ManagedZone.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}"
        }
      }
    },
    "policies": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Delete a previously created Policy. Will fail if the policy is still being referenced by a network.",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "dns.policies.delete",
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "policy"
          ]
        },
        "update": {
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "policy": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "description": "Update an existing Policy.",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "request": {
            "$ref": "Policy"
          },
          "id": "dns.policies.update",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "httpMethod": "PUT",
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "policy": {
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing Policy.",
          "id": "dns.policies.get",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}"
        },
        "list": {
          "description": "Enumerate all Policies associated with a project.",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "dns.policies.list",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1beta2/projects/{project}/policies"
        },
        "create": {
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Create a new Policy",
          "path": "dns/v1beta2/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.policies.create"
        },
        "patch": {
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.policies.patch",
          "httpMethod": "PATCH",
          "description": "Apply a partial update to an existing Policy.",
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "request": {
            "$ref": "Policy"
          },
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "policy"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "changeId": {
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          },
          "description": "Fetch the representation of an existing Change.",
          "id": "dns.changes.get",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "Change"
          },
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Change"
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Atomically update the ResourceRecordSet collection.",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "httpMethod": "POST",
          "id": "dns.changes.create"
        },
        "list": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32"
            },
            "sortBy": {
              "enum": [
                "changeSequence"
              ],
              "default": "changeSequence",
              "location": "query",
              "enumDescriptions": [
                ""
              ],
              "type": "string",
              "description": "Sorting criterion. The only supported value is change sequence."
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'."
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ChangesListResponse"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerate Changes to a ResourceRecordSet collection.",
          "id": "dns.changes.list",
          "httpMethod": "GET"
        }
      }
    }
  }
}
