{
  "batchPath": "batch",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/logging/docs/",
  "discoveryVersion": "v1",
  "rootUrl": "https://logging.googleapis.com/",
  "mtlsRootUrl": "https://logging.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "logging:v2",
  "canonicalName": "Logging",
  "resources": {
    "entries": {
      "methods": {
        "write": {
          "response": {
            "$ref": "WriteLogEntriesResponse"
          },
          "request": {
            "$ref": "WriteLogEntriesRequest"
          },
          "id": "logging.entries.write",
          "parameters": {},
          "path": "v2/entries:write",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.write"
          ],
          "httpMethod": "POST",
          "flatPath": "v2/entries:write",
          "description": "Writes log entries to Logging. This API method is the only way to send log entries to Logging. This method is used, directly or indirectly, by the Logging agent (fluentd) and all logging libraries configured to use Logging. A single request may contain log entries for a maximum of 1000 different resources (projects, organizations, billing accounts or folders)",
          "parameterOrder": []
        },
        "list": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ListLogEntriesResponse"
          },
          "description": "Lists log entries. Use this method to retrieve log entries that originated from a project/folder/organization/billing account. For ways to export log entries, see Exporting Logs (https://cloud.google.com/logging/docs/export).",
          "path": "v2/entries:list",
          "parameterOrder": [],
          "request": {
            "$ref": "ListLogEntriesRequest"
          },
          "parameters": {},
          "id": "logging.entries.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ],
          "flatPath": "v2/entries:list"
        }
      }
    },
    "monitoredResourceDescriptors": {
      "methods": {
        "list": {
          "description": "Lists the descriptors for monitored resource types used by Logging.",
          "flatPath": "v2/monitoredResourceDescriptors",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v2/monitoredResourceDescriptors",
          "id": "logging.monitoredResourceDescriptors.list",
          "response": {
            "$ref": "ListMonitoredResourceDescriptorsResponse"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "metrics": {
          "methods": {
            "create": {
              "response": {
                "$ref": "LogMetric"
              },
              "path": "v2/{+parent}/metrics",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the project in which to create the metric: \"projects/[PROJECT_ID]\" The new metric must be provided in the request.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a logs-based metric.",
              "flatPath": "v2/projects/{projectsId}/metrics",
              "id": "logging.projects.metrics.create",
              "request": {
                "$ref": "LogMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.write"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLogMetricsResponse"
              },
              "path": "v2/{+parent}/metrics",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project containing the metrics: \"projects/[PROJECT_ID]\" "
                }
              },
              "description": "Lists logs-based metrics.",
              "id": "logging.projects.metrics.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "flatPath": "v2/projects/{projectsId}/metrics"
            },
            "get": {
              "description": "Gets a logs-based metric.",
              "parameters": {
                "metricName": {
                  "type": "string",
                  "description": "Required. The resource name of the desired metric: \"projects/[PROJECT_ID]/metrics/[METRIC_ID]\" ",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/metrics/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "metricName"
              ],
              "response": {
                "$ref": "LogMetric"
              },
              "flatPath": "v2/projects/{projectsId}/metrics/{metricsId}",
              "id": "logging.projects.metrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "path": "v2/{+metricName}"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.write"
              ],
              "httpMethod": "PUT",
              "description": "Creates or updates a logs-based metric.",
              "request": {
                "$ref": "LogMetric"
              },
              "path": "v2/{+metricName}",
              "parameterOrder": [
                "metricName"
              ],
              "flatPath": "v2/projects/{projectsId}/metrics/{metricsId}",
              "parameters": {
                "metricName": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/metrics/[^/]+$",
                  "description": "Required. The resource name of the metric to update: \"projects/[PROJECT_ID]/metrics/[METRIC_ID]\" The updated metric must be provided in the request and it's name field must be the same as [METRIC_ID] If the metric does not exist in [PROJECT_ID], then a new metric is created.",
                  "location": "path"
                }
              },
              "id": "logging.projects.metrics.update",
              "response": {
                "$ref": "LogMetric"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "metricName"
              ],
              "description": "Deletes a logs-based metric.",
              "id": "logging.projects.metrics.delete",
              "path": "v2/{+metricName}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.write"
              ],
              "parameters": {
                "metricName": {
                  "description": "Required. The resource name of the metric to delete: \"projects/[PROJECT_ID]/metrics/[METRIC_ID]\" ",
                  "pattern": "^projects/[^/]+/metrics/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2/projects/{projectsId}/metrics/{metricsId}"
            }
          }
        },
        "locations": {
          "resources": {
            "buckets": {
              "methods": {
                "undelete": {
                  "id": "logging.projects.locations.buckets.undelete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}:undelete",
                  "path": "v2/{+name}:undelete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "description": "Undeletes a bucket. A bucket that has been deleted may be undeleted within the grace period of 7 days.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UndeleteBucketRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The full resource name of the bucket to undelete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a bucket. Moves the bucket to the DELETE_REQUESTED state. After 7 days, the bucket will be purged and all logs in the bucket will be permanently deleted.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The full resource name of the bucket to delete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "httpMethod": "DELETE",
                  "id": "logging.projects.locations.buckets.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "description": "Required. The resource name of the bucket: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\"."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "LogBucket"
                  },
                  "id": "logging.projects.locations.buckets.get",
                  "description": "Gets a bucket (Beta).",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/logging.admin",
                    "https://www.googleapis.com/auth/logging.read"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/logging.admin",
                    "https://www.googleapis.com/auth/logging.read"
                  ],
                  "id": "logging.projects.locations.buckets.list",
                  "description": "Lists buckets (Beta).",
                  "response": {
                    "$ref": "ListBucketsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource whose buckets are to be listed: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]\" Note: The locations portion of the resource must be specified, but supplying the character - in place of LOCATION_ID will return all buckets.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/buckets",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/buckets"
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LogBucket"
                  },
                  "parameters": {
                    "bucketId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A client-assigned identifier such as \"my-bucket\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods."
                    },
                    "parent": {
                      "description": "Required. The resource in which to create the bucket: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" Example: \"projects/my-logging-project/locations/global\"",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Creates a bucket that can be used to store log entries. Once a bucket has been created, the region cannot be changed.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/buckets",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/buckets",
                  "id": "logging.projects.locations.buckets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "response": {
                    "$ref": "LogBucket"
                  }
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Field mask that specifies the fields in bucket that need an update. A bucket field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.For a detailed FieldMask definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskExample: updateMask=retention_days.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The full resource name of the bucket to update. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\". Also requires permission \"resourcemanager.projects.updateLiens\" to set the locked property"
                    }
                  },
                  "description": "Updates a bucket. This method replaces the following fields in the existing bucket with values from the new bucket: retention_periodIf the retention period is decreased and the bucket is locked, FAILED_PRECONDITION will be returned.If the bucket has a LifecycleState of DELETE_REQUESTED, FAILED_PRECONDITION will be returned.A buckets region may not be modified after it is created. This method is in Beta.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "LogBucket"
                  },
                  "id": "logging.projects.locations.buckets.patch",
                  "response": {
                    "$ref": "LogBucket"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ]
                }
              }
            }
          }
        },
        "sinks": {
          "methods": {
            "list": {
              "id": "logging.projects.sinks.list",
              "flatPath": "v2/projects/{projectsId}/sinks",
              "response": {
                "$ref": "ListSinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/sinks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists sinks.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource whose sinks are to be listed: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" ",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              }
            },
            "get": {
              "description": "Gets a sink.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "parameters": {
                "sinkName": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sinks/[^/]+$",
                  "description": "Required. The resource name of the sink: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "required": true
                }
              },
              "id": "logging.projects.sinks.get",
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}",
              "response": {
                "$ref": "LogSink"
              },
              "path": "v2/{+sinkName}",
              "httpMethod": "GET",
              "parameterOrder": [
                "sinkName"
              ]
            },
            "patch": {
              "response": {
                "$ref": "LogSink"
              },
              "httpMethod": "PATCH",
              "id": "logging.projects.sinks.patch",
              "parameterOrder": [
                "sinkName"
              ],
              "description": "Updates a sink. This method replaces the following fields in the existing sink with values from the new sink: destination, and filter.The updated sink might also have a new writer_identity; see the unique_writer_identity field.",
              "parameters": {
                "sinkName": {
                  "required": true,
                  "pattern": "^projects/[^/]+/sinks/[^/]+$",
                  "location": "path",
                  "description": "Required. The full resource name of the sink to update, including the parent resource and the sink identifier: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "location": "query",
                  "description": "Optional. See sinks.create for a description of this field. When updating a sink, the effect of this field on the value of writer_identity in the updated sink depends on both the old and new values of this field: If the old and new values of this field are both false or both true, then there is no change to the sink's writer_identity. If the old value is false and the new value is true, then writer_identity is changed to a unique service account. It is an error if the old value is true and the new value is set to false or defaulted to false.",
                  "type": "boolean"
                },
                "updateMask": {
                  "description": "Optional. Field mask that specifies the fields in sink that need an update. A sink field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.An empty updateMask is temporarily treated as using the following mask for backwards compatibility purposes: destination,filter,includeChildren At some point in the future, behavior will be removed and specifying an empty updateMask will be an error.For a detailed FieldMask definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskExample: updateMask=filter.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v2/{+sinkName}",
              "request": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}"
            },
            "create": {
              "parameters": {
                "uniqueWriterIdentity": {
                  "description": "Optional. Determines the kind of IAM identity returned as writer_identity in the new sink. If this value is omitted or set to false, and if the sink's parent is a project, then the value returned as writer_identity is the same group or service account used by Logging before the addition of writer identities to this API. The sink's destination must be in the same project as the sink itself.If this field is set to true, or if the sink is owned by a non-project resource such as an organization, then the value of writer_identity will be a unique service account used only for exports from the new sink. For more information, see writer_identity in LogSink.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource in which to create the sink: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" Examples: \"projects/my-logging-project\", \"organizations/123456789\".",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "logging.projects.sinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "flatPath": "v2/projects/{projectsId}/sinks",
              "description": "Creates a sink that exports specified log entries to a destination. The export of newly-ingested log entries begins immediately, unless the sink's writer_identity is not permitted to write to the destination. A sink can export log entries only from the resource owning the sink.",
              "path": "v2/{+parent}/sinks",
              "response": {
                "$ref": "LogSink"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "id": "logging.projects.sinks.delete",
              "path": "v2/{+sinkName}",
              "parameters": {
                "sinkName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The full resource name of the sink to delete, including the parent resource and the sink identifier: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "pattern": "^projects/[^/]+/sinks/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a sink. If the sink has a unique writer_identity, then that service account is also deleted."
            },
            "update": {
              "id": "logging.projects.sinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "parameters": {
                "uniqueWriterIdentity": {
                  "description": "Optional. See sinks.create for a description of this field. When updating a sink, the effect of this field on the value of writer_identity in the updated sink depends on both the old and new values of this field: If the old and new values of this field are both false or both true, then there is no change to the sink's writer_identity. If the old value is false and the new value is true, then writer_identity is changed to a unique service account. It is an error if the old value is true and the new value is set to false or defaulted to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "sinkName": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/sinks/[^/]+$",
                  "description": "Required. The full resource name of the sink to update, including the parent resource and the sink identifier: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Field mask that specifies the fields in sink that need an update. A sink field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.An empty updateMask is temporarily treated as using the following mask for backwards compatibility purposes: destination,filter,includeChildren At some point in the future, behavior will be removed and specifying an empty updateMask will be an error.For a detailed FieldMask definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskExample: updateMask=filter."
                }
              },
              "response": {
                "$ref": "LogSink"
              },
              "path": "v2/{+sinkName}",
              "description": "Updates a sink. This method replaces the following fields in the existing sink with values from the new sink: destination, and filter.The updated sink might also have a new writer_identity; see the unique_writer_identity field.",
              "httpMethod": "PUT",
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}",
              "parameterOrder": [
                "sinkName"
              ],
              "request": {
                "$ref": "LogSink"
              }
            }
          }
        },
        "exclusions": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of an existing exclusion: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\".",
                  "pattern": "^projects/[^/]+/exclusions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+name}",
              "id": "logging.projects.exclusions.get",
              "description": "Gets the description of an exclusion.",
              "flatPath": "v2/projects/{projectsId}/exclusions/{exclusionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "response": {
                "$ref": "LogExclusion"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource in which to create the exclusion: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" Examples: \"projects/my-logging-project\", \"organizations/123456789\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "logging.projects.exclusions.create",
              "description": "Creates a new exclusion in a specified parent resource. Only log entries belonging to that resource can be excluded. You can have up to 10 exclusions in a resource.",
              "flatPath": "v2/projects/{projectsId}/exclusions",
              "request": {
                "$ref": "LogExclusion"
              },
              "path": "v2/{+parent}/exclusions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "response": {
                "$ref": "LogExclusion"
              },
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v2/projects/{projectsId}/exclusions",
              "id": "logging.projects.exclusions.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListExclusionsResponse"
              },
              "path": "v2/{+parent}/exclusions",
              "httpMethod": "GET",
              "description": "Lists all the exclusions in a parent resource.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource whose exclusions are to be listed. \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" "
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/exclusions/{exclusionsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Changes one or more properties of an existing exclusion.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "request": {
                "$ref": "LogExclusion"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the exclusion to update: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/exclusions/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. A non-empty list of fields to change in the existing exclusion. New values for the fields are taken from the corresponding fields in the LogExclusion included in this request. Fields not mentioned in update_mask are not changed and are ignored in the request.For example, to change the filter and description of an exclusion, specify an update_mask of \"filter,description\".",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "logging.projects.exclusions.patch",
              "response": {
                "$ref": "LogExclusion"
              },
              "path": "v2/{+name}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an exclusion.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of an existing exclusion to delete: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\".",
                  "required": true,
                  "pattern": "^projects/[^/]+/exclusions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/exclusions/{exclusionsId}",
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "id": "logging.projects.exclusions.delete"
            }
          }
        },
        "logs": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "logging.projects.logs.list",
              "description": "Lists the logs in projects, organizations, folders, or billing accounts. Only logs that have entries are listed.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name that owns the logs: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" ",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/logs",
              "path": "v2/{+parent}/logs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "response": {
                "$ref": "ListLogsResponse"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "flatPath": "v2/projects/{projectsId}/logs/{logsId}",
              "parameterOrder": [
                "logName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "logging.projects.logs.delete",
              "description": "Deletes all the log entries in a log. The log reappears if it receives new entries. Log entries written shortly before the delete operation might not be deleted. Entries received after the delete operation with a timestamp before the operation will be deleted.",
              "parameters": {
                "logName": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/logs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the log to delete: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" [LOG_ID] must be URL-encoded. For example, \"projects/my-project-id/logs/syslog\", \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\". For more information about log names, see LogEntry."
                }
              },
              "path": "v2/{+logName}"
            }
          }
        }
      }
    },
    "exclusions": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v2/{+name}",
          "id": "logging.exclusions.delete",
          "description": "Deletes an exclusion.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/exclusions/{exclusionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/logging.admin"
          ],
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/exclusions/[^/]+$",
              "description": "Required. The resource name of an existing exclusion to delete: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\".",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE"
        },
        "get": {
          "id": "logging.exclusions.get",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/exclusions/{exclusionsId}",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/exclusions/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of an existing exclusion: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\"."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ],
          "response": {
            "$ref": "LogExclusion"
          },
          "httpMethod": "GET",
          "description": "Gets the description of an exclusion."
        },
        "list": {
          "parameterOrder": [
            "parent"
          ],
          "path": "v2/{+parent}/exclusions",
          "response": {
            "$ref": "ListExclusionsResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
              "type": "integer",
              "format": "int32"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "description": "Required. The parent resource whose exclusions are to be listed. \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" "
            },
            "pageToken": {
              "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "logging.exclusions.list",
          "httpMethod": "GET",
          "flatPath": "v2/{v2Id}/{v2Id1}/exclusions",
          "description": "Lists all the exclusions in a parent resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ]
        },
        "create": {
          "flatPath": "v2/{v2Id}/{v2Id1}/exclusions",
          "id": "logging.exclusions.create",
          "path": "v2/{+parent}/exclusions",
          "httpMethod": "POST",
          "request": {
            "$ref": "LogExclusion"
          },
          "response": {
            "$ref": "LogExclusion"
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a new exclusion in a specified parent resource. Only log entries belonging to that resource can be excluded. You can have up to 10 exclusions in a resource.",
          "parameters": {
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "description": "Required. The parent resource in which to create the exclusion: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" Examples: \"projects/my-logging-project\", \"organizations/123456789\".",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/logging.admin"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/logging.admin"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "logging.exclusions.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LogExclusion"
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/exclusions/{exclusionsId}",
          "request": {
            "$ref": "LogExclusion"
          },
          "path": "v2/{+name}",
          "description": "Changes one or more properties of an existing exclusion.",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/exclusions/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the exclusion to update: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\"."
            },
            "updateMask": {
              "description": "Required. A non-empty list of fields to change in the existing exclusion. New values for the fields are taken from the corresponding fields in the LogExclusion included in this request. Fields not mentioned in update_mask are not changed and are ignored in the request.For example, to change the filter and description of an exclusion, specify an update_mask of \"filter,description\".",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getCmekSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. The resource for which to retrieve CMEK settings. \"projects/[PROJECT_ID]/cmekSettings\" \"organizations/[ORGANIZATION_ID]/cmekSettings\" \"billingAccounts/[BILLING_ACCOUNT_ID]/cmekSettings\" \"folders/[FOLDER_ID]/cmekSettings\" Example: \"organizations/12345/cmekSettings\".Note: CMEK for the Logs Router can currently only be configured for GCP organizations. Once configured, it applies to all projects and folders in the GCP organization.",
              "required": true,
              "location": "path"
            }
          },
          "id": "logging.organizations.getCmekSettings",
          "description": "Gets the Logs Router CMEK settings for the given resource.Note: CMEK for the Logs Router can currently only be configured for GCP organizations. Once configured, it applies to all projects and folders in the GCP organization.See Enabling CMEK for Logs Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ],
          "path": "v2/{+name}/cmekSettings",
          "flatPath": "v2/organizations/{organizationsId}/cmekSettings",
          "response": {
            "$ref": "CmekSettings"
          }
        },
        "updateCmekSettings": {
          "request": {
            "$ref": "CmekSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/logging.admin"
          ],
          "description": "Updates the Logs Router CMEK settings for the given resource.Note: CMEK for the Logs Router can currently only be configured for GCP organizations. Once configured, it applies to all projects and folders in the GCP organization.UpdateCmekSettings will fail if 1) kms_key_name is invalid, or 2) the associated service account does not have the required roles/cloudkms.cryptoKeyEncrypterDecrypter role assigned for the key, or 3) access to the key is disabled.See Enabling CMEK for Logs Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Optional. Field mask identifying which fields from cmek_settings should be updated. A field will be overwritten if and only if it is in the update mask. Output only fields cannot be updated.See FieldMask for more information.Example: \"updateMask=kmsKeyName\"",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "location": "path",
              "description": "Required. The resource name for the CMEK settings to update. \"projects/[PROJECT_ID]/cmekSettings\" \"organizations/[ORGANIZATION_ID]/cmekSettings\" \"billingAccounts/[BILLING_ACCOUNT_ID]/cmekSettings\" \"folders/[FOLDER_ID]/cmekSettings\" Example: \"organizations/12345/cmekSettings\".Note: CMEK for the Logs Router can currently only be configured for GCP organizations. Once configured, it applies to all projects and folders in the GCP organization.",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "CmekSettings"
          },
          "id": "logging.organizations.updateCmekSettings",
          "path": "v2/{+name}/cmekSettings",
          "flatPath": "v2/organizations/{organizationsId}/cmekSettings"
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "buckets": {
              "methods": {
                "patch": {
                  "id": "logging.organizations.locations.buckets.patch",
                  "response": {
                    "$ref": "LogBucket"
                  },
                  "request": {
                    "$ref": "LogBucket"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a bucket. This method replaces the following fields in the existing bucket with values from the new bucket: retention_periodIf the retention period is decreased and the bucket is locked, FAILED_PRECONDITION will be returned.If the bucket has a LifecycleState of DELETE_REQUESTED, FAILED_PRECONDITION will be returned.A buckets region may not be modified after it is created. This method is in Beta.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The full resource name of the bucket to update. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\". Also requires permission \"resourcemanager.projects.updateLiens\" to set the locked property",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/buckets/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Field mask that specifies the fields in bucket that need an update. A bucket field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.For a detailed FieldMask definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskExample: updateMask=retention_days.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v2/{+name}",
                  "description": "Deletes a bucket. Moves the bucket to the DELETE_REQUESTED state. After 7 days, the bucket will be purged and all logs in the bucket will be permanently deleted.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The full resource name of the bucket to delete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\".",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/buckets/[^/]+$"
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "id": "logging.organizations.locations.buckets.delete",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "path": "v2/{+parent}/buckets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a bucket that can be used to store log entries. Once a bucket has been created, the region cannot be changed.",
                  "parameters": {
                    "bucketId": {
                      "type": "string",
                      "description": "Required. A client-assigned identifier such as \"my-bucket\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource in which to create the bucket: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" Example: \"projects/my-logging-project/locations/global\"",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LogBucket"
                  },
                  "id": "logging.organizations.locations.buckets.create",
                  "response": {
                    "$ref": "LogBucket"
                  }
                },
                "undelete": {
                  "path": "v2/{+name}:undelete",
                  "request": {
                    "$ref": "UndeleteBucketRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "logging.organizations.locations.buckets.undelete",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets/{bucketsId}:undelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Undeletes a bucket. A bucket that has been deleted may be undeleted within the grace period of 7 days.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/logging.admin"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "location": "path",
                      "description": "Required. The full resource name of the bucket to undelete. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\".",
                      "required": true
                    }
                  }
                },
                "get": {
                  "id": "logging.organizations.locations.buckets.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the bucket: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" Example: \"projects/my-project-id/locations/my-location/buckets/my-bucket-id\".",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets a bucket (Beta).",
                  "response": {
                    "$ref": "LogBucket"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/logging.admin",
                    "https://www.googleapis.com/auth/logging.read"
                  ]
                },
                "list": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/logging.admin",
                    "https://www.googleapis.com/auth/logging.read"
                  ],
                  "path": "v2/{+parent}/buckets",
                  "id": "logging.organizations.locations.buckets.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource whose buckets are to be listed: \"projects/[PROJECT_ID]/locations/[LOCATION_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]\" Note: The locations portion of the resource must be specified, but supplying the character - in place of LOCATION_ID will return all buckets.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListBucketsResponse"
                  },
                  "description": "Lists buckets (Beta).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "exclusions": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "logging.organizations.exclusions.delete",
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v2/organizations/{organizationsId}/exclusions/{exclusionsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an exclusion.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/exclusions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of an existing exclusion to delete: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\"."
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/organizations/{organizationsId}/exclusions",
              "id": "logging.organizations.exclusions.list",
              "description": "Lists all the exclusions in a parent resource.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource whose exclusions are to be listed. \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" ",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/exclusions",
              "response": {
                "$ref": "ListExclusionsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "id": "logging.organizations.exclusions.get",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/exclusions/{exclusionsId}",
              "response": {
                "$ref": "LogExclusion"
              },
              "description": "Gets the description of an exclusion.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/exclusions/[^/]+$",
                  "description": "Required. The resource name of an existing exclusion: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\"."
                }
              }
            },
            "create": {
              "description": "Creates a new exclusion in a specified parent resource. Only log entries belonging to that resource can be excluded. You can have up to 10 exclusions in a resource.",
              "id": "logging.organizations.exclusions.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LogExclusion"
              },
              "path": "v2/{+parent}/exclusions",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource in which to create the exclusion: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" Examples: \"projects/my-logging-project\", \"organizations/123456789\".",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/exclusions",
              "response": {
                "$ref": "LogExclusion"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Changes one or more properties of an existing exclusion.",
              "flatPath": "v2/organizations/{organizationsId}/exclusions/{exclusionsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. A non-empty list of fields to change in the existing exclusion. New values for the fields are taken from the corresponding fields in the LogExclusion included in this request. Fields not mentioned in update_mask are not changed and are ignored in the request.For example, to change the filter and description of an exclusion, specify an update_mask of \"filter,description\".",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the exclusion to update: \"projects/[PROJECT_ID]/exclusions/[EXCLUSION_ID]\" \"organizations/[ORGANIZATION_ID]/exclusions/[EXCLUSION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/exclusions/[EXCLUSION_ID]\" \"folders/[FOLDER_ID]/exclusions/[EXCLUSION_ID]\" Example: \"projects/my-project-id/exclusions/my-exclusion-id\".",
                  "pattern": "^organizations/[^/]+/exclusions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "id": "logging.organizations.exclusions.patch",
              "response": {
                "$ref": "LogExclusion"
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "LogExclusion"
              }
            }
          }
        },
        "logs": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLogsResponse"
              },
              "path": "v2/{+parent}/logs",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name that owns the logs: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" ",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the logs in projects, organizations, folders, or billing accounts. Only logs that have entries are listed.",
              "flatPath": "v2/organizations/{organizationsId}/logs",
              "id": "logging.organizations.logs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "delete": {
              "id": "logging.organizations.logs.delete",
              "parameterOrder": [
                "logName"
              ],
              "path": "v2/{+logName}",
              "flatPath": "v2/organizations/{organizationsId}/logs/{logsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes all the log entries in a log. The log reappears if it receives new entries. Log entries written shortly before the delete operation might not be deleted. Entries received after the delete operation with a timestamp before the operation will be deleted.",
              "httpMethod": "DELETE",
              "parameters": {
                "logName": {
                  "pattern": "^organizations/[^/]+/logs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the log to delete: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" [LOG_ID] must be URL-encoded. For example, \"projects/my-project-id/logs/syslog\", \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\". For more information about log names, see LogEntry.",
                  "required": true
                }
              }
            }
          }
        },
        "sinks": {
          "methods": {
            "delete": {
              "path": "v2/{+sinkName}",
              "id": "logging.organizations.sinks.delete",
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "parameters": {
                "sinkName": {
                  "location": "path",
                  "description": "Required. The full resource name of the sink to delete, including the parent resource and the sink identifier: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sinks/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a sink. If the sink has a unique writer_identity, then that service account is also deleted.",
              "parameterOrder": [
                "sinkName"
              ]
            },
            "create": {
              "path": "v2/{+parent}/sinks",
              "request": {
                "$ref": "LogSink"
              },
              "parameters": {
                "uniqueWriterIdentity": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Determines the kind of IAM identity returned as writer_identity in the new sink. If this value is omitted or set to false, and if the sink's parent is a project, then the value returned as writer_identity is the same group or service account used by Logging before the addition of writer identities to this API. The sink's destination must be in the same project as the sink itself.If this field is set to true, or if the sink is owned by a non-project resource such as an organization, then the value of writer_identity will be a unique service account used only for exports from the new sink. For more information, see writer_identity in LogSink."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The resource in which to create the sink: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" Examples: \"projects/my-logging-project\", \"organizations/123456789\".",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "LogSink"
              },
              "id": "logging.organizations.sinks.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "description": "Creates a sink that exports specified log entries to a destination. The export of newly-ingested log entries begins immediately, unless the sink's writer_identity is not permitted to write to the destination. A sink can export log entries only from the resource owning the sink.",
              "flatPath": "v2/organizations/{organizationsId}/sinks",
              "httpMethod": "POST"
            },
            "update": {
              "description": "Updates a sink. This method replaces the following fields in the existing sink with values from the new sink: destination, and filter.The updated sink might also have a new writer_identity; see the unique_writer_identity field.",
              "parameterOrder": [
                "sinkName"
              ],
              "id": "logging.organizations.sinks.update",
              "request": {
                "$ref": "LogSink"
              },
              "parameters": {
                "sinkName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The full resource name of the sink to update, including the parent resource and the sink identifier: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "pattern": "^organizations/[^/]+/sinks/[^/]+$"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. See sinks.create for a description of this field. When updating a sink, the effect of this field on the value of writer_identity in the updated sink depends on both the old and new values of this field: If the old and new values of this field are both false or both true, then there is no change to the sink's writer_identity. If the old value is false and the new value is true, then writer_identity is changed to a unique service account. It is an error if the old value is true and the new value is set to false or defaulted to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "updateMask": {
                  "description": "Optional. Field mask that specifies the fields in sink that need an update. A sink field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.An empty updateMask is temporarily treated as using the following mask for backwards compatibility purposes: destination,filter,includeChildren At some point in the future, behavior will be removed and specifying an empty updateMask will be an error.For a detailed FieldMask definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskExample: updateMask=filter.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "httpMethod": "PUT",
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "response": {
                "$ref": "LogSink"
              },
              "path": "v2/{+sinkName}"
            },
            "patch": {
              "id": "logging.organizations.sinks.patch",
              "request": {
                "$ref": "LogSink"
              },
              "path": "v2/{+sinkName}",
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "LogSink"
              },
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a sink. This method replaces the following fields in the existing sink with values from the new sink: destination, and filter.The updated sink might also have a new writer_identity; see the unique_writer_identity field.",
              "parameters": {
                "sinkName": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sinks/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The full resource name of the sink to update, including the parent resource and the sink identifier: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\"."
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. Field mask that specifies the fields in sink that need an update. A sink field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.An empty updateMask is temporarily treated as using the following mask for backwards compatibility purposes: destination,filter,includeChildren At some point in the future, behavior will be removed and specifying an empty updateMask will be an error.For a detailed FieldMask definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskExample: updateMask=filter.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "uniqueWriterIdentity": {
                  "type": "boolean",
                  "description": "Optional. See sinks.create for a description of this field. When updating a sink, the effect of this field on the value of writer_identity in the updated sink depends on both the old and new values of this field: If the old and new values of this field are both false or both true, then there is no change to the sink's writer_identity. If the old value is false and the new value is true, then writer_identity is changed to a unique service account. It is an error if the old value is true and the new value is set to false or defaulted to false.",
                  "location": "query"
                }
              }
            },
            "get": {
              "parameters": {
                "sinkName": {
                  "pattern": "^organizations/[^/]+/sinks/[^/]+$",
                  "description": "Required. The resource name of the sink: \"projects/[PROJECT_ID]/sinks/[SINK_ID]\" \"organizations/[ORGANIZATION_ID]/sinks/[SINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/sinks/[SINK_ID]\" \"folders/[FOLDER_ID]/sinks/[SINK_ID]\" Example: \"projects/my-project-id/sinks/my-sink-id\".",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "path": "v2/{+sinkName}",
              "httpMethod": "GET",
              "parameterOrder": [
                "sinkName"
              ],
              "description": "Gets a sink.",
              "id": "logging.organizations.sinks.get",
              "response": {
                "$ref": "LogSink"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists sinks.",
              "response": {
                "$ref": "ListSinksResponse"
              },
              "id": "logging.organizations.sinks.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of nextPageToken in the response indicates that more results might be available.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource whose sinks are to be listed: \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" ",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/organizations/{organizationsId}/sinks"
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "exclusions": {
          "methods": {
            "list": {
              "description": "Lists all the exclusions in a parent resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ],
              "response": {
                "$ref": "ListExclusionsResponse"
              },
              "flatPath": "v2/billingAccounts/{billingAccountsId}/exclusions",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource whose exclusions are to be listed. \"projects/[PROJECT_ID]\" \"organizations/[ORGANIZATION_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]\" \"folders/[FOLDER_ID]\" ",
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. pageToken must be the value of nextPageToken from the previous response. The values of other method parameters should be identical to those in the previous call."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
[...]
