{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "title": "Cloud Search API",
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "name": "cloudsearch",
  "protocol": "rest",
  "version": "v1",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Cloud Search provides cloud-based search capabilities over G Suite data. The Cloud Search API allows indexing of non-G Suite data into Cloud Search.",
  "id": "cloudsearch:v1",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "schemas": {
    "SuggestResult": {
      "description": "One suggestion result.",
      "properties": {
        "peopleSuggestion": {
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc.",
          "$ref": "PeopleSuggestion"
        },
        "source": {
          "description": "The source of the suggestion.",
          "$ref": "Source"
        },
        "suggestedQuery": {
          "type": "string",
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion"
        },
        "querySuggestion": {
          "$ref": "QuerySuggestion",
          "description": "This field will be present if the suggested query is a word/phrase completion."
        }
      },
      "id": "SuggestResult",
      "type": "object"
    },
    "SearchResponse": {
      "id": "SearchResponse",
      "type": "object",
      "properties": {
        "errorInfo": {
          "description": "Error information about the response.",
          "$ref": "ErrorInfo"
        },
        "spellResults": {
          "items": {
            "$ref": "SpellResult"
          },
          "description": "Suggested spelling for the query.",
          "type": "array"
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results matching the query."
        },
        "structuredResults": {
          "type": "array",
          "description": "Structured results for the user query. These results are not counted against the page_size.",
          "items": {
            "$ref": "StructuredResult"
          }
        },
        "resultCounts": {
          "$ref": "ResultCounts",
          "description": "Expanded result count information."
        },
        "resultCountExact": {
          "format": "int64",
          "type": "string",
          "description": "The exact result count for this query."
        },
        "debugInfo": {
          "description": "Debugging information about the response.",
          "$ref": "ResponseDebugInfo"
        },
        "results": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "Results from a search query."
        },
        "facetResults": {
          "description": "Repeated facet results.",
          "type": "array",
          "items": {
            "$ref": "FacetResult"
          }
        },
        "queryInterpretation": {
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled.",
          "$ref": "QueryInterpretation"
        },
        "resultCountEstimate": {
          "type": "string",
          "format": "int64",
          "description": "The estimated result count for this query."
        }
      },
      "description": "The search API response."
    },
    "SearchQualityMetadata": {
      "type": "object",
      "properties": {
        "quality": {
          "format": "double",
          "description": "An indication of the quality of the item, used to influence search quality. Value should be between 0.0 (lowest quality) and 1.0 (highest quality). The default value is 0.0.",
          "type": "number"
        }
      },
      "id": "SearchQualityMetadata",
      "description": "Additional search quality metadata of the item."
    },
    "DoubleOperatorOptions": {
      "type": "object",
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "id": "DoubleOperatorOptions"
    },
    "ObjectDisplayOptions": {
      "type": "object",
      "description": "The display options for an object.",
      "id": "ObjectDisplayOptions",
      "properties": {
        "objectDisplayLabel": {
          "description": "The user friendly label to display in the search result to indicate the type of the item. This is OPTIONAL; if not provided, an object label isn't displayed on the context line of the search results. The maximum length is 64 characters.",
          "type": "string"
        },
        "metalines": {
          "type": "array",
          "items": {
            "$ref": "Metaline"
          },
          "description": "Defines the properties that are displayed in the metalines of the search results. The property values are displayed in the order given here. If a property holds multiple values, all of the values are displayed before the next properties. For this reason, it is a good practice to specify singular properties before repeated properties in this list. All of the properties must set is_returnable to true. The maximum number of metalines is 3."
        }
      }
    },
    "ObjectValues": {
      "description": "List of object values.",
      "id": "ObjectValues",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "StructuredDataObject"
          },
          "type": "array"
        }
      }
    },
    "EnumValuePair": {
      "description": "The enumeration value pair defines two things: a required string value and an optional integer value. The string value defines the necessary query term required to retrieve that item, such as *p0* for a priority item. The integer value determines the ranking of that string value relative to other enumerated values for the same property. For example, you might associate *p0* with *0* and define another enum pair such as *p1* and *1*. You must use the integer value in combination with ordered ranking to set the ranking of a given value relative to other enumerated values for the same property name. Here, a ranking order of DESCENDING for *priority* properties results in a ranking boost for items indexed with a value of *p0* compared to items indexed with a value of *p1*. Without a specified ranking order, the integer value has no effect on item ranking.",
      "properties": {
        "stringValue": {
          "description": "The string value of the EnumValuePair. The maximum length is 32 characters.",
          "type": "string"
        },
        "integerValue": {
          "description": "The integer value of the EnumValuePair which must be non-negative. Optional.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "EnumValuePair"
    },
    "DeleteQueueItemsRequest": {
      "id": "DeleteQueueItemsRequest",
      "type": "object",
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "queue": {
          "type": "string",
          "description": "Name of a queue to delete items from."
        }
      }
    },
    "SourceCrowdingConfig": {
      "id": "SourceCrowdingConfig",
      "type": "object",
      "properties": {
        "numSuggestions": {
          "format": "int32",
          "description": "Maximum number of suggestions allowed from a source. No limits will be set on results if this value is less than or equal to 0.",
          "type": "integer"
        },
        "numResults": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results allowed from a source. No limits will be set on results if this value is less than or equal to 0."
        }
      },
      "description": "Set search results crowding limits. Crowding is a situation in which multiple results from the same source or host \"crowd out\" other results, diminishing the quality of search for users. To foster better search quality and source diversity in search results, you can set a condition to reduce repetitive results by source."
    },
    "CompositeFilter": {
      "properties": {
        "logicOperator": {
          "enum": [
            "AND",
            "OR",
            "NOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ],
          "description": "The logic operator of the sub filter."
        },
        "subFilters": {
          "description": "Sub filters.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "id": "CompositeFilter",
      "type": "object"
    },
    "RepositoryError": {
      "description": "Errors when the connector is communicating to the source repository.",
      "id": "RepositoryError",
      "properties": {
        "httpStatusCode": {
          "type": "integer",
          "description": "Error codes. Matches the definition of HTTP status codes.",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Unknown error.",
            "Unknown or unreachable host.",
            "DNS problem, such as the DNS server is not responding.",
            "Cannot connect to the repository server.",
            "Failed authentication due to incorrect credentials.",
            "Service account is not authorized for the repository.",
            "Repository server error.",
            "Quota exceeded.",
            "Server temporarily unavailable.",
            "Client-related error, such as an invalid request from the connector to the repository server."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "NETWORK_ERROR",
            "DNS_ERROR",
            "CONNECTION_ERROR",
            "AUTHENTICATION_ERROR",
            "AUTHORIZATION_ERROR",
            "SERVER_ERROR",
            "QUOTA_EXCEEDED",
            "SERVICE_UNAVAILABLE",
            "CLIENT_ERROR"
          ],
          "description": "Type of error."
        },
        "errorMessage": {
          "description": "Message that describes the error. The maximum allowable length of the message is 8192 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResultDebugInfo": {
      "properties": {
        "formattedDebugInfo": {
          "type": "string",
          "description": "General debug info formatted for display."
        }
      },
      "type": "object",
      "description": "Debugging information about the result.",
      "id": "ResultDebugInfo"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "TextPropertyOptions": {
      "id": "TextPropertyOptions",
      "description": "Options for text properties.",
      "type": "object",
      "properties": {
        "retrievalImportance": {
          "$ref": "RetrievalImportance",
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval."
        },
        "operatorOptions": {
          "$ref": "TextOperatorOptions",
          "description": "If set, describes how the property should be used as a search operator."
        }
      }
    },
    "TextValues": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The maximum allowable length for text values is 2048 characters."
        }
      },
      "description": "List of text values.",
      "id": "TextValues"
    },
    "FacetBucket": {
      "id": "FacetBucket",
      "properties": {
        "count": {
          "description": "Number of results that match the bucket value. Counts are only returned for searches when count accuracy is ensured. Can be empty.",
          "format": "int32",
          "type": "integer"
        },
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of results that match the bucket value. The returned value is between (0-100], and is rounded down to an integer if fractional. If the value is not explicitly returned, it represents a percentage value that rounds to 0. Percentages are returned for all searches, but are an estimate. Because percentages are always returned, you should render percentages instead of counts."
        },
        "value": {
          "$ref": "Value"
        }
      },
      "description": "A bucket in a facet is the basic unit of operation. A bucket can comprise either a single value OR a contiguous range of values, depending on the type of the field bucketed. FacetBucket is currently used only for returning the response object.",
      "type": "object"
    },
    "DriveFollowUpRestrict": {
      "description": "Drive follow-up search restricts (e.g. \"followup:suggestions\").",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "FOLLOWUP_SUGGESTIONS",
            "FOLLOWUP_ACTION_ITEMS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "DriveFollowUpRestrict",
      "type": "object"
    },
    "SourceResultCount": {
      "type": "object",
      "id": "SourceResultCount",
      "properties": {
        "hasMoreResults": {
          "description": "Whether there are more search results for this source.",
          "type": "boolean"
        },
        "resultCountExact": {
          "description": "The exact result count for this source.",
          "format": "int64",
          "type": "string"
        },
        "resultCountEstimate": {
          "format": "int64",
          "type": "string",
          "description": "The estimated result count for this source."
        },
        "source": {
          "$ref": "Source",
          "description": "The source the result count information is associated with."
        }
      },
      "description": "Per source result count information."
    },
    "GetSearchApplicationUserStatsResponse": {
      "id": "GetSearchApplicationUserStatsResponse",
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "SearchApplicationUserStats"
          }
        }
      }
    },
    "DateValues": {
      "id": "DateValues",
      "description": "List of date values.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      }
    },
    "ObjectOptions": {
      "description": "The options for an object.",
      "type": "object",
      "id": "ObjectOptions",
      "properties": {
        "freshnessOptions": {
          "$ref": "FreshnessOptions",
          "description": "The freshness options for an object."
        },
        "displayOptions": {
          "description": "Options that determine how the object is displayed in the Cloud Search results page.",
          "$ref": "ObjectDisplayOptions"
        }
      }
    },
    "GetCustomerIndexStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "description": "Summary of indexed item counts, one for each day in the requested range.",
          "items": {
            "$ref": "CustomerIndexStats"
          }
        }
      },
      "id": "GetCustomerIndexStatsResponse"
    },
    "SearchRequest": {
      "description": "The search API request.",
      "id": "SearchRequest",
      "type": "object",
      "properties": {
        "dataSourceRestrictions": {
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "description": "The sources to use for querying. If not specified, all data sources from the current search application are used.",
          "type": "array"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "facetOptions": {
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          }
        },
        "query": {
          "type": "string",
          "description": "The raw query string. See supported search operators in the [Cloud search Cheat Sheet](https://support.google.com/a/users/answer/9299929)"
        },
        "queryInterpretationOptions": {
          "$ref": "QueryInterpretationOptions",
          "description": "Options to interpret the user query."
        },
        "pageSize": {
          "description": "Maximum number of search results to return in one page. Valid values are between 1 and 100, inclusive. Default value is 10.",
          "type": "integer",
          "format": "int32"
        },
        "sortOptions": {
          "$ref": "SortOptions",
          "description": "The options for sorting the search results"
        },
        "start": {
          "type": "integer",
          "description": "Starting index of the results.",
          "format": "int32"
        }
      }
    },
    "QueryInterpretationOptions": {
      "description": "Options to interpret user query.",
      "properties": {
        "disableNlInterpretation": {
          "description": "Flag to disable natural language (NL) interpretation of queries. Default is false, Set to true to disable natural language interpretation. NL interpretation only applies to predefined datasources.",
          "type": "boolean"
        },
        "enableVerbatimMode": {
          "type": "boolean",
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental result retrieval, and usage of synonyms including custom ones. Nl interpretation will be disabled if either one of the two flags is true."
        }
      },
      "id": "QueryInterpretationOptions",
      "type": "object"
    },
    "ListDataSourceResponse": {
      "type": "object",
      "id": "ListDataSourceResponse",
      "properties": {
        "sources": {
          "items": {
            "$ref": "DataSource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GetCustomerQueryStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerQueryStats"
          },
          "type": "array"
        }
      },
      "id": "GetCustomerQueryStatsResponse"
    },
    "GSuitePrincipal": {
      "properties": {
        "gsuiteDomain": {
          "type": "boolean",
          "description": "This principal represents all users of the G Suite domain of the customer."
        },
        "gsuiteUserEmail": {
          "description": "This principal references a G Suite user account",
          "type": "string"
        },
        "gsuiteGroupEmail": {
          "type": "string",
          "description": "This principal references a G Suite group account"
        }
      },
      "id": "GSuitePrincipal",
      "type": "object"
    },
    "ItemStructuredData": {
      "description": "Available structured data fields for the item.",
      "id": "ItemStructuredData",
      "type": "object",
      "properties": {
        "hash": {
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "object": {
          "description": "The structured data object that should conform to a registered object definition in the schema for the data source.",
          "$ref": "StructuredDataObject"
        }
      }
    },
    "DebugOptions": {
      "type": "object",
      "description": "Shared request debug options for all cloudsearch RPC methods.",
      "id": "DebugOptions",
      "properties": {
        "enableDebugging": {
          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
          "type": "boolean"
        }
      }
    },
    "HtmlPropertyOptions": {
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the property should be used as a search operator.",
          "$ref": "HtmlOperatorOptions"
        },
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval. Can only be set to DEFAULT or NONE.",
          "$ref": "RetrievalImportance"
        }
      },
      "description": "Options for html properties.",
      "id": "HtmlPropertyOptions",
      "type": "object"
    },
    "FreshnessOptions": {
      "properties": {
        "freshnessProperty": {
          "type": "string",
          "description": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time."
        },
        "freshnessDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration after which an object should be considered stale. The default value is 180 days (in seconds)."
        }
      },
      "id": "FreshnessOptions",
      "type": "object",
      "description": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly."
    },
    "SortOptions": {
      "id": "SortOptions",
      "type": "object",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the operator corresponding to the field to sort on. The corresponding property must be marked as sortable."
        },
        "sortOrder": {
          "description": "Ascending is the default sort order",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ]
        }
      }
    },
    "RestrictItem": {
      "description": "Information relevant only to a restrict entry. NextId: 12",
      "properties": {
        "searchOperator": {
          "type": "string",
          "description": "The search restrict (e.g. \"after:2017-09-11 before:2017-09-12\")."
        },
        "driveFollowUpRestrict": {
          "$ref": "DriveFollowUpRestrict",
          "description": "LINT.ThenChange(//depot/google3/java/com/google/apps/search/quality/itemsuggest/utils/SubtypeRerankingUtils.java)"
        },
        "driveTimeSpanRestrict": {
          "$ref": "DriveTimeSpanRestrict"
        },
        "driveLocationRestrict": {
          "$ref": "DriveLocationRestrict"
        },
        "driveMimeTypeRestrict": {
          "description": "LINT.IfChange Drive Types.",
          "$ref": "DriveMimeTypeRestrict"
        }
      },
      "id": "RestrictItem",
      "type": "object"
    },
    "UnreserveItemsRequest": {
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "queue": {
          "type": "string",
          "description": "Name of a queue to unreserve items from."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      },
      "type": "object",
      "id": "UnreserveItemsRequest"
    },
    "DisplayedProperty": {
      "id": "DisplayedProperty",
      "properties": {
        "propertyName": {
          "description": "The name of the top-level property as defined in a property definition for the object. If the name is not a defined property in the schema, an error is given when attempting to update the schema.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a top-level property within the object that should be displayed in search results. The values of the chosen properties is displayed in the search results along with the display label for that property if one is specified. If a display label is not specified, only the values is shown."
    },
    "ItemContent": {
      "description": "Content of an item to be indexed and surfaced by Cloud Search.",
      "type": "object",
      "properties": {
        "contentFormat": {
          "enum": [
            "UNSPECIFIED",
            "HTML",
            "TEXT",
            "RAW"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "contentFormat is HTML.",
            "contentFormat is free text.",
            "contentFormat is raw bytes."
          ],
          "type": "string"
        },
        "inlineContent": {
          "type": "string",
          "format": "byte",
          "description": "Content that is supplied inlined within the update method. The maximum length is 102400 bytes (100 KiB)."
        },
        "hash": {
          "description": "Hashing info calculated and provided by the API client for content. Can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "contentDataRef": {
          "$ref": "UploadItemRef",
          "description": "Upload reference ID of a previously uploaded content via write method."
        }
      },
      "id": "ItemContent"
    },
    "ListQuerySourcesResponse": {
      "id": "ListQuerySourcesResponse",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "QuerySource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "description": "List sources response."
    },
    "PushItemRequest": {
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "item": {
          "$ref": "PushItem",
          "description": "Item to push onto the queue."
        }
      },
      "id": "PushItemRequest",
      "type": "object"
    },
    "IntegerValues": {
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "IntegerValues",
      "description": "List of integer values.",
      "type": "object"
    },
    "EmailAddress": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address."
        }
      },
      "id": "EmailAddress",
      "type": "object",
      "description": "A person's email address."
    },
    "SourceScoringConfig": {
      "id": "SourceScoringConfig",
      "type": "object",
      "properties": {
        "sourceImportance": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Importance of the source.",
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ]
        }
      },
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source."
    },
    "SearchApplicationUserStats": {
      "properties": {
        "oneDayActiveUsersCount": {
          "description": "The count of unique active users in the past one day",
          "type": "string",
          "format": "int64"
        },
        "sevenDaysActiveUsersCount": {
          "type": "string",
          "description": "The count of unique active users in the past seven days",
          "format": "int64"
        },
        "date": {
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "thirtyDaysActiveUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of unique active users in the past thirty days"
        }
      },
      "id": "SearchApplicationUserStats",
      "type": "object"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "Configurations for a source while processing a Search or Suggest request.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source for which this configuration is to be used.",
          "$ref": "Source"
        },
        "scoringConfig": {
          "description": "The scoring configuration for the source.",
          "$ref": "SourceScoringConfig"
        },
        "crowdingConfig": {
          "$ref": "SourceCrowdingConfig",
          "description": "The crowding configuration for the source."
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "description": "The schema definition for a data source.",
      "properties": {
        "objectDefinitions": {
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10.",
          "items": {
            "$ref": "ObjectDefinition"
          },
          "type": "array"
        },
        "operationIds": {
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "EnumPropertyOptions": {
      "id": "EnumPropertyOptions",
      "type": "object",
      "properties": {
        "orderedRanking": {
          "description": "Used to specify the ordered ranking for the enumeration that determines how the integer values provided in the possible EnumValuePairs are used to rank results. If specified, integer values must be provided for all possible EnumValuePair values given for this property. Can only be used if isRepeatable is false.",
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "There is no ranking order for the property. Results aren't adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ]
        },
        "possibleValues": {
          "type": "array",
          "items": {
            "$ref": "EnumValuePair"
          },
          "description": "The list of possible values for the enumeration property. All EnumValuePairs must provide a string value. If you specify an integer value for one EnumValuePair, then all possible EnumValuePairs must provide an integer value. Both the string value and integer value must be unique over all possible values. Once set, possible values cannot be removed or modified. If you supply an ordered ranking and think you might insert additional enum values in the future, leave gaps in the initial integer values to allow adding a value in between previously registered values. The maximum number of elements is 100."
        },
        "operatorOptions": {
          "description": "If set, describes how the enum should be used as a search operator.",
          "$ref": "EnumOperatorOptions"
        }
      },
      "description": "Options for enum properties, which allow you to define a restricted set of strings to match user queries, set rankings for those string values, and define an operator name to be paired with those strings so that users can narrow results to only items with a specific value. For example, for items in a request tracking system with priority information, you could define *p0* as an allowable enum value and tie this enum to the operator name *priority* so that search users could add *priority:p0* to their query to restrict the set of results to only those items indexed with the value *p0*."
    },
    "CheckAccessResponse": {
      "id": "CheckAccessResponse",
      "properties": {
        "hasAccess": {
          "description": "Returns true if principal has access. Returns false otherwise.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CustomerQueryStats": {
      "type": "object",
      "properties": {
        "date": {
          "description": "Date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "queryCountByStatus": {
          "items": {
            "$ref": "QueryCountByStatus"
          },
          "type": "array"
        }
      },
      "id": "CustomerQueryStats"
    },
    "Name": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The read-only display name formatted according to the locale specified by the viewer's account or the Accept-Language HTTP header."
        }
      },
      "description": "A person's name.",
      "id": "Name"
    },
    "ItemStatus": {
      "properties": {
        "code": {
          "description": "Status code.",
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ]
        },
        "processingErrors": {
          "items": {
            "$ref": "ProcessingError"
          },
          "type": "array",
          "description": "Error details in case the item is in ERROR state."
        },
        "repositoryErrors": {
          "items": {
            "$ref": "RepositoryError"
          },
          "type": "array",
          "description": "Repository error reported by connector."
        }
      },
      "description": "This contains item's status and any errors.",
      "id": "ItemStatus",
      "type": "object"
    },
    "DateOperatorOptions": {
      "type": "object",
      "id": "DateOperatorOptions",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the actual string required in the query in order to isolate the date property. For example, suppose an issue tracking schema object has a property named *closeDate* that specifies an operator with an operatorName of *closedon*. For searches on that data, queries like *closedon:\u003cvalue\u003e* show results only where the value of the *closeDate* property matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the indexed datasource. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the date property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is earlier than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is later than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "description": "Optional. Provides a search operator for date properties. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
    },
    "RequestOptions": {
      "type": "object",
      "id": "RequestOptions",
      "description": "Shared request options for all RPC methods.",
      "properties": {
        "timeZone": {
          "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
          "type": "string"
        },
        "searchApplicationId": {
          "type": "string",
          "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922)."
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query.",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Debug options of the request"
        }
      }
    },
    "EnumValues": {
      "id": "EnumValues",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for string values is 32 characters.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "List of enum values."
    },
    "SuggestResponse": {
      "id": "SuggestResponse",
      "type": "object",
      "description": "Response of the suggest API.",
      "properties": {
        "suggestResults": {
          "description": "List of suggestions.",
          "type": "array",
          "items": {
            "$ref": "SuggestResult"
          }
        }
      }
    },
    "QuerySuggestion": {
      "type": "object",
      "properties": {},
      "id": "QuerySuggestion",
      "description": "This field does not contain anything as of now and is just used as an indicator that the suggest result was a phrase completion."
    },
    "PropertyDefinition": {
      "type": "object",
      "id": "PropertyDefinition",
      "properties": {
        "textPropertyOptions": {
          "$ref": "TextPropertyOptions"
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Indicates that multiple values are allowed for the property. For example, a document only has one description but can have multiple comments. Cannot be true for properties whose type is a boolean. If set to false, properties that contain more than one value cause the indexing request for that item to be rejected."
        },
        "isSuggestable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for generating query suggestions."
        },
        "objectPropertyOptions": {
          "$ref": "ObjectPropertyOptions"
        },
        "doublePropertyOptions": {
          "$ref": "DoublePropertyOptions"
        },
        "isReturnable": {
          "type": "boolean",
          "description": "Indicates that the property identifies data that should be returned in search results via the Query API. If set to *true*, indicates that Query API users can use matching property fields in results. However, storing fields requires more space allocation and uses more bandwidth for search queries, which impacts performance over large datasets. Set to *true* here only if the field is needed for search results. Cannot be true for properties whose type is an object."
        },
        "name": {
          "type": "string",
          "description": "The name of the property. Item indexing requests sent to the Indexing API should set the property name equal to this value. For example, if name is *subject_line*, then indexing requests for document items with subject fields should set the name for that field equal to *subject_line*. Use the name as the identifier for the object property. Once registered as a property for an object, you cannot re-use this name for another property within that object. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters."
        },
        "isFacetable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for generating facets. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for Boolean, Enum, and Text properties."
        },
        "enumPropertyOptions": {
          "$ref": "EnumPropertyOptions"
        },
        "htmlPropertyOptions": {
          "$ref": "HtmlPropertyOptions"
        },
        "timestampPropertyOptions": {
          "$ref": "TimestampPropertyOptions"
        },
        "displayOptions": {
          "description": "Options that determine how the property is displayed in the Cloud Search results page if it is specified to be displayed in the object's display options .",
          "$ref": "PropertyDisplayOptions"
        },
        "booleanPropertyOptions": {
          "$ref": "BooleanPropertyOptions"
        },
        "isSortable": {
          "description": "Indicates that the property can be used for sorting. Cannot be true for properties that are repeatable. Cannot be true for properties whose type is object or user identifier. IsReturnable must be true to set this option. Only supported for Boolean, Date, Double, Integer, and Timestamp properties.",
          "type": "boolean"
        },
        "datePropertyOptions": {
          "$ref": "DatePropertyOptions"
        },
        "isWildcardSearchable": {
          "description": "Indicates that users can perform wildcard search for this property. Only supported for Text properties. IsReturnable must be true to set this option. In a given datasource maximum of 5 properties can be marked as is_wildcard_searchable.",
          "type": "boolean"
        },
        "integerPropertyOptions": {
          "$ref": "IntegerPropertyOptions"
        }
      },
      "description": "The definition of a property within an object."
    },
    "Metaline": {
      "id": "Metaline",
      "properties": {
        "properties": {
          "description": "The list of displayed properties for the metaline. The maximum number of properties is 5.",
          "type": "array",
          "items": {
            "$ref": "DisplayedProperty"
          }
        }
      },
      "type": "object",
      "description": "A metaline is a list of properties that are displayed along with the search result to provide context."
    },
    "DataSourceRestriction": {
      "type": "object",
      "properties": {
        "filterOptions": {
          "description": "Filter options restricting the results. If multiple filters are present, they are grouped by object type before joining. Filters with the same object type are joined conjunctively, then the resulting expressions are joined disjunctively. The maximum number of elements is 20. NOTE: Suggest API supports only few filters at the moment: \"objecttype\", \"type\" and \"mimetype\". For now, schema specific filters cannot be used to filter suggestions.",
          "items": {
            "$ref": "FilterOptions"
          },
          "type": "array"
        },
        "source": {
          "description": "The source of restriction.",
          "$ref": "Source"
        }
      },
      "id": "DataSourceRestriction",
      "description": "Restriction on Datasource."
    },
    "SearchResult": {
      "properties": {
        "snippet": {
          "$ref": "Snippet",
          "description": "The concatenation of all snippets (summaries) available for this result."
        },
        "url": {
          "description": "The URL of the search result. The URL contains a Google redirect to the actual item. This URL is signed and shouldn't be changed.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata of the search result.",
          "$ref": "Metadata"
        },
        "clusteredResults": {
          "description": "If source is clustered, provide list of clustered results. There will only be one level of clustered results. If current source is not enabled for clustering, this field will be empty.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Title of the search result."
        },
        "debugInfo": {
          "description": "Debugging information about this search result.",
          "$ref": "ResultDebugInfo"
        }
      },
      "id": "SearchResult",
      "description": "Results containing indexed information for a document.",
      "type": "object"
    },
    "IntegerPropertyOptions": {
      "description": "Options for integer properties.",
      "id": "IntegerPropertyOptions",
      "type": "object",
      "properties": {
        "orderedRanking": {
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "Used to specify the ordered ranking for the integer. Can only be used if isRepeatable is false.",
          "enumDescriptions": [
            "There is no ranking order for the property. Results are not adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ]
        },
        "operatorOptions": {
          "$ref": "IntegerOperatorOptions",
          "description": "If set, describes how the integer should be used as a search operator."
        },
        "minimumValue": {
          "type": "string",
          "format": "int64",
          "description": "The minimum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values less than the minimum are accepted and ranked with the same weight as items indexed with the minimum value."
        },
        "maximumValue": {
          "type": "string",
          "format": "int64",
          "description": "The maximum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values greater than the maximum are accepted and ranked with the same weight as items indexed with the maximum value."
        }
      }
    },
    "TimestampOperatorOptions": {
      "properties": {
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is earlier than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is later than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property. For example, if operatorName is *closedon* and the property's name is *closeDate*, then queries like *closedon:\u003cvalue\u003e* show results only where the value of the property named *closeDate* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "description": "Used to provide a search operator for timestamp properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "TimestampOperatorOptions",
      "type": "object"
    },
    "HtmlValues": {
      "type": "object",
      "description": "List of html values.",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for html values is 2048 characters.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HtmlValues"
    },
    "TimestampValues": {
      "type": "object",
      "id": "TimestampValues",
      "properties": {
        "values": {
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array"
        }
      },
      "description": "List of timestamp values."
    },
    "GetCustomerUserStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerUserStats"
          }
        }
      },
      "id": "GetCustomerUserStatsResponse"
    },
    "CustomerSessionStats": {
      "id": "CustomerSessionStats",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned."
        },
        "searchSessionsCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of search sessions on the day"
        }
      }
    },
    "ErrorMessage": {
      "id": "ErrorMessage",
      "description": "Error message per source response.",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "source": {
          "$ref": "Source"
        }
      },
      "type": "object"
    },
    "ResultDisplayField": {
      "properties": {
        "label": {
          "description": "The display label for the property.",
          "type": "string"
        },
        "operatorName": {
          "description": "The operator name of the property.",
          "type": "string"
        },
        "property": {
          "$ref": "NamedProperty",
          "description": "The name value pair for the property."
        }
      },
      "description": "Display Fields for Search Results",
      "id": "ResultDisplayField",
      "type": "object"
    },
    "ObjectDefinition": {
      "description": "The definition for an object within a data source.",
      "id": "ObjectDefinition",
      "type": "object",
      "properties": {
        "propertyDefinitions": {
          "items": {
            "$ref": "PropertyDefinition"
          },
          "description": "The property definitions for the object. The maximum number of elements is 1000.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name for the object, which then defines its type. Item indexing requests should set the objectType field equal to this value. For example, if *name* is *Document*, then indexing requests for items of type Document should set objectType equal to *Document*. Each object definition must be uniquely named within a schema. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters."
        },
        "options": {
          "$ref": "ObjectOptions",
          "description": "The optional object-specific options."
        }
      }
    },
    "ResponseDebugInfo": {
      "type": "object",
      "id": "ResponseDebugInfo",
      "description": "Debugging information about the response.",
      "properties": {
        "formattedDebugInfo": {
          "type": "string",
          "description": "General debug info formatted for display."
        }
      }
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "type": "object",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "ErrorMessage"
          }
        }
      },
      "description": "Error information about the response."
    },
    "ObjectPropertyOptions": {
      "id": "ObjectPropertyOptions",
      "type": "object",
      "properties": {
        "subobjectProperties": {
          "items": {
            "$ref": "PropertyDefinition"
          },
          "type": "array",
          "description": "The properties of the sub-object. These properties represent a nested object. For example, if this property represents a postal address, the subobjectProperties might be named *street*, *city*, and *state*. The maximum number of elements is 1000."
        }
      },
      "description": "Options for object properties."
    },
    "FacetOptions": {
      "id": "FacetOptions",
      "type": "object",
      "description": "Specifies operators to return facet results for. There will be one FacetResult for every source_name/object_type/operator_name combination.",
      "properties": {
        "sourceName": {
          "type": "string",
          "description": "Source name to facet on. Format: datasources/{source_id} If empty, all data sources will be used."
        },
        "numFacetBuckets": {
          "format": "int32",
          "description": "Maximum number of facet buckets that should be returned for this facet. Defaults to 10. Maximum value is 100.",
          "type": "integer"
        },
        "operatorName": {
          "type": "string",
          "description": "Name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions"
        },
        "objectType": {
          "type": "string",
          "description": "If object_type is set, only those objects of that type will be used to compute facets. If empty, then all objects will be used to compute facets."
        }
      }
    },
    "Item": {
      "properties": {
        "metadata": {
          "description": "Metadata information.",
          "$ref": "ItemMetadata"
        },
        "itemType": {
          "enumDescriptions": [
            "",
            "An item that is indexed for the only purpose of serving information. These items cannot be referred in containerName or inheritAclFrom fields.",
            "An item that gets indexed and whose purpose is to supply other items with ACLs and/or contain other items.",
            "An item that does not get indexed, but otherwise has the same purpose as CONTAINER_ITEM."
          ],
          "description": "Type for this item.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "CONTENT_ITEM",
            "CONTAINER_ITEM",
            "VIRTUAL_CONTAINER_ITEM"
          ]
        },
        "payload": {
          "format": "byte",
          "description": "Additional state connector can store for this item. The maximum length is 10000 bytes.",
          "type": "string"
        },
        "acl": {
          "description": "Access control list for this item.",
          "$ref": "ItemAcl"
        },
        "queue": {
          "type": "string",
          "description": "Queue this item belongs to. The maximum length is 100 characters."
        },
        "structuredData": {
          "description": "The structured data for the item that should conform to a registered object definition in the schema for the data source.",
          "$ref": "ItemStructuredData"
        },
        "name": {
          "description": "Name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
          "type": "string"
        },
        "version": {
          "format": "byte",
          "description": "Required. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't index or delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes.",
          "type": "string"
        },
        "content": {
          "$ref": "ItemContent",
          "description": "Item content to be indexed and made text searchable."
        },
        "status": {
          "description": "Status of the item. Output only field.",
          "$ref": "ItemStatus"
        }
      },
      "id": "Item",
      "type": "object",
      "description": "Represents a single object that is an item in the search index, such as a file, folder, or a database record."
    },
    "IndexItemOptions": {
      "type": "object",
      "properties": {
        "allowUnknownGsuitePrincipals": {
          "description": "Specifies if the index request should allow gsuite principals that do not exist or are deleted in the index request.",
          "type": "boolean"
        }
      },
      "id": "IndexItemOptions"
    },
    "RetrievalImportance": {
      "properties": {
        "importance": {
          "enum": [
            "DEFAULT",
            "HIGHEST",
            "HIGH",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "Treat the match like a body text match.",
            "Treat the match like a match against title of the item.",
            "Treat the match with higher importance than body text.",
            "Treat the match with lower importance than body text.",
            "Do not match against this field during retrieval. The property can still be used for operator matching, faceting, and suggest if desired."
          ],
          "type": "string",
          "description": "Indicates the ranking importance given to property when it is matched during retrieval. Once set, the token importance of a property cannot be changed."
        }
      },
      "type": "object",
      "id": "RetrievalImportance"
    },
    "CustomerIndexStats": {
      "id": "CustomerIndexStats",
      "description": "Aggregation of items by status code as of the specified date.",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Date for which statistics were calculated."
        },
        "itemCountByStatus": {
          "description": "Number of items aggregrated by status code.",
          "type": "array",
          "items": {
            "$ref": "ItemCountByStatus"
          }
        }
      }
    },
    "DataSourceIndexStats": {
      "id": "DataSourceIndexStats",
      "description": "Aggregation of items by status code as of the specified date.",
      "type": "object",
      "properties": {
        "itemCountByStatus": {
          "type": "array",
          "description": "Number of items aggregrated by status code.",
          "items": {
            "$ref": "ItemCountByStatus"
          }
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which index stats were calculated. If the date of request is not the current date then stats calculated on the next day are returned. Stats are calculated close to mid night in this case. If date of request is current date, then real time stats are returned."
        }
      }
    },
    "ItemCountByStatus": {
      "id": "ItemCountByStatus",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "description": "Number of items matching the status code.",
          "format": "int64"
        },
        "statusCode": {
          "type": "string",
          "description": "Status of the items.",
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ]
        }
      }
    },
    "UpdateSchemaRequest": {
      "id": "UpdateSchemaRequest",
      "properties": {
        "schema": {
          "description": "The new schema for the source.",
          "$ref": "Schema"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid."
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "type": "object"
    },
    "BooleanPropertyOptions": {
      "description": "Options for boolean properties.",
      "id": "BooleanPropertyOptions",
      "properties": {
        "operatorOptions": {
          "$ref": "BooleanOperatorOptions",
          "description": "If set, describes how the boolean should be used as a search operator."
        }
      },
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
        },
        "month": {
          "description": "Month of date. Must be from 1 to 12.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "type": "object"
    },
    "Metadata": {
      "type": "object",
      "description": "Metadata of a matched search result.",
      "properties": {
        "fields": {
          "type": "array",
          "description": "Indexed fields in structured data, returned as a generic named property.",
          "items": {
            "$ref": "NamedProperty"
          }
        },
        "owner": {
          "description": "Owner (usually creator) of the document or object of the search result.",
          "$ref": "Person"
        },
        "mimeType": {
          "type": "string",
          "description": "Mime type of the search result."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last modified date for the object in the search result. If not set in the item, the value returned here is empty. When `updateTime` is used for calculating freshness and is not set, this value defaults to 2 years from the current time.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time for this document or object in the search result.",
          "format": "google-datetime",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the search result."
        },
        "source": {
          "description": "The named source for the result, such as Gmail.",
          "$ref": "Source"
        },
        "displayOptions": {
          "description": "Options that specify how to display a structured data search result.",
          "$ref": "ResultDisplayMetadata"
        }
      },
      "id": "Metadata"
    },
    "DriveLocationRestrict": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TRASHED",
            "STARRED"
          ]
        }
      },
      "description": "Drive location search restricts (e.g. \"is:starred\").",
      "id": "DriveLocationRestrict"
    },
    "SearchItemsByViewUrlRequest": {
      "properties": {
        "viewUrl": {
          "description": "Specify the full view URL to find the corresponding item. The maximum length is 2048 characters.",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "pageToken": {
          "type": "string",
          "description": "The next_page_token value returned from a previous request, if any."
        }
      },
      "type": "object",
      "id": "SearchItemsByViewUrlRequest"
    },
    "Principal": {
      "properties": {
        "groupResourceName": {
          "type": "string",
          "description": "This principal is a group identified using an external identity. The name field must specify the group resource name with this format: identitysources/{source_id}/groups/{ID}"
        },
        "gsuitePrincipal": {
          "$ref": "GSuitePrincipal",
          "description": "This principal is a GSuite user, group or domain."
        },
        "userResourceName": {
          "type": "string",
          "description": "This principal is a user identified using an external identity. The name field must specify the user resource name with this format: identitysources/{source_id}/users/{ID}"
        }
      },
      "description": "Reference to a user, group, or domain.",
      "type": "object",
      "id": "Principal"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "ScoringConfig": {
      "description": "Scoring configurations for a source while processing a Search or Suggest request.",
      "id": "ScoringConfig",
      "properties": {
        "disableFreshness": {
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI.",
          "type": "boolean"
        },
        "disablePersonalization": {
          "type": "boolean",
          "description": "Whether to personalize the results. By default, personal signals will be used to boost results."
        }
      },
      "type": "object"
    },
    "StructuredDataObject": {
      "description": "A structured data object consisting of named properties.",
      "id": "StructuredDataObject",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties for the object. The maximum number of elements is 1000.",
          "items": {
            "$ref": "NamedProperty"
          },
          "type": "array"
        }
      }
    },
    "IntegerOperatorOptions": {
      "properties": {
        "greaterThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the integer property using the greater-than operator. For example, if greaterThanOperatorName is *priorityabove* and the property's name is *priorityVal*, then queries like *priorityabove:\u003cvalue\u003e* show results only where the value of the property named *priorityVal* is greater than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the integer property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:\u003cvalue\u003e* show results only where the value of the property named *priorityVal* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "lessThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the integer property using the less-than operator. For example, if lessThanOperatorName is *prioritybelow* and the property's name is *priorityVal*, then queries like *prioritybelow:\u003cvalue\u003e* show results only where the value of the property named *priorityVal* is less than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "description": "Used to provide a search operator for integer properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "type": "object",
      "id": "IntegerOperatorOptions"
    },
    "QuerySource": {
      "description": "List of sources that the user can search using the query API.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Name of the source"
        },
        "shortName": {
          "type": "string",
          "description": "A short name or alias for the source. This value can be used with the 'source' operator."
        },
        "operators": {
          "type": "array",
          "description": "List of all operators applicable for this source.",
          "items": {
            "$ref": "QueryOperator"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the data source."
        }
      },
      "id": "QuerySource",
      "type": "object"
    },
    "DriveMimeTypeRestrict": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ]
        }
      },
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\").",
      "id": "DriveMimeTypeRestrict",
      "type": "object"
    },
    "ValueFilter": {
      "id": "ValueFilter",
      "properties": {
        "operatorName": {
          "description": "The `operator_name` applied to the query, such as *price_greater_than*. The filter can work against both types of filters defined in the schema for your data source: 1. `operator_name`, where the query filters results by the property that matches the value. 2. `greater_than_operator_name` or `less_than_operator_name` in your schema. The query filters the results for the property values that are greater than or less than the supplied value in the query.",
          "type": "string"
        },
        "value": {
          "description": "The value to be compared with.",
          "$ref": "Value"
        }
      },
      "type": "object"
    },
    "Snippet": {
      "id": "Snippet",
      "description": "Snippet of the search result, which summarizes the content of the resulting page.",
      "type": "object",
      "properties": {
        "matchRanges": {
          "type": "array",
          "description": "The matched ranges in the snippet.",
          "items": {
            "$ref": "MatchRange"
          }
        },
        "snippet": {
          "description": "The snippet of the document. The snippet of the document. May contain escaped HTML character that should be unescaped prior to rendering.",
          "type": "string"
        }
      }
    },
    "CustomerUserStats": {
      "type": "object",
      "properties": {
        "thirtyDaysActiveUsersCount": {
          "description": "The count of unique active users in the past thirty days",
          "type": "string",
          "format": "int64"
        },
        "oneDayActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past one day",
          "type": "string"
        },
        "date": {
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "sevenDaysActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past seven days",
          "type": "string"
        }
      },
      "id": "CustomerUserStats"
    },
    "PushItem": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the push operation that defines the push behavior.",
          "enumDescriptions": [
            "Default UNSPECIFIED. Specifies that the push operation should not modify ItemStatus",
            "Indicates that the repository document has been modified or updated since the previous update call. This changes status to MODIFIED state for an existing item. If this is called on a non existing item, the status is changed to NEW_ITEM.",
            "Item in the repository has not been modified since the last update call. This push operation will set status to ACCEPTED state.",
            "Connector is facing a repository error regarding this item. Change status to REPOSITORY_ERROR state. Item is unreserved and rescheduled at a future time determined by exponential backoff.",
            "Call push with REQUEUE only for items that have been reserved. This action unreserves the item and resets its available time to the wall clock time."
          ],
          "enum": [
            "UNSPECIFIED",
            "MODIFIED",
            "NOT_MODIFIED",
            "REPOSITORY_ERROR",
            "REQUEUE"
          ],
          "type": "string"
        },
        "contentHash": {
          "description": "Content hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "metadataHash": {
          "description": "Metadata hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "structuredDataHash": {
          "description": "Structured data hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "repositoryError": {
          "description": "Populate this field to store Connector or repository error details. This information is displayed in the Admin Console. This field may only be populated when the Type is REPOSITORY_ERROR.",
          "$ref": "RepositoryError"
        },
        "queue": {
          "description": "Queue to which this item belongs to. The default queue is chosen if this field is not specified. The maximum length is 512 characters.",
          "type": "string"
        },
        "payload": {
          "format": "byte",
          "description": "Provides additional document state information for the connector, such as an alternate repository ID and other metadata. The maximum length is 8192 bytes.",
          "type": "string"
        }
      },
      "description": "Represents an item to be pushed to the indexing queue.",
      "id": "PushItem"
    },
    "GetDataSourceIndexStatsResponse": {
      "type": "object",
      "id": "GetDataSourceIndexStatsResponse",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "DataSourceIndexStats"
          },
          "description": "Summary of indexed item counts, one for each day in the requested range."
        }
      }
    },
    "SearchApplicationSessionStats": {
      "id": "SearchApplicationSessionStats",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "searchSessionsCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of search sessions on the day"
        }
      }
    },
    "StructuredResult": {
      "description": "Structured results that are returned as part of search request.",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "Representation of a person"
        }
      },
      "id": "StructuredResult",
      "type": "object"
    },
    "QueryItem": {
      "id": "QueryItem",
      "properties": {
        "isSynthetic": {
          "type": "boolean",
          "description": "True if the text was generated by means other than a previous user search."
        }
      },
      "type": "object",
      "description": "Information relevant only to a query entry."
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "description": "Datasource is a logical namespace for items to be indexed. All items must belong to a datasource. This is the prerequisite before items can be indexed into Cloud Search.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the datasource The maximum length is 300 characters."
        },
        "disableServing": {
          "type": "boolean",
          "description": "Disable serving any search or assist results."
        },
        "disableModifications": {
          "type": "boolean",
          "description": "If true, Indexing API rejects any modification calls to this datasource such as create, update, and delete. Disabling this does not imply halting process of previously accepted data."
        },
        "name": {
          "type": "string",
          "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource."
        },
        "operationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema."
        },
        "shortName": {
          "description": "A short name or alias for the source. This value will be used to match the 'source' operator. For example, if the short name is *\u003cvalue\u003e* then queries like *source:\u003cvalue\u003e* will only return results for this source. The value must be unique across all datasources. The value must only contain alphanumeric characters (a-zA-Z0-9). The value cannot start with 'google' and cannot be one of the following: mail, gmail, docs, drive, groups, sites, calendar, hangouts, gplus, keep, people, teams. Its maximum length is 32 characters.",
          "type": "string"
        },
        "indexingServiceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of service accounts that have indexing access."
        },
        "itemsVisibility": {
          "items": {
            "$ref": "GSuitePrincipal"
          },
          "type": "array",
          "description": "This field restricts visibility to items at the datasource level. Items within the datasource are restricted to the union of users and groups included in this field. Note that, this does not ensure access to a specific item, as users need to have ACL permissions on the contained items. This ensures a high level access on the entire datasource, and that the individual items are not shared outside this visibility."
        }
      }
    },
    "Interaction": {
      "id": "Interaction",
      "properties": {
        "interactionTime": {
          "format": "google-datetime",
          "description": "The time when the user acted on the item. If multiple actions of the same type exist for a single user, only the most recent action is recorded.",
          "type": "string"
        },
        "principal": {
          "$ref": "Principal",
          "description": "The user that acted on the item."
        },
        "type": {
          "enumDescriptions": [
            "Invalid value.",
            "This interaction indicates the user viewed the item.",
            "This interaction indicates the user edited the item."
          ],
          "enum": [
            "UNSPECIFIED",
            "VIEW",
            "EDIT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an interaction between a user and an item."
    },
    "UpdateDataSourceRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "source": {
          "$ref": "DataSource"
        }
      },
      "id": "UpdateDataSourceRequest"
    },
    "ItemMetadata": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the item. If given, this will be the displayed title of the Search result. The maximum length is 2048 characters."
        },
        "contentLanguage": {
          "type": "string",
          "description": "The BCP-47 language code for the item, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. The maximum length is 32 characters."
        },
        "searchQualityMetadata": {
          "description": "Additional search quality metadata of the item",
          "$ref": "SearchQualityMetadata"
        },
        "objectType": {
          "description": "The type of the item. This should correspond to the name of an object definition in the schema registered for the data source. For example, if the schema for the data source contains an object definition with name 'document', then item indexing requests for objects of that type should set objectType to 'document'. The maximum length is 256 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the item was last modified in the source repository.",
          "type": "string",
          "format": "google-datetime"
        },
        "containerName": {
          "type": "string",
          "description": "The name of the container for this item. Deletion of the container item leads to automatic deletion of this item. Note: ACLs are not inherited from a container item. To provide ACL inheritance for an item, use the inheritAclFrom field. The maximum length is 1536 characters."
        },
        "mimeType": {
          "description": "The original mime-type of ItemContent.content in the source repository. The maximum length is 256 characters.",
          "type": "string"
        },
        "hash": {
          "type": "string",
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters."
        },
        "createTime": {
          "description": "The time when the item was created in the source repository.",
          "type": "string",
          "format": "google-datetime"
        },
        "interactions": {
          "items": {
            "$ref": "Interaction"
          },
          "type": "array",
          "description": "A list of interactions for the item. Interactions are used to improve Search quality, but are not exposed to end users. The maximum number of elements is 1000."
        },
        "sourceRepositoryUrl": {
          "type": "string",
          "description": "Link to the source repository serving the data. Search results apply this link to the title. Whitespace or special characters may cause Cloud Search result links to trigger a redirect notice; to avoid this, encode the URL. The maximum length is 2048 characters."
        },
        "keywords": {
          "description": "Additional keywords or phrases that should match the item. Used internally for user generated content. The maximum number of elements is 100. The maximum length is 8192 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Available metadata fields for the item.",
      "type": "object",
      "id": "ItemMetadata"
    },
    "PropertyDisplayOptions": {
      "id": "PropertyDisplayOptions",
      "type": "object",
      "description": "The display options for a property.",
      "properties": {
        "displayLabel": {
          "type": "string",
          "description": "The user friendly label for the property that is used if the property is specified to be displayed in ObjectDisplayOptions. If provided, the display label is shown in front of the property values when the property is part of the object display options. For example, if the property value is '1', the value by itself may not be useful context for the user. If the display name given was 'priority', then the user sees 'priority : 1' in the search results which provides clear context to search users. This is OPTIONAL; if not given, only the property values are displayed. The maximum length is 64 characters."
        }
      }
    },
    "StartUploadItemRequest": {
      "type": "object",
      "properties": {
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      },
      "description": "Start upload file request.",
      "id": "StartUploadItemRequest"
    },
    "SearchApplicationQueryStats": {
      "id": "SearchApplicationQueryStats",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "queryCountByStatus": {
          "items": {
            "$ref": "QueryCountByStatus"
          },
          "type": "array"
        }
      }
    },
    "DoubleValues": {
      "description": "List of double values.",
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "DoubleValues",
      "type": "object"
    },
    "QueryCountByStatus": {
      "properties": {
        "statusCode": {
          "format": "int32",
          "description": "This represents the http status code.",
          "type": "integer"
        },
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "QueryCountByStatus",
      "type": "object"
    },
    "GetSearchApplicationQueryStatsResponse": {
      "type": "object",
      "id": "GetSearchApplicationQueryStatsResponse",
      "properties": {
        "stats": {
          "items": {
            "$ref": "SearchApplicationQueryStats"
          },
          "type": "array"
        }
      }
    },
    "PeopleSuggestion": {
      "type": "object",
      "description": "This field contains information about the person being suggested.",
      "id": "PeopleSuggestion",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "Suggested person. All fields of the person object might not be populated."
        }
      }
    },
    "SpellResult": {
      "properties": {
        "suggestedQuery": {
          "description": "The suggested spelling of the query.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SpellResult"
    },
    "FilterOptions": {
      "description": "Filter options to be applied on query.",
      "id": "FilterOptions",
      "type": "object",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters."
        },
        "filter": {
          "$ref": "Filter",
[...]
