{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "title": "Cloud Firestore API",
  "baseUrl": "https://firestore.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "firestore.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              }
            },
            "get": {
              "id": "firestore.projects.locations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          }
        },
        "databases": {
          "resources": {
            "collectionGroups": {
              "resources": {
                "indexes": {
                  "methods": {
                    "list": {
                      "description": "Lists composite indexes.",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The filter to apply to list results."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "type": "string",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The number of results to return.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/indexes",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "httpMethod": "GET"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "type": "string",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "path": "v1/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "description": "Gets a composite index.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a composite index.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "path": "v1/{+parent}/indexes",
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      }
                    }
                  }
                },
                "fields": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "location": "path"
                        }
                      },
                      "description": "Gets the metadata and configuration for a Field.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
                        },
                        "updateMask": {
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false`.",
                      "parameters": {
                        "filter": {
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false`.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The number of results to return.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/fields",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.fields.list"
                    }
                  }
                }
              }
            },
            "documents": {
              "methods": {
                "createDocument": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "mask.fieldPaths": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "documentId": {
                      "location": "query",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "type": "string"
                    },
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "parent": {
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "request": {
                    "$ref": "Document"
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "description": "Creates a new document."
                },
                "get": {
                  "parameters": {
                    "readTime": {
                      "location": "query",
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "transaction": {
                      "format": "byte",
                      "description": "Reads the document in a transaction.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "id": "firestore.projects.databases.documents.get",
                  "httpMethod": "GET",
                  "description": "Gets a single document."
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "currentDocument.updateTime": {
                      "format": "google-datetime",
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "required": true
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "location": "query",
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean"
                    },
                    "updateMask.fieldPaths": {
                      "location": "query",
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.patch",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Document"
                  },
                  "description": "Updates or inserts a document.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "batchWrite": {
                  "parameterOrder": [
                    "database"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "path": "v1/{+database}/documents:batchWrite",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  }
                },
                "listen": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.listen",
                  "path": "v1/{+database}/documents:listen",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "description": "Listens to changes.",
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "ListenRequest"
                  }
                },
                "delete": {
                  "id": "firestore.projects.databases.documents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a document.",
                  "parameters": {
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "name": {
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}"
                },
                "listCollectionIds": {
                  "path": "v1/{+parent}:listCollectionIds",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "description": "Lists all the collection IDs underneath a document.",
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "description": "Lists documents.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "location": "query"
                    },
                    "readTime": {
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "showMissing": {
                      "type": "boolean",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "The order to sort results by. For example: `priority desc, name`."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of documents to return.",
                      "format": "int32"
                    },
                    "transaction": {
                      "description": "Reads documents in a transaction.",
                      "location": "query",
                      "format": "byte",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "id": "firestore.projects.databases.documents.list"
                },
                "beginTransaction": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "path": "v1/{+database}/documents:beginTransaction",
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Starts a new transaction."
                },
                "partitionQuery": {
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "path": "v1/{+parent}:partitionQuery",
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results."
                },
                "rollback": {
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "description": "Rolls back a transaction.",
                  "httpMethod": "POST",
                  "path": "v1/{+database}/documents:rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.rollback",
                  "parameterOrder": [
                    "database"
                  ]
                },
                "write": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "description": "Streams batches of document updates and deletes, in order.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "parameters": {
                    "database": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+database}/documents:write",
                  "id": "firestore.projects.databases.documents.write",
                  "parameterOrder": [
                    "database"
                  ]
                },
                "batchGet": {
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "id": "firestore.projects.databases.documents.batchGet",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+database}/documents:batchGet",
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested."
                },
                "commit": {
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "description": "Commits a transaction, while optionally updating documents.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+database}/documents:commit",
                  "parameters": {
                    "database": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "CommitRequest"
                  }
                },
                "runQuery": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Runs a query.",
                  "path": "v1/{+parent}:runQuery",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "id": "firestore.projects.databases.documents.runQuery",
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "id": "firestore.projects.databases.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "id": "firestore.projects.databases.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "cancel": {
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                  "id": "firestore.projects.databases.operations.cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "id": "firestore.projects.databases.operations.delete",
                  "httpMethod": "DELETE"
                }
              }
            }
          },
          "methods": {
            "importDocuments": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`."
                }
              },
              "path": "v1/{+name}:importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "id": "firestore.projects.databases.importDocuments",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments"
            },
            "exportDocuments": {
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:exportDocuments",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`."
                }
              },
              "httpMethod": "POST",
              "id": "firestore.projects.databases.exportDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments"
            }
          }
        }
      }
    }
  },
  "id": "firestore:v1",
  "name": "firestore",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "protocol": "rest",
  "schemas": {
    "RunQueryRequest": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery.",
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "id": "Filter",
      "description": "A filter.",
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        },
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        }
      }
    },
    "Precondition": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "When set, the target document must exist and have been last updated at that time.",
          "type": "string"
        },
        "exists": {
          "type": "boolean",
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
        }
      },
      "type": "object",
      "description": "A precondition on a document, used for conditional operations.",
      "id": "Precondition"
    },
    "BatchWriteRequest": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels associated with this batch write.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "writes": {
          "type": "array",
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "items": {
            "$ref": "Write"
          }
        }
      },
      "id": "BatchWriteRequest",
      "description": "The request for Firestore.BatchWrite.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "id": "GoogleFirestoreAdminV1IndexConfigDelta",
      "properties": {
        "index": {
          "description": "The index being changed.",
          "$ref": "GoogleFirestoreAdminV1Index"
        },
        "changeType": {
          "type": "string",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "description": "Specifies how the index is changing.",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "type": "object",
      "description": "Information about an index configuration change."
    },
    "WriteResult": {
      "id": "WriteResult",
      "type": "object",
      "description": "The result of applying a write.",
      "properties": {
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        }
      }
    },
    "Order": {
      "properties": {
        "direction": {
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ],
          "type": "string"
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to order by."
        }
      },
      "type": "object",
      "id": "Order",
      "description": "An order on a field."
    },
    "PartitionQueryRequest": {
      "properties": {
        "partitionCount": {
          "type": "string",
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "format": "int64"
        },
        "structuredQuery": {
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported.",
          "$ref": "StructuredQuery"
        },
        "pageToken": {
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The request for Firestore.PartitionQuery.",
      "id": "PartitionQueryRequest"
    },
    "DocumentChange": {
      "id": "DocumentChange",
      "properties": {
        "removedTargetIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array"
        },
        "targetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs of targets that match this document."
        },
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
        }
      },
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "properties": {
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "operationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the export operation."
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ImportDocumentsMetadata": {
      "type": "object",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids are being imported."
        },
        "operationState": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the import operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        }
      },
      "id": "GoogleFirestoreAdminV1ImportDocumentsMetadata"
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "transaction": {
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "format": "byte",
          "type": "string"
        },
        "missing": {
          "type": "string",
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one."
        }
      },
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "type": "object"
    },
    "ExistenceFilter": {
      "type": "object",
      "id": "ExistenceFilter",
      "description": "A digest of all the documents that match a given target.",
      "properties": {
        "count": {
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target.",
          "format": "int32",
          "type": "integer"
        },
        "targetId": {
          "format": "int32",
          "description": "The target ID to which this filter applies.",
          "type": "integer"
        }
      }
    },
    "MapValue": {
      "description": "A map value.",
      "type": "object",
      "id": "MapValue",
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object",
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
        }
      }
    },
    "CommitResponse": {
      "type": "object",
      "description": "The response for Firestore.Commit.",
      "id": "CommitResponse",
      "properties": {
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleFirestoreAdminV1Field": {
      "id": "GoogleFirestoreAdminV1Field",
      "properties": {
        "indexConfig": {
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes.",
          "$ref": "GoogleFirestoreAdminV1IndexConfig"
        },
        "name": {
          "type": "string",
          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
        }
      },
      "type": "object",
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same id."
    },
    "GoogleFirestoreAdminV1Index": {
      "description": "Cloud Firestore indexes enable simple and complex queries against documents in a database.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist. Use the google.longrunning.Operations API to determine why the operation that last attempted to create this index failed, then re-create the index."
          ],
          "description": "Output only. The serving state of the index."
        },
        "fields": {
          "description": "The fields supported by this index. For composite indexes, this is always 2 or more fields. The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in a composite index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified). For single field indexes, this will always be exactly one entry with a field path equal to the field path of the associated field.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexField"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. A server defined name for this index. The form of this name for composite indexes will be: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}` For single field indexes, this field will be empty.",
          "type": "string"
        },
        "queryScope": {
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the collection id specified by the index.",
            "Indexes with a collection group query scope specified allow queries against all collections that has the collection id specified by the index."
          ],
          "type": "string",
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP"
          ],
          "description": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection id. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection id as this index."
        }
      },
      "id": "GoogleFirestoreAdminV1Index",
      "type": "object"
    },
    "RunQueryResponse": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run."
        },
        "skippedResults": {
          "format": "int32",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer"
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response."
        },
        "document": {
          "$ref": "Document",
          "description": "A query result. Not set when reporting partial progress."
        }
      },
      "type": "object",
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery."
    },
    "Document": {
      "id": "Document",
      "properties": {
        "updateTime": {
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "format": "google-datetime",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object"
        },
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "type": "object"
    },
    "PartitionQueryResponse": {
      "id": "PartitionQueryResponse",
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "$ref": "Cursor"
          },
          "type": "array",
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned."
        },
        "nextPageToken": {
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results.",
          "type": "string"
        }
      },
      "description": "The response for Firestore.PartitionQuery."
    },
    "FieldReference": {
      "type": "object",
      "description": "A reference to a field, such as `max(messages.time) as max_time`.",
      "properties": {
        "fieldPath": {
          "type": "string"
        }
      },
      "id": "FieldReference"
    },
    "GoogleFirestoreAdminV1LocationMetadata": {
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirestoreAdminV1LocationMetadata"
    },
    "LatLng": {
      "id": "LatLng",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        }
      },
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "DocumentsTarget": {
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array"
        }
      }
    },
    "GoogleFirestoreAdminV1Progress": {
      "id": "GoogleFirestoreAdminV1Progress",
      "properties": {
        "completedWork": {
          "type": "string",
          "description": "The amount of work completed.",
          "format": "int64"
        },
        "estimatedWork": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work estimated."
        }
      },
      "type": "object",
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used."
    },
    "Projection": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "items": {
            "$ref": "FieldReference"
          }
        }
      },
      "id": "Projection",
      "description": "The projection of document's fields to return."
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "properties": {
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "streamToken": {
          "format": "byte",
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "type": "string"
        },
        "writeResults": {
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The response for Firestore.Write."
    },
    "Cursor": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        },
        "before": {
          "type": "boolean",
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query."
        }
      },
      "description": "A position in a query result set.",
      "type": "object",
      "id": "Cursor"
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "description": "The index configuration for this field.",
      "properties": {
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        },
        "reverting": {
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`.",
          "type": "boolean"
        },
        "indexes": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "description": "The indexes supported for this field.",
          "type": "array"
        },
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {}
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to export. Unspecified means all collections."
        },
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest"
    },
    "CommitRequest": {
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "If set, applies all writes in this transaction, and commits it.",
          "type": "string"
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CommitRequest",
      "description": "The request for Firestore.Commit."
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "type": "object",
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        }
      },
      "description": "Options for creating a new transaction."
    },
    "BatchWriteResponse": {
      "properties": {
        "status": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request."
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        }
      },
      "description": "The response from Firestore.BatchWrite.",
      "id": "BatchWriteResponse",
      "type": "object"
    },
    "UnaryFilter": {
      "description": "A filter with a single operand.",
      "id": "UnaryFilter",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to which to apply the operator."
        },
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "description": "The unary operator to apply.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ]
        }
      },
      "type": "object"
    },
    "DocumentMask": {
      "properties": {
        "fieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "type": "array"
        }
      },
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "type": "object",
      "id": "DocumentMask"
    },
    "ArrayValue": {
      "description": "An array value.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Values in the array.",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "ArrayValue",
      "type": "object"
    },
    "BeginTransactionResponse": {
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The transaction that was started.",
          "format": "byte"
        }
      },
      "description": "The response for Firestore.BeginTransaction.",
      "type": "object",
      "id": "BeginTransactionResponse"
    },
    "ListCollectionIdsRequest": {
      "properties": {
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return.",
          "format": "int32"
        }
      },
      "id": "ListCollectionIdsRequest",
      "type": "object",
      "description": "The request for Firestore.ListCollectionIds."
    },
    "TargetChange": {
      "id": "TargetChange",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing."
        },
        "targetChangeType": {
          "type": "string",
          "description": "The type of change that occurred.",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        },
        "resumeToken": {
          "type": "string",
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "format": "byte"
        },
        "targetIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined."
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        }
      },
      "description": "Targets being watched have changed."
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "state": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        }
      },
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
[...]
