{
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "canonicalName": "Firestore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "revision": "20200801",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "name": "firestore",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "operationState": {
          "type": "string",
          "description": "The state of the export operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being exported.",
          "type": "array"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation started."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        }
      },
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments."
    },
    "GoogleFirestoreAdminV1Index": {
      "properties": {
        "queryScope": {
          "type": "string",
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP"
          ],
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the collection id specified by the index.",
            "Indexes with a collection group query scope specified allow queries against all collections that has the collection id specified by the index."
          ],
          "description": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection id. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection id as this index."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ],
          "description": "Output only. The serving state of the index.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist. Use the google.longrunning.Operations API to determine why the operation that last attempted to create this index failed, then re-create the index."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. A server defined name for this index. The form of this name for composite indexes will be: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}` For single field indexes, this field will be empty."
        },
        "fields": {
          "type": "array",
          "description": "The fields supported by this index. For composite indexes, this is always 2 or more fields. The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in a composite index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified). For single field indexes, this will always be exactly one entry with a field path equal to the field path of the associated field.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexField"
          }
        }
      },
      "type": "object",
      "description": "Cloud Firestore indexes enable simple and complex queries against documents in a database.",
      "id": "GoogleFirestoreAdminV1Index"
    },
    "CollectionSelector": {
      "type": "object",
      "description": "A selection of a collection, such as `messages as m1`.",
      "properties": {
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        },
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        }
      },
      "id": "CollectionSelector"
    },
    "Location": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "description": "The request for Firestore.Commit.",
      "properties": {
        "transaction": {
          "description": "If set, applies all writes in this transaction, and commits it.",
          "type": "string",
          "format": "byte"
        },
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order.",
          "items": {
            "$ref": "Write"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchWriteRequest": {
      "properties": {
        "writes": {
          "type": "array",
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "items": {
            "$ref": "Write"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this batch write."
        }
      },
      "id": "BatchWriteRequest",
      "type": "object",
      "description": "The request for Firestore.BatchWrite."
    },
    "ExistenceFilter": {
      "description": "A digest of all the documents that match a given target.",
      "type": "object",
      "id": "ExistenceFilter",
      "properties": {
        "targetId": {
          "type": "integer",
          "format": "int32",
          "description": "The target ID to which this filter applies."
        },
        "count": {
          "type": "integer",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target.",
          "format": "int32"
        }
      }
    },
    "BatchWriteResponse": {
      "type": "object",
      "description": "The response from Firestore.BatchWrite.",
      "id": "BatchWriteResponse",
      "properties": {
        "status": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request."
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "FieldReference": {
      "id": "FieldReference",
      "description": "A reference to a field, such as `max(messages.time) as max_time`.",
      "properties": {
        "fieldPath": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Target": {
      "type": "object",
      "description": "A specification of a set of documents to listen to.",
      "id": "Target",
      "properties": {
        "resumeToken": {
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail.",
          "type": "string",
          "format": "byte"
        },
        "documents": {
          "$ref": "DocumentsTarget",
          "description": "A target specified by a set of document names."
        },
        "once": {
          "type": "boolean",
          "description": "If the target should be removed once it is current and consistent."
        },
        "query": {
          "$ref": "QueryTarget",
          "description": "A target specified by a query."
        },
        "targetId": {
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero.",
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
      "type": "object",
      "description": "Returned in the google.longrunning.Operation response field.",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully."
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "properties": {
        "found": {
          "$ref": "Document",
          "description": "A document that was requested."
        },
        "missing": {
          "type": "string",
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one."
        }
      },
      "id": "BatchGetDocumentsResponse",
      "type": "object"
    },
    "WriteResult": {
      "id": "WriteResult",
      "type": "object",
      "properties": {
        "transformResults": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time.",
          "type": "string"
        }
      },
      "description": "The result of applying a write."
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "properties": {
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata"
    },
    "GoogleFirestoreAdminV1LocationMetadata": {
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "id": "GoogleFirestoreAdminV1LocationMetadata",
      "properties": {},
      "type": "object"
    },
    "Write": {
      "properties": {
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "delete": {
          "type": "string",
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "transform": {
          "$ref": "DocumentTransform",
          "description": "Applies a transformation to a document."
        },
        "updateMask": {
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name.",
          "$ref": "DocumentMask"
        },
        "updateTransforms": {
          "type": "array",
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "items": {
            "$ref": "FieldTransform"
          }
        },
        "currentDocument": {
          "$ref": "Precondition",
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
        }
      },
      "description": "A write on a document.",
      "id": "Write",
      "type": "object"
    },
    "PartitionQueryResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results."
        },
        "partitions": {
          "type": "array",
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned.",
          "items": {
            "$ref": "Cursor"
          }
        }
      },
      "id": "PartitionQueryResponse",
      "description": "The response for Firestore.PartitionQuery.",
      "type": "object"
    },
    "ListCollectionIdsResponse": {
      "description": "The response from Firestore.ListCollectionIds.",
      "id": "ListCollectionIdsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to continue the list."
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The collection ids."
        }
      },
      "type": "object"
    },
    "MapValue": {
      "id": "MapValue",
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
        }
      },
      "description": "A map value.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Value": {
      "description": "A message that can hold any of the supported value types.",
      "type": "object",
      "id": "Value",
      "properties": {
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries."
        },
        "bytesValue": {
          "type": "string",
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries.",
          "format": "byte"
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. Cannot directly contain another array value, though can contain an map which contains another array."
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "nullValue": {
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value.",
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ]
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
        },
        "integerValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "mapValue": {
          "$ref": "MapValue",
          "description": "A map value."
        },
        "doubleValue": {
          "type": "number",
          "description": "A double value.",
          "format": "double"
        }
      }
    },
    "CommitResponse": {
      "description": "The response for Firestore.Commit.",
      "id": "CommitResponse",
      "type": "object",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Document": {
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "fields": {
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        },
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Document"
    },
    "DocumentChange": {
      "type": "object",
      "properties": {
        "document": {
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added.",
          "$ref": "Document"
        },
        "targetIds": {
          "description": "A set of target IDs of targets that match this document.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "removedTargetIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "A set of target IDs for targets that no longer match this document."
        }
      },
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "id": "DocumentChange"
    },
    "GoogleFirestoreAdminV1ListIndexesResponse": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        },
        "indexes": {
          "description": "The requested indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "type": "array"
        }
      }
    },
    "UnaryFilter": {
      "id": "UnaryFilter",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to which to apply the operator."
        },
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`."
          ],
          "type": "string",
          "description": "The unary operator to apply.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL"
          ]
        }
      },
      "description": "A filter with a single operand."
    },
    "GoogleFirestoreAdminV1IndexField": {
      "type": "object",
      "properties": {
        "order": {
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, \u003c, \u003c=, \u003e, \u003e=.",
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ]
        },
        "arrayConfig": {
          "description": "Indicates that this field supports operations on `array_value`s.",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ]
        },
        "fieldPath": {
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted.",
          "type": "string"
        }
      },
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed.",
      "id": "GoogleFirestoreAdminV1IndexField"
    },
    "Precondition": {
      "description": "A precondition on a document, used for conditional operations.",
      "id": "Precondition",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When set, the target document must exist and have been last updated at that time."
        },
        "exists": {
          "type": "boolean",
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
        }
      },
      "type": "object"
    },
    "Cursor": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      },
      "id": "Cursor",
      "description": "A position in a query result set."
    },
    "DocumentsTarget": {
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget"
    },
    "DocumentMask": {
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "properties": {
        "fieldPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
        }
      },
      "id": "DocumentMask",
      "type": "object"
    },
    "ListCollectionIdsRequest": {
      "description": "The request for Firestore.ListCollectionIds.",
      "properties": {
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListCollectionIdsRequest"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ReadOnly": {
      "type": "object",
      "id": "ReadOnly",
      "properties": {
        "readTime": {
          "description": "Reads documents at the given time. This may not be older than 60 seconds.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Options for a transaction that can only be used to read documents."
    },
    "TargetChange": {
      "type": "object",
      "description": "Targets being watched have changed.",
      "id": "TargetChange",
      "properties": {
        "targetChangeType": {
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "description": "The type of change that occurred.",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "type": "string"
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "resumeToken": {
          "format": "byte",
          "type": "string",
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change."
        },
        "cause": {
          "$ref": "Status",
          "description": "The error that resulted in this change, if applicable."
        }
      }
    },
    "DocumentDelete": {
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "id": "DocumentDelete",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete."
        },
        "removedTargetIds": {
          "type": "array",
          "description": "A set of target IDs for targets that previously matched this entity.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "ListDocumentsResponse": {
      "type": "object",
      "id": "ListDocumentsResponse",
      "description": "The response for Firestore.ListDocuments.",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The Documents found.",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1Progress": {
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "properties": {
        "completedWork": {
          "description": "The amount of work completed.",
          "format": "int64",
          "type": "string"
        },
        "estimatedWork": {
          "type": "string",
          "description": "The amount of work estimated.",
          "format": "int64"
        }
      },
      "id": "GoogleFirestoreAdminV1Progress",
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "type": "object",
      "description": "Information about an index configuration change.",
      "properties": {
        "index": {
          "$ref": "GoogleFirestoreAdminV1Index",
          "description": "The index being changed."
        },
        "changeType": {
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "description": "Specifies how the index is changing.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1IndexConfigDelta"
    },
    "ArrayValue": {
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array.",
          "type": "array"
        }
      },
      "description": "An array value.",
      "type": "object",
      "id": "ArrayValue"
    },
    "GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "properties": {
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix."
        },
        "collectionIds": {
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
      "type": "object"
    },
    "DocumentRemove": {
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "properties": {
        "document": {
          "type": "string",
          "description": "The resource name of the Document that has gone out of view."
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "format": "google-datetime",
          "type": "string"
        },
        "removedTargetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that previously matched this document."
        }
      },
      "type": "object",
      "id": "DocumentRemove"
    },
    "FieldFilter": {
      "id": "FieldFilter",
      "description": "A filter on a specific field.",
      "properties": {
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to filter by."
        },
        "op": {
          "type": "string",
          "description": "The operator to filter by.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY`.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY"
          ]
        }
      },
      "type": "object"
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "fieldFilter": {
          "$ref": "FieldFilter",
          "description": "A filter on a document field."
        },
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        }
      },
      "description": "A filter.",
      "type": "object"
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery.",
      "properties": {
        "transaction": {
          "type": "string",
          "description": "Reads documents in a transaction.",
          "format": "byte"
        },
        "readTime": {
          "type": "string",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "format": "google-datetime"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest",
      "properties": {
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        },
        "collectionIds": {
          "description": "Which collection ids to export. Unspecified means all collections.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The request for FirestoreAdmin.ExportDocuments."
    },
    "BeginTransactionRequest": {
      "type": "object",
      "description": "The request for Firestore.BeginTransaction.",
      "id": "BeginTransactionRequest",
      "properties": {
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      }
    },
    "WriteResponse": {
      "type": "object",
      "properties": {
        "streamToken": {
          "format": "byte",
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "type": "string"
        },
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "format": "google-datetime"
        },
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        }
      },
      "description": "The response for Firestore.Write.",
      "id": "WriteResponse"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "Order": {
      "description": "An order on a field.",
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        },
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        }
      },
      "type": "object",
      "id": "Order"
    },
    "BeginTransactionResponse": {
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The transaction that was started.",
          "format": "byte"
        }
      },
      "description": "The response for Firestore.BeginTransaction.",
      "id": "BeginTransactionResponse",
      "type": "object"
    },
    "DocumentTransform": {
      "type": "object",
      "id": "DocumentTransform",
      "description": "A transformation of a document.",
      "properties": {
        "fieldTransforms": {
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          }
        },
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        }
      }
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "properties": {
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
        },
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision."
          ],
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "type": "string"
        },
        "appendMissingElements": {
          "$ref": "ArrayValue",
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value."
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "removeAllFromArray": {
          "$ref": "ArrayValue",
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value."
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer.",
          "$ref": "Value"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        }
      },
      "description": "A transformation of a field of the document.",
      "type": "object"
    },
    "ListenResponse": {
      "id": "ListenResponse",
      "description": "The response for Firestore.Listen.",
      "type": "object",
      "properties": {
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        },
        "targetChange": {
          "$ref": "TargetChange",
          "description": "Targets have changed."
        },
        "filter": {
          "$ref": "ExistenceFilter",
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown."
        },
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        },
        "documentDelete": {
          "$ref": "DocumentDelete",
          "description": "A Document has been deleted."
        }
      }
    },
    "GoogleFirestoreAdminV1FieldOperationMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.UpdateField.",
      "id": "GoogleFirestoreAdminV1FieldOperationMetadata",
      "type": "object",
      "properties": {
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation started."
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "field": {
          "description": "The field resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`",
          "type": "string"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "indexConfigDeltas": {
          "description": "A list of IndexConfigDelta, which describe the intent of this operation.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexConfigDelta"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        }
      }
    },
    "Projection": {
      "type": "object",
      "description": "The projection of document's fields to return.",
      "id": "Projection",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          },
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`."
        }
      }
    },
    "GoogleFirestoreAdminV1Field": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1Field",
      "properties": {
        "name": {
          "type": "string",
          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
        },
        "indexConfig": {
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes.",
          "$ref": "GoogleFirestoreAdminV1IndexConfig"
        }
      },
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same id."
    },
    "PartitionQueryRequest": {
      "type": "object",
      "description": "The request for Firestore.PartitionQuery.",
      "properties": {
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`."
        },
        "pageToken": {
          "type": "string",
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
        },
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PartitionQueryRequest"
    },
    "QueryTarget": {
      "description": "A target specified by a query.",
      "id": "QueryTarget",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        }
      }
    },
    "RunQueryResponse": {
      "type": "object",
      "properties": {
        "readTime": {
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "skippedResults": {
          "format": "int32",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "format": "byte",
          "type": "string"
        },
        "document": {
          "description": "A query result. Not set when reporting partial progress.",
          "$ref": "Document"
        }
      },
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery."
    },
    "ListenRequest": {
      "id": "ListenRequest",
      "type": "object",
      "description": "A request for Firestore.Listen",
      "properties": {
        "removeTarget": {
          "type": "integer",
          "description": "The ID of a target to remove from this stream.",
          "format": "int32"
        },
        "addTarget": {
          "$ref": "Target",
          "description": "A target to add to this stream."
        },
        "labels": {
          "description": "Labels associated with this target change.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "properties": {
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        },
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        },
        "indexes": {
          "type": "array",
          "description": "The indexes supported for this field.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          }
        },
        "reverting": {
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`.",
          "type": "boolean"
        }
      },
      "description": "The index configuration for this field.",
      "type": "object"
    },
    "WriteRequest": {
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "id": "WriteRequest",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created."
        },
        "streamToken": {
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string",
          "format": "byte"
        },
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "ReadWrite": {
      "properties": {
        "retryTransaction": {
          "type": "string",
          "format": "byte",
          "description": "An optional transaction to retry."
        }
      },
      "id": "ReadWrite",
      "description": "Options for a transaction that can be used to read and write documents.",
      "type": "object"
    },
    "LatLng": {
      "type": "object",
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CompositeFilter": {
      "properties": {
        "op": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "description": "The operator for combining multiple filters."
        },
        "filters": {
          "items": {
            "$ref": "Filter"
          },
          "type": "array",
          "description": "The list of filters to combine. Must contain at least one filter."
        }
      },
      "id": "CompositeFilter",
      "type": "object",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "RollbackRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "Required. The transaction to roll back.",
          "type": "string"
        }
      },
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback."
    },
    "StructuredQuery": {
      "type": "object",
      "description": "A Firestore query.",
      "properties": {
        "offset": {
          "type": "integer",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Must be \u003e= 0 if specified.",
          "format": "int32"
        },
        "orderBy": {
          "type": "array",
          "items": {
            "$ref": "Order"
          },
          "description": "The order to apply to the query results. Firestore guarantees a stable ordering through the following rules: * Any field required to appear in `order_by`, that is not already specified in `order_by`, is appended to the order in field name order by default. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `SELECT * FROM Foo ORDER BY A` becomes `SELECT * FROM Foo ORDER BY A, __name__` * `SELECT * FROM Foo ORDER BY A DESC` becomes `SELECT * FROM Foo ORDER BY A DESC, __name__ DESC` * `SELECT * FROM Foo WHERE A \u003e 1` becomes `SELECT * FROM Foo WHERE A \u003e 1 ORDER BY A, __name__`"
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "endAt": {
          "description": "A end point for the query results.",
          "$ref": "Cursor"
        },
        "select": {
          "description": "The projection to return.",
          "$ref": "Projection"
        },
        "startAt": {
          "$ref": "Cursor",
          "description": "A starting point for the query results."
        },
        "where": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "from": {
          "type": "array",
          "description": "The collections to query.",
          "items": {
            "$ref": "CollectionSelector"
          }
        }
      },
      "id": "StructuredQuery"
    },
    "GoogleFirestoreAdminV1ImportDocumentsMetadata": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1ImportDocumentsMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments.",
      "properties": {
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "description": "The state of the import operation.",
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "collectionIds": {
          "description": "Which collection ids are being imported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirestoreAdminV1ListFieldsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "description": "The requested fields.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Field"
          }
        }
      },
      "id": "GoogleFirestoreAdminV1ListFieldsResponse",
      "type": "object",
      "description": "The response for FirestoreAdmin.ListFields."
    },
    "BatchGetDocumentsRequest": {
      "id": "BatchGetDocumentsRequest",
      "properties": {
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      },
      "description": "The request for Firestore.BatchGetDocuments.",
      "type": "object"
    },
    "TransactionOptions": {
      "properties": {
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        }
      },
      "id": "TransactionOptions",
      "description": "Options for creating a new transaction.",
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/firestore",
  "id": "firestore:v1",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "id": "firestore.projects.locations.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.",
              "id": "firestore.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "databases": {
          "methods": {
            "exportDocuments": {
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "id": "firestore.projects.databases.exportDocuments",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:exportDocuments",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "importDocuments": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.importDocuments",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore."
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "commit": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+database}/documents:commit",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "description": "Commits a transaction, while optionally updating documents.",
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "parameters": {
                    "database": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "response": {
                    "$ref": "CommitResponse"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "collectionId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of documents to return."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "location": "query"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Reads documents in a transaction.",
                      "format": "byte",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
                    },
                    "showMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`."
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "id": "firestore.projects.databases.documents.list",
                  "description": "Lists documents.",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "location": "query",
                      "format": "byte",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.documents.get",
                  "description": "Gets a single document."
                },
                "beginTransaction": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
[...]
