{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "title": "Recommendations AI",
  "fullyEncodeReservedExpansion": true,
  "revision": "20200810",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1beta1",
  "canonicalName": "Recommendations AI",
  "baseUrl": "https://recommendationengine.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "recommendationengine:v1beta1",
  "name": "recommendationengine",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "catalogs": {
              "resources": {
                "eventStores": {
                  "resources": {
                    "placements": {
                      "methods": {
                        "predict": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictRequest"
                          },
                          "path": "v1beta1/{+name}:predict",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/placements/[^/]+$",
                              "description": "Required. Full resource name of the format: {name=projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/placements/*} The id of the recommendation engine placement. This id is used to identify the set of models that will be used to make the prediction. We currently support three placements with the following IDs by default: * `shopping_cart`: Predicts items frequently bought together with one or more catalog items in the same shopping session. Commonly displayed after `add-to-cart` events, on product detail pages, or on the shopping cart page. * `home_page`: Predicts the next product that a user will most likely engage with or purchase based on the shopping or viewing history of the specified `userId` or `visitorId`. For example - Recommendations for you. * `product_detail`: Predicts the next product that a user will most likely engage with or purchase. The prediction is based on the shopping or viewing history of the specified `userId` or `visitorId` and its relevance to a specified `CatalogItem`. Typically used on product detail pages. For example - More items like this. * `recently_viewed_default`: Returns up to 75 items recently viewed by the specified `userId` or `visitorId`, most recent ones first. Returns nothing if neither of them has viewed any items yet. For example - Recently viewed. The full list of available placements can be seen at https://console.cloud.google.com/recommendation/datafeeds/default_catalog/dashboard",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponse"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/placements/{placementsId}:predict",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.placements.predict",
                          "description": "Makes a recommendation prediction. If using API Key based authentication, the API Key must be registered using the PredictionApiKeyRegistry service. [Learn more](/recommendations-ai/docs/setting-up#register-key)."
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "The name of the operation's parent resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The standard list page token.",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.list",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "path": "v1beta1/{+name}/operations"
                        },
                        "get": {
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.get",
                          "path": "v1beta1/{+name}",
                          "httpMethod": "GET",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations/{operationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "description": "The name of the operation resource."
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "rejoin": {
                          "httpMethod": "POST",
                          "path": "v1beta1/{+parent}/userEvents:rejoin",
                          "description": "Triggers a user event rejoin operation with latest catalog data. Events will not be annotated with detailed catalog information if catalog item is missing at the time the user event is ingested, and these events are stored as unjoined events with a limited usage on training and serving. This API can be used to trigger a 'join' operation on specified events with latest version of catalog items. It can also be used to correct events joined with wrong catalog items.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:rejoin",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. Full resource name of user event, such as \"projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store\".",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.rejoin",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. The previous ListUserEventsResponse.next_page_token.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Optional. Filtering expression to specify restrictions over returned events. This is a sequence of terms, where each term applies some kind of a restriction to the returned user events. Use this expression to restrict results to a specific time range, or filter events by eventType. eg: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventsMissingCatalogItems eventTime\u003c\"2012-04-23T18:25:43.511Z\" eventType=search We expect only 3 types of fields: * eventTime: this can be specified a maximum of 2 times, once with a less than operator and once with a greater than operator. The eventTime restrict should result in one contiguous valid eventTime range. * eventType: only 1 eventType restriction can be specified. * eventsMissingCatalogItems: specififying this will restrict results to events for which catalog items were not found in the catalog. The default behavior is to return only those events for which catalog items were found. Some examples of valid filters expressions: * Example 1: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\" * Example 2: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = detail-page-view * Example 3: eventsMissingCatalogItems eventType = search eventTime \u003c \"2018-04-23T18:30:43.511Z\" * Example 4: eventTime \u003e \"2012-04-23T18:25:43.511Z\" * Example 5: eventType = search * Example 6: eventsMissingCatalogItems",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. The parent eventStore resource name, such as \"projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store\".",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
                              "format": "int32"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse"
                          },
                          "path": "v1beta1/{+parent}/userEvents",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.list",
                          "description": "Gets a list of user events within a time range, with potential filtering. The method does not list unjoined user events. Unjoined user event definition: when a user event is ingested from Recommendations AI User Event APIs, the catalog item included in the user event is connected with the current catalog. If a catalog item of the ingested event is not in the current catalog, it could lead to degraded model quality. This is called an unjoined event."
                        },
                        "purge": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+parent}/userEvents:purge",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:purge",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.purge",
                          "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "description": "Required. The resource name of the event_store under which the events are created. The format is \"projects/${projectId}/locations/global/catalogs/${catalogId}/eventStores/${eventStoreId}\"",
                              "location": "path"
                            }
                          }
                        },
                        "write": {
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.write",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "path": "v1beta1/{+parent}/userEvents:write",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "description": "Required. The parent eventStore resource name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "description": "Writes a single user event.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:write",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST"
                        },
                        "import": {
                          "path": "v1beta1/{+parent}/userEvents:import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.import",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:import"
                        },
                        "collect": {
                          "response": {
                            "$ref": "GoogleApiHttpBody"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent eventStore name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"."
                            },
                            "userEvent": {
                              "location": "query",
                              "description": "Required. URL encoded UserEvent proto.",
                              "type": "string"
                            },
                            "uri": {
                              "location": "query",
                              "description": "Optional. The url including cgi-parameters but excluding the hash fragment. The URL must be truncated to 1.5K bytes to conservatively be under the 2K bytes. This is often more useful than the referer url, because many browsers only send the domain for 3rd party requests.",
                              "type": "string"
                            },
                            "ets": {
                              "format": "int64",
                              "location": "query",
                              "description": "Optional. The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                              "type": "string"
                            }
                          },
                          "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Recommendations AI JavaScript pixel. Users should not call this method directly.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:collect",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta1/{+parent}/userEvents:collect",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.collect"
                        }
                      }
                    },
                    "predictionApiKeyRegistrations": {
                      "methods": {
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations/{predictionApiKeyRegistrationsId}",
                          "httpMethod": "DELETE",
                          "description": "Unregister an apiKey from using for predict method.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.delete",
                          "path": "v1beta1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/predictionApiKeyRegistrations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The API key to unregister including full resource path. \"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/predictionApiKeyRegistrations/\""
                            }
                          }
                        },
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse"
                          },
                          "description": "List the registered apiKeys for use with predict method.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. Maximum number of results to return per page. If unset, the service will choose a reasonable default."
                            },
                            "pageToken": {
                              "description": "Optional. The previous `ListPredictionApiKeyRegistration.nextPageToken`.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent placement resource name such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "httpMethod": "POST",
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent resource path. \"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.create",
                          "description": "Register an API key for use with predict method."
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "id": "recommendationengine.projects.locations.catalogs.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "path": "v1beta1/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size.",
                          "format": "int32"
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "catalogItems": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogitems/some_catalog_item_id\"."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "description": "Gets a specific catalog item.",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.get"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.create",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "description": "Creates a catalog item.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent catalog resource name, such as \"projects/*/locations/global/catalogs/default_catalog\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+parent}/catalogItems",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      }
                    },
                    "delete": {
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a catalog item.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "required": true,
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}"
                    },
                    "patch": {
                      "path": "v1beta1/{+name}",
                      "description": "Updates a catalog item. Partial updating is supported. Non-existing items will be created.",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Indicates which fields in the provided 'item' to update. If not set, will by default update all fields.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.patch",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      }
                    },
                    "import": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems:import",
                      "description": "Bulk import of multiple catalog items. Request processing may be synchronous. No partial updating supported. Non-existing items will be created. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully updated.",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+parent}/catalogItems:import",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog\" If no updateMask is specified, requires catalogItems.create permission. If updateMask is specified, requires catalogItems.update permission.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.import",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Gets a list of catalog items.",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The previous ListCatalogItemsResponse.next_page_token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. A filter to apply on the list results.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent catalog resource name, such as \"projects/*/locations/global/catalogs/default_catalog\".",
                          "location": "path"
                        }
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.list",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "path": "v1beta1/{+parent}/catalogItems"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/catalogs",
                  "description": "Lists all the catalog configurations associated with the project.",
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The account resource name with an associated location.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListCatalogs` call. Provide this to retrieve the subsequent page."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "recommendationengine.projects.locations.catalogs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The fully qualified resource name of the catalog.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Indicates which fields in the provided 'catalog' to update. If not set, will only update the catalog_item_level_config field. Currently only fields that can be updated are catalog_item_level_config.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates the catalog configuration.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "id": "recommendationengine.projects.locations.catalogs.patch",
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  },
                  "request": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/recommendations-ai/docs",
  "basePath": "",
  "ownerName": "Google",
  "description": "Recommendations AI service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "mtlsRootUrl": "https://recommendationengine.mtls.googleapis.com/",
  "rootUrl": "https://recommendationengine.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "GoogleCloudRecommendationengineV1beta1CatalogInlineSource": {
      "description": "The inline source for the input config for ImportCatalogItems method.",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogInlineSource",
      "properties": {
        "catalogItems": {
          "description": "Optional. A list of catalog items to update/create. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1BigQuerySource": {
      "description": "BigQuery source import data from.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Optional. The project id (can be project # or id) that the BigQuery source is in. If not specified, inherits the project id from the parent request."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from."
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Optional. Intermediate Cloud Storage directory used for the import. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from.",
          "type": "string"
        },
        "dataSchema": {
          "type": "string",
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user event imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1BigQuerySource",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1alphaTuningResponse": {
      "properties": {},
      "type": "object",
      "description": "Response associated with a tune operation.",
      "id": "GoogleCloudRecommendationengineV1alphaTuningResponse"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapStringList": {
      "description": "A list of string features.",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "String feature value with a length limit of 128 bytes.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse": {
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "importSummary": {
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRecommendationengineV1beta1ProductEventDetail": {
      "id": "GoogleCloudRecommendationengineV1beta1ProductEventDetail",
      "properties": {
        "cartId": {
          "description": "Optional. The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `remove-from-cart`, `checkout-start`, `purchase-complete`, or `shopping-cart-page-view` events.",
          "type": "string"
        },
        "pageCategories": {
          "description": "Required for `category-page-view` events. Other event types should not set this field. The categories associated with a category page. Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: categories : [\"Sales\", \"2017 Black Friday Deals\"].",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          },
          "type": "array"
        },
        "searchQuery": {
          "type": "string",
          "description": "Required for `search` events. Other event types should not set this field. The user's search query as UTF-8 encoded text with a length limit of 5 KiB."
        },
        "purchaseTransaction": {
          "description": "Optional. A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Optional for `checkout-start` events. Other event types should not set this field.",
          "$ref": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction"
        },
        "productDetails": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1ProductDetail"
          },
          "type": "array",
          "description": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_details' should be set for this unless the shopping cart is empty. * `search` (highly encouraged) In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new SEARCH event with different product_details is desired. The end user may have not finished broswing the whole page yet. This field is not allowed for the following event types: * `category-page-view` * `home-page-view`"
        },
        "listId": {
          "description": "Required for `add-to-list` and `remove-from-list` events. The id or name of the list that the item is being added to or removed from. Other event types should not set this field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ProductEventDetail captures user event information specific to retail products."
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse": {
      "type": "object",
      "description": "Response of the ImportCatalogItemsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice": {
      "type": "object",
      "description": "Exact product price.",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice",
      "properties": {
        "displayPrice": {
          "type": "number",
          "format": "float",
          "description": "Optional. Display price of the product."
        },
        "originalPrice": {
          "type": "number",
          "description": "Optional. Price of the product without any discount. If zero, by default set to be the 'displayPrice'.",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse": {
      "description": "Response message for the `ListPredictionApiKeyRegistrations`.",
      "id": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse",
      "properties": {
        "predictionApiKeyRegistrations": {
          "type": "array",
          "description": "The list of registered API keys.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, pass the token to the next request's `ListPredictionApiKeysRegistrationsRequest.pageToken`."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1EventDetail": {
      "description": "User event details shared by all recommendation types.",
      "id": "GoogleCloudRecommendationengineV1beta1EventDetail",
      "type": "object",
      "properties": {
        "experimentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Recommendation Engine system, using different recommendation models)."
        },
        "eventAttributes": {
          "description": "Optional. Extra user event features to include in the recommendation model. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        },
        "uri": {
          "description": "Optional. Complete url (window.location.href) of the user's current page. When using the JavaScript pixel, this value is filled in automatically. Maximum length 5KB.",
          "type": "string"
        },
        "recommendationToken": {
          "description": "Optional. Recommendation token included in the recommendation prediction response. This field enables accurate attribution of recommendation model performance. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased item. If user clicks on product K in the recommendation results, pass the `PredictResponse.recommendationToken` property as a url parameter to product K's page. When recording events on product K's page, log the PredictResponse.recommendation_token to this field. Optional, but highly encouraged for user events that are the result of a recommendation prediction query.",
          "type": "string"
        },
        "pageViewId": {
          "type": "string",
          "description": "Optional. A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. This `pageViewId` will be automatically generated if using the JavaScript pixel."
        },
        "referrerUri": {
          "type": "string",
          "description": "Optional. The referrer url of the current page. When using the JavaScript pixel, this value is filled in automatically."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult": {
      "properties": {
        "itemMetadata": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional item metadata / annotations. Possible values: * `catalogItem`: JSON representation of the catalogItem. Will be set if `returnCatalogItem` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnItemScore` is set to true in `PredictRequest.params`."
        },
        "id": {
          "description": "ID of the recommended catalog item",
          "type": "string"
        }
      },
      "description": "PredictionResult represents the recommendation prediction results.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy": {
      "properties": {
        "categories": {
          "description": "Required. Catalog item categories. Each category should be a UTF-8 encoded string with a length limit of 2 KiB. Note that the order in the list denotes the specificity (from least to most specific).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy",
      "description": "Category represents catalog item category hierarchy."
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest": {
      "description": "Request message for the ImportUserEvents request.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest",
      "properties": {
        "requestId": {
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency for expensive long running operations. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response. Note that this field must not be set if the desired input config is catalog_inline_source.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. The desired input location of the data.",
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Optional. The desired location of errors incurred during the Import."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ProductDetail": {
      "type": "object",
      "properties": {
        "quantity": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `add-to-cart` event. Required for `add-to-cart`, `add-to-list`, `remove-from-cart`, `checkout-start`, `purchase-complete`, `refund` event types."
        },
        "stockState": {
          "type": "string",
          "description": "Optional. Item stock state. If provided, this overrides the stock state in Catalog for items in this event.",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ],
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ]
        },
        "originalPrice": {
          "description": "Optional. Original price of the product. If provided, this will override the original price in Catalog for this product.",
          "format": "float",
          "type": "number"
        },
        "currencyCode": {
          "description": "Optional. Currency code for price/costs. Use three-character ISO-4217 code. Required only if originalPrice or displayPrice is set.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Catalog item ID. UTF-8 encoded string with a length limit of 128 characters."
        },
        "availableQuantity": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Quantity of the products in stock when a user event happens. Optional. If provided, this overrides the available quantity in Catalog for this event. and can only be set if `stock_status` is set to `IN_STOCK`. Note that if an item is out of stock, you must set the `stock_state` field to be `OUT_OF_STOCK`. Leaving this field unspecified / as zero is not sufficient to mark the item out of stock."
        },
        "itemAttributes": {
          "description": "Optional. Extra features associated with a product in the user event.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        },
        "displayPrice": {
          "format": "float",
          "type": "number",
          "description": "Optional. Display price of the product (e.g. discounted price). If provided, this will override the display price in Catalog for this product."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ProductDetail",
      "description": "Detailed product information associated with a user event."
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata": {
      "properties": {
        "operationName": {
          "description": "The ID of the request / operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata",
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1Catalog": {
      "type": "object",
      "description": "The catalog configuration. Next ID: 5.",
      "id": "GoogleCloudRecommendationengineV1beta1Catalog",
      "properties": {
        "name": {
          "description": "The fully qualified resource name of the catalog.",
          "type": "string"
        },
        "defaultEventStoreId": {
          "type": "string",
          "description": "Required. The ID of the default event store."
        },
        "catalogItemLevelConfig": {
          "description": "Required. The catalog item level configuration.",
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig"
        },
        "displayName": {
          "description": "Required. The catalog display name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportMetadata": {
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "operationName": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest": {
      "properties": {
        "userEventRejoinScope": {
          "description": "Required. The type of the catalog rejoin to define the scope and range of the user events to be rejoined with catalog items.",
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Rejoin catalogs with all events including both joined events and unjoined events.",
            "Only rejoin catalogs with joined events.",
            "Only rejoin catalogs with unjoined events."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest",
      "description": "Request message for CatalogRejoin method."
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse",
      "description": "Response for ListCatalogs method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        },
        "catalogs": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
          },
          "description": "Output only. All the customer's catalogs.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig": {
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig",
      "description": "Configures the catalog level that users send events to, and the level at which predictions are made.",
      "type": "object",
      "properties": {
        "eventItemLevel": {
          "description": "Optional. Level of the catalog at which events are uploaded. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details.",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ],
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "type": "string"
        },
        "predictItemLevel": {
          "description": "Optional. Level of the catalog at which predictions are made. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details.",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ],
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration": {
      "description": "Registered Api Key.",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "The API key."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItem": {
      "description": "ProductCatalogItem captures item metadata specific to retail products.",
      "properties": {
        "costs": {
          "type": "object",
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "description": "Optional. A map to pass the costs associated with the product. For example: {\"manufacturing\": 45.5} The profit of selling this item is computed like so: * If 'exactPrice' is provided, profit = displayPrice - sum(costs) * If 'priceRange' is provided, profit = minPrice - sum(costs)"
        },
        "priceRange": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
          "description": "Optional. The product price range."
        },
        "stockState": {
          "description": "Optional. Online stock state of the catalog item. Default is `IN_STOCK`.",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ]
        },
        "exactPrice": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice",
          "description": "Optional. The exact product price."
        },
        "canonicalProductUri": {
          "type": "string",
          "description": "Optional. Canonical URL directly linking to the item detail page with a length limit of 5 KiB.."
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. Only required if the price is set. Currency code for price/costs. Use three-character ISO-4217 code."
        },
        "images": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Image"
          },
          "type": "array",
          "description": "Optional. Product images for the catalog item."
        },
        "availableQuantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The available quantity of the item."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange": {
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
      "type": "object",
      "properties": {
        "max": {
          "format": "float",
          "type": "number",
          "description": "Required. The maximum product price."
        },
        "min": {
          "format": "float",
          "description": "Required. The minimum product price.",
          "type": "number"
        }
      },
      "description": "Product price range when there are a range of prices for different variations of the same product."
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse": {
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse",
      "description": "Response message for ListCatalogItems method.",
      "properties": {
        "catalogItems": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          },
          "description": "The catalog items."
        },
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListCatalogItemRequest.page_token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest": {
      "description": "Request message for PurgeUserEvents method.",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. The default value is false. Override this flag to true to actually perform the purge. If the field is not set to true, a sampling of events to be deleted will be returned."
        },
        "filter": {
          "type": "string",
          "description": "Required. The filter string to specify the events to be deleted. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: UserEvent.eventType field of type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: field of type string. Specifying this will delete all events associated with a visitor. * `userId`: field of type string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest"
    },
    "GoogleCloudRecommendationengineV1beta1UserEvent": {
      "properties": {
        "eventDetail": {
          "description": "Optional. User event detailed information common across different recommendation types.",
          "$ref": "GoogleCloudRecommendationengineV1beta1EventDetail"
        },
        "eventSource": {
          "enumDescriptions": [
            "Unspecified event source.",
            "The event is ingested via a javascript pixel or Recommendations AI Tag through automl datalayer or JS Macros.",
            "The event is ingested via Recommendations AI Tag through Enhanced Ecommerce datalayer.",
            "The event is ingested via Import user events API."
          ],
          "type": "string",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "AUTOML",
            "ECOMMERCE",
            "BATCH_UPLOAD"
          ],
          "description": "Optional. This field should *not* be set when using JavaScript pixel or the Recommendations AI Tag. Defaults to `EVENT_SOURCE_UNSPECIFIED`."
        },
        "userInfo": {
          "description": "Required. User information.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserInfo"
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: * `add-to-cart` Products being added to cart. * `add-to-list` Items being added to a list (shopping list, favorites etc). * `category-page-view` Special pages such as sale or promotion pages viewed. * `checkout-start` User starting a checkout process. * `detail-page-view` Products detail page viewed. * `home-page-view` Homepage viewed. * `page-visit` Generic page visits not included in the event types above. * `purchase-complete` User finishing a purchase. * `refund` Purchased items being refunded or returned. * `remove-from-cart` Products being removed from cart. * `remove-from-list` Items being removed from a list. * `search` Product search. * `shopping-cart-page-view` User viewing a shopping cart. * `impression` List of items displayed. Used by Google Tag Manager.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Only required for ImportUserEvents method. Timestamp of user event created.",
          "type": "string"
        },
        "productEventDetail": {
          "description": "Optional. Retail product specific user event metadata. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `category-page-view` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` * `search` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_event_detail' should be set for this unless the shopping cart is empty. This field is not allowed for the following event types: * `home-page-view`",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductEventDetail"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEvent",
      "description": "UserEvent captures all metadata information recommendation engine needs to know about how end users interact with customers' website.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1GcsSource": {
      "description": "Google Cloud Storage location for input content. format.",
      "id": "GoogleCloudRecommendationengineV1beta1GcsSource",
      "properties": {
        "inputUris": {
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, gs://bucket/directory/object.json) or a pattern matching one or more files, such as gs://bucket/directory/*.json. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing catalog information](/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jsonSchema": {
          "type": "string",
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user events imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest": {
      "properties": {
        "predictionApiKeyRegistration": {
          "description": "Required. The prediction API key registration.",
          "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest",
      "description": "Request message for the `CreatePredictionApiKeyRegistration` method."
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency and used for request deduplication. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response."
        },
        "updateMask": {
          "description": "Optional. Indicates which fields in the provided imported 'items' to update. If not set, will by default update all fields.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        },
        "errorsConfig": {
          "description": "Optional. The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        }
      },
      "type": "object",
      "description": "Request message for Import methods.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest"
    },
    "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse": {
      "id": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse",
      "type": "object",
      "properties": {
        "userEvents": {
          "type": "array",
          "description": "The user events.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListUserEvents.page_token."
        }
      },
      "description": "Response message for ListUserEvents method."
    },
    "GoogleCloudRecommendationengineV1beta1Image": {
      "properties": {
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Height of the image in number of pixels."
        },
        "uri": {
          "type": "string",
          "description": "Required. URL of the image with a length limit of 5 KiB."
        },
        "width": {
          "description": "Optional. Width of the image in number of pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Catalog item thumbnail/detail image.",
      "id": "GoogleCloudRecommendationengineV1beta1Image"
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse": {
      "type": "object",
      "description": "Response message for TriggerCatalogRejoin method.",
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "description": "Number of user events that were joined with latest catalog items.",
          "format": "int64"
        }
      }
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "GoogleApiHttpBody",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurchaseTransaction": {
      "description": "A transaction represents the entire purchase transaction.",
      "id": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
      "properties": {
        "taxes": {
          "description": "Optional. All the taxes associated with the transaction.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          }
        },
        "id": {
          "description": "Optional. The transaction ID with a length limit of 128 bytes.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Required. Currency code. Use three-character ISO-4217 code. This field is not required if the event type is `refund`.",
          "type": "string"
        },
        "revenue": {
          "format": "float",
          "description": "Required. Total revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations. This field is not required if the event type is `refund`.",
          "type": "number"
        },
        "costs": {
          "description": "Optional. All the costs associated with the product. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs. Total product cost such that profit = revenue - (sum(taxes) + sum(costs)) If product_cost is not set, then profit = revenue - tax - shipping - sum(CatalogItem.costs). If CatalogItem.cost is not specified for one of the items, CatalogItem.cost based profit *cannot* be calculated for this Transaction.",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList": {
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Float feature value."
        }
      },
      "description": "A list of float features."
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse": {
      "properties": {
        "userEventsSample": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "type": "array",
          "description": "A sampling of events deleted (or will be deleted) depending on the `force` property in the request. Max of 500 items will be returned."
        },
        "purgedEventsCount": {
          "format": "int64",
          "description": "The total count of events purged as a result of the operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMap": {
      "properties": {
        "numericalFeatures": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList"
          },
          "description": "Numerical features. Some examples would be the height/weight of a product, or age of a customer. Feature names must be UTF-8 encoded strings. For example: `{ \"lengths_cm\": {\"value\":[2.3, 15.4]}, \"heights_cm\": {\"value\":[8.1, 6.4]} }`",
          "type": "object"
        },
        "categoricalFeatures": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList"
          },
[...]
