{
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudRecommendationengineV1alphaTuningMetadata": {
      "properties": {
        "recommendationModel": {
          "description": "The resource name of the recommendation model that this tune applies to.\nFormat:\nprojects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/eventStores/{event_store_id}/recommendationModels/{recommendation_model_id}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata associated with a tune operation.",
      "id": "GoogleCloudRecommendationengineV1alphaTuningMetadata"
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse": {
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of user events that were joined with latest catalog items."
        }
      },
      "type": "object",
      "description": "Response message for TriggerCatalogRejoin method.",
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse"
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata": {
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for TriggerCatalogRejoin method."
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
      "description": "Product price range when there are a range of prices for different\nvariations of the same product.",
      "properties": {
        "max": {
          "format": "float",
          "description": "Required. The maximum product price.",
          "type": "number"
        },
        "min": {
          "description": "Required. The minimum product price.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudRecommendationengineV1alphaTuningResponse": {
      "description": "Response associated with a tune operation.",
      "properties": {},
      "id": "GoogleCloudRecommendationengineV1alphaTuningResponse",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1Catalog": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1Catalog",
      "description": "The catalog configuration.\nNext ID: 5.",
      "properties": {
        "catalogItemLevelConfig": {
          "description": "Required. The catalog item level configuration.",
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig"
        },
        "displayName": {
          "description": "Required. The catalog display name.",
          "type": "string"
        },
        "defaultEventStoreId": {
          "type": "string",
          "description": "Required. The id of the default event store."
        },
        "name": {
          "type": "string",
          "description": "The fully qualified resource name of the catalog."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        },
        "catalogs": {
          "description": "Output only. All the customer's catalogs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse",
      "description": "Response for ListCatalogs method."
    },
    "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration": {
      "id": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration",
      "properties": {
        "apiKey": {
          "description": "The API key.",
          "type": "string"
        }
      },
      "description": "Registered Api Key.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponse": {
      "properties": {
        "itemsMissingInCatalog": {
          "items": {
            "type": "string"
          },
          "description": "IDs of items in the request that were missing from the catalog.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next\nrequest's PredictRequest.page_token."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific prediction response metadata.",
          "type": "object"
        },
        "dryRun": {
          "description": "True if the dryRun property was set in the request.",
          "type": "boolean"
        },
        "recommendationToken": {
          "description": "A unique recommendation token. This should be included in the user event\nlogs resulting from this recommendation, which enables accurate attribution\nof recommendation model performance.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "description": "A list of recommended items. The order represents the ranking (from the\nmost relevant item to the least).",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
          }
        }
      },
      "description": "Response message for predict method.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponse"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItem": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. Deprecated. The model automatically detects the text language. Your\ncatalog can include text in different languages, but duplicating\ncatalog items to provide text in multiple languages can result in\ndegraded model performance."
        },
        "itemGroupId": {
          "description": "Optional. Variant group identifier for prediction results. UTF-8 encoded\nstring with a length limit of 128 bytes.\n\nThis field must be enabled before it can be used. [Learn\nmore](/recommendations-ai/docs/catalog#item-group-id).",
          "type": "string"
        },
        "itemAttributes": {
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap",
          "description": "Optional. Highly encouraged. Extra catalog item attributes to be\nincluded in the recommendation model. For example, for retail products,\nthis could include the store name, vendor, style, color, etc. These are\nvery strong signals for recommendation model, thus we highly recommend\nproviding the item attributes here."
        },
        "tags": {
          "description": "Optional. Filtering tags associated with the catalog item. Each tag should\nbe a UTF-8 encoded string with a length limit of 1 KiB.\n\nThis tag can be used for filtering recommendation results by passing the\ntag as part of the predict request filter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. Catalog item identifier. UTF-8 encoded string with a length limit\nof 128 bytes.\n\nThis id must be unique among all catalog items within the same catalog. It\nshould also be used when logging user events in order for the user events\nto be joined with the Catalog."
        },
        "description": {
          "description": "Optional. Catalog item description. UTF-8 encoded string with a length\nlimit of 5 KiB.",
          "type": "string"
        },
        "productMetadata": {
          "description": "Optional. Metadata specific to retail products.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem"
        },
        "categoryHierarchies": {
          "type": "array",
          "description": "Required. Catalog item categories. This field is repeated for supporting\none catalog item belonging to several parallel category hierarchies.\n\nFor example, if a shoes product belongs to both\n[\"Shoes & Accessories\" -\u003e \"Shoes\"] and\n[\"Sports & Fitness\" -\u003e \"Athletic Clothing\" -\u003e \"Shoes\"], it could be\nrepresented as:\n\n     \"categoryHierarchies\": [\n       { \"categories\": [\"Shoes & Accessories\", \"Shoes\"]},\n       { \"categories\": [\"Sports & Fitness\", \"Athletic Clothing\", \"Shoes\"] }\n     ]",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          }
        },
        "title": {
          "type": "string",
          "description": "Required. Catalog item title. UTF-8 encoded string with a length limit of 1\nKiB."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItem",
      "description": "CatalogItem captures all metadata information of items to be recommended."
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in\nthe request.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running\noperation was successful, then this message is returned by the\ngoogle.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItem": {
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem",
      "description": "ProductCatalogItem captures item metadata specific to retail products.",
      "properties": {
        "priceRange": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
          "description": "Optional. The product price range."
        },
        "stockState": {
          "type": "string",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ],
          "description": "Optional. Online stock state of the catalog item. Default is `IN_STOCK`.",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ]
        },
        "exactPrice": {
          "description": "Optional. The exact product price.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice"
        },
        "canonicalProductUri": {
          "description": "Optional. Canonical URL directly linking to the item detail page with a\nlength limit of 5 KiB..",
          "type": "string"
        },
        "costs": {
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "type": "object",
          "description": "Optional. A map to pass the costs associated with the product.\n\nFor example:\n{\"manufacturing\": 45.5} The profit of selling this item is computed like\nso:\n\n* If 'exactPrice' is provided, profit = displayPrice - sum(costs)\n* If 'priceRange' is provided, profit = minPrice - sum(costs)"
        },
        "currencyCode": {
          "description": "Optional. Only required if the price is set. Currency code for price/costs. Use\nthree-character ISO-4217 code.",
          "type": "string"
        },
        "availableQuantity": {
          "type": "string",
          "description": "Optional. The available quantity of the item.",
          "format": "int64"
        },
        "images": {
          "type": "array",
          "description": "Optional. Product images for the catalog item.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Image"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1UserEventImportSummary": {
      "description": "A summary of import result. The UserEventImportSummary summarizes\nthe import status for user events.",
      "properties": {
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        },
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found\nin the imported catalog."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogInlineSource": {
      "id": "GoogleCloudRecommendationengineV1beta1CatalogInlineSource",
      "description": "The inline source for the input config for ImportCatalogItems method.",
      "properties": {
        "catalogItems": {
          "type": "array",
          "description": "Optional. A list of catalog items to update/create. Recommended max of 10k\nitems.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMap": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMap",
      "description": "FeatureMap represents extra features that customers want to include in the\nrecommendation model for catalogs/user events as categorical/numerical\nfeatures.",
      "properties": {
        "categoricalFeatures": {
          "description": "Categorical features that can take on one of a limited number of possible\nvalues. Some examples would be the brand/maker of a product, or country of\na customer.\n\nFeature names and values must be UTF-8 encoded strings.\n\nFor example: `{ \"colors\": {\"value\": [\"yellow\", \"green\"]},\n                \"sizes\": {\"value\":[\"S\", \"M\"]}`",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList"
          },
          "type": "object"
        },
        "numericalFeatures": {
          "description": "Numerical features. Some examples would be the height/weight of a product,\nor age of a customer.\n\nFeature names must be UTF-8 encoded strings.\n\nFor example: `{ \"lengths_cm\": {\"value\":[2.3, 15.4]},\n                \"heights_cm\": {\"value\":[8.1, 6.4]} }`",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList"
          }
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy": {
      "description": "Category represents catalog item category hierarchy.",
      "type": "object",
      "properties": {
        "categories": {
          "description": "Required. Catalog item categories. Each category should be a UTF-8\nencoded string with a length limit of 2 KiB.\n\nNote that the order in the list denotes the specificity (from least to\nmost specific).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest": {
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest",
      "type": "object",
      "description": "Request message for the ImportUserEvents request.",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Optional. The desired location of errors incurred during the Import."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. Unique identifier provided by client, within the ancestor\ndataset scope. Ensures idempotency for expensive long running operations.\nServer-generated if unspecified. Up to 128 characters long. This is\nreturned as google.longrunning.Operation.name in the response. Note that\nthis field must not be set if the desired input config is\ncatalog_inline_source."
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1GetCatalogItemsWithItemGroupIdResponse": {
      "properties": {
        "canonicalCatalogItem": {
          "description": "The canonical catalog item representing all items associated with the item\ngroup id.",
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
        },
        "catalogItems": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          },
          "type": "array",
          "description": "The list of catalog items associated with the item group id."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1GetCatalogItemsWithItemGroupIdResponse",
      "description": "Response message for GetCatalogItemsWithItemGroupId method."
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest": {
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. The default value is false. Override this flag to true to\nactually perform the purge. If the field is not set to true, a sampling of\nevents to be deleted will be returned.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Required. The filter string to specify the events to be deleted. Empty\nstring filter is not allowed. The eligible fields\nfor filtering are:\n\n* `eventType`: UserEvent.eventType field of type string.\n* `eventTime`: in ISO 8601 \"zulu\" format.\n* `visitorId`: field of type string. Specifying this will delete all\n  events associated with a visitor.\n* `userId`: field of type string. Specifying this will delete all events\n  associated with a user.\n\nExamples:\n\n* Deleting all events in a time range:\n  `eventTime \u003e \"2012-04-23T18:25:43.511Z\"\n  eventTime \u003c \"2012-04-23T18:30:43.511Z\"`\n* Deleting specific eventType in time range:\n  `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"`\n* Deleting all events for a specific visitor:\n  `visitorId = \"visitor1024\"`\n\nThe filtering fields are assumed to have an implicit AND."
        }
      },
      "description": "Request message for PurgeUserEvents method."
    },
    "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse": {
      "properties": {
        "userEvents": {
          "type": "array",
          "description": "The user events.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next\nrequest's ListUserEvents.page_token."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse",
      "description": "Response message for ListUserEvents method.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata": {
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata",
      "properties": {
        "operationName": {
          "type": "string",
          "description": "The ID of the request / operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the PurgeUserEvents operation.\nThis will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest": {
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest",
      "type": "object",
      "properties": {
        "userEventRejoinScope": {
          "enumDescriptions": [
            "Rejoin catalogs with all events including both joined events and\nunjoined events.",
            "Only rejoin catalogs with joined events.",
            "Only rejoin catalogs with unjoined events."
          ],
          "type": "string",
          "description": "Required. The type of the catalog rejoin to define the scope and range of the user\nevents to be rejoined with catalog items.",
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ]
        }
      },
      "description": "Request message for CatalogRejoin method."
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for\npayload formats that can't be represented as JSON, such as raw binary or\nan HTML page.\n\n\nThis message can be used both in streaming and non-streaming API methods in\nthe request as well as the response.\n\nIt can be used as a top-level request field, which is convenient if one\nwants to extract parameters from either the URL or HTTP template into the\nrequest fields and also want access to the raw HTTP body.\n\nExample:\n\n    message GetResourceRequest {\n      // A unique request id.\n      string request_id = 1;\n\n      // The raw HTTP body is bound to this field.\n      google.api.HttpBody http_body = 2;\n    }\n\n    service ResourceService {\n      rpc GetResource(GetResourceRequest) returns (google.api.HttpBody);\n      rpc UpdateResource(google.api.HttpBody) returns\n      (google.protobuf.Empty);\n    }\n\nExample with streaming methods:\n\n    service CaldavService {\n      rpc GetCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n      rpc UpdateCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n    }\n\nUse of this type only changes how the request and response bodies are\nhandled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response\nfor streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "GoogleApiHttpBody",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice": {
      "properties": {
        "displayPrice": {
          "description": "Optional. Display price of the product.",
          "format": "float",
          "type": "number"
        },
        "originalPrice": {
          "description": "Optional. Price of the product without any discount. If zero, by default\nset to be the 'displayPrice'.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Exact product price.",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ImportMetadata": {
      "description": "Metadata related to the progress of the Import operation. This will be\nreturned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "operationName": {
          "type": "string",
          "description": "Name of the operation."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the\nfinish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that\nwas passed in the request.",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ImportMetadata"
    },
    "GoogleCloudRecommendationengineV1beta1GcsSource": {
      "type": "object",
      "properties": {
        "jsonSchema": {
          "type": "string",
          "description": "Optional. The schema to use when parsing the data from the source.\n\nSupported values for catalog imports:\n\n 1: \"catalog_recommendations_ai\" using\n   https://cloud.google.com/recommendations-ai/docs/upload-catalog#json\n   (Default for catalogItems.import)\n\n 2: \"catalog_merchant_center\" using\n   https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc\n\nSupported values for user events imports:\n\n 1: \"user_events_recommendations_ai\" using\n https://cloud.google.com/recommendations-ai/docs/manage-user-events#import\n (Default for userEvents.import)"
        },
        "inputUris": {
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to\n2000 characters long. URIs can match the full object path (for example,\ngs://bucket/directory/object.json) or a pattern matching one or more\nfiles, such as gs://bucket/directory/*.json. A request can\ncontain at most 100 files, and each file can be up to 2 GB. See\n[Importing catalog information](/recommendations-ai/docs/upload-catalog)\nfor the expected file format and setup instructions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1GcsSource",
      "description": "Google Cloud Storage location for input content.\nformat."
    },
    "GoogleCloudRecommendationengineV1beta1UserInfo": {
      "description": "Information of end users.",
      "type": "object",
      "properties": {
        "userAgent": {
          "description": "Optional. User agent as included in the HTTP header. UTF-8 encoded string\nwith a length limit of 1 KiB.\n\nThis should *not* be set when using the JavaScript pixel or if\n`directUserRequest` is set.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. IP address of the user. This could be either IPv4 (e.g. 104.133.9.80) or\nIPv6 (e.g. 2001:0db8:85a3:0000:0000:8a2e:0370:7334). This should *not* be\nset when using the javascript pixel or if `direct_user_request` is set.\nUsed to extract location information for personalization."
        },
        "directUserRequest": {
          "description": "Optional. Indicates if the request is made directly from the end user\nin which case the user_agent and ip_address fields can be populated\nfrom the HTTP request. This should *not* be set when using the javascript\npixel. This flag should be set only if the API request is made directly\nfrom the end user such as a mobile app (and not if a gateway or a server is\nprocessing and pushing the user events).",
          "type": "boolean"
        },
        "visitorId": {
          "description": "Required. A unique identifier for tracking visitors with a length limit of\n128 bytes.\n\nFor example, this could be implemented with a http cookie, which should be\nable to uniquely identify a visitor on a single device. This unique\nidentifier should not change if the visitor log in/out of the website.\nMaximum length 128 bytes. Cannot be empty.",
          "type": "string"
        },
        "userId": {
          "description": "Optional. Unique identifier for logged-in user with a length limit of 128\nbytes. Required only for logged-in users.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserInfo"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList": {
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList",
      "type": "object",
      "description": "A list of float features.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Float feature value.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1EventDetail": {
      "id": "GoogleCloudRecommendationengineV1beta1EventDetail",
      "description": "User event details shared by all recommendation types.",
      "properties": {
        "pageViewId": {
          "description": "Optional. A unique id of a web page view.\nThis should be kept the same for all user events triggered from the same\npageview. For example, an item detail page view could trigger multiple\nevents as the user is browsing the page.\nThe `pageViewId` property should be kept the same for all these events so\nthat they can be grouped together properly. This `pageViewId` will be\nautomatically generated if using the JavaScript pixel.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Complete url (window.location.href) of the user's current page.\nWhen using the JavaScript pixel, this value is filled in automatically.\nMaximum length 5KB."
        },
        "referrerUri": {
          "type": "string",
          "description": "Optional. The referrer url of the current page. When using\nthe JavaScript pixel, this value is filled in automatically."
        },
        "recommendationToken": {
          "description": "Optional. Recommendation token included in the recommendation prediction\nresponse.\n\nThis field enables accurate attribution of recommendation model\nperformance.\n\nThis token enables us to accurately attribute page view or purchase back to\nthe event and the particular predict response containing this\nclicked/purchased item. If user clicks on product K in the recommendation\nresults, pass the `PredictResponse.recommendationToken` property as a url\nparameter to product K's page. When recording events on product K's page,\nlog the PredictResponse.recommendation_token to this field.\n\nOptional, but highly encouraged for user events that are the result of a\nrecommendation prediction query.",
          "type": "string"
        },
        "eventAttributes": {
          "description": "Optional. Extra user event features to include in the recommendation\nmodel.\n\nFor product recommendation, an example of extra user information is\ntraffic_channel, i.e. how user arrives at the site. Users can arrive\nat the site by coming to the site directly, or coming through Google\nsearch, and etc.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        },
        "experimentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of identifiers for the independent experiment groups\nthis user event belongs to. This is used to distinguish between user events\nassociated with different experiment setups (e.g. using Recommendation\nEngine system, using different recommendation models)."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest": {
      "description": "Request message for Import methods.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. Unique identifier provided by client, within the ancestor\ndataset scope. Ensures idempotency and used for request deduplication.\nServer-generated if unspecified. Up to 128 characters long. This is\nreturned as google.longrunning.Operation.name in the response."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. Indicates which fields in the provided imported 'items' to update. If not\nset, will by default update all fields.",
          "type": "string"
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Optional. The desired location of errors incurred during the Import."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1BigQuerySource": {
      "properties": {
        "gcsStagingDir": {
          "type": "string",
          "description": "Optional. Intermediate Cloud Storage directory used for the import. Can be specified\nif one wants to have the BigQuery export to a specific Cloud Storage\ndirectory."
        },
        "projectId": {
          "description": "Optional. The project id (can be project # or id) that the BigQuery source is in. If\nnot specified, inherits the project id from the parent request.",
          "type": "string"
        },
        "dataSchema": {
          "description": "Optional. The schema to use when parsing the data from the source.\n\nSupported values for catalog imports:\n\n 1: \"catalog_recommendations_ai\" using\n   https://cloud.google.com/recommendations-ai/docs/upload-catalog#json\n   (Default for catalogItems.import)\n\n 2: \"catalog_merchant_center\" using\n   https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc\n\nSupported values for user event imports:\n\n 1: \"user_events_recommendations_ai\" using\n https://cloud.google.com/recommendations-ai/docs/manage-user-events#import\n (Default for userEvents.import)",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1BigQuerySource",
      "description": "BigQuery source import data from."
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig": {
      "type": "object",
      "description": "Configures what level the catalog should be uploaded with regards to\nhow users will be send events and how predictions will be made.",
      "properties": {
        "predictItemLevel": {
          "description": "Optional. What level of the catalog are predictions made at.\nSee https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels\nfor more details.",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ],
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "type": "string"
        },
        "eventItemLevel": {
          "type": "string",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ],
          "description": "Optional. What level of the catalog are events uploaded at.\nSee https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels\nfor more details.",
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ]
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig"
    },
    "GoogleCloudRecommendationengineV1beta1UserEventInlineSource": {
      "description": "The inline source for the input config for ImportUserEvents method.",
      "properties": {
        "userEvents": {
          "description": "Optional. A list of user events to import. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEventInlineSource",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse",
      "properties": {
        "predictionApiKeyRegistrations": {
          "description": "The list of registered API keys.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
          }
        },
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, pass the token to the next\nrequest's `ListPredictionApiKeysRegistrationsRequest.pageToken`.",
          "type": "string"
        }
      },
      "description": "Response message for the `ListPredictionApiKeyRegistrations`."
    },
    "GoogleCloudRecommendationengineV1beta1PredictRequest": {
      "description": "Request message for Predict method.",
      "id": "GoogleCloudRecommendationengineV1beta1PredictRequest",
      "type": "object",
      "properties": {
        "params": {
          "description": "Optional. Additional domain specific parameters for the predictions.\n\nAllowed values:\n\n* `returnCatalogItem`: Boolean. If set to true, the associated catalogItem\n   object will be returned in the\n  `PredictResponse.PredictionResult.itemMetadata` object in the method\n   response.\n* `returnItemScore`: Boolean. If set to true, the prediction 'score'\n   corresponding to each returned item will be set in the `metadata`\n   field in the prediction response. The given 'score' indicates the\n   probability of an item being clicked/purchased given the user's context\n   and history.\n* `strictFiltering`: Boolean. True by default. If set to false, the service\n   will return generic (unfiltered) popular items instead of empty if your\n   filter blocks all prediction results.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels for the predict request.\n\n * Label keys can contain lowercase letters, digits and hyphens, must start\n   with a letter, and must end with a letter or digit.\n * Non-zero label values can contain lowercase letters, digits and hyphens,\n   must start with a letter, and must end with a letter or digit.\n * No more than 64 labels can be associated with a given request.\n\nSee https://goo.gl/xmQnxf for more information on and examples of labels.",
          "type": "object"
        },
        "dryRun": {
          "description": "Optional. Use dryRun mode for this prediction query. If set to true, a\ndummy model will be used that returns arbitrary catalog items.\nNote that the dryRun mode should only be used for testing the API, or if\nthe model is not ready.",
          "type": "boolean"
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action\nthey took to trigger the predict request. Note that this user event detail\nwon't be ingested to userEvent logs. Thus, a separate userEvent write\nrequest is required for event logging.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
        },
        "pageSize": {
          "description": "Optional. Maximum number of results to return per page. Set this property\nto the number of prediction results required. If zero, the service will\nchoose a reasonable default.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. Filter for restricting prediction results. Accepts values for\ntags and the `filterOutOfStockItems` flag.\n\n * Tag expressions. Restricts predictions to items that match all of the\n   specified tags. Boolean operators `OR` and `NOT` are supported if the\n   expression is enclosed in parentheses, and must be separated from the\n   tag values by a space. `-\"tagA\"` is also supported and is equivalent to\n   `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings\n   with a size limit of 1 KiB.\n\n * filterOutOfStockItems. Restricts predictions to items that do not have a\n   stockState value of OUT_OF_STOCK.\n\nExamples:\n\n * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\")\n * filterOutOfStockItems  tag=(-\"promotional\")\n * filterOutOfStockItems\n\nIf your filter blocks all prediction results, nothing will be returned. If\nyou want generic (unfiltered) popular items to be returned instead, set\n`strictFiltering` to false in `PredictRequest.params`.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The previous PredictResponse.next_page_token."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult": {
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult",
      "type": "object",
      "description": "PredictionResult represents the recommendation prediction results.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the recommended catalog item"
        },
        "itemMetadata": {
          "description": "Additional item metadata / annotations.\n\nPossible values:\n\n* `catalogItem`: JSON representation of the catalogItem. Will be set if\n  `returnCatalogItem` is set to true in `PredictRequest.params`.\n* `score`: Prediction score in double value. Will be set if\n  `returnItemScore` is set to true in `PredictRequest.params`.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse": {
      "type": "object",
      "description": "Response of the ImportCatalogItemsRequest. If the long running\noperation is done, then this message is returned by the\ngoogle.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1UserEvent": {
      "id": "GoogleCloudRecommendationengineV1beta1UserEvent",
      "description": "UserEvent captures all metadata information recommendation engine needs to\nknow about how end users interact with customers' website.",
      "properties": {
        "eventDetail": {
          "description": "Optional. User event detailed information common across different\nrecommendation types.",
          "$ref": "GoogleCloudRecommendationengineV1beta1EventDetail"
        },
        "productEventDetail": {
          "description": "Optional. Retail product specific user event metadata.\n\nThis field is required for the following event types:\n\n* `add-to-cart`\n* `add-to-list`\n* `category-page-view`\n* `checkout-start`\n* `detail-page-view`\n* `purchase-complete`\n* `refund`\n* `remove-from-cart`\n* `remove-from-list`\n* `search`\n\nThis field is optional for the following event types:\n\n* `page-visit`\n* `shopping-cart-page-view` - note that 'product_event_detail' should be\n  set for this unless the shopping cart is empty.\n\nThis field is not allowed for the following event types:\n\n* `home-page-view`",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductEventDetail"
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are:\n\n* `add-to-cart` Products being added to cart.\n* `add-to-list` Items being added to a list (shopping list, favorites\n  etc).\n* `category-page-view` Special pages such as sale or promotion pages\n  viewed.\n* `checkout-start` User starting a checkout process.\n* `detail-page-view` Products detail page viewed.\n* `home-page-view` Homepage viewed.\n* `page-visit` Generic page visits not included in the event types above.\n* `purchase-complete` User finishing a purchase.\n* `refund` Purchased items being refunded or returned.\n* `remove-from-cart` Products being removed from cart.\n* `remove-from-list` Items being removed from a list.\n* `search` Product search.\n* `shopping-cart-page-view` User viewing a shopping cart.\n* `impression` List of items displayed. Used by Google Tag Manager."
        },
        "eventSource": {
          "description": "Optional. This field should *not* be set when using JavaScript pixel\nor the Recommendations AI Tag. Defaults to `EVENT_SOURCE_UNSPECIFIED`.",
          "enumDescriptions": [
            "Unspecified event source.",
            "The event is ingested via a javascript pixel or Recommendations AI Tag\nthrough automl datalayer or JS Macros.",
            "The event is ingested via Recommendations AI Tag through Enhanced\nEcommerce datalayer.",
            "The event is ingested via Import user events API."
          ],
          "type": "string",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "AUTOML",
            "ECOMMERCE",
            "BATCH_UPLOAD"
          ]
        },
        "eventTime": {
          "description": "Optional. Only required for ImportUserEvents method. Timestamp of user\nevent created.",
          "format": "google-datetime",
          "type": "string"
        },
        "userInfo": {
          "description": "Required. User information.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest": {
      "properties": {
        "predictionApiKeyRegistration": {
          "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration",
          "description": "Required. The prediction API key registration."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest",
      "type": "object",
      "description": "Request message for the `CreatePredictionApiKeyRegistration` method."
    },
    "GoogleCloudRecommendationengineV1beta1ProductDetail": {
      "id": "GoogleCloudRecommendationengineV1beta1ProductDetail",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Quantity of the product associated with the user event. For\nexample, this field will be 2 if two products are added to the shopping\ncart for `add-to-cart` event. Required for `add-to-cart`, `add-to-list`,\n`remove-from-cart`, `checkout-start`, `purchase-complete`, `refund` event\ntypes."
        },
        "availableQuantity": {
          "format": "int32",
          "description": "Optional. Quantity of the products in stock when a user event happens.\nOptional. If provided, this overrides the available quantity in Catalog for\nthis event. and can only be set if `stock_status` is set to `IN_STOCK`.\n\nNote that if an item is out of stock, you must set the `stock_state` field\nto be `OUT_OF_STOCK`. Leaving this field unspecified / as zero is not\nsufficient to mark the item out of stock.",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. Currency code for price/costs. Use three-character ISO-4217\ncode. Required only if originalPrice or displayPrice is set."
        },
        "itemAttributes": {
          "description": "Optional. Extra features associated with a product in the user event.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        },
        "displayPrice": {
          "description": "Optional. Display price of the product (e.g. discounted price). If\nprovided, this will override the display price in Catalog for this product.",
          "format": "float",
          "type": "number"
        },
        "id": {
          "type": "string",
          "description": "Required. Catalog item ID. UTF-8 encoded string with a length limit of 128\ncharacters."
        },
        "originalPrice": {
          "description": "Optional. Original price of the product. If provided, this will override\nthe original price in Catalog for this product.",
          "format": "float",
          "type": "number"
        },
        "stockState": {
          "description": "Optional. Item stock state. If provided, this overrides the stock state\nin Catalog for items in this event.",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ]
        }
      },
      "type": "object",
      "description": "Detailed product information associated with a user event."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapStringList": {
      "type": "object",
      "description": "A list of string features.",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "description": "String feature value with a length limit of 128 bytes.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1Image": {
      "id": "GoogleCloudRecommendationengineV1beta1Image",
      "description": "Catalog item thumbnail/detail image.",
      "properties": {
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Width of the image in number of pixels."
        },
        "uri": {
          "description": "Required. URL of the image with a length limit of 5 KiB.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Height of the image in number of pixels."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse": {
      "properties": {
        "purgedEventsCount": {
          "type": "string",
          "description": "The total count of events purged as a result of the operation.",
          "format": "int64"
        },
        "userEventsSample": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "type": "array",
          "description": "A sampling of events deleted (or will be deleted) depending on the `force`\nproperty in the request. Max of 500 items will be returned."
        }
      },
      "type": "object",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is\nsuccessfully done, then this message is returned by the\ngoogle.longrunning.Operations.response field.",
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse"
    },
    "GoogleCloudRecommendationengineV1beta1ProductEventDetail": {
      "description": "ProductEventDetail captures user event information specific to retail\nproducts.",
      "properties": {
        "cartId": {
          "description": "Optional. The id or name of the associated shopping cart. This id is used\nto associate multiple items added or present in the cart before purchase.\n\nThis can only be set for `add-to-cart`, `remove-from-cart`,\n`checkout-start`, `purchase-complete`, or `shopping-cart-page-view` events.",
          "type": "string"
        },
        "listId": {
          "description": "Required for `add-to-list` and `remove-from-list` events. The id or name of\nthe list that the item is being added to or removed from. Other event types\nshould not set this field.",
          "type": "string"
        },
        "purchaseTransaction": {
          "description": "Optional. A transaction represents the entire purchase transaction.\nRequired for `purchase-complete` events. Optional for `checkout-start`\nevents. Other event types should not set this field.",
          "$ref": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction"
        },
        "pageCategories": {
          "type": "array",
          "description": "Required for `category-page-view` events. Other event types should not set\nthis field.\nThe categories associated with a category page.\nCategory pages include special pages such as sales or promotions. For\ninstance, a special sale page may have the category hierarchy:\ncategories : [\"Sales\", \"2017 Black Friday Deals\"].",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          }
        },
        "productDetails": {
          "type": "array",
          "description": "The main product details related to the event.\n\nThis field is required for the following event types:\n\n* `add-to-cart`\n* `add-to-list`\n* `checkout-start`\n* `detail-page-view`\n* `purchase-complete`\n* `refund`\n* `remove-from-cart`\n* `remove-from-list`\n\nThis field is optional for the following event types:\n\n* `page-visit`\n* `shopping-cart-page-view` - note that 'product_details' should be set for\n  this unless the shopping cart is empty.\n* `search` (highly encouraged)\n\nIn a `search` event, this field represents the products returned to the end\nuser on the current page (the end user may have not finished broswing the\nwhole page yet). When a new page is returned to the end user, after\npagination/filtering/ordering even for the same query, a new SEARCH event\nwith different product_details is desired. The end user may have not\nfinished broswing the whole page yet.\n\nThis field is not allowed for the following event types:\n\n* `category-page-view`\n* `home-page-view`",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1ProductDetail"
          }
        },
        "searchQuery": {
          "description": "Required for `search` events. Other event types should not set this field.\nThe user's search query as UTF-8 encoded text with a length limit of 5 KiB.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ProductEventDetail",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse": {
      "description": "Response message for ListCatalogItems method.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next\nrequest's ListCatalogItemRequest.page_token.",
          "type": "string"
        },
        "catalogItems": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          },
          "description": "The catalog items."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1PurchaseTransaction": {
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code. This field\nis not required if the event type is `refund`."
        },
        "costs": {
          "description": "Optional. All the costs associated with the product. These can be\nmanufacturing costs, shipping expenses not borne by the end user, or any\nother costs.\n\nTotal product cost such that\n  profit = revenue - (sum(taxes) + sum(costs))\nIf product_cost is not set, then\n  profit = revenue - tax - shipping - sum(CatalogItem.costs).\n\nIf CatalogItem.cost is not specified for one of the items, CatalogItem.cost\nbased profit *cannot* be calculated for this Transaction.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          }
        },
        "revenue": {
          "description": "Required. Total revenue or grand total associated with the transaction.\nThis value include shipping, tax, or other adjustments to total revenue\nthat you want to include as part of your revenue calculations. This field\nis not required if the event type is `refund`.",
          "type": "number",
          "format": "float"
        },
        "taxes": {
          "description": "Optional. All the taxes associated with the transaction.",
          "type": "object",
          "additionalProperties": {
            "format": "float",
            "type": "number"
          }
        },
        "id": {
          "description": "Optional. The transaction ID with a length limit of 128 bytes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty,\nexisting Cloud Storage bucket. Import errors will be written to a file in\nthis bucket, one per line, as a JSON-encoded\n`google.rpc.Status` message."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRecommendationengineV1beta1InputConfig": {
      "properties": {
        "bigQuerySource": {
          "$ref": "GoogleCloudRecommendationengineV1beta1BigQuerySource",
          "description": "BigQuery input source."
        },
        "catalogInlineSource": {
          "description": "The Inline source for the input content for Catalog items.",
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogInlineSource"
        },
        "userEventInlineSource": {
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventInlineSource",
          "description": "The Inline source for the input content for UserEvents."
        },
        "gcsSource": {
          "description": "Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRecommendationengineV1beta1GcsSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1InputConfig",
      "description": "The input config source."
    }
  },
  "version": "v1beta1",
  "canonicalName": "Recommendations AI",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "catalogs": {
              "methods": {
                "patch": {
                  "description": "Updates the catalog configuration.",
                  "id": "recommendationengine.projects.locations.catalogs.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Indicates which fields in the provided 'recommendation_model' to\nupdate. If not set, will only update the catalog_item_level_config field.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "description": "The fully qualified resource name of the catalog.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/catalogs",
                  "id": "recommendationengine.projects.locations.catalogs.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the catalog configurations associated with the project.",
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The account resource name with an associated location.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListCatalogs`\ncall. Provide this to retrieve the subsequent page.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of results to return. If unspecified, defaults\nto 50. Max allowed value is 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "catalogItems": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.patch",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Indicates which fields in the provided 'item' to update. If not\nset, will by default update all fields.",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "description": "Required. Full resource name of catalog item, such as\n\"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a catalog item. Partial updating is supported. Non-existing\nitems will be created."
                    },
                    "import": {
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems:import",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Bulk import of multiple catalog items. Request processing may be\nsynchronous. No partial updating supported. Non-existing items will be\ncreated.\n\nOperation.response is of type ImportResponse. Note that it is\npossible for a subset of the items to be successfully updated.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/catalogItems:import",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.import",
                      "parameters": {
                        "parent": {
                          "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog\"\n\nIf no updateMask is specified, requires catalogItems.create permission.\nIf updateMask is specified, requires catalogItems.update permission.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent catalog resource name, such as\n\"projects/*/locations/global/catalogs/default_catalog\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      },
                      "description": "Creates a catalog item.",
                      "path": "v1beta1/{+parent}/catalogItems",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.list",
                      "path": "v1beta1/{+parent}/catalogItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "description": "Gets a list of catalog items.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of results to return per page. If zero, the\nservice will choose a reasonable default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The previous ListCatalogItemsResponse.next_page_token.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A filter to apply on the list results."
                        },
                        "parent": {
                          "description": "Required. The parent catalog resource name, such as\n\"projects/*/locations/global/catalogs/default_catalog\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a catalog item.",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of catalog item, such as\n\"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getGroupIdItems": {
                      "path": "v1beta1/{+parent}/catalogItems:groupIdItems",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.getGroupIdItems",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems:groupIdItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1GetCatalogItemsWithItemGroupIdResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "Required. Parent resource name of group id item, such as\n\"projects/*/locations/global/catalogs/default_catalog\"."
                        },
                        "itemGroupId": {
                          "location": "query",
                          "description": "Required. Catalog item identifier for prediction results.",
                          "type": "string"
                        }
                      },
                      "description": "Method for getting the catalog items associated with item group id."
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets a specific catalog item.",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Full resource name of catalog item, such as\n\"projects/*/locations/global/catalogs/default_catalog/catalogitems/some_catalog_item_id\"."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.get",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "GET",
                      "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "id": "recommendationengine.projects.locations.catalogs.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}/operations",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations"
                    }
                  }
                },
                "eventStores": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "path": "v1beta1/{+name}/operations",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations",
                          "parameters": {
                            "filter": {
                              "description": "The standard list filter.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The standard list page token.",
                              "type": "string"
                            },
                            "name": {
                              "location": "path",
                              "description": "The name of the operation's parent resource.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "The standard list page size."
                            }
                          },
                          "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.list"
                        },
                        "get": {
                          "path": "v1beta1/{+name}",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.get",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations/{operationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource."
                            }
                          }
                        }
                      }
                    },
                    "predictionApiKeyRegistrations": {
                      "methods": {
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent placement resource name such as\n\"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. Maximum number of results to return per page. If unset, the\nservice will choose a reasonable default."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The previous `ListPredictionApiKeyRegistration.nextPageToken`."
                            }
                          },
                          "description": "List the registered apiKeys for use with predict method.",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse"
                          },
                          "httpMethod": "GET"
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest"
                          },
                          "description": "Register an API key for use with predict method.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent resource path.\n\"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store\"."
                            }
                          },
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.create",
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.delete",
                          "description": "Unregister an apiKey from using for predict method.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations/{predictionApiKeyRegistrationsId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The API key to unregister including full resource path.\n\"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/predictionApiKeyRegistrations/\u003cYOUR_API_KEY\u003e\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/predictionApiKeyRegistrations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        }
                      }
                    },
                    "placements": {
                      "methods": {
                        "predict": {
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.placements.predict",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Makes a recommendation prediction. If using API Key based authentication,\nthe API Key must be registered using the\nPredictionApiKeyRegistry\nservice. [Learn more](/recommendations-ai/docs/setting-up#register-key).",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/placements/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Full resource name of the format:\n{name=projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/placements/*}\nThe id of the recommendation engine placement. This id is used to identify\nthe set of models that will be used to make the prediction.\n\nWe currently support three placements with the following IDs by default:\n\n* `shopping_cart`: Predicts items frequently bought together with one or\n  more catalog items in the same shopping session. Commonly displayed after\n  `add-to-cart` events, on product detail pages, or on the shopping cart\n  page.\n\n* `home_page`: Predicts the next product that a user will most likely\n  engage with or purchase based on the shopping or viewing history of the\n  specified `userId` or `visitorId`. For example - Recommendations for you.\n\n* `product_detail`: Predicts the next product that a user will most likely\n  engage with or purchase. The prediction is based on the shopping or\n  viewing history of the specified `userId` or `visitorId` and its\n  relevance to a specified `CatalogItem`. Typically used on product detail\n  pages. For example - More items like this.\n\n* `recently_viewed_default`: Returns up to 75 items recently viewed by the\n  specified `userId` or `visitorId`, most recent ones first. Returns\n  nothing if neither of them has viewed any items yet. For example -\n  Recently viewed.\n\nThe full list of available placements can be seen at\nhttps://console.cloud.google.com/recommendation/datafeeds/default_catalog/dashboard",
                              "required": true
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/placements/{placementsId}:predict",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponse"
                          },
                          "path": "v1beta1/{+name}:predict"
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "collect": {
[...]
