{
  "servicePath": "",
  "description": "Manages your Cloud Monitoring data and configurations. Most projects must be associated with a Workspace, with a few exceptions as noted on the individual method pages. The table entries below are presented in alphabetical order, not in order of common use. For explanations of the concepts found in the table entries, read the Cloud Monitoring documentation.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "monitoring:v3",
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "revision": "20200420",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "BasicAuthentication": {
      "type": "object",
      "properties": {
        "password": {
          "description": "The password to use when authenticating with the HTTP server.",
          "type": "string"
        },
        "username": {
          "description": "The username to use when authenticating with the HTTP server.",
          "type": "string"
        }
      },
      "id": "BasicAuthentication",
      "description": "The authentication parameters to provide to the specified resource or URL that requires a username and password. Currently, only Basic HTTP authentication (https://tools.ietf.org/html/rfc7617) is supported in Uptime checks."
    },
    "ListAlertPoliciesResponse": {
      "type": "object",
      "properties": {
        "alertPolicies": {
          "description": "The returned alert policies.",
          "type": "array",
          "items": {
            "$ref": "AlertPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than were returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        }
      },
      "id": "ListAlertPoliciesResponse",
      "description": "The protocol for the ListAlertPolicies response."
    },
    "ListNotificationChannelsResponse": {
      "id": "ListNotificationChannelsResponse",
      "description": "The ListNotificationChannels response.",
      "type": "object",
      "properties": {
        "notificationChannels": {
          "type": "array",
          "items": {
            "$ref": "NotificationChannel"
          },
          "description": "The notification channels defined for the specified project."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more results that match the request. Use the value in the page_token field in a subsequent request to fetch the next set of results. If empty, all results have been returned."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "Range": {
      "id": "Range",
      "description": "The range of the population values.",
      "type": "object",
      "properties": {
        "min": {
          "description": "The minimum of the population values.",
          "format": "double",
          "type": "number"
        },
        "max": {
          "description": "The maximum of the population values.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "DroppedLabels": {
      "description": "A set of (label, value) pairs which were dropped during aggregation, attached to google.api.Distribution.Exemplars in google.api.Distribution values during aggregation.These values are used in combination with the label values that remain on the aggregated Distribution timeseries to construct the full label set for the exemplar values. The resulting full label set may be used to identify the specific task/job/instance (for example) which may be contributing to a long-tail, while allowing the storage savings of only storing aggregated distribution values for a large group.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities.",
      "type": "object",
      "properties": {
        "label": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from label to its value, for all labels dropped in any aggregation.",
          "type": "object"
        }
      },
      "id": "DroppedLabels"
    },
    "LabelValue": {
      "type": "object",
      "properties": {
        "boolValue": {
          "description": "A bool label value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "A string label value.",
          "type": "string"
        },
        "int64Value": {
          "description": "An int64 label value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "LabelValue",
      "description": "A label value."
    },
    "MetricDescriptorMetadata": {
      "id": "MetricDescriptorMetadata",
      "description": "Additional annotations that can be used to guide the usage of a metric.",
      "type": "object",
      "properties": {
        "samplePeriod": {
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration",
          "type": "string"
        },
        "ingestDelay": {
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "format": "google-duration",
          "type": "string"
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects whitelisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ]
        }
      }
    },
    "QueryTimeSeriesRequest": {
      "description": "The QueryTimeSeries request.",
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. The query in the monitoring query language format. The default time zone is in UTC.",
          "type": "string"
        },
        "pageToken": {
          "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "A positive number that is the maximum number of time_series_data to return.",
          "format": "int32"
        }
      },
      "id": "QueryTimeSeriesRequest"
    },
    "DistributionCut": {
      "description": "A DistributionCut defines a TimeSeries and thresholds used for measuring good service and total service. The TimeSeries must have ValueType =\nDISTRIBUTION and MetricKind = DELTA or MetricKind = CUMULATIVE. The computed good_service will be the count of values x in the Distribution such that range.min \u003c= x \u003c range.max.",
      "type": "object",
      "properties": {
        "distributionFilter": {
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying a TimeSeries aggregating values. Must have ValueType =\nDISTRIBUTION and MetricKind = DELTA or MetricKind = CUMULATIVE.",
          "type": "string"
        },
        "range": {
          "$ref": "GoogleMonitoringV3Range",
          "description": "Range of values considered \"good.\" For a one-sided range, set one bound to an infinite value."
        }
      },
      "id": "DistributionCut"
    },
    "CreateTimeSeriesRequest": {
      "type": "object",
      "properties": {
        "timeSeries": {
          "description": "Required. The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.The maximum number of TimeSeries objects per Create request is 200.",
          "type": "array",
          "items": {
            "$ref": "TimeSeries"
          }
        }
      },
      "id": "CreateTimeSeriesRequest",
      "description": "The CreateTimeSeries request."
    },
    "Distribution": {
      "type": "object",
      "properties": {
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Required in the Cloud Monitoring API v3. Defines the histogram bucket boundaries."
        },
        "sumOfSquaredDeviation": {
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is:\nSum[i=1..n]((x_i - mean)^2)\nKnuth, \"The Art of Computer Programming\", Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum in one pass.If count is zero then this field must be zero.",
          "format": "double",
          "type": "number"
        },
        "exemplars": {
          "description": "Must be in increasing order of value field.",
          "type": "array",
          "items": {
            "$ref": "Exemplar"
          }
        },
        "range": {
          "$ref": "Range",
          "description": "If specified, contains the range of the population values. The field must not be present if the count is zero. This field is presently ignored by the Cloud Monitoring API v3."
        },
        "count": {
          "type": "string",
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in bucket_counts if a histogram is provided.",
          "format": "int64"
        },
        "mean": {
          "type": "number",
          "description": "The arithmetic mean of the values in the population. If count is zero then this field must be zero.",
          "format": "double"
        },
        "bucketCounts": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Required in the Cloud Monitoring API v3. The values for each bucket specified in bucket_options. The sum of the values in bucketCounts must equal the value in the count field of the Distribution object. The order of the bucket counts follows the numbering schemes described for the three bucket types. The underflow bucket has number 0; the finite buckets, if any, have numbers 1 through N-2; and the overflow bucket has number N-1. The size of bucket_counts must not be greater than N. If the size is less than N, then the remaining buckets are assigned values of zero."
        }
      },
      "id": "Distribution",
      "description": "Distribution contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets.The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths.Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the mean and sum_of_squared_deviation fields meaningless."
    },
    "AlertPolicy": {
      "description": "A description of the conditions under which some aspect of your system is considered to be \"unhealthy\" and the ways to notify people or services about this state. For an overview of alert policies, see Introduction to Alerting (https://cloud.google.com/monitoring/alerts/).",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "A list of conditions for the policy. The conditions are combined by AND or OR according to the combiner field. If the combined conditions evaluate to true, then an incident is created. A policy can have from one to six conditions. If condition_time_series_query_language is present, it must be the only condition.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "documentation": {
          "$ref": "Documentation",
          "description": "Documentation that is included with notifications and incidents related to this policy. Best practice is for the documentation to include information to help responders understand, mitigate, escalate, and correct the underlying problems detected by the alerting policy. Notification channels that have limited capacity might not show this documentation."
        },
        "creationRecord": {
          "$ref": "MutationRecord",
          "description": "A read-only record of the creation of the alerting policy. If provided in a call to create or update, this field will be ignored."
        },
        "notificationChannels": {
          "description": "Identifies the notification channels to which notifications should be sent when incidents are opened or closed or when new violations occur on an already opened incident. Each element of this array corresponds to the name field in each of the NotificationChannel objects that are returned from the ListNotificationChannels method. The format of the entries in this field is:\nprojects/[PROJECT_ID_OR_NUMBER]/notificationChannels/[CHANNEL_ID]\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mutationRecord": {
          "$ref": "MutationRecord",
          "description": "A read-only record of the most recent change to the alerting policy. If provided in a call to create or update, this field will be ignored."
        },
        "name": {
          "description": "Required if the policy exists. The resource name for this policy. The format is:\nprojects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID]\n[ALERT_POLICY_ID] is assigned by Stackdriver Monitoring when the policy is created. When calling the alertPolicies.create method, do not include the name field in the alerting policy passed as part of the request.",
          "type": "string"
        },
        "validity": {
          "description": "Read-only description of how the alert policy is invalid. OK if the alert policy is valid. If not OK, the alert policy will not generate incidents.",
          "$ref": "Status"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key/value data to be used for organizing and identifying the AlertPolicy objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not the policy is enabled. On write, the default interpretation if unset is that the policy is enabled. On read, clients should not make any assumption about the state if it has not been populated. The field should always be populated on List and Get operations, unless a field projection has been specified that strips it out."
        },
        "combiner": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified combiner.",
            "Combine conditions using the logical AND operator. An incident is created only if all the conditions are met simultaneously. This combiner is satisfied if all conditions are met, even if they are met on completely different resources.",
            "Combine conditions using the logical OR operator. An incident is created if any of the listed conditions is met.",
            "Combine conditions using logical AND operator, but unlike the regular AND option, an incident is created only if all conditions are met simultaneously on at least one resource."
          ],
          "enum": [
            "COMBINE_UNSPECIFIED",
            "AND",
            "OR",
            "AND_WITH_MATCHING_RESOURCE"
          ],
          "description": "How to combine the results of multiple conditions to determine if an incident should be opened. If condition_time_series_query_language is present, this must be COMBINE_UNSPECIFIED."
        },
        "displayName": {
          "description": "A short name or phrase used to identify the policy in dashboards, notifications, and incidents. To avoid confusion, don't use the same display name for multiple policies in the same project. The name is limited to 512 Unicode characters.",
          "type": "string"
        }
      },
      "id": "AlertPolicy"
    },
    "LatencyCriteria": {
      "description": "Parameters for a latency threshold SLI.",
      "type": "object",
      "properties": {
        "threshold": {
          "description": "Good service is defined to be the count of requests made to this service that return in no more than threshold.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "LatencyCriteria"
    },
    "TypedValue": {
      "description": "A single strongly-typed value.",
      "type": "object",
      "properties": {
        "distributionValue": {
          "$ref": "Distribution",
          "description": "A distribution value."
        },
        "boolValue": {
          "description": "A Boolean value: true or false.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "A variable-length string value.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "A 64-bit double-precision floating-point number. Its magnitude is approximately &plusmn;10\u003csup\u003e&plusmn;300\u003c/sup\u003e and it has 16 significant digits of precision.",
          "format": "double"
        },
        "int64Value": {
          "description": "A 64-bit integer. Its range is approximately &plusmn;9.2x10\u003csup\u003e18\u003c/sup\u003e.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TypedValue"
    },
    "BasicSli": {
      "id": "BasicSli",
      "description": "An SLI measuring performance on a well-known service type. Performance will be computed on the basis of pre-defined metrics. The type of the service_resource determines the metrics to use and the service_resource.labels and metric_labels are used to construct a monitoring filter to filter that metric down to just the data relevant to this service.",
      "type": "object",
      "properties": {
        "location": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "OPTIONAL: The set of locations to which this SLI is relevant. Telemetry from other locations will not be used to calculate performance for this SLI. If omitted, this SLI applies to all locations in which the Service has activity. For service types that don't support breaking down by location, setting this field will result in an error."
        },
        "availability": {
          "$ref": "AvailabilityCriteria",
          "description": "Good service is defined to be the count of requests made to this service that return successfully."
        },
        "latency": {
          "$ref": "LatencyCriteria",
          "description": "Good service is defined to be the count of requests made to this service that are fast enough with respect to latency.threshold."
        },
        "method": {
          "description": "OPTIONAL: The set of RPCs to which this SLI is relevant. Telemetry from other methods will not be used to calculate performance for this SLI. If omitted, this SLI applies to all the Service's methods. For service types that don't support breaking down by method, setting this field will result in an error.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "OPTIONAL: The set of API versions to which this SLI is relevant. Telemetry from other API versions will not be used to calculate performance for this SLI. If omitted, this SLI applies to all API versions. For service types that don't support breaking down by version, setting this field will result in an error.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TimeSeriesData": {
      "id": "TimeSeriesData",
      "description": "Represents the values of a time series associated with a TimeSeriesDescriptor.",
      "type": "object",
      "properties": {
        "pointData": {
          "description": "The points in the time series.",
          "type": "array",
          "items": {
            "$ref": "PointData"
          }
        },
        "labelValues": {
          "description": "The values of the labels in the time series identifier, given in the same order as the label_descriptors field of the TimeSeriesDescriptor associated with this object. Each value must have a value of the type given in the corresponding entry of label_descriptors.",
          "type": "array",
          "items": {
            "$ref": "LabelValue"
          }
        }
      }
    },
    "QueryTimeSeriesResponse": {
      "id": "QueryTimeSeriesResponse",
      "description": "The QueryTimeSeries response.",
      "type": "object",
      "properties": {
        "timeSeriesDescriptor": {
          "description": "The descriptor for the time series data.",
          "$ref": "TimeSeriesDescriptor"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Query execution errors that may have caused the time series data returned to be incomplete. The available data will be available in the response."
        },
        "timeSeriesData": {
          "description": "The time series data.",
          "type": "array",
          "items": {
            "$ref": "TimeSeriesData"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
        }
      }
    },
    "ContentMatcher": {
      "description": "Optional. Used to perform content matching. This allows matching based on substrings and regular expressions, together with their negations. Only the first 4&nbsp;MB of an HTTP or HTTPS check's response (and the first 1&nbsp;MB of a TCP check's response) are examined for purposes of content matching.",
      "type": "object",
      "properties": {
        "matcher": {
          "description": "The type of content matcher that will be applied to the server output, compared to the content string when the check is run.",
          "type": "string",
          "enumDescriptions": [
            "No content matcher type specified (maintained for backward compatibility, but deprecated for future use). Treated as CONTAINS_STRING.",
            "Selects substring matching. The match succeeds if the output contains the content string. This is the default value for checks without a matcher option, or where the value of matcher is CONTENT_MATCHER_OPTION_UNSPECIFIED.",
            "Selects negation of substring matching. The match succeeds if the output does NOT contain the content string.",
            "Selects regular-expression matching. The match succeeds of the output matches the regular expression specified in the content string.",
            "Selects negation of regular-expression matching. The match succeeds if the output does NOT match the regular expression specified in the content string."
          ],
          "enum": [
            "CONTENT_MATCHER_OPTION_UNSPECIFIED",
            "CONTAINS_STRING",
            "NOT_CONTAINS_STRING",
            "MATCHES_REGEX",
            "NOT_MATCHES_REGEX"
          ]
        },
        "content": {
          "description": "String or regex content to match. Maximum 1024 bytes. An empty content string indicates no content matching is to be performed.",
          "type": "string"
        }
      },
      "id": "ContentMatcher"
    },
    "Option": {
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\".",
          "type": "string"
        },
        "value": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "type": "object"
        }
      },
      "id": "Option"
    },
    "CloudEndpoints": {
      "id": "CloudEndpoints",
      "description": "Cloud Endpoints service. Learn more at https://cloud.google.com/endpoints.",
      "type": "object",
      "properties": {
        "service": {
          "description": "The name of the Cloud Endpoints service underlying this service. Corresponds to the service resource label in the api monitored resource: https://cloud.google.com/monitoring/api/resources#tag_api",
          "type": "string"
        }
      }
    },
    "InternalChecker": {
      "description": "An internal checker allows Uptime checks to run on private/internal GCP resources.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "An internal checker should never be in the unspecified state.",
            "The checker is being created, provisioned, and configured. A checker in this state can be returned by ListInternalCheckers or GetInternalChecker, as well as by examining the long running Operation (https://cloud.google.com/apis/design/design_patterns#long_running_operations) that created it.",
            "The checker is running and available for use. A checker in this state can be returned by ListInternalCheckers or GetInternalChecker as well as by examining the long running Operation (https://cloud.google.com/apis/design/design_patterns#long_running_operations) that created it. If a checker is being torn down, it is neither visible nor usable, so there is no \"deleting\" or \"down\" state."
          ],
          "enum": [
            "UNSPECIFIED",
            "CREATING",
            "RUNNING"
          ],
          "description": "The current operational state of the internal checker.",
          "type": "string"
        },
        "peerProjectId": {
          "type": "string",
          "description": "The GCP project ID where the internal checker lives. Not necessary the same as the Workspace project."
        },
        "name": {
          "description": "A unique resource name for this InternalChecker. The format is:\nprojects/[PROJECT_ID_OR_NUMBER]/internalCheckers/[INTERNAL_CHECKER_ID]\n[PROJECT_ID_OR_NUMBER] is the Stackdriver Workspace project for the Uptime check config associated with the internal checker.",
          "type": "string"
        },
        "gcpZone": {
          "description": "The GCP zone the Uptime check should egress from. Only respected for internal Uptime checks, where internal_network is specified.",
          "type": "string"
        },
        "network": {
          "description": "The GCP VPC network (https://cloud.google.com/vpc/docs/vpc) where the internal resource lives (ex: \"default\").",
          "type": "string"
        },
        "displayName": {
          "description": "The checker's human-readable name. The display name should be unique within a Stackdriver Workspace in order to make it easier to identify; however, uniqueness is not enforced.",
          "type": "string"
        }
      },
      "id": "InternalChecker"
    },
    "TcpCheck": {
      "description": "Information required for a TCP Uptime check request.",
      "type": "object",
      "properties": {
        "port": {
          "description": "The TCP port on the server against which to run the check. Will be combined with host (specified within the monitored_resource) to construct the full URL. Required.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TcpCheck"
    },
    "ServiceLevelIndicator": {
      "type": "object",
      "properties": {
        "basicSli": {
          "$ref": "BasicSli",
          "description": "Basic SLI on a well-known service type."
        },
        "requestBased": {
          "$ref": "RequestBasedSli",
          "description": "Request-based SLIs"
        },
        "windowsBased": {
          "$ref": "WindowsBasedSli",
          "description": "Windows-based SLIs"
        }
      },
      "id": "ServiceLevelIndicator",
      "description": "A Service-Level Indicator (SLI) describes the \"performance\" of a service. For some services, the SLI is well-defined. In such cases, the SLI can be described easily by referencing the well-known SLI and providing the needed parameters. Alternatively, a \"custom\" SLI can be defined with a query to the underlying metric store. An SLI is defined to be good_service /\ntotal_service over any queried time interval. The value of performance always falls into the range 0 \u003c= performance \u003c= 1. A custom SLI describes how to compute this ratio, whether this is by dividing values from a pair of time series, cutting a Distribution into good and bad counts, or counting time windows in which the service complies with a criterion. For separation of concerns, a single Service-Level Indicator measures performance for only one aspect of service quality, such as fraction of successful queries or fast-enough queries."
    },
    "GoogleMonitoringV3Range": {
      "type": "object",
      "properties": {
        "max": {
          "description": "Range maximum.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "description": "Range minimum.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleMonitoringV3Range",
      "description": "Range of numerical values, inclusive of min and exclusive of max. If the open range \"\u003c range.max\" is desired, set range.min = -infinity. If the open range \"\u003e= range.min\" is desired, set range.max = infinity."
    },
    "TimeSeriesDescriptor": {
      "description": "A descriptor for the labels and points in a timeseries.",
      "type": "object",
      "properties": {
        "pointDescriptors": {
          "description": "Descriptors for the point data value columns.",
          "type": "array",
          "items": {
            "$ref": "ValueDescriptor"
          }
        },
        "labelDescriptors": {
          "description": "Descriptors for the labels.",
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          }
        }
      },
      "id": "TimeSeriesDescriptor"
    },
    "Trigger": {
      "description": "Specifies how many time series must fail a predicate to trigger a condition. If not specified, then a {count: 1} trigger is used.",
      "type": "object",
      "properties": {
        "percent": {
          "description": "The percentage of time series that must fail the predicate for the condition to be triggered.",
          "format": "double",
          "type": "number"
        },
        "count": {
          "description": "The absolute number of time series that must fail the predicate for the condition to be triggered.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Trigger"
    },
    "ListServiceLevelObjectivesResponse": {
      "id": "ListServiceLevelObjectivesResponse",
      "description": "The ListServiceLevelObjectives response.",
      "type": "object",
      "properties": {
        "serviceLevelObjectives": {
          "description": "The ServiceLevelObjectives matching the specified filter.",
          "type": "array",
          "items": {
            "$ref": "ServiceLevelObjective"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        }
      }
    },
    "LabelDescriptor": {
      "description": "A description of a label.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key for this label. The key must meet the following criteria:\nDoes not exceed 100 characters.\nMatches the following regular expression: [a-zA-Z][a-zA-Z0-9_]*\nThe first character must be an upper- or lower-case letter.\nThe remaining characters must be letters, digits, or underscores.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description for the label."
        },
        "valueType": {
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ],
          "description": "The type of data that can be assigned to the label.",
          "type": "string",
          "enumDescriptions": [
            "A variable-length string, not to exceed 1,024 characters. This is the default value type.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ]
        }
      },
      "id": "LabelDescriptor"
    },
    "Type": {
      "description": "A protocol buffer message type.",
      "type": "object",
      "properties": {
        "options": {
          "description": "The protocol buffer options.",
          "type": "array",
          "items": {
            "$ref": "Option"
          }
        },
        "fields": {
          "description": "The list of fields.",
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "name": {
          "description": "The fully qualified message name.",
          "type": "string"
        },
        "oneofs": {
          "description": "The list of types appearing in oneof definitions in this type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceContext": {
          "$ref": "SourceContext",
          "description": "The source context."
        },
        "syntax": {
          "type": "string",
          "enumDescriptions": [
            "Syntax proto2.",
            "Syntax proto3."
          ],
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3"
          ],
          "description": "The source syntax."
        }
      },
      "id": "Type"
    },
    "BucketOptions": {
      "description": "BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i \u003e 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "type": "object",
      "properties": {
        "exponentialBuckets": {
          "description": "The exponential buckets.",
          "$ref": "Exponential"
        },
        "linearBuckets": {
          "$ref": "Linear",
          "description": "The linear bucket."
        },
        "explicitBuckets": {
          "description": "The explicit buckets.",
          "$ref": "Explicit"
        }
      },
      "id": "BucketOptions"
    },
    "HttpCheck": {
      "description": "Information involved in an HTTP/HTTPS Uptime check request.",
      "type": "object",
      "properties": {
        "port": {
          "description": "Optional (defaults to 80 when use_ssl is false, and 443 when use_ssl is true). The TCP port on the HTTP server against which to run the check. Will be combined with host (specified within the monitored_resource) and path to construct the full URL.",
          "format": "int32",
          "type": "integer"
        },
        "headers": {
          "description": "The list of headers to send as part of the Uptime check request. If two headers have the same key and different values, they should be entered as a single header, with the value being a comma-separated list of all the desired values as described at https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate headers with the same key in a Create call will cause the first to be overwritten by the second. The maximum number of headers allowed is 100.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "path": {
          "type": "string",
          "description": "Optional (defaults to \"/\"). The path to the page against which to run the check. Will be combined with the host (specified within the monitored_resource) and port to construct the full URL. If the provided path does not begin with \"/\", a \"/\" will be prepended automatically."
        },
        "contentType": {
          "enumDescriptions": [
            "No content type specified. If the request method is POST, an unspecified content type results in a check creation rejection.",
            "body is in URL-encoded form. Equivalent to setting the Content-Type to application/x-www-form-urlencoded in the HTTP request."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "URL_ENCODED"
          ],
          "description": "The content type to use for the check.",
          "type": "string"
        },
        "useSsl": {
          "type": "boolean",
          "description": "If true, use HTTPS instead of HTTP to run the check."
        },
        "maskHeaders": {
          "type": "boolean",
          "description": "Boolean specifiying whether to encrypt the header information. Encryption should be specified for any headers related to authentication that you do not wish to be seen when retrieving the configuration. The server will be responsible for encrypting the headers. On Get/List calls, if mask_headers is set to true then the headers will be obscured with ******."
        },
        "authInfo": {
          "description": "The authentication information. Optional when creating an HTTP check; defaults to empty.",
          "$ref": "BasicAuthentication"
        },
        "body": {
          "type": "string",
          "description": "The request body associated with the HTTP request. If content_type is URL_ENCODED, the body passed in must be URL-encoded. Users can provide a Content-Length header via the headers field or the API will do so. The maximum byte size is 1 megabyte. Note: As with all bytes fields JSON representations are base64 encoded.",
          "format": "byte"
        },
        "validateSsl": {
          "description": "Boolean specifying whether to include SSL certificate validation as a part of the Uptime check. Only applies to checks where monitored_resource is set to uptime_url. If use_ssl is false, setting validate_ssl to true has no effect.",
          "type": "boolean"
        },
        "requestMethod": {
          "enumDescriptions": [
            "No request method specified.",
            "GET request.",
            "POST request."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "GET",
            "POST"
          ],
          "description": "The HTTP request method to use for the check. If set to METHOD_UNSPECIFIED then request_method defaults to GET.",
          "type": "string"
        }
      },
      "id": "HttpCheck"
    },
    "SourceContext": {
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".",
          "type": "string"
        }
      },
      "id": "SourceContext"
    },
    "ListGroupsResponse": {
      "description": "The ListGroups response.",
      "type": "object",
      "properties": {
        "group": {
          "description": "The groups that match the specified filters.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        }
      },
      "id": "ListGroupsResponse"
    },
    "ListGroupMembersResponse": {
      "type": "object",
      "properties": {
        "members": {
          "description": "A set of monitored resources in the group.",
          "type": "array",
          "items": {
            "$ref": "MonitoredResource"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of elements matching this request.",
          "format": "int32"
        }
      },
      "id": "ListGroupMembersResponse",
      "description": "The ListGroupMembers response."
    },
    "NotificationChannel": {
      "id": "NotificationChannel",
      "description": "A NotificationChannel is a medium through which an alert is delivered when a policy violation is detected. Examples of channels include email, SMS, and third-party messaging applications. Fields containing sensitive information like authentication tokens or contact info are only partially populated on retrieval.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional human-readable description of this notification channel. This description may provide additional details, beyond the display name, for the channel. This may not exceed 1024 Unicode characters."
        },
        "displayName": {
          "type": "string",
          "description": "An optional human-readable name for this notification channel. It is recommended that you specify a non-empty and unique name in order to make it easier to identify the channels in your project, though this is not enforced. The display name is limited to 512 Unicode characters."
        },
        "enabled": {
          "description": "Whether notifications are forwarded to the described channel. This makes it possible to disable delivery of notifications to a particular channel without removing the channel from all alerting policies that reference the channel. This is a more convenient approach when the change is temporary and you want to receive notifications from the same set of alerting policies on the channel at some point in the future.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configuration fields that define the channel and its behavior. The permissible and required labels are specified in the NotificationChannelDescriptor.labels of the NotificationChannelDescriptor corresponding to the type field."
        },
        "name": {
          "description": "The full REST resource name for this channel. The format is:\nprojects/[PROJECT_ID_OR_NUMBER]/notificationChannels/[CHANNEL_ID]\nThe [CHANNEL_ID] is automatically assigned by the server on creation.",
          "type": "string"
        },
        "verificationStatus": {
          "enumDescriptions": [
            "Sentinel value used to indicate that the state is unknown, omitted, or is not applicable (as in the case of channels that neither support nor require verification in order to function).",
            "The channel has yet to be verified and requires verification to function. Note that this state also applies to the case where the verification process has been initiated by sending a verification code but where the verification code has not been submitted to complete the process.",
            "It has been proven that notifications can be received on this notification channel and that someone on the project has access to messages that are delivered to that channel."
          ],
          "enum": [
            "VERIFICATION_STATUS_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "description": "Indicates whether this channel has been verified or not. On a ListNotificationChannels or GetNotificationChannel operation, this field is expected to be populated.If the value is UNVERIFIED, then it indicates that the channel is non-functioning (it both requires verification and lacks verification); otherwise, it is assumed that the channel works.If the channel is neither VERIFIED nor UNVERIFIED, it implies that the channel is of a type that does not require verification or that this specific channel has been exempted from verification because it was created prior to verification being required for channels of this type.This field cannot be modified using a standard UpdateNotificationChannel operation. To change the value of this field, you must call VerifyNotificationChannel.",
          "type": "string"
        },
        "type": {
          "description": "The type of the notification channel. This field matches the value of the NotificationChannelDescriptor.type field.",
          "type": "string"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key/value data that does not need to conform to the corresponding NotificationChannelDescriptor's schema, unlike the labels field. This field is intended to be used for organizing and identifying the NotificationChannel objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter.",
          "type": "object"
        }
      }
    },
    "SpanContext": {
      "description": "The context of a span, attached to Exemplars in Distribution values during aggregation.It contains the name of a span with format:\nprojects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID]\n",
      "type": "object",
      "properties": {
        "spanName": {
          "description": "The resource name of the span. The format is:\nprojects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID]\n[TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        }
      },
      "id": "SpanContext"
    },
    "ServiceLevelObjective": {
      "description": "A Service-Level Objective (SLO) describes a level of desired good service. It consists of a service-level indicator (SLI), a performance goal, and a period over which the objective is to be evaluated against that goal. The SLO can use SLIs defined in a number of different manners. Typical SLOs might include \"99% of requests in each rolling week have latency below 200 milliseconds\" or \"99.5% of requests in each calendar month return successfully.\"",
      "type": "object",
      "properties": {
        "serviceLevelIndicator": {
          "$ref": "ServiceLevelIndicator",
          "description": "The definition of good service, used to measure and calculate the quality of the Service's performance with respect to a single aspect of service quality."
        },
        "displayName": {
          "description": "Name used for UI elements listing this SLO.",
          "type": "string"
        },
        "goal": {
          "description": "The fraction of service that must be good in order for this objective to be met. 0 \u003c goal \u003c= 0.999.",
          "format": "double",
          "type": "number"
        },
        "calendarPeriod": {
          "enumDescriptions": [
            "Undefined period, raises an error.",
            "A day.",
            "A week. Weeks begin on Monday, following ISO 8601 (https://en.wikipedia.org/wiki/ISO_week_date).",
            "A fortnight. The first calendar fortnight of the year begins at the start of week 1 according to ISO 8601 (https://en.wikipedia.org/wiki/ISO_week_date).",
            "A month.",
            "A quarter. Quarters start on dates 1-Jan, 1-Apr, 1-Jul, and 1-Oct of each year.",
            "A half-year. Half-years start on dates 1-Jan and 1-Jul.",
            "A year."
          ],
          "enum": [
            "CALENDAR_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "FORTNIGHT",
            "MONTH",
            "QUARTER",
            "HALF",
            "YEAR"
          ],
          "description": "A calendar period, semantically \"since the start of the current \u003ccalendar_period\u003e\". At this time, only DAY, WEEK, FORTNIGHT, and MONTH are supported.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for this ServiceLevelObjective. The format is:\nprojects/[PROJECT_ID_OR_NUMBER]/services/[SERVICE_ID]/serviceLevelObjectives/[SLO_NAME]\n",
          "type": "string"
        },
        "rollingPeriod": {
          "description": "A rolling time period, semantically \"in the past \u003crolling_period\u003e\". Must be an integer multiple of 1 day no larger than 30 days.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "ServiceLevelObjective"
    },
    "AvailabilityCriteria": {
      "id": "AvailabilityCriteria",
      "description": "Future parameters for the availability SLI.",
      "type": "object",
      "properties": {}
    },
    "CollectdPayloadError": {
      "description": "Describes the error status for payloads that were not written.",
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "description": "The zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.",
          "format": "int32"
        },
        "error": {
          "description": "Records the error status for the payload. If this field is present, the partial errors for nested values won't be populated.",
          "$ref": "Status"
        },
        "valueErrors": {
          "type": "array",
          "items": {
            "$ref": "CollectdValueError"
          },
          "description": "Records the error status for values that were not written due to an error.Failed payloads for which nothing is written will not include partial value errors."
        }
      },
      "id": "CollectdPayloadError"
    },
    "ResourceGroup": {
      "description": "The resource submessage for group checks. It can be used instead of a monitored resource, when multiple resources are being monitored.",
      "type": "object",
      "properties": {
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "INSTANCE",
            "AWS_ELB_LOAD_BALANCER"
          ],
          "description": "The resource type of the group members.",
          "type": "string",
          "enumDescriptions": [
            "Default value (not valid).",
            "A group of instances from Google Cloud Platform (GCP) or Amazon Web Services (AWS).",
            "A group of Amazon ELB load balancers."
          ]
        },
        "groupId": {
          "description": "The group of resources being monitored. Should be only the [GROUP_ID], and not the full-path projects/[PROJECT_ID_OR_NUMBER]/groups/[GROUP_ID].",
          "type": "string"
        }
      },
      "id": "ResourceGroup"
    },
    "Linear": {
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): offset + (width * i).  Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1)).",
      "type": "object",
      "properties": {
        "width": {
          "description": "Must be greater than 0.",
          "format": "double",
          "type": "number"
        },
        "offset": {
          "description": "Lower bound of the first bucket.",
          "format": "double",
          "type": "number"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Linear"
    },
    "MutationRecord": {
      "id": "MutationRecord",
      "description": "Describes a change made to a configuration.",
      "type": "object",
      "properties": {
        "mutatedBy": {
          "description": "The email address of the user making the change.",
          "type": "string"
        },
        "mutateTime": {
          "description": "When the change occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Documentation": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The format of the content field. Presently, only the value \"text/markdown\" is supported. See Markdown (https://en.wikipedia.org/wiki/Markdown) for more information.",
          "type": "string"
        },
        "content": {
          "description": "The text of the documentation, interpreted according to mime_type. The content may not exceed 8,192 Unicode characters and may not exceed more than 10,240 bytes when encoded in UTF-8 format, whichever is smaller.",
          "type": "string"
        }
      },
      "id": "Documentation",
      "description": "A content string and a MIME type that describes the content string's format."
    },
    "Exponential": {
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i).  Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
      "type": "object",
      "properties": {
        "growthFactor": {
          "type": "number",
          "description": "Must be greater than 1.",
          "format": "double"
        },
        "scale": {
          "description": "Must be greater than 0.",
          "format": "double",
          "type": "number"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Exponential"
    },
    "MetricAbsence": {
      "id": "MetricAbsence",
      "description": "A condition type that checks that monitored resources are reporting data. The configuration defines a metric and a set of monitored resources. The predicate is considered in violation when a time series for the specified metric of a monitored resource does not include any data in the specified duration.",
      "type": "object",
      "properties": {
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Specifies the alignment of data points in individual time series as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resrouces). Multiple aggregations are applied in the order specified.This field is similar to the one in the ListTimeSeries request (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list). It is advisable to use the ListTimeSeries method when debugging this field."
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The number/percent of time series for which the comparison must hold in order for the condition to trigger. If unspecified, then the condition will trigger if the comparison is true for any of the time series that have been identified by filter and aggregations."
        },
        "filter": {
          "type": "string",
          "description": "A filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies which time series should be compared with the threshold.The filter is similar to the one that is specified in the ListTimeSeries request (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) (that call is useful to verify the time series that will be retrieved / processed) and must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length."
        },
        "duration": {
          "description": "The amount of time that a time series must fail to report new data to be considered failing. Currently, only values that are a multiple of a minute--e.g. 60, 120, or 300 seconds--are supported. If an invalid value is given, an error will be returned. The Duration.nanos field is ignored.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ListTimeSeriesResponse": {
      "id": "ListTimeSeriesResponse",
      "description": "The ListTimeSeries response.",
      "type": "object",
      "properties": {
        "timeSeries": {
          "description": "One or more time series that match the filter included in the request.",
          "type": "array",
          "items": {
            "$ref": "TimeSeries"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        },
        "executionErrors": {
          "description": "Query execution errors that may have caused the time series data returned to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "ValueDescriptor": {
      "description": "A descriptor for the value columns in a data point.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The value key.",
          "type": "string"
        },
        "metricKind": {
          "description": "The value stream kind.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ]
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "description": "The value type."
        }
      },
      "id": "ValueDescriptor"
    },
    "GetNotificationChannelVerificationCodeRequest": {
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The desired expiration time. If specified, the API will guarantee that the returned code will not be valid after the specified timestamp; however, the API cannot guarantee that the returned code will be valid for at least as long as the requested time (the API puts an upper bound on the amount of time for which a code may be valid). If omitted, a default expiration will be used, which may be less than the max permissible expiration (so specifying an expiration may extend the code's lifetime over omitting an expiration, even though the API does impose an upper limit on the maximum expiration that is permitted).",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GetNotificationChannelVerificationCodeRequest",
      "description": "The GetNotificationChannelVerificationCode request."
    },
    "ClusterIstio": {
      "id": "ClusterIstio",
      "description": "Istio service scoped to a single Kubernetes cluster. Learn more at http://istio.io.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the Kubernetes cluster in which this Istio service is defined. Corresponds to the location resource label in k8s_cluster resources."
        },
        "serviceName": {
          "description": "The name of the Istio service underlying this service. Corresponds to the destination_service_name metric label in Istio metrics.",
          "type": "string"
        },
        "clusterName": {
          "description": "The name of the Kubernetes cluster in which this Istio service is defined. Corresponds to the cluster_name resource label in k8s_cluster resources.",
          "type": "string"
        },
        "serviceNamespace": {
          "description": "The namespace of the Istio service underlying this service. Corresponds to the destination_service_namespace metric label in Istio metrics.",
          "type": "string"
        }
      }
    },
    "MeshIstio": {
      "id": "MeshIstio",
      "description": "Istio service scoped to an Istio mesh",
      "type": "object",
      "properties": {
        "meshUid": {
          "type": "string",
          "description": "Identifier for the mesh in which this Istio service is defined. Corresponds to the mesh_uid metric label in Istio metrics."
        },
        "serviceNamespace": {
          "type": "string",
          "description": "The namespace of the Istio service underlying this service. Corresponds to the destination_service_namespace metric label in Istio metrics."
        },
        "serviceName": {
          "description": "The name of the Istio service underlying this service. Corresponds to the destination_service_name metric label in Istio metrics.",
          "type": "string"
        }
      }
    },
    "UptimeCheckConfig": {
      "type": "object",
      "properties": {
        "selectedRegions": {
          "description": "The list of regions from which the check will be run. Some regions contain one location, and others contain more than one. If this field is specified, enough regions must be provided to include a minimum of 3 locations. Not specifying this field will result in Uptime checks running from all available regions.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REGION_UNSPECIFIED",
              "USA",
              "EUROPE",
              "SOUTH_AMERICA",
              "ASIA_PACIFIC"
            ]
          },
          "enumDescriptions": [
            "Default value if no region is specified. Will result in Uptime checks running from all regions.",
            "Allows checks to run from locations within the United States of America.",
            "Allows checks to run from locations within the continent of Europe.",
            "Allows checks to run from locations within the continent of South America.",
            "Allows checks to run from locations within the Asia Pacific area (ex: Singapore)."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "A human-friendly name for the Uptime check configuration. The display name should be unique within a Stackdriver Workspace in order to make it easier to identify; however, uniqueness is not enforced. Required."
        },
        "monitoredResource": {
          "$ref": "MonitoredResource",
          "description": "The monitored resource (https://cloud.google.com/monitoring/api/resources) associated with the configuration. The following monitored resource types are supported for Uptime checks:  uptime_url,  gce_instance,  gae_app,  aws_ec2_instance,  aws_elb_load_balancer"
        },
        "contentMatchers": {
          "type": "array",
          "items": {
            "$ref": "ContentMatcher"
          },
          "description": "The content that is expected to appear in the data returned by the target server against which the check is run. Currently, only the first entry in the content_matchers list is supported, and additional entries will be ignored. This field is optional and should only be specified if a content match is required as part of the/ Uptime check."
        },
        "timeout": {
          "description": "The maximum amount of time to wait for the request to complete (must be between 1 and 60 seconds). Required.",
          "format": "google-duration",
          "type": "string"
        },
        "period": {
          "description": "How often, in seconds, the Uptime check is performed. Currently, the only supported values are 60s (1 minute), 300s (5 minutes), 600s (10 minutes), and 900s (15 minutes). Optional, defaults to 60s.",
          "format": "google-duration",
          "type": "string"
        },
        "httpCheck": {
          "$ref": "HttpCheck",
          "description": "Contains information needed to make an HTTP or HTTPS check."
        },
        "name": {
          "description": "A unique resource name for this Uptime check configuration. The format is:\n projects/[PROJECT_ID_OR_NUMBER]/uptimeCheckConfigs/[UPTIME_CHECK_ID]\nThis field should be omitted when creating the Uptime check configuration; on create, the resource name is assigned by the server and included in the response.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "The group resource associated with the configuration.",
          "$ref": "ResourceGroup"
        },
        "tcpCheck": {
          "$ref": "TcpCheck",
          "description": "Contains information needed to make a TCP check."
        },
        "internalCheckers": {
          "description": "The internal checkers that this check will egress from. If is_internal is true and this list is empty, the check will egress from all the InternalCheckers configured for the project that owns this UptimeCheckConfig.",
          "type": "array",
          "items": {
            "$ref": "InternalChecker"
          }
        },
        "isInternal": {
          "description": "If this is true, then checks are made only from the 'internal_checkers'. If it is false, then checks are made only from the 'selected_regions'. It is an error to provide 'selected_regions' when is_internal is true, or to provide 'internal_checkers' when is_internal is false.",
          "type": "boolean"
        }
      },
      "id": "UptimeCheckConfig",
      "description": "This message configures which resources and services to monitor for availability."
    },
    "Error": {
      "description": "Detailed information about an error category.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the requested write operation."
        },
        "pointCount": {
          "type": "integer",
          "description": "The number of points that couldn't be written because of status.",
          "format": "int32"
        }
      },
      "id": "Error"
    },
    "Service": {
      "type": "object",
      "properties": {
        "cloudEndpoints": {
          "$ref": "CloudEndpoints",
          "description": "Type used for Cloud Endpoints services."
        },
        "name": {
          "description": "Resource name for this Service. The format is:\nprojects/[PROJECT_ID_OR_NUMBER]/services/[SERVICE_ID]\n",
          "type": "string"
        },
        "appEngine": {
          "$ref": "AppEngine",
          "description": "Type used for App Engine services."
        },
        "clusterIstio": {
          "$ref": "ClusterIstio",
          "description": "Type used for Istio services that live in a Kubernetes cluster."
        },
        "custom": {
          "$ref": "Custom",
          "description": "Custom service type."
        },
        "displayName": {
          "description": "Name used for UI elements listing this Service.",
          "type": "string"
        },
        "meshIstio": {
          "description": "Type used for Istio services scoped to an Istio mesh.",
          "$ref": "MeshIstio"
        },
        "telemetry": {
          "description": "Configuration for how to query telemetry on a Service.",
          "$ref": "Telemetry"
        }
      },
      "id": "Service",
      "description": "A Service is a discrete, autonomous, and network-accessible unit, designed to solve an individual concern (Wikipedia (https://en.wikipedia.org/wiki/Service-orientation)). In Cloud Monitoring, a Service acts as the root resource under which operational aspects of the service are accessible."
    },
    "PerformanceThreshold": {
      "type": "object",
      "properties": {
        "threshold": {
          "description": "If window performance \u003e= threshold, the window is counted as good.",
          "format": "double",
          "type": "number"
        },
        "performance": {
          "$ref": "RequestBasedSli",
          "description": "RequestBasedSli to evaluate to judge window quality."
        },
        "basicSliPerformance": {
          "$ref": "BasicSli",
          "description": "BasicSli to evaluate to judge window quality."
        }
      },
      "id": "PerformanceThreshold",
      "description": "A PerformanceThreshold is used when each window is good when that window has a sufficiently high performance."
    },
    "CollectdPayload": {
      "description": "A collection of data points sent from a collectd-based plugin. See the collectd documentation for more information.",
      "type": "object",
      "properties": {
        "typeInstance": {
          "type": "string",
          "description": "The measurement type instance. Example: \"used\"."
        },
        "type": {
          "description": "The measurement type. Example: \"memory\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "$ref": "TypedValue"
          },
          "description": "The measurement metadata. Example: \"process_id\" -\u003e 12345",
          "type": "object"
        },
        "plugin": {
          "description": "The name of the plugin. Example: \"disk\".",
          "type": "string"
        },
        "pluginInstance": {
          "description": "The instance name of the plugin Example: \"hdcl\".",
          "type": "string"
        },
        "endTime": {
          "description": "The end time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "values": {
          "description": "The measured values during this time interval. Each value must have a different dataSourceName.",
          "type": "array",
          "items": {
            "$ref": "CollectdValue"
          }
        }
      },
      "id": "CollectdPayload"
    },
    "Aggregation": {
      "description": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation).",
      "type": "object",
      "properties": {
        "perSeriesAligner": {
          "description": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned.",
          "type": "string",
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-series reduction is requested. The value_type of the result is the same as the value_type of the input.",
            "Align and convert to DELTA. The output is delta = y1 - y0.This alignment is valid for CUMULATIVE and DELTA metrics. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The value_type of the aligned result is the same as the value_type of the input.",
            "Align and convert to a rate. The result is computed as rate = (y1 - y0)/(t1 - t0), or \"delta over time\". Think of this aligner as providing the slope of the line that passes through the value at the start and at the end of the alignment_period.This aligner is valid for CUMULATIVE and DELTA metrics with numeric values. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The output is a GAUGE metric with value_type DOUBLE.If, by \"rate\", you mean \"percentage change\", see the ALIGN_PERCENT_CHANGE aligner instead.",
            "Align by interpolating between adjacent points around the alignment period boundary. This aligner is valid for GAUGE metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align by moving the most recent data point before the end of the alignment period to the boundary at the end of the alignment period. This aligner is valid for GAUGE metrics. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the minimum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the maximum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the mean value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is DOUBLE.",
            "Align the time series by returning the number of values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric or Boolean values. The value_type of the aligned result is INT64.",
            "Align the time series by returning the sum of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric and distribution values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the standard deviation of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the output is DOUBLE.",
            "Align the time series by returning the number of True values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the number of False values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the ratio of the number of True values to the total number of values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 99th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 95th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 50th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 5th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align and convert to a percentage change. This aligner is valid for GAUGE and DELTA metrics with numeric values. This alignment returns ((current - previous)/previous) * 100, where the value of previous is determined based on the alignment_period.If the values of current and previous are both 0, then the returned value is 0. If only previous is 0, the returned value is infinity.A 10-minute moving mean is computed at each point of the alignment period prior to the above calculation to smooth the metric and prevent false positives from very short-lived spikes. The moving mean is only applicable for data whose values are \u003e= 0. Any values \u003c 0 are treated as a missing datapoint, and are ignored. While DELTA metrics are accepted by this alignment, special care should be taken that the values for the metric will always be positive. The output is a GAUGE metric with value_type DOUBLE."
          ],
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ]
        },
        "alignmentPeriod": {
          "description": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.",
          "format": "google-duration",
          "type": "string"
        },
        "crossSeriesReducer": {
          "type": "string",
          "enumDescriptions": [
            "No cross-time series reduction. The output of the Aligner is returned.",
            "Reduce by computing the mean value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the minimum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the maximum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric and distribution values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the number of data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of numeric, Boolean, distribution, and string value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of True-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of False-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the ratio of the number of True-valued data points to the total number of data points for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Reduce by computing the 99th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 95th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 50th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 5th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE."
          ],
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ],
          "description": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned."
        },
        "groupByFields": {
          "description": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Aggregation"
    },
    "CreateTimeSeriesSummary": {
      "id": "CreateTimeSeriesSummary",
      "description": "Summary of the result of a failed request to write data to a time series.",
      "type": "object",
      "properties": {
        "totalPointCount": {
          "description": "The number of points in the request.",
          "format": "int32",
          "type": "integer"
        },
        "errors": {
          "description": "The number of points that failed to be written. Order is not guaranteed.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "successPointCount": {
          "description": "The number of points that were successfully written.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CreateCollectdTimeSeriesResponse": {
      "description": "The CreateCollectdTimeSeries response.",
      "type": "object",
      "properties": {
        "summary": {
          "$ref": "CreateTimeSeriesSummary",
          "description": "Aggregate statistics from writing the payloads. This field is omitted if all points were successfully written, so that the response is empty. This is for backwards compatibility with clients that log errors on any non-empty response."
        },
        "payloadErrors": {
          "description": "Records the error status for points that were not written due to an error in the request.Failed requests for which nothing is written will return an error response instead. Requests where data points were rejected by the backend will set summary instead.",
          "type": "array",
          "items": {
            "$ref": "CollectdPayloadError"
          }
        }
      },
      "id": "CreateCollectdTimeSeriesResponse"
    },
    "GetNotificationChannelVerificationCodeResponse": {
      "id": "GetNotificationChannelVerificationCodeResponse",
      "description": "The GetNotificationChannelVerificationCode request.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The verification code, which may be used to verify other channels that have an equivalent identity (i.e. other channels of the same type with the same fingerprint such as other email channels with the same email address or other sms channels with the same number).",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time associated with the code that was returned. If an expiration was provided in the request, this is the minimum of the requested expiration in the request and the max permitted expiration.",
          "format": "google-datetime"
        }
      }
    },
    "PointData": {
      "description": "A point's value columns and time interval. Each point has one or more point values corresponding to the entries in point_descriptors field in the TimeSeriesDescriptor associated with this object.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values that make up the point.",
          "type": "array",
          "items": {
            "$ref": "TypedValue"
          }
        },
        "timeInterval": {
          "$ref": "TimeInterval",
          "description": "The time interval associated with the point."
        }
      },
      "id": "PointData"
    },
    "Exemplar": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The observation (sampling) time of the above value.",
          "format": "google-datetime"
        },
        "attachments": {
          "description": "Contextual information about the example value. Examples are:Trace: type.googleapis.com/google.monitoring.v3.SpanContextLiteral string: type.googleapis.com/google.protobuf.StringValueLabels dropped during aggregation:  type.googleapis.com/google.monitoring.v3.DroppedLabelsThere may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "value": {
          "type": "number",
          "description": "Value of the exemplar point. This value determines to which bucket the exemplar belongs.",
          "format": "double"
        }
      },
      "id": "Exemplar",
      "description": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc."
    },
    "WindowsBasedSli": {
      "type": "object",
      "properties": {
        "metricMeanInRange": {
          "$ref": "MetricRange",
          "description": "A window is good if the metric's value is in a good range, averaged across returned streams."
        },
        "goodTotalRatioThreshold": {
          "description": "A window is good if its performance is high enough.",
          "$ref": "PerformanceThreshold"
        },
        "windowPeriod": {
          "description": "Duration over which window quality is evaluated. Must be an integer fraction of a day and at least 60s.",
          "format": "google-duration",
          "type": "string"
        },
        "goodBadMetricFilter": {
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying a TimeSeries with ValueType = BOOL. The window is good if any true values appear in the window.",
          "type": "string"
        },
        "metricSumInRange": {
[...]
