{
  "canonicalName": "Container",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "revision": "20210312",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "baseUrl": "https://container.googleapis.com/",
  "rootUrl": "https://container.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "title": "Kubernetes Engine API",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "zones": {
          "methods": {
            "getServerconfig": {
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "id": "container.projects.zones.getServerconfig",
              "flatPath": "v1/projects/{projectId}/zones/{zone}/serverconfig",
              "parameterOrder": [
                "projectId",
                "zone"
              ],
              "httpMethod": "GET",
              "parameters": {
                "zone": {
                  "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "location": "query",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                }
              },
              "path": "v1/projects/{projectId}/zones/{zone}/serverconfig",
              "response": {
                "$ref": "ServerConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "id": "container.projects.zones.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Cancels the specified operation.",
                  "parameters": {
                    "operationId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel"
                },
                "get": {
                  "id": "container.projects.zones.operations.get",
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "name": {
                      "type": "string",
                      "location": "query",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`."
                    },
                    "operationId": {
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified operation.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}"
                },
                "list": {
                  "id": "container.projects.zones.operations.list",
                  "path": "v1/projects/{projectId}/zones/{zone}/operations",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations",
                  "httpMethod": "GET",
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field.",
                      "required": true,
                      "type": "string"
                    },
                    "parent": {
                      "location": "query",
                      "type": "string",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ]
                }
              }
            },
            "clusters": {
              "methods": {
                "setNetworkPolicy": {
                  "parameters": {
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "description": "Enables or disables Network Policy for a cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.setNetworkPolicy",
                  "httpMethod": "POST"
                },
                "resourceLabels": {
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "parameters": {
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets labels on a cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.resourceLabels",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  }
                },
                "addons": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.addons",
                  "description": "Sets the addons for a specific cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  }
                },
                "get": {
                  "description": "Gets the details of a specific cluster.",
                  "id": "container.projects.zones.clusters.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameters": {
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "query",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "container.projects.zones.clusters.list",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters"
                },
                "update": {
                  "id": "container.projects.zones.clusters.update",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the settings of a specific cluster.",
                  "httpMethod": "PUT",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}"
                },
                "completeIpRotation": {
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "description": "Completes master IP rotation.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "legacyAbac": {
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.legacyAbac",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "id": "container.projects.zones.clusters.create",
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    }
                  },
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    },
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`."
                    },
                    "clusterId": {
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "container.projects.zones.clusters.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "DELETE"
                },
                "setMasterAuth": {
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "id": "container.projects.zones.clusters.setMasterAuth",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "clusterId": {
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "startIpRotation": {
                  "description": "Starts master IP rotation.",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "id": "container.projects.zones.clusters.startIpRotation",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "logging": {
                  "description": "Sets the logging service for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.logging",
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "parameters": {
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "monitoring": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "description": "Sets the monitoring service for a specific cluster.",
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.monitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring"
                },
                "setMaintenancePolicy": {
                  "id": "container.projects.zones.clusters.setMaintenancePolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "description": "Sets the maintenance policy for a cluster.",
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "clusterId": {
                      "description": "Required. The name of the cluster to update.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "locations": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "clusterId": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "id": "container.projects.zones.clusters.locations",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  }
                },
                "master": {
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the master for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "id": "container.projects.zones.clusters.master",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                }
              },
              "resources": {
                "nodePools": {
                  "methods": {
                    "setSize": {
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "parameters": {
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the size for a specific node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "httpMethod": "POST"
                    },
                    "setManagement": {
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "required": true,
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.setManagement",
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "description": "Sets the NodeManagement options for a node pool.",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "parameters": {
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string",
                          "location": "query"
                        },
                        "nodePoolId": {
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a node pool from a cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.delete",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}"
                    },
                    "update": {
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "parameters": {
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "nodePoolId": {
                          "type": "string",
                          "location": "path",
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "clusterId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "description": "Updates the version and/or image type for the specified node pool.",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "id": "container.projects.zones.clusters.nodePools.list",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "description": "Lists the node pools for a cluster.",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`."
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "location": "path"
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Retrieves the requested node pool.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        },
                        "zone": {
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "response": {
                        "$ref": "NodePool"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "httpMethod": "GET"
                    },
                    "autoscaling": {
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "id": "container.projects.zones.clusters.nodePools.autoscaling",
                      "description": "Sets the autoscaling settings for the specified node pool.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "zone": {
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "rollback": {
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "parameters": {
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "container.projects.zones.clusters.nodePools.create",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "location": "path"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "zone": {
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Creates a node pool for a cluster.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "setLegacyAbac": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "id": "container.projects.locations.clusters.setLegacyAbac",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "path": "v1/{+name}:setLegacyAbac",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getJwks": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The cluster (project, location, cluster id) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "container.projects.locations.clusters.getJwks",
                  "path": "v1/{+parent}/jwks",
                  "httpMethod": "GET",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters."
                },
                "setAddons": {
                  "description": "Sets the addons for a specific cluster.",
                  "path": "v1/{+name}:setAddons",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "id": "container.projects.locations.clusters.setAddons",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/clusters",
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "container.projects.locations.clusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "setMonitoring": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:setMonitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setMonitoring"
                },
                "update": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "description": "Updates the settings of a specific cluster.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setNetworkPolicy": {
                  "id": "container.projects.locations.clusters.setNetworkPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "description": "Enables or disables Network Policy for a cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:setNetworkPolicy",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "httpMethod": "POST"
                },
                "completeIpRotation": {
                  "path": "v1/{+name}:completeIpRotation",
                  "description": "Completes master IP rotation.",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation"
                },
                "setResourceLabels": {
                  "path": "v1/{+name}:setResourceLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets labels on a cluster.",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    }
                  },
                  "id": "container.projects.locations.clusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "description": "Gets the details of a specific cluster.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "startIpRotation": {
                  "path": "v1/{+name}:startIpRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Starts master IP rotation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  }
                },
                "setLocations": {
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setLocations",
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "id": "container.projects.locations.clusters.setLocations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations"
                },
                "setMasterAuth": {
                  "path": "v1/{+name}:setMasterAuth",
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "id": "container.projects.locations.clusters.delete",
                  "path": "v1/{+name}"
                },
                "updateMaster": {
                  "description": "Updates the master for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "path": "v1/{+name}:updateMaster",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.updateMaster"
                },
                "list": {
                  "id": "container.projects.locations.clusters.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "path": "v1/{+parent}/clusters",
                  "parameters": {
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "setMaintenancePolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "httpMethod": "POST",
                  "description": "Sets the maintenance policy for a cluster.",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:setMaintenancePolicy",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setLogging": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Sets the logging service for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "id": "container.projects.locations.clusters.setLogging",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
[...]
