{
  "servicePath": "",
  "version": "v1",
  "description": "Enables bots to fetch information and perform actions in Hangouts Chat.",
  "revision": "20200909",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://chat.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "flatPath": "v1/media/{mediaId}",
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "id": "chat.media.download",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Media"
          },
          "path": "v1/media/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ]
        }
      }
    },
    "spaces": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "id": "chat.spaces.get",
          "response": {
            "$ref": "Space"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "pattern": "^spaces/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/spaces/{spacesId}",
          "httpMethod": "GET",
          "description": "Returns a space."
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.",
              "type": "integer"
            }
          },
          "path": "v1/spaces",
          "description": "Lists spaces the caller is a member of.",
          "parameterOrder": [],
          "id": "chat.spaces.list",
          "flatPath": "v1/spaces",
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "httpMethod": "GET"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a membership.",
              "response": {
                "$ref": "Membership"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the membership to be retrieved, in the form \"spaces/*/members/*\". Example: spaces/AAAAMpdlehY/members/105115627578887013105",
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "chat.spaces.members.get",
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^spaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the space for which membership list is to be fetched, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return.",
                  "type": "string"
                }
              },
              "flatPath": "v1/spaces/{spacesId}/members",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/members",
              "description": "Lists human memberships in a space.",
              "id": "chat.spaces.members.list"
            }
          }
        },
        "messages": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$"
                }
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "chat.spaces.messages.delete",
              "description": "Deletes a message.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Returns a message.",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "id": "chat.spaces.messages.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the message to be retrieved, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "create": {
              "id": "chat.spaces.messages.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "type": "string",
                  "pattern": "^spaces/[^/]+$",
                  "required": true
                },
                "threadKey": {
                  "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "response": {
                "$ref": "Message"
              },
              "description": "Creates a message.",
              "httpMethod": "POST",
              "path": "v1/{+parent}/messages",
              "flatPath": "v1/spaces/{spacesId}/messages"
            },
            "update": {
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "PUT",
              "path": "v1/{+name}",
              "id": "chat.spaces.messages.update",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "location": "path",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The field paths to be updated, comma separated if there are multiple. Currently supported field paths: * text * cards",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Updates a message.",
              "response": {
                "$ref": "Message"
              }
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
                      "required": true,
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}",
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API.",
                  "response": {
                    "$ref": "Attachment"
                  },
                  "path": "v1/{+name}",
                  "id": "chat.spaces.messages.attachments.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "OnClick": {
      "properties": {
        "openLink": {
          "description": "This onclick triggers an open link action if specified.",
          "$ref": "OpenLink"
        },
        "action": {
          "description": "A form action will be trigger by this onclick if specified.",
          "$ref": "FormAction"
        }
      },
      "description": "An onclick action (e.g. open a link).",
      "id": "OnClick",
      "type": "object"
    },
    "ListSpacesResponse": {
      "type": "object",
      "properties": {
        "spaces": {
          "description": "List of spaces in the requested (or first) page.",
          "items": {
            "$ref": "Space"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results. Tokens expire in an hour. An error is thrown if an expired token is passed.",
          "type": "string"
        }
      },
      "id": "ListSpacesResponse"
    },
    "TextButton": {
      "description": "A button with text and onclick action.",
      "id": "TextButton",
      "properties": {
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action of the button."
        },
        "text": {
          "description": "The text of the button.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FormAction": {
      "id": "FormAction",
      "type": "object",
      "properties": {
        "actionMethodName": {
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the bot as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.",
          "type": "string"
        },
        "parameters": {
          "description": "List of action parameters.",
          "type": "array",
          "items": {
            "$ref": "ActionParameter"
          }
        }
      },
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form."
    },
    "CardHeader": {
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image in the card header."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        },
        "imageStyle": {
          "description": "The image's type (e.g. square border or circular border).",
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "type": "string"
        },
        "title": {
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CardHeader"
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The user's display name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "User type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Bot user."
          ]
        },
        "name": {
          "description": "Resource name, in the format \"users/*\".",
          "type": "string"
        },
        "domainId": {
          "description": "Obfuscated domain information.",
          "type": "string"
        }
      },
      "description": "A user in Hangouts Chat."
    },
    "Card": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the card."
        },
        "cardActions": {
          "description": "The actions of this card.",
          "type": "array",
          "items": {
            "$ref": "CardAction"
          }
        },
        "sections": {
          "type": "array",
          "items": {
            "$ref": "Section"
          },
          "description": "Sections are separated by a line divider."
        },
        "header": {
          "$ref": "CardHeader",
          "description": "The header of the card. A header usually contains a title and an image."
        }
      },
      "id": "Card",
      "description": "A card is a UI element that can contain UI widgets such as texts, images.",
      "type": "object"
    },
    "WidgetMarkup": {
      "description": "A widget is a UI element that presents texts, images, etc.",
      "id": "WidgetMarkup",
      "type": "object",
      "properties": {
        "textParagraph": {
          "$ref": "TextParagraph",
          "description": "Display a text paragraph in this widget."
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "type": "array",
          "description": "A list of buttons. Buttons is also oneof data and only one of these fields should be set."
        },
        "keyValue": {
          "description": "Display a key value item in this widget.",
          "$ref": "KeyValue"
        },
        "image": {
          "$ref": "Image",
          "description": "Display an image in this widget."
        }
      }
    },
    "Section": {
      "type": "object",
      "id": "Section",
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float).",
      "properties": {
        "header": {
          "type": "string",
          "description": "The header of the section, text formatted supported."
        },
        "widgets": {
          "items": {
            "$ref": "WidgetMarkup"
          },
          "type": "array",
          "description": "A section must contain at least 1 widget."
        }
      }
    },
    "AttachmentDataRef": {
      "properties": {
        "resourceName": {
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data.",
          "type": "string"
        }
      },
      "id": "AttachmentDataRef",
      "type": "object",
      "description": "A reference to the data of an attachment."
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of memberships in the requested (or first) page.",
          "items": {
            "$ref": "Membership"
          }
        },
        "nextPageToken": {
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results.",
          "type": "string"
        }
      }
    },
    "KeyValue": {
      "id": "KeyValue",
      "type": "object",
      "properties": {
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        },
        "onClick": {
          "description": "The onclick action. Only the top label, bottom label and content region are clickable.",
          "$ref": "OnClick"
        },
        "icon": {
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "button": {
          "$ref": "Button",
          "description": "A button that can be clicked to trigger an action."
        },
        "content": {
          "description": "The text of the content. Formatted text supported and always required.",
          "type": "string"
        },
        "bottomLabel": {
          "description": "The text of the bottom label. Formatted text supported.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "topLabel": {
          "description": "The text of the top label. Formatted text supported.",
          "type": "string"
        }
      },
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button."
    },
    "Image": {
      "description": "An image that is specified by a URL and can have an onclick action.",
      "id": "Image",
      "type": "object",
      "properties": {
        "aspectRatio": {
          "type": "number",
          "description": "The aspect ratio of this image (width/height). This field allows clients to reserve the right height for the image while waiting for it to load. It's not meant to override the native aspect ratio of the image. If unset, the server fills it by prefetching the image.",
          "format": "double"
        },
        "imageUrl": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        }
      }
    },
    "ImageButton": {
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        },
        "icon": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The icon specified by an enum that indices to an icon provided by Chat API.",
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify."
        }
      },
      "type": "object",
      "description": "An image button with an onclick action.",
      "id": "ImageButton"
    },
    "UserMentionMetadata": {
      "properties": {
        "type": {
          "description": "The type of user mention.",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ]
        },
        "user": {
          "description": "The user mentioned.",
          "$ref": "User"
        }
      },
      "id": "UserMentionMetadata",
      "description": "Annotation metadata for user mentions (@).",
      "type": "object"
    },
    "ActionResponse": {
      "type": "object",
      "description": "Parameters that a bot can use to configure how it's response is posted.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "REQUEST_CONFIG"
          ],
          "description": "The type of bot response.",
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the bot's own message. (Only after CARD_CLICKED events.)",
            "Privately ask the user for additional auth or config."
          ],
          "type": "string"
        },
        "url": {
          "description": "URL for users to auth or config. (Only for REQUEST_CONFIG response types.)",
          "type": "string"
        }
      },
      "id": "ActionResponse"
    },
    "DriveDataRef": {
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The id for the drive file, for use with the Drive API."
        }
      },
      "description": "A reference to the data of a drive attachment.",
      "type": "object",
      "id": "DriveDataRef"
    },
    "Membership": {
      "description": "Represents a membership relation in Hangouts Chat.",
      "properties": {
        "member": {
          "$ref": "User",
          "description": "Member details."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the membership, in the form \"spaces/*/members/*\". Example: spaces/AAAAMpdlehY/members/105115627578887013105"
        },
        "createTime": {
          "description": "The creation time of the membership a.k.a the time at which the member joined the space, if applicable.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ],
          "description": "State of the membership.",
          "type": "string",
          "enumDescriptions": [
            "Default, do not use.",
            "The user has joined the space.",
            "The user has been invited, is able to join the space, but currently has not joined.",
            "The user is not a member of the space, has not been invited and is not able to join the space."
          ]
        }
      },
      "type": "object",
      "id": "Membership"
    },
    "TextParagraph": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "description": "A paragraph of text. Formatted text supported.",
      "id": "TextParagraph",
      "type": "object"
    },
    "ActionParameter": {
      "id": "ActionParameter",
      "properties": {
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        }
      },
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "type": "object"
    },
    "CardAction": {
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser.",
      "id": "CardAction",
      "properties": {
        "actionLabel": {
          "type": "string",
          "description": "The label used to be displayed in the action menu item."
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action for this action item."
        }
      },
      "type": "object"
    },
    "Button": {
      "description": "A button. Can be a text button or an image button.",
      "properties": {
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        },
        "imageButton": {
          "description": "A button with image and onclick action.",
          "$ref": "ImageButton"
        }
      },
      "type": "object",
      "id": "Button"
    },
    "Space": {
      "properties": {
        "name": {
          "description": "Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAMpdlehYs",
          "type": "string"
        },
        "singleUserBotDm": {
          "type": "boolean",
          "description": "Whether the space is a DM between a bot and a single human."
        },
        "threaded": {
          "description": "Whether the messages are threaded in this space.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name (only if the space is a room). Please note that this field might not be populated in direct messages between humans."
        },
        "type": {
          "enumDescriptions": [
            "",
            "Multi-user spaces such as rooms and DMs between humans.",
            "1:1 Direct Message between a human and a bot, where all messages are flat."
          ],
          "type": "string",
          "description": "Output only. The type of a space. This is deprecated. Use `single_user_bot_dm` instead.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ]
        }
      },
      "type": "object",
      "id": "Space",
      "description": "A room or DM in Hangouts Chat."
    },
    "OpenLink": {
      "type": "object",
      "id": "OpenLink",
      "description": "A link that opens a new window.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to open."
        }
      }
    },
    "Thread": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name, in the form \"spaces/*/threads/*\". Example: spaces/AAAAMpdlehY/threads/UMxbHmzDlr4"
        }
      },
      "description": "A thread in Hangouts Chat.",
      "id": "Thread",
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "description": "An attachment in Hangouts Chat.",
      "properties": {
        "attachmentDataRef": {
          "description": "A reference to the attachment data. This is used with the media API to download the attachment data.",
          "$ref": "AttachmentDataRef"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\"."
        },
        "contentName": {
          "type": "string",
          "description": "The original file name for the content, not the full path."
        },
        "thumbnailUri": {
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Bots should not use this URL to download attachment content.",
          "type": "string"
        },
        "downloadUri": {
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Bots should not use this URL to download attachment content.",
          "type": "string"
        },
        "source": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The source of the attachment.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ]
        },
        "contentType": {
          "description": "The content type (MIME type) of the file.",
          "type": "string"
        },
        "driveDataRef": {
          "description": "A reference to the drive attachment. This is used with the Drive API.",
          "$ref": "DriveDataRef"
        }
      },
      "id": "Attachment"
    },
    "Message": {
      "id": "Message",
      "properties": {
        "thread": {
          "description": "The thread the message belongs to.",
          "$ref": "Thread"
        },
        "argumentText": {
          "type": "string",
          "description": "Plain-text body of the message with all bot mentions stripped out."
        },
        "createTime": {
          "description": "Output only. The time at which the message was created in Hangouts Chat server.",
          "format": "google-datetime",
          "type": "string"
        },
        "actionResponse": {
          "description": "Input only. Parameters that a bot can use to configure how its response is posted.",
          "$ref": "ActionResponse"
        },
        "annotations": {
          "type": "array",
          "items": {
            "$ref": "Annotation"
          },
          "description": "Output only. Annotations associated with the text in this message."
        },
        "space": {
          "$ref": "Space",
          "description": "The space the message belongs to."
        },
        "cards": {
          "type": "array",
          "items": {
            "$ref": "Card"
          },
          "description": "Rich, formatted and interactive cards that can be used to display UI elements such as: formatted texts, buttons, clickable images. Cards are normally displayed below the plain-text body of the message."
        },
        "text": {
          "description": "Plain-text body of the message.",
          "type": "string"
        },
        "attachment": {
          "description": "User uploaded attachment.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "previewText": {
          "type": "string",
          "description": "Text for generating preview chips. This text will not be displayed to the user, but any links to images, web pages, videos, etc. included here will generate preview chips."
        },
        "name": {
          "description": "Resource name, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
          "type": "string"
        },
        "fallbackText": {
          "description": "A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications).",
          "type": "string"
        },
        "sender": {
          "description": "The user who created the message.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "A message in Hangouts Chat."
    },
    "DeprecatedEvent": {
      "id": "DeprecatedEvent",
      "properties": {
        "space": {
          "description": "The room or DM in which the event occurred.",
          "$ref": "Space"
        },
        "threadKey": {
          "type": "string",
          "description": "The bot-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information."
        },
        "type": {
          "description": "The type of the event.",
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a room or direct message.",
            "The bot was added to a room or DM.",
            "The bot was removed from a room or DM.",
            "The bot's interactive card was clicked."
          ],
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "The timestamp indicating when the event was dispatched.",
          "format": "google-datetime"
        },
        "message": {
          "$ref": "Message",
          "description": "The message that triggered the event, if applicable."
        },
        "action": {
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/hangouts/chat/how-tos/cards-onclick) for more information.",
          "$ref": "FormAction"
        },
        "user": {
          "$ref": "User",
          "description": "The user that triggered the event."
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the bot should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/hangouts/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        },
        "token": {
          "description": "A secret value that bots can use to verify if a request is from Google. The token is randomly generated by Google, remains static, and can be obtained from the Google Chat API configuration page in the Cloud Console. Developers can revoke/regenerate it if needed from the same page.",
          "type": "string"
        }
      },
      "description": "Google Chat events.",
      "type": "object"
    },
    "Media": {
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Media",
      "description": "Media resource."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Annotation": {
      "type": "object",
      "properties": {
        "length": {
          "type": "integer",
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "format": "int32"
        },
        "startIndex": {
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to.",
          "type": "integer",
          "format": "int32"
        },
        "userMention": {
          "$ref": "UserMentionMetadata",
          "description": "The metadata of user mention."
        },
        "type": {
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned."
          ],
          "description": "The type of this annotation.",
          "type": "string"
        }
      },
      "id": "Annotation",
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/107946847022116401880\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```"
    }
  },
  "title": "Hangouts Chat API",
  "id": "chat:v1",
  "canonicalName": "Hangouts Chat",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "rootUrl": "https://chat.googleapis.com/",
  "name": "chat",
  "batchPath": "batch",
  "protocol": "rest",
  "version_module": true,
  "documentationLink": "https://developers.google.com/hangouts/chat"
}
