{
  "baseUrl": "https://billingbudgets.googleapis.com/",
  "version": "v1beta1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudBillingBudgetsV1beta1Budget": {
      "description": "A budget is a plan that describes what you expect to spend on Cloud\nprojects, plus the rules to execute as spend is tracked against that plan,\n(for example, send an alert when 90% of the target spend is met).\nCurrently all plans are monthly budgets so the usage period(s) tracked are\nimplied (calendar months of usage back-to-back).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the budget.\nThe resource name implies the scope of a budget. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`."
        },
        "allUpdatesRule": {
          "$ref": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule",
          "description": "Optional. Rules to apply to notifications sent based on budget spend and thresholds."
        },
        "budgetFilter": {
          "description": "Optional. Filters that define which resources are used to compute\nthe actual spend against the budget.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1Filter"
        },
        "thresholdRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBudgetsV1beta1ThresholdRule"
          },
          "description": "Optional. Rules that trigger alerts (notifications of thresholds\nbeing crossed) when spend exceeds the specified percentages of the budget."
        },
        "displayName": {
          "description": "User data for display name in UI.\nValidation: \u003c= 60 chars.",
          "type": "string"
        },
        "amount": {
          "$ref": "GoogleCloudBillingBudgetsV1beta1BudgetAmount",
          "description": "Required. Budgeted amount."
        },
        "etag": {
          "description": "Optional. Etag to validate that the object is unchanged for a\nread-modify-write operation.\nAn empty etag will cause an update to overwrite other changes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBudgetsV1beta1Budget"
    },
    "GoogleCloudBillingBudgetsV1beta1Filter": {
      "properties": {
        "creditTypesTreatment": {
          "type": "string",
          "enum": [
            "CREDIT_TYPES_TREATMENT_UNSPECIFIED",
            "INCLUDE_ALL_CREDITS",
            "EXCLUDE_ALL_CREDITS"
          ],
          "description": "Optional. If not set, default behavior is `INCLUDE_ALL_CREDITS`.",
          "enumDescriptions": [
            "",
            "All types of credit are subtracted from the gross cost to determine the\nspend for threshold calculations.",
            "All types of credit are added to the net cost to determine the spend for\nthreshold calculations."
          ]
        },
        "subaccounts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A set of subaccounts of the form `billingAccounts/{account_id}`, specifying\nthat usage from only this set of subaccounts should be included in the\nbudget. If a subaccount is set to the name of the parent account,\nusage from the parent account will be included. If omitted, the\nreport will include usage from the parent account and all\nsubaccounts, if they exist.",
          "type": "array"
        },
        "services": {
          "type": "array",
          "description": "Optional. A set of services of the form `services/{service_id}`,\nspecifying that usage from only this set of services should be\nincluded in the budget. If omitted, the report will include usage for\nall the services.\nThe service names are available through the Catalog API:\nhttps://cloud.google.com/billing/v1/how-tos/catalog-api.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "Optional. A single label and value pair specifying that usage from only this set of\nlabeled resources should be included in the budget. Currently, multiple\nentries or multiple values per entry are not allowed. If omitted, the\nreport will include all labeled and unlabeled usage.",
          "type": "object"
        },
        "projects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A set of projects of the form `projects/{project}`,\nspecifying that usage from only this set of projects should be\nincluded in the budget. If omitted, the report will include all usage for\nthe billing account, regardless of which project the usage occurred on.\nOnly zero or one project can be specified currently."
        }
      },
      "id": "GoogleCloudBillingBudgetsV1beta1Filter",
      "description": "A filter for a budget, limiting the scope of the cost to calculate.",
      "type": "object"
    },
    "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse": {
      "id": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse",
      "description": "Response for ListBudgets",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more budgets that match the\nrequest; this value should be passed in a new `ListBudgetsRequest`.",
          "type": "string"
        },
        "budgets": {
          "description": "List of the budgets owned by the requested billing account.",
          "items": {
            "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule": {
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "Required. The name of the Cloud Pub/Sub topic where budget related messages will be\npublished, in the form `projects/{project_id}/topics/{topic_id}`. Updates\nare sent at regular intervals to the topic.\nThe topic needs to be created before the budget is created; see\nhttps://cloud.google.com/billing/docs/how-to/budgets#manage-notifications\nfor more details.\nCaller is expected to have\n`pubsub.topics.setIamPolicy` permission on the topic when it's set for a\nbudget, otherwise, the API call will fail with PERMISSION_DENIED. See\nhttps://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications\nfor more details on Pub/Sub roles and permissions."
        },
        "monitoringNotificationChannels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Targets to send notifications to when a threshold is exceeded. This is in\naddition to default recipients who have billing account roles.\nThe value is the full REST resource name of a monitoring notification\nchannel with the form\n`projects/{project_id}/notificationChannels/{channel_id}`. A maximum of 5\nchannels are allowed. See\nhttps://cloud.google.com/billing/docs/how-to/budgets-notification-recipients\nfor more details."
        },
        "schemaVersion": {
          "description": "Required. The schema version of the notification sent to `pubsub_topic`.\nOnly \"1.0\" is accepted. It represents the JSON schema as defined in\nhttps://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification_format",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule",
      "description": "AllUpdatesRule defines notifications that are sent based on budget spend\nand thresholds."
    },
    "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest": {
      "id": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest",
      "description": "Request for CreateBudget",
      "type": "object",
      "properties": {
        "budget": {
          "description": "Required. Budget to create.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
        }
      }
    },
    "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest": {
      "id": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest",
      "type": "object",
      "description": "Request for UpdateBudget",
      "properties": {
        "budget": {
          "description": "Required. The updated budget object.\nThe budget to update is specified by the budget name in the budget.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
        },
        "updateMask": {
          "description": "Optional. Indicates which fields in the provided budget to update.\nRead-only fields (such as `name`) cannot be changed. If this is not\nprovided, then only fields with non-default values from the request are\nupdated. See\nhttps://developers.google.com/protocol-buffers/docs/proto3#default for more\ndetails about default values.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount": {
      "properties": {},
      "id": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount",
      "description": "Describes a budget amount targeted to last period's spend.\nAt this time, the amount is automatically 100% of last period's spend;\nthat is, there are no other options yet.\nFuture configuration will be described here (for example, configuring a\npercentage of last period's spend).",
      "type": "object"
    },
    "GoogleCloudBillingBudgetsV1beta1ThresholdRule": {
      "description": "ThresholdRule contains a definition of a threshold which triggers\nan alert (a notification of a threshold being crossed) to be sent when\nspend goes above the specified amount.\nAlerts are automatically e-mailed to users with the Billing Account\nAdministrator role or the Billing Account User role.\nThe thresholds here have no effect on notifications sent to anything\nconfigured under `Budget.all_updates_rule`.",
      "id": "GoogleCloudBillingBudgetsV1beta1ThresholdRule",
      "type": "object",
      "properties": {
        "spendBasis": {
          "enumDescriptions": [
            "Unspecified threshold basis.",
            "Use current spend as the basis for comparison against the threshold.",
            "Use forecasted spend for the period as the basis for comparison against\nthe threshold."
          ],
          "description": "Optional. The type of basis used to determine if spend has passed the\nthreshold. Behavior defaults to CURRENT_SPEND if not set.",
          "enum": [
            "BASIS_UNSPECIFIED",
            "CURRENT_SPEND",
            "FORECASTED_SPEND"
          ],
          "type": "string"
        },
        "thresholdPercent": {
          "description": "Required. Send an alert when this threshold is exceeded.\nThis is a 1.0-based percentage, so 0.5 = 50%.\nValidation: non-negative number.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudBillingBudgetsV1beta1BudgetAmount": {
      "description": "The budgeted amount for each usage period.",
      "id": "GoogleCloudBillingBudgetsV1beta1BudgetAmount",
      "properties": {
        "lastPeriodAmount": {
          "$ref": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount",
          "description": "Use the last period's actual spend as the budget for the present period."
        },
        "specifiedAmount": {
          "$ref": "GoogleTypeMoney",
          "description": "A specified amount to use as the budget.\n`currency_code` is optional. If specified, it must match the\ncurrency of the billing account. The `currency_code` is provided on\noutput."
        }
      },
      "type": "object"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "id": "GoogleTypeMoney",
      "type": "object"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
  "resources": {
    "billingAccounts": {
      "resources": {
        "budgets": {
          "methods": {
            "get": {
              "id": "billingbudgets.billingAccounts.budgets.get",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a budget.\n\nWARNING: There are some fields exposed on the Google Cloud Console that\naren't available on this API. When reading from the API, you will not\nsee these fields in the return value, though they may have been set\nin the Cloud Console.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of budget to get. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "type": "string"
                }
              }
            },
            "delete": {
              "id": "billingbudgets.billingAccounts.budgets.delete",
              "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the budget to delete. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a budget. Returns successfully if already deleted."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of budgets for a billing account.\n\nWARNING: There are some fields exposed on the Google Cloud Console that\naren't available on this API. When reading from the API, you will not\nsee these fields in the return value, though they may have been set\nin the Cloud Console.",
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse"
              },
              "path": "v1beta1/{+parent}/budgets",
              "httpMethod": "GET",
              "id": "billingbudgets.billingAccounts.budgets.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. The value returned by the last `ListBudgetsResponse` which\nindicates that this is a continuation of a prior `ListBudgets` call,\nand that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of billing account to list budgets under. Values\nare of the form `billingAccounts/{billingAccountId}`.",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of budgets to return per page.\nThe default and maximum value are 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets"
            },
            "create": {
              "description": "Creates a new budget. See\n\u003ca href=\"https://cloud.google.com/billing/quotas\"\u003eQuotas and limits\u003c/a\u003e\nfor more information on the limits of the number of budgets you can create.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The name of the billing account to create the budget in. Values\nare of the form `billingAccounts/{billingAccountId}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest"
              },
              "id": "billingbudgets.billingAccounts.budgets.create",
              "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
              },
              "path": "v1beta1/{+parent}/budgets"
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a budget and returns the updated budget.\n\nWARNING: There are some fields exposed on the Google Cloud Console that\naren't available on this API. Budget fields that are not exposed in\nthis API will not be changed by this method.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name of the budget.\nThe resource name implies the scope of a budget. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "type": "string"
                }
              },
              "id": "billingbudgets.billingAccounts.budgets.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest"
              }
            }
          }
        }
      }
    }
  },
  "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
  "rootUrl": "https://billingbudgets.googleapis.com/",
  "ownerName": "Google",
  "title": "Cloud Billing Budget API",
  "protocol": "rest",
  "mtlsRootUrl": "https://billingbudgets.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "name": "billingbudgets",
  "canonicalName": "CloudBillingBudget",
  "id": "billingbudgets:v1beta1",
  "ownerDomain": "google.com",
  "revision": "20200711"
}
