{
  "basePath": "/analytics/v3/",
  "description": "Views and manages your Google Analytics data.",
  "documentationLink": "https://developers.google.com/analytics/",
  "servicePath": "analytics/v3/",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "false"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "version": "v3",
  "batchPath": "batch/analytics/v3",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20190807",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "resources": {
    "provisioning": {
      "methods": {
        "createAccountTree": {
          "id": "analytics.provisioning.createAccountTree",
          "path": "provisioning/createAccountTree",
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "description": "Provision account.",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "httpMethod": "POST"
        },
        "createAccountTicket": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "httpMethod": "POST",
          "description": "Creates an account ticket.",
          "request": {
            "$ref": "AccountTicket"
          },
          "response": {
            "$ref": "AccountTicket"
          },
          "path": "provisioning/createAccountTicket",
          "id": "analytics.provisioning.createAccountTicket"
        }
      }
    },
    "management": {
      "resources": {
        "accounts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.accounts.list",
              "description": "Lists all accounts to which the user has access.",
              "response": {
                "$ref": "Accounts"
              },
              "path": "management/accounts",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of accounts to include in this response.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "uploads": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "description": "List uploads to which the user has access.",
              "response": {
                "$ref": "Upload"
              },
              "id": "analytics.management.uploads.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property Id for the upload to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account Id for the upload to retrieve."
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for upload to retrieve.",
                  "pattern": ".{22}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "uploadId": {
                  "pattern": ".{22}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Upload Id to retrieve."
                }
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "description": "List uploads to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.uploads.list",
              "response": {
                "$ref": "Uploads"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "description": "Web property Id for the uploads to retrieve.",
                  "required": true
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of uploads to include in this response.",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                },
                "customDataSourceId": {
                  "required": true,
                  "description": "Custom data source Id for uploads to retrieve.",
                  "pattern": ".{22}",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account Id for the uploads to retrieve.",
                  "location": "path",
                  "pattern": "\\d+",
                  "required": true
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "format": "int32"
                }
              }
            },
            "deleteUploadData": {
              "parameters": {
                "customDataSourceId": {
                  "pattern": ".{22}",
                  "type": "string",
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to be deleted.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the uploads to be deleted.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Delete data associated with a previous upload.",
              "id": "analytics.management.uploads.deleteUploadData",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData"
            },
            "uploadData": {
              "response": {
                "$ref": "Upload"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "httpMethod": "POST",
              "description": "Upload data for a custom data source.",
              "id": "analytics.management.uploads.uploadData",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                },
                "maxSize": "1GB",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account Id associated with the upload.",
                  "location": "path"
                },
                "webPropertyId": {
                  "pattern": "UA-\\d+-\\d+",
                  "required": true,
                  "type": "string",
                  "description": "Web property UA-string associated with the upload.",
                  "location": "path"
                },
                "customDataSourceId": {
                  "type": "string",
                  "location": "path",
                  "description": "Custom data source Id to which the data being uploaded belongs.",
                  "required": true
                }
              },
              "supportsMediaUpload": true
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webpropertyUserLinks.list",
              "description": "Lists webProperty-user links for a given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "type": "integer"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID which the given web property belongs to."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "required": true
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Adds a new user to the given web property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.webpropertyUserLinks.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Web Property ID to create the user link for."
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "update": {
              "description": "Updates permissions for an existing user on the given web property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "EntityUserLink"
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "linkId": {
                  "description": "Link ID to update the account-user link for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to update the account-user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to update the account-user link for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "id": "analytics.management.webpropertyUserLinks.update"
            },
            "delete": {
              "description": "Removes a user from the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "id": "analytics.management.webpropertyUserLinks.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "webPropertyId": {
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                }
              }
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "insert": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "description": "Adds a new user to the given view (profile).",
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to create the user link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.profileUserLinks.insert"
            },
            "list": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account ID which the given view (profile) belongs to."
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of profile-user links to include in this response."
                },
                "webPropertyId": {
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "description": "Lists profile-user links for a given view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "id": "analytics.management.profileUserLinks.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given view (profile).",
              "httpMethod": "PUT",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "View (Profile ID) to update the user link for."
                },
                "webPropertyId": {
                  "description": "Web Property ID to update the user link for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to update the user link for.",
                  "location": "path",
                  "type": "string"
                },
                "linkId": {
                  "description": "Link ID to update the user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.profileUserLinks.update",
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileUserLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Removes a user from the given view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                },
                "linkId": {
                  "description": "Link ID to delete the user link for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web Property ID to delete the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to delete the user link for."
                }
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000."
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.accountSummaries.list",
              "response": {
                "$ref": "AccountSummaries"
              },
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "httpMethod": "GET",
              "path": "management/accountSummaries"
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The account ID of the remarketing audience to retrieve."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "required": true,
                  "type": "string"
                },
                "remarketingAudienceId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the remarketing audience to retrieve."
                }
              },
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Gets a remarketing audience to which the user has access.",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "id": "analytics.management.remarketingAudience.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The web property ID of the remarketing audience to update."
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.remarketingAudience.patch",
              "response": {
                "$ref": "RemarketingAudience"
              }
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "The account ID for which to create the remarketing audience.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for which to create the remarketing audience.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a new remarketing audience.",
              "id": "analytics.management.remarketingAudience.insert",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RemarketingAudience"
              }
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists remarketing audiences to which the user has access.",
              "id": "analytics.management.remarketingAudience.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "required": true,
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "location": "path",
                  "type": "string"
                },
                "type": {
                  "default": "all",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "RemarketingAudiences"
              }
            },
            "update": {
              "parameters": {
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the remarketing audience to update.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The account ID of the remarketing audience to update.",
                  "type": "string"
                }
              },
              "description": "Updates an existing remarketing audience.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              },
              "id": "analytics.management.remarketingAudience.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "RemarketingAudience"
              }
            },
            "delete": {
              "id": "analytics.management.remarketingAudience.delete",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which the remarketing audience belongs.",
                  "required": true
                },
                "remarketingAudienceId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the remarketing audience to delete."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the remarketing audience belongs."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "httpMethod": "DELETE",
              "description": "Delete a remarketing audience.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "experiments": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the experiment to delete"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to which the experiment belongs"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to which the experiment belongs",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to which the experiment belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analytics.management.experiments.delete",
              "description": "Delete an experiment.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Experiment"
              },
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID of the experiment to update."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the experiment to update.",
                  "type": "string",
                  "required": true
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID of the experiment to update."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.update",
              "description": "Update an existing experiment."
            },
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "parameters": {
                "experimentId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Experiment ID of the experiment to update."
                },
                "webPropertyId": {
                  "description": "Web property ID of the experiment to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID of the experiment to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "request": {
                "$ref": "Experiment"
              },
              "description": "Update an existing experiment. This method supports patch semantics.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.patch"
            },
            "get": {
              "parameters": {
                "experimentId": {
                  "description": "Experiment ID to retrieve the experiment for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the experiment for.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to retrieve the experiment for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to retrieve the experiment for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "description": "Returns an experiment to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.experiments.get"
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property ID to retrieve experiments for.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of experiments to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "minimum": "1",
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "pattern": "\\d+"
                },
                "accountId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve experiments for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.experiments.list",
              "response": {
                "$ref": "Experiments"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "description": "Lists experiments to which the user has access.",
              "httpMethod": "GET"
            },
            "insert": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to create the experiment for."
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to create the experiment for.",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to create the experiment for.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Experiment"
              },
              "response": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "description": "Create a new experiment.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments"
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "update": {
              "description": "Updates permissions for an existing user on the given account.",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to update the account-user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "description": "Link ID to update the account-user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "PUT",
              "id": "analytics.management.accountUserLinks.update"
            },
            "delete": {
              "description": "Removes a user from the given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "required": true
                },
                "linkId": {
                  "description": "Link ID to delete the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.accountUserLinks.delete"
            },
            "insert": {
              "id": "analytics.management.accountUserLinks.insert",
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks",
              "httpMethod": "POST",
              "description": "Adds a new user to the given account.",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "start-index": {
                  "location": "query",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the user links for."
                },
                "max-results": {
                  "description": "The maximum number of account-user links to include in this response.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              },
              "path": "management/accounts/{accountId}/entityUserLinks",
              "httpMethod": "GET",
              "id": "analytics.management.accountUserLinks.list",
              "description": "Lists account-user links for a given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "patch": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account ID to which profile filter link belongs.",
                  "required": true
                },
                "linkId": {
                  "pattern": "\\d+:\\d+",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the profile filter link to be updated."
                },
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string",
                  "description": "Web property Id to which profile filter link belongs"
                },
                "profileId": {
                  "location": "path",
                  "description": "Profile ID to which filter link belongs",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+"
                }
              },
              "httpMethod": "PATCH",
              "id": "analytics.management.profileFilterLinks.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "response": {
                "$ref": "ProfileFilterLink"
              }
            },
            "get": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to retrieve profile filter link for.",
                  "type": "string",
                  "location": "path"
                },
                "linkId": {
                  "required": true,
                  "description": "ID of the profile filter link.",
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+:\\d+"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID to retrieve profile filter link for.",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Profile ID to retrieve filter link for.",
                  "pattern": "\\d+"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "httpMethod": "GET",
              "id": "analytics.management.profileFilterLinks.get",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Returns a single profile filter link.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new profile filter link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileFilterLinks.insert",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property Id to create profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "description": "Account ID to create profile filter link for.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "Profile ID to create filter link for.",
                  "pattern": "\\d+",
                  "required": true
                }
              },
              "response": {
                "$ref": "ProfileFilterLink"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profileFilterLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "DELETE",
              "description": "Delete a profile filter link.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameters": {
                "profileId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Profile ID to which the filter link belongs."
                },
                "accountId": {
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which the profile filter link belongs."
                },
                "linkId": {
                  "type": "string",
                  "description": "ID of the profile filter link to delete.",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to which the profile filter link belongs."
                }
              }
            },
            "update": {
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "PUT",
              "id": "analytics.management.profileFilterLinks.update",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "description": "Update an existing profile filter link.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs.",
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to which filter link belongs",
                  "location": "path"
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link to be updated.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property Id to which profile filter link belongs",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists all profile filter links for a profile.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve profile filter links for.",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to."
                },
                "max-results": {
                  "description": "The maximum number of profile filter links to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "id": "analytics.management.profileFilterLinks.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "profiles": {
          "methods": {
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve the view (profile) for.",
                  "type": "string",
                  "location": "path",
                  "pattern": "[0-9]+",
                  "required": true
                },
                "webPropertyId": {
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "pattern": "[0-9]+",
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.get",
              "description": "Gets a view (profile) to which the user has access."
            },
            "update": {
              "parameters": {
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the view (profile) to be updated."
                },
                "accountId": {
                  "description": "Account ID to which the view (profile) belongs",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.update",
              "description": "Updates an existing view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "request": {
                "$ref": "Profile"
              }
            },
            "patch": {
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Profile"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "ID of the view (profile) to be updated."
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Web property ID to which the view (profile) belongs"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "analytics.management.profiles.patch"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "httpMethod": "GET",
              "description": "Lists views (profiles) to which the user has access.",
              "response": {
                "$ref": "Profiles"
              },
              "id": "analytics.management.profiles.list",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of views (profiles) to include in this response."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access."
                },
                "start-index": {
                  "minimum": "1",
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "description": "ID of the view (profile) to be deleted.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to delete the view (profile) for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.profiles.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}"
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "id": "analytics.management.profiles.insert",
              "description": "Create a new view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Profile"
              },
              "request": {
                "$ref": "Profile"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to create the view (profile) for."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the view (profile) for.",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a single unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "UnsampledReport"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for."
                },
                "unsampledReportId": {
                  "description": "ID of the unsampled report to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for."
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.unsampledReports.get"
            },
            "list": {
              "parameters": {
                "start-index": {
                  "location": "query",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "UnsampledReports"
              },
              "httpMethod": "GET",
              "id": "analytics.management.unsampledReports.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists unsampled reports to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "delete": {
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to delete the unsampled report for."
                },
                "webPropertyId": {
                  "description": "Web property ID to delete the unsampled reports for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "unsampledReportId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "ID of the unsampled report to be deleted."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the unsampled report for.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "id": "analytics.management.unsampledReports.delete",
              "description": "Deletes an unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ]
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.unsampledReports.insert",
              "response": {
                "$ref": "UnsampledReport"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "UnsampledReport"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to create the unsampled report for.",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to create the unsampled report for."
                }
              },
              "description": "Create a new unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports"
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "description": "Lists segments to which the user has access.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Segments"
              },
              "id": "analytics.management.segments.list",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of segments to include in this response.",
                  "type": "integer"
                },
                "start-index": {
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "format": "int32"
                }
              },
              "path": "management/segments"
            }
          }
        },
        "filters": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists all filters for an account",
              "parameters": {
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "accountId": {
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve filters for.",
                  "location": "path",
                  "type": "string"
                },
                "max-results": {
                  "description": "The maximum number of filters to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.filters.list",
              "response": {
                "$ref": "Filters"
              },
              "path": "management/accounts/{accountId}/filters"
            },
            "get": {
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Returns filters to which the user has access.",
              "parameters": {
                "filterId": {
                  "location": "path",
                  "required": true,
                  "description": "Filter ID to retrieve filters for.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to retrieve filters for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "analytics.management.filters.get",
              "parameterOrder": [
                "accountId",
                "filterId"
              ]
            },
            "update": {
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameters": {
                "filterId": {
                  "description": "ID of the filter to be updated.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the filter belongs.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Filter"
              },
              "httpMethod": "PUT",
              "description": "Updates an existing filter.",
              "id": "analytics.management.filters.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "request": {
                "$ref": "Filter"
              }
            },
            "delete": {
              "response": {
                "$ref": "Filter"
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Delete a filter.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the filter for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "filterId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the filter to be deleted."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.filters.delete"
            },
            "patch": {
              "request": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "response": {
                "$ref": "Filter"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account ID to which the filter belongs."
                },
                "filterId": {
                  "description": "ID of the filter to be updated.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "PATCH",
              "id": "analytics.management.filters.patch",
              "description": "Updates an existing filter. This method supports patch semantics."
            },
            "insert": {
              "description": "Create a new filter.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/filters",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID to create filter for.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Filter"
              },
              "id": "analytics.management.filters.insert",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Filter"
              }
            }
          }
        },
        "webproperties": {
          "methods": {
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Webproperty"
              },
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the web property belongs"
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webproperties.update",
              "request": {
                "$ref": "Webproperty"
              },
              "description": "Updates an existing web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}"
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the web property for.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Webproperty"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Webproperty"
              },
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/webproperties",
              "id": "analytics.management.webproperties.insert"
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing web property. This method supports patch semantics.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Webproperty"
              },
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the web property belongs",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "Lists web properties to which the user has access.",
              "response": {
                "$ref": "Webproperties"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.webproperties.list",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "required": true,
                  "type": "string"
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of web properties to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties"
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "description": "Gets a web property to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID to retrieve the web property for.",
                  "pattern": "UA-[0-9]+-[0-9]+"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the web property for.",
                  "pattern": "[0-9]+",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Webproperty"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webproperties.get"
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "httpMethod": "POST",
              "path": "management/clientId:hashClientId",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.clientId.hashClientId",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "description": "Hashes the given Client ID."
            }
          }
        },
        "goals": {
          "methods": {
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "id": "analytics.management.goals.insert",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the goal for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to create the goal for."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the goal for.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Goal"
              },
              "request": {
                "$ref": "Goal"
              },
              "description": "Create a new goal."
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
[...]
