{
  "title": "Cloud Dataproc API",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "name": "dataproc",
  "ownerName": "Google",
  "canonicalName": "Dataproc",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dataproc.googleapis.com/",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "DiagnoseClusterResults": {
      "type": "object",
      "properties": {
        "outputUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics."
        }
      },
      "id": "DiagnoseClusterResults",
      "description": "The location of diagnostic output."
    },
    "WorkflowTemplatePlacement": {
      "properties": {
        "clusterSelector": {
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted.",
          "$ref": "ClusterSelector"
        },
        "managedCluster": {
          "$ref": "ManagedCluster",
          "description": "A cluster that is managed by the workflow."
        }
      },
      "type": "object",
      "id": "WorkflowTemplatePlacement",
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "A list of jobs in a project.",
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "readOnly": true,
          "description": "Output only. Jobs list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
        }
      }
    },
    "JobPlacement": {
      "type": "object",
      "description": "Dataproc job config.",
      "properties": {
        "clusterUuid": {
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted.",
          "type": "string",
          "readOnly": true
        },
        "clusterName": {
          "description": "Required. The name of the cluster where the job will be submitted.",
          "type": "string"
        }
      },
      "id": "JobPlacement"
    },
    "WorkflowMetadata": {
      "type": "object",
      "id": "WorkflowMetadata",
      "description": "A Dataproc workflow template resource.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Workflow start time."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from parameter names to values that were used for those parameters.",
          "type": "object"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Workflow end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "template": {
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "readOnly": true,
          "type": "string"
        },
        "graph": {
          "$ref": "WorkflowGraph",
          "readOnly": true,
          "description": "Output only. The workflow graph."
        },
        "state": {
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "description": "Output only. The workflow state.",
          "readOnly": true
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the target cluster."
        },
        "createCluster": {
          "$ref": "ClusterOperation",
          "readOnly": true,
          "description": "Output only. The create cluster operation metadata."
        },
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The UUID of target cluster."
        },
        "deleteCluster": {
          "$ref": "ClusterOperation",
          "description": "Output only. The delete cluster operation metadata.",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SubmitJobRequest": {
      "id": "SubmitJobRequest",
      "properties": {
        "job": {
          "description": "Required. The job resource.",
          "$ref": "Job"
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest requests with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "description": "A request to submit a job.",
      "type": "object"
    },
    "LoggingConfig": {
      "properties": {
        "driverLogLevels": {
          "additionalProperties": {
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "type": "string"
          },
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'",
          "type": "object"
        }
      },
      "id": "LoggingConfig",
      "description": "The runtime logging config of the job.",
      "type": "object"
    },
    "JobReference": {
      "description": "Encapsulates the full scoping used to reference a job.",
      "type": "object",
      "id": "JobReference",
      "properties": {
        "projectId": {
          "description": "Optional. The ID of the Google Cloud Platform project that the job belongs to. If specified, must match the request project ID.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Optional. The job ID, which must be unique within the project.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.If not specified by the caller, the job ID will be provided by the server."
        }
      }
    },
    "ValueValidation": {
      "type": "object",
      "id": "ValueValidation",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of allowed values for the parameter."
        }
      },
      "description": "Validation based on a list of allowed values."
    },
    "ClusterMetrics": {
      "type": "object",
      "id": "ClusterMetrics",
      "properties": {
        "hdfsMetrics": {
          "description": "The HDFS metrics.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "yarnMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "The YARN metrics.",
          "type": "object"
        }
      },
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "properties": {
        "acceleratorTypeUri": {
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes).Examples: https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80.",
          "type": "string"
        },
        "acceleratorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of the accelerator cards of this type exposed to this instance."
        }
      },
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "type": "object"
    },
    "BasicAutoscalingAlgorithm": {
      "type": "object",
      "description": "Basic algorithm for autoscaling.",
      "id": "BasicAutoscalingAlgorithm",
      "properties": {
        "cooldownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m."
        },
        "yarnConfig": {
          "description": "Required. YARN autoscaling configuration.",
          "$ref": "BasicYarnAutoscalingConfig"
        }
      }
    },
    "ClusterOperation": {
      "description": "The cluster operation triggered by a workflow.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "Output only. Indicates the operation is done.",
          "readOnly": true
        },
        "operationId": {
          "readOnly": true,
          "description": "Output only. The id of the cluster operation.",
          "type": "string"
        },
        "error": {
          "description": "Output only. Error, if operation failed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ClusterOperation",
      "type": "object"
    },
    "KerberosConfig": {
      "properties": {
        "crossRealmTrustRealm": {
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust.",
          "type": "string"
        },
        "keystoreUri": {
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "crossRealmTrustAdminServer": {
          "type": "string",
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        },
        "tgtLifetimeHours": {
          "format": "int32",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "type": "integer"
        },
        "realm": {
          "type": "string",
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm."
        },
        "crossRealmTrustKdc": {
          "type": "string",
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        },
        "rootPrincipalPasswordUri": {
          "description": "Required. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "truststoreUri": {
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "enableKerberos": {
          "type": "boolean",
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster."
        },
        "kdcDbKeyUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database."
        },
        "keyPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc."
        },
        "truststorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "kmsKeyUri": {
          "description": "Required. The uri of the KMS key used to encrypt various sensitive files.",
          "type": "string"
        },
        "crossRealmTrustSharedPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship."
        },
        "keystorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc."
        }
      },
      "id": "KerberosConfig",
      "description": "Specifies Kerberos related configuration.",
      "type": "object"
    },
    "WorkflowNode": {
      "id": "WorkflowNode",
      "description": "The workflow node.",
      "properties": {
        "prerequisiteStepIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Node's prerequisite nodes."
        },
        "stepId": {
          "type": "string",
          "description": "Output only. The name of the node.",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Output only. The error detail.",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The job id; populated after the node enters RUNNING state."
        },
        "state": {
          "description": "Output only. The node state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ]
        }
      },
      "type": "object"
    },
    "InstanceReference": {
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "The unique identifier of the Compute Engine instance."
        },
        "instanceName": {
          "type": "string",
          "description": "The user-friendly name of the Compute Engine instance."
        }
      },
      "type": "object",
      "description": "A reference to a Compute Engine instance.",
      "id": "InstanceReference"
    },
    "HiveJob": {
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "properties": {
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";)."
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array"
        }
      },
      "id": "HiveJob",
      "type": "object"
    },
    "WorkflowTemplate": {
      "id": "WorkflowTemplate",
      "type": "object",
      "description": "A Dataproc workflow template resource.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request."
        },
        "labels": {
          "description": "Optional. The labels to associate with this template. These labels will be propagated to all jobs and clusters created by the workflow instance.Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels can be associated with a template.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time template was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "parameters": {
          "description": "Optional. Template parameters whose values are substituted into the template. Values for parameters must be provided when the template is instantiated.",
          "type": "array",
          "items": {
            "$ref": "TemplateParameter"
          }
        },
        "jobs": {
          "items": {
            "$ref": "OrderedJob"
          },
          "type": "array",
          "description": "Required. The Directed Acyclic Graph of Jobs to submit."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time template was last updated.",
          "type": "string"
        },
        "placement": {
          "description": "Required. WorkflowTemplate scheduling information.",
          "$ref": "WorkflowTemplatePlacement"
        }
      }
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "type": "object",
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        },
        "values": {
          "type": "array",
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "items": {
            "type": "string"
          }
        },
        "consumeReservationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "type": "string",
          "description": "Optional. Type of reservation to consume",
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ]
        }
      }
    },
    "PySparkJob": {
      "properties": {
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array"
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file.",
          "type": "string"
        },
        "pythonFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip."
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        }
      },
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "type": "object",
      "id": "PySparkJob"
    },
    "JobMetadata": {
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. Job submission time.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "Output only. Most recent job status.",
          "$ref": "JobStatus",
          "readOnly": true
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job id."
        },
        "operationType": {
          "readOnly": true,
          "description": "Output only. Operation type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Job Operation metadata.",
      "id": "JobMetadata"
    },
    "ListAutoscalingPoliciesResponse": {
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true
        },
        "policies": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Output only. Autoscaling policies list."
        }
      },
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "ManagedCluster": {
      "description": "Cluster that is managed by the workflow.",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster."
        },
        "config": {
          "description": "Required. The cluster configuration.",
          "$ref": "ClusterConfig"
        }
      },
      "type": "object",
      "id": "ManagedCluster"
    },
    "GetPolicyOptions": {
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "gcePdKmsKeyName": {
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster.",
          "type": "string"
        }
      },
      "id": "EncryptionConfig",
      "description": "Encryption settings for the cluster."
    },
    "YarnApplication": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The application name."
        },
        "trackingUrl": {
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "type": "string"
        },
        "progress": {
          "type": "number",
          "format": "float",
          "description": "Required. The numerical progress of the application, from 1 to 100."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "type": "string",
          "description": "Required. The application state.",
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ]
        }
      },
      "type": "object",
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "YarnApplication"
    },
    "BasicYarnAutoscalingConfig": {
      "properties": {
        "scaleUpMinWorkerFraction": {
          "format": "double",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number"
        },
        "scaleDownFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "BasicYarnAutoscalingConfig",
      "type": "object",
      "description": "Basic autoscaling configurations for YARN."
    },
    "SecurityConfig": {
      "properties": {
        "kerberosConfig": {
          "description": "Kerberos related configuration.",
          "$ref": "KerberosConfig"
        }
      },
      "description": "Security related configuration, including Kerberos.",
      "type": "object",
      "id": "SecurityConfig"
    },
    "Cluster": {
      "id": "Cluster",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to."
        },
        "metrics": {
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "readOnly": true,
          "$ref": "ClusterMetrics"
        },
        "config": {
          "description": "Required. The cluster config. Note that Dataproc may set default values, and values may change when clusters are updated.",
          "$ref": "ClusterConfig"
        },
        "status": {
          "description": "Output only. Cluster status.",
          "readOnly": true,
          "$ref": "ClusterStatus"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterStatus"
          },
          "readOnly": true,
          "description": "Output only. The previous cluster status.",
          "type": "array"
        },
        "clusterUuid": {
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster.",
          "type": "string",
          "readOnly": true
        },
        "clusterName": {
          "description": "Required. The cluster name. Cluster names within a project must be unique. Names of deleted clusters can be reused.",
          "type": "string"
        }
      },
      "description": "Describes the identifying information, config, and status of a cluster of Compute Engine instances.",
      "type": "object"
    },
    "ClusterSelector": {
      "type": "object",
      "id": "ClusterSelector",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used."
        },
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The cluster labels. Cluster must have all labels to match.",
          "type": "object"
        }
      },
      "description": "A selector that chooses target cluster for jobs based on metadata."
    },
    "ListWorkflowTemplatesResponse": {
      "properties": {
        "templates": {
          "type": "array",
          "description": "Output only. WorkflowTemplates list.",
          "readOnly": true,
          "items": {
            "$ref": "WorkflowTemplate"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest.",
          "type": "string"
        }
      },
      "id": "ListWorkflowTemplatesResponse",
      "description": "A response to a request to list workflow templates in a project.",
      "type": "object"
    },
    "EndpointConfig": {
      "type": "object",
      "properties": {
        "httpPorts": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "readOnly": true
        },
        "enableHttpPortAccess": {
          "type": "boolean",
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false."
        }
      },
      "id": "EndpointConfig",
      "description": "Endpoint config for this cluster"
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest.",
          "type": "string",
          "readOnly": true
        },
        "clusters": {
          "readOnly": true,
          "description": "Output only. The clusters in the project.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        }
      },
      "description": "The list of all clusters in a project.",
      "id": "ListClustersResponse"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of members to a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one member.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members to a single role. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "AutoscalingConfig": {
      "description": "Autoscaling Policy config associated with the cluster.",
      "id": "AutoscalingConfig",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobScheduling": {
      "description": "Job scheduling options.",
      "id": "JobScheduling",
      "type": "object",
      "properties": {
        "maxFailuresPerHour": {
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver terminating with non-zero code before job is reported failed.A job may be reported as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum value is 10.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "description": "Request message for GetIamPolicy method."
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ClusterOperationStatus": {
      "description": "The status of the operation.",
      "properties": {
        "innerState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message containing the detailed operation state."
        },
        "state": {
          "description": "Output only. A message containing the operation state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "details": {
          "readOnly": true,
          "description": "Output only. A message containing any operation metadata details.",
          "type": "string"
        },
        "stateStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this state was entered."
        }
      },
      "type": "object",
      "id": "ClusterOperationStatus"
    },
    "DiskConfig": {
      "id": "DiskConfig",
      "type": "object",
      "properties": {
        "bootDiskSizeGb": {
          "format": "int32",
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "type": "integer"
        },
        "numLocalSsds": {
          "format": "int32",
          "description": "Optional. Number of attached SSDs, from 0 to 4 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.",
          "type": "integer"
        },
        "bootDiskType": {
          "type": "string",
          "description": "Optional. Type of the boot disk (default is \"pd-standard\"). Valid values: \"pd-ssd\" (Persistent Disk Solid State Drive) or \"pd-standard\" (Persistent Disk Hard Disk Drive)."
        }
      },
      "description": "Specifies the config of disk options for a group of VM instances."
    },
    "InstantiateWorkflowTemplateRequest": {
      "type": "object",
      "description": "A request to instantiate a workflow template.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "parameters": {
          "type": "object",
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 100 characters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "format": "int32",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "type": "integer"
        }
      },
      "id": "InstantiateWorkflowTemplateRequest"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "NodeInitializationAction": {
      "properties": {
        "executionTimeout": {
          "type": "string",
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "format": "google-duration"
        },
        "executableFile": {
          "description": "Required. Cloud Storage URI of executable file.",
          "type": "string"
        }
      },
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "id": "NodeInitializationAction",
      "type": "object"
    },
    "ManagedGroupConfig": {
      "description": "Specifies the resources used to actively manage an instance group.",
      "id": "ManagedGroupConfig",
      "type": "object",
      "properties": {
        "instanceTemplateName": {
          "type": "string",
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "readOnly": true,
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "type": "string"
        }
      }
    },
    "RegexValidation": {
      "type": "object",
      "id": "RegexValidation",
      "description": "Validation based on regular expressions.",
      "properties": {
        "regexes": {
          "type": "array",
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Job": {
      "type": "object",
      "id": "Job",
      "properties": {
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "statusHistory": {
          "items": {
            "$ref": "JobStatus"
          },
          "description": "Output only. The previous job status.",
          "type": "array",
          "readOnly": true
        },
        "reference": {
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id.",
          "$ref": "JobReference"
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "placement": {
          "description": "Required. Job information, including how, when, and where to run the job.",
          "$ref": "JobPlacement"
        },
        "status": {
          "readOnly": true,
          "$ref": "JobStatus",
          "description": "Output only. The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields."
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "jobUuid": {
          "readOnly": true,
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that may be reused over time.",
          "type": "string"
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "driverOutputResourceUri": {
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program.",
          "readOnly": true,
          "type": "string"
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "done": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled."
        },
        "yarnApplications": {
          "type": "array",
          "items": {
            "$ref": "YarnApplication"
          },
          "readOnly": true,
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job."
        },
        "driverControlFilesUri": {
          "description": "Output only. If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri.",
          "type": "string",
          "readOnly": true
        },
        "hiveJob": {
          "$ref": "HiveJob",
          "description": "Optional. Job is a Hive job."
        }
      },
      "description": "A Dataproc job resource."
    },
    "SparkRJob": {
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "properties": {
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object"
        }
      },
      "id": "SparkRJob",
      "type": "object"
    },
    "OrderedJob": {
      "type": "object",
      "properties": {
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "scheduling": {
          "description": "Optional. Job scheduling configuration.",
          "$ref": "JobScheduling"
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "stepId": {
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "labels": {
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        }
      },
      "id": "OrderedJob",
      "description": "A job executed by the workflow."
    },
    "QueryList": {
      "type": "object",
      "id": "QueryList",
      "description": "A list of queries to run on a cluster.",
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The queries to execute. You do not need to terminate a query with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of an Cloud Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } "
        }
      }
    },
    "ClusterStatus": {
      "id": "ClusterStatus",
      "description": "The status of a cluster and its instances.",
      "properties": {
        "stateStartTime": {
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "DELETING",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. The cluster's state.",
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs."
          ],
          "readOnly": true
        },
        "substate": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information that includes status reported by the agent.",
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if Dataproc loses communication with Agent).Applies to RUNNING state."
          ],
          "type": "string"
        },
        "detail": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Details of cluster's state."
        }
      },
      "type": "object"
    },
    "JobStatus": {
      "properties": {
        "substate": {
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "type": "string",
          "description": "Output only. Additional state information, which includes status reported by the agent."
        },
        "state": {
          "type": "string",
          "description": "Output only. A state message specifying the overall job state.",
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ]
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR."
        },
        "stateStartTime": {
          "description": "Output only. The time when this state was entered.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Dataproc job status.",
      "id": "JobStatus",
      "type": "object"
    },
    "CancelJobRequest": {
      "type": "object",
      "properties": {},
      "description": "A request to cancel a job.",
      "id": "CancelJobRequest"
    },
    "ClusterConfig": {
      "properties": {
        "gceClusterConfig": {
          "$ref": "GceClusterConfig",
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster."
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for worker instances in a cluster."
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for additional worker instances in a cluster."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "initializationActions": {
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          }
        },
        "masterConfig": {
          "description": "Optional. The Compute Engine config settings for the master instance in a cluster.",
          "$ref": "InstanceGroupConfig"
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket."
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for software inside the cluster."
        },
        "configBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging bucket (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket))."
        }
      },
      "description": "The cluster config.",
      "id": "ClusterConfig",
      "type": "object"
    },
    "GceClusterConfig": {
      "id": "GceClusterConfig",
      "type": "object",
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "properties": {
        "metadata": {
          "description": "The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "description": "Optional. The Dataproc service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity for consuming Zonal reservation.",
          "$ref": "ReservationAffinity"
        },
        "tags": {
          "type": "array",
          "description": "The Compute Engine tags to add to all instances (see Tagging instances (https://cloud.google.com/compute/docs/label-or-tag-resources#tags)).",
          "items": {
            "type": "string"
          }
        },
        "internalIpOnly": {
          "description": "Optional. If true, all instances in the cluster will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This internal_ip_only restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses.",
          "type": "boolean"
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The zone where the Compute Engine cluster will be located. On a create request, it is required in the \"global\" region. If omitted in a non-global Dataproc region, the service will pick a zone in the corresponding Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] us-central1-f"
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0 projects/[project_id]/regions/us-east1/subnetworks/sub0 sub0"
        },
        "networkUri": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/global/default projects/[project_id]/regions/global/default default",
          "type": "string"
        },
        "serviceAccountScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control"
        }
      }
    },
    "SoftwareConfig": {
      "description": "Specifies the selection and config of software inside the cluster.",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object"
        },
        "optionalComponents": {
          "description": "Optional. The set of components to activate on the cluster.",
          "enumDescriptions": [
            "Unspecified component. Specifying this will cause Cluster creation to fail.",
            "The Anaconda python distribution.",
            "The Hive Web HCatalog (the REST service for accessing HCatalog).",
            "The Jupyter Notebook.",
            "The Presto query engine.",
            "The Zeppelin notebook.",
            "The Zookeeper service."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution.",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "The Jupyter Notebook.",
              "The Presto query engine.",
              "The Zeppelin notebook.",
              "The Zookeeper service."
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "HIVE_WEBHCAT",
              "JUPYTER",
              "PRESTO",
              "ZEPPELIN",
              "ZOOKEEPER"
            ]
          }
        },
        "imageVersion": {
          "type": "string",
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Dataproc Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported_dataproc_versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version."
        }
      },
      "id": "SoftwareConfig",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "DiagnoseClusterRequest": {
      "properties": {},
      "type": "object",
      "description": "A request to collect cluster diagnostic information.",
      "id": "DiagnoseClusterRequest"
    },
    "SparkJob": {
      "id": "SparkJob",
      "properties": {
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Dataproc job for running Apache Spark (http://spark.apache.org/) applications on YARN."
    },
    "PigJob": {
      "id": "PigJob",
      "properties": {
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "type": "object"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        }
      },
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "type": "object"
    },
    "LifecycleConfig": {
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "properties": {
        "idleDeleteTtl": {
          "format": "google-duration",
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json).",
          "type": "string"
        },
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "autoDeleteTtl": {
          "format": "google-duration",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        },
        "idleStartTime": {
          "format": "google-datetime",
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "LifecycleConfig",
      "type": "object"
    },
    "ClusterOperationMetadata": {
      "type": "object",
      "id": "ClusterOperationMetadata",
      "properties": {
        "operationType": {
          "description": "Output only. The operation type.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Short description of operation.",
          "type": "string",
          "readOnly": true
        },
        "statusHistory": {
          "description": "Output only. The previous operation status.",
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "type": "array",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Errors encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID for the operation.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status."
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the cluster for the operation."
        },
        "labels": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Labels associated with the operation"
        }
      },
      "description": "Metadata describing the operation."
    },
    "PrestoJob": {
      "id": "PrestoJob",
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster.",
      "type": "object",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats"
        },
        "clientTags": {
          "description": "Optional. Presto client tags to attach to this query",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        }
      }
    },
    "SparkSqlJob": {
      "description": "A Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.",
      "id": "SparkSqlJob",
      "type": "object",
      "properties": {
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "type": "array"
        }
      }
    },
    "InstanceGroupConfig": {
      "id": "InstanceGroupConfig",
      "properties": {
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "isPreemptible": {
          "type": "boolean",
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "readOnly": true
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "preemptibility": {
          "type": "string",
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE"
          ],
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible.This option is allowed only for secondary worker groups."
          ]
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default."
        },
        "numInstances": {
          "format": "int32",
          "description": "Optional. The number of VM instances in the instance group. For master instance groups, must be set to 1.",
          "type": "integer"
        },
        "instanceNames": {
          "type": "array",
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "managedGroupConfig": {
          "readOnly": true,
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "$ref": "ManagedGroupConfig"
        },
        "accelerators": {
          "type": "array",
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "instanceReferences": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of references to Compute Engine instances.",
          "items": {
            "$ref": "InstanceReference"
          }
        }
      },
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "type": "object"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "properties": {
        "maxInstances": {
          "format": "int32",
[...]
