{
  "rootUrl": "https://appengine.googleapis.com/",
  "name": "appengine",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "resources": {
    "apps": {
      "resources": {
        "authorizedCertificates": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum results to return per page."
                },
                "view": {
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string",
                  "description": "Controls the set of fields returned in the LIST response.",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "id": "appengine.apps.authorizedCertificates.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              }
            },
            "delete": {
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345."
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Deletes the specified SSL certificate.",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "appengine.apps.authorizedCertificates.delete",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "httpMethod": "DELETE"
            },
            "patch": {
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.patch",
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "format": "google-fieldmask"
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              }
            },
            "create": {
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "description": "Uploads the specified SSL certificate.",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "appengine.apps.authorizedCertificates.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "request": {
                "$ref": "AuthorizedCertificate"
              }
            },
            "get": {
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "description": "Gets the specified SSL certificate.",
              "parameters": {
                "authorizedCertificatesId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "view": {
                  "description": "Controls the set of fields returned in the GET response.",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedCertificates.get"
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1alpha/apps/{appsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service will select a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page."
                }
              },
              "path": "v1alpha/apps/{appsId}/locations",
              "id": "appengine.apps.locations.list",
              "parameterOrder": [
                "appsId"
              ]
            },
            "get": {
              "parameters": {
                "locationsId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Resource name for the location.",
                  "type": "string"
                }
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "appengine.apps.locations.get",
              "response": {
                "$ref": "Location"
              },
              "path": "v1alpha/apps/{appsId}/locations/{locationsId}"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "id": "appengine.apps.operations.list",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v1alpha/apps/{appsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "path": "v1alpha/apps/{appsId}/operations",
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "operationsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. The name of the operation resource."
                }
              },
              "id": "appengine.apps.operations.get",
              "httpMethod": "GET",
              "path": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "domainMappings": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "appengine.apps.domainMappings.delete",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com."
                }
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "parameters": {
                "noManagedCertificate": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask."
                },
                "updateMask": {
                  "description": "Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string"
                },
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "request": {
                "$ref": "DomainMapping"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "id": "appengine.apps.domainMappings.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource."
            },
            "list": {
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "httpMethod": "GET",
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "description": "Lists the domain mappings on an application.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.domainMappings.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "format": "int32"
                },
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "appsId"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.domainMappings.get",
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "description": "Gets the specified domain mapping.",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path"
                },
                "overrideStrategy": {
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "location": "query"
                },
                "noManagedCertificate": {
                  "location": "query",
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "httpMethod": "POST",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "id": "appengine.apps.domainMappings.create"
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "id": "appengine.apps.authorizedDomains.list",
              "description": "Lists all domains the user is authorized to administer.",
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "path": "v1alpha/apps/{appsId}/authorizedDomains",
              "flatPath": "v1alpha/apps/{appsId}/authorizedDomains",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "revision": "20210315",
  "description": "Provisions and manages developers' App Engine applications.",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1alpha",
  "schemas": {
    "LocationMetadata": {
      "properties": {
        "searchApiAvailable": {
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "readOnly": true
        },
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "LocationMetadata"
    },
    "CreateVersionMetadataV1Alpha": {
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "id": "CreateVersionMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "AuthorizedCertificate": {
      "type": "object",
      "id": "AuthorizedCertificate",
      "properties": {
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "domainNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly"
        },
        "managedCertificate": {
          "$ref": "ManagedCertificate",
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly"
        },
        "domainMappingsCount": {
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
          "format": "google-datetime"
        },
        "visibleDomainMappings": {
          "items": {
            "type": "string"
          },
          "description": "The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly"
        },
        "name": {
          "type": "string",
          "description": "Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly"
        }
      },
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains."
    },
    "OperationMetadataV1Beta": {
      "id": "OperationMetadataV1Beta",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "CertificateRawData": {
      "description": "An SSL certificate obtained from a certificate authority.",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly"
        },
        "publicCertificate": {
          "type": "string",
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
        }
      },
      "type": "object",
      "id": "CertificateRawData"
    },
    "OperationMetadataV1Alpha": {
      "id": "OperationMetadataV1Alpha",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ListDomainMappingsResponse": {
      "id": "ListDomainMappingsResponse",
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "properties": {
        "domainMappings": {
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          },
          "description": "The domain mappings for the application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      }
    },
    "CreateVersionMetadataV1Beta": {
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Beta"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "properties": {},
      "type": "object"
    },
    "SslSettings": {
      "properties": {
        "isManagedCertificate": {
          "description": "Whether the mapped certificate is an App Engine managed certificate. Managed certificates are created by default with a domain mapping. To opt out, specify no_managed_certificate on a CREATE or UPDATE request.@OutputOnly",
          "type": "boolean"
        },
        "certificateId": {
          "type": "string",
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify no_managed_certificate on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345."
        }
      },
      "id": "SslSettings",
      "type": "object",
      "description": "SSL configuration for a DomainMapping resource."
    },
    "ListAuthorizedDomainsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          },
          "description": "The authorized domains belonging to the user."
        }
      },
      "type": "object",
      "id": "ListAuthorizedDomainsResponse",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains."
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "type": "object",
      "properties": {
        "resourceRecords": {
          "type": "array",
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "id": {
          "type": "string",
          "description": "Relative name of the domain serving the application. Example: example.com."
        },
        "name": {
          "description": "Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string"
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        }
      },
      "description": "A domain serving an App Engine application."
    },
    "ListAuthorizedCertificatesResponse": {
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "id": "ListAuthorizedCertificatesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "certificates": {
          "type": "array",
          "description": "The SSL certificates the user is authorized to administer.",
          "items": {
            "$ref": "AuthorizedCertificate"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ResourceRecord": {
      "id": "ResourceRecord",
      "type": "object",
      "description": "A DNS resource record.",
      "properties": {
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        },
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "type": {
          "description": "Resource record type. Example: AAAA.",
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "type": "string",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        }
      }
    },
    "CreateVersionMetadataV1": {
      "id": "CreateVersionMetadataV1",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      }
    },
    "OperationMetadataV1": {
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "ManagedCertificate": {
      "properties": {
        "status": {
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to a system failure and will be retried. System failure is likely transient, and subsequent renewal attempts may succeed. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted. Most recent renewal failed due to an invalid DNS setup and will not be retried. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATUS",
            "OK",
            "PENDING",
            "FAILED_RETRYING_INTERNAL",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENTLY_NOT_VISIBLE",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ]
        },
        "lastRenewalTime": {
          "format": "google-datetime",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A certificate managed by App Engine.",
      "id": "ManagedCertificate"
    },
    "AuthorizedDomain": {
      "type": "object",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Webmaster Central (https://www.google.com/webmasters/verification/home).",
      "properties": {
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly"
        }
      },
      "id": "AuthorizedDomain"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "title": "App Engine Admin API",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://appengine.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "id": "appengine:v1alpha"
}
