{
 "kind": "discovery#restDescription",
 "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ry3Wzo7q_Cbb0sesBVF_0Z_jfxQ\"",
 "discoveryVersion": "v1",
 "id": "androidpublisher:v2",
 "name": "androidpublisher",
 "canonicalName": "Android Publisher",
 "version": "v2",
 "revision": "20200428",
 "title": "Google Play Developer API",
 "description": "Accesses Android application developers' Google Play accounts.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/android-16.png",
  "x32": "https://www.google.com/images/icons/product/android-32.png"
 },
 "documentationLink": "https://developers.google.com/android-publisher",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/androidpublisher/v2/applications/",
 "basePath": "/androidpublisher/v2/applications/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "androidpublisher/v2/applications/",
 "batchPath": "batch/androidpublisher/v2",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "Deprecated. Please use quotaUser instead.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/androidpublisher": {
     "description": "View and manage your Google Play Developer account"
    }
   }
  }
 },
 "schemas": {
  "PageInfo": {
   "id": "PageInfo",
   "type": "object",
   "properties": {
    "resultPerPage": {
     "type": "integer",
     "format": "int32"
    },
    "startIndex": {
     "type": "integer",
     "format": "int32"
    },
    "totalResults": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ProductPurchase": {
   "id": "ProductPurchase",
   "type": "object",
   "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
   "properties": {
    "consumptionState": {
     "type": "integer",
     "description": "The consumption state of the inapp product. Possible values are:  \n- Yet to be consumed \n- Consumed",
     "format": "int32"
    },
    "developerPayload": {
     "type": "string",
     "description": "A developer-specified string that contains supplemental information about an order."
    },
    "kind": {
     "type": "string",
     "description": "This kind represents an inappPurchase object in the androidpublisher service.",
     "default": "androidpublisher#productPurchase"
    },
    "orderId": {
     "type": "string",
     "description": "The order id associated with the purchase of the inapp product."
    },
    "purchaseState": {
     "type": "integer",
     "description": "The purchase state of the order. Possible values are:  \n- Purchased \n- Canceled \n- Pending",
     "format": "int32"
    },
    "purchaseTimeMillis": {
     "type": "string",
     "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
     "format": "int64"
    },
    "purchaseType": {
     "type": "integer",
     "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are:  \n- Test (i.e. purchased from a license testing account) \n- Promo (i.e. purchased using a promo code) \n- Rewarded (i.e. from watching a video ad instead of paying)",
     "format": "int32"
    }
   }
  },
  "TokenPagination": {
   "id": "TokenPagination",
   "type": "object",
   "properties": {
    "nextPageToken": {
     "type": "string"
    },
    "previousPageToken": {
     "type": "string"
    }
   }
  },
  "VoidedPurchase": {
   "id": "VoidedPurchase",
   "type": "object",
   "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "This kind represents a voided purchase object in the androidpublisher service.",
     "default": "androidpublisher#voidedPurchase"
    },
    "purchaseTimeMillis": {
     "type": "string",
     "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
     "format": "int64"
    },
    "purchaseToken": {
     "type": "string",
     "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API)."
    },
    "voidedTimeMillis": {
     "type": "string",
     "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
     "format": "int64"
    }
   }
  },
  "VoidedPurchasesListResponse": {
   "id": "VoidedPurchasesListResponse",
   "type": "object",
   "properties": {
    "pageInfo": {
     "$ref": "PageInfo"
    },
    "tokenPagination": {
     "$ref": "TokenPagination"
    },
    "voidedPurchases": {
     "type": "array",
     "items": {
      "$ref": "VoidedPurchase"
     }
    }
   }
  }
 },
 "resources": {
  "purchases": {
   "resources": {
    "products": {
     "methods": {
      "get": {
       "id": "androidpublisher.purchases.products.get",
       "path": "{packageName}/purchases/products/{productId}/tokens/{token}",
       "httpMethod": "GET",
       "description": "Checks the purchase and consumption status of an inapp item.",
       "parameters": {
        "packageName": {
         "type": "string",
         "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
         "required": true,
         "location": "path"
        },
        "productId": {
         "type": "string",
         "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
         "required": true,
         "location": "path"
        },
        "token": {
         "type": "string",
         "description": "The token provided to the user's device when the inapp product was purchased.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "packageName",
        "productId",
        "token"
       ],
       "response": {
        "$ref": "ProductPurchase"
       },
       "scopes": [
        "https://www.googleapis.com/auth/androidpublisher"
       ]
      }
     }
    },
    "voidedpurchases": {
     "methods": {
      "list": {
       "id": "androidpublisher.purchases.voidedpurchases.list",
       "path": "{packageName}/purchases/voidedpurchases",
       "httpMethod": "GET",
       "description": "Lists the purchases that were canceled, refunded or charged-back.",
       "parameters": {
        "endTime": {
         "type": "string",
         "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
         "format": "int64",
         "location": "query"
        },
        "maxResults": {
         "type": "integer",
         "format": "uint32",
         "location": "query"
        },
        "packageName": {
         "type": "string",
         "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
         "required": true,
         "location": "path"
        },
        "startIndex": {
         "type": "integer",
         "format": "uint32",
         "location": "query"
        },
        "startTime": {
         "type": "string",
         "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
         "format": "int64",
         "location": "query"
        },
        "token": {
         "type": "string",
         "location": "query"
        }
       },
       "parameterOrder": [
        "packageName"
       ],
       "response": {
        "$ref": "VoidedPurchasesListResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/androidpublisher"
       ]
      }
     }
    }
   }
  }
 }
}
