{
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://console.cloud.google.com/apis/api/securitycenter.googleapis.com/overview",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "revision": "20200612",
  "name": "securitycenter",
  "batchPath": "batch",
  "version": "v1p1beta1",
  "kind": "discovery#restDescription",
  "canonicalName": "Security Command Center",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "title": "Security Command Center API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "securitycenter:v1p1beta1",
  "schemas": {
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call."
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another\nrun for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "Finding": {
      "description": "Security Command Center finding.\n\nA finding is a record of assessment data like security, risk, health, or\nprivacy, that is ingested into Security Command Center for presentation,\nnotification, analysis, policy testing, and enforcement. For example, a\ncross-site scripting (XSS) vulnerability in an App Engine application is a\nfinding.",
      "id": "Finding",
      "properties": {
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security\nCommand Center where additional information about the finding can be found.\nThis field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The time at which the event took place. For example, if the finding\nrepresents an open firewall it would capture the time the detector believes\nthe firewall became open. The accuracy is determined by the detector.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed\nand is no longer active."
          ],
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source.\nThis field is immutable after creation time.\nExample: \"XSS_FLASH_INJECTION\""
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nThis field is immutable after creation time.\nFor example:\n\"organizations/{organization_id}/sources/{source_id}\""
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource\nname of the Google Cloud resource this finding is for. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name\nWhen the finding is for a non-Google Cloud resource, the resourceName can\nbe a customer or partner defined string. This field is immutable after\ncreation time."
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely\nmanaged by the user and come from the SecurityMarks resource that belongs\nto the finding.",
          "$ref": "SecurityMarks"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source\nthat writes the finding. The key names in the source_properties map must be\nbetween 1 and 255 characters, and must start with a letter and contain\nalphanumeric characters or underscores only."
        }
      },
      "type": "object"
    },
    "GroupResult": {
      "description": "Result containing the properties and count of a groupBy request.",
      "type": "object",
      "id": "GroupResult",
      "properties": {
        "properties": {
          "description": "Properties matching the groupBy fields in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Total count of resources for the given properties."
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another\nrun for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "temporalAsset": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1TemporalAsset",
          "description": "If it's an asset based notification config, this field will be\npopulated."
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be\npopulated."
        }
      },
      "description": "Security Command Center's Notification",
      "type": "object"
    },
    "SetFindingStateRequest": {
      "id": "SetFindingStateRequest",
      "description": "Request message for updating a finding's state.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The time at which the updated state takes effect.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Required. The desired State of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed\nand is no longer active."
          ],
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Time used as a reference point when filtering findings. The filter is\nlimited to findings existing at the supplied time and their values are\nthose at that specific time. Absence of this field will default to the\nAPI's version of NOW.",
          "format": "google-datetime"
        },
        "compareDuration": {
          "description": "When compare_duration is set, the GroupResult's \"state_change\" attribute is\nupdated to indicate whether the finding had its state changed, the\nfinding's state remained unchanged, or if the finding was added during the\ncompare_duration period of time that precedes the read_time. This is the\ntime between (read_time - compare_duration) and read_time.\n\nThe state_change value is derived based on the presence and state of the\nfinding at the two points in time. Intermediate state changes between the\ntwo times don't affect the result. For example, the results aren't affected\nif the finding is made inactive and then active again.\n\nPossible \"state_change\" values when compare_duration is specified:\n\n* \"CHANGED\":   indicates that the finding was present and matched the given\n                 filter at the start of compare_duration, but changed its\n                 state at read_time.\n* \"UNCHANGED\": indicates that the finding was present and matched the given\n                 filter at the start of compare_duration and did not change\n                 state at read_time.\n* \"ADDED\":     indicates that the finding did not match the given filter or\n                 was not present at the start of compare_duration, but was\n                 present at read_time.\n* \"REMOVED\":   indicates that the finding was present and matched the\n                 filter at the start of compare_duration, but did not match\n                 the filter at read_time.\n\nIf compare_duration is not specified, then the only possible state_change\nis \"UNUSED\",  which will be the state_change set for all findings present\nat read_time.\n\nIf this field is set then `state_change` must be a specified field in\n`group_by`.",
          "format": "google-duration",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000.",
          "format": "int32"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across findings.\nThe expression is a list of one or more restrictions combined via logical\noperators `AND` and `OR`.\nParentheses are supported, and `OR` has higher precedence than `AND`.\n\nRestrictions have the form `\u003cfield\u003e \u003coperator\u003e \u003cvalue\u003e` and may have a `-`\ncharacter in front of them to indicate negation. Examples include:\n\n * name\n * source_properties.a_property\n * security_marks.marks.marka\n\nThe supported operators are:\n\n* `=` for all value types.\n* `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.\n\nThe following field and operator combinations are supported:\n\n* name: `=`\n* parent: `=`, `:`\n* resource_name: `=`, `:`\n* state: `=`, `:`\n* category: `=`, `:`\n* external_uri: `=`, `:`\n* event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    `event_time = \"2019-06-10T16:07:18-07:00\"`\n    `event_time = 1560208038000`\n\n* security_marks.marks: `=`, `:`\n* source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n\nFor example, `source_properties.size = 100` is a valid filter string.\n\nUse a partial match on the empty string to filter based on a property\nexisting: `source_properties.my_property : \"\"`\n\nUse a negated partial match on the empty string to filter based on a\nproperty not existing: `-source_properties.my_property : \"\"`"
        },
        "groupBy": {
          "type": "string",
          "description": "Required. Expression that defines what assets fields to use for grouping (including\n`state_change`). The string value should follow SQL syntax: comma separated\nlist of fields. For example: \"parent,resource_name\".\n\nThe following fields are supported:\n\n* resource_name\n* category\n* state\n* parent\n\nThe following fields are supported when compare_duration is set:\n\n* state_change"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupFindingsResponse`; indicates\nthat this is a continuation of a prior `GroupFindings` call, and\nthat the system should return the next page of data.",
          "type": "string"
        }
      },
      "description": "Request message for grouping by findings.",
      "id": "GroupFindingsRequest"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to\n`GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\n\n`paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "description": "Response of asset discovery run",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another\nrun for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "ListNotificationConfigsResponse": {
      "description": "Response message for listing notification configs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults."
        },
        "notificationConfigs": {
          "description": "Notification configs belonging to the requested parent.",
          "items": {
            "$ref": "NotificationConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListNotificationConfigsResponse"
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "type": "object",
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Sources belonging to the requested parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityCenterProperties": {
      "properties": {
        "resourceProject": {
          "description": "The full resource name of the project the resource belongs to. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceParentDisplayName": {
          "description": "The user defined display name for the parent of this resource.",
          "type": "string"
        },
        "resourceProjectDisplayName": {
          "description": "The user defined display name for the project of this resource.",
          "type": "string"
        },
        "resourceOwners": {
          "description": "Owners of the Google Cloud resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceType": {
          "description": "The type of the Google Cloud resource. Examples include: APPLICATION,\nPROJECT, and ORGANIZATION. This is a case insensitive field defined by\nSecurity Command Center and/or the producer of the resource and is\nimmutable after create time.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The full resource name of the Google Cloud resource this asset\nrepresents. This field is immutable after create time. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceDisplayName": {
          "type": "string",
          "description": "The user defined display name for this resource."
        },
        "resourceParent": {
          "type": "string",
          "description": "The full resource name of the immediate parent of the resource. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "description": "Security Command Center managed properties. These properties are managed by\nSecurity Command Center and cannot be modified by the user.",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityCenterProperties",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListFindingsResult": {
      "properties": {
        "stateChange": {
          "type": "string",
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "The finding has changed state in some way between the points in time\nand existed at both points.",
            "The finding has not changed state between the points in time and\nexisted at both points.",
            "The finding was created between the points in time.",
            "The finding at timestamp does not match the filter specified, but it\ndid at timestamp - compare_duration."
          ],
          "description": "State change of the finding between the points in time.",
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ]
        },
        "resource": {
          "$ref": "Resource",
          "description": "Output only. Resource that is associated with this finding."
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "Finding matching the search request."
        }
      },
      "id": "ListFindingsResult",
      "type": "object",
      "description": "Result containing the Finding and its StateChange."
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "description": "\nInformation related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object",
      "properties": {
        "parentDisplayName": {
          "type": "string",
          "description": "\nThe human readable name of resource's parent."
        },
        "name": {
          "description": "The full resource name of the resource. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "\nThe human readable name of project that the resource belongs to.",
          "type": "string"
        }
      }
    },
    "OrganizationSettings": {
      "id": "OrganizationSettings",
      "properties": {
        "name": {
          "description": "The relative resource name of the settings. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/organizationSettings\".",
          "type": "string"
        },
        "enableAssetDiscovery": {
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is\nset to `true`, then discovery of assets will occur. If it is set to `false,\nall historical assets will remain, but discovery of future assets will not\noccur.",
          "type": "boolean"
        },
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig",
          "description": "The configuration used for Asset Discovery runs."
        }
      },
      "type": "object",
      "description": "User specified settings that are attached to the Security Command\nCenter organization."
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\",\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\"\n            },\n            {\n              \"log_type\": \"ADMIN_READ\"\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\",\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\"\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nFor some types of Google Cloud resources, a `binding` can also specify a\n`condition`, which is a logical expression that allows access to a resource\nonly if the expression evaluates to `true`. A condition can add constraints\nbased on attributes of the request, the resource, or both. To learn which\nresources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/resourcemanager.organizationViewer\",\n          \"members\": [\n            \"user:eve@example.com\"\n          ],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be\npopulated."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        }
      },
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "ListAssetsResult": {
      "id": "ListAssetsResult",
      "description": "Result containing the Asset and its State.",
      "properties": {
        "stateChange": {
          "type": "string",
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was present at both point(s) in time."
          ],
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "description": "State change of the asset between the points in time."
        },
        "asset": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Asset",
          "description": "Asset matching the search request."
        }
      },
      "type": "object"
    },
    "RunAssetDiscoveryRequest": {
      "properties": {},
      "id": "RunAssetDiscoveryRequest",
      "description": "Request message for running asset discovery for an organization.",
      "type": "object"
    },
    "GroupFindingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results matching the query."
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "format": "google-datetime",
          "type": "string"
        },
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array",
          "description": "Group results. There exists an element for each existing unique\ncombination of property/values. The element contains a count for the number\nof times those specific property/values appear."
        }
      },
      "id": "GroupFindingsResponse",
      "type": "object",
      "description": "Response message for group by findings."
    },
    "Source": {
      "id": "Source",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The source's display name.\nA source's display name must be unique amongst its siblings, for example,\ntwo sources with the same parent can't share the same display name.\nThe display name must have a length between 1 and 64 characters\n(inclusive)."
        },
        "description": {
          "type": "string",
          "description": "The description of the source (max of 1024 characters).\nExample:\n\"Web Security Scanner is a web security scanner for common\nvulnerabilities in App Engine applications. It can automatically\nscan and detect four common vulnerabilities, including cross-site-scripting\n(XSS), Flash injection, mixed content (HTTP in HTTPS), and\noutdated/insecure libraries.\""
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this source. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/sources/{source_id}\""
        }
      },
      "description": "Security Command Center finding source. A finding source\nis an entity or a mechanism that can produce a finding. A source is like a\ncontainer of findings that come from the same scanner, logger, monitor, etc.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "description": "Security Command Center finding.\n\nA finding is a record of assessment data (security, risk, health or privacy)\ningested into Security Command Center for presentation, notification,\nanalysis, policy testing, and enforcement. For example, an XSS vulnerability\nin an App Engine application is a finding.",
      "properties": {
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security\nCommand Center where additional information about the finding can be found.\nThis field is guaranteed to be either empty or a well formed URL."
        },
        "name": {
          "description": "The relative resource name of this finding. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source\nthat writes the finding. The key names in the source_properties map must be\nbetween 1 and 255 characters, and must start with a letter and contain\nalphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source.\nThis field is immutable after creation time.\nExample: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource\nname of the Google Cloud resource this finding is for. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name\nWhen the finding is for a non-Google Cloud resource, the resourceName can\nbe a customer or partner defined string. This field is immutable after\ncreation time."
        },
        "state": {
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed\nand is no longer active."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nThis field is immutable after creation time.\nFor example:\n\"organizations/{organization_id}/sources/{source_id}\""
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely\nmanaged by the user and come from the SecurityMarks resource that belongs\nto the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place. For example, if the finding\nrepresents an open firewall it would capture the time the detector believes\nthe firewall became open. The accuracy is determined by the detector.",
          "format": "google-datetime"
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\"\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig"
    },
    "SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource.\nConstraints are as follows:\n\n  * Keys and values are treated as case insensitive\n  * Keys must be between 1 - 256 characters (inclusive)\n  * Keys must be letters, numbers, underscores, or dashes\n  * Values have leading and trailing whitespace trimmed, remaining\n    characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExamples:\n\"organizations/{organization_id}/assets/{asset_id}/securityMarks\"\n\"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "description": "User specified security marks that are attached to the parent Security\nCommand Center resource. Security marks are scoped within a Security Command\nCenter organization -- they can be modified and viewed by all users who have\nproper permissions on the organization.",
      "type": "object",
      "id": "SecurityMarks"
    },
    "ListFindingsResponse": {
      "description": "Response message for listing findings.",
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of findings matching the query.",
          "type": "integer"
        },
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "description": "Findings matching the list request.",
          "type": "array"
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults."
        }
      }
    },
    "NotificationConfig": {
      "description": "Security Command Center notification configs.\n\nA notification config is a Security Command Center resource that contains the\nconfiguration to send notifications for create/update events of findings,\nassets and etc.",
      "type": "object",
      "id": "NotificationConfig",
      "properties": {
        "pubsubTopic": {
          "description": "The Pub/Sub topic to send notifications to. Its format is\n\"projects/[project_id]/topics/[topic]\".",
          "type": "string"
        },
        "streamingConfig": {
          "$ref": "StreamingConfig",
          "description": "The config for triggering streaming-based notifications."
        },
        "serviceAccount": {
          "description": "Output only. The service account that needs \"pubsub.topics.publish\"\npermission to publish to the Pub/Sub topic.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "FINDING"
          ],
          "enumDescriptions": [
            "Unspecified event type.",
            "Events for findings."
          ],
          "description": "The type of events the config is for, e.g. FINDING."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this notification config. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/notificationConfigs/notify_public_bucket\"."
        },
        "description": {
          "description": "The description of the notification config (max of 1024 characters).",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1IamPolicy": {
      "type": "object",
      "description": "Cloud IAM Policy information associated with the Google Cloud resource\ndescribed by the Security Command Center asset. This information is managed\nand defined by the Google Cloud resource and cannot be modified by the\nuser.",
      "id": "GoogleCloudSecuritycenterV1p1beta1IamPolicy",
      "properties": {
        "policyBlob": {
          "description": "The JSON representation of the Policy associated with the asset.\nSee https://cloud.google.com/iam/docs/reference/rest/v1/Policy for\nformat details.",
          "type": "string"
        }
      }
    },
    "GroupAssetsRequest": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time used as a reference point when filtering assets. The filter is limited\nto assets existing at the supplied time and their values are those at that\nspecific time. Absence of this field will default to the API's version of\nNOW."
        },
        "pageToken": {
          "type": "string",
          "description": "The value returned by the last `GroupAssetsResponse`; indicates\nthat this is a continuation of a prior `GroupAssets` call, and that the\nsystem should return the next page of data."
        },
        "filter": {
          "description": "Expression that defines the filter to apply across assets.\nThe expression is a list of zero or more restrictions combined via logical\noperators `AND` and `OR`.\nParentheses are supported, and `OR` has higher precedence than `AND`.\n\nRestrictions have the form `\u003cfield\u003e \u003coperator\u003e \u003cvalue\u003e` and may have a `-`\ncharacter in front of them to indicate negation. The fields map to those\ndefined in the Asset resource. Examples include:\n\n* name\n* security_center_properties.resource_name\n* resource_properties.a_property\n* security_marks.marks.marka\n\nThe supported operators are:\n\n* `=` for all value types.\n* `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.\n\nThe following field and operator combinations are supported:\n\n* name: `=`\n* update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    `update_time = \"2019-06-10T16:07:18-07:00\"`\n    `update_time = 1560208038000`\n\n* create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    `create_time = \"2019-06-10T16:07:18-07:00\"`\n    `create_time = 1560208038000`\n\n* iam_policy.policy_blob: `=`, `:`\n* resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n* security_marks.marks: `=`, `:`\n* security_center_properties.resource_name: `=`, `:`\n* security_center_properties.resource_name_display_name: `=`, `:`\n* security_center_properties.resource_type: `=`, `:`\n* security_center_properties.resource_parent: `=`, `:`\n* security_center_properties.resource_parent_display_name: `=`, `:`\n* security_center_properties.resource_project: `=`, `:`\n* security_center_properties.resource_project_display_name: `=`, `:`\n* security_center_properties.resource_owners: `=`, `:`\n\nFor example, `resource_properties.size = 100` is a valid filter string.\n\nUse a partial match on the empty string to filter based on a property\nexisting: `resource_properties.my_property : \"\"`\n\nUse a negated partial match on the empty string to filter based on a\nproperty not existing: `-resource_properties.my_property : \"\"`",
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "description": "When compare_duration is set, the GroupResult's \"state_change\" property is\nupdated to indicate whether the asset was added, removed, or remained\npresent during the compare_duration period of time that precedes the\nread_time. This is the time between (read_time - compare_duration) and\nread_time.\n\nThe state change value is derived based on the presence of the asset at the\ntwo points in time. Intermediate state changes between the two times don't\naffect the result. For example, the results aren't affected if the asset is\nremoved and re-created again.\n\nPossible \"state_change\" values when compare_duration is specified:\n\n* \"ADDED\":   indicates that the asset was not present at the start of\n               compare_duration, but present at reference_time.\n* \"REMOVED\": indicates that the asset was present at the start of\n               compare_duration, but not present at reference_time.\n* \"ACTIVE\":  indicates that the asset was present at both the\n               start and the end of the time period defined by\n               compare_duration and reference_time.\n\nIf compare_duration is not specified, then the only possible state_change\nis \"UNUSED\", which will be the state_change set for all assets present at\nread_time.\n\nIf this field is set then `state_change` must be a specified field in\n`group_by`.",
          "format": "google-duration"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000."
        },
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string\nvalue should follow SQL syntax: comma separated list of fields. For\nexample:\n\"security_center_properties.resource_project,security_center_properties.project\".\n\nThe following fields are supported when compare_duration is not set:\n\n* security_center_properties.resource_project\n* security_center_properties.resource_project_display_name\n* security_center_properties.resource_type\n* security_center_properties.resource_parent\n* security_center_properties.resource_parent_display_name\n\nThe following fields are supported when compare_duration is set:\n\n* security_center_properties.resource_type\n* security_center_properties.resource_project_display_name\n* security_center_properties.resource_parent_display_name",
          "type": "string"
        }
      },
      "id": "GroupAssetsRequest",
      "description": "Request message for grouping by assets.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "\nThe human readable name of resource's parent."
        },
        "projectDisplayName": {
          "type": "string",
          "description": "\nThe human readable name of project that the resource belongs to."
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "description": "\nInformation related to the Google Cloud resource."
    },
    "StreamingConfig": {
      "id": "StreamingConfig",
      "description": "The config for streaming-based notifications, which send each event as soon\nas it is detected.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events\nof assets or findings as specified by the event type. The expression is a\nlist of zero or more restrictions combined via logical operators `AND`\nand `OR`. Parentheses are supported, and `OR` has higher precedence than\n`AND`.\n\nRestrictions have the form `\u003cfield\u003e \u003coperator\u003e \u003cvalue\u003e` and may have a\n`-` character in front of them to indicate negation. The fields map to\nthose defined in the corresponding resource.\n\nThe supported operators are:\n\n* `=` for all value types.\n* `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListAssetsResponse": {
      "description": "Response message for listing assets.",
      "id": "ListAssetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        },
        "listAssetsResults": {
          "items": {
            "$ref": "ListAssetsResult"
          },
          "description": "Assets matching the list request.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of assets matching the query.",
          "type": "integer"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time used for executing the list request."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "type": "object",
      "description": "Response message for grouping by assets.",
      "properties": {
        "totalSize": {
          "description": "The total number of results matching the query.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "type": "string",
          "format": "google-datetime"
        },
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique\ncombination of property/values. The element contains a count for the number\nof times those specific property/values appear.",
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language\nsyntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1TemporalAsset": {
      "properties": {
        "asset": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Asset",
          "description": "Asset data that includes attributes, properties and marks about the asset."
        },
        "changeType": {
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or default.",
            "Newly created Asset",
            "Asset was updated.",
            "Asset was deleted."
          ],
          "description": "Represents if the asset was created/updated/deleted."
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1TemporalAsset",
      "type": "object",
      "description": "Wrapper over asset object that also captures the state change for the asset\ne.g. if it was a newly created asset vs updated or deleted asset."
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding.\n\nIf the condition evaluates to `true`, then this binding applies to the\ncurrent request.\n\nIf the condition evaluates to `false`, then this binding does not apply to\nthe current request. However, a different role binding might grant the same\nrole to one or more of the members in this binding.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members` with a `role`.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExamples:\n\"organizations/{organization_id}/assets/{asset_id}/securityMarks\"\n\"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource.\nConstraints are as follows:\n\n  * Keys and values are treated as case insensitive\n  * Keys must be between 1 - 256 characters (inclusive)\n  * Keys must be letters, numbers, underscores, or dashes\n  * Values have leading and trailing whitespace trimmed, remaining\n    characters must be between 1 - 4096 characters (inclusive)"
        }
      },
      "description": "User specified security marks that are attached to the parent Security\nCommand Center resource. Security marks are scoped within a Security Command\nCenter organization -- they can be modified and viewed by all users who have\nproper permissions on the organization."
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "description": "Information related to the Google Cloud resource that is\nassociated with this finding.",
      "properties": {
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "name": {
          "description": "The full resource name of the resource. See:\nhttps://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "projectName": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The human readable name of project that the resource belongs to."
        },
        "parentName": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Asset": {
      "properties": {
        "securityMarks": {
          "description": "User specified security marks. These marks are entirely managed by the user\nand come from the SecurityMarks resource that belongs to the asset.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which the asset was created in Security Command Center.",
          "type": "string"
        },
        "resourceProperties": {
          "description": "Resource managed properties. These properties are managed and defined by\nthe Google Cloud resource and cannot be modified by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityCenterProperties": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityCenterProperties",
          "description": "Security Command Center managed properties. These properties are managed by\nSecurity Command Center and cannot be modified by the user."
        },
        "name": {
          "description": "The relative resource name of this asset. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/assets/{asset_id}\".",
          "type": "string"
        },
        "iamPolicy": {
          "description": "Cloud IAM Policy information associated with the Google Cloud resource\ndescribed by the Security Command Center asset. This information is managed\nand defined by the Google Cloud resource and cannot be modified by the\nuser.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1IamPolicy"
        },
        "updateTime": {
          "description": "The time at which the asset was last updated, added, or deleted in Cloud\nSCC.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Asset",
      "description": "Security Command Center representation of a Google Cloud\nresource.\n\nThe Asset is a Security Command Center resource that captures information\nabout a single Google Cloud resource. All modifications to an Asset are only\nwithin the context of Security Command Center and don't affect the referenced\nGoogle Cloud resource."
    },
    "AssetDiscoveryConfig": {
      "properties": {
        "projectIds": {
          "description": "The project ids to use for filtering asset discovery.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionMode": {
          "description": "The mode to use for filtering asset discovery.",
          "type": "string",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable\ninclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects\nspecified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified.\nAll other resources will be retrieved."
          ]
        }
      },
      "id": "AssetDiscoveryConfig",
      "type": "object",
      "description": "The configuration used for Asset Discovery runs."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "methods": {
        "updateOrganizationSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "The relative resource name of the settings. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/organizationSettings\".",
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "description": "The FieldMask to use when updating the settings resource.\n\n If empty all mutable fields will be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "\nUpdates an organization's settings.",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "request": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1p1beta1/{+name}",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1p1beta1/organizations/{organizationsId}/organizationSettings"
        },
        "getOrganizationSettings": {
          "parameters": {
            "name": {
              "description": "Required. Name of the organization to get organization settings for. Its format is\n\"organizations/[organization_id]/organizationSettings\".",
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "description": "Gets the settings for an organization.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1p1beta1/organizations/{organizationsId}/organizationSettings",
          "path": "v1p1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings"
        }
      },
      "resources": {
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "description": "Lists an organization or source's findings.\n\nTo list across all sources provide a `-` as the source id.\nExample: /v1p1beta1/organizations/{organization_id}/sources/-/findings",
                  "parameters": {
                    "fieldMask": {
                      "location": "query",
                      "description": "Optional.\nA field mask to specify the Finding fields to be listed in the response.\nAn empty field mask will list all fields.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListFindingsResponse`; indicates\nthat this is a continuation of a prior `ListFindings` call, and\nthat the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Expression that defines what fields and order to use for sorting. The\nstring value should follow SQL syntax: comma separated list of fields. For\nexample: \"name,resource_properties.a_property\". The default sorting order\nis ascending. To specify descending order for a field, a suffix \" desc\"\nshould be appended to the field name. For example: \"name\ndesc,source_properties.a_property\". Redundant space characters in the\nsyntax are insignificant. \"name desc,source_properties.a_property\" and \"\nname     desc  ,   source_properties.a_property  \" are equivalent.\n\nThe following fields are supported:\nname\nparent\nstate\ncategory\nresource_name\nevent_time\nsource_properties\nsecurity_marks.marks"
                    },
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings.\nThe expression is a list of one or more restrictions combined via logical\noperators `AND` and `OR`.\nParentheses are supported, and `OR` has higher precedence than `AND`.\n\nRestrictions have the form `\u003cfield\u003e \u003coperator\u003e \u003cvalue\u003e` and may have a `-`\ncharacter in front of them to indicate negation. Examples include:\n\n * name\n * source_properties.a_property\n * security_marks.marks.marka\n\nThe supported operators are:\n\n* `=` for all value types.\n* `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.\n\nThe following field and operator combinations are supported:\n\nname: `=`\nparent: `=`, `:`\nresource_name: `=`, `:`\nstate: `=`, `:`\ncategory: `=`, `:`\nexternal_uri: `=`, `:`\nevent_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    `event_time = \"2019-06-10T16:07:18-07:00\"`\n    `event_time = 1560208038000`\n\nsecurity_marks.marks: `=`, `:`\nsource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=`\n\nFor example, `source_properties.size = 100` is a valid filter string.\n\nUse a partial match on the empty string to filter based on a property\nexisting: `source_properties.my_property : \"\"`\n\nUse a negated partial match on the empty string to filter based on a\nproperty not existing: `-source_properties.my_property : \"\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "compareDuration": {
                      "type": "string",
                      "location": "query",
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\"\nattribute is updated to indicate whether the finding had its state changed,\nthe finding's state remained unchanged, or if the finding was added in any\nstate during the compare_duration period of time that precedes the\nread_time. This is the time between (read_time - compare_duration) and\nread_time.\n\nThe state_change value is derived based on the presence and state of the\nfinding at the two points in time. Intermediate state changes between the\ntwo times don't affect the result. For example, the results aren't affected\nif the finding is made inactive and then active again.\n\nPossible \"state_change\" values when compare_duration is specified:\n\n* \"CHANGED\":   indicates that the finding was present and matched the given\n                 filter at the start of compare_duration, but changed its\n                 state at read_time.\n* \"UNCHANGED\": indicates that the finding was present and matched the given\n                 filter at the start of compare_duration and did not change\n                 state at read_time.\n* \"ADDED\":     indicates that the finding did not match the given filter or\n                 was not present at the start of compare_duration, but was\n                 present at read_time.\n* \"REMOVED\":   indicates that the finding was present and matched the\n                 filter at the start of compare_duration, but did not match\n                 the filter at read_time.\n\nIf compare_duration is not specified, then the only possible state_change\nis \"UNUSED\", which will be the state_change set for all findings present at\nread_time.",
                      "format": "google-duration"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "description": "Required. Name of the source the findings belong to. Its format is\n\"organizations/[organization_id]/sources/[source_id]\". To list across all\nsources provide a source_id of `-`. For example:\norganizations/{organization_id}/sources/-"
                    },
                    "readTime": {
                      "location": "query",
                      "description": "Time used as a reference point when filtering findings. The filter is\nlimited to findings existing at the supplied time and their values are\nthose at that specific time. Absence of this field will default to the\nAPI's version of NOW.",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1p1beta1/{+parent}/findings",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.sources.findings.list"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The FieldMask to use when updating the finding resource. This field should\nnot be specified when creating a finding.\n\nWhen updating a finding, an empty mask is treated as updating all mutable\nfields and replacing source_properties.  Individual source_properties can\nbe added/updated by using \"source_properties.\u003cproperty key\u003e\" in the field\nmask."
                    },
                    "name": {
                      "location": "path",
                      "description": "The relative resource name of this finding. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "path": "v1p1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "\nCreates or updates a finding. The corresponding source must exist for a\nfinding creation to succeed."
                },
                "setState": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
                  },
                  "httpMethod": "POST",
                  "description": "\nUpdates the state of a finding.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The relative resource name of the finding. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1p1beta1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.organizations.sources.findings.setState"
                },
                "group": {
                  "id": "securitycenter.organizations.sources.findings.group",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Filters an organization or source's findings and  groups them by their\nspecified properties.\n\nTo group across all sources provide a `-` as the source id.\nExample: /v1p1beta1/organizations/{organization_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the source to groupBy. Its format is\n\"organizations/[organization_id]/sources/[source_id]\". To groupBy across\nall sources provide a source_id of `-`. For example:\norganizations/{organization_id}/sources/-",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1p1beta1/{+parent}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "updateSecurityMarks": {
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "startTime": {
                      "description": "The time at which the updated SecurityMarks take effect.\nIf not set uses current server time.  Updates will be applied to the\nSecurityMarks that are active immediately preceding this time.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the security marks resource.\n\nThe field mask must not contain duplicate fields.\nIf empty or set to \"marks\", all marks will be replaced.  Individual\nmarks can be updated using \"marks.\u003cmark_key\u003e\"."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "description": "The relative resource name of the SecurityMarks. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExamples:\n\"organizations/{organization_id}/assets/{asset_id}/securityMarks\"\n\"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
                    }
                  },
                  "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "description": "\n\nUpdates security marks.",
                  "path": "v1p1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "securitycenter.organizations.sources.findings.create",
                  "description": "\nCreates a finding. The corresponding source must exist for finding\ncreation to succeed.",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
                  },
                  "parameters": {
                    "findingId": {
                      "description": "Required. Unique identifier provided by the client within the parent scope.\nIt must be alphanumeric and less than or equal to 32 characters and\ngreater than 0 characters in length.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the new finding's parent. Its format should be\n\"organizations/[organization_id]/sources/[source_id]\".",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1p1beta1/{+parent}/findings",
                  "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings"
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "securitycenter.organizations.sources.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Source"
              },
              "description": "Gets a source.",
              "path": "v1p1beta1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "description": "Required. Relative resource name of the source. Its format is\n\"organizations/[organization_id]/source/[source_id]\"."
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Source"
              },
              "request": {
                "$ref": "Source"
              },
              "id": "securitycenter.organizations.sources.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1p1beta1/{+name}",
              "description": "\nUpdates a source.",
              "flatPath": "v1p1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The FieldMask to use when updating the source resource.\n\nIf empty all mutable fields will be updated."
                },
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The relative resource name of this source. See:\nhttps://cloud.google.com/apis/design/resource_names#relative_resource_name\nExample:\n\"organizations/{organization_id}/sources/{source_id}\""
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be\n\"organizations/[organization_id]\".",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates\nthat this is a continuation of a prior `ListSources` call, and\nthat the system should return the next page of data.",
[...]
