{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/",
  "documentationLink": "https://developers.google.com/youtube/",
  "batchPath": "batch/youtube",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        }
      }
    }
  },
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "revision": "20200526",
  "ownerName": "Google",
  "protocol": "rest",
  "name": "youtube",
  "discoveryVersion": "v1",
  "schemas": {
    "Channel": {
      "type": "object",
      "description": "A \u003ccode\u003e\u003cstrong\u003echannel\u003c/strong\u003e\u003c/code\u003e resource contains\ninformation about a YouTube channel.",
      "id": "Channel",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "invideoPromotion": {
          "$ref": "InvideoPromotion",
          "description": "The \u003ccode\u003einvideoPromotion\u003c/code\u003e object encapsulates information about\npromotion campaign associated with the channel."
        },
        "statistics": {
          "$ref": "ChannelStatistics",
          "description": "The \u003ccode\u003estatistics\u003c/code\u003e object encapsulates statistics for the channel."
        },
        "status": {
          "description": "The \u003ccode\u003estatus\u003c/code\u003e object encapsulates information about the privacy\nstatus of the channel.",
          "$ref": "ChannelStatus"
        },
        "brandingSettings": {
          "description": "The \u003ccode\u003ebrandingSettings\u003c/code\u003e object encapsulates information about\nthe branding of the channel.",
          "$ref": "ChannelBrandingSettings"
        },
        "kind": {
          "default": "youtube#channel",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#channel\"\u003c/code\u003e.",
          "type": "string"
        },
        "topicDetails": {
          "$ref": "ChannelTopicDetails",
          "description": "The \u003ccode\u003etopicDetails\u003c/code\u003e object encapsulates information about\n\u003ca href=\"http://www.freebase.com\"\u003eFreebase\u003c/a\u003e topics associated with the\nchannel."
        },
        "contentDetails": {
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object encapsulates information about the\nchannel's content.",
          "$ref": "ChannelContentDetails"
        },
        "conversionPings": {
          "$ref": "ChannelConversionPings",
          "description": "The \u003ccode\u003econversionPings\u003c/code\u003e object encapsulates information about\nconversion pings that need to be respected by the channel."
        },
        "contentOwnerDetails": {
          "$ref": "ChannelContentOwnerDetails",
          "description": "The \u003ccode\u003econtentOwnerDetails\u003c/code\u003e object encapsulates channel data\nthat is relevant for YouTube Partners linked with the channel."
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          },
          "type": "object",
          "description": "Localizations for different languages"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "auditDetails": {
          "$ref": "ChannelAuditDetails",
          "description": "The \u003ccode\u003eauditionDetails\u003c/code\u003e object encapsulates channel data\nthat is relevant for YouTube Partners during the audition process."
        },
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the channel,\nsuch as its title, description, and thumbnail images.",
          "$ref": "ChannelSnippet"
        }
      }
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The channel's display name."
        },
        "isChatOwner": {
          "type": "boolean",
          "description": "Whether the author is the owner of the live chat."
        },
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "isChatModerator": {
          "type": "boolean",
          "description": "Whether the author is a moderator of the live chat."
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        }
      }
    },
    "I18nLanguageListResponse": {
      "properties": {
        "kind": {
          "default": "youtube#i18nLanguageListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#i18nLanguageListResponse\"\u003c/code\u003e.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "description": "A list of supported i18n languages. In this map, the i18n language ID is\nthe map key, and its value is the corresponding \u003ccode\u003ei18nLanguage\u003c/code\u003e\nresource.",
          "items": {
            "$ref": "I18nLanguage"
          },
          "type": "array"
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "I18nLanguageListResponse"
    },
    "LiveStreamSnippet": {
      "id": "LiveStreamSnippet",
      "type": "object",
      "properties": {
        "isDefaultStream": {
          "type": "boolean"
        },
        "publishedAt": {
          "description": "The date and time that the stream was created. The value is specified in\n\u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The stream's title. The value must be between 1 and 128 characters long."
        },
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000\ncharacters.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that\nis transmitting the stream."
        }
      }
    },
    "Activity": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#activity\"\u003c/code\u003e."
        },
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the\nactivity, including the activity's type and group ID."
        },
        "contentDetails": {
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains information about the\ncontent associated with the activity. For example, if the\n\u003ccode\u003esnippet.type\u003c/code\u003e value is \u003ccode\u003evideoRated\u003c/code\u003e, then the\n\u003ccode\u003econtentDetails\u003c/code\u003e object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        }
      },
      "description": "An \u003ccode\u003e\u003cstrong\u003eactivity\u003c/strong\u003e\u003c/code\u003e resource contains\ninformation about an action that a particular channel, or user, has\ntaken on YouTube.The actions reported in activity feeds include rating\na video, sharing a video, marking a video as a favorite, commenting on\na video, uploading a video, and so forth. Each \u003ccode\u003eactivity\u003c/code\u003e\nresource identifies the type of action, the channel associated with\nthe action, and the resource(s) associated with the action, such as\nthe video that was rated or uploaded.",
      "id": "Activity"
    },
    "VideoListResponse": {
      "type": "object",
      "id": "VideoListResponse",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Video"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#videoListResponse\"\u003c/code\u003e.",
          "type": "string",
          "default": "youtube#videoListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "ThumbnailSetResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#thumbnailSetResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#thumbnailSetResponse\"\u003c/code\u003e.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor."
        },
        "items": {
          "description": "A list of thumbnails.",
          "type": "array",
          "items": {
            "$ref": "ThumbnailDetails"
          }
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "id": "ThumbnailSetResponse"
    },
    "ActivityContentDetailsFavorite": {
      "properties": {
        "resourceId": {
          "description": "The \u003ccode\u003eresourceId\u003c/code\u003e object contains information that\nidentifies the resource that was marked as a favorite.",
          "$ref": "ResourceId"
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsFavorite",
      "description": "Information about a video that was marked as a favorite video."
    },
    "ThumbnailDetails": {
      "type": "object",
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "id": "ThumbnailDetails",
      "properties": {
        "high": {
          "$ref": "Thumbnail",
          "description": "The high quality image for this resource."
        },
        "default": {
          "$ref": "Thumbnail",
          "description": "The default image for this resource."
        },
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "maxres": {
          "description": "The maximum resolution quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        }
      }
    },
    "PlaylistSnippet": {
      "id": "PlaylistSnippet",
      "type": "object",
      "properties": {
        "publishedAt": {
          "description": "The date and time that the playlist was created. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The playlist's title."
        },
        "localized": {
          "$ref": "PlaylistLocalization",
          "description": "Localized title and description, read-only."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object\nin the map, the key is the name of the thumbnail image, and the value\nis an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "description": "The playlist's description.",
          "type": "string"
        },
        "channelTitle": {
          "description": "The channel title of the channel that the video belongs to.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the playlist's default title and description.",
          "type": "string"
        },
        "tags": {
          "description": "Keyword tags associated with the playlist.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that\npublished the playlist."
        }
      },
      "description": "Basic details about a playlist, including title, description and thumbnails."
    },
    "VideoContentDetailsRegionRestriction": {
      "type": "object",
      "description": "DEPRECATED Region restriction of the video.",
      "id": "VideoContentDetailsRegionRestriction",
      "properties": {
        "allowed": {
          "description": "A list of region codes that identify countries where the video is\nviewable. If this property is present and a country is not listed\nin its value, then the video is blocked from appearing in that\ncountry. If this property is present and contains an empty list,\nthe video is blocked in all countries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blocked": {
          "type": "array",
          "description": "A list of region codes that identify countries where the video is\nblocked. If this property is present and a country is not listed in\nits value, then the video is viewable in that country. If this\nproperty is present and contains an empty list, the video is\nviewable in all countries.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VideoRecordingDetails": {
      "type": "object",
      "id": "VideoRecordingDetails",
      "properties": {
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded. The value is specified in \u003ca\nhref=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\n(\u003ccode\u003eYYYY-MM-DDThh:mm:ss.sssZ\u003c/code\u003e) format.",
          "type": "string"
        },
        "location": {
          "$ref": "GeoPoint",
          "description": "The geolocation information associated with the video."
        }
      },
      "description": "Recording information associated with the video."
    },
    "ChannelSectionContentDetails": {
      "properties": {
        "playlists": {
          "description": "The playlist ids for type single_playlist and multiple_playlists. For\nsinglePlaylist, only one playlistId is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The channel ids for type multiple_channels."
        }
      },
      "type": "object",
      "id": "ChannelSectionContentDetails",
      "description": "Details about a channelsection, including playlists and channels."
    },
    "SearchResult": {
      "type": "object",
      "description": "A search result contains information about a YouTube video, channel, or\nplaylist that matches the search parameters specified in an API request.\nWhile a search result points to a uniquely identifiable resource, like a\nvideo, it does not have its own persistent data.",
      "properties": {
        "id": {
          "$ref": "ResourceId",
          "description": "The \u003ccode\u003eid\u003c/code\u003e object contains information that can be used to\nuniquely identify the resource that matches the search request."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#searchResult",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#searchResult\"\u003c/code\u003e."
        },
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about a search\nresult, such as its title or description. For example, if the search result\nis a video, then the title will be the\nvideo's title and the description will be the video's description.",
          "$ref": "SearchResultSnippet"
        }
      },
      "id": "SearchResult"
    },
    "LiveChatMessage": {
      "description": "A \u003ccode\u003e\u003cstrong\u003eliveChatMessage\u003c/strong\u003e\u003c/code\u003e resource represents a chat\nmessage in a YouTube Live Chat.",
      "type": "object",
      "id": "LiveChatMessage",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "LiveChatMessageSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the message."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the message.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#liveChatMessage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveChatMessage\"\u003c/code\u003e."
        },
        "authorDetails": {
          "$ref": "LiveChatMessageAuthorDetails",
          "description": "The \u003ccode\u003eauthorDetails\u003c/code\u003e object contains basic details about the\nuser that posted this message."
        }
      }
    },
    "LiveBroadcast": {
      "id": "LiveBroadcast",
      "type": "object",
      "description": "A \u003ccode\u003e\u003cstrong\u003eliveBroadcast\u003c/strong\u003e\u003c/code\u003e resource represents an event\nthat will be streamed, via live video, on YouTube.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the broadcast."
        },
        "contentDetails": {
          "$ref": "LiveBroadcastContentDetails",
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains information about the\nevent's video content, such as whether the content can be shown in an\nembedded video player or if it will be archived and therefore available\nfor viewing after the event has concluded."
        },
        "status": {
          "description": "The \u003ccode\u003estatus\u003c/code\u003e object contains information about the event's\nstatus.",
          "$ref": "LiveBroadcastStatus"
        },
        "kind": {
          "default": "youtube#liveBroadcast",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveBroadcast\"\u003c/code\u003e.",
          "type": "string"
        },
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the event,\nincluding its title, description, start time, and end time.",
          "$ref": "LiveBroadcastSnippet"
        },
        "statistics": {
          "$ref": "LiveBroadcastStatistics",
          "description": "The \u003ccode\u003estatistics\u003c/code\u003e object contains info about the event's current\nstats. These include concurrent viewers and total chat count. Statistics\ncan change (in either direction) during the lifetime of an event.\nStatistics are only returned while the event is live."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "CaptionSnippet": {
      "type": "object",
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated\nwith the caption track.\n@mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "description": "The caption track's status."
        },
        "isLarge": {
          "description": "Indicates whether the caption track uses large text for the\nvision-impaired. The default value is \u003ccode\u003efalse\u003c/code\u003e.",
          "type": "boolean"
        },
        "language": {
          "description": "The language of the caption track. The property value is a\n\u003ca href=\"http://www.rfc-editor.org/rfc/bcp/bcp47.txt\"\u003eBCP-47\u003c/a\u003e\n language tag.",
          "type": "string"
        },
        "audioTrackType": {
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The type of audio track associated with the caption track."
        },
        "failureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "description": "The reason that YouTube failed to process the caption track. This\nproperty is only present if the \u003ccode\u003e\u003ca href=\"#state\"\u003estate\u003c/a\u003e\u003c/code\u003e\nproperty's value is \u003ccode\u003efailed\u003c/code\u003e."
        },
        "lastUpdated": {
          "description": "The date and time when the caption track was last updated. The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the caption track. The name is intended to be visible\nto the user as an option during playback."
        },
        "isCC": {
          "type": "boolean",
          "description": "Indicates whether the track contains closed captions for the deaf\nand hard of hearing. The default value is \u003ccode\u003efalse\u003c/code\u003e."
        },
        "trackKind": {
          "description": "The caption track's type.",
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio\ntrack in the video. The value will be \u003ccode\u003etrue\u003c/code\u003e if a sync was\nexplicitly requested when the caption track was uploaded. For example,\nwhen calling the \u003ccode\u003ecaptions.insert\u003c/code\u003e or\n\u003ccode\u003ecaptions.update\u003c/code\u003e methods, you can set the \u003ccode\u003esync\u003c/code\u003e\nparameter to \u003ccode\u003etrue\u003c/code\u003e to instruct YouTube to sync the uploaded\ntrack to the video. If the value is \u003ccode\u003efalse\u003c/code\u003e, YouTube uses\nthe time codes in the uploaded caption track to determine when to display\ncaptions.",
          "type": "boolean"
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is\n\u003ccode\u003etrue\u003c/code\u003e, then the track is not publicly visible.\nThe default value is \u003ccode\u003efalse\u003c/code\u003e.\n@mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean"
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\"\nmeaning it is at a third-grade level for language learners.\nThe default value is \u003ccode\u003efalse\u003c/code\u003e.",
          "type": "boolean"
        }
      },
      "description": "Basic details about a caption track, such as its language and name.",
      "id": "CaptionSnippet"
    },
    "Video": {
      "description": "A \u003ccode\u003e\u003cstrong\u003evideo\u003c/strong\u003e\u003c/code\u003e resource represents a YouTube video.",
      "id": "Video",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "VideoStatus",
          "description": "The \u003ccode\u003estatus\u003c/code\u003e object contains information about the video's\nuploading, processing, and privacy statuses."
        },
        "player": {
          "description": "The \u003ccode\u003eplayer\u003c/code\u003e object contains information that you would use to\nplay the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "topicDetails": {
          "description": "The \u003ccode\u003etopicDetails\u003c/code\u003e object encapsulates information about \u003ca\nhref=\"http://www.freebase.com\"\u003eFreebase\u003c/a\u003e topics associated with the\nvideo.",
          "$ref": "VideoTopicDetails"
        },
        "processingDetails": {
          "$ref": "VideoProcessingDetails",
          "description": "The \u003ccode\u003eprocessingDetails\u003c/code\u003e object encapsulates information about\nYouTube's progress in processing the uploaded video file. The properties\nin the object identify the current processing status and an estimate of\nthe time remaining until YouTube finishes processing the video. This part\nalso indicates whether different types of data or content, such as file\ndetails or thumbnail images, are available for the video.\u003cbr\u003e\u003cbr\u003e\nThe \u003ccode\u003eprocessingProgress\u003c/code\u003e object is designed to be polled so\nthat the video uploaded can track the progress that YouTube has made in\nprocessing the uploaded video file. This data can only be retrieved by\nthe video owner."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        },
        "snippet": {
          "$ref": "VideoSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the video,\nsuch as its title, description, and category."
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The \u003ccode\u003eliveStreamingDetails\u003c/code\u003e object contains metadata about a live\nvideo broadcast. The object will only be present in a \u003ccode\u003evideo\u003c/code\u003e\nresource if the video is an upcoming, live, or completed live broadcast."
        },
        "statistics": {
          "description": "The \u003ccode\u003estatistics\u003c/code\u003e object contains statistics about the video.",
          "$ref": "VideoStatistics"
        },
        "contentDetails": {
          "$ref": "VideoContentDetails",
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains information about the video\ncontent, including the length of the video and its aspect ratio."
        },
        "fileDetails": {
          "$ref": "VideoFileDetails",
          "description": "The \u003ccode\u003efileDetails\u003c/code\u003e object encapsulates information about the\nvideo file that was uploaded to YouTube, including the file's resolution,\nduration, audio and video codecs, stream bitrates, and more. This data can\nonly be retrieved by the video owner."
        },
        "localizations": {
          "type": "object",
          "description": "The \u003ccode\u003elocalizations\u003c/code\u003e object contains localized versions of the\nbasic details about the video, such as its title and description.",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "recordingDetails": {
          "$ref": "VideoRecordingDetails",
          "description": "The \u003ccode\u003erecordingDetails\u003c/code\u003e object encapsulates information about the\nlocation, date and address where the video was recorded."
        },
        "suggestions": {
          "description": "The \u003ccode\u003esuggestions\u003c/code\u003e object encapsulates suggestions that identify\nopportunities to improve the video quality or the metadata for the uploaded\nvideo. This data can only be retrieved by the video owner.",
          "$ref": "VideoSuggestions"
        },
        "ageGating": {
          "$ref": "VideoAgeGating",
          "description": "Age restriction details related to a video. This data can only be retrieved\nby the video owner."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#video\"\u003c/code\u003e.",
          "default": "youtube#video",
          "type": "string"
        },
        "monetizationDetails": {
          "description": "The \u003ccode\u003emonetizationDetails\u003c/code\u003e object encapsulates information\nabout the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "projectDetails": {
          "description": "The \u003ccode\u003eprojectDetails\u003c/code\u003e object contains information about the\nproject specific video metadata.",
          "$ref": "VideoProjectDetails"
        }
      }
    },
    "SubscriptionListResponse": {
      "id": "SubscriptionListResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#subscriptionListResponse\"\u003c/code\u003e.",
          "default": "youtube#subscriptionListResponse",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "description": "A list of subscriptions that match the request criteria.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the previous page in the result set."
        }
      }
    },
    "CommentThreadSnippet": {
      "id": "CommentThreadSnippet",
      "description": "Basic details about a comment thread.",
      "type": "object",
      "properties": {
        "topLevelComment": {
          "$ref": "Comment",
          "description": "The top level comment of this thread."
        },
        "totalReplyCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The total number of replies (not including the top level comment)."
        },
        "isPublic": {
          "type": "boolean",
          "description": "Whether the thread (and therefore all its comments) is visible to all\nYouTube users."
        },
        "canReply": {
          "description": "Whether the current viewer of the thread can reply to it. This is viewer\nspecific - other viewers may see a different value for this field.",
          "type": "boolean"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel the comments in the thread refer to or the channel\nwith the video the comments refer to. If video_id isn't set the comments\nrefer to the channel itself."
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video the comments refer to, if any. No video_id implies a\nchannel discussion comment."
        }
      }
    },
    "ChannelProfileDetails": {
      "id": "ChannelProfileDetails",
      "properties": {
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        }
      },
      "type": "object"
    },
    "I18nRegionListResponse": {
      "id": "I18nRegionListResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#i18nRegionListResponse\"\u003c/code\u003e.",
          "default": "youtube#i18nRegionListResponse",
          "type": "string"
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of regions where YouTube is available. In this map, the i18n region\nID is the map key, and its value is the corresponding\n\u003ccode\u003ei18nRegion\u003c/code\u003e resource.",
          "items": {
            "$ref": "I18nRegion"
          }
        }
      }
    },
    "VideoSuggestions": {
      "type": "object",
      "properties": {
        "processingHints": {
          "enumDescriptions": [
            "The MP4 file is not streamable, this will slow down the processing.\n MOOV atom was not found at the beginning of the file.",
            "Probably a better quality version of the video exists.\n The video has wide screen aspect ratio, but is not an HD video.",
            "Uploaded video is spherical video.",
            "Uploaded video has spatial audio.",
            "Uploaded video is VR video.",
            "Uploaded video is HDR video."
          ],
          "type": "array",
          "items": {
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ],
            "type": "string"
          },
          "description": "A list of suggestions that may improve YouTube's ability to process the\nvideo."
        },
        "tagSuggestions": {
          "description": "A list of keyword tags that could be added to the video's metadata to\nincrease the likelihood that users will locate your video when searching\nor browsing on YouTube.",
          "type": "array",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          }
        },
        "processingWarnings": {
          "description": "A list of reasons why YouTube may have difficulty transcoding the\nuploaded video or that might result in an erroneous transcoding.\nThese warnings are generated before YouTube actually processes the\nuploaded video file. In addition, they identify issues that are unlikely\nto cause the video processing to fail but that might cause problems\nsuch as sync issues, video artifacts, or a missing audio track.",
          "enumDescriptions": [
            "Unrecognized file format, transcoding is likely to fail.",
            "Unrecognized video codec, transcoding is likely to fail.",
            "Unrecognized audio codec, transcoding is likely to fail.",
            "Conflicting container and stream resolutions.",
            "Edit lists are not currently supported.",
            "Video codec that is known to cause problems was used.",
            "Audio codec that is known to cause problems was used.",
            "Unsupported VR video stereo mode.",
            "Unsupported spherical video projection type.",
            "Unsupported HDR pixel format.",
            "Unspecified HDR color metadata.",
            "Problematic HDR lookup table attached."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ]
          }
        },
        "processingErrors": {
          "type": "array",
          "description": "A list of errors that will prevent YouTube from successfully processing\nthe uploaded video video. These errors indicate that, regardless of the\nvideo's current \u003ca href=\"#processingProgress.processingStatus\"\u003eprocessing\nstatus\u003c/a\u003e, eventually, that status will almost certainly be\n\u003ccode\u003efailed\u003c/code\u003e.",
          "items": {
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "File contains audio only (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file.",
            "Document or text file (e.g., MS Word document).",
            "An archive file (e.g., a ZIP archive).",
            "Unsupported spatial audio layout type."
          ]
        },
        "editorSuggestions": {
          "description": "A list of video editing operations that might improve the video quality\nor playback experience of the uploaded video.",
          "enumDescriptions": [
            "Picture brightness levels seem off and could be corrected.",
            "The video appears shaky and could be stabilized.",
            "Margins (mattes) detected around the picture could be cropped.",
            "The audio track appears silent and could be swapped with a\nbetter quality one."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ]
          }
        }
      },
      "description": "Specifies suggestions on how to improve video content,\nincluding encoding hints, tag suggestions, and editor suggestions.",
      "id": "VideoSuggestions"
    },
    "ActivityContentDetailsChannelItem": {
      "description": "Details about a resource which was added to a channel.",
      "id": "ActivityContentDetailsChannelItem",
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The \u003ccode\u003eresourceId\u003c/code\u003e object contains information that\nidentifies the resource that was added to the channel."
        }
      }
    },
    "LiveChatTextMessageDetails": {
      "properties": {
        "messageText": {
          "type": "string",
          "description": "The user's message."
        }
      },
      "id": "LiveChatTextMessageDetails",
      "type": "object"
    },
    "ImageSettings": {
      "properties": {
        "smallBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the small banner image."
        },
        "bannerTabletImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size (1707x283)."
        },
        "bannerTabletExtraHdImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size extra high resolution (2560x424)."
        },
        "bannerTvImageUrl": {
          "type": "string",
          "description": "Banner image. TV size extra high resolution (2120x1192)."
        },
        "trackingImageUrl": {
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect\nstatistics for views of the channel or video pages.",
          "type": "string"
        },
        "largeBrandedBannerImageUrl": {
          "description": "The URL for the 854px by 70px image that appears below the video player in\nthe expanded video view of the video watch page.",
          "$ref": "LocalizedProperty"
        },
        "bannerMobileLowImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size low resolution (320x88)."
        },
        "largeBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the large banner image."
        },
        "bannerExternalUrl": {
          "description": "This is used only in update requests; if it's set, we use this URL to\ngenerate all of the above banner URLs.",
          "type": "string"
        },
        "watchIconImageUrl": {
          "type": "string"
        },
        "bannerMobileImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size (640x175)."
        },
        "bannerImageUrl": {
          "description": "Banner image. Desktop size (1060x175).",
          "type": "string"
        },
        "bannerTvLowImageUrl": {
          "type": "string",
          "description": "Banner image. TV size low resolution (854x480)."
        },
        "smallBrandedBannerImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the 640px by 70px banner image that appears below the video\nplayer in the default view of the video watch page.\nThe URL for the image that appears above the top-left corner of the video\nplayer. This is a 25-pixel-high image with a flexible width that cannot\nexceed 170 pixels."
        },
        "bannerTvMediumImageUrl": {
          "description": "Banner image. TV size medium resolution (1280x720).",
          "type": "string"
        },
        "bannerMobileExtraHdImageUrl": {
          "description": "Banner image. Mobile size high resolution (1440x395).",
          "type": "string"
        },
        "bannerMobileMediumHdImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size medium/high resolution (960x263)."
        },
        "backgroundImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the background image shown on the video watch page. The image\nshould be 1200px by 615px, with a maximum file size of 128k."
        },
        "bannerTabletHdImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size high resolution (2276x377)."
        },
        "bannerMobileHdImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1280x360)."
        },
        "bannerTabletLowImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size low resolution (1138x188)."
        },
        "bannerTvHighImageUrl": {
          "description": "Banner image. TV size high resolution (1920x1080).",
          "type": "string"
        }
      },
      "description": "Branding properties for images associated with the channel.",
      "id": "ImageSettings",
      "type": "object"
    },
    "VideoFileDetailsAudioStream": {
      "type": "object",
      "properties": {
        "bitrateBps": {
          "type": "string",
          "format": "uint64",
          "description": "The audio stream's bitrate, in bits per second."
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value\nis a four-letter vendor code.",
          "type": "string"
        },
        "channelCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The number of audio channels that the stream contains."
        },
        "codec": {
          "description": "The audio codec that the stream uses.",
          "type": "string"
        }
      },
      "description": "Information about an audio stream.",
      "id": "VideoFileDetailsAudioStream"
    },
    "LiveChatSuperChatDetails": {
      "id": "LiveChatSuperChatDetails",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower\ntiers. The lowest tier is \u003ccode\u003e1\u003c/code\u003e.",
          "type": "integer",
          "format": "uint32"
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this Super Chat event."
        },
        "amountDisplayString": {
          "type": "string",
          "description": "A rendered string that displays the fund amount and currency to the user."
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiveChatMessageListResponse": {
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "items": {
            "$ref": "LiveChatMessage"
          },
          "type": "array"
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "offlineAt": {
          "type": "string",
          "description": "The date and time when the underlying stream went offline. The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveChatMessageListResponse\"\u003c/code\u003e.",
          "type": "string",
          "default": "youtube#liveChatMessageListResponse"
        },
        "pollingIntervalMillis": {
          "type": "integer",
          "description": "The amount of time the client should wait before polling again.",
          "format": "uint32"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "id": "LiveChatMessageListResponse",
      "type": "object"
    },
    "VideoTopicDetails": {
      "id": "VideoTopicDetails",
      "description": "Freebase topic information related to the video.",
      "type": "object",
      "properties": {
        "topicCategories": {
          "description": "A list of Wikipedia URLs that provide a high-level description of the\nvideo's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs that are centrally associated with the video.\nThese are topics that are centrally featured in the video, and it can be\nsaid that the video is mainly about each of these. You can retrieve\ninformation about each topic using the \u003c a\nhref=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API\u003c/a\u003e.",
          "type": "array"
        },
        "relevantTopicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Similar to topic_id, except that these topics are merely relevant to the\nvideo. These are topics that may be mentioned in, or appear in the video.\nYou can retrieve information about each topic using \u003ca\nhref=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API\u003c/a\u003e."
        }
      }
    },
    "VideoLiveStreamingDetails": {
      "description": "Details about the live streaming metadata.",
      "properties": {
        "actualEndTime": {
          "description": "The time that the broadcast actually ended. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat. This value will not be\navailable until the broadcast is over.",
          "type": "string"
        },
        "scheduledStartTime": {
          "description": "The time that the broadcast is scheduled to begin. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "scheduledEndTime": {
          "type": "string",
          "description": "The time that the broadcast is scheduled to end. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat. If the value is empty or\nthe property is not present, then the broadcast is scheduled to continue\nindefinitely."
        },
        "activeLiveChatId": {
          "type": "string",
          "description": "The ID of the currently active live chat attached to this video. This\nfield is filled only if the video is a currently live broadcast that has\nlive chat. Once the broadcast transitions to complete this field will be\nremoved and the live chat closed down. For persistent broadcasts that live\nchat id will no longer be tied to this video but rather to the new video\nbeing displayed at the persistent page."
        },
        "actualStartTime": {
          "type": "string",
          "description": "The time that the broadcast actually started. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat. This value will not be\navailable until the broadcast begins."
        },
        "concurrentViewers": {
          "type": "string",
          "description": "The number of viewers currently watching the broadcast. The property and\nits value will be present if the broadcast has current viewers and the\nbroadcast owner has not hidden the viewcount for the video. Note that\nYouTube stops tracking the number of concurrent viewers for a broadcast\nwhen the broadcast ends. So, this property would not identify the number\nof viewers watching an archived video of a live broadcast that already\nended.",
          "format": "uint64"
        }
      },
      "id": "VideoLiveStreamingDetails",
      "type": "object"
    },
    "VideoStatistics": {
      "type": "object",
      "id": "VideoStatistics",
      "description": "Statistics about the video, such as the number of times the video was viewed\nor liked.",
      "properties": {
        "viewCount": {
          "type": "string",
          "description": "The number of times the video has been viewed.",
          "format": "uint64"
        },
        "dislikeCount": {
          "format": "uint64",
          "type": "string",
          "description": "The number of users who have indicated that they disliked the video by\ngiving it a negative rating."
        },
        "favoriteCount": {
          "format": "uint64",
          "type": "string",
          "description": "The number of users who currently have the video marked as a favorite\nvideo."
        },
        "commentCount": {
          "description": "The number of comments for the video.",
          "format": "uint64",
          "type": "string"
        },
        "likeCount": {
          "format": "uint64",
          "description": "The number of users who have indicated that they liked the video by\ngiving it a positive rating.",
          "type": "string"
        }
      }
    },
    "LiveStreamHealthStatus": {
      "type": "object",
      "properties": {
        "configurationIssues": {
          "type": "array",
          "description": "The configurations issues on this stream",
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          }
        },
        "lastUpdateTimeSeconds": {
          "format": "uint64",
          "type": "string",
          "description": "The last time this status was updated (in seconds)"
        },
        "status": {
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The status code of this stream",
          "type": "string"
        }
      },
      "id": "LiveStreamHealthStatus"
    },
    "ChannelSectionSnippet": {
      "description": "Basic details about a channel section, including title, style and position.",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published\nthe channel section.",
          "type": "string"
        },
        "type": {
          "enum": [
            "channelsectionTypeUnspecified",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of the channel section."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the channel section's default title and description."
        },
        "position": {
          "type": "integer",
          "format": "uint32",
          "description": "The position of the channel section in the channel."
        },
        "localized": {
          "$ref": "ChannelSectionLocalization",
          "description": "Localized title, read-only."
        },
        "style": {
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The style of the channel section."
        },
        "title": {
          "type": "string",
          "description": "The channel section's title for multiple_playlists and multiple_channels."
        }
      },
      "id": "ChannelSectionSnippet",
      "type": "object"
    },
    "LiveStreamStatus": {
      "description": "Brief description of the live stream status.",
      "id": "LiveStreamStatus",
      "type": "object",
      "properties": {
        "streamStatus": {
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      }
    },
    "ActivitySnippet": {
      "id": "ActivitySnippet",
      "properties": {
        "publishedAt": {
          "description": "The date and time that the video was uploaded. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the resource primarily associated with the activity.\n@mutable youtube.activities.insert"
        },
        "type": {
          "description": "The type of activity that the resource describes.",
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "title": {
          "type": "string",
          "description": "The title of the resource primarily associated with the activity."
        },
        "channelTitle": {
          "description": "Channel title for the channel responsible for this activity",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the resource that is primarily\nassociated with the activity. For each object in the map, the key is the\nname of the thumbnail image, and the value is an object that contains\nother information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel associated\nwith the activity."
        },
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user\nevents that are associated with the same user and resource. For example,\nif a user rates a video and marks the same video as a favorite, the\nentries for those events would have the same group ID in the user's\nactivity feed. In your user interface, you can avoid repetition by\ngrouping events with the same \u003ccode\u003egroupId\u003c/code\u003e value."
        }
      },
      "description": "Basic details about an activity, including title, description, thumbnails,\nactivity type and group.\nNext ID: 12",
      "type": "object"
    },
    "WatchSettings": {
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "The text color for the video watch page's branded area."
        },
        "featuredPlaylistId": {
          "type": "string",
          "description": "An ID that uniquely identifies a playlist that displays next to the video\nplayer."
        },
        "textColor": {
          "type": "string",
          "description": "The background color for the video watch page's branded area."
        }
      },
      "type": "object",
      "id": "WatchSettings",
      "description": "Branding properties for the watch. All deprecated."
    },
    "InvideoBranding": {
      "id": "InvideoBranding",
      "description": "LINT.IfChange\nDescribes an invideo branding.",
      "properties": {
        "timing": {
          "$ref": "InvideoTiming",
          "description": "The temporal position within the video where watermark will be displayed."
        },
        "imageBytes": {
          "type": "string",
          "format": "byte",
          "description": "The bytes the uploaded image. Only used in api to youtube communication."
        },
        "position": {
          "description": "The spatial position within the video where the branding watermark will be\ndisplayed.",
          "$ref": "InvideoPosition"
        },
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        },
        "targetChannelId": {
          "type": "string",
          "description": "The channel to which this branding links. If not present it defaults to\nthe current channel."
        }
      },
      "type": "object"
    },
    "MonitorStreamInfo": {
      "description": "Settings and Info of the monitor stream",
      "id": "MonitorStreamInfo",
      "type": "object",
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "HTML code that embeds a player that plays the monitor stream."
        },
        "enableMonitorStream": {
          "type": "boolean",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "This value determines whether the monitor stream is enabled for the\nbroadcast. If the monitor stream is enabled, then YouTube will\nbroadcast the event content on a special stream intended only for\nthe broadcaster's consumption. The broadcaster can use the stream\nto review the event content and also to identify the optimal times\nto insert cuepoints.\u003cbr\u003e\u003cbr\u003e\nYou need to set this value to \u003ccode\u003etrue\u003c/code\u003e if you intend to have\na broadcast delay for your event.\u003cbr\u003e\u003cbr\u003e\n\u003cstrong\u003eNote:\u003c/strong\u003e This property cannot be updated once the\nbroadcast is in the \u003ccode\u003etesting\u003c/code\u003e or \u003ccode\u003elive\u003c/code\u003e state."
        },
        "broadcastStreamDelayMs": {
          "format": "uint32",
          "type": "integer",
          "description": "If you have set the\n\u003ccode\u003e\u003ca href=\"#enableMonitorStream\"\u003eenableMonitorStream\u003c/a\u003e\u003c/code\u003e\nproperty to \u003ccode\u003etrue\u003c/code\u003e, then this property determines the\nlength of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        }
      }
    },
    "ContentRating": {
      "description": "Ratings schemes. The country-specific ratings are mostly for\nmovies and shows.\nLINT.IfChange",
      "id": "ContentRating",
      "properties": {
        "mtrcbRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ],
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ],
          "description": "The video's rating from the Movie and Television Review and\nClassification Board (Philippines).",
          "type": "string"
        },
        "csaRating": {
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ],
          "description": "The video's rating from France's Conseil sup&eacute;rieur de\nl’audiovisuel, which rates broadcast content.",
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "type": "string"
        },
        "nbcplRating": {
          "description": "The video's rating in Poland.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "type": "string"
        },
        "mpaatRating": {
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US.  See\nhttp://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html."
        },
        "fpbRatingReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ]
          },
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "enumDescriptions": [
            "",
            "South Africa rating content descriptors.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "fcoRating": {
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper\nand Article Administration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ]
        },
        "menaMpaaRating": {
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ],
          "type": "string",
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to\nprevent titles go live w/o additional QC check, since some of them can be\ninappropriate for the countries at all. See b/33408548 for more details."
        },
        "mpaaRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ],
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ],
          "description": "The video's Motion Picture Association of America (MPAA) rating.",
          "type": "string"
        },
        "cccRating": {
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ],
          "description": "The video's Consejo de Calificaci&oacute;n Cinematogr&aacute;fica (Chile)\nrating.",
          "type": "string"
        },
        "incaaRating": {
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ],
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales -\nArgentina) rating.",
          "type": "string"
        },
        "rcnofRating": {
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating\nCommittee of the National Office of Film.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "tvpgRating": {
          "type": "string",
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ],
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ]
        },
        "agcomRating": {
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorit&agrave; per le Garanzie nelle\nComunicazioni (AGCOM).",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ],
          "type": "string"
        },
        "russiaRating": {
          "type": "string",
          "description": "The video's National Film Registry of the Russian Federation\n(MKRF - Russia) rating.",
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ]
        },
        "medietilsynetRating": {
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority."
        },
        "mdaRating": {
          "type": "string",
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and,\nspecifically, it's Board of Film Censors (BFC).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ]
        },
        "moctwRating": {
          "type": "string",
          "description": "The video's rating from Taiwan's Ministry of Culture\n(&#25991;&#21270;&#37096;).",
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ]
        },
        "cncRating": {
          "type": "string",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "description": "Rating system in France - Commission de classification cinematographique"
        },
        "nmcRating": {
          "description": "The National Media Council ratings system for United Arab Emirates.",
          "type": "string",
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ]
        },
        "bfvcRating": {
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "type": "string"
        },
        "rtcRating": {
          "type": "string",
          "description": "The video's General Directorate of Radio, Television and Cinematography\n(Mexico) rating.",
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ]
        },
        "cnaRating": {
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI\n(CNA).",
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "type": "string"
        },
        "mekuRating": {
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti\n(National Audiovisual Institute).",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ]
        },
        "catvRating": {
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            ""
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System\nThe video's rating from the Canadian Radio-Television and\nTelecommunications Commission (CRTC) for Canadian English-language\nbroadcasts. For more information, see the\n\u003ca href=\"http://www.cbsc.ca/english/agvot/englishsystem.php\"\u003eCanadian\nBroadcast Standards Council\u003c/a\u003e website."
        },
        "smaisRating": {
          "description": "The video's rating in Iceland.",
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ]
        },
        "oflcRating": {
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "description": "The video's Office of Film and Literature Classification\n(OFLC - New Zealand) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "type": "string"
        },
        "pefilmRating": {
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "type": "string",
          "description": "The video's rating in Peru."
        },
        "chvrsRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "type": "string"
        },
        "kfcbRating": {
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ],
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "description": "The video's rating from the Kenya Film Classification Board.",
          "type": "string"
        },
        "egfilmRating": {
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "description": "The video's rating in Egypt."
        },
        "mibacRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating from the Ministero dei Beni e delle Attivit&agrave;\nCulturali e del Turismo (Italy).",
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm12",
            "mibacVm14",
            "mibacVm18",
            "mibacUnrated"
          ],
          "type": "string"
        },
        "smsaRating": {
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Statens medier&aring;d (Sweden's National Media\nCouncil)."
        },
        "ilfilmRating": {
          "description": "The video's rating in Israel.",
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "type": "string"
        },
        "eirinRating": {
          "description": "The video's Eirin (&#26144;&#20523;) rating.\nEirin is the Japanese rating system.",
          "type": "string",
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ]
        },
        "acbRating": {
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a \u003ccode\u003eP\u003c/code\u003e classification by the\nAustralian Communications and Media Authority. These programs are\nintended for preschool children.",
            "Programs that have been given a \u003ccode\u003eC\u003c/code\u003e classification by the\nAustralian Communications and Media Authority. These programs are\nintended for children (other than preschool children) who are younger\nthan 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian\nCommunications and Media Authority (ACMA) rating. ACMA ratings are used\nto classify children's television programming.",
          "type": "string"
        },
        "catvfrRating": {
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated"
          ],
          "type": "string",
          "description": "The video's rating from the Canadian Radio-Television and\nTelecommunications Commission (CRTC) for Canadian French-language\nbroadcasts. For more information, see the\n\u003ca href=\"http://www.cbsc.ca/english/agvot/frenchsystem.php\"\u003eCanadian\nBroadcast Standards Council\u003c/a\u003e website.",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            ""
          ]
        },
        "nfrcRating": {
          "type": "string",
          "description": "The video's rating from the \u003ca href=\"http://www.nfc.bg/\"\u003eBulgarian\nNational Film Center\u003c/a\u003e.",
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ]
        },
        "cscfRating": {
          "type": "string",
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "description": "The video's rating from Luxembourg's Commission de surveillance\nde la classification des films (CSCF).",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "grfilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece."
        },
        "bmukkRating": {
          "description": "The video's rating from the Austrian Board of Media Classification\n(Bundesministerium f&uuml;r Unterricht, Kunst und Kultur).",
          "type": "string",
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ]
        },
        "kijkwijzerRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut\nvoor de Classificatie van Audiovisuele Media (Netherlands)."
        },
        "czfilmRating": {
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "description": "The video's rating in the Czech Republic."
        },
        "ytRating": {
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ],
          "description": "A rating that YouTube uses to identify age-restricted content.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "nfvcbRating": {
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "type": "string",
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ]
        },
        "ifcoRating": {
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating.\nSee the \u003ca\nhref=\"http://www.ifco.ie/website/ifco/ifcoweb.nsf/web/classcatintro\"\u003eIFCO\u003c/a\u003e\nwebsite for more information.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "fmocRating": {
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "description": "\u003cspan class=\"deprecated\"\u003eThis property has been deprecated. Use the\n\u003ccode\u003e\u003ca\nhref=\"#contentDetails.contentRating.cncRating\"\u003econtentDetails.contentRating.cncRating\u003c/a\u003e\u003c/code\u003e\ninstead.\u003c/span\u003e",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ]
        },
        "mccypRating": {
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "description": "The video's rating from the Danish Film Institute's (Det Danske\nFilminstitut) Media Council for Children and Young People.",
          "type": "string",
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ]
        },
        "ecbmctRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "description": "Rating system in Turkey - Evaluation and Classification Board of the\nMinistry of Culture and Tourism",
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ]
        },
        "fskRating": {
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft\n(FSK - Germany) rating.",
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ],
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "type": "string"
        },
        "djctqRating": {
          "type": "string",
          "description": "The video's Departamento de Justi&ccedil;a, Classifica&ccedil;&atilde;o,\nQualifica&ccedil;&atilde;o e T&iacute;tulos (DJCQT - Brazil) rating.",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ]
        },
        "rteRating": {
          "description": "The video's rating from Ireland's Raidi&oacute; Teilif&iacute;s\n&Eacute;ireann.",
          "type": "string",
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ]
        },
        "djctqRatingReasons": {
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "items": {
            "type": "string",
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
[...]
