{
  "servicePath": "",
  "version": "v3",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "YouTube",
  "discoveryVersion": "v1",
  "schemas": {
    "MonitorStreamInfo": {
      "description": "Settings and Info of the monitor stream",
      "id": "MonitorStreamInfo",
      "properties": {
        "broadcastStreamDelayMs": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "integer",
          "format": "uint32",
          "description": "If you have set the\n\u003ccode\u003e\u003ca href=\"#enableMonitorStream\"\u003eenableMonitorStream\u003c/a\u003e\u003c/code\u003e\nproperty to \u003ccode\u003etrue\u003c/code\u003e, then this property determines the\nlength of the live broadcast delay."
        },
        "enableMonitorStream": {
          "type": "boolean",
          "description": "This value determines whether the monitor stream is enabled for the\nbroadcast. If the monitor stream is enabled, then YouTube will\nbroadcast the event content on a special stream intended only for\nthe broadcaster's consumption. The broadcaster can use the stream\nto review the event content and also to identify the optimal times\nto insert cuepoints.\u003cbr\u003e\u003cbr\u003e\nYou need to set this value to \u003ccode\u003etrue\u003c/code\u003e if you intend to have\na broadcast delay for your event.\u003cbr\u003e\u003cbr\u003e\n\u003cstrong\u003eNote:\u003c/strong\u003e This property cannot be updated once the\nbroadcast is in the \u003ccode\u003etesting\u003c/code\u003e or \u003ccode\u003elive\u003c/code\u003e state.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "embedHtml": {
          "description": "HTML code that embeds a player that plays the monitor stream.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InfoCards": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "InfoCard"
          },
          "description": "A list of infocards."
        }
      },
      "id": "InfoCards"
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "description": "JSON template for the status part of a channel.",
      "type": "object",
      "properties": {
        "madeForKids": {
          "type": "boolean"
        },
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+\naccount. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "privacyStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "Privacy status of the channel."
        },
        "longUploadsStatus": {
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "description": "The long uploads status of this channel. See\nhttps://support.google.com/youtube/answer/71673 for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      }
    },
    "Subscription": {
      "id": "Subscription",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscription."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "subscriberSnippet": {
          "$ref": "SubscriptionSubscriberSnippet",
          "description": "The \u003ccode\u003esubscriberSnippet\u003c/code\u003e object contains basic details about the\nsubscriber."
        },
        "snippet": {
          "$ref": "SubscriptionSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the\nsubscription, including its title and the channel that the user subscribed\nto."
        },
        "contentDetails": {
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains basic statistics about the\nsubscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#subscription\"\u003c/code\u003e.",
          "type": "string",
          "default": "youtube#subscription"
        }
      },
      "description": "A \u003ccode\u003e\u003cstrong\u003esubscription\u003c/strong\u003e\u003c/code\u003e resource contains information\nabout a YouTube user subscription.  A subscription notifies a user when new\nvideos are added to a channel or when another user takes one of several\nactions on YouTube, such as uploading a video, rating a video, or commenting\non a video.",
      "type": "object"
    },
    "ChannelBrandingSettings": {
      "id": "ChannelBrandingSettings",
      "description": "Branding properties of a YouTube channel.",
      "type": "object",
      "properties": {
        "watch": {
          "$ref": "WatchSettings",
          "description": "Branding properties for the watch page."
        },
        "channel": {
          "$ref": "ChannelSettings",
          "description": "Branding properties for the channel view."
        },
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "hints": {
          "description": "Additional experimental branding properties.",
          "type": "array",
          "items": {
            "$ref": "PropertyValue"
          }
        }
      }
    },
    "LiveStream": {
      "description": "A live stream describes a live ingestion point.",
      "properties": {
        "kind": {
          "default": "youtube#liveStream",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveStream\"\u003c/code\u003e.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "status": {
          "description": "The \u003ccode\u003estatus\u003c/code\u003e object contains information about\nlive stream's status.",
          "$ref": "LiveStreamStatus"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the stream."
        },
        "snippet": {
          "$ref": "LiveStreamSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the\nstream, including its channel, title, and description."
        },
        "contentDetails": {
          "$ref": "LiveStreamContentDetails",
          "description": "The \u003ccode\u003econtent_details\u003c/code\u003e object contains information about the\nstream, including the closed captions ingestion URL."
        },
        "cdn": {
          "$ref": "CdnSettings",
          "description": "The \u003ccode\u003ecdn\u003c/code\u003e object defines the live stream's content delivery\nnetwork (CDN) settings. These settings provide details about the manner\nin which you stream your content to YouTube."
        }
      },
      "id": "LiveStream",
      "type": "object"
    },
    "InfocardListResponse": {
      "id": "InfocardListResponse",
      "properties": {
        "items": {
          "description": "A list of infocards.",
          "items": {
            "$ref": "InfoCard"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is.",
          "default": "youtube#infocardListResponse",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiveBroadcastStatistics": {
      "type": "object",
      "properties": {
        "totalChatCount": {
          "description": "The total number of live chat messages currently on the broadcast. The\nproperty and its value will be present if the broadcast is public, has\nthe live chat feature enabled, and has at least one message. Note that\nthis field will not be filled after the broadcast ends. So this property\nwould not identify the number of chat messages for an archived video of a\ncompleted live broadcast.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "Statistics about the live broadcast. These represent a snapshot of the values\nat the time of the request. Statistics are only returned for live broadcasts.",
      "id": "LiveBroadcastStatistics"
    },
    "PlaylistItemSnippet": {
      "description": "Basic details about a playlist, including title, description and thumbnails.\nBasic details of a YouTube Playlist item provided by the author.\nNext ID: 13",
      "id": "PlaylistItemSnippet",
      "properties": {
        "description": {
          "description": "The item's description.",
          "type": "string"
        },
        "position": {
          "format": "uint32",
          "type": "integer",
          "description": "The order in which the item appears in the playlist. The value uses a\nzero-based index, so the first item has a position of \u003ccode\u003e0\u003c/code\u003e,\nthe second item has a position of \u003ccode\u003e1\u003c/code\u003e, and so forth."
        },
        "publishedAt": {
          "description": "The date and time that the item was added to the playlist. The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist item. For each\nobject in the map, the key is the name of the thumbnail image, and the\nvalue is an object that contains other information about the thumbnail."
        },
        "title": {
          "type": "string",
          "description": "The item's title."
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the playlist item belongs to."
        },
        "playlistId": {
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the\nplaylist item is in.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The \u003ccode\u003eid\u003c/code\u003e object contains information that can be used to\nuniquely identify the resource that is included in the playlist as\nthe playlist item."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the user that added\nthe item to the playlist.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TokenPagination": {
      "properties": {},
      "type": "object",
      "description": "Stub token pagination template to suppress results.",
      "id": "TokenPagination"
    },
    "LiveBroadcastContentDetails": {
      "properties": {
        "enableEmbed": {
          "description": "This setting indicates whether the broadcast video can be played in an\nembedded player. If you choose to archive the video (using the\n\u003ccode\u003eenableArchive\u003c/code\u003e property), this setting will also apply to\nthe archived video.",
          "type": "boolean",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "enableAutoStop": {
          "description": "This setting indicates whether auto stop is enabled for this broadcast.\nThe default value for this property is \u003ccode\u003efalse\u003c/code\u003e.\u003cbr\u003e\u003cbr\u003e\nThis setting can only be used by Events.",
          "type": "boolean"
        },
        "projection": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The projection format of this broadcast. This defaults to\n\u003ccode\u003erectangular\u003c/code\u003e.",
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ]
        },
        "recordFromStart": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "boolean",
          "description": "Automatically start recording after the event goes live.\nThe default value for this property is \u003ccode\u003etrue\u003c/code\u003e.\u003cbr\u003e\u003cbr\u003e\n\n\u003cstrong\u003eImportant:\u003c/strong\u003e You must also set the \u003ccode\u003eenableDvr\u003c/code\u003e\nproperty's value to\n\u003ccode\u003etrue\u003c/code\u003e if you want the playback to be available immediately\nafter the broadcast ends. If you set this property's value to\n\u003ccode\u003etrue\u003c/code\u003e but do not also set the \u003ccode\u003eenableDvr\u003c/code\u003e property\nto \u003ccode\u003etrue\u003c/code\u003e, there may be a delay of around one day before the\narchived video will be available for playback."
        },
        "enableContentEncryption": {
          "type": "boolean",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "This setting indicates whether YouTube should enable content encryption\nfor the broadcast."
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast.\n The default value for this property is \u003ccode\u003efalse\u003c/code\u003e.\u003cbr\u003e\u003cbr\u003e\n This setting can only be used by Events."
        },
        "closedCaptionsType": {
          "type": "string",
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "monitorStream": {
          "description": "The \u003ccode\u003emonitorStream\u003c/code\u003e object contains information about the\nmonitor stream, which the broadcaster can use to review the event\ncontent before the broadcast stream is shown publicly.",
          "$ref": "MonitorStreamInfo"
        },
        "enableDvr": {
          "type": "boolean",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "This setting determines whether viewers can access DVR controls while\nwatching the video. DVR controls enable the viewer to control the video\nplayback experience by pausing, rewinding, or fast forwarding content.\nThe default value for this property is \u003ccode\u003etrue\u003c/code\u003e.\u003cbr\u003e\u003cbr\u003e\n\n\u003cstrong\u003eImportant:\u003c/strong\u003e You must set the value to \u003ccode\u003etrue\u003c/code\u003e\nand also set the \u003ccode\u003eenableArchive\u003c/code\u003e property's value to\n\u003ccode\u003etrue\u003c/code\u003e if you want to make playback available immediately\nafter the broadcast ends."
        },
        "boundStreamId": {
          "type": "string",
          "description": "This value uniquely identifies the\n\u003ccode\u003e\u003ca href=\"/youtube/v3/live/docs/liveStreams\"\u003elive stream\u003c/a\u003e\u003c/code\u003e\nbound to the broadcast."
        },
        "latencyPreference": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction\nDoes not support: Closed captions, 1440p, and 4k resolutions"
          ],
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "description": "If both this and enable_low_latency are set, they must match.\nLATENCY_NORMAL should match enable_low_latency=false\nLATENCY_LOW should match enable_low_latency=true\nLATENCY_ULTRA_LOW should have enable_low_latency omitted."
        },
        "enableLowLatency": {
          "type": "boolean",
          "description": "Indicates whether this broadcast has low latency enabled."
        },
        "enableClosedCaptions": {
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for\nthis broadcast. The ingestion URL of the closed captions is returned\nthrough the liveStreams API.  This is mutually exclusive with using the\n\u003ccode\u003eclosed_captions_type\u003c/code\u003e property, and is equivalent to setting\n\u003ccode\u003eclosed_captions_type\u003c/code\u003e to CLOSED_CAPTIONS_HTTP_POST.",
          "type": "boolean"
        },
        "startWithSlate": {
          "description": "This setting indicates whether the broadcast should automatically begin\nwith an \u003ca\nhref=\"/youtube/v3/live/getting-started#Displaying_Slates\"\u003ein-stream\nslate\u003c/a\u003e when you update the broadcast's status to \u003ccode\u003elive\u003c/code\u003e.\nAfter updating the status, you then need to send a\n\u003ccode\u003e\u003ca\nhref=\"/youtube/v3/live/docs/liveCuepoints/insert\"\u003eliveCuepoints.insert\u003c/a\u003e\u003c/code\u003e\nrequest that sets the cuepoint's \u003ccode\u003eeventState\u003c/code\u003e to\n\u003ccode\u003eend\u003c/code\u003e to remove the in-stream slate and make your broadcast\nstream visible to viewers.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "boolean"
        },
        "mesh": {
          "type": "string",
          "format": "byte",
          "description": "The mesh for projecting the video if \u003ccode\u003eprojection\u003c/code\u003e is\n\u003ccode\u003emesh\u003c/code\u003e. The mesh value must be a UTF-8 string containing the\nbase-64 encoding of 3D mesh data that follows the \u003ca\nhref=\"https://github.com/google/spatial-media/blob/master/docs/spherical-video-v2-rfc.md\"\u003e\nSpherical Video V2 RFC specification\u003c/a\u003e for an mshp box, excluding the box\nsize and type but including the following four reserved zero bytes for the\nversion and flags."
        },
        "boundStreamLastUpdateTimeMs": {
          "description": "The date and time that the live stream referenced by\n\u003ccode\u003eboundStreamId\u003c/code\u003e was last updated.",
          "type": "string"
        }
      },
      "description": "Detailed settings of a broadcast.",
      "type": "object",
      "id": "LiveBroadcastContentDetails"
    },
    "VideoTopicDetails": {
      "type": "object",
      "description": "Freebase topic information related to the video.",
      "properties": {
        "topicCategories": {
          "description": "A list of Wikipedia URLs that provide a high-level description of the\nvideo's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Freebase topic IDs that are centrally associated with the video.\nThese are topics that are centrally featured in the video, and it can be\nsaid that the video is mainly about each of these. You can retrieve\ninformation about each topic using the \u003c a\nhref=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API\u003c/a\u003e."
        },
        "relevantTopicIds": {
          "items": {
            "type": "string"
          },
          "description": "Similar to topic_id, except that these topics are merely relevant to the\nvideo. These are topics that may be mentioned in, or appear in the video.\nYou can retrieve information about each topic using \u003ca\nhref=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API\u003c/a\u003e.",
          "type": "array"
        }
      },
      "id": "VideoTopicDetails"
    },
    "ChannelSectionTargeting": {
      "properties": {
        "countries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The country the channel section is targeting."
        },
        "regions": {
          "type": "array",
          "description": "The region the channel section is targeting.",
          "items": {
            "type": "string"
          }
        },
        "languages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The language the channel section is targeting."
        }
      },
      "type": "object",
      "description": "ChannelSection targeting setting.",
      "id": "ChannelSectionTargeting"
    },
    "VideoAgeGating": {
      "id": "VideoAgeGating",
      "type": "object",
      "properties": {
        "videoGameRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Video game rating, if any.",
          "type": "string",
          "enum": [
            "anyone",
            "m15Plus",
            "m16Plus",
            "m17Plus"
          ]
        },
        "restricted": {
          "description": "Age-restricted trailers. For redband trailers and adult-rated video-games.\nOnly users aged 18+ can view the content. The the field is\n\u003ccode\u003etrue\u003c/code\u003e the content is restricted to viewers aged 18+. Otherwise\nThe field won't be present.",
          "type": "boolean"
        },
        "alcoholContent": {
          "type": "boolean",
          "description": "Indicates whether or not the video has alcoholic beverage content. Only\nusers of legal purchasing age in a particular country, as identified by\nICAP, can view the content."
        }
      }
    },
    "VideoCard": {
      "properties": {
        "playbackStartOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Playback start time offset in milliseconds.\nOptional."
        },
        "videoId": {
          "description": "Encrypted Video ID.\nRequired.",
          "type": "string"
        },
        "customMessage": {
          "description": "Each card can have a custom message.\nOptional.",
          "type": "string"
        }
      },
      "id": "VideoCard",
      "type": "object"
    },
    "VideoMonetizationDetails": {
      "properties": {
        "access": {
          "$ref": "AccessPolicy",
          "description": "The value of \u003ccode\u003eaccess\u003c/code\u003e indicates whether the video can be\nmonetized or not."
        }
      },
      "description": "Details about monetization of a YouTube Video.",
      "type": "object",
      "id": "VideoMonetizationDetails"
    },
    "LiveChatModerator": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "LiveChatModeratorSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the\nmoderator."
        },
        "kind": {
          "default": "youtube#liveChatModerator",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveChatModerator\"\u003c/code\u003e."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the moderator.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A \u003ccode\u003e\u003cstrong\u003eliveChatModerator\u003c/strong\u003e\u003c/code\u003e resource represents a\nmoderator for a YouTube live chat. A chat moderator has the ability to\nban/unban users from a chat, remove message, etc.",
      "id": "LiveChatModerator"
    },
    "PlaylistPlayer": {
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "An \u003ccode\u003e&lt;iframe&gt;\u003c/code\u003e tag that embeds a player that will\nplay the playlist."
        }
      },
      "id": "PlaylistPlayer",
      "type": "object"
    },
    "InfoCardSnippetTeaser": {
      "id": "InfoCardSnippetTeaser",
      "type": "object",
      "properties": {
        "teaserText": {
          "type": "string",
          "description": "The teaser text to show at the top of the player for the info-card.\nRequired for channel and link type cards.\nOptional for video and playlist type cards."
        },
        "teaserStartOffset": {
          "description": "The offset from the video start at which the teaser should be displayed\n(activated), in milliseconds.\nRequired.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "VideoSnippet": {
      "id": "VideoSnippet",
      "properties": {
        "liveBroadcastContent": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "description": "Indicates if the video is an upcoming/active live broadcast.\nOr it's \"none\" if the video is not an upcoming/active live broadcast."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that the\nvideo was uploaded to."
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the video belongs to."
        },
        "categoryId": {
          "description": "The YouTube \u003ca href=\"/youtube/v3/docs/videoCategories/list\"\u003evideo\ncategory\u003c/a\u003e associated with the video.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The video's title.\n@mutable youtube.videos.insert youtube.videos.update"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the videos's default snippet."
        },
        "localized": {
          "$ref": "VideoLocalization",
          "description": "Localized snippet selected with the hl parameter. If no such localization\nexists, this field is populated with the default snippet. (Read-only)"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the\nmap, the key is the name of the thumbnail image, and the value is an object\nthat contains other information about the thumbnail."
        },
        "defaultAudioLanguage": {
          "description": "The \u003ccode\u003edefault_audio_language\u003c/code\u003e property specifies the language\nspoken in the video's default audio track.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The video's description.\n@mutable youtube.videos.insert youtube.videos.update"
        },
        "tags": {
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publishedAt": {
          "description": "The date and time that the video was uploaded. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic details about a video, including title, description, uploader,\nthumbnails and category."
    },
    "LinkCardUploadedImage": {
      "id": "LinkCardUploadedImage",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version in the thumbnail service.",
          "type": "string",
          "format": "int64"
        },
        "imageFile": {
          "description": "Image reference on the thumbnail service.",
          "type": "string"
        }
      }
    },
    "TestItemTestItemSnippet": {
      "type": "object",
      "id": "TestItemTestItemSnippet",
      "properties": {}
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "properties": {
        "width": {
          "description": "(Optional) Width of the thumbnail image.",
          "format": "uint32",
          "type": "integer"
        },
        "height": {
          "description": "(Optional) Height of the thumbnail image.",
          "format": "uint32",
          "type": "integer"
        },
        "url": {
          "description": "The thumbnail image's URL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A thumbnail is an image representing a YouTube resource."
    },
    "VideoStatus": {
      "properties": {
        "embeddable": {
          "type": "boolean",
          "description": "This value indicates if the video can be embedded on another website.\n@mutable youtube.videos.insert youtube.videos.update"
        },
        "uploadStatus": {
          "description": "The status of the uploaded video.",
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ],
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "type": "string"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page\ncan be viewed by everyone. Note that the view count, likes, etc will still\nbe visible if this is disabled.\n@mutable youtube.videos.insert youtube.videos.update"
        },
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The video's privacy status."
        },
        "publishAt": {
          "type": "string",
          "description": "The date and time when the video is scheduled to publish. It can be set\nonly if the privacy status of the video is private. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat."
        },
        "failureReason": {
          "description": "This value explains why a video failed to upload. This property is\nonly present if the \u003ccode\u003euploadStatus\u003c/code\u003e property indicates that\nthe upload failed.",
          "type": "string",
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ]
        },
        "rejectionReason": {
          "type": "string",
          "description": "This value explains why YouTube rejected an uploaded video. This\nproperty is only present if the \u003ccode\u003euploadStatus\u003c/code\u003e property\nindicates that the upload was rejected.",
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ]
        },
        "madeForKids": {
          "type": "boolean"
        },
        "license": {
          "description": "The video's license.\n@mutable youtube.videos.insert youtube.videos.update",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "youtube",
            "creativeCommon"
          ]
        }
      },
      "type": "object",
      "id": "VideoStatus",
      "description": "Basic details about a video category, such as its localized title.\nNext Id: 16"
    },
    "PropertyValue": {
      "description": "A pair Property / Value.",
      "type": "object",
      "id": "PropertyValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "The property's value."
        },
        "property": {
          "type": "string",
          "description": "A property."
        }
      }
    },
    "LiveStreamConfigurationIssue": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "The short-form reason for this issue.",
          "type": "string"
        },
        "type": {
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The kind of error happening."
        },
        "description": {
          "description": "The long-form description of the issue and how to resolve it.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "info",
            "warning",
            "error"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "How severe this issue is to the stream.",
          "type": "string"
        }
      },
      "id": "LiveStreamConfigurationIssue"
    },
    "ImageSettings": {
      "type": "object",
      "properties": {
        "bannerTabletExtraHdImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size extra high resolution (2560x424)."
        },
        "bannerMobileImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size (640x175)."
        },
        "bannerTvMediumImageUrl": {
          "description": "Banner image. TV size medium resolution (1280x720).",
          "type": "string"
        },
        "largeBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the large banner image."
        },
        "bannerTvImageUrl": {
          "description": "Banner image. TV size extra high resolution (2120x1192).",
          "type": "string"
        },
        "bannerMobileMediumHdImageUrl": {
          "description": "Banner image. Mobile size medium/high resolution (960x263).",
          "type": "string"
        },
        "bannerMobileExtraHdImageUrl": {
          "description": "Banner image. Mobile size high resolution (1440x395).",
          "type": "string"
        },
        "trackingImageUrl": {
          "type": "string",
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect\nstatistics for views of the channel or video pages."
        },
        "bannerTvHighImageUrl": {
          "type": "string",
          "description": "Banner image. TV size high resolution (1920x1080)."
        },
        "bannerTabletLowImageUrl": {
          "description": "Banner image. Tablet size low resolution (1138x188).",
          "type": "string"
        },
        "bannerTabletHdImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size high resolution (2276x377)."
        },
        "bannerExternalUrl": {
          "type": "string",
          "description": "This is used only in update requests; if it's set, we use this URL to\ngenerate all of the above banner URLs."
        },
        "backgroundImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the background image shown on the video watch page. The image\nshould be 1200px by 615px, with a maximum file size of 128k."
        },
        "bannerMobileHdImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1280x360)."
        },
        "smallBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the small banner image."
        },
        "bannerTabletImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size (1707x283)."
        },
        "bannerTvLowImageUrl": {
          "type": "string",
          "description": "Banner image. TV size low resolution (854x480)."
        },
        "largeBrandedBannerImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the 854px by 70px image that appears below the video player in\nthe expanded video view of the video watch page."
        },
        "smallBrandedBannerImageUrl": {
          "description": "The URL for the 640px by 70px banner image that appears below the video\nplayer in the default view of the video watch page.\nThe URL for the image that appears above the top-left corner of the video\nplayer. This is a 25-pixel-high image with a flexible width that cannot\nexceed 170 pixels.",
          "$ref": "LocalizedProperty"
        },
        "watchIconImageUrl": {
          "type": "string"
        },
        "bannerMobileLowImageUrl": {
          "description": "Banner image. Mobile size low resolution (320x88).",
          "type": "string"
        },
        "bannerImageUrl": {
          "type": "string",
          "description": "Banner image. Desktop size (1060x175)."
        }
      },
      "description": "Branding properties for images associated with the channel.",
      "id": "ImageSettings"
    },
    "PlaylistCard": {
      "id": "PlaylistCard",
      "properties": {
        "startVideoId": {
          "description": "Starting video, if not the first.\nOptional.",
          "type": "string"
        },
        "customMessage": {
          "type": "string",
          "description": "Each card can have a custom message.\nOptional."
        },
        "playlistId": {
          "description": "External playlist ID.\nRequired.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AbuseReport": {
      "type": "object",
      "id": "AbuseReport",
      "properties": {
        "description": {
          "type": "string"
        },
        "abuseTypes": {
          "type": "array",
          "items": {
            "$ref": "AbuseType"
          }
        },
        "relatedEntities": {
          "type": "array",
          "items": {
            "$ref": "RelatedEntity"
          }
        },
        "subject": {
          "$ref": "Entity"
        }
      }
    },
    "SuperChatEvent": {
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube\nchannel.",
      "type": "object",
      "id": "SuperChatEvent",
      "properties": {
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#superChatEvent",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n`\"youtube#superChatEvent\"`."
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the Super Chat event.",
          "$ref": "SuperChatEventSnippet"
        }
      }
    },
    "GeoPoint": {
      "type": "object",
      "id": "GeoPoint",
      "description": "Geographical coordinates of a point, in WGS84.",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in degrees."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in degrees."
        },
        "altitude": {
          "format": "double",
          "description": "Altitude above the reference ellipsoid, in meters.",
          "type": "number"
        }
      }
    },
    "ActivityContentDetailsComment": {
      "description": "Information about a resource that received a comment.",
      "id": "ActivityContentDetailsComment",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The \u003ccode\u003eresourceId\u003c/code\u003e object contains information that\nidentifies the resource associated with the comment."
        }
      },
      "type": "object"
    },
    "PlaylistItemListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#playlistItemListResponse\"\u003c/code\u003e.\nEtag of this resource.",
          "default": "youtube#playlistItemListResponse"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string"
        },
        "items": {
          "description": "A list of playlist items that match the request criteria.",
          "items": {
            "$ref": "PlaylistItem"
          },
          "type": "array"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "id": "PlaylistItemListResponse"
    },
    "ChannelSectionSnippet": {
      "id": "ChannelSectionSnippet",
      "properties": {
        "localized": {
          "description": "Localized title, read-only.",
          "$ref": "ChannelSectionLocalization"
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string"
        },
        "style": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The style of the channel section.",
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ]
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of the channel section.",
          "type": "string",
          "enum": [
            "channelsectionTypeUnspecified",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ]
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published\nthe channel section.",
          "type": "string"
        },
        "position": {
          "description": "The position of the channel section in the channel.",
          "type": "integer",
          "format": "uint32"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the channel section's default title and description."
        }
      },
      "description": "Basic details about a channel section, including title, style and position.",
      "type": "object"
    },
    "LiveChatMessageListResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveChatMessageListResponse\"\u003c/code\u003e.",
          "default": "youtube#liveChatMessageListResponse"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveChatMessage"
          }
        },
        "offlineAt": {
          "description": "The date and time when the underlying stream went offline. The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "pollingIntervalMillis": {
          "format": "uint32",
          "type": "integer",
          "description": "The amount of time the client should wait before polling again."
        }
      },
      "id": "LiveChatMessageListResponse"
    },
    "Playlist": {
      "description": "A \u003ccode\u003e\u003cstrong\u003eplaylist\u003c/strong\u003e\u003c/code\u003e resource represents a YouTube\nplaylist. A playlist is a collection of videos that can be viewed\nsequentially and shared with other users. A playlist can contain up to\n200 videos, and YouTube does not limit the number of playlists that\neach user creates. By default, playlists are publicly visible to other\nusers, but playlists can be public or private.  \u003cbr/\u003e\u003cbr/\u003e YouTube\nalso uses playlists to identify special collections of videos for a\nchannel, such as:\n  \u003cul\u003e\n    \u003cli\u003euploaded videos\u003c/li\u003e\n    \u003cli\u003efavorite videos\u003c/li\u003e\n    \u003cli\u003epositively rated (liked) videos\u003c/li\u003e\n    \u003cli\u003ewatch history\u003c/li\u003e\n    \u003cli\u003ewatch later\u003c/li\u003e\n  \u003c/ul\u003e\nTo be more specific, these lists are associated with a channel, which\nis a collection of a person, group, or company's videos, playlists,\nand other YouTube information.  You can retrieve the playlist IDs for\neach of these lists from the \u003ccode\u003e\u003ca\nhref=\\\"/youtube/v3/docs/channels\\\"\u003e channel resource\u003c/a\u003e\u003c/code\u003e for a\ngiven channel.\u003cbr/\u003e\u003cbr/\u003e You can then use the \u003ccode\u003e \u003ca\nhref=\\\"/youtube/v3/docs/playlistItems/list\\\"\u003e\nplaylistItems.list\u003c/a\u003e\u003c/code\u003e method to retrieve any of those\nlists. You can also add or remove items from those lists by calling\nthe \u003ccode\u003e \u003ca href=\\\"/youtube/v3/docs/playlistItems/insert\\\"\u003e\nplaylistItems.insert\u003c/a\u003e\u003c/code\u003e and \u003ccode\u003e \u003ca\nhref=\\\"/youtube/v3/docs/playlistItems/delete\\\"\u003e\nplaylistItems.delete\u003c/a\u003e\u003c/code\u003e methods.",
      "properties": {
        "player": {
          "description": "The \u003ccode\u003eplayer\u003c/code\u003e object contains information that you would use\nto play the playlist in an embedded player.",
          "$ref": "PlaylistPlayer"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "contentDetails": {
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains information like\nvideo count.",
          "$ref": "PlaylistContentDetails"
        },
        "status": {
          "$ref": "PlaylistStatus",
          "description": "The \u003ccode\u003estatus\u003c/code\u003e object contains status information for the\nplaylist."
        },
        "kind": {
          "default": "youtube#playlist",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#playlist\"\u003c/code\u003e.",
          "type": "string"
        },
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the\nplaylist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the playlist.",
          "type": "string"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "description": "Localizations for different languages"
        }
      },
      "id": "Playlist",
      "type": "object"
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "properties": {
        "liveChatId": {
          "type": "string",
          "description": "The ID of the live chat this moderator can act on."
        },
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        }
      },
      "type": "object"
    },
    "SearchResult": {
      "properties": {
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about a search\nresult, such as its title or description. For example, if the search result\nis a video, then the title will be the\nvideo's title and the description will be the video's description.",
          "$ref": "SearchResultSnippet"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#searchResult\"\u003c/code\u003e.",
          "default": "youtube#searchResult"
        },
        "id": {
          "description": "The \u003ccode\u003eid\u003c/code\u003e object contains information that can be used to\nuniquely identify the resource that matches the search request.",
          "$ref": "ResourceId"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A search result contains information about a YouTube video, channel, or\nplaylist that matches the search parameters specified in an API request.\nWhile a search result points to a uniquely identifiable resource, like a\nvideo, it does not have its own persistent data.",
      "id": "SearchResult"
    },
    "LiveChatMessageDeletedDetails": {
      "type": "object",
      "properties": {
        "deletedMessageId": {
          "type": "string"
        }
      },
      "id": "LiveChatMessageDeletedDetails"
    },
    "LiveChatModeratorListResponse": {
      "id": "LiveChatModeratorListResponse",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LiveChatModerator"
          },
          "description": "A list of moderators that match the request criteria.",
          "type": "array"
        },
        "visitorId": {
          "type": "string",
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveChatModeratorListResponse\"\u003c/code\u003e.",
          "default": "youtube#liveChatModeratorListResponse",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        }
      }
    },
    "Activity": {
      "description": "An \u003ccode\u003e\u003cstrong\u003eactivity\u003c/strong\u003e\u003c/code\u003e resource contains\ninformation about an action that a particular channel, or user, has\ntaken on YouTube.The actions reported in activity feeds include rating\na video, sharing a video, marking a video as a favorite, commenting on\na video, uploading a video, and so forth. Each \u003ccode\u003eactivity\u003c/code\u003e\nresource identifies the type of action, the channel associated with\nthe action, and the resource(s) associated with the action, such as\nthe video that was rated or uploaded.",
      "properties": {
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains information about the\ncontent associated with the activity. For example, if the\n\u003ccode\u003esnippet.type\u003c/code\u003e value is \u003ccode\u003evideoRated\u003c/code\u003e, then the\n\u003ccode\u003econtentDetails\u003c/code\u003e object's content identifies the rated video."
        },
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the\nactivity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#activity\"\u003c/code\u003e.",
          "default": "youtube#activity"
        }
      },
      "id": "Activity",
      "type": "object"
    },
    "GuideCategory": {
      "properties": {
        "snippet": {
          "$ref": "GuideCategorySnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the category,\nsuch as its title."
        },
        "kind": {
          "default": "youtube#guideCategory",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#guideCategory\"\u003c/code\u003e."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the guide category.",
          "type": "string"
        }
      },
      "description": "A \u003ccode\u003e\u003cstrong\u003eguideCategory\u003c/strong\u003e\u003c/code\u003e resource identifies a category\nthat YouTube algorithmically assigns based on a\nchannel's content or other indicators, such as the channel's popularity. The\nlist is similar to \u003ca\nhref=\\\"/youtube/v3/docs/videocategory.html\\\"\u003evideo categories\u003c/a\u003e, with the\ndifference being that a video's uploader can assign a video category but only\nYouTube can assign a channel category.",
      "type": "object",
      "id": "GuideCategory"
    },
    "ChannelAuditDetails": {
      "properties": {
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean"
        },
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The \u003ccode\u003eauditDetails\u003c/code\u003e object encapsulates channel data that is\nrelevant for YouTube Partners during the audit process.",
      "id": "ChannelAuditDetails"
    },
    "PlaylistItemStatus": {
      "type": "object",
      "properties": {
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "This resource's privacy status."
        }
      },
      "id": "PlaylistItemStatus",
      "description": "Information about the playlist item's privacy status."
    },
    "ResourceId": {
      "properties": {
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if\nthat resource is a playlist. This property is only present if the\n\u003ccode\u003eresourceId.kind\u003c/code\u003e value is \u003ccode\u003eyoutube#playlist\u003c/code\u003e."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if\nthat resource is a video. This property is only present if the\n\u003ccode\u003eresourceId.kind\u003c/code\u003e value is \u003ccode\u003eyoutube#video\u003c/code\u003e.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if\nthat resource is a channel. This property is only present if the\n\u003ccode\u003eresourceId.kind\u003c/code\u003e value is \u003ccode\u003eyoutube#channel\u003c/code\u003e."
        }
      },
      "type": "object",
      "description": "A resource id is a generic reference that points to another YouTube resource.",
      "id": "ResourceId"
    },
    "CommentThreadListResponse": {
      "id": "CommentThreadListResponse",
      "properties": {
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#commentThreadListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#commentThreadListResponse\"\u003c/code\u003e."
        },
        "items": {
          "type": "array",
          "description": "A list of comment threads that match the request criteria.",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        }
      },
      "type": "object"
    },
    "I18nRegionSnippet": {
      "properties": {
        "gl": {
          "type": "string",
          "description": "The region code as a 2-letter ISO country code."
        },
        "name": {
          "description": "The human-readable name of the region.",
          "type": "string"
        }
      },
      "description": "Basic details about an i18n region, such as region code and human-readable\nname.",
      "type": "object",
      "id": "I18nRegionSnippet"
    },
    "VideoAbuseReportReasonSnippet": {
      "properties": {
        "label": {
          "description": "The localized label belonging to this abuse report reason.",
          "type": "string"
        },
        "secondaryReasons": {
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "description": "The secondary reasons associated with this reason, if any are available.\n(There might be 0 or more.)",
          "type": "array"
        }
      },
      "id": "VideoAbuseReportReasonSnippet",
      "description": "Basic details about a video category, such as its localized title.",
      "type": "object"
    },
    "ChannelSection": {
      "properties": {
        "targeting": {
          "$ref": "ChannelSectionTargeting",
          "description": "The \u003ccode\u003etargeting\u003c/code\u003e object contains basic targeting settings about\nthe channel section."
        },
        "kind": {
          "default": "youtube#channelSection",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#channelSection\"\u003c/code\u003e."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel section.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages",
          "type": "object"
        },
        "snippet": {
          "$ref": "ChannelSectionSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the channel\nsection, such as its type, style and title."
        },
        "contentDetails": {
          "$ref": "ChannelSectionContentDetails",
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains details about the channel\nsection content, such as a list of playlists or channels featured in the\nsection."
        }
      },
      "type": "object",
      "id": "ChannelSection"
    },
    "InvideoTiming": {
      "properties": {
        "offsetMs": {
          "description": "Defines the time at which the promotion will appear. Depending on the value\nof \u003ccode\u003etype\u003c/code\u003e the value of the \u003ccode\u003eoffsetMs\u003c/code\u003e field will\nrepresent a time offset from the start or from the end of the video,\nexpressed in milliseconds.",
          "format": "uint64",
          "type": "string"
        },
        "durationMs": {
          "format": "uint64",
          "type": "string",
          "description": "Defines the duration in milliseconds for which the promotion should be\ndisplayed. If missing, the client should use the default."
        },
        "type": {
          "type": "string",
          "enum": [
            "offsetFromStart",
            "offsetFromEnd"
          ],
          "description": "Describes a timing type. If the value is \u003ccode\u003eoffsetFromStart\u003c/code\u003e, then\nthe \u003ccode\u003eoffsetMs\u003c/code\u003e field represents an offset from the start of the\nvideo. If the value is \u003ccode\u003eoffsetFromEnd\u003c/code\u003e, then the\n\u003ccode\u003eoffsetMs\u003c/code\u003e field represents an offset from the end of the video.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "id": "InvideoTiming",
      "type": "object",
      "description": "Describes a temporal position of a visual widget inside a video."
    },
    "CdnSettings": {
      "id": "CdnSettings",
      "description": "Brief description of the live stream cdn settings.",
      "properties": {
        "ingestionType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ],
          "type": "string",
          "description": " The method or protocol used to transmit the video stream."
        },
        "resolution": {
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The resolution of the inbound video data.",
          "type": "string"
        },
        "ingestionInfo": {
          "description": "The \u003ccode\u003eingestionInfo\u003c/code\u003e object contains information that YouTube\nprovides that you need to transmit your RTMP or HTTP stream to YouTube.",
          "$ref": "IngestionInfo"
        },
        "frameRate": {
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "type": "string",
          "description": "The frame rate of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "format": {
          "type": "string",
          "description": "The format of the video stream that you are sending to Youtube. \u003cbr\u003e\u003cbr\u003e"
        }
      },
      "type": "object"
    },
    "VideoContentDetails": {
      "id": "VideoContentDetails",
      "description": "Details about the content of a YouTube Video.",
      "type": "object",
      "properties": {
        "duration": {
          "description": "The length of the video. The tag value is an \u003ca\nhref=\"//en.wikipedia.org/wiki/ISO_8601#Durations\"\u003eISO 8601\u003c/a\u003e duration in\nthe format \u003ccode\u003ePT#M#S\u003c/code\u003e, in which the letters \u003ccode\u003ePT\u003c/code\u003e\nindicate that the value specifies a period of time, and the letters\n\u003ccode\u003eM\u003c/code\u003e and \u003ccode\u003eS\u003c/code\u003e refer to length in minutes and seconds,\nrespectively. The \u003ccode\u003e#\u003c/code\u003e characters preceding the \u003ccode\u003eM\u003c/code\u003e\nand \u003ccode\u003eS\u003c/code\u003e letters are both integers that specify the number of\nminutes (or seconds) of the video. For example, a value of\n\u003ccode\u003ePT15M51S\u003c/code\u003e indicates that the video is 15 minutes and 51 seconds\nlong.",
          "type": "string"
        },
        "regionRestriction": {
          "$ref": "VideoContentDetailsRegionRestriction",
          "description": "The \u003ccode\u003eregionRestriction\u003c/code\u003e object contains information about the\ncountries where a video is (or is not) viewable. The object will contain\neither the \u003ccode\u003econtentDetails.regionRestriction.allowed\u003c/code\u003e property\nor the \u003ccode\u003econtentDetails.regionRestriction.blocked\u003c/code\u003e property."
        },
        "dimension": {
          "description": "The value of \u003ccode\u003edimension\u003c/code\u003e indicates whether the video is\navailable in 3D or in 2D.",
          "type": "string"
        },
        "licensedContent": {
          "type": "boolean",
          "description": "The value of \u003ccode\u003eis_license_content\u003c/code\u003e indicates whether the video is\nlicensed content."
        },
        "hasCustomThumbnail": {
          "type": "boolean",
          "description": "Indicates whether the video uploader has provided a custom\nthumbnail image for the video.\nThis property is only visible to the video uploader."
        },
        "caption": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "true",
            "false"
          ],
          "description": "The value of \u003ccode\u003ecaptions\u003c/code\u003e indicates whether the video\nhas captions or not.",
          "type": "string"
        },
        "countryRestriction": {
          "$ref": "AccessPolicy",
          "description": "The \u003ccode\u003ecountryRestriction\u003c/code\u003e object contains information about the\ncountries where a video is (or is not) viewable."
        },
        "definition": {
          "enum": [
            "sd",
            "hd"
          ],
          "enumDescriptions": [
            "sd",
            "hd"
          ],
          "description": "The value of \u003ccode\u003edefinition\u003c/code\u003e indicates whether the video is\navailable in high definition or only in standard definition.",
          "type": "string"
        },
        "projection": {
          "description": "Specifies the projection format of the video.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "rectangular",
            "360"
          ]
        },
        "contentRating": {
          "$ref": "ContentRating",
          "description": "Specifies the ratings that the video received under various rating schemes."
        }
      }
    },
    "PromotedItem": {
      "properties": {
        "promotedByContentOwner": {
          "type": "boolean",
          "description": "If true, the content owner's name will be used when displaying the\npromotion. This field can only be set when the update is made on behalf of\nthe content owner."
        },
        "customMessage": {
          "type": "string",
          "description": "A custom message to display for this promotion. This field is currently\nignored unless the promoted item is a website."
        },
        "id": {
          "description": "Identifies the promoted item.",
          "$ref": "PromotedItemId"
        },
        "timing": {
          "$ref": "InvideoTiming",
          "description": "The temporal position within the video where the promoted item will be\ndisplayed. If present, it overrides the default timing."
        }
      },
      "id": "PromotedItem",
      "description": "Describes a single promoted item.",
      "type": "object"
    },
    "InvideoBranding": {
      "description": "LINT.IfChange\nDescribes an invideo branding.",
      "properties": {
        "imageBytes": {
          "format": "byte",
          "type": "string",
          "description": "The bytes the uploaded image. Only used in api to youtube communication."
        },
        "targetChannelId": {
          "description": "The channel to which this branding links. If not present it defaults to\nthe current channel.",
          "type": "string"
        },
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "position": {
          "description": "The spatial position within the video where the branding watermark will be\ndisplayed.",
          "$ref": "InvideoPosition"
        },
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        }
      },
      "id": "InvideoBranding",
      "type": "object"
    },
    "LanguageTag": {
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "id": "LanguageTag",
      "type": "object"
    },
    "PlaylistItemContentDetails": {
      "id": "PlaylistItemContentDetails",
      "type": "object",
      "properties": {
        "note": {
          "description": "A user-generated note for this item.",
          "type": "string"
        },
        "startAt": {
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video\nshould start playing. (The playlist owner can specify the times when the\nvideo should start and stop playing when the video is played in the context\nof the playlist.) The default value is \u003ccode\u003e0\u003c/code\u003e."
        },
        "videoPublishedAt": {
          "type": "string",
          "description": "The date and time that the video was published to YouTube. The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat."
        },
        "endAt": {
          "description": "The time, measured in seconds from the start of the video, when the video\nshould stop playing. (The playlist owner can specify the times when the\nvideo should start and stop playing when the video is played in the context\nof the playlist.) By default, assume that the \u003ccode\u003evideo.endTime\u003c/code\u003e is\nthe end of the video.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify a video. To \u003ca\nhref=\"/youtube/v3/docs/video/list.html\"\u003eretrieve the \u003ccode\u003evideo\u003c/code\u003e\nresource\u003c/a\u003e, set the \u003ccode\u003eid\u003c/code\u003e query parameter to this value in your\nAPI request.",
          "type": "string"
        }
      }
    },
    "SponsorSnippet": {
      "type": "object",
      "properties": {
        "cumulativeDurationMonths": {
          "description": "The cumulative time a user has been a sponsor in months.",
          "format": "int32",
          "type": "integer"
        },
        "sponsorSince": {
          "description": "The date and time when the user became a sponsor. The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\n(`YYYY-MM-DDThh:mm:ss.sZ`) format.",
          "type": "string"
        },
        "sponsorDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the sponsor."
        },
        "channelId": {
          "description": "The id of the channel being sponsored.",
          "type": "string"
        }
      },
      "id": "SponsorSnippet"
    },
    "LiveBroadcast": {
      "id": "LiveBroadcast",
      "properties": {
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the event,\nincluding its title, description, start time, and end time.",
          "$ref": "LiveBroadcastSnippet"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "contentDetails": {
          "description": "The \u003ccode\u003econtentDetails\u003c/code\u003e object contains information about the\nevent's video content, such as whether the content can be shown in an\nembedded video player or if it will be archived and therefore available\nfor viewing after the event has concluded.",
          "$ref": "LiveBroadcastContentDetails"
        },
        "status": {
          "description": "The \u003ccode\u003estatus\u003c/code\u003e object contains information about the event's\nstatus.",
          "$ref": "LiveBroadcastStatus"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#liveBroadcast\"\u003c/code\u003e.",
          "type": "string",
          "default": "youtube#liveBroadcast"
        },
        "statistics": {
          "$ref": "LiveBroadcastStatistics",
          "description": "The \u003ccode\u003estatistics\u003c/code\u003e object contains info about the event's current\nstats. These include concurrent viewers and total chat count. Statistics\ncan change (in either direction) during the lifetime of an event.\nStatistics are only returned while the event is live."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
          "type": "string"
        }
      },
      "description": "A \u003ccode\u003e\u003cstrong\u003eliveBroadcast\u003c/strong\u003e\u003c/code\u003e resource represents an event\nthat will be streamed, via live video, on YouTube.",
      "type": "object"
    },
    "I18nRegion": {
      "id": "I18nRegion",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the i18n region."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the i18n\nregion, such as region code and human-readable name.",
          "$ref": "I18nRegionSnippet"
        },
        "kind": {
          "default": "youtube#i18nRegion",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#i18nRegion\"\u003c/code\u003e.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A \u003ccode\u003e\u003cstrong\u003ei18nRegion\u003c/strong\u003e\u003c/code\u003e resource identifies a region where\nYouTube is available."
    },
    "ActivityContentDetailsLike": {
      "description": "Information about a resource that received a positive (like) rating.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The \u003ccode\u003eresourceId\u003c/code\u003e object contains information that identifies\nthe rated resource.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsLike"
    },
    "PlaylistSnippet": {
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "id": "PlaylistSnippet",
      "type": "object",
      "properties": {
        "description": {
          "description": "The playlist's description.",
          "type": "string"
        },
        "tags": {
          "description": "Keyword tags associated with the playlist.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the playlist's default title and description."
        },
        "title": {
          "description": "The playlist's title.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the playlist was created. The value is specified\nin \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that\npublished the playlist.",
          "type": "string"
        },
        "localized": {
          "$ref": "PlaylistLocalization",
          "description": "Localized title and description, read-only."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object\nin the map, the key is the name of the thumbnail image, and the value\nis an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "channelTitle": {
          "description": "The channel title of the channel that the video belongs to.",
          "type": "string"
        }
      }
    },
    "MembershipsLevel": {
      "description": "A \u003ccode\u003e\u003cstrong\u003emembershipsLevel\u003c/strong\u003e\u003c/code\u003e resource represents an offer\nmade by YouTube creators for their fans. Users can become members of the\nchannel by joining one of the available levels. They will provide recurring\nmonetary support and receives special benefits.",
      "id": "MembershipsLevel",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#membershipsLevelListResponse\"\u003c/code\u003e.",
          "default": "youtube#membershipsLevel"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "MembershipsLevelSnippet",
          "description": "The \u003ccode\u003esnippet\u003c/code\u003e object contains basic details about the level."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the memberships level.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuideCategoryListResponse": {
      "id": "GuideCategoryListResponse",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the previous page in the result set."
        },
        "items": {
          "description": "A list of categories that can be associated with YouTube channels. In this\nmap, the category ID is the map key, and its value is the corresponding\n\u003ccode\u003eguideCategory\u003c/code\u003e resource.",
          "items": {
            "$ref": "GuideCategory"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#guideCategoryListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#guideCategoryListResponse\"\u003c/code\u003e."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiveChatUserBannedMessageDetails": {
      "type": "object",
      "id": "LiveChatUserBannedMessageDetails",
      "properties": {
        "banType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of ban.",
          "enum": [
            "permanent",
            "temporary"
          ]
        },
        "bannedUserDetails": {
          "description": "The details of the user that was banned.",
          "$ref": "ChannelProfileDetails"
        },
        "banDurationSeconds": {
          "description": "The duration of the ban. This property is only present if the\n\u003ccode\u003ebanType\u003c/code\u003e is \u003ccode\u003etemporary\u003c/code\u003e.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "Sponsor": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the sponsor.",
          "$ref": "SponsorSnippet"
        },
        "kind": {
          "default": "youtube#sponsor",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n`\"youtube#sponsor\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Sponsor",
      "description": "A `__sponsor__` resource represents a sponsor for a YouTube channel.  A\nsponsor provides recurring monetary support to a creator and receives special\nbenefits."
    },
    "LiveBroadcastSnippet": {
      "id": "LiveBroadcastSnippet",
      "type": "object",
      "description": "Basic broadcast information.",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that\nis publishing the broadcast.",
          "type": "string"
        },
        "actualEndTime": {
          "description": "The date and time that the broadcast actually ended. This information is\nonly available once the broadcast's state is \u003ccode\u003ecomplete\u003c/code\u003e. The\nvalue is specified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "scheduledEndTime": {
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to end. The value\nis specified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat."
        },
        "publishedAt": {
          "description": "The date and time that the broadcast was added to YouTube's live broadcast\nschedule. The value is specified in\n\u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "actualStartTime": {
          "description": "The date and time that the broadcast actually started. This information is\nonly available once the broadcast's state is \u003ccode\u003elive\u003c/code\u003e. The\nvalue is specified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        },
        "title": {
          "description": "The broadcast's title. Note that the broadcast represents exactly one\nYouTube video. You can set this field by modifying the broadcast resource\nor by setting the\n\u003ccode\u003e\u003ca href=\"/youtube/v3/docs/videos#snippet.title\"\u003etitle\u003c/a\u003e\u003c/code\u003e\nfield of the corresponding video resource.",
          "type": "string"
        },
        "liveChatId": {
          "type": "string",
          "description": "The id of the live chat for this broadcast."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the broadcast. For each nested\nobject in this object, the key is the name of the thumbnail image, and\nthe value is an object that contains other information about the\nthumbnail."
        },
        "isDefaultBroadcast": {
          "type": "boolean",
          "description": "Indicates whether this broadcast is the default broadcast.\nInternal only."
        },
        "description": {
          "type": "string",
          "description": "The broadcast's description. As with the \u003ccode\u003etitle\u003c/code\u003e, you can set\nthis field by modifying the broadcast resource or by setting the\n\u003ccode\u003e\u003ca\nhref=\"/youtube/v3/docs/videos#snippet.description\"\u003edescription\u003c/a\u003e\u003c/code\u003e\nfield of the corresponding video resource."
        },
        "scheduledStartTime": {
          "description": "The date and time that the broadcast is scheduled to start. The value\nis specified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat.",
          "type": "string"
        }
      }
    },
    "ChannelStatistics": {
      "description": "Statistics about a channel: number of subscribers, number of videos in the\nchannel, etc.",
      "id": "ChannelStatistics",
      "type": "object",
      "properties": {
        "commentCount": {
          "description": "The number of comments for the channel.",
          "type": "string",
          "format": "uint64"
        },
        "viewCount": {
          "type": "string",
          "description": "The number of times the channel has been viewed.",
          "format": "uint64"
        },
        "subscriberCount": {
          "format": "uint64",
          "description": "The number of subscribers that the channel has.",
          "type": "string"
        },
        "hiddenSubscriberCount": {
          "type": "boolean",
          "description": "Whether or not the number of subscribers is shown for this user."
        },
        "videoCount": {
          "type": "string",
          "format": "uint64",
          "description": "The number of videos uploaded to the channel."
        }
      }
    },
    "ChannelConversionPing": {
      "properties": {
        "conversionUrl": {
          "description": "The url (without the schema) that the player shall send the ping to.\nIt's at caller's descretion to decide which schema to use (http vs https)\nExample of a returned url: //googleads.g.doubleclick.net/pagead/\nviewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D\ncview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default\nThe caller must append biscotti authentication (ms param in case of\nmobile, for example) to this ping.",
          "type": "string"
        },
        "context": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ],
          "type": "string",
          "description": "Defines the context of the ping."
        }
      },
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping\nhas a context, in which the app must fire the ping, and a url identifying the\nping.",
      "type": "object",
      "id": "ChannelConversionPing"
    },
    "MembershipsLevelSnippet": {
      "properties": {
        "levelDetails": {
          "$ref": "LevelDetails",
          "description": "Details about the pricing level."
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        }
      },
      "id": "MembershipsLevelSnippet",
      "type": "object"
    },
    "ChannelToStoreLinkDetails": {
      "properties": {
        "storeName": {
          "description": "Name of the store.",
          "type": "string"
        },
        "storeUrl": {
          "description": "Landing page of the store.",
          "type": "string"
        }
      },
      "description": "Information specific to a store on a merchandising platform linked to a\nYouTube channel.",
      "id": "ChannelToStoreLinkDetails",
      "type": "object"
    },
    "MembershipsLevelListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#membershipsLevelListResponse\"\u003c/code\u003e.",
          "default": "youtube#membershipsLevelListResponse"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor.",
          "type": "string"
        },
        "items": {
          "description": "A list of pricing levels offered by a creator to the fans.",
          "items": {
            "$ref": "MembershipsLevel"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MembershipsLevelListResponse"
    },
    "SuperChatEventListResponse": {
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the \u003ccode\u003epageToken\u003c/code\u003e\nparameter to retrieve the next page in the result set."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string\n\u003ccode\u003e\"youtube#superChatEventListResponse\"\u003c/code\u003e.",
          "type": "string",
          "default": "youtube#superChatEventListResponse"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "visitorId": {
          "type": "string",
          "description": "The \u003ccode\u003evisitorId\u003c/code\u003e identifies the visitor."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "SuperChatEvent"
          },
          "description": "A list of Super Chat purchases that match the request criteria."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "SuperChatEventListResponse"
    },
    "CommentSnippet": {
      "id": "CommentSnippet",
      "type": "object",
      "properties": {
        "textDisplay": {
          "description": "The comment's text. The format is either plain text or HTML dependent on\nwhat has been requested. Even the plain text representation may differ\nfrom the text originally posted in that it may replace video links with\nvideo titles etc.",
          "type": "string"
        },
        "authorDisplayName": {
          "type": "string",
          "description": "The name of the user who posted the comment."
        },
        "updatedAt": {
          "type": "string",
          "description": "The date and time when was last updated . The value is\nspecified in \u003ca href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601\u003c/a\u003e\nformat."
        },
        "channelId": {
          "type": "string",
          "description": "The id of the corresponding YouTube channel. In case of a channel comment\nthis is the channel the comment refers to. In case of a video comment\nit's the video's channel."
        },
        "canRate": {
          "type": "boolean",
          "description": "Whether the current viewer can rate this comment."
        },
        "viewerRating": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "description": "The rating the viewer has given to this comment. For the time being this\nwill never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE.\nThis may change in the future.",
          "type": "string"
        },
        "parentId": {
          "description": "The unique id of the parent comment, only set for replies.",
          "type": "string"
        },
        "videoId": {
[...]
