{
  "servicePath": "",
  "revision": "20200720",
  "kind": "discovery#restDescription",
  "id": "gamesManagement:v1management",
  "version": "v1management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/games/",
  "ownerDomain": "google.com",
  "basePath": "",
  "title": "Google Play Game Management",
  "batchPath": "batch",
  "name": "gamesManagement",
  "description": "The Google Play Game Management API allows developers to manage resources from the Google\n     Play Game service.",
  "discoveryVersion": "v1",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "scores": {
      "methods": {
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard."
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This\nmethod is only available to user accounts for your developer console. Only\ndraft leaderboards can be reset.",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "description": "Resets scores for the leaderboards with the given IDs for all players. This\nmethod is only available to user accounts for your developer console. Only\ndraft leaderboards may be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Resets scores for all draft leaderboards for all players. This method is\nonly available to user accounts for your developer console.",
          "parameters": {}
        },
        "reset": {
          "description": "Resets scores for the leaderboard with the given ID for the currently\nauthenticated player. This method is only accessible to whitelisted tester\naccounts for your application.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST"
        },
        "resetAll": {
          "path": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "flatPath": "games/v1management/scores/reset",
          "parameters": {},
          "description": "Resets all scores for all leaderboards for the currently authenticated\nplayers. This method is only accessible to whitelisted tester accounts for\nyour application.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll"
        }
      }
    },
    "events": {
      "methods": {
        "resetAll": {
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetAll",
          "flatPath": "games/v1management/events/reset",
          "parameterOrder": [],
          "description": "Resets all player progress on all events for the currently authenticated\nplayer. This method is only accessible to whitelisted tester accounts for\nyour application.",
          "path": "games/v1management/events/reset"
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "description": "Resets events with the given IDs for all players. This method is only\navailable to user accounts for your developer console. Only draft events\nmay be reset.",
          "path": "games/v1management/events/resetMultipleForAllPlayers"
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the event.",
              "required": true
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only\navailable to user accounts for your developer console. Only draft events\ncan be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "path": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets all draft events for all players. This method is only available to\nuser accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": []
        },
        "reset": {
          "description": "Resets all player progress on the event with the given ID for the currently\nauthenticated player. This method is only accessible to whitelisted tester\naccounts for your application.",
          "path": "games/v1management/events/{eventId}/reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.reset",
          "parameterOrder": [
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for\npaging. For any response, the actual number of player resources returned\nmay be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "applicationId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "description": "Get the list of players hidden from the given application. This method is\nonly available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the\nauthenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Hide the given player's leaderboard scores from the given application. This\nmethod is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "id": "gamesManagement.players.hide"
        },
        "unhide": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the\nauthenticated player's ID."
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.unhide",
          "httpMethod": "DELETE",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application.\nThis method is only available to user accounts for your developer console."
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only\navailable to user accounts for your developer console.",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is\nonly available to user accounts for your developer console. Only draft\nachievements can be reset.",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesManagement.achievements.resetForAllPlayers"
        },
        "resetAll": {
          "httpMethod": "POST",
          "path": "games/v1management/achievements/reset",
          "flatPath": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAll",
          "description": "Resets all achievements for the currently authenticated player for your\napplication. This method is only accessible to whitelisted tester accounts\nfor your application.",
          "parameters": {}
        },
        "reset": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesManagement.achievements.reset",
          "httpMethod": "POST",
          "description": "Resets the achievement with the given ID for the currently authenticated\nplayer. This method is only accessible to whitelisted tester accounts for\nyour application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "path": "games/v1management/achievements/{achievementId}/reset"
        },
        "resetMultipleForAllPlayers": {
          "description": "Resets achievements with the given IDs for all players. This method is only\navailable to user accounts for your developer console. Only draft\nachievements may be reset.",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers"
        }
      }
    }
  },
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "canonicalName": "Games Management",
  "schemas": {
    "HiddenPlayerList": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        }
      },
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "type": "object"
    },
    "AchievementResetResponse": {
      "type": "object",
      "id": "AchievementResetResponse",
      "properties": {
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement.  This is the same as the initial\nstate of the achievement. \u003cbr/\u003ePossible values are: \u003cul\u003e\n\u003cli\u003e\"`HIDDEN`\"- Achievement is hidden.\u003c/li\u003e\n\u003cli\u003e\"`REVEALED`\" - Achievement is revealed.\u003c/li\u003e\n\u003cli\u003e\"`UNLOCKED`\" - Achievement is unlocked.\u003c/li\u003e \u003c/ul\u003e"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#achievementResetResponse`."
        }
      },
      "description": "An achievement reset response."
    },
    "Player": {
      "properties": {
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile\nis visible to other players."
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#player`."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into\nthe game in question. This is only populated for calls to player.get for\nthe requesting player, only if the player ID has subsequently changed, and\nonly to clients that support remapping player IDs.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "name": {
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last\nname.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first\nname.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name.\nFor some players, these fields may not be present.",
          "type": "object"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        }
      },
      "description": "A Player resource.",
      "type": "object",
      "id": "Player"
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "properties": {
        "player": {
          "description": "Output only. The player information.",
          "$ref": "Player"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#hiddenPlayer`."
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The HiddenPlayer resource.",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#eventsResetMultipleForAllRequest`."
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch\nUTC.",
          "type": "string",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level,\nthis should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#scoresResetMultipleForAllRequest`."
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "properties": {
        "maxExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The maximum experience points for this level."
        },
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        }
      },
      "id": "GamesPlayerLevelResource",
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results."
        }
      },
      "id": "AchievementResetAllResponse",
      "description": "Achievement reset all response."
    },
    "AchievementResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object"
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. \u003cbr/\u003ePossible values are: \u003cul\u003e\n\u003cli\u003e\"`ALL_TIME`\" - The score is an all-time score.\u003c/li\u003e\n\u003cli\u003e\"`WEEKLY`\" - The score is a weekly score.\u003c/li\u003e\n\u003cli\u003e\"`DAILY`\" - The score is a daily score.\u003c/li\u003e \u003c/ul\u003e",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources."
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ProfileSettings"
    },
    "PlayerScoreResetAllResponse": {
      "type": "object",
      "properties": {
        "results": {
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `gamesManagement#playerScoreResetAllResponse`."
        }
      },
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources."
    }
  }
}
