{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "patchDeploymentId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A name for the patch deployment in the project. When creating a name\nthe following rules apply:\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the project."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`."
                }
              },
              "request": {
                "$ref": "PatchDeployment"
              },
              "description": "Create an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchDeployments",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "httpMethod": "GET",
              "description": "Get a page of OS Config patch deployments.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments\nthat indicates where this listing should continue from."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "osconfig.projects.patchDeployments.list",
              "flatPath": "v1/projects/{projectsId}/patchDeployments"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form\n`projects/*/patchDeployments/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path"
                }
              },
              "id": "osconfig.projects.patchDeployments.get",
              "response": {
                "$ref": "PatchDeployment"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an OS Config patch deployment."
            },
            "delete": {
              "id": "osconfig.projects.patchDeployments.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "httpMethod": "DELETE",
              "description": "Delete an OS Config patch deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the patch deployment in the form\n`projects/*/patchDeployments/*`.",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}"
            }
          }
        },
        "patchJobs": {
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "path": "v1/{+parent}/instanceDetails",
                  "description": "Get a list of instance details for a given patch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call\nthat indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A filter expression that filters results listed in the response. This\nfield supports filtering results by instance zone, name, state, or\n`failure_reason`."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of instance details records to return.  Default is 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails"
                }
              }
            }
          },
          "methods": {
            "execute": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "osconfig.projects.patchJobs.execute",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Patch VM instances by creating and running a patch job.",
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
              "path": "v1/{+parent}/patchJobs:execute",
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "osconfig.projects.patchJobs.list",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. In the form of `projects/*`"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call\nthat indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of instance status to return.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "If provided, this field specifies the criteria that must be met by patch\njobs to be included in the response.\nCurrently, filtering is only available on the patch_deployment field.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs",
              "description": "Get a list of patch jobs.",
              "path": "v1/{+parent}/patchJobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "id": "osconfig.projects.patchJobs.cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs\ncannot be restarted.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "CancelPatchJobRequest"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
              "id": "osconfig.projects.patchJobs.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get the patch job. This can be used to track the progress of an\nongoing patch job or review the details of completed jobs.",
              "response": {
                "$ref": "PatchJob"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "osconfig",
  "kind": "discovery#restDescription",
  "schemas": {
    "CancelPatchJobRequest": {
      "description": "Message for canceling a patch job.",
      "id": "CancelPatchJobRequest",
      "properties": {},
      "type": "object"
    },
    "PatchDeployment": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the patch deployment. Length of the description is limited\nto 1024 characters."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out."
        },
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "updateTime": {
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastExecuteTime": {
          "type": "string",
          "description": "Output only. The last time a patch job was started by this deployment.\nTimestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text\nformat.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Unique name for the patch deployment resource in a project. The patch\ndeployment name is in the form:\n`projects/{project_id}/patchDeployments/{patch_deployment_id}`.\nThis field is ignored when you create a new patch deployment."
        },
        "recurringSchedule": {
          "description": "Required. Schedule recurring executions.",
          "$ref": "RecurringSchedule"
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "createTime": {
          "description": "Output only. Time the patch deployment was created. Timestamp is in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Optional. Patch configuration that is applied."
        }
      },
      "id": "PatchDeployment",
      "type": "object",
      "description": "Patch deployments are configurations that individual patch jobs use to\ncomplete a patch. These configurations include instance filter, package\nrepository settings, and a schedule. For more information about creating and\nmanaging patch deployments, see [Scheduling patch\njobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs)."
    },
    "MonthlySchedule": {
      "properties": {
        "monthDay": {
          "format": "int32",
          "type": "integer",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1\nindicates the last day of the month.\nMonths without the target day will be skipped. For example, a schedule to\nrun \"every month on the 31st\" will not run in February, April, June, etc."
        },
        "weekDayOfMonth": {
          "$ref": "WeekDayOfMonth",
          "description": "Required. Week day in a month."
        }
      },
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is\n\"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object",
      "id": "MonthlySchedule"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ListPatchDeploymentsResponse": {
      "properties": {
        "patchDeployments": {
          "type": "array",
          "items": {
            "$ref": "PatchDeployment"
          },
          "description": "The list of patch deployments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of patch\ndeployments."
        }
      },
      "description": "A response message for listing patch deployments.",
      "id": "ListPatchDeploymentsResponse",
      "type": "object"
    },
    "WeeklySchedule": {
      "description": "Represents a weekly schedule.",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Day of the week."
        }
      },
      "id": "WeeklySchedule",
      "type": "object"
    },
    "ExecutePatchJobRequest": {
      "properties": {
        "instanceFilter": {
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such\nas zone or labels.",
          "$ref": "PatchInstanceFilter"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are\npatched using the default configurations."
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job\ntimes out.",
          "type": "string",
          "format": "google-duration"
        },
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but\nwill do nothing.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited\nto 1024 characters."
        },
        "displayName": {
          "description": "Display name for this patch job. This does not have to be unique.",
          "type": "string"
        }
      },
      "description": "A request message to initiate patching across Compute Engine\ninstances.",
      "type": "object",
      "id": "ExecutePatchJobRequest"
    },
    "YumSettings": {
      "properties": {
        "excludes": {
          "type": "array",
          "description": "List of packages to exclude from update. These packages are excluded by\nusing the yum `--exclude` flag.",
          "items": {
            "type": "string"
          }
        },
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on\nall platforms.",
          "type": "boolean"
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages\nthat will be updated. If these packages are not installed, they will be\nignored. This field must not be specified with any other patch\nconfiguration fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "YumSettings",
      "description": "Yum patching is performed by executing `yum update`. Additional options\ncan be set to control how this is executed.\n\nNote that not all settings are supported on all platforms.",
      "type": "object"
    },
    "ExecStepConfig": {
      "properties": {
        "interpreter": {
          "description": "The script interpreter to use to run the script. If no interpreter is\nspecified the script will be executed directly, which will likely\nonly succeed for scripts with [shebang lines]\n(https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "type": "string",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "enumDescriptions": [
            "Invalid for a Windows ExecStepConfig. For a Linux ExecStepConfig, the\ninterpreter will be parsed from the shebang line of the script if\nunspecified.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd`\non Windows.",
            "Indicates that the file is run with PowerShell flags\n`-NonInteractive`, `-NoProfile`, and `-ExecutionPolicy Bypass`."
          ]
        },
        "localPath": {
          "type": "string",
          "description": "An absolute path to the executable on the VM."
        },
        "allowedSuccessCodes": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Defaults to [0]. A list of possible return values that the\nexecution can return to indicate a success."
        },
        "gcsObject": {
          "$ref": "GcsObject",
          "description": "A Cloud Storage object containing the executable."
        }
      },
      "description": "Common configurations for an ExecStep.",
      "id": "ExecStepConfig",
      "type": "object"
    },
    "GooSettings": {
      "properties": {},
      "description": "Googet patching is performed by running `googet update`.",
      "id": "GooSettings",
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "description": "Represents a time zone from the\n[IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        }
      }
    },
    "AptSettings": {
      "description": "Apt patching is completed by executing `apt-get update && apt-get\nupgrade`. Additional options can be set to control how this is executed.",
      "type": "object",
      "id": "AptSettings",
      "properties": {
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages\nthat will be updated. If these packages are not installed, they will be\nignored. This field cannot be specified with any other patch configuration\nfields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "description": "By changing the type to DIST, the patching is performed\nusing `apt-get dist-upgrade` instead.",
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "type": "string"
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages will be excluded",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TimeOfDay": {
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay"
    },
    "WindowsUpdateSettings": {
      "type": "object",
      "description": "Windows patching is performed using the Windows Update Agent.",
      "properties": {
        "excludes": {
          "type": "array",
          "description": "List of KBs to exclude from update.",
          "items": {
            "type": "string"
          }
        },
        "classifications": {
          "type": "array",
          "description": "Only apply updates of these windows update classifications. If empty, all\nupdates are applied.",
          "enumDescriptions": [
            "Invalid. If classifications are included, they must be specified.",
            "\"A widely released fix for a specific problem that addresses a critical,\nnon-security-related bug.\" [1]",
            "\"A widely released fix for a product-specific, security-related\nvulnerability. Security vulnerabilities are rated by their severity. The\nseverity rating is indicated in the Microsoft security bulletin as\ncritical, important, moderate, or low.\" [1]",
            "\"A widely released and frequent software update that contains additions\nto a product's definition database. Definition databases are often used\nto detect objects that have specific attributes, such as malicious code,\nphishing websites, or junk mail.\" [1]",
            "\"Software that controls the input and output of a device.\" [1]",
            "\"New product functionality that is first distributed outside the context\nof a product release and that is typically included in the next full\nproduct release.\" [1]",
            "\"A tested, cumulative set of all hotfixes, security updates, critical\nupdates, and updates. Additionally, service packs may contain additional\nfixes for problems that are found internally since the release of the\nproduct. Service packs my also contain a limited number of\ncustomer-requested design changes or features.\" [1]",
            "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
            "\"A tested, cumulative set of hotfixes, security updates, critical\nupdates, and updates that are packaged together for easy deployment. A\nrollup generally targets a specific area, such as security, or a\ncomponent of a product, such as Internet Information Services (IIS).\" [1]",
            "\"A widely released fix for a specific problem. An update addresses a\nnoncritical, non-security-related bug.\" [1]"
          ],
          "items": {
            "type": "string",
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ]
          }
        },
        "exclusivePatches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of kbs to be updated. These are the only patches\nthat will be updated. This field must not be used with other\npatch configurations."
        }
      },
      "id": "WindowsUpdateSettings"
    },
    "ExecStep": {
      "id": "ExecStep",
      "type": "object",
      "description": "A step that runs an executable for a PatchJob.",
      "properties": {
        "linuxExecStepConfig": {
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        },
        "windowsExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob."
        }
      }
    },
    "PatchJob": {
      "description": "A high level representation of a patch job that is either in progress\nor has completed.\n\nInstance details are not included in the job. To paginate through instance\ndetails, use ListPatchJobInstanceDetails.\n\nFor more information about patch jobs, see\n[Creating patch\njobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "properties": {
        "dryRun": {
          "type": "boolean",
          "description": "If this patch job is a dry run, the agent reports that it has\nfinished without running any updates on the VM instance."
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied."
        },
        "patchDeployment": {
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job."
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited\nto 1024 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time this patch job was created."
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "name": {
          "description": "Unique identifier for this patch job in the form\n`projects/*/patchJobs/*`",
          "type": "string"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the\nfailure.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this patch job was updated."
        },
        "state": {
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "description": "The current state of the PatchJob.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        },
        "percentComplete": {
          "format": "double",
          "description": "Reflects the overall progress of the patch job in the range of\n0.0 being no progress to 100.0 being complete.",
          "type": "number"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Instances to patch."
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of the patch job. After the duration ends, the\npatch job times out."
        }
      },
      "type": "object",
      "id": "PatchJob"
    },
    "ListPatchJobsResponse": {
      "description": "A response message for listing patch jobs.",
      "id": "ListPatchJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of results."
        },
        "patchJobs": {
          "type": "array",
          "items": {
            "$ref": "PatchJob"
          },
          "description": "The list of patch jobs."
        }
      },
      "type": "object"
    },
    "GcsObject": {
      "id": "GcsObject",
      "type": "object",
      "description": "Cloud Storage object representation.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        },
        "generationNumber": {
          "format": "int64",
          "type": "string",
          "description": "Required. Generation number of the Cloud Storage object. This is used to\nensure that the ExecStep specified by this PatchJob does not change."
        }
      }
    },
    "PatchJobInstanceDetailsSummary": {
      "id": "PatchJobInstanceDetailsSummary",
      "type": "object",
      "description": "A summary of the current patch state across all instances that this patch\njob affects. Contains counts of instances in different states. These states\nmap to `InstancePatchState`. List patch job instance details to see the\nspecific states of each instance.",
      "properties": {
        "timedOutInstanceCount": {
          "format": "int64",
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "type": "string"
        },
        "prePatchStepInstanceCount": {
          "description": "Number of instances that are running the pre-patch step.",
          "type": "string",
          "format": "int64"
        },
        "postPatchStepInstanceCount": {
          "description": "Number of instances that are running the post-patch step.",
          "type": "string",
          "format": "int64"
        },
        "failedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that failed."
        },
        "downloadingPatchesInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that are downloading patches."
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "format": "int64",
          "type": "string"
        },
        "rebootingInstanceCount": {
          "description": "Number of instances rebooting.",
          "format": "int64",
          "type": "string"
        },
        "notifiedInstanceCount": {
          "description": "Number of instances notified about patch job.",
          "type": "string",
          "format": "int64"
        },
        "noAgentDetectedInstanceCount": {
          "type": "string",
          "description": "Number of instances that do not appear to be running the agent. Check to\nensure that the agent is installed, running, and able to communicate with\nthe service.",
          "format": "int64"
        },
        "inactiveInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are inactive."
        },
        "applyingPatchesInstanceCount": {
          "description": "Number of instances that are applying patches.",
          "type": "string",
          "format": "int64"
        },
        "ackedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that have acked and will start shortly."
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "type": "string",
          "format": "int64"
        },
        "pendingInstanceCount": {
          "format": "int64",
          "description": "Number of instances pending patch job.",
          "type": "string"
        },
        "succeededInstanceCount": {
          "format": "int64",
          "description": "Number of instances that have completed successfully.",
          "type": "string"
        }
      }
    },
    "RecurringSchedule": {
      "type": "object",
      "id": "RecurringSchedule",
      "description": "Sets the time for recurring patch deployments.",
      "properties": {
        "weekly": {
          "$ref": "WeeklySchedule",
          "description": "Required. Schedule with weekly executions."
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "frequency": {
          "description": "Required. The frequency unit of this recurring schedule.",
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency should be expressed in terms of\nweeks.",
            "Indicates that the frequency should be expressed in terms of\nmonths."
          ]
        },
        "endTime": {
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer\nactive.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastExecuteTime": {
          "description": "Output only. The time the last patch job ran successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to.\nThe rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "nextExecuteTime": {
          "type": "string",
          "description": "Output only. The time the next patch job is scheduled to run.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time that the recurring schedule becomes effective.\nDefaults to `create_time` of the patch deployment."
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "ListPatchJobInstanceDetailsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        },
        "patchJobInstanceDetails": {
          "type": "array",
          "description": "A list of instance status.",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          }
        }
      },
      "description": "A response message for listing the instances details for a patch job.",
      "id": "ListPatchJobInstanceDetailsResponse",
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "description": "Current state of instance patch.",
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure\nthat the agent is installed, running, and able to communicate with the\nservice."
          ]
        },
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is\ndefined by the server.",
          "type": "string"
        },
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        },
        "failureReason": {
          "type": "string",
          "description": "If the patch fails, this field provides the reason."
        },
        "attemptCount": {
          "type": "string",
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "format": "int64"
        }
      },
      "description": "Patch details for a VM instance. For more information about reviewing VM\ninstance details, see\n[Listing all VM instance details for a specific patch\njob](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "type": "object",
      "id": "PatchJobInstanceDetails"
    },
    "WeekDayOfMonth": {
      "type": "object",
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "id": "WeekDayOfMonth",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "Required. A day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "weekOrdinal": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1\nindicates the last week of the month."
        }
      }
    },
    "OneTimeSchedule": {
      "id": "OneTimeSchedule",
      "type": "object",
      "properties": {
        "executeTime": {
          "format": "google-datetime",
          "description": "Required. The desired patch job execution time.",
          "type": "string"
        }
      },
      "description": "Sets the time for a one time patch deployment. Timestamp is in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
    },
    "PatchInstanceFilter": {
      "description": "A filter to target VM instances for patching. The targeted\nVMs must meet all criteria specified. So if both labels and zones are\nspecified, the patch job targets only VMs with those labels and in those\nzones.",
      "id": "PatchInstanceFilter",
      "type": "object",
      "properties": {
        "groupLabels": {
          "type": "array",
          "description": "Targets VM instances matching ANY of these GroupLabels. This allows\ntargeting of disparate groups of VM instances.",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          }
        },
        "instanceNamePrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to\nlabels, this is another way to group VMs when targeting configs, for\nexample prefix=\"prod-\".",
          "type": "array"
        },
        "zones": {
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM\ninstances in any zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "type": "array",
          "description": "Targets any of the VM instances specified. Instances are specified by their\nURI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`,\n`projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or\n`https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`",
          "items": {
            "type": "string"
          }
        },
        "all": {
          "type": "boolean",
          "description": "Target all VM instances in the project. If true, no other criteria is\npermitted."
        }
      }
    },
    "PatchInstanceFilterGroupLabel": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Compute Engine instance labels that must be present for a VM\ninstance to be targeted by this filter."
        }
      },
      "description": "Targets a group of VM instances by using their [assigned\nlabels](https://cloud.google.com/compute/docs/labeling-resources). Labels\nare key-value pairs. A `GroupLabel` is a combination of labels\nthat is used to target VMs for a patch job.\n\nFor example, a patch job can target VMs that have the following\n`GroupLabel`: `{\"env\":\"test\", \"app\":\"web\"}`. This means that the patch job\nis applied to VMs that have both the labels `env=test` and `app=web`.",
      "id": "PatchInstanceFilterGroupLabel"
    },
    "PatchConfig": {
      "id": "PatchConfig",
      "properties": {
        "rebootConfig": {
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as\nregistry keys on Windows or `/var/run/reboot-required` on APT based\nsystems. On RPM based systems, a set of core system package install times\nare compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ],
          "type": "string",
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "description": "Post-patch reboot settings."
        },
        "postStep": {
          "description": "The `ExecStep` to run after the patch update.",
          "$ref": "ExecStep"
        },
        "preStep": {
          "description": "The `ExecStep` to run before the patch update.",
          "$ref": "ExecStep"
        },
        "yum": {
          "$ref": "YumSettings",
          "description": "Yum update settings. Use this setting to override the default `yum` patch\nrules."
        },
        "goo": {
          "description": "Goo update settings. Use this setting to override the default `goo` patch\nrules.",
          "$ref": "GooSettings"
        },
        "apt": {
          "description": "Apt update settings. Use this setting to override the default `apt` patch\nrules.",
          "$ref": "AptSettings"
        },
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper`\npatch rules.",
          "$ref": "ZypperSettings"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdateSettings",
          "description": "Windows update settings. Use this override the default windows patch rules."
        }
      },
      "type": "object",
      "description": "Patch configuration specifications. Contains details on how to apply the\npatch(es) to a VM instance."
    },
    "ZypperSettings": {
      "description": "Zypper patching is performed by running `zypper patch`.\nSee also https://en.opensuse.org/SDB:Zypper_manual.",
      "id": "ZypperSettings",
      "properties": {
        "exclusivePatches": {
          "type": "array",
          "description": "An exclusive list of patches to be updated. These are the only patches\nthat will be installed using 'zypper patch patch:\u003cpatch_name\u003e' command.\nThis field must not be used with any other patch configuration fields.",
          "items": {
            "type": "string"
          }
        },
        "categories": {
          "description": "Install only patches with these categories.\nCommon categories include security, recommended, and feature.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Install only patches with these severities.\nCommon severities include critical, important, moderate, and low."
        },
        "withUpdate": {
          "description": "Adds the `--with-update` flag, to `zypper patch`.",
          "type": "boolean"
        },
        "excludes": {
          "description": "List of patches to exclude from update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "withOptional": {
          "type": "boolean",
          "description": "Adds the `--with-optional` flag to `zypper patch`."
        }
      },
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Systems Management",
  "servicePath": "",
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "id": "osconfig:v1",
  "documentationLink": "https://cloud.google.com/",
  "basePath": "",
  "version_module": true,
  "rootUrl": "https://osconfig.googleapis.com/",
  "title": "Cloud OS Config API",
  "batchPath": "batch",
  "protocol": "rest",
  "baseUrl": "https://osconfig.googleapis.com/",
  "revision": "20200706"
}
