{
  "id": "run:v1beta1",
  "title": "Cloud Run Admin API",
  "batchPath": "batch",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://run.googleapis.com/",
  "revision": "20200720",
  "version_module": true,
  "canonicalName": "Cloud Run",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "basePath": "",
  "rootUrl": "https://run.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "JSON": {
      "properties": {
        "raw": {
          "type": "string",
          "format": "byte"
        }
      },
      "description": "JSON represents any valid JSON value. These types are supported: bool, int64, float64, string, []interface{}, map[string]interface{} and nil.",
      "type": "object",
      "id": "JSON"
    },
    "CustomResourceDefinitionNames": {
      "description": "CustomResourceDefinitionNames indicates the names to serve this CustomResourceDefinition",
      "id": "CustomResourceDefinitionNames",
      "properties": {
        "plural": {
          "type": "string",
          "description": "Plural is the plural name of the resource to serve. It must match the name of the CustomResourceDefinition-registration too: plural.group and it must be all lowercase."
        },
        "categories": {
          "description": "Categories is a list of grouped resources custom resources belong to (e.g. 'all') +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Kind is the serialized kind of the resource. It is normally CamelCase and singular.",
          "type": "string"
        },
        "shortNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "ShortNames are short names for the resource. It must be all lowercase. +optional"
        },
        "singular": {
          "description": "Singular is the singular name of the resource. It must be all lowercase Defaults to lowercased +optional",
          "type": "string"
        },
        "listKind": {
          "type": "string",
          "description": "ListKind is the serialized kind of the list for this resource. Defaults to List. +optional"
        }
      },
      "type": "object"
    },
    "CustomResourceColumnDefinition": {
      "description": "CustomResourceColumnDefinition specifies a column for server side printing.",
      "id": "CustomResourceColumnDefinition",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "priority is an integer defining the relative importance of this column compared to others. Lower numbers are considered higher priority. Columns that may be omitted in limited space scenarios should be given a higher priority. +optional"
        },
        "format": {
          "description": "format is an optional OpenAPI type definition for this column. The 'name' format is applied to the primary identifier column to assist in clients identifying column is the resource name. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types for more. +optional",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "description is a human readable description of this column. +optional"
        },
        "type": {
          "description": "type is an OpenAPI type definition for this column. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types for more.",
          "type": "string"
        },
        "jsonPath": {
          "description": "JSONPath is a simple JSON path, i.e. with array notation.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "name is a human readable name for the column."
        }
      },
      "type": "object"
    },
    "JSONSchemaPropsOrBool": {
      "properties": {
        "allows": {
          "type": "boolean"
        },
        "schema": {
          "$ref": "JSONSchemaProps"
        }
      },
      "type": "object",
      "id": "JSONSchemaPropsOrBool",
      "description": "JSONSchemaPropsOrBool represents JSONSchemaProps or a boolean value. Defaults to true for the boolean property."
    },
    "CustomResourceSubresources": {
      "id": "CustomResourceSubresources",
      "type": "object",
      "description": "CustomResourceSubresources defines the status and scale subresources for CustomResources.",
      "properties": {
        "scale": {
          "description": "Scale denotes the scale subresource for CustomResources +optional",
          "$ref": "CustomResourceSubresourceScale"
        },
        "status": {
          "$ref": "CustomResourceSubresourceStatus",
          "description": "Status denotes the status subresource for CustomResources +optional"
        }
      }
    },
    "CustomResourceDefinitionSpec": {
      "id": "CustomResourceDefinitionSpec",
      "type": "object",
      "description": "CustomResourceDefinitionSpec describes how a user wants their resource to appear",
      "properties": {
        "version": {
          "description": "Version is the version this resource belongs in Should be always first item in Versions field if provided. Optional, but at least one of Version or Versions must be set. Deprecated: Please use `Versions`. +optional",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "Group is the group this resource belongs in"
        },
        "names": {
          "description": "Names are the names used to describe this custom resource",
          "$ref": "CustomResourceDefinitionNames"
        },
        "scope": {
          "description": "Scope indicates whether this resource is cluster or namespace scoped. Default is namespaced",
          "type": "string"
        },
        "validation": {
          "$ref": "CustomResourceValidation",
          "description": "Validation describes the validation methods for CustomResources +optional"
        },
        "subresources": {
          "description": "Subresources describes the subresources for CustomResources +optional",
          "$ref": "CustomResourceSubresources"
        },
        "versions": {
          "type": "array",
          "description": "Versions is the list of all supported versions for this resource. If Version field is provided, this field is optional. Validation: All versions must use the same validation schema for now. i.e., top level Validation field is applied to all of these versions. Order: The version name will be used to compute the order. If the version string is \"kube-like\", it will sort above non \"kube-like\" version strings, which are ordered lexicographically. \"Kube-like\" versions start with a \"v\", then are followed by a number (the major version), then optionally the string \"alpha\" or \"beta\" and another number (the minor version). These are sorted first by GA \u003e beta \u003e alpha (where GA is a version with no suffix such as beta or alpha), and then by comparing major version, then minor version. An example sorted list of versions: v10, v2, v1, v11beta2, v10beta3, v3beta1, v12alpha1, v11alpha2, foo1, foo10. +optional",
          "items": {
            "$ref": "CustomResourceDefinitionVersion"
          }
        },
        "additionalPrinterColumns": {
          "description": "AdditionalPrinterColumns are additional columns shown e.g. in kubectl next to the name. Defaults to a created-at column. +optional",
          "items": {
            "$ref": "CustomResourceColumnDefinition"
          },
          "type": "array"
        }
      }
    },
    "CustomResourceDefinitionVersion": {
      "type": "object",
      "properties": {
        "storage": {
          "type": "boolean",
          "description": "Storage flags the version as storage version. There must be exactly one flagged as storage version."
        },
        "name": {
          "type": "string",
          "description": "Name is the version name, e.g. “v1”, “v2beta1”, etc."
        },
        "served": {
          "description": "Served is a flag enabling/disabling this version from being served via REST APIs",
          "type": "boolean"
        }
      },
      "id": "CustomResourceDefinitionVersion"
    },
    "JSONSchemaPropsOrArray": {
      "properties": {
        "jsonSchemas": {
          "items": {
            "$ref": "JSONSchemaProps"
          },
          "type": "array"
        },
        "schema": {
          "$ref": "JSONSchemaProps"
        }
      },
      "id": "JSONSchemaPropsOrArray",
      "description": "JSONSchemaPropsOrArray represents a value that can either be a JSONSchemaProps or an array of JSONSchemaProps. Mainly here for serialization purposes.",
      "type": "object"
    },
    "ListCustomResourceDefinitionsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"CustomResourceDefinitionList\"."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this CustomResourceDefinition list."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"k8s.apiextensions.io/v1beta1\".",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "CustomResourceDefinition"
          },
          "type": "array",
          "description": "List of CustomResourceDefinitions."
        }
      },
      "id": "ListCustomResourceDefinitionsResponse"
    },
    "JSONSchemaProps": {
      "description": "JSONSchemaProps is a JSON-Schema following Specification Draft 4 (http://json-schema.org/).",
      "properties": {
        "items": {
          "$ref": "JSONSchemaPropsOrArray"
        },
        "title": {
          "type": "string"
        },
        "exclusiveMinimum": {
          "type": "boolean"
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "schema": {
          "type": "string"
        },
        "exclusiveMaximum": {
          "type": "boolean"
        },
        "allOf": {
          "items": {
            "$ref": "JSONSchemaProps"
          },
          "type": "array"
        },
        "minItems": {
          "format": "int64",
          "type": "string"
        },
        "dependencies": {
          "additionalProperties": {
            "$ref": "JSONSchemaPropsOrStringArray"
          },
          "type": "object"
        },
        "oneOf": {
          "items": {
            "$ref": "JSONSchemaProps"
          },
          "type": "array"
        },
        "minLength": {
          "format": "int64",
          "type": "string"
        },
        "uniqueItems": {
          "type": "boolean"
        },
        "patternProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JSONSchemaProps"
          }
        },
        "additionalProperties": {
          "$ref": "JSONSchemaPropsOrBool"
        },
        "not": {
          "$ref": "JSONSchemaProps"
        },
        "multipleOf": {
          "type": "number",
          "format": "double"
        },
        "ref": {
          "type": "string"
        },
        "pattern": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "example": {
          "$ref": "JSON"
        },
        "maxItems": {
          "type": "string",
          "format": "int64"
        },
        "maxProperties": {
          "type": "string",
          "format": "int64"
        },
        "properties": {
          "additionalProperties": {
            "$ref": "JSONSchemaProps"
          },
          "type": "object"
        },
        "description": {
          "type": "string"
        },
        "minProperties": {
          "type": "string",
          "format": "int64"
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        },
        "additionalItems": {
          "$ref": "JSONSchemaPropsOrBool"
        },
        "maxLength": {
          "type": "string",
          "format": "int64"
        },
        "default": {
          "$ref": "JSON"
        },
        "definitions": {
          "additionalProperties": {
            "$ref": "JSONSchemaProps"
          },
          "type": "object"
        },
        "format": {
          "type": "string"
        },
        "minimum": {
          "type": "number",
          "format": "double"
        },
        "anyOf": {
          "items": {
            "$ref": "JSONSchemaProps"
          },
          "type": "array"
        },
        "externalDocs": {
          "$ref": "ExternalDocumentation"
        },
        "maximum": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "JSONSchemaProps",
      "type": "object"
    },
    "CustomResourceSubresourceScale": {
      "description": "CustomResourceSubresourceScale defines how to serve the scale subresource for CustomResources.",
      "properties": {
        "statusReplicasPath": {
          "type": "string",
          "description": "StatusReplicasPath defines the JSON path inside of a CustomResource that corresponds to Scale.Status.Replicas. Only JSON paths without the array notation are allowed. Must be a JSON Path under .status. If there is no value under the given path in the CustomResource, the status replica value in the /scale subresource will default to 0."
        },
        "specReplicasPath": {
          "description": "SpecReplicasPath defines the JSON path inside of a CustomResource that corresponds to Scale.Spec.Replicas. Only JSON paths without the array notation are allowed. Must be a JSON Path under .spec. If there is no value under the given path in the CustomResource, the /scale subresource will return an error on GET.",
          "type": "string"
        },
        "labelSelectorPath": {
          "type": "string",
          "description": "LabelSelectorPath defines the JSON path inside of a CustomResource that corresponds to Scale.Status.Selector. Only JSON paths without the array notation are allowed. Must be a JSON Path under .status. Must be set to work with HPA. If there is no value under the given path in the CustomResource, the status label selector value in the /scale subresource will default to the empty string. +optional"
        }
      },
      "type": "object",
      "id": "CustomResourceSubresourceScale"
    },
    "ExternalDocumentation": {
      "type": "object",
      "description": "ExternalDocumentation allows referencing an external resource for extended documentation.",
      "properties": {
        "url": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "ExternalDocumentation"
    },
    "ObjectMeta": {
      "properties": {
        "ownerReferences": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported List of objects that own this object. If ALL objects in the list have been deleted, this object will be garbage collected.",
          "type": "array",
          "items": {
            "$ref": "OwnerReference"
          }
        },
        "generateName": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server. If this field is specified and the generated name exists, the server will NOT return a 409 - instead, it will either return 201 Created or 500 with Reason ServerTimeout indicating a unique name could not be found in the time allotted, and the client should retry (optionally after the time indicated in the Retry-After header). Applied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency string generateName = 2;"
        },
        "deletionTimestamp": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested. Populated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Name must be unique within a namespace, within a Cloud Run region. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/identifiers#names +optional"
        },
        "clusterName": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported The name of the cluster which the object belongs to. This is used to distinguish resources with same name and namespace in different clusters. This field is not set anywhere right now and apiserver is going to ignore it if set in create or update request.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "(Optional) Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes. More info: http://kubernetes.io/docs/user-guide/labels"
        },
        "creationTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "(Optional) CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata"
        },
        "selfLink": {
          "description": "(Optional) SelfLink is a URL representing this object. Populated by the system. Read-only. string selfLink = 4;",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "(Optional) UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations. Populated by the system. Read-only. More info: http://kubernetes.io/docs/user-guide/identifiers#uids"
        },
        "finalizers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. +patchStrategy=merge"
        },
        "deletionGracePeriodSeconds": {
          "type": "integer",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only.",
          "format": "int32"
        },
        "generation": {
          "type": "integer",
          "description": "(Optional) A sequence number representing a specific generation of the desired state. Populated by the system. Read-only.",
          "format": "int32"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "(Optional) Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: http://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace defines the space within each name must be unique, within a Cloud Run region. In Cloud Run the namespace must be equal to either the project ID or project number."
        },
        "resourceVersion": {
          "description": "(Optional) An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources. Populated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency",
          "type": "string"
        }
      },
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "id": "ObjectMeta",
      "type": "object"
    },
    "JSONSchemaPropsOrStringArray": {
      "id": "JSONSchemaPropsOrStringArray",
      "description": "JSONSchemaPropsOrStringArray represents a JSONSchemaProps or a string array.",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "JSONSchemaProps"
        },
        "property": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CustomResourceSubresourceStatus": {
      "type": "object",
      "properties": {},
      "description": "CustomResourceSubresourceStatus defines how to serve the status subresource for CustomResources. Status is represented by the `.status` JSON path inside of a CustomResource. When set, * exposes a /status subresource for the custom resource * PUT requests to the /status subresource take a custom resource object, and ignore changes to anything except the status stanza * PUT/POST/PATCH requests to the custom resource ignore changes to the status stanza",
      "id": "CustomResourceSubresourceStatus"
    },
    "CustomResourceDefinition": {
      "type": "object",
      "description": "CustomResourceDefinition represents a resource that should be exposed on the API server. Its name MUST be in the format \u003c.spec.name\u003e.\u003c.spec.group\u003e.",
      "id": "CustomResourceDefinition",
      "properties": {
        "kind": {
          "description": "The kind of resource, in this case always \"CustomResourceDefinition\".",
          "type": "string"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"k8s.apiextensions.io/v1beta1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this CustomResourceDefinition."
        },
        "spec": {
          "$ref": "CustomResourceDefinitionSpec",
          "description": "Spec describes how the user wants the resources to appear"
        }
      }
    },
    "CustomResourceValidation": {
      "type": "object",
      "properties": {
        "openAPIV3Schema": {
          "description": "OpenAPIV3Schema is the OpenAPI v3 schema to be validated against. +optional",
          "$ref": "JSONSchemaProps"
        }
      },
      "description": "CustomResourceValidation is a list of validation methods for CustomResources.",
      "id": "CustomResourceValidation"
    },
    "ListMeta": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional"
        },
        "continue": {
          "description": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response.",
          "type": "string"
        },
        "resourceVersion": {
          "description": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional",
          "type": "string"
        }
      },
      "id": "ListMeta",
      "type": "object",
      "description": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
    },
    "OwnerReference": {
      "properties": {
        "blockOwnerDeletion": {
          "description": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned. +optional",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds"
        },
        "apiVersion": {
          "description": "API version of the referent.",
          "type": "string"
        },
        "uid": {
          "description": "UID of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#uids",
          "type": "string"
        },
        "name": {
          "description": "Name of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#names",
          "type": "string"
        },
        "controller": {
          "type": "boolean",
          "description": "If true, this reference points to the managing controller. +optional"
        }
      },
      "id": "OwnerReference",
      "description": "OwnerReference contains enough information to let you identify an owning object. Currently, an owning object must be in the same namespace, so there is no namespace field.",
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/run/",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "name": "run",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "resources": {
    "customresourcedefinitions": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "description": "Rpc to list custom resource definitions.",
          "flatPath": "apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions",
          "httpMethod": "GET",
          "id": "run.customresourcedefinitions.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions",
          "parameters": {
            "labelSelector": {
              "location": "query",
              "type": "string",
              "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
            },
            "watch": {
              "location": "query",
              "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
              "type": "boolean"
            },
            "parent": {
              "type": "string",
              "description": "The project ID or project number from which the storages should be listed.",
              "location": "query"
            },
            "includeUninitialized": {
              "description": "Not currently used by Cloud Run.",
              "type": "boolean",
              "location": "query"
            },
            "limit": {
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "fieldSelector": {
              "type": "string",
              "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
              "location": "query"
            },
            "continue": {
              "location": "query",
              "type": "string",
              "description": "Optional encoded string to continue paging."
            },
            "resourceVersion": {
              "location": "query",
              "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListCustomResourceDefinitionsResponse"
          }
        }
      }
    },
    "namespaces": {
      "resources": {
        "customresourcedefinitions": {
          "methods": {
            "get": {
              "description": "Rpc to get information about a CustomResourceDefinition.",
              "path": "apis/apiextensions.k8s.io/v1beta1/{+name}",
              "response": {
                "$ref": "CustomResourceDefinition"
              },
              "flatPath": "apis/apiextensions.k8s.io/v1beta1/namespaces/{namespacesId}/customresourcedefinitions/{customresourcedefinitionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the CustomResourceDefinition being retrieved. If needed, replace {namespace_id} with the project ID.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/customresourcedefinitions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.customresourcedefinitions.get"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "customresourcedefinitions": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListCustomResourceDefinitionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to list custom resource definitions.",
                  "id": "run.projects.locations.customresourcedefinitions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/customresourcedefinitions",
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "labelSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "limit": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "The project ID or project number from which the storages should be listed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/customresourcedefinitions"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/customresourcedefinitions/{customresourcedefinitionsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customresourcedefinitions/[^/]+$",
                      "description": "The name of the CustomResourceDefinition being retrieved. If needed, replace {namespace_id} with the project ID."
                    }
                  },
                  "response": {
                    "$ref": "CustomResourceDefinition"
                  },
                  "id": "run.projects.locations.customresourcedefinitions.get",
                  "description": "Rpc to get information about a CustomResourceDefinition."
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  }
}
