{
  "description": "This API converts video files into formats suitable for consumer distribution. ",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://transcoder.googleapis.com/",
  "id": "transcoder:v1beta1",
  "title": "Transcoder API",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "name": "transcoder",
  "version": "v1beta1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "rootUrl": "https://transcoder.googleapis.com/",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "schemas": {
    "EditAtom": {
      "properties": {
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom."
        },
        "inputs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of `Input.key`s identifying files that should be used in this atom. The listed `inputs` must have the same timeline."
        },
        "key": {
          "type": "string",
          "description": "A unique key for this atom. Must be specified when using advanced mapping."
        },
        "startTimeOffset": {
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "EditAtom",
      "type": "object",
      "description": "Edit atom."
    },
    "Overlay": {
      "description": "Overlay configuration.",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Image overlay."
        },
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "type": "array",
          "description": "List of Animations. The list should be chronological, without any time overlap."
        }
      },
      "id": "Overlay",
      "type": "object"
    },
    "SampleAesEncryption": {
      "properties": {
        "keyUri": {
          "description": "Required. URI of the key delivery service. This URI is inserted into the M3U8 header.",
          "type": "string"
        }
      },
      "description": "Configuration for SAMPLE-AES encryption.",
      "id": "SampleAesEncryption",
      "type": "object"
    },
    "AnimationStatic": {
      "description": "Display static overlay object.",
      "id": "AnimationStatic",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time to start displaying the overlay object, in seconds. Default: 0"
        },
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        }
      }
    },
    "JobTemplate": {
      "id": "JobTemplate",
      "description": "Transcoding job template resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the job template. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        }
      },
      "type": "object"
    },
    "ElementaryStream": {
      "properties": {
        "audioStream": {
          "$ref": "AudioStream",
          "description": "Encoding of an audio stream."
        },
        "videoStream": {
          "$ref": "VideoStream",
          "description": "Encoding of a video stream."
        },
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "id": "ElementaryStream"
    },
    "Image": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI of the JPEG image in Cloud Storage. For example, `gs://bucket/inputs/image.jpeg`. JPEG is the only supported image type."
        },
        "alpha": {
          "description": "Target image opacity. Valid values: `1.0` (solid, default) to `0.0` (transparent).",
          "format": "double",
          "type": "number"
        },
        "resolution": {
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`.",
          "$ref": "NormalizedCoordinate"
        }
      },
      "id": "Image",
      "description": "Overlaid jpeg image."
    },
    "AudioChannel": {
      "id": "AudioChannel",
      "type": "object",
      "description": "The audio channel.",
      "properties": {
        "inputs": {
          "description": "List of `Job.inputs` for this audio channel.",
          "type": "array",
          "items": {
            "$ref": "AudioChannelInput"
          }
        }
      }
    },
    "Job": {
      "properties": {
        "templateId": {
          "type": "string",
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`. Preset Transcoder templates: - `preset/{preset_id}` - User defined JobTemplate: `{job_template_id}`"
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. A description of the reason for the failure. This property is always present when `state` is `FAILED`.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see `failure_reason` and `failure_details`"
          ],
          "description": "Output only. The current state of the job."
        },
        "createTime": {
          "description": "Output only. The time the job was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "progress": {
          "readOnly": true,
          "$ref": "Progress",
          "description": "Output only. Estimated fractional progress, from `0` to `1` for each step. *Note*: This feature is not yet available."
        },
        "failureDetails": {
          "type": "array",
          "description": "Output only. List of failure details. This property may contain additional information about the failure when `failure_reason` is present. *Note*: This feature is not yet available.",
          "items": {
            "$ref": "FailureDetail"
          },
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the transcoding finished."
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Specify the priority of the job. Enter a value between 0 and 100, where 0 is the lowest priority and 100 is the highest priority. The default is 0."
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`).",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the transcoding started."
        },
        "originUri": {
          "description": "Output only. The origin URI. *Note*: This feature is not yet available.",
          "$ref": "OriginUri",
          "readOnly": true
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project}/locations/{location}/jobs/{job}`"
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        }
      },
      "type": "object",
      "id": "Job",
      "description": "Transcoding job resource."
    },
    "VideoStream": {
      "properties": {
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "rateControlMode": {
          "description": "Specify the `rate_control_mode`. The default is `\"vbr\"`. Supported rate control modes: - 'vbr' - variable bitrate - 'crf' - constant rate factor",
          "type": "string"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "type": "integer",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`."
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used.",
          "type": "integer",
          "format": "int32"
        },
        "widthPixels": {
          "format": "int32",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used.",
          "type": "integer"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message."
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. The following table shows the computed video FPS given the target FPS (in parenthesis) and input FPS (in the first column): ``` | | (30) | (60) | (25) | (50) | |--------|--------|--------|------|------| | 240 | Fail | Fail | Fail | Fail | | 120 | 30 | 60 | 20 | 30 | | 100 | 25 | 50 | 20 | 30 | | 50 | 25 | 50 | 20 | 30 | | 60 | 30 | 60 | 20 | 30 | | 59.94 | 29.97 | 59.94 | 20 | 30 | | 48 | 24 | 48 | 20 | 30 | | 30 | 30 | 30 | 20 | 30 | | 25 | 25 | 25 | 20 | 30 | | 24 | 24 | 24 | 20 | 30 | | 23.976 | 23.976 | 23.976 | 20 | 30 | | 15 | 15 | 15 | 20 | 30 | | 12 | 12 | 12 | 20 | 30 | | 10 | 10 | 10 | 20 | 30 | ```",
          "type": "number",
          "format": "double"
        },
        "gopFrameCount": {
          "type": "integer",
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer",
          "format": "int32"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "aqStrength": {
          "type": "number",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double"
        },
        "entropyCoder": {
          "type": "string",
          "description": "The entropy coder to use. The default is `\"cabac\"`. Supported entropy coders: - 'cavlc' - 'cabac'"
        },
        "vbvSizeBits": {
          "type": "integer",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "format": "int32"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `\"yuv420p\"`. Supported pixel formats: - 'yuv420p' pixel format. - 'yuv422p' pixel format. - 'yuv444p' pixel format. - 'yuv420p10' 10-bit HDR pixel format. - 'yuv422p10' 10-bit HDR pixel format. - 'yuv444p10' 10-bit HDR pixel format. - 'yuv420p12' 12-bit HDR pixel format. - 'yuv422p12' 12-bit HDR pixel format. - 'yuv444p12' 12-bit HDR pixel format."
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `\"3s\"`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message.",
          "type": "string"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message."
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. Must be between 1 and 1,000,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `\"vbr\"`. The default is `false`.",
          "type": "boolean"
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0.",
          "format": "int32"
        },
        "codec": {
          "type": "string",
          "description": "Codec type. The following codecs are supported: * `h264` (default) * `h265` * `vp9`"
        }
      },
      "id": "VideoStream",
      "type": "object",
      "description": "Video stream resource."
    },
    "Encryption": {
      "description": "Encryption settings.",
      "id": "Encryption",
      "type": "object",
      "properties": {
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        },
        "iv": {
          "description": "Required. 128 bit Initialization Vector (IV) represented as lowercase hexadecimal digits.",
          "type": "string"
        },
        "key": {
          "description": "Required. 128 bit encryption key represented as lowercase hexadecimal digits.",
          "type": "string"
        },
        "aes128": {
          "$ref": "Aes128Encryption",
          "description": "Configuration for AES-128 encryption."
        }
      }
    },
    "PreprocessingConfig": {
      "type": "object",
      "description": "Preprocessing configurations.",
      "id": "PreprocessingConfig",
      "properties": {
        "denoise": {
          "$ref": "Denoise",
          "description": "Denoise preprocessing configuration."
        },
        "pad": {
          "$ref": "Pad",
          "description": "Specify the video pad filter configuration."
        },
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        }
      }
    },
    "AnimationFade": {
      "description": "Display overlay object with fade animation.",
      "type": "object",
      "id": "AnimationFade",
      "properties": {
        "startTimeOffset": {
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s"
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "fadeType": {
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`."
        }
      }
    },
    "TextInput": {
      "id": "TextInput",
      "properties": {
        "key": {
          "description": "Required. The `Input.key` that identifies the input file.",
          "type": "string"
        },
        "track": {
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Identifies which input file and track should be used."
    },
    "Deblock": {
      "id": "Deblock",
      "properties": {
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        },
        "strength": {
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Deblock preprocessing configuration."
    },
    "ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "description": "List of jobs in the specified region.",
          "items": {
            "$ref": "Job"
          }
        }
      },
      "type": "object",
      "id": "ListJobsResponse",
      "description": "Response message for `TranscoderService.ListJobs`."
    },
    "MuxStream": {
      "id": "MuxStream",
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `MuxStream.key` with the extension suffix corresponding to the `MuxStream.container`. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `\"mux_stream0000000123.ts\"`."
        },
        "segmentSettings": {
          "$ref": "SegmentSettings",
          "description": "Segment settings for `\"ts\"`, `\"fmp4\"` and `\"vtt\"`."
        },
        "elementaryStreams": {
          "description": "List of `ElementaryStream.key`s multiplexed in this stream.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "A unique key for this multiplexed stream. HLS media manifests will be named `MuxStream.key` with the `\".m3u8\"` extension suffix.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Encryption settings."
        },
        "container": {
          "description": "The container format. The default is `\"mp4\"` Supported container formats: - 'ts' - 'fmp4'- the corresponding file extension is `\".m4s\"` - 'mp4' - 'vtt'",
          "type": "string"
        }
      },
      "description": "Multiplexing settings for output stream."
    },
    "Manifest": {
      "type": "object",
      "description": "Manifest configuration.",
      "properties": {
        "muxStreams": {
          "type": "array",
          "description": "Required. List of user given `MuxStream.key`s that should appear in this manifest. When `Manifest.type` is `HLS`, a media manifest with name `MuxStream.key` and `.m3u8` extension is generated for each element of the `Manifest.mux_streams`.",
          "items": {
            "type": "string"
          }
        },
        "fileName": {
          "description": "The name of the generated file. The default is `\"manifest\"` with the extension suffix corresponding to the `Manifest.type`.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the manifest, can be \"HLS\" or \"DASH\".",
          "type": "string",
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create `\"HLS\"` manifest. The corresponding file extension is `\".m3u8\"`.",
            "Create `\"DASH\"` manifest. The corresponding file extension is `\".mpd\"`."
          ]
        }
      },
      "id": "Manifest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "[Output only] The time the operation was created.",
          "type": "string"
        },
        "statusDetail": {
          "description": "[Output only] Human-readable status of the operation, if any.",
          "type": "string"
        },
        "target": {
          "description": "[Output only] Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "[Output only] Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "[Output only] The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "cancelRequested": {
          "description": "[Output only] Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "[Output only] API version used to start the operation.",
          "type": "string"
        }
      }
    },
    "AudioAtom": {
      "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
      "properties": {
        "key": {
          "description": "Required. The `EditAtom.key` that references the atom with audio inputs in the `Job.edit_list`.",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "AudioChannel"
          },
          "type": "array",
          "description": "List of `Channel`s for this audio stream. for in-depth explanation."
        }
      },
      "type": "object",
      "id": "AudioAtom"
    },
    "Audio": {
      "description": "Audio preprocessing configuration.",
      "id": "Audio",
      "type": "object",
      "properties": {
        "lufs": {
          "type": "number",
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "format": "double"
        },
        "highBoost": {
          "type": "boolean",
          "description": "Enable boosting high frequency components. The default is `false`."
        },
        "lowBoost": {
          "type": "boolean",
          "description": "Enable boosting low frequency components. The default is `false`."
        }
      }
    },
    "AnimationEnd": {
      "properties": {
        "startTimeOffset": {
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AnimationEnd",
      "description": "End previous overlay animation from the video. Without AnimationEnd, the overlay object will keep the state of previous animation until the end of the video."
    },
    "Output": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. If empty the value is populated from `Job.output_uri`."
        }
      },
      "id": "Output",
      "description": "Location of output file(s) in a Cloud Storage bucket."
    },
    "FailureDetail": {
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the failure.",
          "type": "string"
        }
      },
      "id": "FailureDetail",
      "description": "Additional information about the reasons for the failure."
    },
    "AudioStream": {
      "properties": {
        "channelCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2."
        },
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000."
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz."
        },
        "mapping": {
          "items": {
            "$ref": "AudioAtom"
          },
          "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
          "type": "array"
        },
        "channelLayout": {
          "type": "array",
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - 'fl' - Front left channel - 'fr' - Front right channel - 'sl' - Side left channel - 'sr' - Side right channel - 'fc' - Front center channel - 'lfe' - Low frequency",
          "items": {
            "type": "string"
          }
        },
        "codec": {
          "type": "string",
          "description": "The codec for this audio stream. The default is `\"aac\"`. Supported audio codecs: - 'aac' - 'aac-he' - 'aac-he-v2' - 'mp3' - 'ac3' - 'eac3'"
        }
      },
      "id": "AudioStream",
      "type": "object",
      "description": "Audio stream resource."
    },
    "OriginUri": {
      "type": "object",
      "description": "The origin URI.",
      "properties": {
        "hls": {
          "description": "HLS manifest URI per https://tools.ietf.org/html/rfc8216#section-4.3.4. If multiple HLS manifests are created, only the first one is listed.",
          "type": "string"
        },
        "dash": {
          "description": "Dash manifest URI. If multiple Dash manifests are created, only the first one is listed.",
          "type": "string"
        }
      },
      "id": "OriginUri"
    },
    "Progress": {
      "description": "Estimated fractional progress for each step, from `0` to `1`.",
      "properties": {
        "uploaded": {
          "description": "Estimated fractional progress for `uploading` step.",
          "format": "double",
          "type": "number"
        },
        "analyzed": {
          "description": "Estimated fractional progress for `analyzing` step.",
          "type": "number",
          "format": "double"
        },
        "notified": {
          "type": "number",
          "format": "double",
          "description": "Estimated fractional progress for `notifying` step."
        },
        "encoded": {
          "format": "double",
          "description": "Estimated fractional progress for `encoding` step.",
          "type": "number"
        }
      },
      "id": "Progress",
      "type": "object"
    },
    "SegmentSettings": {
      "properties": {
        "individualSegments": {
          "type": "boolean",
          "description": "Required. Create an individual segment file. The default is `false`."
        },
        "segmentDuration": {
          "type": "string",
          "description": "Duration of the segments in seconds. The default is `\"6.0s\"`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream).",
          "format": "google-duration"
        }
      },
      "description": "Segment settings for `\"ts\"`, `\"fmp4\"` and `\"vtt\"`.",
      "type": "object",
      "id": "SegmentSettings"
    },
    "SpriteSheet": {
      "properties": {
        "quality": {
          "format": "int32",
          "type": "integer",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio."
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "type": "string"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100."
        },
        "spriteHeightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field)."
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "type": "string",
          "format": "google-duration"
        },
        "format": {
          "description": "Format type. The default is `\"jpeg\"`. Supported formats: - 'jpeg'",
          "type": "string"
        },
        "filePrefix": {
          "type": "string",
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `\"sprite_sheet0000000123.jpeg\"`."
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field).",
          "format": "int32",
          "type": "integer"
        },
        "columnCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit."
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit."
        },
        "interval": {
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "SpriteSheet",
      "description": "Sprite sheet configuration."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "JobConfig": {
      "properties": {
        "overlays": {
          "items": {
            "$ref": "Overlay"
          },
          "description": "List of overlays on the output video, in descending Z-order.",
          "type": "array"
        },
        "pubsubDestination": {
          "description": "Destination on Pub/Sub.",
          "$ref": "PubsubDestination"
        },
        "muxStreams": {
          "description": "List of multiplexing settings for output streams.",
          "items": {
            "$ref": "MuxStream"
          },
          "type": "array"
        },
        "editList": {
          "description": "List of `Edit atom`s. Defines the ultimate timeline of the resulting file or manifest.",
          "type": "array",
          "items": {
            "$ref": "EditAtom"
          }
        },
        "spriteSheets": {
          "type": "array",
          "description": "List of output sprite sheets.",
          "items": {
            "$ref": "SpriteSheet"
          }
        },
        "inputs": {
          "description": "List of input assets stored in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "Input"
          }
        },
        "manifests": {
          "description": "List of output manifests.",
          "type": "array",
          "items": {
            "$ref": "Manifest"
          }
        },
        "output": {
          "$ref": "Output",
          "description": "Output configuration."
        },
        "adBreaks": {
          "items": {
            "$ref": "AdBreak"
          },
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "type": "array"
        },
        "elementaryStreams": {
          "description": "List of elementary streams.",
          "type": "array",
          "items": {
            "$ref": "ElementaryStream"
          }
        }
      },
      "description": "Job configuration",
      "id": "JobConfig",
      "type": "object"
    },
    "AudioChannelInput": {
      "id": "AudioChannelInput",
      "type": "object",
      "description": "Identifies which input file, track, and channel should be used.",
      "properties": {
        "channel": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the input file."
        },
        "gainDb": {
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "track": {
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32"
        },
        "key": {
          "type": "string",
          "description": "Required. The `Input.key` that identifies the input file."
        }
      }
    },
    "PubsubDestination": {
      "id": "PubsubDestination",
      "type": "object",
      "description": "A Pub/Sub destination.",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      }
    },
    "Animation": {
      "type": "object",
      "id": "Animation",
      "description": "Animation types.",
      "properties": {
        "animationStatic": {
          "$ref": "AnimationStatic",
          "description": "Display static overlay object."
        },
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        },
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        }
      }
    },
    "Crop": {
      "properties": {
        "bottomPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to crop from the bottom. The default is 0."
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer"
        },
        "topPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the top. The default is 0.",
          "format": "int32"
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the left. The default is 0.",
          "type": "integer"
        }
      },
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "id": "Crop",
      "type": "object"
    },
    "Color": {
      "properties": {
        "contrast": {
          "format": "double",
          "type": "number",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0."
        },
        "saturation": {
          "format": "double",
          "type": "number",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
        },
        "brightness": {
          "type": "number",
          "format": "double",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0."
        }
      },
      "id": "Color",
      "type": "object",
      "description": "Color preprocessing configuration."
    },
    "Pad": {
      "id": "Pad",
      "type": "object",
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "properties": {
        "rightPixels": {
          "description": "The number of pixels to add to the right. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the left. The default is 0.",
          "type": "integer"
        },
        "bottomPixels": {
          "description": "The number of pixels to add to the bottom. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "topPixels": {
          "type": "integer",
          "description": "The number of pixels to add to the top. The default is 0.",
          "format": "int32"
        }
      }
    },
    "TextStream": {
      "properties": {
        "languageCode": {
          "description": "Required. The BCP-47 language code, such as `\"en-US\"` or `\"sr-Latn\"`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "mapping": {
          "type": "array",
          "items": {
            "$ref": "TextAtom"
          },
          "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`."
        },
        "codec": {
          "description": "The codec for this text stream. The default is `\"webvtt\"`. Supported text codecs: - 'srt' - 'ttml' - 'cea608' - 'cea708' - 'webvtt'",
          "type": "string"
        }
      },
      "id": "TextStream",
      "type": "object",
      "description": "Encoding of a text stream. For example, closed captions or subtitles."
    },
    "NormalizedCoordinate": {
      "properties": {
        "x": {
          "type": "number",
          "format": "double",
          "description": "Normalized x coordinate."
        },
        "y": {
          "format": "double",
          "description": "Normalized y coordinate.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "id": "NormalizedCoordinate"
    },
    "Aes128Encryption": {
      "id": "Aes128Encryption",
      "description": "Configuration for AES-128 encryption.",
      "properties": {
        "keyUri": {
          "description": "Required. URI of the key delivery service. This URI is inserted into the M3U8 header.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Denoise": {
      "type": "object",
      "properties": {
        "tune": {
          "description": "Set the denoiser mode. The default is `\"standard\"`. Supported denoiser modes: - 'standard' - 'grain'",
          "type": "string"
        },
        "strength": {
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Denoise preprocessing configuration.",
      "id": "Denoise"
    },
    "ListJobTemplatesResponse": {
      "type": "object",
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "jobTemplates": {
          "type": "array",
          "description": "List of job templates in the specified region.",
          "items": {
            "$ref": "JobTemplate"
          }
        }
      },
      "id": "ListJobTemplatesResponse"
    },
    "AdBreak": {
      "description": "Ad break.",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`."
        }
      },
      "type": "object",
      "id": "AdBreak"
    },
    "TextAtom": {
      "id": "TextAtom",
      "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The `EditAtom.key` that references atom with text inputs in the `Job.edit_list`."
        },
        "inputs": {
          "description": "List of `Job.inputs` that should be embedded in this atom. Only one input is supported.",
          "type": "array",
          "items": {
            "$ref": "TextInput"
          }
        }
      },
      "type": "object"
    },
    "Input": {
      "properties": {
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists."
        },
        "uri": {
          "type": "string",
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value will be populated from `Job.input_uri`."
        }
      },
      "id": "Input",
      "description": "Input asset.",
      "type": "object"
    },
    "MpegCommonEncryption": {
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Required. 128 bit Key ID represented as lowercase hexadecimal digits for use with common encryption.",
          "type": "string"
        },
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - 'cenc' - 'cbcs'",
          "type": "string"
        }
      },
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "id": "MpegCommonEncryption"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobs": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    }
                  },
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists jobs in the specified region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "id": "transcoder.projects.locations.jobs.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Returns the job data.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobs.get"
                },
                "create": {
                  "path": "v1beta1/{+parent}/jobs",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job in the specified region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "id": "transcoder.projects.locations.jobs.create"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "required": true
                    }
                  },
                  "id": "transcoder.projects.locations.jobs.delete",
                  "description": "Deletes a job.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}"
                }
              }
            },
            "jobTemplates": {
              "methods": {
                "create": {
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "required": true
                    },
                    "jobTemplateId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "path": "v1beta1/{+parent}/jobTemplates",
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "description": "Creates a job template in the specified region.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "description": "Returns the job template data.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "description": "Lists job templates in the specified region.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "path": "v1beta1/{+parent}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a job template.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Transcoder",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "revision": "20210323"
}
