{
  "baseUrl": "https://oslogin.googleapis.com/",
  "documentationLink": "https://cloud.google.com/compute/docs/oslogin/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://oslogin.googleapis.com/",
  "version": "v1beta",
  "id": "oslogin:v1beta",
  "name": "oslogin",
  "description": "You can use OS Login to manage access to your VM instances using IAM roles.",
  "mtlsRootUrl": "https://oslogin.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud OS Login API",
  "schemas": {
    "LoginProfile": {
      "properties": {
        "posixAccounts": {
          "items": {
            "$ref": "PosixAccount"
          },
          "description": "The list of POSIX accounts associated with the user.",
          "type": "array"
        },
        "sshPublicKeys": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SshPublicKey"
          },
          "description": "A map from SSH public key fingerprint to the associated key object."
        },
        "name": {
          "description": "Required. A unique user ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoginProfile",
      "description": "The user profile information used for logging in to a virtual machine on Google Compute Engine."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "PosixAccount": {
      "properties": {
        "systemId": {
          "description": "System identifier for which account the username or uid applies to. By default, the empty value is used.",
          "type": "string"
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "Only one POSIX account can be marked as primary."
        },
        "operatingSystemType": {
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The operating system type associated with the user account information is unspecified.",
            "Linux user account information.",
            "Windows user account information."
          ],
          "description": "The operating system type where this account applies."
        },
        "gid": {
          "format": "int64",
          "type": "string",
          "description": "The default group ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical resource name."
        },
        "uid": {
          "format": "int64",
          "type": "string",
          "description": "The user ID."
        },
        "accountId": {
          "description": "Output only. A POSIX account identifier.",
          "type": "string",
          "readOnly": true
        },
        "username": {
          "type": "string",
          "description": "The username of the POSIX account."
        },
        "gecos": {
          "description": "The GECOS (user information) entry for this account.",
          "type": "string"
        },
        "shell": {
          "type": "string",
          "description": "The path to the logic shell for this account."
        }
      },
      "id": "PosixAccount",
      "description": "The POSIX account information associated with a Google account.",
      "type": "object"
    },
    "ImportSshPublicKeyResponse": {
      "description": "A response message for importing an SSH public key.",
      "type": "object",
      "id": "ImportSshPublicKeyResponse",
      "properties": {
        "loginProfile": {
          "description": "The login profile information for the user.",
          "$ref": "LoginProfile"
        }
      }
    },
    "SshPublicKey": {
      "id": "SshPublicKey",
      "properties": {
        "expirationTimeUsec": {
          "format": "int64",
          "description": "An expiration time in microseconds since epoch.",
          "type": "string"
        },
        "key": {
          "description": "Public key text in SSH format, defined by RFC4253 section 6.6.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Output only. The SHA-256 fingerprint of the SSH public key.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The canonical resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The SSH public key information associated with a Google account."
    }
  },
  "canonicalName": "Cloud OS Login",
  "ownerDomain": "google.com",
  "servicePath": "",
  "revision": "20200801",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "users": {
      "methods": {
        "importSshPublicKey": {
          "id": "oslogin.users.importSshPublicKey",
          "description": "Adds an SSH public key and returns the profile information. Default POSIX account information is set when no username and UID exist as part of the login profile.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "parent"
          ],
          "path": "v1beta/{+parent}:importSshPublicKey",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "query",
              "description": "The project ID of the Google Cloud Platform project."
            },
            "parent": {
              "location": "path",
              "pattern": "^users/[^/]+$",
              "required": true,
              "description": "The unique ID for the user in format `users/{user}`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ImportSshPublicKeyResponse"
          },
          "flatPath": "v1beta/users/{usersId}:importSshPublicKey",
          "request": {
            "$ref": "SshPublicKey"
          },
          "httpMethod": "POST"
        },
        "getLoginProfile": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/users/{usersId}/loginProfile",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "oslogin.users.getLoginProfile",
          "httpMethod": "GET",
          "description": "Retrieves the profile information used for logging in to a virtual machine on Google Compute Engine.",
          "path": "v1beta/{+name}/loginProfile",
          "response": {
            "$ref": "LoginProfile"
          },
          "parameters": {
            "projectId": {
              "location": "query",
              "description": "The project ID of the Google Cloud Platform project.",
              "type": "string"
            },
            "name": {
              "description": "Required. The unique ID for the user in format `users/{user}`.",
              "pattern": "^users/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "systemId": {
              "location": "query",
              "type": "string",
              "description": "A system ID for filtering the results of the request."
            }
          }
        }
      },
      "resources": {
        "sshPublicKeys": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "SshPublicKey"
              },
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "response": {
                "$ref": "SshPublicKey"
              },
              "path": "v1beta/{+name}",
              "id": "oslogin.users.sshPublicKeys.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an SSH public key and returns the profile information. This method supports patch semantics.",
              "parameters": {
                "name": {
                  "description": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Mask to control which fields get updated. Updates all if not present."
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "id": "oslogin.users.sshPublicKeys.get",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Retrieves an SSH public key.",
              "response": {
                "$ref": "SshPublicKey"
              },
              "parameters": {
                "name": {
                  "description": "Required. The fingerprint of the public key to retrieve. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "delete": {
              "id": "oslogin.users.sshPublicKeys.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$"
                }
              },
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "path": "v1beta/{+name}",
              "description": "Deletes an SSH public key.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "projects": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Deletes a POSIX account.",
              "response": {
                "$ref": "Empty"
              },
              "id": "oslogin.users.projects.delete",
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. A reference to the POSIX account to update. POSIX accounts are identified by the project ID they are associated with. A reference to the POSIX account is in format `users/{user}/projects/{project}`."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/users/{usersId}/projects/{projectsId}"
            }
          }
        }
      }
    }
  }
}
