{
  "canonicalName": "Game Services",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "Game Services API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "gameServerDeployments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the game server delpoyment to retrieve. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GameServerDeployment"
                  },
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "description": "Gets details of a single game server deployment."
                },
                "getRollout": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "Required. The name of the game server delpoyment to retrieve. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`."
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.getRollout",
                  "description": "Gets details a single game server deployment rollout.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "path": "v1beta/{+name}/rollout",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout"
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.\n\nCan return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field."
                    }
                  }
                },
                "updateRollout": {
                  "id": "gameservices.projects.locations.gameServerDeployments.updateRollout",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "description": "Patches a single game server deployment rollout.\nThe method will not return an error if the update does not affect any\nexisting realms. For example - if the default_game_server_config is changed\nbut all existing realms use the override, that is valid. Similarly, if a\nnon existing realm is explicitly called out in game_server_config_overrides\nfield, that will also not result in an error.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The resource name of the game server deployment rollout. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`.\nFor example,\n\n`projects/my-project/locations/{location}/gameServerDeployments/my-deployment/rollout`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask"
                    }
                  },
                  "path": "v1beta/{+name}/rollout"
                },
                "delete": {
                  "description": "Deletes a single game server deployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the game server delpoyment to delete. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "gameservices.projects.locations.gameServerDeployments.delete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.create",
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "path": "v1beta/{+parent}/gameServerDeployments",
                  "description": "Creates a new game server deployment in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name. Uses the form:\n`projects/{project}/locations/{location}`."
                    },
                    "deploymentId": {
                      "location": "query",
                      "description": "Required. The ID of the game server delpoyment resource to be created.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a `NOT_FOUND` error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.testIamPermissions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:getIamPolicy",
                  "id": "gameservices.projects.locations.gameServerDeployments.getIamPolicy",
                  "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.  If unspecified, the server\nwill pick an appropriate default. The server may return fewer items than\nrequested. A caller should only rely on response's\nnext_page_token to\ndetermine if there are more GameServerDeployments left to be queried.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Specifies the ordering of results following syntax at\nhttps://cloud.google.com/apis/design/design_patterns#sorting_order."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name. Uses the form:\n`projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous List request,\nif any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to list results."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListGameServerDeploymentsResponse"
                  },
                  "path": "v1beta/{+parent}/gameServerDeployments",
                  "id": "gameservices.projects.locations.gameServerDeployments.list",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "description": "Lists game server deployments in a given project and location."
                },
                "fetchDeploymentState": {
                  "request": {
                    "$ref": "FetchDeploymentStateRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.fetchDeploymentState",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "FetchDeploymentStateResponse"
                  },
                  "path": "v1beta/{+name}:fetchDeploymentState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "Required. The name of the game server delpoyment. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:fetchDeploymentState",
                  "description": "Retrieves information about the current state of the game server\ndeployment. Gathers all the Agones fleets and Agones autoscalers,\nincluding fleets running an older version of the game server deployment."
                },
                "previewRollout": {
                  "response": {
                    "$ref": "PreviewGameServerDeploymentRolloutResponse"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout:preview",
                  "path": "v1beta/{+name}/rollout:preview",
                  "description": "Previews the game server deployment rollout. This API does not mutate the\nrollout resource.",
                  "parameters": {
                    "previewTime": {
                      "description": "Optional. The target timestamp to compute the preview. Defaults to the immediately\nafter the proposed rollout completes.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the game server deployment rollout. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`.\nFor example,\n\n`projects/my-project/locations/{location}/gameServerDeployments/my-deployment/rollout`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.previewRollout",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "description": "Patches a game server deployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the game server deployment. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.\nFor example,\n\n`projects/my-project/locations/{location}/gameServerDeployments/my-deployment`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "path": "v1beta/{+name}"
                }
              },
              "resources": {
                "configs": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new game server config in a given project, location, and game\nserver deployment. Game server configs are immutable, and are not applied\nuntil referenced in the game server deployment rollout resource.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "path": "v1beta/{+parent}/configs",
                      "request": {
                        "$ref": "GameServerConfig"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/`.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                        },
                        "configId": {
                          "location": "query",
                          "description": "Required. The ID of the game server config resource to be created.",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "description": "Lists game server configs in a given project, location, and game server\ndeployment.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Specifies the ordering of results following syntax at\nhttps://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list request, if any."
                        },
                        "filter": {
                          "description": "Optional. The filter to apply to list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return.  If unspecified, server\nwill pick an appropriate default. Server may return fewer items than\nrequested. A caller should only rely on response's\nnext_page_token to\ndetermine if there are more GameServerConfigs left to be queried.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListGameServerConfigsResponse"
                      },
                      "path": "v1beta/{+parent}/configs",
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "description": "Deletes a single game server config. The deletion will fail if the game\nserver config is referenced in a game server deployment rollout.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "description": "Required. The name of the game server config to delete. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`.",
                          "location": "path"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets details of a single game server config.",
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.get",
                      "response": {
                        "$ref": "GameServerConfig"
                      },
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server config to retrieve. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v1beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.operations.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "gameservices.projects.locations.operations.delete",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "id": "gameservices.projects.locations.operations.cancel",
                  "path": "v1beta/{+name}:cancel",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "gameservices.projects.locations.operations.get",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "realms": {
              "resources": {
                "gameServerClusters": {
                  "methods": {
                    "delete": {
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server cluster to delete. Uses the form:\n`projects/{project}/locations/{location}/gameServerClusters/{cluster}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single game server cluster.",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}"
                    },
                    "previewUpdate": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}:previewUpdate",
                      "response": {
                        "$ref": "PreviewUpdateGameServerClusterResponse"
                      },
                      "description": "Previews updating a GameServerCluster.",
                      "parameters": {
                        "previewTime": {
                          "description": "Optional. The target timestamp to compute the preview.",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the game server cluster. Uses the form:\n\n`projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`.\nFor example,\n\n`projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewUpdate",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewUpdate",
                      "httpMethod": "PATCH"
                    },
                    "previewDelete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Previews deletion of a single game server cluster.",
                      "path": "v1beta/{+name}:previewDelete",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewDelete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewDelete",
                      "response": {
                        "$ref": "PreviewDeleteGameServerClusterResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the game server cluster to delete. Uses the form:\n`projects/{project}/locations/{location}/gameServerClusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "required": true
                        },
                        "previewTime": {
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime",
                          "description": "Optional. The target timestamp to compute the preview."
                        }
                      }
                    },
                    "previewCreate": {
                      "response": {
                        "$ref": "PreviewCreateGameServerClusterResponse"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters:previewCreate",
                      "description": "Previews creation of a new game server cluster in a given project and\nlocation.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/gameServerClusters:previewCreate",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewCreate",
                      "parameters": {
                        "gameServerClusterId": {
                          "description": "Required. The ID of the game server cluster resource to be created.",
                          "location": "query",
                          "type": "string"
                        },
                        "previewTime": {
                          "description": "Optional. The target timestamp to compute the preview.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "parent": {
                          "description": "Required. The parent resource name. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server cluster to retrieve. Uses the form:\n\n`projects/{project}/locations/{location}/realms/{realm-id}/gameServerClusters/{cluster}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GameServerCluster"
                      },
                      "description": "Gets details of a single game server cluster.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}"
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The filter to apply to list results."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return.  If unspecified, the server\nwill pick an appropriate default. The server may return fewer items than\nrequested. A caller should only rely on response's\nnext_page_token to\ndetermine if there are more GameServerClusters left to be queried.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name. Uses the form:\n\"projects/{project}/locations/{location}/realms/{realm}\".",
                          "type": "string",
                          "location": "path"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Specifies the ordering of results following syntax at\nhttps://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists game server clusters in a given project and location.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListGameServerClustersResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.list",
                      "path": "v1beta/{+parent}/gameServerClusters",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Patches a single game server cluster.",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the game server cluster. Uses the form:\n\n`projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`.\nFor example,\n\n`projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.create",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new game server cluster in a given project and location.",
                      "path": "v1beta/{+parent}/gameServerClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm-id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "required": true
                        },
                        "gameServerClusterId": {
                          "description": "Required. The ID of the game server cluster resource to be created.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters"
                    }
                  }
                }
              },
              "methods": {
                "previewUpdate": {
                  "description": "Previews patches to a single realm.",
                  "request": {
                    "$ref": "Realm"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "PreviewRealmUpdateResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the realm. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm}`. For\nexample, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask`\ndefinition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask",
                      "type": "string"
                    },
                    "previewTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The target timestamp to compute the preview.",
                      "format": "google-datetime"
                    }
                  },
                  "path": "v1beta/{+name}:previewUpdate",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.realms.previewUpdate"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the realm to delete. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single realm.",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.realms.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                  "httpMethod": "POST",
                  "id": "gameservices.projects.locations.realms.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Realm"
                  },
                  "description": "Creates a new realm in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name. Uses the form:\n`projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "realmId": {
                      "description": "Required. The ID of the realm resource to be created.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/realms"
                },
                "get": {
                  "id": "gameservices.projects.locations.realms.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the realm to retrieve. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Realm"
                  },
                  "description": "Gets details of a single realm.",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}"
                },
                "patch": {
                  "id": "gameservices.projects.locations.realms.patch",
                  "request": {
                    "$ref": "Realm"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Patches a single realm.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "The resource name of the realm. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm}`. For\nexample, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask`\ndefinition, see\n\nhttps:\n//developers.google.com/protocol-buffers\n// /docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists realms in a given project and location.",
                  "id": "gameservices.projects.locations.realms.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name. Uses the form:\n`projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specifies the ordering of results following syntax at\nhttps://cloud.google.com/apis/design/design_patterns#sorting_order.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous List request,\nif any."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to list results."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of items to return.  If unspecified, server\nwill pick an appropriate default. Server may return fewer items than\nrequested. A caller should only rely on response's\nnext_page_token to\ndetermine if there are more realms left to be queried.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/realms",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location."
                }
              },
              "id": "gameservices.projects.locations.get",
              "httpMethod": "GET"
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "includeUnrevealedLocations": {
                  "type": "boolean",
                  "description": "If true, the returned list will include locations which are not yet\nrevealed.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "id": "gameservices.projects.locations.list"
            }
          }
        }
      }
    }
  },
  "name": "gameservices",
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://gameservices.googleapis.com/",
  "schemas": {
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.\n\nIf the condition evaluates to `true`, then this binding applies to the\ncurrent request.\n\nIf the condition evaluates to `false`, then this binding does not apply to\nthe current request. However, a different role binding might grant the same\nrole to one or more of the members in this binding.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "CustomField": {
      "description": "Custom fields.\nThese can be used to create a counter with arbitrary field/value\npairs.\nSee: go/rpcsp-custom-fields.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value is the field value. It is important that in contrast to the\nCounterOptions.field, the value here is a constant that is not\nderived from the IAMContext."
        },
        "name": {
          "type": "string",
          "description": "Name is the field name."
        }
      },
      "id": "CustomField"
    },
    "FleetConfig": {
      "description": "Fleet configs for Agones.",
      "type": "object",
      "id": "FleetConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the FleetConfig."
        },
        "fleetSpec": {
          "description": "Agones fleet spec. Example spec:\n`https://agones.dev/site/docs/reference/fleet/`.",
          "type": "string"
        }
      }
    },
    "ListGameServerConfigsResponse": {
      "type": "object",
      "properties": {
        "gameServerConfigs": {
          "type": "array",
          "description": "The list of game server configs.",
          "items": {
            "$ref": "GameServerConfig"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list."
        }
      },
      "id": "ListGameServerConfigsResponse",
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs."
    },
    "TargetState": {
      "description": "Encapsulates the Target state.",
      "properties": {
        "details": {
          "description": "Details about Agones fleets.",
          "items": {
            "$ref": "TargetDetails"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TargetState"
    },
    "TargetFleetAutoscaler": {
      "type": "object",
      "description": "Target Agones autoscaler policy reference.",
      "id": "TargetFleetAutoscaler",
      "properties": {
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec.\nDetails about the Agones autoscaler spec.",
          "$ref": "SpecSource"
        },
        "name": {
          "type": "string",
          "description": "The name of the Agones autoscaler."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language\nsyntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "Realm": {
      "description": "A realm resource.",
      "id": "Realm",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Time zone where all policies targeting this realm are evaluated. The value\nof this field must be from the IANA time zone database:\nhttps://www.iana.org/time-zones."
        },
        "description": {
          "description": "Human readable description of the realm.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this realm. Each label is a key-value pair."
        },
        "name": {
          "description": "The resource name of the realm. Uses the form:\n`projects/{project}/locations/{location}/realms/{realm}`. For\nexample, `projects/my-project/locations/{location}/realms/my-realm`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabelSelector": {
      "type": "object",
      "id": "LabelSelector",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Resource labels for this selector.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The label selector, used to group labels on the resources."
    },
    "GameServerDeployment": {
      "type": "object",
      "description": "A game server deployment resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last-modified time.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the game server deployment. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.\nFor example,\n\n`projects/my-project/locations/{location}/gameServerDeployments/my-deployment`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this game server deployment. Each label is a\nkey-value pair."
        },
        "description": {
          "description": "Human readable description of the game server delpoyment.",
          "type": "string"
        }
      },
      "id": "GameServerDeployment"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "type": "array",
          "description": "If more than one rule is specified, the rules are applied in the following\nmanner:\n- All matching LOG rules are always applied.\n- If any DENY/DENY_WITH_LOG rule matches, permission is denied.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is\n  granted.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if no rule applies, permission is denied."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "iamOwned": {
          "type": "boolean"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nFor some types of Google Cloud resources, a `binding` can also specify a\n`condition`, which is a logical expression that allows access to a resource\nonly if the expression evaluates to `true`. A condition can add constraints\nbased on attributes of the request, the resource, or both. To learn which\nresources support conditions in their IAM policies, see the\n[IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/resourcemanager.organizationViewer\",\n          \"members\": [\n            \"user:eve@example.com\"\n          ],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "GameServerCluster": {
      "description": "A game server cluster resource.",
      "id": "GameServerCluster",
      "properties": {
        "connectionInfo": {
          "description": "The game server cluster connection information. This information is used to\nmanage game server clusters.",
          "$ref": "GameServerClusterConnectionInfo"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the game server cluster. Uses the form:\n\n`projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`.\nFor example,\n\n`projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time.",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the cluster."
        },
        "labels": {
          "description": "The labels associated with this game server cluster. Each label is a\nkey-value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time."
        }
      },
      "type": "object"
    },
    "GameServerConfigOverride": {
      "id": "GameServerConfigOverride",
      "properties": {
        "realmsSelector": {
          "description": "Selector for choosing applicable realms.",
          "$ref": "RealmSelector"
        },
        "configVersion": {
          "description": "The game server config for this override.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A game server config override."
    },
    "DeployedFleetAutoscaler": {
      "properties": {
        "specSource": {
          "description": "The source spec that is used to create the autoscaler.\nThe GameServerConfig resource may no longer exist in the system.",
          "$ref": "SpecSource"
        },
        "fleetAutoscalerSpec": {
          "type": "string",
          "description": "The autoscaler spec retrieved from Agones."
        },
        "autoscaler": {
          "type": "string",
          "description": "The name of the Agones autoscaler."
        }
      },
      "id": "DeployedFleetAutoscaler",
      "description": "Details about the Agones autoscaler.",
      "type": "object"
    },
    "DeployedFleetDetails": {
      "description": "Details of the deployed Agones fleet.",
      "properties": {
        "deployedAutoscaler": {
          "description": "Information about the Agones autoscaler for that fleet.",
          "$ref": "DeployedFleetAutoscaler"
        },
        "deployedFleet": {
          "$ref": "DeployedFleet",
          "description": "Information about the Agones fleet."
        }
      },
      "type": "object",
      "id": "DeployedFleetDetails"
    },
    "PreviewDeleteGameServerClusterResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the game server cluster."
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      },
      "description": "Response message for\nGameServerClustersService.PreviewDeleteGameServerCluster.",
      "type": "object",
      "id": "PreviewDeleteGameServerClusterResponse"
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "id": "Location"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\n\n`paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "unavailable": {
          "description": "Locations that could not be reached on this request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the game server deployment."
        }
      },
      "type": "object",
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "description": "Response message for PreviewGameServerDeploymentRollout.\nThis has details about the Agones fleet and autoscaler to be actuated."
    },
    "PreviewUpdateGameServerClusterResponse": {
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the game server cluster."
        }
      },
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster",
      "type": "object",
      "id": "PreviewUpdateGameServerClusterResponse"
    },
    "FetchDeploymentStateResponse": {
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "type": "object",
      "properties": {
        "clusterState": {
          "description": "The state of the game server deployment in each game server cluster.",
          "type": "array",
          "items": {
            "$ref": "DeployedClusterState"
          }
        },
        "unavailable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached."
        }
      },
      "id": "FetchDeploymentStateResponse"
    },
    "DataAccessOptions": {
      "description": "Write a Data Access (Gin) log",
      "id": "DataAccessOptions",
      "properties": {
        "logMode": {
          "type": "string",
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ],
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after\nthe authorization check. If client chooses to write one and it fails,\nclient may either fail open (allow the operation to continue) or\nfail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization\ncheck is being made may only be performed if it is successfully logged\nto Gin. For instance, the authorization library may satisfy this\nobligation by emitting a partial log entry at authorization check time\nand only returning ALLOW to the application if it succeeds.\n\nIf a matching Rule has this directive, but the client has not indicated\nthat it will honor such requirements, then the IAM check will result in\nauthorization failure by setting CheckPolicyResponse.success=false."
          ]
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\"\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging."
    },
    "CounterOptions": {
      "description": "Increment a streamz counter with the specified metric and field names.\n\nMetric names should start with a '/', generally be lowercase-only,\nand end in \"_count\". Field names should not contain an initial slash.\nThe actual exported metric names will have \"/iam/policy\" prepended.\n\nField names correspond to IAM request parameters and field values are\ntheir respective values.\n\nSupported field names:\n   - \"authority\", which is \"[token]\" if IAMContext.token is present,\n     otherwise the value of IAMContext.authority_selector if present, and\n     otherwise a representation of IAMContext.principal; or\n   - \"iam_principal\", a representation of IAMContext.principal even if a\n     token or authority selector is present; or\n   - \"\" (empty string), resulting in a counter with no fields.\n\nExamples:\n  counter { metric: \"/debug_access_count\"  field: \"iam_principal\" }\n  ==\u003e increment counter /iam/policy/debug_access_count\n                        {iam_principal=[value of IAMContext.principal]}",
      "id": "CounterOptions",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        },
        "customFields": {
          "type": "array",
          "description": "Custom fields.",
          "items": {
            "$ref": "CustomField"
          }
        },
        "field": {
          "type": "string",
          "description": "The field value to attribute."
        }
      }
    },
    "GameServerDeploymentRollout": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time."
        },
        "defaultGameServerConfig": {
          "type": "string",
          "description": "The default game server config is applied to all realms unless overridden\nin the rollout. For example,\n\n`projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server deployment rollout. Uses the form:\n\n`projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`.\nFor example,\n\n`projects/my-project/locations/{location}/gameServerDeployments/my-deployment/rollout`."
        },
        "gameServerConfigOverrides": {
          "type": "array",
          "description": "Contains the game server config rollout overrides. Overrides are processed\nin the order they are listed. Once a match is found for a realm, the rest\nof the list is not processed.",
          "items": {
            "$ref": "GameServerConfigOverride"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "description": "The game server deployment rollout which represents the desired rollout\nstate.",
      "id": "GameServerDeploymentRollout",
      "type": "object"
    },
    "ListRealmsResponse": {
      "id": "ListRealmsResponse",
      "type": "object",
      "description": "Response message for RealmsService.ListRealms.",
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list.",
          "type": "string"
        },
        "realms": {
          "type": "array",
          "description": "The list of realms.",
          "items": {
            "$ref": "Realm"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed."
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "PreviewRealmUpdateResponse": {
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the realm."
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      },
      "id": "PreviewRealmUpdateResponse",
      "type": "object"
    },
    "Rule": {
      "type": "object",
      "properties": {
        "action": {
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "type": "string",
          "description": "Required"
        },
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "logConfig": {
          "type": "array",
          "items": {
            "$ref": "LogConfig"
          },
[...]
