{
  "version": "v1",
  "baseUrl": "https://iamcredentials.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Creates short-lived, limited-privilege credentials for IAM service accounts.",
  "servicePath": "",
  "basePath": "",
  "revision": "20200515",
  "documentationLink": "https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials",
  "id": "iamcredentials:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "SignJwtRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. The JWT payload to sign. Must be a serialized JSON object that contains a\nJWT Claim Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}`\n\nIf the claim set contains an `exp` claim, it must be an integer timestamp\nthat is not in the past and at most 12 hours in the future.",
          "type": "string"
        },
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service\naccount must be granted the `roles/iam.serviceAccountTokenCreator` role\non its next service account in the chain. The last service account in the\nchain must be granted the `roles/iam.serviceAccountTokenCreator` role\non the service account that is specified in the `name` field of the\nrequest.\n\nThe delegates must have the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SignJwtRequest"
    },
    "GenerateIdTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The OpenId Connect ID token.",
          "type": "string"
        }
      },
      "id": "GenerateIdTokenResponse"
    },
    "GenerateIdTokenRequest": {
      "type": "object",
      "properties": {
        "includeEmail": {
          "description": "Include the service account email in the token. If set to `true`, the\ntoken will contain `email` and `email_verified` claims.",
          "type": "boolean"
        },
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service\naccount must be granted the `roles/iam.serviceAccountTokenCreator` role\non its next service account in the chain. The last service account in the\nchain must be granted the `roles/iam.serviceAccountTokenCreator` role\non the service account that is specified in the `name` field of the\nrequest.\n\nThe delegates must have the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audience": {
          "description": "Required. The audience for the token, such as the API or account that this token\ngrants access to.",
          "type": "string"
        }
      },
      "id": "GenerateIdTokenRequest"
    },
    "GenerateAccessTokenRequest": {
      "type": "object",
      "properties": {
        "lifetime": {
          "description": "The desired lifetime duration of the access token in seconds.\nMust be set to a value less than or equal to 3600 (1 hour). If a value is\nnot specified, the token's lifetime will be set to a default value of one\nhour.",
          "format": "google-duration",
          "type": "string"
        },
        "scope": {
          "description": "Required. Code to identify the scopes to be included in the OAuth 2.0 access token.\nSee https://developers.google.com/identity/protocols/googlescopes for more\ninformation.\nAt least one value required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service\naccount must be granted the `roles/iam.serviceAccountTokenCreator` role\non its next service account in the chain. The last service account in the\nchain must be granted the `roles/iam.serviceAccountTokenCreator` role\non the service account that is specified in the `name` field of the\nrequest.\n\nThe delegates must have the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GenerateAccessTokenRequest"
    },
    "GenerateAccessTokenResponse": {
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "Token expiration time.\nThe expiration time is always set.",
          "format": "google-datetime",
          "type": "string"
        },
        "accessToken": {
          "description": "The OAuth 2.0 access token.",
          "type": "string"
        }
      },
      "id": "GenerateAccessTokenResponse"
    },
    "SignBlobRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. The bytes to sign.",
          "format": "byte",
          "type": "string"
        },
        "delegates": {
          "description": "The sequence of service accounts in a delegation chain. Each service\naccount must be granted the `roles/iam.serviceAccountTokenCreator` role\non its next service account in the chain. The last service account in the\nchain must be granted the `roles/iam.serviceAccountTokenCreator` role\non the service account that is specified in the `name` field of the\nrequest.\n\nThe delegates must have the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SignBlobRequest"
    },
    "SignJwtResponse": {
      "type": "object",
      "properties": {
        "keyId": {
          "description": "The ID of the key used to sign the JWT. The key used for signing will\nremain valid for at least 12 hours after the JWT is signed. To verify the\nsignature, you can retrieve the public key in several formats from the\nfollowing endpoints:\n\n- RSA public key wrapped in an X.509 v3 certificate:\n`https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}`\n- Raw key in JSON format:\n`https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}`\n- JSON Web Key (JWK):\n`https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        },
        "signedJwt": {
          "description": "The signed JWT. Contains the automatically generated header; the\nclient-supplied payload; and the signature, which is generated using the\nkey referenced by the `kid` field in the header.\n\nAfter the key pair referenced by the `key_id` response field expires,\nGoogle no longer exposes the public key that can be used to verify the JWT.\nAs a result, the receiver can no longer verify the signature.",
          "type": "string"
        }
      },
      "id": "SignJwtResponse"
    },
    "SignBlobResponse": {
      "type": "object",
      "properties": {
        "keyId": {
          "description": "The ID of the key used to sign the blob. The key used for signing will\nremain valid for at least 12 hours after the blob is signed. To verify the\nsignature, you can retrieve the public key in several formats from the\nfollowing endpoints:\n\n- RSA public key wrapped in an X.509 v3 certificate:\n`https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}`\n- Raw key in JSON format:\n`https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}`\n- JSON Web Key (JWK):\n`https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        },
        "signedBlob": {
          "description": "The signature for the blob. Does not include the original blob.\n\nAfter the key pair referenced by the `key_id` response field expires,\nGoogle no longer exposes the public key that can be used to verify the\nblob. As a result, the receiver can no longer verify the signature.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SignBlobResponse"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "IAM Credentials",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://iamcredentials.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "iamcredentials",
  "batchPath": "batch",
  "mtlsRootUrl": "https://iamcredentials.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "IAM Service Account Credentials API",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "serviceAccounts": {
          "methods": {
            "generateAccessToken": {
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the service account for which the credentials\nare requested, in the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateAccessToken",
              "path": "v1/{+name}:generateAccessToken",
              "id": "iamcredentials.projects.serviceAccounts.generateAccessToken",
              "request": {
                "$ref": "GenerateAccessTokenRequest"
              },
              "description": "Generates an OAuth 2.0 access token for a service account."
            },
            "generateIdToken": {
              "request": {
                "$ref": "GenerateIdTokenRequest"
              },
              "description": "Generates an OpenID Connect ID token for a service account.",
              "response": {
                "$ref": "GenerateIdTokenResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account for which the credentials\nare requested, in the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateIdToken",
              "path": "v1/{+name}:generateIdToken",
              "id": "iamcredentials.projects.serviceAccounts.generateIdToken"
            },
            "signBlob": {
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
              "id": "iamcredentials.projects.serviceAccounts.signBlob",
              "path": "v1/{+name}:signBlob",
              "description": "Signs a blob using a service account's system-managed private key.",
              "request": {
                "$ref": "SignBlobRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SignBlobResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account for which the credentials\nare requested, in the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "signJwt": {
              "description": "Signs a JWT using a service account's system-managed private key.",
              "request": {
                "$ref": "SignJwtRequest"
              },
              "response": {
                "$ref": "SignJwtResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account for which the credentials\nare requested, in the following format:\n`projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard\ncharacter is required; replacing it with a project ID is invalid.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "path": "v1/{+name}:signJwt",
              "id": "iamcredentials.projects.serviceAccounts.signJwt"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  }
}
