{
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "default": "json"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    }
  },
  "discoveryVersion": "v1",
  "title": "Calendar API",
  "id": "calendar:v3",
  "ownerDomain": "google.com",
  "description": "Manipulates events and other calendar data.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/calendar-32.png",
    "x16": "http://www.google.com/images/icons/product/calendar-16.png"
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "revision": "20200610",
  "protocol": "rest",
  "batchPath": "batch/calendar/v3",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "resources": {
    "calendars": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.patch",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "request": {
            "$ref": "Calendar"
          }
        },
        "update": {
          "path": "calendars/{calendarId}",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "calendar.calendars.update",
          "request": {
            "$ref": "Calendar"
          },
          "response": {
            "$ref": "Calendar"
          },
          "description": "Updates metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "delete": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Calendar"
          },
          "path": "calendars",
          "description": "Creates a secondary calendar.",
          "id": "calendar.calendars.insert",
          "response": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "clear": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.clear",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "path": "calendars/{calendarId}/clear",
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendars.get",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "description": "Returns metadata for a calendar.",
          "response": {
            "$ref": "Calendar"
          }
        }
      }
    },
    "acl": {
      "methods": {
        "patch": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "ruleId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch",
          "description": "Updates an access control rule. This method supports patch semantics."
        },
        "watch": {
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.watch",
          "supportsSubscription": true,
          "description": "Watch for changes to ACL resources.",
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/acl/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          }
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.acl.get",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "ruleId": {
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true
            }
          },
          "description": "Returns an access control rule."
        },
        "list": {
          "httpMethod": "GET",
          "id": "calendar.acl.list",
          "response": {
            "$ref": "Acl"
          },
          "description": "Returns the rules in the access control list for the calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/acl",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "supportsSubscription": true
        },
        "delete": {
          "id": "calendar.acl.delete",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "ruleId": {
              "required": true,
              "type": "string",
              "description": "ACL rule identifier.",
              "location": "path"
            }
          },
          "description": "Deletes an access control rule.",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "ruleId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "description": "Updates an access control rule.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.update"
        },
        "insert": {
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl",
          "httpMethod": "POST",
          "id": "calendar.acl.insert",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Creates an access control rule.",
          "response": {
            "$ref": "AclRule"
          }
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "colors",
          "response": {
            "$ref": "Colors"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.colors.get",
          "description": "Returns the color definitions for calendars and events."
        }
      }
    },
    "events": {
      "methods": {
        "quickAdd": {
          "parameters": {
            "text": {
              "required": true,
              "type": "string",
              "description": "The text describing the event to be created.",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            },
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the creation of the new event.",
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ]
            }
          },
          "id": "calendar.events.quickAdd",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "path": "calendars/{calendarId}/events/quickAdd",
          "description": "Creates an event based on a simple text string.",
          "response": {
            "$ref": "Event"
          }
        },
        "list": {
          "path": "calendars/{calendarId}/events",
          "parameters": {
            "sharedExtendedProperty": {
              "location": "query",
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true
            },
            "privateExtendedProperty": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "maxAttendees": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "location": "query",
              "type": "string",
              "format": "date-time"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showHiddenInvitations": {
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "updatedMin": {
              "location": "query",
              "format": "date-time",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "type": "string"
            },
            "timeMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "format": "date-time"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "iCalUID": {
              "type": "string",
              "location": "query",
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional."
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "default": "250",
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "singleEvents": {
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean"
            },
            "orderBy": {
              "type": "string",
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Events"
          },
          "id": "calendar.events.list",
          "description": "Returns events on the specified calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "supportsSubscription": true
        },
        "patch": {
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "description": "Updates an event. This method supports patch semantics.",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "required": true,
              "type": "string"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "location": "query"
            },
            "conferenceDataVersion": {
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "type": "integer"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "format": "int32"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "calendar.events.patch"
        },
        "move": {
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "id": "calendar.events.move",
          "parameters": {
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "destination": {
              "location": "query",
              "required": true,
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "type": "string"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "location": "path"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "type": "string",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "type": "string",
              "description": "Event identifier.",
              "location": "path"
            }
          },
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ]
        },
        "instances": {
          "supportsSubscription": true,
          "parameters": {
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "type": "integer"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "timeMin": {
              "location": "query",
              "format": "date-time",
              "type": "string",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "maxAttendees": {
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32",
              "minimum": "1"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "originalStart": {
              "description": "The original start time of the instance in the result. Optional.",
              "location": "query",
              "type": "string"
            },
            "eventId": {
              "description": "Recurring event identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.instances",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "description": "Returns instances of the specified recurring event.",
          "response": {
            "$ref": "Events"
          }
        },
        "import": {
          "parameters": {
            "conferenceDataVersion": {
              "maximum": "1",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "minimum": "0",
              "location": "query"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
          "path": "calendars/{calendarId}/events/import",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          },
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "id": "calendar.events.import"
        },
        "get": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.get",
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "Event identifier.",
              "required": true
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "update": {
          "parameters": {
            "conferenceDataVersion": {
              "minimum": "0",
              "location": "query",
              "type": "integer",
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32"
            },
            "sendUpdates": {
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "location": "query"
            },
            "eventId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Event identifier."
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "PUT",
          "description": "Updates an event.",
          "id": "calendar.events.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "request": {
            "$ref": "Event"
          }
        },
        "insert": {
          "id": "calendar.events.insert",
          "description": "Creates an event.",
          "path": "calendars/{calendarId}/events",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "location": "query",
              "type": "string"
            },
            "maxAttendees": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "supportsAttachments": {
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query"
            },
            "conferenceDataVersion": {
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "minimum": "0"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Event"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes an event.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "eventId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Event identifier."
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the deletion of the event.",
              "type": "string"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.delete",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ]
        },
        "watch": {
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.watch",
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "enum": [
                "startTime",
                "updated"
              ]
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "timeMin": {
              "type": "string",
              "location": "query",
              "format": "date-time",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "showHiddenInvitations": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "iCalUID": {
              "type": "string",
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
              "location": "query"
            },
            "timeMax": {
              "location": "query",
              "type": "string",
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "maxAttendees": {
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "250",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query"
            },
            "privateExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "sharedExtendedProperty": {
              "repeated": true,
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query"
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "type": "string",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "singleEvents": {
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "description": "Watch for changes to Events resources.",
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          }
        }
      }
    },
    "calendarList": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list.",
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "httpMethod": "POST",
          "id": "calendar.calendarList.insert",
          "request": {
            "$ref": "CalendarListEntry"
          }
        },
        "list": {
          "response": {
            "$ref": "CalendarList"
          },
          "path": "users/me/calendarList",
          "id": "calendar.calendarList.list",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns the calendars on the user's calendar list.",
          "parameters": {
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ]
            },
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            }
          }
        },
        "get": {
          "description": "Returns a calendar from the user's calendar list.",
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.get"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.update"
        },
        "patch": {
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "watch": {
          "id": "calendar.calendarList.watch",
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "showHidden": {
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query",
              "type": "string"
            }
          },
          "supportsSubscription": true,
          "description": "Watch for changes to CalendarList resources.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "users/me/calendarList/watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "delete": {
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "DELETE",
          "description": "Removes a calendar from the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "id": "calendar.calendarList.delete"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.channels.stop",
          "path": "channels/stop",
          "description": "Stop watching resources through this channel"
        }
      }
    },
    "settings": {
      "methods": {
        "list": {
          "path": "users/me/settings",
          "httpMethod": "GET",
          "parameters": {
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "calendar.settings.list",
          "supportsSubscription": true,
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns all user settings for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ]
        },
        "get": {
          "path": "users/me/settings/{setting}",
          "response": {
            "$ref": "Setting"
          },
          "description": "Returns a single user setting.",
          "parameterOrder": [
            "setting"
          ],
          "parameters": {
            "setting": {
              "description": "The id of the user setting.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "calendar.settings.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET"
        },
        "watch": {
          "description": "Watch for changes to Settings resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "parameters": {
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "calendar.settings.watch",
          "supportsSubscription": true,
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "users/me/settings/watch",
          "response": {
            "$ref": "Channel"
          }
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns free/busy information for a set of calendars.",
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "httpMethod": "POST",
          "id": "calendar.freebusy.query",
          "path": "freeBusy",
          "response": {
            "$ref": "FreeBusyResponse"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "View your calendars"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "schemas": {
    "Events": {
      "type": "object",
      "properties": {
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Read-only."
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#events\").",
          "default": "calendar#events"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "defaultReminders": {
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array",
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True)."
        },
        "items": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "List of events on the calendar."
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Read-only."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only."
        }
      },
      "id": "Events"
    },
    "ConferenceProperties": {
      "id": "ConferenceProperties",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional."
        }
      },
      "type": "object"
    },
    "ConferenceData": {
      "type": "object",
      "id": "ConferenceData",
      "properties": {
        "conferenceSolution": {
          "description": "The conference solution, such as Hangouts or Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "ConferenceSolution"
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nValues for solution types:  \n- \"eventHangout\": unset.\n- \"eventNamedHangout\": the name of the Hangout.\n- \"hangoutsMeet\": the 10-letter meeting code, for example \"aaa-bbbb-ccc\".\n- \"addOn\": defined by 3P conference provider.  Optional."
        },
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "parameters": {
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming.",
          "$ref": "ConferenceParameters"
        },
        "signature": {
          "description": "The signature of the conference data.\nGenerated on server side. Must be preserved while copying the conference data between events, otherwise the conference data will not be copied.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "type": "array"
        }
      }
    },
    "TimePeriod": {
      "type": "object",
      "id": "TimePeriod",
      "properties": {
        "end": {
          "description": "The (exclusive) end of the time period.",
          "type": "string",
          "format": "date-time"
        },
        "start": {
          "description": "The (inclusive) start of the time period.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Acl": {
      "id": "Acl",
      "properties": {
        "kind": {
          "default": "calendar#acl",
          "description": "Type of the collection (\"calendar#acl\").",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          }
        }
      },
      "type": "object"
    },
    "AclRule": {
      "properties": {
        "scope": {
          "properties": {
            "value": {
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
              "type": "string"
            },
            "type": {
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              },
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
            }
          },
          "type": "object",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "description": "The scope of the rule."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "calendar#aclRule",
          "description": "Type of the resource (\"calendar#aclRule\").",
          "type": "string"
        },
        "role": {
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the ACL rule."
        }
      },
      "id": "AclRule",
      "type": "object"
    },
    "CreateConferenceRequest": {
      "id": "CreateConferenceRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
        },
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        },
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        }
      },
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "properties": {
        "attendeesOmitted": {
          "type": "boolean",
          "default": "false",
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False."
        },
        "locked": {
          "default": "false",
          "type": "boolean",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
        },
        "end": {
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "recurrence": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events."
        },
        "extendedProperties": {
          "type": "object",
          "description": "Extended properties of the event.",
          "properties": {
            "shared": {
              "type": "object",
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              },
              "description": "Properties that are shared between copies of the event on other attendees' calendars."
            },
            "private": {
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              },
              "type": "object"
            }
          }
        },
        "created": {
          "format": "date-time",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        },
        "visibility": {
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
          "type": "string",
          "default": "default"
        },
        "transparency": {
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "default": "opaque",
          "type": "string"
        },
        "anyoneCanAddSelf": {
          "type": "boolean",
          "default": "false",
          "description": "Whether anyone can invite themselves to the event (currently works for Google+ events only). Optional. The default is False."
        },
        "start": {
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime",
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance."
        },
        "creator": {
          "properties": {
            "self": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            },
            "id": {
              "type": "string",
              "description": "The creator's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API"
            },
            "displayName": {
              "type": "string",
              "description": "The creator's name, if available."
            },
            "email": {
              "type": "string",
              "description": "The creator's email address, if available."
            }
          },
          "type": "object",
          "description": "The creator of the event. Read-only."
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only."
        },
        "colorId": {
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional.",
          "type": "string"
        },
        "sequence": {
          "type": "integer",
          "description": "Sequence number as per iCalendar.",
          "format": "int32"
        },
        "id": {
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
          "type": "string"
        },
        "guestsCanSeeOtherGuests": {
          "type": "boolean",
          "default": "true",
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "attendees": {
          "items": {
            "$ref": "EventAttendee"
          },
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users.",
          "type": "array"
        },
        "summary": {
          "description": "Title of the event.",
          "type": "string"
        },
        "status": {
          "type": "string",
[...]
