{
  "ownerName": "Google",
  "servicePath": "calendar/v3/",
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "batchPath": "batch/calendar/v3",
  "discoveryVersion": "v1",
  "description": "Manipulates events and other calendar data.",
  "kind": "discovery#restDescription",
  "name": "calendar",
  "version": "v3",
  "schemas": {
    "AclRule": {
      "type": "object",
      "id": "AclRule",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier of the ACL rule."
        },
        "scope": {
          "type": "object",
          "description": "The scope of the rule.",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "properties": {
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            },
            "type": {
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              },
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
            }
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          }
        },
        "kind": {
          "default": "calendar#aclRule",
          "type": "string",
          "description": "Type of the resource (\"calendar#aclRule\")."
        }
      }
    },
    "CalendarListEntry": {
      "type": "object",
      "id": "CalendarListEntry",
      "properties": {
        "defaultReminders": {
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "primary": {
          "default": "false",
          "type": "boolean",
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False."
        },
        "notificationSettings": {
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "type": "array",
              "items": {
                "$ref": "CalendarNotification"
              },
              "description": "The list of notifications set for this calendar."
            }
          },
          "type": "object"
        },
        "accessRole": {
          "type": "string",
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "default": "false"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "foregroundColor": {
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "timeZone": {
          "description": "The time zone of the calendar. Optional. Read-only.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "default": "calendar#calendarListEntry",
          "type": "string"
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
          "type": "string"
        },
        "colorId": {
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional.",
          "type": "string"
        },
        "selected": {
          "default": "false",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "type": "boolean"
        },
        "deleted": {
          "default": "false",
          "type": "boolean",
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "id": {
          "description": "Identifier of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          },
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        }
      }
    },
    "FreeBusyGroup": {
      "type": "object",
      "id": "FreeBusyGroup",
      "properties": {
        "errors": {
          "description": "Optional error(s) (if computation for the group failed).",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "calendars": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of calendars' identifiers within a group."
        }
      }
    },
    "Error": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain, or broad category, of the error."
        },
        "reason": {
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Error"
    },
    "Calendar": {
      "id": "Calendar",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "description": {
          "description": "Description of the calendar. Optional.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "timeZone": {
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional.",
          "type": "string"
        },
        "kind": {
          "default": "calendar#calendar",
          "description": "Type of the resource (\"calendar#calendar\").",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
        },
        "summary": {
          "description": "Title of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "type": "string"
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        }
      }
    },
    "Colors": {
      "id": "Colors",
      "properties": {
        "kind": {
          "description": "Type of the resource (\"calendar#colors\").",
          "default": "calendar#colors",
          "type": "string"
        },
        "calendar": {
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its color field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color defintion."
          },
          "type": "object"
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        },
        "event": {
          "type": "object",
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its color field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "An event color definition."
          }
        }
      },
      "type": "object"
    },
    "EventDateTime": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
          "format": "date"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        },
        "dateTime": {
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "type": "string",
          "format": "date-time"
        }
      },
      "id": "EventDateTime"
    },
    "CalendarNotification": {
      "properties": {
        "method": {
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification.",
          "type": "string"
        },
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        }
      },
      "id": "CalendarNotification",
      "type": "object"
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "properties": {
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start of the time period.",
          "type": "string"
        },
        "end": {
          "description": "The (exclusive) end of the time period.",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FreeBusyResponse": {
      "properties": {
        "timeMin": {
          "type": "string",
          "format": "date-time",
          "description": "The start of the interval."
        },
        "timeMax": {
          "description": "The end of the interval.",
          "format": "date-time",
          "type": "string"
        },
        "kind": {
          "default": "calendar#freeBusy",
          "description": "Type of the resource (\"calendar#freeBusy\").",
          "type": "string"
        },
        "calendars": {
          "description": "List of free/busy information for calendars.",
          "type": "object",
          "additionalProperties": {
            "description": "Free/busy expansions for a single calendar.",
            "$ref": "FreeBusyCalendar"
          }
        },
        "groups": {
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          },
          "type": "object",
          "description": "Expansion of groups."
        }
      },
      "id": "FreeBusyResponse",
      "type": "object"
    },
    "CreateConferenceRequest": {
      "properties": {
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        },
        "requestId": {
          "type": "string",
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
        },
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        }
      },
      "type": "object",
      "id": "CreateConferenceRequest"
    },
    "Acl": {
      "properties": {
        "items": {
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          },
          "type": "array"
        },
        "kind": {
          "default": "calendar#acl",
          "description": "Type of the collection (\"calendar#acl\").",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        }
      },
      "id": "Acl",
      "type": "object"
    },
    "FreeBusyRequestItem": {
      "type": "object",
      "id": "FreeBusyRequestItem",
      "properties": {
        "id": {
          "description": "The identifier of a calendar or a group.",
          "type": "string"
        }
      }
    },
    "Setting": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the user setting."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "value": {
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#setting\").",
          "default": "calendar#setting",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Setting"
    },
    "EventAttachment": {
      "type": "object",
      "id": "EventAttachment",
      "properties": {
        "iconLink": {
          "description": "URL link to the attachment's icon. Read-only.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "fileId": {
          "type": "string",
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        },
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        }
      }
    },
    "ColorDefinition": {
      "id": "ColorDefinition",
      "properties": {
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        },
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        }
      },
      "type": "object"
    },
    "EntryPoint": {
      "type": "object",
      "properties": {
        "entryPointType": {
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference.",
          "type": "string"
        },
        "meetingCode": {
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "label": {
          "type": "string",
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required.",
          "type": "string"
        },
        "passcode": {
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.",
          "type": "string"
        },
        "entryPointFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point."
        },
        "accessCode": {
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        }
      },
      "id": "EntryPoint"
    },
    "ConferenceProperties": {
      "id": "ConferenceProperties",
      "type": "object",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FreeBusyRequest": {
      "id": "FreeBusyRequest",
      "properties": {
        "timeMin": {
          "description": "The start of the interval for the query formatted as per RFC3339.",
          "format": "date-time",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "FreeBusyRequestItem"
          },
          "type": "array",
          "description": "List of calendars and/or groups to query."
        },
        "timeZone": {
          "type": "string",
          "default": "UTC",
          "description": "Time zone used in the response. Optional. The default is UTC."
        },
        "calendarExpansionMax": {
          "type": "integer",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
          "format": "int32"
        },
        "timeMax": {
          "type": "string",
          "format": "date-time",
          "description": "The end of the interval for the query formatted as per RFC3339."
        },
        "groupExpansionMax": {
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "EventAttendee": {
      "type": "object",
      "properties": {
        "additionalGuests": {
          "type": "integer",
          "description": "Number of additional guests. Optional. The default is 0.",
          "default": "0",
          "format": "int32"
        },
        "resource": {
          "default": "false",
          "type": "boolean",
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False."
        },
        "self": {
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "id": {
          "description": "The attendee's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API",
          "type": "string"
        },
        "responseStatus": {
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation. \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The attendee's name, if available. Optional."
        },
        "optional": {
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "email": {
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee.",
          "type": "string"
        },
        "organizer": {
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False.",
          "type": "boolean"
        },
        "comment": {
          "description": "The attendee's response comment. Optional.",
          "type": "string"
        }
      },
      "id": "EventAttendee"
    },
    "ConferenceRequestStatus": {
      "type": "object",
      "id": "ConferenceRequestStatus",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      }
    },
    "ConferenceData": {
      "type": "object",
      "id": "ConferenceData",
      "properties": {
        "createRequest": {
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "CreateConferenceRequest"
        },
        "parameters": {
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming.",
          "$ref": "ConferenceParameters"
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "conferenceSolution": {
          "$ref": "ConferenceSolution",
          "description": "The conference solution, such as Hangouts or Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "signature": {
          "description": "The signature of the conference data.\nGenerated on server side. Must be preserved while copying the conference data between events, otherwise the conference data will not be copied.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request.",
          "type": "string"
        },
        "conferenceId": {
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nValues for solution types:  \n- \"eventHangout\": unset.\n- \"eventNamedHangout\": the name of the Hangout.\n- \"hangoutsMeet\": the 10-letter meeting code, for example \"aaa-bbbb-ccc\".\n- \"addOn\": defined by 3P conference provider.  Optional.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
        }
      }
    },
    "Events": {
      "id": "Events",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "timeZone": {
          "description": "The time zone of the calendar. Read-only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Read-only."
        },
        "items": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "List of events on the calendar."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "defaultReminders": {
          "items": {
            "$ref": "EventReminder"
          },
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "type": "array"
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "kind": {
          "default": "calendar#events",
          "description": "Type of the collection (\"calendar#events\").",
          "type": "string"
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        }
      }
    },
    "ConferenceSolutionKey": {
      "id": "ConferenceSolutionKey",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (http://hangouts.google.com)\n- \"eventNamedHangout\" for classic Hangouts for G Suite users (http://hangouts.google.com)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
        }
      }
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "type": "object",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      }
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "type": "object",
      "properties": {
        "busy": {
          "description": "List of time ranges during which this calendar should be regarded as busy.",
          "items": {
            "$ref": "TimePeriod"
          },
          "type": "array"
        },
        "errors": {
          "type": "array",
          "description": "Optional error(s) (if computation for the calendar failed).",
          "items": {
            "$ref": "Error"
          }
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#settings\").",
          "default": "calendar#settings"
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "items": {
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          },
          "type": "array"
        }
      }
    },
    "ConferenceSolution": {
      "properties": {
        "iconUri": {
          "type": "string",
          "description": "The user-visible icon for this solution."
        },
        "key": {
          "description": "The key which can uniquely identify the conference solution for this event.",
          "$ref": "ConferenceSolutionKey"
        },
        "name": {
          "type": "string",
          "description": "The user-visible name of this solution. Not localized."
        }
      },
      "id": "ConferenceSolution",
      "type": "object"
    },
    "Channel": {
      "type": "object",
      "id": "Channel",
      "properties": {
        "expiration": {
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "params": {
          "additionalProperties": {
            "description": "Declares a new parameter by name.",
            "type": "string"
          },
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "default": "api#channel"
        }
      }
    },
    "ConferenceParametersAddOnParameters": {
      "type": "object",
      "id": "ConferenceParametersAddOnParameters",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "CalendarList": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#calendarList\").",
          "default": "calendar#calendarList"
        },
        "items": {
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list.",
          "type": "array"
        }
      },
      "id": "CalendarList",
      "type": "object"
    },
    "EventReminder": {
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        },
        "minutes": {
          "format": "int32",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "EventReminder"
    },
    "Event": {
      "properties": {
        "transparency": {
          "default": "opaque",
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "type": "string"
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "reminders": {
          "properties": {
            "useDefault": {
              "type": "boolean",
              "description": "Whether the default reminders of the calendar apply to the event."
            },
            "overrides": {
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              }
            }
          },
          "type": "object",
          "description": "Information about the event's reminders for the authenticated user."
        },
        "iCalUID": {
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
          "type": "string",
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          }
        },
        "status": {
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated.",
          "type": "string"
        },
        "guestsCanSeeOtherGuests": {
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "type": "boolean",
          "default": "true"
        },
        "creator": {
          "type": "object",
          "description": "The creator of the event. Read-only.",
          "properties": {
            "id": {
              "description": "The creator's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API",
              "type": "string"
            },
            "email": {
              "description": "The creator's email address, if available.",
              "type": "string"
            },
            "displayName": {
              "type": "string",
              "description": "The creator's name, if available."
            },
            "self": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            }
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only."
        },
        "sequence": {
          "format": "int32",
          "type": "integer",
          "description": "Sequence number as per iCalendar."
        },
        "locked": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
        },
        "source": {
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "properties": {
            "title": {
              "description": "Title of the source; for example a title of a web page or an email subject.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "updated": {
          "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "anyoneCanAddSelf": {
          "default": "false",
          "type": "boolean",
          "description": "Whether anyone can invite themselves to the event (currently works for Google+ events only). Optional. The default is False."
        },
        "visibility": {
          "default": "default",
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
          "type": "string"
        },
        "id": {
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
          "type": "string"
        },
        "kind": {
          "default": "calendar#event",
          "description": "Type of the resource (\"calendar#event\").",
          "type": "string"
        },
        "recurringEventId": {
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.",
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "EventAttachment"
          },
          "description": "File attachments for the event. Currently only Google Drive attachments are supported.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "type": "array"
        },
        "guestsCanInviteOthers": {
          "default": "true",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "type": "boolean"
        },
        "originalStartTime": {
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable.",
          "$ref": "EventDateTime"
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Can contain HTML. Optional."
        },
        "guestsCanModify": {
          "type": "boolean",
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "default": "false"
        },
        "attendees": {
          "items": {
            "$ref": "EventAttendee"
          },
          "type": "array",
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users."
        },
        "summary": {
          "type": "string",
          "description": "Title of the event."
        },
        "end": {
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "$ref": "EventDateTime",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          }
        },
        "attendeesOmitted": {
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "conferenceData": {
          "$ref": "ConferenceData",
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "gadget": {
          "type": "object",
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "properties": {
            "preferences": {
              "description": "Preferences.",
              "additionalProperties": {
                "type": "string",
                "description": "The preference name and corresponding value."
              },
              "type": "object"
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated."
            },
            "iconLink": {
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated.",
              "type": "string"
            },
            "display": {
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked.",
              "type": "string"
            },
            "link": {
              "type": "string",
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
            },
            "title": {
              "description": "The gadget's title. Deprecated.",
              "type": "string"
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated."
            },
            "type": {
              "type": "string",
              "description": "The gadget's type. Deprecated."
            }
          }
        },
        "privateCopy": {
          "default": "false",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
          "type": "boolean"
        },
        "start": {
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "hangoutLink": {
          "description": "An absolute link to the Google+ hangout associated with this event. Read-only.",
          "type": "string"
        },
        "extendedProperties": {
          "description": "Extended properties of the event.",
          "type": "object",
          "properties": {
            "private": {
              "type": "object",
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              }
            },
            "shared": {
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the shared property and the corresponding value."
              }
            }
          }
        },
        "recurrence": {
          "items": {
            "type": "string"
          },
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
          "type": "array"
        },
        "endTimeUnspecified": {
          "type": "boolean",
          "default": "false",
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False."
        },
        "location": {
          "description": "Geographic location of the event as free-form text. Optional.",
          "type": "string"
        },
        "organizer": {
          "properties": {
            "self": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            },
            "email": {
              "type": "string",
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
            },
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "id": {
              "description": "The organizer's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API",
              "type": "string"
            }
          },
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Event"
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "resources": {
    "calendarList": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "minAccessRole": {
              "location": "query",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "showHidden": {
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "calendar.calendarList.list",
          "supportsSubscription": true,
          "path": "users/me/calendarList",
          "description": "Returns the calendars on the user's calendar list.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CalendarList"
          }
        },
        "watch": {
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction."
            }
          },
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "users/me/calendarList/watch",
          "description": "Watch for changes to CalendarList resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendarList.watch"
        },
        "insert": {
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "POST",
          "id": "calendar.calendarList.insert",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList",
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "patch": {
          "id": "calendar.calendarList.patch",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "httpMethod": "PATCH",
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "delete": {
          "description": "Removes a calendar from the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "update": {
          "response": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "colorRgbFormat": {
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "id": "calendar.calendarList.update",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "get": {
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET",
          "id": "calendar.calendarList.get",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns a calendar from the user's calendar list."
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "freeBusy",
          "description": "Returns free/busy information for a set of calendars.",
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          }
        }
      }
    },
    "settings": {
      "methods": {
        "get": {
          "parameters": {
            "setting": {
              "description": "The id of the user setting.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "setting"
          ],
          "id": "calendar.settings.get",
          "description": "Returns a single user setting.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "users/me/settings/{setting}",
          "response": {
            "$ref": "Setting"
          }
        },
        "watch": {
          "parameters": {
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "description": "Watch for changes to Settings resources.",
          "supportsSubscription": true,
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.settings.watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "users/me/settings/watch"
        },
        "list": {
          "supportsSubscription": true,
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "calendar.settings.list",
          "path": "users/me/settings",
          "description": "Returns all user settings for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Settings"
          }
        }
      }
    },
    "events": {
      "methods": {
        "insert": {
          "id": "calendar.events.insert",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Creates an event.",
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "type": "string",
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ]
            },
            "conferenceDataVersion": {
              "format": "int32",
              "maximum": "1",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "location": "query"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "maxAttendees": {
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events"
        },
        "instances": {
          "id": "calendar.events.instances",
          "description": "Returns instances of the specified recurring event.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Events"
          },
          "httpMethod": "GET",
          "supportsSubscription": true,
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "eventId": {
              "location": "path",
              "description": "Recurring event identifier.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "timeMin": {
              "location": "query",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "timeMax": {
              "format": "date-time",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "location": "query"
            },
            "originalStart": {
              "type": "string",
              "location": "query",
              "description": "The original start time of the instance in the result. Optional."
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "update": {
          "parameters": {
            "sendUpdates": {
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "conferenceDataVersion": {
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "type": "integer"
            },
            "maxAttendees": {
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "PUT",
          "id": "calendar.events.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "description": "Updates an event."
        },
        "list": {
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events",
          "response": {
            "$ref": "Events"
          },
          "parameters": {
            "q": {
              "type": "string",
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "location": "query"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "privateExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "sharedExtendedProperty": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "maxResults": {
              "minimum": "1",
              "default": "250",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "singleEvents": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "iCalUID": {
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
              "location": "query",
              "type": "string"
            },
            "timeMax": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "location": "query",
              "format": "date-time"
            },
            "timeMin": {
              "format": "date-time",
              "location": "query",
              "type": "string",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "orderBy": {
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query",
              "type": "string",
              "enum": [
                "startTime",
                "updated"
              ]
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "supportsSubscription": true,
          "id": "calendar.events.list",
          "description": "Returns events on the specified calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ]
        },
        "get": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Returns an event.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Event identifier."
            },
            "maxAttendees": {
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "GET",
          "id": "calendar.events.get",
          "response": {
            "$ref": "Event"
          }
        },
        "delete": {
          "id": "calendar.events.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameters": {
            "sendNotifications": {
[...]
