on:
  schedule:
    # Runs at 04:00 am
    - cron: '0 4 * * *'
  workflow_dispatch:
# Generates a list of libraries that cannot be
# compiled (printed to the action stdout)
name: Verify libraries compilation
jobs:
  verify:
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 8
      - uses: actions/checkout@v2
        with:
          path: google-api-java-client-services
      # we install the moreutils `parallel` command
      - run: sudo apt-get install moreutils
      - working-directory: google-api-java-client-services
        run: bash .github/workflows/verify_compilation.sh

