{
  "basePath": "",
  "id": "cloudidentity:v1",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Identity",
  "version": "v1",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "title": "Cloud Identity API",
  "revision": "20200622",
  "description": "API for provisioning and managing identity resources.",
  "ownerName": "Google",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/identity/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "cloudidentity",
  "schemas": {
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "Resource representing a Group.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Group was created.\nOutput only.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the Group was last updated.\nOutput only.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup in the format: `groups/{group_id}`, where group_id is the unique ID\nassigned to the Group.\n\nMust be left blank while creating a Group.",
          "type": "string"
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a Group. For\nexample, you can include information about who should join the Group, the\ntypes of messages to send to the Group, links to FAQs about the Group, or\nrelated Groups. Maximum length is 4,096 characters.",
          "type": "string"
        },
        "groupKey": {
          "description": "Required. Immutable. EntityKey of the Group.\n\nMust be set when creating a Group, read-only afterwards.",
          "$ref": "EntityKey"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. `Required`. Labels for Group resource.\nFor creating Groups under a namespace, set label key to\n'labels/system/groups/external' and label value as empty."
        },
        "displayName": {
          "description": "The Group's display name.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The entity under which this Group resides in Cloud Identity resource\nhierarchy. Must be set when creating a Group, read-only afterwards.\n\nCurrently allowed types: `identitysources`."
        }
      }
    },
    "EntityKey": {
      "type": "object",
      "id": "EntityKey",
      "description": "An EntityKey uniquely identifies an Entity. Namespaces are used to provide\nisolation for IDs. A single ID can be reused across namespaces but the\ncombination of a namespace and an ID must be unique.",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Namespaces provide isolation for IDs, so an ID only needs to be unique\nwithin its namespace.\n\nNamespaces are currently only created as part of IdentitySource creation\nfrom Admin Console. A namespace `\"identitysources/{identity_source_id}\"` is\ncreated corresponding to every Identity Source `identity_source_id`."
        },
        "id": {
          "description": "The ID of the entity within the given namespace. The ID must be unique\nwithin its namespace.",
          "type": "string"
        }
      }
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of Memberships.",
          "items": {
            "$ref": "Membership"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results available for listing.",
          "type": "string"
        }
      }
    },
    "MembershipRole": {
      "type": "object",
      "description": "Resource representing a role within a Membership.",
      "id": "MembershipRole",
      "properties": {
        "name": {
          "description": "MembershipRole in string format.\n\nCurrently supported MembershipRoles: `\"MEMBER\"`.",
          "type": "string"
        }
      }
    },
    "ListGroupsResponse": {
      "description": "Response message for ListGroups operation.",
      "id": "ListGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results available for listing."
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "Groups returned in response to list request.\nThe results are not sorted.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "id": "Operation",
      "type": "object"
    },
    "SearchGroupsResponse": {
      "type": "object",
      "id": "SearchGroupsResponse",
      "properties": {
        "groups": {
          "type": "array",
          "description": "List of Groups satisfying the search query.",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results available for specified query."
        }
      }
    },
    "Membership": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation timestamp of the Membership. Output only.",
          "type": "string"
        },
        "roles": {
          "description": "Roles for a member within the Group.\n\nCurrently supported MembershipRoles: `\"MEMBER\"`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last updated timestamp of the Membership. Output only.",
          "format": "google-datetime"
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. EntityKey of the entity to be added as the member. Must be set while\ncreating a Membership, read-only afterwards.\n\nCurrently allowed entity types: `Users`, `Groups`."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nMembership in the format: `groups/{group_id}/memberships/{member_id}`,\nwhere group_id is the unique ID assigned to the Group to which Membership\nbelongs to, and member_id is the unique ID assigned to the member\n\nMust be left blank while creating a Membership."
        }
      },
      "id": "Membership",
      "description": "Resource representing a Membership within a Group",
      "type": "object"
    },
    "LookupGroupNameResponse": {
      "id": "LookupGroupNameResponse",
      "properties": {
        "name": {
          "type": "string",
          "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup in the format: `groups/{group_id}`, where `group_id` is the unique ID\nassigned to the Group."
        }
      },
      "type": "object"
    },
    "LookupMembershipNameResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the\nMembership being looked up.\n\nFormat: `groups/{group_id}/memberships/{member_id}`, where `group_id` is\nthe unique ID assigned to the Group to which Membership belongs to, and\n`member_id` is the unique ID assigned to the member.",
          "type": "string"
        }
      },
      "id": "LookupMembershipNameResponse"
    }
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "resources": {
    "groups": {
      "methods": {
        "patch": {
          "id": "cloudidentity.groups.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "Required. Editable fields: `display_name`, `description`",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup in the format: `groups/{group_id}`, where group_id is the unique ID\nassigned to the Group.\n\nMust be left blank while creating a Group.",
              "location": "path",
              "pattern": "^groups/[^/]+$"
            }
          },
          "description": "Updates a Group.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/groups/{groupsId}",
          "request": {
            "$ref": "Group"
          },
          "path": "v1/{+name}"
        },
        "create": {
          "parameters": {},
          "path": "v1/groups",
          "description": "Creates a Group.",
          "flatPath": "v1/groups",
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudidentity.groups.create"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The next_page_token value returned from a previous list request, if any.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "description": "Group resource view to be returned. Defaults to [View.BASIC]().",
              "type": "string",
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            },
            "parent": {
              "description": "Required. Customer ID to list all groups from.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The default page size is 200 (max 1000) for the BASIC view, and 50\n(max 500) for the FULL view.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "flatPath": "v1/groups",
          "httpMethod": "GET",
          "description": "Lists groups within a customer or a domain.",
          "id": "cloudidentity.groups.list",
          "path": "v1/groups",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/groups/{groupsId}",
          "path": "v1/{+name}",
          "description": "Deletes a Group.",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup in the format: `groups/{group_id}`, where `group_id` is the unique ID\nassigned to the Group.",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.groups.delete"
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup in the format: `groups/{group_id}`, where `group_id` is the unique ID\nassigned to the Group."
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/groups/{groupsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Group"
          },
          "id": "cloudidentity.groups.get",
          "httpMethod": "GET",
          "description": "Retrieves a Group."
        },
        "lookup": {
          "httpMethod": "GET",
          "description": "Looks up [resource\nname](https://cloud.google.com/apis/design/resource_names) of a Group by\nits EntityKey.",
          "flatPath": "v1/groups:lookup",
          "parameterOrder": [],
          "parameters": {
            "groupKey.id": {
              "type": "string",
              "description": "The ID of the entity within the given namespace. The ID must be unique\nwithin its namespace.",
              "location": "query"
            },
            "groupKey.namespace": {
              "description": "Namespaces provide isolation for IDs, so an ID only needs to be unique\nwithin its namespace.\n\nNamespaces are currently only created as part of IdentitySource creation\nfrom Admin Console. A namespace `\"identitysources/{identity_source_id}\"` is\ncreated corresponding to every Identity Source `identity_source_id`.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudidentity.groups.lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/groups:lookup",
          "response": {
            "$ref": "LookupGroupNameResponse"
          }
        },
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/groups:search",
          "path": "v1/groups:search",
          "id": "cloudidentity.groups.search",
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The next_page_token value returned from a previous search request, if any.",
              "location": "query"
            },
            "query": {
              "description": "Required. `Required`. Query string for performing search on groups. Users can search\non parent and label attributes of groups.\nEXACT match ('==') is supported on parent, and CONTAINS match ('in') is\nsupported on labels.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "location": "query",
              "description": "Group resource view to be returned. Defaults to [View.BASIC]().",
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The default page size is 200 (max 1000) for the BASIC view, and 50\n(max 500) for the FULL view."
            }
          },
          "description": "Searches for Groups.",
          "parameterOrder": []
        }
      },
      "resources": {
        "memberships": {
          "methods": {
            "create": {
              "flatPath": "v1/groups/{groupsId}/memberships",
              "path": "v1/{+parent}/memberships",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "Membership"
              },
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup to create Membership within. Format: `groups/{group_id}`, where\n`group_id` is the unique ID assigned to the Group.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "description": "Creates a Membership.",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.groups.memberships.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a Membership.",
              "id": "cloudidentity.groups.memberships.get",
              "httpMethod": "GET",
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Membership"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nMembership to be retrieved.\n\nFormat: `groups/{group_id}/memberships/{member_id}`, where `group_id` is\nthe unique id assigned to the Group to which Membership belongs to, and\n`member_id` is the unique ID assigned to the member.",
                  "type": "string",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nMembership to be deleted.\n\nFormat: `groups/{group_id}/memberships/{member_id}`, where `group_id` is\nthe unique ID assigned to the Group to which Membership belongs to, and\nmember_id is the unique ID assigned to the member.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "cloudidentity.groups.memberships.delete",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a Membership."
            },
            "list": {
              "path": "v1/{+parent}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/groups/{groupsId}/memberships",
              "id": "cloudidentity.groups.memberships.list",
              "description": "Lists Memberships within a Group.",
              "parameters": {
                "parent": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup to list Memberships within.\n\nFormat: `groups/{group_id}`, where `group_id` is the unique ID assigned to\nthe Group.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000) for the BASIC view, and 50\n(max 500) for the FULL view.",
                  "format": "int32",
                  "location": "query"
                },
                "view": {
                  "description": "Membership resource view to be returned. Defaults to View.BASIC.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "httpMethod": "GET"
            },
            "lookup": {
              "id": "cloudidentity.groups.memberships.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Looks up [resource\nname](https://cloud.google.com/apis/design/resource_names) of a Membership\nwithin a Group by member's EntityKey.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the\nGroup to lookup Membership within.\n\nFormat: `groups/{group_id}`, where `group_id` is the unique ID assigned to\nthe Group.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "memberKey.id": {
                  "description": "The ID of the entity within the given namespace. The ID must be unique\nwithin its namespace.",
                  "type": "string",
                  "location": "query"
                },
                "memberKey.namespace": {
                  "description": "Namespaces provide isolation for IDs, so an ID only needs to be unique\nwithin its namespace.\n\nNamespaces are currently only created as part of IdentitySource creation\nfrom Admin Console. A namespace `\"identitysources/{identity_source_id}\"` is\ncreated corresponding to every Identity Source `identity_source_id`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "path": "v1/{+parent}/memberships:lookup",
              "flatPath": "v1/groups/{groupsId}/memberships:lookup"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com"
}
