{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "name": "run",
  "version_module": true,
  "rootUrl": "https://run.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "revision": "20200616",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/run/",
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "title": "Cloud Run API",
  "id": "run:v1",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "api": {
      "resources": {
        "v1": {
          "resources": {
            "namespaces": {
              "methods": {
                "get": {
                  "id": "run.api.v1.namespaces.get",
                  "path": "api/v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "api/v1/namespaces/{namespacesId}",
                  "response": {
                    "$ref": "Namespace"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^namespaces/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the namespace being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Rpc to get information about a namespace."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Namespace"
                  },
                  "description": "Rpc to update a namespace.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "api/v1/namespaces/{namespacesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.api.v1.namespaces.patch",
                  "path": "api/v1/{+name}",
                  "request": {
                    "$ref": "Namespace"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Indicates which fields in the provided namespace to update.\nThis field is currently unused.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^namespaces/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the namespace being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "secrets": {
                  "methods": {
                    "replaceSecret": {
                      "flatPath": "api/v1/namespaces/{namespacesId}/secrets/{secretsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "api/v1/{+name}",
                      "description": "Rpc to replace a secret.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^namespaces/[^/]+/secrets/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Secret"
                      },
                      "request": {
                        "$ref": "Secret"
                      },
                      "httpMethod": "PUT",
                      "id": "run.api.v1.namespaces.secrets.replaceSecret"
                    },
                    "get": {
                      "path": "api/v1/{+name}",
                      "response": {
                        "$ref": "Secret"
                      },
                      "id": "run.api.v1.namespaces.secrets.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^namespaces/[^/]+/secrets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Rpc to get information about a secret.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "api/v1/namespaces/{namespacesId}/secrets/{secretsId}"
                    },
                    "create": {
                      "id": "run.api.v1.namespaces.secrets.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "api/v1/namespaces/{namespacesId}/secrets",
                      "httpMethod": "POST",
                      "description": "Creates a new secret.",
                      "path": "api/v1/{+parent}/secrets",
                      "parameters": {
                        "parent": {
                          "pattern": "^namespaces/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The project ID or project number in which this secret should\nbe created.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Secret"
                      },
                      "request": {
                        "$ref": "Secret"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "namespaces": {
      "resources": {
        "routes": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                },
                "limit": {
                  "location": "query",
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The namespace from which the routes should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "pattern": "^namespaces/[^/]+$"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List routes.",
              "id": "run.namespaces.routes.list"
            },
            "get": {
              "id": "run.namespaces.routes.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the route to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Route"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "description": "Get information about a route.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "id": "run.namespaces.authorizeddomains.list",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Name of the parent Application resource. Example: `apps/myapp`."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "List authorized domains.",
              "httpMethod": "GET"
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListServicesResponse"
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "watch": {
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "type": "boolean"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "The namespace from which the services should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "type": "string"
                },
                "limit": {
                  "location": "query",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "format": "int32"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run."
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional encoded string to continue paging."
                }
              },
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "parameterOrder": [
                "parent"
              ],
              "description": "List services.",
              "id": "run.namespaces.services.list"
            },
            "create": {
              "id": "run.namespaces.services.create",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "httpMethod": "POST",
              "response": {
                "$ref": "Service"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "The namespace in which the service should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                }
              },
              "request": {
                "$ref": "Service"
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create a service.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.services.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the service to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Service"
              },
              "description": "Get information about a service."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "type": "string",
                  "description": "The name of the service to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "required": true,
                  "location": "path"
                },
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information."
                },
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "id": "run.namespaces.services.delete",
              "response": {
                "$ref": "Status"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "replaceService": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path",
                  "description": "The name of the service being replaced.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "id": "run.namespaces.services.replaceService",
              "request": {
                "$ref": "Service"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Service"
              },
              "description": "Replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
              "path": "apis/serving.knative.dev/v1/{+name}"
            }
          }
        },
        "revisions": {
          "methods": {
            "get": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "type": "string",
                  "description": "The name of the revision to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path"
                }
              },
              "id": "run.namespaces.revisions.get",
              "description": "Get information about a revision.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Revision"
              }
            },
            "delete": {
              "response": {
                "$ref": "Status"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "id": "run.namespaces.revisions.delete",
              "description": "Delete a revision.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the revision to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                },
                "propagationPolicy": {
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                  "location": "query"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "id": "run.namespaces.revisions.list",
              "description": "List revisions.",
              "parameters": {
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                },
                "parent": {
                  "description": "The namespace from which the revisions should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "id": "run.namespaces.configurations.get",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get information about a configuration.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "description": "The name of the configuration to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "location": "path"
                }
              }
            },
            "list": {
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "id": "run.namespaces.configurations.list",
              "parameters": {
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional encoded string to continue paging."
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "The namespace from which the configurations should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "description": "List configurations.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            }
          }
        },
        "domainmappings": {
          "methods": {
            "list": {
              "description": "List domain mappings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "continue": {
                  "type": "string",
                  "description": "Optional encoded string to continue paging.",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "The namespace from which the domain mappings should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                }
              },
              "id": "run.namespaces.domainmappings.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              }
            },
            "delete": {
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information."
                },
                "name": {
                  "description": "The name of the domain mapping to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "description": "Delete a domain mapping.",
              "id": "run.namespaces.domainmappings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "response": {
                "$ref": "Status"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "The namespace in which the domain mapping should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$"
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Create a new domain mapping.",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "run.namespaces.domainmappings.create"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the domain mapping to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                  "type": "string"
                }
              },
              "description": "Get information about a domain mapping.",
              "id": "run.namespaces.domainmappings.get",
              "response": {
                "$ref": "DomainMapping"
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service.",
              "id": "run.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              }
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "delete": {
                  "description": "Delete a revision.",
                  "parameters": {
                    "kind": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "apiVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the revision to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "Status"
                  },
                  "id": "run.projects.locations.revisions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get information about a revision.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the revision to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                    }
                  },
                  "response": {
                    "$ref": "Revision"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.revisions.get"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "id": "run.projects.locations.revisions.list",
                  "description": "List revisions.",
                  "path": "v1/{+parent}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "parameters": {
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "limit": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32"
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "labelSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                    },
                    "fieldSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the revisions should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "routes": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get information about a route.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.routes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "description": "The name of the route to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Route"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List routes.",
                  "id": "run.projects.locations.routes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "httpMethod": "GET",
                  "parameters": {
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional encoded string to continue paging."
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn."
                    },
                    "fieldSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "The namespace from which the routes should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "watch": {
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query"
                    },
                    "limit": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "path": "v1/{+parent}/routes"
                }
              }
            },
            "authorizeddomains": {
              "methods": {
                "list": {
                  "id": "run.projects.locations.authorizeddomains.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum results to return per page."
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Name of the parent Application resource. Example: `apps/myapp`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List authorized domains.",
                  "path": "v1/{+parent}/authorizeddomains",
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  }
                }
              }
            },
            "services": {
              "methods": {
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "run.projects.locations.services.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites\nany existing policy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/services",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The namespace in which the service should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path"
                    }
                  },
                  "description": "Create a service.",
                  "response": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.services.create"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified Project.\n\nThere are no permissions required for making this API call.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  }
                },
                "replaceService": {
                  "request": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the service being replaced.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PUT",
                  "path": "v1/{+name}",
                  "description": "Replace a service.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                  "response": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.services.replaceService",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}"
                },
                "get": {
                  "id": "run.projects.locations.services.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the service to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Service"
                  },
                  "description": "Get information about a service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "run.projects.locations.services.list",
                  "parameters": {
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The namespace from which the services should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional encoded string to continue paging.",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "description": "List services.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/services"
                },
                "getIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "id": "run.projects.locations.services.getIamPolicy",
                  "description": "Get the IAM Access Control policy currently in effect for the given\nCloud Run service. This result does not include any inherited policies.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "delete": {
                  "description": "Delete a service.\nThis will cause the Service to stop serving traffic and will delete the\nchild entities like Routes, Configurations and Revisions.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.services.delete",
                  "response": {
                    "$ref": "Status"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the service to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                      "location": "query"
                    },
                    "kind": {
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "configurations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the configuration to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "id": "run.projects.locations.configurations.get",
                  "description": "Get information about a configuration.",
                  "response": {
                    "$ref": "Configuration"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/configurations",
                  "description": "List configurations.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "run.projects.locations.configurations.list",
                  "parameters": {
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the configurations should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run."
                    }
                  },
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  }
                }
              }
            },
            "domainmappings": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "description": "Create a new domain mapping.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.domainmappings.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace in which the domain mapping should be created.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/domainmappings",
                  "response": {
                    "$ref": "DomainMapping"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Status"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for\nmore information.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "description": "The name of the domain mapping to delete.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "type": "string"
                    },
                    "apiVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.domainmappings.delete",
                  "description": "Delete a domain mapping.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the domain mapping to retrieve.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number.",
                      "required": true
                    }
                  },
                  "description": "Get information about a domain mapping.",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "id": "run.projects.locations.domainmappings.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List domain mappings.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "limit": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of records that should be returned."
                    },
                    "continue": {
                      "type": "string",
                      "description": "Optional encoded string to continue paging.",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the domain mappings should be listed.\nFor Cloud Run (fully managed), replace {namespace_id} with the project ID\nor number."
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "labelSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "id": "run.projects.locations.domainmappings.list",
                  "path": "v1/{+parent}/domainmappings"
                }
              }
            },
            "secrets": {
              "methods": {
                "replaceSecret": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to replace a secret.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control.",
                  "id": "run.projects.locations.secrets.replaceSecret",
                  "request": {
                    "$ref": "Secret"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "response": {
                    "$ref": "Secret"
                  }
                },
                "create": {
                  "id": "run.projects.locations.secrets.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/secrets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                  "request": {
                    "$ref": "Secret"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project ID or project number in which this secret should\nbe created."
                    }
                  },
                  "description": "Creates a new secret.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Secret"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the secret being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Secret"
                  },
                  "id": "run.projects.locations.secrets.get",
                  "description": "Rpc to get information about a secret.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "namespaces": {
              "methods": {
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Indicates which fields in the provided namespace to update.\nThis field is currently unused.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/namespaces/[^/]+$",
                      "description": "Required. The name of the namespace being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/namespaces/{namespacesId}",
                  "id": "run.projects.locations.namespaces.patch",
                  "response": {
                    "$ref": "Namespace"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Namespace"
                  },
                  "description": "Rpc to update a namespace."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/namespaces/{namespacesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/namespaces/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the namespace being retrieved. If needed, replace\n{namespace_id} with the project ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to get information about a namespace.",
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.namespaces.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Namespace"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "schemas": {
    "Volume": {
      "id": "Volume",
      "type": "object",
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nVolume represents a named volume in a container.",
      "properties": {
        "secret": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported",
          "$ref": "SecretVolumeSource"
        },
        "configMap": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported",
          "$ref": "ConfigMapVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nVolume's name."
        }
      }
    },
    "ObjectMeta": {
      "id": "ObjectMeta",
      "properties": {
        "ownerReferences": {
          "items": {
            "$ref": "OwnerReference"
          },
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nList of objects that own this object. If ALL objects in the list have\nbeen deleted, this object will be garbage collected.",
          "type": "array"
        },
        "uid": {
          "type": "string",
          "description": "(Optional)\n\nUID is the unique in time and space value for this object. It is typically\ngenerated by the server on successful creation of a resource and is not\nallowed to change on PUT operations.\n\nPopulated by the system.\nRead-only.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#uids"
        },
        "selfLink": {
          "description": "(Optional)\n\nSelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n string selfLink = 4;",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace defines the space within each name must be unique, within a\nCloud Run region. In Cloud Run the namespace must be equal to either the\nproject ID or project number."
        },
        "deletionTimestamp": {
          "type": "string",
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nDeletionTimestamp is RFC 3339 date and time at which this resource will be\ndeleted. This field is set by the server when a graceful deletion is\nrequested by the user, and is not directly settable by a client. The\nresource is expected to be deleted (no longer visible from resource lists,\nand not reachable by name) after the time in this field, once the\nfinalizers list is empty. As long as the finalizers list contains items,\ndeletion is blocked. Once the deletionTimestamp is set, this value may not\nbe unset or be set further into the future, although it may be shortened or\nthe resource may be deleted prior to this time. For example, a user may\nrequest that a pod is deleted in 30 seconds. The Kubelet will react by\nsending a graceful termination signal to the containers in the pod. After\nthat 30 seconds, the Kubelet will send a hard termination signal (SIGKILL)\nto the container and after cleanup, remove the pod from the API. In the\npresence of network partitions, this object may still exist after this\ntimestamp, until an administrator or automated process can determine the\nresource is fully terminated.\nIf not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested.\nRead-only.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#metadata",
          "format": "google-datetime"
        },
        "clusterName": {
          "type": "string",
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe name of the cluster which the object belongs to.\nThis is used to distinguish resources with same name and namespace in\ndifferent clusters. This field is not set anywhere right now and apiserver\nis going to ignore it if set in create or update request."
        },
        "creationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "(Optional)\n\nCreationTimestamp is a timestamp representing the server time when this\nobject was created. It is not guaranteed to be set in happens-before order\nacross separate operations. Clients may not set this value. It is\nrepresented in RFC3339 form and is in UTC.\n\nPopulated by the system.\nRead-only.\nNull for lists.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#metadata"
        },
        "deletionGracePeriodSeconds": {
          "type": "integer",
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nNumber of seconds allowed for this object to gracefully terminate before\nit will be removed from the system. Only set when deletionTimestamp is also\nset. May only be shortened. Read-only.",
          "format": "int32"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "(Optional)\n\nMap of string keys and values that can be used to organize and categorize\n(scope and select) objects. May match selectors of replication controllers\nand routes.\nMore info: http://kubernetes.io/docs/user-guide/labels"
        },
        "name": {
          "description": "Name must be unique within a namespace, within a Cloud Run region.\nIs required when creating\nresources, although some resources may allow a client to request the\ngeneration of an appropriate name automatically. Name is primarily intended\nfor creation idempotence and configuration definition. Cannot be updated.\nMore info: http://kubernetes.io/docs/user-guide/identifiers#names\n+optional",
          "type": "string"
        },
        "finalizers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMust be empty before the object is deleted from the registry. Each entry\nis an identifier for the responsible component that will remove the entry\nfrom the list. If the deletionTimestamp of the object is non-nil, entries\nin this list can only be removed.\n+patchStrategy=merge"
        },
        "resourceVersion": {
          "description": "(Optional)\n\nAn opaque value that represents the internal version of this object that\ncan be used by clients to determine when objects have changed. May be used\nfor optimistic concurrency, change detection, and the watch operation on a\nresource or set of resources. Clients must treat these values as opaque and\npassed unmodified back to the server. They may only be valid for a\nparticular resource or set of resources.\n\nPopulated by the system.\nRead-only.\nValue must be treated as opaque by clients and .\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "(Optional)\n\nAnnotations is an unstructured key value map stored with a resource that\nmay be set by external tools to store and retrieve arbitrary metadata. They\nare not queryable and should be preserved when modifying objects. More\ninfo: http://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "generation": {
          "description": "(Optional)\n\nA sequence number representing a specific generation of the desired state.\nPopulated by the system. Read-only.",
          "type": "integer",
          "format": "int32"
        },
        "generateName": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nGenerateName is an optional prefix, used by the server, to generate a\nunique name ONLY IF the Name field has not been provided. If this field is\nused, the name returned to the client will be different than the name\npassed. This value will also be combined with a unique suffix. The provided\nvalue has the same validation rules as the Name field, and may be truncated\nby the length of the suffix required to make the value unique on the\nserver.\n\nIf this field is specified and the generated name exists, the server will\nNOT return a 409 - instead, it will either return 201 Created or 500 with\nReason ServerTimeout indicating a unique name could not be found in the\ntime allotted, and the client should retry (optionally after the time\nindicated in the Retry-After header).\n\nApplied only if Name is not specified.\nMore info:\nhttps://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency\n string generateName = 2;",
          "type": "string"
        }
      },
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all\npersisted resources must have, which includes all objects users must create.",
      "type": "object"
    },
    "TrafficTarget": {
      "properties": {
        "percent": {
          "type": "integer",
          "description": "Percent specifies percent of the traffic to this Revision or Configuration.\nThis defaults to zero if unspecified.\n\nCloud Run currently requires 100 percent for a single ConfigurationName\nTrafficTarget entry.",
          "format": "int32"
        },
        "tag": {
          "type": "string",
          "description": "Tag is optionally used to expose a dedicated url for referencing\nthis target exclusively.\n\nNot currently supported in Cloud Run.\n+optional"
        },
        "latestRevision": {
          "description": "LatestRevision may be optionally provided to indicate that the latest\nready Revision of the Configuration should be used for this traffic\ntarget. When provided LatestRevision must be true if RevisionName is\nempty; it must be false when RevisionName is non-empty.\n\n+optional",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "Output only. URL displays the URL for accessing tagged traffic targets. URL\nis displayed in status, and is disallowed on spec. URL must contain a\nscheme (e.g. http://) and a hostname, but may not contain anything else\n(e.g. basic auth, url path, etc.\n\nNot currently supported in Cloud Run."
        },
        "revisionName": {
          "type": "string",
          "description": "RevisionName of a specific revision to which to send this portion of\ntraffic. This is mutually exclusive with ConfigurationName.\n\nProviding RevisionName in spec is not currently supported by Cloud Run."
        },
        "configurationName": {
          "type": "string",
          "description": "ConfigurationName of a configuration to whose latest revision we will\nsend this portion of traffic. When the \"status.latestReadyRevisionName\"\nof the referenced configuration changes, we will automatically migrate\ntraffic from the prior \"latest ready\" revision to the new one. This field\nis never set in Route's status, only its spec. This is mutually exclusive\nwith RevisionName.\n\nCloud Run currently supports a single ConfigurationName."
        }
      },
      "type": "object",
      "description": "TrafficTarget holds a single entry of the routing table for a Route.",
      "id": "TrafficTarget"
    },
    "ListAuthorizedDomainsResponse": {
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListAuthorizedDomainsResponse",
      "description": "A list of Authorized Domains.",
      "type": "object"
    },
    "VolumeMount": {
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nVolumeMount describes a mounting of a Volume within a container.",
      "properties": {
[...]
